[2022-04-05 21:34] charlesfries commented on #2421
Still hitting this error on 10.6.0 (importing on Ubuntu from Windows export)

[2022-04-05 21:41] yuchenshi commented on #2421
@charlesfries Would you mind providing a bit more details like the logs with `--debug` and what emulators you're using?

Also, it will be great if you can upload a sample export zipball that we can look into. Please make sure it does not contain sensitive information you don't want to share with the public though, or you can reach out privately to Firebase Support.

[2022-04-05 23:39] yuchenshi commented on #4394
Hi, thanks for reaching out! This sounds like a network issue and please make sure you can reach the Firebase servers from your network.

[2022-04-05 23:58] joantune commented on #406
This is ludicrous - we understand and we are grown up enough to just have that file on .gitignore - can you please support this? thanks!

[2022-04-06 01:41] coreform commented on #4322
When attempting to seed the emulators with a production backup with firestore-tools 10.6.0, firestore is populated but there is still no sign of Storage logs or data after: firebase emulators:start --import=../backupFolder/

[2022-04-06 09:04] BrandiATMuhkuh opened #4403 "Functions Emulator Getting `TypeError: Invalid Version:` when updating to anything above `10.2.1`"
### [REQUIRED] Environment info

**firebase-tools:** `10.2.1` -> `10.2.2` or higher

**Platform:** Windows

### [REQUIRED] Test case

### [REQUIRED] Steps to reproduce

I start my emulator using the following `firebase.json` file.

[code]

### [REQUIRED] Expected behavior
When I update my firebase-tools I expect that the emulator still works.

### [REQUIRED] Actual behavior
When I update to anythi

[2022-04-06 13:17] basvandorst opened #4404 "npm audit fix could not fix critical vulnerability because of the shrinkwrap file"
Yesterday we updated some NPM dependencies because of a critical vulnerability in the `minimist`-package.
All packages with `minimist`-dependencies were updated correctly (1.2.5 --> 1.2.6), except `firebase-tools`

[code]

We tried to npm uninstall + install firebase tools, no success
We added `minimist` to the `overrides` section in the `package.json`, no success
[code]

Fix: We manually removed

[2022-04-06 15:26] tonyjhuang commented on #4322
Hi @coreform, can you file a new issue? This seems unrelated to the original comment in this one.

[2022-04-06 15:28] alvinchevolleaux commented on #4322
Can confirm this is working for me now using 10.6.0.

[2022-04-06 16:29] charlesfries commented on #2421
@yuchenshi Sure thing. Here is a reproduction: https://github.com/charlesfries/firebase-tools-repro-2

[code]

[code]

[code]

As stated I'm running the emulators on Ubuntu (GitHub Actions) using a dataset exported from a Windows machine.

Here is the output with `--debug`:

<details>
  <summary>Output</summary>

[code]
</details>

[2022-04-06 16:46] gpfister opened #4408 "Deployment of functions using a secret fails with 10.6.0"
### [REQUIRED] Environment info

**firebase-tools:** 10.6.0

**Platform:** Ubuntu (Bitbucket pipeline)

### [REQUIRED] Test case

Deploy a Cloud Function which requires a secret.

### [REQUIRED] Steps to reproduce

Here's an example of functions:

[code]

Then deploy it:

[code]

### [REQUIRED] Expected behavior

Successful deployment

### [REQUIRED] Actual behavior

The deployment fails with an u

[2022-04-06 16:54] charlesfries commented on #2421
@yuchenshi That is a separate issue. The issue you're referencing is actually a duplicate of another closed issue (#4326) which I also reproduced and observed being fixed via #4358/v10.6.0. Also that issue occurs at runtime, not when data is being imported during the emulator initialization. I think my current issue is more similar to this one, no?

[2022-04-06 17:26] #4346 closed

[2022-04-06 17:26] yuchenshi commented on #2421
@charlesfries There are also two related issues involved in #4326, and see https://github.com/firebase/firebase-tools/issues/4322#issuecomment-1089164309 about the cross-platform part with a response from a team member mentioning they're working on it. I appreciate your patience while we navigate through the matrix of issues.

Please be mindful that this is quite an active discussion thread with a

[2022-04-06 17:46] tohhsinpei commented on #4364
Fixed in #4407

[2022-04-06 17:46] #4364 closed

[2022-04-06 17:46] tohhsinpei commented on #4396
Fixed in #4407

[2022-04-06 17:46] #4396 closed

[2022-04-06 17:48] thesrs02 opened #4410 "Logs not showing without at least one function invocation | Firebase Functions | Emulator | Mac"
### [REQUIRED] Environment info

**firebase-tools:** 10.6.0
**Platform**: MacOS Monterey 12.3
**Environment:** Node v17.8.0

### [REQUIRED] Test case
[code]

### [REQUIRED] Steps to reproduce

1 - Firebase init with functions
2 - Install node-cron
3 - Use the code shared above without un-commenting the function code
4 - Move to functions folder and run `npm run serve`

### [REQUIRED] Expected beha

[2022-04-06 18:24] #4374 closed

[2022-04-06 20:53] #2452 closed

[2022-04-06 23:17] shaunpersad commented on #3953
Wanted to +1 as I'm also encountering the described issues.

[2022-04-07 01:37] marcfrankel opened #4412 "Firebase Functions Emulator Considers 0.0.0.0 An External Network Resource"
### [REQUIRED] Environment info

**firebase-tools:** 10.6.0

**Platform:** macOS

### [REQUIRED] Test case

If your Storage emulator is bound to port 0.0.0.0 and you connect to it

### [REQUIRED] Steps to reproduce

In your Firebase.json file bind the storage emulator to the usual port but to host: "0.0.0.0" instead of "localhost" or "127.0.0.1"

Then perform any storage operation where you reques

[2022-04-07 01:48] coreform opened #4413 "Storage Emulator `Create new folder` not working as advertised"
Not sure where the original issue went...

There is a button that seems to facilitate the creation of a new folder in Storage Emulator however no folder is created.

This poses a problem when working with folders and given that we are left to our own to download Storage objects from a production project, manually upload just so we can download along with a metadata json so as to import into the St

[2022-04-07 14:21] Stf-F opened #4414 "Invalid Refresh token in emulator with Identity Platform"
### [REQUIRED] Environment info

**firebase-tools:** 10.2.0

**Platform:** Mac OS 12.1
 **Firebase SDK version:** 9.6.2
 **Node:** 16.13.1
**npm:** 8.1.2 (via nvm use 16)

### [REQUIRED] Test case

[code]

### [REQUIRED] Steps to reproduce
On localhost, against the Auth emulators:
- In a Firebase project with firebase Auth working, upgrade to Identity Platform
- Generate a sign in link on the serv

[2022-04-07 18:48] yuchenshi commented on #4290
@cedvdb Sorry to hear you're having troubles here. We take tackling these kind of roadblocks seriously and I'll be relaying your feedback to the right team too.

[2022-04-07 19:22] IanWyszynski commented on #4368
Are the rules definitely being set?

Could you try fetching them from the emulator to make sure? Something like:
[code]

I was not able to reproduce this issue using the REST API w/ a local emulator:

[code]

Now getting rid of the index:
[code]

[2022-04-08 05:33] xar opened #4418 "runWith options are not applied after functions deployment"
### [REQUIRED] Environment info

**firebase-tools:** 10.3.0

**Platform:** macOs, Ubuntu

### [REQUIRED] Test case

After updating `runWith` options for cloud function probably without modifying function code and running `firebase deploy --only functions` we don't see updated runtime options in google cloud console. Cloud function which has modified options still shows old configuration of `memory

[2022-04-08 06:31] Alien10123 commented on #4365
That works @yuchenshi . Thanks. Sorry for taking a bit to respond.

[2022-04-08 06:31] #4365 closed

[2022-04-08 15:09] vincekruger commented on #4413
same problem for me

[2022-04-08 16:31] evelant opened #4420 "resource.data is missing data when evaluating firestore rules in emulator"
### [REQUIRED] Environment info

**firebase-tools:** 10.6.0

**Platform:** macOS

### [REQUIRED] Test case

The following function in security rule function will return `true` even when the document in question definitely contains the `userId` field
[code]

### [REQUIRED] Steps to reproduce

Add the above function to a `read` rule. Issue a query from a client for a doc that contains a `userId` fie

[2022-04-08 16:55] chriskodehub opened #4421 "23 vulnerabilities (1 low, 16 moderate, 5 high, 1 critical) after install v10.6.0"
**firebase-tools:** 10.6.0
**node:** 16.14.0
**npm:** 8.3.1

**Platform:** Windows 10 64bit

### [REQUIRED] Test case

Local installation in the project

[code]
next
[code]

Global installation

[code]
next
[code]

next
[code]
next -> reinstallation
[code]

`npm audit fix` do not help

### [REQUIRED] Steps to reproduce

`npm install firebase-tools` - gives 23 vulnerabilities (1 low, 16 moderate, 5

[2022-04-08 17:00] #4322 closed

[2022-04-08 18:38] tomwalsh96 opened #4422 "Firebase Login CLI Issue"
### [REQUIRED] Environment info

**firebase-tools:** 10.6.0

**Platform:** Windows

### [REQUIRED] Steps to reproduce

I had an issue trying to use `firebase init`, it encountered an error trying to find existing projects in the CLI.

I looked for a solution and found suggestions that "when you upgrade firebase-tools, that may invalidate your auth token". The suggestion was to logout and log back

[2022-04-08 20:19] inlined commented on #3919
We will prioritize looking into this soon. There will be a three pronged strategy:

1. Fixing the "invalid source token" problem, which occurs when function deploys take a very long time
2. Looking at tuning the rate limiter to avoid quota errors
3. Improving deploy code so that it can recognize and skip functions that don't need redeployment

Hopefully this will help you all when we can get these

[2022-04-08 21:03] trex-quo commented on #3919
This is encouraging to hear; thank you for the update!

[2022-04-08 22:42] inlined commented on #4408
Thanks for linking this to the likely culprit. We will fix this in our next release, which should come out early next week. As a workaround you can just add a random secret to your project.

[2022-04-08 23:36] gpfister commented on #4408
I'm not sure the workaround suggested works, there's already a secret in my project. Actually, deploying objects that don't require a secret works fine on 10.6.0.

Also I don't quite see the point of cleaning up secret automatically (personnaly I would rather keep this as a side cloud admin activity).

[2022-04-09 09:00] FrancescoBia opened #4426 "firebase-admin Emulator can't find users"
### [REQUIRED] Environment info

**firebase-tools:** 10.6.0

**Platform:** macOS (arm64) - Monterey 12.3

### [REQUIRED] Test case

I'm trying to handle the users via firebase-admin connected to the emulator. However, it seems like firebase-admin cannot find the users available in the emulator and visible via the emulator UI (the one at localhost:4000). Conversely, when a user is created via fireb

[2022-04-09 10:25] zanona commented on #1409
It would be great if you could allow the `$schema` field on the JSON, so we could do this:

firebase.json
[code]

similar to what [turborepo does](https://turborepo.org/docs/reference/configuration#globaldependencies), as it's great for validation.

[2022-04-09 21:59] billylo1 commented on #2837
To confirm:  are you using firebase-tools 10.2+?

[2022-04-09 23:13] tomwalsh96 commented on #4422
**Update**

After a new day of being stumped, I found that I could run `firebase login --no-localhost`

I was able to complete the login process through this command.

Maybe the issue has something to do with my browser? I'm using Chrome `Version 99.0.4844.74 (Official Build) (64-bit)`

Hope this helps in some way

[2022-04-10 00:08] tomwalsh96 commented on #4422
**Update**

I now have a new error when running `firebase init`, identical to #4254 which still does not seem to be fixed.

As per the suggestion in that thread, I reverted to `10.1.5`, still no luck. I can't even log in at all now.

[2022-04-10 07:04] WeiLingQiang commented on #3930
[firebase-debug.log](https://github.com/firebase/firebase-tools/files/8458458/firebase-debug.log)
I had the exact same problem

[2022-04-10 08:58] typenoob commented on #155
Move the proxy tool to the router,and it immediately worked.So can we build a local proxy software with the same princinple the router's use?

[2022-04-10 09:05] WeiLingQiang commented on #4015
i got the same issuse,do you fixed it?

[2022-04-10 14:03] jonadeline commented on #2837
same issue here, running firebase-tools 10.2+

[2022-04-10 16:42] idudinov commented on #2633
for someone like me who suddenly started to experience such problem: in my case today it was just because of network configuration – my laptop connected to a WiFi extender which I assume somehow changes network topology or something like that.

I just disconnected from WiFi, started emulators using 0.0.0.0 as host for firestore (that took a bit longer initialize than usual), and then re-connected

[2022-04-10 23:23] blikblum commented on #3871
This is not an option going forward given that next firebase-tools versions will require java 11 or superior

Same here with windows 10, java 17 and firebase tools 10.6.0

The windows is from firestore and has the following output
[code]

[2022-04-11 08:37] DKorosec commented on #3871
Then go for Open JDK 17, I'm using it and it works fine (https://adoptium.net/?variant=openjdk17).

[2022-04-11 20:06] joehan commented on #4336
@AndreasJJ Would you be able to provide a repro for that BufferOverflowException? This would help the Firestore team identify what's going wrong here.

Additionally, are you using a Mac with Intel chips or an M1 Mac?

[2022-04-11 20:10] joehan commented on #4015
This looks like a duplicate of #3930 - I'm going to close this and we can continue discussion there.

[2022-04-11 20:10] #4015 closed

[2022-04-11 20:17] jhuleatt commented on #4422
Idea: looks like the CLI is breaking when it tries to open a browser window. A stopgap solution could be to:

1. Print the sign-in URL before trying to spawn the browser (it does get printed usually, but looks like it crashed before it was able to)
2. try-catch the spawn command so the CLI doesn't crash

[2022-04-11 20:19] joehan commented on #4421
Hey @chriskodehub - thanks for raising this. As an immediate response, we've fixed the critical severity vulnerability (https://github.com/firebase/firebase-tools/pull/4390). I'll take a further look to see if I can fix any of these other vulnerabilities.

[2022-04-11 20:23] joehan commented on #4420
Hey @evelant - could you provide some sample documents where this rule misbehaves? We have a good guess as to what is causing this, but having a concrete example would be very helpful

[2022-04-11 20:26] joehan commented on #4413
Hey @coreform - looks like this is a duplicate of https://github.com/firebase/firebase-tools-ui/issues/738. Since the underlying issue is in that repo, I'm going to close this and continue discussion over there.

[2022-04-11 20:26] #4413 closed

[2022-04-11 20:28] joehan commented on #4418
Hey @xar, could you update to the latest version of firebase-tools and try this again? We recently caught and fixed a bug that caused a similar problem to what you are experiencing here.

[2022-04-11 20:32] joehan commented on #4412
Hey @marcfrankel, thanks for reporting this (and providing a code point!).  I'll make a PR to fix this shortly.

[2022-04-11 20:52] inlined commented on #4408
This issue should be fixed. If the secret is created with `gcloud` or the Cloud Console then Firebase should not clean up versions for you. We check for the `firebase-managed` label.

[2022-04-11 21:26] AndreasJJ commented on #4336
@joehan

I am using a Intel chip Mac.

So i tried to create a new repo for repro, where i simply copied the entire firebase folder into the new repo. In addition to changing the project id to a new project (as i didnt want my original project id to be shown in a public repo). However trying to edit the dataset in the new repo (which should have the exact same state as the one throwing the BufferOv

[2022-04-11 21:56] jakeleventhal commented on #4336
@joehan @yuchenshi i am using m1 mac

[2022-04-12 16:45] FrancescoBia commented on #4426
Found the solution from an old issue.
`projectId` needs to be configured to the actual project id for the emulator too, despite what the documentation says ([link](https://firebase.google.com/docs/emulator-suite/connect_auth#admin_sdks)). It should be updated to inform about this issue.

[2022-04-13 00:35] yuchenshi commented on #4414
Looks like the token refresh endpoint isn't tenant ID aware (yet). @lisajian for further triaging.

[2022-04-13 00:38] yuchenshi commented on #3930
Hi, thanks for filing this issue! We are unable to promise any timeline for this, but if others also have this issue, adding a +1 on this issue can help us prioritize adding this to the roadmap.

(Googler-only internal tracking bug: b/229028745)

[2022-04-13 07:02] mxcrtgn opened #4438 ""Firebase Hosting Setup Complete" after deploy - firebase.json firebaserc files not created in project root in VSCode"
### [REQUIRED] Environment info

Version : 10.6.0

**firebase-tools:**
Hosting

**Platform:**
macOS + VS Code + React

### [REQUIRED] Test case

- Installing Firebase
- Init Firebase
- Deploy firebase

### [REQUIRED] Steps to reproduce

- Installing Firebase
- Init Firebase
- Deploy firebase

### [REQUIRED] Expected behavior
landing on my project :)

### [REQUIRED] Actual behavior

Deploy is a suc

[2022-04-13 09:14] svenjacobs commented on #2379
I'm having the same timeout issue with Node 17. In case you are using [Volta](https://volta.sh) for managing your Node versions, you can use the `volta` command for running `firebase` with a specific Node version, for example:

[code]

[2022-04-13 11:40] chriskodehub commented on #4421
Hey @joehan, thank you for the answer.

1. The most disturbing thing is that after running `npm install -g firebase-tools` after installation, there is information about vulnerabilities. There is also information to run the `npm audit fix` to fix it. After executing the last command, the message suggests that all problems have been resolved, which is not valid.
2. Developer who has already install

[2022-04-13 19:06] #4057 closed

[2022-04-13 19:06] jamesdaniels commented on #4057
Addressed in #4391

[2022-04-13 20:32] Stf-F commented on #4414
@yuchenshi, please also note that tenanted users created in localhost do not appear in the 'Authentication' tab of the emulator. Yet, they do exist and are successfully created as a [getUserByEmail()](https://cloud.google.com/identity-platform/docs/multi-tenancy-managing-tenants#getting_a_user) would successfully fetch them. Let me know, I am happy to file another bug report for this related issue

[2022-04-13 21:19] yuchenshi commented on #4414
@Stf-F The Emulator UI does not support multi-tenancy at this moment. We'll let you know if / when support is added.

[2022-04-13 21:42] trex-quo commented on #4382
I have had this issue repeatedly as well and cannot upgrade my package to 10.2 or above.

[2022-04-14 03:25] github0013 commented on #1908
Using v9 `connectFirestoreEmulator`, it is really not possible to use HTTPS since `ssl` is set to false.

https://github.com/firebase/firebase-js-sdk/blob/1cf124e6ef0c7f921bea018cd638ea17dcfaa991/packages/firestore/src/lite-api/database.ts#L252

[2022-04-14 06:25] dereekb commented on #758
Ran into this yesterday. I ended up using [entr](http://eradman.com/entrproject/) to reload my emulators since Nx was building the dist out to a different folder so I couldn't use tsc-watch.

[code]

On another note, the emulators do automatically reload the rules. I spent some time getting entr to reload on rules file changes too, only to realize that the emulator reloads them properly.

[2022-04-14 06:30] dereekb commented on #4426
From what I understand and have seen, the projectIds can be anything, however they get their own context, rather than having a shared context.

What I imagine was happening was you were creating it in one context and trying to read from another.

[2022-04-14 16:58] yuchenshi commented on #2633
Hi all, thanks for your continued input to this dated thread. I'm a bit late to the party, but let me try to distill some of the issues mentioned here.

1: We've fixed an issue that prevented Emulator UI from accessing emulators listening on `0.0.0.0` a while ago: https://github.com/firebase/firebase-tools-ui/issues/286 (please see the issue description for a detailed description of why `0.0.0.0`

[2022-04-14 17:05] davidnussio commented on #4413
create folder stop working from firebase-tools@10.3.0
with firebase-tools@10.2.2 create folder is working

[2022-04-14 18:31] xr0master opened #4445 "incredibly huge package size (687MB)"
Hi. The package size is greater than the size of all other packages in the sum for each project.

### [REQUIRED] Environment info

**firebase-tools:**
10.6.0

**Platform:**
macOS

### [REQUIRED] Test case

`du -sh node_modules/* | sort -hr`

<img width="567" alt="Screen Shot 2022-04-14 at 9 22 03 PM" src="https://user-images.githubusercontent.com/8962340/163453944-b8493c46-f71e-48a4-97ef-d52901c00

[2022-04-14 19:41] ivoelbert opened #4446 "Firebase app connected to Firestore emulator gets strange/inconsistent results"
### [REQUIRED] Environment info

**Platform:** macOS

### backend
**firebase-tools:** 10.6.0
**firebase-admin:** 9.12.0

### frontend:
**firebase:** 8.10.1

### [REQUIRED] Test case

It's hard to make a test case cause I'm getting different results across different computers.

Currently we're running functions, auth, and Firestore emulators, and those seem to be working fine. If we call an emulate

[2022-04-16 13:47] maxcorrads commented on #3979
Is there any update on this?

[2022-04-17 20:00] FranRiadigos opened #4453 "[Off-topic] How do you print such a nice command-line interface?"
Hi,

I'm just curious about what do you guys use to print such a nice command-line interface with spinners, selectors, colours, etc.

Is it all manual scripting, or do you use any package or some sort of a JS extension that outputs to the command line?

Thanks.

[2022-04-17 20:21] AsadMir10 commented on #2295
Maybe this will do the trick but Cloud Build Api requires a billing account which a also a pain

[2022-04-17 23:45] tosh commented on #4159
I think I ran into this issue when trying to use firebase cli from within Github Codespaces

[2022-04-18 09:11] leonardoraele opened #4454 "Realtime Database Emulator crashes with "An unexpected error has occurred." error"
## Environment

**Operation System:**
[code]

Windows: (Host)
[code]

**Browser version:** N/A

**Firebase version:**
[code]

**Java:**
[code]

**Firebase Product:** emulators + database

## Problem
Realtime Database Emulator crashes with the error below whenever I make a change to the rules file if there is any error in the json (which always happen as soon as I start typing, unless I paste an al

[2022-04-18 11:17] prakashkgsuk commented on #4159
I was able to resolve this by adding google cloud as authentication medium in Firebase app from firebase console.

[2022-04-18 20:07] yuchenshi commented on #4454
Please try running the emulators again with `firebase emulators:start --debug` and keep it open, change the rules, until you've hit the `Change detected` situation. Are there any additional logs before and after that error?

[2022-04-18 20:08] yuchenshi commented on #4453
The Firebase CLI is open source so please take a look yourself: https://github.com/firebase/firebase-tools/blob/master/package.json

We use many differnet npm packages like `ora` for spinners, etc. You can also find other packages and their usages in this repo.

[2022-04-18 20:08] #4453 closed

[2022-04-18 20:08] yuchenshi commented on #4453
Thanks for the compliment though

[2022-04-18 20:11] yuchenshi commented on #4445
Have you tried `npm install firebase-tools --only=prod`? That will exclude the dev dependencies.

[2022-04-18 20:22] yuchenshi commented on #4438
I looks like you've ran the command from your home directory. Please `cd` to your project directory before `firebase init` again, and this time you should find the config files in there.

[2022-04-18 20:22] #4438 closed

[2022-04-18 20:24] mbleigh commented on #4159
I'm not able to reproduce this myself - I was able to successfully generate a CI token and use it to issue commands. Anyone experiencing this issue, please provide logs from running the command with `--debug`, especially the lines referencing auth:

[code]

For `GOOGLE_APPLICATION_CREDENTIALS` there should be no change in recent releases. It sounds like you found a workaorund.

[2022-04-18 20:33] yuchenshi commented on #4386
That sounds very reasonable. Unfortunately, we don't have much control over proxy env var behaviors since it is inside the request library we use. I think a good starting point is for the CLI to print a warning when `http_proxy` etc. is set. We're open for Pull Requests.

[2022-04-18 20:43] bkendall commented on #4421
I understand that the audit message when installing `firebase-tools` is confusing, but unfortunately it's not something we have control over. That message is useful for developers, but especially when installing the CLI globally, the end user of the CLI may not have the ability to fix it. To this end, `npm` actually [has an issue](https://github.com/npm/cli/issues/4318) discussing this very behavi

[2022-04-18 20:43] #4421 closed

[2022-04-18 20:49] bkendall commented on #4422
To help me debug, how did you install the CLI on your Windows machine, and in what terminal are you using it?

[2022-04-18 20:50] xr0master commented on #4445
@yuchenshi the `--only=prod` will exclude all dev dependencies of the project.

[2022-04-18 20:54] bkendall commented on #4445
That's what `npm install` _should_ be doing anyway. It's because of the shrinkwrap file (I think) that it's installing the dev dependencies as well. To _use_ the CLI (or the CLI as a module), the dev dependencies aren't required in the slightest.

npm actually has [an open issue discussing this](https://github.com/npm/npm/issues/17185), though it's not exactly active. Maybe worth someone from our

[2022-04-18 20:54] bkendall commented on #4445
(but, unfortunately, outside some really, really hacky stuff on our end, this is really an npm issue)

[2022-04-18 21:00] bkendall commented on #4445
https://github.com/npm/cli/issues/4323 is the issue I should have linked. That's the one with actual activity.

[2022-04-19 01:00] #4394 closed

[2022-04-19 07:32] gpfister commented on #4159
Hi, related to my original bug report, I don't know if I were too tired that day or if it was fix lately, but I was able to generate a CI token using the command `firebase login:ci --no-localhost`. I have the latest `firebase-tools`, versison 10.6.0, running on macOS 10.5 (arm64).

[2022-04-19 07:32] #4159 closed

[2022-04-19 08:12] ruhaifie commented on #4254
hello, I'm in bandwagon when it comes to this problem: [firebase init firestore not work with existing project]
I'm using firebase CLI version 10.6.0

but somehow I manage to deal with it, here's  my solution/timeline:
1. I install using firebase login --no-localhost because encounter problems with firebase login
2. encountered with errors: cannot install firestore but hosting part can.
3. try to

[2022-04-19 08:14] ruhaifie commented on #4422
hello, I'm in bandwagon when it comes to this problem: [firebase init firestore not work with existing project]
I'm using firebase CLI version 10.6.0

but somehow I manage to deal with it, here's my solution/timeline:

I install using firebase login --no-localhost because encounter problems with firebase login
encountered with errors: cannot install firestore but hosting part can.
try to reset dat

[2022-04-19 10:01] albertogeniola opened #4456 "Firebase non-interactive hosting deploy not fetching GOOGLE_APPLICATION_CREDENTIALS"
### [REQUIRED] Environment info

**firebase-tools: 10.6.0**

**Platform: Linux**

### [REQUIRED] Test case

1. Create a GCP project (let it be my-gcp-test-project)
2. Create a GCP service account with OWNER credentials on the project
3. Create a Service Account key for that project
4. Download the service account key on the local disk (let it be sa.json)
5. Run firebase deploy command using that s

[2022-04-19 18:47] #4336 closed

[2022-04-20 08:27] soth4 commented on #4159
Cool

[2022-04-20 10:15] floriangbh commented on #3676
Same issue.. Cannot deploy with optional chaining..

[code]

[2022-04-20 10:17] floriangbh commented on #3244
Same issue with Node 16..
https://github.com/firebase/firebase-tools/issues/3676#issuecomment-1103762659

[2022-04-20 14:36] fgruchala opened #4459 "All secrets managed by firebase are pruned when I set a new version of one"
### [REQUIRED] Environment info

**firebase-tools:** 10.7.0

**Platform:** Ubuntu & macOS

### [REQUIRED] Test case

`firebase functions:secrets:set SECRET_NAME`

This SECRET_NAME has to be labeled `firebase-managed: true` and used in a Cloud Function.

### [REQUIRED] Steps to reproduce

![Capture d’écran 2022-04-20 à 16 22 02](https://user-images.githubusercontent.com/12196721/164255091-91af4f6

[2022-04-20 17:28] mbleigh commented on #4456
Can you please provide logs from the command with `--debug`? It should print out where it is discovering credentials.

[2022-04-20 18:08] mbleigh commented on #4422
Hi, can folks on this thread with `--no-localhost` issues try `firebase login --no-localhost --reauth` and see if things are different? We have fixed a bug where an OAuth scope required by certain commands was not included in the updated flow released in February.

[2022-04-21 10:04] countzyx opened #4465 "When deploying cloud function with 10.7.0, getting HTTP Error: 400, Invalid JSON payload received. Unknown name "skipLog": Cannot find field."
### [REQUIRED] Environment info

**firebase-tools:** 10.7.0

**Platform:** macOS 12.3.1 arm64

### [REQUIRED] Test case

1. De-comment the Hello World cloud function code in index.ts.
2. Deploy the cloud function

### [REQUIRED] Steps to reproduce

`firebase deploy --only functions`

### [REQUIRED] Expected behavior

Something like this -
[code]

### [REQUIRED] Actual behavior

[code]

I noticed t

[2022-04-21 13:32] xar commented on #4418
Sorry for late update on the issue - I have tried to run with latest version of `firebase-tools - 10.7.0` but without success. Specifically I have updated `runWith` of function to `.runWith({ memory: '2GB'. minInstances: 1 })` - this got updated correctly and I can see updated options in gcloud console. But when I change runWith back to `.runWith({})` function doesn't get updated...

[2022-04-21 16:33] colerogers commented on #4465
Hi @countzyx thanks for opening your first issue here! To figure out what's going on, can I ask you to re-run the deploy command with the debug flag and paste the output here?

`firebase deploy --only functions --debug`

Thanks!

[2022-04-21 20:03] #4465 closed

[2022-04-21 20:50] jhuleatt commented on #4465
Thanks for reporting this, @countzyx! This is fixed in CLI version [`10.7.1`](https://github.com/firebase/firebase-tools/releases/tag/v10.7.1)

[2022-04-21 22:34] Menar5276 commented on #2850
In my case i have the domain  added and got the same error

[2022-04-21 23:46] lisajian commented on #4414
Nice find and thanks for raising this issue @Stf-F! Working on making the token refresh endpoint tenant ID aware and will update with the changes shortly

[2022-04-22 00:50] starleaf1 commented on #3550
I'm having the same issue.

[2022-04-22 01:00] #4367 closed

[2022-04-22 03:29] leonardoraele commented on #4454
@yuchenshi

This is the entire cli output when the emulator is started (tried on a new project), following the same steps as I described previously:
[code]
[code]

Then, after I change `database.rules.json`:
- Before
[code]

- After
[code]

- Emulator output:
[code]

At this point, the emulator stops with exit code 2:
[code]

But I think the database is still running in the background because port

[2022-04-22 06:32] scadasystems commented on #4413
You can create a folder by editing the address before uploading the file.

[2022-04-22 06:56] AstrocodeX commented on #4422
I get an "Authorization Error"

Error 400: invalid_request
"_The version of the app you're using doesn't include the latest security features to keep you protected. Please make sure to download from a trusted source and update to the latest, most secure version._"

"firebase-tools": "^10.7.1",

[2022-04-22 11:28] algoflows commented on #536
Anyone used es-build to bundle and speed up function deployments?

[2022-04-22 11:31] riordanpawley commented on #536
I'm currently doing that. It seems to have slowed down deployments though haha

[2022-04-22 18:47] ai opened #4468 "Security issue in `firebase-tools` dependencies"
### [REQUIRED] Environment info

**firebase-tools:** 10.7.1

**Platform:** Fedora 35

### [REQUIRED] Test case

[code]

### [REQUIRED] Steps to reproduce

Run these 3 commands

### [REQUIRED] Expected behavior

No security reports

### [REQUIRED] Actual behavior

[code]

Could be related to https://github.com/firebase/firebase-tools/issues/4445

[2022-04-23 01:05] MorenoMdz commented on #4203
Had the same issue, which in our case was caused by Prod backups we had in the local export folder we use. Removing that data fixed the deploy payload size issue.

[2022-04-23 04:21] DrunkenBeetle commented on #701
Extending on what @taylorhoward92 mentioned before AND if you don't want to install//use `npm-run-all`, you can get away with it by running `emulators:exec ./runit`, where `runit` is a bash script for running `tsc -w`

[2022-04-23 04:47] starleaf1 opened #4470 "ENAMETOOLONG when uploading to Storage Emulator"
### [REQUIRED] Environment info

**firebase-tools:**
10.7.1

**Platform:**
Ubuntu 20.04.4

### [REQUIRED] Test case

I have a React app set to run on Firebase Storage Emulator. I tried uploading to Storage and an error occurred. Debug log reveals that it's an `ENAMETOOLONG` error.

### [REQUIRED] Steps to reproduce

  1. Create a Firebase web project
  2. Set up Storage emulator and hook-up the ap

[2022-04-23 13:32] blakgeek opened #4471 "Add support for disabling output formatting by upgrading the cli-color dependency."
We use firebase tools in our Jenkins pipelines and formatting makes it hard to read the output.  The next version of cli-color 1.41.0 adds support for disabling formatting using the env variable NO_COLOR.

Please upgrade the dependency.

[2022-04-23 13:49] Drew-Daniels commented on #3092
I have been having the same issue on Windows 10 (Firebase Tools version 10.7.1). It happens regardless of if the emulator has been running for a long time or just a minute or two, and when the amount of data is minimal (i.e., one collection with one document with one field). I try exporting emulator data to a local folder directory named `data` but when I shut down I get the following exported to

[2022-04-23 18:53] mdesoto commented on #3093
Can confirm that this is still an issue.

[2022-04-24 00:45] alex-drocks commented on #2853
I also could not update firebase-tools with npm i -g firebase-tools.

Seems like nvm is the cause. I was stuck on an old version of firebase-tools no matter if I was using the npm i -g command.
I uninstalled my nvm node.js version out of curiosity and it also cleaned my global node_modules where the outdated firebase cli was stored. Now it's working.

[2022-04-24 14:50] WolfgangSenff commented on #3329
This is actually a pretty big issue for us on the GodotNuts team, as it requires we put in a pretty big hack to do an unfortunate back-reference to Firebase in our server-sent-events implementation, which otherwise has no reference to Firebase. It would be really helpful to us if this could get prioritized and fixed.

[2022-04-24 23:12] dgpc opened #4473 "Firestore emulator v1.14.1 regression: Unknown error returned on transaction.GetAll with an empty list of refs"
### [REQUIRED] Environment info

**firebase-tools:**

firebase-tools 10.7.1 / emulator v1.14.3 fails
firebase-tools 10.5.0 / emulator v1.14.1 fails

firebase-tools 10.4.2 / emulator v1.13.1 passes

**Platform:**

Verified on both macOS and Debian Linux

### [REQUIRED] Test case

[code]

### [REQUIRED] Steps to reproduce

[code]

### [REQUIRED] Expected behavior

Under firestore emulator v1.13.1  c

[2022-04-25 14:47] ebellumat commented on #1431
This ticket still open in 2022?

[2022-04-25 16:44] Stf-F commented on #3550
Me too.

[2022-04-25 17:42] inlined commented on #4361
See https://github.com/firebase/firebase-functions/issues/1084 for our plans around this area.

[2022-04-25 19:35] theLee3 commented on #3550
@starleaf1 @Stf-F Please ensure you are running the latest version of firebase-tools. I have tested on version 10.7.1 with no issue. You can upgrade with the following command: `npm install -g firebase-tools`

[2022-04-25 20:05] joehan commented on #1431
@ebellumat We've never been able to repro this issue, and it seems very out of date at this point. Closing - feel free to open a new issue if you are facing something similar.

[2022-04-25 20:05] #1431 closed

[2022-04-25 20:07] joehan commented on #4473
@yuchenshi I think you aren;t the right person for this but probably know who is. Could you pass this along to the firestore team?

[2022-04-25 20:09] joehan commented on #3329
@yuchenshi could you take a look at this and triage it to the right team?

[2022-04-25 20:14] joehan commented on #4470
@tohhsinpei Could you take a look at this issue? I see that you've handled some Storage Emulator issues in the past. If you're the wrong person, could you reasssign?

[2022-04-25 20:16] joehan commented on #4203
Hey all, I'm going to close this since the error message is now more clear, and we don't have control over the max cloud functions upload size. If you run into this issue, please double check that you are not including anything unnecessary in the deployment

[2022-04-25 20:16] #4203 closed

[2022-04-25 20:23] joehan commented on #4418
@inlined Could you take a look at this? IIRC, we intentionally tried to handle this case correctly and it seems like it may have regressed.

[2022-04-25 20:26] joehan commented on #3676
@taeold Could you take another look at this when you have a chance? It seems like some folks are seeing this on Node 16 now too.

[2022-04-25 20:52] bkendall commented on #4254
We had to make an adjustment to the `--no-localhost` flow in the past week which should have addressed this issue. If you could give `--no-localhost` a try again, that'd be great. If there's more issues, please comment or open a new issue.

[2022-04-25 20:52] #4254 closed

[2022-04-25 20:53] bkendall commented on #4468
This comes up from `superstatic`, and it's not a quick fix, but thanks for raising. The dependency is in the CLI portion of superstatic, so it's not something the CLI uses.

https://github.com/firebase/superstatic/issues/302

[2022-04-25 21:03] KingTochi commented on #2927
Hey guys, what worked for me was simply updating my firebase tools cli

1. Close the terminal

2. Open it up again and run npm i -g firebase-tools

It should start working after that else reboot your wifi or source of internet connection, reconnect and try again. happy coding. !giveup

[2022-04-25 22:05] lavdrimb commented on #3404
I have the same problem a single funcion deploy with only console.log hello world cost me 408MB bandwith I m scared to continue. I have:
  "firebase-admin": "^10.0.2",
    "firebase-functions": "^3.18.0"
  "node": "16"

[2022-04-25 22:20] lavdrimb commented on #3978
I have the same issue a single funcion deploy with only console.log hello world cost me 408MB bandwith I m scared to continue.
Also before 2 days i had a bill 5.98$ only for deploying hello world function 4 or 5 times i had like 8.96 gb bandwith thats not normal why should use Container Registry Vulnerability Scanning ? All the billing was generated from this service imagine for the hello world co

[2022-04-26 00:41] inlined commented on #4418
`.runWith({})` does nothing. We only reset values that are explicitly set to `undefined`. For better or worse, this is to preserve changes made out of band in the Google Cloud console. So if you said:

[code]

[2022-04-26 00:50] #4418 closed

[2022-04-26 02:06] starleaf1 commented on #4470
I included the wrong log
[firebase-debug.log](https://github.com/firebase/firebase-tools/files/8559159/firebase-debug.log)
.

[2022-04-26 05:52] inlined commented on #3404
For better or worse this is working as designed. Cloud Functions uses Cloud Build which stores your images in Google Container Repository (soon to be Artifact Registry). All of that happens in your project and it required a full Ubuntu image to be stored.

[2022-04-26 05:54] inlined commented on #3694
I believe there was a major bug, which I hope to fix in #4477 that will fix polynomial growth in API calls in proportion to the number of functions being deployed. The next build should hopefully reduce your build times dramatically.

[2022-04-26 11:58] russellwheatley commented on #4368
@IanWyszynski, I apologise for the late response. I think you're right. I have these rules set:

[code]

But once I call `curl http://localhost:9000/.settings/rules.json\?access_token\=1234 `, I get these rules back:
[code]

I'm calling ` firebase emulators:start --only database` from [here](https://github.com/firebase/flutterfire/blob/master/.github/workflows/scripts) which has the RTDB rules ref

[2022-04-26 13:09] amfc commented on #4426
How should projectId be configured? I haven't been able to make it work for auth.

I have it as:

* an environment variable: export GCLOUD_PROJECT=example on the shell that opens the emulators

* a configuration option in firebase.initializeApp when initializing the javascript client library:

      firebase.initializeApp({
        apiKey: "example",
        projectId: "example",
        storageBu

[2022-04-26 14:03] russellwheatley commented on #4368
I've just realised that you're setting your rules using a curl PUT request which is why there might be a discrepancy? I'm using the `database-rules.json` file which might be why you were unable to reproduce 🤔

[2022-04-26 14:42] joaoggnogueira commented on #2837
Same issue here, running firebase-tools 10.2.2

[2022-04-26 16:26] bkendall commented on #4221
This will be fixed by #4481 when we release the new breaking version of the CLI. That won't be for a little bit, but Soon(tm)

[2022-04-26 16:26] #4221 closed

[2022-04-26 18:36] smonroe4242 opened #4482 "Fireabse-tools@9.23.3 unable to be installed within the last hour"
### [REQUIRED] Environment info

Attempting to install the 9.23.3

**firebase-tools:**

**Platform:**

### [REQUIRED] Test case

npm install firebase-tools@9.23.3

### [REQUIRED] Steps to reproduce

npm install firebase-tools@9.23.3
### [REQUIRED] Expected behavior

Should install
### [REQUIRED] Actual behavior
npm ERR! 404 Not Found - GET https://registry.npmjs.org/@google-cloud/pubsub/-/pubsub-2

[2022-04-26 18:49] barmmie commented on #4482
Issue reported here.
https://github.com/googleapis/nodejs-pubsub/issues/1539

[2022-04-26 18:52] smonroe4242 commented on #4482
Issue reported to a more relevant repo, closing this one.

[2022-04-26 18:52] #4482 closed

[2022-04-26 20:22] lucasbarrosomk6 commented on #2336
I am having a similar issue whenever I run firebase commands. you say "delete the folder referenced (above)" but you mention a file. What folder needs to be deleted?

[2022-04-26 22:12] bkendall commented on #4404
Happy to say that we've updated superstatic and now all of these should be taken care of!

[code]

[2022-04-26 22:12] #4404 closed

[2022-04-26 23:28] lisajian commented on #2850
This is a known issue in the v8 SDK, but should be solved in v9 - would you mind trying to update and see if you are still getting the error? Thanks!

[2022-04-26 23:35] LanderBeeuwsaert commented on #2850
Hi @lisajian , for me this issue can be closed, but I can't speak for the others who have asked the same question.

[2022-04-26 23:45] lisajian commented on #2850
Got it, thanks! Since this is resolved in v9, I'll close this issue.

[2022-04-26 23:45] #2850 closed

[2022-04-27 08:40] haines commented on #4445
Perhaps it would be possible to have a `prepublishOnly` script that strips the `dev` dependencies from npm-shrinkwrap.json as a workaround?

[2022-04-27 09:48] characterx commented on #3930
Hi, I had a similar issue and while randomly trying things I ran the Firebase CLI as administrator and things started to work. Maybe the results just correlated but I think it worths trying. Maybe the problem occurs because your files are in D:\ but since I cannot reproduce my error I cannot be sure.

[2022-04-27 10:35] Thaina commented on #1928
I am fine just getting warning page that could just press advance > visit. I just want to

`local-web-server` package is allow that kind of https and I don't have any problem about that. It's more of a problem to not allow serving https when many feature of html rely on it

[2022-04-27 11:06] ai commented on #4445
@haines for my projects (PostCSS, Browserslist) I use [`clean-publish`](https://github.com/shashkovdanil/clean-publish) to cut development configs during the release.

[2022-04-27 11:34] quantuminformation commented on #2409
just came across this after shutting down the emulators and restarting

[2022-04-27 11:36] tomwalsh96 commented on #4422
I installed using `npm install -g firebase-tools`.

For the terminal, I'm using PowerShell, both standalone and through VSCode it fails.

[2022-04-27 11:59] tomwalsh96 commented on #4422
Ah brilliant this seems to have worked, thanks!

`firebase login` still fails but I can use this as a workaround for now.

[2022-04-27 12:21] mikehardy commented on #4368
:wave: I work with @russellwheatley (they are doing mostly Flutter bindings for Firebase, I'm doing mostly react-native bindings for Firebase) and I have seen the same thing. It appears the rules.json is not picked up and I have to manually set them, I put a workaround in like so

https://github.com/invertase/react-native-firebase/blob/0fd4b4fc65467c4342442b22afb20a7f8cff0ada/packages/database/e2e

[2022-04-27 16:38] bkendall commented on #4422
I had tried installing the latest firebase-tools in powershell yesterday, but didn't have any luck. Since `--no-localhost` (and `--reauth`) worked for you, I think that's the best path forward. It's likely something's failing when it tries to open the browser from powershell, but without being able to reproduce it, there's not much I can to.

Glad you're back up and running though!

[2022-04-27 16:38] #4422 closed

[2022-04-27 16:39] joehan commented on #4471
Done! We also love PRs - in the future, feel free to cut out the middleman and just make a PR 😄

[2022-04-27 16:47] tomwalsh96 commented on #4422
Thanks, I also tried running `firebase login` from CMD but got the same issue so I would guess not a PowerShell problem.

[2022-04-27 17:04] #4471 closed

[2022-04-27 17:47] yuchenshi commented on #3093
Hi all, thanks for the input. It is now clear that the problem is with the Firebase Auth emulator and I'll track this as a bug. PRs welcome too. (Previously, I got a bit confused and did not triage this in time since OP mentions "firestore" but this has nothing to do with Firestore. My apologies.)

[2022-04-27 17:56] yuchenshi commented on #4438
@fis48 This may be related to your exact folder structure, and I think Firebase Support will be able to assist you a bit better here: https://firebase.google.com/support

[2022-04-27 18:05] fredzqm commented on #3329
Will take a look soon.

[2022-04-27 19:01] #4414 closed

[2022-04-27 20:13] #4454 closed

[2022-04-27 22:18] #3093 closed

[2022-04-27 22:41] fis48 commented on #4438
Hi Yushen,

Thanks for your answer.
Maybe you can help me with another issue, I'm trying to update my google
account to Workspace but I can't make the payment because the transaction
is rejected... at my bank they say everything is ok and the card I'm using
is the same card which I use to pay with no problem other Google services I
use.
Bye,

El mié, 27 abr 2022 a las 12:56, Yuchen Shi ***@***.***

[2022-04-28 13:13] grundius commented on #4109
I am having a similar issue although I do not see the error. Using `firebase-admin@10.1.0` and `firebase-tools@10.7.1`.

To reproduce:
1. A top-level collection `monkeys` with documents that contain a field `banana` which contains a reference to the `bananas` top-level collection.
2. Query:
[code]

On the emulator, this code returns an empty snapshot. Same query for the same data on the live Fires

[2022-04-28 13:37] grundius commented on #4109
I am having a similar issue although I do not see the error. Using `firebase-admin@10.1.0` and `firebase-tools@10.7.1`.

To reproduce:
1. Start the Firebase emulator with Firestore support
2. Create a top-level collection `monkeys` with documents that contain a field `banana` which contains a reference to the `bananas` top-level collection (create this one as well) and a boolean `active` field.
3.

[2022-04-28 21:13] #4403 closed

[2022-04-28 21:26] yuchenshi commented on #4426
Hi all, we've updated the documentation to clarify this. On the Admin SDK side, the section now suggests matching project IDs: https://firebase.google.com/docs/emulator-suite/connect_auth#admin_sdks

@amfc The Emulator UI follows [the Project ID given to the Firebase CLI](https://firebase.google.com/docs/emulator-suite/connect_auth#choose_a_firebase_project). In other words, `firebase emulators:st

[2022-04-28 21:26] #4426 closed

[2022-04-28 21:39] #3329 closed

[2022-04-29 14:37] soth4 opened #4502 "website/exchange.git - exchange.enlightenment.org website"
https://git.enlightenment.org/website/exchange.git/commit/?id=642d39b33cf643c99a2c7e27a5df68d6cd4dbc57

[2022-04-29 15:28] philonor commented on #4399
We can reproduce this issue with `firebase --version` `10.6.0` (`firebase-tools@10.7.2`).

Workaround is to always delete all cloud functions and redeploy them.

If they exist and we try to deploy them, the mentioned error arises:

[2022-04-29 15:34] #4502 closed, assigned to nobody

[2022-04-29 16:15] cam-carter commented on #3837
@yuchenshi I wanted to reach out to see if this was every prioritized? I'm guessing not...

[2022-04-29 19:25] johanneskares commented on #653
This is really one of the best solutions I feel. I'm using yarn workspaces. For reference, here's my `firebase.json`. Postdeploy is optional if it's running on a CI pipeline.

File Structure:
[code]

[code]

[2022-04-29 19:53] yuchenshi commented on #4413
Fixed in Firebase CLI v10.7.2. You should be able to create folders as usual through the Emulator UI without any workaround after upgrade.

[2022-05-01 18:04] JollyRen opened #4506 "Emulator Suite in Google Cloud Shell - TypeError: firebase.initializeTestApp not a function"
### [REQUIRED] Environment info

**firebase-tools:**

**Platform:** Windows 11 / Google Cloud Shell - Emulator Suite, CS Walkthrough

### [REQUIRED] Test case

Trying to just follow the quickstart testing through Cloud Shell for rules. Getting to step 4 of 11 and it gives the error in the subject line.

"TypeError: firebase.initializeTestApp not a function"

I've looked through the node_modules fo

[2022-05-02 18:05] sanathmittal commented on #2336
yes please i am having same problem

[2022-05-02 18:29] sanathmittal commented on #2336
not working for me please tell me which folder to deletee

[2022-05-02 20:10] yuchenshi commented on #3694
Should be fixed in the latest release.

[2022-05-02 20:10] #3694 closed

[2022-05-02 20:12] #4468 closed

[2022-05-02 21:55] inlined commented on #2034
We're looking at getting staffing for this. It will probably be a few more months at least.

[2022-05-03 01:19] spicemix commented on #2034
Easy CSAT impact for a 20%er you like.

[2022-05-03 07:44] dimadeveatii opened #4510 ".env.local file not loaded when using emulators:exec command"
### [REQUIRED] Environment info

**firebase-tools:** 10.7.1

**Platform:** MacOS

### [REQUIRED] Test case

As per the [documentation](https://firebase.google.com/docs/functions/config-env#emulator_support), the Cloud Functions emulator is using the `.env.local` file to load variables. However, when running `firebase emulators:exec` the environment variables are not loaded from the `.env.local` fi

[2022-05-03 19:15] yuchenshi commented on #4109
@grundius would you mind taking an export right after Step 3 and share with us? We can look into if the issue within document creation or query execution. `monkeys` and `bananas` are good enough and there's no need to include real data or private code.

[2022-05-04 01:00] #4456 closed

[2022-05-04 08:45] dimadeveatii commented on #4459
I can confirm this issue, it happened to me as well.

When updating a secret, it asks you to redeploy all functions that uses it. Once you deploy them, it looks like it just prunes all other secrets that are used by other functions (without any confirmation).

This is quite critical, as in my case I ended up having a lot of secrets being destroyed.

[2022-05-04 12:27] eowo commented on #2859
+1
Hi! Can we have some update for this issue? Thx!

[2022-05-04 15:08] nayfin commented on #3092
My co-worker was having the exact same issue as described above by @Drew-Daniels , and I wasn't. He was also seeing 2 java terminal's open, but I wasn't. After upgrading to the latest `firebase-tools` I started getting a warning that I need to upgrade Java to at least v11 (not sure what I had initially or why it was so old). So I upgrade Java to v18, now I am seeing the 2 java terminals open when

[2022-05-04 16:32] nayfin commented on #2228
I'm still having the issue in `firebase-tools: 10.7.2`

[2022-05-04 17:47] Corchoneitor commented on #4378
Any update on this? Thanks.

[2022-05-04 18:26] polisen opened #6499 "Firebase Emulator simply does not initialize .env || .env.local || .env.default"
### Related issues

https://github.com/firebase/firebase-functions/issues/1084

### [REQUIRED] Version info

**node:**v14.17.6

**firebase-functions:**3.20.1
**firebase-tools:**10.6.0

**firebase-admin:**10.1.0
### [REQUIRED] Test case

- Create local firebase project
- insert and populate .env, .env.local, .env.default (for good measure)
- start emulator suite
- log process.env

### [REQUIRED] St

[2022-05-04 19:14] taeold commented on #4459
Thanks for the feedback folks. It looks like our attempt to clean things up in order to make secrets less expensive to use is causing more trouble than I've anticiapted. I'm going back to the drawing boards to improve the UX of the pruning and will rollback automatic secret pruning after deploy.

You'll likely want to use `firebase functions:secrets:prune` from time to time to keep your # of secre

[2022-05-05 00:18] IchordeDionysos opened #4522 "Creation of Github Actions workflow does not work when service account key creation is prevented"
### [REQUIRED] Environment info

**firebase-tools:** 10.6.0

**Platform:** macOS

### [REQUIRED] Steps to reproduce

1. Create a new Google Cloud project / organization
2. Enforce the organizational policy `constraints/iam.disableServiceAccountKeyCreation`.
3. Run `firebase init hosting`
4. Try to set up GitHub Actions deployments.

### [REQUIRED] Expected behavior

There are several levels of sup

[2022-05-05 08:59] atanasyordanov21 commented on #4283
I had the same issue, and it appeared to be because of having different installations of firebase-tools across my system. Then I found this, which helped me to properly resolve:
[https://stackoverflow.com/questions/66192713/why-is-my-firebase-cli-version-different-than-what-i-just-installed-with-npm](url)

[2022-05-05 13:05] bswanwick commented on #406
take off the training wheels please

[2022-05-05 15:10] nayfin commented on #2228
@jaredgibb what do you mean by "ran the update code from the cli"? Do you just mean `npm install -g firebase-tools@latest` or is there some other update mechanism that I'm not seeing?

[2022-05-05 16:16] bigbitbus commented on #4510
Also, probably worth mentioning this comment in another GH issue:
https://github.com/firebase/firebase-tools/issues/4239#issuecomment-1065412510

[2022-05-05 16:45] philonor opened #4524 "Specific error message on firebase function deploy failure due to missing/deactivated app engine service account"
### [REQUIRED] Environment info

**firebase-tools:** 10.8.0

**Platform:** macOS

### [REQUIRED] Test case

As it's not related to function code but directly to Firebase CLI, no sample code possible.

### [REQUIRED] Steps to reproduce

1) Disable app engine service account @ [your-project-id@appspot.gserviceaccount.com](https://console.cloud.google.com/iam-admin/serviceaccounts?project=your-projec

[2022-05-05 18:09] albertogeniola commented on #4456
Hi @mbleigh ,

I can confirm that, using the latest version of firebase-tools on a virgin environment (started a VM from scratch), the issue is fixed. Thanks a lot guys.

[2022-05-05 21:21] abakucz commented on #3092
I do experience this issue as well.

And it also started after I updated Java to 18 (and also upgraded NodeJS 14 from 12).

[2022-05-06 16:20] ShaliniPerera commented on #2336
copy the file name that is shown in the require stack and remove the file name at the end. This would open the folder that the file is in.
Eg -
This is the require stack file
...\firebase\tools\lib\node_modules\firebase-tools\lib\bin\firebase.js
So you can remove the firebase.js part (which is the file name)

So search for this in the search bar and the folder will be opened.
...\firebase\tools\li

[2022-05-07 03:57] 1amageek opened #4532 "Relaxed limit on the number of characters in the function name of Cloud Functions"
Hi.

Thank you for providing us with a great product.

I have a suggestion regarding the length of Function name.
Currently Cloud Functions limits the length of Function name to 62 characters or less. I would like to see the length of Function name extended to about 120 characters.

While it is important to limit the number of characters, is there a reason for this 62 character limit?

https://git

[2022-05-07 08:59] dereekb commented on #4473
I am also seeing similar regressions dealing with transactions. firebase-tools 10.4.2 / emulator v1.13.1 is the latest version I can use for now.

FWIW here's one of the test runs where some tests fail due to "Transaction is invalid or closed." related errors:

[code]

https://app.circleci.com/pipelines/github/dereekb/dbx-components/361/workflows/987ab855-a600-4c59-ae8f-32b96c40d561/jobs/756/steps

[2022-05-07 12:13] edwardchinfl opened #4533 "Encountered error when installing Firebase CLI on MacBook Pro - Monterey v12.2"
Encountered the following error when I ran : curl -sL https://firebase.tools | upgrade=true bash on a MacBook Pro macOS Monterey version 12.2
bash: line 255: /usr/local/bin/firebase: Bad CPU type in executable
Something went wrong, firebase has not been installed.

Software info :
  macOS 12.2 (21D49)
  Kernel Version:	Darwin 21.3.0
  Boot Volume:	Macintosh HD
  Boot Mode:	Normal
  Computer Name:

[2022-05-07 18:29] nayfin commented on #3092
I just noticed that @Drew-Daniels was getting the `!  emulators: It seems that you are running multiple instances of the emulator suite...` error. Which seems like it's common among people having this issue of the data not being exported where expected. I am not getting error on initialization, but I'm still having the data export issue.

No error on initialization
![image](https://user-images.git

[2022-05-07 21:10] dereekb commented on #4473
This is probably enough for a separate report, but:

I'm guessing the way the emulator communicated via grpc changed which caused some timings in promises to change. I fixed most of the tests, but there's still one that seems to have a weird race condition left related to terminating a '@google-cloud/firestore' Firestore instance after the tests end.

It causes this relatively simple test to "some

[2022-05-08 07:09] edwardchinfl commented on #4533
Issue resolved by installing Rosetta 2 : /usr/sbin/softwareupdate --install-rosetta --agree-to-license

[2022-05-08 07:09] #4533 closed

[2022-05-08 15:56] jakeleventhal opened #4534 "Firebase emulator doesn't allow editing timestamps"
### [REQUIRED] Environment info

**firebase-tools:** 10.7.1

**Platform:** macOS

### [REQUIRED] Test case

Have a timestamp stored in the emulator - you can't edit it in the UI

### [REQUIRED] Steps to reproduce

Have a timestamp stored in the emulator - you can't edit it in the UI.

### [REQUIRED] Expected behavior

UI allows editing

### [REQUIRED] Actual behavior

<img width="734" alt="Screen

[2022-05-08 15:57] jakeleventhal commented on #3313
I have this as well. the issue seems to be that the emulator doesn't do any pagination logic

[2022-05-08 18:44] justmorenoise commented on #4470
Same issue on macOs 12.3.1
Firebase 9.6.6
Firebase Tools 10.8.0

[code]

The structure of the path is `user_projects/UUID/projects/UUID/pages/UUID/activities/UUID`

Works fine on cloud.

[2022-05-09 10:38] dennismuench commented on #2837
Same issue here, running firebase-tools 10.8.0.

[2022-05-09 11:03] dimadeveatii commented on #4459
@taeold using `10.8.0` and running `firebase deploy --only functions` still results in secrets being pruned without any prompt/confirmation message. Is it possible to complete disable auto pruning of secrets?

[2022-05-09 11:08] dimadeveatii commented on #4459
In our case this is what happened:
- We configured all production secrets (~15 secrets)
- We then deployed **only one** function using `firebase deploy --only functions:my-func` that uses one of the secrets
- Result: all other secrets are pruned upon function deployment

And there is no workaround, it means we have to deploy all functions all-together if we want secrets not to be pruned.

[2022-05-09 15:54] grundius commented on #4109
I can send you the dummy data, getting it from a live project is somewhat harder, but with the test data you should be able to reproduce the issue.
[monkeys_and_bananas.zip](https://github.com/firebase/firebase-tools/files/8653275/monkeys_and_bananas.zip)

[2022-05-09 15:56] grundius commented on #4109
@yuchenshi
The code for running against the dummy data:
[code]

The snapshot should contain at least one document.

[2022-05-09 20:11] yuchenshi commented on #4534
Duplicate of https://github.com/firebase/firebase-tools-ui/issues/601,

Please let us know the browser and version you're using by commenting on the issue above -- this may be browser-specific.

[2022-05-09 20:11] #4534 closed

[2022-05-09 20:14] yuchenshi commented on #4532
This limit is on the Google Cloud Functions backend and the CLI is just trying to provide helpful error messages. Please reach out to Google Cloud Support regarding the limit and file a feature request.

[2022-05-09 20:14] #4532 closed

[2022-05-09 20:16] yuchenshi commented on #3258
@gthemiller  The original issue has been resolved and closed. Please kindly open a new issue and provide details using the template if you're still experiencing this issue. Thanks!

[2022-05-09 20:26] yuchenshi commented on #2859
Instead of combing through the lines on the CLI or using `grep`, an alternative is to use the Emulator UI Log Viewer, which allows advanced filtering and search. You can also filter on log levels. See: https://firebase.google.com/docs/reference/emulator-suite

[2022-05-09 23:59] spicemix commented on #2859
You ought to assign b/194801987 to a summer student. I'd think they'd be able to handle it.

[2022-05-10 12:11] johnico commented on #406
very nice  thank!
can you add support for arrays and removing item from array?

``` x:["1","2"]```

when i will try to remove the "2" and running the script again nothing will happen

[2022-05-10 23:32] cayleyh commented on #4459
We had this happen when a new deploy went out via CI. We didn't set or change any secrets or versions, but the prune command removed everything anyway (!).

We're now forcing 10.7 to be used until this can get addressed correctly.

[2022-05-11 00:17] joehan commented on #4510
Hey @dimadeveatii, sorry to hear that you are having issues. `.env.local` sets environment variables in the process running the emulated functions, not in the process running your test script. The repro that you provided is the intended behavior here.

I just verified that I can access an environment variable set in `.env.local` from within an emulated function - ie:
[code]
[code]
if I then run:
[

[2022-05-11 00:17] #4510 closed

[2022-05-11 00:26] havenbarnes opened #4538 "firebase-tools v10.9.0 introduces error in "preparing codebase default for deployment" step during function deployment"
### [REQUIRED] Environment info

**firebase-tools:**
v10.9.0 introduces the error, however pinning firebase-tools to v10.8.0 fixed the issue for us.

**Platform:**
Deploying cloud functions locally on macOS with v10.9.0 works as expected.

Deploying cloud functions in GitHub Actions (running on Ubuntu 20.04.4 LTS) shows this failure.

### [REQUIRED] Test case

1) Set up a basic cloud function. To

[2022-05-11 02:44] camilaleniss commented on #3738
+1 It will make the dev process easier instead of having to deploy it just for testing

[2022-05-11 02:44] bkendall commented on #4538
Thanks for raising. We'll get this looked at.

[2022-05-11 02:53] bkendall commented on #4538
Can you give us a bit more information @havenbarnes ?

* Can you give us an exact code snippet that will replicate the issue? Including `functions.config()` wasn't enough for me to replicate it.
* What version of `firebase-functions` are you using?
* And to confirm - this is _only_ happening in your CI environment, on linux? Deploying locally on macOS is unaffected?

[2022-05-11 05:09] nl commented on #4538
Same here when using my normal `firebase deploy --only functions` flow from macOS.
If my Cloud Functions contain access to an environment variable (as defined with `functions:config:set` for instance), the deploy fails with the error from the OP if I use 10.9.0.

[code]
(where `token` would be an env variable in this case).

Reverting back to 10.7.2 solves the issue and deployment goes through as

[2022-05-11 10:19] kencanak opened #4540 "Firebase deploy function with secret does not set secret env"
### [REQUIRED] Environment info

**firebase-tools:**
v10.9.0

node 14

**Platform:**

macOS, GitHub Actions

### [REQUIRED] Test case
[code]

### [REQUIRED] Steps to reproduce

deploy a function with runWith secrets config

### [REQUIRED] Expected behavior
Should set secret env accordingly

### [REQUIRED] Actual behavior
no secret environment variables get set, in fact all previous secret env gets

[2022-05-11 16:09] bkendall commented on #4538
Ah ha! I can now reproduce the error. I'm looking again this morning with other folks now...

[2022-05-11 16:33] rlacatus opened #4688 "Export does not work when the Import folder does not exist"
When running `firebase emulators:start --import <target folder> --export-on-exit` and the `<target folder>` does not exist, the export does not occur.

**Expected behavior**

When running the emulator with a target folder for import flag that does not exist and an export-on-exit flag, the export functionality creates the folder structure and performs the export.

**Actual behavior**

The export do

[2022-05-11 16:48] bkendall commented on #4538
I'm putting 10.9.1 out the door _right now_ to address this! Thanks again for flagging and your patience as we patched it!

[2022-05-11 17:06] nmhernandez10 commented on #4408
This issue should not have been closed. This error still happens using firebase-tools 10.6.0 or above. We have to use firebase-tools 10.5.0 in order to deploy functions with secrets correctly.

[2022-05-11 20:23] #4540 closed

[2022-05-12 06:17] dzhamshed opened #4545 "providerId and uid are different for currentUser and currentUser.providerData"
### [REQUIRED] Environment info

**firebase-tools:** 10.9.0

**Platform:** macOS

### [REQUIRED] Test case

Using Firebase Emulators Suite, when user is signed in by email and password the providerId and uid are different for auth.currentUser and auth.currentUser.providerData.

### [REQUIRED] Steps to reproduce

[code]

As you can see `providerId` is incorrect for the `currentUser` and `uid` insid

[2022-05-12 07:07] algaeReed commented on #155
Thank you.
1. set proxy
![image](https://user-images.githubusercontent.com/30750777/168011250-f40277f9-faf3-4b69-a4f2-77ffc8f40c78.png)
2 .
C:\Users\admin\AppData\Roaming\npm\node_modules\firebase-tools\node_modules\request\request.js
[code]
![image](https://user-images.githubusercontent.com/30750777/168011378-247e7645-eab0-427e-9a77-0f4367e30f1e.png)

3.  use `firebase login ` , Success!
4.
![ima

[2022-05-12 09:30] mrspence commented on #1867
**Tip**: if you're using https://github.com/invertase/react-native-firebase like me and encounter this error, try removing the protocol from your hostname.

i.e.:

[code]
becomes
[code]

[2022-05-12 13:44] colerogers commented on #4459
@dimadeveatii @cayleyh

Hey folks, I'm not able to re-produce the pruning behavior that you're experiencing. Here's what I did:

- Updated to the latest `firebase-tools` and `firebase-functions`
- Create 3 new secrets using the CLI command (firebase functions:secrets:set SECRET_NAME)
- Create 3 functions that each use one of the secrets
- Run `firebase deploy --only functions:$FUNC` to deploy only

[2022-05-12 15:42] emmerich commented on #3594
@bkendall

Hey Bryan, I'm a colleague of @jpreynat and have been looking at this. I've got an MVP of the issue that I can send though I'm not comfortable uploading it publicly (not sensitive stuff but nothing I'd like uploaded publicly as it contains some of GitBook's Firestore rules stuff) - can I e-mail it over?

Upon further investigation it seems that have a complicated Firestore rules file -

[2022-05-12 15:53] jpreynat commented on #3594
Friendly ping @bkendall following @emmerich's comment that provides more details.
It'd be great to reopen the issue for further investigation.

[2022-05-12 16:36] akauppi commented on #3594
@emmerich I used to have a setup where warm-up (though tedius in itself!) tended to work pretty fine. Not so, any more. Some update changed the behaviour in the way that what used to warm the engine earlier no longer does so. Using 10.8 now.

[2022-05-12 20:32] mthomas-io commented on #4459
@colerogers which version did you use? I think this just got fixed yesterday with the 10.9.2 release https://github.com/firebase/firebase-tools/releases/tag/v10.9.2 which fixed #4540 and I think is a duplicate of this issue.

[2022-05-13 00:53] Applicafroguy commented on #1532
I have the same issue.

When I deploy `firebase deploy --only functions --project staging`

`Error: Failed to load function definition from source: Failed to generate manifest from function source: Error: The default Firebase app already exists. This means you called initializeApp() more than once without providing an app name as the second argument. In most cases you only need to call initializeA

[2022-05-13 00:54] Applicafroguy opened #4546 "The default Firebase app already exists"
I have the same issue.

When I deploy `firebase deploy --only functions --project staging`

`Error: Failed to load function definition from source: Failed to generate manifest from function source: Error: The default Firebase app already exists. This means you called initializeApp() more than once without providing an app name as the second argument. In most cases you only need to call initializeA

[2022-05-13 16:25] bkendall commented on #4546
Glad you found the issue!

[2022-05-13 16:25] #4546 closed

[2022-05-13 17:51] jhuleatt commented on #4368
I'm experiencing the same issue in CLI version `10.9.2`.

[2022-05-13 19:33] jromero commented on #2837
@yuchenshi this @google-oss-bot is aggressive. :D

[2022-05-13 21:59] yuchenshi commented on #2837
@jromero Sorry for that. The issue should stay open from now on.

[2022-05-14 00:46] emilioiz commented on #4459
@colerogers I agree with @mthomas-io findings. I just spent hours trying to figure out what was going on to my function secrets and reviewing the docs over and over until I landed here. Nothing was working until I updated firebase-tools again. Then it all started working as expected.

[2022-05-14 13:42] abderahmaneBasil commented on #3092
Same problem here but with a different context. I dockerized the emulators and wanted to export the data in a volume when container exits but it fails every time with the following error :
![image](https://user-images.githubusercontent.com/73698016/168428223-4e8c70aa-9640-4d9d-93c8-1678682b27e2.png)
![image](https://user-images.githubusercontent.com/73698016/168428268-cf19f6f9-4e83-456b-93c2-cfb8e

[2022-05-14 17:37] pigerj commented on #3930
+1

[2022-05-14 22:44] dereekb commented on #3092
On the Docker issue, I ran into the same thing, but it unable to save was a “problem” with Docker rather than the emulator.

Your Firebase data folder can’t be the mapped folder, you need to map a parent folder and try and export to a child folder.

Here’s my mappings and usage:

https://github.com/dereekb/dbx-components/blob/develop/docker-compose.yml

https://github.com/dereekb/dbx-components/bl

[2022-05-15 19:29] FrancescoBurchielli commented on #2365
how was this issue solved? I am still facing it

[2022-05-16 01:37] DiegoGonzalezCruz commented on #3962
OMG I can't believe I'm not the only person...

[2022-05-16 05:32] louis030195 commented on #4410
Same here when updating from firebase-tools 9.23.0 to 10.9.2

firebase-tools: 10.9.2
Platform: MacOS Monterey 12.3.1
Environment: Node v14.17.3

`index.ts`
[code]

Nothing show in the logs

[2022-05-16 07:35] gitslav commented on #3962
It's a really nasty bug. Not sure why @abeisgoat added a feature request label 😃

[2022-05-16 09:32] Niron68 commented on #4185
@doppio I got the same problem and it was my `initializeApp` that was not correctly imported. Instead of `import { initializeApp } from 'firebase-admin/app' i wrote 'import { initializeApp } from 'firebase-admin''`. Hope it can help you with this problem, i search for like 3 hours before undersanding that --'

[2022-05-16 15:44] Zjaaspoer commented on #4185
@Niron68 TY! This solved it for me too 🙏

[2022-05-16 17:08] cayleyh commented on #4459
@colerogers not sure if it's possible, but can the broken versions be pulled from NPM? This caused pretty serious live ops issues for us and I'd hate for someone else to have it happen because the happen to get one of these versions somehow.

[2022-05-16 18:32] mikehardy opened #4547 "Crash regression in storage emulator with StorageReference.put and empty buffer"
Hi there, I work with Invertase to maintain [react-native-firebase](https://github.com/invertase/react-native-firebase), and I've noticed a regression in the latest version(s) of the storage emulator. We are going to work around it locally by disabling one of our test cases but it would be great to fix it here upstream from us, so I thought I'd send all the details I've got.

Let me know if there

[2022-05-16 20:10] bkendall commented on #4410
There's things the CLI does around wrapping `console.log` and how we load Functions code that might have this effect. @colerogers might be best to shed some light

[2022-05-16 20:16] bkendall commented on #4368
@jhuleatt could you sync with @IanWyszynski about this?

[2022-05-16 21:04] tonyjhuang commented on #4547
@abhis3 can you see if this is related to https://github.com/firebase/firebase-tools/pull/4278?

[2022-05-16 21:46] yuchenshi commented on #3962
Just to add a bit of context, we've fixed the most common and dangerous case of wiping your project directory in #4127 so please update to the latest CLI version. However, the detection is imperfect that it doesn't handle symlinks, which we can tackle next (as @gitslav suggested).

There's also a possibility for one to specify some other directory that is not within the project but contains other

[2022-05-16 21:47] yuchenshi commented on #3600
Consolidating the discussion to #3962.

[2022-05-16 21:47] #3600 closed

[2022-05-17 01:47] mikehardy commented on #4547
Failure starts at 10.3.0, working correctly at 10.2.2

[2022-05-17 09:46] matzeso commented on #2791
I had the same issue my code was not running since it required at least node 16 but running emulators ran with node12. It took me quite a while to figure this out. I think it would be really beneficial for the developer if the message could include the fact that the "host" system node@12 is not _really_ coming from the host but from the binary.

[2022-05-17 15:49] abderahmaneBasil commented on #3092
Thanks @dereekb 🙌
It was as you wrote : I mapped to a parent folder and it works perfectly now.

[2022-05-17 17:53] kuechlerm commented on #3405
Shouldn't this be covered by : https://firebase.google.com/docs/emulator-suite/use_extensions  ?
I tried it with the firebase/storage-resize-images extension but cannot start the emulators anymore.

[2022-05-17 18:11] kuechlerm opened #4554 "Cannot run firebase emulators:start with storage-resize-images extension"
### [REQUIRED] Environment info

**firebase-tools: 10.9.2**

**Platform: Windows 10**

### [REQUIRED] Test case
Normal Firebase project

### [REQUIRED] Steps to reproduce
I ran
`firebase ext:install firebase/storage-resize-images --local`
then
`firebase emulators:start`

### [REQUIRED] Expected behavior
Start emulators with the added extension

### [REQUIRED] Actual behavior
Emulators do not start

[2022-05-17 18:36] joehan commented on #4554
Hey @kuechlerm , thanks for reporting this. Looking at the error logs, it seems like this is failing when we try to spawn a new process to `npm install` the extensions source code https://github.com/firebase/firebase-tools/blob/v10.9.2/src/emulator/extensionsEmulator.ts#L175

I'm not able to repro this on my Mac, so I suspect that this error is Windows only - possibly something similar to https://

[2022-05-17 18:46] joehan commented on #4554
Looks like we probably need to use cross-spawn here instead to ensure that this works correctly on all platforms. Working on a fix to use that now.

[2022-05-17 20:20] #4007 closed

[2022-05-18 08:36] kuechlerm commented on #4554
Hi @joehan thanks for the quick response. It would be great if you can fix it - I hope for the best ;)
Thanks!

[2022-05-18 14:05] bigfish commented on #4176
Ran into this as well and spent half an hour googling to find this solution. Perhaps the docs should be updated, or the solution suggested when the CLI auth fails?

[2022-05-18 17:31] #4408 closed

[2022-05-18 18:46] #4554 closed

[2022-05-18 22:57] nappernick opened #4563 "Firebase CLI not compatible with Node v12.22.1"
### [REQUIRED] Environment info

Firebase: v9.18.0
**firebase-tools:** v11.0.0

**Platform:** Linux (Docker container in Github Action)

### [REQUIRED] Test case
Deploying a preview of React app with `firebase-tools hosting:channel:deploy`, specifically:
[code]

### [REQUIRED] Steps to reproduce
Run Github action `FirebaseExtended/action-hosting-deploy` with create-react-app to generate preview ch

[2022-05-18 22:58] #4563 closed

[2022-05-18 23:26] bkendall commented on #4563
I think you may have stumbled onto something interesting though. The GH action pulls the latest major version, which may not be desired. I'm passing this along as feedback :)

[2022-05-19 10:48] votingsystem opened #4565 "Very slow startup and cloud function updates if working without internet connection"
### [REQUIRED] Environment info

**firebase-tools:**
11.0.0

**Platform:**
OS: Pop!_OS 22.04 LTS x86_64
### [REQUIRED] Test case

start emulator without internet connection

### [REQUIRED] Steps to reproduce

Run: 'firebase --debug  emulators:start' or update a cloud function

### [REQUIRED] Expected behavior

start emulator and update cloud functions in a couple of seconds (like when running with

[2022-05-19 11:50] IdanCo commented on #4470
Same issue with the latest Firebase tools 11.0.0
macOS 12.3

[2022-05-19 14:25] katsuya opened #4566 "Fail to start emulator ui with "firebase emulators:start""
### [REQUIRED] Environment info

**firebase-tools:**

[code]

**Platform:**

[code]

### [REQUIRED] Test case

[code]

 The settings are as follows:

[code]

### [REQUIRED] Steps to reproduce

Same as above.

### [REQUIRED] Expected behavior

I'm hoping the Emulator UI will boot...

### [REQUIRED] Actual behavior

The following PRs may be the cause.

- https://github.com/firebase/firebase-tools/pu

[2022-05-19 15:17] bkendall commented on #4566
@katsuya what version of Node are you using? I'm not able to reproduce this on Node 16.15.0... only thing I can think of off hand is that the minimum version of node for firebase-tools v11.0.0 is 14.18.0.

[2022-05-19 15:35] jhuleatt commented on #4368
I wasn't able to reproduce the issue again with CLI version `9.23.3`, `10.9.2`, or `11.0.0` (even in a project where it was happening before).

@IanWyszynski stepped through the rules update code with me and said everything looks ok. When the emulator suite finds a rules file, the rules are actually updated via a PUT request:

https://github.com/firebase/firebase-tools/blob/4bba5e9ea06df700059ccf2

[2022-05-19 16:03] IanWyszynski commented on #4368
By default, `firebase emulator:start --only database` uses the default project RTDB instance: `flutterfire-e2e-tests-default-rtdb`, so in order to query the rules being used, you need:
[code]

When I do this, I see:
[code]
To reiterate, if you call `get()` on a query (meaning any combination of `start/endAt`, `limit*`, `orderBy*`), that location _must_ be indexed. If no query is specified, a key i

[2022-05-19 16:35] otec-valerian commented on #1115
You`re the coolest man) Thank you a lot!

[2022-05-19 20:17] #4083 closed

[2022-05-20 00:23] thespeed94 commented on #4563
I have the same issue, right now.
I'm trying to use the recommended node version (14.18.0) but it doesn't exist on the container registry.

[2022-05-20 02:18] dereekb commented on #3034
I'm running into an issue where the emulators aren't shutting down properly. Right now since the emulators don't support hot reloading I'm running the following within a docker container:

`find dist/apps/demo-api | entr -rp -s 'npx firebase emulators:start --import=/root/data/emulators --export-on-exit'"`

The `entr` command is piped folder changes from the dist/apps/demo-api directory, and waits

[2022-05-20 03:26] risalfajar commented on #3405
Yes, it's just added this year. I think this issue can be closed now. @Spitzbua

[2022-05-20 03:43] tiagohillebrandt commented on #2837
Same issue is happening over here, I'm using firebase-tools 11.0.0.

[code]

[code]

[2022-05-20 04:03] tiagohillebrandt commented on #2837
Here's a workaround I've just found while reading through the `functionsEmulatorRuntime.js` file:

[code]

[2022-05-20 06:05] vajahath opened #4577 "`error: unknown option '--local'` when trying to install an extension using CLI"
### [REQUIRED] Environment info
**firebase-tools:** 11.0.0
**Platform:**: Ubuntu

### [REQUIRED] Test case
[code]

Also checked with `--help`. But not giving enough info:
[code]
### [REQUIRED] Steps to reproduce

I was trying to install an extension and try it in emulator. For that I followed as per [firebase extension page](https://firebase.google.com/products/extensions/typesense-firestore-types

[2022-05-20 08:22] benomatis opened #4578 "firestore emulator ui: some collections will not show data, error in console"
Some collections will not show data, and will produce an error in the browser console. If I click the collection name in the emulator ui, it will show the doc id of the first document in the URL, but will show no content.

Interestingly my app using the emulator works perfectly fine, and I can even use firebase-admin to query the data, but if I click any of the affected collections, it shows it as

[2022-05-20 10:50] katsuya commented on #4566
@bkendall  I use node 16.14.2. I create a Dockerfile that reproduces it with unnecessary parts removed. It would be helpful if you could check it.

The command to reproduce is as follows:

[code]

Dockerfile is as follows:

[code]

.firebaserc is as follows:

[code]

[2022-05-20 11:16] shauryaaher commented on #4577
I have the same problem. I think it's because of the latest `firebase-tools` version. The latest version `11.0.0.` is a `MAJOR` version and is causing all sorts of problems.

[2022-05-20 11:16] shauryaaher commented on #4577
This issue needs attention.

[2022-05-20 12:46] ir-fuel opened #4579 "Database emulator `query.once` hangs"
### [REQUIRED] Environment info

**firebase-tools:**
11.0.0

**Platform:**
macOS 12.3.1

### [REQUIRED] Test case

[code]

### [REQUIRED] Steps to reproduce

Start the Firebase database emulator.

Run the above code using the following JSON as input:

https://pastebin.com/QagxYjGk

### [REQUIRED] Expected behavior

the console logs should show the snapshot contents after the `get` and also in the

[2022-05-20 13:15] vmalyi commented on #4566
Downgrading the Firebase CLI to 10.9.2 allows to workaround this.

[2022-05-20 13:22] brendonanderson commented on #4566
I am also facing this issue.

I had node 12.x and it was showing the same error message.  I used nvm to install node 18.x and it is still having problems.  I will try downgrading Firebase CLI and see if that helps.

[2022-05-20 13:41] brendonanderson commented on #4566
I initially installed the Firebase CLI using the self install script on Linux.  That installed version 11.0.0.

To downgrade
1. Downloaded the Linux binary for 10.9.2 from here: https://github.com/firebase/firebase-tools/releases
2. Use `which firebase` to find out where the current binary is installed (in my case `/usr/local/bin/firebase`)
3. Rename the current file: `sudo mv /usr/local/bin/fireb

[2022-05-20 18:35] ir-fuel commented on #4579
Found the issue. I don't see this anywhere in the documentation but when connecting to the DB emulator you need to replace this:

[code]

with
[code]

Took me A LOT OF TIME to figure this out.

[2022-05-21 06:01] readyiman opened #4580 "Cant call firebase at all, always returns TypeError: dns.setDefaultResultOrder is not a function"
### [REQUIRED] Environment info

**firebase-tools:** 11.0.0

**Platform:** Windows

### [REQUIRED] Test case

npm update from version 10.9.2

### [REQUIRED] Steps to reproduce

npm update from version 10.9.2

### [REQUIRED] Expected behavior

Can call firebase

### [REQUIRED] Actual behavior

Any firebase call returns to this:

C:\Users\Redi\AppData\Roaming\npm\node_modules\firebase-tools\lib\emul

[2022-05-21 06:13] readyiman commented on #4566
I realize that your error is similar with mine. https://github.com/firebase/firebase-tools/issues/4580 (new). Yet in my case I can't call any firebase command. I'm also using emulator, but it not even start, can't even call firebase --version.

[2022-05-21 10:57] readyiman commented on #4580
Solved by updating node to v16.15.0 LTS (was 16.something before).
I'll keep this open, because firebase didn't say this as minimum requirement.

[2022-05-21 10:59] readyiman commented on #4566
Btw I'm able to solve it by updating node to v16.15.0 LTS

[2022-05-21 20:36] Lauravdearmas commented on #2126
https://www.youtube.com/watch?v=Cu8Q6KvJq-Q

[2022-05-23 11:29] shauryaaher commented on #4577
Can someone add the 'needs attention' label, please?

[2022-05-23 14:09] Mistic92 commented on #4566
I'm using Node v18.2.0 with nvm and downgrade not working. I'm getting error like below

[code]

With version 11 of Firebase CLI I can't start emulators

[code]

[2022-05-23 16:31] penx opened #4581 "Firestore emulator REST API returns "Not Found" for all endpoints other than DELETE documents"
### Environment info

**firebase-tools:** 11.0.0 (also tried with 10.7.1)
**Platform:** macOS

### Test case

https://github.com/penx/firestore-tools-rest-issue

### Steps to reproduce

#### In the above example

[code]

#### Or independently

- Start Firestore emulator with any fixture data
- This step works - clear your emulator data with `curl -v -X DELETE "http://localhost:8080/emulator/v1/pro

[2022-05-23 17:12] penx commented on #3077
For anyone looking at this in future, the issue seems to be that the url needs to start with "http://localhost:8080/v1" rather than "http://localhost:8080/emulator/v1"

[2022-05-23 17:15] penx commented on #4581
Think I've figured it out, the REST API URL needs to start with "http://localhost:8080/v1" rather than "http://localhost:8080/emulator/v1".

It would be great if this was covered by the docs somewhere. I've had to follow examples in order to get the REST API working, such https://github.com/firebase/firebase-tools/issues/3077,

[2022-05-23 20:15] yuchenshi commented on #2126
@Lauravdearmas That seems to be a different issue. Feel free to open a new issue in this repo and let us know about the details. In the meantime, I'm going to lock this issue since the original 409 error seems resolved.

[2022-05-23 20:20] yuchenshi commented on #4578
Is there anything special with the affected collection names? For example, are they longer, do they contain special characters, contain more documents etc.? How many documents are we working with?

[2022-05-23 20:22] yuchenshi commented on #3405
As some of you may have found out, this is now a supported use case with the new extensions emulator. Closing.

[2022-05-23 20:22] #3405 closed

[2022-05-23 20:26] yuchenshi commented on #4563
@thespeed94 Would you mind trying a later Node.js version? For example, the latest stable 14.x.y or 16.x.y you can find on the registry.

[2022-05-23 20:28] yuchenshi commented on #4565
Sorry, the functions emulator does not work fully offline right now. To anyone else reading this, please considering adding an emoji reaction if this is important to you to help us prioritize.

[2022-05-23 20:37] benomatis commented on #4578
@yuchenshi no, the collection names are relatively short, and only contain Enhlish alphabet characters camelCased if slightly longer, the affected onces are called 'bookings', and 'bookingsMeta', and they are called the same in the dataset where there is no error (I'm trying to work off of backups of a live system).

First I thought it had something to do with the firebase-export-metadata.json, ma

[2022-05-23 21:04] yuchenshi commented on #4566
Hi all, thanks to all the information provided, we've located the issue in the standalone Firebase CLI binary. You can try the npm version (`npm install -g firebase-tools` and remove the standalone binary)  as a workaround while we're looking into a fix.

[2022-05-23 22:10] readyiman commented on #4580
@timstoute I'm pretty sure I didn't do anything else. Just download node from it site then just install it. Maybe, just maybe, had you try `npm audit fix` on your firebase folder? (honestly, I'm still wondering why for every firebase npm install always has vulnerabilities and need this audit fix thing).

[2022-05-23 22:17] bkendall commented on #4580
Our minimum node requirement is in our package.json (which _should_ be enforced by the CLI as well), but this made me realize that `>=14.17.0` isn't quite enough, `>=16.4.0` should be there to make sure `setDefaultResultOrder` is included in node 16 installations (even though `16.4` is fairly old.

I'd ask @readyiman - how had you installed the CLI and node? I don't have a good windows flow myself

[2022-05-23 23:52] readyiman commented on #4580
Just casual one. I install node directly from it site https://nodejs.org/en/, And I install CLI from npm `npm install -g firebase-tools` usually from vscode terminal (cmd) just like in doc https://firebase.google.com/docs/cli#windows-npm (btw it actually written minimum CLI is v14.18.0).

[2022-05-24 12:48] chillafresh commented on #4566
@yuchenshi removing the standalone binary and reinstalling the npm version worked for me as a workaround. thanks

[2022-05-24 16:01] grundius commented on #4109
@yuchenshi Is there any progress in this one? Where you able to reproduce the error?

[2022-05-24 16:54] #4581 closed

[2022-05-24 18:42] joehan commented on #4577
Hi @shauryaaher - sorry for the confusion here. As of firebase-tools@11.0.0, the default behavior is the same as `--local`. In order to install an extension locally, just run `firebase ext:install` (no --local flag). To deploy that to your project, then run `firebase deploy --only extensions`.

I'll make a fix to this ASAP to not error out if the `--local` flag is passed in. Sorry for the inconvie

[2022-05-24 19:01] benomatis commented on #4577
will `firebase ext:install` not actually attempt to install the extension onto the default selected project instead of the emulator? if that's not the case, how do you install the extension to the default project instead, ie. how does v11 decide whether it should install to the default project or the emulator?

[2022-05-24 19:27] joehan commented on #4577
@benomatis Yes - as of firebase-tools@11, this is now a 2 step process. First, you add an extension to your local extensions manifest by running:
[code]
Then, you can emulate it by running:
[code]
or actually install it onto a project by running:
[code]
If you then want to reconfigure, update, or delete an extension, you follow the same process. First, use the corresponding command to make a chang

[2022-05-24 19:34] nayfin commented on #3092
Can someone with a working instance please lookup and post your versions for the following dependencies: Java, node, firebase, firebase-tools? Mapping to a parent folder didn't work for me and we're not using docker. This is the emulator start command we run:
`firebase emulators:start --import=./emulator/export-data --export-on-exit=./emulator/export-data`

[2022-05-24 20:07] #2791 closed

[2022-05-24 20:13] benomatis commented on #4577
@joehan This worked, thank you.

[2022-05-24 21:15] #4577 closed

[2022-05-24 21:52] joehan commented on #4577
Thanks everyone for reporting this. Just released firebase-tools@11.0.1, which includes a fix for this.

[2022-05-25 04:38] shauryaaher commented on #4577
Thanks a lot!

[2022-05-25 04:38] shauryaaher commented on #4577
Thanks a lot!

[2022-05-25 06:13] thecavilnator opened #4586 "Why does Firebase-Tools contain 21 Vulnerabilities (17 moderate, 4 high) - on latest version install? What is going on??"
### [REQUIRED] Environment info

**firebase-tools:**
Firebase=Tools ^11.0.1

**Platform:**
 macOS
### [REQUIRED] Test case
$ npm i firebase-tools

![Screen Shot 2022-05-25 at 2 10 08 AM](https://user-images.githubusercontent.com/102140870/170192444-a3c1f800-b5ca-43aa-8dd9-d7e3addddd5b.png)

### [REQUIRED] Steps to reproduce

$ npm i firebase-tools
### [REQUIRED] Expected behavior

No security vuln

[2022-05-25 09:06] lanyantao commented on #3930
+1

[2022-05-25 15:46] ntorrey commented on #3092
Same problem and behavior as @nayfin
Windows 11
java 17.0.1
node 16.13.1
firebase 9.8.1
firebase-tools 11.0.1

[2022-05-25 17:01] #4586 closed

[2022-05-25 17:24] #4580 closed

[2022-05-25 20:44] isanecat opened #4588 "Firebase Emulator halted when uploading pdf to Storage "Error: An unexpected error has occurred""
I have a cloud function which works for creating a PDF triggered from firestore onCreate function. The function will store the PDF to Firebase storage after creation. The function is written in Node.js. Firebase emulator crashes with "Error: An unexpected error has occurred." when function triggered with Flutter code.

(Ubuntu 22.04)
Firebase version : 11.0.1
node version: v16.14.0
Browser: Chrome

[2022-05-25 20:53] michaelalhilly commented on #4239
@taeold Hi. This is still not working for me locally. The variables are loaded from .env if I remove the .env.local file but the variables are not loaded at all if I add a .env.local file. I'm also importing variables from Secrets Manager which is working fine. Is this suppose to be working now.

[2022-05-25 21:07] yuchenshi commented on #4588
@isanecat Would you mind attaching the `storage-debug.log` and `functions-debug.log` after the crash?

[2022-05-26 00:27] janitha09 opened #4589 "firebase emulator rules context/enviornment not clearing between tests"
### [REQUIRED] Environment info

**firebase-tools:** 11.0.1

**Platform:**
uname -a
Linux 214c0f395319 5.15.0-33-generic #34-Ubuntu SMP Wed May 18 13:34:26 UTC 2022 x86_64 GNU/Linux

### [REQUIRED] Test case

### [REQUIRED] Steps to reproduce

**Describe the bug**
I am trying to develop rules using the emulator for my collections. To do so I have the tests below that let me experiment

**To Reprod

[2022-05-26 03:32] lanyantao commented on #3930
Resoved，i didt set jdk environment path。you try it

[2022-05-26 03:39] lanyantao commented on #3930
@characterx @pigerj @PhoenixLin1991

[2022-05-26 04:47] pigerj commented on #3930
thank you.
we reinstall java and its all working now.
how long after uploading the symbols will it take for crashes to show with
meaningful stack trace?

On Thu, May 26, 2022 at 6:40 AM lanyantao ***@***.***> wrote:

[2022-05-26 04:54] isanecat commented on #4588
Emulator hasn't created any file such as storage-debug.log and functions-debug.log after the crash. There is only firestore-debug.log as follows:

[code]

[2022-05-26 05:48] isanecat commented on #4588
There is no Emulator crash and file created as requested when I change below code for storage path as follows:

[code]

Its is strange that removing "Storage_Files/" make difference despite no specific path mentioned on storage.rules

[2022-05-26 08:12] lanyantao commented on #3930
unfortunately, dont get the stack trace info now, sad!

[2022-05-26 08:13] lanyantao commented on #3930
unfortunately, dont get the stack trace info now, sad!

[2022-05-26 12:38] benomatis commented on #4577
@joehan: adding to the suggestion of @vajahath, I understand from the code that the `--local` flag is effectively deprecated, so it should probably not be there in the main docs, right?

[2022-05-26 14:56] bangnk commented on #1289
I store all override CSS styles in a file `override.css` and I modify `after` function to override the css

[code]

[2022-05-26 14:57] colerogers commented on #4410
A while back we changed how functions are discovered and it looks like that might have changed this behavior. This no longer matches what production does, so I'm going to bring this up internally to see what steps forward we should take. Thanks for reporting this!

[2022-05-27 11:27] ArcherN9 opened #4591 "CLI login fails with an Error to make a request message"
### [REQUIRED] Environment info

**firebase-tools:** 11.0.1

**Platform:** macOS {11.6.1 (20G224)}

### [REQUIRED] Test case

- Download `firebase-tools` or `firebase-cli` and authenticate from the terminal (Alacritty, default MacOS terminal, ZSH shell)

### [REQUIRED] Steps to reproduce

- Download Firebase-tools or Firebase-cli package from either npm or brew.sh respectively;
- Execute `firebase

[2022-05-27 11:37] ArcherN9 commented on #4591
A temporary fix `export NODE_TLS_REJECT_UNAUTHORIZED=0` worked for me.

[2022-05-27 15:36] grundius commented on #4109
@yuchenshi Thanks for the reply and looking into to this.

I already, for different reasons, changed our tests to no longer reply on imported data (pretty brittle anyway) and in stead create the data for the test. And it works, so it seems like the inclusion of the project reference was was caused the wrong test results.

So, for me, this issue can be closed.

[2022-05-27 19:25] Darkade commented on #3092
I'm guessing this is related but running `firebase emulators:export .`  just deleted my whole repo after failing to run. I understand if this isn't the syntax the command expected but deleting the whole repo?!

[2022-05-27 19:37] dereekb opened #4593 "default project does not act as the default with aliases added"
I recently added an alias so that I could pass a second .env variable when deploying my Cloud Functions, but I started getting the following error in my CI:

https://app.circleci.com/pipelines/github/dereekb/dbx-components/607/workflows/8b52bf87-f0c2-4f24-964a-bf9094d1d558/jobs/1359/parallel-runs/0/steps/0-105

As workaround, I now have to now specify --project=default. The work around seems fairl

[2022-05-27 20:00] yuchenshi commented on #3092
@Darkade We've tried to make the command not do that. Please make sure you're using the latest Firebase CLI version. If that still happens, please see https://github.com/firebase/firebase-tools/issues/3962#issuecomment-1128169529 for a longer discussion and feel free to provide any relevant information there.

Friendly reminder to keep this discussion on export failures. If you have any informatio

[2022-05-27 20:22] Darkade commented on #3092
I mean, the export did failed before what happened @yuchenshi, but I get you, thanks. If it helps these are the versions I'm using

[code]

[2022-05-28 09:05] akauppi commented on #4589
@janitha09 Just my 2c and I might be off.

I haven't used `@firebase/rules-unit-testing` for a while, but when I did, one needs to know some things - otherwise hurt will follow.

In your code:

[code]

The setting of the doc is expected to pass. If it does, and if your other rules are reliant on the changed doc, this has the potential to make other tests flaky.

[2022-05-28 20:19] ApoorvaJ opened #4594 "setMetadata() method incorrectly flattens lists"
### [REQUIRED] Environment info

**firebase-tools:** 11.0.1

**Platform:** macOS

**firebase-admin:** 10.2.0

### [REQUIRED] Test case

In a Firebase function, I set some metadata using the firebase-admin SDK as follows:

[code]

In `storage.rules`, I try to execute `allow get: if "baz" in resource.metadata.foo;` This used to work fine, but at some point regressed, and now gives me the error `func

[2022-05-29 10:30] Emran12 commented on #1627
I have faced the same problem. I switched PowerShell to git bash and solve my problems.

[2022-05-30 08:02] julienlebren opened #4595 "Error: Cannot find module 'node:process' since I upgraded to 11.0.1"
### [REQUIRED] Environment info

**firebase-tools:** 11.0.1

**Platform:** macOS

### [REQUIRED] Test case

Since I upgraded to 11.0.1, I cannot launch any firebase feature.
For example, when typing `firebase functions:shell` or `firebase deploy`, this is the returned log:

### [REQUIRED] Steps to reproduce

I just require any Firebase feature, for example `firebase functions:shell` or `firebase d

[2022-05-30 12:33] kristiansaarela opened #4596 "init command throws JSON syntax error"
### [REQUIRED] Environment info

**firebase-tools:** 11.0.1

**Platform:** Windows 10

### [REQUIRED] Test case

`firebase init database --debug` shouldn't throw an JSON syntax error.

### [REQUIRED] Steps to reproduce

Run `firebase init database --debug`
Choose "Use an existing project"
Choose any project
Use default file name for Realtime Database security rules

### [REQUIRED] Expected behavio

[2022-05-30 13:44] Sharkawy opened #4597 "Cloud Functions Unexpected Error"
### Environment info

**firebase-tools: 11.0.1**

**NodeJs: 16.13.2**

**Platform: Windows 10**

### Test case

Emulator crashes after an unexpected error when I change a typescript file.
The issue started after I have just updated firebase tools from major version 10 to 11.
I have also updated functions and admin to the latest versions.

### Steps to reproduce

1.Run Emulators
2. Update Tpsescrip

[2022-05-30 13:58] Sharkawy commented on #4597
Updated.

[2022-05-30 15:26] AdamTeodoro commented on #4185
Para resolver esse problema eu copiei a minha pasta src para uma outra pasta apaguei tudo, comecei uma novo functions project e substitui a src pela minha src antiga XD

[2022-05-30 18:34] mikehardy commented on #3663
With current versions of firebase-tools database emulator, android firebase apps that have AppCheck integrated and are using a debug AppCheck token work :+1: - somewhere in the difference between the logged version and current it was fixed. Thanks

[2022-05-30 18:34] #3663 closed

[2022-05-30 23:24] steren opened #4598 "Can't use `firebase`in Google Cloud Shell"
[code]

[2022-05-30 23:36] bkendall commented on #4598
Duplicate of #4580.

Please update your node version to >= 16.2.0

[2022-05-30 23:36] #4598 closed

[2022-05-31 03:06] macksal opened #4599 "Storage emulator interprets the machine's current time as UTC without converting it"
### [REQUIRED] Environment info

**firebase-tools:** 11.0.1

**Platform:** OSX Catalina 10.15.7

### [REQUIRED] Test case

`broken.test.ts`:

[code]

### [REQUIRED] Steps to reproduce

1. Set up a new firebase project with the storage emulator enabled.
2. Create a package for testing with these dependencies only, and the Mocha test case from above:

[code]

3. Run the test case with `yarn firebase

[2022-05-31 03:08] macksal commented on #4596
Does your rules file actually have comments in it? Comments are not part of the JSON standard so you should remove them.

[2022-05-31 10:41] Blidnight commented on #4595
`Error: Cannot find module 'node:process'`

Try to update the nodejs version on your PC to a more recent version and it should solved the problem

[2022-05-31 10:49] kristiansaarela commented on #4596
I didn't create it. I'm trying to use `firebase init database ` command. Last line indicates that firebase is downloading `rules.json` file, which has comment in it and that breaks it.

[2022-05-31 11:05] macksal commented on #4596
Ah, it is downloading the rules that already exist in the project, and these include comments by default.

I'm able to replicate this by adding comments through the web interface. An easy workaround is just to remove the comment from the RTDB rules editor in the Firebase console (web).

It still probably represents an oversight on Google's part to allow comments to be added in the web interface, t

[2022-05-31 11:10] macksal commented on #4594
This is functioning as intended. Storage metadata is a simple string to string map and doesn't allow arbitrary JSON.

For your use case you will need to find a way to encode your array as a string. I would recommend joining the items in the array with a delimiter like a comma or semicolon (ensure your items can't already contain that delimiter, validate this, sanitise those characters or use somet

[2022-05-31 11:27] kristiansaarela commented on #4596
I agree that some kind of improvements should be applied. Specially since it was 2nd command in Firebase documentation (`firebase init`), and it failing by default does not provide confidence.

I've removed comments from rules in Firebase console (web) and it works now.

Thank you for helping.

[2022-05-31 13:55] zenbakiak commented on #4595
@Blidnight I'm using the current stable version, same error:

[code]

[2022-05-31 14:17] phath9 commented on #4588
Having similar issue. The problem arises when I tried to putFile to storage but no problem when accessing file. The emulator will abruptly stop without giving any meaningful info.

[2022-05-31 15:22] phath9 commented on #4588
It seems to be related to storage rules.
From my testing, only `allow read, write: if true;` works.
Any other complex rules will break the Emulator.

[2022-05-31 15:40] bkendall commented on #4595
@julienlebren I see you're using `v15`, which is not a stable version of node. Upgrade to >= 16.2 and it should work for you. I'm not sure where or if in v15 [node: imports](https://nodejs.org/api/esm.html#node-imports) were added

[2022-05-31 16:03] julienlebren commented on #4595
Upgrade to node 16 solved the issue, thank you.

[code]

[2022-05-31 17:44] tohhsinpei commented on #4470
Thanks all for the reports. I've managed to reproduce the issue; will try to put in a fix either this or next week.

[2022-05-31 19:43] bkendall commented on #4591
0. I'm unable to support/test the `firebase-cli` brew package version since it being wrapped in whatever brew does isn't something we control - sorry.
1. What version of node are you using?
2. It's very likely that this has something to do with your local setup. From the same machine, do you have any issues curl-ing or opening `https://firebase-public.firebaseio.com/cli.json` in a browser?

[2022-05-31 19:50] bkendall commented on #4596
Huh, this is curious. I'll raise this with the rules team and see if the API is supposed to be able to parse out the comments, or if the CLI has to remove them before submitting them (which seems wrong).

[2022-05-31 20:02] bkendall commented on #4596
Ah, I see what's happening. When the new request library is making the request, it automatically tries to parse the response as JSON which is incorrect 'cause _this_ version of "JSON" can have comments. I'll adjust the requests so it just looks at them as strings and that should clear up the issue.

[2022-05-31 20:15] ApoorvaJ commented on #4594
Thank you for the clarification and for the workaround.

I guess the bug then was that my method somehow worked at all at any point (and I've got the test successes to prove it). 😅

I haven't tried it out yet, but I'm closing this bug, since the workaround should be valid for me.

[2022-06-01 07:54] benomatis commented on #4578
Added info: if I know the document id, and either type it in in the address bar as part of the query string, or in the emulator UI on top of the collection list at the end of the path, and then reload (sometimes a couple of times), it will show the document details then, but only then.

[2022-06-01 08:38] zxt385189207 opened #4604 "Failed to upload symbols"
### [REQUIRED] Environment info

**firebase-tools:firebase-tools**

**Platform:Windows**

### [REQUIRED] Test case

1. i set the HTTPS_PROXY or HTTP_PROXY value in your environment to the URL of your proxy
2. Firebase CLI command:firebase crashlytics : symbols:upload --app=FIREBASE_APP_ID PATH/TO/SYMBOLS
3. Error: Failed to upload symbols

output : com.google.firebase.crashlytics.buildtools.reloc.

[2022-06-01 12:08] if-fi opened #4605 "Functions cannot access Firebase Secrets, when i debug (inspect) mode"
### [REQUIRED] Environment info

**firebase-tools:11.0.1**

**Platform:MacOS**

### [REQUIRED] Test case

[code]

### [REQUIRED] Steps to reproduce

1. Add a secret: `firebase functions:secrets:set TEST_API_USER`
2. Run functions emulator in debug mode: `firebase emulators:start --inspect-functions --only functions`
3. Trugger the function `http://localhost:5001/<PROJECT_NAME>/europe-west3/testSec

[2022-06-01 13:28] #4049 closed, assigned to bkendall

[2022-06-01 17:59] byanes commented on #4371
I'm also very interested on this feature, would be super helpful!

[2022-06-01 22:24] #4050 closed

[2022-06-01 22:24] #4094 closed

[2022-06-02 08:18] exaby73 opened #4610 "`firebase app:sdkconfig` throws argument error"
### Environment info

**firebase-tools:** 11.0.1

**Platform:** MacOS

### Test case

Getting SDK config for android or iOS apps does not work.

### Steps to reproduce

Run `firebase app:sdkconfig android com.example.app --project=project-name`

### Expected behavior

Output the contents of `google-services.json`

### Actual behavior

[code]

I believe this is happening because the tool is not add

[2022-06-02 11:18] olve commented on #3919
any updates on this?

[2022-06-02 16:57] adelbenhamadi commented on #1627
it's just a conflict of names just execute:
`firebase.cmd login` instead of  `firebase login`
this will resolve the conflict

[2022-06-02 17:11] lokenjon commented on #3432
How many hundred of thousands of developers will download **TO THE D DRIVE** (not C) and run firebase-tools-instant-win.exe only for the installation to fail without a meaning full error message. At least put in a warning statement that the exe file should be placed on the C drive before running. Took me hours of hair-pulling to register a flutter project.

[2022-06-02 17:57] bkendall commented on #4610
I can replicate this - I even see a couple other bugs along the way. I'll see if I can fix it up :)

[2022-06-02 18:00] bkendall commented on #4610
Actually, I think the arguments used here are wrong. The App ID  is a string that looks like `1:[projectnumber]:android:[hex]`. Take a look at `apps:list` for the App ID to be listed there.

[2022-06-02 22:14] steveoh commented on #2224
Should this export auth accounts as well?

[2022-06-03 07:59] exaby73 commented on #4610
Hey @bkendall. Thanks for the input there, and yes, you were right. I just looked into it a bit more and that's exactly what I need. I'll close this issue. Thanks again :)

[2022-06-03 07:59] #4610 closed

[2022-06-03 13:44] Girildo opened #4613 "[Firebase functions emulator] Introducing a runtime error in the top level scope crashes the emulator."
### [REQUIRED] Environment info

**firebase-tools:** 11.0.1

**Platform:** Windows

### [REQUIRED] Test case

Any javascript runtime error *in the global scope* (that is, outside the body of any cloud function definition) crashes the emulator.

### [REQUIRED] Steps to reproduce

1. Run `firebase init` in an empty directory.
2. Select only functions emulator, javascript (also happens with typescrip

[2022-06-03 14:43] Klabauterman opened #4614 "Firebase deploy trigger functions with dotenv not working"
### [REQUIRED] Environment info
**firebase-tools:**
11.0.1

**Platform:**
macOS

### [REQUIRED] Test case
I have added a .env file providing some variables:

`STORAGE_UPLOAD_BUCKET=mycustombucket`

Then i want to use this variable to create a trigger:
[code]

The problem is that STORAGE_UPLOAD_BUCKET is not defined during the time of deployment, so the trigger gets deployed for the default bucket,

[2022-06-03 19:08] janitha09 commented on #4589
@akauppi

[code]

You are calling the REST API. I do not understand how this solves docs not being created etc. The fetch in this function is the equivalent of a setDoc.

[2022-06-03 20:44] Tal-Idan commented on #4465
I have encoutntered the exact same issue already in:
firebase init functions

I have tried different versions (10.6.0, 10.7.0, 10.7,1, 10.8.0, Latest version) but none of them worked.

here is the debug output:

=== Functions Setup
[info]
[info] A functions directory will be created in your project with sample code
[info] pre-configured. Functions can be deployed with firebase deploy.
[info]
[debu

[2022-06-04 03:03] zxt385189207 commented on #4604
macos set httpproxy is working
[code]

window set httpproxy dont work
[code]
Is it a tool bug?

[2022-06-04 10:37] LaCocoRoco opened #4615 "Firebase Functions Ignore Pattern Format"
### Environment info
**firebase-tools:** 11.0.1
**Platform:** Windows 10

### Test case
This should not be necessary.
It is a general problem and  can be verified with any project.

### Steps to reproduce
After reading many Issues on Stackoverflow and Github i couldn't find a solution for my problem.
It took me hours to pinpoint down my problem.
There are two issues i have at deploying firebase fu

[2022-06-04 13:30] munjata commented on #4566
@yuchenshi this workaround works.
To remove the standalone version:
[code]

[2022-06-04 17:10] ninest commented on #2379
I found this issue after Googling the error

[2022-06-04 17:59] rhuanbarros commented on #3092
I have the same issue

[2022-06-04 18:25] anantakrishna commented on #4613
And not only emulator. Deployment also crashes:

[code]

All I do is initializing the grammy bot:

[code]
On deployment the `.secrets.local` file is not loaded, neither the real secrets storage is accessed, I believe. In the emulator, seems that all the secret values are loaded only when the emulator is actually up and running (on the first request), but not during the startup time. Therefore, the

[2022-06-04 18:38] anantakrishna commented on #4613
Just checked, the same issue occurs with emulator on `firebase-tools@^10` and `firebase-tools@^9`.

Therefore, it seems to be a long-living issue/feature. However I don't tend to treat it as a feature because the documentation specifically [suggests to use global variables to reuse objects in future invocations](https://firebase.google.com/docs/functions/tips#use_global_variables_to_reuse_objects_

[2022-06-04 20:33] rhuanbarros commented on #3092
I just recreated the project in WSL Ubuntu, installed java 11, and everything worked just fine.

[2022-06-05 04:18] thephfernandes opened #4616 "JSON parsing error when running firebase init"
### [REQUIRED] Environment info

**firebase-tools:** 11.0.1

**Platform:** Windows

### [REQUIRED] Test case

- Install firebase CLI
- Run `firebase init`
### [REQUIRED] Steps to reproduce
- Run `firebase init` inside a project
- When asked which features to automatically set up, select ` Firestore: Configure security rules and indexes files for Firestore`
- Enter the default filename for Realtime

[2022-06-05 08:42] idhowardgj94 opened #4877 "database emulator seems not support "indexOn" rule setting."
**Describe the bug**
Using realtime database with localhost emulator.

**To Reproduce**

1. setting rules as follow:

[code]
2. start firebase emulator:

[code]

3. insert some sample data:

[code]
4. Try to search data by "groupName" (using clojureScript with `shadow-cljs`, firebase sdk version `9.8.1`)
[code]
5. see the error in console (test in firefox, version `101.0`)
[code]

connect to produ

[2022-06-05 15:45] kdavong commented on #4616
Hi,

When you actually use firebase init command, do you use an existing project? In this case, you should check your Realtime Database rules directly in your firebase console, because Firebase Init will try to copy it in local. Try to delete all comments in.

[2022-06-05 18:30] thephfernandes commented on #4616
My realtime database rules looks like this:
![image](https://user-images.githubusercontent.com/45126718/172065076-7e0d653b-b080-4b51-bd98-68a821414993.png)

Which matches the content of the request body posted in my original message

But it seems escaping characters with"\" isn't working properly after the response.

[2022-06-05 19:05] kdavong commented on #4616
Try to add an EOF in your json rules. (7th empty line)

[2022-06-06 08:34] dvoloshyn opened #4617 "Cannot start emulator with only 'beforeSignIn' blocking function"
### [REQUIRED] Environment info

**firebase-tools:** 11.0.1

**Platform:** Manjaro Linux

### [REQUIRED] Test case

`
export const beforeSignIn = auth.user().beforeSignIn((user, context) => {
});
`

### [REQUIRED] Steps to reproduce

1. Create a firebase blocking function 'beforeSignIn', do not create a function 'beforeCreate'
2. Try to start local emulator for functions and auth
3. Observe errors

[2022-06-06 09:29] asee69 commented on #4279
i can not deploy file in firebase

[2022-06-06 18:42] #4048 closed

[2022-06-06 20:08] #4093 closed

[2022-06-06 20:22] #4084 closed

[2022-06-06 20:22] #4085 closed

[2022-06-06 20:22] #4086 closed

[2022-06-06 20:22] #4087 closed

[2022-06-06 20:22] #4088 closed

[2022-06-06 20:22] #4089 closed

[2022-06-06 20:22] #4090 closed

[2022-06-06 21:07] BookmanAG commented on #653
I am suffering from the same issue since today as I have been deploying CF with NX Workspaces using @simondotm nx-firebase library to Firebase using Node 10 until today, when for some unknown reason the deployments fail with the same error right after the dist/app-name folder was uploaded successfully.

Anyone has idea of what is happening?

[2022-06-06 21:39] #4046 closed

[2022-06-06 21:39] #4053 closed

[2022-06-06 21:39] #4054 closed

[2022-06-06 21:39] #4055 closed

[2022-06-06 21:39] #4056 closed

[2022-06-06 21:39] #4076 closed

[2022-06-06 21:39] #4044 closed

[2022-06-06 21:39] #4045 closed

[2022-06-06 22:38] #4041 closed

[2022-06-06 22:38] #4047 closed

[2022-06-06 22:38] #4072 closed

[2022-06-06 22:38] #4074 closed

[2022-06-06 22:38] #4077 closed

[2022-06-06 22:38] #4081 closed

[2022-06-07 03:38] Dulajdeshan opened #4625 "Firebase extensions non-interactive mode ( unknown option '--params')"
### [REQUIRED] Environment info

**firebase-tools:** 11.0.1

**Platform:** macOs

### [REQUIRED] Test case
`firebase ext:install firestore-send-email --force --local --params=extensions/firestore-send-email.env.local`

### [REQUIRED] Steps to reproduce
Try to install firestore-send-email extension by using non-interactive mode by passing `--params=envFilePath`
`firebase ext:install firestore-send-

[2022-06-07 06:04] jirizavadil opened #4626 "Unable to deploy 8GB functions"
### [REQUIRED] Environment info

**firebase-tools:** 11.0.1

**Platform:** macOS Monterey 12.4 (21F79)

### [REQUIRED] Test case

[code]

### [REQUIRED] Steps to reproduce

1. run emulator or deploy

### [REQUIRED] Expected behavior

running or deployed function

### [REQUIRED] Actual behavior

[code]

Link to docs allowing 8GB deployment: https://cloud.google.com/sdk/gcloud/reference/functions/de

[2022-06-07 08:03] aberhiberus opened #4627 "Unable to init project"
### [REQUIRED] Environment info

11.0.1

**Platform:**
 linux 5.13.0-41-generic #46~20.04.1-Ubuntu SMP Wed Apr 20 13:16:21 UTC 2022 x86_64 x86_64 x86_64 GNU/Linux

### [REQUIRED] Steps to reproduce

[code]
### [REQUIRED] Expected behavior

Firebase init should be able to initialise a project

[2022-06-07 11:31] Kiaala6 commented on #4546
I've got the exact same error when I was using node-fetch. Did you switch to any alternative e.g. axios or you used any other solution?

[2022-06-07 15:24] yeldarby opened #4628 "Port 5000 not actually in use"
### [REQUIRED] Environment info

**firebase-tools:** 11.0.1

**Platform:** macOS 12.3.1

### [REQUIRED] Test case

Run `firebase serve` shortly after killing a previous run of the hosting emulator (and while Google Chrome still has a window open on `localhost:5000`)

### [REQUIRED] Steps to reproduce

`firebase serve` in cli window, wait for emulator to start up, connect in google chrome, ctrl-c,

[2022-06-07 15:57] bkendall commented on #4627
Can you provide the output while using `--debug`? It's unclear what requests may be failing here.

That said, this is _probably_ a duplicate of #4596.

[2022-06-07 16:22] jamesdaniels commented on #4628
Good catch, we could achieve this by appending `-sTCP:LISTEN` to the lsof check

[2022-06-07 21:28] Fleker commented on #3473
+1 to this. I ran into this problem today when my attempts to deploy a function failed with no message at all. I just got a verbose printout of every function, which was not helpful as I only tried to deploy a single function.

[code]

This verbose message provided me with no information as to why it couldn't deploy, which provides me as a developer with no understanding of how to fix.

Once I ran

[2022-06-07 23:15] #4051 closed

[2022-06-08 01:15] patzj commented on #4617
I had to start the emulators separately. Functions first. After the functions initialized, I'm starting auth in a separate terminal.

[2022-06-08 02:19] yeldarby commented on #4628
Yeah that does appear to work:
[code]

[2022-06-08 13:59] 10ndavis commented on #4591
Worked for me. Thanks @ArcherN9

[2022-06-08 18:52] inlined commented on #3919
We've currently launched (but not well documented or added wizzard support for) codebases. With codebases you can have multiple directories of Cloud Functions. Simply create a firebase.json fragment that looks a bit like:

[code]

With this, you can now call `firebase deploy functions:main` or `firebase deploy functions:other`. Next, we're working on recognizing that a codebase hasn't been modifie

[2022-06-08 19:41] marcfrankel opened #4634 "Firestore realtime query with Timestamp field in where clause behaves incorrectly on Emulator"
### [REQUIRED] Environment info

**firebase-tools:** 11.0.1

**Platform:** macOS

### [REQUIRED] Test case

If you open up a realtime listener that uses a timestamp in the where clause and then you proceed to update that timestamp field (even if the update still satisfies the where clause) the document is counted as removed from the listener and further updates to that document are no longer liste

[2022-06-08 22:23] ayami123 commented on #2491
what if you deleted the rollback version ?

[2022-06-09 04:29] ArcherN9 commented on #4591
@bkendall  Yes, it does appear so. My work laptop has all sorts of proxies/DNS restrictions in place. I recently formatted my system and did not install the proxies - It works as expected now.

v18.2.0

Nope. That was the weird part - I was able to `curl` it, `wget` and open it on a browser. Just not when firebase cli executes it.

[2022-06-09 14:57] VitorBittencourt opened #4636 "Firestore emulator freezes/fails when doing document join using block()"
### [REQUIRED] Environment info

10.2.1
Windows 10

### [REQUIRED] Test case

https://github.com/VitorBittencourt/transaction-error.git

### [REQUIRED] Steps to reproduce

Create at least 1 document by POSTing to each of the following:
localhost:8080/foo/save/123
localhost:8080/bar/save/123

Then for a working non-blocking version, GET the join of the documents at:
localhost:8080/bar/join/123

The

[2022-06-09 15:13] imip opened #4637 "Authentication function not triggered in emulator behind a proxy"
### [REQUIRED] Environment info

**firebase-tools:** 10.9.2
**firebase-functions:** 3.21.2
**node**: 16.14.2
**OpenJDK:** 11.0.14

**Platform:** Debian - Bullseye

### [REQUIRED] Test case

Launch the emulator behind a proxy, set a no_proxy env variable, it doesn't matter, authentication calls seem to be sent to the proxy

### [REQUIRED] Steps to reproduce

- set up a proxy server
- set the env va

[2022-06-09 15:31] bkendall commented on #4591
Glad it's cleared up!

[2022-06-09 15:31] #4591 closed

[2022-06-10 06:19] CTOverton commented on #2914
Running into a similar issue but I can't seem to get clarification. In my case I'm using a `GET` request.

Wierd thing is, running the local cloud functions emulator all requests work fine and body exists, but in production the body is not.

[2022-06-10 07:47] RamsayGit opened #4639 "Firestore emulator transaction fails if document existed in the past"
### [REQUIRED] Environment info

**firebase-tools:** 11.0.1

**Platform:** Windows 11

### [REQUIRED] Test case

[code]

This is a simple Firestore transaction running with Flutter:

1. First run -> creates a new document since none exists at the referenced path
2. Second run -> document exists so it checks if field 'processed' is not set and if so writes an update, otherwise doesn't write/update

[2022-06-10 11:25] aberhiberus commented on #4627
Hi @bkendall,

The result of `--debug` is the following:

First, let's associate this project directory with a Firebase project.
You can create multiple project aliases by running firebase use --add,
but for now we'll just set up a default project.

[2022-06-10T11:21:08.629Z] Using project from CLI flag: hiberus-8509e
[2022-06-10T11:21:08.631Z] > refreshing access token with scopes: []
[2022-06-10

[2022-06-10 15:53] CTOverton opened #4640 "request.body empty when using hosting rewrite to target a function"
### [REQUIRED] Environment info

**firebase-tools:** 11.0.1

**Platform:** macOS

### [REQUIRED] Test case

request
[code]

firebase.json
[code]

code `index.ts`
[code]

code `core/index.ts`
[code]

### [REQUIRED] Steps to reproduce

Setup a hosting rewrite to a function, call the function via the hosting rewrite url with a request body.

### [REQUIRED] Expected behavior

Request body should not b

[2022-06-10 16:01] Buckwich opened #4641 "Emulator crash: There was an error reading package.json"
### [REQUIRED] Environment info

**firebase-tools:** `10.2.0` (first occurence), `11.0.1` (error still present)

**Platform:** macOS (v12.4; M1)

**Node.JS:** v16.15.0

### [REQUIRED] Test case

Setup a firebase Project with typescript support in a monorepo and use the hello world cloudFunction.

### [REQUIRED] Steps to reproduce

Start the functions emulator. Change some code and rebuild.

### [R

[2022-06-10 16:15] yeldarby commented on #4628
I've been running into this annoyance multiple times per day when switching between different projects so submitted a quick PR to fix.

[2022-06-11 07:35] ksXV opened #4644 "firebase hosting deploys overwritten files"
### [REQUIRED] Environment info

**firebase-tools:** 11.0.1;

**Platform:** Windows 10

**node-js**: 16.13.1;

### [REQUIRED] Test case

Set up a react project and add firebase to it

### [REQUIRED] Steps to reproduce

Deploy the project without running `npm run build` and then after.

### [REQUIRED] Expected behavior

Deploying my build files from `npm run build`.

### [REQUIRED] Actual behavior

[2022-06-11 07:39] ksXV commented on #4644
I've tried removing my node_modules & changing the firebase project both didn't work

[2022-06-11 08:40] vajahath opened #4645 "Unable to reconfigure/uninstall/list extensions installed locally but not deployed"
### [REQUIRED] Environment info

**firebase-tools:**  11.0.1

**Platform:** Ubuntu

### [REQUIRED] Test case

see the steps to reproduce:

### [REQUIRED] Steps to reproduce
[code]
I also tried with the `--local` flag.

### [REQUIRED] Expected behavior
I should be able to list/update/reconfig/uninstall extensions locally.

### [REQUIRED] Actual behavior
Always saying I'm not using any extensions.

[2022-06-11 20:43] kattatzu commented on #864
I solve with:

`chmod +x /Users/kattatzu/.nvm/versions/node/v16.15.1/bin/firebase`

[2022-06-12 01:59] fbarzin commented on #4617
I ran into the same issue on the emulator. So, I tried to deploy it to Firebase to see if it goes through and I got the following log on my console:

[code]

Seems like `auth.beforeCreate`  trigger is only available on Google Cloud Identity Platform (GCIP) which explains why [Firebase documentation](https://firebase.google.com/docs/functions/auth-events) doesn't mention anything about it.

[2022-06-12 11:39] david-potgieter commented on #4616
Workaround I used to get around this. Grab the Realtime DB rules from your console, and create a `database.rules.json` file manually locally. Remove the comments (as mentioned above) and ensure you have a well formed json and EOF.

Then run `firebase init`, and say `N` when prompted if you should overwrite the existing `database.storage.rules`. Rest of the init completes.

[2022-06-12 17:40] ksXV commented on #4644
It not because firebase.

[2022-06-12 17:40] #4644 closed

[2022-06-13 01:19] phongyewtong commented on #2837
i having this issue as well.

[2022-06-13 16:44] #4091 closed

[2022-06-13 18:50] joehan commented on #4645
Hi @vajahath, sorry to hear that this caused some confusion.

In order to configure, update, or uninstall an extension instance, you need to provide the instance id (which is the key in the `extensions` block of `firebase.json`). So, for your example:
[code]

Does this help?

[2022-06-13 18:51] joehan commented on #4641
@taeold this looks like it is probably related to when we switched the emulator to use runtime delegates - could you take a look when you have a chance?

[2022-06-13 20:16] yuchenshi commented on #2224
@steveoh Yes it does by default if the Auth emulator is started.

[2022-06-13 20:25] yuchenshi commented on #4279
@asee69 Please open a new issue and fill the template and we can help you from there.

[2022-06-13 20:32] bkendall commented on #4616
This should be resolved in `v11.1.0` (which is going out today). Sorry for not getting the fix out sooner.

Duplicate #4596

[2022-06-13 20:32] #4616 closed

[2022-06-13 20:37] joehan commented on #4615
Hey @LaCocoRoco, thanks for reporting this. I spent some time a while back trying to address this (see duplicate issue https://github.com/firebase/firebase-tools/issues/2677). Unfortunately, the solution you are currently using is the best one available right now.  Your proposed solution doesn't work because we ignore anything that matches at least 1 entry on the list - therefore, if you ignore "!

[2022-06-13 20:37] #4615 closed

[2022-06-13 20:38] joehan commented on #2677
Duplicate issue: https://github.com/firebase/firebase-tools/issues/4615

[2022-06-13 21:08] bkendall commented on #4640
Hey @CTOverton - this definitely sounds concerning. Since this is a production Hosting issue, could you file a bug with Firebase support? https://firebase.google.com/support/troubleshooter/report/bugs

Do feel free to mention this GH issue in the report, but that'll get an internal ticket going to investigate this (which, in this case, may cross a few different teams).

I'll see if I can replicate

[2022-06-13 21:18] joehan commented on #4625
Hey @Dulajdeshan, sorry for the confusion here, we should have a better error message for this (and I'll make a PR to do so in the next release). The `--params` flag was deprecated in v11. To install an extension noninteractively, you can now create an extensions manifest and use `firebase deploy`.

Looking at your test case, it seems like you are already pretty close. You should just need to add

[2022-06-13 21:19] bkendall commented on #4640
For what it's worth, I cannot replicate this issue. My code:

[code]

My firebase.json (snipped)

[code]

And when I curl:

[code]

[2022-06-13 21:40] bkendall commented on #4627
Yup, I think this is a dupe of #4596. New release of tools `v11.1.0` should fix the issue.

Duplicate of #4596

[2022-06-13 21:40] #4627 closed

[2022-06-14 03:03] CTOverton commented on #4640
@bkendall This might be related to the issue but unsure. I'm unable to do the ES6 imports like you did, when I try exactly how your code is setup my emulator won't run.

I get this error

Here is my package.json
[code]

And I'm running `firebase-tools:v11.1.0`, `node.js:16.15.1` and `npm:v8.11.0`

Any chance my setup is different than yours somehow? I did do a fresh `firebase init`

[2022-06-14 11:26] Dulajdeshan commented on #4625
@joehan  Let's say i want it to be initialize only in when running it in the testing pipeline. So since there is no way to just to initialize it when running the pipeline. Am I right?

[2022-06-14 11:34] penx opened #4647 "OAuth Callback URL for emulators when using sign-in provider"
### [REQUIRED] Environment info

**firebase-tools:** 11.0.1

**Platform:** macOS

### [REQUIRED] Test case

I am trying to implement authentication with a provider such as GitHub using the authentication emulator and without client side javascript (ie auth code flow)

I don't see the OAuth Callback/Redirect URL for the local emulators documented, but `http://localhost:9099/emulator/auth/handler` s

[2022-06-14 14:49] SohelIslamImran opened #4648 "Error: TIMEOUT: Port 8080 on 0.0.0.0 was not active within 60000ms"
### [REQUIRED] Environment info

**firebase-tools: 11.1.0**

**Platform: Windows**
**Node: 16.15.1**

### [REQUIRED] Test case
[code]

### [REQUIRED] Actual behavior

i  extensions: Downloaded to C:\Users\sohel\.cache\firebase\extensions\algolia\firestore-algolia-search@0.5.12...
!  functions: The following emulators are not running, calls to these services from the Functions emulator will affect

[2022-06-14 15:37] joehan commented on #4625
@Dulajdeshan not sure I fully understand your use case, but I suspect there is a way to do what you want. Could you provide more detail on the testing pipeline you want?

If you're looking to _only_ emulate the extension during the testing pipeline but not deploy them, you can add the `--only` flag to `firebase deploy` to control which products you deploy.

[2022-06-14 15:58] inlined commented on #4626
I can't reproduce your issue no matter how hard I try. The error is coming from the `firebase-functions` SDK, not the CLI. Can you try running `npm install --save firebase-functions@latest` and see if that solves your problem?

[2022-06-14 16:28] bkendall commented on #4640
Glad you got it working! `import cors from "cors"` is the ESM version of `import * as cors from "cors"`, so that's the diff. Look up `type: "module"` for `package.json` in node modules for more info. My default 'testing things' workspace I've moved to ESM 'cause I was testing stuff, and it does save a few characters from time to time (and lets me use other modules that are in ESM)

The behavior of

[2022-06-14 16:49] inlined commented on #4614
The current solution does not inject environment variables during deploy time. For roadmap reasons (largely our alignment with Firebase Extensions) we need our "discovery" phase to happen without project-specific details like environment variables. Instead we have an upcoming feature where you can declare a parameter to your application and the deploy process will work with you to resolve those pa

[2022-06-14 16:49] #4614 closed

[2022-06-14 23:10] SanSanych77 opened #4650 "ReCAPTCHA, web app, and App Check"
I filed a support ticket about this a while ago but I wanted to open a wider discussion on this topic in case other developers are unaware of this issue.

---

Because App Check in web apps uses ReCAPTCHA v3 by default, it is not possible for a web app to use App Check and be GDPR compliant without first replacing ReCAPTCHA with your own custom attestation provider. There are several sources where

[2022-06-15 01:02] yuchenshi commented on #4604
Hi, thanks for reaching out! This sounds like a network issue and please make sure you can reach the Firebase servers from your network.

[2022-06-15 01:04] zxt385189207 commented on #4604
@yuchenshi The network is not accessible, so I need to set up the proxy, but I set up the proxy on Windows does not work with Firebase-Tools, but it does work on Macos

[2022-06-15 01:17] yuchenshi commented on #4578
Hi all, thanks for the information. Look like this wasn't a known problem (e.g. identifier format or special characters) and we'll gladly help digging into this. Would any of you mind providing the export dump used? If it consists of sensitive data, consider stripping them (as long as the issue can still be reproduced), or sending it privately to Firebase Support.

[2022-06-15 01:27] yuchenshi commented on #4604
Got it. For setup-specific questions and network issues, please reach out to [Firebase Support](https://firebase.google.com/support)

[2022-06-15 01:37] yuchenshi commented on #4613
If I understand correctly, the OP is requesting that top-level runtime errors in general, such as `thisIsNotDefined()` that has nothing to do with `process.env`, not crash the emulator. This is a bug fix / feature request in the emulator only.

@anantakrishna I believe you have a different problem with OP, which is caused by environment variables not being available during discovery and startup. P

[2022-06-15 01:44] zxt385189207 commented on #4604
thanks

[2022-06-15 11:42] #4647 closed

[2022-06-15 11:44] penx commented on #4647
Closing as I'm pretty sure:

- http://localhost:9099/emulator/auth/handler is what the client SDK will redirect to, but requires the client SDK in order to work (via sharing of session storage via an iframe)
- in order to have a callback url on localhost without using the client SDKs, I need to implement the callback URL myself and use the signInWithIdp REST endpoint - which works with the Google

[2022-06-15 16:14] benomatis commented on #4578
@yuchenshi I'll try to create a masked data dump for you, but it may take a couple of days at least, but I am very much willing to help in the interest of all, and of course myself :)

[2022-06-15 16:19] bkendall commented on #4650
Thanks for posting this here, but I'm going to close this since it doesn't have to specifically do with the Firebase CLI. Reaching out to Firebase Support is the best bet for raising this on the app check teams' priorities.

[2022-06-15 16:19] #4650 closed

[2022-06-15 17:08] CTOverton commented on #4640
That is totally understandable haha, thanks so much @bkendall !!

[2022-06-15 18:30] mikhail-tokarev opened #4655 "unable to update CLI tools to the latest version on macOS"
**firebase-tools:** 9.3.0

**Platform:** macOS

I follow steps from the documentation to update CLI tools https://firebase.google.com/docs/cli#macos

[code]

I expect the CLI tools should be updated to the latest version, but it says "Nothing to do" instead.

[2022-06-15 19:17] bkendall commented on #4655
I think the error message here is a _bit_ misleading. Taking a look at the docs:

[code]

So I think you installed `firebase-tools` a different way before. Would `npm i -g firebase-tools@latest` work for you? Otherwise, if you want to move to this version, you could do `npm un -g firebase-tools` to remove the version installed in `npm`.

`which firebase` could help you understand where `firebase-t

[2022-06-15 20:57] trex-quo opened #4656 "Aliased .env file skipped erratically during function deployments"
### [REQUIRED] Environment info

**firebase-tools: 11.0.1**

**Platform: macOS**

### [REQUIRED] Test case

`firebase deploy --only functions:functionName`

### [REQUIRED] Steps to reproduce

1. Create a `.firebaserc` file in `functions` directory and assign an alias for the project
[code]
2. Create a `.env` file in the functions directory for the appropriate alias e.g. `.env.prod`

### [REQUIRED]

[2022-06-15 21:22] christhompsongoogle commented on #4545
Values observed in production:

firebase.auth().currentUser.uid
'v2VQPUoCnCZxlxgmEFQwy3Wd3kG2'
firebase.auth().currentUser.providerData[0].uid
'109047843236878834542'

firebase.auth().currentUser.providerId
'firebase'
firebase.auth().currentUser.providerData[0].providerId
'google.com'

Full providerData:
displayName: "Chris Thompson"
email: "[redacted]@gmail.com"
phoneNumber: null
photoURL: "https

[2022-06-16 00:44] nesimtunc commented on #3092
Experiencing the same issue. None of those solution works for me.

[2022-06-16 09:47] dahu33 commented on #4382
@taeold any update on this? It's broken since firebase-tools v10.2.0 so we are stuck on a old version which has other bugs... We would appreciate a solution.

[2022-06-16 10:42] realPhillight commented on #3781
Hi @ChromeQ ,
I have exactly the same issue.
Where you able to solve it?
Any ideas on how I can solve it?
Thanks,

[2022-06-16 14:15] tooga opened #4695 "Function secrets with special characters are returned with the escape backslash"
### Related issues

### [REQUIRED] Version info

**node:**14

**firebase-functions:**3.21.2

**firebase-tools:**11.1.0

**firebase-admin:**10.0.2

### [REQUIRED] Test case

Follow the steps to reproduce below for a test case

### [REQUIRED] Steps to reproduce

1) Create a new Firebase secret: TEST_SECRET with value `\\123\\123`
`firebase functions:secrets:set TEST_SECRET` and give it a value `\\12

[2022-06-16 14:18] VictorLNoCapInc commented on #3517
Hey, bump for the access of `process.env` during Trigger Parsing (environment we used to load user code in order to parse function triggers).
It messes up a lot of architectures actually.

For instance, when you have a staging env and you want to listen for changes on different buckets...

[2022-06-16 15:05] jzabinski-dolios opened #4657 "Java services for firestore not shut down properly when running with database"
### [REQUIRED] Environment info

Firebase 10.8.0

**firebase-tools:**
10.8.0

**Platform:**
macOS 11.6.6, VSCode 1.68.0

### [REQUIRED] Test case

This issue involves workflow/configuration, not code.

### [REQUIRED] Steps to reproduce

1. Download the Firebase Tools.
2. Open a macOS terminal. Navigate to a folder in which you want to configure Firebase.
4. Run `firebase init` to initialize Fireba

[2022-06-16 15:28] bkendall commented on #3781
I'm sorry I'm only now coming back to this.

I believe this is working as intended, unfortunately. Hosting doesn't start the UI because it doesn't require the UI. If another feature is enabled (like Functions) the UI will start, but since the UI wouldn't be useful, it makes sense to not start it.

I'm going to defer decision ultimately to the emulators team, but I've also made a PR to have a bette

[2022-06-16 21:59] benomatis commented on #4578
@yuchenshi I now have a masked copy of the dataset I use in my emulator. How should I share it?

[2022-06-17 14:37] jjonte-dwellup opened #4663 "Deployments are broken"
### [REQUIRED] Environment info

**firebase-tools:** 11.1.0

**Platform:** MacOS

### [REQUIRED] Test case

Create a new project and include functions. Try to deploy it.

### [REQUIRED] Steps to reproduce

Type `firebase deploy` in a console on a newly created project.

### [REQUIRED] Expected behavior

The application is deployed.

### [REQUIRED] Actual behavior

An error is received: `Error: An

[2022-06-17 14:50] bkendall commented on #4663
Have you run `npm install` in your directory with your functions? If it's not finding the `firebase-functions` binary, that's usually why.

[2022-06-17 16:52] bkendall commented on #4663
@jjonte-dwellup could you reduce the number of things you're deploying and try again? You're deploying all of "storage, firestore, functions, hosting, remoteconfig" - can you `--only` each of those and see where the problem stems from? I'm unable to replicate this just by initializing a project with functions, so it's probably coming from something else.

[2022-06-17 16:58] jjonte-dwellup commented on #4663
Sure.

[code]

Logfile
[code]

[2022-06-17 17:08] bkendall commented on #4663
Ahh - last guess - can you update your version of `firebase-functions`? I _think_ there's a minimum required version of 3.20.0 at this point. doing `npm i --save firebase-functions@latest` in your functions directory doesn't fix this, I'd be very stumped.

If that _does_ fix it, then there's an issue where we aren't making that check correctly and will have to fix it.

[2022-06-17 17:20] jjonte-dwellup commented on #4663
Done, but it did not resolve the issue.

[code]

Curiously, when I try to start the functions emulator from the project's _root_ directory , I receive the same, totally useless error message. However when I start the emulator from the _functions_ directory it starts up no problem.

[code]

[2022-06-17 22:02] steveoh commented on #2224
What are the exit methods that trigger export?

[2022-06-18 11:14] vahagn-harutyunyan commented on #3930
+1

[2022-06-18 19:18] hoyelam commented on #2767
I experienced this issue as well. In my case, there was a `FIREBASE_TOKEN` hardcoded in my bash profile/zshrc. Remove that and you should have fixed it.

[2022-06-18 23:13] zehrasarac commented on #626
That solved me the problem:
exp 11.0.0 version for
- npm i firebase-tools@11.0.0

[2022-06-19 03:33] anantakrishna commented on #4614
@inlined can you please explain why it was decided to provide runtime config in discovery phase (#4541), but not the environment variables?

[2022-06-19 22:19] mikehardy commented on #4547
Still happening on current version 11.1.0

[2022-06-19 22:25] mikehardy commented on #3398
I've got fresh results right with storage emulator from release v11.1.0 (current here as of this typing)
I'm down to two thing only -

1) When you first put an object in storage on the cloud storage with no specific metadata set, StorageMetadata.cacheControl is null as expected (using firebase-android-sdk or firebase-ios-sdk, firebase-js-sdk is untested)

When you do the same thing against the sto

[2022-06-20 04:37] parisa7103 commented on #77
I am using firebase version 11.0.1, and the problem still exists. when I try to run `firebase init` I faced this error ` Failed to make request to https://firebase-public.firebaseio.com/cli.json`.
I tried to log out and log in again, but the error is shown at the end of each response.

[2022-06-20 05:11] parisa7103 commented on #2927
I am using firebase version 11.0.1, and the problem still exists. when I try to run firebase init I faced this error Failed to make request to https://firebase-public.firebaseio.com/cli.json.
I tried to log out and log in again, but the error is shown at the end of each response.

[2022-06-20 13:38] a-b-kudinov opened #4939 "Disabling warnings message in the console of emulators."

[2022-06-20 17:34] cupidchan opened #4671 "24 vulnerabilities (17 moderate, 7 high)"
### [REQUIRED] Environment info

**firebase-tools:**
11.1.0

**Platform:**
macOS

### [REQUIRED] Test case
run `npm audit fix`

### [REQUIRED] Steps to reproduce
run `npm audit fix`

### [REQUIRED] Expected behavior
0 vulnerabilities

### [REQUIRED] Actual behavior
Received the following vulnerabilities report. Even though some of them are listed fix available via `npm audit fix`, it is not the ca

[2022-06-20 17:40] #4671 closed

[2022-06-20 22:22] MorenoMdz opened #4672 "Emulator dashboard timeout when accessing exported data"
<!-- DO NOT DELETE
validate_template=true
template_path=.github/ISSUE_TEMPLATE/bug_report.md
--

### [REQUIRED] Environment info

Tools v11.1.0
**firebase-tools:**

**Platform: MacOS**

### [REQUIRED] Test case

Loading any kind of production seed makes the emulator UI timeout.

### [REQUIRED] Steps to reproduce

Load an export from Firestore, at around 50mb is enough o make the UI not work.

###

[2022-06-20 22:44] cupidchan opened #4673 "24 vulnerabilities (17 moderate, 7 high)"
### [REQUIRED] Environment info

**firebase-tools:**
11.1.0

**Platform:**
macOS

### [REQUIRED] Test case
`npm audit`

### [REQUIRED] Steps to reproduce
just run `npm audit`

### [REQUIRED] Expected behavior
No vulnerabilities

### [REQUIRED] Actual behavior
To be fair, not all vulnerabilities are due to firebase (e.g. ngx-quill is my own library) but report shows majority of the vulnerabilities

[2022-06-21 01:24] #4673 closed

[2022-06-21 11:12] akauppi commented on #2554
I'm also tackling with similar.

If you're still on this (2 years later!!!!):

- are you sure the calls lead to the emulators?  `.firebaseio.com` looks suspicious
- By using `demo-blah` (anything starting with `demo-`) one makes sure the calls will not aim at the real Firebase project in the cloud.

[2022-06-21 19:41] inlined commented on #4614
We didn't remove Runtime Config from the discovery phase for reverse compatibility reasons, though it is going away in general (no ETA yet). We don't populate dotenv files during the discovery phase because our reconciliation between Functions and Extensions requires us to be able to determine the shape of the deployment generically outside the context of the project/environment variables. We'll d

[2022-06-22 00:34] hebadi commented on #4566
Hello as of June 21, this is still not working if having installed firebase via the autoinstall script which would install firebase 11.1.0.
To fix this, as mentioned above, i had to move my firebase to another directory and install firebase again using npm. this method allowed me to run the emulator

[2022-06-22 01:40] yuchenshi commented on #4578
Thanks for uploading the export. With that, I've successfully reproduced the issue and I've passed it on internally to the relevant teams. We are unable to promise any timeline for this, but if others also have this issue, adding a +1 on this issue can help us prioritize adding this to the roadmap.

(Googler-only internal tracking bug: b/236770121)

[2022-06-22 01:47] yuchenshi commented on #4578
Also, I've isolated the issue to the Firestore emulator -- the issue can be reproduced even without the UI. However, the problem does not happen with non-realtime requests, such as `curl 'http://localhost:8080/v1/projects/demo-example/databases/(default)/documents/bookings'`.

Therefore, a possible workaround would be exporting all relevant data using REST API / Node.js admin / Firestore JS SDK **

[2022-06-22 06:37] MiguelNiblock commented on #2228
def still happening

[2022-06-22 07:43] feryardiant commented on #4613
Hi

I came across similar errors but different case, in my case I'm using typescript, with :

**firebase-tools:** 11.1.0
**Platform:** MacOS Monterey 12.4

Here's the debug output:

[code]

[2022-06-22 10:15] keshabmanni opened #4675 "FirebaseError: Failed to make request to https://firebase.googleapis.com/v1beta1/projects?pageSize=100"
[debug] [2022-06-22T10:04:21.335Z] ----------------------------------------------------------------------
[debug] [2022-06-22T10:04:21.336Z] Command:       C:\npm\node-v16.15.1-win-x64\node.exe C:\npm\node-v16.15.1-win-x64\node_modules\firebase-tools\lib\bin\firebase.js init
[debug] [2022-06-22T10:04:21.336Z] CLI Version:   11.1.0
[debug] [2022-06-22T10:04:21.337Z] Platform:      win32
[debug] [20

[2022-06-22 13:15] bkendall commented on #4675
Couple things to check, I suppose:

1. Can you run `firebase projects:list` with success?
2. Does running the command on the C drive, rather than the D drive, give you different results?

[2022-06-22 13:37] keshabmanni commented on #4675
1. No, its error from same command(firebase projects:list). firebase init command also gives similar error.
2. no its same result.

[2022-06-22 13:41] bkendall commented on #4675
1. Are you able to access `https://firebase.googleapis.com/v1beta1/projects` from a web browser? It should return some type of error without any auth tokens.
2. Are you running with a proxy of any kind set up? Is it possible to try from a different network?

These types of issues are usually pretty hard to debug since it can be something very specific to one's setup...

[2022-06-22 14:03] keshabmanni commented on #4675
1. It shows json message: "Request is missing required authentication credential. Expected OAuth 2 access token, login cookie or other valid authentication credential. See https://developers.google.com/identity/sign-in/web/devconsole-project."

2. No im not using any proxy. I tried from different network but same error.

[2022-06-22 14:14] DennisAshford commented on #4340
Did you find a solution to this issue? I am running into the same error and cannot figure out why.

[2022-06-22 16:32] #3781 closed

[2022-06-22 17:47] l-monninger commented on #4340
I ended up moving away from the rules API as a means of access control, so no.

[2022-06-22 18:10] christhompsongoogle commented on #4545
Since this emulator behavior matches the production behavior, this is WAI from the emulator perspective. I spoke with the Access team and they don't have a plan to update this right now.

Please contact Support with any feedback to help the team prioritize this issue.

[2022-06-22 18:10] #4545 closed

[2022-06-23 17:52] akauppi commented on #2215
Voting for `undici` since the Node implementation is using it.

[2022-06-23 21:43] kiptoomm commented on #3092
Same problems here. My setup:

$ java -version
java version "18.0.1.1" 2022-04-22
Java(TM) SE Runtime Environment (build 18.0.1.1+2-6)
Java HotSpot(TM) 64-Bit Server VM (build 18.0.1.1+2-6, mixed mode, sharing)

$ firebase -V
11.1.0

$ sw_vers
ProductName:	Mac OS X
ProductVersion:	10.15.5
BuildVersion:	19F101

$ node --version
v16.4.2

[2022-06-24 07:29] mqp opened #4679 "v2 Cloud Function deploy doesn't respect `cpu` config"
### [REQUIRED] Environment info

**firebase-tools:** 11.1.0

**Platform:** Arch Linux

### [REQUIRED] Test case

Define a function like this:

[code]

### [REQUIRED] Steps to reproduce

Deploy the function.

`firebase deploy --only functions:test`

Observe on the dashboard that it is created with a CPU of only 1.

To get the CPU value to be respected, I had to fix `firebase-functions` to pass thro

[2022-06-24 09:24] jeevcat commented on #4284
We're building a Firebase Extension, and I'm also seeing a similar error but as far as I can tell my Firestore trigger path is valid. I think the issue is related to the extension parameter substitution. `COLLECTION` is an extension parameter. This works for our extension users in production, but not with the emulator.

Path:

[code]

Error:
[code]

[2022-06-24 10:36] dsl101 commented on #4327
No need (I think) to reopen, but I've just had this happen again on CLI 11.0.1. I just deployed a set of functions to a different project, and all the new ones were deployed without public invoker.

I upgraded the CLI to 11.1.0, deleted the functions, and redeployed, and all seems OK. But I don't see any mention of this in the changelog or comparing those 2 versions...

Anyway, just wanted to log

[2022-06-24 13:20] Zelfapp opened #4680 "Firebase auth emulator passwordless sign in link, from console, is not working."
### Environment info

`firebase --version 11.1.0`, running on Manjaro linux.

When using firebase auth emulator, the console where `firebase emulators:start` is running, will output a link to [emulate passwordless sign in][1].

#### My app is built in Flutter. The following code creates the sign in link that is output in the emulator console.

[code]

#### Code above outputs links like the followi

[2022-06-24 13:48] markgoho commented on #3843
@yuchenshi I'd like to help with this as I'm not able to get _some_ emulators working

is there a place in the codebase where we've already established a pattern for automatically determining the environment?

In codespaces, there are env vars that exist like `CODESPACES=true` - so, just wondering where we could leverage this

[2022-06-24 13:58] markgoho commented on #3922
closing this as there is now a `--no-localhost` option that allows for logging into environments without a localhost to redirect to.

[2022-06-24 16:59] johnnyoshika opened #4681 "Remove authentication requirement from firebase functions:shell when using a demo project"
### [REQUIRED] Environment info

**firebase-tools:** 10.0.1

**Platform:** Windows

### [REQUIRED] Test case

Try to connect to a demo project using `firebase functions:shell` when not logged in to Firebase's CLI

### [REQUIRED] Steps to reproduce

1) Log out of Firebase CLI

[code]

2) Start Firebase Emulator with a demo project. Demo projects are described here: https://firebase.google.com/docs/

[2022-06-24 17:22] trex-quo commented on #4656
My temporary workaround has been to make sure that our predeploy script populates both the `.env` and `.env.{{alias}}` files with that project's environment variables. That way there is no chance of the environment variables being omitted. This defeats the purpose of the aliased .env files in my opinion, but the fix works for now.

[2022-06-25 02:45] tbm98 opened #4682 "Install failed on Ubuntu 22.04"
command: `curl -sL https://firebase.tools | bash`

terminal:
[code]

[2022-06-25 13:00] anantakrishna commented on #4614
Thank you for explanation, @inlined.

The documentation specifically [suggests to use global variables to reuse objects in future invocations](https://firebase.google.com/docs/functions/tips#use_global_variables_to_reuse_objects_in_future_invocations). I wanted to initialize an instance of a bot object providing it with a TOKEN from the environment variables, but the current behaviour makes it imp

[2022-06-25 17:40] Wxh16144 commented on #864
This command is not valid for me, but I can use sudo to reinstall it

[2022-06-25 17:40] Wxh16144 commented on #864
This command is not valid for me, but I can use sudo to reinstall it

[2022-06-25 21:20] benomatis commented on #4578
@yuchenshi I don't completely understand the workaround, can you please elaborate? I use firestore, not realtime database.

[2022-06-26 20:35] inlined commented on #4614
Yes, I would recommend checking the status of an environment variable before doing global initialization. So instead of:

[code]

change to

[code]

We are considering giving a startup callback as well so you can have code that runs only when a new instance is launched in production.

[2022-06-26 21:54] r-dev-limited commented on #3738
Yeah pubsub emulator still does not support scheduled functions/retry and there is not even proper docs in emulator suite explaining setup and limitations :(

[2022-06-27 01:00] #4645 closed

[2022-06-27 10:42] alexstanbury commented on #4470
I'm also seeing this issue. My hunch is it's because somewhere in the process the url is being encoded, in my case the upload path had a lot of `%2F` in, which I suspect Node is interpreting to be one long string and causing this error.

Interestingly, I tried updating my firebase-tools, functions and node installation, and now I get a rather useless `Error: An unexpected error has occurred.`

Thi

[2022-06-27 10:44] alexstanbury commented on #4588
This may be related to https://github.com/firebase/firebase-tools/issues/4470 and long file paths.

My storage rules are already set to `allow read, write: if true;` but I am still encountering this error.

[2022-06-27 15:06] bkendall commented on #4682
@tbm98 the script attempts to run with `sudo`, which should avoid most of these problems. Are you able to modify files in your `/usr/local/bin` directory with `sudo`? (e.g. `sudo touch /usr/local/bin/test-firebase`? you'd want to `sudo rm` that after too...)

[2022-06-27 17:31] anantakrishna commented on #2965
Seems that `--import` option still imports data into the `PROJECT_ID` database instance, not the default one `PROJECT_ID-default-rtdb`. I can't find an issue for this. Should I file it?

This is the Database emulator with the imported data. After the Admin SDK was initialized (from the Functions Shell), the emulator detected a new database:
![Screenshot 2022-06-27 225620](https://user-images.githu

[2022-06-27 17:44] benomatis commented on #4578
@yuchenshi How do I recreate the database from scratch? I mostly use node scripts using firebase admin that I subsequently run from the command line when I have specific data to extract - so do you mean I create a node script like that, for example, export the data into, say, an array, delete it from firestore, then re-import it from said array?

[2022-06-27 20:09] yuchenshi commented on #4578
Yes, that's pretty much it. You can also save the data somewhere else (e.g. in a file), restart the emulator (with no import) and continue the script from a clean start if that helps.

[2022-06-27 20:16] benomatis commented on #4578
Thanks @yuchenshi I may give that workaround a try if it becomes a serious problem.

[2022-06-27 20:17] thathurtabit opened #4684 "M1 Macbook: Error: listen `EADDRINUSE`: address already in use `:::9005`"
### [REQUIRED] Environment info

**firebase-tools:** 11.1.0

**Platform:** macOS 12.2.1

### [REQUIRED] Test case

I've just bought a new Macbook Pro (M1 Pro Chip) and have cloned a repo that runs without issue on my previous (non-M1) Macbook Pro - I mention this as I've heard M1 Macs won't run some applications...

Anyway,

* `npm i -g firebase-tools` - node version 16.14.2 | npm 8.5.0
* `$ fireb

[2022-06-27 20:31] kroikie commented on #2677
@joehan should this be closed?

[2022-06-27 20:34] bkendall commented on #2215
`request` is going to be completely removed in the next breaking change.

[2022-06-28 04:21] radvansky-tomas commented on #4566
Yep, that very similar to idea of releasing version 11 while keeping old functions versions....seems like no regression testing at all

[2022-06-28 04:52] giladmaker commented on #4613
[2022-06-22T06:29:28.476Z] Failed to parse functions.yaml incomplete explicit mapping pair; a key node is missed; or followed by a non-tabulated empty line at line 1, column 78:
     ... rce: TypeError [ERR_INVALID_URL]: Invalid URL
                                         ^ {"name":"YAMLException","reason":"incomplete explicit mapping pair; a key node is missed; or followed by a non-tabulated emp

[2022-06-28 05:47] jirizavadil commented on #4626
@inlined I'm such a disgrace, did not realize it's a `firebase-functions` issue, had that on `3.13.0` 🤦🏻‍♂️ Apologies for wasting your time.

[2022-06-28 05:47] #4626 closed

[2022-06-28 14:07] jakubcin commented on #4613
i have the same problem :/ tried to change many things, downgrading, but nothing helps so far

[2022-06-28 14:46] pangav2001 opened #4686 "Params are randomized when using shell to test firestore triggered function w/ emulated firestore instance"
### [REQUIRED] Environment info

**firebase-tools:** 11.1.0

**Platform:** Ubuntu-22.04 via WSL2 on Windows 11

### [REQUIRED] Test case

What I want to do is:

- Emulate Firestore
- Have a function that gets triggered when a write event occurs on Firestore
- Retrieve the wildcards that you can pass as parameters (as explained in https://firebase.google.com/docs/functions/local-shell) when calling

[2022-06-28 16:18] bkendall commented on #2677
Duplicate #4615

[2022-06-28 16:18] bkendall commented on #2677
Duplicate of #4615

[2022-06-28 16:27] bkendall commented on #4684
So it's trying to bind to the `[::]` IPv6 address. Can you confirm a couple things?

1. Does this work after a fresh reboot?
2. Do you have the host and/or port configured in `firebase.json`? Could you configure the host in `firebase.json` for the functions emulator to use `"host": "127.0.0.1"`? The DNS resolver is picking the IPv6 address (even though we configure it not to), so I'm a little conf

[2022-06-28 16:48] thathurtabit commented on #4684
Hi @bkendall - thanks looking into this.

Unfortunately the problem still remains after a couple of reboots.

My current `firebase.json` looks like:

[code]

I've tried to update as such (though I'm not sure if that's configured correctly):
[code]

But unfortunately it's the the exactly same error 😢

[2022-06-28 16:53] bkendall commented on #4684
https://firebase.google.com/docs/emulator-suite/install_and_configure#security_rules_configuration has an eexample of how to set up the emulator ports. you should be able to set up something like

[code]

[2022-06-28 17:05] thathurtabit commented on #4684
Thanks @bkendall -

**firebase.json** now looks like (which I'm hoping is correct)

[code]

but unfortunately looks like the same error:

[code]

[2022-06-28 17:25] #4684 closed

[2022-06-28 18:19] yuchenshi commented on #4648
Reopening #2379 with more context

[2022-06-28 18:19] #4648 closed

[2022-06-28 19:52] bkendall commented on #4684
Ahh - I wonder if you were starting up an express server on the same `PORT` somehow, and that was causing the conflict. Glad you found it though!

[2022-06-28 21:29] eran-swimm opened #4690 "context.auth is null in emulator"
### [REQUIRED] Environment info

**firebase-tools:** 10.2.2

**Platform:** Darwin Erans-MacBook-Pro.local 21.5.0 Darwin Kernel Version 21.5.0: Tue Apr 26 21:08:37 PDT 2022; root:xnu-8020.121.3~4/RELEASE_ARM64_T6000 arm64

### [REQUIRED] Test case

Script file, runs in browser
[code]
emulator code, runs with `firebase emulators:start --project demo-project1`
[code]

### [REQUIRED] Steps to reproduc

[2022-06-29 08:06] Spitzbua commented on #4672
We have had the same problem for many months. If collections contain too many documents, they cannot be displayed or edited.
When the productive dumps became larger and larger, these problems occur. In our case, it is also no longer possible to export the data...

[2022-06-29 10:00] NoahGav opened #4691 "Firebase functions emulator does not watch for changes."
### Environment info

`firebase --version` --> `11.1.0`

`node -v` --> `v16.15.1`

`npm -v` --> `8.11.0`

`java -version` --> `java version "18.0.1.1" 2022-04-22`

**Platform:**

Pop!_OS 22.04 LTS 64-bit

### Steps to reproduce

1). run `firebase init functions`

2). Select `Use an existing project` and choose my project.

3). Select `Javascript` for the language.

4). Type `N` and press enter to

[2022-06-29 14:19] eran-swimm commented on #4690
the problem was missing firebase-admin installation. Closing the issue.

[2022-06-29 14:26] Ben-Banso commented on #1528
For others and myself. You can enable the emulator on a specific region :

[code]

[2022-06-29 14:27] NoahGav commented on #4691
https://stackoverflow.com/questions/72801051/firebase-functions-emulator-not-watching-for-changes

[2022-06-29 16:36] leonelqf commented on #3092
Same here...

[2022-06-29 16:52] tubatoothpaste commented on #4691
Try running `npm run build:watch` in a separate terminal.

[2022-06-29 16:57] MorenoMdz commented on #4672
Is there an actual limit of what the data size can be? Its been very very useful to be able to dump our prod stage and run some local flows in it to simulate real-world QA. Also, one weird thing is that other colleagues machines still run the dumps, I wonder it if it is related to the version of Java or something

[2022-06-29 17:36] NoahGav commented on #4691
There is no build script. It's a javascript project. I tried it anyway and
got "npm ERR! Missing script 'build'". Here is a link to a video of the
problem. https://www.dropbox.com/s/j54j8or1fw88mgc/not-working.mp4?dl=0

On Wed, Jun 29, 2022 at 11:52 AM Kyle Robertson ***@***.***>
wrote:

[2022-06-29 22:09] NoahGav commented on #4691
Here is a video of it working as intended on a windows 11 virtual machine. https://www.dropbox.com/s/c3412h77x1efged/working-windows.mp4?dl=0

[2022-06-30 06:23] gestureleft commented on #653
I was having the same issue. This comment solved the issue for me: https://github.com/firebase/firebase-tools/issues/653#issuecomment-859613782

[2022-06-30 07:07] sahoodcode commented on #372
I solved this problem by on linux : "curl -sL https://firebase.tools | bash"
visit this site : https://firebase.google.com/docs/cli/?authuser=0&hl=en#mac-linux-auto-script

[2022-06-30 08:18] stildalf commented on #3837
+1

Resolving this issue would reduce the tedium of spinning up the emulator suite in any environment requiring the use of static port forwards for whichever reason - containers, remote dev, remote testing, anything non localhost.  The fact that all the other ports are configurable sticks out like a sore thumb here.

[2022-06-30 17:46] taeold commented on #4410
I think this issue is best explained in this comment:

https://github.com/firebase/firebase-tools/issues/4343#issuecomment-1077881832

It's likely that your code is running, but the output is no longer shown to you. I'm generally worried about this pattern though - IIUC and based on my knowledge of the Functions Emulator, this means that the code you wrote to setup a cron job will run for each fun

[2022-06-30 19:30] #3517 closed

[2022-06-30 20:42] yuchenshi commented on #4680
Thanks for filing the issue. As you've noted, Dynamic Links are required for successful mobile email-link sign-in flows, but the emulator, as a local test environment, does not have access to FDL. Therefore, the best we can offer is to complete that flow on the web, hence the requirement for the `continueUrl` parameter. This is one of the [documented limitations](https://firebase.google.com/docs/e

[2022-06-30 20:42] #4680 closed

[2022-06-30 21:11] ottob commented on #3656
I hit this issue today as well. I expected an error to occur.

[2022-06-30 21:29] LorenzoInvernizzi commented on #3401
updates on when the fix will be published?

[2022-07-01 04:37] inlined commented on #4613
We've see a number of concerns here.
1. There's a request that we can handle errors thrown from global scope. This would be interesting, but it cannot be done. We're calling `require` on your code and it throws an Exception. That means `require` doesn't return a module and we have no handle to your functions for us to route traffic to you.
2. Discussions about proccess.env.FOO not being available

[2022-07-01 07:46] giladmaker commented on #4613
Thanks for your reply.
- Yes, my `functions.predeploy` field includes a tsc command. To be clear, it's all working well in terms of building and deploying the functions (`firebase deploy`), but I get the error (see my previous comment) when running the emulator (`firebase emulate`).
- My CLI version is `11.1.0` and my `firebase-functions` sdk version is `3.21.2`
- I will try add more information r

[2022-07-01 08:01] ibrahimduran opened #4697 "Invalid service account: default while deploying functions with firebase-tools@11.2.0"
### [REQUIRED] Environment info

**firebase-tools:**
11.2.0

**Platform:**
Windows 11 - 21H2

### [REQUIRED] Test case

Firebase cli fails to deploy functions for new project. Downgrading to 11.1.0 works.

### [REQUIRED] Steps to reproduce

1. Install `firebase-tools@11.2.0`
2. Create firebase project or use existing one (?)
3. Initialize functions codebase using `firebase init`
4. Run deployment

[2022-07-01 08:15] alessioforti commented on #2856
Emulators should shut down ports not only when you shut down, but even when they crashes, they won't come up again otherwise.

While we wait this to be addressed, as said above, using kill-port worked like a charm.

A useful shortcut could be adding a script to package.json to kill the ports and restart:

`"restart-emulators": "npx kill-port --port 8000,9099,5001,8080 && firebase emulators:start"`

[2022-07-01 08:39] Burgov opened #4698 "Can no longer only deploy firestore rules or firestore indexes"
### [REQUIRED] Environment info

**firebase-tools:** 11.2.0

**Platform:** any

### [REQUIRED] Test case

Just try to run the command

### [REQUIRED] Steps to reproduce

Run `firestore deploy --only firestore:indexes`

### [REQUIRED] Expected behavior

Only the firestore indexes would be deployed (and not the rules)

### [REQUIRED] Actual behavior

An error:

This change was introduced in https://

[2022-07-01 08:42] giladmaker commented on #4613
Window 1:
[code]

Window 2:
[code]

[2022-07-01 09:49] zarko-tg commented on #4566
I know it's not helpful but - really?

[2022-07-01 10:05] Daspy11 commented on #2067
...bump, still broken

[2022-07-01 10:34] barisozbey opened #4699 "Can't open firebase-tools-instant-win.exe on Windows 7"
Hi guys,

I'm still using Windows 7. I'cant install Firebase CLI. I can't use npm cuz node.js doesn't support Windows 7 anymore. When I open it, I see the shell window for a second, and then it's getting closed.

[2022-07-01 15:56] Schmale97 commented on #4697
I am also experiencing this when deploying from ubuntu based docker image

[2022-07-01 16:27] AdamTeodoro commented on #4185
For solve this problem i copy the folder src for other location, and i start new functions project and i past my src copied over the src from the new project created.

[2022-07-01 18:38] evanharmon1 commented on #4698
We appear to be having this issue as well. I believe it worked for us just a couple days ago and now we are getting the `Filters specified with colons (e.g. --only functions:func1,functions:func2) are only supported for functions and hosting` error

[2022-07-01 21:02] MorenoMdz opened #4701 "Firestore Emulator different behavior in the Emulator and Cloud with OrderBy"
### [REQUIRED] Environment info

**firebase-tools:**
11.1.0

**Platform:**
MacOs

### [REQUIRED] Test case

The code below does not error locally with the emulator, but errors when targeting the cloud db.

[code]

### [REQUIRED] Expected behavior

Same errors in the emulator and in the cloud.

### [REQUIRED] Actual behavior

The emulator accepts this query and responds correctly.

[2022-07-01 21:39] KClough commented on #4697
I'm seeing the same issue with `firebase-functions@3.22.0`

[2022-07-01 21:46] mhotan commented on #4697
I had to revert to 11.1.0 in order to deploy my functions successfully. The `--debug` logs are useful as it indicated there were new permission requirements likely introduced. I tried a couple permission updates unsuccessfully and it still looks like 11.2.0 is not respecting the GOOGLE_APPLICATION_CREDENTIALS environment variable.

Specifically, I updated my CI script to `npm install -g firebase-t

[2022-07-01 21:50] tubbo commented on #4697
We also noticed that in our CI, `firebase-tools` shows a warning when a function fails to deploy, but does not return a non-zero exit code. That prevented us from immediately the problem described in this issue. I don't see a way to make `firebase-tools` behave in such a manner...

[code]

It would be pretty awesome if the Firebase CLI would exit 0 in these circumstances, or at least give us a `--

[2022-07-02 08:00] edenhermelin commented on #2059
Hey @maierson , I was wondering if you can share how (and if) did you work around the undefined context in firebase emulators issue?
I'm running into the same problem with the recent versions of the sdk.
Thanks!

[2022-07-02 08:16] AnujSsStw commented on #4699
maybe try installing it on the wsl terminator.
https://docs.microsoft.com/en-us/windows/dev-environment/javascript/nodejs-on-wsl

[2022-07-02 08:46] O-K-G opened #4702 "11.2.0 fails to deploy Functions after upgrade: can't create object in the cloud"
### [REQUIRED] Environment info

**firebase-tools:** 11.2.0

**Platform:** Windows 11

### [REQUIRED] Test case
npm install -g firebase-tools
npm audit fix

Run `firebase deploy --only functions,hosting` either on new or existing projects.

### [REQUIRED] Expected behavior
Just like 11.1.0, it should deploy normally.

### [REQUIRED] Actual behavior
For new projects: An error pops up stating that t

[2022-07-02 13:14] oande commented on #4702
Yep, we started seeing issues as well on Mac and Linux, however always with this error message:
[code]
Rolling back to 11.1 solved it for us.

[2022-07-02 16:34] hasanaktas commented on #4698
Are there any developments?
Firebase version: 11.2.0

I just get error trying to deploy Firestore Security rules

[2022-07-02 18:37] sidsaxena0 commented on #4702
Same here! But for us the error says : `Functions deploy had errors with the following functions` whereas in firebase console it says :
`Cloud Functions uses Artifact Registry to store function docker images. Artifact Registry API is not enabled in your project. To enable the API, visit https://console.developers.google.com/apis/api/artifactregistry.googleapis.com/overview?project=XXXXXXX`
Downgra

[2022-07-02 19:43] nery opened #4703 "11.2.0 Functions no longer deploy"
### [REQUIRED] Environment info

**firebase-tools:**  11.2.0

**Platform:** Ubuntu, macOS
**Node:**  14.19.0
**Package Manager** NPM

### [REQUIRED] Test case

Create a new project and include a new `helloWorld` function.
Update firebase config with key value pairs of both `string` and `object` values.
Try to deploy said function.

### [REQUIRED] Steps to reproduce

Type `firebase deploy --only fu

[2022-07-02 20:09] Edudjr commented on #1971
Same here using the latest Swift SDK (9.2.0).

[2022-07-02 22:59] Luka-dot commented on #4663
Have you found the cause of this issue? Im running into the same problem.

[2022-07-03 13:24] anandsathe67 commented on #4703
Running into this as well. Disappointed how a release can be put out when basic deployment fails. Confirming downgrade to 11.0.0 works

[2022-07-03 14:38] jjonte-dwellup commented on #4663
I have not.

[2022-07-03 14:56] Luka-dot commented on #4663
After many hours I was able to fix this on my machine. It seems as if the latest version of firebase tools caused this error. I have downgraded to firebase-tools@10.2.0  (not sure if this is the lates version that would work or not, but this one worked for me).
npm install -g firebase-tools@10.2.0  to install a specific version, you will have to restart your IED or command terminal for this to tak

[2022-07-03 18:47] AriDevC commented on #4703
I'm facing the same issue, after updating firebase-tools.

[2022-07-04 05:24] MiguelNiblock opened #4705 "I get downloading cloud-firestore-emulator-v1.11.12.jar... every single time I start the emulators"
Every single time I start the firebase emulator I get `downloading cloud-firestore-emulator-v1.11.12.jar...`. Which takes a long time.

 I think this is not normal. How can I make so it doesn't have to download every time?

[2022-07-04 06:38] sivaneshl commented on #4698
Looks like the syntax is changed.

Deploy firestore rules
`firebase deploy --only firestore:rules`

Deploy storage rules
`firebase deploy --only storage`

Here is the doc:
https://firebase.google.com/docs/rules/manage-deploy#cloud-storage_1

[2022-07-04 06:50] Burgov commented on #4698
@sivaneshl that's what _used_ to work, but now I get this output:

![Screenshot 2022-07-04 at 08 50 09](https://user-images.githubusercontent.com/417674/177097706-fb9d76dc-93e0-4bc6-b13b-b4d6f31b7c3e.png)

[2022-07-04 08:40] maylorsan opened #4706 "Get an error: An unexpected error has occurred, when try to get runtimeconfig(firebase functions:config:get)"
### Environment info

**firebase-tools:** 11.2.0

**node**:  16.15.0

**Platform:** macOS

### Test case

Run command:
[code]

Get error:
<img width="572" alt="Screen Shot 2022-07-04 at 11 38 29" src="https://user-images.githubusercontent.com/51034456/177116608-c136d132-d2a8-4458-9fac-b8726e2d1c2a.png">

firebase-debug.log
[code]

**If downgrade to firebase-tools version 10.2.2 it is fixed.**

###

[2022-07-04 09:20] haroldadmin commented on #4706
I can confirm that I get this error too, but only on CI builds in GitHub Actions. It works fine locally.

Here's a screenshot of the error:
<img width="651" alt="Screenshot 2022-07-04 at 2 47 09 PM" src="https://user-images.githubusercontent.com/24315306/177123985-6734e945-7508-474a-831c-256d789c7d30.png">

I can confirm the following:
- Firebase CLI is installed on the workflow runner
- The `TOKE

[2022-07-04 10:12] haroldadmin commented on #4706
I can confirm the presence of this issue in my CI environment for `firebase-tools` version 11.2.0, 11.1.0, as well as 10.9.2.

[2022-07-04 14:03] tolgraven commented on #4613
I think you're misunderstanding here. It's not that top level errors should somehow magically be made not broken. It's about not taking down the entire system (really uncleanly as well, as others have mentioned - can't even start it back up without manually killing java processes hogging the ports).

All it would require is... well surely nothing but a catch? If it throws, completely ignore it as

[2022-07-04 14:25] rhodgkins commented on #2554
@akauppi I don't understand your points sorry. The `.firebaseio.com` hostname is swapped out by the internals of the SDK when `FIREBASE_DATABASE_EMULATOR_HOST` envar is specified. I imagine its something to do with `null` checks in the emulator etc. etc. that doesn't quite match production.

[2022-07-04 19:07] interstates21 commented on #4698
Same issue

[2022-07-04 19:32] andreasalptun commented on #4697
@mhotan Same problem here with 11.2.0, but downgrading worked for me. Thanks!

[2022-07-04 22:40] akauppi commented on #4691
@NoahGav I don't know what Pop!_OS is, but maybe you want to try this trick:

Set the environment variable

[code]

This helps when running Firebase Emulators under Docker. Its volume mapping looks like network drives to Docker client OS, and the normal watching isn't applied to them.

Could be something else, of course. Just trying to help.

[2022-07-04 22:48] akauppi commented on #4697
@tubbo I do not quite understand your text above.

I'd definitely want *anything* failing to fail the whole `firebase deploy`, with a non-zero exit code.

If I don't get these straight, maybe others will also struggle. Is it just me?

[2022-07-05 08:01] betocardenas94 commented on #4706
Yep, firebase bug with Firebase CLI Version 11.2.0.
Downgrade is the best option until they solve this.
Run:
`npm install -g firebase-tools@^10.2.2`

[2022-07-05 09:27] maylorsan commented on #4706
Yes, the problem happens when there is a config in which there is not a single variable.

Corrected it in https://github.com/firebase/firebase-tools/pull/4707

[2022-07-05 09:54] xr0master commented on #4445
@akauppi `npm i firebase-tools --save-dev`

[2022-07-05 13:20] fox1t commented on #3100
You can still achieve this even if the support is not native. Add a custom `./test.sh` bash script with this content
[code]
and add this script to the package.json
[code]
Now you can invoke it like this:
`pnpm run test --runInBand ./src/my1.test.ts ./src/my2.test.ts`

(we are using vitest and pnpm, but it will work the same with other test runners and package managers).

[2022-07-05 13:52] inaspic commented on #4698
"firebase deploy --only firestore:rules" works with firebase-tools version 11.1.0, but not with version 11.2.0. Additional info...

[2022-07-05 16:30] ryanhornberger commented on #4698
just want to add a voice that our company is seeing the same problem on 11.2

[2022-07-05 17:53] weilinzung commented on #4372
same issue

[2022-07-06 01:00] #4343 closed

[2022-07-06 01:21] jessety commented on #4698
+1, we've experiencing this as well. 11.1.0 seems to still work.

[2022-07-06 07:55] sunadoi opened #4710 "11.2.0 fails to deploy: `Cannot specify both --only and --except`"
### [REQUIRED] Environment info

**firebase-tools:** 11.2.0

**Platform:** macOS, Ubuntu
**yarn:** 1.22.10

### [REQUIRED] Test case

Run  `yarn firebase deploy --except functions --project foo`

### [REQUIRED] Steps to reproduce

Update to v11.2.0, then run the above command.
Successfully deployed with v11.1.0.

### [REQUIRED] Expected behavior

Successfully deployed.

### [REQUIRED] Actual behav

[2022-07-06 12:13] erno opened #4711 "[Regression] Latest firebase-tools release breaks deploy --only firestore:indexes / --only firestore:rules"
The docs still say these are valid (eg https://firebase.google.com/docs/firestore/query-data/indexing).

But now they yield error messages saying "Error: Filters specified with colons (e.g. --only functions:func1,functions:func2) are only supported for functions and hosting".

The regression seems to have been introduced in https://github.com/firebase/firebase-tools/pull/4666

A working workaround

[2022-07-06 12:30] redpandatronicsuk opened #4712 "Firestore emulator behaviour different from cloud using dynamic field name notation"
### [REQUIRED] Environment info

**firebase-tools:** 11.1.0

**Platform:** macOS

### [REQUIRED] Test case

This code:

[code]

### [REQUIRED] Steps to reproduce

Run the above code in the cloud and emulator and you will see different behaviour.

### [REQUIRED] Expected behavior

In the cloud the data stored at `foo`:

[code]

and in the emulator:

[code]

### [REQUIRED] Actual behavior

Consisten

[2022-07-06 14:52] bkendall commented on #4710
What _are_ you deploying when you specify `--except functions`? Does your codebase include Hosting? RTDB rules? Can you share the relevant parts of `firebase.json`?

[2022-07-06 14:55] bkendall commented on #4698
This one might be me. The filters/checks for `only` and `except` were rather broken and I may have made them more strict than I intended. I'll take a look today.

(read: I didn't realize we supported `firestore:[rules|indexes]` - and that's very neat.)

[2022-07-06 15:15] bkendall commented on #4705
What platform are you on? What version of `firebase-tools`? How did you install the CLI? Do you have logs to share?

The template is there to answer most of these questions. Please create a new issue with the appropriate information.

[2022-07-06 15:15] #4705 closed

[2022-07-06 16:30] dawogfather commented on #4703
pretty annoyed also as i've hit a similar issue and wasted two days on it... will firebase reimburse me for it?
i understand these things are complex but yeah we can't have these sorts of breaking changes to the tools. it's the second time its happened to me in the past two product releases...

[2022-07-06 17:36] markgoho opened #4713 "firebase deploy hosting target fails in CI"
### [REQUIRED] Environment info

**firebase-tools:** 11.2.0

**Platform:** Ubuntu

### [REQUIRED] Test case

Trying to deploy using a `FIREBASE_TOKEN` environment variable in GitHub Actions (the native action doesn't support my use case)

### [REQUIRED] Steps to reproduce

[code]

[code]

### [REQUIRED] Expected behavior

This command should Just Work™️ because I'm providing a service account via

[2022-07-06 17:40] pradella commented on #4703
I didn't test downgrading to 11.1.0, but I have downgraded to 10.2.2 and worked again.

[2022-07-06 19:10] Andrew-Pynch commented on #4698
We are experiencing this as well

[2022-07-06 21:16] taeold commented on #4703
Apologies folks for the issue. I'm going to consolidate this issue report to https://github.com/firebase/firebase-tools/issues/4706 which (I believe) describes the same root cause.

[2022-07-06 21:16] #4703 closed

[2022-07-06 21:39] bjankie1 opened #4716 "Firebase storage emulator crashes on upload"
### [REQUIRED] Environment info

**firebase-tools:** 10.2.2

**Platform:** macOS

### [REQUIRED] Test case

Reproduction `script.ts`
[code]

### [REQUIRED] Steps to reproduce

1. Start emulators: `firebase emulators:start --only firestore,auth,storage`
2. Run the `script.ts` above
3. Observe emulator crashes with:
[code]

### [REQUIRED] Expected behavior

1. Emulator doesn't crash
2. Upload operat

[2022-07-06 21:53] taeold opened #4717 "Firebase Functions deploys with error message "rtifact Registry API is not enabled in your project""
Same here! But for us the error says : `Functions deploy had errors with the following functions` whereas in firebase console it says :
`Cloud Functions uses Artifact Registry to store function docker images. Artifact Registry API is not enabled in your project. To enable the API, visit https://console.developers.google.com/apis/api/artifactregistry.googleapis.com/overview?project=XXXXXXX`
Downgra

[2022-07-06 21:54] taeold commented on #4702
@sidsaxena0 I created a new issue for your issue to help us triage the issue better. Thanks for reporting it.

https://github.com/firebase/firebase-tools/issues/4717

[2022-07-06 21:59] taeold commented on #4702
@O-K-G I _think_ you are seeing error messages like the one below:

[code]

The issue should go away on your next deploy.

As I understand the issue:

When deploying functions on a new project, the firebase cli tries to enable Google Cloud Functions API. When it does this, the Google Cloud Function platform will create a service account and provision set of permissions for GCF to perform properly.

[2022-07-06 22:12] taeold commented on #4697
Re-opening - will mark closed after we have a release shipped.

[2022-07-06 22:17] #4697 closed

[2022-07-06 23:42] aaronncfca commented on #2198
@ericvera I did end up here trying to make the emulator run, but I was already using the yarn serve command, which per the initial package.json resolves to `firebase emulators:start --only functions`. My yarn version is 3.2.1. Still, `yarn serve` produces the error:

`Error: Error parsing triggers: Cannot find module 'firebase-functions'`

Is it possible that new versions of yarn/Firebase CLI no l

[2022-07-07 01:25] sunadoi commented on #4710
Thanks for the reply.
Here are the relevant configuration files and deploy command.

firebase.json
[code]

.firebaserc
[code]

deploy command
[code]

[2022-07-07 05:56] michaelalhilly commented on #3837
+1

I'm unable to see Firestore requests in the emulator UI due to this issue as I am also running the emulator inside Docker. Just like all the other emulator ports can be configured for this reason we need the ability to configure this as well. Or instead use the port specified in Firebase.json + 100,  or whatever.

[2022-07-07 07:11] danielo515 commented on #4283
Should I open a new issue? Or should I upload my files here? Because I'm facing this very error

[2022-07-07 07:21] danielo515 opened #4718 "emulators:export fails saying it didn not find any running emulator"
### [REQUIRED] Environment info

**firebase-tools:** firebase --version: 10.1.1

**Platform:** macOS

### [REQUIRED] Test case

### [REQUIRED] Steps to reproduce

1. Navigate to a firebase project directory. Run firebase init in an npm directory to initialise one.
2. Run the emulators with the following command:

[code]
3. Open a new terminal window in the same repository and run the following com

[2022-07-07 08:10] Schmale97 commented on #4697
Is this meant to be closed? I can't see a new release

[2022-07-07 15:10] tranvanthien123 opened #4719 "s"
### [REQUIRED] Environment info

**firebase-tools:**

**Platform:**

### [REQUIRED] Test case

### [REQUIRED] Steps to reproduce

### [REQUIRED] Expected behavior

### [REQUIRED] Actual behavior

[2022-07-07 17:47] #4719 closed

[2022-07-07 18:09] LanderBeeuwsaert commented on #4698
jep, same, our CI is crashing on this

[2022-07-07 18:12] hiaux0 commented on #4698
As found out by others above, versions prior to `11.2.0` are still working.
For us the fix was to pin the version in our `deployFirebase.yml` for the CI pipeline

[code]

[2022-07-07 18:24] taeold commented on #4697
Fix released in 11.2.1

[2022-07-07 18:25] taeold commented on #4717
Fixed in 11.2.1

[2022-07-07 18:29] sidsaxena0 commented on #4702
Thanks @taeold !

[2022-07-07 21:01] dereekb commented on #4711
Ran into the same thing on my CI:

https://app.circleci.com/pipelines/github/dereekb/dbx-components/1256/workflows/63e94a13-63d9-413d-ab6b-d2051f6436f2/jobs/3363/parallel-runs/0/steps/0-104

[2022-07-08 14:14] bkendall commented on #4711
Duplicate #4698

[2022-07-08 14:14] bkendall commented on #4711
Duplicate of #4698

[2022-07-08 14:57] bkendall commented on #4710
I'm pretty sure this is the same underlying issue as #4698. That fix is underway - if it's not fixed in the next release (after 11.2.1 - whatever's next), please re-open and I'll take another look.

Duplicate of #4698

[2022-07-08 14:57] bkendall commented on #4710
Duplicate of #4698

[2022-07-08 15:10] bkendall commented on #4713
This is gonna be very difficult to help you through - auth things are tricky.

Is it literally returning a bunch of `*`s? It's clearly returning a `400` error, so something's not right, but it's hard to know.

Does using the `TOKEN` locally work?

I'd honestly recommend using a service account, rather than `FIREBASE_TOKEN` - we have it in mind to deprecate `FIREBASE_TOKEN` in favor of service acco

[2022-07-08 15:56] #4698 closed

[2022-07-08 18:49] rfk91 commented on #1988
Better solution to this problem is to create an empy `firestore.indexes.json` file and then run `firebase init`.

Worked for me.

[2022-07-09 02:35] behnamsattar commented on #4698
Yayyyy, @bkendall thank you! 🎉 🙏

[2022-07-09 13:19] jasan-s opened #4729 "firebase-tools deploy command doesn't correctly deploy Next js App"
### [REQUIRED] Environment info

**firebase-tools:**
11.2.1

**Platform:**
macOS

### [REQUIRED] Test case

### [REQUIRED] Steps to reproduce

run firebase deploy on next js project build

### [REQUIRED] Expected behavior

Next Js project should be correctly deployed to hosting

### [REQUIRED] Actual behavior

![Screen Shot 2022-07-09 at 6 18 14 AM](https://user-images.githubusercontent.com/138639

[2022-07-09 14:29] #4729 closed

[2022-07-09 14:30] jasan-s commented on #4729
UPDATE: needed the following : https://github.com/FirebaseExtended/firebase-framework-tools

[2022-07-09 21:29] scole954387 opened #4730 "HTTP Error: 400, Invalid value at 'queue.retry_config.max_backoff'"
Good evening. I just uploaded my functions without error and received the notice that firebase needed to be updated. I proceeded with the update via npm.

Immediately after the update I went to upload the functions again just to ensure everything still works and this time it failed. No changes were made to the function being uploaded. It worked right before but not after the upgrade.

Any idea wha

[2022-07-09 21:32] scole954387 commented on #4730
Sorry I missed the template and unable to find a way to delete the report.  I'm sorry but I don't have time to go through for the required information right now. I just submitted this just before I had to run out.

[2022-07-09 21:44] scole954387 commented on #4730
Ok, here's something to add.  I tried version 11.2.1 and it fails.  I downgraded to 11.2.0 and it also fails however when I downgrade to 11.1.0 it successfully uploads the functions without any errors.   So it appears the problem started after 11.1.0.  I'll be back on my computer later if you need any additional information and once again I apologize for not following the template.

[2022-07-10 06:49] dereekb commented on #4691
As far as I know this isn't a supported feature, nor am I sure it is planned. The only thing that hot-reloads is the rules.

I wrote up a script and posted it on a related issue https://github.com/firebase/firebase-tools/issues/3034#issuecomment-1132379004 that reloads the emulators when my output folder changes.

[2022-07-10 06:57] dereekb commented on #4716
Are you running this on Node or in the browser?

For what it's worth that test passed for me when using the `@firebase/rules-unit-testing` package in a jest Node environment, and using storage rules that allowed writing to all files.

[2022-07-10 14:22] phillipjacobs commented on #4698
Still having the same issue as all the rest.
While waiting for a fix I just use `firebase deploy` or `npm install -g firebase-tools@10.2.2` for a temp solution

[2022-07-10 16:20] Allan70 opened #4731 "FirebaseCommandException: An error occured on the Firebase CLI when attempting to run a command."
### [REQUIRED] Environment info

v11.2.1

**firebase-tools:**
Windows

**Platform:**
https://github.com/invertase/flutterfire_cli/issues/27
### [REQUIRED] Test case
https://github.com/invertase/flutterfire_cli/issues/27

### [REQUIRED] Steps to reproduce
[code]

### [REQUIRED] Expected behavior
Reauthenticate user to Firebase CLI

### [REQUIRED] Actual behavior

This tool has encountered an error.

[2022-07-10 23:03] NoahGav commented on #4691
@dareekb No, it does work. I just had to switch to windows 11 instead of using pop os. For some reason the functions emulator did not work with hot reload on pop os.

[2022-07-11 01:00] #4682 closed

[2022-07-11 04:48] dereekb commented on #4691
Sorry, I didn't realize you were just using Javascript. I found another thread I was thinking of here: https://github.com/firebase/firebase-tools/issues/758

If you try and load the web page while the emulator is running on Linux, will it send the right info? I know on my emulators that I don't see the functions wind up at all until it receives its first request.

[2022-07-11 05:39] sunadoi commented on #4710
Confirmed that I can deploy with 11.2.1.
Thank you!!

[2022-07-11 05:39] #4710 closed

[2022-07-11 07:32] Allan70 commented on #4731
Issue resolved by logging out of firebase CLI then promptly logging back in to the firebase CLI

[code]
followed by
[code]

[2022-07-11 15:18] crstffr commented on #4702
We are also getting the `Cloud Runtime Config is currently experiencing issues, which is preventing your functions from being deployed.` error using v11.2.1 with Node v16.15.1. Rolling back to v11.1.0 solves the problem for us for now.

Along with the deploy error in v11.2.1, we are also getting `Error: Unexpectedly failed to fetch runtime config for project` while running `firebase functions:conf

[2022-07-11 18:43] sluramod commented on #3919
@inlined is it possible there is a regression and https://github.com/firebase/firebase-tools/issues/2606 / https://github.com/firebase/firebase-tools/pull/3246 no longer works?
Is it possible to restore 'retry on quota' functionality?

[2022-07-11 20:03] yuchenshi commented on #4702
@crstffr Would you mind opening a new issue and fill in the template?

[2022-07-11 20:09] yuchenshi commented on #4716
@bjankie1  Looks like we need more logs on this. Would you mind uploading all log files (e.g. in a zip file)?

[2022-07-11 20:13] #4711 closed

[2022-07-11 20:18] yuchenshi commented on #2198
@aaronncfca Would you mind opening a new issue with more details?

[2022-07-11 20:20] yuchenshi commented on #4712
@redpandatronicsuk Would you mind creating a self-contained reproduction (e.g. a GitHub repository) with the full initialize code (except PII or secrets) so we can look further into this?

[2022-07-11 20:25] ericvera commented on #2198
@aaronncfca

If you are using yarn PnP checkout #4275. I did not have the time to create a smaller repro so that issue it was closed. It seems to be specific to the functions emulator (auth and Firestore emulators run fine using yarn commands). I was able to get around the issue by installing firebase-tools globally using npm and running outside of yarn. Not ideal, but works.