[2021-01-28 01:58] bkendall commented on #2378
This is something I've been toying with recently, but there are other priorities out there and, unfortunately, I'm not sure how useful automatically generated types would be. Our typing has gotten somewhat better as of late in the codebase, but I'm not sure it's ready for 'external' primetime.

Thanks for showing interest though - it does help to prioritize work! :)

[2021-01-28 05:04] mesqueeb commented on #653
it worries me that there is no google employee assigned to this issue though. Does anyone have some insight?

[2021-01-28 05:15] emmanuelvlad commented on #2916
Any update on this issue?

[2021-01-28 06:47] evilandfox commented on #2379
I had the same problem, but it resolved after adding `rules_version = '2';` line on the beginning of `firestore.rules` file

[2021-01-28 08:34] anikettari commented on #1627
Woaaahhhhh! working

[2021-01-28 08:43] NeverwinterMoon commented on #3084
I was wrong, the above does not help, must have mixed some up. apiv2 just fails after response `deletePath:initialDelete:error FirebaseError: HTTP Error: 401, Request had invalid authentication credentials. Expected OAuth 2 access token, login cookie or other valid authentication credential.`.

Anyway, my idea was to be able to run tests against emulators without the need to having the actual auth

[2021-01-28 09:02] sosi-bit opened #3090 "cannot connect with firebase database using php ^5.14.1"
i try to connect firebase database using php and i get this error This site can’t be reachedlocalhost refused to connect. Try: Checking the connection Checking the proxy and the firewall ERR_CONNECTION_REFUSED

<?php
require_once'./vendor/autoload.php';
use Kreait\Firebase\Factory;
use Kreait\Firebase\ServiceAccount;

 $serviceAccount = ServiceAccount::fromJsonFile(__DIR__ . '/mykey.json');
 $fire

[2021-01-28 10:20] wmadden commented on #2773
This message comes up repeatedly for me during automated test runs

[2021-01-28 10:27] samtstern commented on #3090
@sosi-bit this is the repository for the Firebase CLI and is not the right place to debug PHP or Realtime Database issues.  Firebase does not have an official PHP SDK at all so I assume you're using a third-party library?  You should file a GitHub issue with the owner of that library.

[2021-01-28 10:27] #3090 closed

[2021-01-28 12:10] #3086 closed

[2021-01-28 12:41] smhmd commented on #2773
@wmadden Were you not able to suppress it using this?

[2021-01-28 12:59] eladdad commented on #1738
Is there a way to use Firebase Auth emulator with storage until there is a storage emulator? I need to emulate users uploading directly to storage with security rules applied

[2021-01-28 13:00] johanchouquet commented on #590
Thanks a lot @mbleigh for listening to my specific needs! I Sure thing, functions and monorepos already have some discussions before.

I think that monorepos are kind of the future of how to code efficiently in companies. So, to me, it's or will be the new standard.

Therefore, I think Firebase should really integrate smoothly within those 'new' ways of doing code.
Btw, I'm only speaking about the

[2021-01-28 16:21] mbleigh commented on #590
One reason we're not eager to do configs extending from configs is that our goal is explicitly to support a multi-environment workflow from a single canonical `firebase.json`. We want the scenario of "I have a dev, staging and prod project" to feel like a natural part of the Firebase workflow (in fact my [Firebase Summit session](https://www.youtube.com/watch?v=P3jXxNBtueQ) was about similar thing

[2021-01-28 17:44] samhorlbeck commented on #3085
Hi @lpellegr thanks for the report. Would you please follow up with Firebase support? Looking into this issue will likely require a bit more info and coordination: https://firebase.google.com/support

[2021-01-28 19:00] lpellegr commented on #3085
@samhorlbeck That's done.

[2021-01-28 22:09] madmacc opened #3092 "Firestore emulator sometimes fails on data export when stopped"
**Describe your environment:**

  * Operating System version:  Windows 10
  * Browser version: Chrome  88.0.4324.104
  * Firebase SDK version: 8.0.0
  * Firebase Product: Firestore local emulator

**Problem:**
When I stop my local firestore emulator most of the time it exports the data fine.  However sometimes is has an error and it deletes my export files so I lose all my data.  Nothing seems to

[2021-01-28 22:41] smousa opened #3093 "Inconsistent documentation about creationTime"
Maybe I am looking at an old version of the documentation and I don't know it yet.

The firestore documentation says that the `creationTime` on the auth.UserMetadata object should be a formatted UTC string of the date.

https://firebase.google.com/docs/reference/admin/node/admin.auth.UserMetadata#creationtime

And if you look at the definition for the `lastRefreshTime` it elaborates on a UTC strin

[2021-01-28 23:13] sosi-bit commented on #3090
ok i will do that.

On Thu, Jan 28, 2021 at 2:27 AM Sam Stern <notifications@github.com> wrote:

[2021-01-28 23:53] samhorlbeck commented on #3092
Hi @madmacc, thanks for the report.

Would you mind expanding a bit about the steps you're taking before seeing this issue? For example, how much data is being saved? What SDKs are you using? Are you using any of the other emulators in conjunction with Firestore?

[2021-01-29 00:11] madmacc commented on #3092
Sure.
The data is only 130k.
I am running the following emulators.  Firestore, Auth, Functions
However I am running the functions emulator as a separate instance as the functions folder is in a different project/location and I can't figure out how to run all of them with one command.

I am using v9.2.1 of the firebase-tools.

Let me know if you need any more information.

[2021-01-29 00:23] samhorlbeck commented on #3092
What is your general use case? Can you discern any particular action that reliably causes the data to not be saved correctly? Basically I'm just trying to get a sense of how we could start to debug this issue and potentially reproduce it.

[2021-01-29 00:39] madmacc commented on #3092
Unfortunately not.  I'm sure there is some reason but it seems random to me at this stage.
I can run it loading the previously exported data.  Add some more data and then stop it by hitting ctrl+c in the terminal.
It will sometimes export ok and sometimes not.  It only deletes the firestore_export folder not the firebase-export-metadata.json file.

At the moment when it is successful I manually co

[2021-01-29 00:44] madmacc commented on #3092
I just tried starting and stopping it about 10 times in a row and it worked every time.
I tried adding some data, adding data from my app and even putting the computer into sleep mode and coming back out.

So not sure what it is but it is either time related or caused by something else.

[2021-01-29 01:24] wiltaylor-vygo commented on #2521
Any update on this issue?

[2021-01-29 02:12] smousa commented on #3093
**update**: I have verified that the live version of firebase auth presents the `creationTime` as `2021-01-29T02:02:11Z`
So it looks like you have divergent behaviors between the emulator and the live system.

[2021-01-29 03:06] madmacc commented on #3092
I just had the issue again after leaving my computer for a couple of hours in sleep mode.  Slightly different error this time.

Log is attached.  Looks the same.  I'm not sure if this is correct log file as it doesn't have much interesting in it.

[firestore-debug.log](https://github.com/firebase/firebase-tools/files/5891350/firestore-debug.log)

[2021-01-29 08:47] olivierkrener commented on #2521
As I mention it can be fixed if you call the emulator directly specifying the heap size

[2021-01-29 11:58] samtstern opened #3095 "Database Rules Deploy ignores instance"
### [REQUIRED] Environment info

**firebase-tools:** 9.2.0

**Platform:** macOs

### [REQUIRED] Test case

I have a project, `fir-dumpster` with three databases:

  * https://fir-dumpster.firebaseio.com/ (default)
  * https://fir-dumpster-europe.europe-west1.firebasedatabase.app/
  * https://fir-dumpster-secondary.firebaseio.com/

### [REQUIRED] Steps to reproduce

Try to deploy rules to the secon

[2021-01-29 12:05] samtstern commented on #3095
It seems like changing my firebase.json to the following makes the deploy do what I want:

[code]

So it's possible this is not a bug but more of a question: should I be able to deploy the default `database.rules` to a particular RTDB instance by specifying it with the `database:instanceName` syntax at the command line?

[2021-01-29 14:29] jungalwala commented on #3095
Some more details on why it seems like this in unexpected behavior.  Consider the following **firebase.json** file:

[code]

If I run the command:
`firebase --debug deploy --only database:fir-dumpster-europe`

It will update `fir-dumster-asia` also, even though I specify `--only database:fir-dumpster-europe`

[2021-01-29 14:34] jpcarnes commented on #372
@geiz same thing happened to me and after investigating this was the fix. For anyone that has this issue and is running recent versions of node / version of firebase tools I would check out the above answer by geiz.

In my case I was trying to npm update but kept running into this issue, space at the end of folder name was causing it to not find the folder.

[2021-01-29 18:01] chrisjacobs91 opened #3097 "Dynamic content functions redirect in emulators to :5001 port instead of :5000"
### [REQUIRED] Environment info

**firebase-tools:** 9.1.0

**Platform:** macOS

### [REQUIRED] Test case

- Setup serving dynamic content with firebase hosting as per firebase documentation (using Express).
- Trigger a function by navigating in browser to localhost:5000/test
- Return res.redirect("/destination")  at in the express function
- User navigated to localhost:5001/destination
- User get

[2021-01-29 20:51] markgoho opened #3098 "Getting metadata from plugin failed with error: invalid_grant"
### [REQUIRED] Environment info

**firebase-tools:** 9.2.2

**Platform:** Windows

### [REQUIRED] Test case

Trying to test an HTTP onRequest function that writes to the emulated Firestore.

### [REQUIRED] Steps to reproduce

**index.ts**
[code]
**testWrite.ts**
[code]
**functions.spec.js**
[code]

### [REQUIRED] Expected behavior

Currently this test passes because the assertion evaluates to true

[2021-01-30 12:54] skhaz opened #3100 "firebase emulators:exec should pass down the arguments from command line"
`firebase emulators:exec` should pass down the arguments from command line. For example

[code]

If I run

[code]

`firebase emulators:exec` should take the extra argument (`-- foobar`) and pass down to jest, like this

[code]

[2021-01-30 17:47] kevmo314 commented on #3075
Here is my `firebase.json`

[code]

I'm trying to hit `GET domain.com/api/foo`, it only works with the above express js route config. If I hit the cloud functions endpoint directly, I need to do `GET .../api/api/foo`.

[2021-01-31 08:16] subwaymatch commented on #1131
@goodryanboy I can't believe I spent 30 mins trying to fix this issue. logout --> login worked like magic 👍. Thanks!

[2021-02-01 02:00] #3016 closed

[2021-02-01 08:04] houhou993 commented on #1442
Are you using Cisco AnyConnect VPN on the Cisco AnyConnect Secure Mobility Client? I tried login on it with my school credentials and connected but it can't even seem to open google.

[2021-02-01 08:41] daryoooooo commented on #1442
I re install windows and works

On Mon, 1 Feb 2021 at 10:04 AM houhou993 <notifications@github.com> wrote:

[2021-02-01 12:42] lutogin commented on #2452
Same problem.
Is there a solution? Or a workaround?

[2021-02-01 14:09] Punisher2501 commented on #77
Noting seems to work form all of above in my case can someone help
![not working](https://user-images.githubusercontent.com/65228766/106469353-2f4f6780-64c5-11eb-9424-3eda8f800263.png)

[2021-02-01 15:53] markgoho commented on #3098
Found an [interesting thread on Reddit](https://www.reddit.com/r/Firebase/comments/h778n2/error_using_prod_firestore_w_emulator_suite/) where a person _wants to connect to prod_ but is getting this error. Is that what's happening here? Somehow my code is trying to reach out to the production Firestore?

[2021-02-01 18:51] yuchenshi commented on #2521
Thanks, @olivierkrener! Also for anyone interested: feel free to send us a Pull Request for adding a `firebase.json` configuration option for it, so that you can start emulators using Firebase CLI as usual.

[2021-02-01 19:08] yuchenshi commented on #3092
The Emulator Suite writes a temporary file to keep track of the running instances, and looks like that file was deleted somehow before you terminated the suite. For example, Windows may delete those temporary files to reclaim disk space (especially if disk space is low), or it may be some other cleanup tools installed on your dev machine.

Right now, `--export-on-exit` relies on that file, but it

[2021-02-01 20:00] madmacc commented on #3092
Interesting.  Could it be because I am running two instances of the emulator as stated above?
One for functions (as my functions folder is in a different project directory) and one for everything else.

[2021-02-01 20:26] amkoehler commented on #3056
This appears to have been caused by my use of `firebase-tools` to clean up the db after each test. I found in the docs that the emulator has a [built-in way to clear the database between tests](https://firebase.google.com/docs/emulator-suite/connect_firestore#clear_your_database_between_tests) and the log messages no longer appear.

[2021-02-01 20:26] #3056 closed

[2021-02-01 20:46] #3084 closed

[2021-02-01 20:48] yuchenshi commented on #3092
Glad we found that out! The export APIs cannot handle two instances running together yet, but the internal bug I've created above should be able to solve this.

In the meantime, have you considered creating symlinks so that your functions can be "part of" the main project directory? They are available on Windows 10 and you can ignore them in `.gitignore` (or similar) if you'd like to.

[2021-02-01 20:51] madmacc commented on #3092
This is a good idea.  I have not used them before but have had them on my todo list, I will give it a try.  I tried a shortcut which of course did not work!

It must be common scenario for people that have multiple apps in their firebase project.  Not sure why I am the only one who has brought it up.

[2021-02-01 21:09] madmacc commented on #3092
Actually after some more testing the first issue with the deleted export data files is due to the two instances of the emulator running.
But only if I start the firestore emulator first then the functions emulator and then stop the firestore emulator while the functions emulator is still running.

[2021-02-02 01:01] yuchenshi commented on #3093
Would you mind posting some code about how you retrieved the user and `creationTime`? We'd be glad to take a deeper look.

[2021-02-02 03:47] kmcnellis commented on #3098
When running your test with `firebase emulators:exec`, the cli is automatically setting some environment variables for you, corresponding to the hostname/port of each emulator. [[source]](https://github.com/firebase/firebase-tools/blob/3f27bd884b32657ade95502e6987785d228fb370/src/emulator/commandUtils.ts#L316)  The admin sdk in your function under test will look for those variables to correctly co

[2021-02-02 04:07] kmcnellis commented on #3097
Could you provide the steps to reproduce this?

When I try to reproduce, it works as expected (I'm being redirected to `localhost:5000/destination`

[2021-02-02 04:12] kmcnellis commented on #3085
Going to close this for now.  Feel free to reopen if fixing this requires action from the CLI

[2021-02-02 04:12] #3085 closed

[2021-02-02 10:23] chrisjacobs91 commented on #3097
@kmcnellis will try my best!

### This is my firebase.json:
As you can see, I'm matching /user/ path to the express function.
And functions are on port 5001 and hosting is 5000.

[code]

### This is the express function that gets called.
It's in the index.ts file in my functions. You can see that I redirect to either / (if no matching doc found) or /${username} if a matching doc is found.
[code]

[2021-02-02 14:02] smousa commented on #3093
Run this cloud function in the emulator and against a real system and you will see the difference
[code]

[2021-02-02 14:04] Huanzhang89 commented on #1442
I am using xiyou360 vpn via the cisco anyconnect VPN on a mac. (You can download the cisco client via xiyou360). If you want to give it a try here is a link https://xiyou4you.us/r/?s=17517140

I've found it to be a very good vpn for developers in China

[2021-02-02 15:07] samtstern commented on #3075
@kevmo314 can you give the full URL you're hitting?  You need to use the host/port for the **hosting** emulator if you want those redirects from `firebase.json` to work.

It would be clearest if you could show me two full HTTP requests with `curl` against the emulators. One that works and one that does not.

[2021-02-02 15:39] markgoho commented on #3098
@kmcnellis can you point me to an example of this? I have no idea what `changing your test to make the request over the network` means

[2021-02-02 18:38] crazzywizard opened #3101 "Functions emulator crashes if firestore trigger collection name has spaces."
### [REQUIRED] Environment info

**firebase-tools:9.3.0**

**Platform:Manjaro**

### [REQUIRED] Test case

[code]

### [REQUIRED] Steps to reproduce

create firestore trigger with collection name like `Test Payments` and watch https functions fail to work leading to a write.batch error.

### [REQUIRED] Expected behavior

All functions should work.

### [REQUIRED] Actual behavior
Https functions br

[2021-02-02 19:58] kmcnellis commented on #3098
I mean by using the [node http](https://nodejs.org/api/http.html) package, or something like [axios](https://www.npmjs.com/package/axios).  It's an HTTP onRequest function, so you can just do a GET or POST request to localhost:5001/testFirestoreWrite

[2021-02-02 20:59] markgoho commented on #3098
Ah hah!

So this _kind of_ makes sense. You're saying because the functions are exposed locally (localhost:number), I can tweak my tests to just use a node-based http library to just hit the endpoints, and _then_ test the outcome of those functions.

Is this documented anywhere officially? I feel like the documentation around local testing (now that we have emulators) hasn't quite kept up with the

[2021-02-02 21:16] kmcnellis commented on #3097
Ah,  interesting.  This is a regression that started in v8.17

[2021-02-02 21:37] kmcnellis commented on #3097
@bkendall Looks like you did a big change in the hosting emulator in v8.17. Could you take a look at this?

[2021-02-02 21:41] kmcnellis commented on #2960
(Waiting on that MCVE still)

[2021-02-02 21:48] gbibeaul opened #3102 "Firebase authentication sends request to live firebase project instead of firebase emulators on next.js project"
### [REQUIRED] Environment info

**firebase-tools:** 9.3.0

**Platform:** macOs

### [REQUIRED] Test case

This might be better asked inside the firebase-app repo but not sure where is best:

The issue appears to be around sending signup requests to the firebase auth emulators. When creating a user the live firebase projects receives the request instead of the authentication emulator. The firestor

[2021-02-02 22:33] kmcnellis commented on #3101
I can reproduce.  It breaks (silently, without any obvious error messages) when running with firebase emulators:start

[2021-02-03 08:15] chrisjacobs91 opened #3103 "Emulator authentication users not found by https callable function"
### [REQUIRED] Environment info

**firebase-tools:** 9.2.2

**Platform:** macOS

### [REQUIRED] Test case

After creating a user in emulator authentication, I run a https callable function looking for that user ```admin.auth().getUser(id)``` and get the error:

### [REQUIRED] Steps to reproduce
1. Start firebase emulators with the following command: ```firebase emulators:start --only firestore,aut

[2021-02-03 08:23] chrisjacobs91 commented on #3103
Oh, I commented out the admin.auth() call to debug the rest of the function while I was waiting and realised it's calling production, not the emulator.

Is there a way that I can use the https callable functions against the emulators?

[2021-02-03 10:25] felansu commented on #2731
happy new year

[2021-02-03 15:24] sonicwim commented on #2731
As I'm a noob on Github I could not find back this thread after posting my message so I could also not let you know that my problem is solved, it was a because I misinterpreted an instruction (about the default project name) off the tutorial.

Tips on navigating to your posts would be appreciated... ;-)

And I only found this page back because I got a mail today of someone saying happy new year bu

[2021-02-03 15:33] usamedin commented on #2731
Yeah the Happy new year message confused me a lot

[2021-02-03 15:47] jasonford opened #3104 "Configuration to allow more domains in firebase auth emulator?"
https://github.com/firebase/firebase-tools/blob/76726d760ce986c64c5fba30737afea9ea458057/src/emulator/auth/operations.ts#L594

+ 1 for the answer to this TODO question to be yes

Would be super helpful for developing with the emulator on remote machines

[2021-02-03 17:16] yuchenshi commented on #3102
Thanks for the report! This seems like an issue with the JS Auth SDK, and in order for us to dig into this, would you please:

1. Make sure you're using the latest stable JS SDK version (and please post the version number).
2. Add `console.log(fb.auth().emulatorConfig)` right before you create user -- this should log emulator config if enabled.
3. Open Chrome DevTools (Network tab) and then perfor

[2021-02-03 18:33] bkendall commented on #3097
Alright, I'm digging into this, and I'm just mad at code now.

The function itself is doing the right thing:

[code]

And then I try to make the request through the Hosting emulator:

[code]

Wut? WHY IS THAT LOCATION HEADER CHANGED? WHAT IS HAPPENING? WHO DONE THIS?

...

...

...

I'm working on it.

[2021-02-03 20:46] kmcnellis commented on #3103
The root of this is the functions:shell command wouldn't know to set the environment variables to connect to the emulators.

As a workaround, you can follow the "Connect to the <Cloud Firestore|Authentication> emulator" steps for the Admin SDK (setting the GCLOUD_PROJECT, FIRESTORE_EMULATOR_HOST, and FIREBASE_AUTH_EMULATOR_HOST env variables) :
https://firebase.google.com/docs/emulator-suite/conne

[2021-02-03 20:48] kmcnellis commented on #3103
I think it would be a good feature request to have an emulator version of the functions:shell command, so you don't have to set those manually.

[2021-02-03 21:24] sonicwim commented on #2731
Is there a way, @usamedin, to see your forum activity? I can't seem to find it...

[2021-02-03 22:34] usamedin commented on #2731
@sonicwim try https://github.com/notifications/subscriptions, when you comment on a thread you are auto-subscribed to it

[2021-02-04 00:25] yuchenshi commented on #3104
This comment is a bit misleading here, but SDKs should allow connecting to the Auth Emulator on all domains already. If you notice a difference, please file a bug.

[2021-02-04 02:00] #2917 closed

[2021-02-04 03:59] bofeiw commented on #1738
Storage emulator would be very useful to our automated testing. Hope it'll be available soon.

[2021-02-04 08:23] jasonford commented on #3104
Hey, thanks for the quick reply! On the front end I'm calling

```firebase.auth().useEmulator(AUTH_EMULATOR_HOST)```

and the response when I try to sign in (using the google provider) is a 200, but then the client sdk throws an error with code "auth/unauthorized-domain"

the login request made is: ```https://AUTH_EMULATOR_HOST/identitytoolkit/v3/relyingparty/getProjectConfig?key=KEY```

and the r

[2021-02-04 10:50] samtstern commented on #3103
Ok so just so I understand this the flow would be:

1. In one terminal you run `emulators:start` to start up service emulators like Firestore, Auth, etc.
2. In a second terminal you run `functions:shell` to interactively test Functions and you'd like those shell functions to discover the emulators running in the other process and communicate with them.

This is pretty doable, I just want to make s

[2021-02-04 10:51] samtstern commented on #3103
But yes @kmcnellis has the correct short-term workaround, just set `FIREBASE_AUTH_EMULATOR_HOST="localhost:1234"` (or whatever your host is) in your shell before running `firebase functions:shell` and it will work.

[2021-02-04 12:00] chrisjacobs91 commented on #3103
@samtstern pretty much, I use ```emulators:start --only firestore,auth```
otherwise when I run ```firebase functions:shell``` I get an error saying port not open, couldn't start functions emulator.

[2021-02-04 12:17] chrisjacobs91 commented on #3103
Thank you for the workaround @kmcnellis!

Now I can run my callable functions locally in this way, against the firestore and auth emulators, I've noticed two other issues:

1. Firestore and Auth triggered functions are not triggered.
2. I cannot call the callable functions with authentication. (Or perhaps I just don't know how to?)
FYI - I throw an error if the function is called unauthenticated,

[2021-02-04 12:43] samtstern commented on #3103
@chrisjacobs91 yes those are pretty core limitations of the `functions:shell` and not something we're looking to change.  In the end the shell is just an interactive sandbox and as with most sandboxes it can't simulate a whole platform.

If you want to be able to test more advanced flows I suggest running the functions together with the other emulators (in `emulators:start`) and then using one of

[2021-02-04 12:49] chrisjacobs91 commented on #3103
@samtstern I was going to ask, would it be easier to just create a little web page that logs a user in and can call the callable functions 😄

thanks for all your help on this!

[2021-02-04 16:29] yuri-sergiichuk commented on #2870
@yuchenshi any updates on the internal bug? It is a bit annoying to clear the local storage flag each time :-(

[2021-02-04 16:54] #3097 closed

[2021-02-04 17:06] bkendall commented on #3097
This should go out in the next release (when is to be seen). Thanks

[2021-02-04 17:09] yuchenshi commented on #2870
We don't have any updates to share at this point. Feel free to dig into why the WebSocket connection fails and open a new bug, and/or make deleting that storage key part of your setup code as a workaround.

[2021-02-04 17:35] michaelalhilly commented on #2469
@rajkumarboddu I solved this by simply adding the token generated with the firebase login command to the following environment variable: FIREBASE_TOKEN

[2021-02-04 17:51] yuchenshi commented on #3104
Hi! Thanks for bringing this up. The team is currently working on rewriting the full auth SDK. This issue should be addressed when it launches. In the meantime, your temporary patch for the Auth Emulator is a possible workaround.

To give a bit of context, the Auth Emulator should work on all domains but we cannot make `authorizedDomain` an infinite list of all possible domains, and thus the fix h

[2021-02-04 18:09] bkendall commented on #2469
If you are having further issues listing projects, please open a new bug and follow the template. Thanks!

[2021-02-04 19:32] nkshschdv commented on #2870
@yuri-sergiichuk  localstorage trick does not work for me on linux vm , can you share your steps ?

[2021-02-05 03:24] bramosrys commented on #1738
+1 Cannot test with security rules enabled because file access is denied due the Firebase Auth emulator running :(

[2021-02-05 05:49] Ic3m4n34 commented on #2880
I'm having this issue with `9.3.0`

[2021-02-05 09:47] krottv opened #3108 "Firebase Functions deploy requires keyboard input in GCP"
### Environment

**firebase-tools:** Firebase CLI 9.3.0 (latest)

**Platform:** macOS bigSur 11.2

**NodeJs** Tried 10, 12, 14

### Test case

### Steps to reproduce

I created a simple function from firebase documentation

[code]

deployed it - firebase deploy --only functions:

### Expected behavior

Upload it without exception

### Actual behavior

Deployment error.
Build failed: Build error de

[2021-02-05 10:17] yuri-sergiichuk commented on #2870
@nkshschdv, I just delete the value from the local storage from the Chrome Dev tools window:
![image](https://user-images.githubusercontent.com/23313616/107020899-1936f500-67ac-11eb-8c9d-8adbb6b4fcf6.png)

Have not incorporated some automated solution yet.

[2021-02-05 11:51] y-yeah opened #3109 "Google Sign-in not working/warning in Instagram in-app browser"
### [REQUIRED] Environment info

**firebase-tools:8.2.0

**Platform: developed on macOS Catalina 10.15.7, bug found on mobile browsers (iPhone/Android)

### [REQUIRED] Test case

Google needs to redirect to complete authentication but Instagram browser does not allow it to happen. Therefore unless a user opens an external browser, google sign-up/in fails and the user is not even warned with the er

[2021-02-05 12:05] samtstern commented on #3109
@y-yeah I don't think this is an issue with the Firebase CLI. Let me transfer this to the Firebase JS SDK repo.

[2021-02-05 13:38] tudor07 commented on #2764
any updates on this?

[2021-02-05 14:49] FocuzJS commented on #2521
Bump, it seems there is a big need for this as our database is only 180MB and we are running into this issue!

[2021-02-05 15:13] RayyanI commented on #2521
When will a solution for this be introduced?

[2021-02-05 18:01] yuchenshi commented on #2521
I've escalated this internally (b/179491197) but [anybody can help](https://github.com/firebase/firebase-tools/blob/master/CONTRIBUTING.md) to make this happen!

[2021-02-06 01:33] govindrai opened #3111 "Graceful Cleanup causes app engine service to run out of memory"
https://github.com/firebase/firebase-tools/blob/d162aec2334c29d3a1ad1a0ee91448b8b0ff8346/src/profiler.ts#L14

The profiler previously used to clean up its tmp files after report generation. Now it uses graceful cleanup means it doesn't clean up until the process exits.

This is a problem because this assumes that the profiler is run adhoc. We run the profiler continuously and then export that data

[2021-02-06 03:36] gbibeaul commented on #3102
Sounds good I'll do this over the weekend!

[2021-02-06 17:13] rahulbansal16 commented on #1324
@abeisgoat

My browser is returning the non-existant-script.js from the disk cache, but the content of the file is latest index.html deployed?

How is it possible?

[2021-02-07 04:42] devpeerapong opened #3113 "Error message when running init hosting:github on a fresh project"
### [REQUIRED] Environment info

**firebase-tools:** 9.3.0

**Platform:** macOS 11.1

### [REQUIRED] Test case

As the [document](https://firebase.google.com/docs/hosting/github-integration) said, The `firebase init hosting:github` should only run on the project that is already setup Hosting.
But many of us mis-read the document and try to run it on the 1st setup instead.
The CLI should throw a us

[2021-02-07 07:50] NandhaGopiFrost commented on #2183
Even am facing the same issue
1. I have manually entered data using emulator UI, when I try to get the data back, exists is false always for me

My firestore emulator run on localhost:5000

`db.collection("myfirstcollection").doc("dataexitsinthedocument").get()
        .then(snapShot=>{
            if(snapShot.exists){
                console.log(snapShot.data())
            }else{
              c

[2021-02-07 08:42] takaaa220 opened #3115 "context.rawRequest.ip returns undefined in functions emulator"
### [REQUIRED] Environment info

**firebase-tools:** 9.3.0

**Platform:** macOS

### [REQUIRED] Test case

I was trying to implement ip restriction in my function, but `context.rawRequest.ip` returned undefined in functions emulator. (actual my function in cloud functions returns valid ip address)

### [REQUIRED] Steps to reproduce

1. create a callable function (or onRequest)
2. start functions e

[2021-02-07 10:08] #3115 closed

[2021-02-08 02:00] #3078 closed

[2021-02-08 02:31] andrewdimmer opened #3116 "Unable to Remove an Emulator via the CLI or the `firebase.json` File Directly"
### [REQUIRED] Environment info

**firebase-tools:**

[code]

**Platform:**

[code]

### [REQUIRED] Test case

I started a new firebase project using `firebase init`, and configured the emulator for authentication, functions, firestore, and hosting. I then ran `firebase emulators:start`, and everything ran fine. However, I then wanted to remove the hosting emulator, so I tried both removing it by

[2021-02-08 09:54] samtstern commented on #3116
@andrewdimmer thanks for the detailed feedback!  I can totally see how this is confusing although right now this is working as intended.  The `emulators:start` command runs an emulator if any of the following is true:

- There's an `emulators` config in `firebase.json`
- The service is configured for general use in `firebase.json`
- You specifically pass the emulator name with the `--only` flag

S

[2021-02-08 10:09] wmadden commented on #2773
Thanks @smhmd! That did the trick

[2021-02-08 12:25] samtstern commented on #3098
For other people who get the `invalid_grant` issue and **are** trying to access production it may mean that your token is invalid for some reason and you need to log in again.  Try running:

[code]

and

[code]

[2021-02-08 12:27] samtstern commented on #3098
I opened https://github.com/firebase/quickstart-testing/issues/97 to track improving the documentation! Closing this here as I don't think there's a CLI bug.

[2021-02-08 12:27] #3098 closed

[2021-02-08 15:21] JoeEarly commented on #3092
Am seeing this also on Mac, every other time my export files are either corrupted or missing data.

Will comeback with the detail

[2021-02-08 20:15] cameronrdecker opened #3119 "Call to auth emulator returns ERR_EMPTY_RESPONSE"
### [REQUIRED] Environment info

**firebase-tools:** 9.3.0

**Platform:** Docker container running on Windows 10

### [REQUIRED] Test case

I have the emulators running in a docker container, and the UI runs just fine:
![image](https://user-images.githubusercontent.com/8582041/107273143-abddcb00-6a1c-11eb-8f47-b8b879b1a72d.png)

But when I make a call to the auth URL (localhost/9099), I receive a

[2021-02-08 21:37] moodstudioseva commented on #2215
npm WARN deprecated har-validator@5.1.5: this library is no longer supported
npm WARN deprecated request@2.88.2: request has been deprecated, see https://github.com/request/request/issues/3142
I got this output after typing the command "npm install --global surge".
I tried "npm cache verify" like some of you did, but for me it doesn't solve the problem I again get these outputs.
Can someone help m

[2021-02-08 23:21] alsohas opened #3120 "Function deployment fails when running on Node 15.8.0"
### [REQUIRED] Environment info

**firebase-tools:** 9.3.0
**Node Version:** 15.8.0
**Platform:** Linux 5.4.89-1-MANJARO

### [REQUIRED] Test case
Deploy the function generated initially when you run `firebase init` and select functions.
[code]

### [REQUIRED] Steps to reproduce

Deploy the function above:
[code]
### [REQUIRED] Expected behavior

Expected behavior is to deploy the function(s) with

[2021-02-09 00:34] sshquack commented on #1409
Came here form https://github.com/firebase/firebase-tools/issues/2233#issuecomment-627323850 Currently it very confusing to piece together globs of json from multiple locations without knowing the source of truth. Here are some of the scattered configs from the docs for reference:

https://firebase.google.com/docs/cli#the_firebasejson_file
https://firebase.google.com/docs/hosting/full-config#fireb

[2021-02-09 01:28] jthegedus commented on #1409
I'd like to add, having a utility function that validates a Firebase configuration would also be helpful (whether by the json schema or otherwise). I implemented a tool recently that reads a provided Firebase config and needed to implement a large Joi validation to check to ensure when Firebase rewrites to a Cloud Funtion that the `functions` config exists and is valid. It was painful and probably

[2021-02-09 05:23] bofeiw commented on #2577
This will save new users a lot of time like me, who spent quite some time figuring why that error message was occuring.

[2021-02-09 10:10] jasonho-lynx commented on #2764
The error seems to also happen despite using the Functions emulator - do you mean that it only works if `verifyIdToken` is used within a `https.callable`? I'm using Express in my Cloud Function instead

[2021-02-09 11:39] rip3rs commented on #1738
Hi all, I'm here for the storage emulator :)

btw:

@itsravenous that can get expensive. Isn't that a bit dangerous?

[2021-02-09 11:43] itsravenous commented on #1738
That's of course your call. I haven't scratched the surface of my free limit via automated tests run against my non-prod firebase env, but obviously that entirely depends on how many tests you have, how often you run them, and what they are doing :smile:

I would certainly advise you set up billing alerts to ensure you don't spend more than you want to.

[2021-02-09 19:50] garyo commented on #1371
This is still happening for me, and is pretty annoying. Everything else works with ADC (GCE, Firestore, GCS, etc.) but for some reason auth doesn't, and this is considered to be "working as intended". I can't always set `GOOGLE_APPLICATION_CREDENTIALS` because that confuses some other things that need to use application-default credentials. So I'm forced to set it and unset it depending on which o

[2021-02-09 21:59] taeold commented on #2994
In addition to problems with how triggers are parsed in firebase-tools repo, the functions framework (used to load and run user-provided code in google cloud functions) doesn't seem to support ESM yet: https://github.com/GoogleCloudPlatform/functions-framework-nodejs/issues/233.

[2021-02-09 22:02] mbleigh commented on #2994
@taeold good catch. Seems like even if we finished the work here we'd be blocked on that. Perhaps we should put a pin in this until work has been done in the functions framework.

[2021-02-10 00:31] charles-allen commented on #1862
I don't understand this logic. In what sense is the base part of the URL unnecessary? How can I make a base relative `href` or `src` if you set baseUrl to nothing?

[2021-02-10 01:35] hosaka commented on #2574
Was having the same issue today. Another developer with the same permission list as described by OP, calling `firebase init functions` in a project that had functions configured previously. We were getting the same 403 error. Solved, if I can say that, by making another dev the "Owner" of the Firebase project in the firebase dashboard.

[2021-02-10 02:42] jimmont commented on #3120
+1 Same issue, v15, which is what (was) available on the M1 apple-silicon brew installery of late, leading to the this workflow (here) HTH. What a curiosity these errors. Supporting a vendor's software....

[2021-02-10 03:30] bofeiw commented on #1738
This could be a temporary workaround, not ideal for larger scale automated testing. Running emulator locally will be much time-efficient to run the test cases.

[2021-02-10 07:32] AQuackenbos commented on #3120
+1, also seeing this issue on Node v15.8.0

[2021-02-10 10:27] lisp719 opened #3121 "firestore emulator on hosting emulator does not work"
### [REQUIRED] Environment info

**firebase-tools:** 9.3.0

**Platform:** Docker container running on Windows 10

### [REQUIRED] Test case

I launched a firebase emulator with docker.
I have specified a host to access from outside the container.

[code]

However, I cannot access the firestore emulator from the hosting emulator.

Emulator UI is accessing the firestore emulator at 127.0.0.1:8080.
Ho

[2021-02-10 10:54] samtstern commented on #3121
@lisp719 can you explain a little more what you mean by "I can access the firestore emulator from the hosting emulator." ... is there a specific line of code that is not working for you?  If so could you show the code and the logs?

[2021-02-10 11:08] samtstern commented on #1862
@charles-allen I can totally see your use cases but our goal here is in this repo is simple: create emulators which locally match the behavior of Google Cloud Functions in production.

I can't offer any insight as to why GCF paths are the way they are, that sort of decision is a few years old and was made before these emulators existed!  Changing it would be really disruptive so I think we'll have

[2021-02-10 11:35] itsravenous commented on #1738
Totally agree. For me, it works OK as my project is fairly small. But of course, if we could emulate storage then that would be much, much better.

[2021-02-10 12:38] sebastijandumancic commented on #1940
To all running into this issue after updating from <8.5.0 of CLI tools:
`firebase logout` and then `firebase login` to set up GOOGLE_APPLICATION_CREDENTIALS correctly fixes the issue. Thanks @samstern

[2021-02-10 12:40] sebastijandumancic commented on #1940
To all running into this issue after updating from <8.5.0 of CLI tools:
`firebase logout` and then `firebase login` to set up GOOGLE_APPLICATION_CREDENTIALS correctly fixes the issue. Thanks @samtstern

[2021-02-10 15:00] lisp719 commented on #3121
# public/index.html

This is mostly html created with `firebase init hosting`

[code]

# /__/firebase/init.js?useEmulator=true

Probably init.js generated by hosting emulator

[code]

# browser console error

POST to http://0.0.0.0:8080 will be net :: ERR_ADDRESS_INVALID

![image](https://user-images.githubusercontent.com/368034/107526619-60354800-6bfb-11eb-8a3f-b10495bb0153.png)

[2021-02-10 19:30] xiwa1866 opened #3123 "FATAL ERROR: wasm code commit Allocation failed - process out of memory"
this happens when I try to run the firebase command
<img width="1440" alt="Screen Shot 2021-02-10 at 11 30 17 AM" src="https://user-images.githubusercontent.com/74705557/107561422-5d067180-6b93-11eb-95ef-3cc1e21bad8b.png">
I use node version 14.15.5

[2021-02-10 20:03] aameen951 opened #3124 "`database.rules.json` is not applied to the default RTDB instance in the emulator."
Hi there,

This #2979 pull request fixed one part of the problem mentioned in #2965 where the default instance in hosting is different from the default instance in firebase-admin and both of them now reference the same instance which is `project-id-default-rtdb`.

However, the rules in `database.rule.json` are still being applied to `project-id` instead of `project-id-default-rtdb`, and I don't kn

[2021-02-10 21:48] janswist opened #3125 "ERROR: build step 5 "us.gcr.io/fn-img/buildpacks/nodejs12/builder:nodejs12_20201201_20_RC00" failed: step exited with non-zero status: 246"
### [REQUIRED] Environment info

**firebase-tools:** 9.2.1

**Platform:** macOS

### [REQUIRED] Test case

`firebase deploy --only functions`

### [REQUIRED] Steps to reproduce

`firebase deploy --only functions`

### [REQUIRED] Expected behavior

Deploy functions as usual.

### [REQUIRED] Actual behavior
[code]

Log from the Logs Explorer:
[code]

[2021-02-10 23:33] yuchenshi commented on #3101
Thanks for the bug report! I've tracked this internally as b/179941689.

[2021-02-10 23:56] yuchenshi commented on #2764
This restriction is now lifted as of [Node.js Admin SDK v9.5.0](https://github.com/firebase/firebase-admin-node/releases/tag/v9.5.0). Happy verifying emulator tokens!

[2021-02-10 23:56] #2764 closed

[2021-02-11 00:01] yuchenshi commented on #2770
As of Firebase CLI v9.3.0, creating session cookie is now supported and we've also added coercion from number to string similar to production behavior (hat tip to @andymatuschak). Note that you need [Node.js Admin SDK v9.5.0](https://github.com/firebase/firebase-admin-node/releases/tag/v9.5.0) to *verify* these cookies properly.

[2021-02-11 00:20] xiwa1866 commented on #3123
this issue is fixed with node.15

[2021-02-11 00:20] #3123 closed

[2021-02-11 01:11] andrewdimmer commented on #3116
@samtstern Thank you so much! That makes significantly more sense. I confirmed that once I removed the auth emulator from the `firebase.json` file, it no longer started up.

Still a little bit confused that you cannot remove configuration from the `firebase init emulators` command, as I wasn't able to remove the auth emulator from the `firebase.json` file using that, and auth was not otherwise con

[2021-02-11 01:11] #3116 closed

[2021-02-11 08:54] oxc opened #3126 "Non-required extension parameters cannot be omitted"
### [REQUIRED] Environment info

**firebase-tools:** 9.3.0

**Platform:** Ubuntu (on WSL)

### [REQUIRED] Test case

Install `firestore-send-email` extension with a `--params` file, which does not specify the (optional) parameter DEFAULT_REPLY_TO.

### [REQUIRED] Steps to reproduce

[code]

### [REQUIRED] Expected behavior

The extension installs correctly, with all non-required parameters that ha

[2021-02-11 09:47] oxc opened #3127 "Extensions cannot be installed non-interactively"
### [REQUIRED] Environment info

**firebase-tools:** 9.3.0

**Platform:** Ubuntu (on WSL)

### [REQUIRED] Test case

Install firestore-translate-text with parameters defined in config file (all params have default values, so can be omitted)

### [REQUIRED] Steps to reproduce

[code]

### [REQUIRED] Expected behavior

The command runs without any user interaction.

### [REQUIRED] Actual behavior

T

[2021-02-11 12:19] samtstern commented on #3116
@andrewdimmer yeah that's good feedback. Right now `init` is always additive, it can't be used to undo anything. I could see how that could be useful though!

[2021-02-11 13:43] cameronrdecker commented on #3119
Looks like I got it working by adding `"host": "0.0.0.0"` to both the auth and functions services in the `firebase.json` file. I guess I would have thought that would be automatically generated when I do the `firebase init` CLI command.

[2021-02-11 13:43] #3119 closed

[2021-02-11 16:32] samtstern commented on #2988
@xaphod sure I am in London, UK using a 5g home internet hub and Vodafone is my service provider.

[2021-02-11 16:42] xaphod commented on #2988
Thanks Sam - and are you seeing the same TLS/SSL errors (ie. Client network
socket disconnected) or something different?

On Thu, Feb 11, 2021 at 11:33 AM Sam Stern <notifications@github.com> wrote:

[2021-02-11 17:06] samtstern commented on #2988
@xaphod I see these kinds of errors all the time but it's not Firebase specific. I've seen them with the GitHub API and with basically any other network request that I've bothered to monitor.

[2021-02-11 17:30] yuchenshi commented on #3121
As you've observed, we need a fix similar to firebase/firebase-tools-ui#312. You're welcome to open a PR to port that change to `init.js` in hosting emulator, or you can remove `?useEmulator=true` and initialize the SDKs yourself as a local workaround.

[2021-02-11 20:05] taeold commented on #3120
Hi folks - we are actively taking a look at the issue. Stay tuned.

[2021-02-11 20:05] taeold commented on #3108
Thanks for reporting @krottv. We'll track this bug in https://github.com/firebase/firebase-tools/issues/3120 instead.

[2021-02-11 20:05] #3108 closed

[2021-02-11 22:57] lukaselmer commented on #986
Thx @izakfilmalter

If you use the base url as described in https://create-react-app.dev/docs/importing-a-component/#absolute-imports, you can fix the absolute import errors the following way:

`tsconfig.json`

[code]

`/src/fix-ts-paths.ts`

[code]

`/src/index.ts`

[code]

`/src/functions.ts`

[code]

Since absolute imports are commonly used, would it make sense to document this in the official

[2021-02-11 23:50] dgaedcke opened #3129 "Crash installing on M1 Mac using arm64 node"
### [REQUIRED] Environment info

I've reinstalled Firebase with:
curl -sL firebase.tools | upgrade=true bash
and firebase --version
yields:   Abort trap: 6  (partial log below)

Running M1 Mac 11.2
Node12 installed with Homebrew ARM64

~$ brew --version
Homebrew 3.0.0
Homebrew/homebrew-core (git revision 7eaf2; last commit 2021-02-09)
Homebrew/homebrew-cask (git revision c2081; last commit 2021-02

[2021-02-11 23:51] dgaedcke commented on #3129
<!--

### [REQUIRED] Environment info

I've reinstalled Firebase with:
curl -sL firebase.tools | upgrade=true bash
and firebase --version
yields:   Abort trap: 6  (partial log below)

Running M1 Mac 11.2
Node12 installed with Homebrew ARM64

~$ brew --version
Homebrew 3.0.0
Homebrew/homebrew-core (git revision 7eaf2; last commit 2021-02-09)
Homebrew/homebrew-cask (git revision c2081; last commit 2

[2021-02-12 11:02] johanchouquet commented on #590
Sorry for the delay to answer @mbleigh.

Many thanks for the video, quite informative!

To be honest, the main benefit that I see for extending the `firebase.json` would be for dealing with Cloud Functions in monorepos.

To me, the goal of Firebase you describe is 100% achieved: right now, I can totally manage the scenario you gave 'dev / staging / prod project' with a single  `firebase.json` file

[2021-02-12 12:27] yeldarby opened #3130 "Regression: firebase serve doesn't connect to already running functions emulator"
### [REQUIRED] Environment info

**firebase-tools:** 9.3.0
**Platform:** macOS 11 Big Sur

### [REQUIRED] Test case

We have an app that runs `hosting` on two separate domains (with different front-ends) that both share a single set of `functions`.

Previously, we were able to get these both running locally at the same time by running `firebase serve` in each project directory. The first would run

[2021-02-12 15:23] samtstern commented on #3130
@yeldarby thanks for reporting. I can see how this is a regression but I'm not sure if we actually ever considered this use case or if this is something we want to fix.  My guess for when this changed would be some time around `7.0.0` ... so a *long* time ago.

Most people should be using `firebase emulators:start` not `firebase serve` these days although I don't think that will fix your problem.

[2021-02-12 15:24] samtstern commented on #3130
@yeldarby is there a reason you can't just run two copies of the functions just like you run two copies of hosting? If you run Hosting and Functions together with `emulators:start` you won't have this problem.

[2021-02-12 15:52] yeldarby commented on #3130
We use `firebase serve` when we want to use the remote `firestore` and `firebase emulators:start` when we want to start the `firestore` emulator locally as well.

I will look into whether we could define the ports to be different in the respective `firebase.json` files and create a proxy command with the proper `--only` settings for each of these two configurations and if that works to solve the i

[2021-02-12 15:54] samtstern commented on #3130
@yeldarby fwiw you can use `firebase emulators:start` in both of those cases.  If you do `firebase emulators:start --only hosting,functions` then any communications with Firestore will automatically go to the real Firestore.

[2021-02-12 21:59] taeold commented on #3120
It looks like the issue is related to archiverjs/node-archiver#491.

They've patched up the issue, but we are using an older version of archiver that did not receive the patch. We'll need to try updating the archiver version and make sure nothing breaks.

Anyone interesting in helping with the changes?

[2021-02-13 00:02] jasan-s opened #3133 "Retry on failure Functions deploy failing using Github Action"
I have a firebase function that is triggers on firestore doc OnCreate with `failurePolicy` set to `true` like so:

[code]

Locally, using Firebase CLI i can deploy successfully, but requires I acknowledge that this function will retried on failure, do you still want to deploy? **Yes/No**.

once **Yes** is selected the function deploys successfully.

I'm using Github Actions to deploy the firebase

[2021-02-13 00:17] jasan-s opened #3134 "Retry on failure Firebase Function deploy failing using Github Action"
I have a firebase function that is triggers on firestore doc OnCreate with `failurePolicy` set to `true` like so:

[code]

Locally, using Firebase CLI i can deploy successfully, but requires I acknowledge that this function will retried on failure, do you still want to deploy? **Yes/No**.

once **Yes** is selected the function deploys successfully.

I'm using Github Actions to deploy the firebase

[2021-02-13 00:40] Joebayld commented on #2764
Is there anything special we need to do for the `firebase-admin` to verify emulator tokens? I'm still getting the 'Firebase ID token has no "kid" claim.' error..

[2021-02-13 04:42] jasan-s commented on #3133
this solves it:

`yes | firebase deploy --only functions --force`

[2021-02-13 04:42] #3133 closed

[2021-02-13 04:42] jasan-s commented on #3134
this solves it:

`yes | firebase deploy --only functions --force`

[2021-02-13 05:51] taeold commented on #3134
Great to know that you've found a workaround.

I'm keeping the issue open since I do expect `--force` to work on the described usecase - it's a bug I'd like to see addressed.

[2021-02-13 06:26] Yorzic commented on #3120
Thank you, @taeold! When do you expect you'll release an updated version?

[2021-02-13 14:31] approached commented on #3129
Just try with the current version.

[code]

[2021-02-13 14:43] approached commented on #3129
FYI: #3120

[2021-02-13 14:53] approached commented on #3120
I' am use M1 apple-silicon to.
With node >14 version firebase-tool doesnt works. I have same error like #3129
With version 15 it works but i am frustrated on the deploy. The deployment is not possible.

I'am am waiting for your update 🥇

[2021-02-13 19:26] andrscyv commented on #825
Hi everyone, what permissions would you recommend giving the service account to run firebase ci in this way ?

For instance for hosting and cloud functions deployment

Thanks in advance

[2021-02-13 19:51] andrscyv commented on #825
What I ended up doing was giving Service account user, firebase hosting admin and cloud functions admin permissions to the service account and it seems to work.

If someone has a better or more secure solution please share

Cheers!

[2021-02-14 07:03] noman20 commented on #626
use sudo install

[2021-02-14 11:04] Canavell commented on #1738
We need this! It's even looks strange when you have emulators on all your products except storage
I absolutlty love your solution for emulators, but add storage emulator please

[2021-02-14 14:40] emarcotte commented on #3075
Been fighting with this myself, here's a small example:

Firebase.json:
[code]
starting emulators (to see port mapping)
[code]

A function that simply logs the incoming path back to caller:

[code]

A curl against the function endpoint:
[code]

A curl against hosting (should rewrite to function emulator):
[code]

Generate this rewrite log:
[code]

As you can see, in the function emulator the path

[2021-02-14 16:23] kevmo314 commented on #3075
Thanks! Yeah that's the behavior I was seeing as well.

[2021-02-14 20:02] adi518 commented on #758
Seems a bit strange that the TypeScript boilerplate doesn't include a `build` script in `watch` mode.

[2021-02-14 22:22] carloschida commented on #3092
On macOS 11.1 with `firebase-tools@9.3.0` I'm seeing something of the kind:

On WebStorm 2020.3.2 when using the "Run" button on `emulators:start`:

[code]

The result is:
[code]

But **only** the folder gets created without any contents. I'm assuming that WebStorm is not giving the process enough time after sending the interrupt signal.

On the other hand, when running `yarn emulators:start`, it

[2021-02-15 06:48] Nevvulo opened #3136 "Failure to consume event when writing data in Firestore emulator: "Invalid pattern. Reason: [85:-] Expected '}' at end of capture expression.""
### [REQUIRED] Environment info

**firebase-tools:** v9.3.0

**Platform:** Windows 10 Home, version 2004

### [REQUIRED] Test case
I started the Firestore emulator using `firebase emulators:start --export-on-exit --import ~/.flux` and everything loads as expected, no warnings. Navigating to the Emulator UI (which is hosted at `localhost:4000` for me), if I modify/create a field or document (basica

[2021-02-15 10:34] samtstern commented on #3136
@Nevvulo sounds like you have a malformed cloud functions trigger or Firestore rule that is missing a `}` character. Can you show me your rules file and also any Cloud Functions definitions involving Firestore>

[2021-02-15 11:08] samtstern commented on #825
@andrscyv that seems right to me!

[2021-02-15 13:25] Nevvulo commented on #3136
@samtstern Thanks for the quick response, you're absolutely right. Turns out it wasn't as black and white as that, I had a cloud function trigger that looked like this `data/{uid}/{yyyy-ww}` and it was the dash character that was causing the pattern to mess up, hence the `[85:-ww}]` in the error.

Appreciate your help 🤗 however if I had to give some feedback it would be nice if there was a less ve

[2021-02-15 13:25] #3136 closed

[2021-02-15 19:51] inlined opened #3137 "firebase init remoteconfig will always overwrite existing template files"
Found through code analysis. It looks like we [overwrite an existing template file regardless of user choice](https://github.com/firebase/firebase-tools/blob/master/src/init/features/remoteconfig.ts#L47).

[2021-02-15 19:58] inlined commented on #3137
Verified:

[code]

[2021-02-15 20:00] inlined commented on #3137
Second error: the default is an empty file, which fails deployment.

[2021-02-15 20:30] trullock commented on #2577
+1 for this, just spent ages trying to understand what `false for get` meant..

[2021-02-15 21:21] ciocan commented on #2329
Same issue here. React Native has nothing to do with it.
When I get  the emulator functions address I get "Not found"

![Screenshot 2021-02-15 at 21 18 48](https://user-images.githubusercontent.com/4984377/107993969-97c53b00-6fd3-11eb-9421-52ad92e15bfa.png)

Firestore emulator address responds with "ok"

Is this normal?

[2021-02-16 02:00] #2960 closed

[2021-02-16 02:47] rcopstein commented on #3121
I've had a similar issue using Docker on macOS Big Sur. It's was interesting to see that hosting using `firebase serve` worked as expected. That didn't meet my requirements because I also wanted the Firestore emulator to be running with it. My workaround was to setup NGINX on my container to proxy requests to localhost:5000 (which is where hosting was being exposed when launched with `firebase emu

[2021-02-16 10:39] samtstern commented on #2329
@ciocan accessing the `/` path on the Functions emulator will always produce a Not Found error because there is no function there. The only part of the Emulators you should try to access directly in your browser is the Emulators UI, which is normally at port `:4000`

[2021-02-16 12:43] ir-fuel commented on #2228
Have the same issue, the npm script is a good workaround

[2021-02-16 17:54] taeold commented on #3120
Patch submitted. It will be included in the next release for firebaes-tools package (AFAIK we don't have a regular release schedule, but we do get out a release ~once a week.

[2021-02-16 18:18] yuchenshi commented on #3092
@carloschida  Thanks for the report! Exporting may take a few seconds and if WebStorm isn't giving the emulator enough time to do the work, there isn't a ton we can do here. We suggest running `emulators:start` in a terminal and you may find the built-in WebStorm terminal emulator better than the "Run" button for your case. Anyway, feel free to contact WebStorm regarding the issue.

[2021-02-16 18:36] yuchenshi commented on #3121
This is now fixed by #3141 (thank you!) and will be included in the next release.

[2021-02-16 18:36] #3121 closed

[2021-02-16 18:46] jmeyers91 commented on #2409
I'm also seeing this error. It appears every time I run `firebase emulators:exec` but I can start the emulators with `firebase emulators:start` without a problem.

[2021-02-16 23:42] ryanmchenry2 opened #3143 "Cannot Initialize Github Actions on Organization Account"
### [REQUIRED] Environment info

Mac 10.15.7, 64gb ram, intel i9

9.0.1

**firebase-tools:**

**Platform:**

macOS

### [REQUIRED] Test case

n/a
### [REQUIRED] Steps to reproduce

Create a Firebase project from the web console, initialize hosting, create a github repo in an organization owned by the github auth account connected to firebase, attempt to setup github actions, get 403 after selectin

[2021-02-16 23:45] ryanmchenry2 commented on #3143
I can confirm that I am the owner of the organization the owner of the firebase project, and the owner of the github repo within the organization. However, the error message in the 403 response still suggests that I do not have admin rights to the repo.

[2021-02-17 03:03] branlok commented on #2126
im also getting a similar error

⠏  hosting: uploading new files [0/1] (0%)
Error: Task e8ad9939e2164594316de4d55df0506e33c10c3b66e44322f2fab9f4607a1a47 failed: retries exhausted after 6 attempts

i cant deploy my project at all now

[2021-02-17 09:25] gpfister commented on #1738
This is also a big requirement on our side, Storage plays a big role in our app. Please add Storage as soon as possible.

[2021-02-17 12:03] smasinde commented on #2392
this should be run in the functions folder

it says it in his error code here

[2021-02-17 16:35] kevin-mao commented on #2379
Having same issue as @nolafs - works fine without importing but shows this Timeout error when importing a rather large database (import folder is 460.3 MiB). Is there any way to extend timeout?

[2021-02-17 17:49] poojabhargava30 commented on #2215
npm WARN deprecated request@2.88.2: request has been deprecated, see https://github.com/request/request/issues/3142
npm WARN deprecated har-validator@5.1.5: this library is no longer supported
npm WARN deprecated cross-spawn-async@2.2.5: cross-spawn no longer requires a build toolchain, use it instead
npm WARN deprecated urix@0.1.0: Please see https://github.com/lydell/urix#deprecated
npm WARN dep

[2021-02-17 20:09] #3070 closed

[2021-02-17 20:26] taeold commented on #3120
The fix is available in the latest firebase-tools package (>9.4.0).

[2021-02-17 21:13] lucasdemoraesc commented on #3143
@ryanmchenry2 this feature is working for me.
Have you, as the organization owner, already granted firebase access to it?

You need to go to your profile settings -> Applications -> "Authorized OAuth Apps" tab -> Click on Firebase CLI -> Organization access will appear below, just guarantee access

[2021-02-17 21:37] donhmorris commented on #3129
I can confirm this is a problem with m1 macs. You can't deploy firebase functions with any version of node. The firebase cli does not work for functions on m1 macs.

I also received a message from firebase support indicating it is not a priority for them to fix, so good luck.

[2021-02-17 21:56] inlined commented on #3129
I don't have immediate access to an M1. I'm going to try to get my hands on one and look into it.

[2021-02-17 22:16] kmcnellis opened #3145 "`firebase open hosting:site` not working with RTDB delayed-provisioning project"
### [REQUIRED] Environment info

**firebase-tools:** 9.4.0

**Platform:** macOS

### [REQUIRED] Test case

Tested using https://github.com/firebase/quickstart-js/tree/master/functions

### [REQUIRED] Steps to reproduce

 - Create a new project using `firebase init`
 - Deploy a site using hosting
 - Run `firebase open hosting:site`
 - The` <project>-default-rtdb.web.app` url will open, not `<projec

[2021-02-17 22:19] ryanmchenry2 commented on #3143
That solved it! Appreciate the pointer @lucasdemoraesc

[2021-02-17 22:19] #3143 closed

[2021-02-17 22:28] kmcnellis commented on #3129
I'm not able to replicate this on a Mac Mini M1 running node v12.20 or v15.8, and firebase-tools v9.4.0.

I tried installing via `npm install firebase-tools -g` and also via `curl -sL firebase.tools | upgrade=true bash`, and both work for me.

`firebase --version` and `firebase deploy` on the code from https://github.com/firebase/quickstart-js/tree/master/functions both are succeeding.

[2021-02-17 22:28] dgaedcke commented on #3129
yes, the Firebase CLI won't run on M1 macs, but you can get around this problem by doing the following:

add this code near the top of your function:

process.env.GCLOUD_PROJECT = "pbusterapi"
const admin = require('firebase-admin');
admin.initializeApp();

and then use gcloud to deploy as follows:

gcloud functions deploy newCommFeedRecord \
  --trigger-event providers/google.firebase.database/ev

[2021-02-17 22:33] donhmorris commented on #3129
The only problem is deploying functions. Try deploying 3 or 4 functions using this command: firebase deploy --only functions

Let me know what happens using node 15.8

[2021-02-17 22:34] donhmorris commented on #3129
I haven't tried using node 12. I've been using node 14 & 15.

[2021-02-17 22:37] kmcnellis commented on #3129
No issues using node 15 and `firebase deploy --only functions`

`node -v` : v15.8.0

[2021-02-17 22:39] donhmorris commented on #3129
@dgaedcke I've been using my windows machine to deploy my functions. I don't want to code around the cli issue.

The best option is to fix what is wrong with the cli running on apple silicon. The dev kit for apple silicon has been out since last summer. If I were a firebase project lead I would have assigned qa testing for the cli on apple silicon months ago. Firebase is a product sold by google,

[2021-02-17 22:41] donhmorris commented on #3129
Very interesting. You are the first to report that. Firebase support sent me a message indicating they knew it was a documented issue. It might be helpful if they knew what was different in your setup.

Do you have the gcloud tools installed?

[2021-02-17 22:45] kmcnellis commented on #3129
Not currently.  I'll try that next.

Could it have to do with homebrew?    I changed node versions with the `n` tool, not brew.

[2021-02-17 22:50] donhmorris commented on #3129
I don't think so.
I'm using nvm which built nodejs from src for version 14 & 15 since the binaries were not present for darwin/arm64.
Im using npm 6 instead of 7 since 7 has had some issues.

Fortunately I have a windows machine I can use since I build windows desktop apps for some of my clients.

[2021-02-17 23:01] kmcnellis commented on #3129
Have you tried on the latest firebase-tools version?

[2021-02-18 03:32] kmcnellis commented on #3129
I think I've narrowed this down to node being installed via nvm (built locally, rather than downloading binaries).

When installing node via `n` (downloads binary):
 - `sudo n 15.8` :  installed : v15.8.0
- `which node` : /usr/local/bin/node
Deploy complete

When installing node via `nvm` (builds binary locally):
 - `nvm install 15.8`
 - `nvm use 15` : Now using node v15.8.0 (npm v7.5.1)
- `which

[2021-02-18 11:28] clentoo opened #3171 "Cannot read property lookup of undefined"
I am trying to use Cloud functions to work on payment authentication with stripe in an e-commerce store project. The code for the index.js file after installing functions using firebase CLI goes thus:

[code]

To emulate before deploying I run firebase emulators:start in the command line and get this error immediately I click on the link to access the emulator UI in chrome:

[code]

[2021-02-18 14:39] #3102 closed

[2021-02-18 15:16] StevenHallLtd commented on #3124
This has been driving me crazy.  Do you know of a workaround @aameen951?  I tried using the instance flag on the CLI, and also setting a target in firebase.json, but to no avail.  I'm not sure I'm setting it right as the docs aren't that explicit.

[2021-02-18 15:31] samtstern commented on #3124
Thanks @StevenHallLtd  and @aameen951 for reporting, let me take a look at this.

[2021-02-18 15:34] aameen951 commented on #3124
@StevenHallLtd At first, I didn't know it was happening. But when I start to use queries with filters it became an annoying problem.
I worked around it by programmatically setting the rules on the database from firebase functions.
In your `functions/src/index.js`  do the following:

[code]

The one downside to this workaround so far is that if you change the rules file it won't update automaticall

[2021-02-18 17:16] #3124 closed

[2021-02-18 17:16] samtstern commented on #3124
Fixed in #3146 and will be included in the next release.

[2021-02-18 19:13] brianneisler commented on #2735
@yaoonline currently still unresolved. The best solution i've found so far is to...
1) Use the [firemin](https://github.com/brianneisler/firemin) rules minifier to reduce the number of statements in your rules file and the overall size of the file.
2) Use a gigabit ether line when trying to deploy your rules. The faster connection seems to ease the issue on whatever internal timeout on the Google

[2021-02-18 20:03] ljle opened #3147 "firebase deploy --only functions:oneFunction fails but function is deployed successfully"
### [REQUIRED] Environment info

**firebase-tools:** 9.4.0

**Platform:** Arch Linux on WSL2 with Node 12.20.1

### [REQUIRED] Test case

I don't have a minimal test case for this.

### [REQUIRED] Steps to reproduce
- Run `firebase deploy --only functions:oneFunction`

### [REQUIRED] Expected behavior

- Output in the console that the function was successfully deployed.

### [REQUIRED] Actual beha

[2021-02-18 22:18] m4recek commented on #3147
We have had same problem and few more with 9.4.0 and reverted to 9.3.0 to get our deploys working again.
- error in deploy, success in cloud console
- error in deploy, in progress in cloud console (subsequent retry failed because `HTTP Error: 400, An operation on function ... is already in progress`
- reporting error for one function from a batch and not reporting status of the rest of the batch
-

[2021-02-18 22:23] joehan commented on #3147
Hi @ljle, thanks for reporting this. It looks like the issue here is that the function you deployed is taking longer to deploy than our timeout on polling the operation. I'll make a PR to increase this timeout, which should help.

@m4recek I think the first 2 issues are related to this timeout - I'll take a closer look into the other 2 shortly.

[2021-02-18 22:36] joehan commented on #3147
@m4recek

Could you open a separate issue for this and include logs of what you're seeing? I think I identified one issue with the code that might cause this, but I want to make sure its actually what you are seeing,

On further inspection, I think this is related to the same timeout issue - we set the necessary IAM policy to 'allow unauthenticated' for new functions here: https://github.com/fireb

[2021-02-19 08:16] LaMbA3 commented on #1738
+1

[2021-02-19 08:19] saurabh-mhaisekar opened #3149 "Allow Firestore emulator to show reads and writes count"
Similar to firestore console, please add section in firestore emulator ui to show current read and write operation. This would be really helpful to optimize the code.

[2021-02-19 11:01] samtstern commented on #3149
@saurabh-mhaisekar thanks for the feature request. We're actively working on showing more usage information in the Firestore emulator (and other emulators) although we intend to do something a little different than the production Firebase console since we have more information to work with.

[2021-02-19 14:34] komachi commented on #3147
Experienced same problems on 9.4.0. Trying multiple functions deploy, only one get actually deployed (as indicated by cloud console), but CLI reports all failing. Running deploy with `--debug` indicate that it tries to re-run deploy of that function until timeout is hit (lots of `Retrying task index 0` followed by `FirebaseError: Task index 0 failed: timed out after 300000ms.`).

Downgrade to 9.3.

[2021-02-19 16:35] donhmorris commented on #3129
Interesting. Where did you get your darwin/arm64 node binaries from?

[2021-02-20 02:06] cjmyles commented on #2198
@samtstern Apologies for the radio silence. Work commitments got the better of me. Thanks for debugging the issue and the work on the PRs, especially adding the warning, it's greatly appreciated. I'm tempted to try a Lerna workspace with Yarn 1 or NPM to see if it fits the setup I need and avoids the issues with Yarn 2.

[2021-02-20 10:26] janswist commented on #3147
I have the very same issues. Trying to upload barely changed functions and I get deployment error.

[2021-02-20 13:09] mac2000 opened #3151 "💡 setup:emulators:ui"
**Motivation:** to build docker image with firestore emulator and ui we can prefetch firestore emulator with help of `setup:emulators:firestore` but there is no such command for ui, so it is being downloaded each time container starts.

**Workaround:** meanwhile workaround is to

[code]

**What needs to be done:**

If I understood everything correctly all we need is add

**src/commands/setup-emula

[2021-02-20 14:09] janswist opened #3153 "firebase functions deployment error"
### [REQUIRED] Environment info

**firebase-tools:** 9.4.0

**Platform:** macOS

### [REQUIRED] Test case

`firebase deploy --only functions`

### [REQUIRED] Steps to reproduce

`firebase deploy --only functions`

### [REQUIRED] Expected behavior

Deployment.

### [REQUIRED] Actual behavior

[code]

debug.log
[code]

After upgrading npm, changing node engine to 14 and reinstalling node_modules I g

[2021-02-20 19:04] slam opened #3154 "firebase hosting:clone by version crashes with '"
### [REQUIRED] Environment info

**firebase-tools:**

**Platform:**

### [REQUIRED] Test case

### [REQUIRED] Steps to reproduce

### [REQUIRED] Expected behavior

### [REQUIRED] Actual behavior

[2021-02-20 19:05] #3154 closed

[2021-02-20 19:09] slam opened #3155 "firebase hosting:clone by version crashes with "TypeError: Cannot read property 'replace' of undefined""
### [REQUIRED] Environment info

**firebase-tools:**

[code]

**Platform:**

All

### [REQUIRED] Test case

[code]

### [REQUIRED] Steps to reproduce

Use the `firebase hosting:clone` command to promote a specific version from one channel to another. See example above.

### [REQUIRED] Expected behavior

It should promote (clone) by version.

### [REQUIRED] Actual behavior

[code]

[2021-02-20 19:51] janswist commented on #3153
I got a response from Firebase team: "The next step is to delete the following Storage bucket from the GCP Console" and that worked like a charm. Hope it will save time to others in future.

[2021-02-20 19:51] #3153 closed

[2021-02-21 04:15] viniciusgomes commented on #1483
Guys i have faced the same error.

But i understand after w8 some minutes, i could use the command
```$ firebase deploy --only firestore:indexes --debug```

So if you like me are deleted your indexes and are justing trying to deploy the rules again, just w8 like me some minutes, great time to grab a coffee and think about what firebase are doing to handle that delete and rebuild compound indexes.

[2021-02-21 20:14] MrNomNom98 commented on #1154
Searched for the same issue a while and for me worked to add the created GCP project  on https://console.firebase.google.com to the firebase projects. Then u can go ahead with `firebase init` or `firebase -P <project-id> init` to create your firebase instance

[2021-02-21 23:58] taylorhoward92 commented on #3147
I've been seeing this issue as well since upgrading `firebase-tools` from `v9.2.0` to `v9.4.0`.

[2021-02-22 05:04] mbleigh commented on #3147
I've created #3150 to increase the timeout and address this. We will likely get it released in the next day or two, but in the meantime you can either downgrade to v9.3.0 or install directly from the PR branch:

    npm i -g firebase/firebase-tools#mb-fn-timeout

[2021-02-22 10:44] #3151 closed

[2021-02-22 17:39] #3147 closed

[2021-02-22 18:56] markgoho commented on #2421
[code]
Still happening -- is this bug still being evaluated?

[2021-02-22 19:59] Golosay commented on #3129
Have the same issue.
nvm@0.37.2
node@14.15.4
firebase-tools@9.4.0

Will it help to switch to n or volta?

[2021-02-22 20:34] donhmorris commented on #3129
I don't know. There are multiple issues related to m1.

- I have not been able to find node binaries for darwin/arm64 so I use nvm to build them
- NPM v7 has documented issues. Angular 11 does not currently work with npm 7
- Firebase cli crashes with node 14
- Firebase deploy of functions fails with node 15

It's just a rough road right now. Kiana says she has not had the same problems but everyon

[2021-02-22 21:45] Golosay commented on #3129
Just tried

Just tried Volta with node 14 LTS. It uses Rosetta 2 under the hood to run node. And it solves the issue with the Firebase cli. Just deployed my functions 🙃

[2021-02-22 21:49] donhmorris commented on #3129
That makes sense. If I didn't have my windows machine to deploy my functions I would probably have to run node under rosetta too.
It would be nice if Firebase would just fix the issue in the cli of running on darwin/arm64. Every other thing I do with node running on arm64 works fine.

[2021-02-22 21:52] yuchenshi commented on #2421
@markgoho Thanks for bring this up. This is still on our roadmap and I've changed the type to bug for clarity. This is indeed a bit involved since it requires work in the Firestore Emulator (non-opensource) and also the CLI, which makes it a bit hard to prioritize. But we're in no way pushing this "to the bottom of the pile", nor do we have policies like fixing bugs strictly before feature request

[2021-02-22 22:07] markgoho commented on #2421
thanks @yuchenshi - I'm glad this is being recategorized as a bug and I understand this isn't a simple fix

[2021-02-23 05:06] sudcha23 commented on #3120
@taeold this still doesn't fix the Google Cloud Builds for Firebase functions CICD. I'm getting same error during Cloud Build.
Any idea how to solve that, or if there will be a fix?

[2021-02-23 06:02] kmcnellis commented on #3129
Ah, that's an excellent insight @donhmorris.  The `n` version does indeed run the x64 binaries, and `nvm` runs arm64.

[2021-02-23 06:16] kmcnellis commented on #3120
This seems to have fixed the issue on x64 binaries, but not on arm

[2021-02-23 12:15] hosaka commented on #2699
Also experiencing the same issue. Clearing the articacts bucket seems to help but only until the next deploy.

[2021-02-23 15:23] sahani-ramprit commented on #2409
"emulators": {
    "functions": {
      "port": 5000 // put your available port
    },
}

[2021-02-23 17:51] #3155 closed

[2021-02-23 23:21] bkendall commented on #2981
@yuchenshi would you be able to look at this, or triage it to an appropriate someone?

[2021-02-23 23:34] ToxicBakery opened #3169 "Unable to publish functions using crashlytics event hooks"
### [REQUIRED] Environment info

**firebase-tools:** 9.5.0

**Platform:** Ubuntu

### [REQUIRED] Test case

Use the crashyltics samples or create a new function such as this:
[code]

### [REQUIRED] Steps to reproduce

`firebase deploy --debug --only functions`
This results in a deployment error.

### [REQUIRED] Expected behavior

The function is created for the new issue hook

### [REQUIRED] Actua

[2021-02-23 23:51] mbleigh commented on #3169
Yes, Crashlytics functions were deprecated and removed in October of last year, unfortunately. It looks like we're not doing a good enough job of documenting that and cleaning up remaining pieces of it. I'll file a report internally to see if we can clean that up better.

[2021-02-23 23:51] #3169 closed

[2021-02-24 00:12] wokkaflokka opened #3170 "Authentication Emulator returns `undefined` Multi-Factor Info for Users"
When running the **node admin SDK** locally with an Authentication Emulator, user operations allow multifactor data on write, but do not reflect multifactor data on read.

### [REQUIRED] Environment info

**firebase-tools:**
[code]

**Platform:**

[code]

[code]
### [REQUIRED] Test case

Assumes a typescript project with `firebase-admin` and `jest` installed, and `firebase-tools` installed as a de

[2021-02-24 00:37] yuchenshi commented on #3171
This seems to be an issue with the Emulator Hub API, a server in `firebase-tools` repo. Transferring over there. @samtstern would you mind taking a look?

[2021-02-24 02:09] augustkimo opened #3172 "ESLint Firebase Setup doesn't work out the box"
### [REQUIRED] Environment info

Firebase 9.5.0

**Platform:**

NodeJS
Node v12.16.3

### [REQUIRED] Steps to reproduce

`firebase init` a fresh setup of Firebase Functions using NodeJS and ESlint. Try some code from the official Firebase examples, or something like this:
[code]

### [REQUIRED] Expected behavior

ESlint/Firebase default setup allows a error free deploy.

### [REQUIRED] Actual beha

[2021-02-24 12:58] Shajeel-Afzal commented on #2086
I'm facing this problem. Is there any document that instructs how to assign this permission in the Google Cloud Console?

[2021-02-24 13:14] PixoDev opened #3174 "Firebase emulator is failing to start without error or warnings"
Hi, we faced this issue today when trying to use the emulator suite, however we cannot provide more info since the problem is that we don't have any info about the error, any pointer about how we can debug this could help us. Thanks!

### [REQUIRED] Environment info

**firebase-tools:** 9.5.0

**Platform:** macOS 11.1

### [REQUIRED] Test case

1. Emulator starts, UI emulator is visible in 4000 po

[2021-02-24 16:15] Agusfn commented on #2670
@samstern I have a somewhat related problem, but related with the excecution instancing.

My cloud functions use two databases from the same proyect, one of them is of course the default. When I initialize the second one (running with the emulator), I get the warning `Non-default "firebase-admin" instance created!` as well, but that's not the problem.

I do the second db/app instancing inside a cl

[2021-02-24 16:23] SrBrahma commented on #2670
I have 10 dbs in my project. I have a firebase.ts (can be js) that have in a object, for each dbId as key, its initApp as value. The entry is only created when it's used and the entry doesn't exists. I use that for both client and cloud functions.

If you want, I can share my code here / create a npm package.

[2021-02-24 16:26] Agusfn commented on #2670
@samstern You still have the warning right? Do you make any kind of custom initialization in index.js? Because i believe my problem is being cause for that.

[2021-02-24 16:26] Agusfn commented on #2670
@SrBrahma You still have the warning right? Do you have an custom initialization on index.ts (or js)? Because I believe my problem is being cause because of that.

[2021-02-24 16:29] SrBrahma commented on #2670
Yup, the warning happens but you can ignore it, it's just a "visual bug".

My index doesn't have any firebase configs, as I use the firebase file as I mentioned. When I access my pc I will post here my relevant code.

[2021-02-24 16:35] Agusfn commented on #2670
To be more specific, I have a `Config `class that has an `initialize()` static method, it loads all the remote config to be able to use it from any function without having to initialize it in each function. When a new db/app instance is made, it skips that Config initialization. I don't know if index.js is safe to do that thing

[2021-02-24 19:33] Agusfn commented on #2670
@SrBrahma Okay aparently my excecution environment problem is not related to the initialization of the second database, so my problem is not related with this issue, I should have tested a bit more before commenting.

The problem arises when trying to set a static variable of a class from the index.js file ([called at every cold-start](https://cloud.google.com/functions/docs/concepts/exec#function

[2021-02-24 19:41] SrBrahma commented on #2670
<details>
<summary>My firebase.ts</summary>

[code]

</details>

<details>
<summary>My database.ts</summary>

[code]

</details>

[2021-02-24 19:53] SrBrahma commented on #2670
The consts (and maybe variables? dont remember) may be shared between Cloud Functions instances. This will only create the db reference if it doesn't already exists.

Idk if this really increases the performance (as in my case I have 10 DB instances). For your case, 2 DBs, you could have them always created. Follow this code idea and adapt to your needs.

[2021-02-24 20:11] Agusfn commented on #2670
@SrBrahma I really appreciate you for taking your time to prepare and show me your code! It is indeed a nice way to instanciate several databases and I will take it into consideration for when I need to implement more.

However, my problem ended up being totally different and doesn't have to do with databases, lol. So that was a bad thing from my part. I will make a separate thread in SO or github

[2021-02-25 00:18] mrudling commented on #1738
Please add the storage emulator, really need this.

[2021-02-25 08:26] zanona opened #3175 "chunked/streaming response disparity between functions emulator and deployment"
### [REQUIRED] Environment info

**firebase-tools:** 9.4.0

**Platform:** linux

### [REQUIRED] Test case

#### 1. Chunked Transfer-Encoding
[code]

#### 2. Readable streams
[code]

### [REQUIRED] Steps to reproduce

1. Start firebase function emulator
2. Browse to function url or `curl --raw $FUNCTION_URL`

### [REQUIRED] Expected behavior

Chunked/Streaming response or progressive server side re

[2021-02-25 08:29] zanona commented on #3175
Ping. Template was followed.

[2021-02-25 11:02] samtstern commented on #3175
@zanona thanks for the detailed report, this does seem like a bug.

(Also the bot seems to think you were missing the "actual behavior" section but you're not ... the bot must have a bug!)

[2021-02-25 11:08] samtstern commented on #3174
@PixoDev hmmm the logs do have this:
[code]

But I agree that's not very helpful as it doesn't tell you *why* the emulator was unable to load functions code.  Normally we try to offer some clue but it looks like your code didn't trigger any of our known issues.

The error you posted comes from when we try to `require()` your functions directory. In this case that directory is:
[code]

So my questi

[2021-02-25 11:32] PixoDev commented on #3174
@samtstern Hi, yes, we have a functions directory, actually the error went away when I tried to start the branch this morning, so is not consistent, and I tried again now, and is not happening anymore

Anyways, this is the package.json we have in that directory:

[code]

There's no main entry in the package.json, but the error is not appearing anymore so I guess it was a configuration issue.

Let

[2021-02-25 11:49] samtstern commented on #3174
Thanks for the response! If it's not happening anymore let's close this for now. We can reopen this if it happens again.

[2021-02-25 11:49] #3174 closed

[2021-02-25 14:59] polymer-coder opened #3176 "Functions are not deploying or updating v9.5.0"
### [REQUIRED] Environment info
**firebase-tools: 9.5.0
**Platform: Windows 10 20HS

### [REQUIRED] Test case
 - Modify any existing function or create a new functions

### [REQUIRED] Steps to reproduce

 - Deploy functions
 - If modification was made, run function to test modification.
 - If a new function was created, check to see if it appears on the dashboard

### [REQUIRED] Expected behavior

[2021-02-25 15:08] polymer-coder commented on #3176
Running `firebase deploy --only functions` worked

[2021-02-25 15:14] polymer-coder commented on #3176
So apparently the autosave on my VSCode got disabled and the changes weren't saving so I was deploying the same thing over and over.

Everything is fine now.

[2021-02-25 15:14] #3176 closed

[2021-02-25 19:13] joehan commented on #3172
Thanks for raising this @augustkimo. I'll take a look and see if I can get this to a cleaner spot.

[2021-02-25 19:47] joehan commented on #3172
Hey @augustkimo, I'm having trouble finding these eslint issues. Here's what I've tried:
[code]
and I didnt see  any unexpected eslint warnings or errors.

 Could you share some of the specific errors and warnings you're seeing? Also, you mentioned you saw other users on StackExchange with similar issues - I'll do some searching, but if you can share links to those questions it would be super help

[2021-02-25 20:50] #2820 closed

[2021-02-25 21:40] LeonardoRick commented on #867
never head about `--only`and `--except`. That should definetly be on docs. Thanks a lot!

[2021-02-25 22:32] taeold commented on #3120
@kmcnellis Based on my reading of https://github.com/firebase/firebase-tools/issues/3129, I'm a bit confused. Are you saying that:

1) M1 running the firebase-cli built for x86 (rosetta) fails to deploy CF3s
2) M1 running the firebase-cli built for ARM fails to deploy CF3s

If (1), then we should focus on resolving https://github.com/firebase/firebase-tools/issues/3129 not this issue.

[2021-02-25 22:33] taeold commented on #3120
@sudcha23 Can you share the error messages you are seeing in your Cloud Build setup? Are you seeing the same error message as described in the original issue description? If so, I don't have a clue what's going on and will have to find a way to reproduce the error you are seeing.

[2021-02-25 22:45] taeold commented on #3129
@donhmorris Thanks for your patience here. IIUC -

1. In M1 Macs, Firebase CLI works with node 15
2. In M1 Macs, Firebase CLI fails to deploy functions

Did I get this right? If so, can you share the error you are seeing when trying to deploy functions using node 15? Preferably on https://github.com/firebase/firebase-tools/issues/3120.

[2021-02-25 22:54] donhmorris commented on #3129
@taeold yes, that is correct. Node 15+ built by nvm using source.

[2021-02-26 01:19] kmcnellis commented on #3120
It's (2) M1 running the firebase-cli built for ARM fails to deploy CF3s

When it runs the x86 binaries (1), the deploy works fine.

[2021-02-26 01:34] kmcnellis commented on #3120
The error is:
[code]

In the cloud build logs:

[code]

[2021-02-26 02:57] kmcnellis commented on #3129
Added the cloud build logs to #3120

[2021-02-26 08:00] ma-ruz commented on #1748
This is probably caused by a firewall block. Maybe Windows Defender.

[2021-02-26 15:52] IanWyszynski commented on #2734
I believe this issue should be resolved with the linked release.

[2021-02-26 17:59] koooge opened #3177 "Auth Emulator does not work "Add user" with port forwarding"
Hi there, I encountered an issue with the Firebase emulator.

### [REQUIRED] Environment info

**firebase-tools: 9.5.0

**Platform: macOS

### [REQUIRED] Test case

Run `firebase emulators:start` with port forwarding.

docker-compose example:
[code]

### [REQUIRED] Steps to reproduce

1. docker-compose up
2. Access Firebase Suite UI (http://localost:10000) with Chrome
3. Open Authentication tab
4.

[2021-02-26 18:16] samtstern commented on #3171
@clentoo I was not able to reproduce this. I copied your `index.js` and `package.json` exactly into a brand new project. I am able to run `emulators:start` successfully and then access the Emulator UI.

I am also able to curl the function:
[code]

[2021-02-27 03:53] ramtinsoltani commented on #2197
@zanona I had this issue with the emulator too. Thanks for the hint.

[2021-02-27 05:05] taeold commented on #3120
Seeing bad ZIP archives again in https://github.com/firebase/firebase-tools/issues/3120#issuecomment-786348132:

[code]

This error was exactly what we hoped to fix with https://github.com/firebase/firebase-tools/pull/3140. At the end of the day, we expect the crc32-stream package includes https://github.com/archiverjs/node-crc32-stream/issues/31 (we need to use version 4.0.2 on this package).

I'

[2021-02-27 05:14] Chandrasinghr commented on #1764
can plzz tell me how you solve firebase error

[2021-02-27 05:28] manwithsteelnerves commented on #2027
@samtstern Any updates on this feature? Is it scheduled or not anytime soon?

[2021-02-27 13:41] clentoo commented on #3171
Wow. The only thing I noticed is my node version in the project is 12 but my global version on my laptop is 12.18.0. Also, the firebase-admin remains 9.2.0 in the package.json file even after running npm install -g firebase-tools@latest.

[2021-02-27 17:04] BigBangKing commented on #2193
I have this issue now and can not find a solution.
It deployed once but it did not after adding some files showing similar not found error.
And I think you guys need to look at it.

![image](https://user-images.githubusercontent.com/22196569/109394227-2335b900-7950-11eb-9fae-c91c7c795c6d.png)

[2021-02-28 05:19] imagitama opened #3179 "Emulator ports always taken"
### [REQUIRED] Environment info

**firebase-tools:** 9.3.0

**Platform:** Ubuntu for Windows

### [REQUIRED] Test case

1. Install Ubuntu for Windows on Windows 10
2. Install 9.3.0 of Firebase tools
3. Start emulators
4. Close the process to stop all emulators (Ctrl+C)
5. Start emulators again - error ports taken

### [REQUIRED] Steps to reproduce

`firebase emulators:start --import=./emulator-dat

[2021-02-28 14:56] athomasoriginal commented on #2764
Hey all!  Glad to here this landed in Node Admin SDK.  Is there an issue where I can track when this lands in Java Admin SDK?

[2021-02-28 16:34] animysore commented on #877
Another "hack" alternative is to explicitly pass all function names after reading them from the index.ts

[code]

[Explanation](https://dev.animysore.com/notes-on-firebase-in-production-1)

[2021-03-01 10:55] samtstern commented on #2027
@manwithsteelnerves I don't have any update here, sorry!

[2021-03-01 14:10] satyaprasad317 commented on #2215
Any one have resolution for this.

[2021-03-01 14:11] aravindvnair99 commented on #2699
@hosaka I don't seem to be facing issues anymore. But as mentioned in my previous comments, I was facing the issue while deploying from the local system and CI server. I am currently using Node.js 12. I don't know if that helped. Previously I was on Node.js 10. Which version are you using?

Also, here's a thread I started long ago when this issue first came up: https://github.com/firebase/firebase

[2021-03-01 17:24] samtstern commented on #3177
@koooge this feels like the correct behavior to me if you're using Chrome outside of Docker but the emulator is running inside of Docker. The UI tries to communicate with the Auth Emulator on port 9099 but doesn't find anything. Then when you map `9099:9099` it works.

Let me know if I misunderstood!

[2021-03-01 17:24] #3177 closed

[2021-03-01 17:55] kmcnellis commented on #3120
Hm, I uninstalled node & firebase fully before checking that, and I can't replicate anymore.  Maybe @donhmorris can?

[2021-03-01 18:18] innovation-club-net commented on #3120
I have the same error trying to follow https://cloud.google.com/build/docs/deploying-builds/deploy-firebase
with
[code]
[code]
I basically have no control on the architecture/hardware as I am using cloud build's one.
Workaround for me so far is using
[code]
Note that deploying storage works
[code]
Local hardware is Mac x64 but so far I understand my issue, this is irrelevant.
I am using node 12.

[2021-03-01 18:35] donhmorris commented on #3120
I think you guys have moved beyond my knowledge of the firebase cli. I have never dug into the code for it.

[2021-03-01 18:40] taeold commented on #3120
@innovation-club-net Can you open up a new issue with the appropriate details (e.g. version of the firesbase cli and debug logs would be helpful)? You are using node12, and I'd like to use this issue to track deployment issues for node15.

[2021-03-01 18:45] joehan commented on #3125
Hi @janswist, sorry for the delayed reply on this. This issue looks like its beyond the scope of the firebase-tools codebase, and is a problem with  Google Cloud Functions. We won't be able to help with this here; I recommend reaching out to [GCP support](https://cloud.google.com/support-hub) if this issue persists.

[2021-03-01 18:45] #3125 closed

[2021-03-01 18:46] donhmorris commented on #3120
Here are my steps I followed several times with the same results:

- start with a virgin m1 macbook air with the exception of installing google chrome
- install xcode, wait forever 😀
- run xcode to have it do its thing
- install nvm using curl
- install node 15 using nvm, wait forever while it build node
- test node by running command node --version
- make sure npm 6+ was installed instead of 7. i

[2021-03-01 20:54] koooge commented on #3177
Thanks @samtstern ,  You are right. It means Firebase Auth Emulator has to be served on the same port host and guest.
In my case, the port of host is assigned dynamically. For that reason, the port in docker needs to bind the port dynamically on docker run time. But, we would not be able to do it because it has to be statically defined in firebase.json.

[code]

As a result, the Firebase Auth emul

[2021-03-01 23:16] stevenolay opened #3180 "[Emulator] Setting phone number through Update User does not work with Firebase Auth Emulator"
### [READ] Step 1: Are you in the right place?

I believe I am, tried my best, apologies in advanced. I searched for other emulator related issues in the repository first.

### [REQUIRED] Step 2: Describe your environment

  * Operating System version: MacOS
  * Firebase SDK version: 9.5.0
  * Firebase Product: Firestore
  * Node.js version: 12.18.3
  * NPM version: 6.14.6

### [REQUIRED] Step 3:

[2021-03-02 00:33] joseneto commented on #2193
I am also having the same issue
 Using windows 10 64bits

![image](https://user-images.githubusercontent.com/5816648/109578304-b2200e00-7ad5-11eb-8f77-397cfba8b9cc.png)

[2021-03-02 04:45] Suryanandx commented on #2699
I am using Node.js 12 , I am having issues deploying. same error

[2021-03-02 14:47] ChromeQ commented on #2103
Hi @samtstern, now that the other issues raised are fixed and merged in firebase/firebase-js-sdk#3904, is this original issue still a "straightforward bug"? Been running into this issue again when trying to emulate and debug an issue in prod vs staging targets as outlined in the desc.

Thanks

[2021-03-02 16:41] samtstern commented on #3171
@clentoo ok well in the meantime there's not much we can do since I can't actually get this error to happen on my side. If you can figure out how we can reproduce it more reliably please let me know!

[2021-03-02 16:41] samtstern commented on #3171
That's expected unless you add `--save`

[2021-03-02 17:34] yuchenshi commented on #2764
@athomasoriginal https://github.com/firebase/firebase-admin-java/issues/493 tracks the Java Admin SDK feature request.

[2021-03-03 01:52] kenmasumitsu opened #3183 "Failed to add many documents in to firestore emulator."
### [REQUIRED] Environment info

**firebase-tools:**

9.5.0

**Platform:**

macOS

### [REQUIRED] Test case

[code]

### [REQUIRED] Steps to reproduce

1. Run firebase emulator.  `firebase emulators:start`
2. Run the script above.  `npx ts-node src/index.ts`

### [REQUIRED] Expected behavior

All 11000 documents are added on the firestore.

### [REQUIRED] Actual behavior

The script does not  show

[2021-03-03 01:55] kenmasumitsu commented on #3183
updated.

[2021-03-03 12:08] samtstern commented on #3179
@imagitama sounds like the emulators are not shutting down cleanly on your machine which means they still occupy the port.

You can find out which process on your machine is occupying a certain port by running `lsof`.

For instance here I am looking for what's running on 4000
[code]

I can take that PID and see what the process is, which reveals the Emulator UI
[code]

If I wanted to free that por

[2021-03-03 12:09] samtstern commented on #2103
@ChromeQ yes I would still consider this a bug, we did add the magic `__init.js` stuff but I think `emulators:start` still has issues with multiple Hosting targets.

[2021-03-03 13:43] liunianhuaguoyanxi opened #3184 "FirebaseError: Task index 0 failed: timed out after 30000ms"
Steps:
1.  Firebase init
2. Create a new project
3. Finish inputing the unique project id
4. Error: Failed to create project. See firebase-debug.log for more info.

My network has no problem ,but it was always interrupted here ,  I need your help.

Firebase-debug.log:
You're about to initialize a Firebase project in this directory:
  /Users/liunianhuaguoyanxi/firebaseMyHosting

[info]
=== Project

[2021-03-03 15:09] aacebo commented on #2764
looks like based on the PR description from the release here https://github.com/firebase/firebase-admin-node/pull/1148 you need to do something like `firebase emulators:start -p my-project-id` and then initialize the sdk with that project id

[2021-03-03 17:47] williamvasconcelos opened #3185 "Can't login"
### [REQUIRED] Environment info

**firebase-tools: 9.5.0**

**Platform: macOS 10.15.7**

### [REQUIRED] Test case

Run firebase login:
`firebase login --no-localhost --debug`
### [REQUIRED] Steps to reproduce

Run firebase login:
`firebase login --no-localhost --debug`

### [REQUIRED] Expected behavior

Successful login.

### [REQUIRED] Actual behavior

[code]

[2021-03-03 18:00] joehan commented on #3184
Hi @liunianhuaguoyanxi, I think this may be an issue with your account - I'm not able to repro this behavior. One thing to try would be creating a project using `firebase project:create supermaninhost`. If that doesn't work, I think your best bet will be to reach out to GCP support: https://cloud.google.com/support-hub

[2021-03-03 23:34] joehan commented on #3185
@williamvasconcelos This may have been a temporary issue, or may be an issue with your connection - I haven't been able to reproduce this.Are you able to access https://firebase-public.firebaseio.com/cli.json in your browser?

[2021-03-04 02:04] liunianhuaguoyanxi commented on #3184
I used firebase project:create supermaninhost
it also failed to create project   but  firebase-debug.log is that

Error: Failed to create project because there is already a project with ID supermaninhost. Please try again with a unique project ID.

I  have changed the project id and created again.it still run failed.

[2021-03-04 11:22] liunianhuaguoyanxi commented on #3184
I have solved this problem by resintalling the firebase-tools and modifying the proxy.

[2021-03-04 13:54] samtstern commented on #3183
@kenmasumitsu thank you for reporting this!  Seems like a bug to me. As a workaround have you tried batching the documents? That could help.

[2021-03-04 14:22] bobfang1992 opened #3187 "Firebase auth emulator cannot provide google auth login"
### [REQUIRED] Environment info

**firebase-tools:** 9.5.0

**Platform:** Ubuntu

### [REQUIRED] Test case

Hi, It seems that if I use the Google auth in local emualtor I would not be able to login because CORS errors.

![image](https://user-images.githubusercontent.com/44713534/109977389-acecda00-7cf4-11eb-888f-83374efb10d7.png)

### [REQUIRED] Steps to reproduce

I am using react and this is my

[2021-03-04 17:16] joehan commented on #3184
Glad to hear you were able to get this working! I'll close this.

[2021-03-04 17:16] #3184 closed

[2021-03-04 17:51] yuchenshi commented on #3183
I've filed b/181873686 to internally track this.

[2021-03-04 19:02] #3187 closed

[2021-03-04 19:02] bobfang1992 commented on #3187
false alarm I understand what's going on now

[2021-03-04 20:04] mishushakov opened #3189 "Ignore .git folder in firebase.json"
### [REQUIRED] Environment info

**firebase-tools:** v9.50

**Platform:** macOS

### [REQUIRED] Test case

[code]

### [REQUIRED] Steps to reproduce

see above

### [REQUIRED] Expected behavior

`firebase.json` should ignore .git folder for hosting

### [REQUIRED] Actual behavior

`firebase.json` does not ignore .git folder therefor `firebase deploy` uploads application source code - opening up a

[2021-03-05 04:14] gavingolden commented on #1905
This randomly happened to be after I accidentally introduced a dependency from a file in `/src` on a function declared in `/test`. This caused the compiler to change the output structure and resulted in `lib/src/...` and `lib/test/...`. Moving the `/test` dependency to `/src` fixed the issue.

[2021-03-05 11:32] samtstern commented on #3189
@mishushakov Firebase Hosting doesn't have a concept of "ignore" which is why the default structure is like this:

[code]

If you want to prevent this error you should move your public hosting folder to a subfolder which is at or below the level of your `.git` folder.

[2021-03-05 11:32] #3189 closed

[2021-03-05 13:43] Hagihara-A opened #3190 "functions("region").httpsCallable("name") requests to wrong URL in emulator"
### Environment info

**firebase-tools: 9.5.0**

**Platform: Windows + WSL2**

### Test case

https://github.com/Hagihara-A/fb-func-bug-reproduction

### Expected behavior
When I specify `firebase.functions().useEmulator(....)`,
`firebase.functions("asia-northeast1").httpsCallable("name")` should request to the emulator such as `http://localhost:5001/xxxxxxxxxxxxx/asia-northeast1/name`

###  Actua

[2021-03-05 13:54] samtstern commented on #3190
@Hagihara-A thanks for reporting this! This is actually the intended behavior.  The `useEmulator()` method is not global, it modifies only one instance of the functions object. Each time you call `firebase.functions()` with new arguments you get a new instance.

So:
[code]

[2021-03-05 13:54] #3190 closed

[2021-03-05 17:17] astefer opened #3191 "Firebase Cloud Functions: Failed to delete documents"
### [REQUIRED] Environment info

**firebase-tools: 9.5.0**

**Platform: Firebase Cloud Functions, node 12**

### [REQUIRED] Test case

[code]

### [REQUIRED] Steps to reproduce

Trigger the cloud function

### [REQUIRED] Expected behavior

All documents under the given path should be deleted.

### [REQUIRED] Actual behavior

The function call fails without deleting any documents.

### Logs
[code]

[2021-03-05 18:00] joehan commented on #3191
Hey @astefer, thanks for reporting this. I'm not certain what's going wrong here - it seems like the calls are timing out based on the error message, but it's clearly not descriptive enough to tell why. However, it looks like you're using firebase-tools as a dependency instead of as command line utility here. We try our best to support this, but it is definitely not the main intention of this repo

[2021-03-05 21:37] #3137 closed

[2021-03-05 21:42] astefer commented on #3191
Okay, I see that it's not really the purpose of this package to be used in cloud functions. However, the firebase documentation is showing exactly the use case I described in this issue (https://firebase.google.com/docs/firestore/solutions/delete-collections#cloud_function)
Maybe I could provide some more information? What exactly would you need for further investigation, @joehan?
I would also lik

[2021-03-05 23:10] #3126 closed

[2021-03-06 00:13] lilred commented on #536
I'm writing this comment in the midst of a major outage that I'm in charge of fixing. "But @lilred", you might say, "why are you replying to closed GitHub issues instead of attending to your major outage?"

Because every time I attempt a fix, I have to wait and twiddle my thumbs for five minutes and a half before deploy completes and I can see if it works. At this point more than half of our backe

[2021-03-06 01:54] jsakas commented on #536
@lilred I would recommend using the functions emulator for testing changes instead of deploying them up. This was our problem too before we configured the emulator for development and testing.

[2021-03-06 03:12] MollyXuemn commented on #3185
I got also the Login error:
./firebase login

Firebase optionally collects CLI usage and error reporting information to help improve our products. Data is collected in accordance with Google's privacy policy (https://policies.google.com/privacy) and is not used to identify you.

? Allow Firebase to collect CLI usage and error reporting information? Yes
i  To change your data collection preference

[2021-03-07 17:20] smousa opened #3195 "Functions emulator onUpdate does not trigger"
### [REQUIRED] Environment info

9.2.2

**firebase-tools:**

Ubuntu

**Platform:**

### [REQUIRED] Test case

[code]

### [REQUIRED] Steps to reproduce

The above snippet does not run in the emulator.
I have verified that it works on a live system.

### [REQUIRED] Expected behavior

That the function is triggered when the aforementioned document is updated

### [REQUIRED] Actual behavior

[code]

[2021-03-07 17:35] smousa commented on #3195
Sorry, this is working once I upgraded to the latest (9.5.0)

[2021-03-07 17:35] #3195 closed

[2021-03-07 19:21] TylerR909 commented on #3183
I'm unable to add anything via the Emulator UI.

<details><summary>Version Info</summary>

[code]

</details>

My steps:

1. Install `firebase-tools` via npm
2. `mkdir test` to create new sandbox directory
3. `firebase init` selecting `firestore`, `emulators`, then setting up the emulators to use `authentication` and `firestore` emulators (everything else default, except selecting Yes to "download

[2021-03-08 10:31] williamvasconcelos commented on #3185
The problem is my proxy, i removed the SSL Inspection from URL.

[2021-03-08 10:31] #3185 closed

[2021-03-08 11:20] samtstern commented on #3191
Reopening since for this one use case (recursive deletes) we do document using `firebase-tools` as a module.

@astefer is there any more information you can get on this? A more detailed stack trace? I want to help with this but as it stands there is not enough information here to debug or reproduce this issue so there won't be anything we can do.

[2021-03-08 12:19] astefer commented on #3191
The issue template suggests to run the command with `--debug`. Is there a way to add this flag when calling a command programmatically?

[2021-03-08 12:27] samtstern commented on #3191
Sure that would be:
[code]

[2021-03-08 14:05] astefer commented on #3191
There is no additional output with `debug: true`

[2021-03-08 16:51] yuchenshi commented on #3183
@TylerR909 This issue tracks an issue regarding the Firestore Emulator on adding a lot of documents. It seems you're experiencing a different issue in Emulator UI. Would you mind opening a new issue at https://github.com/firebase/firebase-tools-ui/issues with your logs and findings? Also note that with the Emulator UI, there may be useful debug logs in your browser DevTools on the Emulator UI page

[2021-03-09 03:04] gilbert commented on #1363
For anyone using ruby and arriving here via google, here's a workaround for the `google-cloud-firestore` gem:

[code]

[2021-03-09 08:21] lloydrichards commented on #2752
After some more testing, I also noticed that it is giving the right context when I run a firebase triggered function, but not when I run an Auth triggered function.

[2021-03-09 15:36] ppicom opened #3198 "Cloud Functions fail to deploy on node 12 and 14 with "Build failed: npm ERR! fsevents not accessible from chokidar""
### [REQUIRED] Environment info

**firebase-tools: 9.6.0**

**Platform: Ubuntu 20.10**

### [REQUIRED] Test case

A project with many CFs. All of them are failing, the error doesn't seem related to my codebase.

### [REQUIRED] Steps to reproduce

firebase deploy

### [REQUIRED] Expected behavior

New functions to be deployed, and already existing ones to be updated

### [REQUIRED] Actual behavior

[2021-03-09 15:50] weilies opened #3199 "Firebase function deploy error "Command terminated with non-zero exit code2""
### [REQUIRED] Environment info

**firebase-tools:**
[code]

**Platform:**
Linux (GCP)

### [REQUIRED] Test case

### [REQUIRED] Steps to reproduce
Below is my function code (NOT working)
[code]

error deploy function
[code]

But when i commented the two code below
[code]
The function deploy code is working.

### [REQUIRED] Expected behavior
What's causing the error? There ain't any error message

[2021-03-09 16:43] samtstern commented on #3191
@astefer hmmm I know this is super frustrating but if we can't reproduce this (it works for me and for some others) and there are no logs or additional information on your end then it's not possible for us to debug it.

[2021-03-09 21:06] Corchoneitor commented on #2027
Stumbled with this issue after recently deploying to production (after several previous deploys of the same project). But in this case, I added a "combined query" (which needs a complex indexing). My project did not test indexes, so we stumbled with the error by chance... in production :upside_down_face:.
It'll be helpfull if you could show a warning in the emulator. Or perhaps a config to set emu

[2021-03-09 23:55] weilies commented on #3199
I noticed it's due to variable "data" is reused. It resolved once i renamed it. But is it a deployment bug? there ain't any error msg in the editor

[2021-03-10 00:52] #3199 closed

[2021-03-10 01:48] maierson opened #3200 "Auth emulator fails to create user with X-Client-Version forbidden from jsdom"
Hello,

I am trying to create an integration test with jest for a component that registers a user. I have isolated below a minimal test case that fails with the X-Client-Version forbidden error.

### [REQUIRED] Environment info

**firebase-tools:** 9.6.0

**Platform:** MacOS Big Sur 11.2.2

**Node:** v14.15.5

### [REQUIRED] Test case

[code]
### [REQUIRED] Steps to reproduce

Launch the emulator:

[2021-03-10 02:37] abrice commented on #3052
In javascript, I had the error with 8.2.3 earlier today so I changed the link to 8.2.10 and it resolved, all back to normal. I have never had the error before.

Now it has just failed with:
GET http://localhost:5000/__/firebase/8.2.10/firebase-app.js net::ERR_CONTENT_DECODING_FAILED 200 (OK)
and changing versions makes no difference.

So, Firebase dev is now dead. This is a big problem.

[2021-03-10 11:12] samtstern commented on #3200
Hmmm it looks like JSDom is thinking there is a CORS issue. The only reference to this I can find online is an old comment saying that JSDom may not handle wildcard values with CORS headers correctly:
https://github.com/jsdom/jsdom/issues/2408#issuecomment-480969435

You can see that the Auth emulator sets the most permissive possible CORS headers:
https://github.com/firebase/firebase-tools/blob/d

[2021-03-10 12:22] samtstern commented on #3191
@astefer I'm honestly a bit suspicious. There *has* to be some debug logging, all of the operations that produce failures in the code have a `logger.debug()` entry before them. Maybe the debug logging is being lost in a Functions context but still without it there's nothing we can really do.

That said your issue inspired me to take a look at the code which handles failures and I can see some plac

[2021-03-10 13:05] astefer commented on #3191
I guess this does not help?

[code]

[2021-03-10 13:09] marspion opened #3202 "Unable to deploy Realtime Database rules via PowerShell 7.1"
### [REQUIRED] Environment info

**firebase-tools:** 9.6.0 (run on PowerShell 7.1)

**Platform:** Windows

### [REQUIRED] Test case

Project with two Realtime Databases (default database is disabled). Second database is located in Belgium (europe-west1).

### [REQUIRED] Steps to reproduce

1. Create firebase database target for second database.
2. firebase deploy --only database:{target_name}

###

[2021-03-10 13:31] maierson commented on #3200
@samtstern This is great help. Thank you. I applied the provisional patch suggested and it now works.

[2021-03-10 13:35] samtstern commented on #3202
@marspion can you share your `firebase.json` file and the value of `{target_name}`?

[2021-03-10 14:03] astefer commented on #3191
I tried to redirect the logs but I get no output. Am I missing something?

[code]

[2021-03-10 14:57] patrickk commented on #1483
Faced the same error on 9.1.0, but tried again after waiting ~30 seconds and was successful.

I ran `firebase deploy --only firestore:indexes`

[2021-03-10 15:52] marspion commented on #3202
{target_name} value is main.

This error only occur on PowerShell 7.1 (everything is working properly on PowerShell 5.1)

There is firebase.json content

[code]

[2021-03-10 17:00] marspion commented on #3202
I invoked below command but result is the same.

`firebase deploy --only="database:main"`

I compared 'firebase deploy' debug log from execution in PowerShell 5.1 and PowerShell 7.1 and some steps are missing  in command processing via PowerShell 7.1

It is hard to say for me, where is a problem.

[2021-03-11 02:00] #3172 closed

[2021-03-11 03:29] RodrigoPerdomo commented on #2215
try to install npm new version i try with that and work!! command: npm install -g npm

[2021-03-11 14:52] mike-hogan commented on #968
Folks, I did what some others mentioned in this thread and the discussion was informative, so hoping to add a bit back.

Basically I re-wrote the package.json files to have to have file: dependencies.

The oddity in my case is that its a rushjs monorepo.

But in case folks can learn from what I did, here is the gist: https://gist.github.com/mike-hogan/336de1a55ad1a776398ea85c2691dfd2

[2021-03-11 16:57] jsakas commented on #3179
This also happens to us. The emulators often do not shut down properly using control+c

I used this npm package to kill everything before restarting when required.

[code]

[2021-03-11 17:02] jsakas commented on #1372
I think this issue impacts a lot of users. Would love to see a fix!

If someone can outline the high level steps on what needs to change in the repo, I'd give it a shot. I have no experience contributing to this tool so some direction would probably be helpful.

[2021-03-11 17:43] samuellessa opened #3206 "Add possibility to inspect/debug when using firebase serve"
Why it is not possible to add the flag to debug, when using firebase serve?

Add these lines it would by possible to attach, and debug.

I know that it`s available in `firebase emulator`, but it not a option right now.

https://github.com/firebase/firebase-tools/blob/f991f7897f052623cb1056db71a210b0cbd2346a/src/commands/serve.js#L44

var commandUtils = require("../emulator/commandUtils");
.option(

[2021-03-11 17:49] samuellessa commented on #3206
https://github.com/firebase/firebase-tools/pull/2741

Ok then

[2021-03-11 17:49] #3206 closed

[2021-03-11 19:32] ljle opened #3207 "Unable to clone config from another Firebase project"
### [REQUIRED] Environment info

**firebase-tools:** 9.6.0

**Platform:** Windows using WSL2 with Arch Linux

### [REQUIRED] Test case

I don't have a minimal example.

### [REQUIRED] Steps to reproduce

- Run `firebase functions:config:clone --from <another-firebase-project>`

### [REQUIRED] Expected behavior

- The Firebase environment configuration is cloned to the current project.

### [REQUIR

[2021-03-11 23:36] socsieng commented on #302
For me, I needed firebase functions support and found that `firebase emulators:start` didn't require login.

Instead of `firebase serve --port 8080`, I now use `firebase emulators:start` with an updated `firebase.json` file:

[code]

[2021-03-12 04:53] codetravellearn commented on #1442
The simplest Thing you can try is
go to : C:\Windows\System32
1. going folder C in your system
2. then select Windows Folder
3. select 'System 32' folder
4. open command prompt by typing 'cmd' in the File path bar and press enter
5. cmd window opens
6. type "firbase login" now and follow the steps

[2021-03-12 05:27] jmagaram commented on #2612
I spent a few hours of total frustration with this. I changed the rules but my test output did not change. I really think your testing docs and/or the "rules updated" message from the emulator are NOT leading developers down the pit of success. I saw the "load rules" code in some of the samples but as soon as I saw the emulator give a message "rules updated" I figured I could take out the dynamica

[2021-03-12 06:17] Agusfn opened #3208 "Emulator not always closing gracefully, and always closing it terminates react native bundler in another terminal"
### [REQUIRED] Environment info

**firebase-tools:** 9.4.0

**Platform:** Windows 10 64bit

### [REQUIRED] Test case

Closing and starting the emulator multiple times.

### [REQUIRED] Steps to reproduce

In visual studio code, open the emulator in a new terminal with `--import` and `--export-on-exit` params, while having the React Native server runnning in another terminal, with the metro bundler.

[2021-03-12 09:12] rromanchuk commented on #2751
Does the authentication simulator support this rest API https://firebase.google.com/docs/reference/rest/auth   I'm not talking about the emulator management endpoints, but the actual API.

My backend uses this exclusively, i mint JWTs for client, but the backend relies heavily on fetching/updating and managing the user profile, and firebase uid acts as an important fk on my own user records. This

[2021-03-12 10:32] samtstern commented on #2612
@jmagaram thank you for your feedback. We're actually looking at completely changing how the emulators handle project IDs to help people avoid a whole bunch of confusing experiences, so I will add your comment to our (long) list of reasons to do this!

[2021-03-12 10:38] samtstern commented on #2751
@rromanchuk yes the emulator works over REST APIs and tries to implement production endpoints exactly, just at a different host.

They're exposed like this:
[code]

[2021-03-12 10:50] rromanchuk commented on #2751
@samtstern perfect! thank you

[2021-03-12 11:25] samtstern commented on #3208
@Agusfn thanks for the feedback. Most of us here are unfamiliar with React Native. Could you provide a simple git repo we could clone in order to reproduce this problem? I have a Windows machine with VSCode I could use to test.

[2021-03-12 14:21] alexmcmanus commented on #2906
For me, the issue is with the interaction with Cloud Functions in the emulator. This Cloud Function runs without error, but auth does **not** log the verification URL:
[code]

However, if I call `user.sendEmailVerification()` from the client running in the browser, it logs the verification link as expected.

[2021-03-12 14:34] dora1998 opened #3209 "HTTP functions req.params is prefixed with "/""
### [REQUIRED] Environment info

**firebase-tools:**
9.6.1

**Platform:**
macOS

### [REQUIRED] Test case

When you use Cloud Functions with Hosting rewrites, you can get the path from req.params[0]. This value is different between local emulator and production.

[code]

https://github.com/dora1998/firebase-tools-req-params

### [REQUIRED] Steps to reproduce

1. Access to `http://localhost:5000/fo

[2021-03-12 14:43] Kraakhoofd commented on #2193
Identical issue here!

[2021-03-13 22:17] therealmodbom commented on #1738
a big +1 for me too

[2021-03-14 09:40] MollyXuemn commented on #342
me too, please pose any new issue to solve this:
Waiting for authentication...
(node:10492) UnhandledPromiseRejectionWarning: FirebaseError: Failed to make request to https://firebase-public.firebaseio.com/cli.json
    at Client.doRequest (/usr/local/lib/node_modules/firebase-tools/lib/apiv2.js:211:19)
    at processTicksAndRejections (internal/process/task_queues.js:85:5)
(node:10492) UnhandledPr

[2021-03-14 09:43] MollyXuemn commented on #2927
### why i downgraded the firebase to 8.15.0, the problem still exists?
[Waiting for authentication...
(node:10492) UnhandledPromiseRejectionWarning: FirebaseError: Failed to make request to https://firebase-public.firebaseio.com/cli.json
    at Client.doRequest (/usr/local/lib/node_modules/firebase-tools/lib/apiv2.js:211:19)
    at processTicksAndRejections (internal/process/task_queues.js:85:5)
(

[2021-03-14 11:08] MollyXuemn commented on #1442
After you try the new vpn, does it work?

[2021-03-14 17:30] Hacksore opened #3210 "Can't connect to functions shell when hosting emulator is running"
### [REQUIRED] Environment info

**firebase-tools:** 9.6.1

**Platform:** macOS

### [REQUIRED] Test case
A project with all the emulators enabled (hosting, pubsub, functions, database, ui) - a good example is https://github.com/Hacksore/firebase-shell-bug

### [REQUIRED] Steps to reproduce

See: https://github.com/Hacksore/firebase-shell-bug/blob/master/README.md

### [REQUIRED] Expected behavior

[2021-03-15 06:14] ChromeQ commented on #2103
I see v9.6.0 mentions

It sounds like the bug raised in this issue, and I've updated to the latest version and it seems to be fixed 🎉
I think I can close this issue now

[2021-03-15 06:14] #2103 closed

[2021-03-15 11:43] samtstern commented on #3210
@Hacksore have you tried passing the `--port` argument to choose a different port? `firebase functions:shell --port 5001` should do it.

[2021-03-15 13:51] lukepighetti opened #3211 "channelID is currently required"
I just filed https://github.com/FirebaseExtended/action-hosting-deploy/issues/98 but it may be upstream in `firebase-tools`. This issue is cross-posted.

TLDR: we've been leaving `channelId` blank such that Firebase would generate a random URL for preview deploys. But last night we started getting a `channelID is currently required` error with no changes on our end.

[2021-03-15 14:54] Hacksore commented on #3210
@samtstern I did indeed try when the emulators are running and it yielded no success.

[code]

[2021-03-15 15:13] samtstern commented on #3210
What if you do 5002?

On Mon, Mar 15, 2021 at 2:54 PM Sean Boult ***@***.***> wrote:

[2021-03-15 15:49] samtstern commented on #3210
@Hacksore I'd say a bit of both. We should probably scan for a free port when running the shell instead of failing fast.

[2021-03-15 16:08] lukepighetti commented on #3211
Closing because this appears to be related to https://github.com/FirebaseExtended/action-hosting-deploy/issues/90

[2021-03-15 16:08] #3211 closed

[2021-03-15 21:43] mbleigh commented on #1372
Folks who are still experiencing this issue, can you please make sure you're on the latest version of the CLI and provide details (how many functions you're deploying, `--debug` logs of the specific error)? We would expect this to have been largely fixed due to recent changes in functions deployment.

[2021-03-16 01:00] #3171 closed

[2021-03-16 04:58] darkcl opened #3212 "Failed to deploy functions with firebase-tools"
### [REQUIRED] Environment info

**firebase-tools:** 9.6.1

**Platform:** Fedora 33 and [bitbucket-pipeline](https://bitbucket.org/atlassian/firebase-deploy/src/master/)

### [REQUIRED] Test case

Running `GOOGLE_APPLICATION_CREDENTIALS=service.json firebase deploy --only functions`

### [REQUIRED] Steps to reproduce

Running `GOOGLE_APPLICATION_CREDENTIALS=service.json firebase deploy --only func

[2021-03-16 05:57] Terkea commented on #1546
I don't know how but in my case it was saying that I was already logged in and whenever i'd run `firebase init` it would throw that error.
The solution for me was to logout first using `firebase logout` then run `PATH="$PATH:/mnt/c/Windows/System32" firebase login`

[2021-03-16 10:00] merlinnot commented on #1372
@mbleigh I'm still experiencing that issue. I have 598 Cloud Functions in one of the projects, attempting to deploy it consistently exceeds the "Cloud Functions: Write requests per minute" quota, which is understandable.

I didn't look into the recent changes in depth, but my impression was that it reduced the build time (one container build no matter how many functions we're deploying), not how t

[2021-03-16 22:15] aedolfi commented on #2126
It seams to be an Issue with large websites. What helped me was to reduce the size of all images in the assets by factor 4.

[2021-03-17 06:45] #3212 closed

[2021-03-17 07:52] Habtesoft commented on #2927
check your internet connection

[2021-03-17 08:26] apeiniger opened #3213 "Auth Emulator not working"
I'm using the newest version of firebase-tools 9.6.1. and have the problem that the Auth emulator is not working properly. There are no errors shown when starting the emulators:

![image](https://user-images.githubusercontent.com/2005574/111436628-7bb3d700-8702-11eb-9160-29112d855030.png)

But when I then go to the Auth Emulator UI and try to create a user nothing is happening (after clicking the

[2021-03-17 10:03] samtstern commented on #3213
@apeiniger please use the issue template when filing issues, this is missing some important information. Can you tell me what operating system you're running? If it's Windows are you using WSL?

[2021-03-17 12:31] rhodgkins commented on #2606
Despite using the [new update](https://github.com/firebase/firebase-tools/pull/3132#issuecomment-780191194) still getting this issue on 40%-60% of deployments... :(

[2021-03-17 14:13] apeiniger commented on #3213
Sorry for not using the template. Came here directly from the link in the terminal. I'm running Ubuntu 20.04.1 LTS on AWS EC2. Accessing the interface via port forwarding in Visual Studio Code. Was never an issue that way in the past. I did an update of the firebase-tools to the newest version, but I'm not 100% sure if it has to do with that version update. I could try to downgrade and see if that

[2021-03-17 18:53] #3191 closed

[2021-03-17 18:54] samtstern commented on #3191
In #3201 I improved the error messages for a situation like yours. This will be included in the next release of the CLI. If you try again when that comes out, we may get more information.

[2021-03-17 21:27] Virgil1880 opened #3215 "Message report"
### [REQUIRED] Environment info

**firebase-tools:**

**Platform:**

### [REQUIRED] Test case

### [REQUIRED] Steps to reproduce

### [REQUIRED] Expected behavior

### [REQUIRED] Actual behavior

[2021-03-18 09:55] apeiniger commented on #3213
I found the problem. It had to do with a wrong port forwarding. Issue can be closed. Thanks for looking into it.

[2021-03-18 09:55] #3213 closed

[2021-03-18 10:26] #3215 closed

[2021-03-18 10:36] samtstern commented on #3213
@apeiniger thank you for following up!

[2021-03-18 13:05] viniciusccarvalho opened #3218 "Callable functions are not being executed using the emulator"
### [REQUIRED] Environment info

**firebase-tools:** 8.1.5

**Platform:** macOS

I don't have a full test case, but I have been experiencing this issue for a while. I have a service that abstracts the call to all firebase cloud functions.

### [REQUIRED] Steps to reproduce

Trying to deploy local functions and sometimes it fails

### [REQUIRED] Expected behavior

All functions should be invoked th

[2021-03-18 13:19] samtstern commented on #3218
@viniciusccarvalho I think this is the issue:

[code]

[2021-03-18 13:26] MdSakibAhmed commented on #77
I had same problem. i can solve my problem by this command firebase login:ci --interactive

[2021-03-18 13:29] viniciusccarvalho commented on #3218
@samtstern that was it, thank you so much: I've updated my constructor to:
[code]

And all is working as expected, thank you so much :) life saver

[2021-03-18 13:29] #3218 closed

[2021-03-18 13:42] samtstern commented on #3218
@viniciusccarvalho I love when I guess right on the first try 😄  happy to help

[2021-03-18 16:38] Tubyhes commented on #2297
@samtstern is there any news on this feature?

[2021-03-18 17:19] simeon9696 opened #3219 "Security vulenarability with xmldom"
After running `npm update` a security vulnerability was reported. Below shows the output of `npm audit`

[code]

Running `npm audit fix` was unable to resolve this. Is this something to be concerned about?

"firebase-tools": "^9.6.1",

**Platform:**
Windows 10 Pro 20H2

[2021-03-18 22:11] bkendall commented on #3219
It looks like `plist` is going to have to update their dependencies in order for us to be able to fix this on our side. They have an issue open already (though I'm a little skeptical because it's been years since that repo has had an update): https://github.com/TooTallNate/plist.js/issues/105

[2021-03-18 22:45] #3170 closed

[2021-03-18 22:46] yuchenshi opened #3221 "Authentication Emulator should export / import mfaInfo field"
Now that #3173 is merged, the Auth Emulator should also export and import that field so it is not lost across exports.

[2021-03-19 05:37] jsakas commented on #1372
I would love to know more about this script :)

[2021-03-19 06:42] mesqueeb commented on #2994
I just want to mention to all who come here to upvote:

Don't forget to **click "subscribe" on the right side to get updates!**!

[2021-03-19 12:04] pbilka46 commented on #1738
:+1: ! I would also like to have storage emulator

[2021-03-19 13:44] samtstern commented on #3209
@dora1998 thank you for the very clear explanation and sorry for the slow response! I'll take a look at this and submit a fix.

[2021-03-19 14:29] samtstern commented on #3209
So I was able to reproduce this and it actually has nothing to do with hosting rewrites. It seems that there's just a routing difference between the Functions emulator and Functions in production that affects `req.params`.  I used your simple function with no rewrites, here's what I see in the emulators:

[code]

But in production:
[code]

I'm wondering if there could be a difference in the versio

[2021-03-19 15:18] samtstern commented on #3202
Those logs seem to be making requests to entirely different places:

**5.1**
[code]

**7.1**
[code]

So my suspicion is that you are actually running different versions of the Firebase CLI in each shell.  Can you run `firebase --version` in each one?

[2021-03-19 15:21] marspion commented on #3202
There is same version of Firebase CLI in both shells (9.6.0)

[2021-03-19 15:41] dmishh commented on #1528
`firebase.functions().useEmulator('localhost', 5001)` is the solution, but if you have a different region than the default `us-central1`, you should call the httsCallable this way:

[code]

[2021-03-19 15:56] tr4g opened #3222 "Auth emulator is fetching users from production"
### [REQUIRED] Environment info

**firebase-tools:** 9.6.1

**Platform:** WSL2

### [REQUIRED] Test case

I have a user created in production with email "test@test.com" and my emulator data is empty, but I'm still able to use this on my function:
[code]

and it works

and it creates a user in the emulator with the same ID as in production

### [REQUIRED] Steps to reproduce

create a user in produc

[2021-03-19 16:20] samtstern commented on #3222
@tr4g this is not enough information for us to reproduce the issue. Can you show the complete code of your function (or a simpler function that has this issue) and then also tell us how you're running it and invoking it?

[2021-03-19 16:22] merlinnot commented on #1372
@jsakas Copy-pasting here so that you have a starting point, but that's probably not going to work out of the box for your project. You'll need to install some dependencies, fix imports etc.

It uses a TypeScript compiler for traversing files, but even if your project is plain JS, you can still make it work - TypeScript compiler can understand JS files.

[code]

[code]

[code]

[2021-03-19 16:57] tr4g commented on #3222
@samtstern thanks for replying, here's a reduced version of the function, basically connects to an endpoint in laravel to fetch a user and then creates it in firebase auth

[code]

[2021-03-19 17:17] tr4g commented on #3222
@samtstern yes, sorry, the function is called somewhere else:
[code]

[2021-03-19 17:30] samtstern commented on #3222
@tr4g ok but where do you do `admin.initializeApp()` and do you provide any arguments?  Sorry but this would be much easier if there was a full self-contained reproduction that I could copy and run.

[2021-03-19 17:36] tr4g commented on #3222
@samtstern i should have copied everything, sorry

[code]

[2021-03-19 17:37] samtstern commented on #3222
When using the emulators you should just invoke it like this:
`admin.initializeApp()` ... using your production credentials could be why it's writing to production.

[2021-03-19 17:41] tr4g commented on #3222
@samtstern I tried that, but I get the following error:
[code]

[2021-03-19 17:44] samtstern commented on #3222
@tr4g ok I'm sorry for all the back-and-forth but I think the only reasonable next step is an MCVE:
https://stackoverflow.com/help/minimal-reproducible-example

Please provide a full example I can git clone or copy and paste and see the same error you're seeing

[2021-03-19 18:30] yuchenshi commented on #3200
We also ran into this ourselves in tests, and I'm going to add a workaround here.

[2021-03-19 19:24] jsakas commented on #1372
Wow, thank you so much! I will definitely update for my project and see how it goes.

[2021-03-19 19:29] jsakas commented on #1372
@mbleigh I am noticing the issue does appear to be somewhat resolved after upgrading from 9.5.0 to 9.6.1. However, it still fails over some number of functions deployed simultaneously. I'm able to get about 60-70 deployed with one call to `deploy --only functions`, but then some random number fails (a different set of functions each time). I think batching the deployments in 50 at a time as explai

[2021-03-19 21:18] #3200 closed

[2021-03-20 06:55] Dellil commented on #3129
I'm using node 12 on mac m1 that have the same trouble.
`firebase-tools@9.6.1`
[code]

Is there any solution without install node 15v or using volta?

[2021-03-20 14:57] Kezzsim commented on #784
This is apparently still a real problem
`` Provided module can't be loaded.

 Did you list all required modules in the package.json dependencies?
 Detailed stack trace: Error: Cannot find module '../services/pullPsaCredentials'``

pullPsaCredentials isn't even a node module, it's just a part of my program. This all runs fine in the emulator so I have no idea why it wouldn't just work.

I need to d

[2021-03-20 18:59] joaomelo commented on #2773
Hi there,

I don't know if the intention was to suppress only web UI warnings but I'm still receiving them in the console during tests.

I'm using firebase SDK 8.3.0. Below snippets of the related code:

test case
[code]

emulator init
[code]

Here is the console warning.
![Captura de tela 2021-03-20 155755](https://user-images.githubusercontent.com/5727050/111882572-14618580-8995-11eb-854c-329c06

[2021-03-21 11:43] MrAndrew commented on #3219
Is there at least a functional fix if the dependencies can't be updated? For example, editing the dependency code or forking the repo, fix it, and depend on that instead of the original?

[2021-03-21 20:42] cavalos0086 commented on #3129
Any updates on this?

[2021-03-22 11:13] samtstern commented on #2773
@motiejunas no you're not doing anything wrong, that `console.info` message is always logged even if the banner is not displayed.

[2021-03-22 14:04] samtstern commented on #2798
@kmcnellis @bkendall does this issues affect Hosting in production as well or just the emulators?

[2021-03-22 14:10] electricmonk commented on #2452
Same issue here, apparently

[2021-03-22 16:20] joaomelo commented on #2773
I got it @samtstern. Thank you.

I understand the SDK concern about wrong connections. I wonder if I could suppress it somehow during tests. As test cases amount, things get increasingly noisy.

![Captura de tela 2021-03-22 131844](https://user-images.githubusercontent.com/5727050/112022741-54e60e00-8b11-11eb-8d7b-a7e55f0eac41.png)

[2021-03-22 22:34] kmcnellis commented on #3129
For the pre-node 15 questions, it does seem to be a problem with node itself, and it's generally fixed by running on the x86 / rosetta version - check out https://github.com/nvm-sh/nvm/blob/master/README.md#troubleshooting-on-macos

For the error where most of the CLI works, but functions deploys don't (due to the uploaded archive not being able to be uncompressed), check out #3120 for updates.

[2021-03-22 23:34] joehan commented on #1372
Hey all, thanks for bringing this up again. I made some changes in a recent refactor of this code path that I hoped would help situations like this, but I missed these quota issues because of some wonkiness in quota enforcement. I'm working on a PR to retry on quota errors, which should help prevent these issues you're seeing.

[2021-03-23 07:12] rollinsafary-inomma commented on #784
@johnelliott you aren't alone :D

[2021-03-23 11:41] #3210 closed

[2021-03-23 14:21] pawlowskim opened #3226 "Runtime environment variables are deleted during function deployment using tools 9.4.0 or greater"
### [REQUIRED] Environment info

**firebase-tools:** 9.4.0 or greater

**Platform:** macOS Catalina (v 10.15.7), node v10.21.0

### [REQUIRED] Test case

### [REQUIRED] Steps to reproduce

1. Create and deploy any cloud function
2. Edit created cloud function and add runtime environment variable `CUSTOM_VARIABLE:some_value` (from GCP console)
3. Re-deploy cloud function from 1.

### [REQUIRED] Exp

[2021-03-23 15:37] samhorlbeck commented on #3180
Hi @stevenolay, your code snippet seems to work for me no problem. Here's the output from your snippet:

[code]

I know there's been a delay in our response to this bug (sorry about that). Would you mind double checking whether or not you're still seeing this behavior?

[2021-03-23 16:58] mohammad-karam commented on #155
it works for me either

[2021-03-23 18:04] misha-reyzlin-hier opened #3227 "When functions:delete command fails it prints to stdout instead of stderr"
### [REQUIRED] Environment info

**firebase-tools:** 9.6.1

**Platform:** Ubuntu

### [REQUIRED] Test case

In node repl, attempt deleting a function group that doesn’t exist, using `require('child_process').exec`:
[code]

### [REQUIRED] Steps to reproduce
- Install firebase-tools globally
- Change into directory that has firebase project initialised in it
- Enter `node` repl
- type `require('chil

[2021-03-23 21:33] ericvera commented on #2198
FYI, In case someone else ends up here to make the emulator run, instead of running firebase directly from the command line run it as a yarn command. After some reading, it seems yarn takes care of virtualizing node_modules if necessary.

Two things are needed:
1. Latest yarn `yarn set version from sources`

2. In `package.json`
[code]

[2021-03-24 01:00] #3179 closed

[2021-03-24 07:46] goelrishabh commented on #2379
After trying all the methods/steps mentioned above none of them worked for me BUT _I found the solution on my machine so leaving it here as a reference_.

The issue is caused by the multiple Network Adapters created by **Oracle VirtualBox VM**, I found that:

1. Uninstalling the **Oracle VirtualBox VM** removes these Virtual Host adapters and solves the **Timeout Error** issue
2. Disabling these V

[2021-03-24 09:29] JayKan commented on #2126
I happen to did a global update for my `firebase-cli` and this error started to happening. I've tried everything and nothing worked.

Then I downgraded my firebase to `8.1.1` and everything started working. Not really sure why? Hopefully this can be helpful for someone running into a similar issue

[2021-03-24 10:44] mohammad-karam commented on #155
this works for firebase login, but it doesn't work for firebase init , I cannot list all projects from my google account.

[2021-03-24 10:48] misha-reyzlin-hier opened #3228 "When applying database settings the values aren’t stringified resulting in error."
### [REQUIRED] Environment info

**firebase-tools:** 9.6.1

**Platform:** macOS

### [REQUIRED] Test case

The problem is exactly as described in this StackOverflow question
https://stackoverflow.com/questions/65214056/how-to-perform-large-deletes-in-the-firebase-realtime-database#comment118044022_65214056

firebase database:settings:set defaultWriteSizeLimit unlimited

### [REQUIRED] Steps to rep

[2021-03-24 10:52] samtstern commented on #3228
Thanks for reporting! We're already working on a fix here:
https://github.com/firebase/firebase-tools/pull/3217

[2021-03-24 14:05] vinay-khatri opened #3229 "Firebase Tools deploys my whole react app instead of build directory files."
### [REQUIRED] Environment info

**firebase-tools: 9.6.1

**Platform: Ubuntu

### [REQUIRED] Test case

https://stackoverflow.com/questions/66782074/why-firebase-deploys-full-react-app-instead-of-deploying-build-directory-files

### [REQUIRED] Steps to reproduce

[code]
### [REQUIRED] Expected behavior

only the build directory of react app should be deployed to hosting

### [REQUIRED] Actual beha

[2021-03-24 14:10] samtstern commented on #3229
@vinay-khatri can you show your `firebase.json` file?

[2021-03-24 14:14] vinay-khatri commented on #3229
@samtstern apps firebase config
[code]

[2021-03-24 14:43] gbhall commented on #2523
I just spent an inordinate amount of time thinking I wasn't understanding transactions properly.

Had this same issue using the Swift SDK and emulator. No longer using the emulator and it runs as expected.

Same issue when clearing data within Firestore in the emulator and getting the error `does not match the required base version`

[2021-03-24 14:43] gbhall commented on #1971
I just spent an inordinate amount of time thinking I wasn't understanding transactions properly.

Had this same issue using the Swift SDK and emulator. No longer using the emulator and it runs as expected.

Same issue when clearing data within Firestore in the emulator and getting the error `does not match the required base version`

[2021-03-24 14:45] gbhall commented on #1971
@yuchenshi do you still need an example?

[2021-03-24 14:55] samtstern commented on #3229
@vinay-khatri and are you saying that some files outside of the `build` directory have been uploaded to Firebase Hosting?  If so can you explain which files, where they are located on disk, and where they ended up on Hosting?

[2021-03-24 15:49] yuchenshi commented on #1971
@gbhall Yes, we'd appreciate a repro to pinpoint the issue

[2021-03-24 16:18] #3228 closed

[2021-03-24 20:14] inlined commented on #3209
I believe this is because the emulator was written back in the node 6 days before the Functions Framework (or any other languages) were added. This was eventually changed in newer versions of Node to unify the routing logic across all languages. I'm not sure if supported versions of node differ in their behavior, but we can probably change the emulator to match production for node14 (if not match

[2021-03-25 10:04] IchordeDionysos commented on #3219
@bkendall is the `plist` package even used in `firebase-tools`?

 The only occurrence I found for `plist` was in the `package.json` and lock file and as a file ending of the `GoogleService-Info.plist`:

![image](https://user-images.githubusercontent.com/10195482/112455215-cd3f1000-8d59-11eb-9dcd-ccfb79b86e01.png)

So maybe it can just be removed?

[2021-03-25 14:45] wokkaflokka commented on #3221
If there are no takers champing at the bit, I can look into starting this one in the next week or so.

The more and more I use the emulator suite, the more I love it. Something tells me that I'll be wanting the ability to login with an MFA user via the emulator eventually, as well.

[2021-03-25 15:06] SrBrahma commented on #1412
Sorry for reopening, but as this repo doesn't allows opening issues for questions, I think here is the right place to ask:

I want to, in emulator, use Pub/Sub using the prod Pub/Sub, with real messages. Is it possible without making everything else prod?

[2021-03-25 16:52] JanCVanB commented on #3219
[code]
😯
[code]
🤔
[code]
🤦

[2021-03-25 20:21] yuchenshi opened #3231 "Auth Emulator batchGet should return nextPageToken if page is full"
## Expected Behavior

If there are enough users to fill a whole page size (whatever that is), a `nextPageToken` should be returned even if the next page would be empty. (I've tested in production and this is the behavior indeed.)

## Actual Behavior

The Auth Emulator returns no page token if number of users is same as page size. This causes tests failures like https://github.com/firebase/firebase

[2021-03-25 20:36] ddadon10 commented on #2027
The second solution (dumping all indexes automatically created) is very similar to the [Datastore emulator behavior](https://cloud.google.com/datastore/docs/tools/indexconfig#Datastore_About_index_yaml) and would be a huge benefit for developer productivity.

I also think this information about the emulator behavior deserve to be in the documentation somewhere 🙂

[2021-03-25 21:26] abeisgoat commented on #1738
Hey folks, if you're following this thread and willing to be an Alpha tester of "Bug fixes and Performance Improvements 😉" related to this bug, follow these steps:

1. Sign up for the [Firebase Alpha program](https://services.google.com/fb/forms/firebasealphaprogram/)
2. Send an email to abehaskins@google.com, make sure to send it from the email address you will use for testing.

Please only do th

[2021-03-25 21:31] kirmalyshev opened #3234 "/usr/local/bin/firebase: line 1: Not: command not found -- when try to install CLI"
Installing Firebase CLI tools fails, when try to install via curl
Looks like its from the latest [release 9.8.0](https://github.com/firebase/firebase-tools/releases/tag/v9.8.0)

### [REQUIRED] Environment info

not installed
**firebase-tools:**

**Platform:** Ubuntu

### [REQUIRED] Test case
`curl -sL firebase.tools`

### [REQUIRED] Steps to reproduce
`curl -sL firebase.tools`

### [REQUIRED] Expe

[2021-03-25 21:50] claryt commented on #3234
Same issue Here

[2021-03-25 21:51] henrymly commented on #3234
Same

[2021-03-25 22:01] outrunthewolf commented on #3234
Same...

[2021-03-25 22:42] MRandl commented on #3234
I have a graded presentation tomorrow lol. Will rollback on 9.7.0 for now

[2021-03-25 22:56] MRandl commented on #3234
Update : looks like rolling back doesn't work

[2021-03-25 23:04] bkirby42 commented on #3234
This worked for me. (replace platform with whatever you're using)

`curl -Lo ./firebase_bin https://firebase.tools/bin/macos/v9.7.0`

[2021-03-25 23:16] MRandl commented on #3234
inspired from you, that worked for our CI : `curl -sL https://firebase.tools/bin/linux/v9.7.0 -o firebase_tools`
hope that helps somebody.

[2021-03-25 23:19] abhijeetchz commented on #3234
Seems like the issue is fixed, I retried the build now it passed that step. Can someone confirm?

[2021-03-25 23:21] MRandl commented on #3234
I get another mistake on the latest tag

`<?xml version="1.0" encoding="UTF-8"?>
<Error><Code>NoSuchKey</Code><Message>The specified key does not exist.</Message><Key>15402300/bb2f9280-8d96-11eb-9a4b-758403abb6d9</Key><RequestId>R0NXY3QR0YAZZP65</RequestId><HostId>uaL2LBn5thrqCsXxPj9gA/GidUE3k9hHbVW3Aa1yNQ6Vi7nUJB+b/cyeUM7V/QxRjgJyYO2rBvI=</HostId></Error>`

[2021-03-25 23:31] bkirby42 commented on #3234
It's fixed now.  As of 15 min ago, the linux binary was still missing, but now they are all there.

[2021-03-25 23:45] MRandl commented on #3234
yes, it runs correctly here

[2021-03-25 23:46] claryt commented on #3234
yeah, fixed!

[2021-03-26 01:00] #3208 closed

[2021-03-26 04:50] brianneisler commented on #2735
@samtstern any word on this one? I'm at the point where my rules file can no longer be deployed and it's preventing further development.

[2021-03-26 08:13] kirmalyshev commented on #3234
Fixed! Great, thank you!
I close the issue

[2021-03-26 08:13] #3234 closed

[2021-03-26 12:40] renatosantosti commented on #1532
Tente:
`!firebaseAdmin.apps.length ? firebaseAdmin.initializeApp() : firebaseAdmin.app();`
ou
`try{
    firebaseAdmin.initializeApp()
}
catch(err){
    firebaseAdmin.app()
}`

[2021-03-26 15:36] SHREYA0806 commented on #896
hey !! its showing the same error again..

 Paste authorization code here:
Error: An unexpected error has occurred.

Having trouble? Try again or contact support with contents of firebase-debug.log

please help me out

[2021-03-26 16:15] SHREYA0806 commented on #896
thanks man !!

[2021-03-26 21:49] ezzabuzaid commented on #986
Almost two years with no *Optimal* solution.

for anyone who still struggles with this issue, but the below code at the top of the entry point file (main.ts).
don't forget to adjust the `tsconfig.json` file path if it is not in default location

[code]

[2021-03-27 13:23] akauppi commented on #3149
@samtstern I'd ask this a bit further, even.

When testing my Security Rules, it would be delightful to be able to confirm from the emulator (via an API, I guess) the read counts accumulated so far (or attached to a certain operation). This allows programmatic confirmation of the cost budget of such rules.

If you see this as something meaningful, I should probably make a separate issue about it?

[2021-03-27 13:29] akauppi commented on #3198
@ppicom Were you able to solve this?

I have no problems deploying CF's (macOS and Linux BusyBox/Alpine).

Chokidar is a file watching library, so it seems suspicious why it would be involved when doing a non-interactive `firebase deploy`. Can you elaborate a bit, where you think it comes in?

[2021-03-28 06:33] akshaybabloo opened #3235 "Error building and deploying project - ng build"
### [REQUIRED] Environment info

**firebase-tools:** 9.8.0

**Platform:** macOS 10.15

### [REQUIRED] Test case

### [REQUIRED] Steps to reproduce

1. Create an Angular project
2. Then - `firebase init` to initialise a project
3. Then - `ng deploy` to firebase

### [REQUIRED] Expected behavior

The project should buld and upload to firebase hosting

### [REQUIRED] Actual behavior

The project buil

[2021-03-28 06:38] eru123 commented on #1738
Is there any update about this feature request? badly needed this to test file upload features of my project.

[2021-03-28 06:45] akshaybabloo commented on #3235
Wrong repository. Sorry.

[2021-03-28 06:46] #3235 closed

[2021-03-28 06:52] warting commented on #1738
Looks like it is just around the corner :)
Check the commits included in v9.8.0

[2021-03-28 08:11] aravindvnair99 opened #3236 "Duplicate gitignore"
### [REQUIRED] Environment info

**firebase-tools:** 9.8.0

**Platform:** Windows

### [REQUIRED] Test case

https://github.com/aravindvnair99/Firebase-MCVE

### [REQUIRED] Steps to reproduce

[code]

### [REQUIRED] Expected behavior

Only one `gitignore` should be present at the root of the project.

### [REQUIRED] Actual behavior

Two `gitignore` files are made. One at root and one within `funct

[2021-03-28 11:49] Rishabh786Singh opened #3238 "firebase: command not found"
### [REQUIRED] Environment info

**firebase-tools:**

**Platform:**

### [REQUIRED] Test case

### [REQUIRED] Steps to reproduce

### [REQUIRED] Expected behavior

I did this "npm install -g firebase-tools" but when I am trying to login it is showing an error. "Firebase: command not found"
### [REQUIRED] Actual behavior

[2021-03-28 13:17] oittaa commented on #1738
`customTime` seems to be missing from stored metadata https://github.com/firebase/firebase-tools/blob/93abee929d79b2216a31af98871b6d29588810be/src/emulator/storage/metadata.ts

https://cloud.google.com/storage/docs/metadata#custom-time

For example here's how the Python client uses `customTime`:

https://github.com/googleapis/python-storage/blob/440a0a4ffe00b1f7c562b0e9c1e47dbadeca33e1/google/clou

[2021-03-28 13:33] palkerecsenyi opened #3239 "dyld: lazy symbol binding failed: Symbol not found: __Z18sse42_is_availablev with version 9.8.0"
### [REQUIRED] Environment info

**firebase-tools:** 9.8.0

**Platform:** macOS (Apple M1)

**NodeJS:** 15.12.0

### [REQUIRED] Test case

Any Firebase Functions project

### [REQUIRED] Steps to reproduce

Run this command:
[code]

### [REQUIRED] Expected behavior

I'd expect it to deploy my functions as normal. It works perfectly with version 9.7.0 and below, but 9.8.0 breaks it.

### [REQUIRED]

[2021-03-28 15:00] anuptiwari32 commented on #2470
{
  "project_info": {
    "project_number": "285676307110",
    "firebase_url": "https://getup-e6130.firebaseio.com",
    "project_id": "getup-e6130",
    "storage_bucket": "getup-e6130.appspot.com"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:285676307110:android:42e38945905627af296a67",
        "android_client_info": {
          "package_name": "com.getup.driver

[2021-03-28 15:02] anuptiwari32 commented on #2470
I added the SHA hash code but it is not getting updated in the  above JSON
 file, Many other people facing the same issue. I also still not able to figure to workaround it

[2021-03-28 19:51] tiny-dancer commented on #3239
https://stackoverflow.com/questions/66816456/firebase-broken-on-m1-mac

[2021-03-28 20:09] robinpdev commented on #3239
Had this exact issue too, i guess firebase QA needs some waking up.

[2021-03-29 00:46] tiny-dancer commented on #3239
Some new equipment :)

[2021-03-29 07:31] MalikOwais123 commented on #2856
Thanks..

[2021-03-29 08:43] aravindvnair99 commented on #3238
@Rishabh786Singh Make sure the binary is set in path.

[2021-03-29 09:36] samtstern commented on #3239
@robinpdev please be respectful when commenting here!

[2021-03-29 09:37] samtstern commented on #3238
Thanks @aravindvnair99 for stepping in with some pointers!

@Rishabh786Singh please use the issue template when filing an issue. As it stands there's no evidence here that there's anything wrong with `firebase-tools`, sounds like you have an NPM path issue. If that issue persists you can always use the standalone binary build of the Firebase CLI.

[2021-03-29 09:37] #3238 closed

[2021-03-29 09:41] samtstern commented on #3236
@aravindvnair99 thanks for the very clear report. This is currently the intended behavior and nested `.gitignore` files are pretty normal in projects with multiple distinct purposes (such as a Firebase project with Hosting and Functions).  Is this a problem for you or just something you think could be optimized?

[2021-03-29 09:48] aravindvnair99 commented on #3236
@samtstern Not an issue for me particularly, but I just felt it could be optimised for everyone by having the `.gitignore` in a common place for better management. Rather than having to check multiple `.gitignore` files. I'll do one thing, I'll make a PR for you to take a look at. Give me a moment.

[2021-03-29 09:57] samtstern commented on #1738
@warting follow the instructions that @abeisgoat posted here if you're interested:
https://github.com/firebase/firebase-tools/issues/1738#issuecomment-807520420

@oittaa let's not use this issue for feedback, there are too many people subscribed here and adding comments will create a lot of noise. You can contact @abeisgoat with feedback using the instructions above or if that is not working for s

[2021-03-29 10:01] samtstern commented on #3236
@aravindvnair99 one issue here is if you run `firebase init functions` in a project directory that already has a `.gitignore` file in the root. In which case we will *not* overwrite that file but we will still create a new `functions/.gitignore` file.

[2021-03-29 10:13] aravindvnair99 commented on #3236
@samtstern Ah right... I didn't think of that. I agree with you. For existing users, rewriting might end up revealing hidden files. What do you say about appending on towards existing `.gitignore` in that case?

[2021-03-29 10:16] samtstern commented on #3198
@ppicom if I am reading this correctly the error message is coming from the Cloud Functions backend (seemingly the build step) and not the Firebase CLI? If that's the case then this repo isn't the best place to get help, I'd suggest contacting Firebase Support (https://firebase.google.com/support) and providing as much information as possible so that someone can investigate from the backend.

I'm

[2021-03-29 10:16] #3198 closed

[2021-03-29 10:19] danieldanielecki commented on #1154
It did happen to me when my project related to `Angular Universal` in conjunction with `Cloud Functions for Firebase` wasn't configured correctly.  `ng add @angular/fire` automatically fixed all the setup, and the error was gone.

[2021-03-29 10:23] aravindvnair99 commented on #3207
@ljle I just tried `firebase functions:config:clone --from project-name` and was able to successfully. Not sure if this helps, but do you have access to the project you are trying to clone?

[2021-03-29 10:33] samtstern commented on #3149
@akauppi we can track this here in this issue, we have done some work on this feature request and we are also considering reads from security rules in that work.

[2021-03-29 10:39] robinpdev commented on #3239
@samtstern Sorry if that offensive, still love firebase🔥

[2021-03-29 10:42] samtstern commented on #3239
@palkerecsenyi thanks for reporting this, we've had a few issues with M1 macs and especially with Node 15.  Unfortunately since we've all been working from home during the pandemic nobody on our team has been able to get a new laptop for work so we don't have good M1 test coverage and GitHub actions (where we do our CI testing) doesn't have ARM or M1 options.

I'll report this to some team members

[2021-03-29 11:12] miketrebilcock commented on #3239
Looks like the addition of fast-crc32c within the emulators created the problem in 9.8.0. https://github.com/firebase/firebase-tools/compare/v9.7.0...v9.8.0#diff-7ae45ad102eab3b6d7e7896acd08c427a9b25b346470d7bc6507b6481575d519

[2021-03-29 11:14] samtstern commented on #3239
@miketrebilcock thanks for pointing that out!  I bet you're right.

[2021-03-29 12:04] wiesson commented on #3239
I'm not sure, but it looks like this package does compile natively https://github.com/napi-rs/node-rs/tree/main/packages/crc32 and could replace `fast-crc32c` 🤔

[2021-03-29 16:24] samtstern commented on #3236
@aravindvnair99 that would probably work ... my concern with changing anything here is that there is nothing wrong with the current behavior and it is very simple. Changing it means that there are probably some edge cases we didn't think of where the user would end up without `node_modules` in `.gitignore` which is a bad outcome.

[2021-03-29 16:28] aravindvnair99 commented on #3236
@samtstern Right, I guess this issue and the PR I made can be closed as the cons outweigh the pros.

[2021-03-29 16:29] samtstern commented on #3236
👍 thank you for understanding! I really appreciate all of your contributions lately, I am sure we'll find more uses for your talent/energy.

[2021-03-29 16:29] #3236 closed

[2021-03-29 19:09] i14h commented on #3226
@pawlowskim thanks for reporting this. @joehan can you take a look please?

[2021-03-29 20:46] immunity20 opened #3241 "Windows 10 firebase emulators:exec script doesn't load .runtimeconfig.json variables"
### [REQUIRED] Environment info

**firebase-tools: 9.8.0**
firebase --version => 9.8.0

**Platform: Windows 10**

### [REQUIRED] Test case

Just set some functions config variables and try to access them while you run `firebase emulators:exec "script"`

### [REQUIRED] Steps to reproduce
Inside the functions folder:

`firebase login`

`firebase use appName`

`firebase functions:config:get | ac .run

[2021-03-29 21:31] immunity20 commented on #3241
I have added a repository with the case

[2021-03-29 23:01] yuchenshi commented on #3209
I've tracked this internally (b/183986140) and we welcome any Pull Requests to the emulator.

[2021-03-29 23:03] leandro-manifesto commented on #1836
I'm testing the Emulator Suite and this is definately still happening when I run:

[code]

[code]

One would expect the runtime config to be downloaded from the current project.

[2021-03-30 09:55] samtstern commented on #1836
@leandro-manifesto we do not automatically download runtime configuration from prod, but you can do it yourself if you want to:

[code]

[2021-03-30 10:33] IchordeDionysos commented on #2027
@ddadon10 it actually is in there: https://firebase.google.com/docs/emulator-suite/connect_firestore#limitations

[2021-03-30 10:49] IchordeDionysos commented on #2027
@yuchenshi @samtstern we are currently trying to establish a process for data(base) planning and try to establish a process for how we make database decisions, adjust security rules, and indexes.

One way we think about this is that we should write tests for our security rules with database requests our apps make.
So, we always make sure that all Firestore requests in the app will succeed with any

[2021-03-30 15:13] mahmoud-shakouryan opened #3242 "Firebase deploy error >> failed to make projects list"
**Environment info :**
firebase version: 9.8.0
Node version :14.15.3
**Platform :**
Windows 8.1

 **Test case :**
when deploying a react app via firebase CLI , when it reaches to  make a projects list it throws an error.
I got two projects at firebase and it succeeds at login via firebase CLI.
I even googled and did below things to fix the possibility issues :
firebase login/logout several times ,

[2021-03-30 18:25] leandro-manifesto commented on #1836
I know you can download the configuration from the project.
What I'm saying is that as a developer that is cumbersome and I expected the tool to handle this for me.

[2021-03-30 18:28] mbleigh commented on #1836
Oftentimes using prod configs in local emulation can lead to accidents like sending live emails to users while testing something out locally. We keep the process a little more manual so that there is less chance of such mistakes. Thanks for the feedback, though!

[2021-03-30 20:45] RFDPrint opened #3244 "Firebase Deploy Errors On Functions Using Optional Chaining"
### [REQUIRED] Environment info

**firebase-tools:9.8.0**

**Platform:Windows**

### [REQUIRED] Test case

Using the New ES2020 Feature Optional Chaining will cause an error when trying to deploy a function that takes advantage of this feature.

const customer = {
				metadata: {
					userId: userId
				},
				description: `UserId: ${userId}`,
				name: `${billing?.firstName} ${ billing?.lastName}

[2021-03-30 20:51] bkendall commented on #3244
Optional chaining isn't available except in very recent version of node (>= 14.5 according to [node.green](https://node.green/)).

What version of Node are you using in your deployment?

[2021-03-30 20:52] RFDPrint commented on #3244
I am using node 12

[2021-03-30 20:52] RFDPrint commented on #3244
This feature works fine using the emulator.

[2021-03-30 20:56] mbleigh commented on #3244
The emulator runs using whatever your local version of Node.js is -- when deploying it uses the specified runtime. If you change your engine to `"14"` it may work since Node.js 14 support is available in beta.

[2021-03-30 20:56] #3244 closed

[2021-03-30 20:57] bkendall commented on #3244
Docs for changing your node version: https://firebase.google.com/docs/functions/manage-functions#set_nodejs_version

[2021-03-30 21:22] bradleymackey commented on #3239
Just a heads up that I'm also seeing this issue on `armv7l` on a Raspberry Pi.

[2021-03-30 22:18] aravindvnair99 opened #3245 "5 high severity vulnerabilities"
### [REQUIRED] Environment info

**firebase-tools:** 9.8.0

**Platform:** Windows

### [REQUIRED] Test case

Just installing `firebase-tools` is enough.

### [REQUIRED] Steps to reproduce

[code]

### [REQUIRED] Expected behavior

[code]

### [REQUIRED] Actual behavior

[code]

[2021-03-31 03:26] nicholaschiang opened #3247 "No CRC-32C implementation available error in 9.8.0"
### [REQUIRED] Environment info

**firebase-tools:** 9.7.0

**Platform:** Vercel Serverless Functions (Linux)

### [REQUIRED] Test case

When you deploy a project to Vercel that lists `firebase-tools@9.8.0` as a dependency (even if its just a development dependency), the following error occurs at runtime:

[code]

### [REQUIRED] Steps to reproduce

1. Create a new Next.js app that uses `firebase-t

[2021-03-31 09:23] samtstern commented on #3245
Here's the result of `npm audit` on the master branch:

[code]

  I'll see how many of these I can fix.

[2021-03-31 10:46] wvanderdeijl commented on #3245
AFAIK only `xmldom` and `netmask` popup in an audit report when using firebase-tools as a dependency. I assume the other audit reports from the previous comment are from devDependencies of this firebase-tools repo, so they would normally not impact users of the `firebase-tools` module. It would be nice to also fix those devDependency warnings, but I can imagine that `xmldom` and `netmask` have a h

[2021-03-31 12:45] danmt commented on #2570
@ZYinMD I had the same issue. I solved it for my use case with the `--only` option. I run emulators this way:

[code]

In my case, each site belongs to a different project but I suppose you can avoid the `--project` option, and firebase defaults to the project's default in `.firebaserc`. Hope that helps.

[2021-03-31 13:32] samtstern commented on #2027
@IchordeDionysos fully agree! This is really hard to test and we want to improve it.

[2021-03-31 13:39] samtstern commented on #3241
@immunity20 you're not running the Cloud Functions emulator with this command:
[code]

So I'm not sure what you expect to happen? `.runtimeconfig.json` is only read into `functions.config()` within the Cloud Functions emulator.

[2021-03-31 14:05] immunity20 commented on #3241
Oh I see, well on MacOS, Linux and Windows 10 using Windows Subsystem for Linux
If I run the command
```firebase emulators:exec --debug --only firestore 'NODE_ENV=testing FIRESTORE_EMULATOR_HOST=localhost:8080 npx jest --silent --verbose --detectOpenHandles'```

the `.runtimeconfig.json` is read (or at least the values have been cached somehow) and the variables exist for the tests to run successf

[2021-03-31 17:16] #3239 closed

[2021-03-31 17:16] #3247 closed

[2021-03-31 17:59] arnaudbouchard commented on #2521
Does anyone has a way to call the emulator directly specifying the heap size **and** importing data into Firestore (as you can do by adding the `--import` flag with `firebase emulators:start`)

[2021-03-31 20:25] Konntroll commented on #2126
Neither deleting the cache file, rebooting nor downgrading to 8.1.1 helps in my case.

I do have a 'larger' website at 25Mb with images (132 files) making up the bulk of it. I doubt, however, that this justifies the deploy working, or rather not working, the way it does.

The funny thing is that it does appear to be uploading files even while reporting a failure and showing no progress whatsoever.

[2021-03-31 22:13] bkendall commented on #3227
Question for Firebasers (maybe @samtstern @abeisgoat know): have we ever separated output between stdout and stderr? My first reaction to this is that we haven't, and that making a change to that may be breaking.

@misha-reyzlin-hier: would either using the CLI as a module or providing the `--json` flag help out in this case? Using it [as a module](https://github.com/firebase/firebase-tools#using-

[2021-04-01 09:40] samtstern commented on #3227
@bkendall I believe the `--json` flag is meant to address the difference in use cases between "machine readable" and "human readable".  Without that flag the input is *not* part of our API and you can change it at will, parsing it is not something we explicitly guarantee.

[2021-04-01 10:13] misha-reyzlin-hier commented on #3227
Thank for your replies!

For scripting/automation, does it make sense to add a paragraph to README that mentions `--json` flag as the way to get appropriate command line friendly API with `firebase-tools`? Also that `Without that flag the CLI output is not part of our API`?

[2021-04-01 18:01] bkendall commented on #3227
@samtstern that's a very good description of the difference and I agree with it.

Adding some information to the README is always welcome! @misha-reyzlin-hier - if you wanted to start a PR with what would be useful to you, we could iterate on that with you 🙂   Otherwise, I'll leave this open for this particular follow-up

[2021-04-01 21:15] bkendall commented on #3219
1. This was fixed by #3248
2. You're right that `plist` isn't used. I'm not sure why it's still there. I'll make a quick PR to take care of it.

[2021-04-01 21:15] #3219 closed

[2021-04-02 09:53] ti1024 opened #3254 "mime is missing from dependencies, breaking Yarn Plug'n'Play"
This is similar to #2974. The following code: https://github.com/firebase/firebase-tools/blob/3014db6ee1c839b76675823ef13119f4ef487a6b/src/emulator/storage/apis/firebase.ts#L5 depends on the package `mime`, but `package.json` file does not declare dependency on it. This makes it hard to use `firebase-tools` with Yarn 2 Plug'n'Play. See https://yarnpkg.com/advanced/rulebook#packages-should-only-eve

[2021-04-02 10:22] hmmmmniek opened #3256 "CLI Storage emulator init/start command not working."
**firebase-tools:** 9.8.0

**Platform:** Ubuntu

### [REQUIRED] Test case

### [REQUIRED] Steps to reproduce
- run `firebase init`
- follow the steps, select to initialize storage
- note there is no option to initialize the storage emulator

- afterwards, `firebase emulators:start --only auth,storage`
- note the message: `storage: Not starting the storage emulator, make sure you have run firebase

[2021-04-02 14:48] markgoho commented on #1532
here's what I'm doing:
[code]

[2021-04-02 16:20] #3231 closed

[2021-04-02 17:20] taeold commented on #3207
@ljle Based on the error message you shared, I wonder if there is something strange going on with the runtime config stored in the "other" project.

For debugging, can you share the output of:

1. `firebase functions:config:clone --from <another-firebase-project> --debug`
2. `firebase functions:config:get --project <another-firebase-project>  --debug`

[2021-04-02 18:58] johnnyasantoss opened #3257 "Hosting emulator won't deliver init.js?useEmulator=true when started with other emulators"
### [REQUIRED] Environment info

**firebase-tools:** 9.8.0

**Platform:** Manjaro Linux 5.10

### [REQUIRED] Test case

See the section below.

### [REQUIRED] Steps to reproduce

I'm starting the emulators with `firebase emulators:start --import .data --export-on-exit .data --inspect-functions 9229` and attaching VSCode to debug it.
When initialized like this, the hosting emulator simply replies w

[2021-04-03 13:58] tr4g commented on #3222
hi, sorry, it turned out to be an outdated version of firebase admin in the firebase folder, it would be nice to have a way to update all places where the library resides when a new version comes

[2021-04-04 14:32] cafe4it commented on #515
same issue

[code]

[2021-04-04 14:57] danielo515 commented on #308
So it is now possible to use multiline strings on the database.rules.json? Any recommendation to make it work on VSCode? It is not valid JSON  so we can not use JSON as file type

[2021-04-04 15:09] wceolin commented on #2773
@joaomelo One workaround we're using is to actually mock the `console.info` implementation to suppress these warnings during tests (in our `setupTests.js` file):

[code]

[2021-04-04 15:13] joaomelo commented on #2773
That's amazing, @wceolin! Thank you so much.

[2021-04-04 15:57] jean-smaug opened #3258 "PERMISSION_DENIED in firebase emulator using Google Auth provider"
### [REQUIRED] Environment info

**firebase-tools:** `9.8.0`

**Platform:** MacOS Catalina 10.15.6

### [REQUIRED] Test case

I'm trying to insert data in firebase firestore emulator.
I'm using two emulators : firestore and auth.
User is logged using Google auth provider. So I created a mock user that have Google as auth provider.
But I can't insert data with firestore auth rules.

[code]

[code]

[2021-04-05 00:41] kika opened #3259 "Scheduled function deploy doesn't report the error in non-debug run"
### [REQUIRED] Environment info

**firebase-tools:** `9.8.0`

**Platform:** MacOS

### [REQUIRED] Test case

[code]

Note the error: it's `minute` not `minutes` as per spec.

### [REQUIRED] Steps to reproduce

`firebase deploy --only functions`

[code]

Everything appears to be just fine.

### [REQUIRED] Expected behavior

Scheduler job is not created and error is given.

### [REQUIRED] Actual beh

[2021-04-05 15:08] vbeffa commented on #3256
Not sure if this is documented but it looks like you need to run this command first:

[code]

[2021-04-05 22:20] markgoho opened #3260 "Security vulnerability with netmask"
### [REQUIRED] Environment info

**firebase-tools:** 9.8.0

**Platform:** Windows
[code]

[2021-04-05 22:23] bkendall commented on #3260
Fixed by #3252. Thanks!

[2021-04-05 22:23] #3260 closed

[2021-04-06 01:28] alexleonov-tactiq commented on #2918
Any updates on this? Here's the error message:

[code]

Can't find any options for non-interactive initialisation so far.

[2021-04-06 02:35] paulovitin commented on #3258
Same here... =/

[2021-04-06 05:55] long1eu opened #3261 "Local Auth emulator only exports 20 users"
## Environment info

**firebase-tools:** 9.8.0

**Platform:** macos

[2021-04-06 08:20] pikax commented on #3258
I'm also having the same issue, just linking another issue here https://github.com/firebase/firebase-js-sdk/issues/4721

[2021-04-06 09:19] samtstern commented on #3258
@jean-smaug thanks for reporting this, just 2 follow up questions:

1. Does this still happen if you remove `firebase.firestore().settings({ experimentalForceLongPolling: true });`?
2. Does this only happen with Google Auth or with all auth providers?

[2021-04-06 09:23] pikax commented on #3258
Not asked to me, but I can give my experience:
1. Yes, I don't have that call on my setup, also is happening on the alpha version https://modularfirebase.web.app/
2. It does happen with user/password, it seems the `request.auth` is always `null`

[2021-04-06 09:47] samtstern commented on #3222
@tr4g thanks for following up!  Sounds like an `npm` feature request :-)

[2021-04-06 09:47] #3222 closed

[2021-04-06 09:49] samtstern commented on #308
@danielo515 a good trick is to set your syntax highlighter in VSCode (or any IDE) to treat the rules JSON file as a JavaScript file.

[2021-04-06 11:03] samtstern commented on #3256
@vbeffa that is the correct answer. This is the intended behavior while the storage emulator is still in preview. When we launch to the public the UX will be much better for this, sorry about the confusion!

[2021-04-06 11:03] #3256 closed

[2021-04-06 11:36] jean-smaug commented on #3258
I can confirm what @pikax said.
1. it still happen without `experimentalForceLongPolling`
2. I maid a quick test with anonymous auth and it's also generating an error

[2021-04-06 12:27] fernandolguevara commented on #3239
can you release a version with this fix ? please?

[2021-04-06 16:39] #181 closed

[2021-04-06 16:39] #1906 closed

[2021-04-06 16:47] vajahath commented on #2764
@yuchenshi Let's update the Firebase documentation. It still says

ref: https://firebase.google.com/docs/emulator-suite/connect_auth#id_tokens

[2021-04-06 17:07] zwily commented on #3258
For me at least, it only happens with v8.3.2 of the Firebase js sdk. 8.3.1 works fine against current tools, so it may be an sdk regression.

[2021-04-06 17:26] jean-smaug commented on #3258
Tested in `8.3.1` and it works well 👍

[2021-04-06 17:32] samtstern commented on #3258
Thanks for all the info everyone! Sounds like an issue with the JS SDK 8.3.2 release ... we're going to dig into it.

[2021-04-06 20:02] yuchenshi commented on #3258
Hi all, we've located the problem in Firestore Emulator and we are working on a fix. In the meantime, downgrading to v8.3.1 is a possible workaround.

[2021-04-06 20:34] #2606 closed

[2021-04-06 21:51] imagitama commented on #3179
@samtstern Sorry for late reply. These are my console logs when I ctrl+c the terminal:

[code]

[2021-04-06 22:04] yuchenshi commented on #3258
This should be fixed in Firebase CLI v9.9.0.

[2021-04-07 08:22] samtstern commented on #3247
This is fixed in version `9.9.0`

[2021-04-07 08:22] samtstern commented on #3239
This is fixed in version `9.9.0`

[2021-04-07 10:03] #3254 closed

[2021-04-07 19:01] fernandolguevara commented on #3239
@samtstern thanks!! =)

[2021-04-08 09:19] phareim commented on #2763
Seconding @jhuleatt's sugestion. 👍  (And thanks for thew help!)

[2021-04-08 11:41] jean-smaug commented on #3258
Solved by `v9.9.0` thanks. 👍

[2021-04-08 12:20] danielo515 commented on #308
Thanks for the tip @samtstern but how that helps? Broken strings are also a syntax error on JS unless you use inverted ticks
 ` `` `
And if that is supported inside a JSON file, at that point the file may be better defined as a JS file insted

[2021-04-08 12:34] samtstern commented on #3179
@imagitama thanks for the logs ... unfortunately they really don't show anything going wrong. It looks like the emulators are shutting down cleanly, you can even see that the export is working. I am really surprised that your ports are left occupied after that shutdown and I am not really sure how to debug this further, to be totally honest.

[2021-04-08 12:41] misha-reyzlin-hier commented on #2530
In my case, the Java process hasn’t shut down after `ctrl+c`ing the terminal process (this happened I think because the functions emulator was showing error output – there was no "graceful shutdown" for sure).

I opened "Activity Monitor" and closed "Java" process and could launch the emulator again.

[2021-04-08 14:17] samtstern commented on #3257
@johnnyasantoss I am not able to reproduce this. I tried starting Hosting alone, Hosting + Functions, and Hosting + Functions with `--inspect-functions` set and in all cases I was able to get the `__init.js?useEmulator=true` file.

Can you try and help me figure out what's causing it on your side? I'll need to be able to reproduce this to debug it. Also please check if there is anything in the deb

[2021-04-08 16:17] taeold commented on #3226
The fix should be available on the next release of the CLI (ETA: ~week?). I'll close the issue once the release including #3266 is cut.

[2021-04-08 17:14] johnnyasantoss commented on #3257
@samtstern I did a thorough look into it and found out that the problem appears to be when the emulators are launched by another parent process. I'm using `yarn run emulators` (using `package.json` scripts) to launch the emulators. When launched like this it results in this weird behavior.

[2021-04-08 19:38] jakeleventhal opened #3268 "Bazel support for firebase emulator"
**Is your feature request related to a problem? Please describe.**
There is no good way to execute tests via bazel via normal bazel commands if the emulator is required
**Describe the solution you'd like**
A bazel import from firestore that has a dependency on the emulator running and is able to determine if it needs to be spun up or not based on test targets being cached or not.
**Describe altern

[2021-04-09 06:34] pawlowskim commented on #3226
Great, thanks for the fix and update :) will test it out for sure.

[2021-04-09 11:38] vajahath opened #3269 "Hosting emulator fails when specifying deploy target"
### [REQUIRED] Environment info
**firebase-tools:** 9.5.0
**Platform:**: Windows 10
node v12.19.0

### [REQUIRED] Steps to reproduce
I was referring this guide to setup firebase hosting: https://firebase.google.com/docs/hosting/multisites#define_hosting_config
`firebase.json`
[code]
When I execute
[code]
says ❌
[code]
But this works without the deploy target. ✅
[code]
### [REQUIRED] Expected behav

[2021-04-09 15:40] dcts commented on #1123
Maybe helpfull to someone: check if you have a `node_modules` folder inside the main directory, and if yes, chances are that it does not belong there and can be deleted. (I accidentally run `npm install <any-package>` inside the main folder, and my codeeditor does not show the `node_modules` folder so I was not aware that I am uploading a ton of data 😅)

We need to always remember:

<img width=400

[2021-04-09 15:52] crossan007 opened #3270 "Private NPM Module as a Git Submodule Fails to Deploy Firebase Functions"
I have a workable solution for this issue in my environment, so I'm mostly opening this ticket to save others the trouble that I went through.

### Environment info

**firebase-tools: 9.8.0**

**Platform: macOS**

### Test case

Given:
*  A Firebase project (`./firebase.json` and `./package.json`, `./src` and `./functions/package.json`) in the root of the repository
*  A Git Submodule at `./packag

[2021-04-09 16:08] crossan007 commented on #3270
Related issues:
#2547  - This issue attempts to solve the same problem by using a private npmjs package
https://github.com/firebase/firebase-tools/issues/968#issuecomment-434763319 - Using private `file:` modules with Functions

[2021-04-09 18:08] R2rit0 commented on #1627
For whoever is still facing this issue, and try everything and still face this problem. If you are trying to run the command in vs-code, don't. For some reason, the command does **work** in **Git Bash**.

[2021-04-09 21:40] bkendall commented on #3269
Have you set up the targets using `firebase target:apply`? You can confirm the set up targets with `firebase target`.

[2021-04-09 22:05] MisterCode415 commented on #1532
@markgoho that's the slam dunk right there ;D thank you.

[2021-04-10 00:02] rosalyntan commented on #3268
Hi @jakeleventhal, thanks for the feature request! I've filed b/184985938 for internal tracking.

[2021-04-10 00:05] jakeleventhal commented on #3268
@rosalyntan is there any way I can follow progress on this? or get some estimate as to how long it will be until this is implemented?

[2021-04-10 01:29] vajahath commented on #3269
Yes I did it as per in this doc: https://firebase.google.com/docs/hosting/multisites#define_hosting_config

[2021-04-10 04:46] anmol1432 commented on #1442
@codetravellearn  bro u save me after two days finally error solve god give u more
thanks thanks

[2021-04-10 10:12] RileyManda commented on #1989
My error was caused by using an older version of firebase and importing firebase in my firebase.js file with the "@firebase/app" format.
My  Solution was removing @firebase/app from my imports as well as the older versions of firebase as well as firebase/app from package.json and just using
[code]
Then i deleted package.lock.json and node_modules and ran npm install.
Problem Solved.

[2021-04-11 02:59] dhluong90 opened #3272 "Firebase database:remove not work with error message " Error: Task index 0 failed: retries exhausted after 4 attempts""
### [REQUIRED] Environment info

**firebase-tools:**
9.2.1

**Platform:**
macOS

### [REQUIRED] Test case
Try to clear realtime db via database:remove command.

### [REQUIRED] Steps to reproduce
1. Create collections under realtime db with sizing about 13.7 MB after exporting as Json.
2. Try to clear all with command "firebase database:remove /Conversations --project {project_name}"

### [REQUIRED

[2021-04-11 19:09] loginov-rocks commented on #968
Spent few hours resolving this issue which is very frustrating and includes the following concerns: npm local and CI/CD machine cache, binding to a particular v1.2.3 tag version, remote CI/CD workflows, `package-lock.json` binding to a particular integrity check - so many issues, Firebase team, please help!

Finally, got to the solution: `shared` package installed as it should be - via symlink mea

[2021-04-12 09:05] samtstern commented on #3268
@jakeleventhal we'll put any updates here, so this is the right place to follow along. We don't offer time estimates for feature requests but I can say that Bazel is not a top priority for us at the moment (we don't get many requests for it) so if you need this urgently you should consider opening a Pull Request to make it possible!

[2021-04-12 10:28] samtstern commented on #3257
@johnnyasantoss I still cannot reproduce this, I created a brand new Firebase directory and used `yarn` to launch the emulators through a script with exactly the invocation in your report.

At this point I believe it's likely something on your machine. Maybe your emulators are trying to access a Firebase project that does not exist? You could always use the `--project` flag to be sure.

In any cas

[2021-04-13 13:26] tokiarimiora commented on #596
help

[2021-04-13 16:39] godgav opened #3274 "Unable to Set strictTriggerValidation = false for Realtime Database Emulator"
### [REQUIRED] Environment info

**firebase-tools:**
9.9.0

**Platform:**
macOS
### [REQUIRED] Test case

For the emulated environment it's impossible to set strictTriggerValidation = false
### [REQUIRED] Steps to reproduce

Start firebase emulator:
`firebase emulators:start`
Send Request
[code]

### [REQUIRED] Expected behavior

expected response
[code]

### [REQUIRED] Actual behavior

[code]

Au

[2021-04-13 18:12] Mattinton opened #3275 "Emulator DELETE on clear users endpoint doesn't work from axios/fetch but works in cURL"
### Environment info

**firebase-tools: 9.9.0**

**Platform: macOS**

### Test case

[code]

### Steps to reproduce

Use axios in any piece of code. In my case I am using it in a Jest afterEach function.

### Expected behavior

The request succeeds and clears all users from the emulator

### Actual behavior

Without debugging it prints this error.

[code]

When debugging I get:
[code]
But I get th

[2021-04-13 22:17] taeold commented on #3226
Fixed released in 9.10.0. Please upgrade your CLI to receive the patch and deploy away!

[2021-04-13 22:17] #3226 closed

[2021-04-14 05:03] kriskolve opened #3282 "Firebase Emulator Support for TenantID"
Is there a way to have the FB Emulators include support for TenantID. It would be very helpful if "fake" tenantID could be included so that we can test our UIs against it.

[2021-04-14 08:49] pawlowskim commented on #3226
Would be good to update release notes https://github.com/firebase/firebase-tools/releases
Will test in next 2 weeks - thanks for the fix.

[2021-04-14 13:25] trullock commented on #2763
Here with the same issue. Can confirm the workaround still works

[2021-04-14 13:57] sk- opened #3278 "Firestore Emulator: Incorrect merge logic for nested data"
**Keywords**: firestore emulator merge nested

The emulator incorrectly merges nested field when calling `set` with `{merge: true}`.

### [REQUIRED] Environment info

**firebase-tools:** 9.9.0

**Platform:** macOS

### [REQUIRED] Test case

[code]

### [REQUIRED] Steps to reproduce

Run the test and see how it fails.

### [REQUIRED] Expected behavior

`set` calls with merge enabled should only mer

[2021-04-14 14:19] #2798 closed

[2021-04-14 14:28] JBeichert commented on #77
THANKS that fixed it for me!

[2021-04-14 14:59] RaviH commented on #1046
Any update on this? This has been open since 2018!

[2021-04-14 15:08] RaviH commented on #1868
Any update on this? I see the same error when deploying firebase functions and having .npmrc file with token coming from env.

[2021-04-14 19:02] rraeen opened #3281 "cant open http://localhost:4000 not working"
┌─────────────────────────────────────────────────────────────┐
│ ✔  All emulators ready! It is now safe to connect your app. │
│ i  View Emulator UI at http://localhost:4000                │
└─────────────────────────────────────────────────────────────┘

┌────────────────┬────────────────┬─────────────────────────────────┐
│ Emulator       │ Host:Port      │ View in Emulator UI             │
├──

[2021-04-14 19:52] bkendall commented on #3281
There is not enough information here to help debug. In the future, please follow template for reporting issues. Please open a new issue and provide the logs when the command is run with `--debug`, at the very least, along with the other requested information. Thanks.

[2021-04-14 19:52] #3281 closed

[2021-04-15 07:32] AgungLaksana opened #3283 "why I always stuck in firebase-tools version 7.9.0?"
so I run `sudo npm install -g firebase-tools` to get firebase-tools to latest version
but I check the version using `npm run firebase tools --version  ` I get 7.9.0 version.
I expect I will get the latest firebase-tools version (9.10.0)

here is the screenshot: https://i.stack.imgur.com/ahJbf.png

am I missing something?

I am using Node 14 on my Firebase project and npm 7.9.0

it seems the fireba

[2021-04-15 09:17] samtstern commented on #3283
There doesn't appear to be anything "special" about 7.9.0 that would be keeping you on that version:
https://github.com/firebase/firebase-tools/releases?after=v7.16.0

This is almost certainly an issue with your local `npm` install or your `PATH`. That's not a bug in the`firebase-tools` package so we can't debug it for you here, I would suggest StackOverflow.

[2021-04-15 09:17] #3283 closed

[2021-04-15 12:54] smasinde opened #3284 "Firebase emulator RTDB suddenly not allowing authentication"
my real time database is suddenly giving me: @firebase/database: `FIREBASE WARNING: Provided authentication credentials for the app named "[DEFAULT]"`

it was working prior, and I'm pretty sure I haven't changed anything apart from updating firebase-tools to the latest.

I'm on macos

[2021-04-15 13:41] moryapant commented on #2383
how it is fixed? can someone please explain?

[2021-04-15 18:51] #3284 closed

[2021-04-15 19:05] vbeffa opened #3285 "UnhandledPromiseRejectionWarning: FirebaseError: Can not convert variables for Cloud Storage rules runtime"
### [REQUIRED] Environment info

**firebase-tools:** 9.10.0
**firebase-js-sdk:** 8.4.1

**Platform:** macOS 10.15.7

### [REQUIRED] Test case

I am not sure of a reproducible test case, but according to https://firebase.google.com/docs/reference/admin/node/admin.auth.DecodedIdToken `email_verified` is an optional boolean property of the token. The code where this gets parsed, https://github.com/fi

[2021-04-16 02:26] johncarter-phntm opened #3286 "firebase cli --json output is truncated to 64000 bytes when piped to another command"
### [REQUIRED] Environment info

**firebase-tools:** 9.10.0

**Platform:** Ubuntu 20.04

### [REQUIRED] Test case

With a project where this outputs more than 64KB, run:

[code]
This is failing for me, with the output truncating at 64000 bytes

### [REQUIRED] Steps to reproduce

Enable several Firebase extensions in a project
Run a command that pipes the json output to another command, eg:
```fire

[2021-04-16 06:43] merlinnot commented on #1372
@joehan Do you think it would be possible to re-evaluate the need for this quota on the back end side? It's been a few years now, maybe something was optimized in the meantime and it no longer needs to be that strict? I also find it surprising that this quota is global, not per region. In my case, I'm deploying to four regions, so my deployment needs to be 4x slower than if I'd be deploying to one

[2021-04-16 09:40] sceee commented on #2421
I also just ran into this (export on Windows, import on Ubuntu) and it took me some time to find out what's the actual issue because at first, I only got this log output:
[code]

For others running into this, appending `--debug` to the call revealed that it's this issue:
[code]

Good to hear that it's on the list to be worked on @yuchenshi as it breaks our CI workflows (dev on Windows, CI on Ubunt

[2021-04-16 15:50] Mattinton commented on #3275
So I've just fixed this by adding 'XMLHttpRequest: undefined' to my custom environment.

My full environment for those interested.

[code]

[2021-04-16 16:23] taeold commented on #3226
Ah missed my opportunity to update the changelog :( sorry.

[2021-04-16 22:22] johnnyasantoss commented on #3257
I've found the problem. I was using an outdated version of the firebase-tools package (`^8.14.1` as a dev dependence on the `package.json` file) :man_facepalming:. So, when running with `yarn` it would use the node_modules version, instead of the global one that was up-to-date.

[2021-04-17 05:41] kroikie commented on #3258
I'm still seeing this on `9.9.0` of the CLI with `8.4.1` of the SDK. Downgrading the SDK to `8.3.1` still works as a workaround for me.

[2021-04-17 09:46] mesqueeb commented on #2773
I had to search a lot for this information... Why don't you just write this in the warning instead? I, like many others, was confused thought we had to use different firebase config/project. But it's just about using test users and not typing in your password.

Any chance we can see this error message improved by adding this valuable information? @nickmarca

[2021-04-17 14:43] apex-blaze commented on #700
This issue persists even in version 8.3.2 in GIT Bash Windows 10!!

[2021-04-17 18:13] vbeffa opened #3288 "Emulator UI is downloaded every time the emulator starts"
### [REQUIRED] Environment info

**firebase-tools:** 9.10.0

**Platform:** macOS

### [REQUIRED] Test case

[code]

### [REQUIRED] Steps to reproduce

See above. I tried deleting `~/.cache/firebase` and restarting the emulator but the behavior is unchanged.

### [REQUIRED] Expected behavior

Emulator UI is cached in `~/.cache/firebase/emulators`, I expect it to be used rather than downloaded every

[2021-04-17 22:28] clive-h-townsend opened #3289 "Large dataset import gives unclear explanation of timeout"
### [REQUIRED] Environment info

9.8.0

**firebase-tools:**

**Platform:**
Ubuntu 20.04

### [REQUIRED] Test case

Use any large test set when importing data

### [REQUIRED] Steps to reproduce

Use firebase emulators with `firebase emulators:start --import initialData` where the initialData directory is large.

### [REQUIRED] Expected behavior

When importing a large dataset the firestore emulator

[2021-04-18 13:34] AnasMually commented on #1627
thank you

[2021-04-18 16:09] blackstormx opened #3290 "Firebase emulator firebase.json config "host" or "port" parameters not working"
Firebase emulator firebase.json config seems to not have any effect. Neither "host" nor "port" parameters are working for firestore emulator. My config file:

[code]

### Version 9.10.0

Windows10.

![image](https://user-images.githubusercontent.com/22796372/115152331-b69e8700-a081-11eb-8c69-3a040079b651.png)

### [REQUIRED] Expected behavior

Port and host should be set as provided in config file

[2021-04-18 16:17] blackstormx commented on #3290
@google-oss-bot  Ok beep bop, I added required info.

[2021-04-19 09:20] samtstern commented on #3288
@vbeffa this is the behavior when you're participating in a preview that involves the Emulator UI, which in your case is the Storage Emulator preview. We disable caching for preview releases so that we can release bugfixes without updating the entire CLI.

[2021-04-19 09:20] #3288 closed

[2021-04-19 09:21] samtstern commented on #3257
@johnnyasantoss thanks for following up!

[2021-04-19 09:21] #3257 closed

[2021-04-19 09:43] samtstern commented on #3275
@Mattinton thanks for following up! Seems like it was an environment issue and not an emulator issue so I am going to close this.

[2021-04-19 09:43] #3275 closed

[2021-04-19 09:47] samtstern commented on #3290
@blackstormx those host/port parameters need to go under `emulators.firestore` not under just `firestore`:

[code]

[2021-04-19 09:47] #3290 closed

[2021-04-19 10:41] samtstern commented on #3285
@abeisgoat can you take a look at this one?

[2021-04-19 11:17] samtstern commented on #3278
@sk- I ran this code in the emulators and in production and in all cases the doc data at the end was this:

[code]

So I don't think there is a bug here. Production and the emulators are working the same. If you want to replace the `nested` map entirely do `ref.update("nested", { "bar": "bar" })`

[2021-04-19 11:17] #3278 closed

[2021-04-19 12:05] samtstern commented on #3258
@yuchenshi we are continuing to get reports of this issue, from @kroikie as well as here:
https://github.com/firebase/firebase-js-sdk/issues/4795#issuecomment-821796615

Is there some other path we didn't consider?

[2021-04-19 13:12] blackstormx commented on #3290
@samtstern  Thanks.

[2021-04-19 14:20] vbeffa commented on #3288
Got it, make sense. Thanks for the clarification.

[2021-04-19 19:02] hkchakladar opened #3292 "Firesbase Storage security rules allow update rule not followed"
### [REQUIRED] Environment info: NA. Firesbase Storage security rules related.

**firebase-tools:**

**Platform:**

### [REQUIRED] Test case

### [REQUIRED] Steps to reproduce

Firesbase Storage security rules allow update not working, can't prevent file over-write.

Example rule:

[code]

Here I'm allowing authenticated users to only 'create' file, but not update/over-write.

### [REQUIRED] Expec

[2021-04-19 20:38] akauppi commented on #3258
@kroikie Do you have a project where I could try to replicate the problem, or is it closed source? I'm struck by this, as Sam mentions, and wondering whether it's my system, my code, or what...

[2021-04-20 00:50] Ashish-Ban commented on #2059
Issue still exists in firebase-tools version 9.2.1 when using both functions and auth in emulator.