[2019-05-13 14:36] abeisgoat commented on #1281
Hmm, I wonder if this has to do with stacking multiple `cors()` (we pull it in already for Callable requests). I'll investigate today, thanks for the well written report!

[2019-05-13 15:19] thechenky commented on #1276
@AmichayMiara great, happy to see it's working for you now! Would you mind posting the output that led you to deduce it was a typescript update issue to help anyone else having the same issue?

[2019-05-13 15:43] CodingDoug commented on #1278
Original issue states macos, Windows.

[2019-05-13 16:30] samtstern commented on #322
@jesperp thanks for your clear and concise explanation!  Even as someone who "knows" the answer to this, I will refer to your answer when I forget until we get the docs up.

[2019-05-13 17:04] Ihernandezpi opened #1285 "Express routerjs crash with Emulator"
### [REQUIRED] Environment info

**firebase-tools:**
firebase-tools v6.9.2

**Platform:** macOS

### [REQUIRED] Test case

[code]

### [REQUIRED] Steps to reproduce

Just make a request to rewrite endpoint

Note:"This endpoint works on version 6.8.0"

### [REQUIRED] Expected behavior

Some data from the endpoint

### [REQUIRED] Actual behavior

[code]

[2019-05-13 17:05] abeisgoat commented on #1285
Dupe of #1277

[2019-05-13 17:05] #1285 closed

[2019-05-13 17:25] samtstern commented on #1275
So this is what we do already:
[code]

I was not able to reproduce this issue.  I set up a very single Firebase Hosting page like this:
[code]

When I do `firebase serve` and then go to `localhost:5000` the call to callable functions works fine.  Is there some critical difference between my environment and the test case posted?

[2019-05-13 17:40] samtstern commented on #1275
Oh wait I think I see the issue.

[2019-05-13 17:41] samtstern commented on #1275
Yes I can reproduce this.  It only happens when you are **signed in** which changes the headers that callable functions sends.

[2019-05-13 17:42] cdock1029 commented on #1275
Yes I was just going to reply that it is the `authorization` header which seems to not be allowed

[2019-05-13 17:56] samtstern commented on #1275
@cdock1029 so I can easily get this to work in the emulator, but in production it doesn't seem like the GCF backend is setting CORS headers.  I get:

[code]

I assume I must be doing something WAY wrong here.  My goal is to make local development easy but also not set people up to fail when they get to prod.

[2019-05-13 17:59] cdock1029 commented on #1275
Hmm.. it's been working pre-6.9.0 though? The sudden incompatibility seems weird.

[2019-05-13 18:18] abeisgoat commented on #1278
Gotcha, thanks missed that!

[2019-05-13 18:18] MateusZitelli commented on #1278
I am facing that on Linux.
[code]

[2019-05-13 18:43] abeisgoat commented on #1273
This bug is actually out of date (for 6.8.0), but a similar issue exists in #1277, so I'm closing this in favor of tracking there.

[2019-05-13 18:43] #1273 closed

[2019-05-13 18:49] ryanpbrewster commented on #1283
You can ask the Firestore emulator to bind to a particular host via the `$.emulators.firestore.host` config param in you firebase.json file:
[code]

[2019-05-13 18:54] samtstern commented on #1279
Fix coming in https://github.com/firebase/firebase-tools/pull/1286

[2019-05-13 18:54] samtstern commented on #1275
@cdock1029 figured it out.  Fix coming in https://github.com/firebase/firebase-tools/pull/1286

[2019-05-13 19:19] #1274 closed

[2019-05-13 19:22] #1283 closed

[2019-05-13 19:56] samtstern commented on #1281
@abeisgoat I bet we just have not done a good job routing requests to function subpaths

[2019-05-13 20:14] AmichayMiara commented on #1276
Just colleague good advice

[2019-05-14 02:00] samtstern opened #1288 "Firestore emulator sending incorrect event payloads to Functions emulator"
I just ran a real Cloud Function (non-Firebase) triggered on `onWrite` for the document `foo/bar`.

I created the document (no previous data) and logged out the two arguments to the function and got this:

**context**
[code]

**data**
[code]

However if I do the same thing in the emulator suite I get:

**context**
[code]

**data**
[code]

The difference is that in the emulator we get `context.reso

[2019-05-14 02:02] samtstern commented on #1288
cc @abeisgoat

[2019-05-14 02:19] samtstern commented on #1288
Note that I am working around this in https://github.com/firebase/firebase-tools/pull/1260

[2019-05-14 06:58] nicoara commented on #1015
having this problem right now, at 'firebase deploy'.

cloud functions logs show:
{"@type":"type.googleapis.com/google.cloud.audit.AuditLog","status":{"code":3,"message":"INVALID_ARGUMENT"},"authenticationInfo":...

what is the solution?
thanks

[2019-05-14 08:00] JorgeReyniers commented on #1278
Windows

[2019-05-14 09:15] wzFLE commented on #1275
Hi,
On my env, got latest master source, then installed, then run
It seems... I still have the issue

[code]

I put a "tracker" in the file src/emulator/functionsEmulator.ts to ensure I was using the latest file:

[code]

Of course, I'm not an expert and likely I did something wrong. But weird my tracker tells me I have latest file, and the issue still here.

[2019-05-14 11:47] Soumya1698 commented on #46
@danielcrowley Thanks. Adding a globally installed package to the path of env variables helps.

[2019-05-14 17:07] jbraithwaite commented on #1278
Firebase: 6.9.2
OS: macOS 10.14.3

[2019-05-14 17:14] alixaxel opened #1289 "Colorize Firestore Emulator Coverage"
Context: we have pretty extensive Firestore security rules and when viewing the emulator coverage report, it gets really difficult to see what went wrong and where due to the sheer size of it.

I'm using the following CSS overrides to provide some visual cues:

[code]

Sample:

![image](https://user-images.githubusercontent.com/262782/57717672-a7338980-7673-11e9-807f-0241dfab153b.png)

![image](ht

[2019-05-14 17:24] abeisgoat commented on #1289
@ryanpbrewster Please take a look and feel free to re-assign back to me if this isn't in your wheelhouse.

[2019-05-14 17:51] samtstern commented on #1289
Actually we've been prototyping some much slicker UIs for this report this week.  Will update here if there is concrete progress.

[2019-05-14 18:05] samtstern commented on #1288
I think there is something really funky going on here ... I can't find a single solution for `resource` assumptions that works for both RTDB and Firestore.

[2019-05-14 18:20] AmichayMiara commented on #1276
even in latest version.
Solution: it's because of **bad internet connection**. :)

[2019-05-14 18:20] #1276 closed

[2019-05-14 18:51] samtstern commented on #1288
I checked for RTDB in prod and I got:

**context**
[code]
**data**
[code]

So it seems like `resource` should definitely be a `string`

[2019-05-14 18:53] samtstern commented on #1288
https://github.com/firebase/firebase-functions/blob/18c01cbdc25d8f4fccb8847f6a4be86b6c7d4960/src/cloud-functions.ts#L47
[code]

https://github.com/firebase/firebase-functions/blob/18c01cbdc25d8f4fccb8847f6a4be86b6c7d4960/src/cloud-functions.ts#L160
[code]

[2019-05-14 18:58] samtstern commented on #1288
Ah this line is interesting:
https://github.com/firebase/firebase-functions/blob/18c01cbdc25d8f4fccb8847f6a4be86b6c7d4960/src/cloud-functions.ts#L257

[code]

[2019-05-14 19:05] hamdanspam opened #1290 "Deploy succeeds for Hosting project but cloud server does not update html"
When I deploy my project from the CLI, it appears to work based on the readout. However, when I go to my webpage (both the firebase one and the custom domain), the page does not update. It's all static content, just HTML and CSS. I tried making a new Hosting project to see if I could host my page elsewhere, which worked. But I'd like to use my original project to host my website, and I'd like to u

[2019-05-14 19:20] abeisgoat commented on #1290
Make sure to [hard refresh](https://refreshyourcache.com/en/cache/) or try loading the page on your phone. It's likely that it's just cached in your browser.

Also ensure that you're not using a ServiceWorker on your page.

[2019-05-14 19:21] abeisgoat commented on #1288
Yeah I think there's definitely multiple formats going around, I guess we just adhere to the newest?

[2019-05-14 19:22] samtstern commented on #1288
Ok I have this in a place where everything works, but I feel like it *shouldnt* work and that's what scares me.

[2019-05-14 19:49] hamdanspam commented on #1290
Hi @abeisgoat thanks a bunch for your reply. I don't know how to tell if there is a ServiceWorker on my page, but there isn't any javascript, only HTML, CSS, and JSON files. How would I tell if there is a ServiceWorker?

It's not cached, I forgot to mention that above. I look in incognito, on my phone, after a hard refresh. It's definitely not deploying.

So, as an update, my new website doesn't p

[2019-05-14 20:22] JavierPAYTEF commented on #1280
I can confirm this is happening for me as well. Reverting to the previous version resolved the issue.
My stack trace is the same and I also have Node 10 installed instead of Node 8.

[2019-05-14 20:44] epomatti commented on #1280
Same here with 6.9.2 on Windows and Node 10. Reverted back to 6.8.0.

[2019-05-14 20:52] abeisgoat commented on #1279
Fix is merged in, please re-open if you're still experiencing this once `6.9.3` is out.

[2019-05-14 20:52] abeisgoat commented on #1277
Fix is merged in, please re-open if you're still experiencing this once `6.9.3` is out.

[2019-05-14 20:52] #1277 closed

[2019-05-14 20:52] abeisgoat commented on #1281
Fix is merged in, please re-open if you're still experiencing this once `6.9.3` is out.

[2019-05-14 20:52] #1281 closed

[2019-05-14 22:13] tmcf commented on #1279
Thanks Abe!

[2019-05-14 23:16] samtstern commented on #1288
Here's what a Firestore update data payload looks like:
[code]

[2019-05-14 23:48] Yuripetusko opened #1293 "Firestore Emulator times out when using merge option"
### [REQUIRED] Environment info

**firebase-tools: 6.9.1**

**Platform: macOS**

### [REQUIRED] Test case

[code]

### [REQUIRED] Steps to reproduce

[code]

### [REQUIRED] Expected behavior

It would allow to set object, given security rules are allowing it

### [REQUIRED] Actual behavior

`Timeout - Async callback was not invoked within the 50000ms timeout specified by jest.setTimeout.Error: `

[2019-05-14 23:50] samtstern commented on #1293
Thanks for the report @Yuripetusko, sounds like a bug.

FYI your command could be expressed as just `firebase emulators:exec --only firestore "jest"`, we automatically start the emulators, run your command with the correct env vars, and then stop them.

[2019-05-14 23:50] Yuripetusko commented on #1293
Works if i set `merge: false` or if I try to set simple value like `alpha: true`

[2019-05-14 23:53] Yuripetusko commented on #1293
And it only times out if Document wasn't created previously. If I create object first (`merge: false`) and then set it with `merge: true` then it passes fine

[2019-05-14 23:54] laurenzlong commented on #1288
Basically there are 2 versions of EventFlow: the event delivery system, some event providers have migrate and others have not, that's why there are inconsistencies in "resource" format.

To make things easier for our customers, the firebase-functions SDK converts everything into the new format. However if you create functions without the firebase-functions SDK, there are variations.

[2019-05-14 23:55] Yuripetusko commented on #1293
So this works:

[code]

[2019-05-14 23:58] Yuripetusko commented on #1293
Actually.. it's when I set key as UUID ??

SO this works:

[code]

But this times out

[code]

[2019-05-15 00:00] laurenzlong commented on #1288
The firebase-functions SDK also does transformations on the data payload of Firestore-triggered functions and turns raw JSON payload (which includes fields like `oldValue` and `updateMask`) into an easier to use Firestore snapshot. See https://github.com/firebase/firebase-functions/blob/master/src/providers/firestore.ts#L145-L180

[2019-05-15 03:34] ryanpbrewster commented on #1293
Thanks for the repro, digging into what's going on inside. Seems like something subtle.

[2019-05-15 03:47] ryanpbrewster commented on #1293
Duplicate of https://github.com/firebase/quickstart-nodejs/issues/66

The issue here is caused by the way we sanitize the emulator before publishing it. I finally have a solution for this and I'm hopeful we can get it out in a release or two.

I imagine it's not always possible (and I hate even suggesting it), but one workaround is to avoid hyphens in your map keys.

[2019-05-15 04:29] brendanosborne commented on #1280
Seeing the same issue. @epomatti how do you revert?

[2019-05-15 04:30] ryanpbrewster commented on #1280
You should be able to downgrade via `npm install --global firebase-tools@6.8.0` (drop the `--global` flag if you're not installing it globally).

[2019-05-15 04:32] epomatti commented on #1280
Run `npm install -g firebase-tools@6.8.0`

[2019-05-15 04:45] brendanosborne commented on #1280
Thanks @epomatti and @ryanmeier - I'm back in business until this is resolved.

[2019-05-15 05:06] illuminist commented on #1243
As of 6.9.2 this issue has been fixed.

[2019-05-15 05:35] #1282 closed

[2019-05-15 08:41] ArtyDev57 opened #1295 "Functions don't work properly in localhost but work fine when deploy"
Recently, I slightly updated my express code and tried to run it locally using `firebase serve` but it didn't work as expected. It always returned 404 status every route. then I decide to deploy it to test if it works, and it totally worked without any issue.

Here is my code
[code]
Actually, I just run it locally a few days ago and it worked just fine but the issue just happened today. Is there a

[2019-05-15 09:44] jbitsch commented on #1295
I get the same error. I have tried with the simple setup found here: https://firebase.google.com/docs/functions/http-events

It just returns 404.

`const express = require('express');
const cors = require('cors');

const app = express();

// Automatically allow cross-origin requests
app.use(cors({ origin: true }));

// Add middleware to authenticate requests
app.use(myMiddleware);

// build multip

[2019-05-15 09:55] ljcremer opened #1296 "firebase functions:shell : Ignoring trigger --- service "pubsub.googleapis.com" is not yet supported"
### [REQUIRED] Environment info

firebase-tools:6.9.2

Platform:Windows

### [REQUIRED] Test case
firebase functions:shell

### [REQUIRED] Steps to reproduce
The functions are firebase functions in the following format:
exports.helloPubSub = functions.pubsub.topic('topic-name').onPublish((message) => {
  // ...
});

They are emulated using the following:
firebase functions:shell

### [REQUIRED] Ex

[2019-05-15 13:56] samtstern commented on #1296
The shell is completely broken right now but we have a fix coming in #1260 (original issue is #1243).

For now please downgrade your CLI to version 6.8.0 and it will work.

[2019-05-15 13:57] samtstern commented on #1296
Closing as a duplicate of #1243

[2019-05-15 13:57] #1296 closed

[2019-05-15 14:08] Twinsens commented on #1295
There is a bug on version 6.9.2 , you can downgrade your version (https://github.com/firebase/firebase-tools/issues/1293)

Or check this link below for another simple solution without downgrade;

https://stackoverflow.com/questions/56128645/cannot-get-error-on-firebase-cloud-functions-express-sample/56143365#56143365

[2019-05-15 14:17] ArtyDev57 commented on #1295
I think so, my code worked just fine before I upgrade Firebase CLI. Thank for your help, it finally works

[2019-05-15 14:37] ljcremer commented on #1296
Thank Sam. I downgraded to 6.8.0 again but now I get the following error where it used to work previously. Any Ideas what might cause this:

Error: EPERM: operation not permitted, rename 'C:\Users\ljcremer\.config\configstore\firebase-tools.json.2572117863' -> 'C:\Users\ljcremer\.config\configstore\firebase-tools.json'
    at Object.fs.renameSync (fs.js:766:18)
    at Function.writeFileSync [as sy

[2019-05-15 16:23] SebastianCApostolescu commented on #1295
I have the same issue as @ArtyDev57 . I downgraded to 6.8.0 but now I'm getting a different error. Here is the debug:
[code]

Any idea how to fix this one?

[2019-05-16 00:10] #1243 closed

[2019-05-16 00:10] samtstern commented on #1243
This has been fixed in #1260 and will be part of the next release.

[2019-05-16 01:24] admingj opened #1299 "Emulator functionality is not clear and causes auth errors which look like bugs"
### [REQUIRED] Environment info

**firebase-tools: 6.9.2**

in package.json
"firebase-admin": "^7.3.0",
"firebase-functions": "^2.3.1",

**Platform: macOS**

### [REQUIRED] Test case

I'm trying to test my functions locally using the guide listed here.
https://firebase.google.com/docs/functions/local-emulator

I have 37 functions (mostly Firestore, but some RTDB, some Storage, 1 HTTP and 1 Auth) a

[2019-05-16 01:39] samtstern commented on #1299
Hmmm ok something is way off here.  First could you try running "firebase init firestore" and then starting the emulators again?

[2019-05-16 01:54] admingj commented on #1299
I did notice that when running through the various documentation that firestore wasn't there when other places reference it https://firebase.google.com/docs/cli#initialize_a_firebase_project

The `firebase init firestore` helped me create a `firestore.rules` and `firestore.indexes.json` file that I didn't have before

However when I go to run `firebase emulators:start` it gives me the below popup

[2019-05-16 02:08] admingj commented on #1299
Realized that was just a JRE. Going to get the JDK 8u211 from https://www.oracle.com/technetwork/java/javase/downloads/index.html and report back

[2019-05-16 02:17] admingj commented on #1299
After installing the JDK, I'm getting

**NOTE** I replaced actual function names with "FUNCTION"

[code]

[2019-05-16 02:33] admingj commented on #1299
Also note that I generated my service account keys using

the `PROJECTNAME@appspot.gserviceaccount.com` that has **App Engine default service account** credentials

NOT

`firebase-adminsdk-CODE@PROJECTNAME.iam.gserviceaccount.com` with **firebase-adminsdk** credentials

[2019-05-16 02:49] rromanchuk commented on #1184
I just recently started using https://firebase.google.com/docs/dynamic-links/create-manually for some less important links in emails that i wanted to lazily construct  instead of using the API (lots of different UTMs etc), and was getting strange behavior (would only load static), but it looks like because i was using `https://links.mycustomdomain.com/?link=`  which is a dedicated domain for my dy

[2019-05-16 02:54] abeisgoat commented on #1299
This is actually more of a documentation / logging issue than anything else.

There is a split in functionality, between running your code via `serve` and `emulators:start` which isn't well documented. If you want to simply invoke your code and with it, access production APIs and services, similar to the classic Google Cloud Function emulator, then your code should be invoked with `serve`. When yo

[2019-05-16 03:19] admingj commented on #1299
Hmmmm yes the HTTP function is using an Express app. The endpoint/API works fine in cloud environment but fails on local emulation. Will see if it works on 6.9.3. Any idea on when that might be?

(realized you released 6.9.2 only 5 days ago so appreciate all the help)
https://www.npmjs.com/package/firebase-tools?activeTab=versions

[2019-05-16 05:47] coffeemilkcrazy opened #1300 "multipart/form-data upload emulator error Unexpected number in JSON at position 1"
### [REQUIRED] Environment info

firebase -V
6.9.2

macOS

### [REQUIRED] Test case

Create cloud function as https://github.com/GoogleCloudPlatform/nodejs-docs-samples/blob/master/functions/http/index.js

exports.uploadFile = (req, res) => {
 please see in the example link above
};

run firebase serve

### [REQUIRED] Steps to reproduce

Create cloud function as https://github.com/GoogleCloudPlatf

[2019-05-16 06:36] billyjs opened #1301 "Cannot deploy functions with git dependencies"
### [REQUIRED] Environment info

**firebase-tools:** v6.9.2

**Platform:** Windows

### [REQUIRED] Test case

[code]

### [REQUIRED] Steps to reproduce

with git dependencies in functions/package.json run `firebase deploy` or `firebase deploy --only functions`

### [REQUIRED] Expected behavior

project is deployed successfully

### [REQUIRED] Actual behavior

[code]

[2019-05-16 08:30] rielzzapps opened #1302 "firebase serve --only functions gives different path structure to express()"
### [REQUIRED] Version info

**firebase-tools:**
6.9.2

**firebase-admin:**

### [REQUIRED] Test case

[code]
when using
firebase serve --only functions --host 0.0.0.0 --port 8080

we call
`hostname:8080/my-project/us-central1/my-method`

firebase will serve the function great, but the response will be:

[code]

But, when deployed as a function:

we call
`functionurl/my-project/us-central1/method`

[2019-05-16 10:30] clm-a commented on #1278
Same here with Linux (Debian Stretch)
Firebase: 6.9.2
OS: Linux 4.19.26 x86_64

(setup is OK with @lionel95200x workaround)

[2019-05-16 14:58] samtstern commented on #1302
This is a duplicate of #1279 and a fix has been merged. It will be included in the next release. Thanks for reporting!

[2019-05-16 14:58] #1302 closed

[2019-05-16 14:59] samtstern commented on #1300
I believe this is a duplicate of #1277, which has a fix merged that will be included in the next release.  Thanks for reporting!

[2019-05-16 14:59] #1300 closed

[2019-05-16 15:22] Yuripetusko opened #1303 "Firestore emulator doesn't recognise rules flag"
### [REQUIRED] Environment info

**firebase-tools: 6.9.2**

**Platform: macOS**

### [REQUIRED] Test case

According to docs

```The emulator supports an optional --rules CLI flag. It expects the name of a local file containing your Cloud Firestore Security Rules and applies those rules to all projects. If you don't provide the local file path or use the loadFirestoreRules method as described belo

[2019-05-16 15:25] mitjans opened #1304 "Emulator does not provide a good error when Typescript is not compiled"
### [REQUIRED] Environment info

**firebase-tools:** 6.9.2

**Platform:** macOS/Windows

### [REQUIRED] Test case

`firebase serve` seems broken when using Typescript.
When executing `firebase serve` for the first time after a new empty project has been initialized, it gives the following warning:
`The Cloud Functions emulator requires the module "firebase-functions-test" to be installed as a deve

[2019-05-16 15:44] abeisgoat commented on #1304
Hi, it appears you never actually compiled the Typescript which would result in this issue, can you try running the typescript compiler in your functions directory and let me know if it's still not working?

The emulator doesn't attempt to take care of compiling your code (due to the many caveats and particular settings a dev might want), but we could potentially improve error messages here and be

[2019-05-16 15:44] samtstern commented on #1303
That's a good point and it's a documentation error.  The firestore emulator
automatically uses the rules file specified in your firebase.json , are you
trying to use a different file?

On Thu, May 16, 2019, 8:22 AM Yuri <notifications@github.com> wrote:

[2019-05-16 15:46] abeisgoat commented on #1299
Yes it should work in `6.9.3` I specifically patched that situation. The new version will go out by the end of the week.

Thanks for testing stuff and helping us work out all the issues! We'll get this thing to be useful soon :)

[2019-05-16 15:47] abeisgoat commented on #1303
This is definitely a documentation error, I believe we're having some conversations about docs today so I'll make sure to bring this up as a point of confusion!

[2019-05-16 15:48] Yuripetusko commented on #1303
Yes I tried 3 different ways:

1 --rules flag as above
2 `await firebase.loadFirestoreRules()` - doesn't work
3

[code]

in firebase.json which also doesn't work

It always just use default one from this

[code]

[2019-05-16 15:49] abeisgoat commented on #1295
@SebastianCApostolescu I believe this was a known issue in the legacy emulation environment, but I don't know a workaround, sorry.

In regards to the original question, when `6.9.3` comes out it'll have a fix specifically to help run express apps via `https` functions, so this issue has already been discussed / resolved in another thread :) If you're still seeing this after `6.9.3` comes out (with

[2019-05-16 15:49] #1295 closed

[2019-05-16 15:51] abeisgoat commented on #1290
Hmm, I'm not sure what's up but it doesn't sound like a bug (and we can only really help with things that are definitely bugs here) I would recommend asking on StackOverflow with a minimal example case and getting help there!

Sorry I can't do more!

[2019-05-16 15:51] #1290 closed

[2019-05-16 15:53] mitjans commented on #1304
Hi, I run the compiler inside `functions/src`:
`tsc index.ts`
which generated the js.

After that, the output is the same when running `firebase serve` in the root dir of the project.

[2019-05-16 15:54] abeisgoat commented on #1280
Alright, I've found a fix for this and will hopefully get it in for the `6.9.3` release this week!

[2019-05-16 16:08] Yuripetusko commented on #1303
So I guess it now turned into feature request

[2019-05-16 16:18] mitjans commented on #1304
This are the dirs/files inside root/functions:
[code]

[2019-05-16 16:42] mitjans commented on #1304
Ok got it working! I had to compile the source code from the `functions` folder, not `functions/src`!
Thanks for your help!

[2019-05-16 16:42] mitjans commented on #1304
A more explicit error could be very helpful in this particular error!

[2019-05-16 16:52] samtstern opened #1305 "[Internal] Separate slow and fast tests"
The emulator runtime tests are very slow, which means `npm run test` takes too long to run repeatedly.

We should probably split those tests up into an "Integration" suite that is run on Travis but not run by the default local command.

This SO post gives some good starting points for how to make `mocha` do this for us:
https://stackoverflow.com/questions/37605811/separation-of-unit-tests-and-inte

[2019-05-16 16:53] samtstern commented on #1303
@Yuripetusko yeah this is a FR not a bug since right now we only look for what's in `firestore.rules` not `emulators.firestore.rules`.

Could you explain your use case a bit more?  What is the meaning of `.stable.rules` for your project?

[2019-05-16 16:54] samtstern commented on #1304
@abeisgoat is there anything we can do to improve the error message or is this totally opaque to us?

[2019-05-16 17:07] abeisgoat commented on #1304
I think we could make a helpful guess. We know where the user's `firebase.json` is and we know if they're using any language that compiles to JavaScript, it's probably Typescript. If they're using TS, they probably have a `tsconfig.json`, so in that situation, we can try to import their code, if it fails we can look for a `tsconfig.json` and if it exists, let them know that maybe it's failing beca

[2019-05-16 17:19] Yuripetusko commented on #1303
@samtstern I guess it's not a big deal, just for few days we had multiple generated rules as we were testing some security rules and didn't want to deploy them straight away but wanted to use them in our jest tests

[2019-05-16 17:22] samtstern commented on #1303
@Yuripetusko FYI we provide a way to load rules files from inside your tests using the `@firebase/testing` library:
https://github.com/firebase/quickstart-nodejs/blob/master/firestore-emulator/javascript-quickstart/test/test.js#L37

That's probably your best bet if you want to use a different rule set only in tests.

[2019-05-16 17:28] abeisgoat commented on #1288
@samtstern Is this still relevant after your merge yesterday?

[2019-05-16 17:29] abeisgoat commented on #1278
Thanks for the help, working on a fix which should be merged in today.

[2019-05-16 17:33] samtstern commented on #1288
@abeisgoat yes this will be fixed when @yuchenshi moves the emulator to `v1beta1` protos.

[2019-05-16 17:57] #1254 closed

[2019-05-16 17:57] samtstern commented on #1254
A fix for this has been merged and will be included in the next release.

[2019-05-16 18:18] #1280 closed

[2019-05-16 18:18] samtstern commented on #1280
Fix for this has been merged and will be included in the next release.

[2019-05-16 18:30] christiannaths commented on #1279
Forgive me, but I think https://github.com/firebase/firebase-tools/commit/69e1e1bdce9506576754c448c5834e696207798a introduces some unexpected behaviour. As far as I can tell, there is now no way to get the _actual_ request path when running functions in the emulator.

I think this recommendation should have been implemented:

For example, I need to generate an oauth callback url for the google OAu

[2019-05-16 18:39] samtstern commented on #1279
@christiannaths that's interesting thanks for noticing!  @abeisgoat wdyt?

[2019-05-16 20:15] christiannaths commented on #1279
Is there a reason why the emulator serves functions with `/<project-id>/<region>` prefixed to the path at all? I can't help but think that this would solve not only the original bug in this issue, but alleviate the problem I'm having as well. After all, isn't the idea behind an emulator to mirror something as closely as possible? Including extra path segments runs against that grain.

But then aga

[2019-05-16 20:17] samtstern opened #1308 "Firestore emulator logging about tokens is very noisy"
### [REQUIRED] Environment info

**firebase-tools:** 6.9.2

**Platform:** All

### [REQUIRED] Test case

Run an Android app with auth against the Firestore emulator

### [REQUIRED] Steps to reproduce

Any query

### [REQUIRED] Expected behavior

Maybe a small warning in the logs

### [REQUIRED] Actual behavior

In the `--debug` logs we get this on every request:

[code]

[2019-05-16 20:27] samtstern commented on #1279
@christiannaths our new emulator is replacing this one:
https://github.com/googlearchive/cloud-functions-emulator

The path was set as a convention there.  It's baked into too many places to change it now without causing a lot of pain.  For instance the Callable Functions SDK has this hardcoded assumption about emulated function paths.

[2019-05-16 20:37] christiannaths commented on #1279
Understood Sam, thanks for the insight. Would you accept a PR with a command line option to remove the legacy path prefixes?

[2019-05-16 20:46] samtstern commented on #1279
@christiannaths thanks for offering!  We are really trying to avoid flag proliferation, and also any API changes have to go through our internal review process so let's hold off on the PR for now.

This sounds like something that could maybe be configured via `firebase.json` or it's also possible we could accept both paths at once.  I defer to @abeisgoat

[2019-05-16 20:53] christiannaths commented on #1279
Understood.

[2019-05-16 21:12] Yuripetusko commented on #1303
@samtstern I actually already do this, but it doesn't work, looks like emulator still overwrites rules that it finds in firebase.json

[2019-05-16 23:34] ryanpbrewster commented on #1303
That's surprising, could you provide a snippet showing how you're using the `loadFirestoreRules` function from `@firebase/testing`?

[2019-05-17 00:53] tmcf commented on #1279
I had not tried out 69e1e1b yet and was waiting for 6.9.3

My current workaround is to set an environment variable when testing before starting the emulators

[code]
In production, XFIREBASE_FN_PREFIX is not present so I default it to '/'.
This effectively lets me determine where the request handlers have been mounted and route relative to the prefix in all environments.

Cheers.

[2019-05-17 08:41] Yuripetusko commented on #1303
this is how I do it

[code]

And I am sure that file is loaded as if I change path it complains that fs cannot find a file

[2019-05-17 09:33] Yuripetusko commented on #1303
The only thing I do differently is I don't use firebase/testing asserts, and use jest instead, but setup is using firebase/test..

[2019-05-17 11:54] dreamhigh0822 opened #1309 "“Error: Server Error. socket hang up” whenever I do “firebase deploy --only hosting, database, storage”"
### [REQUIRED] Environment info
I am using the latest version of firebase-tools.

**firebase-tools:** v6.9.2

**Platform:** Ubuntu 18.04

### [REQUIRED] Test case
I am sure that firebase.json is in a good condition.
### [REQUIRED] Steps to reproduce

firebase login
firebase list
firebase use 'myprojectid'
firebase deploy --only database, functions, storage, hosting
### [REQUIRED] Expected behavior

[2019-05-17 13:04] SebastianCApostolescu commented on #1295
Sorry, I forgot to update @abeisgoat .
I managed to fix it. Turns out I lost ownership of `@google-cloud/functions-emulator/logs` or something like that. I managed to fix it by changing ownership or something like that. Sorry, I can't really be helpful since I am new to Linux I got to a point where I just simply copy/pasted everything I found on the internet.

Anyway... Thanks for the help and I h

[2019-05-17 16:25] bkendall commented on #1015
@nicoara please open a new issue with the required information. Thank you.

[2019-05-17 16:50] bkendall commented on #1309
If you are still seeing this error, can you provide contents of `firebase-debug.log` or the output of running this command with `--debug`? Sometimes these issues are temporary, but it's difficult to know what in particular is failing without more details.

[2019-05-17 18:00] bkendall commented on #1301
I am unable to replicate this behavior.

Have you run `npm install` in your `functions` directory? When the deployment runs, it has to parse the code in that directory and it will break if you've not run `npm install` there.

[2019-05-17 18:02] ryanpbrewster commented on #1303
That code looks correct, and when I try it it works.

Can you provide a short repro of the issue you're running into (i.e., your rules, a test script, and the command you use to execute them)?

[2019-05-17 18:12] abeisgoat commented on #1279
@christiannaths Thanks for your input, this is a great question and if I'm understanding correctly, you aren't saying that the old emulator handled this well, just that the new one (with the change to match the old one) now breaks you?

If this is the case, then I think this will be a prime candidate to introduce into `emulators:start` so `serve` will have the same bug as the old emulator and `emu

[2019-05-17 18:12] #1279 closed

[2019-05-17 18:17] abeisgoat opened #1310 "Emulator Suite should have more helper warnings / errors"
Currently we know of two situations which could be improved with better helper logs...

- [x] Detecting uncompiled TS from #1304

- [ ] Explaining `serve` vs `emulators:start` and specifically auth errors from #1299

There's more situations for sure, but let's get started here.

[2019-05-17 18:18] abeisgoat commented on #1304
Closing this in favor of tracking error improvements in #1310

[2019-05-17 18:18] #1304 closed

[2019-05-17 18:18] abeisgoat commented on #1299
Closing this in favor of tracking error improvements in #1310

[2019-05-17 18:18] #1299 closed

[2019-05-17 18:22] dreamhigh0822 commented on #1309
OK, This is the snippet of firebase-debug.log when I execute the "firebase deploy --only database,storage"
[code]

[2019-05-17 20:51] #1278 closed

[2019-05-17 20:59] christiannaths opened #1312 "HTTP functions path prefix differences between emulated and deployed functions"
**For Posterity**

This stems from a conversation https://github.com/firebase/firebase-tools/issues/1279

[@christiannaths commented](https://github.com/firebase/firebase-tools/issues/1279#issuecomment-493181822)

[@abeisgoat commented](https://github.com/firebase/firebase-tools/issues/1279#issuecomment-493548486)

### [REQUIRED] Environment info

**firebase-tools:** 6.9.2

**Platform:** macOS

##

[2019-05-17 21:16] toddpi314 commented on #1282
Retry on travis almost always fixes, but man, it takes 4 or 5 tries.

[2019-05-17 21:44] bkendall commented on #1301
Oop - I guess my machine changed its mind. Now I can replicate this pretty reliably. I see the error message which is coming all the way from GCF. I think @thechenky will be the best person to help triage this.

[2019-05-17 22:16] thechenky commented on #1301
Hi @billyjs your git dependency definition looks off - can you follow the guide here https://docs.npmjs.com/files/package.json#git-urls-as-dependencies? The URL should start with a `<protocol>`.

[2019-05-17 22:20] ryanpbrewster commented on #1282
Version 6.10.0 just released and should be much more reliable. Let me know if you still get flaky downloads on the latest release.

[2019-05-17 22:51] abeisgoat commented on #1312
Thanks for this thorough bug.

This will require a bit of a discussion to figure out the best route forward. I'll speak with the other emulator engineers next week and see if we can decide how to move forward.

[2019-05-18 00:00] tmcf commented on #1312
The fix for #1279 in release 6.10.0 solved my immediate problem, but it would be great to be able to have access to the mount point of the functions.

If deployed firebase functions will always have their own subdomain and no path in the future then I would be in favour of the emulator following the same root path behaviour with `emulators:start`, leaving `firebase serve` as legacy as @christianna

[2019-05-18 15:21] jans-y opened #1314 "Firebase functions emulator does not provide Query params"
Request URL and Query params are incorrectly parsed inside functions emulator when the slash **/** is missing at the end of the URL.

### [REQUIRED] Environment info

**firebase-tools:** 6.10.0

**Platform:** macOS 10.14.4

### [REQUIRED] Test case

1. Init functions in the directory with TS enabled.
2. Paste whis code to see the express parsed url or params
[code]

### [REQUIRED] Steps to reprodu

[2019-05-18 19:22] vladostaci commented on #842
A warning in bold should be written until this is fixed. I've spent too much time until I realized what happens.
At least add a `region` option to the rewrites so we can redirect to europe.

[2019-05-19 02:59] abeisgoat commented on #1314
Thanks, will take a look on Monday, we've definitely seen some data getting dropped in the request proxy.

[2019-05-19 09:34] soclbz commented on #1015
try adding document at the end of db ref path.  e.g /userfollowers/{pushId}/followers/{follower}

[2019-05-20 02:00] Galantryas opened #1315 "Firebase login authorization code no longer valid"
C:\xampp\htdocs\portofolio>firebase login --no-localhost
? Allow Firebase to collect anonymous CLI usage and error reporting information? Yes

Visit this URL on any device to log in:
https://accounts.google.com/o/oauth2/auth?client_id=563584335869-fgrhgmd47bqnekij5i8b5pr03ho849e6.apps.googleusercontent.com&scope=email%20openid%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fcloudplatformprojects.reado

[2019-05-20 05:24] vdGitAway commented on #1280
Thanks. Spent many hours on this, thinking it was my fault.

[2019-05-20 07:05] thomaswb commented on #1314
I second the request, and it's urgent for me. This was working fine until the last update to firebase tools.

[2019-05-20 11:19] Yuripetusko commented on #1303
@ryanpbrewster Indeed while I was creating a reproducible repository this morning it worked using `loadFirestoreRules`, must be some other issue why it didn't work for me before which I will investigate. Thanks for going through it with me

[2019-05-20 13:38] epomatti commented on #1280
@vdGitAway I've upgraded to **6.10.0** and it is working for me until now. It fixed this bug and many others. Give it a try.

If you have any problems delete `node_modules` directory.

I also had to include the following dev dependency, otherwise the code would not run:

[code]

Since you're on it, run `npm outdated` and `npm update` too to get the latest versions for your dependencies.

[2019-05-20 14:42] v3n3 opened #1316 "Emulator shell issue: TypeError [ERR_INVALID_ARG_VALUE]: The argument 'id' must be a non-empty string. Received ''"
### [REQUIRED] Environment info

**firebase-tools: 6.10.0

**Platform: macOS 10.14.4

### [REQUIRED] Test case

simply run `npm run shell`

### [REQUIRED] Steps to reproduce

simply run `npm run shell`

### [REQUIRED] Expected behavior

show the firebase shell

### [REQUIRED] Actual behavior

throws the following error:

[code]

[2019-05-20 14:54] nicoara opened #1317 "INVALID_ARGUMENT at firebase deploy"
### [REQUIRED] Environment info

firebase --version: 3.19.0

OS: macOS 10.13.6

### [REQUIRED] Test case

trying to solve problem for 5 hours now, at 'firebase deploy'.

function is:
[code]
which is straight out of documentation.

same with: '/userfollowers/{pushId}/followers/{follower}'

### [REQUIRED] Steps to reproduce

above

### [REQUIRED] Expected behavior

should have been deployed with no

[2019-05-20 14:57] nicoara commented on #1015
@bkendall I started a new thread: https://github.com/firebase/firebase-tools/issues/1317

I ran 'firebase deploy --debug' and found a new message.

@soclbz the change does not make a difference.

Thank you

[2019-05-20 15:09] bkendall commented on #1317
`v3.19.0` is a very, very old version of the Firebase CLI. I was able to deploy that function successfully using `v6.10.0`. Please update your CLI (`npm i -g firebase-tools`) and retry the deploy.

[2019-05-20 15:21] nicoara commented on #1317
@bkendall  wow, thank you for the extremely fast help.
Did not know it was so old until today.
This solved it!!

[2019-05-20 15:21] #1317 closed

[2019-05-20 16:14] bkendall commented on #1309
That's not quite enough to know what it's failing on. Before this part of the log, you should see some kind of URL with a method in front of it. Hopefully that will tell us what call is failing - this is only telling us that _a_ call is failing (which is what we knew).

It may also be worth checking your environment to see if you have any `PROXY` settings that might effect this. You can check by d

[2019-05-20 16:16] abeisgoat commented on #1316
Hi, could you share a minimal example of the code you're trying to load which causes this error?

[2019-05-20 16:17] abeisgoat commented on #1314
If it's urgent @thomaswb then please downgrade to `firebase-tools@6.8.0` so you can continue your work.

[2019-05-20 16:30] bkendall commented on #1316
I also see you're running the shell using Node `12`. Can you try running this on Node `8` as well?

[2019-05-20 17:16] mikelehen commented on #1185
It might be neat if it could automatically half the batch size each time it gets a 400 and retry...  Just as the tool can't know if the documents are going to be too big, the user probably won't know either...  And there might only be a small number of documents that are problematic, meaning it's undesirable to reduce the batch size for the entire job...

[2019-05-20 18:30] v3n3 commented on #1316
@abeisgoat i tried the following code:

[code]

@bkendall running it with Node 8 doesn't solves the problem but it thoruws a different error

[code]

[2019-05-20 18:43] samtstern commented on #1303
@Yuripetusko thanks for following up!

[2019-05-20 18:49] bkendall commented on #1236
Sorry for the delay. Sometimes it's quicker/easier to get help via the [Firebase Community](https://firebase.community) or StackOverflow, just FYI.

Can you upgrade your `firebase-tools` to latest? (`npm i -g firebase-tools@latest`) See if that helps...

I cannot replicate this issue using the exact specifications you've provided (Node 10, Windows, CLI 6.8.0) initializing a new project and deployi

[2019-05-20 20:39] abeisgoat commented on #1316
Thanks for the repro, I'll take a look and get back to you!

[2019-05-21 00:11] iwata opened #1319 "Cannot deploy functions using firebase-admin and ADC via firebase-tools"
### [REQUIRED] Environment info

**firebase-tools:**
6.10.0

**Platform:**
macOS
### [REQUIRED] Test case
deploy functions using firebase-admin and ADC about Node 1

### [REQUIRED] Steps to reproduce

[code]

### [REQUIRED] Expected behavior

Deploy successfully.

### [REQUIRED] Actual behavior
It occurred these errors.

[code]

I re-tried with setting `FIREBASE_CONFIG`, but the result did not cha

[2019-05-21 00:52] bkendall commented on #1319
In your `/srv/functions/lib/index.js:32` (I _think_ that's in the code you're trying to deploy), is there an error trying to access `days`?

`"Provided module can't be loaded. Is there a syntax error in your code?"` leads me to believe that there's a different issue in the code rather than just the variable not existing.

Can you provide a little more about your source? If you're doing something w

[2019-05-21 01:03] MatteoGioioso opened #1320 "verifyDeveloperNodeModules() does not properly detected uninstalled modules"
### [REQUIRED] Environment info

firebase-tools: 6.10.0
Ubuntu 18.04.2 LTS

### [REQUIRED] Steps to reproduce

I just upgrade from `firebase-tools 6.8.0` to `6.10.0`
and when try to run `firebase serve --only functions,hosting`
I get this error
[code]
### [REQUIRED] Expected behavior
It should run normally
**This is not happening with version `6.8.0`**

### [REQUIRED] Actual behavior
It throws an

[2019-05-21 01:03] iwata commented on #1319
First of all, as a matter of fact, Node 8 with exactly the same source code does not cause this error and can be deployed successfully. If it is Node 10, an error will occur.

So it is assumed that `/srv/functions/lib/index.js: 32` is not a problem.
By the way the source of the line is something like.

[code]

[2019-05-21 01:49] RoryDungan commented on #1314
I'm having this issue too on WSL/Ubuntu 18.04. Doesn't happen with `firebase-tools@6.9.2` so downgrading to that was fine as a workaround. While the `req.query` was empty, `req.body` seems unaffected.

[2019-05-21 02:03] dreamhigh0822 commented on #1309
Thanks for your attention.
Fortunately, I solved this problem by myself. I just appended ":projectID" to the last of the deploy command. But I am still feeling strange about this. Since that I used the "firebase use" command, doesn't it contain the default "projectID"?

[2019-05-21 04:13] ryanpbrewster commented on #1227
Rolled out as of v6.10.0

[2019-05-21 04:13] #1227 closed

[2019-05-21 04:14] ryanpbrewster commented on #1308
This is much quieter with Firestore emulator v1.4.6

[2019-05-21 04:14] #1308 closed

[2019-05-21 08:52] JaapWeijland commented on #1314
Issue also confirmed here.

[2019-05-21 11:04] ghinda opened #1322 "rawBody is empty when using the functions emulator"
`req.rawBody` is not available when using the functions emulator. It is available to deployed functions.

### Environment info

**firebase-tools:** 6.10.0
**Platform:** Manjaro

### Test case

[code]

### Steps to reproduce

Check returned function response with `curl`:
[code]

If running the function with the functions emulator:
[code]
POSTing to the function will return an empty response.

POSTi

[2019-05-21 12:56] anantanandgupta commented on #1295
i am still getting this 404 on the 6.10.0 but only for the DELETE method.

[2019-05-21 13:29] jimmykane commented on #1296
Hi this is not related to the referenced issue I am getting with 6.10.0 :

[code]
why Ignoring trigger ?

[2019-05-21 14:59] fngrl commented on #1275
@samtstern I have a very similar issue which occurs on both 6.9.0 as well as 6.10.0.

The sample app is almost identical, however I receive the following error:

[code]

[2019-05-21 15:38] samtstern commented on #1295
@anantanandgupta would you mind opening a new issue for the `DELETE` bug?

[2019-05-21 16:31] bkendall commented on #1320
Can you provide a bit more about your setup? We need enough information so we can fully replicate your issue. Do you have customization in `firebase.json`? Where do your functions and hosting code live relative to where you're running the `firebase` command?

[2019-05-21 16:48] abeisgoat commented on #1322
Thanks for the report, looks like we missed the middleware which populates `rawBody`. We'll get it sorted for the next point release.

[2019-05-21 17:24] vsimon opened #1323 "Serve command does not change Firestore Emulator port with --port flag"
I didn't see anything in the `--help` mentioning otherwise, I was trying to pass the `--port` argument with the serve command for only firestore and it seems firestore always uses the default port of 8080.

### [REQUIRED] Environment info

**firebase-tools:** 6.10.0

**Platform:** Ubuntu 18.04

### [REQUIRED] Test case

`firebase serve --only firestore --port 9090`

### [REQUIRED] Steps to reprodu

[2019-05-21 17:28] ryanpbrewster commented on #1323
Unfortunately, the `--port` flag for `firebase serve` only affects the hosting emulator.

The new recommended way of running the Firestore emulator is via the `firebase emulators:start` command. This command will read from your `firebase.json`, and you can configure the behavior of the emulators there. For instance, one of my projects has this:
[code]
and when I run `firebase emulators:start --onl

[2019-05-21 17:29] ryanpbrewster commented on #1323
I think we should add a warning message to `firebase serve --only firestore` and recommend the new `emulators:start` command.

[2019-05-21 17:33] samtstern commented on #1323
@ryanpbrewster is this a regression?  It was for functions and I fixed it with https://github.com/firebase/firebase-tools/pull/1267

I agree we should add a warning to people "serving" the Firestore/RTDB emulators but if this is a regression I think I could fix it pretty easily.

[2019-05-21 17:41] ryanpbrewster commented on #1323
not a regression, this has always been the Firestore emulator behavior

if it's easy to fix it might be nice to use the `--port` value if there's only one emulator supplied

[2019-05-21 17:49] grrrian opened #1324 ""Uncaught SyntaxError: Unexpected token <" after firebase deploy"
### [REQUIRED] Environment info

**firebase-tools:* 6.10.0

**Platform:** Ubuntu (Bitbucket Pipelines running Node 9.5.0)

### [REQUIRED] Test case

When visiting a deployed website, I get a blank page with the console error: `Uncaught SyntaxError: Unexpected token <`. Refreshing the webpage fixes it!

### [REQUIRED] Steps to reproduce

1. Deploy you website
2. Visit it on Chrome
3. Close you brow

[2019-05-21 17:53] abeisgoat commented on #1320
This regression was caused in the change from `require.resolve` to `slowRequireResolve` in the [`functionsEmulatorRuntime`](https://github.com/firebase/firebase-tools/blob/master/src/emulator/functionsEmulatorRuntime.ts). Specifically, on line [#198](https://github.com/firebase/firebase-tools/blob/master/src/emulator/functionsEmulatorRuntime.ts#L198) there is no situation where `slowRequireResolve

[2019-05-21 17:56] abeisgoat commented on #1324
Please fill out the template when opening a bug.

[2019-05-21 17:57] abeisgoat commented on #1324
Thanks for filling out the template.

[2019-05-21 17:58] abeisgoat commented on #1324
This is likely an issue in your code, Firebase Hosting ships your code verbatim to our CDN, so it's very unlikely that this is an issue on our end. Can you provide a link to a page where you're seeing this so I can take a look?

[2019-05-21 17:59] grrrian commented on #1324
https://sonoma-staging-qa.firebaseapp.com/

[2019-05-21 18:00] grrrian commented on #1324
I'm wondering if it has something to do with the way Chrome caches websites, because it only happens after i visit a website that i re-deployed. And refreshing fixes the issue :(

[2019-05-21 18:03] grrrian commented on #1324
I could re-deploy it to allow you to test it.

[2019-05-21 18:12] abeisgoat commented on #1324
Yeah so it's a cache behavior, not a bug with hosting.

The build chain for your app (Webpack, Parcel, whatever) uses whats called "cache-breaking filenames". These are randomly generated look a bit crazy and they are *different* on each build. For example, the current build references `https://sonoma-staging-qa.firebaseapp.com/static/js/main.d8ee1b86.js` when you rebuild and redeploy you'll now h

[2019-05-21 18:20] grrrian commented on #1324
Thanks a lot! How would you recommend creating cache headers to force refreshes?

[2019-05-21 18:26] grrrian commented on #1324
Perhaps i'll try this:
[code]

[2019-05-21 18:28] abeisgoat commented on #1324
Personally, if I don't want any error, then I'd disable all caching on the homepage. You can specify the headers in `firebase.json` ([docs](https://firebase.google.com/docs/hosting/full-config#headers)) and here's a [Stackoverflow post about disabling caching with HTTP headers](https://stackoverflow.com/a/2068407/1570248).

If you do this, it will be more expensive and slower because the client wi

[2019-05-21 18:28] anantanandgupta opened #1325 "firebase serve not able to route the `DELETE` http method to the functions"
### Environment info

**firebase-tools:** 6.10.0

**Platform:** macOS

### Test case

The functions api has 2 simple test routes, one for `GET` method (just for the sake of proving that the routing is working) and one for the `DELETE` method. APIs are accessed as rewrite from the hosting (http://localhost:5000/**). The test application is available as a git repo at [fbp-issue](https://github.com/a

[2019-05-21 18:30] anantanandgupta commented on #1295
here you go #1325

[2019-05-21 18:30] vsimon commented on #1323
eenteresting @ryanpbrewster ...very good to know about the `firebase.json` emulator config options

[2019-05-21 18:31] abeisgoat commented on #1325
Thanks for the report. This should be an easy fix as I think we just need to enable requests besides `GET` and `POST`, likely [around this code](https://github.com/firebase/firebase-tools/blob/master/src/emulator/functionsEmulator.ts#L250).

Handing over to @samtstern  to dive into.

[2019-05-21 18:31] grrrian commented on #1324
Sweet, thanks a bunch @abeisgoat !

[2019-05-21 18:31] #1324 closed

[2019-05-21 18:38] abeisgoat commented on #1322
We can fix this by adding the same [`rawBodySaver`](https://github.com/GoogleCloudPlatform/functions-framework-nodejs/blob/76f134b275df73878c9f47e5a452158c764eb1b9/src/invoker.ts#L302) verification method to our [`body-parser configs`](https://github.com/firebase/firebase-tools/blob/master/src/emulator/functionsEmulatorRuntime.ts#L547)

[2019-05-21 18:41] anantanandgupta commented on #1325
i have not tested the other http methods, but guessing it is related to the previous routing bug where the firebase serve was including the `/projectid/region/function-name` in the url while routing. I guess the fix was only focused on get and post method and other http methods are ignored ... i will come back with the test on that assumption.

[2019-05-21 18:42] samtstern commented on #1296
@jimmykane I assume that output is from `firebase emulators:start`?  That's working as intended right now.  There is no way for us to "emulate" a PubSub function in a way that would be useful, since it will never be triggered by any other emulator.

Right now we support:
  * Firestore functions
  * HTTP functions (including callable)

In the future we definitely want to add support for pubsub thou

[2019-05-21 18:49] abeisgoat commented on #1316
The errors you're experiencing in both versions are the same, the message just changed between Node versions.

In both situations the shell is failing to resolve the `grpc` module on [functionsEmulatorRuntime.ts#389](https://github.com/firebase/firebase-tools/blob/master/src/emulator/functionsEmulatorRuntime.ts#L389)

This module specifically is prone to having issues, can you go to your functions

[2019-05-21 18:51] anantanandgupta commented on #1325
Not able to validate above assumption as that is also not working (prefixing the route with the function path).

[2019-05-21 18:53] abeisgoat commented on #1314
This may be a regression when we began dropping segments off of paths for `6.10.0`.

@samtstern could you take a look, probably around [`removePathSegments`](https://github.com/firebase/firebase-tools/blob/master/src/emulator/functionsEmulator.ts#L187) call.

[2019-05-21 18:54] abeisgoat commented on #1325
We never had support for `DELETE` requests in the new emulator backend, I do not think it will work in any situation until we explicitly route other request types.

[2019-05-21 18:55] orlandomendozagarrido opened #1326 "Im trying to deploy my functions folder but i keep getting this error in my console"
### [REQUIRED] Environment info

**firebase-tools:**

**Platform:**

### [REQUIRED] Test case

### [REQUIRED] Steps to reproduce

### [REQUIRED] Expected behavior

### [REQUIRED] Actual behavior

[2019-05-21 18:55] orlandomendozagarrido opened #1327 "Im trying to deploy my functions folder but i keep getting this error in my console"
### [REQUIRED] Environment info

**firebase-tools:**

**Platform:**

### [REQUIRED] Test case

### [REQUIRED] Steps to reproduce

### [REQUIRED] Expected behavior

### [REQUIRED] Actual behavior

[2019-05-21 18:55] orlandomendozagarrido opened #1328 "Im trying to deploy my functions folder but i keep getting this error in my console"
### [REQUIRED] Environment info

**firebase-tools:**

**Platform:**

### [REQUIRED] Test case

### [REQUIRED] Steps to reproduce

### [REQUIRED] Expected behavior

### [REQUIRED] Actual behavior

[2019-05-21 18:57] #1328 closed

[2019-05-21 18:58] #1327 closed

[2019-05-21 18:58] #1326 closed

[2019-05-21 19:04] orlandomendozagarrido opened #1329 "firebase deploy --only functions Error parsing triggers: Cannot find module 'cors'"
im trying to deploy my functions folder , but I get this error in my console . I tried npm install in root and folder , I upgraded node to current .

✔  functions: Finished running predeploy script.
i  functions: ensuring necessary APIs are enabled...
✔  functions: all necessary APIs are enabled
i  functions: preparing functions directory for uploading...

Error: Error parsing triggers: Cannot fin

[2019-05-21 19:21] thechenky commented on #1329
@orlandomendozagarrido please follow the issue template. The required fields are required :)

[2019-05-21 19:43] v3n3 commented on #1316
@abeisgoat thank you for having a look at the issue. I just updated the `firebase-admin` lib to 7.4.0 and the emulator run properly.

[2019-05-21 19:43] #1316 closed

[2019-05-21 19:44] abeisgoat commented on #1329
This is most likely a bug in your code @orlandomendozagarrido (but it's impossible to tell without the rest of the issue template).

Your code definitely either has `require("cors")` or `import * from "cors"` and you don't have that module installed into your functions directory (and it's associated `package.json`)

[2019-05-22 02:59] anantanandgupta commented on #1325
I am not sure what you mean when you say "new emulator backend" and "never had support" we have rolled back to cli v6.4.0 and it is running `DELETE` methods just fine. and when we talk about the development of rest api and emulating them locally, means it should have support for most common http methods if not all. Anyways I am happy for now with the downgrade, the only benefit I was observing wit

[2019-05-22 03:32] thechenky commented on #1319
@iwata thanks for refiling your issue here - I'm confirming that this is a known Node 10 bug that does not properly populate `functions.config()` as per my original comment in https://github.com/GoogleCloudPlatform/functions-framework-nodejs/issues/25#issuecomment-491006528. The fix should be rolling out to production this week, I will update this thread when that goes out. Thanks!

[2019-05-22 03:45] bkendall commented on #1309
Can you clarify what you mean by "appended :projectID"? Can you give the specific example? I think folks will want to look into this, but I'm not entirely sure I have enough context yet 🙂

[2019-05-22 03:47] bkendall commented on #1320
Thanks for taking this on @abeisgoat

[2019-05-22 10:02] jimmykane commented on #1296
@samtstern Oh ok. I thought that due to the title of this ticket that was the issue. Sorry then it looks ok I can trigger that via the shell

[2019-05-22 18:55] #1314 closed

[2019-05-22 18:55] #1325 closed

[2019-05-22 19:08] joehan commented on #1310
Another place for better error messaging that we found - if you set process.env.CLOUD_RUNTIME_CONFIG to a JSON file or stringified JSON that doesn't follow service.field format, the error message is:
[code]

To recreate this, run
``` CLOUD_RUNTIME_CONFIG="{\"hello\":\"world\"}"  firebase emulators:start```

[2019-05-22 19:09] abeisgoat commented on #1310
Thank you @joehan whoever told you to comment that on this bug was very intelligent and probably handsome.

[2019-05-23 01:00] MatteoGioioso commented on #1320
@bkendall Ugh, sorry for the late replay. If still needed I can get small repo and try to reproduce the error. Let me know thanks!

[2019-05-23 07:02] ShaMan123 opened #1333 "firebase functions deploy error"
### [REQUIRED] Environment info

**firebase-tools:** 6.10.0

**Platform:** Windows

### [REQUIRED] Test case

`firebase deploy --only functions`

Running `firebase deploy --only database` completes successfully and swiftly.
### [REQUIRED] Steps to reproduce

`firebase deploy --only functions`
I suspected this might be an issue with `node10` so I downgraded to `node8` because I'm experiencing some

[2019-05-23 08:11] ShaMan123 commented on #1333
can't say if this is related to `node-gyp`

[2019-05-23 08:33] ShaMan123 commented on #1333
After a few nerve wrecking hours I managed to deploy after reinstalling `npm`.
Tried again to make sure it is stable and ran into the problem.
I did find a bug in `node-gyp` pointing to a wrong bin file but can't say if it's related.

**Could this be related to connection problems?**

[2019-05-23 10:24] jnorkus commented on #1136
I am experiencing the same issue.

[2019-05-23 13:05] tohagan commented on #1309
Hitting the same issue. Just submitted a support ticket with my firebase-debug.log attached.

[2019-05-23 13:43] ShaMan123 commented on #1333
update:
[code]

[2019-05-23 14:03] tohagan commented on #1309
I also noticed that it attempts to upload files it will display
   `hosting: uploading new files [0/9] 0%`
Then timeout and FAIL.

Next ... when I retry this it thinks the last file succeeded so it now displays
   `hosting: uploading new files [0/8] 0%`     - decrements the number of files to upload to 8
Next when i retry this again it thinks the last file succeeded so it now displays
   `hosting:

[2019-05-23 14:19] samtstern commented on #1001
Update: we're still working on this and it's one of our highest priority items.  As Ryan said this comes down to adding support for another protocol, WebChannel, to our Firestore emulator.

[2019-05-23 14:33] samtstern commented on #1275
@fngrl thanks for letting me know.  Clearly I don't quite understand the behavior of Functions in prod with respect to CORS.  I tried to model the emulator based on what I saw with a production callable ... Let me talk to someone who worked on the backend team and make sure we get this right once and for all.

[2019-05-23 17:12] thechenky commented on #1333
Hi @ShaMan123 sorry you're experiencing these issues. From your last comment it seems there were issues connecting to Runtime Config - these are usually transient. Can you try to deploy again to see if you're getting the same error?

[2019-05-23 22:39] thechenky commented on #1309
@tohagan @dreamhigh0822 Problems like this are typically caused by poor internet connectivity. Do you have issues running commands like `firebase list`?

[2019-05-23 22:55] samtstern commented on #1275
Got a better fix for this in #1335

[2019-05-23 23:48] dgobaud commented on #787
@mbleigh any update? confirming as of now firebase CLI cannot use a service account to deploy? we want it for CI tool. so GOOGLE_APPLICATION_CREDENTIALS support doesn't work?

[2019-05-24 00:07] henrylearn2rock commented on #1333
**Node 10 still fails**

C:\Users...> firebase deploy --only functions

=== Deploying to 'xxxxxxx'...

i  deploying functions
i  functions: ensuring necessary APIs are enabled...
+  functions: all necessary APIs are enabled
i  functions: preparing functions directory for uploading...

Error: package.json in functions directory has an engines field which is unsupported. The only valid choices are:

[2019-05-24 00:59] thechenky commented on #1333
Update firebase-tools

[2019-05-24 02:11] bobbydreamer opened #1337 "verifyDeveloperNodeModules() should selectively disable trigger types based on available SDKs"
### [REQUIRED] Environment info

**firebase :** 6.10.0
**firebase-tools :**  6.9.0
**firebase-admin :**  8.0.0
**firebase-functions :**  2.3.1
**firebase-functions-test :**  0.1.6

firebase-functions-test is the new one which i had installed yesterday only due to a message when running serve command.

**Platform:** Windows

### [REQUIRED] Test case

Executed the steps as mentioned in "Steps to rep

[2019-05-24 06:30] ShaMan123 commented on #1333
I managed to deploy.
Thanks for the rapid response!

On Fri, 24 May 2019 at 04:00, Diana Tkachenko <notifications@github.com>
wrote:

[2019-05-24 09:02] thechenky commented on #1333
Awesome, glad it's working now! Will close this out. Please open up new issue if you have any other problems.

[2019-05-24 09:02] #1333 closed

[2019-05-24 09:10] thechenky commented on #1337
Hi @bobbydreamer sorry you're having these issues! To help us debug, if you downgrade firebase-tools to 6.8.0, are you able to successfully emulate? Going to also pass this over to the folks that are working on the emulator.

[2019-05-24 10:16] samtstern commented on #1337
I hate to give up an issue with such a great number, but @abeisgoat should look at this one.

Thanks for the detailed report!  I hope downgrading to 6.8.0 unblocks you for now.

[2019-05-24 12:46] dreamhigh0822 commented on #1309
Thanks for your attention.
@thechenky  No, I don't have any internet connectivity. ```firebase list``` is rather working properly.

This is the error case I have met.
[code]
The following is the case I have solved by myself.
[code]

As you can see the code snippet,  I appended ```:projectID``` to the deploy command.

[2019-05-24 13:05] bobbydreamer commented on #1337
Thank you very very much. Downgrading to 6.8.0 worked!
npm i firebase-tools@6.8.0

[2019-05-24 16:20] abeisgoat commented on #1337
Hi Bobby, you're experiencing the same issue as was reported in #1316  where importing the `grpc` module fails for an unknown reason.

This is, sadly, hard for me to reproduce, but I suspect it's because of `node-gyp` failing to build the native extensions which `grpc` relies on. If you could, I'd appreciate if you could run...

[code]

In your functions directory and let me know the result!

Than

[2019-05-24 16:21] abeisgoat commented on #1329
Closing due to lack of author response.

[2019-05-24 16:21] #1329 closed

[2019-05-24 17:07] thechenky commented on #1309
Thanks for the reply @dreamhigh0822 it's still a bit odd to me that you had to do that. When you did not supply the project id the command still knew which project to deploy to. Do you have a lot of projects?

[2019-05-24 17:29] thechenky commented on #1309
@dreamhigh0822 can you attach a debug log as @bkendall suggested? It would help us figure out why adding `:projectId` makes the command succeed.

[2019-05-24 17:53] dreamhigh0822 commented on #1309
@thechenky No, I only have a project. So, I thought that if I used ```firebase use```command, then it would use the project. But it didn't. Unless I didn't specify the id of the project explicitly, no matter what, it failed.
Sorry but for now I don't have the log file, since that I got my hand of that project.

[2019-05-24 17:55] thechenky commented on #1309
@dreamhigh0822 can you paste your `.firebaserc` here? I think it has your information there - the deploy without adding `:projectId` was still finding the project, so that's the part I'm confused about. If it was able to find the project, it should be able to deploy to it.

[2019-05-24 18:31] dreamhigh0822 commented on #1309
@thechenky
I think you are right. The problem is this file configuration for the project.
There is already the default projectID in the file so that I have to provide my projectID to deploy it.
This is the ```.firebaserc``` content.
[code]
Thanks.

[2019-05-24 18:31] #1309 closed

[2019-05-26 02:44] tohagan commented on #1221
That now works!  Thanks.

[2019-05-26 03:09] pjc0247 commented on #1236
Same issue here, running install latest does not work

[2019-05-26 03:11] pjc0247 commented on #1236
Better to print out response data when error has occured.
debug.log is totally useless in this case.

[2019-05-26 08:24] bobbydreamer commented on #1337
Hi @abeisgoat , Please find the below,
1. I didn't have grpc installed in the first place in the functions directory, so i had installed it via command
[code]

2. Executed the command you requested
[code]

[2019-05-27 12:58] basvandenheuvel opened #1339 "Deploy Firestore rules with a file size above 65.511 bytes fails"
### [REQUIRED] Environment info

**firebase-tools:** 6.10.0 (Also tested with 6.7.1)
**Platform:** Windows 10

### [REQUIRED] Test case

Working test file (remove .txt): [firestore.rules.txt](https://github.com/firebase/firebase-tools/files/3223846/firestore.rules.txt)
Not working test file (remove .txt): [firestore.rules.txt](https://github.com/firebase/firebase-tools/files/3223849/firestore.rule

[2019-05-27 15:23] samtstern commented on #1339
@basvandenheuvel thanks for the bug report!  Sounds like an obvious bug, and we'll look into it.  Also sorry about @google-oss-bot not sure what went wrong but you definitely provided enough info (it [thinks](https://ossbot.computer/audit.html?org=firebase&repo=firebase-tools&key=-LftMmPBrY8VqCdhnIJO) you missed the test case section).

Also ... wow 65kB is a lot of rules!  Are you writing all the

[2019-05-27 15:24] samtstern commented on #1339
Re the google-oss-bot: nevermind, I can see now that you edited the issue body and the original post was missing that section but then you filled it in.  Thanks for all the info!

[2019-05-27 19:17] adrielwerlich commented on #1275
Hello there
I´m having this issue also

![image](https://user-images.githubusercontent.com/20656722/58436273-e82b9500-809a-11e9-9830-3913a4006026.png)

Any definitive solution?

[2019-05-27 20:31] basvandenheuvel commented on #1339
@samtstern thanks for the quick response.

The file does contain some comments and empty lines. By uglifying it ourself, we could decrease the size a bit.

Yes, we did create them all by hand. Any tips to make this easier?

[2019-05-28 02:03] murillomfs commented on #113
@durul still saving lives <3

[2019-05-28 05:48] tmcf commented on #1316
Hi,
Using firebase-tools 6.10.0, I had just upgraded firebase-admin to 8.0.0 and got what looks like pretty much the same error when starting the emulator. The work-around for me was to go into `functions` dir and `npm install --save grpc`. Then the emulator starts ok.

Stack traces below for reference:

**emulator fails to start:**
[code]
**Checking for grpc**
If I go into functions and `node -e

[2019-05-28 17:15] abeisgoat commented on #1337
Thanks for the info, after installing does `serve` run successfully?

[2019-05-28 17:45] bobbydreamer commented on #1337
Yes. Now the serve works

[2019-05-28 18:37] #1275 closed

[2019-05-28 18:39] samtstern commented on #1339
@basvandenheuvel I am very curious about your rules, would you email them to me personally so I can take a look?  Email address is on my GitHub profile.  I think your rules are the largest hand-written ruleset I have ever heard of!

[2019-05-28 19:02] bsendras commented on #1316
Like @tmcf said. Im facing the same exact problem, moved from firebase-tools 6.10.0 to 8.0.0 and got the same error. I also got the same result when running `node -e "console.log(require.resolve('grpc'))"`

[2019-05-28 19:15] ryanpbrewster commented on #1339
There is a limit of 64 KiB on the size of the ruleset source. We're looking at raising this limit.

This limit is on the raw source, so minifying it yourself is one workaround.

[2019-05-28 19:34] bsendras commented on #1316
@tmcf as @v3n3 said above I just downgraded to the previous version `yarn add firebase-admin@7.4.0` to get the emulator working in the meanwhile.

[2019-05-28 22:04] shaunluttin commented on #1262
We are seeing this error in `"firebase-tools": "^6.10.0"`.

[2019-05-29 09:29] jaschaio commented on #1262
Seeing this error with `firebase-tools: 6.10.0` and node `8.14.0`. Firebase admin is `8.0.0` and firebase functions `6.10.0`:

[code]

If I change node to version `10.15.3` (and as well udpate the `engine` to `10` within the package.json) the error changes to this one:

[code]

If I downgrade back to firebase-tools `6.8.0` it works.

[2019-05-29 09:31] Yuripetusko commented on #1293
I have more timeout issues in emulator, this time I am not using hyphens in mpa keys, should I create a new issue or I can post it here?

[2019-05-29 09:41] jaschaio opened #1341 "verifyDeveloperNodeModules() should selectively warn and selectively disable trigger types based on available SDKs"
### Related issues

#1262 seems to be related although I am not sure if this has to do with firebase-admin. Subsequent comments in #1316 seem spot on but I decided to open a new issue as the initial one was resolved differently.

### Environment info

**firebase-tools:** 6.10.0
**Platform:** macOSX 10.14.5
**Node:** 10.15.3
**firebase-functions:** 2.3.1
**firebase-admin:** 8.0.0

### Test case

A

[2019-05-29 10:25] samtstern commented on #1341
@jaschaio thanks for such a well-researched issue!  This will be very helpful.

[2019-05-29 11:19] jaschaio opened #1342 "Firebase Tools 6.10.0 doesn't serve OPTIONS requests and overwrites CORS"
### Environment info

Platform: macOSX 10.14.5
Node: 10.15.3
firebase-tools: 6.10.0
firebase-functions: 2.3.1
firebase-admin: 8.0.0

### Test case

A freshly generated firebase project using `firebase init` with functions.

Use Node `10.15.3` and change the `package.json` engines node to `10`.

Create a `.nvmrc` file that contains `v10.15.3`

Install `firebase-admin@8.0.0` and `firebase-functions@

[2019-05-29 12:05] jaschaio commented on #1342
#1325 seems related, but the fix doesn't seem to apply to `OPTIONS` requests.

I tried exporting this method as described in the fix https://github.com/firebase/firebase-tools/pull/1332:

[code]

And a `OPTIONS` request doesn't even triggers the function, so it never arrives. So this has nothing to do with express or cors, but how firebase-tools handles options requests.

[2019-05-29 12:28] abdullahamin0111 opened #1345 "Firebase HTTP Cloud function query data undefined"
I've been trying to run the firebase cloud HTTP function locally on my computer.
When I try to send the query data to the http function locally then it is undefined.

**Windows 10 is being used.**

The function is:
[code]

The command I used to start the emulation for functions is:
**firebase serve --only functions**

The url for local emulation is returned as
http://localhost:5000/..../checkHttp

[2019-05-29 13:53] samtstern commented on #1293
Please file a new issue if you think it's a new bug, thanks!

On Wed, May 29, 2019, 11:31 AM Yuri <notifications@github.com> wrote:

[2019-05-29 16:20] bjon commented on #1342
I'm experiencing the same problem

[2019-05-29 18:17] natew opened #1343 "firebase-tools Failed to list log entries Cannot read property 'substring' of undefined"
### [REQUIRED] Environment info

**firebase-tools:** 6.10.0

**Platform:** macOS

### [REQUIRED] Test case

Can't, this is happening when looking at logs in a production environment

### [REQUIRED] Steps to reproduce

`firebase functions:log`

### [REQUIRED] Expected behavior

Should show logs

### [REQUIRED] Actual behavior

Shows this output/error:

[code]

[2019-05-29 18:18] natew commented on #1343
Tested in cloud console and it shows the logs just fine.

[2019-05-29 19:45] mbleigh commented on #1339
Since this is a limitation of the backend and not the CLI, I'm closing this issue. Please [file a feature request](https://firebase.google.com/support) for higher limit rules sources so we can track internally :smile_cat:

[2019-05-29 19:45] #1339 closed

[2019-05-29 19:46] mbleigh commented on #1342
@samtstern @abeisgoat can you take a look or triage this?

[2019-05-29 19:47] mbleigh commented on #1343
Can you please run with `--debug` and provide the output so we can see the specific log line of the failure?

[2019-05-29 20:33] samtstern commented on #1342
The change in https://github.com/firebase/firebase-tools/pull/1335 will fix this and will be included in the next bugfix release, thanks for your patience!

[2019-05-29 20:33] #1342 closed

[2019-05-29 20:48] bkendall commented on #787
As mentioned before, not all of the `firebase` CLI commands will work with `GOOGLE_APPLICATION_CREDENTIALS`, but a good number should. Setting it to the path of your service account credentials should be all you need to do (in fact, that's what the [`test-hosting.sh`](https://github.com/firebase/firebase-tools/blob/master/scripts/test-hosting.sh) script does, among other things).

Using `firebase

[2019-05-29 21:15] #1221 closed

[2019-05-29 21:22] bkendall commented on #1236
@pjc0247 If you're running into this issue, can you open a new issue with all the relevant information? This one has been pretty difficult to replicate and track down, so if you can provide a reproducible case for us, that would be appreciated.

@Mark-Ammari since this has been stale for some time now, without any new information this bug will be closed in a day or so. If you have any new developm

[2019-05-29 21:24] dinvlad commented on #787
Could you clarify - would instance metadata ADC work in this case, or only `GOOGLE_APPLICATION_CREDENTIALS`?

[2019-05-29 21:50] thechenky commented on #1345
@abeisgoat @samtstern would you mind taking a look at this? Thanks!

[2019-05-29 22:40] abdullahamin0111 commented on #1345
The response works perfectly when firebase-tools are downgraded....

Version that was giving error was: **6.10.0**
The version that now runs perfectly: **6.8.0**

Thanks.

[2019-05-30 01:02] IanWyszynski opened #1346 "Functions Runtime process hangs when invoked for an RTDB emulator trigger"
### [REQUIRED] Environment info

6.10.0

**firebase-tools:**

6.10.0

**Platform:**

Debian (glinux)

### Test case/Steps to Reproduce

I started a functions emulator with the following function:

[code]

And sent the following event to it with curl:
[code]

This mocks the request that the RTDB emulators and results in the emulator blocking [here](https://github.com/firebase/firebase-tools/blob/ma

[2019-05-30 02:54] imkane commented on #1337
This is also happening to me :(

I tried:
`npm i firebase-tools@6.8.0`

But that didn't help. Is there another solution?

[2019-05-30 07:10] samtstern commented on #1346
Since this was an RTDB trigger I'm not entirely surprised, it's not currently in the list of "supported" trigger types in functionsEmulator.  So I bet we take the request and then do nothing.

We should 400 faster, but also we need to add RTDB as supported.

[2019-05-30 10:23] d3dc commented on #1160
@Memeriaj I just upgraded to `firebase-tools@6.10.0` and all my pre-deploy scripts are running for `firebase deploy --only hosting:single` again.

[2019-05-30 17:24] samtstern commented on #1345
This was fixed by #1332 and will be included in the next release.  Thanks for your patience!

[2019-05-30 17:24] #1345 closed

[2019-05-30 19:54] BenoitPingris opened #1350 "Firebase login Error 400"
### [REQUIRED] Environment info

**firebase-tools:** 6.10

**Platform:** Arch Linux

**node** 11.15
### [REQUIRED] Test case
I enter `firebase login`, it opens an URL on my browser, I have an error 400

### [REQUIRED] Steps to reproduce
- `firebase login`

### [REQUIRED] Expected behavior
I should get a token from the URL

I get an error 400
### [REQUIRED] Actual behavior

![Screenshot_20190530_21

[2019-05-30 20:50] samtstern commented on #1339
@basvandenheuvel I'd still love to talk about how you're using Rules if you're open to it!

[2019-05-31 00:54] bishoplee opened #1351 "running npm install results in the following error, npm ERR! Unexpected end of JSON input while parsing near '...":"sha512-IxInm1vKWBg'"
### [REQUIRED] Environment info

**firebase-tools:**

**Platform:**

### [REQUIRED] Test case

### [REQUIRED] Steps to reproduce

### [REQUIRED] Expected behavior

### [REQUIRED] Actual behavior

[2019-05-31 01:12] samtstern commented on #1351
@bishoplee there's not enough information here to help you.  In fact it's not even clear this is related to the Firebase CLI at all.  Please fill out the issue template when filing an issue.

[2019-05-31 01:12] #1351 closed

[2019-05-31 05:29] rodelrebucas opened #1352 "Firebase deploy getting HTTP Error: 400, Request contains an invalid argument."
### [REQUIRED] Environment info

**firebase-tools:**
6.10.0

!-- e.g. macOS, Windows, Ubuntu -->
**Platform:**
macOs

### [REQUIRED] Test case

I just trying to deploy everything from my firebase.json

[code]

### [REQUIRED] Steps to reproduce

firebase deploy

### [REQUIRED] Expected behavior

Should deploy successfully. And gives me a link or success response.

### [REQUIRED] Actual behavior

Re

[2019-05-31 05:51] rodelrebucas commented on #1352
Resolved , forgot to update my `.firebaserc`, it contains an invalid character:

[2019-05-31 05:51] #1352 closed

[2019-05-31 16:05] bkendall commented on #1337
@imkane to downgrade the CLI, you probably need to install it globally:

`npm i -g firebase-tools@6.8.0`

[2019-05-31 16:12] mbleigh commented on #1350
Did you try copy and pasting the full URL? The error message indicates that `response_type` wasn't provided, but it's clearly visible in the URL. I wasn't able to reproduce the issue myself just now, so I think the problem may lie elsewhere...

[2019-05-31 16:12] bkendall commented on #1350
I can replicate this exactly by deleting basically the last line of the URL (`type=code...`) in the screenshot from the browser's URL bar.

Can you confirm that the _entire_ URL is correct in the browser? Specifically, look for `response_type` (or `response_`, if it's broken, or the lack of `response` at all, etc.)

[2019-05-31 16:12] bkendall commented on #1350
hehe hi @mbleigh

[2019-05-31 17:21] BenoitPingris commented on #1350
I copied and pasted the URL directly in the browser and it worked, thanks !

The URL was automatically opened by `firebase login` and I had this error, even when I `control click` on the URL on my terminal I had the error but not when I copy it, that's weird.

[2019-05-31 19:57] dgobaud opened #1353 "code reloads on every request in 6.10.0"
Every HTTP request seems to result in a full code reload which causes us problems.

Eg we decrypt config at load through KMS. If it happens on every request it'll run up the KMS bill.

[2019-05-31 20:15] samtstern commented on #1353
@dgobaud thanks for raising this issue!  That's the intended behavior right now, but we didn't realize some people would *not* want that.

Can you show an example of your code?

[2019-05-31 20:26] dgobaud commented on #1353
Yes please see below. It should only reload on code changes (hot reload). Why reload everytime? That is slow and doesn't mirror production behavior right?

[code]

[2019-05-31 20:33] abeisgoat commented on #1353
The act of hot-reloading on each invocation is designed to mimic the unpredictable behavior of the true GCF environment (your code may reload on each request, or it may not, we make no guarantees). The more common situation which developers hit is that they rely on some global state and as a result get hurt when they have more function invocations (which spawn `n` unrelated GCF instances with sepa

[2019-05-31 20:53] inorganik opened #1357 "Unable to deploy callable function when exported alongside trigger functions"
### [REQUIRED] Environment info

**firebase-tools:** 6.4.0

**Platform:** macOS

### [REQUIRED] Test case

I recently added a new callable function to my project. When I tried

```firebase deploy --only functions:stripeOperation```

It resulted in

The file structure is like this:
[code]
`functions/src/stripe/index` exported all 3 of the functions in the stripe folder:
[code]
`functions/src/index`

[2019-06-01 01:41] dgobaud commented on #1353
According to the documentation [Function instance lifespan](https://cloud.google.com/functions/docs/concepts/exec) the typical behavior is function instances are reused and it recommends caching state in the global scope which makes sense in order to minimize cold starts and maximize performance. Amazon Lambda broadly works the same way for seemingly the same performance reason https://docs.aws.am

[2019-06-01 04:00] wangchou commented on #842
Hope cloud function for Firebase support <code>region</code> option like <code>cloud run</code> setting did. I'm using <code>tokyo</code> region. It is really far from <code>us-central1</code>.

[2019-06-01 21:27] NickCis opened #1359 "Functions while emulated get wrong hostname (always localhost)"
### [REQUIRED] Environment info

**firebase-tools:** 6.10.0

**Platform:** Arch Linux (Linux nicolas-pc 5.1.3-arch1-1-ARCH #1 SMP PREEMPT Thu May 16 20:59:36 UTC 2019 x86_64 GNU/Linux)

### [REQUIRED] Test case

[Public repo](https://github.com/NickCis/fb-hosting-fn-hostname-example)

[code]

### [REQUIRED] Steps to reproduce

Run above test function in a new project, once locally in the emulator,

[2019-06-01 21:39] NickCis commented on #1359
Afaik, the local [functions emulator](https://github.com/firebase/firebase-tools/blob/master/src/emulator/functionsEmulator.ts#L69) is not trusting the proxy, as it's a express app, the easy fix will be to enable [`trust proxy`](https://expressjs.com/es/api.html#req.hostname).

Is that a correct approach?. I'm willing to send the PR :)

[2019-06-02 17:59] vincy261 opened #1360 "Can't debug with firebase tools 6.10.0 in vs code due to unverified breakpoints"
### [REQUIRED] Environment info

**firebase-tools: 6.10.0**

**Platform:macOs, Windows**

### [REQUIRED] Test case

launching attach to debug from launch.json, breakpoint will result all unverified with no possibility to stop in
### [REQUIRED] Steps to reproduce

[code]
simply run Attach by Process ID, and breakpoints will result in grey unverified.

### [REQUIRED] Expected behavior

breakpoint mu

[2019-06-02 19:46] Dara-To opened #1361 "URGENT: Auth error:Error: internal_failure, error: The service is currently unavailable"
My Firebase project's functions stops running since 2:46PM Eastern time. At the same time, I was developing and running test functions in shell and got these errors since then:

[code]

At first, CLI asked me to do `firebase login --reauth` and it crashed a few time with server response code of 500.

This is URGENT as some users reported that they cannot use our website! Please help! !! Thanks!

#

[2019-06-02 20:05] thechenky commented on #1361
Hi @Dara-To there is an ongoing incident right now with Cloud Function deployments: https://cloud-status.googleplex.com/firebase/incident/Functions/19016.

[2019-06-02 20:12] thechenky commented on #1361
@Dara-To Ah, sorry I misread your issue - however, I think it's still coming from the same upstream outage that is affecting function deployments. Many of the Firebase services are affected. Can you paste the debug log of when you run `firebase login --reauth`?

[2019-06-02 20:12] Dara-To commented on #1361
Thanks for the quick response! That explains it.

But when I tried to go to your link, I got this:
<img width="250" alt="Screen Shot 2019-06-02 at 4 10 31 PM" src="https://user-images.githubusercontent.com/33760969/58766817-2a4c4f00-8551-11e9-990d-eac2eec4a6be.png">

[2019-06-02 20:13] rockwotj commented on #1361
@Dara-To wrong link, see: https://status.firebase.google.com/incident/Functions/19016

[2019-06-02 20:14] thechenky commented on #1361
Apologies, I accidentally gave you an internal link - thanks @rockwotj for the correction!

[2019-06-02 20:17] Dara-To commented on #1361
There is no debug log after I type `firebase login --reauth`. I already gave the error before I type that command though. Here is the print screen when I tried to re-authenticate.

<img width="300" alt="Screen Shot 2019-06-02 at 3 53 08 PM" src="https://user-images.githubusercontent.com/33760969/58766843-ac3c7800-8551-11e9-9ccc-428493040ee0.png">

[2019-06-02 20:18] rockwotj commented on #1361
Yes, you'll likely see errors until the incident is over.

[2019-06-02 20:20] Dara-To commented on #1361
The status page says that **Cloud Functions deployments failing**. Is it only for trying to deploy functions locally or to prod? Or it affects also the functions already deployed? Since I have no more logs from 1.5 hour ago, it seems it's the latter case.

[2019-06-02 20:33] thechenky commented on #1361
@Dara-To there are several Firebase services affected. The outage I posted here was relating to failures when trying to deploy cloud functions to production. Local emulation should not be affected to my understanding. I'm not sure whether running functions are affected, but that could be a possibility since the upstream outage is related to networking: https://status.cloud.google.com/incident/clou

[2019-06-02 20:38] thechenky commented on #1360
@vincy261 this seems like an issue with VSCode and not firebase tools. I would try asking on channels like StackOverflow to get the support you need.

[2019-06-02 20:51] Dara-To commented on #1361
Thanks for the clarification. It seems the outage affects more than that. I cannot read my Firestore data anymore at the moment.

<img width="150" alt="Screen Shot 2019-06-02 at 4 47 19 PM" src="https://user-images.githubusercontent.com/33760969/58767253-8e254680-8556-11e9-952c-55fa01ec8572.png">

[2019-06-03 01:53] Dara-To commented on #1361
All is back to normal. My functions in prod are running but are on backlogs since the issue was resolved. Thanks for keeping me in the loop.

[2019-06-03 01:53] #1361 closed

[2019-06-03 02:57] thechenky commented on #1361
Yes, things should be back to normal now! Thanks @Dara-To and please don't hesitate to post again should you encounter any other issues.

[2019-06-03 03:02] thechenky commented on #1357
Hi @inorganik please specify what version of Node you're using to run the `firebase` command, in addition to the versions of Node you're using for your functions. Also, please provide the output of running `firebase deploy --debug`. Without this information it's difficult to diagnose what may be happening.

[2019-06-03 08:02] vincy261 commented on #1360
HI @thechenky , i have tested debug with firebase-tools 6.3.0 and attach to process perfectly work. with 6.10.0 doesn't.

[2019-06-03 13:34] inorganik commented on #1357
Hi @thechenky, I am running node 8.15 (I have .nvmrc in functions folder so that I can run the same version of node that firebase does). I also specify in my package.json inside functions folder:

[code]

Running with `--debug` flag, my console is mostly filled up with file map code, e.g.:
[code]
but I can tell you when I tried again to export them together, as described in my issue, it prompted m

[2019-06-03 13:38] inorganik commented on #1357
@thechenky I see I ended up with a .log file from the --debug file, I can email it to you if you like but I'd rather not post it publicly.

[2019-06-03 15:44] #1350 closed

[2019-06-03 15:48] samtstern commented on #1360
Thanks @vincy261.  I think @abeisgoat knows more about this.  The new emulator (in versions 6.9.0 and above) runs the functions in a separate process which probably needs to expose some more information to be debuggable.

[2019-06-03 15:54] samtstern commented on #1361
@Dara-To just FYI, if you ever have an urgent issue in the future where you're seeing service issues you'll want to contact [firebase support](https://firebase.google.com/support) rather than going to GitHub as they will be much better equipped to help (although in this case @thechenky did a great job on a weekend).

[2019-06-03 16:51] sgammon opened #1363 "Firestore emulator: PERMISSION_DENIED"
### [REQUIRED] Environment info

**firebase-tools:** `6.10.0`

**Platform:** `macOS`

### [REQUIRED] Test case

This will take a moment, brb

### [REQUIRED] Steps to reproduce

1) Setup a Java project with the Firestore gcloud SDK, or the Firebase Admin SDK. Either way, make sure you're on the newest Firestore release. In Gradle, for us, that's:
[code]

2) Install the latest gcloud SDK locally. Gc

[2019-06-03 16:54] sgammon commented on #1363
It is also worth saying that running the emulator with no rules produces the same exception for `listDocuments`:

[code]

[2019-06-03 17:11] abeisgoat commented on #1363
Hey @sgammon,

Thanks for this report. @ryanpbrewster can you shed some light on if this is expected behavior?

[2019-06-03 17:14] abeisgoat commented on #1360
Hey @vincy261, can you provide a detailed step-by-step example of how to reproduce this? I have no familiarity with VS Code or how the debugging works, so I'll need something like...

1. Make a new folder
3. Put XXX in index.js
4. Put a breakpoint by doing X
5. Run the code by doing this...
6. Etc, etc

I have no idea what's expected so I can't really help until I have that info. As Sam said, we d

[2019-06-03 17:24] abeisgoat commented on #1353
@dgobaud Thanks for the thoughts!

I will have to reflect on this a bit and determine if I think emulating something beyond "worse case" is worth the technical trade-off of comprising our existing, fairly succinct runtime structure since this would add a lot of complexity in our tests and introduce an entire layer of new potential bugs. I agree it's useful, but we need to balance maintainability o

[2019-06-03 17:26] dgobaud commented on #1353
@samtstern great! I hope you change it soon because right now we are stuck on firebase-tools 6.8.0.

I believe that is how we have done it. loadConfig() is called once in our main index.ts and it caches config.

Each request does `await promiseLoadConfig;` which is resolved when loadConfig() finishes which is only called once.

Then the request continues via next() and the request handlers all sim

[2019-06-03 17:32] abeisgoat commented on #1337
I think the real issue here is that we're assuming to emulate functions you need `grpc` which is only true for Firestore triggers, so if you don't care about Firestore, this should just be a warning.

In order to fix this, we need to change how we're implementing `verifyDeveloperNodeModules()` to allow for non-blocking messages about specific SDKs. I think if we did that, then this issue would hav

[2019-06-03 18:01] abeisgoat commented on #1337
I'm going to close this in favor of tracking the issue in #1341 1341

[2019-06-03 18:01] #1337 closed

[2019-06-03 18:06] ryanpbrewster commented on #1363
It is indeed expected behavior. You will need to be authenticated as an admin. The upside is that it's actually much simpler than authenticating against prod firestore: all you need to do is pass in an `"Authorization: Bearer owner"` header. The bearer `"owner"` is accepted by the emulator for all projects.

If you're familiar with [@google-cloud/firestore](https://www.npmjs.com/package/@google-cl

[2019-06-03 18:09] ryanpbrewster commented on #1363
The REST API looks like

[code]

Out of curiosity, which SDK are you using here? Based on the stack trace it looks like Java?

[2019-06-03 18:10] vincy261 commented on #1360
Hi @abeisgoat , sure i can, so:

1. Create a new firebase project with typescript
2. Write a simple index.ts and export your cloud function testFunction and set it in the firebase.json
[code]
3. add this to the launch.json (launch json is the debug settings file for VS code integrated debug tool usually the third icon on the side bar menu)
[code]
4. run tsc (typescript compiler) and the local emul

[2019-06-03 18:22] sgammon commented on #1363
I'm using Java (via the Maven dependencies for gcloud, not `firebase-admin`), but this does look easy and I'll give it a shot. Injecting headers is rather hard in the Java client but I believe there is a facility to do it alongside the code I mentioned for injecting credentials.

[2019-06-03 18:23] sgammon commented on #1363
It also wouldn't be too hard to implement this as a `CredentialProvider` in `gax` or what not. That would be super helpful, if you could point me in the right direction I'd be happy to file a PR or an issue in the right repo (because that's way closer to general Google APIs Java than it is Firebase, if I'm not mistaken).

Thank you btw for the quick reply Firebase team :)

[2019-06-03 18:23] dgobaud commented on #1353
@samtstern and the problem is this doesn't work - it seems global scope is reloaded on every HTTP request. It seems to create an entirely new instance or whatever you call it :(

[2019-06-03 18:24] abeisgoat commented on #1341
This is related to both improvement in `verifyDeveloperNodeModules()` and the fact that `firebase-admin@8.0.0` dropped `grpc` as a dependency so it no longer exists. I'll work on both those as one fix.

[2019-06-03 18:25] #1359 closed

[2019-06-03 18:31] ryanpbrewster commented on #1363
I think the repo you want is https://github.com/googleapis/google-cloud-java. If you file an issue there, our SDK team can take a closer look.

I implemented this in the Node Admin SDK in https://github.com/googleapis/nodejs-firestore/pull/654, which effectively bypasses the `gax` credential loop.

[2019-06-03 18:31] #1363 closed

[2019-06-03 18:39] thechenky commented on #1357
Hi @inorganik, the `--debug` should have more than just the mappings as you posted. I would just want to see the last lines near when the parsing of the functions fails, which I don't believe should have much sensitive information. If you're still not comfortable pasting that here, you can go through our support channel: https://firebase.google.com/support

[2019-06-03 19:01] abeisgoat commented on #1360
Fantastic, thanks for the thorough and quick response, I'll take a look at this when I get some time and report back!

[2019-06-03 20:57] abeisgoat commented on #1320
No repro needed, thanks, fix coming soon.

[2019-06-03 21:41] abeisgoat opened #1364 "Add ability to detect when function code is running in emulator"
We should add `FUNCTIONS_EMULATOR` so devs can easily change behavior for the emulator.

[2019-06-03 22:10] notapineapple opened #1365 "Some HTTP methods are not allowed"
### [REQUIRED] Environment info

**firebase-tools:** 6.10.0 (latest)

**Platform:** macOS Mojave

### [REQUIRED] Test case

I'm just trying to use DELETE method over an express app and a express-like function and it gives me "Cannot [method] [path]" like "Cannot DELETE /i/am/a/url".

### [REQUIRED] Steps to reproduce

This is my testing snippet i'm using to trying figure out the error. I just bind

[2019-06-03 23:00] samtstern commented on #1365
@notapineapple nice try, obvious pineapple.

This was fixed by https://github.com/firebase/firebase-tools/pull/1332 and will be included in the next release.  Thanks for reporting!

[2019-06-03 23:00] #1365 closed

[2019-06-04 00:33] iwata commented on #1319
@thechenky
Any progress?

[2019-06-04 00:56] dgobaud commented on #1353
@abeisgoat I think you're saying this new functionality where it reloads everything is useful but hard to maintain and you're considering reverting to the old way where it only reloads on source code changes? If so that would be great - I don't think this reload everything on every request is  beyond "worse case" - it is the worst case.

Is the issue your test code right now has been changed for t

[2019-06-04 05:54] mauikB commented on #658
Error: spawn npm --prefix .\functions\ run lint ENOENT
    at notFoundError (C:\Users\MAULIK BHANDERI\AppData\Roaming\npm\node_modules\firebase-tools\node_modules\cross-env\node_modules\cross-spawn\lib\enoent.js:6:26)
    at verifyENOENT (C:\Users\MAULIK BHANDERI\AppData\Roaming\npm\node_modules\firebase-tools\node_modules\cross-env\node_modules\cross-spawn\lib\enoent.js:40:16)
    at ChildProcess

[2019-06-04 06:02] oddgames-david commented on #536
Just downloaded and taking a few minute each time i "firebase deploy"

[2019-06-04 12:54] inorganik commented on #1357
Here's everything that's after the mappings:

I selected `N` and that ended the script. As I mentioned I found a workaround so I have deployed the function before, but this is what happens when you try to deploy it exported with trigger functions.

[2019-06-04 15:07] compojoom opened #1367 "firebase emulators:exec fails to kill the firestore emulator"
I've been trying to run our tests on circleci and managed to get them top run, but circleci keeps reporting them as failing, despite them succeeding.

The problem is that the step that runs our tests:
./node_modules/.bin/firebase emulators:exec "yarn --ignore-engines test_ci"

exits with: "Error: firestore: firestore: Unable to terminate emulator process (PID=200)"

I've executed the above command

[2019-06-04 15:22] samtstern commented on #1346
@IanWyszynski do you still see this behavior with #1347?

[2019-06-04 15:31] compojoom commented on #1367
well, for me it happens in 99% of the cases. I've seen it complete without error, but unfortunately most of the time it spills out that error.

[2019-06-04 16:32] sgammon commented on #1363
@ryanpbrewster sorry to check back in, but i've tried to inject the specified header and i'm having trouble getting it working with `gax`.

essentially, i've tried setting the `HeaderProvider`, and i've tried adding an interceptor manually to the channel in `setChannelConfigurator` (both on `InstantiatingGrpcChannelProvider` in `gax`).

Any ideas about how I might actually get that header in? shor

[2019-06-04 16:46] sgammon commented on #1363
@ryanpbrewster if you could link me to some java tests somewhere that inject that token, that would be sufficient too, probably. thank you again for your help

[2019-06-04 16:51] thechenky commented on #1319
Hi @iwata the fix is out, please redeploy your function.

[2019-06-04 16:52] thechenky commented on #1319
Note that there are some other kinks that we are still ironing out with Node 10 - follow the firebase-functions repo for those, but this particular issue should be fixed.

[2019-06-04 16:55] bkendall commented on #1350
Strange. Well, if you see it again let us know. Without being able to replicate it easily it's hard to debug. Glad you got it working!

[2019-06-04 16:56] sgammon commented on #1363
@ryanpbrewster sorry to blow up this thread, lol. but i found some tests, and they use `NoCredentials` like i was using before :(

https://github.com/googleapis/google-cloud-java/blob/master/google-cloud-clients/google-cloud-firestore/src/test/java/com/google/cloud/firestore/v1/FirestoreClientTest.java#L99

<img width="632" alt="Screen Shot 2019-06-04 at 9 56 39 AM" src="https://user-images.github

[2019-06-04 16:58] samtstern commented on #1367
@compojoom yeah I used to be able to get this reliably on one of my machines, but now I can't get it to happen anywhere!

Some questions:
- What emulators are started (you can tell by reading the logs)?  Is it just Firestore or are others started as well?
- If you run `firebase emulators:start` and then wait for them all to start and then kill the process using `Ctrl+C` do you see the same error?

[2019-06-04 17:01] bkendall commented on #658
@mauikB please open a new issue with the appropriate information. Thanks.

[2019-06-04 18:38] ryanpbrewster commented on #1363
Got it working, a bit hackily: https://gist.github.com/ryanpbrewster/aef2a5c411a074819c8d7b67be80621c

LMK if that's enough to get you going

[2019-06-04 19:25] sgammon commented on #1363
@ryanpbrewster that did the trick! and i like your approach here, because it uses the credentials rather than considering this a custom header (which it isn't, technically). thank you again, i'm all set.

[2019-06-04 19:25] sgammon commented on #1363
@ryanpbrewster it might be a good idea to include that sample somewhere, or in the docs, by the way. just saying 😁

[2019-06-04 20:57] compojoom commented on #1367
ctrl+c kills the emulators. The problem is that on CI server I can't start the emulators and then run to the next step. I have to use emulators:exec - and this is where it fails.

The functions and firestore emulator are running:
[code]

and then after mocha --exit I get:
[code]

[2019-06-05 05:49] jaschaio opened #1371 "Invalid-credential error for admin.auth calls"
Getting the Following Error when using `initializeApp()` within the functions emulator without a credentials file. This worked before on `firebase-tools@6.8.0`. Has this behaviour changed between `6.8.0` and `6.11.0`? If yes, why isn't it within the changelogs? The [docs](https://firebase.google.com/docs/functions/local-emulator#set_up_admin_credentials_optional) actually say now that

Still wonde

[2019-06-05 07:42] compojoom commented on #1367
just for info - tested it with 6.11 and the same problem persist.

[2019-06-05 15:29] samtstern commented on #1371
@jaschaio that's actually the new intended behavior although clearly it should be explained better.  @abeisgoat can comment.

If you want to get the old behavior, try using `firebase serve --only functions` instead of `firebase emulators:start --only functions`.   We have flagged off most of the new behavior in the `serve` version.

[2019-06-05 15:40] dgobaud commented on #1353
@samtstern @abeisgoat any update on this? thanks

[2019-06-05 16:04] johanchouquet commented on #842
Hi @laurenzlong ,

do you have any (good)? news about this ?

I agree that as @wangchou said, cloud run would be an alternative, but it adds stack of services / technology.

Hoping to read you soon. Thanks!

[2019-06-05 17:48] samtstern commented on #1353
@dgobaud we have not yet decided what we want the behavior here to be, we are discussing it.  If this is blocking you please downgrade to `6.8.0` as I don't think there will be a change here for at least a few weeks.  I hope you can understand that this is a very complex decision and we want to make it only once.

[2019-06-05 17:58] dgobaud commented on #1353
@samtstern got it I also just wanted to make sure I understand @abeisgoat's current thinking and what is the "beyond worst case" emulation idea/option. I do hope you revert or add the --worst-case option for testing because I don't think the current functionality is really practical/usable in development.

[2019-06-05 18:03] mbleigh commented on #842
We're still looking into this but right now our origin infrastructure is concentrated in `us-central` which means that allowing function proxying in other regions would end up creating extra latency in most cases. For instance:

    tokyo -> CDN edge -> origin (us-central) -> function (tokyo)

This means that the round trip time actually does something like doubling.

We are investigating expandin

[2019-06-05 18:33] merlinnot opened #1372 "Limit throughput of function deployments"
Google Cloud functions has a [quota](https://cloud.google.com/functions/quotas#rate_limits) on API calls (WRITE), which makes deployments of large number of functions impossible. This can be solved by limiting the number of requests `firebase-tools` makes per 100 seconds by queueing and performing operations within this limitation.

~~I'd be willing to work on adding support for this scenario, ple

[2019-06-05 18:40] ryanpbrewster commented on #1372
I have encountered the same issue and considered the same fix.

[2019-06-05 18:42] thechenky commented on #1372
Hah, we have an internal bug for specifically this! Would love your help in implementing :) thanks for offering!

Internal issue reference: 126680733

[2019-06-05 21:12] abeisgoat commented on #1371
@samtstern looks like this isn't that issue because he's already using `serve`.

@jaschaio thanks for the helpful bug report. I was able to reproduce this behavior, although strangely, I only got it to work once. After downgrading to `firebase-tools@6.8.0` and then upgrading back to `6.11.0`, the issue no longer existed.

I suspect this is because when calling `admin.initializeApp()` without any a

[2019-06-05 23:19] tylerburleigh opened #1373 "firebase deploy fails with @google-cloud/language dependency"
### [REQUIRED] Environment info

**firebase-tools:** 6.10.0

**Platform:** Windows

### [REQUIRED] Test case

run `firebase deploy` on an `index.js` that contains

[code]

### [REQUIRED] Steps to reproduce

See above

### [REQUIRED] Expected behavior

Deploy

### [REQUIRED] Actual behavior

Received the following error:

[code]

### Troubleshooting

Tried installing latest `@grpc/grpc-js`

Tried s

[2019-06-06 01:12] natew commented on #1343
I can’t do this now as I’ve changed the setup completely and no longer get
this error. But it’s a valid issue, seems others ran into it as well.

[2019-06-06 03:18] charliecalvert commented on #1343
$ firebase functions:log --debug
[2019-06-06T03:17:18.514Z] ----------------------------------------------------------------------
[2019-06-06T03:17:18.516Z] Command:       /usr/bin/node /home/charlie/npm/bin/firebase functions:log --debug
[2019-06-06T03:17:18.516Z] CLI Version:   6.11.0
[2019-06-06T03:17:18.516Z] Platform:      linux
[2019-06-06T03:17:18.516Z] Node Version:  v12.4.0
[2019-06-06T0

[2019-06-06 07:09] itzukah commented on #623
I tried the code on the link but not lucky..
still getting an error. I tried to use the SAP Hana service layer using json script.
Hope i could see your simple code on posting to SAP Hana.

[2019-06-06 15:18] samtstern commented on #1373
@tylerburleigh have you tried following the suggestion in the error message and setting `{"node": "8"}`  in your `engines` field?

[2019-06-06 17:49] abeisgoat commented on #1367
Huh, this is so strange, @samstern, can't we just send all child processes a hard kill command when we're ready to finish?

[2019-06-06 18:55] stpch commented on #1015
Getting the same _"Runtime field cannot be empty"_ error:

options=nosniff, alt-svc=quic=":443"; ma=2592000; v="46,44,43,39", accept-ranges=none, connection=close

This also happens for newly created projects using `npx firebase init` when trying to deploy the hello world example function.

[2019-06-06 18:59] mbleigh commented on #1015
@stpch are you on an old version of the CLI? Please look at #1317

[2019-06-06 19:11] stpch commented on #1015
I'm using the latest versions:
- `firebase-tools@6.11.0`
- `firebase-functions@2.3.1`
- `firebase-admin@8.0.0`

[2019-06-06 19:31] stpch commented on #1015
My bad, there was an old `firebase-tools` version installed through `yarn` that took precedence over `npx`. It's working now with the latest version.

[2019-06-07 16:56] #1343 closed

[2019-06-07 16:56] bkendall commented on #1343
A fix has been merged and should be in the next release of the CLI. Thanks.

[2019-06-07 18:01] abeisgoat commented on #1320
Fix has been merged into `next` branch so it'll go out with the `firebase-tools@7.0.0` release

[2019-06-07 18:01] abeisgoat commented on #1322
Fix has been merged into `next` branch so it'll go out with the `firebase-tools@7.0.0` release

[2019-06-07 18:01] #1322 closed

[2019-06-07 18:01] abeisgoat commented on #1312
Fix has been merged into `next` branch so it'll go out with the `firebase-tools@7.0.0` release

[2019-06-07 18:01] #1312 closed

[2019-06-07 18:01] abeisgoat commented on #1364
Fix has been merged into `next` branch so it'll go out with the `firebase-tools@7.0.0` release

[2019-06-07 18:01] #1364 closed

[2019-06-07 18:02] abeisgoat commented on #1341
Fix has been merged into `next` branch so it'll go out with the `firebase-tools@7.0.0` release

[2019-06-07 18:02] #1341 closed

[2019-06-07 18:02] #1320 closed

[2019-06-07 18:28] abeisgoat commented on #1353
@dgobaud what I meant was that in theory, we could shift over the structure of the emulator to preserve state between requests. We've had some more discussions about this internally since my first comment and I think I'm still leaning towards the current implementation of providing only the worse-case scenario. That being said, we just merged in a patch which adds `process.env.FUNCTIONS_EMULATOR`

[2019-06-07 19:07] dgobaud commented on #1353
Ok thanks for the update - `process.env.FUNCTIONS_EMULATOR` will at least provide a way to practically run the code locally, albeit a way that adds complexity on the end developer (us) side through special casing the emulator.

I do see how changing the code to only reload on file changes is more complicated than reloading every time.

If you do implement the file change monitoring code, I assume

[2019-06-07 20:13] abeisgoat commented on #1360
So I've looked into this a bit and it seems like it's going to be tricky. If we changed how the emulator works to solve #1353 it would also make this easier, so this is an argument in favor of changing that system.

[2019-06-07 22:24] ryanpbrewster commented on #1293
This should be fixed by https://github.com/firebase/firebase-tools/pull/1380

[2019-06-07 23:08] samtstern commented on #1371
@jaschaio while the error you got is not related to what I am about to say, it was actually protecting you from another more serious error.  And fixing one will fix both, so let's just jump to that.

Ok so when you run `admin.initializeApp()` it does this process to search for credentials:
https://cloud.google.com/docs/authentication/production#finding_credentials_automatically

When you're runnin

[2019-06-08 13:39] BarNiedzielski opened #1382 "Error deploying cloud functions with region europe-west2 (London)"
### [REQUIRED] Environment info

**firebase-tools:** 6.11.0

**Platform:** Windows

### [REQUIRED] Test case

I'm trying to deploy functions with selected region europe-west2.
According to [documentation](https://cloud.google.com/functions/docs/locations)  it should work.
`const functions = require('firebase-functions');
exports.fun= functions.region('europe-west2').https.onRequest((res) => res.ok

[2019-06-08 19:32] thechenky commented on #1382
It looks like you probably need to update your firebase-functions SDK, can you try that and see if it helps?

[2019-06-09 01:00] #1236 closed

[2019-06-10 03:29] Yosafat1997 commented on #515
I also have same problem

[code]

I remember I have Redis as one of my depedencies, but i don't know how to put it inside my package.json

[2019-06-10 13:22] JFGHT commented on #1371
I just came into this very same problem.

So does this mean that, if you did `firebase login`, then `firebase use X` and you're running functions with `serve` and NOT `emulators:start`, it will still not work just like in previous versions?

[2019-06-10 16:02] abeisgoat commented on #1371
@JFGHT Thanks for the thoughts - there's definitely some unintended behavior going on here, we want isolation by default but with the option to access production if you like. The authentication aspect of this is a hard problem worked on by many teams so it's made tougher because everyone needs to stay on the same page, but we're working on it :)

In regards to creating and setting the default cred

[2019-06-10 16:13] bkendall commented on #515
@Yosafat1997 you may have to run `npm install --save redis` in your `functions` folder to add the `redis` dependency to the `package.json`. If you're still having trouble, please open a new issue.

[2019-06-10 17:14] abeisgoat commented on #1353
Thanks for all your thoughts - they're super important for deciding what direction to take the emulator.

I'm gonna keep thinking on this and see if we can't get the best of all worlds. As I mentioned in #1360 the current structure also makes using interactive debuggers hard because the runtime PID is changing all the time. This frustrates me and makes it more likely that I'll shift over the runti

[2019-06-10 20:06] dgobaud commented on #1353
@abeisgoat interesting - I haven't tried debugging but can see how breakpoints breaking on every HTTP request could make debugging very annoying... seems the new emulator launches a new process for every request? Guessing there isn't really a way to make breakpoints persist in that model since I bet they get hooked up on process launch?

[2019-06-10 20:48] truonggiangdao opened #1384 "Failed to import the Cloud Storage client library for Node.js"
Please help me, I really tried to google search for the whole evening and still can't find a good solution for it.

### [REQUIRED] Environment info

**firebase-tools:** 6.11.0

**Platform:** Windows

**Node version on my machine: ** v8.11.2

### [REQUIRED] Test case
I just want to do a `admin.storage().bucket(myFirebaseStorageBucket)`  so that I can upload file to my firebase project storage. But

[2019-06-10 21:51] Memeriaj commented on #1384
I think that you're doing the correct thing here, but I'm not completely certain.  Have you tried deleting your `npm_modules` directory and then `npm install`-ing it again?

It seems that `@google-cloud/storage` is an [optional dependency in the `firebase-admin-node` repo](https://github.com/firebase/firebase-admin-node/blob/master/package.json#L66).  I had thought that NPM would try installing al

[2019-06-11 01:03] matheo commented on #595
@laurenzlong for some weird reason, my `GOOGLE_APPLICATION_CREDENTIALS` env var is empty (checking it from my Firebase Function, perhaps the absolute path looks ok from my ubuntu console when I print it via `echo $GOOGLE_APPLICATION_CREDENTIALS`.

I am missing something?

[2019-06-11 01:39] samtstern commented on #595
Are you on the latest version of the CLI?  That issue sounds like the one
that was fixed here: https://github.com/firebase/firebase-tools/pull/1340

On Mon, Jun 10, 2019, 6:03 PM Mateo Tibaquirá <notifications@github.com>
wrote:

[2019-06-11 01:46] therefromhere opened #1385 "firebase emulators:exec status code is 0 even when command fails"
### [REQUIRED] Environment info

**firebase-tools:**
6.11.0

**Platform:**
Ubuntu 18.04

### [REQUIRED] Test case

I would expect emulators:exec to return non-zero if the exec'd command returns non-zero, but it doesn't.

This is a problem in a CI context where I expected non-zero status to indicate test failure.

### [REQUIRED] Steps to reproduce

[code]

### [REQUIRED] Expected behavior

I'd expe

[2019-06-11 02:31] V00D00-D0C commented on #46
Alternatively, you can add this to your PATH using environment variables in windows.

[2019-06-11 03:15] truonggiangdao commented on #1384
hi @Memeriaj thanks, I already did that and also tried to test on other machine as well. It still show the same message. And I also able to deploy to `firebase functions` and test, but again the same issue.

[2019-06-11 04:49] matheo commented on #595
@samtstern yeah, I'm using `v6.11.0`. That fix seems related to `emulators:exec`.

I'm trying to run `emulators:start` and it's not loading my account-key json, stored at the `GOOGLE_APPLICATION_CREDENTIALS` env var. I wonder if there's something to do with the node version, but I cannot execute it with Node 8 because the latest Angular requires Node 10+.

[2019-06-11 12:13] Coletrane commented on #671
Seeing the issue again now that it looks like `firebase-tools` uses its own emulators instead of [`cloud-functions-emulator`](https://github.com/googlearchive/cloud-functions-emulator) I created the pull request above

[2019-06-11 12:22] truonggiangdao commented on #1384
**Update**: I still don't know what cause this issue in my project, but I did some more tests and found out that if I create a `firebase functions` without `express` then the issue not occur. So for now my workaround is I have another repo for my second functions which only do the upload to `Storage` and my current app just send api to it if need upload.

[2019-06-11 16:27] samtstern commented on #1385
@therefromhere thanks for reporting this!  You're right, this is something we should change.

[2019-06-11 17:29] abeisgoat commented on #1384
If you go into your `functions` directory and run...

[code]

[2019-06-11 18:54] #1385 closed

[2019-06-11 19:05] BarNiedzielski commented on #1382
You're right. I have outdated SDK. After update everything works. Thanks for your help.

[2019-06-11 19:05] #1382 closed

[2019-06-11 21:39] Nilegfx commented on #1341
for now, I installed `grpc` module into functions directory and it worked!

[2019-06-11 23:23] samtstern commented on #595
@matheo is it just this one variable or is your `process.env` not populated properly inside your functions>

[2019-06-12 11:43] wilbrone commented on #367
I have followed the provided solutions but they have not solved my problem.

page does not fetch the data, its blank, but the fav icon is loaded. what cold be the issue

[2019-06-12 11:49] wilbrone opened #1388 "firebase targets"
my page is blank even though my fav icon is loaded.
here is my firebase.json...

{
	"hosting": {
		"public": "src",
		"rewrites": [
			{
				"source": "",
				"destination": "/index.html"
			}
		]
	}
}

Anyone help please

[2019-06-12 12:15] isevcik commented on #1232
having same issue

[2019-06-12 22:28] Memeriaj commented on #1232
@isevcik really?  I was fairly certain that we fixed that issue (and I really should have closed this).  Did you do a similar thing of upgrading your project, and then downgrading it?

You probably should email into support so that we can get the details of your project and get it fixed.  You should make sure to mention this GitHub issue and me so that they know who to send it to.

[2019-06-13 01:14] thechenky commented on #1357
@inorganik - curious if this still happens if you upgrade to CLI v.6.12.0? Also, which version of firebase-functions are you using?

[2019-06-13 02:04] iwata commented on #787
Fixed this?
I could deploy via ADC and firebase-tools v7.0.0.

[2019-06-13 03:22] mbleigh commented on #1357
Can you share the compiled `.js` code that is created from the TypeScript? That seems like the most likely culprit for the problem.

[2019-06-13 11:32] AlexVegner opened #1394 "Flutter Web prod build doesn't work on firebase hosting"
### [REQUIRED] Environment info

**firebase-tools:**
v7.0.0

**Platform:**
macOS 10.14.4

### [REQUIRED] Test case
Flutter Web prod build doesn't work on firebase hosting

### [REQUIRED] Steps to reproduce
1. clone Flutter Web hello_world https://github.com/flutter/flutter_web/tree/master/examples/hello_world
2. build prow with `webdev build`
3. init firebase project with hosting only
4. Copy hell

[2019-06-13 13:37] idudinov commented on #986
Hi there! Want to add more info for this issue, because I'm encountered it as well.
In my other Node.js+TypeScript project the issue was in place, because, as it explained above, Typescript doesn't change require paths in output JS. The only working solution is was able to find is use https://github.com/dividab/tsconfig-paths#with-node , which changes Node.js paths handling way based on `tsconfig.

[2019-06-13 14:47] bageren commented on #678
I am having the same issue as @tomas-paronai even after running

in my functions directory. Any suggestions?

[2019-06-13 15:29] truonggiangdao commented on #1384
hi guys, thanks for support me troubleshooting, I finally figured out the cause of this issue. It because I used package [require-context](https://www.npmjs.com/package/require-context) on my project and it changes the way `require` work. I just remove the package from my project and then everything working normally.

It has nothing todo with `firebase-tools`. For that I will close the ticket. Tha

[2019-06-13 15:29] #1384 closed

[2019-06-13 15:48] bkendall commented on #1394
I went through these processes and was able to successfully deploy the `hello_world` example to my project (after installing flutter, dart, etc).

Can you provide your `firebase.json` file (to check any settings there) and maybe run the deploy again with the `--debug` flag and provide that output?

[2019-06-13 15:54] bkendall commented on #1388
I'm not sure what `source: ""` would do, but since it's nothing, it probably won't match much. Maybe remove that (or if it's a single page application, `source: "**"` is probably appropriate...)

A lot more information is necessary, most of which is specified by the template for bug reports. Please open a new issue and follow the appropriate template.

[2019-06-13 15:54] #1388 closed

[2019-06-13 18:49] jsilvagluky commented on #1363
I'm trying to use it on nodejs without luck, I keep getting:

[code]

Mi code is in typescript for nodejs.

It was working before gcloud components update with this code:

[code]

But it started throwing that error after last update.

Now, after reading this issue, I'm trying with:

[code]
But keep getting the same error.

I'm running emulator this way:

[code]

And this is gcloud components versi

[2019-06-13 18:53] ryanpbrewster commented on #1363
What version of `@google-cloud/firestore` are you using? Support for the `customHeaders` field was added in the most recently release, IIRC.

[2019-06-13 18:54] ryanpbrewster commented on #1363
I'm shifting your comment to a new issue as it's unrelated to this closed one.

[2019-06-13 18:55] ryanpbrewster opened #1395 "Permission Denied against Firestore Emulator from Node.js Firestore SDK"
I'm trying to use it on nodejs without luck, I keep getting:

[code]

Mi code is in typescript for nodejs.

It was working before gcloud components update with this code:

[code]

But it started throwing that error after last update.

Now, after reading this issue, I'm trying with:

[code]
But keep getting the same error.

I'm running emulator this way:

[code]

And this is gcloud components versi

[2019-06-13 18:59] jsilvagluky commented on #1395
I was running v 1.2.0, updated to 1.3.0 but problem persists.

Thanks a lot.

[2019-06-13 19:18] ryanpbrewster commented on #1395
That version is quite old, I think we're on 2.2.0 now: https://www.npmjs.com/package/@google-cloud/firestore

Can you upgrade and give it another shot?

[2019-06-13 19:35] jsilvagluky commented on #1395
Well, that's a major version change. Will have to check all my code for compatibility problems so will take a while.

I'll post a comment when ready.

Thanks a lot.

[2019-06-13 20:29] inorganik commented on #1357
@thechenky unfortunately I just updated to 6.12 and the same problem occurred.

@mbleigh I'd rather not, but it should help to know that when exported separately, each one deploys just fine. The only difference is the compiled index files, in the root and in the stripe directory. They look as you would expect:

/stripe:
[code]

index in root (the section containing the stripe exports):
[code]
Sinc

[2019-06-13 20:58] bkendall commented on #1357
@inorganik I've been following along on this issue and took the time to make a sample repository that's structured as you suggested: https://github.com/bkendall/studious-succotash

In that directory, I can deploy to my project using both:

[code]

I am unable to replicate the behavior you are seeing.

To be able to debug this further, we need to be able to reliably reproduce the issue. If you have

[2019-06-13 20:58] #1357 closed

[2019-06-13 21:44] jsilvagluky commented on #1395
Upgraded to 2.2.0 and error is gone. Tests are working again.

Thanks a lot.

[2019-06-13 22:22] oshalygin commented on #1109
Having the same issue, its a CLI issue.

There's no way that the CLI should return `Error: HTTP Error: 404, Requested entity was not found.` on a `firebase deploy` command.

There's obviously some other error going on but its not being surfaced.

Anyone know where to even look on this?

[2019-06-13 22:43] samtstern opened #1398 "firebase serve only binds to localhost"
### [REQUIRED] Environment info

**firebase-tools:** 6.12.0

**Platform:** All

### [REQUIRED] Test case

See below

### [REQUIRED] Steps to reproduce

[code]

### [REQUIRED] Expected behavior

Functions serving from `192.168.1.212:3100`

### [REQUIRED] Actual behavior

Functions serving from `localhost:3100`

[2019-06-13 22:43] therefromhere commented on #1303
@abeisgoat Could this be reopened since the documentation is still incorrect?

https://firebase.google.com/docs/firestore/security/test-rules-emulator#before_you_run_the_emulator

[2019-06-13 22:44] samtstern commented on #1303
@therefromhere good call, I will have to get those docs fixed.

[2019-06-13 22:50] bkendall commented on #1109
@oshalygin please open a new issue with the requested information (including parts of the `--debug` output or `firebase-debug.log` file)

[2019-06-13 23:35] inorganik commented on #1357
@bkendall thanks Bryan but that isn't correctly reproduced. The issue occurs when you export **_a callable function alongside a trigger function_**. You are exporting two callable functions and as you mentioned that doesn't reproduce the problem.

[2019-06-14 00:34] samtstern commented on #1398
A pointer here:
https://github.com/firebase/firebase-tools/blob/c5e7b9253b3102e4a92118cd69feb03a1cfc03e9/src/commands/serve.js#L35

[2019-06-14 00:36] samtstern commented on #1398
In 6.8.0 here's what we did.

**Functions**
[code]

**Hosting**
[code]

[2019-06-14 10:49] ashking commented on #1127
Is this feature being developed?

[2019-06-14 12:34] AlexVegner commented on #1394
Hi @bkendall,
I have prepared test project for you.
https://github.com/AlexVegner/firebaseTest

**Prerequisites**

Make sure that you work with flutter beta chanel:
`bash setup.bash`
https://github.com/AlexVegner/firebaseTest/blob/master/setup.bash

Init firebase with your project
`cd firebase && firebase init`

*Deploy script*
`bash deploy.bash`

My results:
Firebase doesn't work:
https://test-al

[2019-06-14 14:23] bageren commented on #517
@dvdmmc Can you share the details about how you made that work?

[2019-06-14 15:48] bkendall commented on #1394
Flutter isn't the issue here. In `firebase.json` it's set up to [redirect everything to `/index.html`](https://github.com/AlexVegner/firebaseTest/blob/master/firebase/firebase.json#L9-L14). When I just run `firebase emulators:start --only hosting`, I get an empty page because (as is clear in the browser developer tools), the `.json` asset that it tries to load is actually html:

![image](https://u

[2019-06-14 15:48] #1394 closed

[2019-06-14 16:16] samtstern commented on #1127
No, not actively being worked on at the moment.  If you think you can do it, pull requests welcome!

[2019-06-14 16:20] bkendall commented on #1357
Ah. Got it. I updated the repository with a [Firebase-triggered function](https://github.com/bkendall/studious-succotash/blob/master/functions/src/stripe/other.ts#L6-L8)

Still, `deploy` works, `deploy --only functions:<name>` works. I'm still unable to reproduce this behavior.

If you can make a PR against that [sample repo](https://github.com/bkendall/studious-succotash) that actually breaks the

[2019-06-14 17:07] #1398 closed

[2019-06-14 17:08] samtstern commented on #1395
@jsilvagluky glad it works for you and thanks for following up to let us know!

[2019-06-14 17:08] #1395 closed

[2019-06-14 17:10] samtstern commented on #1185
I believe this was fixed by https://github.com/firebase/firebase-tools/pull/1331 but never marked as such,

[2019-06-14 17:10] #1185 closed

[2019-06-14 20:31] thefliik commented on #1310
#1304 is a very helpful issue. I was running into a hard-to-diagnose `Error: Cannot find module` error and it turned out my problem was that I had mistakenly pointed my `package.json` "main" entry at the uncompiled `index.ts` rather than `dist/index.js`. Learning that the issue was probably caused by uncompiled typescript was enough to put me on the right track. Still, it might be helpful to also

[2019-06-14 22:40] aputinski opened #1404 "Accessing Firestore emulator from the Functions emulator crashes"
### [REQUIRED] Environment info
**firebase-tools:** 7.0.0
**Platform:** macOS 10.14.6
**Node.js** 10.15.3

### [REQUIRED]  Test case

https://github.com/aputinski/firebase-tools-test-case

### [REQUIRED]  Expected behavior

Accessing Firestore emulator from the Functions emulator should not crash.

### [REQUIRED] Actual behavior

Function crashes with the following error message:

[code]

[2019-06-15 05:59] jewelcse commented on #1040
asaaaaaaaaaaaaaaaaaaaaaaaaaa

[2019-06-15 12:34] mirfan899 opened #1405 "TypeError: require(...) is not a function"
### [REQUIRED] Environment info

**firebase-tools:**
7.0.0

**Platform:**
Ubuntu 18.04
NodeJS 8
npm 6.4.1

Trying to use https://github.com/google/voice-builder and stuck at `./deploy.sh cloud_functions` this step.
[code]

[2019-06-15 18:04] matheo commented on #595
@samtstern I just printed another one, like `NVM_BIN` and printed the path correctly, but in the other hand, I'm able to `echo $GOOGLE_APPLICATION_CREDENTIALS` in the CLI, but it's empty inside the function. So I'm not able to load `firebase-admin` with the account-key path that is stored in that env var:
[code]

[2019-06-15 23:12] matheo commented on #595
@samtstern I found it!
https://github.com/firebase/firebase-tools/pull/1252/files/882b9e6f658aa0fad943217ff06081c872a900fe#diff-8325e765bfd80d890325d78e645da32d

The `protect_env` feature is enabled for `serve` and it's sole purpose is to:
[code]
so the documentation and the solution pointed out by @laurenzlong previously, doesn't work with this feature. Is there a way to disable it from my config

[2019-06-15 23:45] matheo commented on #1303
@samtstern It would be good to add a configuration schema for the `firebase.json` so we know which options are supported and the IDE can autocomplete too:
https://github.com/SirWindfield/vscode-firebase-configuration-schema-plugin/blob/master/schemas/firebase.schema.json

[2019-06-16 01:00] #1319 closed

[2019-06-16 03:04] leojkwan commented on #590
I struggled on this for almost 2 hours now. Tried all sorts of firebase configurations (2 sites, separate projects/ 2 sites, single project). I basically want a landing page hosted on both a production and staging environment, but configuring the .firebaserc and firebase.json files is pretty confusing, given the target/alias naming (which _you_ define).

I realized the issue was having both websit

[2019-06-16 14:09] inorganik commented on #1357
Thanks Bryan, I appreciate your efforts. I'm not doing any predeploy commands. Just curious, when you tried the `deploy --only`, which function did you try it with? I found that only the callable function had the issue.

[2019-06-17 11:41] alixaxel opened #1407 "database:profile: Cannot read property 'millis' of undefined"
### [REQUIRED] Environment info

**firebase-tools:** 7.0.0

**Platform:** Ubuntu

### [REQUIRED] Test case

Using the `database:profile` command for a long duration (180 seconds or more).

### [REQUIRED] Steps to reproduce

[code]

### [REQUIRED] Expected behavior

Should have a file listing all the profiled operations for the active running time.

### [REQUIRED] Actual behavior

If the command ru

[2019-06-17 11:44] dvdmmc commented on #517
@bageren For the most part, the online documentation should help you get set up.  Let me know if you have any particular error messages and I can help you.
It gets a bit trickier if your functions uses Authorization, however.  For that, I did the following:

- Setup a simple local site using https://github.com/firebase/firebaseui-web  The site just needs to be a standard sign-in using the Google A

[2019-06-17 14:51] AlexVegner commented on #1394
Hi @bkendall,
It works for me.

[2019-06-17 14:54] Robula commented on #1373
We have the same issue. `@grpc/grpc-js` complains:

`error @google-cloud/firestore@2.2.1: The engine "node" is incompatible with this module. Expected version "^8.13.0 || >=10.10.0".`

In our `package.json` we have
[code]

We can't use semver there (`{"node": "^8.13.0 || >=10.10.0"`}) because of a weird design choice that `firebase deploy` only accepts integral numbers. 🙄

[2019-06-17 16:05] samtstern commented on #1405
@mirfan899 it looks like you're trying to deploy this file:
https://github.com/google/voice-builder/blob/master/cloud_functions/functions/index.js#L20

The error comes from this line:
[code]

So export of the module `'@google-cloud/storage'` is not a function (you can see it's being invoked with `()`).

It looks like that library (at least at the latest 2.x version) no longer has an import like th

[2019-06-17 16:05] #1405 closed

[2019-06-17 16:31] tylerburleigh commented on #1373
I get the same message as @Robula when using `{"node": "8"}` in the `engines` field.

[2019-06-17 16:35] peterennis opened #1408 "firebase tools update does not correctly check installation version after the update has run"
### [REQUIRED] Environment info

**firebase-tools:**

![Capture575](https://user-images.githubusercontent.com/140737/59620930-ede92900-90e2-11e9-9a3d-cda9c5d04801.png)

The update has been successfully run but the prompt still appears after
showing the latest version.

Run a second time and it shows the newest version only.

**Platform:**

Windows 10 1809

### [REQUIRED] Test case

See above

###

[2019-06-17 16:48] bkendall commented on #1408
Did this come up immediately after you upgraded `firebase-tools`?

I think this is a side-effect of how `update-notifier` works: it does its check more-or-less in the background which means there's a chance that it did work on a previous run of `firebase` that it needed to print the message, and when `firebase` was run again, even after the upgrade, it printed the message (before making any more c

[2019-06-17 16:51] peterennis commented on #1408
@bkendall
Yes, it came up immediately after upgrading.
I have seen it on other version upgrades also.

[2019-06-17 16:51] samtstern commented on #1303
@therefromhere I have submitted a docs change, it will go live probably tomorrow.
@matheo that's a great idea, let me file a new issue for that.

[2019-06-17 16:51] #1303 closed

[2019-06-17 16:54] samtstern opened #1409 "Document complete schema for `firebase.json`"
Originally suggested by @matheo here:
https://github.com/firebase/firebase-tools/issues/1303#issuecomment-502407506

We should document the complete schema of `firebase.json` in both human-readable and machine-readable formats.  This file has expanded a lot and it's not always clear what's there and what the defaults are.

[2019-06-17 16:58] bkendall commented on #1408
Yeah, I figured.

I'll leave this open as a small-ish feature request. Basically, I think we could be _slightly_ smarter around the `update-notifier` logic. To replicate it reliably, the cache that `update-notifier` will have to be cleared/populated at the right time, something like:

1. Clear the `update-notifier` cache (I _think_ it lives in the home directory somewhere - would have to dig)
1. S

[2019-06-17 17:25] mbleigh commented on #1373
Thanks for the feedback, folks. We're talking through how we might address this issue. The problem is that since our different runtimes are in different release stages (Node.js 8 is general availability, Node.js 10 is beta), we very much want to avoid accidentally selecting the wrong runtime via e.g. an unexpectedly loose semver string.

That being said, we also don't intend to break people using

[2019-06-17 17:33] bkendall commented on #1407
Huh, I can replicate this (though, I have to make sure my database has some activity - in the console is fine). I will see if someone will take a closer look...

[2019-06-17 17:41] samtstern commented on #1404
@aputinski thanks for filing the issue with a detailed test case!  Let me see if I can figure out what's going on.

[2019-06-17 17:48] mbleigh commented on #1373
FWIW we weren't trying to to be non-conformant, and the guidance [on NPM's website](https://docs.npmjs.com/about-semantic-versioning#using-semantic-versioning-to-specify-update-types-your-package-can-accept) seems to indicate that bare integer values *should* be interpreted as "any minor version in that major".

But clearly something is being either miscommunicated or there's a bug in some underly

[2019-06-17 17:55] mbleigh commented on #1373
I'm leaning more and more toward bug in an underlying system. To anyone experiencing this issue: are you using Yarn to manage packages locally? Can you provide me with the full output from `firebase deploy --debug`?

[2019-06-17 18:04] ryanmtaylor commented on #1404
From what I noticed, this happens in firebase-admin@8.1.0 but not firebase-admin@7.4.1 and it has to do with the `@grpc/grpc-js` module

[2019-06-17 18:27] samtstern commented on #1404
@ryanmtaylor thanks that makes sense actually.  We have code to try and detect your dependencies and stub out some grpc code, I guess we got it wrong for `grpc-js`.

[2019-06-17 18:33] IanWyszynski commented on #1407
This problem doesn't seem to come up when I write paths with just one component at the root of the database. It did come up when I tried writing deeper paths (1 level of hierarchy seems to be enough). I need to investigate more though, because writing a single deep path during a short profiler run doesn't seem to trigger this bug (time - or potentially the number of datapoints recorded seems to be

[2019-06-17 19:04] audkar commented on #653
Does anyone managed to tackle this problem? Sharing simple example project would be very useful.

[2019-06-17 19:24] IanWyszynski commented on #1407
I was also able to tease out this:
[code]

[2019-06-17 20:40] samtstern commented on #1404
This turned out to be a simple fix, thanks for making it so clear!

[2019-06-17 21:47] aputinski commented on #1404
Thanks for the quick fix! Any idea when this fix will be published?

[2019-06-17 21:52] #1404 closed

[2019-06-17 21:53] samtstern commented on #1404
@aputinski it's merged and will be part of the next patch release. No promises on timeline but we seem to do one of those almost every week.

[2019-06-17 22:55] tylerburleigh commented on #1373
I don't think I'm using Yarn. I don't use Node.js much but I installed everything with npm.

Here's debug output with `"node": "8"`:

[code]

[2019-06-17 23:19] jthegedus commented on #653
@audkar Currently I just use [lerna.js.org](https://github.com/lerna/lerna) and it's `run` command to execute an npm script in each subfolder with this folder structure:

[code]

Ensuring the `firebase.json` files for each service don't stomp on one another is left up to the user. Simple conventions of using [function groups](https://firebase.google.com/docs/cli/#deploy_specific_functions) and [mu

[2019-06-18 00:06] audkar commented on #653
@jthegedus thank you for your reply. But I think issue of this ticket is different. I am trying to use yarn workspaces. And seems that firebase tools doesn't pickup symlink dependencies when uploading functions

[2019-06-18 00:09] jthegedus commented on #653
Ah fair enough, I've avoided that rabbit hole myself

[2019-06-18 01:52] dinvlad commented on #653
Could you elaborate what the issue is? As mentioned above, I just use bare Yarn with ’api` and `app` workspaces in it, and I build them using `yarn api build && yarn app build` (with `build` script specific to each workspace). The build scripts
1) compile TS code with `outDir` into `api/dist` and `app/dist` respectively
2) copy the corresponding `package.json` files into `dist` directories
3) copy

[2019-06-18 01:58] dinvlad commented on #653
Also, I might be wrong but I think the `firebase deploy` script doesn’t actually use your `node_modules` directory. I think it just picks up the cod, `package.json`, and `yarn.lock` from the `dist` directories, and does the rest.

[2019-06-18 02:32] samtstern commented on #653
That's true.  The default value of "functions.ignore" in firebase.json is
["node_modules"] so it's not uploaded.  I believe you can override that
though if you want to ship up some local modules.

On Mon, Jun 17, 2019, 6:58 PM Denis Loginov <notifications@github.com>
wrote:

[2019-06-18 03:35] jthegedus commented on #653
@dinvlad Yes, it requires the `package.json` and whichever lock file you use as it installs deps in the cloud post deployment.

I believe the scenario originally outlined in the other issue was using a shared package within the workspace and some issues with scope-hoisting. As I was not using yarn this way I can only speculate from what I have read there.

[2019-06-18 03:42] dinvlad commented on #653
@samtstern @jthegedus thanks, good to know!

[2019-06-18 06:00] tmcf opened #1412 "firebase emulators:start can't use production firestore but functions:shell can. (GOOGLE_APPLICATION_CREDENTIALS)"
Hi,

Locally emulated firebase cloud functions that access the production firestore work ok when using `firebase functions:shell` but not `firebase emulators:start --only hosting, functions`.

This may have something to do with GOOGLE_APPLICATION_CREDENTIALS being set to "" in [functionsEmulatorRuntime.ts](https://github.com/firebase/firebase-tools/blob/589387b79a9c07f4811ab35201ced1bb84e66e72/src

[2019-06-18 07:26] audkar commented on #653
Seems we all talk about different problems. I will try to describe `yarn workspaces` problem.

#### Problematic project
project layout
[code]
_./package.json_
[code]
_functions/package.json_
[code]
#### Problem
Error during function deployment:
[code]
Functions works fine locally on emulator.
#### Solutions tried
Uploading `node_modules` (using `functions.ignore` in _firebase.json_). Result is sam

[2019-06-18 13:17] dinvlad commented on #653
Could you try placing `firebase.json` at the root folder, instead of the `functions/`? And then also point to the functions distributable folder in `firebase.json`.

[2019-06-18 13:20] dinvlad commented on #653
Sorry, could you clarify which folder your `firebase.json` lives in (and show its configuration section for `functions`)?

[2019-06-18 13:49] audkar commented on #653
_firebase.json_ was in root folder. Configuration was standard. Smth like this:
[code]
everything was deployed as expected (including _node_modules_) except `node_modules/utilities` which is symlink.

--------

I manage to workaround this issue by writing few scripts which:
- create packages for each workspace (`yarn pack`). e.g. this creates _utilities.tgz_.
- moving all output to some specific d

[2019-06-18 16:14] rilian commented on #536
Last couple days deploying even hosting takes multiple minutes, when it took like 10-15 seconds couple weeks ago. Deploying functions times out as well.

And the Firebase status page is green.

Does anyone know why this happens?

[code]

[2019-06-18 19:32] compojoom commented on #1265
Can we do something about the docs? I'm not really following what's going on.
I've spent the last couple of hours wondering why a function that I'm testing doesn't write to firestore.

Now it seems pretty obvious, but yea. I was on firebase-tools 6.11 and instead of a warning that I'm not writing to the real instance I got a type error related to grpc and a call to isSecure or something.

Now I up

[2019-06-18 19:47] samtstern commented on #1265
@compojoom really sorry about this mess!  Your credentials issue will be solved once this PR is included in a release:
https://github.com/firebase/firebase-tools/pull/1410

[2019-06-18 19:55] compojoom commented on #1265
@samtstern - ah okaaaay! I always wonder why do I  find those things right before you guys release a fix for them. Can't I find them after the fix is being released? :D:D:D

[2019-06-19 03:02] IanWyszynski commented on #1407
The problem here is that some operations introduced in https://github.com/firebase/firebase-tools/pull/1226 (e.g. listener-unlisten, listener-listen) do not have `path`s defined in their profiler record. The root cause of this problem is that lodash's `keys` function behaves as follows:
[code]
Here is the sequence of events:
-  The null key, becomes the string 'null' on this line: https://github.c

[2019-06-19 03:51] IanWyszynski commented on #1407
The profiler also appears to be emitting some 'rest-read' events without any `path` fields:
[code]

[2019-06-19 19:29] aputinski opened #1417 "Firestore triggers broken in emulator"
### [REQUIRED] Version info

**node:** 10.15.3

**firebase-functions:** 3.0.0

**firebase-tools:** 7.0.0

**firebase-admin:** 8.0.0

### [REQUIRED] Test case

https://github.com/aputinski/firebase-functions-test-case

### [REQUIRED] Steps to reproduce

See README in repo above

### [REQUIRED] Expected behavior

[code]

### [REQUIRED] Actual behavior

[code]

It looks like the data and context are

[2019-06-19 20:46] aputinski commented on #1417
Thanks!

[2019-06-19 20:47] thechenky commented on #1417
@samtstern FYI, I think this is similar to the issue with RTDB triggers in emulation we discussed yesterday. Let me know how I can help!

[2019-06-19 21:11] samtstern commented on #1417
@aputinski this comes from using `firebase-functions` 3.x with the current emulators.  We're working on a fix already, thank you for reporting!

[2019-06-19 21:14] aputinski commented on #1417
So if I use `firebase-functions@2.3.1` with `firebase-tools@7.0.0` everything will work?

[2019-06-19 21:18] samtstern commented on #1417
@aputinski yes I think it would.

[2019-06-20 06:04] oksiweb commented on #78
tha same for me

[2019-06-20 06:17] oksiweb commented on #426
Have the same on node v10.15.3 (npm v6.4.1)

[2019-06-20 06:21] berhalak commented on #700
Currently I have the same issue, but it affects Windows cmd and Powershell. Tested on node 8.16 with firebase-tools 7.0.0

[2019-06-20 06:32] lzl124631x opened #1418 "can't select default project."
### [REQUIRED] Environment info

**firebase-tools:**
[code]

**Platform:** macOS

[code]
I'm stuck at "Select a default Firebase project for this directory". I can't press any key, even `ctrl+c` doesn't work.

[code]

[2019-06-20 06:44] rumaan commented on #1418
Yeah, same here. The CLI just freezes.

[2019-06-20 06:54] RobHumphris commented on #426
Have the same on node v12.4.0 on Ubuntu

[2019-06-20 07:42] MattOlson7 commented on #426
Having the same issue using Node v11.14.0, and npm v6.9.0 on Windows 10

[2019-06-20 07:44] OhkuboSGMS commented on #1418
win10 node v8.16.0 npm 6.4.1

Same here, and I test  `firebase init`  some version .

v.7.0.0 v6.12.0  not work.
but v.6.11.0 work.

I hope this information helps

[2019-06-20 07:48] rumaan commented on #1418
@OhkuboSGMS Thanks! **v6.11** worked for me. 👍

[2019-06-20 07:55] kayzkenny commented on #426
Having the same issue using Node v10.16.0, and npm v6.9.0 on Windows 10

[2019-06-20 08:05] xxyyzz2050 opened #1419 "unclear error message "Provided code is not a loadable module""
when I deploy my project to firebase using firebase-tools CLI, I got the following unclear error message

[code]

what does this error message mean, and how to fix it?

**function**
functions/index.js
[code]
repo: https://github.com/xxyyzz2050/eldeebCMS
script: `npm run start:firebase` = `npm run build:firebase` + `npm run serve:firebase`

**note**
`firebase serve` works fine

**edit**
I fixed the

[2019-06-20 08:41] jackfrost13 commented on #426
Having the same issue using Node v12.4.0 and npm v6.9.0 on Linux Ubuntu 19.04
Here is the debug log after which the terminal gets stuck

[debug] [2019-06-20T08:37:10.953Z] ----------------------------------------------------------------------
[debug] [2019-06-20T08:37:10.956Z] Command:       /home/jackfrost/.nvm/versions/node/v12.4.0/bin/node /home/jackfrost/.nvm/versions/node/v12.4.0/bin/firebase

[2019-06-20 09:02] vladmarton commented on #426
Is anyone looking at this?
I tried node versions:
- 8.1
- 8.3
- 8.9.4
- 10.16
- 12.4

and had the same problem on all of them. I'm running Ubuntu and i tried to install them with both distributions and nvm.

@laurenzlong you claim that it's a node-related issue, but it seems like the problem is at your end, considering all the input from other people

[2019-06-20 09:02] vladmarton commented on #426
Is anyone looking at this?
I tried node versions:
- 8.1
- 8.3
- 8.9.4
- 10.16
- 12.4

and had the same problem on all of them. I'm running Ubuntu and i tried to install them with both distributions and nvm.

@laurenzlong you claim that it's a node-related issue, but it seems like the problem is at your end, considering all the input from other people

[2019-06-20 09:03] triay0 commented on #78
Same for me
NPM v 6.9.0
node v10.15.0

[2019-06-20 09:03] kendji commented on #426
v11.13.0
v10.15.0

[2019-06-20 09:15] Na1bi commented on #426
Same issue here.
node v10.15.1
npm v6.9.0

[2019-06-20 09:18] alexkasongo commented on #426
just ran into that isue
node v10.15.3
npm v6.9.0

[2019-06-20 09:18] vladmarton commented on #426
### Temporary solution

Older versions of **firebase-tools** work fine. Until this problem is fixed, try:
`npm remove -g firebase-tools
npm install -g firebase-tools@6.3.0`

More info here (tab **Versions**): https://www.npmjs.com/package/firebase-tools

[2019-06-20 09:21] divyeshjethwa commented on #426
@vladmarton not working with 6.3.0

[2019-06-20 09:22] vladmarton commented on #426
Try older versions then, or try versions that are between 6.8.0 and 6.3.0, maybe one of them will work.

[2019-06-20 09:53] triay0 commented on #700
https://github.com/firebase/firebase-tools/issues/426#issuecomment-503949030

Worked for me

[2019-06-20 10:54] AhmedVohra commented on #426
Working with 6.3.0
Thanks a lot!

[2019-06-20 12:38] codersguild opened #1420 "Firebase-tools init commands fails on the second step on Windows and Linux platform. Terminal Freezes."
### [REQUIRED] Environment info

**firebase-tools:** firebase-tools version 7.0.0 (```$ firebase -v```, ```7.0.0```.)
**Node.js :** v12.4.0
**npm :** v6.9.0

**Platform:** Windows 10 ```Build 1903```. Ubuntu 19.04 ```Linux Kernel 5+```.

### [REQUIRED] Test case

Failure on second step of  ```sudo firebase init```.
Install Command ```sudo npm -g firebase-tools``` followed by ```sudo firebase login

[2019-06-20 12:43] codersguild commented on #1420
Is it a problem with ```Node.js v12.04``` or ``npm``` itself? I need to get ```firebase``` up and running.

[2019-06-20 13:04] mustafa-alfar commented on #440
The problem is still countering me, I've tried nodejs version 8, 10 and 8 also doesn't work.
is there any suggestion ?

[2019-06-20 13:07] waswrongassembled commented on #1420
Same here under OSX 10.14.5 (18F132).

[2019-06-20 13:21] xxyyzz2050 opened #1421 "Could not find trigger a function even it exists"
I managed my project structure to combine all firebase files into one directory called firebase, except firebase.json
so my firebase.json is look like:
[code]

and my functions are in `firebase/functions/index.ts`
but, when I run `firebase serve` it works fine and I can see my index.html, but with an error: Could not find trigger "test" in your functions directory.

when I change functions.source

[2019-06-20 13:28] mustafa-alfar commented on #1420
I'm facing the same problem,
I'm using,
macOS, nodejs : v12.4.0, npm: 6.9.0, firebase: 7.0.0,
on the option >  Select a default Firebase project for this directory: (Use arrow keys)
the terminal freezes,

[2019-06-20 14:35] waswrongassembled commented on #1420
[Temporary workaround](https://www.google.com/url?q=https%3A%2F%2Fgithub.com%2Ffirebase%2Ffirebase-tools%2Fissues%2F426%23issuecomment-503949030&sa=D&sntz=1&usg=AFQjCNFyLuUcl6-8THzcsVTsNpLf6mWLSA)

[2019-06-20 14:55] meldommer commented on #426
I'm having this problem with my terminals freezing too.  I tried cmd.exe and VS Code terminal all have the same problem.  I do firebase init in my project directory answer Yes and then when it asks which CLI features I want I cannot select anything the terminal is frozen.  It shows Database, Firestore, Functions, Hosting, and Storage.  Ctrl+C doesn't do anything etc.

node: 10.16.0
npm: 6.1.0
fire

[2019-06-20 15:00] rkpradeep20 commented on #1420
I'm facing the same problem too. The terminal is taking in the command on the first try but then when the next input request comes in it fails.

The following is how I configured my project:

I init firebase functions with the project name using the following command

`firebase init functions -P ***ProjectName***`

Then the following request Javascript or Typescript

------------------------------

[2019-06-20 15:00] LewisS303 commented on #426
Was having the same issue, just ran `npm remove -g firebase-tools && npm install -g firebase-tools@6.3.0` and all was solved, then once installed upgraded to the latest version again.

[2019-06-20 15:20] Wackytoaster commented on #426
6.3.0 works for me, thanks a ton!

[2019-06-20 15:24] skyfe79 commented on #1418
@OhkuboSGMS Thanks! v6.11 works!
[code]

[2019-06-20 15:38] ablenesi commented on #440
I'm facing the same issue tried multiple nodejs versions 8 10 12 none of them works

[2019-06-20 15:38] mbleigh commented on #440
@mustafa-alfar @ablenesi I think #1420 is probably the bug to track for updates here. This bug is old and closed.

[2019-06-20 15:39] samtstern opened #1422 "[Tracking Bug] Multiple issues with "firebase init" listing projects"
There have been a number of issues today about `firebase init` failing to complete, mostly centered around listing projects.  Using this as a central issue to discuss and coordinate.

[2019-06-20 15:39] samtstern commented on #1422
Actually nevermind let's use #1420 as the canonical issue.

[2019-06-20 15:39] #1422 closed

[2019-06-20 15:39] mbleigh commented on #426
This seems to be a problem with the backend project listing API. 6.3.0 works because it uses a legacy API that may not be affected by the problem. We're investigating.

[2019-06-20 15:40] samtstern commented on #1418
@lzl124631x thanks for raising this!  Let's use #1420 to track this issue.

[2019-06-20 15:40] #1418 closed

[2019-06-20 15:40] samtstern commented on #1420
In https://github.com/firebase/firebase-tools/issues/1418 we have some reports that CLI verion `6.11.0` works but `7.0.0`+ does not.

[2019-06-20 15:41] samtstern commented on #426
You can track the status of this issue with #1420

[2019-06-20 15:42] samtstern commented on #700
@berhalak and @triay0 there seem to be some issues with `firebase init` today, please track #1420 for more information.

[2019-06-20 15:43] samtstern commented on #78
@oksiweb and @triay0 please track issue #1420 for updates about a possible issue today.

[2019-06-20 15:43] mbleigh commented on #1420
A couple questions:

1. Can you please try again and see if it's still not working?
2. If not, where (geographically) are you trying to run the command?

We believe this is an issue with the project listing API that may only be affecting certain customers in Europe. We're still investigating.

[2019-06-20 16:08] rkpradeep20 commented on #1420
My project is configured to Indian Servers.

[2019-06-20 16:10] samtstern commented on #1420
@rkpradeep20 thanks!  Our new theory is that this is caused by a possibly buggy update to the library we use for local prompts.  If that's it, we can get an update out very soon.

[2019-06-20 16:35] rkpradeep20 commented on #1420
My project is configured to Indian Servers.

Thank you.

[2019-06-20 16:55] bkendall commented on #1420
Thank you for all your patience. The fix has been made and released in `v7.0.1`, please upgrade to it (`npm i -g firebase-tools@latest`). If you're still seeing the issue on that new version, please let us know.

[2019-06-20 16:55] #1420 closed

[2019-06-20 17:53] samtstern commented on #1419
@xxyyzz2050 can you explain what you did to fix this issue?

[2019-06-20 18:33] Na1bi commented on #1420
Works for me, thanks for the quick fix!

[2019-06-20 18:45] waswrongassembled commented on #700
An update has been published for CLI version 7.0.1, and that probably includes the fix on that issue. Update the CLI to the latest version by running npm install --global firebase-tools@latest ... should work.

[2019-06-20 19:01] samtstern commented on #1265
@compojoom version `7.0.1` includes the fix here.  However the *next* version will also include compatibility with `firebase-functions` version `3.x`.  Right now that's broken and a known issue.

[2019-06-20 19:45] compojoom commented on #1265
awesome! thanks! We are still on v2 of the functions, so all good for now.

[2019-06-20 20:00] hemangichavan commented on #1420
Thank you @bkendall , it worked for me in different issue "cursor is not moving while selecting firebase CLI feature" .

[2019-06-20 20:01] hemangichavan commented on #1420
Thank you @bkendall , it worked for me in different issue "cursor is not moving while selecting firebase CLI feature" .

[2019-06-21 05:10] codersguild commented on #1420
Thanks

[2019-06-21 13:59] kanaksinghal opened #1426 "functions:shell command does not starts Firestore Emulator with specified port"
No matter what port is been set by `--port` argument (even default 5000), the emulator always starts with **given port number plus one**

### [REQUIRED] Environment info

**firebase-tools:** v7.0.1

**Platform:** macOS v10.14.4

### [REQUIRED] Test case

`firebase functions:shell --port 4999`

### [REQUIRED] Steps to reproduce

`firebase functions:shell --port 4999`

### [REQUIRED] Expected behavi

[2019-06-21 14:02] kanaksinghal commented on #1426
Added info

[2019-06-21 15:34] samtstern commented on #1426
@kanaksinghal did this work in a previous version of `firebase-tools` and stopped working recently?  Also can you explain why you need to set the port of the emulator in `functions:shell`?  We intend for that to be an implementation detail.

[2019-06-21 16:45] kanaksinghal commented on #1426
I tested it in previous versions, and found it was working correctly until `v6.8.0`.
I do not want to explicitly set the port; we were expecting the emulator to run on default port 5000 (as it shows in `--help`) but then it started running on 5001.
So we tried to explicitly specify the port by `--port 5000` but still emulator was using 5001 then we tried setting 5050 and it started on 5051

[2019-06-21 16:47] samtstern commented on #1426
Ok good to know, we can fix this.  Just curious, what do you use the port for while using the shell?  I would expect people only to care about the port when using `firebase serve` or `firebase emulators:start`

[2019-06-21 16:55] nelsojona commented on #1373
Hey guys, I figured this out on my MAC machine.

Here's what I did:

1. uninstall node completely with the commands:

curl -ksO https://gist.githubusercontent.com/nicerobot/2697848/raw/uninstall-node.sh
chmod +x ./uninstall-node.sh
./uninstall-node.sh
rm uninstall-node.sh

2. "brew unlink node", then "brew install node@8", then "brew link node@ --force"

3. Verify package.json set to:

"engines":

[2019-06-21 17:40] rnarkk opened #1427 "[7.0] Why `firebase serve` runs index.js every time it receives requests?"
### [REQUIRED] Environment info

**firebase-tools:**
7.0.0

**Platform:**
Debian 9
### [REQUIRED] Test case

### [REQUIRED] Steps to reproduce

### [REQUIRED] Expected behavior

### [REQUIRED] Actual behavior

[2019-06-21 17:43] samtstern commented on #1427
There is not really any information here but taking a guess and marking this as a duplicate of #1353

[2019-06-21 17:43] #1427 closed

[2019-06-21 18:54] mbleigh commented on #1373
@tylerburleigh you need to update your local Node version -- you have `8.9.4` but `grpc-js requires `8.13.0 or greater

[2019-06-21 19:12] samtstern commented on #1323
After talking to the team, we are going to move away from `firebase serve` for anything besides hosting and functions (since it was originally build for those) and therefore encourage those who want to start the Firestore emulator on a specific port to use the `emulators:start` command in conjunction with `firebase.json` config.

To hold up our end of the bargain, we plan to have greatly expanded

[2019-06-21 19:12] #1323 closed

[2019-06-21 19:31] vsimon commented on #1323
ok, cool.

[2019-06-21 20:25] abeisgoat commented on #1412
Hey @tmcf,

Thanks for the thorough bug report!

As you may have suspected from the code comments, this is definitely intentional, however still poorly documented and without an easy work-around.

When using `emulators:start` we want to keep people inside the local emulation environment unless they specifically ask to be broken out. Right now, you can ask to contact production by manually restorin

[2019-06-21 20:25] #1412 closed

[2019-06-21 20:34] abeisgoat commented on #1419
Doing a bit of Googling, I can't find any reference to this error anywhere on the internet, which means it's probably from an internal Google service. That's definitely outside my area, but I get the feeling this isn't something easily fixed. If the code isn't a module, we can't really tell you why, we just know it isn't.

[2019-06-21 20:35] abeisgoat commented on #1417
@aputinski I have nothing to contribute, but hi Adam! Glad to see you're still using Firebase after all these years :)

[2019-06-21 20:36] abeisgoat commented on #1421
Can you provide the full output you see when running `firebase serve`?

[2019-06-21 20:36] samtstern commented on #1419
I am pretty sure this error comes from here:
https://github.com/GoogleCloudPlatform/functions-framework-nodejs/blob/2dcb838175c228da2b8ae8f652708a717c6e2f12/src/invoker.ts#L155

But AFAIK the framework is only use in Node 10+ which is why I asked about the node version.

[2019-06-21 21:16] aputinski commented on #1417
@abeisgoat I'll always be a Firebaser 🔥

[2019-06-22 00:32] #1417 closed

[2019-06-22 06:42] vaibhavgehani opened #1430 "Getting error in login to Firebase"
`[debug] [2019-06-22T06:28:48.075Z] ----------------------------------------------------------------------
[debug] [2019-06-22T06:28:48.079Z] Command:       C:\Program Files (x86)\nodejs\node.exe C:\Users\intel\AppData\Roaming\npm\node_modules\firebase-tools\lib\bin\firebase.js login
[debug] [2019-06-22T06:28:48.079Z] CLI Version:   7.0.1
[debug] [2019-06-22T06:28:48.079Z] Platform:      win32
[de

[2019-06-22 06:53] vaibhavgehani commented on #227
`[debug] [2019-06-22T06:28:48.075Z] ----------------------------------------------------------------------
[debug] [2019-06-22T06:28:48.079Z] Command:       C:\Program Files (x86)\nodejs\node.exe C:\Users\intel\AppData\Roaming\npm\node_modules\firebase-tools\lib\bin\firebase.js login
[debug] [2019-06-22T06:28:48.079Z] CLI Version:   7.0.1
[debug] [2019-06-22T06:28:48.079Z] Platform:      win32
[de

[2019-06-22 09:28] xxyyzz2050 commented on #1421
repo: https://github.com/xxyyzz2050/eldeebCMS
script:  `npm run serve:firebase`

`firebase serve` itself works fine, but the problem is that when I route to /articles it should send an http request to the expressjs server via the function `ssr`.
it works outside firebase serving (i.e: `npm run serve:server`) and can response with the correct data.

![image](https://user-images.githubusercontent.co

[2019-06-22 09:52] xxyyzz2050 commented on #1419
also this error appears when you specify a sub-dir in functions.source in firebase.json
example:
[code]

[2019-06-22 13:19] michalwa opened #1431 "firebase deploy unexpected error EPIPE"
Same issue: #1236 but I thought I'd reopen this with my info.

### [REQUIRED] Environment info

**firebase-tools:** 7.0.1

**Platform:** Windows

### [REQUIRED] Test case

`firebase init` with default settings and an existing Firebase project

### [REQUIRED] Steps to reproduce

1. `$ firebase init` in an empty directory; choose an existing Firebase project, leave all settings at default
2. `$ fire

[2019-06-22 13:22] jimmont commented on #517
`ndb firebase serve` allows me to debug my firebase functions (hit `debugger` breakpoints and see stack traces) as with the previous `functions inspect FUNCTION-NAME` which is replaced by the functions-framework (as I understand it anyhow). Per https://cloud.google.com/functions/docs/functions-framework I was able to debug functions in isolation using `GCLOUD_PROJECT=FIREBASE-PROJECT node --inspec

[2019-06-22 13:54] kanaksinghal commented on #1426
Oh, we could do `firebase serve` but we just like to have a shell open too, just in case, so we majorly do `functions:sell` instead

[2019-06-22 15:18] JayPerfetto commented on #1317
I did this and am still getting this error even on the latest version of all firebase packages

[2019-06-23 22:32] cristiaan05 commented on #896
I have the same error but I cannot fix it.

[2019-06-24 05:56] SilentByte commented on #1317
I started getting this error out of nowhere last night. After some digging around, the cause might have been a mismatch in the versions of node. I got it working again by removing package-lock.json.

Alternatively, ensure that you are running the same node version. In my case, I downgraded from 12 to 10 locally and set "engines" in package.json to 10 as well.

[2019-06-24 13:02] olaven opened #1432 "Firestore emulator crashes"
Hi,

After updating to version `7.0.1`, the emulator crashes when I try to start Firestore.

Reproducing:
`npm i -g firebase-tools@7.0.1`
`firebase serve --only firestore`
Error:
`Error: firestore: emulator has exited with code: 1`

Any help would be greatly valued😄

Olav

[2019-06-24 15:34] samtstern commented on #1432
@olaven can you run the command with `--debug` and show the output?

[2019-06-24 16:34] samtstern commented on #1317
I recently got this error once as well but I ran `firebase deploy` a second time and it went away ...

[2019-06-24 16:55] samtstern commented on #1426
@kanaksinghal that's really interesting, I never thought of using `functions shell` as a superset of `serve`.  This will be fixed by #1428

[2019-06-24 17:13] olaven commented on #1432
Thank you for replying.

I ran with `--debug` and from the logging, I realised that I was running something on the port already. Sorry about that.

However, perhaps this should be reflected in the error?

[2019-06-24 17:17] samtstern commented on #1432
@olaven ah this is an issue where `firebase emulators:start` has a nice error but `firebase serve` does not.  Here's a comparison:

emulators:start
[code]

serve
[code]

I will try and make this better, thanks for noticing!

[2019-06-24 17:54] mayurdhurpate commented on #683
Just ran into this problem today. In my previous working codebase, I was unable to add and deploy a new Cloud Function.

What makes this issue harder to debug is that terminal output seems to show/infer that the older Cloud functions are getting detected and deployed perfectly implying some issues in the newly written Cloud Function.  Would be great if we can solve this one, esp. for those onboard

[2019-06-24 19:50] abeisgoat commented on #1421
Gotcha, so to be clear, you're hitting a `:5000` URL and expecting your `ssr` function to be triggered, but not seeing that happen?

[2019-06-24 19:55] abeisgoat commented on #1430
Please follow the issue report format.

[2019-06-24 19:55] #1430 closed

[2019-06-24 20:33] bkendall commented on #1357
So, to be very clear, your `firebase.json` does not have [a predeploy block](https://github.com/bkendall/studious-succotash/blob/master/firebase.json#L3)?

Both `other` and `nestedOperation`. Both succeeded.

[2019-06-24 20:35] bkendall commented on #1409
Related: https://firebase.google.com/docs/cli/#the_firebasejson_file

[2019-06-24 21:10] inorganik commented on #1357
I'm surprised they both succeeded. I was looking at your tsconfig and saw one difference. You might try adding `"lib": ["es2017", "dom"],` under `compilerOptions` and see if you can still deploy the callable.

Looks like I do have some predeploy commands, just lint and build.

[code]

[2019-06-24 21:15] #1346 closed

[2019-06-24 21:20] bkendall commented on #227
@vaibhavgehani please open a new issue with all the appropriate information. Thanks.

[2019-06-24 21:24] bkendall commented on #1431
This is a strange error that I am unable to replicate.

Can you confirm that you have the appropriate permissions on the project you are trying to run the CLI on? Are you an owner of that project?

[2019-06-24 21:26] bkendall commented on #896
@cristiaan05 please open a new issue with the appropriate information. Thanks.

[2019-06-24 21:37] bkendall commented on #1357
Adding those `lib` arguments did not cause the issue. It's possible that there's some file conflicting in the output directory (`lib/`) that could be causing the issue? I assume you've removed the `lib/` folder, re-created it, and deployed?

I'm running pretty thin on ideas. Without sitting at the same terminal and debugging (or a reliable repro), it's pretty hard to nail this one down. If you hav

[2019-06-24 21:50] michalwa commented on #1431
Yes, it's a clean project I created.

[2019-06-24 21:55] inorganik commented on #1357
Yea. The only other thing is the callable function imports functions from other files in the same folder. It's ok if you want to close this, as I have a workaround (export separately).

[2019-06-24 21:56] inorganik commented on #1357
nevermind, already closed ;)

[2019-06-24 22:20] cristiaan05 opened #1435 "command firebase login doesn´t work"
<!--
Thank you for contributing to the Firebase community!

Think you found a bug?
=======================
Yeah, we're definitely not perfect! Please use this template and include a minimal repro when opening the issue. If you know how to solve the issue, please create a Pull Request, and we'd be happy to review it!

Have a feature request?
========================
Great, we love hearing how we ca

[2019-06-24 22:39] bkendall commented on #1435
Please open a new issue with all the required information.

[2019-06-24 22:39] #1435 closed

[2019-06-25 03:25] bhekanik commented on #1421
If I understand you correctly then this will help you.

First run `npm run lint` then run `npm run build` this will lint and then compile your typescript into JS in the lib folder then you can `firebase serve`.

[2019-06-25 03:36] bhekanik commented on #1421
If I understand you correctly then this error is because you're not compiling your typescript to JavaScript first.

So first run `npm run build` this will compile your typescript into JS then you can `firebase serve`. Make sure that you're pointing to the correct source and target in your `tsconfig.json` file.

[2019-06-25 10:39] xxyyzz2050 commented on #1421
there is a predeploy property witch runs `tsc` before deploying the project, and the 'main' property in package.json already mention the output index.js file @bhekanik

[2019-06-25 17:19] abeisgoat commented on #1431
@bkendall There's only one reference to `JSON.parse` in `checkFirebaseSDKVersion.ts` and it's attempting to parse the result from `npm outdated`. I wonder if there isn't some failure condition where `npm` returns a non-json result which causes us to implode.

[2019-06-25 17:20] abeisgoat commented on #1421
The predeploy hook does not run when emulating the functions, you'll need to manually invoke your build script with [`npm run build`

[2019-06-25 17:29] abeisgoat commented on #1315
Please follow the issue template.

[2019-06-25 17:29] #1315 closed

[2019-06-25 17:32] abeisgoat commented on #1419
So this isn't an issue for `firebase-tools` really because if anything, it's a `functions-framework` bug. Regardless, @xxyyzz2050 says it was user error and since they haven't responded to explain what they did to fix it, i can't really help to improve the error because a module could be invalid for many specific reasons. So I'm gonna close this, but feel free to reopen @xxyyzz2050 if you feel lik

[2019-06-25 17:32] #1419 closed

[2019-06-25 17:33] abeisgoat commented on #1310
That's not a bad idea, I already did a pass on improved errors for Typescript, but that seems like a cheap / easy fix, so I'll probably drop it in in my next set of logging improvements.

[2019-06-25 17:43] abeisgoat commented on #758
Hey folks -

This bug related to the legacy Cloud Functions emulator's hot-reloading ability. As of May '19 we no longer use `google-cloud/functions-emulator` in `firebase-tools` so this changes the nature of the bug (I believe the new nature is that it does not exist).

I appreciate everyone working hard and figuring out workarounds and finally our new emulator should allow for any transpiled lan

[2019-06-25 17:43] #758 closed

[2019-06-25 17:44] mhuebert commented on #1288
I found this issue via https://stackoverflow.com/questions/56587770/firebase-functionsshell-onwrite-property-undefined - but I'm not sure if it is precisely the same issue, or not, so making a quick note here.

I am not able to run RTDB functions in the shell, `context` is undefined on this line:
[code]
(see https://github.com/firebase/firebase-functions/blob/v3.0.1/src/cloud-functions.ts#L243)

[2019-06-25 17:46] abeisgoat commented on #1022
I'm going to close this issue as it relates to the legacy functions emulator backend. We've swapped this out so at the very least the nature of this bug has changed. I believe we've decided a good path forward (explicitly not handling watchers / compilation for compile-to-JS languages) so this is kinda a wontfix and kinda just outdated. If anyone feels like starting this discussion again, please o

[2019-06-25 17:46] #1022 closed

[2019-06-25 17:51] abeisgoat commented on #508
This has been dramatically improved with the new emulator backend. Please re-open if you're still experiencing, however I suspect it will be a non-issue now.

[2019-06-25 17:51] #508 closed

[2019-06-25 17:51] samtstern commented on #1288
@mhuebert if you're using firebase-tools 7+ and firebase-functions 3+ that is a known issue at the moment.  Downloading either the CLI to 6.11.0 or firebase-functions to 2.3.1 will solve your issue for now.

[2019-06-25 17:52] bhekanik commented on #1421
@abeisgoat I agree with you that you have to run it manually when emulating the functions. I encountered a similar issue some time ago and on inspecting, I realised that the `lib/index.js` was not being updated unless I run `npm run build` manually (in my case I was also running `npm run lint` before `npm run build`). So to save myself the pain of running all those steps one by one I changed the s

[2019-06-25 17:54] abeisgoat commented on #535
Hey everyone!

Thanks for all the feedback on this issue. In May '19 we replaced the existing functions emulator with a completely rewritten backend which at the very least will change the nature of this bug and probably makes it entirely obsolete.

As a result, all solutions / information in this thread is no longer relevant (as it's specific to the old backend). So I'm going to close this issue.

[2019-06-25 17:54] #535 closed

[2019-06-25 18:00] michalwa commented on #1431
I tried running `npm outdated firebase-tools` in the `/functions` subdirectory as well as `npm outdated -g` with and without `--json=true` and all output nothing. That might be the source of the problem.

[2019-06-25 18:01] abeisgoat commented on #1017
This bug was fixed when we released the new functions emulator backend. When supplying a region, it will now be in the URL like `http://localhost:5000/project_id/asia-northeast1/helloWorld`

[2019-06-25 18:01] #1017 closed

[2019-06-25 18:03] abeisgoat opened #1436 "Functions emulator does not print updated HTTPS urls on region change"
1. Make an HTTPS function with no region
2. See the URL default to "us-central1"
3. Change the code to have `functions.region("asia-northeast1").https.onRequest`
4. The new URL is never printed.

[2019-06-25 18:06] abeisgoat commented on #1032
Currently when there is a port collision on the new functions emulator, it dies with `An unexpected error`. So this issue still exists, but in a slightly different form.

[2019-06-25 18:07] michalwa commented on #1431
I've also set the `engines.node` property in `functions/package.json` to `10`, as I'm using Node 10, but nothing seems to be different.

[2019-06-25 18:10] abeisgoat commented on #1373
This issue appears to be resolved. Please re-open if anyone is still experiencing issues with this.

[2019-06-25 18:10] #1373 closed

[2019-06-25 18:11] abeisgoat commented on #1421
I would recommend using `tsc -w` which automatically watches your Typescript for changes. That way you will not need to restart `serve` on each change.

[2019-06-25 18:21] bhekanik commented on #1421
Yeah, good idea. Might be a good idea to also include this in the docs, I didn't find anything in there to suggest that when you're emulating you need to compile the typescript manually (my search wasn't very thorough).

[2019-06-25 19:50] samtstern commented on #1032
@abeisgoat does my PR fix this? https://github.com/firebase/firebase-tools/pull/1433

[2019-06-25 19:55] samtstern commented on #1436
@abeisgoat do regions besides `us-central1` ever work?

[2019-06-25 22:27] samtstern opened #1439 "Improvements to emulator JAR management"
This is a follow up to https://github.com/firebase/firebase-tools/pull/1434

Once we auto-download JARs we make it easier to download them on every run without realizing you're doing it (in a CI system).  There are some QoL things we should do:

1) Clean up old JARs since we don't allow them to be used
2) If we can detect that you're in CI (like by `process.env.TRAVIS`) maybe print a loud warning

[2019-06-25 22:56] #1426 closed

[2019-06-25 23:15] merlinnot commented on #1439
`process.env.CI` is usually present in CIs. Please make it possible to skip installation of JARs, as some of us out there use Docker containers for it (downloading and running JAR files directly).

[2019-06-25 23:19] samtstern commented on #1439
@merlinnot can you explain the pattern you're using a bit more?

[2019-06-26 06:46] sgammon opened #1440 "Transaction.get/.getAll hangs forever with Firestore emulator"
### [REQUIRED] Environment info

**firebase-tools:** `6.10.0`

**Platform:** `macOS 10.14.5`

### [REQUIRED] Test case
On it!

### [REQUIRED] Steps to reproduce
1) Spin up a Firestore emulator instance
2) Start up a transaction using the Java Firestore client
3) In that transaction, before any writes, perform a `Transaction.get` or `Transaction.getAll` against one or more known-missing document re

[2019-06-26 07:02] ryanpbrewster commented on #1440
I'll try to reproduce this, thanks for the report

[2019-06-26 07:32] sgammon opened #1441 "Firestore Emulator stops working after invalid request"
### [REQUIRED] Environment info

**firebase-tools:** `6.10.0`

**Platform:** `macOS 10.14.5`

### [REQUIRED] Test case
Working on this.

### [REQUIRED] Steps to reproduce
1) Start up a Firestore Emulator
2) Try to store a document under a collection via the Java adapter, with a missing collection ID

### [REQUIRED] Expected behavior
1) Firestore Emulator should reject the request
2) Firestore Emul

[2019-06-26 07:34] sgammon commented on #1440
@ryanpbrewster thank you for the quick response, as usual! i do not expect to hear back when reporting bugs after midnight usually :)

sorry for filing two on you, but this one is the more critical one, because we are unable to use transactions when developing locally and doing `get` or `getAll` operations. OTOH this might be related to the fact that the documents *don't exit* - we're doing a user

[2019-06-26 07:37] ryanpbrewster commented on #1441
Does this happen with previous versions of the Firestore emulator?

I'm working on a repro of the other issue you filed. How are you connecting the Java SDK to the Firestore emulator?

[2019-06-26 07:45] sgammon commented on #1441
i tried to `gcloud components update`, which is how the Firestore Emulator is installed on my machine. honestly, this particular issue isn't a huge deal for us, because of course the original request was invalid and is now fixed.

the version of the Firestore client we're using is (via Gradle):
[code]

we specifically use this dependency instead of the packaged one in Firebase Admin, i think becau

[2019-06-26 07:47] sgammon commented on #1440
it is also worth mentioning that identical operations work with the emulator when not executed in a transaction.

[2019-06-26 08:05] ryanpbrewster commented on #1440
Huh, having trouble reproducing this. I'm using `"com.google.cloud" % "google-cloud-firestore" % "1.9.0"`, I'll try it with a lower version.

Here's the code I'm using:
[code]

which prints out
[code]

Do you see anything obvious that I'm doing differently?

[2019-06-26 08:12] sgammon commented on #1440
I don't see anything obvious that you're doing differently, no. I suppose I am calling the future `.get()` after wrapping it in an `ApiFutureToListenableFuture`, since we're using Guava? That's all that comes to mind at the moment but I'll dig into this.

[2019-06-26 09:08] ryanpbrewster commented on #1441
I cannot reproduce this one either (even with `firebase-tools` v6.10.0 and `google-cloud-firestore` v1.6.0). Here's the code I'm running:
[code]

and it's printing

[code]

Definitely seems like some kind of issue, based on the logs you've provided. Would you mind constructing a reproduction of the issue I could run?

[2019-06-26 16:33] samtstern commented on #1421
@bhekanik yes that's a good idea, something we should mention in the docs.
@xxyyzz2050 is your issue now resolved by the advice in this thread or are you still encountering issues?

[2019-06-26 17:11] cristiaan05 opened #1442 "Firebase login is not working"
I´ve been trying to login in with firebase command and doesn´t work. I tried with firebase login --no-localhost and firebase login --reauth. I´m very stressed about this. Please Help Me

[2019-06-26 17:14] samtstern commented on #1442
@cristiaan05 can you please tell us what part of the command doesn't work and also run the commands with `--debug` and paste the output here?

[2019-06-26 17:19] cristiaan05 commented on #1442
I'll send you a screenshot of my problem and my firebase debug.
![image](https://user-images.githubusercontent.com/36650269/60200830-220bca80-9804-11e9-9010-17f28a98cc50.png)

C:\Users\chern\OneDrive\Desktop\TournamentControl>firebase --debug
[2019-06-26T17:19:00.320Z] ----------------------------------------------------------------------
[2019-06-26T17:19:00.324Z] Command:       C:\Program Files\

[2019-06-26 17:21] samtstern commented on #1442
@cristiaan05 sorry I should have been more clear.  Run `firebase --debug login`

[2019-06-26 17:23] cristiaan05 commented on #1442
Sure.
![image](https://user-images.githubusercontent.com/36650269/60201089-c130c200-9804-11e9-877e-5cb6de5eada6.png)

[2019-06-26 17:26] samtstern commented on #1442
@cristiaan05 can you see if this works?
[code]

@bkendall I have seen two copies of this exact issue lately and I think it's related to this commit:
https://github.com/firebase/firebase-tools/commit/82bae0adc86f1d6b1562a69a174f81e3188cd42c#diff-3bbf637d3a6fe8e950d469c35444acda

[2019-06-26 17:31] cristiaan05 commented on #1442
It works, so What I have to do ?

[2019-06-26 17:34] #1032 closed

[2019-06-26 17:34] #1432 closed

[2019-06-26 17:37] samtstern commented on #1442
@cristiaan05 well really what we need to do is fix our code :-)

But in the meantime what you can do is change your `PATH` variable.  If you don't know how to do that, see this article:
https://www.computerhope.com/issues/ch000549.htm

You want to append `;C:\Windows\System32` to the end of your `PATH` variable.

[2019-06-26 17:40] cristiaan05 commented on #1442
*firebase login* command works, so thank you for your help.

El mié., 26 jun. 2019 a las 11:38, Sam Stern (<notifications@github.com>)
escribió:

[2019-06-26 17:41] samtstern commented on #1293
Closing this since #1380 has been merged and there are no additional reports.

[2019-06-26 17:41] #1293 closed

[2019-06-26 17:52] abeisgoat commented on #1442
I'm not able to repro this (in a Firepit build), sadly. I'll try again later, but seems like the `open` module acts as expected for me.

[2019-06-26 20:00] olaven commented on #1432
Thank you! 😄

[2019-06-27 00:26] bkendall commented on #1442
That's interesting. I'm away from my windows machine (actually, Abe has it) so I'm not able to take a look now, but I can try to circle back and repro this if Abe doesn't get to it.

[2019-06-27 02:16] johnmartel opened #1443 "Functions emulator does not initialize HTTPS functions"
### [REQUIRED] Environment info

**firebase-tools:** `7.0.2`

I am using nvm to run on node `8.15.0`.

**Platform:** `macOS 10.14.5`

### [REQUIRED] Test case

My `package.json` has these:
[code]

in `src/index.js` (which babel transforms into `dist/index.js`). I have the following:
[code]
and both functions are pretty similar:
[code]
where `app` is simply an initialized Express app with a single

[2019-06-27 02:21] johnmartel commented on #1443
I also tried setting `GOOGLE_APPLICATION_CREDENTIALS` with a path to my project's appengine default service account json key, without making a difference.

[2019-06-27 04:03] anantanandgupta opened #1444 "Error 400 Precondition Check Failed on firebase deploy --only hosting with rewrite having cloud-run"
### [REQUIRED] Environment info
**firebase-tools:** 7.0.2

**Platform:** macOS

### [REQUIRED] Test case

If the the hosting rewrite configuration is included in the `firebase.json` for rewriting to cloud-run, the deployment of the hosting fails with error 400: precondition check failed.

### [REQUIRED] Steps to reproduce

1. Include the firebase hosting rewrite similar to (service should be deplo

[2019-06-27 12:56] alex-hioperator opened #1445 "local emulation of functions reimports entire index.js on every call"
### [REQUIRED] Environment info

**firebase-tools:** 7.0.1

**Platform:** macOS

### [REQUIRED] Test case

To test my cloud functions locally, I run the following command:

`firebase serve --only functions`

This works great, but I'm noticing one odd behaviour: Every time I do an HTTP call to any of the cloud functions running locally, the entire index.js file is reimported. This makes execution r

[2019-06-27 14:09] afuggini commented on #853
I am having this problem out of the blue, without having changed anything on my end. I believe something changed recently and now I am unable to deploy.
My `package.json` declares node 8, and I am running node 8 on my computer.

[2019-06-27 14:10] samtstern commented on #1445
@alex-hioperstor thanks for the feedback, we're already discussing this in #1353 so I'm going to close this issue as a duplicate.

[2019-06-27 14:10] #1445 closed

[2019-06-27 15:27] samtstern commented on #853
@afuggini if you're having deploy errors please file a new issue or write in to Firebase support.

[2019-06-27 15:33] Memeriaj commented on #1444
So I think this should be fixed.  Sometime on Monday Cloud Run changed part of their API that Hosting uses to verify that you are allowed to call that particular Cloud Run service.  Yesterday I deployed a fix to the Hosting backend that should have compensated.  Can you try it again and see if this is still happening?  If so then I'll look and see if there is anything else going on.

[2019-06-27 16:14] samtstern commented on #1443
@johnmartel thanks for filing this, sounds like a bug and I bet @abeisgoat can get to the root of it.

[2019-06-28 07:43] coffeemilkcrazy opened #1447 "Firebase emulator error "Unexpected end of multipart data""
### [REQUIRED] Environment info

7.0.2

macOS

### [REQUIRED] Test case

Create cloud function as https://github.com/GoogleCloudPlatform/nodejs-docs-samples/blob/master/functions/http/index.js

exports.uploadFile = (req, res) => {
please see in the example link above
};

run firebase serve

### [REQUIRED] Steps to reproduce

Create cloud function as https://github.com/GoogleCloudPlatform/nodejs-do

[2019-06-28 08:38] Ale-Digitale commented on #1431
Same IDENTICAL error here. I'm stuck and can't deploy anything :-(

Node version: 10.16.0
npm version: 6.9.0

This is my **debug.log** :

0 info it worked if it ends with ok
1 verbose cli [ 'C:\\Program Files\\nodejs\\node.exe',
1 verbose cli   'C:\\Program Files\\nodejs\\node_modules\\npm\\bin\\npm-cli.js',
1 verbose cli   'prefix',
1 verbose cli   '-g' ]
2 info using npm@6.9.0
3 info using node@

[2019-06-28 10:48] michalwa commented on #1431
Nope, can't fix it, can't deploy anything sadly.

[2019-06-28 12:28] adueck commented on #181
Yes please! This would be a huge help!

[2019-06-28 13:41] kossnocorp opened #1448 "`firebase serve` fails with false negative "Error: The default Firebase app already exists""
### [REQUIRED] Environment info

**firebase-tools:** 7.0.2

**Platform:** macOS

### [REQUIRED] Test case

When imported as default:

[code]

...`initializeApp` throws:

[code]

When `initializeApp` is commened out:

[code]

...it throws:

[code]

But it works fine when import as `*`:

[code]

### [REQUIRED] Steps to reproduce

1. Import admin as default `import admin from 'firebase-admin'`
2. Ini

[2019-06-28 14:21] jose2190 opened #1449 "Issues with firebase-admin on firebase functions:shell"
### [REQUIRED] Environment info

**firebase-tools:** 7.0.2

**Platform:** macOS Mojave

### [REQUIRED] Test case

When I updated my client from 6.11 to 7.0.2, the update message from firebase-admin to> 8.0 started to appear, suggesting that it could be resolved with npm install firebase-admin @ latest in the function directory.
I proceed to install in the functions directory, which leaves me with

[2019-06-28 15:22] quentinvernot opened #1450 "Conflict between package.json `engines` field's purpose and use"
First off, I read https://github.com/firebase/firebase-tools/issues/1038 and I totally agree with the goal of having a fixed and reproducible runtime version, pretty much the same reason lockfiles are a must-have. I ran into the same issue and, unfortunately, there doesn't seem to be an easy bypass on my end.

### Environment info

firebase-tools 7.0.2
Linux

### Test case / Steps to reproduce

Yo

[2019-06-28 15:58] serbanstef opened #1451 ""Error: The incoming JSON object does not contain a client_email field" after upgrading to 7.0.2"
### [REQUIRED] Environment info

**firebase-tools:** 7.0.2

**Platform:** Oracle Linux Server 7.6, Node 10.15

### [REQUIRED] Test case

emulate https function with "firebase-admin": "^8.2.0", "firebase-functions": "^3.0.2"

### [REQUIRED] Steps to reproduce

run any https function with firebase functions:shell

### [REQUIRED] Expected behavior

no error (firebase-tools 7.0.0 throws no error)

###

[2019-06-28 16:54] noelmansour commented on #1451
Relevant stackoverflow post: https://stackoverflow.com/questions/56789424/the-incoming-json-object-does-not-contain-a-client-email-field

[2019-06-28 17:01] 0x80 commented on #653
@audkar Today I ran into the same issue as you.

I am new to both Lerna and Yarn workspaces. As I understand it you can also just use Lerna. Would that help in any way?

Your workaround seems a bit complicated for me 😄

[2019-06-28 17:17] audkar commented on #653
`--cwd` stands for "current working directory" and `$RESOURCE_DIR` holds value for source dir (`functions` in this case). Adding this flag will make `yarn` to be executed in `functions` dir instead of root

[2019-06-28 17:31] 0x80 commented on #653
@audkar 	Ah I see. So you could do the same with `yarn workspace functions lint` and `yarn workspace functions build`

[2019-06-28 17:33] 0x80 commented on #653
@dinvlad It is unclear to me why you are targeting the dist folder and copying things over there. If you build to dist, but leave the package.json where it is and point main to `dist/index.js` then things should work the same no? You should then set source to api instead of api/dist.

[2019-06-28 18:22] 0x80 commented on #653
@dinvlad I learned the `yarn workspace` command from your comments, but can't seem to make it work for some reason. See [here](https://stackoverflow.com/questions/56811619/how-to-target-a-single-workspace-with-yarn). Any idea?

[2019-06-28 20:03] dinvlad commented on #653
@0x80 I copy `package.json`to `dist/index.js` and point `firebase.json` to `api/dist` so only the "built" files are packaged inside the cloud function. I'm not sure what will happen if I point `firebase.json` to `api` - perhaps it will still be smart enough to only package what's inside `api/dist` (based on `main` attribute in `package.json`). But I thought it was cleaner to just point to `api/dis

[2019-06-28 21:12] samtstern commented on #1451
@noelmansour thanks so it seems like something between `7.0.1` and `7.0.2` caused this, I will look at the changes made,

[2019-06-28 21:19] samtstern commented on #1451
Looks like that error comes from this library: https://github.com/googleapis/google-auth-library-nodejs/issues/137

[2019-06-28 21:35] samtstern commented on #1450
I think @mbleigh was already working on something like this, thanks for filing such a detailed issue!

[2019-06-28 21:42] samtstern commented on #1449
@jose2190 sorry I am not able to reproduce this.  Using the CLI in a brand new directory here's what I get when I have `firebase-admin@7.0.0` installed:

[code]

But then if I update:
[code]

Everything runs fine:
[code]

My firebase version is 7.0.2

[2019-06-28 21:51] samtstern commented on #1447
@coffeemilkcrazy thanks for filing this!  I don't think we've tested multipart before so sounds like a bug.  I'll see what @abeisgoat thinks.

[2019-06-28 21:57] samtstern commented on #1448
@kossnocorp thanks for filing this.  I only pretend to know JavaScript but then I realize that I don't know the difference between `import admin from 'firebase-admin'` and `import * as admin from 'firebase-admin'` so I am hoping @abeisgoat will save me.

[2019-06-29 04:19] anantanandgupta commented on #1444
Sorry for delayed response, i will come back with updated test

[2019-06-29 07:31] PriestTomb commented on #155
Thanks, it works for me on win10.

[2019-06-29 14:03] kaloglu commented on #255
if you have error like **TypeError: features[nextFeature] is not a function**
You should remove folder and create again.

[2019-06-29 15:29] michalwa commented on #1431
Updated to **npm** v6.9.2 and **firebase-tools** v7.0.2, nothing changed.

[2019-06-29 16:01] Ale-Digitale commented on #1431
Yeah, same here. I also updated them both, but this damn error keeps going on.

I'm really desperate since i'm completely stuck with my Firebase development.

I also tried to ask help here:
https://stackoverflow.com/questions/56818852/deploy-firebase-functions-with-node-js-console-error-epipe

[2019-06-29 16:05] SimonKomlos commented on #1317
Had this exact same problem for **weeks (!)**

What finally worked for me:

- `npm i -g firebase-tools@latest`
- Deleted `package-lock.json` file
- Deleted `node_modules` folder
- `npm install`
- `firebase deploy`

Hope that can help someone in the same position!!

[2019-06-29 22:18] anantanandgupta commented on #1444
yes ... it worked. I am able to deploy now using the version 7.0.2.

thanks for the quick fix.

[2019-06-29 23:33] anantanandgupta commented on #1444
wait but it is now showing another issue ... I can't serve the application (actually I can but with runtime errors). There is an error thrown out there when I try to execute a function which uses the firebase-admin module with the default `initializeApp()` function.

error below is printed out repeatedly in the console before my function timeouts of the execution:

FIREBASE WARNING: Provided authe

[2019-06-30 03:55] mpvkarthick opened #1452 "Emulator doesn't recognize firebase-admin"
### [REQUIRED] Environment info

**firebase-tools:**7.0.2

**Platform:**macOs

### [REQUIRED] Test case

Index.js
var admin = require("firebase-admin");

package.json
  "dependencies": {
    "firebase-admin": "^8.2.0"
  },

### [REQUIRED] Steps to reproduce

RUN
firebase emulators:exec index.js

### [REQUIRED] Expected behavior
emulator starts with no error

### [REQUIRED] Actual behavior
i  Start