[2022-07-11 20:31] yuchenshi commented on #4699
In case it is not clear, the standalone binary also bundles Node.js. Sorry, we really don't have the magic ability to fix Node.js compatibility with Windows, and I believe the workaround is to either using another installation method (e.g. WSL) or use an earlier Firebase CLI version.

[2022-07-11 20:31] #4699 closed

[2022-07-11 20:40] yuchenshi commented on #4718
@danielo515 I agree with you that `--export-on-exit` shouldn't be needed for manual exports. I think the issue is more related to the fact that the export command cannot discover the running emulator suite. In order to debug this, try these steps:

1. `firebase emulators:start --only firestore --debug`
2. In a separate terminal **in the same directory** run `firebase emulators:export ./another_pat

[2022-07-11 21:20] CodyTolene commented on #3092
Same here.

Node v16.14.2
Firebase v11.2.1

Script ran is `firebase emulators:start --only functions,firestore:indexes,firestore --import=./.data --export-on-exit` in the terminal and then initiating a clean shutdown with `CTRL + C`.

Resulting error:
[code]

There is nothing logged regarding this issue where stated within "firestore-debug.log".  Also the data successfully exports but it's just no

[2022-07-11 22:21] MorenoMdz commented on #4701
We could close this one, but looks like #2027 has many comments without much attention, we do need to have the same behavior in the emulator and the cloud db ideally.

[2022-07-12 02:57] yuchenshi commented on #3092
Thanks for everyone's input. Looks like we've seen a new trend of permission errors when trying to rename the temporary directory to the final destination. I'm not 100% sure about the permission model of Windows and Linux here, but could it be because that another process (maybe a Java process that failed to exit) still has data files open in the directory? One hypothesis may be that newer Java ve

[2022-07-12 03:49] RaheutRahwana commented on #4698
11.2.1, the problem persists. Meanwhile `firebase deploy --only firestore` does the job. But be careful with the index.

[2022-07-12 06:18] mckrava commented on #4698
Hi there!
But how can I deal with such stuff like this:
`firebase deploy --only storage,firestore,firestore:rules,firestore:indexes`
It worked before `11.2.1` and I guess downgrade is not good idea.

[2022-07-12 06:54] dereekb commented on #3092
I can reproduce different behavior in my [dbx-components project](https://github.com/dereekb/dbx-components) in a couple of ways. I start the Docker container using `./serve-server.sh`, which begins my server instance. It will load content from `./.firebase/data/emulators` (mapped to `/root/data/emulators` in the container) where it is set to import from.

For some extra background, I'm running tw

[2022-07-12 06:59] Burgov commented on #4698
@mckrava `firestore` is shorthand for `firestore:rules,firestore:indexes`, so in your command it's redundant. You can simply do

[code]

[2022-07-12 08:46] futureofworktraining commented on #2837
HI, I have the same issue. Nothing works except hardcoding "60" to "360". Even setting up FUNCTIONS_EMULATOR_TIMEOUT_SECONDS=540s doesn't work. Strange.

[2022-07-12 15:34] giacomoran opened #4734 "Enabling functions triggers after `withFunctionTriggersDisabled` is slower in newer versions of `firebase-tools`"
### [REQUIRED] Environment info

**firebase-tools:** 11.2.1

**Platform:** Ubuntu

### [REQUIRED] Test case

Run an empty promise with a 500ms delay in [@firebase/rules-unit-testing](https://www.npmjs.com/package/@firebase/rules-unit-testing)'s `withFunctionTriggersDisabled`; record the time it takes for the emulator to re-enable function triggers after the task is complete.

### [REQUIRED] Steps

[2022-07-12 15:48] colerogers commented on #4617
Hi everyone, sorry for the trouble. I'm seeing that you folks are using `11.0.1`. This issue should have been fixed in [version 11.2.0](https://github.com/firebase/firebase-tools/releases/tag/v11.2.0). Can you all update to that version or the latest version and re-try the emulator. Thanks!

[2022-07-12 17:28] redpandatronicsuk commented on #4712
@yuchenshi Thanks for your reply. I tried to replicate the problem in a new repo and I found out the bug is not with the emulator. I get the same behaviour running the code in the emulator and functions now. The error was introduced when changing the code from

[code]

to

[code]

With `update` it produces:

[code]

with `set` and option `{ merge: true }` it produces:

[code]

Is that the expected

[2022-07-12 21:38] taeold commented on #4730
@scole954387 Thanks for reporting the issue.

Could you share some snippets of the code that is failing to deploy. We don't need to see your source - I think just sharing the the type of the function and its configuration would help us alot.

[2022-07-12 22:34] steveoh commented on #1602
There is very little documentation about the firebase.json schema and how it is used. Overall the firebase documentation is very thorough, the organization is difficult for me to follow, and the firebase.json is almost completely missing. These defaults should be documented.

[2022-07-12 22:43] bkendall commented on #1602
A lot of times, I don't pay too much attention to closed threads, but I saw SO MANY +1s on these last comments that we really, really should actually take care of this.

I've filed an internal bug (238805712) to update the documentation around this and made sure the team knows about it. No promises on timing, but I think we can make this happen.

[2022-07-12 22:46] yuchenshi commented on #4566
Fixed in v11.2.2.

[2022-07-12 22:46] #4566 closed

[2022-07-12 23:49] taeold commented on #3968
This should've been closed in https://github.com/firebase/firebase-tools/pull/3973.

[2022-07-12 23:49] #3968 closed

[2022-07-13 00:04] taeold commented on #4702
@jenperson Mentioned https://github.com/firebase/firebase-tools/issues/4702#issuecomment-1176792078, but your issue might have disappeared only because time passed in between your errored and successful function deploy. In the meantime, the service account in question may have gotten the required permissions (this whole provisioning process takes some time).

[2022-07-13 01:00] #4410 closed

[2022-07-13 01:02] yanoyuki commented on #4698
I had the same problem with 11.2.1, but 11.2.2 works fine.

[2022-07-13 01:18] bkendall commented on #4698
This should be addressed in `11.2.2` - there was an issue with the parsing of `firestore:*`.

[2022-07-13 12:50] ktsin commented on #2379
Just FYI same behavior on Windows machine with latest firebase tool
[code]

[code]

Adding `"host" : "127.0.0.1"` resolved my issue.

[2022-07-13 14:56] arthurgubaidullin opened #4735 "Deploy functions not working"
### [REQUIRED] Environment info

**firebase-tools:** 11.2.2

**Platform:** macOS

### [REQUIRED] Test case

`firebase deploy --only functions`

### [REQUIRED] Steps to reproduce

`firebase deploy --only functions`

### [REQUIRED] Expected behavior

Must works.

### [REQUIRED] Actual behavior

Throw error: `Error: CEL evaluation of expression 'undefined' not yet supported`

NDA.

[2022-07-13 16:40] bkendall commented on #4735
Deploying functions from my test projects seems to be working just fine. There's not enough information here to debug your issues. Can you provide a [reproducible example](https://stackoverflow.com/help/minimal-reproducible-example) that shows this error?

[2022-07-13 18:16] #4372 closed

[2022-07-13 19:12] prodisoftdev commented on #4325
I just encountered the exact same problem. Any news on a fix? Do the problem only affect the emulator?

[2022-07-13 19:48] ElianCordoba opened #4736 "Getting the function name at runtime"
Is there a way to get the name of the function during an execution?

I deployed a dummy function (to get the real function URL) and console logged the `req` (and the `res`) but didn't saw any mention of the endpoint name, which is suprising because the url contains the endpoint name as part of the `path`, but when I check the logs seems that is removed since I only see `/`

[2022-07-13 20:48] ericvera commented on #4735
I received the same error when starting the functions emulator with 12.2.2. Works fine with 12.2.1.

[2022-07-13 21:14] taeold commented on #4735
@ericvera Do you mind sharing some of your code that's surfacing these errors. I'm having some trouble trying to reproduce the issue.

[2022-07-14 12:53] Jhon-Idrovo commented on #2960
Having the same problem here
`INFO: Detected HTTP/2 connection.`

[2022-07-14 13:57] Acterion opened #4741 "ECONNREFUSED ::1:4400 error even though firestore port and host are explicitly specified"
### [REQUIRED] Environment info

**firebase-tools:** 11.2.2

**Platform:** macOS

### [REQUIRED] Test case

[code]
[code]

### [REQUIRED] Steps to reproduce

Run `yarn run test`

### [REQUIRED] Expected behavior

Expected to exit with code 0

### [REQUIRED] Actual behavior

Fails with ` FetchError: request to http://localhost:4400/emulators failed, reason: connect ECONNREFUSED ::1:4400 `

This err

[2022-07-14 16:04] aguthstuditemps opened #4742 "Function deploy and getting config doesn't work on 11.2.X"
Edit: Maybe a duplicate of #4706 ? Still happens on 11.2.2 though.

### [REQUIRED] Environment info

Since upgrading to 11.2.X I cannot deploy functions in a specific project anymore. It seems to be a problem with having an empty object in the function config. It only doesn't work on one project. When I change from our staging environment to a different one and deploy the same code, it works.

`fi

[2022-07-14 16:25] bkendall commented on #4742
Duplicate of #4706

[2022-07-14 16:25] #4742 closed

[2022-07-14 16:34] bkendall commented on #4741
Alright, so this is _known_, but hard to address fully.

In short, it has to do with how DNS on a machine is being resolved in Node. Most of the emulators bind to the ipv4 addresses, but if a process resolves `localhost` to the ipv6 address `[::1]` that can cause the connections to fail (since emulators don't tend to bind on the ipv6 address).

@yuchenshi has been looking into addressing this in a

[2022-07-14 17:27] #4706 closed

[2022-07-14 17:34] nohe427 opened #4744 "Cannot create a function that depends on eventarc event filter"firebase.extensions.storage-resize-images.v1.complete""
### [REQUIRED] Environment info

11.2.2

**firebase-tools:**

macOS / Debian 11

**Platform:**

### [REQUIRED] Test case

1. Deploy the [resize images extension](https://firebase.google.com/products/extensions/firebase-storage-resize-images)
2. Deploy the [sample eventarc trigger](https://firebase.google.com/docs/functions/beta/custom-events#handle_a_custom_event)
[code]
3. When running npm run de

[2022-07-14 18:43] pavelgj commented on #4744
Ack. As a workaround please downgrade the CLI to 11.1.0 `npm install -g firebase-tools@11.1.0`

[2022-07-14 19:12] pavelgj commented on #4744
Another report here: https://github.com/firebase/extensions/issues/1042

[2022-07-15 01:06] cgranttm opened #4749 "Cannot create CI tokens using a service account key file"
### [REQUIRED] Environment info

**firebase-tools:**

11.2.2

**Platform:**

Windows

### [REQUIRED] Test case

Running firebase login:ci as a service account.

### [REQUIRED] Steps to reproduce

1. Create a service account with project editor permissions in the firebase GCP project, then export a key file from the IAM service account page in the GCP cloud console and save it locally.
2. Create an

[2022-07-15 01:09] cgranttm commented on #4749
Also we have verified that the environment variable is set up correctly, running `gcloud auth activate-service-account --key-file=$env:GOOGLE_APPLICATION_CREDENTIALS` successfully logs in as the service account in powershell.

[2022-07-15 06:30] r-dev-limited commented on #4735
I can see same error with emulator

[2022-07-15 14:58] #4744 closed

[2022-07-15 15:23] gustavopch commented on #4730
@taeold Same happening here for the 2 task queue functions that I have in the project after upgrading from v11.1.0 to v11.2.2. They're both implemented like this:
[code]
Is that info enough or do you need something else?

[2022-07-15 15:32] ianitsky commented on #4735
I received the following error:

[debug] [2022-07-15T15:27:12.832Z] <<< [apiv2][body] PATCH https://cloudfunctions.googleapis.com/v1/projects/*/locations/us-central1/functions/* {"error":{"code":400,"message":"The request has errors","status":"INVALID_ARGUMENT","details":[{"@type":"type.googleapis.com/google.rpc.BadRequest","fieldViolations":[{"field":"vpc_connector","description":"A Cloud Functio

[2022-07-15 17:10] wjcarroll commented on #4730
I just ran into the same problem using 11.2 as well when deploying this taskQueue function

`export const updateGames = functions
    .runWith({ secrets: ['TWITCH_CLIENT_SECRET'], timeoutSeconds: 540 })
    .tasks.taskQueue({ retryConfig: { maxAttempts: 5, minBackoffSeconds: 30 }, rateLimits: { maxConcurrentDispatches: 8, maxDispatchesPerSecond: 3 } })
    .onDispatch(_updateGames);
`

[2022-07-15 20:41] bcthakre commented on #2949
Was the fix done to mitigate future issues as well since I am getting the same error? And seems like nothing much I can do from my end. Happens while setting GitHub for Actions.

`Error: HTTP Error: 400, Precondition check failed.`

[2022-07-15 20:47] khevamann commented on #986
The simplest solution is to just add tsc-alias to your build step. Changing `"build": "tsc"` in package.json to `"build": "tsc && tsc-alias"` and installing `tsc-alias` as a devDependency will tell the build step to resolve the import paths. This is the best solution because it requires no direct code changes, just a change to the build steps

[2022-07-15 23:36] bkendall commented on #4749
I don't believe `login:ci` would work with service accounts. In short, that token would be "owned" by the service account, and frankly I'm not sure if that's possible. To that end, I think this is WAI.

However, I assume you're wanting to run some CI pipeline using `firebase` commands? I think you want to follow [the guidance in that issue](https://github.com/firebase/firebase-tools/issues/2158#is

[2022-07-16 01:11] shazlycode commented on #4222
Go to google cloud
then go to API and Services
then Enabled API and Services
then turn on the cloud messaging
Turn on Firebase cloud messaging API.

[2022-07-16 01:13] apfritts commented on #4266
We recently added a group to our deployments and we receive this error 100% of the time when deploying all of the functions. 36 functions in total, 9 of which are in a group.

I haven't been able to find a workaround yet. Doing `firebase deploy --except functions:background` deploys things other than just our functions (we also use firestore and hosting) but `firebase deploy --only functions --exc

[2022-07-16 02:10] thipokch commented on #4749
@bkendall So would this mean the we would have to encode the json as base64 and decode it on a ci machine? 🥲

[2022-07-16 02:16] mcapodici commented on #4420
I just had the same issue.

Using local emulator.

Looking in the emulator portal, the item has 4 fields, but in the request trace it shows Detailed Information -> Resource with only a single field.

This is on a read operation, and I was subscribing using a query snapshot.

[2022-07-16 03:23] cgranttm commented on #4749
@bkendall from that I think what we need to do is make a new SA that only has the firebasehosting.admin role, then store the keyfile in CI as well?

Thanks!

[2022-07-16 14:26] scole954387 commented on #4730
My code is like the example that gusta provided.  Let me know if his code is enough or you need something from me too. Thanks!

[2022-07-16 15:28] scole954387 commented on #4730
`export const processSalesReceiptReport = functions.tasks
  .taskQueue({
    retryConfig: {
      maxAttempts: 5,
      minBackoffSeconds: 60,
    },
    rateLimits: {
      maxConcurrentDispatches: 5,
    },
  })
  .onDispatch(async (data) => {
   // do something
}`

[2022-07-17 02:53] kyoh86 commented on #4546
I have the same issue.

It helps me, thanks.
But this workaround is not an essential solution, and I am concerned that this Issue is closed.
I would like to see this issue addressed to work with the latest node-fetch.

[2022-07-17 21:46] ts95 commented on #4663
I'm getting a similar issue when I try to deploy a single function with v11.2.2 (and anything after v11 in general)
Here's debug log file:
[code]

I tried downgrading to several lower firebase-tools versions (including v10) like Luka suggested, but that just gave me another kind error.

[2022-07-18 01:39] clementbesson commented on #4578
Hi firebase team,
@yuchenshi is there any status update on this issue, or at least some timeline? I am having the same problem where for a collection which has too many documents, the local emulator does not show the documents. My import is 29.3 MiB. The data is there since its displayed on the client side, but it cannot be accessed in the emulator
<img width="1056" alt="Screen Shot 2022-07-17 at

[2022-07-18 02:37] augustmuir commented on #4741
Same issue here on latest version, downgrade to 10.9.2 solved the problem. This is the error message of `ui-debug.log` when I tried running the latest version:
[code]

I feel like if there was a option to change the Hub port it might resolve this as I've seen the same error before when using a "blocked" port, and it was solved by using another.

[2022-07-18 05:47] lookfirst commented on #1602
@bkendall Thanks for listening to your users.

[2022-07-18 15:30] yuchenshi commented on #4325
This is an emulator-only issue. Just to clarify, this emulator-only view in the Emulator UI shows one entry per *rules evaluation*, which happens for each listener per request.

[2022-07-18 15:45] ZiyadF296 commented on #4588
I have been experiencing this exact same issue when using Firebase Storage. Any temporary solutions or fixes for this?

Been using Flutter and whenever uploading a JPG image to Storage, the entire emulator crashes predominantly. The error is vague and no logs can be found to get a reason as to why this is happening. I am unable to upload files to storage on my emulator, however, the production ser

[2022-07-18 15:59] Valentin-Seehausen commented on #4741
+1

[2022-07-18 16:30] bkendall commented on #4749
Yup, that should do it (depending on what you're doing, of course).

[2022-07-18 19:53] yuchenshi commented on #4741
Fixed in v11.3.0.

[2022-07-18 19:55] yuchenshi commented on #4741
Whoops, wrong issue -- sorry for the confusion. We've fixed some other issues related to Emulator UI, not Emulator hub (used in `testing`).

[2022-07-18 19:58] yuchenshi commented on #4741
While we work on this, I think a better workaround than downgrading Firebase CLI is specifying the hub address explicitly using IPv4:

e.g. change the command:

[code]

Or in configuration:

[code]

[2022-07-18 20:17] bkendall commented on #4420
@mcapodici (or @evelant) Could either of you help us out and give us a [minimal reproducible example](https://stackoverflow.com/help/minimal-reproducible-example) for this issue? We're still needing a little help to debug exactly what's happening and a specific example will help a lot

[2022-07-18 20:22] bkendall commented on #4735
@ianitsky could you open a separate issue? This is going to be tracking the `"CEL evaluation"` issue, which I don't think you're experiencing. Thanks

[2022-07-18 20:29] bkendall commented on #2379
(internal bug reference: b/172852315)

[2022-07-18 20:45] bkendall commented on #4617
(With no responses, I'm going to close this out.)

[2022-07-18 20:51] yuchenshi commented on #4712
Yes, that's the expected behavior. See https://stackoverflow.com/questions/70183767/firestore-does-the-dot-notation-work-with-set

I'm closing this issue for now since it is not specific to emulators. For SDK questions, we'd recommend following up on StackOverflow where you can find a lot of resources and the community can also help with questions like this.

[2022-07-18 20:51] #4712 closed

[2022-07-18 23:02] m6keller opened #4752 "CLI does not support deploying storage rules to multiple buckets"
### [REQUIRED] Environment info

**firebase-tools:** 11.3.0

**Platform:** macOS

### [REQUIRED] Test case

Deploy storage rules with `firebase deploy --only storage` with "firebase.json" containing the following:
[code]

### [REQUIRED] Steps to reproduce

Use the following directory structure:
[code]

Run following with Firebase CLI to set target:
[code]
This adds the following to the ".firebaser

[2022-07-19 02:07] icopp commented on #4730
I also ran into the same problem with the Firebase cloud functions v2 beta:

[code]

Installing `firebase-tools@11.1.0` seems to have fixed the issue.

[2022-07-19 06:52] tachibana-shin opened #4753 "CORS domain in Emulators (run at GitPod)"
### [REQUIRED] Environment info

**firebase-tools:**
11.3.0

**Platform:**
Linux - GitPod
### [REQUIRED] Test case
Error cors domain with function `signInWithEmailAndPassword`
![image](https://user-images.githubusercontent.com/45375496/179684184-c5199cae-9df2-4ae9-9d5a-49f3f6a6d1d8.png)

### [REQUIRED] Steps to reproduces
1. Init project use firebase, firebase emulators
2. Open with GitPod
3. Run

[2022-07-19 06:57] akauppi opened #4754 "When emulators don't launch the return code should always be non-zero"
This has been mentioned in some other issues (did not find them..), but still remains at least for this one case.

**Expected behavior**

Whenever there is an error in launching Emulators that causes them to **not** launch, the `firebase emulators:start` command should return with a **non-zero** return code.

This is normal Unix tool behaviour.

**Actual**

With certain errors, `firebase emulators

[2022-07-19 07:44] Valentin-Seehausen commented on #4741
👏🦾❤️

Upgrading to 11.3.0 fixed this for me! Thanks, @yuchenshi !

[2022-07-19 08:43] akauppi opened #4755 ""Ignoring unsupported arg:" lines in emulator launch logs"
### [REQUIRED] Environment info

- `firebase-tools` 11.3.0
- Platform: Cloud Build (Alpine Linux image)

### [REQUIRED] Test case

No minimum reproducible. Let me explain..

When debugging my CI scripts, I found that Firebase Emulators log some concerning lines.

[code]

Why this matters?   I thought I'm doing something wrong here (so this serves as confusion to us developers).  I am not. Somewher

[2022-07-19 08:45] mortoni commented on #4578
+1

I have 2 MiB import data, I can't see any collection's document, my collections have short name.

Notes:

1. One of my team member can see the documents and everything looks fine, he is using Windows.
2. All MacOs including M1 can't see the documents
3. We tried java version: 11 and 18.

[2022-07-19 08:47] arthurgubaidullin commented on #4735
`firebase-tools` `v11.3.0` also affected. `v11.1.0` not affected.

[2022-07-19 09:27] gpietro commented on #1442
Experiencing the same problem on mac os, but only with one account. I have two google accounts and with one it works but with the other no.
Any idea? :/
Thanks

[2022-07-19 10:22] akauppi commented on #4754
Trying to please the bot. Someone might teach me what's the difference between "test case" and "steps to reproduce", though.

[2022-07-19 13:35] rymesaint opened #4756 "firebase auth:emulators have different json data additionalUserInfo profile at production"
### [REQUIRED] Environment info

**firebase-tools:** 11.3.0

**Platform:** macOS

### [REQUIRED] Test case

Login using emulator
Login using firebase auth production

### [REQUIRED] Steps to reproduce

- Login via Google Account

- Get Return AdditionalUserInfo > Profile (JSON)

### [REQUIRED] Expected behavior
[code]

### [REQUIRED] Actual behavior

[code]

[2022-07-19 15:38] bkendall commented on #4754
Hmmmm.... I'm learning more about using `uncaughtException`, `uncaughtExceptionMonitor`, and what processes are used to exit our CLI. I may be able to take a look into this (but changing the error handling behavior across a wide surface area is... tricky, at best)

[2022-07-19 17:34] akauppi commented on #4754
@bkendall I can relate.

I can totally live with this behaviour - have seen it now for years - but as you likely agree, for the long term success of Firebase it's likely good to have a look.

[2022-07-19 20:44] nery commented on #4703
Confirming this was fixed in #4706 and verified in version 10.3.0

[2022-07-20 02:16] malik199 commented on #610
Solved by running "npm i" inside of the functions folder.

[2022-07-20 08:05] ts95 commented on #4663
I did manage to get it work actually. I killed the process that used port 9006, then I downgraded to firebase-tools@10.2.0. I also noticed that I was running Node.js 17 instead of Node.js 16, so I downgraded to the latter. After all that it started working. Interestingly, now it also works on v11.2.2 of firebase-tools.

[2022-07-20 08:41] danielo515 commented on #4718
@yuchenshi thanks for your message. I tried what you explained and, sadly (but happily), again, it worked without problem. Here are the debug informations.

Export command:
[code]

Emulator

[code]

[2022-07-20 14:38] akauppi opened #4757 ""Unhandled error cleaning up build images." - what rights should I give to the GCP project?"
### [REQUIRED] Environment info

- firebase-tools: 11.3.0
- Platform: Mac (does not matter)

### [REQUIRED] Test case

skip

### [REQUIRED] Steps to reproduce

skip

### [REQUIRED] Expected behavior

Firebase would clean up Cloud Function deployment cache, as it aims to do.

### [REQUIRED] Actual behavior

The cleanup fails.

### Context

I am deploying a Firebase backend, using CI (Cloud Build).

[2022-07-20 14:41] vijaytholpadi opened #4758 "Intermittent failure: `curl -sL https://firebase.tools` exits with code 7"
### [REQUIRED] Environment info

**firebase-tools:**
macOS. Trying to fetch the tools using curl in this case.

**Platform:**
macOS

### [REQUIRED] Test case

Attached in the Actual Behavior section. Please let me know if I can share more info.

### [REQUIRED] Steps to reproduce

- Run `curl -sL https://firebase.tools` on CircleCI
- Builds will intermittently fail

### [REQUIRED] Expected behavior

[2022-07-20 17:16] #2837 closed

[2022-07-20 22:53] bkendall commented on #4758
Without more information, I'm going to assume the exit code is coming from `curl`, which means that it couldn't connect to the `firebase.tools` host. Unfortunately, there's not much we can do about that (since it'd just be that the internet is misbehaving, or CircleCI isn't letting the connection out, or... something), so without a reliable reproduction case I'm going to have to close this.

If yo

[2022-07-20 22:53] #4758 closed

[2022-07-21 08:04] akauppi commented on #4757
Corrections:

It doesn't have to do with `firebase-tools` version.

I needed to enable `Service Account User`:

![image](https://user-images.githubusercontent.com/1297734/180162354-979a2261-d115-4600-80b8-7432147ca908.png)

Since this is not mentioned in the Firebase docs (I believe), I'll leave this issue open. Let me know if you wish me to edit it.

[2022-07-21 10:15] Thammachart opened #4762 "Deploying multiple storage targets failed with unexpected error"
### [REQUIRED] Environment info

**firebase-tools:** 11.3.0 (The problem have occurred since 11.2.2)

**Platform:** Arch Linux, Ubuntu (GitHub Actions), macOS

### [REQUIRED] Test case

1. Initialize the project by issuing `firebase init storage` with a selected firebase project and the rest is defaults

### [REQUIRED] Steps to reproduce

1. Edit the `firebase.json` file to enclose the storage tar

[2022-07-21 13:18] nwainwright commented on #4758
@bkendall @vijaytholpadi it's also been happening for us too. For a few weeks. Intermittent but annoying :) We'll reach out to CircleCI but any tips would be appreciated.

[2022-07-21 13:22] nicolasmol opened #4765 "npm ERR! Could not install "../../../../../../usr/local/bin/firebase" as it is not a directory and is not a file with a name ending in .tgz, .tar.gz or .tar"
### [REQUIRED] Environment info

**firebase-tools:**

**Platform:**

### [REQUIRED] Test case

### [REQUIRED] Steps to reproduce

### [REQUIRED] Expected behavior

### [REQUIRED] Actual behavior

[2022-07-21 13:25] nicolasmol commented on #4765
Updated

[2022-07-21 16:57] gOzaru commented on #2113
Well, this thing happened again on 21 July 2022.
My previous Service Account of Firebase Admin SDK was missing and could not deploy any function. I didn't know anything about this, as I have checked the link above [https://status.firebase.google.com/](https://status.firebase.google.com/) and [https://status.cloud.google.com/](https://status.cloud.google.com/), and it said it is safe and no error a

[2022-07-21 17:10] bkendall commented on #4758
@vijaytholpadi yes - doing `curl | bash` doesn't distinguish very well if it's `curl` returning the error code or the script itself. I imagine it's `curl` (since that error code would make sense), but it would be best to confirm.

[2022-07-21 17:52] indicava opened #4768 "Multiple rapid calls to Storage Emulator API causes some requests to hang/not get a response."
### [REQUIRED] Environment info

11.3.0

Ubuntu 20.04.3 LTS
Node v16.16.0

### [REQUIRED] Test case
[code]
### [REQUIRED] Steps to reproduce

Upload multiple files (~8 or more) to Storage Emulator of size 3MB-4MB using Web SDK (code example above).

### [REQUIRED] Expected behavior

All uploads should complete and get a valid response from the API

### [REQUIRED] Actual behavior

Some requests han

[2022-07-21 20:15] abMarlim opened #4770 "When deploying functions: TypeError: Cannot read property 'service' of undefined"
### [REQUIRED] Environment info

**firebase-tools:** 11.3.0

**Platform:** macOS
**Node:** v16.16.0

### [REQUIRED] Test case

Attempt to deploy updated functions that were previously deployed

### [REQUIRED] Steps to reproduce

Deploy via CLI with firebase deploy --only functions command

### [REQUIRED] Expected behavior

Deploy from "functions" folder normally

### [REQUIRED] Actual behavior

At

[2022-07-21 20:42] avicularian opened #4772 "Firebase Local Emulator Suite cannot import Auth data"
Hi, I'm wondering what's going on here.

Until a few moments ago, I was having a really good time running the firebase CLI version 11.3.0 on Ubuntu Linux 20.04.

This issue should be replicated by clean-installing `firebase-tools` with npm, running the emulator in a new project, adding a few users, exporting, and restarting.

Firestore data is imported, but the Auth fields are left blank.

[code]

[2022-07-21 23:29] gOzaru opened #4773 "All Firebase Projects are Missing [Multi-Region]"
### [REQUIRED] Environment info
**firebase-tools: 11.3.0**
**Platform: Windows**

### [REQUIRED] Test case
Use a simple hello world project using Node.js and try deploying to the Firebase using command:
`firebase deploy --only functions`

### [REQUIRED] Steps to reproduce
1. Create a hello world project
2. Add it in index.js
3. Deploy it

### [REQUIRED] Expected behavior
The firebase project shoul

[2022-07-22 00:37] gOzaru commented on #4773
![SS - Firebase Console Error on 21 July 2022](https://user-images.githubusercontent.com/3258483/180337436-8d58527c-4bcf-4c42-94a0-46e2f732c3ed.png)

[2022-07-22 01:00] #4713 closed

[2022-07-22 01:26] gOzaru commented on #4773
Okay, now I can access my projects.
But found a new error in debug.log:
[code]

Does anyone know what happen?

[2022-07-22 01:32] gOzaru commented on #4773
After trying to use: `firebase init`
I managed to resetting the firebase, but got a new error again:
[code]

What happened to Firebase anyway?

[2022-07-22 01:48] gOzaru commented on #4773
Oh no, this is happening again.

[2022-07-22 01:56] bkendall commented on #4773
1. Can you check the developer tools on chrome? Is that giving you any specific error messages?
2. Are you going through any kind of proxy?

[2022-07-22 02:05] gOzaru commented on #4773
No, I don't use any proxy.
Is this picture below the main culprit?

![SS - Recommendation Error 02](https://user-images.githubusercontent.com/3258483/180346770-3bd0eafb-f5cd-46c4-ab20-3b2eed54edd7.png)

A week ago, I got recommendation from Google Cloud Platform and asked me to remove all these kinds of roles. But, after that day I can still deploy any of Cloud Functions until yesterday. If this i

[2022-07-22 02:20] gOzaru commented on #4773
I had added all removed roles because of GCP Recommendations.
But, I still get the same error:
[code]

![SS - Recommendation Error 03](https://user-images.githubusercontent.com/3258483/180348524-c1fbec0a-c9ab-4f9f-9069-7bdfbd8c1393.png)

[2022-07-22 03:43] gOzaru commented on #4773
I did this:
- firebase login --reauth
- firebase init
- write No to prevent overwriting the existing files
- firebase deploy --only functions

and get this error:

[code]

[2022-07-22 04:01] gOzaru commented on #4773
Now it returns this error code just like the beginning.
[code]

After I checked the firebase.debug.log, I found out:
[code]

This is my code in index.js:
[code]

Okay, if this error doesn't give up any hint to solution; I am gonna remove this Firebase project and start over from the beginning. Just because Firebase erased my previous Service Account of Firebase Admin SDK, and that because of the F

[2022-07-22 04:01] #4773 closed

[2022-07-22 08:29] xar opened #4775 "unkpg.com as CDN is very slow"
### [REQUIRED] Environment info

**firebase-tools:** 11.3.0

**Platform:** macOs, Linux

### [REQUIRED] Test case

Start Auth emulator and wait for `domcontentloaded`

### [REQUIRED] Steps to reproduce

We have issue with speed of unkpg.com a lot of times It takes too much time to load `material-components-web.min.js` in Auth emulator. We have tried on multiple enviroments (CI in Hetzner, local ma

[2022-07-22 10:37] micro-luke commented on #4735
I see this issue as well - for me it only occurs when I include a "task" function in the deployment (just started experimenting with it). If I comment out the task function everything is deploying.
firebase-tools - 11.3.0
firebase-admin - 10.3.0

[2022-07-22 11:05] NeverwinterMoon commented on #3401
Having the same issue. `providerData` with `"providerId": "apple.com"` is **not** exported, while `providerData` with `"providerId": "google.com"` is.

[2022-07-22 16:21] bkendall commented on #4775
I'm not sure what this has to do with Firebase or its CLI.

[2022-07-22 16:21] #4775 closed

[2022-07-22 17:11] bkendall commented on #4765
The template is there to help answer basic questions like:

- what environment are you running on?
- what version of the CLI do you have?

Additionally to that:

- how did you install the CLI?

[2022-07-23 02:23] johnchristotle commented on #1627
Remove ng.ps1(respective ps1 file) from the directory C:\Users< username >\AppData\Roaming\npm\ then try clearing the npm cache at C:\Users< username >\AppData\Roaming\npm-cache..

this worked for me. Let someone close this thread. Thanks

[2022-07-23 05:48] radvansky-tomas commented on #4735
Same error if you try to run emulator suite

[code]

[2022-07-23 21:13] ankyAgrawal commented on #2336
For me, the oAuth access token was no more valid. I was able to resolve this issue by logging out and logging back into Firebase.

[code]

[2022-07-24 17:39] phath9 commented on #4588
I've tested with short file names, mine still crashed if rules are complex. I guess there are multiple causes to this but we can't distinguish easily because no debug info available.

[2022-07-25 01:00] #4716 closed

[2022-07-25 03:51] Corchoneitor commented on #3871
Also happens with firebase-tools 10.1.5 and jdk-18.

In my case, there are 2 unwanted java windows:
- One with "Dev App Server is now running." message.
- Other with "This is the Google Pub/Sub fake."

Really annoying.

[2022-07-25 06:46] phath9 opened #4778 "Uploading a file to Storage with matching Rules crashes the emulator"
### [REQUIRED] Environment info

**firebase-tools:** 11.3.0

**Platform:** Windows 10 (64bit)

### [REQUIRED] Test case

Android client (real device) uploads a file to Cloud Storage Emulator having a matching Rule causes an 'An unexpected error' in Firebase Console and the emulator terminated.

### [REQUIRED] Steps to reproduce

1. Set a simple matching storage rule as below
[code]
2.  Android cli

[2022-07-25 06:54] phath9 commented on #4768
Experience the same with a Flutter client. Using Future.await to send multiple uploads asynchronously caused the emulator to hang. When changed to sending uploads subsequently, the hang was not observed.

[2022-07-25 09:30] phcoliveira opened #4779 "Dev dependencies are also installed during function deployment"
### [REQUIRED] Environment info

**firebase-tools:** 11.3.0

**Platform:** macOS

### [REQUIRED] Test case

[code]

### [REQUIRED] Steps to reproduce

1. Have a basic monorepo setup, with `apps/*` and `packages/*`.
2. Use `firebase init` to start a new app inside `apps/*`.
3. Add a local package from your monorepo to the functions app as `devDependency`.
4. Try to deploy the functions.

### [REQUI

[2022-07-25 13:44] egorkel-altexsoft commented on #4752
Also can't use anymore in v11.3.0
`firebase deploy --only storage:STORAGE_TARGET`

Error is
`Error: Filters specified with colons (e.g. --only functions:func1,functions:func2) are only supported for functions, hosting, and firestore`

It is regression. And I think it's related to https://github.com/firebase/firebase-tools/issues/4698

[2022-07-25 13:49] egorkel-altexsoft commented on #4752
Had to downgrade to v11.1.0

[2022-07-25 13:51] ThatRandomGuy09 commented on #1316
TypeError [ERR_INVALID_ARG_VALUE]: The argument 'id' must be a non-empty string. Received '', i am having this error while working in express.js, can you help me

[2022-07-25 14:27] colerogers commented on #4663
If anyone is still running into this issue after upgrading to the latest `firebase-tools` & `firebase-functions`, can you create a minimum reproducible sample and link it here please. Thanks

[2022-07-25 16:44] colerogers commented on #4770
Hi @abMarlim sorry that you've run into this. In order for us to debug what is going on, can you create a minimal reproducible sample of the function(s) that you're trying to deploy. Thanks

[2022-07-25 18:47] ianitsky opened #4780 "Cloud Function and a Serverless VPC Access connector must be located in the same region."
### [REQUIRED] Environment info

**firebase-tools: 11.3.0

**Platform: Ubuntu

### [REQUIRED] Test case

Create a VPC and add on runWith and execute:

firebase deploy --only functions

`
const runtimeOpts: RuntimeOptions = {
    vpcConnector: functions.config().vpc_connector.name,
    vpcConnectorEgressSettings: 'PRIVATE_RANGES_ONLY'
}
`

`functions.runWith(runtimeOpts)`

### [REQUIRED] Steps to r

[2022-07-25 19:51] abMarlim commented on #4770
Hi @colerogers of course, I'll try to create an example and get back here as soon as possible ;)

[2022-07-25 20:06] lisajian commented on #1316
@ThatRandomGuy09 Would you mind opening a new issue so we can take a look? Thank you!

[2022-07-25 20:16] lisajian commented on #4768
Hi @tonyjhuang - would you mind taking a look and/or reroute as appropriate? Thank you!

[2022-07-25 20:17] lisajian commented on #4778
Hi @tonyjhuang would you mind taking a look at this one too? Thank you!!

[2022-07-25 20:21] lisajian commented on #3871
Seems like this is an issue specific to Java 17 and Windows users; if someone in the open source community has more context on this, we'd happily accept/review any PRs

[2022-07-25 20:29] lisajian commented on #2113
@gOzaru Would you mind reaching out to https://firebase.google.com/support so we can help you further? Thank you!

[2022-07-25 20:35] lisajian commented on #4718
Sounds like this issue is no longer applicable, going ahead and closing the issue but let us know if you need any more help! Thanks!

[2022-07-25 20:35] #4718 closed

[2022-07-25 20:40] lisajian commented on #1442
@gpietro - would you mind opening a new issue? This one seems a bit out of date. Thank you!

[2022-07-25 20:43] jpchase commented on #3916
+1. For my current dev environment, everything else works offline - except the emulators.

[2022-07-25 21:13] christhompsongoogle commented on #4755
Hi akauppi, do you know which emulators specifically are throwing off these warnings? Do you have all emulators installed?

[2022-07-25 21:20] tonyjhuang commented on #4778
Ack, will take a look next week

[2022-07-25 21:57] christhompsongoogle commented on #4772
Hi avicularian,

Can you check which project is selected in your firebase CLI? Try `firebase use` inside of your project directory. Next, if you have the expected project selected see if your code config matches the project ID selected by the CLI.

If the project is brand new it may be that there is no .firebaserc or the wrong project is selected.

[2022-07-25 23:01] bkendall commented on #4762
Duplicate of #4752

[2022-07-25 23:01] #4762 closed

[2022-07-26 01:32] lisajian commented on #4756
Hey there @rymesaint! Wanted to clarify that some of the claims that are missing are intentionally ignored by the Auth Emulator, e.g. `exp`, `iat`, `at_hash` - for more information about ignored fields, check out the inline documentation of this interface: https://github.com/firebase/firebase-tools/blob/ae788e76a8ea45e1c967bd6e37078a991c89dc6b/src/emulator/auth/operations.ts#L3308

Your issue does

[2022-07-26 05:10] ThatRandomGuy09 commented on #1316
SURE

[2022-07-26 05:12] ThatRandomGuy09 opened #4784 "TypeError [ERR_INVALID_ARG_VALUE]: The argument 'id' must be a non-empty string. Received ''"
TypeError [ERR_INVALID_ARG_VALUE]: The argument 'id' must be a non-empty string. Received '', i am having this error while working in express.js, can you help me

[2022-07-26 09:24] Mr-Robot-err-404 commented on #4784
Had the same issue, realized it was a very basic mistake.

In my case, I wrote:
const express = require() instead of:
const express = require("express")

Check that the argument in the bracket is fill. Hope that helps

[2022-07-26 09:47] akauppi commented on #4755
I think the `name: database` refers to Realtime Database.  I’m using Functions, Realtime, Firestore and Auth.

[2022-07-26 10:43] avicularian commented on #4772
Heya Chris,

Really appreciate the response and your proactive attitude.

If I didn't have a lot of long hours of boring, manual labour to deal with I'd contribute to the project myself. I like the TypeScript codebase and it looks like you could use a bit of help catching up on issues.

My .firebaserc looks like this:

[code]

and my terminal output looks like this:

[code]

Again, the FireStore d

[2022-07-26 12:24] ThatRandomGuy09 commented on #4784
@Mr-Robot-err-404 I have tried this too but I am getting the same error, trying installing the new version of node and then executing it but it didn't work

[2022-07-26 14:45] colerogers commented on #4734
Hey @GiacomoRandazzo sorry that you ran into this issue. Unfortunately, this behavior is due to an internal change that we made to the CLI and SDK a while back. In order to add more features to firebase functions, we had the change the way functions were discovered. We brought this behavior to the emulator since we wanted to replicate the actual deployment process. We'll discuss internally if we c

[2022-07-26 15:47] GiacomoRandazzo commented on #4734
Thank you for looking into this.

For now, we worked around the problem by sending HTTP requests to the emulator at the undocumented endpoints for enabling/disabling the Cloud Functions. It affords us a little more control.

For reference:
- Enable Cloud Functions `PUT http://${HOST_HUB}/functions/enableBackgroundTriggers`
- Disable Cloud Functions `PUT http://${HOST_HUB}/functions/disableBackgrou

[2022-07-26 16:43] #4752 closed

[2022-07-26 17:10] algoflows commented on #2034
+1

[2022-07-26 18:31] aliseifi-business commented on #4770
Have this issue as well:

[code]

[2022-07-26 19:07] taeold commented on #4784
@ThatRandomGuy09 Hi! As reported, it's difficult for us to track down the issue you are experiencing. Would you mind following the issue template and providing us a small, reproducible code so we can help w/ debugging?

[2022-07-26 21:43] yuchenshi commented on #4753
@tachibana-shin Thanks for the report! I'm actually surprised to see these errors given that the Auth Emulator does support CORS on all domains reflected. This may be related to how GitPod proxies the request. Would you mind exporting the network requests captured from the Network tab? Please make sure to capture the failed request and any CORS pre-flight requests. You can also right click and sav

[2022-07-26 21:55] yuchenshi commented on #4688
Hi, thanks for filing this issue! We are unable to promise any timeline for this, but if others also have this issue, adding a +1 on this issue can help us prioritize adding this to the roadmap.

(Googler-only internal tracking bug: b/240330244)

[2022-07-26 21:58] yuchenshi commented on #3034
Hi, thanks for filing this issue! We are unable to promise any timeline for this, but if others also have this issue, adding a +1 on this issue can help us prioritize adding this to the roadmap.

(Googler-only internal tracking bug: b/240330572)

[2022-07-27 00:18] tachibana-shin commented on #4753
this HAR: https://filebin.net/tkppq4fdp17cw8wy/5173-tachibanash-fcanvasedit-sezqurpgd2w.ws-us54.gitpod.io.har

[2022-07-27 00:20] lisajian commented on #3401
Hi, thanks for filing this issue! We are unable to promise any timeline for this, but if others also have this issue, adding a +1 on this issue can help us prioritize adding this to the roadmap.

(Googler-only internal tracking bug: [b/240348641](https://b.corp.google.com/issues/240348641))

[2022-07-27 00:28] tachibana-shin commented on #4753
I don't think this has to do with GitPod because when I try to access by browser, the Request is successful while I use `fetch` it continues to fail

[2022-07-27 01:45] christhompsongoogle commented on #4772
If there's no sensitive data, can you zip the export folder and upload it here? I'm interested to see what format the export takes.

If not, you can take a look in the auth_export subfolder and ensure that the accounts.json contains the data you expect

[2022-07-27 04:04] ThatRandomGuy09 commented on #4784
@taeold hey, appreciate your efforts for the help, but I figured the error and solved it, Thanks again

[2022-07-27 08:39] nilsreichardt commented on #3401
Hi @lisajian, it's great to see that this issue got some attention ❤️ However, it's for me unclear why the Firebase hasn't fixed this issue after 2 year (after adding Apple as new sign in provider). Exporting the Firebase Auth user is essential for every production app. How should you do your backups without exporting all users? Issues like this should be a red flag for every company for using Fir

[2022-07-27 15:24] stammy commented on #3401
Please fix this 🙏

[2022-07-27 15:54] #4784 closed

[2022-07-27 16:59] taeold commented on #2837
Firebase CLI v11.4.0 should now support timeout on your function configuration - no need to setup `FUNCTIONS_EMULATOR_TIMEOUT_SECONDS` environment variable.

[2022-07-27 18:54] lisajian commented on #4756
Just a quick update: Seems like the fields returned depends on what is used to sign in when `signInWithIdp` is invoked. The existing returned claims (aside from the ones that are intentionally ignored) are correct in certain cases and should be closer to what you're experiencing in other cases.

Since the scope of this is quite a bit larger than expected, I'm going to leave this issue open. I'll g

[2022-07-27 19:27] gustavopch commented on #3919
I'm getting "Invaild source token" every time for the same 2 functions when deploying 24 Node.js 16 functions at once. If I deploy then individually, there's no error. I'm using `firebase-tools@11.1.0`.

[2022-07-27 22:29] nicholasstephan commented on #4717
I'm getting the same issue with version 11.4.0.
Downgrading to 11.1 also fixed the issue for me.

[2022-07-27 22:35] andrewhamili opened #4789 "Ability to whitelist domains for Firebase Auth to work"
I want to deploy my website using firebase Auth Emulator. It actually works not, however, the other auth methods will not work because the domain we are using is not whitelisted. Is there any way to whitelist domain to Firebase Auth Emulator?

[2022-07-27 23:26] bkendall commented on #4717
@nicholasstephan could you open a new issue with your CLI version and if possible your debug logs? That would help in debugging this further.

[2022-07-28 02:15] IzumiSy opened #4790 "Firebase Realtime Database Emulator never emits message event in Server-Sent Event (SSE)"
### [REQUIRED] Environment info

**firebase-tools:** 11.4.0
**Platform:** macOS Monterey 12.4 / Node.js v16.15.1

### [REQUIRED] Test case

I cannot find any test case available for Server-Sent Event.

### [REQUIRED] Steps to reproduce

#### 1. Launches an emulator
[code]
This is firebase.json in my project.
[code]

#### 2. Add an initial tree
<img width="603" alt="スクリーンショット 2022-07-28 11 01 52" s

[2022-07-28 02:31] IzumiSy commented on #4790
I have just realized `put` and `patch` are the alternatives to `message` for Firebaes Realtime Database. Closing this.

[2022-07-28 02:31] #4790 closed

[2022-07-28 02:46] jim-alexander commented on #2875
God this is annoying.

I Went in to change some minor behaviour of an existing function, and now I'm stuffing around trying to find a path to a file that is used as a template.

Having no luck with __dirname getting the same error with `rror: ENOENT: no such file or directory, open '/workspace/lib/....`

[2022-07-28 07:23] christianloosli opened #4792 "Unable to find a valid endpoint for function mail"
### [REQUIRED] Environment info

**firebase-tools:** 11.4.0

**Platform:** macOS and Github Actions

### [REQUIRED] Test case

### [REQUIRED] Steps to reproduce

`firebase deploy --only hosting:sometarget`  or
[code]
### [REQUIRED] Expected behavior

Should deploy successfully, because last deployment succeeded on 17 Jun without code changes.

[code]

### [REQUIRED] Actual behavior

Deployment fai

[2022-07-28 10:34] AviVahl opened #4793 "firebase-tools depends es5-ext (via cli-color), which prints messages when in Russia"
(am I making a mistake by opening this Pandora box?)

### [REQUIRED] Environment info

**firebase-tools:** 11.4.0

**Platform:** Fedora 36

### [REQUIRED] Test case

This is happening upon installation.

### [REQUIRED] Steps to reproduce

(when in russia)
[code]

### [REQUIRED] Expected behavior

Installation without additional unrelated messages.

### [REQUIRED] Actual behavior

`es5-ext/_postins

[2022-07-28 11:10] AlexShemeshWix commented on #4793
+1 its detected as a virus by antivirus software.

[2022-07-28 13:42] tojtoj commented on #4735
Same here, downgrade to 11.1.0 helped.

[2022-07-28 14:14] abMarlim commented on #4770
The problem was in using Firebase Cloud Functions **v1** and **v2** in the same project.

As I needed to use environment variables from v1 `functions.config()`, I was having a conflict and received this error:

`Detailed stack trace: Error: functions.config() is no longer available in Cloud Functions for Firebase v2. Please see the latest documentation for information on how to transition to using

[2022-07-28 14:14] #4770 closed

[2022-07-28 15:27] DerrickAfrifa opened #4794 "flag --export-on-exit fails when script is terminated with CTRL+C"
### [REQUIRED] Environment info

**firebase-tools:** `11.4.0`

**Platform:** `macOS`

### [REQUIRED] Test case
run the following command in your terminal:
`firebase emulators:exec "sleep 20" --ui --only firestore --export-on-exit=./firebase-data`
once the script enters the sleep phase (you have 20 seconds) hit CTRL+C to kill the script.

### [REQUIRED] Steps to reproduce
1. Install firebase-tools

[2022-07-28 17:43] MrCalamitus commented on #4770
Hi @abMarlim I have read the documentation but I don´t find the solve at this problem. I made a new project with **firebase init** but i have the same problem.

versions:
[code]

package.json
[code]

index.js
[code]

ERROR :
<img width="635" alt="image" src="https://user-images.githubusercontent.com/7023270/181602149-44e6520b-2837-42d6-8fc5-bdc943e28464.png">
[code]

[2022-07-28 18:25] SK1n opened #5379 "Cannot read properties of undefined (reading 'data')"
### Related issues

### [REQUIRED] Version info

**node:** v18.7.0

**firebase-functions:** 3.18.0

**firebase-tools:** 11.4.0

**firebase-admin:** 11.4.0

### [REQUIRED] Test case

Run a simple function using the emulator suite.

### [REQUIRED] Steps to reproduce

Run the function by accessing the following link: http://localhost:$port/$project/us-central1/MoveOldEvents-0

### [REQUIRED] Expected

[2022-07-28 18:25] Yuangwang commented on #4470
Fixed in #4771

[2022-07-28 18:25] #4470 closed

[2022-07-28 18:39] taeold opened #4795 "Function deploy fails to delete scheduled function without Cloud Scheduler job"
### [REQUIRED] Environment info

**firebase-tools:** 11.4.0

**Platform:** macOS

### [REQUIRED] Test case

[code]

### [REQUIRED] Steps to reproduce

1. Deploy a scheduled function
2. Delete the Cloud Scheduler job associated w/ the scheduled function
3. Try deleting the function via `firebase functions:delete <fn>`

### [REQUIRED] Expected behavior

Delete the pubsub topic and the function

###

[2022-07-28 18:55] tonyjhuang commented on #4599
Filed internal bug to track, b/240585492

[2022-07-28 18:58] tonyjhuang commented on #4588
Likely related to internal bug, b/234835425

[2022-07-28 18:59] tonyjhuang commented on #4588
Can folks confirm that this bug is only applicable to Flutter usages?

[2022-07-28 19:02] tonyjhuang commented on #4547
Filed internal bug to track, b/240585809

[2022-07-28 19:35] bkendall commented on #4793
Thanks for raising with us. While it's the prerogative of a developer to put something like this in their package, it makes that version of the package unusable by us.

Fixed by #4796

[2022-07-28 21:59] onatdesigndev commented on #4792
I encountered the same issue after updating firebase to the latest version which is 11.4.0

[2022-07-28 21:59] tonyjhuang commented on #4329
Filed internal bug to track, b/240606901

[2022-07-28 22:01] tonyjhuang commented on #4412
Reopening to track better error messaging

[2022-07-29 00:02] jacobsandlund opened #4797 "Version 11.2.2 and higher do not attach secrets to functions upon deploy when using Firebase Functions SDK <v.3.20.0"
### [REQUIRED] Environment info

**firebase-tools: 11.2.2,11.3.0 or 11.4.0 (has bug)**

**firebase-tools: 10.9.2 and 11.1.0 succeeds (no bug)**

**Platform: macOS**

### [REQUIRED] Test case

Have a function with `runWith` `secrets`:
[code]

### [REQUIRED] Steps to reproduce

Deploy the function:

[code]

### [REQUIRED] Expected behavior

The secret should be attached to the function, as it is in

[2022-07-29 03:01] gustavopch commented on #3919
So, I was trying to deploy 24 functions at once and 2 failed. I've experimented more and realized that if I deploy exactly those 2 problematic functions, deployment happens just fine. If I deploy the 2 problematic functions + another function, the 2 problematic functions fail again while the other function is successfully deployed.

[2022-07-29 04:34] tonyjhuang commented on #3979
internal tracking bug, b/211308355

[2022-07-29 04:36] tonyjhuang commented on #3979
Closing in favor of #3915

[2022-07-29 04:36] #3979 closed

[2022-07-29 04:44] tonyjhuang commented on #3953
Filed internal bugs to track to 3 feature requests above, b/240630224, b/240637637, b/240627424

[2022-07-29 04:48] tonyjhuang commented on #3839
Filed internal bug to track, b/240637641

[2022-07-29 04:50] tonyjhuang commented on #3823
Filed internal bug to track, b/240637117

[2022-07-29 04:52] tonyjhuang commented on #3799
Filed internal bug to track, b/240637642

[2022-07-29 04:55] tonyjhuang commented on #3780
filed an internal bug to track, b/240635177

[2022-07-29 04:56] tonyjhuang commented on #3772
Filed internal bug to track, b/240635178

[2022-07-29 04:58] tonyjhuang commented on #3686
Reassigning to @joehan as I believe this was mistakenly tagged as a Storage emulator issue whereas it seems to apply to the Functions emulator.

[2022-07-29 05:00] tonyjhuang commented on #3599
I'm going to close this as this seems to be WAI

[2022-07-29 05:00] #3599 closed

[2022-07-29 05:03] tonyjhuang commented on #3568
filed internal bug to track, b/240637643

[2022-07-29 05:06] tonyjhuang commented on #3556
Filed internal bug to track, b/240637644

[2022-07-29 05:11] tonyjhuang commented on #3566
@TheSlateAndChalk can you provide the error message and the emulator version you are using?

Closing this for now due to inactivity and missing information but feel free to re-open if you have more context to provide.

[2022-07-29 05:11] #3566 closed

[2022-07-29 05:13] tonyjhuang commented on #3533
Filed internal bug to track, b/240637118

[2022-07-29 05:22] tonyjhuang commented on #4778
Hi @phath9 do you have a sample project we can use to verify this bug on our end?

Filing internal bug to track, b/240635182

[2022-07-29 05:23] tonyjhuang commented on #4768
Duplicate of #3915, closing in favor of that issue

[2022-07-29 05:23] #4768 closed

[2022-07-29 06:04] christianloosli commented on #4792
ok great, I will try that. Unfortunately, this does not solve our problem for our CD pipeline. The version in FirebaseExtended/action-hosting-deploy@v0 can't be overwritten, or can we?

[2022-07-29 07:57] absemetov commented on #2837
I use CLI 11.4.0 my functions work only with --inspect-functions parametr

`$firebase emulators:start --inspect-functions --only functions,hosting `

Function 1
[code]
Function 2
[code]

[2022-07-29 08:53] mrchantey commented on #2337
For me it wasn't working because i needed to add `--only firestore`

[2022-07-29 10:14] muryoh commented on #4792
I confirm downgrading worked on my end, thanks

[2022-07-29 12:23] JGSolutions commented on #4792
same issue. will downgrade now and will try again

[2022-07-29 15:50] bkendall commented on #4792
Hi! Thank you for raising. I'm certain I know where this issue will stem from, but just have to do some debugging.

[2022-07-29 15:55] bkendall commented on #4792
@christianloosli and other folks here, could you let me know something while I look?

1. Confirm for me that you're deploying a Hosting site with a `rewrite` configured to a function.
2. Is that function in the same codebase from which you are deploying?
3. If the function is not in the same codebase, is the function deployed in your project already?

[2022-07-29 17:39] inlined commented on #4691
We're currently in the early phases of rearchitecting our emulator to be a better foundation for the future and any investment we make at the moment into hot-reloading would need to be completely reimagined for our upcoming new system. Hot reloading (including `tsc watch`) is on my wishlist of features, but it'll be a while before we have the resources to commit to it. Even when we _do_ have a new

[2022-07-29 17:56] inlined commented on #4679
Confirmed fixed in the attached pull request. This should be fixed in our next minor CLI version, which we're working on as our top priority.

[2022-07-29 18:23] bkendall commented on #2875
@jim-alexander if you're having new issues that the comments above don't help with, can you provide a reproduction case in a new issue for us? Thanks.

[2022-07-29 21:07] jnstahl commented on #4792
Same problem here. found one rewrite to a function that was no longer there and removed that rewrite.
But now it fails with another function that actually is deployed from the same codebase.
some functions work however.

[2022-07-29 21:11] taeold commented on #4797
Hi @jacobsandlund - apologies for the issue you are seeing.

Thank you for sharing your experiments. You are right - we shipped a bug.

While we work on getting a hotfix out, I suggest you try updating the `firebase-functions` to the latest version. It seems like the bug only exists on older versions of the functions SDK.

[2022-07-29 21:18] tojtoj commented on #4266
This happens to me consistently with a function registered through `functions.tasks.taskQueue` during deployment of all functions (`firebase deploy --only functions`). All other functions get deployed except that one. Looks like it doesn't happen during the first fresh deployment when the problematic function doesn't exist yet. After it has been deployed, subsequent attempts to deploy that functio

[2022-07-29 21:32] bkendall commented on #4792
@jnstahl I think that is what I've narrowed in on myself - it's a bit of a change of behavior I think I'm going to flip back a bit and make it print a warning instead.

Can you give me a minimal repro case for the function that's failing but in the same codebase? That'd be extremely useful.

[2022-07-29 21:38] gustavopch commented on #4266
@tojtoj That's pretty much what was happening to me. Upgrading to 11.4.0 fixed the "Invalid source token" error for me. It also brought other error (https://github.com/firebase/firebase-tools/issues/4730), but I fixed it with https://npm.im/patch-package:
[code]
A PR (https://github.com/firebase/firebase-tools/pull/4788) was already merged to fix that issue so the patch soon won't be needed.

[2022-07-30 08:40] fixl commented on #3837
Based on @TPXP 's instructions, I ended up building support for specifying a web socket port via environment variables into our docker container: https://hub.docker.com/repository/docker/fixl/firebase-emulator-suite

Here's the commit for those who are interested in replicating this: https://gitlab.com/fixl/docker-firebase-emulator-suite/-/commit/21eec64a0d4141514558d5b6865efeeb05f1d017

[2022-07-30 18:23] abMarlim commented on #4770
Hi @MrCalamitus,

In my case after implementing the logic with _codebase_ I needed to **delete all Cloud Functions (v1 and v2)** that were in Firebase, and only then deploy all the functions again using the new codebase practice.

As the project was still in the test phase (not production), it was not a problem for me to delete all the functions, I don't know if it is possible in your case.

I hop

[2022-07-30 20:41] junaga commented on #4371
any progress?

[2022-07-31 08:46] janakaud commented on #4613
To add to @tolgraven's comment: things get worse when running emulators for Auth, Firestore etc as well, with local persistence; because now you don't have a way to clean-shutdown the orphaned Auth/Firestore process, and if you kill it (which you'd have to do anyways, at some point), you'll lose all Firestore data/changes from that session. (Even worse, in some cases, the local persistence store a

[2022-07-31 15:35] alexandru-g commented on #4792
Same issue here. What I can see from debugging is that it queries for v1 functions (which are indeed returned) and then it queries for v2 functions. This response is empty (as we're using v1) and then the 'Error: Unable to find a valid endpoint for function' error is thrown.

Hopefully this is not a weird way we are being forced into v2 functions 😬

[2022-07-31 16:29] bkendall commented on #4792
@alexandru-g definitely not forcing you to v2 😛 . Is your function a `v1` function that is already deployed and the CLI doesn't seem to be catching it? That would be a good lead for us to track down. If you can give us some specifics about the situation it would help us debug correctly!

[2022-07-31 22:11] ky28059 opened #4800 "Undeleteable function with `TypeError: Cannot read properties of undefined (reading 'service')`"
### [REQUIRED] Environment info

**firebase-tools:** 11.3.0

**Platform:** Windows

### [REQUIRED] Test case

Possibly related to #4770.

I upgraded a function from v1 to v2 and tried to deploy it, but the deploy failed with `Error: Pass the --force option to deploy functions that increase the minimum bill`. However, the function was created on Firebase without a trigger, and all subsequent attemp

[2022-08-01 01:00] #4749 closed

[2022-08-01 06:18] cie-cloosli commented on #4792
Hi @bkendall, downgrade to v11.3.0 solved the problem for local deployment.
1. yes we have a `rewrite` configuration in place `{ "source": "/mail", "function": "mail" },`
2. No it is not in the same codebase
3. Not in this environment, but before it was not a problem

[2022-08-01 09:11] alexandru-g commented on #4792
Hey! Yes, the v1 function was already deployed for a while and everything was working correctly. I've tried deleting and redeploying. What's important is that the issue appeared all of the sudden, with no changes on our part in regards to the functions or hosting rewrites (I think we can exclude a bug on our side). It must have been an update on the tools (inside GitHub Actions as well).

[2022-08-01 09:13] alexandru-g commented on #4792
I have no idea how the code looks like, but seeing that it's first querying for V1 functions and then for V2 functions (which is empty), it must replace a collection instead of appending to it somewhere :)

[2022-08-01 09:44] alexandru-g commented on #4792
@bkendall I found the issue and validated the fix:
[code]

It was previously only calling ```isHttpsTriggered(endpoint)``` which I think it's an incorrect assumption, as my function is indeed a callable and not normal http function.

[2022-08-01 14:42] belenbuccolo opened #4801 "Function timeout is reset to default after deploying"
Related to  [#548](https://github.com/firebase/firebase-tools/issues/548)

### [REQUIRED] Environment info

**firebase-tools:** Latest (11.4.0)
**Platform:** macOS

### [REQUIRED] Test case

Have a function which you want to increase the tiemout to. Increase the timeout on GCP and deploy. On the following deploy the timeout resets back to the default value.

Function with increased timeout:
<img w

[2022-08-01 15:22] Yuangwang commented on #3772
I'm closing this for now since I've been unable to reproduce this now. I'm hoping it might have been fixed in another pr. Please download the latest version of firebase-tools and let me know if this is still an issue.

[2022-08-01 15:22] #3772 closed

[2022-08-01 16:13] bkendall commented on #4792
@alexandru-g so to be clear, you have a [*callable function*](https://firebase.google.com/docs/functions/callable) that you are *rewriting* to in your Hosting config?

That's a tricky situation. According to the docs (and to my knowledge), rewriting to a callable function isn't supported. It _may work_ because the underlying implementation is a HTTP call, but Hosting rewrites are to HTTP functions

[2022-08-01 16:43] ahmedhnewa opened #4802 "Something went wrong, firebase has not been installed"
### [REQUIRED] Environment info

**firebase-tools:**

**Platform:**

### [REQUIRED] Test case

### [REQUIRED] Steps to reproduce

### [REQUIRED] Expected behavior

### [REQUIRED] Actual behavior

[2022-08-01 17:07] Yuangwang commented on #3780
Hi, I'm looking into this now. Just want to confirm with anyone running into this issue -  this only happens during unit testing right? Also are you running the unit tests in a jsdom test environment? (jsdom is set by default if you're using create-react-app)

[2022-08-01 17:13] jnstahl commented on #4792
Indeed looking at the code it is the rewrites on the  onCall functions that cause the problem. But so far this has worked all correctly, so why should it not be supported? AFAIK this is the only way to keep callable functions in the same domain and to avoid CORS issues

[2022-08-01 17:16] alexandru-g commented on #4792
@bkendall yes, it's a callable function.

I would say it's 100% supported as it was working perfectly before. The idea is that we use a custom hostname in the Cloud Functions API depending on the compiled flavor (but that's not important) and that needs the rewrite to work. Long story short, we'd like all our functions to be accessible using a single hostname - our domain (hence the rewrite).

[2022-08-01 17:21] derat commented on #3780
Yes, I saw this when calling `uploadString` during unit testing (I haven't tried to perform uploads elsewhere). I'm running tests via `vue-cli-service test:unit` using `@vue/cli-plugin-unit-jest` 4.5.17, and I believe that Jest uses jsdom by default.

Thanks for taking a look!

[2022-08-01 17:26] bkendall commented on #4802
Please follow the template.

[2022-08-01 17:26] #4802 closed

[2022-08-01 17:27] 0xjei opened #4803 "Cannot deploy V2 Cloud Functions with more than 8 GiB of memory"
### [REQUIRED] Environment info

**firebase-tools**: *^11.4.1*

**Platform**: *Ubuntu*

### [REQUIRED] Test case

You can reproduce the error by defining a V2 Cloud Function as below:

[code]

### [REQUIRED] Steps to reproduce

You just need to deploy the Cloud Function by running:

[code]

### [REQUIRED] Expected behavior

The Cloud Function must be correctly deployed with 4 vCPUs and 16 GiB of m

[2022-08-01 17:43] maneesht commented on #2554
@rhodgkins - have you tried running this with the latest version of firebase-admin and firebase-database-emulator?

[2022-08-01 17:59] bkendall commented on #4792
Alright, discussions had, decisions made. We're gonna make sure callable functions are candidates for rewrites. PR'll come sone and hopefully released later today. Thanks for y'all's patience and info as we got this debugged!

[2022-08-01 18:00] taeold commented on #4792
Catching up on the discussion - thanks for clear communication @jnstahl @alexandru-g!

One thing I'm curious about - callable functions are designed to be called by Firebase client SDKs, so I didn't anticipate them being used as Hosting rewrite targets (though we don't try very hard to hide that it's just HTTP function behind the scenes: [public doc](https://firebase.google.com/docs/functions/call

[2022-08-01 18:05] jnstahl commented on #4792
exactly this property. I have some single-page web apps which renders content from the firestore, but relies on the callable functions to perform certain privileged operations. The callable function will use the auth token to establish the user ID and will then determine if this particular user is authorized to perform the privileged transaction.

[2022-08-01 18:42] alexandru-g commented on #4792
@taeold you sound like you have access to our repo :). We thoroughly enjoy having auth and app check handled by Firebase magic!
Another 2 reasons for us are that you mess a lot less with CORS and callable functions play way more nicely with mobile function SDKs (at least in our experience).

[2022-08-01 18:50] moldy530 commented on #4780
I'm seeing this as well on v11.4.1 of firebase tools with the firebase-functions sdk v3.22

[2022-08-01 18:52] Yuangwang commented on #3780
@derat thanks for the quick reply! I was able to reproduce this issue in a jsdom test environment as well and when I change the test environment from jsdom to node, the sample test passes without any issue. Because of this I think the problem is related to this [issue](https://github.com/firebase/firebase-js-sdk/issues/6441) in the js sdks (both issues reference the `[object Blob]` that you dug up

[2022-08-01 18:59] Yuangwang commented on #3780
I think this is a js-sdk issue rather than an emulator issue because by the time the emulator receives any data it is already misshapen in the form of `[object Blob]` so I'm closing this for now. If anyone's having issues configuring the module resolution as described, please add a comment in the other [issue](https://github.com/firebase/firebase-js-sdk/issues/6441)

[2022-08-01 18:59] #3780 closed

[2022-08-01 19:11] lisajian commented on #3401
Totally understand your concern and we're working on triaging the issue internally. While this is getting addressed, please take a look at the other ways of exporting and importing users, e.g. Admin SDK's [`listUsers()`](https://firebase.google.com/docs/auth/admin/manage-users#list_all_users) for exporting and [`createUser()`](https://firebase.google.com/docs/auth/admin/manage-users#create_a_user)

[2022-08-01 20:24] yuchenshi commented on #4794
Any chance you can upload the logs (`*.log`) created? As mentioned in the output, the logs contain more information to debug the issue.

[2022-08-01 22:59] absemetov opened #4807 "Function timed out in v11.3.0-11.4.1"
### [REQUIRED] Environment info

**firebase-tools:** 11.4.1

**Platform:** Linux Mint 20.3

### [REQUIRED] Test case
[code]
[code]
### **In v. 11.2.2 function work**

### [REQUIRED] Steps to reproduce
My func code
[code]

### [REQUIRED] Expected behavior

### [REQUIRED] Actual behavior
[code]

[2022-08-01 23:06] jim-alexander commented on #653
This was looking like a good solution until I ran into a caching issue when trying to update my dependancy.

when doing `yarn add ./shared.tgz` yarn will just decide to use the old version.

I'm assuming because of the version number not changing.

more info: https://github.com/yarnpkg/yarn/issues/6811

[2022-08-01 23:12] #4679 closed

[2022-08-01 23:35] bkendall commented on #4792
Alright, I've confirmed that `v11.4.1` should actually "fix" the deploys that were failing to find the callable functions. It fixes it by simply ignoring the fact that the CLI can't find the function (because it only looks for https). I'll make a small PR that allows callable function rewrites as well which will get rid of the warning message that's printed, but y'all _should_ be unblocked on the

[2022-08-02 02:55] JasminDreasond commented on #4807
this issue is happening with me too. this issue started after the new update too

[2022-08-02 08:25] AviVahl commented on #4793
@bkendall
This was not fixed in `firebase-tools@11.4.1`. I've installed and same version of `es5-ext` was resolved. pinning the request to `cli-color` won't work, as it uses a caret when it requests es5-ext.

How about moving to `colorette` or similar?

[2022-08-02 08:39] rhodgkins commented on #2554
@maneesht yep, if you run the reproduction steps above the same thing happens.

Ran `firebase setup:emulators:database` to get the latest DB emulator (it downloaded `v4.8.0`).

[2022-08-02 10:29] vojdan opened #4810 "Multi-region function deploy fails on v11.4.0"
### [REQUIRED] Environment info

**firebase-tools:** 11.4.0 and 11.4.1 (works fine in 11.3.0)

**Platform:** MacOS, TypeScript

### [REQUIRED] Test case

[code]

### [REQUIRED] Steps to reproduce

`firebase deploy`

### [REQUIRED] Expected behavior
Deploy succeeds.

### [REQUIRED] Actual behavior

Deploy error:
```Error: More than one backend found for function name: theFuncName. If the function i

[2022-08-02 10:38] milo- opened #4811 "11.4.1 .runtimeconfig.json not loaded in functions emulator"
### [REQUIRED] Environment info

**firebase-tools:** 11.4.1

**Platform:** Ubuntu (Github Actions)

### [REQUIRED] Test case

Running the functions emulator no longer works in our github-actions after moving from 11.4.0. to 11.4.1

### [REQUIRED] Steps to reproduce

Run functions emulator in 11.4.1 on ubuntu with .runtimeconfig.json

### [REQUIRED] Expected behavior

The functions emulator should

[2022-08-02 11:39] nitaking opened #4812 "auth emulator: edit user UI requires password"
### [REQUIRED] Environment info

**firebase-tools:** 11.4

**Platform:** macOS

### [REQUIRED] Test case

After run `firebase emulators:start`,
Edit Authentication `Edit User`
If then not enable `SAVE` button.

### [REQUIRED] Steps to reproduce

1. use v11 firebase-tools
2. `firebase emulators:start`
3. Goto Authentication
4. Goto `Edit User`
5. Press `Save` button

### [REQUIRED] Expected behavio

[2022-08-02 13:43] derat commented on #3780
@Yuangwang Thanks for figuring out a workaround! I'm able to use `updateString` when running the tests under Node rather than jsdom.

In case it helps anyone else using Vue and Jest, I originally had a rule like this in my `package.json` file:

`"firebase emulators:exec --only storage \"vue-cli-service test:unit --testPathPattern ./storage*.test.ts\""`

I changed it to this:

`"firebase emulators:

[2022-08-02 15:30] Ancinek commented on #4800
Having the same issue – can't do anything with my functions

[2022-08-02 15:44] Den-Ree commented on #4811
@milo- I had the same isssue, solved by switching on `GOOGLE_APPLICATION_CREDENTIALS`, problem was that warning  message was inserted in `.runtimeconfig.json`.

[2022-08-02 16:05] taeold commented on #4800
Sorry for the troubles @Ancinek @ky28059. I think I have a hunch on what's going on here and will see if I can a fix out.

In the meantime, I think a workaround is to visit https://console.cloud.google.com/functions/list and delete the problematic function manually.

[2022-08-02 16:14] bkendall commented on #4810
As of `v11.4.0`, you are able to configure Hosting to rewrite to a function in any region. I'm thinking that throwing an error here was a tad aggressive on our part - maintaining the status quo of "if we see `us-central1` we should continue to use that" should be what we do. We've got a couple things stacked up to make a release of the CLI today, so I'll see if I can make that adjustment.

In the

[2022-08-02 16:31] abhis3 commented on #3823
Fix is merged in, should be in the next emulator release. Closing issue.

[2022-08-02 16:31] #3823 closed

[2022-08-02 16:46] bkendall commented on #4793
Hmmm - this is going to get into the weeds really, really quickly. `npm-shrinkwrap.json` is incredibly useful, until `npm` doesn't respect it. it _should_ be pinned - the specific dependencies we require should resolve out to not using the later versions of `es5-ext`. But, if it's not being respected, I don't have the time to go dig into `npm` to discover why.

It _may_ be the version of `npm` tha

[2022-08-02 17:00] milo- commented on #4811
@Den-Ree you legend thank you! I was logging it out trying to figure out the issue and completely missed that.

[2022-08-02 17:10] AviVahl commented on #4793
most functionality is implemented pretty similarly. I can open a PR that does most of the change.
thing is, there are also calls to strip ansi and cursor move, so I may need help in that final stretch. would you be able to assist then? :)

[2022-08-02 17:36] alexcibotari commented on #4794
Logs after pressing `Ctrl+C`

`

[debug] [2022-08-02T17:34:15.400Z] Received signal SIGINT (Ctrl-C) 1
[info]
[info] i  emulators: Received SIGINT (Ctrl-C) for the first time. Starting a clean shutdown.
[info] i  emulators: Please wait for a clean shutdown or send the SIGINT (Ctrl-C) signal again to stop right now.
[info] i  Automatically exporting data using --export-on-exit "./firebase-export" pl

[2022-08-02 17:37] Yuangwang commented on #4599
Closing this since it was fixed in https://github.com/firebase/firebase-tools/pull/4813

[2022-08-02 17:37] #4599 closed

[2022-08-02 17:53] tonyjhuang commented on #3390
filed internal bug to track, b/240331248

[2022-08-02 19:08] AverageHelper commented on #2521
To future googlers: as of now, there is [some documentation](https://firebase.google.com/docs/emulator-suite/install_and_configure#specifying_java_options) on setting JVM arguments in Firebase emulators.

[2022-08-02 19:20] taeold commented on #4730
Sorry folks. The fix for this issue was merged https://github.com/firebase/firebase-tools/pull/4791.

We will be rolling out the updated CLI soon. Thanks for your patience.

[2022-08-02 19:38] #4810 closed

[2022-08-02 20:17] Ancinek commented on #4800
Yes, can confirm that deleting those from the Google Cloud Console worked like charm and I didn't have any issue deploying the function after that!

[2022-08-02 20:26] MorenoMdz commented on #2027
Bumping this, the has bitten us a couple of weeks ago.

[2022-08-02 20:31] MorenoMdz commented on #4578
Same issue here, we used to be able to run dumps from our staging and prod projects to run some tests locally, since a few months ago we can't the data is not large enough (a few MB of data), we have a maximum of 3 level deep sub collections, and no weird names are used in collections or documents. The data is there because we can query from code, we just can't see it in the UI, and we see all the

[2022-08-02 21:33] jdmesdzy commented on #4597
we had the same error on firebase tools 11.4.1

[2022-08-02 21:36] bkendall commented on #4793
If you can get it 95% of the way there, I can try to help with the last 5%. we can use this issue to track the work, sure.

[2022-08-02 21:44] #4811 closed

[2022-08-02 23:16] lisajian commented on #4789
Hey @andrewhamili! Could you provide more context to the issue you're running into by filing a support issue here: https://firebase.google.com/support/troubleshooter/contact? As it stands, we don't have enough information to help troubleshoot the issue. Thanks!

[2022-08-02 23:17] taeold commented on #4730
Hey folks. We released 11.4.2 which includes fixed for this issue. Thank you all for your patience.

[2022-08-02 23:17] #4730 closed

[2022-08-02 23:24] taeold commented on #4801
Hi @belenbuccolo. I think our latest CLI release fixes this bug.

FWIW, you can also try setting the timeout manually in your function definition:

https://firebase.google.com/docs/functions/manage-functions#set_timeout_and_memory_allocation

[2022-08-02 23:24] #4801 closed

[2022-08-02 23:27] trex-quo opened #4819 ""Build failed ... npm ERR!" during function deployments"
### [REQUIRED] Environment info

**firebase-tools: 11.0.1**

**Platform: macOS Monterey 12.4**

### [REQUIRED] Test case

`firebase deploy --only functions:myFunction`

output:

[code]

### [REQUIRED] Steps to reproduce

I don't have an exact list of steps to reproduce this issue, but it has been happening frequently since last week on most of my function deployments. Additionally, this is now eve

[2022-08-02 23:39] andrewhamili commented on #4789
![image](https://user-images.githubusercontent.com/20767537/182494070-e5814952-0c20-41a3-abe8-f471b75d74f1.png)
Here is the screenshot of what we are experiencing while using Firebase Auth emulator.

Based on the error log. the domain/URL should be whitelisted. But on Firebase Auth emulator, there was no way we could whitelist any URL's for 3rd-party auth providers to work while using the Auth Emu

[2022-08-02 23:59] taeold commented on #4803
Hey @0xjei - thanks for reporting and apologies for the issue you are seeing.

I tried giving 16GiB function a spin and it gave my setup no problem:

[code]

![image](https://user-images.githubusercontent.com/14897098/182496406-e7d19800-2a29-44bf-8c8e-949d66ecc518.png)

Can you check to see if you are using the latest version of the firebase-functions SDK? In my setup, I was using 3.22.0.

[2022-08-03 00:35] #4793 closed

[2022-08-03 01:03] lisajian commented on #4789
The error you're seeing happens when you're trying to hit a domain (in this case for signing in with redirect) but it hasn't been registered as an authorized domain. Please follow the instructions in the error message to do so for your domain, http://auth-uat.homeful.ph.

[2022-08-03 01:10] MorenoMdz opened #4820 "Firestore is not instantiated in the window object anymore"
### [REQUIRED] Environment info

**firebase-tools:** 11.4.1

**Platform:** Mac

### [REQUIRED] Test case

Start the emulator with Firestore
Go into the web console, try to access `firestore` from it

<img width="707" alt="image" src="https://user-images.githubusercontent.com/29472480/182502582-5e40c4da-6de2-4a4c-80c6-d74601813319.png">

### [REQUIRED] Steps to reproduce

Above

### [REQUIRED] Expe

[2022-08-03 02:11] andrewhamili commented on #4789
Does this also apply if we are using Auth emulator?

[2022-08-03 12:12] whiplashoo commented on #4819
I get slightly different error when trying to update my functions via `firebase deploy --only functions`:

[code]

All packages and `firebase-tools` are updated to their latest version. I also tried running `npm i` to make sure the package files are up-to-date.

[2022-08-03 13:12] krishna-fenixwork opened #4822 "Firebase Function deployment fails with error "Build failed: npm ERR! code ERESOLVE""
### [REQUIRED] Environment info

"firebase": "^9.9.0",
"firebase-admin": "^10.0.2",
"firebase-functions": "^3.16.0",

**Platform:** Windows

[code]

I get this above error every time I try to deploy my next js project using cloud build. I checked the function logs on cloud functions console as well as on the firebase console and here what it is showing -

[code]

At first, I thought it is giving t

[2022-08-03 14:20] taeold commented on #4803
@0xjei Yes it should be working in both cases. Thank you for your detailed feedback - I'll go back and see what I can uncover.

[2022-08-03 14:26] Schmale97 commented on #4797
I am on firebase-functions version 3.22.0 and firebase-tools versions 11.4.0 and my secrets aren't being picked up when I emulate the cloud functions

[2022-08-03 14:39] xar commented on #4775
Hey @bkendall , sorry for late reply - but Firebase is using `unpkg.com` for loading material-components in Auth emulator - when user logs in via Google login...

[2022-08-03 15:04] colerogers commented on #4735
We just released firebase-tools `11.4.2` that should fix this issue. Please upgrade to that version and retry task function deployments. Thanks

[2022-08-03 15:12] arthurgubaidullin commented on #4735
@colerogers  Thanks. I'll check tomorrow at work.

[2022-08-03 16:09] bkendall commented on #4775
If you're still seeing issues, I think your best bet would be to reach out to [Firebase support](https://firebase.google.com/support) so they can route this to the right team. Thanks!

[2022-08-03 16:28] janm6k commented on #4735
It fixed the task functions for my project, thanks!

[2022-08-03 16:40] trex-quo commented on #4819
Here are two other similar issues. Deployments are completely broken for my team and me right now.
https://github.com/firebase/firebase-tools/issues/4822
https://github.com/firebase/firebase-tools/issues/4779

[2022-08-03 17:05] taeold commented on #4803
I played around with several settings, and at least locally on my machine:

[code]

[code]

Both successfully deployed a 16 GiB function:

![image](https://user-images.githubusercontent.com/14897098/182666748-c345203c-e785-49e6-9b8a-ebe25f43ccec.png)

That said, I think there are several inconsistencies that can be introduced in the version of the Firebase CLI and Functions SDK isn't compatible. F

[2022-08-03 17:23] taeold commented on #4797
@Schmale97 Do you mind sharing a quick example of your setup?

I tried to reproduce your issue using the latest Firebase CLI (11.4.2) and Functions SDK (3.22.0) and running the emulator, but things seemed to work on my setup:

[code]

[code]

[2022-08-03 17:46] taeold commented on #4819
We are investigating, though we aren't able to reproduce this error consistently on our side yet :(.

[2022-08-03 17:50] taeold commented on #4822
Hi @krishna-fenixwork thanks for reporting the issue.

`functions: Unhandled error cleaning up build images.` is unrelated to the issue you are experiencing. Firebase CLI will attempt to delete container images that Google Cloud Function produces as part of function deployment to help save unnecessary storage cost for your containers. It is done in "best effort" basis - it's failure does not indic

[2022-08-03 18:10] tonyjhuang commented on #3953
@kenttregenza
Can you share where you see "===============2559276420576958297==" is a valid boundary?

[2022-08-03 18:31] taeold commented on #4780
Hey @ianitsky @moldy530 - thanks for taking time to report an issue.

Asking the obvious questions

1) Can you give it another try with `v11.4.2` CLI (released yesterday). We fixed a load of issues with function configuration in the release.

2) What is the region of the function (which, I presume is the same region of the VPC). Do you happen to be deploying the function to multiple regions w/ opt

[2022-08-03 18:41] jnstahl commented on #4792
OK the deploy now works again, but I noticed the following warning:

 hosting[swimtimer1]: Unable to find a valid endpoint for function `webSignUp`, but still including it in the config

now 'webSignUp' is actually a function that no longer exists (neither https nor callable) - The other functions do not produce a warning regardless of call or request.

Not sure if this is a bug or if it was inten

[2022-08-03 18:50] bkendall commented on #4792
Yup, this sounds like it's working as intended. If the CLI is unable to find the rewrite target function (either HTTPS or callable) in either the local codebase _or_ the live project, it'll print that warning. Since it's specified in your `firebase.json` configuration, we're just going to print a warning for now rather than error out - you can choose to leave it or remove it if it's a function tha

[2022-08-03 18:50] bkendall commented on #4792
Sounds like this is resolved now - if there's more specific cases that are broken, feel free to open a new issue!

[2022-08-03 18:50] #4792 closed

[2022-08-03 18:51] lisajian commented on #4789
Ah, I see. I'm assuming you're using the JSSDK and followed the instructions https://firebase.google.com/docs/emulator-suite/connect_auth#android_ios_and_web_sdks? You shouldn't be running into that error if you're calling `connectAuthEmulator()`. We'd need more information about what you're doing to help diagnose the issue (e.g. a minimal reproduction); please either follow the bug template for t

[2022-08-03 19:16] coolbho3k commented on #4780
We're getting this problem too. Updated to v11.4.2 CLI as well.

[2022-08-03 19:20] taeold commented on #4780
@coolbho3k Do you have time to

1) Share snippets your `firebase-debug.log` from the failed deployment? Using `--debug` flag  should force generate `firebase-debug.log` if there aren't any.

2) Snippet of your source code that sets up the VPC connector on the function?

I'm trying to reproduce the issue w/o success using latest Firebase CLI / Functions SDK and wondering what I'm doing wrong. It wo

[2022-08-03 20:16] coolbho3k commented on #4780
@taeold Thanks for the reply!

Essentially here is the function:
[code]

With `our-vpc-connector` being replaced with our VPC connector and `our-topic` being replaced by a topic.

**We are currently working around the issue by just removing the VPC connector options from `runWith`. This is OK, as the VPC Connector setting on the Cloud Function persists despite it being missing from the function ar

[2022-08-03 21:33] coolbho3k commented on #4780
I notice in `environmentVariables`, `FIREBASE_CONFIG` was set to `us-west2` where the function is actually in `us-central1`.

Locally, my $FIREBASE_CONFIG doesn't include a `locationId`, so not sure where that's coming from.

[2022-08-03 21:44] taeold commented on #4780
@coolbho3k I notice that:

[code]

[2022-08-03 23:59] coolbho3k commented on #4780
@taeold $REGION is not a redaction. I'm not sure if that uses the $REGION environment variable on my local machine. I can maybe try my local environment variable $REGION to `us-central1`.

Today, some people on our team can deploy just fine, others are running into this same issue. Everyone is on the same old SDK version, but probably different Firebase CLIs. Weird.

[2022-08-04 01:28] abhis3 commented on #4329
Change is merged in and issue should be fixed, resolving

[2022-08-04 01:28] #4329 closed

[2022-08-04 01:47] cybex-dev commented on #4617
@colerogers

Not sure if I'm missing something but looks like this issue persists.

---

**OS: 5.18.12-arch1-1**
**npm: v8.5.1**
**Node: v17.6.0**

**Firebase-tools**
[code]

Using `npm list`
[code]

---

### MCVE

**Code Sample:**
[code]

**Deploy**

[code]

**firebase-debug.log snippet**
Cleaned out some sensitive bits but the important parts are here including `HTTP/400` response and `firebase-

[2022-08-04 02:34] moldy530 commented on #4780
Sorry for the delay here, I'm also still seeing the error on the latest version of firebase-tools and my PATCH request in the firebase-debug also shows `$REGION` in the path for the vpc connector

[2022-08-04 04:12] krishna-fenixwork commented on #4822
Hi, @taeold Thanks for replying to the issue. As you said, I've tried running the command locally that you've shared.

This is for ```npm ci```

[code]

This is for ```npm i```

[code]

As it states, it found 0 vulnerabilities on ```npm i```. I tried again deploying the project but had no luck, the issue persists.

I've one more question, I'm checking on the cloud console, it shows the details for

[2022-08-04 04:25] RazaShehryar commented on #4822
facing the same issue

[2022-08-04 04:54] LaithAzzam commented on #4822
With no changes? Facing the same issue 🤔

[2022-08-04 04:55] RazaShehryar commented on #4822
Yeah, I didn't change anything. I guess it was an issue with Cloud Build. I tried deploying one single function and it got deployed successfully.

[2022-08-04 05:21] LaithAzzam commented on #4822
Looks like the `GOOGLE_RUNTIME_VERSION` has been upgraded to `16.16.0` - can confirm the last build to succeed was running `16.15.0` - and if I try to run `npm i` in my `functions` directory on node `16.16.0`, I'm getting the same error.

[2022-08-04 05:34] krishna-fenixwork commented on #4822
Hi, there. I was right about my instinct for dependency conflicts. So, I've gone through the cloud console logs https://console.cloud.google.com/logs for my function and there also got the same dependency conflict logs which cause the issue in deployment.

Here are the libraries which cause the dependency conflicts in my project -

[code]

So, I've commented out the code where these libraries were

[2022-08-04 07:28] sbuys commented on #653
I'm having the same issue. Have not touched any config and I'm getting this error after 1 year of no issues:
`Invalid: lock file's @mono-repo/utils@0.0.1 does not satisfy @mono-repo/utils@file:libs/utils`

[2022-08-04 07:39] arthurgubaidullin commented on #4735
It fixed. Deployment works! Thanks.

[2022-08-04 07:39] #4735 closed

[2022-08-04 10:46] 0xjei commented on #4803
Hi @taeold! I appreciate the effort and clarity of your response. Anyway, I may have found the problem here and I think this is closely related to this PR #4823.

As you know, I have been trying different combinations of memory + cpu for CF V2 these days without success. When I found this PR, I noticed that  when I was importing the `onCall()` method I was configuring the function with just 16 GiB

[2022-08-04 12:36] taeold commented on #4803
@0xjei Thanks again for detailed bug report and your patience being on the bleeding edge. Will get back at the create issue soon,

[2022-08-04 12:55] taeold commented on #4822
Thanks for the clue @LaithAzzam - it looks like recent version of `npm` (packaged with `node`) included a "bugfix" that's now stricter on invalid dependency graph present in your package-lock.json. So `npm ci` could suddenly start failing w/ the latest version of node 16.

https://github.com/npm/cli/issues/5113

Unfortunately, there isn't a way that I know to pin the version of `nodejs16` used on

[2022-08-04 13:03] colerogers commented on #4617
@cybex-dev It looks like you have an error deploying a function, not running the emulator. In the future, please open a new issue instead.

The error message you're receiving is from Google Cloud Identity Platform. [According the prerequisites section in the Firebase docs](https://firebase.google.com/docs/auth/extend-with-blocking-functions#before_you_begin):
[code]

That is a **required** step be

[2022-08-04 14:40] whiplashoo commented on #4819
It seems that the instructions from @taeold from https://github.com/firebase/firebase-tools/issues/4822#issuecomment-1205219275 work. What I did:

- Switched to node v16.16.0 on my machine.
- Tried `npm ci` and got the aforementioned error.
- Ran `npm install` again on both the root and the functions folder.
- `firebase deploy --only functions` finally worked (albeit it took some more time than us

[2022-08-04 16:57] LaithAzzam commented on #4822
@taeold 🙏 Anytime! Ty for the response and explanation!

For anyone else that may stumble on this, a lot of our dependency issues were stemming from our upgrade to **React `17`**.

Downgrading to **React** `16.13.0` cleaned up _most_ of the errors, eventually getting us to successful builds with the _fewest_ additional upgrade / downgrades.

This change is probably _better_ for the long run, given

[2022-08-04 17:05] taeold commented on #4819
Going to mark this a duplicate of https://github.com/firebase/firebase-tools/issues/4822 to consolidate our effort.

**Note to others** - Sudden appearance of `Build failed: npm ERR! code ERESOLVE` on your function deployment means your `package-lock.json` file had latent "bug" i.e. incompatible dependency graph that is now being surfaced. GCF platform recently upgraded to using node `16.16.0` whi

[2022-08-04 17:05] #4819 closed

[2022-08-04 17:06] taeold commented on #4822
@LaithAzzam Thanks for sharing your experience.

I'm going to mark the issue as closed as it seems like there isn't something that we can do to help fix the depedency issues in the CLI.

If anyone have issues or need help, feel free to open up a new issue.

[2022-08-04 17:06] #4822 closed

[2022-08-04 17:26] #2328 closed

[2022-08-04 18:49] Schmale97 commented on #4797
What other details do you need about my set up?
I'm using node 16.16.0

I did the same test as you with a simple onRequest and onCall,

[code]

firebase-functions: 3.22.0
firebase-tools: 11.1.0
outputted successfully from both functions
[code]

firebase-functions: 3.22.0
firebase-tools: 11.4.2
outputted no secret from both functions
[code]

Also not sure if this related but I cannot deploy anythin

[2022-08-04 19:21] abhis3 commented on #3390
Hey there, I took a look into it and wasn't able to repro this issue using the `firebase.json` that you provided. In addition, it seems that all the linked issues (#4326, etc) are closed out and we have integration tests that specifically test for the storage emulator accepting multiple targets.

We recommend upgrading to the latest version of the emulator as we've made a lot of fixes and stabilit

[2022-08-04 19:21] #3390 closed

[2022-08-04 19:54] Schmale97 opened #4833 "Unable to deploy functions using vpc connector"
### [REQUIRED] Environment info

**firebase-tools:** 11.4.2
**firebase-functions:** 3.22.0
**Platform:** macOS
**Node:** 16.6.0

### [REQUIRED] Test case

Functions unable to deploy when deploying to 'europe-west2' when using a vpc connector

### [REQUIRED] Steps to reproduce

1. Set up vpc connector in europe-west2
2. Deploy cloud function that uses the vpc connector

### [REQUIRED] Expected beha

[2022-08-04 19:56] Schmale97 commented on #4833
I am also seeing an error in the logs where it is unable to detect the firebaseSDK

[code]
[code]

[2022-08-04 20:23] dumabg commented on #4772
It occurs the same to me. The data is exported on the file accounts.json. When starts the emulator, appears a message saying "Importing accounts", but nothing appears on the console.

I attach the files generated.
[emulators.zip](https://github.com/firebase/firebase-tools/files/9263077/emulators.zip)

[2022-08-04 20:36] #3533 closed

[2022-08-04 20:36] tonyjhuang commented on #3533
The fix will be present in the next version of the emulator

[2022-08-04 21:22] #3953 closed

[2022-08-04 23:05] ZEAL-MATCH-LTD commented on #4833
I'm not sure if this is linked but :

### env
[code]

### Output
[code]

I've never seen this issue before and i'm

[2022-08-04 23:19] christhompsongoogle commented on #4772
Hmm, I'm able to repro with a fresh Seed - looping in Lisa for some additional expertise on the Auth side

[2022-08-04 23:41] taeold commented on #4780
Uh oh - thanks for the updates @moldy530 @coolbho3k.

Unfortunately, I found a bug in our code:

https://github.com/firebase/firebase-tools/blob/191ef886585b1f7fa1957f6200bc1272ac28f264/src/deploy/functions/runtimes/node/parseTriggers.ts#L366

I will try to ship a fix asap, but I think the fix will be released at the earliest Monday of next week.

As you already know, few workarounds until then:

[2022-08-05 09:18] dhruvsakariya commented on #2927
same error
+  functions: Using node@16 from host.
!  Your requested "node" version "14" doesn't match your global version "16". Using node@16 from host.

[2022-08-05 10:09] erikkjernlie commented on #4239
`.env` variables are only available during application _runtime_, and not when you are deploying. You have to use Firebase's remote config if you want to use env variables when initializing functions, e.g. `functions.config().environment.isDev`.

[2022-08-05 10:30] Schmale97 commented on #4833
I think this may be a duplicate actually https://github.com/firebase/firebase-tools/issues/4780

[2022-08-05 14:36] #4833 closed

[2022-08-05 16:28] Yuangwang commented on #3839
Hi, thanks for the report! I took a look but couldn't quite reproduce the same behavior so its possible that this has been fixed in a recent patch as we've been fixing many other issues recently.

I'm closing this for now, but please give it another try and see if it works now. If it still doesn't work please link your `storage.rules` file as well as what folder structure you're creating and I'd b

[2022-08-05 16:28] #3839 closed

[2022-08-05 17:05] coolbho3k commented on #4780
@taeold Great find, thanks!

[2022-08-05 17:29] #4780 closed

[2022-08-05 22:13] tobilen commented on #4753
cors header set by the auth emulator is not `*`, here is a screenshot of the request when calling it in a local environment:
![image](https://user-images.githubusercontent.com/8217788/183218040-72a05b18-03cc-4412-a700-12763879d9e8.png)

on gitpod, i get this:
![image](https://user-images.githubusercontent.com/8217788/183218173-453d0cfa-ca93-4f6f-95eb-81cd4c23f897.png)

[2022-08-06 13:08] micro-luke commented on #4735
Great stuff - issue fixed for me also.

[2022-08-06 21:16] GarrickBrown commented on #4663
I've had the same issue since v10.9.0 (with the last working version being the one prior v10.8.0), so it's likely that a change made between those versions is the culprit.

[2022-08-07 09:20] GiddeonWyeth commented on #3676
@taeold Having this issue as well. Is there any news?

[2022-08-07 09:52] GiddeonWyeth commented on #3676
For those, who still encounter this issue, this is what helped me:
I had uninstalled all versions of my `firebase-tools` using:
1. `npm uninstall -g firebase-tools`
2. `which firebase` and them `rm -f <PATH_TO_FIREBASE>`

and then install it again `npm i -g firebase-tools`

[2022-08-07 11:01] mcapodici commented on #4420
What I have found is that the resource data seems to match the query, not the resource, at least as shown in http://localhost:4000/firestore/requests/ view, as I was trying a hack to get around this:

![image](https://user-images.githubusercontent.com/3528831/183287539-da9af03c-07dd-4f04-9773-23b252157b2b.png)

[2022-08-07 11:03] mcapodici commented on #4420
It is a pain to write minimal reproducible steps as I would need to develop a complete app just do to this. It seems to happen a lot - when doing a query over all documents on a where clause. It is probably not hard for you to find out why based on the information especially that that constraint ended up in the resource.

 Here is my example that lead to the query above.

[code]

[2022-08-07 18:37] raviagheda commented on #4353
Deleting `/usr/local/lib/node_modules/firebase-tools` and then re-installing firebase-tools works for me!

[2022-08-08 03:52] vojdan opened #4836 "Unit test memory leak"
### [REQUIRED] Environment info

**firebase-tools:** `11.4.2`
**node --version:** `v16.16.0`

**Platform:** `MacOS Monterey 12.5, MacBook Pro Apple M1 Max, 64 GB`

### [REQUIRED] Test case

Repro: https://github.com/vojdan/firebase-memory-leak

Look at Issue 2 in README.md
https://github.com/vojdan/firebase-memory-leak#issue-2---memory-leak

### [REQUIRED] Steps to reproduce

### GIF included in R

[2022-08-08 03:59] vojdan opened #4837 "Flaky unit test for storage rules"
### [REQUIRED] Environment info

**firebase-tools:** `11.4.2`
**node --version:** `v16.16.0`

**Platform:** `MacOS Monterey 12.5, MacBook Pro Apple M1 Max, 64 GB`

### [REQUIRED] Test case

Repro: https://github.com/vojdan/firebase-memory-leak

Look at Issue 1 in README.md
https://github.com/vojdan/firebase-memory-leak#issue-1---flaky-tests

### [REQUIRED] Steps to reproduce

### GIF included in R

[2022-08-08 10:09] pascalbe-dev commented on #2228
I'm also experiencing the issue with version 11.0.1 on Ubuntu.

[2022-08-08 14:12] mgiuliano commented on #3293
Being able to run integration tests against features that require strong consistency is a must-have. Without this the emulator is just a key-value store and the most important feature of Firestore cannot be tested. I might as well just use Redis.

When can you get this fixed?

[2022-08-08 18:31] #3496 closed

[2022-08-08 19:39] tonyjhuang commented on #4547
Hi @mikehardy I've tried running the commands in https://github.com/invertase/react-native-firebase/blob/main/tests/README.md but they're failing with the following error message:

[code]

Admittedly I'm not very familiar with the react native dev environment, although reading the test case, it should be semantically equivalent to the following call to the JS SDK equivalent:

[code]

Would you say

[2022-08-08 19:46] tonyjhuang commented on #4547
I've added a new test case to our integration test suite in https://github.com/firebase/firebase-tools/pull/4841

[2022-08-08 20:05] tonyjhuang commented on #3398
Filed an internal bug to track, b/241813366

[2022-08-08 20:10] joehan commented on #4836
Thanks for reporting this with a clear repro! We will investigate.

[2022-08-08 20:19] taeold commented on #4663
@GarrickBrown Do you mind sharing your setup with us? (Are you using pnpm or other monorepo tooling by any chance?)

In this particular issue, version of the firebase-functions package is relevant too - please share if you can!

[2022-08-08 20:24] tonyjhuang commented on #4547
From that same readme, ios pod install seems to work: `yarn tests:ios:pod:install`

But failing to build ios tests:

[code]

[2022-08-08 21:34] Psycarlo commented on #4657
**Environment Info**

- Windows
- Firebase --version `11.5.0`
- Java -version `java version "18.0.2"`

**About**

Everytime I `start` or `exec` emulators, a java window opens:

[code]

It does not close automatically.

This started happening when I updated firebase-tools and java version

[2022-08-08 22:38] moldy530 commented on #4797
I'm also experiencing my functions not being created or updated with secrets on firebase-tools 11.5.0 and firebase functions 3.22

[2022-08-09 04:52] taeold commented on #4803
@0xjei Sorry I didn't get back earlier.

I reproduced a similar error to yours in my local setup:

[code]

16GiB + 2 CPU. I get following error:

[code]

So it turns out 2 CPU + 16 GiB is not an allowed configuration for Cloud Run. This is a surprised - I don't see anything about **maximum* memory per CPU shape.

Looking again at your error message:

[code]

Looks like your function is configured

[2022-08-09 05:19] inlined commented on #3919
Scanning through some bugs and came across this one. I wanted to give a few updates:
1. **Regression/Fix**. I'm glad that the regression seems fixed already and sorry that we had a regression.
2. **Invalid source token**. We have not started a fix here. If someone wants to try fixing this, it requires some cleverness but not knowledge of the codebase
3. **Quotas** You may find some (seemingly) con

[2022-08-09 05:19] vojdan commented on #4810
The new default works! The message shows up explaining what the issue is.

Thanks!

[2022-08-09 13:42] vijaytholpadi commented on #4758
@bkendall

To update you and everyone else watching this thread, [CircleCI confirmed](https://discuss.circleci.com/t/intermittent-failures-firebase-tools-exited-with-code-exit-status-7/44761/12?u=vijaytholpadi) that they are able to reproduce this issue at their end for `curl` usage and have suggested to use `wget` instead to get the firebase tools.

[2022-08-09 15:27] bkendall commented on #4810
👍 you're welcome!

[2022-08-09 15:48] tonyjhuang commented on #3799
Followed the steps in the initial comment exactly using firebase-tools v11.5.0 and couldn't reproduce the reported behavior. Since this bug is quite old, I'm going to assume that this was fixed sometime between when this bug was first reported (v9.9.0) and now.

@OutdatedGuy if you're still experiencing issues, it would be helpful to us to include a sample repo where you can reliably repro this bu

[2022-08-09 17:14] OutdatedGuy commented on #3799
Yo @tonyjhuang, still experiencing the same issue. Should I post the details here or create a new issue?

[2022-08-09 17:44] tonyjhuang commented on #3799
Can you create a sample repo that I could check out using the latest version v11.5.0 to reproduce the error? I just created a brand new project via `firebase init` and followed your instructions and was having trouble seeing what you're seeing

[2022-08-09 17:49] OutdatedGuy commented on #3799
### [REQUIRED] Environment info

**firebase-tools:** 11.5.0

**Platform:** Windows 11

### [REQUIRED] Test case

**Files produced after following the `steps to reproduce`**

<details>
<summary>.firebaserc</summary>

[code]

</details>

<details>
<summary>.gitignore</summary>

[code]

</details>

<details>
<summary>firebase.json</summary>

[code]

</details>

<details>
<summary>storage.rules</summa

[2022-08-09 17:52] OutdatedGuy commented on #3799
@tonyjhuang I don't think a repo is necessary as it just happens without any user created code.
Just the default `firebase init` generated files are enough to create the crash.

[2022-08-09 18:58] lisajian commented on #4772
I'm also able to repro - looks like this issue was introduced somewhere between v11.2.2 and v11.3.0. Taking a further look

[2022-08-09 19:38] christhompsongoogle commented on #4420
Could be related : https://github.com/firebase/firebase-js-sdk/issues/5229

Includes a possible workaround

Google internal tracking bug: b/129293104

[2022-08-09 19:47] Yuangwang commented on #4778
Hi @phath9, I'm trying to reproduce this bug but I'm having some trouble getting the same error. Could you send some sample code that leads to this error?

Also while trying to reproduce this bug I've stumbled upon another bug where the emulator crashes with the same error message you see when a file upload is blocked by the storage.rules. I'll be working on fixing that one in the meantime so hope

[2022-08-09 19:56] Yuangwang commented on #4547
Hi @mikehardy I just pushed a fix to a similar issue (https://github.com/firebase/firebase-tools/pull/4843) where the emulator was crashing with the same error that you see when an empty buffer was uploaded from the android sdks. Please keep an eye out for the new release and give it another try once the change gets shipped!

[2022-08-09 21:08] stdavis commented on #4807
I'm experiencing the same timeout issue at version 11.5.0. Downgrading to 11.2.2 fixes the issue for me.

[2022-08-09 21:45] GarrickBrown commented on #4663
@taeold no we aren't using pnpm or other monorepo, pretty basic setup. We have kept firebase-functions up-to-date (currently running v3.22.0), so unfortunately I'm not sure which version we were on when we first noticed this issue.

[2022-08-09 22:55] mcapodici commented on #4420
I suspect that other issue is the same thing basically.

The workaround mentioned there is:

Or more generally, include everything your rule checks for in a where clause.

Yes this is my experience too. It means you might need 'dummy' clauses, but this is good enough workaround to unblock me I think. I will post back if I find a situation where this doesn't work.

All this kind of makes me think:

[2022-08-09 23:00] #4772 closed

[2022-08-09 23:14] lisajian commented on #4772
PR#4848 should address the issue. MFA was added to the the v11.3.0 release but unpopulated MFA fields in the Emulator UI may be represented by an empty array, which was causing errors to be thrown incorrectly. The fix should go in the next release of the CLI (>v11.5.0).

[2022-08-10 01:32] yuchenshi commented on #4753
I think we have two separate issues here.

@tachibana-shin According to the HAR file, the response reverse proxied by Gitpod was `401` with no CORS related headers. I've tried to replicate your exact request (`Copy as cURL`) but issued it directly against the Auth Emulator (`http://127.0.0.1:9099/`) instead of Gitpod and got `204 no content` and the correct headers. The screenshots from @tobilen

[2022-08-10 08:46] niraldmello commented on #2341
Any update? Is it possible now to install firebase tools on aarch64 (ARM64) Linux?

[2022-08-10 14:45] RandomToni commented on #2329
Hello,

After a while I manage to find a solution. It was weird because it was working but all of a sudden it did not.

The issue was caused because I was pointing to the wrong project, my GoogleService-Info.plist file was from one project but firebase CLI was pointing to another. Please make sure to point to the same project using `firebase use <project-name>`.

[2022-08-10 18:47] octaviodivy opened #4856 "getIdToken(true) is not returning a new token"
### [REQUIRED] Environment info

**firebase-tools:** 11.5.0

**Platform:** Windows 10

**Node:** 14.20.0

### [REQUIRED] Test case

[code]

### [REQUIRED] Steps to reproduce

On localhost, against the Auth emulators:

- In a Firebase project with firebase Auth working, authenticate with phone
- Invoke the getIdToken(true) to force refresh the token
- Update e-mail (which forces token to be revoked

[2022-08-10 18:56] diegodulval commented on #4856
The same is happening here, but I use the macOS operating system.

[2022-08-10 23:56] taeold commented on #4807
Hi @JasminDreasond @stdavis , do you mind sharing an example of failure?

I tried to follow @absemetov example, but things are working as expected on my end, and I'm keen on finding another example that I can use to reproduce the error on my side.

Note that we shipped a feature to enforce a timeout in the emulator (as requested in https://github.com/firebase/firebase-tools/issues/2837). This most

[2022-08-11 06:36] rawatnaresh opened #4859 "Error [ERR_REQUIRE_ESM]/ ERR_PACKAGE_PATH_NOT_EXPORTED when importing some packages"
### [REQUIRED] Environment info

**firebase-tools:** 11.2.2

**Platform:** macOS

### [REQUIRED] Test case

[code]

### [REQUIRED] Steps to reproduce

- init firebase functions `firebase init functions`
- Install node-fetch `yarn add node-fetch`
- Run functions `yarn serve`

### [REQUIRED] Expected behavior

When i use `node-fetch` with other nodejs projects it works perfectly but I'm not able to

[2022-08-11 06:44] bobbydreamer commented on #4807
I am facing the same issue. The issue is not consistent meaning, it works sometimes and most times it fails.
[Yesterday i have posted this in StackOverflow and later in the day posted answer as well. It did work for me at that time and today back again with same issue](https://stackoverflow.com/questions/73301429/firebase-hosting-nodejs-express-app-not-working-times-out-a-lot)

In package.json
[co

[2022-08-11 08:00] pklitscher commented on #4227
Hey @yuchenshi any timeline on getting this feature in for Firestore and RTDB? Small change that would make life so much easier and already demonstrated via the above PR.

Thanks so much for your help

[2022-08-11 10:47] vamshiaruru-virgodesigns commented on #4797
We are seeing that when we try to set region using environment variables in `.env` file, and try to use it as `functions.region(process.env.REGION)`, but it is coming up as undefined. But the same variable can be accessed from inside the function body.
Is this a bug related to the same bug in this issue? Or is this an expected behaviour?

[2022-08-11 11:27] rawatnaresh commented on #4807
I get timeout error when the NodeJS version is >= 15. downgrading the NodeJS or the firebase resolved the issue

[2022-08-11 14:26] colerogers commented on #4597
Sorry that you've run into this issue. We should have fixed this in #4826 and released in `11.5.0`. Can you update to the latest version and retry? Thanks!

[2022-08-11 15:21] Yuangwang commented on #4547
New update was just released! please give it a try and see if this issue is still there

[2022-08-11 15:27] taeold commented on #4807
@bobbydreamer Based on what I read from your stackoverflow question and your logs, I think the "timeout" issue you are seeing is a different problem. Specifically, I think this error message you are seeing:

[code]

This means that your application server couldn't be started within ~7 seconds 🤔. If you open up a new issue, I'll follow up with more detail there.

@rawatnaresh Thanks for the clue he

[2022-08-11 16:09] yuchenshi commented on #4227
@pklitscher please try getting your PR merged first. That will be a good demonstration, especially after it lives in the releases for a while without affecting anyone else's use case. We'll then consider adopting the final merged code changes to other emulators.

[2022-08-11 16:23] bkendall commented on #4859
I do believe that `init functions` inits a commonjs module, not an ES module. `node-fetch` at v3+ is an ES module, which cannot be required from a commonjs module. You'll have to make the appropriate updates to `package.json` and `tsconfig.json` to be able to use `node-fetch` v3+. Alternatively, install `node-fetch@2` and this should work.

I'll flag this with the CF3 team and see if we want to ch

[2022-08-11 16:23] #4859 closed

[2022-08-11 16:41] absemetov commented on #4807
I tried to change the version of node js, I still have the problem

[2022-08-11 16:45] absemetov commented on #4807
Hi @taeold!
Let's think about what from this list could cause this error
[v11.3.0](https://github.com/firebase/firebase-tools/releases/tag/v11.3.0)
Fix bug where functions:config get command failed on empty variable. (https://github.com/firebase/firebase-tools/pull/4707)
Fix invoker type mismatch for https functions.
Add multi-tenancy and multi-factor authentication features in Emulator UI
Fix bug

[2022-08-11 16:48] taeold commented on #4797
@vamshiaruru-virgodesigns In that case, it is an expected behavior. Check out https://github.com/firebase/firebase-functions/issues/1084 why that's the case and what we are doing about it.

[2022-08-11 17:31] colerogers commented on #4399
Hey folks, sorry for the delayed response. I've tried to repro this issue but each re-deploy is turning out successful without any error messages. Can you both confirm that you're still experiencing this issue. Thanks!

[2022-08-11 19:50] mikehardy commented on #4547
@tonyjhuang really sorry for the delayed reply, I've been traveling and only just saw these. I really appreciate the effort giving our test suite a try! I'm sorry it did not work out from you. I do work from clean environments semi-frequently but there must be something missing with regards to checking for + validating environment before the run starts. On the android side it looks like maybe the

[2022-08-11 19:50] #4547 closed

[2022-08-12 02:14] bradintheusa commented on #3092
If anyone needs more examples of it not working I'm happy to help, It's driving me crazy and taking my productivity to zero.

[2022-08-12 04:44] RazaShehryar opened #4878 "Firebase start local emulators for specified codebase only"
While having two separate codebases (one for v1 and the other one for v2 functions), it is very frustrating that whenever I run `firebase emulators:start --only functions:${codebase-name}`, it initializes all the codebase functions.

I would like to start only those functions which falls under the specified codebase name.

[2022-08-12 05:57] stfsy opened #4862 "Unable to disable Cors for v2 https function"
### [REQUIRED] Environment info

**firebase-tools:** ^11.4.1

**Platform:** Windows

### [REQUIRED] Test case
ATM the emulator sets the following env vars

https://github.com/firebase/firebase-tools/blob/5fc562dc39b1e1c7f171971803e1329226cb059c/src/emulator/functionsEmulator.ts#L1149-L1152

which leads to the fact that an application cannot disable the cors implementation of the functions framewor

[2022-08-12 06:00] stfsy commented on #4862
I was wondering whether this is can/should be fixed in the emulator or the function implementation itself. Of course I do not know whether the `enableCors` debug feature was left there intentionally and/or is here to stay.

I did not provide an example repo, as I think it's clear why it behaves like that. Hope it's fine.

[2022-08-12 06:41] stfsy commented on #4862
You can see above I also opened PR https://github.com/firebase/firebase-functions/pull/1189 to adapt the functions implementation.

[2022-08-12 11:21] ayyash commented on #2664
index.html works under emulators but 404.html is ignored

[2022-08-12 11:43] ayyash opened #4879 "Hosting i18n rewrites for 404.html not supported by emulator"
Running `firebase emulators:start` in local folder, with i18n rewrites, following the example found in this document: https://firebase.google.com/docs/hosting/i18n-rewrites#priority-order-example

Browsing to `localhost:5000/`
Changed cookie to `fr` -> displays the correct `fr/index.html`

Browsing to `localhost:5000/awesome-page.html`
**Expected behavior**
I expect the version under `/fr/404.html

[2022-08-12 11:48] gerryau commented on #2034
+1 @inlined Any news on this feature?

[2022-08-12 12:46] sceee opened #4863 "`process.env.FUNCTIONS_EMULATOR` is not defined when using `firebase emulators:exec`"
### [REQUIRED] Environment info

**firebase-tools:** 11.6.0

**Platform:** Windows, Ubuntu, Mac

### [REQUIRED] Test case

Have a Callable Cloud Function and call
[code]
within this cloud function.

### [REQUIRED] Steps to reproduce

1. Run the Cloud Functions emulator using `firebase emulators:start` => The log from the test case will output `Functions Emulator: true`.
2. Have a test case that ca

[2022-08-12 13:51] paymog opened #4864 "brave/safari report CORS issue when calling emulated function from nextjs app"
### [REQUIRED] Environment info

**firebase-tools:** 11.6.0

**Platform:** macOS

### [REQUIRED] Test case

1. npx create-next-app --ts
2. firebase init (only functions)
3. uncomment the default helloworld example and make it `onCall` instead of `onRequest`
4. create a button in the next app which calls the helloworld callable
5. configure the next app to use the emulator in dev

### [REQUIRED] St

[2022-08-12 14:13] paymog commented on #4864
Note that these CORS issues don't exist in production, only when calling the emulated function. In production I have my webapp hosted by Vercel.

[2022-08-12 18:07] Yuangwang commented on #3568
Hi @brodao I've tried taking a look at this but I couldn't quite reproduce the issue. Looking at your debug log, I see that its missing a section that says the Java version so could you please make sure you have Java setup properly? It could also be the case that this issue has been fixed at some point so could you please go through the the windows setup steps again? https://firebase.google.com/do

[2022-08-12 18:07] #3568 closed

[2022-08-12 19:18] stdavis commented on #4807
@taeold Here is a simple repro: https://github.com/stdavis/firebase-emulator-timeout-repro. This request times out every time. Thanks for taking a look at this!

Note, I'm running node v16.16.0.

I've also verified that this occurs in the newest release of firebase-tools, v11.6.0.

[2022-08-12 20:33] kris-kolve-jumio commented on #4741
setting the Hub host resolved the ECONNREFUSED error for me however, now every test I run storage tests... all the test time out using Mocha at 20seconds.

If I set the storage configuration with host: "127.0.0.1", port:9199, I can get tests with getDownloadURL() to complete appropriately. However, tests with uploadBytes still timeout.

In fact I am not able to get any upload statements to work wi

[2022-08-13 02:13] bradintheusa commented on #2960
Any updates? I still get it.

[2022-08-14 08:31] kyoh86 opened #4871 "firebase-tools fails to deploy Functions with an error "HTTP Error: 403, Permission denied to enable service [artifactregistry.googleapis.com]”"
### [REQUIRED] Environment info

**firebase-tools: 11.4.2, 11.6.0**

**Platform: Arch Linux**

### [REQUIRED] Test case

I don't know that and I have no time to provide it. sorry.

### [REQUIRED] Steps to reproduce

`firebase deploy --project xxx`

### [REQUIRED] Expected behavior

deployed.

### [REQUIRED] Actual behavior

[code]

## Additional information

Using 11.1.0, it was successful.

[2022-08-14 15:06] Oktogazh opened #4872 ".env.local file gets overwritten by Google Secrets manager in Firebase Emulator"
### Environment info

**firebase-tools: 11.1.0**

**Platform: Ubuntu**

### Test case
[code]

### Steps to reproduce
**Case 1**:
Start a function from the emulator which require the `STRIPE_SECRET_KEY` secret, whose value gets overwritten with that of the live secret in the Google Cloud Secret Manager of my project in use.
Yet the log of the emulator states that:
[code]

**Case 2**:
When trying to

[2022-08-15 01:42] JoseAlz commented on #493
"firestore": {
    "firestore.rules": "firestore.rules"
  },

[2022-08-15 09:39] OmerRosenbaum commented on #4803
Hi, I'm also having a similar issue - I have `firebase-functions` version `3.22.0`, and I am running this:
[code]
Where:
[code]

[2022-08-15 13:35] mdanazhiev commented on #3930
Hi all,

We have same error while trying to upload, my guess is because the `dSYMs` folder contents many dSYMs files doesnt know which to upload?

Platform: iOS
The script is executed on Azure.
Command:  `firebase crashlytics:symbols:upload --app=$(FIREBASE_APP_ID_DEV) "$(Pipeline.Workspace)/InspireHealthDev.xcarchive/dSYMs/"`

Log:
i  Generating symbols for /Users/runner/work/1/a/output/InspireHe

[2022-08-15 13:46] mdanazhiev commented on #3930
It seems it is not an issue to have multiple files
`for (const symbolFile of symbolFiles) {
      utils.logBullet(`Generating symbols for ${symbolFile}`);
      const generateArgs = buildArgs({ ...jarOptions, symbolFile });
      runBuildtoolsCommand(jarFile, generateArgs, debug);
      utils.logBullet(`Generated symbols for ${symbolFile}`);
      utils.logBullet(`Output Path: ${jarOptions.cachePa

[2022-08-15 16:42] ulises-castro commented on #3092
For my case I forgot to indicate in --export-on-exit the same path I use for importing data
[code]

[2022-08-15 16:57] inlined commented on #2034
As you may have heard leaks online, funding for projects at Google have gotten pretty tight. This is currently funded only for 20% work, which we have no volunteers for at the moment. I plan to make more formal pitches for 20% work and if anyone externally would like to contribute I make sure they're connected with the right people so that their work can be used right away.

The good news is that

[2022-08-15 17:55] GorvGoyl commented on #2034
@inlined, thanks for putting up all the efforts. I'm a little confused why you would need funding if Google itself owns Firebase. Are engineers working on this project not employees at Google?

[2022-08-15 20:07] mrichards commented on #4604
It appears the proxy environment variable in the  [public documentation](https://firebaseopensource.com/projects/firebase/firebase-tools/#using_behind%20a%20proxy) is not what Crashlytics expects. Try setting `https.proxyHost` and `https.proxyPort` (or `http.proxyHost` and `http.proxyPort`), in addition to the environment variables you are already using.

Let us know if that works. If so, we'll up

[2022-08-15 20:21] yuchenshi commented on #2960
Friendly reminder to provide a MVCE: https://stackoverflow.com/help/minimal-reproducible-example -- this helps us repro the issue and find the root cause.

Also, `INFO: Detected HTTP/2 connection` itself isn't a warning or error -- it is probably unrelated to the issue with rules

[2022-08-15 20:22] yuchenshi commented on #4741
@kris-kolve-jumio Would you mind opening a different issue for the storage emulator timeout?

[2022-08-15 20:24] joehan commented on #4872
In order to provide local versions of secrets, you'll need to use a .secret.local file instead of .env.local, as described here: https://firebase.google.com/docs/functions/config-env#secrets_and_credentials_in_the_emulator

So, for your example above, you'll just need to provide the secret value in .secret.local:
[code]

[2022-08-15 20:24] #4872 closed

[2022-08-15 23:16] inlined commented on #2034
Sorry, my manager-speak is showing. "Funding" means "I allocate X engineers for Y months on Z project instead of A B or C". When we don't have enough engineers to go around, we either hire more engineers or we reduce the priority of other projects. As it stands, we have more feature requests than engineers to build them; our current efforts are going into major platform improvements like Cloud Fun

[2022-08-15 23:55] dtran320 commented on #2606
We're running into this issue consistently deploying 72 functions using `firebase-functions 3.15.7` from Github Actions. Will try version bumping to 3.22.0 and then try deploying in batches, but would be nice if we didn't have to slow down the deploy even more.

[2022-08-16 00:48] lisajian commented on #4856
I'm on macOS, firebase-tools v11.5.0, node 14 and using JSSDK v9 (it seems like you're using v8 based on the syntax and that I know of, the refresh logic hasn't changed significantly since v8), but unfortunately, I'm not able to reproduce this.

Could I get a bit more information about how you're doing phone auth? Are you also seeing any errors in your console when you did any of the steps (e.g. d

[2022-08-16 09:57] rhodgkins opened #4883 "Configurable emulator logging output"
When using the functions and database emulator together (with `emulator:exec`) you can get a lot of noisy logs:

[code]

When combined with unit tests, the test result output can sometimes get lost in the midst of all these!

Is there anyway a flag or something (i.e. configurable options for `emulators` in `firebase.json`?) could be added to `firebase emulator:exec` to suppress this output?

I'm c

[2022-08-16 11:01] 0xjei commented on #4803
Hey, @taeold! Thank you for your explanations and responsiveness in solving the issue. Glad to have helped you guys finding the bug.

BTW, after your fix and upgrading to `11.7.0` version everything seems working fine when deploying combinations of 16GiB/4CPUs and 32GiB/8CPUs :tada:

[2022-08-16 16:22] NuclearGandhi opened #4884 "Cloud Tasks is not supported by the Firebase Emulator Suite"
### Environment info

**firebase-tools:** 11.6.0

**Platform:** Windows 11

### Test case

Tasken from [this question on StackOverflow](https://stackoverflow.com/questions/73373895/how-do-i-emulate-enqueuing-a-google-cloud-task-from-inside-a-firebase-function).

I'm using the Firebase Emulator to emulate Firebase's Firestore, Functions and Authentication. By following the documentation, [Enqueue f

[2022-08-16 16:47] johnnyoshika commented on #653
@jjgriff93 Have you tried [this technique](https://github.com/firebase/firebase-tools/issues/653#issuecomment-827960976) I described above? I have a very similar setup as you (using npm workspaces) and the technique's been working well for me for over a year.

[2022-08-16 16:54] brad426 opened #4885 "Starting emulators with `--inspect-functions` flag does not product desired result"
### Environment info

**firebase-tools:** 11.4.0

**node:** v16.16.0

**Platform:** macOS 12.5 (Apple Silicon)

### Test case

Create a fresh firebase project
[code]

### Steps to reproduce
[code]
Shows warning:

[code]

Output:
[code]

[firebase-debug.log](https://github.com/firebase/firebase-tools/files/9352899/firebase-debug.log)

[2022-08-16 17:27] taeold commented on #4803
Great to hear! Thanks for being proactive and helping up squash many bugs! 🐛

[2022-08-16 17:27] #4803 closed

[2022-08-16 17:27] taeold commented on #4884
@NuclearGandhi Thanks for writing up a detailed issue.

Sadly, Emulator doesn't support Cloud Tasks functions today - there isn't a "Google Cloud Task Emulator" that's hooked up to the Firebase Emulator Suite.

We also think it would be a great addition to the Emulator Suite, but we are focusing on other areas of improvement at the moment. I'm going to convert this issue into a feature request and

[2022-08-16 18:44] bradintheusa commented on #3092
The rollback suggested by @abakucz works for me

[code]

[2022-08-16 21:10] Yuangwang commented on #4778
I've fixed the issue I mentioned in https://github.com/firebase/firebase-tools/pull/4860 so I'm closing this for now. Please keep an eye out for the emulator release and give it another try then. If you're still having the issue please reopen this issue and I'd be happy to take a look

[2022-08-16 21:10] #4778 closed

[2022-08-17 00:22] jacobsandlund opened #4891 ".env{,.local,.project} file is silently not loaded in emulators (for restricted var)"
### [REQUIRED] Environment info

**firebase-tools: 11.1.0 **

**Platform: macOS**

### [REQUIRED] Test case

A simple http function which prints out the `process.env` in a `get` handler for any path.
A `.env` file which sets a restricted environment variable (say `FIREBASE_CONFIG`).

### [REQUIRED] Steps to reproduce

Start emulators.
Hit any route to invoke the function.

### [REQUIRED] Expected

[2022-08-17 00:22] jacobsandlund commented on #4891
See this comment: https://github.com/firebase/firebase-tools/issues/4239#issuecomment-1065412510

[2022-08-17 00:56] tonyjhuang commented on #3398
This should be fixed by https://github.com/firebase/firebase-tools/pull/4889 and https://github.com/firebase/firebase-tools/pull/4869

@mikehardy I'm going to close this issue for now. If you're still running into issues after upgrading to the latest version of `firebase-tools`, feel free to reopen

[2022-08-17 00:56] #3398 closed

[2022-08-17 01:00] #4789 closed

[2022-08-17 01:42] jacobsandlund commented on #4891
Ah, from this Stack Overflow post, it might be because one of my environment variables starts with `FIREBASE_`. https://stackoverflow.com/q/71250286

There is no debug log or output that I see that gives any indication of this when running the emulators.

[2022-08-17 02:45] tonyjhuang commented on #3390
Hi @paymog please see https://firebase.google.com/docs/cli/targets#set-up-deploy-target-storage-database for examples on how to setup your `firebase.json` file to support different rules for different buckets.

You'll likely have to have a set up similar to the following:
[code]

Set up your targets like so:
[code]

[2022-08-17 02:48] MasaGon opened #4893 "Support ESM for functions with node 16 from TypeScript"
I don't know it's feature or not, but I have trouble when using ESM for functions from TypeScript. No problem when using CJS with same functions sources.

[code]
Firebase Tools: 11.7.0
Node: 16.16.0

[functions/tsconfig.json]
[code]

[functions/package.json]
[code]

[2022-08-17 02:51] paymog commented on #3390
that worked, thank you for the incredibly quick response!

[2022-08-17 03:36] holasoycael commented on #4554
I'v the same issue and its work to me. Thanks!

I install global package `cross-spawn` and import from `C:\Users\<...>\AppData\Roaming\nvm\v14.18.1\node_modules\firebase-tools\lib\emulator\extensionsEmulator.js` and rename `child_process_1` .

Thanks!!

[2022-08-17 13:37] OutdatedGuy commented on #3799
@tonyjhuang, were you able to reproduce the issue with this [comment](https://github.com/firebase/firebase-tools/issues/3799#issuecomment-1209690864)?

Also please let me know on which platform are you testing this.

[2022-08-17 15:09] fabltd opened #4894 "Deprated Libs in use"
Why is this using deprecated dependiences:

npm install firebase-tools provides the following warnings:

[code]

Some of this libs have been depricted for two years!

Is there an update due? I am running 11.7.0

JT

[2022-08-17 15:36] abhis3 commented on #3915
Hi all, the fix for this issue has been [merged](https://github.com/firebase/firebase-tools/commit/dec8a3f0b2b3fa990da86af8b8d8926f8cf3d24e) and should be in the next release of the emulator.

If you're still running in to issues please feel free to reopen this issue

[2022-08-17 15:36] #3915 closed

[2022-08-17 17:41] trex-quo commented on #4884
The way my team handled this was to create an internal mock for the `CloudTaskClient` that is used when our `local` flag is set. It just sends the request straight to the local emulated function instead of interacting with the Cloud Tasks client at all, which allows the function to be ran locally. It bypasses the queue functionality entirely, but that has been fine for us during local development

[2022-08-17 18:05] bkendall opened #4895 "functions:secrets:set fails if a function is unhealthy"
### [REQUIRED] Environment info

**firebase-tools:** `11.7.0`

**Platform:** macOS

### [REQUIRED] Test case

I have a codebase where I am migrating functions to v2. I accidentally left the old `functions.config()` code in the top level.

[code]

I deployed `health` above, which ultimately failed, but it wasn't that important. Moving forward to other functions, I tried to start adding secrets for

[2022-08-17 19:04] bradintheusa commented on #3799
@tonyjhuang I have a Windows machine and can offer any assistance you need if you have questions (US East Coast Time). I can reproduce it at will.

[2022-08-17 20:21] RazaShehryar commented on #4895
This usually happens when a function's deployment fails. Deleting such functions from the GCP console will fix your issue.

[2022-08-17 20:47] bkendall commented on #4894
Some (if not most of these) come from dev dependencies that are installed by `npm` erroneously too, which is noisy (npm/cli#4323). We try to keep on top of most version used in the CLI itself, though it's a never ending battle of updates and releases.

11.7.0 is the latest, and we'll keep an eye on the dependencies, but I'm going to close this out since there's no specific action I can really take

[2022-08-17 20:47] #4894 closed

[2022-08-17 20:54] bkendall commented on #4893
Those two configurations look fine - I know ESM works with my super basic project, so I'm curious what your code might be doing.

Is there somewhere where `region` is called or accessed in the top level of your code? A stripped down, super basic example of your source would be excellent for debugging.

[2022-08-18 00:35] MasaGon commented on #4893
@bkendall Yes, I'm using region().

[code]

[2022-08-18 02:26] tkanq opened #4897 "firebase-functions on emulator behave differently on Windows vs on macOS"
### [REQUIRED] Environment info

**firebase-tools: 11.7.0**
**firebase-functions: 3.22.0**

**Platform: macOS 12.4 / Windows 10 Pro**
**Node.js: 14.19.3 (actually, here is another problem that if it's v16, my code doesn't work on Windows too...)***
**Java(for firebase-tools): 11.0.16**

### [REQUIRED] Test case

[code]
*some strings are replaced for security reason

### [REQUIRED] Steps to reprodu

[2022-08-18 09:54] jerinho commented on #1558
if root access is the solution, then why installation instructions [here](https://firebase.google.com/docs/cli?authuser=0#setup_update_cli) didn't ask us to use it?

[2022-08-18 11:59] jjgriff93 commented on #653
@johnnyoshika I did a similar technique and had some luck with it thank you - however in the end I decided to add a step in my deployment pipeline to publish my common library to Google Artifacts registry, then when Firebase deploys them it uses my .npmrc file to find my common package from the registry. So locally I'm able to use symlinks as normal with nom workspaces, then when I deploy it uses

[2022-08-18 13:09] gthemiller commented on #4871
Same error in 11.4.2, node 16 for me with API enabled.
Also in 11.2.1

[2022-08-18 14:36] ChromeQ opened #4901 "functions:config:get needs `-o` option otherwise functions emulator runs without config"
### [REQUIRED] Environment info

**firebase-tools:**
11.6.0

**Platform:**
Ubuntu 22.04
### [REQUIRED] Test case
In a CI env & TEST env it may be common to provide env vars by fetching what is actually on the firebase functions config:
[code]
In my case I write them to config dir and later copy the `config/firebase-functions-config.json` to `functions/.runtimeconfig.json`

### [REQUIRED] Steps to

[2022-08-18 14:39] ChromeQ commented on #4901
The ideal solution is to allow a `-o` option to `firebase functions:config:get` the same as `firebase remoteconfig:get` has, this will help with conformity to the tools.

I have a quick "hack" to get around this to make it work for now:
[code]
will remove the first line from the json which is the warning. This is less than ideal as if the warning is no longer emitted or spans multiple lines then m

[2022-08-18 16:03] tonyjhuang commented on #3799
@bradintheusa  sounds good. Can you follow these steps:

1. Clone the `firebase-tools` repo to your local machine and follow the steps here: https://github.com/firebase/firebase-tools/tree/master/src/emulator/storage. This will point your `firebase` CLI command to the local build of the CLI tools.

1. Checkout this PR (https://github.com/firebase/firebase-tools/pull/4902) and run `npm run build` a

[2022-08-18 16:12] skhaz commented on #3100
Closing this issue since I am not using Firebase anymore

[2022-08-18 16:12] #3100 closed

[2022-08-18 17:00] evamaxfield commented on #2333
Has anyone in this thread been able to also setup / initialize firebase storage via the command list above?

[2022-08-18 17:06] bradintheusa commented on #3799
I Upgraded to https://jdk.java.net/18/ and this fixed my problem before I had a chance to do what you requested.

I switched my path back to an older Java version that did not have the whole sdk just Java.exe and made the problem happen again.

I then clone the firebase-tools and the problem happened
I then applied your patch and it still happened

I switched my Java path back and the problem went

[2022-08-18 17:37] johnnyoshika commented on #653
@jjgriff93 An interesting approach. Thanks for sharing!

[2022-08-18 17:44] mrichards commented on #3930
For folks that are struggling with uploading symbols on Windows, I believe we've isolated a Windows-specific path resolution issue and will try to have it fixed in the next release. There may be an effective workaround to `cd` into the directory containing the symbol file and run the `firebase` command from there. The path resolution issue seems to be avoidable if there's only a base filename and

[2022-08-18 21:08] michaelangrivera commented on #4730
Hi @taeold ! I still seem to be getting this issue with `11.4.2` installed. I'm using `yarn` workspaces, however I've completely cleared my node_modules, yarn.lock, and all cache. Here are some details:

[code]

[code]

[2022-08-19 04:57] votatntai opened #4905 "Error in `firebase init`: cannot find module `...libsodium.js`"
### [REQUIRED] Environment info

**firebase-tools:** 11.7.0

**Platform:** Windows

### [REQUIRED] Test case
I tried to initialize firebase in my angular project but failed

### [REQUIRED] Steps to reproduce

I tried to downgrade Angular version as well as uninstall and reinstall firebase-tools, npm but the result is still the same

### [REQUIRED] Expected behavior

Someone please tell me what is

[2022-08-19 09:27] Elias070 commented on #3962
Lost half of all progress because of this bug... please fix, or atleast add warning in documentation

[2022-08-19 12:14] bradintheusa commented on #3092
Make sure your Java install is a full install as per the install instructions https://jdk.java.net/18/

[2022-08-19 12:45] peterfortuin commented on #3837
+1

[2022-08-19 13:44] taeold commented on #4901
@ChromeQ Thanks for raising this issue!

1) If you can migrate to stop using FIREBASE_TOKEN and instead setup GOOGLE_APPLICATION_CREDENTIALS, that'd be ideal!

2) As a more reliable "hack", you can use the `--json` flag:

[code]

Note that the field that you need is under the `result` key - I'd use something like `jq` to extract out the config (if you are using GitHub actions, jq should already be

[2022-08-19 13:52] taeold commented on #4897
@tkanq Sorry to hear about your issues.

Based on my reading of the log output, I'm not very certain if this is related to Firebase Emulator 🤔

I see error message like this

[code]

which is coming from your internal backend service. Functions Emulator does monkey-patch the http module, but only to detect if your code is making external request (in this case, it does!) - it doesn't not modify you

[2022-08-19 13:55] taeold commented on #4893
Can you load your function using using node? e.g.

[code]

At the end of the day, Firebase CLI will try to load your ES module with `import("path/to/your/module")` and it seems like that's failing.

[2022-08-19 15:11] subimage opened #4906 "Function emulator unable to recognize multiple "codebase" entries"
### [REQUIRED] Environment info

**firebase-tools:** 11.7.0

**Platform:** macOS

### [REQUIRED] Test case

**project structure**
[code]

**firebase.json file**
[code]

### [REQUIRED] Steps to reproduce

* Create project structure as above
* Use the firebase.json file above
* Start firebase hosting emulator using `firebase emulators:start`

### [REQUIRED] Expected behavior

In the [latest document

[2022-08-19 16:09] bkendall commented on #4905
What version of Node are you running? `npm`?

[2022-08-19 17:43] RobertGemmaJr opened #4907 "Authentication Fails with Windows 11: An Unknown Error occured"
### [REQUIRED] Environment info

**firebase-tools:** 11.7.0

**Platform:** Windows 11

### [REQUIRED] Test case

There isn't really an example... it's crashing on attempted login. Firebase is installed with `npm i -g firebase-tools`

### [REQUIRED] Steps to reproduce

[code]

[code]

### [REQUIRED] Expected behavior

- Browser is launched
- Prompted to select google account
- Firebase logs in with

[2022-08-19 20:59] vdiaz1130 opened #4908 "Storage Emulator Timeout"
### [REQUIRED] Environment info
node -v v18.0.0
npm -v 8.6.0

**firebase-tools:**
firebase --version: 11.7.0

**Platform:**
OSX version 10.15.7

I came across this researching my problem:
Re: https://github.com/firebase/firebase-tools/issues/4741#issuecomment-1215750676

This was working in a prior version. I updated a few libs so am hoping this is trivial (don't want to revert if possible).

###

[2022-08-19 21:10] vdiaz1130 commented on #4741
https://github.com/firebase/firebase-tools/issues/4908

[2022-08-19 22:51] valeriangalliat commented on #4908
I have the same problem! It doesn't happen all the time for me but it seems related to having multiple uploads running in parallel

I changed my code when using the emulator to upload files one at a time and I don't have the timeout/hanging problem anymore, but it would be great to be able to have parallel uploads with the emulator too 😄

[2022-08-19 22:56] vdiaz1130 commented on #4908
I changed my Node version to 16.9.1 and everything is working again with the latest version of fb-tools.

@valeriangalliat can you share your script to upload in parallel?

[2022-08-19 23:06] #4908 closed

[2022-08-19 23:32] votatntai commented on #4905
Here are all the versions installed on my device.
[code]

[2022-08-20 00:07] bkendall commented on #4905
I'll try to take a look on my windows machine at some point next week, but this reads as something that's likely odd in your specific setup, so I'm not sure how much I'll be able to do.

[2022-08-20 08:19] MasaGon commented on #4893
@taeold I got error.

[code]

[2022-08-20 10:02] johnberang12 commented on #2530
just type `npx kill-port 9000` in the terminal then start the emulator again and it works

[2022-08-20 10:04] Nikhil170404 opened #4909 "websit"
Please submit feature requests through our [support page](https://firebase.google.com/support/troubleshooter/report/features/).

[2022-08-20 10:04] Nikhil170404 opened #4910 "host"
### [REQUIRED] Environment info

**firebase-tools:**

**Platform:**

### [REQUIRED] Test case

### [REQUIRED] Steps to reproduce

### [REQUIRED] Expected behavior

### [REQUIRED] Actual behavior

[2022-08-20 14:53] mradamhoward commented on #4684
I have the exact same problem but I am not using apollo-server-express. any ideas?

[2022-08-20 15:34] johnberang12 opened #4911 "[Emulator UI] creating a sub-collection doesn't work. you need to manually create it on the emulator."
i have a running emulator UI on port 4000 with authentication, functions, firestore, database, and storage.
everytime i try to save a data to the sub-collection, it doesnt persist. but when you manually create the subcollection, it will be created and the data you persisted will appear.
then if you navigate to the top level collections, the subCollection you've created will again disappear. what y

[2022-08-20 18:49] #4909 closed

[2022-08-20 18:49] #4910 closed

[2022-08-20 21:11] radyz commented on #3837
+1 for containerized environments to work properly.

[2022-08-20 23:54] taeold commented on #4893
@MasaGon That indicates that there is an issue with your code! I'd advise you try to resolve that error and try again. If you share your code a bit more (how is region being defined?), we can help with your issue.

Marking this issue as closed as I'm fairly certain that this isn't an issue with Firebase CLI.

I'm happy to continue to convo though in the closed state.

[2022-08-20 23:54] #4893 closed

[2022-08-21 06:51] dereekb commented on #4713
Looks like the firebase-tools repo has a base64 encoded version of their `.json` file. If you've got access to unix/linux terminal, you can pipe your file into `base64` for the string that goes into your secrets:

`cat mysecrets.json | base64` -> `eCiAgICAiZGVmYXVs...<base64 encoded secret>`

Then in your Github action you can decode it and save it to a file using `echo` and `base64` like they do

[2022-08-21 07:27] 96312 commented on #4713
@dereekb Thank you for the help! Appreciate that.

[2022-08-21 15:56] calebcadainoo commented on #864
Worked for me 😉

[2022-08-21 19:58] indieocean commented on #4684
We are experiencing the same issue as well.

[2022-08-22 01:00] #4663 closed

[2022-08-22 02:29] paymog opened #4913 "Cannot access secondary bucket using emulator"
### [REQUIRED] Environment info

**firebase-tools:** 11.6.0

**Platform:** macOS

### [REQUIRED] Test case

1. Create a firebase project with storage initiated
2. Create a second bucket for your project
3. Create two targets for your project, one target which points at the default bucket and a second target which points at your second bucket
4. Edit your firebase.json storage config to look like s

[2022-08-22 04:37] peterfortuin commented on #2773
Is this disableWarnings flag also possible from Flutter?

[2022-08-22 08:52] SaloGala commented on #3926
@ronba I'm using the exact same configuration you showed, but I'm getting **Error: The caller does not have permission** when trying to use **firebase use** command.

Did you face a similar issue or have an idea of what could be going wrong?

Note: **google-github-actions/auth@v0.4.4** action finished correctly before getting the error.

![image](https://user-images.githubusercontent.com/13756493/

[2022-08-22 16:35] tonyjhuang commented on #3799
@OutdatedGuy Can you confirm that this fix (updating to java v18) works for you?

[2022-08-22 20:12] colerogers commented on #4907
Hey @bkendall can you take a look at this?

[2022-08-22 20:16] colerogers commented on #3962
Closing this out since we have #3092 as the proper place for discussion

[2022-08-22 20:16] #3962 closed

[2022-08-22 20:19] mikehardy commented on #3398
@tonyjhuang :trophy: champion! Just got back from traveling and tested the release that just came out. They all work now :smile:

[2022-08-22 20:19] tojtoj commented on #4807
Hi, I've been getting timeouts from my HTTP functions running in an emulator this whole day. Since it has been some time since my last extensive testing, I can't tell which version might have been broken. Here is what I noticed:

- happens with `functions.https.onRequest` functions running inside an emulator
- first 2-3 function invocations after each build (`npm run build` with the emulator still

[2022-08-22 20:26] dumabg opened #4915 "Firebase Local Emulator Suite Storage blank when clic on a file with content type image/png"
Steps:
- Put an image on Storage Emulator with content type 'image/png'
![imagen](https://user-images.githubusercontent.com/35224760/186012436-c1e2ed48-df95-4e1a-a50f-010a8aa8190e.png)

- Clic on this file.

Doesn't appear the file information (like appears if is application/octet-stream), it appears a blank page.

[2022-08-22 20:30] colerogers commented on #4875
Please re-open if you're still having this issue

[2022-08-22 20:30] #4875 closed

[2022-08-22 21:11] juane1000 commented on #4239
This is the old method for environment variables and what I used in previous projects. However, though not directly said in the docs, their language about migrating to the new .env method and how "config" is removed from V2 cloud functions makes me worry that it may be deprecated in the not too distant future.

My hope is that this is an oversight as @larrifax mentioned.

[2022-08-22 23:11] dangreaves commented on #4797
The version of `firebase-functions` seems to make no difference for me. This seems to be an issue only with `firebase-tools`.

firebase-functions: 3.22.0
firebase-tools: 11.8.0
No secret is attached in the emulator, `process.env.MY_SECRET` is undefined.

firebase-functions: 3.22.0
firebase-tools: 11.1.0
Secret is attached correctly, `process.env.MY_SECRET` contains the secret value.

[2022-08-22 23:32] ronba commented on #3926
@SaloGala - yes, I had the same issue.
Take a look at https://github.com/firebase/firebase-tools/issues/3926#issuecomment-1015441685 - make sure that your workload_identity_provider is set correctly - I originally made a mistake in the values there.
I think I also made a mistake in the workload identity federation - but I don't remember anymore. For reference, [this](https://cloud.google.com/iam/d

[2022-08-23 00:34] anderjf opened #4916 "Emulator increasing used memory and lose the connection with the Firestore"
### [REQUIRED] Environment info

**firebase-tools:** 11.7.0

**Platform:** Ubuntu 20.04.4 LTS (5.4.0-124-generic #140-Ubuntu SMP Thu Aug 4 02:23:37 UTC 2022 x86_64 x86_64 x86_64 GNU/Linux)

**JVM**: Java(TM) SE Runtime Environment (build 17.0.4+11-LTS-179)

**Computer**: Acer NITRO5, i7, 16GB RAM, SSD 256GB.

### [REQUIRED] Test case

When I use a database exported from the production (the files e

[2022-08-23 00:39] kroikie opened #4917 ""firebase init" fails if storage is selected without a default project"
### [REQUIRED] Environment info

**firebase-tools: 11.8.0**

**Platform: macOS**

### [REQUIRED] Test case

Initialize firebase selecting storage without a default project.

### [REQUIRED] Steps to reproduce

1. firebase init
2. select "storage"
3. select "Don't set up a default project"
4. Error!!!

### [REQUIRED] Expected behavior

Initialization should complete successfully. Maybe by skipping a

[2022-08-23 01:18] yuchenshi commented on #4863
`process.env.FUNCTIONS_EMULATOR` is only set for code running **within** the functions emulator. On the other hand, `firebase emulators:exec` runs the command separately *while the emulators are started*. It does not run the command *in the functions emulator*.

In the strict sense, your code is doing the right thing by telling you that `firebase emulators:exec "npm test"` does not run your code i

[2022-08-23 01:25] yuchenshi commented on #4657
@jzabinski-dolios Thanks for reporting this! Please follow this thread for the discussion: https://github.com/firebase/firebase-tools/issues/3578#issuecomment-1024876668

@Psycarlo You're running into a separate issue #3871 here. Please subscribe there for updates.

[2022-08-23 01:25] #4657 closed

[2022-08-23 02:51] BIGCATDOG commented on #3930
Still get trouble for this.
`[CRASHLYTICS LOG DEBUG] Uploading native symbol files from directory: /var/folders/s3/sqywjqvn5mj3rz267b3d9llc0000gn/T/crashlytics-9b0ea35a-a957-4957-b4ff-fc6e1e0dac0d/nativeSymbols/1-528575156391-android-4d942918bce2235db24b82/breakpad
[CRASHLYTICS LOG DEBUG] PUT file: /var/folders/s3/sqywjqvn5mj3rz267b3d9llc0000gn/T/crashlytics-9b0ea35a-a957-4957-b4ff-fc6e1e0dac0d/na

[2022-08-23 02:58] tpodom commented on #4797
I'm seeing this as well. Is there anything I can do to help get to the bottom of the issue? I'm using `firebase-functions` 3.22.0 and `firebase-tools` 11.7.0.

I didn't notice the issue at first because functions that were previously deployed with secrets still show secrets in Google Cloud. But, deploying new secrets is not working. If I manually add the secret to the function in Google Cloud it s

[2022-08-23 05:41] jowo-io commented on #4797
Same here, experiencing the same issues with v11.7.0 and v3.22.0

[2022-08-23 05:49] zerolethanh commented on #2791
if you use `nvm` for packages manager, you must check `firebase` command belongs to nvm of using node.
[code]
if not, you must install firebase-tools:
`npm i -g firebase-tools`

[2022-08-23 06:02] jowo-io commented on #4797
also tried the versions suggested here on my windows 10 machine, and still no joy. will try again on osx

[2022-08-23 06:45] tkanq commented on #4897
@taeold
Thank you for your help!

The answers to your questions:

Now I turned my code into plain node.js code (I just deleted these lines below):
[code]
and ran it on macOS.
The result is, it worked expectedly and got the same result with the one on Windows.
Can I say that it means the behavior of the codes changed when it is run on the function emulator?

Also, I read through that "Relevant monk

[2022-08-23 07:59] taeold commented on #4897
@tkanq Thanks for sharing more details.

The situation sounds pretty frustrating - based on what you've shared here, it does sound like something in the Functions Emulator is interfering with the http request to your internal backend service. I'm surprised that disabling `initializeNetworkFiltering` didn't help - if anything that felt like the most suspicious.

I wonder if you can use something li

[2022-08-23 09:44] niraldmello commented on #2341
@abeisgoat is it difficult to get it to run on ARM64 Linux? It is already running on ARM64 MacBooks right? Why are ARM64 Linux on Chromebooks being ignored?

[2022-08-23 11:51] pklitscher commented on #4227
@yuchenshi so sorry I completely missed that the PR had a conflict in the CHANGELOG. Resolved for merge now

[2022-08-23 14:01] b0ot opened #4918 "Storage hangs without completing or errors when uploading or deleting files in parallel"
### [REQUIRED] Environment info

**firebase-tools:** 11.7.0

**Platform:**
Windows 10 Pro running Ubuntu via WSL2

### [REQUIRED] Test case

As you start to increase the number of items attempted to be uploaded to the storage emulator you will increase the chances of that upload failing. It will fail will even relatively small numbers of parallel uploads if attempted enough time (e.g. 2 or 3 files

[2022-08-23 14:07] segevfiner commented on #3528
You also need to allow "$schema" in the schema itself.

![image](https://user-images.githubusercontent.com/24731903/186179752-6d52ed7f-ad14-459a-b01a-d184e787f364.png)

[2022-08-23 16:31] bkendall commented on #2341
@niraldmello unfortunately we don't have the capacity to fully support providing arm builds. Macs should be using the x86_64 builds via rosetta. Thanks for raising this and showing interest - I'll bring it up with some other folks and see if this can get more funding.

[2022-08-23 16:47] Corchoneitor commented on #4378
For other needs, I upgraded these dependencies and now the problem is solved.

node: 14.18.0
firebase-tools: 11.8.0
firebase-functions: 3.22.0

[2022-08-23 17:30] niraldmello commented on #2341
@bkendall thanks for the clarification. Is there a cloud based work around that can be used?

[2022-08-23 17:56] steveoh opened #4920 "Cannot create a 2nd gen function"
### [REQUIRED] Environment info

**firebase-tools:**

firebase --version
11.8.0

**Platform:**

macOS

### [REQUIRED] Test case

no test case required

### [REQUIRED] Steps to reproduce

firebase init
firebase deploy --only functions

### [REQUIRED] Expected behavior

I expect to be able to create a v2 function

### [REQUIRED] Actual behavior

v1 functions are always created

[2022-08-23 18:00] bkendall commented on #4920
There's not enough information here to debug anything. Please take a look at the [docs](https://firebase.google.com/docs/functions/beta) for the limitations on what can be done with v2 and the [getting started page](https://firebase.google.com/docs/functions/beta/get-started) to see how to use the v2 handlers from firebase-functions.

[2022-08-23 18:00] #4920 closed

[2022-08-23 22:32] andymcgunagle commented on #4915
Running into this same issue - clicking on a file in the Storage Emulator leads to a blank page and the following error in the console:

![Screen Shot 2022-08-23 at 3 29 48 PM](https://user-images.githubusercontent.com/75338107/186277412-4147ba31-d8ac-4899-9971-7dbcf598738c.png)

[2022-08-24 00:54] tpodom commented on #4797
@taeold I did some digging between 11.1.0 and 11.8.0. The issue appears to be that there was a change from `discoverBackend` to `discoverBuild`. Unfortunately, `discoverBuild` calls `addResourcesToBuild` which does not contain the block of code to copy the secrets to `secretEnvironmentVariables` that `addResourcesToBackend` does at https://github.com/firebase/firebase-tools/blob/v11.8.0/src/deploy

[2022-08-24 01:00] #4753 closed

[2022-08-24 02:08] SaloGala commented on #3926
@ronba After a deep research and debugging, I found that I was missing a mapping value in my Pool provider configuration:

`attribute.repository=assertion.repository`

After adding it, my GitHub Actions pipeline is able to use Firebase commands correctly.

Your suggestions put me on the rigth direction to find the error cause, so thank so much, I really apreciate you took the time to answer my que

[2022-08-24 05:44] jowo-io commented on #4797
I could not get my project running on osx yesterday in order to test it, because of some unrelated issues. However, I did try installing `v11.0.1` on windows, which is the version directly before `v11.1.0`, as @tpodom mentioned it might be where the bug was introduced.

And sure enough, the secrets are being deployed when using `firebase-tools@11.0.1`

[2022-08-24 12:58] GuillaumeSD commented on #653
For anyone still having trouble with this, I use a workaround that imho is better than those detailed here.

For instance with @johnnyoshika [technique](https://github.com/firebase/firebase-tools/issues/653#issuecomment-827960976), your common package's dependencies won't be taken into account, which means you might run into some errors if it has dependencies that your functions package.json doesn

[2022-08-24 13:00] sbuys commented on #653
Hello - I am currently out of office on vacation. I will return your
message when I return on Monday, 8/29.

If urgent, please call me directly.

[2022-08-24 15:10] Wian-TMC commented on #4239
Why is this closed ?

You cannot deploy to `v2` of functions when using `functions.config()`, and that seems to be the only solution for accessing any deployment variables. This is a big issue

[2022-08-24 15:12] Wian-TMC opened #4921 "env variables are only available during application runtime"
Why is this closed ?

You cannot deploy to `v2` of functions when using `functions.config()`, and that seems to be the only solution for accessing any deployment variables. This is a big issue

_Originally posted by @Wian-TMC in https://github.com/firebase/firebase-tools/issues/4239#issuecomment-1225858494_

[2022-08-24 20:21] maneesht commented on #2554
@rhodgkins thank you for your patience. We might have identified what the problem is, however we do not have the bandwidth to support this right now. I will keep this open until we can look further into this.

[2022-08-25 01:00] #4597 closed

[2022-08-25 01:00] #4399 closed

[2022-08-25 05:46] LkyYuen commented on #2333
is --non-interactive works now?

[2022-08-25 08:18] MasaGon commented on #4893
@taeold Thank you for your support. There were circular references of `import`. I had fixted them and the issue resoloved.

[2022-08-25 13:44] OutdatedGuy commented on #3799
@tonyjhuang @bradintheusa I have downloaded JDK 18, but can you guide me on how to configure to make the system use JDK 18 instead of 16.

[2022-08-25 13:49] bradintheusa commented on #3799
Are you on Windows?

From the start menu  choose 'Edit Environment Variables'  Edit these to point to the new location

![image](https://user-images.githubusercontent.com/1160356/186682423-9ce49619-47c4-47ed-a529-3ac2ea8bf02d.png)

[2022-08-25 13:54] OutdatedGuy commented on #3799
@bradintheusa Thanks. But I didn't noticed that it just automatically started using JDK 18 without any configurations.

[2022-08-25 13:55] OutdatedGuy commented on #3799
@tonyjhuang The crash is not happening anymore after using JDK 18. But let me see check if it backs up(exports) the data properly.

[2022-08-25 14:08] OutdatedGuy commented on #3799
@tonyjhuang It only didn't crash the first time. Now it's crashing like usual.

<details>
<summary>Logs without any export data for <code>firebase emulators:start --export-on-exit=./newData</code></summary>

[code]

</details>

<details>
<summary>Logs with a single image export as data for <code>firebase emulators:start --export-on-exit=./newData</code></summary>

[code]

</details>

[2022-08-25 15:03] bradintheusa commented on #3799
Check your Java Version

[code]
Do you have any other Java.exe on the system? Temporarily rename them.

[2022-08-25 16:45] networkpankaj opened #4923 "functions failed while using firebase emulators:start"
### [REQUIRED] Environment info

**firebase-tools:**

**Platform:**

### [REQUIRED] Test case

### [REQUIRED] Steps to reproduce

### [REQUIRED] Expected behavior

### [REQUIRED] Actual behavior

functions: Failed to load function definition from source: FirebaseError: Failed to load function definition from source: Failed to generate manifest from function source: ReferenceError: reqire is not
de

[2022-08-25 16:53] taeold commented on #4862
@stfsy This ia great callout - thanks for a very detailed writeup.

[2022-08-25 19:18] OutdatedGuy commented on #3799
I downloaded JDK 18 from [oracle website](https://www.oracle.com/java/technologies/downloads/#jdk18-windows).

And now I only have JDK 18 exe of java.
![image](https://user-images.githubusercontent.com/74326345/186750016-164f93ac-b46d-4533-aab4-218a9043ed49.png)

[code]

[2022-08-25 19:34] colerogers commented on #4807
@stdavis I'm not sure what I'm missing, but I cloned your repo and I'm unable to reproduce the timeout issue. I called it a few times and received:
[code]

@taeold Can you try to run the example?

[2022-08-25 20:51] bradintheusa commented on #3799
Try the open JDK that google recommends. I had more luck with that.

[2022-08-25 20:53] yuchenshi commented on #1971
Hi all, we've been working on a fix on the JS SDK, which should cover the testing SDKs as well. However, @Edudjr if you're experiencing an issue on the Swift SDK, please file a separate issue on the Swift SDK repo.

[2022-08-25 20:54] yuchenshi commented on #1971
Duplicate of https://github.com/firebase/firebase-js-sdk/issues/5871

[2022-08-25 20:54] #1971 closed

[2022-08-25 21:17] taeold commented on #4807
@colerogers Yeah I've tried couple of different ways, and I wonder if this is platform specific issue.

I'm using Mac OSX (M1) and I think @colerogers is using a simliar device. For folks experiencing this issue - can you share what platform you are running the functions on?

I recently merged a change that bumped the timeout for starting a new process to run user-functions from 7 seconds to 10 se

[2022-08-25 22:31] johnnyoshika commented on #2927
@tremayne-stewart What does  `--token 'null'` do when passed to `firebase emulators:start`?

I'm still getting the `Error: Failed to make request to https://firebase-public.firebaseio.com/cli.json` error when I'm not connected to the internet and I try to start the emulator with `firebase emulators:start --token 'null'`.

[2022-08-25 23:35] eldadj commented on #4885
Run `/usr/local/bin/firebase is:npm i node --save-dev`

[2022-08-26 06:08] eckberg commented on #4797
I have the same issue, running `firebase-tools@11.8.0` on macOS. No secrets deployed. No errors or issued raised. @tpodom seems to be right on spot on the issue.

As a workaround, I added my secrets manually in the Google Cloud Platform Console following [this guide](https://cloud.google.com/functions/docs/configuring/secrets).

[2022-08-26 06:18] brad426 commented on #4923
Looks like you've spelled require incorrectly.
You have  "reqire", should be `require`

[2022-08-26 07:26] tojtoj commented on #4807
Hi @taeold, this happens to me on Windows 10 Enterprise, 10.0.19044.

[2022-08-26 10:54] rawatnaresh commented on #4807
it's working for me now. I'm  using:
-  Node v16.16.0
-  firebase-tools v11.8.0
-  firebase-admin 11.0.1,
-  firebase-functions 3.22.0

[2022-08-26 11:31] ottob commented on #4807
I still have this issue. My setup:
node: 16.17.0
firebase-tools: 11.8.0
firebase-admin 11.0.1
firebase-functions 3.22.0
macOS: 12.5.1 Intel Core i5

It feels like this mostly happens just after emulator startup. After a couple of minutes the problem usually disappears.

[2022-08-26 13:05] OutdatedGuy commented on #3799
Yo @bradintheusa, can you try following the steps in this [comment](https://github.com/firebase/firebase-tools/issues/3799#issuecomment-1209690864) and try adding some images (i.e. uploading image to cloud storage using emulator UI) first before exiting using `ctrl + c`.

[2022-08-26 13:16] ReneWB commented on #2365
I had the same problem.
admin.initializeApp( {projectId: "project-XXXX-XXXXX" } ) did not fix the problem.
What fixed it for me was starting the emulator like this with your own project id:
firebase emulators:start --project project-XXXX-XXXXX

[2022-08-26 13:17] rkhpedersen commented on #2365
I had the same problem.
admin.initializeApp( {projectId: "project-XXXX-XXXXX" } ) did not fix the problem.
What fixed it for me was starting the emulator like this with your own project id:
firebase emulators:start --project project-XXXX-XXXXX

[2022-08-26 13:25] bradintheusa commented on #3799
It works fine. I added a PDF and 2 PNGs. I stopped the emulator and when I restarted they are there.  Weirdly I'd could never view them.

I have the latest firebare-tools

This was in the browser console

[code]

[2022-08-26 13:58] OutdatedGuy commented on #3799
For me it sometimes throws error message and also exports the data which is retrieved perfectly when restarted.
But many times it just crashes without any exported data in the specified directory but with some unfinished export in a directory called `firebase-export-<hash-probably>`

[2022-08-26 14:24] taeold commented on #4807
@rawatnaresh  @ottob Thanks for more info. I will try my best to reproduce the error on my side.

For folks coming across this issue - the best workaround so far is to downgrade your Firebase CLI to 11.2.2:

[code]

Apologies for the invconveniene.

[2022-08-26 15:00] colerogers commented on #4885
Hi @brad426 what version of node are you using?

[2022-08-26 15:46] mikehardy commented on #3398
@tonyjhuang actually - hate to be a pain on this one but there are two tiny things left that are deviations from cloud behavior, in the emulator

This one from above still happens:

1. When you first put an object in storage on the cloud storage with no specific metadata set, StorageMetadata.cacheControl is null as expected (using firebase-android-sdk or firebase-ios-sdk, firebase-js-sdk is untest

[2022-08-26 16:35] brad426 commented on #4885
16.6.0

[2022-08-26 16:38] brad426 commented on #4885
after upgrading to firebase cli version `11.7.0`  I can now run `firebase emulators:start --inspect-functions` without seeing the warning:
[code]

Everything seems to be working perfectly now

[2022-08-26 16:38] #4885 closed

[2022-08-26 18:37] taeold commented on #4797
@tpodom Thanks for the pointer!

I have a bug out for fixing that error at https://github.com/firebase/firebase-tools/pull/4926

However, I'm a bit worried that this only fixes the bug where function deploy would not attach secrets IF you are using firebase functions SDK below v3.20.0.

 I'm still unable to reproduce the issue on my setup 😢  using firebase functions v3.20.0. It would help me treme

[2022-08-26 18:52] Gremash opened #4927 "Files bigger than 256kb fail when saving to storage emulator"
### [REQUIRED] Environment info

**firebase-tools:** 11.8.0
**firebase NPM package:** firebase@9.9.3

**Platform:** macOS Monterey, MacBook Pro 2021 w/ Apple M1 Pro chip

### [REQUIRED] Test case

Upload a file larger than 256kb using the Javascript SDK to the Firebase Storage emulator

### [REQUIRED] Steps to reproduce

While using the storage emulator and the Firebase JavaScript SDK, upload any

[2022-08-26 18:54] Gremash commented on #4918
I experienced the same issue on MacOS with firebase-tools 11.8.0

[2022-08-26 20:08] taeold commented on #4807
Also - for anyone following, it would be fantastic if you can share output for your debug logs.

You can generate the debug log with following command:

[code]

It will output logs of diagnostic logs. What I'm particularly keen on reading is everything AFTER the log message like this:

[code]

In an normal operation, sending a request to the emulator:

1) Starts a new process that hosts your funct

[2022-08-26 20:31] mrichards commented on #3930
@BIGCATDOG Are you behind a proxy or were you on a bad internet connection?

OP's issue was "no native libraries found" error. If your `UnknownHostException` persists, please open a new issue. Thank you!

[2022-08-27 02:30] tpodom commented on #4797
@taeold I've got a debug log attached. But, I think I know why you weren't able to reproduce it.

In my setup, my functions are part of a workspace so the `npm list  firebase-functions --json=true` doesn't return expected format.  As a result, the `sdkVersion` ends up empty and it falls back to `parseTriggers` which still returns `secrets` instead of `secretEnvironmentVariables`.

If I break my pa

[2022-08-27 03:00] rawatnaresh commented on #4807
[code]

[2022-08-27 05:06] TheIronDev opened #4929 "Manual Firestore rules are overwritten"
### [REQUIRED] Environment info

11.5.0

**firebase-tools:**

macOS

**Platform:**

### [REQUIRED] Test case

* `firebase deploy`

### [REQUIRED] Steps to reproduce

* Run `firebase deploy` - firestore rules are uploaded
* Update firestore rules using the UI
* Run `firebase deploy` - firestore rules are overwritten

### [REQUIRED] Expected behavior

Possibly prompt the user that they are about to

[2022-08-27 10:30] Beast-O-Group commented on #4684
@mradamhoward Thanks a lot it worked for me

[2022-08-27 14:15] Adam-Beno commented on #4605
Running into the same issue:
[code]

[2022-08-27 22:56] mradamhoward commented on #4684
Happy to help

[2022-08-28 11:43] Beast-O-Group commented on #4684
Its always good to help.

[2022-08-29 01:00] #4856 closed

[2022-08-29 10:07] mandalornl commented on #4927
I'm experiencing the same problem.

[2022-08-29 12:19] ottob commented on #4807
@taeold is there a way for me to share this log file privately with you? email?

[2022-08-29 13:58] loomchild commented on #1602
Perhaps it would make sense to add other log files generated by emulator apart from ` firebase-debug`, since they can also grow a lot (not sure if it covers all of them):

[code]

Or perhaps even simpler, ignore `"*.log"`?

[2022-08-29 16:22] bkendall commented on #4923
@brad426 's comment seems very likely. There's also not enough information here to debug - the template is there for a reason, please follow it!

[2022-08-29 16:22] #4923 closed

[2022-08-29 17:33] vahidashtari opened #4930 "firebase-debug.log"
### [REQUIRED] Environment info

**firebase-tools:**

**Platform:**

### [REQUIRED] Test case

### [REQUIRED] Steps to reproduce

### [REQUIRED] Expected behavior

### [REQUIRED] Actual behavior

[2022-08-29 18:34] #4930 closed

[2022-08-29 20:26] mckrava commented on #4807
Only downgrade to firebase-tools@11.2.2 has helped to me !

[2022-08-30 01:11] ChromeQ commented on #4901
Thanks for the updtae @taeold, I do plan to migrate to using GOOGLE_APPLICATION_CREDENTIALS soon so this workaround is a temporary measure as it suddenly stopped working.
I didn't realise the `--json` flag existed so I will use that for now until I have the time to migrate, happy to close this issue since that exists and will soon be deprecated.

[2022-08-30 04:32] KoryNunn commented on #4812
The latest emulator does not consider the form to be valid until the user has a password, even though it is valid for a user to not have a password via a range of login methods.

Eg:

![image](https://user-images.githubusercontent.com/1401037/187349783-0e13f427-9416-4d35-a8f5-480feec3aa33.png)

[2022-08-30 08:08] Rehan-05 commented on #1606
If you are facing this issue in macOS Pro then this solution is for you.

In MacOS , Port 5000 may be claimed by a new "AirPlay Receiver". This can be disabled in Settings -> Sharing:

I'm also adding the Screenshot of settings panel for disabling AirPlay Receiver.

Disabling the AirPlay Receiver (if you do not need it) frees up port 5000.

[2022-08-30 08:36] protyze commented on #4797
Same issue with:

firebase-functions: 3.21.0
firebase-tools: 11.2.2

I have enabled the Secrets Manager API in google cloud AFTER the function was first deployed… and added secrets later down the road. Although completely deleting the function and re-deploying it didn't help either.

[2022-08-30 15:30] Fleker commented on #3473
Going to amend this issue since I ran into the same problem again by mistake and running `--debug` revealed the error but in a way that is highly obtuse and this provides a weak and confusing developer experience. If you can obtain payloads from `apiv2` with an `error` object, please consider surfacing them in the primary console output so that the developer can quickly identify the source of the

[2022-08-30 17:24] taeold commented on #3473
@Fleker Sorry this issue ended up being unattended for and thanks for offering to do something about it. Happy to review the PR, but also going to earmark this issue as "Good first issue" internally to make it more likely we make progress w/ this issue.

[2022-08-30 20:41] dannnnthemannnn opened #4932 "Allow keeping cloud function image artifacts"
I am trying to redeploy my cloud function v2 with a slightly different configuration. My goal is to enable CPU allocation at all times rather than not having CPU allocated when the function is not processing requests. As it stands now, my spanner connection is being killed while CPU is not allocated between requests. I have min instances > 1 to avoid cold starts.

I cant update the cloud run servi

[2022-08-30 20:44] dannnnthemannnn opened #4933 "Option to set CPU always allocated in functions v2"
I would like to set "CPU always allocated" to my cloud functions with min instances set so that they will maintain their connection to spanner. Currently the connection is being killed when the function has no CPU because there are no requests processing. It would be great to have this as an option when deploying functions.

See this link for this suggesiton from the spanner team: https://github.c

[2022-08-30 20:45] dannnnthemannnn commented on #4933
Also I can't set cpu always allocated manually due to this problem: https://github.com/firebase/firebase-tools/issues/4932

[2022-08-31 05:06] zepol-yerffej commented on #2773
Doesn't look like it.

[2022-08-31 05:20] bsmrto opened #5380 "Repeated error while deploying function to Firebase using Nodejs"
Repeated error while deploying function to Firebase using Nodejs :(

I tried many versions of firebase-tools
I can only deploy before adding dependencies

const functions = require("firebase-functions");
const axios = require('axios');
const admin = require("firebase-admin");

After deploy
✔  functions: functions folder uploaded successfully
i  functions: updating Node.js 16 function yara1(us-cent

[2022-08-31 18:51] psygo opened #4936 "Getting "Somthing went wrong" when trying to login my CLI into Firebase"
`npm i -g firebase-tools`

**firebase-tools:** 11.8.0

**Platform:** at least Windows and ArchLinux

### [REQUIRED] Test case

I'm coming back into using Firebase after about 2 years, and now I'm having trouble trying to login my CLI into Firebase (yes, I have installed `npm i -g firebase-tools`). I've tried 3 different commands for it, all of them result in one of the images below:

- `firebase l

[2022-08-31 20:57] psygo commented on #4936
And here is what appears on my Inspector's Console, 2 improvement issues:

![image](https://user-images.githubusercontent.com/11823725/187780585-d6299326-64e9-4159-81dd-cd0dbd3d13c5.png)

[2022-08-31 20:57] psygo commented on #4936
I don't know why or how, but **opening the link through Chrome** actually worked. I was opening it through Brave, thinking that, since both are based on the Chrome engine, nothing would change.

[2022-08-31 23:30] kiptoomm opened #4942 "vague error message on newer versions of CLI: "Failed to load function definition from source:...""
### [REQUIRED] Environment info

**firebase-tools:** v10.9.0 to v11.8.0

**Platform:** macOS

### [REQUIRED] Test case

On a project that requires `functions.config()`, remove the `.runtimeconfig.json` file from the project and run the functions emulator. Based on the official docs at https://firebase.google.com/docs/functions/local-emulator#web-version-9

### [REQUIRED] Steps to reproduce

1. Cre

[2022-09-01 00:10] taeold commented on #4797
@tpodom Thanks for following up. That gives me some closure on why things weren't working as I'd expect.

Monorepo isn't something we failed to consider when developing in the CLI, and this is yet another reason for us to pay more attention to it. Same story with yarn pnp support.

We have a 4 year old issue - https://github.com/firebase/firebase-tools/issues/653 - if anything you'll hear us from

[2022-09-01 00:11] taeold commented on #4797
@protyze Are you also using something like yarn/npm workspaces the way @tpodom described?

[2022-09-01 00:14] taeold commented on #4807
@ottob You can contact me at  danielylee at google.com

[2022-09-01 00:21] #4797 closed

[2022-09-01 01:00] #4871 closed

[2022-09-01 03:02] moldy530 commented on #4797
Ahh this explains it, we are also using workspaces in our repo where we've been affected by this

[2022-09-01 03:40] taeold commented on #4797
Issue is closed, but the fix will only be shipped in next CLI release. I'll try to have our team cut a release tomorrow.

Thanks for your patience.

[2022-09-01 15:14] protyze commented on #4797
Ahh, yes, I am also using yarn workspaces! Thanks for the quick response and fix. Looking forward to the next CLI release.

[2022-09-01 17:11] michael-freling commented on #4927
I got the same error `Firebase Storage: An unknown error occurred, please check the error payload for server response. (storage/unknown)` without any server response on the same version using uploadBytesResumable function.
When I downgraded the version of firebase-tools to 11.7, the error didn't happen.

I am not sure my issue exactly the same cause, though. I couldn't fix my code when I reduced t

[2022-09-01 21:24] cdnicoll commented on #4918
I'm seeing a similar issue only with `getDownloadUrl()` Using the emulators and looping through image references, it hangs on the promise.

[code]

[2022-09-01 22:33] peteshilling commented on #4927
I've started experiencing the same problem as Gremash the last day or so. Was using firebase-tools 11.2, now using 11.8. I recently updated the gcloud cli, I'm not sure if that could be related.

[2022-09-01 23:54] willhackett commented on #4927
We're seeing this issue too. Looks like a regression of #4407

[2022-09-02 03:23] rawatnaresh commented on #4807
No issues in M1 macs.

[2022-09-02 03:52] macksal commented on #4927
Same issue when running tests in my dev and CI environments. It comes up only for larger blobs.

I've also noticed that the corresponding file is created (visible in the storage emulator UI) but it's only about 260KB, and the content type is application/octet-stream rather than the content type of the object that's actually being uploaded.

Reverting to firebase-tools 11.7 is a workaround.

[2022-09-02 14:25] DibyodyutiMondal opened #4946 "Auth Emulator blocking functions are giving error 'auth/claims-too-large'"
1. When the blocking function returns a response, the response is sent to
`processBlockingFunctionResponse` ([here](https://github.com/firebase/firebase-tools/blob/36c0ba153e44c6ab708a833fa04ddaeb70bdc4b1/src/emulator/auth/operations.ts#L3061))
2. From inside the above function, `customClaims` are extracted as-is and sent to another function ([here](https://github.com/firebase/firebase-tools/blob/

[2022-09-02 15:02] zxt385189207 commented on #4604
ok~

[2022-09-02 18:36] irux commented on #2297
any news ? @samtstern  @bkendall

[2022-09-03 17:18] isanecat opened #4951 "TypeError: Cannot read properties of undefined (reading 'firestore')"
### [REQUIRED] Environment info

Firebase Version: 11.8.0
Ubuntu 22.04

### [REQUIRED] Test case

I tried to initialize my flutter project but failed

### [REQUIRED] Steps to reproduce

Below is my reproducable code snippet

[code]

I properly start firebase emulator with `firebase emulators:start`
Initialisation of firebase log as follows:

[code]

After starting the code with Ctrl-F5 in VsCode D

[2022-09-03 17:40] isanecat commented on #4951
https://github.com/firebase/firebase-tools/issues/4951

[2022-09-04 07:08] isanecat commented on #4951
I have solved the problem by upgrading flutter packages to major versions.

[2022-09-04 07:08] #4951 closed

[2022-09-04 07:42] jim-alexander commented on #653
Okay I was able to get a configuration that i'm happy with without needing to `yarn pack` anything or have some complicated predeploy and post deploy steps.

I ended up using typescript project references for firebase functions and installing the shared packages as dependencies everywhere else.

I found this video helpful: https://www.youtube.com/watch?v=S-jj_tifHl4

This is the TS config from my

[2022-09-04 08:18] the133448 commented on #4807
Something really strange has occurred for me since august 24th. I have a firebase functions which accepts 5k invocations/s. Before Aug 24 I had almost zero time outs however after that date a large portion of my functions were timing out.

I am unable to replicate this locally and even calling the cloudfunctions.net endpoint there is no issue however from my logs I have so many occurences of this

[2022-09-04 08:59] 0x80 commented on #653
@GuillaumeSD Using your approach, do the packages in your workspace pick up changes in code from their dependencies, or do you have to run `tsc` and `npm pack` again for changes to propagate?

[2022-09-05 01:00] #4897 closed

[2022-09-05 10:23] DibyodyutiMondal commented on #4946
#### Problem

Ok, so the stuff I said above was a bit off the mark. Here is the result of some further investigation

1. Here, the value of `response.userRecord.customClaims` is a plain object, not a string. (Please keep it in mind - it'll be important later)
https://github.com/firebase/firebase-tools/blob/36c0ba153e44c6ab708a833fa04ddaeb70bdc4b1/src/emulator/auth/operations.ts#L3072

2. Then, we

[2022-09-05 16:51] willviles commented on #653
I made [willviles/firebase-yarn-workspaces](https://github.com/willviles/firebase-yarn-workspaces) to make this issue less annoying for my use case.

I use [Turborepo](https://github.com/vercel/turborepo) as a monorepo build pipeline on top of yarn workspaces. Here's a simple little shell script to deploy locally, which:
- Prunes & builds your Turborepo into a clean `/out` dir
- Installs dependenc

[2022-09-05 16:54] rahuld600 opened #4952 "Unexpected Error while deploying using "firebase deploy --only functions" in firebase-tools@11.8.0 (latest version)."
### [REQUIRED] Environment info

**firebase-tools:** 11.8.0 (latest release)

**Platform:** : macOS

### [REQUIRED] Test case

If I make a function in your index.js file, and then I try to run using:
firebase deploy --only functions:nameOfYourFunction,
I get an Unexpected Error at the end.

### [REQUIRED] Steps to reproduce

Using npm or whatever package manager you prefer, run these on your termi

[2022-09-05 16:55] rahuld600 commented on #4952
I could fix this issue just by downgrading the version of firebase tools to v10.0.0 using:
`npm install -g firebase-tools@10.0.0`

[2022-09-05 16:58] rahuld600 commented on #4952
Since there might be something wrong with the new v11.8.0, so It would be really awesome if the engineers took a look at what's up with the latest release...so I am keeping this issue open.

[2022-09-06 14:49] GuillaumeSD commented on #653
The approach I explained is to be used in the deploy stage.

If you meant about auto completion when you import a function from your common package in another package, VS code does that automatically.

If you want your code changes to be propagated during development, you should :
- add in your `tsconfig.json` : `"references": [{"path": "./path-to-common"}]`
- add the `-b` options when you build y

[2022-09-06 14:50] GuillaumeSD commented on #653
@0x80 The approach I explained is to be used in the deploy stage.

If you meant about auto completion when you import a function from your common package in another package, VS code does that automatically.

If you want your code changes to be propagated during development, you should :
- add in your `tsconfig.json` : `"references": [{"path": "./path-to-common"}]`
- add the `-b` options when you b

[2022-09-06 16:45] #4916 closed

[2022-09-06 16:46] anderjf opened #4953 "Emulator increasing used memory and lose the connection with the Firestore"
### [REQUIRED] Environment info

**firebase-tools:** 11.7.0

**Platform:** Ubuntu 20.04.4 LTS (5.4.0-124-generic #140-Ubuntu SMP Thu Aug 4 02:23:37 UTC 2022 x86_64 x86_64 x86_64 GNU/Linux)

**JVM**: Java(TM) SE Runtime Environment (build 17.0.4+11-LTS-179)

**Computer**: Acer NITRO5, i7, 16GB RAM, SSD 256GB.

### [REQUIRED] Test case

When I use a database exported from the production (the files e

[2022-09-06 16:48] LanderBeeuwsaert opened #4975 "Upgrade from firebase-js-sdk 9.9.1 to 9.9.4 starts to give "Missing or insufficient permissions" on non-modular firestore reads in emulator"
### [REQUIRED] Describe your environment

  * Operating System version: windows 11
  * Browser version: chrome 105
  * Firebase SDK version: firebase-js-sdk 9.9.1 => 9.9.4+ firebase-tools 11.X.0
  * Firebase Product: firestore

### [REQUIRED] Describe the problem

When upgrading from firebase-js-sdk 9.9.1 to 9.9.4 we starts to have "Missing or insufficient permissions" on on non-modular firestore

[2022-09-06 17:07] taeold commented on #4952
Thanks for filing the issue @rahuld600!

QQ1 - what tooling are you using for package management (yarn? npm)? Are you usign yarn/npm workspaces?
QQ2 - have you run `npm i` before deploying your function?

[2022-09-06 18:07] ElianCordoba commented on #4906
I've also encountered this issue, going down the rabbit hole the errors is [here](https://github.com/firebase/firebase-tools/blob/d4784105a96754a1156d27811bf978531b2e8f8e/src/deploy/functions/runtimes/node/versioning.ts#L43), the `getFunctionsSDKVersion` function runs the command:

[code]

In a  non-monorepo setup that will yield:
[code]

Whereas in a monorepo results in:
[code]

Finally, when rea

[2022-09-06 21:05] taeold commented on #4921
You can read about our rationale here: https://github.com/firebase/firebase-functions/issues/1084

In short, we are close to shipping out a replacement for the Runtime Config. Thanks for your patience.

[2022-09-06 21:05] #4921 closed

[2022-09-06 21:15] taeold commented on #4932
This is a great feature request. Our teammate suggested this might be a new flag in firebase.json:

[code]

This will have to go through our API review process, but if anyone is interested in contributing let me know. When someone in our team begins working on this FR, I'll share an update here.

[2022-09-07 04:09] ylemkimon opened #4954 "Check permission for`artifactregistry.packages.delete` before attempting to clean up container images"
### [REQUIRED] Environment info

**firebase-tools:** 11.8.0

**Platform:** Ubuntu

### [REQUIRED] Test case

See below.

### [REQUIRED] Steps to reproduce

1. Create a Firebase Functions project and deploy.

[code]

2. Create a service account with `Cloud Functions Developer`, `Firebase Hosting Admin
` permission and `Service Account User` of the App Engine default service account in https://conso

[2022-09-07 07:18] rahuld600 commented on #4952
@taeold Hello sir,
First of all, thank you for checking out!
QQ1 - I am using **npm** for package management.
QQ2 - Yes sir! I ran `npm install` before deploying.

[2022-09-07 14:59] devth commented on #793
I'm intermittently getting this error without any of the issues above with existing functions that I've been deploying for 18 months.

This happened another time about a month ago. It seems to happen if my CI/CD tries to deploy to deploy functions too often (e.g. I `git push` twice within 5 minutes). After about 48 hours the error went away on its own. It's like some cache is being cleared out.

V

[2022-09-08 03:35] braadworst commented on #3915
Works like a charm! Thanks for picking this up, much appreciated

[2022-09-08 04:09] braadworst opened #4957 "Requested files stored in the firebase storage emulator as gzip are always fetched uncompressed"
### [REQUIRED] Environment info

**firebase-tools:** 11.8.0

**Platform:** MacOS (11.5.2), Chrome (104.0.5112.101)

### [REQUIRED] Test case

Doesn't apply

### [REQUIRED] Steps to reproduce

- Save a compressed file to the storage emulator from a cloud function
- Request the file via fetch from the client
- Observe the returned `content-encoding`, this is set to `identity`

### [REQUIRED] Expecte

[2022-09-08 13:00] valeriangalliat opened #4958 "Storage emulator: resumable upload hangs when payload is less than 262406 bytes"
### [REQUIRED] Environment info

**firebase-tools:** 11.8.0
**firebase:** 9.9.4
**Platform:** macOS

### [REQUIRED] Test case

[code]

[code]

### [REQUIRED] Steps to reproduce

[code]

### [REQUIRED] Expected behavior

Upload completes successfully.

### [REQUIRED] Actual behavior

Upload hangs forever.

It looks like in the background the client retries the upload HTTP request over and over, but

[2022-09-08 13:12] valeriangalliat opened #4959 "Storage emulator: unknown error with resumable uploads"
### [REQUIRED] Environment info

**firebase-tools:** 11.8.0
**firebase:** 9.9.4
**Platform:** macOS

### [REQUIRED] Test case

[code]

### [REQUIRED] Steps to reproduce

[code]

### [REQUIRED] Expected behavior

Uploads successfully completes.

### [REQUIRED] Actual behavior

[code]

`error.serverResponse` is `null` in that case.

I tracked it down to [this check in Firebase storage client](https:

[2022-09-08 14:13] MH0386 opened #4961 "Error: An unexpected error has occurred at firebase login"
### Environment info

**firebase-tools:** 11.8.0

**Platform:** Windows

---

### Steps to reproduce

1. Run command ```firebase login```
2. See error after successfully login

---

### Expected behavior

 **successfully login without errors**

---

###  firebase login --debug

[code]
---

###  firebase login
[code]

[the problem from Stack overflow](https://stackoverflow.com/q/73642519/16603670)

[2022-09-08 14:52] kristfal opened #4962 "Node 16 breaks workspaces"
### Related issues

This is similar to https://github.com/firebase/firebase-functions/issues/1050, but it probably belongs here - not there.

### [REQUIRED] Version info

**node:** v16.13.2
**firebase-functions:** 3.11.0
**firebase-tools:** 11.8.0
**firebase-admin:** 9.2.0

### [REQUIRED] Test case

Add the following object to package.json

[code]

### [REQUIRED] Steps to reproduce

Run `firebase

[2022-09-08 15:42] MH0386 commented on #4961
@bkendall

[code]

[2022-09-08 17:29] inf3rnus commented on #730
Still running into this issue...

[2022-09-08 18:42] evamaxfield commented on #2333
It does not. It asks for input on the "which file should be used for rules"

[2022-09-08 19:35] dereekb commented on #3916
I put together a working temporary solution for my docker containers that allows the local computer to act as the https://firebase-public.firebaseio.com/cli.json host using NGINX and some self-signed certificates.

https://github.com/dereekb/dbx-components/commit/68321092395a01dd50ef6df57b02ca03839b91d7#diff-23f0ced0bdffb0a4b687d03d94e637a7bd0f60de6af348231efcb23ef260a805

It's not an ideal soluti

[2022-09-08 20:13] jquesada2016 commented on #4959
I'm having the same issue.

[2022-09-08 21:00] RichardJohnn commented on #462
I am seeing this today.  Except after `i functions: preparing functions directory for uploading...`
it returns to the command prompt.  instead of `Error: Problem preparing functions directory for upload.` like @rtmalone  mention.

afterwards, the exit status is zero.  there are no logs created.
`--debug` reveals no extra information

[2022-09-08 21:13] RichardJohnn commented on #462
I also had to reclone my repository to be able to deploy the function.

[2022-09-08 21:22] RichardJohnn commented on #462
I went to the original repository directory
and ran `rsync -R `git ls-files --others  --exclude-standard` ~/Desktop/Backup` to move all my untracked files and then `git clean -df` and I could deploy again.  not sure what the issue was, but I did download a backup of some firebase collections earlier.. also tried to run the firebase emulator with the import command pointed at the back up, which did

[2022-09-08 22:01] leonardorb commented on #986
Just to expand on @khevamann's response here, the neatest way to do this is to use [tsc-alias](https://www.npmjs.com/package/tsc-alias).

On `tsconfig.json`, add `baseUrl` and add your `paths` under `compilerOptions`. Something like:

[code]

Then, change your `serve` and `build` scripts, under `package.json`. Like:
[code]

☝️ here I'm using `concurrently`, but feel free to use whatever you like.

[2022-09-08 23:06] bkendall commented on #462
@RichardJohnn can you open a new bug please (this one is 5 years old, is pretty generic, and we'll need more information prompted by the template). Thanks.

[2022-09-08 23:10] bkendall commented on #4961
Well, that's remarkably less useful than I expected, and I'm not sure what's going to be the best way forward. Is there a firewall blocking node from making requests? Have you had problems accessing Google properties via HTTP in the past? Do you have a proxy? This is likely going to be something specific to your setup unfortunately, so hopefully one of those questions helps.

[2022-09-09 01:11] balazss opened #4963 "Error: Not Implemented on storage copy"
### [REQUIRED] Environment info

**firebase-tools:** `firebase-tools@11.8.1`

**Platform:** `MacOS 12.5.1`

### [REQUIRED] Test case

[code]

### [REQUIRED] Steps to reproduce

1. Upload a file from client e.g: `uploadBytesResumable`.
2. Trigger `onFinalize()` Cloud Function with `copy()`

### [REQUIRED] Expected behavior
Copying files moves it to specified location.

### [REQUIRED] Actual behavio