[2019-08-29 00:10] #1628 closed

[2019-08-29 00:44] aislingorg commented on #1631
I could solve this by install firebase then init  without directly adding tools

[2019-08-29 00:44] #1631 closed

[2019-08-29 03:48] lookfirst commented on #1624
For my it is way over 30%... but I have a top end macbook pro... so maybe it is speed/timing related given your comment? Well, at least it can be reproduced now by you, should be 0%... 🤦‍♂ Thank you so much for looking into this so quickly. Looking forward to the next version! =) Once you get this working, I'll rebuild this idea as a hopefully better piece of code and open source it.

[2019-08-29 17:41] HeatDaHpmepro commented on #1627
is it safe?

[2019-08-29 19:15] envyram commented on #938
Hi, I have a production system and unable to set up email triggers because of this bug. Please let me know if this issue would be resolved soon

[2019-08-29 19:31] mbleigh commented on #1617
Internal tracking id: 140201224

[2019-08-29 22:43] samtstern commented on #938
Hey all I spent some time today reproducing this and I can confirm it's a real issue and adding `%20` lets me deploy but doesn't actually let the function trigger correctly.  I realize that's all old news but I will follow up with some people and see if we can figure out what's going on.

[2019-08-30 04:53] StephenHaney commented on #653
@0x80 I'm with you on this understanding - I think Firebase Function deployments are just (erroneously) assuming that all packages named in package.json will be available on npm, in the name of speeding up deployments.

As yarn workspace setups are becoming more popular, I imagine more folks are going to be surprised that they can't use symlinked packages in Firebase Functions.

[2019-08-30 09:36] jpreynat opened #1635 "auth:export command returns duplicate results"
### [REQUIRED] Environment info

**firebase-tools:** 7.3.0 and earlier

**Platform:** macOS

### [REQUIRED] Test case

[code]

Our Firebase Auth counts more than 300000 accounts. We export them using the `auth:export` command regularly to analyze them.
Until recently, it worked great. But as you can see above, today the export file includes 10x more accounts than their actual number. The number of

[2019-08-30 10:07] jpreynat commented on #1635
PR to fix the issue is here #1636

[2019-08-30 11:17] jwv commented on #1627
Unfortunately it's not safe. If you choose use this police very careful when use package manager like chocolatey.

[2019-08-30 15:34] #1442 closed

[2019-08-30 17:05] samtstern commented on #1633
@mpalmerlee how many functions do you have in this example?

[2019-08-30 17:07] samtstern commented on #1633
I have a feeling this is related to:
https://github.com/firebase/firebase-tools/pull/1527

Which was introduced between `7.1.1` and `7.2.0`

[2019-08-30 18:02] mpalmerlee commented on #1633
@samtstern it looks like my project has 49 functions, including:
`functions.auth.user().onCreate(...)`
`functions.firestore.document(...)`
`functions.https.onRequest(...)`
`functions.https.onCall(...)`
`functions.pubsub.topic(...).onPublish(...)`
handlers

[2019-08-30 18:07] samtstern commented on #1633
@mpalmerlee if possible could you try commenting out about 50% of the functions and then seeing if the shell works for you?  I want to see if this is another "too many functions causes a hang" issue or if this is a new thing.

[2019-08-30 18:59] mpalmerlee commented on #1633
@samtstern Yes, I commented out about 1/2 the functions (down to 26) and version 7.3.0 did load the functions. Then I was suspicious about how that was working so I tried again with all functions with 7.3.0 and it worked fine.

I'm wondering if it has something to do with the auth connection. In order to switch between firebase projects sometimes I'll use `firebase logout` and `firebase login` and

[2019-08-31 01:34] codetraveler3000 opened #1638 "ReferenceError: d3 is not defined"
Hello,

I am trying to deploy my React and Firebase app that has D3. I'm using "firebase-functions": "^3.1.0".

I'm getting **ReferenceError: d3 is not defined** and **Error: Error occurred while parsing your function triggers**. I get this same error when I both run firebase serve and firebase deploy.

- I've tried importing D3 at the top of the functions/index.js file, but that didn't work.

- I

[2019-08-31 08:26] Mada75 commented on #1627
So, I updated vue.js later in that day and got errors running those scripts too.
Posted the problem on the Vue forum and got directed to Stackoverflow, a user on there replied with a similar workaround, which I've reluctantly done.
[https://stackoverflow.com/questions/57673913/vsc-powershell-after-npm-updating-packages-ps1-cannot-be-loaded-because-runnin](url)

[2019-09-01 12:54] abhisawesome commented on #610
"npm --prefix functions run build"

[2019-09-01 13:05] dbarwacz opened #1639 "Unexpected token ... in picomatch/lib/picomatch.js"
### [REQUIRED] Environment info
Mac, running with npm 8, firebase 7.3.0

I'm going to start with a confession that I'm totally new to npm/js world so I might be missing something obvious. Although, from some time I can't run any firebase cli command (even version, which I know I installed at 7.3.0). It always fails with:
[code]
I tried updating npm/firebase but to no success. Am I missing some upd

[2019-09-02 02:47] spongebody commented on #155
In win10,this works for me, 1080 is my proxy port

[2019-09-02 09:25] simonesestito commented on #1458
Issue persists with firebase-tools 7.3.0 on WSL 1.

[code]

WSL version: 1
firebase --version: 7.3.0
Node.js version: 12.9.0
NPM version: 6.11.2
Windows 10 Pro 1903 build 18362.295 (Stable)

[2019-09-02 09:45] darrelfrancis commented on #1059
This can happen when you "npm install" a dependency to the wrong folder, as I have just realised I did. I have a Vue project in the "src" subdirectory, and an index.js (Firebase cloud function) in the "functions" subdirectory.

Dependencies of the Vue project must be installed with "npm install" in the *main* directory. In contrast, dependencies of the Firebase cloud function must be installed wit

[2019-09-02 13:40] codetraveler3000 commented on #1638
This error is no longer an issue and went away later. Sorry!

[2019-09-02 13:40] #1638 closed

[2019-09-03 04:52] dudemeister commented on #486
Just ran into this - as seen above it looks like it's failing on the POST request, takes long to come back with:

[2019-09-03T04:50:55.231Z] Token Fetch Error: Error
    at new FirebaseError (/usr/local/lib/node_modules/firebase-tools/lib/error.js:9:18)
    at Request._callback (/usr/local/lib/node_modules/firebase-tools/lib/api.js:30:31)
    at self.callback (/usr/local/lib/node_modules/firebase-

[2019-09-03 13:57] jmmarco commented on #1639
@dbarwacz I thinks this is happening because you're using Node (version 8) in your system, and apparently [Node 8 doesn't support spread syntax on object literals](https://node.green/#ESNEXT-candidate--stage-3--object-rest-spread-properties).

I had the same issue. To get it to work I downgraded to [firebase-tools version 4.2.1 ](https://github.com/firebase/firebase-tools/releases/tag/v4.2.1)

You

[2019-09-03 16:18] bkendall commented on #1639
Update your version of node to the latest `8` branch (since you're using `nvm`, do `nvm install 8.16.1` - and maybe need to do `nvm use 8.16.1` - check out `nvm`'s docs for more). The [spread in object literals works in later versions of Node 8](https://node.green/#ES2018-features-object-rest-spread-properties-object-spread-properties), but I see you're on `8.1.2` which doesn't support it.

Here's

[2019-09-03 16:30] dbarwacz commented on #1639
@jmmarco your solution helped, but downgrading this much is probably newer a great idea ;)
@bkendall your solution worked as well. Thank you, I ran `nvm install 8.16.1` and it fixed the issue.

[2019-09-03 16:30] #1639 closed

[2019-09-03 18:28] samtstern commented on #1633
@mpalmerlee so if I understand correctly you are now able to load everything properly with version `7.3.0` and it's not dependent on the number of functions?  And you suspect that it maybe had something to do with authentication?

[2019-09-03 18:34] mpalmerlee commented on #1633
@samtstern Yes, that's correct, when I get some time I'll try to repro with my small test project with one function. Basically the steps would be:
`npm -g remove firebase-tools`
`npm install -g firebase-tools@v7.3.0`
`firebase logout`
`firebase login`
`firebase functions:shell`

[2019-09-03 21:07] mpalmerlee commented on #1633
Just leaving some more information here that could be useful for tracking down this issue:
I was just using v7.3.0 which was working fine, making changes to my project and re-running the shell to execute functions locally. After about two or three times of this, the shell exhibited the same behavior of hanging w/o loading the functions. I went back to v7.1.1 and it started working again. Still not

[2019-09-03 21:57] #1635 closed

[2019-09-04 05:03] hatboysam opened #1641 "Can't install standalone CLI"
### [REQUIRED] Environment info

**firebase-tools:** N/A

**Platform:** Ubuntu

### [REQUIRED] Test case

[code]

### [REQUIRED] Steps to reproduce

See above

### [REQUIRED] Expected behavior

Firebase CLI

### [REQUIRED] Actual behavior

[code]

[2019-09-04 05:04] hatboysam commented on #1641
@abeisgoat I think this is maybe because 7.3.1 has no binary?

[2019-09-04 08:40] PeteX commented on #1635
Thanks for working to address this issue.  Perhaps I'm doing something wrong, but here it seems to have made the problem worse.  I'm running this command:

`firebase auth:export --project [removed] firebase-auth-export.json --format=json`

Instead of exporting accounts multiple times, the export file now only contains a single account!  It seems to be the account that is first when sorted by uid.

[2019-09-04 10:53] lookfirst commented on #1624
@ryanpbrewster Any progress?

[2019-09-04 11:11] rostopira commented on #1232
Same thing here, when tried to deploy secondary website
[code]

[2019-09-04 12:56] jpreynat commented on #1635
Indeed, it seems that there is an issue with how the accounts are written to the file.
I experience the same issue, even though after logging a few infos, the Google API is returning the correct list of users and the `_writeUsersToFile` method is correctly iterating over them.
It looks like there's an issue with the end of the writing process.

[2019-09-04 13:18] jpreynat commented on #1635
After further investigation, this is happening because the data written to the stream for the output file doesn't get to be flushed before the process ends.
It should have worked before because the `serialExportUsers` made another request to the API with empty results, and this gave the process enough time to write the buffered data to the file.
Since the method now returns early, the buffered dat

[2019-09-04 13:30] jpreynat commented on #1635
Will be fixed by #1642

[2019-09-04 15:13] PeteX commented on #1635
Thank you @jpreynat—especially because reading the thread above it doesn't sound as though you are a Googler, so it's not really your responsibility!

[2019-09-04 17:11] subhamchand commented on #1442
Hi,
I am facing this same issue. I am not working on my local system , I am working on Gitpod extension. is it something related to it? Can anyone help me in this?

[2019-09-04 17:45] ryanpbrewster commented on #1624
No progress here, caught up in other work. I may be able to rework the transaction queueing this week.

One thing that would help me out is a more compact reproduction of this specific failure mode. Right now I can see that the test you provided hangs, but I don't think it's actually waiting on anything from the emulator --- possibly a race condition has ended up returning the wrong information an

[2019-09-04 19:25] Elyx0 opened #1643 "Firebase auth:export never stops exporting and exports multiple times"
### [REQUIRED] Environment info

**firebase-tools:** 7.24

**Platform:** macOS 10.13.6
Node v10.15.3

### [REQUIRED] Test case

firebase auth:export auth-export.json

### [REQUIRED] Steps to reproduce
firebase auth:export auth-export.json

### [REQUIRED] Expected behavior
Exports only once

### [REQUIRED] Actual behavior
Exporting accounts to auth-export.json
✔  Exported 483 account(s) successfull

[2019-09-04 19:40] Dean-NC commented on #1353
I'm new to firebase, and I spent some time trying to figure out why I had this problem...it seemed that node module caching wasn't working, during emulation.  I had not deployed the function yet.  After deployment, I saw that all worked as expected.  After reading the comments here, it seems this is just an emulation limitation.

[2019-09-04 20:03] samtstern commented on #1643
Duplicate of #1635 ... partially solved in `7.3.1` and probably a new fix coming due to #1642 in the next version.

[2019-09-04 20:03] #1643 closed

[2019-09-05 00:26] enricribas commented on #486
Running 7.3.0 and reverting to 7.1.1

`` firebase login --reauth --no-localhost```

I get token, paste it, and after a long time, I get

[code]

with --debug

[code]
wait a long long time...

[code]

Very frustrating. Can't make changes to my app. I love Firebase but this kind of stuff makes me question using it in production.

[2019-09-05 00:42] enricribas commented on #1442
On linux, experiencing the exact same issue. Do not close.
7.3.0 (and 7.1.1)

[2019-09-05 00:45] surajbarkale opened #1644 "Please provide official docker image"
There is already a linux binary published with every release. It would greatly simplify our workflow if a docker image is also published with the release. Most of the CI systems are now using Docker for specifying tool versions and not having oficial firebase-tools image is causing extra work.

[2019-09-05 00:56] samtstern commented on #1644
We were hoping that the standalone CLI would make it very easy to include Firebase in your existing Docker image.

Just curious what would you expect the environment in the Docker image to be like?  Just enough to run Firebase commands or enough to also run your unit tests, etc?

[2019-09-05 18:28] mbleigh commented on #1644
Hey Matthew, thanks so much for taking the time to put together a pull request! Unfortunately, I'm not going to be able to merge this in.

We take supportability very seriously at Firebase and want to make sure that we're staffed and ready to support anything that is officially a part of our tooling (including languages for functions). At this time we're not ready to make that commitment for Coffe

[2019-09-05 18:32] samtstern commented on #1644
@mbleigh I think you meant to comment that on #1645

[2019-09-05 20:02] eddiejaoude commented on #590
Deploying multiple sites to a single project and multiple projects seems like such a basic requirement: `cdn` / `website` / `app` etc to `dev` / `prod etc. I hope this gets added to the config soon

[2019-09-05 21:00] mbleigh commented on #590
We support both [multiple sites in a single project](https://firebase.google.com/docs/hosting/multisites) and [multiple projects](https://firebase.google.com/docs/cli#project_aliases). This bug is specifically about using *different `firebase.json` configs* for these things, which is not currently supported.

[2019-09-05 21:18] hikaruna opened #1646 "Local firestore emulator webchannel configure not work"
### [REQUIRED] Environment info

**firebase-tools:**
7.3.1

**Platform:**
Linux(use Docker node:12.9.1-stretch image)

### [REQUIRED] Test case

[code]

[code]

### [REQUIRED] Steps to reproduce

[code]

### [REQUIRED] Expected behavior

[code]

- host configuration
- port configuration
- webchannel host configuration
- webchannel port configuration

is working.
In particular, I want webchannel ho

[2019-09-05 21:29] samtstern commented on #1646
@hikaruna right now this is all intended behavior.  The only valid option is `port` and we choose `port+1` as our preferred WebChannel port.

The reason for this is that @ryanpbrewster is working on making it so that, one day, we can serve both WebChannel and HTTP traffic over the same port in the emulator.  So we don't want to introduce new `webchannel-port` options that we'd break in the near fu

[2019-09-05 21:29] samtstern commented on #1646
[closing as intended behavior but let's keep discussing!]

[2019-09-05 21:43] hikaruna commented on #1646
Thank you @samtstern.

I think this issue is too early to be closed, Because the problem still remains.

Host becomes localhost( It is not host configuration value).
Isn't this supposed to be fixed "to work with settings"?

[2019-09-05 21:55] samtstern commented on #1646
@hikaruna the only host we support is `localhost` ... are you in a situation where you can't use localhost?

[2019-09-05 23:12] ryanpbrewster commented on #1646
Ah, gotcha, you want the webchannel traffic to inherit the normal hostname. Totally reasonable. I'll plumb that through.

[2019-09-05 23:47] ryanpbrewster commented on #1646
Done, should go out with the next release. Thanks for filing this :)

[2019-09-05 23:47] #1646 closed

[2019-09-06 00:18] surajbarkale commented on #1644
@samtstern I am expecting an image that is enough to run firebase commands. It is easier to use it as base image in case we need to extend it.

[2019-09-06 01:06] leojkwan commented on #590
Thanks for clarifying @mbleigh

[2019-09-06 04:07] samtstern commented on #1644
@surajbarkale so maybe something like Debian + the Firebase CLI?  Or would you want more/less than that?

[2019-09-06 05:19] eddiejaoude commented on #590
https://github.com/firebase/firebase-tools/issues/590#issuecomment-528557023

Thanks @mbleigh for the quick reply. I managed to do it with cli parameters, but in the `firebase.json` would make it cleaner

It's a great project and a big thank you to everyones hard work, I know it is not easy maintaining open source projects 🤓

[2019-09-06 05:37] surajbarkale commented on #1644
Either debian + cli or scratch + cli image is OK.

[2019-09-06 07:07] hpk1993 commented on #1442
[solved] you have ,use only 'Command Prompt windows' [CMD Admin]

[2019-09-06 08:36] lookfirst commented on #1624
[firestorm-empty.zip](https://github.com/firebase/firebase-tools/files/3583015/firestorm-empty.zip)

Ok, I deleted as much code as I think is safe to delete and still shows the problem. I'm down to less than 90 lines. =)

If I comment out this line:

[code]

Everything runs fine... but of course, cause nothing is really happening. ;-)

[2019-09-06 11:17] lookfirst commented on #1624
Oh, I got it even shorter. If you make the array of 'things' only length 1, then all good. length 2 is trouble.

[code]

[2019-09-06 13:00] red42 opened #1647 "The names of some functions that failed to deploy are not displayed on the retry command"
### [REQUIRED] Environment info

**firebase-tools:**7.3.1

**Platform:**Ubuntu 18.04.3 LTS

### [REQUIRED] Test case

The issue happens when more than one function is being deployed and some of them fail.

### [REQUIRED] Steps to reproduce

It's not easily reproduceable, as it requires deployment failure.

### [REQUIRED] Expected behavior

The suggested redeployment command line at the end of the

[2019-09-06 13:46] yehorh opened #1648 "auth:export write broken data"
### [REQUIRED] Environment info

**firebase-tools:7.3.1**

**Platform:Windows, Linux Ubuntu**

Description:	Ubuntu 18.04.3 LTS
Release:	18.04
Codename:	bionic
5.0.0-27-generic

Windows Server 2016

### [REQUIRED] Test case
In project with multiple users export auth information.

### [REQUIRED] Steps to reproduce
[code]

[code]

### [REQUIRED] Expected behavior
Valid file with all users auth data

[2019-09-06 15:25] samtstern commented on #1648
Thanks for reporting!  This will be fixed by #1642 and has already been reported, so going to close this as a duplicate.  Hopefully the fix will be released soon.

[2019-09-06 15:25] #1648 closed

[2019-09-06 15:29] samtstern commented on #1647
@red42 thanks for reporting!  Seems like a fairly straightforward bug,

[2019-09-06 15:48] samtstern commented on #1644
@surajbarkale thanks for all the feedback.  I put this on our feature request list, it ties in nicely to some things we want to do around supporting CI systems so I do think we will do this eventually.

[2019-09-06 17:21] ryanpbrewster commented on #1624
Excellent, thanks!

[2019-09-06 19:23] ryanpbrewster commented on #1624
FWIW, this is the smallest repro I could come up with for this issue:
[code]

With v1.8.2 this stalls out reliably within 5 tests.

[2019-09-06 21:36] #1624 closed

[2019-09-06 21:37] ryanpbrewster commented on #1624
@lookfirst would you mind trying out the new build and letting me know if you still run into issues?

[2019-09-06 23:34] sionlanini commented on #1609
Same for me too. I definitely didn't disable it, so not sure why the sudden change.

[2019-09-07 03:58] lookfirst commented on #1624
@ryanpbrewster Fixed! =)

[2019-09-08 17:04] EmilS2019 commented on #77
Not a single one of these worked for me. It still says "An unexpected error has occured" right after Paste authorization code here"

[2019-09-10 04:46] xenogew opened #1650 "predeploy hook cannot execute rmdir on Windows cmd"
### [REQUIRED] Environment info

**firebase-tools:** 7.3.1

**Platform:** Windows 10 v1903 build 18362.329

### [REQUIRED] Test case

### [REQUIRED] Steps to reproduce
`"rmdir public/* && mkdir -p public/_nuxt"` in `predeploy` hook always return error.
The other that I had tried.
  - `rm -rf ...`
  - `del /s /q ...`
  - `rmdir /s /q ...`
  - `rimraf ...` (after install `npm install -g rimraf`)
  -

[2019-09-10 18:56] IanMinash opened #1651 "Firebase functions config set doesn't include $ present in my env data"
Hi guys, whenever I add env data with a $ in it like the one below,

`firebase functions:config:set foo.bar="hellnoS$t%C"`

the $ and the character following it are not present the resulting value, which means that I instead get `hellnoS%C` when I access them from my cloud functions. Is $ not a valid symbol in the env data?

[2019-09-10 20:31] philval commented on #492
https://github.com/firebase/firebase-tools/issues/678#issuecomment-413622488
worked for me >>

You need to run this in the functions directory:
firebase functions:config:get > .runtimeconfig.json
However, if you're using Windows PowerShell, replace the above command with:
firebase functions:config:get | ac .runtimeconfig.json

See https://firebase.google.com/docs/functions/local-emulator

[2019-09-11 06:41] lookfirst commented on #1353
I came here because I'm making a connection to postgres. In development, my functions hit the instance running on my local machine. In production, they hit the cloud sql postgres instance. Creating the connection on every request locally is not the end fo the world, but kind of slow. I totally get *why* things are the way they are, but it would be nice to also escape out of that.

Not being able t

[2019-09-11 06:45] lookfirst opened #1652 "[feature] support ts-node"
It would be great to not have to compile typescript files myself. My IDE (IDEA) already shows me compile errors.

Supporting ts-node would also enable integration with typeorm to work better. Right now, I have to point it at my compiled js files when I just want to point it at my ts files.

[2019-09-11 11:35] akildemir commented on #1606
@Jank1310 I just did your suggestion and get :
[code]
have any idea?

[2019-09-11 12:29] micksatana commented on #1606
@akildemir
There is no need to apply the quick fix. You can just upgrade the global module.
[code]

[2019-09-11 15:19] bkendall commented on #1652
In what context are you wanting `ts-node` supported? I'm not sure what your request is... are you wanting Firebase Functions to run in a ts-node environment?

[2019-09-11 15:51] bkwilcox100 commented on #2
I have removed every mention of the auto-generated firebase index.html file from my project, ran 'npm run build' and then 'firebase deploy' and I still am seeing the auto-generated index file when I open the app URL. I don't know where it is getting this file from.

[2019-09-11 16:35] lookfirst commented on #1652
Effectively, yes.

I want to run Firebase Functions without the need to compile to js. ts-node is one way to do that.

[2019-09-11 16:42] samtstern commented on #1652
@lookfirst do you want this capability locally or in production?  In production this is not feasible for a number of reasons.  For the local emulator it *may* be possible although I worry it would add a lot of complexity and instability to our emulator.

[2019-09-11 16:58] Karasuni opened #1653 "Hosting rewrites disregards function region"
### [REQUIRED] Environment info

**firebase-tools:** 7.3.1

### [REQUIRED] Test case

https://github.com/Karasuni/firebase-tools-20190911

### [REQUIRED] Steps to reproduce

1. Configure a function in any [region](https://firebase.google.com/docs/functions/locations) other than `us-central1`. E.g. `us-east1`.
This example will host a function at `us-east1-<project-id>.cloudfunctions.net/helloWorld

[2019-09-11 17:04] mbleigh commented on #1653
Firebase Hosting currently doesn't support rewriting to functions other than in `us-central1` (as documented [here](https://firebase.google.com/docs/hosting/functions)). This is a pretty common feature request and I'll consider this a +1 to that 😸

As for the URL rewriting, we believe this is the correct behavior. When processing HTTP requests in a Cloud Function, `req.url` is set to the portion t

[2019-09-11 17:04] #1653 closed

[2019-09-11 17:13] Karasuni commented on #842
[**@mcoevert**](https://github.com/mcoevert) commented on [Aug 19, 2019, 10:36 AM GMT+2](https://github.com/firebase/firebase-tools/issues/842#issuecomment-522470405 "2019-08-19T08:36:32Z - Replied by Github Reply Comments"):

Redirects won't solve the CORS issues though.

[2019-09-12 01:22] bkendall commented on #1651
It may be being interpreted by your shell as a variable. Try escaping the `$`:

[code]

[2019-09-12 01:34] whaatt opened #1655 "Random build timeouts using `firebase deploy`"
I have a large project with many cloud functions, and lately an error has been popping up on random functions in my deploy: `Deployment error. Build failed: Build has timed out`.  Sometimes it says `Build error details not available` instead of the timeout.

This affects a small percentage of functions but is enough to be annoying (often requiring many redeploys).

### Triage

If I check Stackdriv

[2019-09-12 04:25] samtstern commented on #1655
I've seen this before and I also believe it was correlated to Node
version.  Since it's an intermittent issue and it's definitely happening on
the back end I don't think there's anything we can do in the CLI to help.

Would you mind writing in to Firebase support about this issue?  Provide
the project ID and some timestamps of build failures.  You can link this
issue and tell them to cc me if you'

[2019-09-12 06:08] StephenHaney commented on #653
With [npm adding support for workspaces](https://blog.npmjs.org/post/186983646370/npm-cli-roadmap-summer-2019), we have an ecosystem standard for how local packages should work.

Since this issue is over a year old, any update from the Firebase side on plans (or lack of plans) here?

I think it's a pretty cool opportunity – Firebase's array of services begs for a good monorepo setup.

[2019-09-12 17:43] VictorHerreraO opened #1656 "Firebase emulator crashes when browser cache is disabled"
### [REQUIRED] Environment info

7.3.2

Windows 10 Build 1903

### [REQUIRED] Test case

[Link to youtube video](https://youtu.be/n67auBqCwOQ)

### [REQUIRED] Steps to reproduce

Run the firebase emulator using

[code]

Disable cache on the browser

### [REQUIRED] Expected behavior

Web page loads

### [REQUIRED] Actual behavior
Web page loads some resources then the emulator crashes

firebase-deb

[2019-09-12 20:01] darkie8 opened #1657 "Accessing Firebase Projects from Firebase-CLI even after pass gets changed"
### [REQUIRED] Environment info

**firebase-tools:  7.3.1
**

**Platform: Windows**

### [REQUIRED] Test case

$ firebase init
$ firebase login
$ firebase list
$ firebase use --add
$ firebase deploy
##### [REQUIRED] Steps to reproduce
#### in the terminal
$ firebase init
$ firebase login
#### LOG IN FROM THE BROWSER
#### in the termina
$ firebase list
#### GIVES ME  THE PROJECT LIST
#### NOW CHANG

[2019-09-13 08:29] kledk commented on #1655
Apparently the issue seems to be resolved today. My builds are passing again without timeouts.

[2019-09-13 09:05] mattgstevens commented on #1655
@whaatt agreed, this issue is about *(A)* cloud functions deployments (although I'm glad those experiencing hosting issues are happy again).

---

Small update from my side is that support received the ticket, I provided some additional information (timestamps of recent failed deploys, the logs from a failing `firebase deploy` with the `--debug` flag,  projectId's and region) and the ticket has be

[2019-09-13 13:38] claytonsurgeon commented on #1627
Ran into this issue updating from 7.3.1 to 7.3.2

[2019-09-13 16:43] bkendall commented on #1657
I am a bit out of my depth here, but if I recall correctly the access tokens are only good for an hour before they need to be refreshed (using the refresh token). I don't actually remember if changing your password invalidates any of the refresh tokens that have been generated - I'd have to go read some technical specifications, I think.

[2019-09-13 16:53] mbleigh commented on #1657
The Firebase CLI uses standard Google OAuth refresh tokens. Since refresh tokens don't rely on an account's password, I don't believe they are automatically invalidated when a password is changed -- Firebase unfortunately doesn't have any control to change this.

However, you can revoke all access granted to our app (or any other) by visiting [this Google account dashboard](https://myaccount.googl

[2019-09-13 16:53] #1657 closed, assigned to nobody

[2019-09-13 18:10] LaszloDev commented on #842
Would like to see europe-region support too.

[2019-09-13 19:48] hkchakladar opened #1658 "In emulators, realtime database, firestore write (via emulator functions) is showing success but can't see data in the firebase console"
### [REQUIRED] Environment info

**firebase-tools:** 7.3.2

**Platform:** Ubuntu

### [REQUIRED] Test case

In emulator, I'm writing to realtime database and firestore, via emulator functions. The write shows success, but I can't see it's written to db (firestore, rtdb) in firebase console.

### [REQUIRED] Steps to reproduce

Cloud functions:

[code]

### [REQUIRED] Expected behavior

In firebase

[2019-09-13 20:18] samtstern commented on #1658
@hkchakladar that's the intended behavior because it is writing back to the Database Emulator, which can't be seen by the console.

You can view the data by going to:
http://localhost:PORT/admin/singleTask/done.json?ns=YOUR_PROJECT_ID

Make sure to replace PORT with the port the RTDB emulator is using and YOUR_PROJECT_ID with your Firebase project ID.

[2019-09-13 20:36] hkchakladar commented on #1658
Okay.

What about firestore?

And is there any way to write back to production database?

[2019-09-13 20:41] diogoterremoto commented on #842
It seems that a rewrite can now be made with a Cloud Run service hosted on `europe-west1` region (currently the only europe region available for Cloud Run). It's not quite the same, but pretty close.

[2019-09-13 21:24] samtstern commented on #1658
@hkchakladar for Firestore there's no easy way to view data in your browser, we're working on it!

If you want to write back to production, you should not run the DB emulators.  So `firebase emulators:start --only functions`.  Then any code that runs in the function will talk to production.  Of course then you can't trigger the functions based on local DB events but that would be a strange combina

[2019-09-14 07:58] darkie8 commented on #1657
Revoking all access to any app from a certain account will make the account unusable for further use and will be a bad thing for me. So, is anybody working on the control to delete the refresh tokens whenever password gets changed ?

[2019-09-14 13:37] AAverin commented on #1469
Get this error now in firebase-tools 7.3.2, firebase-functions 3.2.0
node verison v8.16.1 and engine in package.json is set to 8 too.

[2019-09-14 18:56] cgrennanTechtonic opened #1659 "`firebase functions:config:get > .runtimeconfig.json` overwrites config file with empty JSON object"
### [REQUIRED] Environment info

**firebase-tools:** 7.3.0 (also tried with 7.3.2)

**Platform:** macOS Mojave 10.14.6 (18G87)

**Shell:** Z Shell (also tried with Bash)

### [REQUIRED] Test case

Clone the repo listed below, cd into functions, npm install, then follow Steps to Reproduce below.

https://github.com/CherryKatatonic/firebase-functions-config-bug

### [REQUIRED] Steps to reproduce

ru

[2019-09-16 16:56] henlz commented on #753
Apparently no updates...

[2019-09-16 18:35] IanMinash commented on #1651
Thanks, that was it😅

[2019-09-16 18:35] #1651 closed

[2019-09-16 20:01] joehan commented on #1659
Hey @cgrennanTechtonic, sorry to hear that you've been having trouble. The firebase functions:config commands interact with (Firebase environment config)[https://firebase.google.com/docs/functions/config-env], not with local environment variables. The command you are using (```firebase functions:config:get > .runtimeconfig.json```) just pulls down the current config, and writes it to the runtimeco

[2019-09-16 21:55] abeisgoat commented on #1656
Can you share a bit more about what JS runs on your page (are you connecting to the RTDB emulator? writing data? etc)

[2019-09-17 08:41] SantiMA10 commented on #1046
One question, can this environment variable copy make that all the env vars are available in the Firebase Cloud Functions env?

[2019-09-17 09:24] irohitb opened #1661 "Cannot create proxy with a non-object as target or handler"
### [REQUIRED] Environment info

**firebase-tools**: 7.2.4

**macOS:** Mojave 10.14

### [REQUIRED] Test case
[code]

And then initialising  mysql

[code]

Error

[code]
###  [REQUIRED] Steps to reproduce

Above steps and then deploying by running following command
`export GOOGLE_APPLICATION_CREDENTIALS='./.keys/admin.keys.json  && export dev=true && firebase emulators:start --only functions`

###

[2019-09-17 16:10] samtstern commented on #1661
@irohitb thanks for filing this.  Can you help me try and reproduce by providing a more complete test case?  For example I don't see anywhere in the code you provided where you actually export any Cloud Functions?

[2019-09-17 21:30] VictorHerreraO commented on #1656
I'm currently working on two small projects which both use firebase. One of them uses the hosting and functions emulator while the other only uses the hosting emulator.
Neither use the RTDB emulator.
The emulator crashes at the moment the browser (Chrome v77) request somefirebase scripts eg. `/__/firebase/5.8.1/firebase-database.js` or `/__/firebase/5.8.1/firebase-messaging.js` and status  = (fail

[2019-09-18 04:57] mohsinraza2223 commented on #1627
It's a good solution and works for me.

[2019-09-18 10:25] alexlouden commented on #688
I had the same issue, so I re-ran my deploy with `--debug` and discovered that my deploy user was getting a 403 on the GET https://runtimeconfig.googleapis.com/v1beta1/projects/myproject/configs call.

I added the `Cloud RuntimeConfig Admin` role, and a handful of permissions including these, and that resolved it:

[code]

(I'm not sure which of these are necessary but it might provide someone in

[2019-09-18 10:26] Ansty93 commented on #1371
Any update on that issue?

[2019-09-18 11:09] irohitb commented on #1661
@samtstern  I am creating by doing something like this.
[code]

[2019-09-18 11:14] irohitb commented on #1661
@samtstern Also if I do something like this,

[code]

it throws following error

[code]

[2019-09-19 21:01] lubo opened #1665 "`firebase serve` doesn't fully imitate Firebase hosting server"
### [REQUIRED] Environment info

**firebase-tools:** 7.3.2

**Platform:** Arch Linux

### [REQUIRED] Test case

My `firebase.json` looks like this:

[code]

`build` directory looks like this:

[code]

### [REQUIRED] Steps to reproduce

Deploy the site to Firebase and run `$ firebase serve`. Then, compare response status codes, headers and bodies between the two for the following paths:

* `/assets

[2019-09-19 23:51] samtstern commented on #1661
Ok we need to find a small project that we can reproduce this with.  For instance I did:

**functions/index.js**
[code]

**.runtimeconfig.json**
[code]

And when I call the function I actually get no config at all:
[code]

[2019-09-20 07:17] irohitb commented on #1661
Ahh! Try this..

https://github.com/irohitb/DatingApp-backend

[2019-09-20 09:08] Iar0 commented on #653
+1 on this, cloud functions usually will need to share some common code (e.g. interfaces) with other apps and a nice way to deal with this is a monorepo (e.g. lerna) or using symlinks directly. I took the latter and solved by creating some scripts. The concept is quite easy: I copy what's needed inside the functions directory and I remove it after

 Here's how I did it with this directory structur

[2019-09-20 15:27] noah-goodrich opened #1666 "firebase serve in docker works for functions but not hosting"
I've already seen this issue: https://github.com/firebase/firebase-tools/issues/929 which adding the `-o` flag made it so functions would start working but hosting is still returning a `ERR_EMPTY_RESPONSE` from port 5000.

I've set up the following container Dockerfile:
    FROM devillex/docker-firebase

    ENV USER=app

    RUN apt-get update && apt-get install -y openssl \
            libssl-de

[2019-09-20 15:42] dgobaud commented on #1353
@abeisgoat I'm still on 6.8.0 because of this just last night started having a problem deploying I contacted support they said to upgrade but we can't I wonder is 6.8.0 now unable to deploy? It is becoming a problem not being able to upgrade :(

[code]

[2019-09-20 18:17] samtstern commented on #1661
@irohitb I apologize but running your whole project is not a good way for us to debug this issue, we need to find the smallest possible amount of code that reproduces this (which is what I was trying above).

[2019-09-20 18:21] irohitb commented on #1661
@samtstern it just contains two endpoint and basic initialisation code (express, middleware and SQL). Can you have quick overview of it? if not, I will try to create a new separate project.

[2019-09-20 18:58] samtstern commented on #1661
@irohitb ah I found the issue.  Your config is not valid.  For example you have this config:

[code]

But you actually need to always be two-levels deep, for example this fails:
[code]

So you'd want to make your config something like:

[code]

And then in your `config.js` file:

[code]

I was able to get your app to run using this:

[code]

[2019-09-20 18:58] #1661 closed

[2019-09-21 14:41] vongohren commented on #1541
@samtstern question, the known issue you are pointing to is not very releated.
This issue demands some documentation on how to acctually do the debugging, because now since firebase emulators is the go to runner of a functions setup with emulators, there should be some way to run an attached process to the running node code.

The attached issue points to some issue after it seems he has gotten it

[2019-09-21 14:42] vongohren commented on #1360
@vincy261 so you are saying you are getting the connection up, but the breakpoints are not verified?

I would love to see some documentation on how to set it up, maybe towards the chrome debugger as well. Not just VS code

@sultanmyrza not sure why you are posting stuff about a deprecated library?

[2019-09-21 15:15] vongohren opened #1667 "How to locally debug the a project"
### [REQUIRED] Environment info

**firebase-tools:** 7.2.2

**Platform:** macOS

### [REQUIRED] Test case

Initiate a simple function setting some data to firestore, with typescript.
Then have some simple functions triggering on onCreate, onUpdate, logging the data coming in.

I have three criterias, related to this issue: https://github.com/GoogleCloudPlatform/functions-framework-nodejs/issues/10

[2019-09-22 03:15] Elgarni opened #1668 "UnhandledPromiseRejectionWarning: when the user initializes a Cloud Functions project and does not have enough permissions to enable required APIs"
### [REQUIRED] Environment info

**firebase-tools:** 7.3.2

**Platform:** MacOS

### [REQUIRED] Test case

### [REQUIRED] Steps to reproduce
[code]
When prompted for the language, just wait a few seconds. Then you will see an UnhandledPromiseRejectionWarning stacktrace.

### [REQUIRED] Expected behavior
The user is notified about lack of permissions, and the rejected promise is handled so that no

[2019-09-22 04:31] ivalsaraj opened #1670 "UnhandledPromiseRejectionWarning: FirebaseError: Task"
### Environment info

**firebase-tools:**
Version: 7.3.2

**Platform:**
macOS: 10.14.6
### Test case
I tried to upload files to firebase hosting with `firebase deploy --only hosting` which throws error.

### Steps to reproduce

I tried to upload files to firebase hosting with `firebase deploy --only hosting`. In my files I have symlinks, **one of the symlink points to a file that doesn't exist**.

[2019-09-22 11:03] BLACKCAT25896 commented on #610
What can i do now
i am tried every way but its error On Mac

1. Uninstalled firebase-tools globally
2.  npm install -g git://github.com/firebase/firebase-tools#master
3. cd into my functions project directory
4. Ran firebase deploy --only functions

`{
  "functions": {
    "predeploy": [
      "npm --prefix \"%RESOURCE_DIR%\" run lint",
      "npm --prefix \"%RESOURCE_DIR%\" run build"
    ]
  }
}

[2019-09-23 13:53] turnono commented on #631
solved by setting "main" in package.json to:
`"main": "lib/functions/src/index.js"`

[2019-09-23 18:00] samtstern commented on #1667
@vongohren thanks for the detailed report.  As you've noticed, we can provide (1) and (3) but not (2) at the moment.

Adding debugging here is tracked in #1360

Our position so far is that this would require a huge re-write of some code here.  But this morning I did some experiments and had a breakthrough so I think we can add debugging sooner than expected!  Can't promise anything though.

If you

[2019-09-23 18:00] #1667 closed

[2019-09-23 18:00] samtstern commented on #1667
Closing this because we are tracking the debugging issue elsewhere.

[2019-09-23 19:08] vongohren commented on #1667
@samtstern coolio! Thanks for the feedback!
Yeah I did try the firestore emulator host variable, but was not able to make it trigger.
I run two different functions, one https and one onCreate firestore method.
Then I triggered the https, which triggers a put on firestore.
But I was not able to make the firestore onCreate method trigger.

But this should work? If I make sure I do it correctly 😄

[2019-09-23 19:12] samtstern commented on #1667
Yes that should work.  A common source of errors there is using a different
project ID or Firebase config in each emulator.

On Mon, Sep 23, 2019, 12:08 PM Snorre Lothar von Gohren Edwin <
notifications@github.com> wrote:

[2019-09-23 19:21] vongohren commented on #1667
Ok, thanks I will see what I figure out :)

[2019-09-23 19:22] vongohren commented on #1667
I appreciate good and quick feedback! Great stuff!

[2019-09-24 07:02] audkar opened #1672 "Firebase database emulators:exec doesn't respect database rules"
### [REQUIRED] Environment info

**firebase-tools:**
7.3.2

**Platform:**
Linux

### [REQUIRED] Test case

Starting emulator with `firebase emulators:start --only database` and then running tests `yarn jest` works correctly, but executing `firebase emulators:exec --only database jest` fails with such test:
[code]

### [REQUIRED] Steps to reproduce

Execute any test with "firebase emulators:exec --

[2019-09-24 12:00] BharathReddyA opened #1673 "firebase deploy"
I'm new to Firebase can anyone help? when I tried $ firebase deploy then I got the error message as

[debug] [2019-09-24T11:48:02.335Z] ----------------------------------------------------------------------
[debug] [2019-09-24T11:48:02.337Z] Command:       C:\Program Files\nodejs\node.exe C:\Users\Bharath Reddy\AppData\Roaming\npm\node_modules\firebase-tools\lib\bin\firebase.js deploy
[debug] [201

[2019-09-24 22:14] StephenHaney opened #1674 "Deploy Functions Sometimes Stuck in Infinite Loop"
### [REQUIRED] Environment info

Firebase CLI v7.3.2

**firebase-tools:**
7.3.2

**Platform:**
macOS

Sometimes when we run `firebase deploy`, functions get stuck in a loop and never finish deploying. This seems to happen more often when a new function has been added since the last deploy.

**CLI output**
[code]

**Debug Log**
[code]

[2019-09-24 22:27] AmitTurner commented on #1674
Im having the same problem since today...
cant find a way to deploy my functions, have the same logs as the post above.

[2019-09-24 22:31] jaybayley commented on #1674
I'm experiencing the same issue, in my case it's every time rather than sometimes. Firebase and Google Cloud status page is showing all clear but i'm beginning to suspect that's not the case?

[2019-09-24 22:34] StephenHaney commented on #1674
Interesting – we've had this off and on for the last few days. I chalked it up to network failures the first few times, but this seems to be persistent.

[2019-09-24 23:15] GianfrancoMS commented on #1674
I'm having the samee issue since 2 hours ago.

[2019-09-24 23:22] rubenjose commented on #1548
Similar issue going on here.

deployment hangs at the "all necessary API's are enabled".  Except I have never gotten it to return control from here and have to kill deployment and the console just states "aborted".

Start with deployment of single function:
`$ firebase deploy --only functions:checkArrayUnion`

Everything fine till it just stops for no reason:
`i  functions: uploading functions in

[2019-09-24 23:23] jknudstrup commented on #1674
Same.

[2019-09-24 23:27] tad-iizuka commented on #1674
I'm facing a similar situation. I think 8 hours ago was OK. Now, still underway. on the asia-northeast1.

[2019-09-25 00:11] adamduren commented on #1674
Same, urgently need to deploy an update

[2019-09-25 00:12] adamduren commented on #1674
https://status.cloud.google.com/ is reporting multiple outages across several Google Cloud Services. Probably related.

[2019-09-25 01:39] rubenjose commented on #1548
let it run and 20 minutes later it quit.  gave me this:

`⚠  functions[checkArrayUnion(us-central1)]: Deployment error.
Operation interrupted.

Functions deploy had errors with the following functions:
	checkArrayUnion

To try redeploying those functions, run:
    firebase deploy --only functions:checkArrayUnion

To continue deploying other features (such as database), run:
    firebase deploy --e

[2019-09-25 02:25] gtgalone commented on #1674
I cannot deploy. How is it going?

[2019-09-25 03:28] gtgalone commented on #1674
Now, working. I just deployed successfully.

[2019-09-25 03:59] smbowler commented on #1674
I am having the same issue and am still not able to deploy

[2019-09-25 06:10] super-jb opened #1836 "[functions.config()] is EMPTY when running [firebase serve] or [firebase deploy] (using Node.js v10 function environment)"
### Related issues
I know some people have complained about this in the past but I can't seem to get this working.

### [REQUIRED] Version info

**node:** v10.15.0

**firebase-functions:** ^3.0.0

**firebase-tools:**

**firebase:** 7.3.2

**firebase-admin:** ^8.0.0

### [REQUIRED] Test case
running **firebase serve** fails to read **functions.config()**

### [REQUIRED] Steps to reproduce

I've tri

[2019-09-25 16:34] paulkre opened #1675 "`firebase serve` not working properly on macOS"
### [REQUIRED] Environment info

**firebase-tools:** 7.3.2

**Platform:** macOS

### [REQUIRED] Test case

When serving any firebase project on macOS, [http://localhost:5000](http://localhost:5000) will respond with an unidentified binary file. Visiting [http://localhost:5000/index.html](http://localhost:5000/index.html) works as expected.

### [REQUIRED] Steps to reproduce

Initialise a new proje

[2019-09-25 17:53] GuySarkinsky commented on #626
Hi! That solved me the problem:
sudo npm i -g firebase-tools

[2019-09-25 18:16] JamesMcMahon commented on #1475
Maybe my setup (macOS 10.14.6), but when I @ryanmeisters project I don't even see the `unauthorized` error.

  code: 'not-found',
  details: undefined,
  message: 'not-found',
}

Even after uncommented the line specified.

Additional setup details:

[2019-09-25T18:13:38.216Z] CLI Version:   7.3.2
[2019-09-25T18:13:38.216Z] Platform:      darwin
[2019-09-25T18:13:38.216Z] Node Version:  v10.16.3
[2

[2019-09-26 05:00] dgobaud commented on #1353
@abeisgoat any chance you got to look at the deploy problem? I'm talking to Firebase Support and they don't seem to be able to reproduce but it seems like something has changed on the server breaking 6.8.0.

[2019-09-26 06:23] f-gueguen commented on #1371
Using the following dependencies fixed it for me (with node 10)
[code]

[2019-09-26 15:55] vdias38 commented on #1449
I had the same issue, thanks to @samtstern on firebase summit I fixed it installing globally `firebase-admin` and `firebase-functions`

[2019-09-26 21:39] vladimirdjurdjevic opened #1676 "Firebase hosting emulator should be able to rewrite to cloud run service on localhost"
Firebase hosting emulator rewrites work like a charm with firebase functions since we have functions emulator. However, rewrites to a cloud run service work only if service is deployed to the cloud. Now, since cloud run is super awesome and flexible, testing it locally is a matter of running docker image locally (with docker, docker-compose or even Kubernetes Minikube). This approach is much more

[2019-09-26 21:54] vdjurdjevic opened #1677 "Add firebase authentication emulator to emulator suite"
Is it possible to emulate the authentication API for faster local development and end to end testing? With the Firestore emulator, we don't have to create different projects for different environments (dev, testing, staging, prod), we can just use emulator, seed data to it from JSON files in watch mode for development, or seeding for every test case, etc. To be able to write end to end test that h

[2019-09-27 11:57] l2aelba commented on #842
So this is no possible right now?

[2019-09-27 15:39] lemndev commented on #369
Had the same problem when running `firebase deploy`  even after reauthenticating
I had VPN connected.
- Disconnecting from the VPN worked for me

[2019-09-27 16:53] Galzk commented on #1546
Try this if you face the same issue
`
PATH="$PATH:/mnt/c/Windows/System32" firebase login
`

[2019-09-27 18:30] noelmansour opened #1678 "Firebase emulator should indicate android:usesCleartextTraffic="true" required for certain API versions"
### [REQUIRED] Environment info
**firebase-tools:** 7.4.0
**Platform:** macOS

### [REQUIRED] Test case

Use the quickstart functions project:
https://github.com/firebase/quickstart-android/tree/master/functions

Update the firebase-admin library to 8.6.0, firebase-functions library to 3.2.0 in the functions dir.

Explicitly add a node version for the engine to functions/packages.json:
[code]

Ins

[2019-09-27 19:49] larssn commented on #1624
Is it possible that this is also a problem in the realtime database? I'm using the realtime DB for stopping double triggers in Firestore:

[code]

When running via the emulator, "Done transaction" is never printed, leaving me to believe it hangs in there somewhere.

When deploying to the server, however, it works fine.

Should I open a new issue?

[2019-09-27 19:57] samtstern commented on #1678
Thanks for filing such a detailed issue.  Are you signed in to Firebase
Auth when you make the request?  If you are, could you try it signed out?
Wondering if this has to do with authentication.

On Fri, Sep 27, 2019, 8:31 PM Noel Mansour <notifications@github.com> wrote:

[2019-09-27 20:10] noelmansour commented on #1678
@samtstern It looks like you replied via email, looking at an outdated version of this issue. I edited the original issue as I found the source of bug (it's related to certain versions of android not allowing clear text traffic).

[2019-09-27 20:54] ryanpbrewster commented on #1624
Yes, please open a new issue. The emulators are separate, so the RTDB issue will need to be handled separately.

[2019-09-28 09:36] simonh1000 opened #1679 "Firebase database emulator does not start"
### [REQUIRED] Environment info

7.2.2

**firebase-tools:** 7.2.2

Platform: macOS

### [REQUIRED] Test case

My database emulator appears to work
[code]

But it is not started when I try to start all my emulators together

[code]

I get the same result with `firebase serve`

### [REQUIRED] Steps to reproduce

run the two commands above

### [REQUIRED] Expected behavior

I expect that all the func

[2019-09-28 10:29] samtstern commented on #1679
We try to detect which products you're using based on your firebase.json
file.  Can you try running "firebase init database" to set up the database
and then try starting the emulators again?

On Sat, Sep 28, 2019, 11:36 AM Simon Hampton <notifications@github.com>
wrote:

[2019-09-28 18:43] SamhithPottem commented on #1222
I am getting the same error. Could anyone please let me know how to overcome this error ASAP.

[2019-09-29 05:22] epebojot commented on #1627
Well, try this:

Then run your chosen firebase syntax command.

[2019-09-29 05:43] simonh1000 commented on #1679
fixed it - thanks

[2019-09-29 05:43] #1679 closed

[2019-09-29 06:57] ArcherEmiya05 opened #1680 "Transaction Failed and Network Timeout"
### Related issues
No, I cant find exact similar case on SO.

### [REQUIRED] Version info

**node: 8**

**firebase-functions: 3.1.0 **

**firebase-tools: 7.3.2**

**firebase-admin: 8.0.0**

### [REQUIRED] Test case
Deploying function from CLI and it was successful but I am seeing this in firebase console log.
![image](https://user-images.githubusercontent.com/38008900/65585942-e2e14700-dfb5-11e9-9

[2019-09-29 15:59] lusamdebonfils commented on #77
firebase login --interactive
Works perfectly. Thanks!!

[2019-09-29 18:27] larssn opened #1681 "Hanging transactions in the Realtime DB."
I'm seeing transactions hanging in the realtime DB when using the emulator.
Test case below.

### [REQUIRED] Environment info

**firebase-tools:** 7.4.0

macOS

### [REQUIRED] Test case

[code]

When running via the emulator, "Done transaction" is never printed, leaving me to believe it hangs in there somewhere.

When deploying to the server, however, it works fine.

### [REQUIRED] Steps to reprod

[2019-09-29 23:22] hanuz06 commented on #46
Thank you very much. That worked for me.

[2019-09-30 09:11] samtstern commented on #1678
@noelmansour thanks for figuring that out!

[2019-09-30 10:10] samtstern commented on #1681
@larssn thanks for the simple test case!  Assuming it reproduces for us, sounds like a clear-cut bug.

@ryanpbrewster @scottcrossen PTAL

[2019-09-30 10:53] samtstern commented on #1353
@dgobaud if you have the issue with "TypeError: Cannot read property 'wanted' of undefined" I believe that was a problem with `npm` version `6.10.0`.

Run `npm --version` and make sure you have `6.10.1` or later.  If you don't, run:

[code]

[2019-09-30 10:54] samtstern commented on #1678
cc @markarndt looks like we need to add a warning to the docs about use of `http` traffic on certain versions of Android.  I believe this is only an issue with Functions since it goes through a third-party HTTP library which respects this setting.  Looks like RTDB and Firestore don't (at the moment).

[2019-09-30 13:27] ralcar opened #1682 "Firebase Emulator error when writing/updating document inside a Firestore trigger, when using snapshot.ref.set()"
### [REQUIRED] Environment info

**firebase-tools:**
7.4.0

**Platform:**
Windows

### [REQUIRED] Test case

Since auth is not available in the context for Firestore triggers, I send along some user data in the snapshot to log the activity and use the user token to create some extra steps inside the onCreate function. I extract the userdata from the snapshot and the want to remove the userdata usi

[2019-09-30 13:32] samtstern commented on #1682
@ralcar thanks that's an interesting bug, I think I can see how it happened.

For now you can workaround this by doing:
[code]

This will construct a new reference using the emulated `admin.firestore()`.

[2019-09-30 13:35] samtstern commented on #1682
Note to self:
https://github.com/firebase/firebase-functions/blob/master/src/apps.ts#L107

I think we could get around this by initializing an app with the name `__admin__` in the emulators as a way of tricking the firebase-functions library to use our mocks.  It would be relying on an internal implementation detail but I don't see how it would be harmful.

[2019-09-30 13:37] ralcar commented on #1682
Thank you for the quick answer, that worked great, thank you! Was worried i was going to have to build that path everywhere. This is cleaner, but I hope I could avoid importing the firebase-admin at all in the future ;).

Just for some more help with the debugging, i initializeApp on two different databases during bootup of the cloud functions. And i am locally on Node 10.15.1

[2019-09-30 13:40] samtstern commented on #1677
@vladimirdjurdjevic thanks for raising this!  This is on our list of things to do, but we have not yet decided on how much of the auth service to emulate and the best strategy to do it.  Certain things (like anonymous auth) are very easy to emulate while others (like SMS authentication) are very hard.

But we definitely want to enable the end-to-end use case you mentioned!

Question: would you fin

[2019-09-30 13:41] samtstern commented on #1682
@ralcar could you show the code where you initializeApp twice?  It would be helpful so that I can recreate the situation.

[2019-09-30 14:17] larssn commented on #1682
I saw something similar using `snapshot.ref.update()` (also inside a trigger), which claimed the document didn't exist. Maybe related.

Weirdly enough though, `snapshot.ref.set(doc, {merge: true});` worked without errors.

[2019-09-30 14:31] samtstern commented on #1682
@larssn that sounds somewhat correct.  `.update()` operations fail if the document does not exist.  `.set()` operations create the document if it doesn't exist.  `set(data, { merge: true })` on a non-existent document is identical to `set(data)`.

[2019-09-30 14:33] larssn commented on #1682
Sorry, I should have mentioned what kind of trigger it was, as it was the `onCreate` trigger.
The document should exist at that point I take it? In any case, it was easily solved using `set`.

[2019-09-30 14:34] larssn opened #1683 "Emulator errors with external HTTP calls when GOOGLE_APPLICATION_CREDENTIALS is not set."
_Not sure how best to post this using your neat template, since it might not be a bug. Maybe I'm just misunderstanding something._

I'm doing a few HTTP POST/PUT on a test site (hosted on AWS) we have set up, and. We're on Blaze so external network calls should be allowed. I'm getting the errors that can be seen in the log below when GOOGLE_APPLICATION_CREDENTIALS is not set.

Maybe related: https

[2019-09-30 14:36] samtstern commented on #1683
@larssn can you show any code you're using related to the function (`onProductCreate`) or initialization (calls to Firebase SDK or similar)?

I want to figure out why it would be calling the computeMetadata API.

[2019-09-30 14:37] ralcar commented on #1682
@samtstern ofcourse, here it is!
My /functions/src/index.ts loads "main.ts" first, that looks like this:

[code]

[2019-09-30 14:39] samtstern commented on #1682
@ralcar thanks!

FYI `initializeApp(config().firebase)` is outdated, you should just use `initializeApp()` ... that doesn't change the bug here but it's worth noting.

[2019-09-30 14:40] samtstern commented on #1682
@larssn yes the doc should definitely exist at this point.  I worry that your code is talking to prod sometimes ... changing it to `set()` may have fixed the symptom but covered up the bug.

[2019-09-30 15:11] larssn commented on #1683
Alright, I boiled it down into something incredibly simple.
Each time I run `npm test`, it gives me this:
[code]

It boils down to this line:
`await admin.firestore().collection('collection_that_doesnt_exist').get();`

If I comment it out, the unknown network errors goes away. The timeout stays though.
I can't see any floating promises, so it's weird.

_index.ts_
[code]

_test.ts_
[code]

[2019-09-30 16:17] dgobaud commented on #1353
@samtstern I'm using 6.11.3. I got support to reproduce the issue. If you try to deploy using firebase-functions@latest with latest firebase-tools it causes the problem

[2019-09-30 16:36] vinceis1337 opened #1684 "Standalone CLI requires 'semver' module"
### [REQUIRED] Environment info

**firebase-tools:**
[code]

EDIT: Coworker (he has npm) ran the `--version` command and got `7.4.0`

**Platform:**
MacOS Mojave
Version 10.14.6 (18G95)

### [REQUIRED] Test case

- Using the standalone binary OR Using the auto install script (`curl -sL firebase.tools | bash`)
- Without npm
- Causes the binary to error out

### [REQUIRED] Steps to reproduce

Precond

[2019-09-30 16:44] samtstern commented on #1684
Assigning this to standalone CLI czar @abeisgoat to take a look, thanks for filing!

[2019-09-30 18:35] kevinajian commented on #1674
Hey all,

There was an issue with Cloud Functions that you can see on the [Cloud Status Dashboard](https://status.cloud.google.com/incident/cloud-functions/19008). This has since been resolved so I'll close this issue. Sorry for the inconvenience.

This should have been reported on the Firebase status dashboard—I'll work on getting that updated.

[2019-09-30 18:35] #1674 closed

[2019-09-30 19:15] ryanpbrewster commented on #1681
I cannot reproduce this. When I try this (I used an HTTPS function) I get logs like:
[code]

The first run succeeded and acquired the lock, subsequent runs all fail to acquire a lock. I am not seeing the transaction hang.

[2019-09-30 19:19] larssn commented on #1681
I think I might have had the emulator misconfigured. Sam has been helping me today getting it working today. If you can't reproduce it, I would just close it tbh. I can reopen it if I run into it again.

[2019-10-01 10:29] piotr-pawlowski commented on #1371
It doesn't work for me. Still receive that error:

[2019-10-01 15:59] amkoehler commented on #1458
Can confirm the issue persists on 7.4.0 as well.

[2019-10-01 16:51] lukepighetti opened #1685 "Manage and upload multiple Storage rulesets"
I created a second storage bucket today and noticed that the Firebase Console shows different rules for each bucket (this was surprising, since we can match by bucket name in our rules). I then tried to `firebase-tools` to initialize storage a second time to add the new bucket, but it was not clear how to proceed.

How do we manage rules for two different Storage buckets with `firebase-tools`? If

[2019-10-01 20:13] whaatt commented on #1655
Haven't gotten the original error in a while. If others are no longer experiencing the error, please feel free to close out this issue.

[2019-10-01 20:37] dgobaud commented on #1353
@abeisgoat @samtstern I heard back from support they said to check here for any update. Is there any update on what is going to be done about the code reload problem in general? Not being able to upgrade is becoming a big problem.

[2019-10-02 01:22] #1673 closed

[2019-10-02 03:30] barnu5 commented on #1458
Emulator is unusable on WSL due to this issue.

Doesn't work on actual Windows either! https://github.com/firebase/functions-samples/issues/572

[2019-10-02 14:10] noelmansour commented on #1677
@samtstern Would the call to `setEmulatedUser()` also trigger any `functions.auth.user().onCreate()` emulated cloud functions? If so, that would be very useful.

[2019-10-02 16:04] #1655 closed

[2019-10-02 16:16] thefliik commented on #1163
Perhaps this could be handled by allowing the main functions entry point to export "getter functions" which return a promise resolving to a firebase function.

For example, using typescript:

[code]

This way, loading a given function would only load the dependencies for that function. I imagine the call to `functions.https.onRequest(...)` would need to return a function containing a special prope

[2019-10-02 16:40] vladimirdjurdjevic commented on #1677
@samtstern That would help some testing scenarios for sure, but still require real instance for development. My idea is to avoid creating multiple firebase projects for different environments, and to be able to develop locally (offline perhaps). Another approach would be to support different environments for services. If we could create different environments for let's say firestore and auth under

[2019-10-03 02:49] matheo opened #1687 "functions:deploy mod.hasOwnProperty is not a function"
### Environment info

**firebase-tools:** v7.4.0
**Platform:** Ubuntu 19.04

### Problem

Trying to deploy a function:
`firebase deploy --only functions:Plivo.CallHangup`
stops with an error:
`Error: mod.hasOwnProperty is not a function`

### Actual behavior

[code]

[2019-10-03 12:22] prgwar opened #1688 "firebase functions:shell"
### [REQUIRED] Environment info

firebase-tools:7.4.0
firebase-admin:8.6.0
firebase-functions:3.20

Platform:macOS
Node: 8.13.0

### [REQUIRED] Test case
Trying to emulate the functions using firebase functions:shell
But the interactive shell is not working.

### [REQUIRED] Steps to reproduce
Navigate into the functions folder
set the GOOGLE_APPLICATION_CREDENTIALS variable to point to App Engine

[2019-10-03 12:28] samtstern commented on #1688
I see this message:
[code]

Which implies that you did this:
[code]

You are meant to replace that with the path to the file on your machine, something like:
[code]

[2019-10-03 12:30] samtstern commented on #1687
Looks like it comes from here:
https://github.com/firebase/firebase-tools/blob/78f11b62ab658a5a59b291daad7ea5ee08b2bc34/src/extractTriggers.js#L9

@matheo could you show your main file where you export the functions?

[2019-10-03 12:33] samtstern commented on #1685
@mrschmidt @bleigh @codingdoug do any of you know the answer to this one?

[2019-10-03 12:35] samtstern commented on #1353
@dgobaud sorry to hear this is becoming such a problem for you.  We have not made much progress on changing this behavior.

If you really need functions emulation you could try Google Cloud's "functions framework" which may be useful:
https://github.com/GoogleCloudPlatform/functions-framework-nodejs

[2019-10-03 12:38] samtstern commented on #1683
@larssn sorry I sort of went dark here.  I'm on a bit of a Firebase world tour right now (hello from Dubai!) and haven't had much quality debugging time.  I'll be back in my normal office on Monday and will try and dig into this.

[2019-10-03 12:42] larssn commented on #1683
No worries 😄

Dont get lost in the desert

[2019-10-03 12:49] prgwar commented on #1688
I have replaced that for example purpose I have set here. the variable is pointing to correct file location

[2019-10-03 12:51] prgwar commented on #1688
My Colleague has no problem with emulating the functions it's a Linux based system and using the same node version

[2019-10-03 12:55] samtstern commented on #1688
@prgwar how many functions does your project have?  Could you try only emulating 1 or (by commenting out the others) and see if that changes anything?

[2019-10-03 12:57] samtstern commented on #1677
@noelmansour good question!  That wouldn't be too hard to do, we'd probably want two different calls like `signInAsEmulatedUser` and `signUpAsEmulatedUser` where only the second triggers the function.

[2019-10-03 12:58] samtstern commented on #1677
@vladimirdjurdjevic totally agree that a full-featured emulator is best.  Could you explain what things you would need from a "real instance for development" that are not solved by being able to set the user locally?

[2019-10-03 13:03] samtstern commented on #1675
@paulkre that is very strange.  Can you show me the contents of your `firebase.json` file and also your `index.html` file?

[2019-10-03 13:03] prgwar commented on #1688
It's Working If I comment out the functions and try to emulate the few functions. Does that imply I can emulate only a few functions
In my Project, I have around 67 functions. I saw the limit of 1000 functions per project

[2019-10-03 13:08] samtstern commented on #1688
This is s bug in the emulator.  We had this bug a while ago and I thought I fixed it, but a few people are still reporting this issue:
https://github.com/firebase/firebase-tools/issues/1633

For now going to mark as a duplicate of #1633, let's discuss over there.

[2019-10-03 13:08] #1688 closed

[2019-10-03 16:14] bradleymackey commented on #753
Bump. With all the emulator news from the Firebase Summit '19 I'm surprised this is still outstanding.

[2019-10-03 16:19] samtstern commented on #753
Thanks for the bump!  We will be going through the bug backlog next week to
try and smooth out all of the known emulator issues when possible.

Things got a little crazy leading up to the summit (as you can imagine) but
now we should be able to get through a lot of these.  I'll personally be
looking into this one.

On Thu, Oct 3, 2019, 8:14 PM Bradley Mackey <notifications@github.com>
wrote:

[2019-10-03 18:37] dgobaud commented on #1353
@samtstern thanks for replying. So the idea is upgrade firebase-tools for deployment and other stuff and us this functions-framework thing to run the emulator/simulator locally and it'll work? I'm guessing it doesn't do the code reload? If functions-framework is the official emulator of the Functions service/product and it doesn't do code reload isn't that another strong signal that Firebase shoul

[2019-10-03 18:53] bkendall commented on #1675
I'm unable to replicate this on my machine using the given steps.

Since it's returning something _entirely_ different (it looks like it's listing out the directory, which makes little sense), there might be something in the environment that's doing something odd.

1. What's the version of NodeJS you are using?
1. Is there something else running on `localhost:5000`?
1. How did you get the expected

[2019-10-03 23:12] matheo commented on #1687
Weird, it was working two weeks ago.

@samtstern which one is used by `firebase-tools`?
[code]

The `main` content of `bundles/sudshare-functions.umd.ts` has this structure (without the business logic):
[code]

[2019-10-04 05:34] Akahadaka commented on #1160
Still an issue in 7.4.0

[2019-10-04 09:14] bradleymackey commented on #753
Possibly related: https://github.com/firebase/firebase-functions-test/issues/47

[2019-10-04 13:58] vongohren commented on #1667
@samtstern could you help out your collegue on this issue to understand what im trying to ask for? https://github.com/GoogleCloudPlatform/functions-framework-nodejs/issues/101#event-2687120898

It does not seem like grant see what im asking for. Its basically a statment from them that they are able to connect locally. You have said it works. Your collegue @grant says it does not work. Could some c

[2019-10-04 15:22] Dean-NC commented on #1353
I'm confused by some of the recent comments, but I do know that I'm on 7.3.1, and normal node caching of modules **doesn't work** when the functions are served locally:
either with _firebase emulators:start --only functions_ or _firebase serve --only functions_.

[2019-10-04 15:28] npomfret commented on #1469
Can we reopen this, I'm getting the problem again with:

[code]

The error:

[code]

[2019-10-04 15:42] bkendall commented on #1469
@npomfret sorry you're having trouble. First, I see two errors there: one about property `'0'` and one about `'wanted'`. That's suspicious to me and without more context it's hard to say which is the appropriate error.

Your logs indicate to me that you're running the `firebase` tool using `npm` (the `npm ERR!` strings indicate this). Do you have `firebase-tools` installed as a dependency of the p

[2019-10-04 15:46] npomfret commented on #1469
I've run:

`npm install -g firebase-tools`

If that's what you mean?

The command I'm running to redeploy my website is:

`firebase deploy --debug --only hosting`

[2019-10-04 16:02] bkendall commented on #1469
@npomfret are you running `firebase deploy` directly or using `npm run ___` to execute it? If that's the case, the `firebase-tools` version in the `package.json` file that's installed in that folder would be the one being run, which could be causing the issue.

However, it looks like the `property '0'` is blocking you too, and I've not seen that error before. It may be coming from the build/parse

[2019-10-04 16:08] npomfret commented on #1469
I'm using the command exactly as described above: `firebase deploy --debug --only hosting`.

There is no package.json in this case, I'm just deploying hosting so there's only really `firebase.json` and a `public` dir with the static content in.

[2019-10-04 16:11] npomfret commented on #1469
...solved sort of.  There are some firebase functions present.  I deleted them and that allowed the hosting deployment to succeed.  Ugh.  I hate node.

@bkendall thanks for helping

[2019-10-04 16:23] bkendall commented on #1469
@npomfret 👍 glad you figured it out!

[2019-10-04 16:53] dgobaud commented on #1353
@Dean-NC I'm not exactly sure what node module caching is but almost certain yes it is this Firebase emulator bug - it really needs fixed :(

[2019-10-04 23:02] Stradivario commented on #653
@michelepatrassi  inspired by what you have remind me i created `firelink` library for managing this case. It uses internally `rsync` to copy recursive files.

https://github.com/rxdi/firelink

Basic usage
Assuming that you have monorepo approach and your packages are located 2 levels down from the current directory where `package.json` is located.

`package.json`
[code]

Executing `firelink` it w

[2019-10-05 12:59] paulkre commented on #1675
Thanks for the replies. I just realised, the problem only occurs when I serve a project located on an external drive (`/Volumes/...`).  If the project is located on my internal drive, everything works as expected.

@samtstern  I just used the most basic project you get when you run `firebase init`.

@bkendall My NodeJS version is v10.15.1, I have nothing else running on port 5000 and I got the cor

[2019-10-05 13:05] paulkre commented on #1675
I fixed the problem for now by relocating the project to my internal drive, but it would be nice to be able to serve from an external drive in the future.

[2019-10-05 20:57] MaffooBristol commented on #1500
I am having this issue only with `.schedule()`

This works:
[code]

This does not:
[code]

When I ran it with `--debug`, you can see some really weird URL formation where it's combining us-central1 and europe-west1 🤔
https://cloudscheduler.googleapis.com/v1beta1/projects/my-project/locations/us-central1/jobs/firebase-schedule-schedule-europe-west1

[code]

[2019-10-05 21:24] MaffooBristol commented on #1500
I went into the code and edited this line: https://github.com/firebase/firebase-tools/blob/master/src/functionsConfig.js#L53 to be `'europe-west1'` and it started working.

Then I found that I could replace the following line in https://github.com/firebase/firebase-tools/blob/master/src/deploy/functions/createOrUpdateSchedulesAndTopics.ts#L58
[code]
with
[code]

...and it works as expected too.

B

[2019-10-05 22:30] PatNeedham commented on #1500
@MaffooBristol I heard back from Firebase support after my last comment on this thread, and the response I got helped eliminate the issue:

![image](https://user-images.githubusercontent.com/967811/66261569-d58a4080-e79d-11e9-88bc-06f82953361a.png)
![image](https://user-images.githubusercontent.com/967811/66261570-dcb14e80-e79d-11e9-96c0-c09cee73e614.png)

On the https://console.firebase.google.co

[2019-10-06 04:33] danjenson opened #1692 "Google Cloud Functions emulator doesn't interact with @firebase/testing locally"
<!--

### [REQUIRED] Environment info
Firebase version: 7.4.0
OS: Fedora 29

I am testing my firebase firestore security rules and cloud functions locally. In my test case, I am creating a user, and then again updating it. However, before updating, the cloud functions should have run and created a mapping used in the update security rule, but it doesn't seem to do this locally.

[code]

And I have

[2019-10-06 04:33] #1692 closed

[2019-10-06 04:35] danjenson opened #1693 "Google Cloud Functions emulator doesn't interact with @firebase/testing locally"
Firebase Version 7.4.0
Fedora 29

I am testing my firebase firestore security rules and cloud functions locally. In my test case, I am creating a user, and then again updating it. However, before updating, the cloud functions should have run and created a mapping used in the update security rule, but it doesn't seem to do this locally.

[code]

And I have a cloud function that triggers onWrite for

[2019-10-06 23:09] matheo commented on #1687
@samtstern I see that the problem is inside each `exports.Group`
because as you can see, those objects are created with:
[code]
so the `hasOwnProperty` is just removed when the bundle is optimized :(

`firebase-tools` could use `Object.getOwnPropertyNames` and exclude any `__private` property, to avoid these problems with the bundlers. I will create a PR ;)

[2019-10-07 07:20] alexlouden opened #1695 "Firestore delete hitting Cloud Resource Manager API every call, exceeding quota limit"
### [REQUIRED] Environment info

**firebase-tools:** v6.2.2
**Platform:** Cloud functions

### [REQUIRED] Test case

We're using firebase-tools's recursive firestore delete (from [this pattern](https://firebase.google.com/docs/firestore/solutions/delete-collections)) in a cloud function that runs quite often, and we've started to exceed the Cloud Resource Manager API's quota (currently our limit i

[2019-10-07 11:02] rcoppinger-tbox commented on #1617
Hi, does anyone have an update to the status of this issue?

[2019-10-07 14:59] beshkenadze commented on #1644
I really want to have a docker image for github actions. It will help to use Firebase Hosting with GitHub Builds Tools.

[2019-10-07 15:31] Sof31t opened #1696 "functions:shell not starting"
### [REQUIRED] Environment info

**node:** v8.14.0

**firebase-tools:** 7.4.0

**Platform:** macOS

### [REQUIRED] Test case
Example is provided in next section
### [REQUIRED] Steps to reproduce

When I enter `firebase functions:shell` following output is coming

![image](https://user-images.githubusercontent.com/4134078/66325680-f54d7000-e927-11e9-9e22-8920f3c224ce.png)

After that its stuck
I ha

[2019-10-07 15:36] Sof31t commented on #1696
Running the same command with `debug` will result with this output:
[code]

[2019-10-07 15:39] #1696 closed

[2019-10-07 15:39] Sof31t opened #1697 "functions:shell not starting"
### [REQUIRED] Environment info

**node:** v8.14.0

**firebase-tools:** 7.4.0

**Platform:** macOS

### [REQUIRED] Test case
Example is provided in next section
### [REQUIRED] Steps to reproduce

When I enter `firebase functions:shell` following output is coming

![image](https://user-images.githubusercontent.com/4134078/66325680-f54d7000-e927-11e9-9e22-8920f3c224ce.png)

After that its stuck
I ha

[2019-10-07 15:48] Sof31t commented on #1697
Something strange to note tough, commenting most of the functions and leaving only a few ones allow the emulator to start

[2019-10-07 15:58] samtstern commented on #1697
@Sof31t thanks for reporting this!  Looks like the same issue as #1633 so I will close this and we can continue the discussion there.

[2019-10-07 15:58] #1697 closed

[2019-10-07 16:34] samtstern commented on #1693
This normally means some part of your code is pointing to a different project or project ID.  Can you show how where/how you call `admin.initializeApp()` in your functions?  And could you also show how you're performing the initial write to Cloud Firestore that triggers the function?

[2019-10-07 17:39] samtstern commented on #1667
@vongohren sorry about the confusion there.  I think this is my fault, but Grant is right: there's no way to run a firestore-triggered function (`onCreate`) inside the functions framework tool.

We're really trying to get debugging to work in this emulator, it's a hard problem to solve without giving up something else!

[2019-10-07 19:31] samtstern commented on #1675
@paulkre thanks for following up!  I am going to close this for now since I think supporting external drives across platforms could be a lot of complexity for us.

[2019-10-07 19:31] #1675 closed

[2019-10-07 19:32] samtstern commented on #1672
@audkar really sorry about the slow response here, I will take a look at this.

[2019-10-07 19:32] samtstern commented on #1658
Closing this issue as I believe the question is now answered.

[2019-10-07 19:32] #1658 closed

[2019-10-07 19:42] danjenson commented on #1693
Thank you, this has been resolved, the issue was twofold: first I was
defining my functions outside the first match but inside the service;
moving those functions inside the document database match worked. The
second thing was I was using a normal app not the firebase testing app
inside my cloud functions (I just assumed they would be intercepted when
the emulator was running).

On Mon, Oct 7, 201

[2019-10-07 19:50] samtstern commented on #1693
@danjenson glad it's resolved!

[2019-10-07 19:50] #1693 closed

[2019-10-07 20:11] vongohren commented on #1667
Ok thanks for the answer

[2019-10-07 20:49] samtstern commented on #1633
@prgwar @Sof31t

I have tried to investigate this issue but I am not able to reproduce it right now.  I was able to use the shell even with 2000 (!) functions.

But I am on Linux.  Maybe on mac this will be an issue.

[2019-10-07 20:55] samtstern commented on #1633
I just tried this on my mac and everything works fine:
[code]

That creates 1000 functions.  Could one of you try that and let me know if it doesn't work for you?

[2019-10-07 21:48] mpalmerlee commented on #1633
@samtstern I tried this code in my test project and everything works fine as far as I can tell using v7.3.0, however as I was saying in some of my previous messages, I don't think this issue is related to the number of functions and is related somehow to the authorization context for the firebase-tools and possibly related to the gcloud auth as well. Feel free to close this issue for now and I'll

[2019-10-07 22:38] samtstern commented on #1633
Thanks @mpalmerlee, I agree that there's another issue besides function size but some folks (@prgwar, etc) have claimed to see the old "too many functions" issue again so I duplicated their issues to here.

[2019-10-07 23:59] #1458 closed

[2019-10-08 09:01] alexisbg opened #1700 "emulators:exec does not run provided script"
### [REQUIRED] Environment info

**firebase-tools:** 7.4.0
**Node.js:** v10.13.0
**Ubuntu Java:** OpenJDK Runtime Environment (build 1.8.0_222-8u222-b10-1ubuntu1~18.04.1-b10)
**Windows 10 Java:** OpenJDK Runtime Environment (Zulu 8.33.0.1-win64) (build 1.8.0_192-b01)

**Platform:** Ubuntu 18.04 WSL and Windows 10

### [REQUIRED] Test case

On Ubuntu 18.04 WSL only, emulators:exec does not run prov

[2019-10-08 09:56] kossnocorp commented on #629
For those who can't make `.runtimeconfig.json` work, if you start functions from unusual location or environment, there's [a problem in firebase-functions that assumes `.runtimeconfig.json` location to be: `../../../.runtimeconfig.json` relative to the package](https://github.com/firebase/firebase-functions/blob/2e642b7348982946eb7d7c25a8e604713888b86b/src/config.ts#L87).

The solution would be to

[2019-10-08 15:19] samtstern commented on #1700
@alexisbg this looks to be the same issue as #1458 which will be fixed in the next release (some time this week).

[2019-10-08 15:19] #1700 closed

[2019-10-08 16:57] samtstern commented on #1458
Ok version `7.5.0` should work well for all you Windows Linux Subsystem users out there!

[2019-10-08 17:34] samtstern commented on #1672
This is a bug in the JS SDK and is being tracked here:
https://github.com/firebase/firebase-js-sdk/issues/2191

Closing this issue as there's no change needed in the CLI or emulators.

[2019-10-08 17:34] #1672 closed

[2019-10-08 17:36] samtstern commented on #1617
I asked the engineering team and we currently don't support 0-round hashing for SHA1 passwords.  I will add a warning to reflect this.

[2019-10-08 18:03] samtstern commented on #1695
@alexlouden thanks for pointing this out!  I had not considered that someone would use this API at this volume.

Can you tell me a little more about your use case?

[2019-10-08 18:07] samtstern commented on #753
For those waiting on progress here I have some questions:

1. Do you need support for document references in the `functions:shell`?  If so can you suggest the syntax you'd like to use for creating doc refs at the command line?
2. If you *dont* need doc ref support in the shell what sort of support do you need in the emulator?

[2019-10-08 18:41] amkoehler commented on #1458
Thanks Sam. Working great for me now.

[2019-10-08 22:29] #1687 closed

[2019-10-09 00:00] samtstern commented on #1683
@larssn hmm I am not able to reproduce this at all.

Can you try running your test again but with this additional logging and show me what you see?

[code]

[2019-10-09 00:40] samtstern commented on #1680
@ArcherEmiya05 thanks for reporting this and sorry that we never responded.  Are you still seeing this issue?  It's possible there was an issue with the Compute Metadata service that is now resolved.

This doesn't look like it was your fault but it also doesn't look like a Firebase CLI issue.

[2019-10-09 00:41] samtstern commented on #1670
@ivalsaraj sorry about our really slow response here!

It sounds like you know the issue: "one of the symlink points to a file that doesn't exist"

Is this on purpose?  Is this something you could fix?  Or could you maybe exclude this symlink from your hosting build?

[2019-10-09 00:43] bkendall commented on #1670
To be clear, we should fix the unhandled promise, but I don't think Hosting/the CLI supports symlinks in the deployed project.

[2019-10-09 05:43] ivalsaraj commented on #1670
Thank you for the response.

Yes, I could find the problem. But it took me time to debug the underlying issue.

Fixing unhandled promise rejection and provide a valid error message would be great for developers to find the issue easily.

[2019-10-09 05:46] ivalsaraj commented on #1670
@bkendall Let me clear that, firebase hosting might support symlinks. I don't know how. But the symlinks the hosted could work for me.

[2019-10-09 06:00] sagarvd01 opened #1705 "Getting error while trying to browse absolute path in firebase (Angular Universal app)"
### [REQUIRED] Environment info

**firebase-tools:** 7.2.4

**Platform:** Windows

### [REQUIRED] Test case

I followed [the official article](https://angular.io/guide/universal) to add universal to my angular app and then [this article](https://fireship.io/lessons/angular-universal-firebase/) to deploy it to firebase.

`npm run build:ssr && npm run serve:ssr` and also `firebase serve` works fine.

[2019-10-09 14:22] prgwar commented on #1633
I tried in Linux System it's working. I tried updating to version 7.5.0 but still, problem persists. So had to revert back to 7.1.1

[2019-10-09 14:52] larssn commented on #1683
I pretty much get the same:
[code]

No errors today. I also tried reverting back, but that also worked.

Is there any servers involved when running the emulator? I'm thinking it was some sort of transient problem.

Going back to my original code, it seems the `grpc` dependency was causing those problems.
I had this in the top of my index.ts:

[code]

I added it last week, after seeing some server

[2019-10-09 15:12] bkendall commented on #1705
Sorry you're having troubles! This sounds like a bug in the Functions code that you're using could you provide:

1. The relevant snipped of Functions code?
1. The version of `firebase-functions` in your project?
1. The contents of your `firebase.json`?

[2019-10-09 15:15] #1681 closed

[2019-10-09 15:33] sagarvd01 commented on #1705
Hi @bkendall ,

Here's the details you asked

content in `functions/src/index.ts`

    const universal = require(`${process.cwd()}/dist/server`).app;
    exports.ssr = functions.https.onRequest(universal);

I've one more function to handle contact form (using node mailer) and it's working fine.

Previously, I had a problem which says can't fine _server/main_ in `require("require(\"/server/main\")"

[2019-10-09 15:47] petert37 opened #1706 "Firestore startAfter query doesn't work from the browser with the firestore emulator"
### [REQUIRED] Environment info

**firebase-tools:** 7.5.0
**@firebase/testing** 0.13.4
**Firestore emulator** cloud-firestore-emulator-v1.9.0.jar

**Platform:** Windows 10

**Java**
java version "1.8.0_161"
Java(TM) SE Runtime Environment (build 1.8.0_161-b12)
Java HotSpot(TM) 64-Bit Server VM (build 25.161-b12, mixed mode)

### [REQUIRED] Test case

The firestore collection **startAfter** query

[2019-10-09 15:58] larssn commented on #1683
I forgot why I opened this issue in the first place 👍 😓
I still get the `Unknown network resource requested!` errors.

Changing onProductCreate to:
[code]
(Btw. you need `got`: `npm i got`)

I get the error:
[code]

[2019-10-09 15:59] larssn commented on #1683
My normal code also gets these errors:
[code]

[2019-10-09 16:04] samtstern commented on #1683
So there's definitely still a bug here, but I want to clarify that "Unknown
network resource requested!" is working as intended. We want to warn you
when your emulated code talks to anything in the outside world. For
instance if you're emulating Firestore but still sending real requests to
your payment service or email server that could be a problem!

But I think iwe need to change the log message

[2019-10-09 16:23] larssn commented on #1683
Thanks for clarifying. I'll dig around a bit, and see if I can find the code that triggers the above.

[2019-10-09 17:11] larssn commented on #1683
So I did a few tests, and removing

`await snapshot.ref.update({ hello: 'world' });`, seems to cause the
[code]
error to go away.

(Where snapshot comes from a trigger (update trigger))

[2019-10-09 18:38] blbradley opened #1707 "`firebase apps:sdkconfig WEB` should have valid JS output on stdout"
### [REQUIRED] Environment info

**firebase-tools: 7.5.0**

**Ubuntu 18.04 (WSL)**

### [REQUIRED] Steps to reproduce

```firebase apps:sdkconfig WEB someid```

### [REQUIRED] Expected behavior

Valid JS output from stdout

### [REQUIRED] Actual behavior

Extra line of `=== Your app configuration is ready ===` in stdout.

Redirect to file:
[code]

[2019-10-09 19:37] rachelmyers commented on #1685
@lukepighetti, great question! You can control the rules for multiple Storage buckets via the CLI by setting up [deploy targets](https://firebase.google.com/docs/cli/targets#set-up-deploy-target-storage-database).

To set multiple storage buckets to use the same local rules file, create a deploy target associated with multiple buckets.

```$ firebase target:apply storage main myproject.appspot.com

[2019-10-09 19:37] #1685 closed

[2019-10-09 20:01] samtstern commented on #1706
@petert37 thank you for the very clear report!  @yuchenshi or @ryanpbrewster should be able to take a look.

[2019-10-09 20:33] talezion opened #1708 "Firebase Cloud Functions: app/invalid-credential failed to fetch a valid Google OAuth2 access token Firebase Admin SDK"
### [REQUIRED] Environment info

**firebase-tools:** 7.5.0

**Platform:** macOS

### [REQUIRED] Test case

### [REQUIRED] Steps to reproduce

I am new to Cloud Functions. I followed the docs, and the new initialization syntax for firebase-admin, but I am getting an auth error when running the function on the server and on a localhost.

https://firebase.google.com/docs/functions/beta-v1-diff#new_in

[2019-10-09 20:40] samtstern commented on #1707
@blbradley if you use the `-o` option to output to a file you can send just the JS part to a file.

However I agree with you I think there's no reason to keep that log line around.

[2019-10-09 20:53] yuchenshi commented on #1706
I've reproduced this. In fact, all timestamps are not handled correctly. Internal tracking ID: 37282237. A fix is on its way.

[2019-10-09 21:29] samtstern commented on #1683
@larssn ah ok thanks!  The fact that `snapshot.ref` doesn't work well is a know issue and I have a fix coming.  For now the workaround is `admin.firestore().doc(snapshot.ref.path).update({ hello: 'world' })`

[2019-10-10 09:08] larssn commented on #842
Sorry but a tiny blue box is easily missed. We've wasted too many hours on this problem, thinking it was a configuration problem in our end.

[2019-10-10 10:12] larssn commented on #1683
The two warnings
[code]
seems to come and go.

I'll close this, feel free to reopen if you think those warnings should be resolved first.

[2019-10-10 16:13] samtstern commented on #1683
@larssn I am going to keep this open until I figure out why your local functions are trying to access their compute metadata.  That's scary to me because it's step 1 of trying to affect production resources, which is bad.

[2019-10-10 17:38] samtstern commented on #1708
@talezion thanks for filing this!  Just to be clear do you want the `admin.database()` call to use production database or are you trying to use the database emulator?

[2019-10-10 18:58] talezion commented on #1708
Hi @samtstern, correct, I am trying to access the production database from the emulator. Actually, I get the same error when running this on the server as well.

[2019-10-10 19:19] samtstern commented on #1708
@talezion huh so you see this with deployed Cloud Functions as well?  Are you initializing anywhere besides `admin.initializeApp();`?  That should use the application default credentials.

[2019-10-10 20:31] samtstern commented on #1708
Ok so I made a simple function to show me my credentials:
[code]

When I call it locally I get something like this:
[code]

@talezion could you do the same and show me the output?  **Make sure to hide your clientSecret and refreshToken like I did**, those are dangerous to share.

[2019-10-10 20:39] talezion commented on #1708
@samtstern I only initialised it as `admin.initializeApp();`. I also tried different methods as described in https://firebase.google.com/docs/admin/setup#initialize_the_sdk or using a `serviceAccountKey.json` with no luck.

Thank you for your example. Please see below the output:

[code]

[2019-10-10 20:49] samtstern commented on #1708
@talezion ok two things;

  1) Did it literally say `<PROJECT-ID>` or is that your redaction?
  2) Huh very strange that it doesn't have a `refreshToken` ... I'll  have to find out how that's possible.

[2019-10-10 20:51] yuchenshi commented on #1706
This is now fixed by https://github.com/firebase/firebase-js-sdk/pull/2249 and will go out with the next JS SDK release. I'm closing this bug since there is no more action on the Firebase CLI / Emulators. Feel free to upgrade the SDK and try again once it is available.

[2019-10-10 20:51] #1706 closed

[2019-10-10 20:52] talezion commented on #1708
@samtstern

1. No, I just replaced `<PROJECT-ID>` with the project id which was correct.
2. Thanks!

[2019-10-10 21:11] samtstern commented on #1708
Ok so I think in production that response is normal, but locally I would expect more.

Two things now:
1) Do you have the `GOOGLE_APPLICATION_CREDENTIALS` environment variable set?
2) Can you try running `firebase logout` and `firebase login` again and see if that makes it work better locally?

[2019-10-10 21:27] barnu5 opened #1713 "When running in WSL emulator does not properly detect lack of 'java' executable"
Hi Firebase team,

I've not had success trying to get emulators working in WSL.

The recent update (https://github.com/firebase/firebase-tools/issues/1458) fixed the `port was not active within 3000ms` issue.

End goal is to have console.log() showing function output in the command prompt.

Here are the details:

### [REQUIRED] Environment info

**firebase-tools:** 7.5.0

**Platform:** Windows/WSL

[2019-10-10 21:30] samtstern commented on #1713
@barnu5 do you have `java` installed?  Can you run `java -version` and tell me what version you have?

[2019-10-10 22:19] barnu5 commented on #1713
Thanks @samtstern for all your help.

I have now installed java separately, following this: https://wiki.jmk.hu/wiki/Install_Java_Development_Kit_on_Windows_Subsystem_for_Linux

I am now seeing hosting logging in the command prompt like: `127.0.0.1 - - [10/Oct/2019:22:14:40 +0000] "GET /static/media/image.f098d4b4.svg HTTP/1.1" 200 1783 "http://localhost:5000/app" "Mozilla/5.0 (Windows NT 10.0; Wi

[2019-10-10 23:04] samtstern commented on #1713
@barnu5 if your function calls `console.log()` you should see that output in the console when the function runs.  If you're not seeing that, please file a new issue for that.

[2019-10-10 23:05] samtstern commented on #1713
I renamed this issue because we *should* be telling you when you don't have `java` but clearly we are not.

[2019-10-10 23:08] barnu5 commented on #1713
@samtstern In that case, you've just closed another one! I'll submit a new issue for the logging!

[2019-10-10 23:58] barnu5 opened #1716 "No logging output shown in locally emulated functions"
### [REQUIRED] Environment info

**firebase-tools:**7.5.0

**Platform:** WSL

### [REQUIRED] Test case

[code]
### [REQUIRED] Steps to reproduce

- Write function (e.g. https callable or example helloWorld function)
- Any simple function does not log to command line

### [REQUIRED] Expected behavior

- We can view logs in the emulator command prompt,
- We can test functions locally without deployi

[2019-10-11 05:44] talezion commented on #1708
@samtstern

1. Yes, I tried setting:
`set GOOGLE_APPLICATION_CREDENTIALS="/functions/src/serviceAccountKey.json"`.
Then running shell
2. Yeah, tried logging out, and logging back in, still same issue

[2019-10-11 16:58] bkendall commented on #1716
That is curious. @samtstern should have the ability to take a quick look into this one...

[2019-10-11 17:25] bkendall commented on #1705
Curious... nothing sticking out at me yet...  here's what I would look for:

1. Is there anything in the HTTP request/response that sticks out? Are there any headers that seem incorrect or are the paths malformed in some way?
2. The version of `firebase-functions` `express` - I know that Functions are "express-like", but it's something that can be tricky. The error message you're getting is a bit

[2019-10-11 17:30] #1682 closed

[2019-10-11 18:03] samtstern commented on #1713
I want to leave this open so we can better detect this.

[2019-10-11 18:06] samtstern commented on #1716
@barnu5 `doStuff` is set up correctly but `helloWorld` isnt:

[code]

That is not a cloud function, I think you want this:

[code]

Then you should be able to do `curl http://localhost:5001/DIR_NAME/us-central1/helloWorld` and see the console logs.

[2019-10-11 18:15] #1707 closed

[2019-10-11 19:06] sagarvd01 commented on #1705
Getting 500 as status while entering the url with path. Here's the response headers for both requests.

1. domain.tld (working)
[code]

2. domain.tld/path (not working)
[code]
Versions

`"firebase-functions": "^3.2.0"`
`"express": "^4.15.2"`

I can't figure out the root cause yet,

`domain.tld` loads without any error and relative routing works perfectly. Including Title and Meta changes. It produ

[2019-10-11 20:04] #1713 closed

[2019-10-11 20:10] TOMZACH opened #1719 "Error: Failed to load gRPC binary module because it was not installed for the current system"
I follow the instructions here https://firebase.google.com/docs/cli#npm
I run `npm install -g firebase-tools` , login and then run `firebase serve` and receive the following error

Ive tried running `npm rebuild` as suggested on other threads and on stack exchange but the error persists. Any ideas of what can be done to fix this. I've tried uninstalling and reinstalling the `node_modules` but stil

[2019-10-12 01:03] #1659 closed

[2019-10-12 02:30] blbradley commented on #1707
Speedy response and fix, thanks! I was thinking that this output could go to stderr; but this works.

We are experimenting with using the Hosted URL; so, we may not need such strict output from a command.

[2019-10-12 12:12] wirrie08 commented on #596
what can be the solution then in such cases , i am exactly in that situation?

[2019-10-12 18:54] wyattades commented on #1167
I agree that it would be great to load a database "snapshot" on initialization. I currently run the firestore and functions emulators locally for development, but when I seed the DB with testing data, a bunch of firestore function triggers are executed. This is pretty undesirable, so are there any plans for a feature to help with loading initial data or, even better, firestore data persistence to

[2019-10-12 19:12] samtstern commented on #1167
Thanks for raising the point about wanting to seed data without functions
firing.  As a stopgap measure we could definitely implement a way to "turn
off" functions triggers with a special call while you load data.  That
could be useful for certain tests too.  Would you use that?

But for the long term we need import/export.

On Sat, Oct 12, 2019, 11:54 AM Wyatt Ades <notifications@github.com> wrot

[2019-10-12 20:39] wyattades commented on #1167
Yes that would be a good solution for now, thanks!

[2019-10-13 09:41] sagarvd01 commented on #1705
A follow up:

I changed this line in _functions/dist/server.js_

    return this._invokeTaskZS ? this._invokeTaskZS.onInvokeTask(this._invokeTaskDlgt, this._invokeTaskCurrZone, targetZone, task, applyThis, applyArgs) :
                task.callback.apply(applyThis, applyArgs);

to this

    try{
        return this._invokeTaskZS ? this._invokeTaskZS.onInvokeTask(this._invokeTaskDlgt, this._invokeT

[2019-10-13 12:44] FredyC commented on #1677
I also would like to unit test `functions.auth.user().onCreate()`. I suppose right now the best workaround is essentially export callback function passed on `onCreate` and supply fake `user` object to it.

[2019-10-13 13:46] anantanandgupta commented on #1658
i am hitting my head to figure out how to make my functions talk to emulator ... all my functions are simply talking to database in the cloud.

[2019-10-13 14:15] hkchakladar commented on #1658
Start the emulators by using `firebase emulators:start` That doesn't talk to production database. I think you're starting by 'firebase serve'.

[2019-10-13 19:25] samtstern commented on #1677
For that kind of unit testing check out the firebase-functions-test
library, which helps you invoke your function handlers with mock data.

On Sun, Oct 13, 2019, 5:44 AM Daniel K. <notifications@github.com> wrote:

[2019-10-13 19:35] FredyC commented on #1310
And one from me. Took me quite a while to find out I should be running `emulators:start` instead of `serve`.

[code]

[2019-10-13 19:54] FredyC commented on #1677
@samtstern That actually works along with Firestore emulator? Base on this I got the impression it's for a different purposes.

![image](https://user-images.githubusercontent.com/1096340/66721129-fdfbe580-ee02-11e9-926a-479b7041cc24.png)
https://firebase.google.com/docs/functions/unit-testing#initializing

I certainly don't want online mode for unit testing, that would be a slowpoke. And I am not

[2019-10-13 21:31] brotherdetjr commented on #1684
Exactly the same behaviour, even if I install node.
OS: elementary OS 0.4.1 Loki (Ubuntu 16.04.5 LTS)

[2019-10-13 22:14] thefliik commented on #1310
I must admit, I still have no idea what the difference is between `emulators:start` and `serve`. I often use them interchangeably and if I run into a problem, I inevitably need to try debugging using each in case one works.

[2019-10-14 00:14] Acidic9 commented on #1373
I'm also experiencing this issue. My node version is `v11.15.0`

[2019-10-14 15:46] samtstern commented on #1677
@FredyC thanks for pointing out those docs.  The words used are confusing because the "modes" are not a switch you can enable, they're just describing strategies you can take.

If you were to start up the Firestore emulator alongside your unit tests, your code could definitely connect to it.  If you set the `FIRESTORE_EMULATOR_HOST` environment variable the Firebase Admin SDK will automatically co

[2019-10-14 16:44] samtstern commented on #1708
@talezion hmm ok thanks for confirming.  To be honest I am totally stumped at the moment but will keep thinking about this.

[2019-10-14 16:46] samtstern opened #1722 "Functions emulator not respecting the `host` argument"
### [REQUIRED] Environment info

I am filing this issue to escalate from a message on the `firebase-talk` mailing list:
https://groups.google.com/d/msgid/firebase-talk/b7f58e6c-12e1-4db9-9894-4db21c5fed7d%40googlegroups.com?utm_medium=email&utm_source=footer

### [REQUIRED] Test case

Need to make sure that we can support `host` with the functions emulator.

### [REQUIRED] Steps to reproduce

fire

[2019-10-14 18:53] anantanandgupta commented on #1658
@hkchakladar thanks it was helpful ... it is pointing to the local database now. Next is how to load the initial data (that to without triggering the db triggers (onCreate / onUpdate etc.)). If this is done ... my life is sorted ... my application i was all building on the real database all the time and it was really difficult to do something with the sample data in the live environment.

[2019-10-14 18:57] samtstern commented on #1658
@anantanandgupta that's a known feature request and you can track it here:
https://github.com/firebase/firebase-tools/issues/1167

Thanks for letting us know!

[2019-10-14 19:47] anantanandgupta commented on #1167
So there are no milestones set for this yet? but one thing I like now about this team here, it seems to be more active and responsive.

[2019-10-14 19:53] anantanandgupta commented on #1658
thanks @samtstern but that thread seems to be only focusing on firestore db, is the realtime db also in the same scope?

[2019-10-14 19:55] anantanandgupta commented on #1167
can guys please add realtime db also in scope for this along with firestore db.

[2019-10-14 20:05] samtstern commented on #1167
@anantanandgupta no milestones yet, but yes we try to be really open about out progress!  And I have added the Database emulator to be in scope as well.  For Database the problem is easier (JSON format) but we still need to help you "pause" the Cloud Functions

[2019-10-14 21:18] anantanandgupta commented on #1167
I know I am in good hands. But to tell you the criticality, I have designed this huge platform fully around firebase and everyone was against this a yesr back, but with my efforts i have proven till now that my decision to use firebase as the technology was not wrong. At this point it has become so big that to work on multiple features but multiple developers with a common database hosted on cloud

[2019-10-14 23:02] amouly commented on #1109
I have the exact same error.

Any clue?

[2019-10-14 23:59] SuperEvenSteven opened #1723 "Firebase CLI hangs at login behind proxy with ssl-inspection"
### Environment info

**firebase-tools:**
7.5.0

**Platform:**
[code]

### Test case

While behind a corporate proxy with ssl-inspection attempt to login into firebase using the terminal.

### Steps to reproduce
1. Run `sudo firebase login --no-localhost` from a terminal
2. Type 'n' when prompted for stat gathering
3. Copy and Paste the provided oauth request link into a browser
4. Grant permissio

[2019-10-15 00:04] SuperEvenSteven commented on #1723
Also, I've set my env proxy variables:

export http_proxy=http://server:port
export https_proxy=http://server:port
export NO_PROXY=localhost,127.0.0.1

[2019-10-15 00:24] amouly commented on #1109
Well, apparently it's an issue with my internet connection.

I kept getting 404. But then I uploaded my IPA file to Drive and delivered to a friend in other country.

He uploaded the file really fast and successfully.

[2019-10-15 12:24] talezion commented on #1708
Thanks @samtstern , I tried to test it on a completely new project and it works.

1. Created a new project
2. init functions
3. executed the same code

It works fine.

Apart from creating a new project, I deleted and initiated a new functions project, and deployed the same code. This is the error I get:

[code]

The old project was created in January this year, is there anything that needs to be d

[2019-10-15 16:52] samtstern commented on #1310
`serve` exists for purely historical reasons.  It existed when all the emulators were isolated from each other and we didn't want to break people.

You should always use `emulators:start` unless you for some reason really need the old behavior.

[2019-10-15 17:18] FredyC commented on #1310
@samtstern Perhaps it might be a good idea to notify about that when `serve` is used. There is still couple of places in docs with it so there isn't really a clear path to realize there is something new.

[2019-10-15 22:32] samtstern commented on #1682
The fix for this issue has been released in version `7.6.0`

[2019-10-16 06:11] anuragd7 commented on #1633
I am importing my cloud functions into `index.ts`. as shown below

[code]

I now create a new cloud function and import it into index.ts like so

[code]
I find the when I run `firebase functions:shell` I get the following output

[code]
The new function does not show up in the list of loaded functions.

[2019-10-16 06:52] eddiejaoude commented on #1109
I have been deploying from TravisCI and have experienced a similar error `Error: HTTP Error: 404, Requested entity was not found.`...

[code]

[2019-10-16 10:32] zolomatok commented on #1275
+ 1 for getting this error after changing the region of a cloud function (to europe-west2) just like @CiriousJoker

[2019-10-16 15:52] FredyC commented on #1677
@samtstern I still have trouble connecting dots and how is all that going to help me to test me `functions.auth.user().onCreate()`? I mean it's great that functions will connect to emulator instead of a production version, but how do I invoke that user creation?

There seems to be some [cryptic method `makeUserRecord`](https://github.com/firebase/firebase-functions-test/blob/master/src/providers/a

[2019-10-16 15:55] FredyC commented on #1677
I also have another case, somewhat opposite, where the cloud function code is using `admin.auth().getUserByEmail()` call. Surprisingly it doesn't end with the error, but I have no idea how I would create that user so it can be returned. Except of course mocking out the whole admin module, but that's crazy :)

[2019-10-16 16:00] bkendall commented on #1719
ooo - I have weird hunches about this that aren't going to be fun related to Catalina...

Can you tell me where the following executable files live on your machine? `which` will probably be the best tools for this...
- `node`
- `npm`
- `firebase`

A quick-ish version of this question is: how did you install NodeJS on your machine?

[2019-10-16 16:19] CiriousJoker commented on #1275
By the way, I fixed it after I realized that I was creating functions on server1 and access from server2.

[2019-10-16 16:58] samtstern commented on #1633
@anuragd7 that sounds like a different issue, could you please open a new issue?  Also it would be helpful to see the source of `sendTestSubmitted`and to know if you're able to deploy  the function.

[2019-10-16 17:13] sagarvd01 commented on #1705
Hi @bkendall , I spent a lot of time in it and it turned out to be a file missing error. I updated the favicon long ago and the new name of the file was fav-icon.ico instead of favicon.ico but I forgot to update it in angular.json.

The error in firebase functions' console is not helpful at all and I had to spent more than 3 days to find the root cause. Sorry for wasting your time.

[2019-10-16 17:13] #1705 closed

[2019-10-16 18:57] merlinnot commented on #1372
As discussed some time ago, I don't have capacity at the moment to work on this feature, so I changed the title to reflect it.

[2019-10-16 20:02] vladimirdjurdjevic commented on #1677
@samtstern Sorry for the delay. When I say real instance, I mean real instance :D Ideally, I just want to swap config in my angular environment file for development, and to keep implementing auth features like my app is talking to real API, but it actually emulator running on my machine, and I can do it offline. Now, I understand challenges with sending SMS for example. It would be silly to expect

[2019-10-16 20:12] samtstern commented on #1677
@FredyC thanks for all your feedback!  It's really helpful to us to see how confusing this can be.  There are two main things people want to do in their tests related to auth:

1. Sign in to use services like Firestore or Realtime Database without actually creating real users.  Right now that's what something like `setEmulatedUser` would solve.  It would just allow you to have a bogus auth token l

[2019-10-16 21:23] FredyC commented on #1677
@samtstern I see. Correct me if I am wrong, but isn't the (1) already solved? I mean in tests I can just call the following and Firestore emulator will recognize me as that user so I can test against security rules. I haven't actually tried that yet, but looks promising so far :)

[code]

The (2) definitely sounds very useful, but a lot more complex to tackle for sure. Sadly, my insight into the f

[2019-10-16 21:30] kevinfoley commented on #436
@mbleigh  This still has not been addressed two years later.

[2019-10-16 21:39] samtstern commented on #1677
@FredyC you're right that (1) is solved for use inside test suites.  But the other use case is actually connecting your Android/iOS/Web app directly to the emulator for local development.  In which case you can't use `@firebase/testing`.

[2019-10-16 21:41] samtstern commented on #436
@kevinfoley yikes, fixing this now.

[2019-10-17 06:42] FredyC commented on #1677
I see. Honestly, it would be kinda superb if `@firebase/testing` could be used cross-platform instead of having separate solutions. I mean how hard it can be to redirect communication to the emulator? Isn't the `FIRESTORE_EMULATOR_HOST` for exactly that? Although I think something like `FIREBASE_EMULATOR_HOST` would be more appropriate if the emulator is going to have other services as well.

[2019-10-17 06:55] FredyC commented on #1677
@vladimirdjurdjevic I am thinking, wouldn't actually work to basically mock out the `signInWithPhone` method so you can basically control its behavior? Then you don't need to worry about an emulator and getting simulated SMS code in the console :)

Of course, then you need some way to authenticate toward the emulator for Firestore (and connect to it). Something like I outlined in previous https://

[2019-10-17 08:35] mattgstevens commented on #1655
back from vacation, apologies to post on this closed issue.

want to confirm that our CI has not been failing for at least 2 weeks due to this deployment issue. onward!

[2019-10-17 09:19] anuragd7 opened #1729 "New cloud function added is not loaded using firebase functions:shell"
### [REQUIRED] Environment info

I am using` firebase-tools@7.6.0`
On  Mac OS High Sierra

### [REQUIRED] Steps to reproduce
I am importing my cloud functions into `index.ts`. as shown below

[code]

I now create a new cloud function and import it into index.ts like so

[code]
I find the when I run `firebase functions:shell` I get the following output

[code]
The new function does not show up in t

[2019-10-17 09:19] anuragd7 commented on #1633
@samtstern . Sure I have created a new issue with the required details [here](https://github.com/firebase/firebase-tools/issues/1729).

[2019-10-17 10:26] aminelaadhari commented on #1633
@samtstern did you try with functions groups?

[code]

[2019-10-17 10:28] aminelaadhari commented on #1633
@samtstern I am able to reproduce with your code:

[code]

If I reduce the number to 100, it loads.

[2019-10-17 11:39] sunil-sandhu opened #1730 "HTTP Error: 400, Location must equal europe-west2 because the App Engine app that is associated with this project is located in europe-west2"
### [REQUIRED] Environment info

**firebase-tools:** 7.6.0
**deps in package.json**
    "firebase-admin": "^8.6.1",
    "firebase-functions": "^3.3.0",

**Platform:** macOS

### [REQUIRED] Test case

[code]

### [REQUIRED] Steps to reproduce

firebase deploy --only functions

### [REQUIRED] Expected behavior

Function should deploy

### [REQUIRED] Actual behavior

Error: HTTP Error: 400, Location

[2019-10-17 11:45] sunil-sandhu commented on #1730
Nevermind, it turns out I needed to set the project location in Firebase as well as in GCP.

[2019-10-17 11:45] #1730 closed

[2019-10-17 18:38] samtstern commented on #1633
@aminelaadhari thanks for commenting!  Can you tell me:

  * Your OS / OS Version
  * Your `node` version
  * The version of the Firebase CLI you're using?

[2019-10-17 18:54] samtstern commented on #1729
@anuragd7 have you definitely built TypeScript into JavaScript since you added the new function?  I was able to get this setup to work.

If you have done that, could you check what happens if you replace these lines:

[code]

I just want to know if this has to do with `functions.config()`

[2019-10-17 19:25] aminelaadhari commented on #1633
@samtstern
* macOs 10.14.6 (18G95)
* node v8.16.0
* firebase cli 7.6.0

[2019-10-17 20:54] dgobaud commented on #1353
@samtstern @abeisgoat is there any update on this by chance or a response to the point that "If functions-framework is the official emulator of the Functions service/product and it doesn't do code reload isn't that another strong signal that Firebase shouldn't either because it runs on Functions and doesn't change the underlying restart etc functionality?"

Thank you

[2019-10-17 20:58] samtstern commented on #1353
@dgobaud no there is no news, I promise I will update this issue when I have some.  I really appreciate your enthusiasm about this, I hope you can understand that while there are drawbacks of the way we're running code there are also many benefits for others.

[2019-10-17 21:00] dgobaud commented on #1353
@samtstern ok how about adding an option to run the old way? the code really isn't written such that you can just not do the process kill or something and the server keeps running and will process more requests?

[2019-10-17 21:04] samtstern commented on #1353
@dgobaud it's not possible to run the old way right now.  The old way depended on [cloud-functions-emulator](https://github.com/googlearchive/cloud-functions-emulator) which is dead and doesn't support modern Node code.

We would provide you that option if we could.  I am going to look into this today and see what we can achieve in the short term.

[2019-10-17 23:47] samtstern commented on #1353
I am working on this in #1733, early results are very promising I was able to execute a second request without re-loading code.  A lot of work to do around failure cases though.

[2019-10-17 23:48] #1617 closed

[2019-10-17 23:52] dgobaud commented on #1353
@samtstern awesome!

[2019-10-18 07:59] anuragd7 commented on #1729
@samtstern . Many thanks - that was indeed the problem. I was not building typescript to javascript!
For any others who face the problem - remember to run  `npm run build` .
Also If you're using custom functions configuration variables, run the following command in the functions directory of your project before running `firebase serve` or `firebase functions:shell` `firebase functions:config:get >

[2019-10-18 07:59] #1729 closed

[2019-10-18 08:56] mad-it opened #1734 "Add support for failure policies"
Currently its not supported to set retry policies in a firebase function. To enable retries, you have to go to the Google cloud console and enable retries.

This manual step makes the deployment non-idempotent.

There is an open issue + pull request for `firebase-functions` repository which add support for this feature on that side.
Issue: https://github.com/firebase/firebase-functions/issues/425

[2019-10-18 11:56] Spencer-Easton opened #1735 "Function names cannot contain dashes."
### [REQUIRED] Environment info

**firebase-tools:**  7.6.0

**Platform:**  Windows WSL 1

### [REQUIRED] Test case

Provide a function name that contains a '-' The emulator will error out with an error similar to:
Error: Function name "DriveActivity-getActivity" is invalid. Function names cannot contain dashes.

The function emulator does allow for '.' in the name but those _are_ invalid in funct

[2019-10-18 12:47] timucincicek opened #1736 "firebase init locks my dist/App folder after being generated and gives error"
### [REQUIRED] Environment info

**firebase-tools:**
7.6.1

**Platform:**
Angular 8.2.3
### [REQUIRED] Test case

I tried to deploy my angular application on firebase hosting but I recieved error like below

`An unhandled exception occurred: EBUSY: resource busy or locked, rmdir`
### [REQUIRED] Steps to reproduce
`firebase init`(already logged in and before /dist folder created)

firebase hosting

[2019-10-18 13:14] ArcherEmiya05 commented on #1680
I think it has been fixed as I am no longer seeing it again anymore, I thought because I upgrade my plan to Blaze that solves the issue though. Anyway thanks and may I know what exactly happened or reason? What is Compute Metadata anyway?

[2019-10-18 16:15] TOMZACH commented on #1719
I downloaded node.js  from the node.js website using https://nodejs.org/en/
Im not sure if this helps but I also ran `which npm` and the below command to find where `npm` sits

[2019-10-18 18:00] samtstern commented on #436
(docs submitted, should be live within the day)

[2019-10-18 18:40] samtstern commented on #1735
@joehan or @laurenzlong do you know which is correct? Can function names contain dashes?

[2019-10-18 18:47] samtstern commented on #1680
@ArcherEmiya05 it's a service that helps VMs get credentials they can use to access other Google APIs.  It's why you don't have to manually put a service account in your Cloud Functions, it just "knows".

Thanks for following up!

[2019-10-18 18:47] #1680 closed

[2019-10-18 19:53] DCtheTall opened #1737 "Firestore's delete script's last line printed to stdout does not end in a newline character."
### [REQUIRED] Environment info

**firebase-tools:** 7.6.1

**Platform:** Ubuntu

### [REQUIRED] Test case

Run `firebase firestore:delete` and observe that the last line printed to stdout does not end in a newline character, resulting in an awkward UX.

### [REQUIRED] Steps to reproduce

See "Test case".

### [REQUIRED] Expected behavior

This script should print a newline character after printin

[2019-10-18 19:54] DCtheTall commented on #1737
This is a pretty trivial fix and I'd be willing to supply a quick PR to address this if the owners of this repo are willing to accept it.

[2019-10-18 20:35] alfredolucomav commented on #913
Hi @laurenzlong ,

I have two firebase projects, but only one of them has that issue. What could be happen?

[2019-10-18 21:09] samtstern commented on #1737
@DCtheTall absolutely would accept a PR, thanks for the offer!  Just @-mention me when you send it.

[2019-10-18 21:42] bkendall commented on #1719
So, I don't know all of the details I'm talking about here, but my understanding is that Catalina separated user and system space on the file system and things that attempt to cross those boundaries have some odd behaviors.

I don't have a setup to test this now myself, but I may be able to look into it later. What I would recommend for you:

1. Try: uninstall Node and reinstall it using a fresh d

[2019-10-19 15:01] DCtheTall commented on #1737
Is there development documentation for testing this script locally?

[2019-10-20 11:50] nicobrinkkemper opened #1738 "Storage emulator feature request"
It's cool and all when github isn't the place for feature requests. But what if the feature request page isn't working?

![image](https://user-images.githubusercontent.com/1597349/67159104-849f4e00-f340-11e9-9de7-e0a896183c0f.png)

We need a storage emulator so we can start testing our AutoML features locally. Are there any workarounds? Hacks? Thanks in advance,

Regards,

Jim

[2019-10-21 01:41] TOMZACH commented on #1719
Thank you for your continued help.

Its funny I uninstalled node.js manually and then installed using nvm everything seemed fine. I ran firebase serve and got a differnent error

`firebase serve`

so I googled the error and followed this advise https://github.com/firebase/firebase-tools/issues/442#issuecomment-328516130

which got me to this error

`firebase serve`

Any ideas of where to go from h

[2019-10-21 07:14] amit-kumar-dubey commented on #1627
used this Set-ExecutionPolicy RemoteSigned that work for me.
thanks

[2019-10-21 09:58] tienping commented on #181
Any update on this feature? Was looking forward for this feature on how much easier my life will goes with this feature 🍡

[2019-10-21 14:09] Kosai106 opened #1740 "Error: Port 8080 is not open, could not start firestore emulator."
### [REQUIRED] Environment info

**firebase-tools: 7.6.1**

**Platform: macOS Mojave 10.14.6**

### [REQUIRED] Test case

### [REQUIRED] Steps to reproduce

Run the following command: `firebase serve --only firestore`

### [REQUIRED] Expected behavior

Expected behavior is to have the firestore emulated locally so I can preview my project before pushing it live.

### [REQUIRED] Actual behavior

Th

[2019-10-21 14:26] Kosai106 commented on #1740
Out of frustration I mistyped my command and wrote `firebase serve` instead of `yarn serve` (Which is aliased as `firebase serve --only firestore`) and _somehow_ it works... I just spent 7 hours trying to get this to work.

[2019-10-21 15:25] palanik commented on #1541
I switched to using [@google-cloud/functions-framework](https://github.com/GoogleCloudPlatform/functions-framework-nodejs/blob/master/docs/debugging.md) to debug on vscode.
Breakpoints stay active.

HTH.

[2019-10-21 15:54] vongohren commented on #1541
@palanik are you able to test out pub sub and other event with this :D?

[2019-10-21 16:02] toddpi314 commented on #1677
@samtstern Extending the `firebase.auth()` namespace context with something topical like `setEmulatedUser` seems like an anti-pattern with the existing emulation strategies. Is that recommendation perhaps influenced by ease-of-extensibility on the package side?

Inline with the other emulators, I would expect a separate authentication service tier to be launched over HTTP and a client-side config

[2019-10-21 17:35] toddpi314 commented on #1677
@FredyC Agreed on the documented usages for unit tests. Was really speaking to full-app scenarios where the apis diverge and dynamic imports go off the documented map.

I just wanted to give you attribution for `Honestly, it would be kinda superb if @firebase/testing could be used cross-platform instead of having separate solutions`. *digital high five*

[2019-10-22 00:46] joaoeudes7 commented on #1489
Using Nvm to change the version of node has a solution

[2019-10-22 13:09] DevThoughts3 commented on #1109
I have also the same problem: Error: HTTP Error: 404, Requested entity was not found.

[2019-10-22 14:48] rcoppinger-tbox commented on #1617
Hi,

I was hoping to get a bit of direction for a problem we're having with the import users method.
Our application has +- 2,000 weekly active users and we're moving to firebase from our legacy system, which uses PHP SHA1 password hashing with rounds 0 to encrypt users' passwords, like so:

```$hashed = sha1($salt . $current_password);```

Since `rounds=0` is rejected for SHA1, we've tried import

[2019-10-22 15:50] samtstern commented on #1740
@Kosai106 sorry you had to spend so much time on this!  Can you explain what you meant by "I'm not using that port, I'm using 5000".  Did you configure the Firestore emulator somewhere to use `5000`?  As far as I know it never used that port by default.

[2019-10-22 18:19] samtstern commented on #1737
@DCtheTall sorry for my late response.  I normally just create a disposable Firebase project for testing.  In fact I have a project called "DumpsterFire" that I use for all my testing :-)

[2019-10-22 23:46] Kamshak commented on #406
Any way this could be prioritized? @mbleigh @laurenzlong

It's very painful to import JSON into the config. All of the posted workarounds have their own issues or need setup 😞 Especially when escaping nightmares come into play because of newlines or quotes in strings.

[2019-10-23 00:17] inlined opened #1743 "firebase-tools crashes on supported GCF node version"
### [REQUIRED] Environment info

**firebase-tools:** <crash>. package.json says it's 7.6.1

**Platform:** Mac OS

### [REQUIRED] Test case

N/A

### [REQUIRED] Steps to reproduce

[code]

### [REQUIRED] Expected behavior

Command to run

### [REQUIRED] Actual behavior

Crash on startup, because dependency uses the spread operator before it is available on all GCF supported versions of Node. e.g.:

[2019-10-23 00:24] inlined commented on #1743
My mistake. The problem only happens on node 8.0.0

[2019-10-23 00:24] #1743 closed

[2019-10-23 01:08] barnu5 commented on #1716
Hi @samtstern

If I run curl, I can see the function return value in the commandline (Hello world)

However, I still don't see the log (Hi), anywhere except the firebase function log GUI itself.

Really appreciate your help and advice with this!

[2019-10-23 01:17] #1716 closed

[2019-10-23 10:14] Kosai106 commented on #1740
Hi @samtstern, yeah, I swapped the port in my `firebase.json` file.

However as you've seen in my previous comment https://github.com/firebase/firebase-tools/issues/1740#issuecomment-544539743, running just `firebase serve` doesn't give me any issues whereas the flag `--only` does - What gives?

[2019-10-23 11:03] awabil opened #1744 "No changes after ng build --prod and firebase deploy"
I have an existing project , I recently installed angular universal express engine `ng add @nguniversal/express-engine` and This is my first time too so i run `ng build --prod ` and `ng run my-app:server:production` and it created a dist folder , inside the dist folder i have three folders : broser folder,my-app foder ,server folder and a server.ts file, this got me confused .I run `firebase deplo

[2019-10-23 15:01] eghernqvist commented on #1735
Unsure if this is related, but running 7.6.1 I can't emulate my functions with hyphens in the name either, but with a different error thrown.
Log:
[code]

[2019-10-23 15:44] samtstern commented on #1740
@Kosai106 `firebase serve` was originally a hosting-only command and before we came up with `emulators:start` we tried to bolt some emulator functionality onto `serve`.  So, if I remember correctly, `firebase serve` by default starts only the Hosting and Functions emulators while `firebase serve --only firestore` (or `--only database`) is an opt-in command that will start the Firestore or Realtime

[2019-10-23 15:50] samtstern commented on #1735
@eghernqvist I think what's happening there is it's trying to do the mathematical operation `auth - createUser()` and failing to find `auth`.

This is not legal JavaScript:
[code]

If you try to run that you will get:
[code]

However Google Cloud Functions does allow dashes in function names because they are not literal JavaScript functions.  Can you show how you're defining your `auth-createUser`

[2019-10-23 18:16] joehan commented on #1500
Hey @MaffooBristol, thanks for digging into the codebase on this one and thank you for the PR! Hopefully I can clarify some of the confusion here.  That line you found is intentional, though it's definitely weird looking.

```name: `projects/${projectId}/locations/${appEngineLocation}/jobs/firebase-schedule-${functionName}-${region}```

AppEngineLocation is the 'real' location here. This code depl

[2019-10-23 18:16] #1500 closed

[2019-10-23 20:45] shaunluttin commented on #1353
We hit this problem when upgrading Firebase. Previously, our 4.5 second cold-start was reasonable for our use case. Cold-start was rare in production. Now, when we are developing, we have a 4.5 second cold-start between every request (even between a CORS OPTIONS and GET request). We now have to choose between optimizing our performance or upgrading Firebase. We would very much appreciate a migrati

[2019-10-23 21:19] ryanpbrewster commented on #1167
The ability to import data into the Firestore emulator (i.e., initialize it with "seed" data) should be going out with the next release. It will be a bit manual at first, we'll add better tooling in subsequent releases.

Looking into what would be necessary for the Realtime Database emulator.

[2019-10-24 00:37] samtstern commented on #1353
@shaunluttin thank you for sharing and sorry you had a bad experiece!  We are getting really close to fixing this behavior in #1733 so I think the best bet is to wait.

[2019-10-24 09:19] eghernqvist commented on #1735
@samtstern I've grouped my functions in the way the Firebase CLI docs [recommend grouping functions](https://firebase.google.com/docs/cli#deploy_specific_functions).

I'm using the emulator instead to get around this, but a small tip or note in the linked docs that `shell` testing requires your GC Functions to be JavaScript function compatibly named would probably help prevent others from falling

[2019-10-24 09:54] raskri commented on #865
This is happening again!

[2019-10-24 09:58] quentin-wrnr commented on #865
Same for me, error 500 on several projects

[2019-10-24 10:16] MrDrummer commented on #865
Seems to be back up!

[2019-10-24 10:17] quentin-wrnr commented on #865
@MrDrummer not for me in France :/

[2019-10-24 10:20] KappaDiElle commented on #865
happening again now for me in Italy,
but "--only functions" works well

[2019-10-24 10:41] MrDrummer commented on #865
Seems to be working again now.

Quite ironic, as I was trying to deploy our dependencies status dashboard, which includes GCP and firebase!

[2019-10-24 15:42] samtstern commented on #865
Hey everyone just FYI: if you get `500` errors using Firebase services you should *always* do this:

1) Check the [status dashboard](https://status.firebase.google.com) and see if it's a known incident.
2) If there's nothing there, write in to [Firebase support](https://firebase.google.com/support)

500 errors mean that the backend is experiencing an unexpected issue and GitHub is not a great plac

[2019-10-24 15:45] samtstern commented on #1735
@eghernqvist if we can't find a way to fix this behavior we will definitely add a documentation note.  Can you show how you're grouping your functions though?  I thought you'd get functions named `auth.createUser()` not `auth-createUser()` but maybe my understanding is wrong.

[2019-10-24 22:59] #1744 closed

[2019-10-25 09:34] rockyxcoded opened #1748 "FR: PubSub emulator support"
I tried running cloud function locally using
Firebase emulators:start

the response i got

i  Starting emulators: ["functions","database","hosting"]
⚠  Your requested "node" version "8" doesn't match your global version "10"
✔  functions: Emulator started at http://localhost:5001
i  database: Emulator logging to database-debug.log
✔  database: Emulator started at http://localhost:9000
i  database:

[2019-10-25 15:34] diginikkari commented on #1677
@samtstern first of all I would ❤️to have this kind of emulation.

I would see no. 1 very useful for writing e2e tests. Currently I have to use real instance for authentication while I can use emulator for hosting, rules, firestore and functions.

I think it should be possible to use setEmulatedUser to mock user in same way it's done in firebase.initializeTestApp. It's should be possible to submit

[2019-10-25 16:03] samtstern commented on #1748
@rockyxcoded currently we don't have a PubSub emulator as part of the Firebase Emulator Suite.  Even though there is a PubSub emulator as part of `gcloud`, it doesn't support Cloud Functions triggers so it wouldn't be very useful in this context.

I will mark this as a Feature Request for PubSub.

[2019-10-25 19:40] bgarrett-rt commented on #1001
Will this change be included in the `gcloud beta gcloud beta emulators firestore`? I have a docker image used for integration tests that extends gcloud-slim docker, but would love to be able to run the client against the dockerized emulator as well.

[2019-10-26 11:08] pritamshinde commented on #1627
After the effort, I think Set-ExecutionPolicy -ExecutionPolicy Bypass -Scope CurrentUser is good option to fix the issue.you can go with this it will not create issue.

[2019-10-26 11:12] pritamshinde commented on #1627
If you try to generate command on cmd it will be work instead of VS Code Terminal.

[2019-10-26 13:46] mgtf opened #1750 "aDate.toLocaleDateString('fr-FR') seems to return wrong result"
### Environment info

**firebase-tools: 7.5.0**

**Platform: macOS**

### Test case

![image](https://user-images.githubusercontent.com/3779595/67620469-a9e00080-f807-11e9-87e7-8766af7c1e7c.png)

### Steps to reproduce

See above

### Expected behavior

Should return '26/10/2019'

### Actual behavior

It returns '10/26/2019'

[2019-10-26 13:54] mgtf commented on #1750
![image](https://user-images.githubusercontent.com/3779595/67620587-d8aaa680-f808-11e9-9cb3-e406d4cf59ba.png)

[2019-10-26 13:55] mgtf commented on #1750
It works now but it's not obvious. I missed something in a doc i guess

[2019-10-26 13:55] #1750 closed

[2019-10-26 17:52] ggirotto commented on #1748
@samtstern What do you recommend to locally test PubSub functions?

[2019-10-26 23:41] samtstern commented on #1748
1) You could use firebase-functions-test:
https://firebase.google.com/docs/functions/unit-testing

2) You could make an HTTP function that acts like the PubSub function for
testing.  Something like this (excuse the pseudocode I'm on my phone)

exports.pubsubFn = functions.pubsub(() => {
   innerFunction()
})

exports.httpTestFn = functions.https(() => {
   innerFunction()
})

On Sat, Oct 26, 2019,

[2019-10-27 06:18] hequ commented on #1232
I was able to resolve this issue by creating a new deploy target with the help of this guide:

https://firebase.google.com/docs/hosting/multisites?authuser=1#set_up_deploy_targets

I issued one command:

`firebase target:apply hosting blog myapp`

and added `target` key to my `firebase.json`

[code]

[2019-10-27 15:25] Hesse-Huang commented on #155
It works for me! Thanks. 😇

[2019-10-27 16:22] kthorne1 opened #1751 "firebse deploy always points to the same database"
firebase --version
7.6.1

I'm trying to use the .firebaserc and firebase.json files to set up a development and test environment. I've tried a number of things but every time I use _>firebase use test_ and _>firebase deploy_  the result is it uses the dev firebase project still. Below are my .firebaerc file and my firebase.json. I could really use some help sorting this out because I've searched a

[2019-10-27 21:21] Dean-NC opened #1752 "Can you use node's experimental-modules flag with firebase functions?"
I'm aware that you can use node's experimental-modules flag if you're running node from the command-line, but if you're using firebase "serve", how can you specify the experimental flag?
I've read all the documentation I can find for firebase, and searched the issues for the functions, tools, and js-sdk github sites, but I can't find any info on it.

Thanks.

[2019-10-28 02:58] SuperEvenSteven commented on #1723
Managed to sort this out. For anyone else having a similar issue make sure to specify the http protocol only when exporting the https_proxy variable. I'd put https://server:port.

[2019-10-28 02:58] #1723 closed

[2019-10-28 03:53] jmuchaxo commented on #967
maybe this helps I updated firebase-tools but the problem persists and firebase --versions prints previously instaled version, then I closed the terminal and opened a new one and now firebase --versions prints the new version and then deploy worked fine

[2019-10-28 09:52] Oz-Hershco commented on #938
Hi, is there an update about this issue?

[2019-10-28 11:06] flexchar commented on #1031
I would like to warn others that using `--force` in CLI may **wipe** out all the other functions.

I mistook this option and caused all other than the one in deployment removed. :)

[2019-10-28 14:41] DCtheTall opened #1754 "Firestore delete should be implemented in TypeScript"
### [REQUIRED] Environment info

**firebase-tools:** 7.6.1

**Platform:** Any

### [REQUIRED] Test case

N/A

### [REQUIRED] Steps to reproduce

N/A

### [REQUIRED] Expected behavior

Firestore's delete script should be implemented in TypeScript like the rest of the scripts.

### [REQUIRED] Actual behavior

The script is implemented in ES5-style JavaScript.

[2019-10-28 15:40] samtstern commented on #1754
@DCtheTall we agree!  This feature (like many others) was implemented before we had support for TS in `firebase-tools` so we had to use JavaScript.  We decided not to proactively convert old scripts (because that's a good way to introduce unnecessary bugs) but we do plan to update them as needed over time.

If you're interested in sending a PR to convert this feature to TS we'd be happy to review

[2019-10-28 15:40] #1754 closed

[2019-10-28 15:46] samtstern commented on #1752
@Dean-NC I assume you're talking about serving cloud functions locally using `firebase serve`?  We don't allow passing any flags to the `node` command because we want the local serving environment to match the production serving environment as closely as possible.

[2019-10-28 15:46] #1752 closed

[2019-10-28 17:37] #1353 closed

[2019-10-28 17:49] DCtheTall commented on #1754
@samstern since the module is untested I would have reservations doing the conversion myself, would you be willing to accept a PR adding unit tests? That would probably be the best first step imho.

[2019-10-28 17:52] samtstern commented on #1754
@DCtheTall if you're interested in writing some tests, absolutely would accept that PR!

[2019-10-28 18:27] Dean-NC commented on #1752
How can I use a node flag, even in production? I don't know where to put it...firebase.json?  functions\package.json?
Thanks.

[2019-10-28 18:27] bkendall commented on #1754
Yes yes yes yes yes :)

If you write the PR, we will happily review. And do write new tests in TS - then there's only one thing to convert! 😄

[2019-10-28 18:36] samtstern commented on #1752
@Dean-NC yes sorry for being unclear.  This is a  "not supported at all" thing.

[2019-10-28 18:59] Dean-NC commented on #1752
@samtstern Thanks. At least I finally know. I'm wanting to use es6 modules with Node, and as of version 12 LTS and the latest version 13, you need to use the experimental flag. So it looks like until Node makes it final and the flag not necessary, I can't use them.

[2019-10-28 19:14] ggirotto commented on #1748
Thanks for the quick answer @samtstern!

[2019-10-28 20:07] #1737 closed

[2019-10-28 21:09] alfetch commented on #842
Why is this closed - it's an issue for us in europe. Is there any explanation why it's only working for region us ?

[2019-10-28 21:15] mbleigh commented on #842
This issue is closed because it's a feature request for Firebase Hosting that can't be addressed directly in the Firebase CLI. Feature requests are tracked internally and I'd encourage you to request support for additional regions [via this form](https://firebase.google.com/support/troubleshooter/report/features).

We are definitely aware that many of you want this feature, thanks for the feedback

[2019-10-28 21:21] samtstern commented on #1737
@DCtheTall thank you for your contribution!

[2019-10-28 21:29] Karasuni commented on #842
Feature requests are only tracked internally? Doesn't that bring a lot of duplicate requests? I'd like to show support for these features to include non-US regions.

[2019-10-28 22:14] mbleigh commented on #842
Yes -- if you send a feature request, we will deduplicate it against other ones for our internal tracking (and it definitely helps to show more support for requests!).

[2019-10-28 23:17] samtstern commented on #1353
@dgobaud @ChromeQ @lookfirst @Dean-NC @shaunluttin this has been released in `7.6.2`, please give this a try and let us know if it's working for you!

[2019-10-29 00:04] dgobaud commented on #1353
will test it!

[2019-10-29 01:36] jsdt commented on #1751
I'm not sure what change you are trying to deploy to your database. If you are trying to deploy rules, the docs for performing with multiple instances can be found [here](https://firebase.google.com/docs/database/usage/sharding#edit_and_deploy_for_each_instance).

[2019-10-29 01:54] lookfirst commented on #1353
This is amazing! It works wonderfully. Huge round of thanks for this!

The only weirdness that I'm noticing is that it appears as though *any* exception causes a reload. For example... my app did this when I first started things today:

1. First request comes in... initialize database connection to postgres with an express middleware which puts the connection into a global.
1. Handle web request t

[2019-10-29 01:55] ErwinAI commented on #1748
I'd like to +1 for this feature request. Unfortunately, some of my pubsub functions are triggered by my http functions. Because of this, the solution to place the pubsub function code in a http function would require me to implement changes in other existing functions.

Because scheduled functions also work with pubsub internally, could these also be within the scope? Or would that be a separate f

[2019-10-29 01:58] samtstern commented on #1748
How would you expect scheduled functions to work in the emulator?  Let's
say you have a daily cleanup function, would you leave the emulator running
all day?  Or would you want to be able to force them to run somehow.

On Mon, Oct 28, 2019, 6:56 PM Erwin AI <notifications@github.com> wrote:

[2019-10-29 02:00] samtstern commented on #1353
Glad it's mostly working for you!

I would only expect uncaught exceptions to cause a reload.  Could you put
together a super simple example I could use to reproduce the behavior
you're seeing?

On Mon, Oct 28, 2019, 6:54 PM Jon Stevens <notifications@github.com> wrote:

[2019-10-29 02:40] tuananhlhpnd99 commented on #1670
I suffer from this issue too and it turned out that I left an unused symlink in the public folder. After removing that symlink, things worked just fine. I think that is time to close the issue.

[2019-10-29 03:24] lookfirst commented on #1353
Sorry, I'm super busy with my own project right now... =( The test is basically to see if caught exceptions cause a reload. =) I'm pretty sure apollo catches the exception...

[2019-10-29 04:30] ivalsaraj commented on #1670
@tuananhlhpnd99 Yeah, that's pretty a head ache for developer, also wastes hours and hours of time to find out the right issue.

@Firebase team, If you guys can show a proper warning or error message will help to save the time instead of unhandled promise reject warning

[2019-10-29 08:15] ErwinAI commented on #1748
@samtstern From my point of view, it would be best to only allow manual triggering somehow. To have the scheduled function run on localhost as configured wouldn't make sense; that would only really allow the developer to check if the function actually triggers as configured and that doesn't seem like something you'd want to do.

[2019-10-29 13:25] Dean-NC commented on #1353
What's the difference between installing with npm and with using firebase-tools-win.exe or the -instant-win.exe, and what's the difference between instant/non-instant?
I searched Google, but absolutely nothing.

[2019-10-29 14:12] kthorne1 commented on #1751
I want to use a different database so when I deploy I want that deployment to point to the corresponding database. I use _firebase use test_ and then _firebase deploy_ and the hosting deploys to the right firebase project but it still points to the dev database. I can't have testerters using dev data.

[2019-10-29 15:42] Dean-NC commented on #1353
@samtstern Thanks...will do.

[2019-10-30 10:39] nerder opened #1756 "Emulators with custom host"
Hello folks, i’m trying to setup my environment in order to work with `cloud functions` locally. I’m aware of the “new” `firebase emulators:start --only functions` but in comparison to `serve` seems like i don’t have a way to setup a custom host

My problem here is that I need to setup the host to `0.0.0.0` since i have to access my function from another device ( a Flutter app, using `useFunctions

[2019-10-30 10:48] nerder commented on #1756
Closing as a duplicate of https://github.com/firebase/firebase-tools/issues/1722

[2019-10-30 10:48] #1756 closed

[2019-10-30 12:42] akashgangrade commented on #1643
I am facing the same issue, have updated firebase-tools to 7.6.1 version, but still facing the issue.
Tried firebase login --reauth also, but it didn't work for me.
Server getting timeout with message: Error: Server Error. connect ETIMEDOUT -.-.-.-:443

CLI Version:   7.6.2
Platform:      linux
Node Version:  v8.10.0
Time:          Wed Oct 30 2019 11:52:19 GMT+0000 (UTC)

**Error**:
✔  Exported 10

[2019-10-30 14:18] gco360 opened #1757 "firebase deploy"
Task 5fdcd442642e8f8aceadc1c388fb1ce4198e8a4e30f403227cec3798da22bcf7 failed: retries exhausted after 6 attempts

[2019-10-30 15:14] #1288 closed

[2019-10-30 17:46] mbleigh commented on #1751
How are you initializing the Firebase SDK in your JavaScript that's being deployed to Hosting? That is the only thing that will affect which database you are pointing to.

[2019-10-30 19:34] cesarvarela commented on #653
We just got bitten by this, I think monorepos will become the standard and this should be supported by default.

[2019-10-31 10:14] akashgangrade opened #1759 "Firebase auth export Error " Error: connect ETIMEDOUT -.-.-.-:443" after few successful iterations"
### [REQUIRED] Environment info
CLI -7.6.2

node Version: 8.10.0

**firebase-tools:7.6.2**

**Platform:Linux**

### [REQUIRED] Test case
Export firebase authentication users data to csv using firebase auth export command.

### [REQUIRED] Steps to reproduce

- Run command
   **firebase auth:export export_cli_user.csv --project projectId**

- Few thousand records exported successfully then server ti

[2019-10-31 10:55] leonardarnold opened #1760 "Firestore Emulator: Firestore rule is not correctly validated"
### [REQUIRED] Environment info

**firebase-tools:7.6.2

**Platform:macOS

### [REQUIRED] Test case

firestore emulator is not working as expected using this rule:
`allow update: if request.auth.uid == userId && resource.data.createdAt == request.resource.data.createdAt;`

### [REQUIRED] Steps to reproduce

I used the [javascript quickstart  guide](https://github.com/firebase/quickstart-nodejs/tre

[2019-10-31 14:03] samtstern commented on #1760
I think this failure is correct. When you call profile.set({ birthday:
"January 3" }) you are replacing the whole document and the only field that
will exist is "birthday".  So createdAt will be undefined.  Did you mean to
call update instead of set?

On Thu, Oct 31, 2019, 3:55 AM leonardarnold <notifications@github.com>
wrote:

[2019-10-31 14:29] leonardarnold commented on #1760
Hi thanks for the quick response. Yes it is working with an update call!
This was confusing to me I use firebase with the dart package and I in our code we only use set (+merge) and the example has no tests for updates. Didn't even consider this option...

[2019-10-31 14:29] #1760 closed

[2019-10-31 18:30] katowulf commented on #1759
Likely not related to the CLI, but we should investigate a bit more. Can you rerun the export with `--debug` and either post the output or email it directly to me (katowulf@google.com) please? I'll have a look and confirm it's not a CLI issue.

[2019-11-01 06:09] akashgangrade commented on #1759
@katowulf - It has already been exported with --debug command.
Seems issue with download account API(https://www.googleapis.com/identitytoolkit/v3/relyingparty/downloadAccount) as it is getting timed-out after few iterations.

I cannot use listUsers here as my use case is different, I wanna find the duplicate users stored in Firebase authentication having same email address but different uid. And

[2019-11-01 14:08] kthorne1 commented on #1751
This is an Angular6 project so I use an environment file. I have 3 one for each environment but generally they look like below. But, as I understand it, the _firebase use test_ command should swap to the test environment file but this does not seem to be what is happening.....

export const environment = {
  production: false,
  firebase: {
    apiKey: '@@@@@@@@@@@@@@@@',
    authDomain: '$$$$$$$$

[2019-11-01 16:53] samtstern opened #1761 "firebase init does not fully respect project flag"
### [REQUIRED] Environment info

**firebase-tools:** 7.6.2

**Platform:** All

### [REQUIRED] Test case

[code]

### [REQUIRED] Steps to reproduce

See above

### [REQUIRED] Expected behavior

It should not ask me for project selection at all

### [REQUIRED] Actual behavior

If I do select "use an existing project" it knows which project I want to use.  It should short-circuit earlier though.

[2019-11-01 19:37] joehan commented on #1761
Added an internal bug for this for fixit week: 143773710

[2019-11-03 13:06] alexlbr commented on #842
You could use Cloud Run for your Cloud Function if you don't need a VPC.  Cloud Run (fully managed) cannot connect to VPC network currently. A workaround I've tested to use the VPC + custom domain + Cloud Function is to use a Cloud Run with a custom domain which is a proxy to the Cloud Function. It adds a bit of overhead but if your Cloud Run and Cloud  Function are in the same region then, in the

[2019-11-04 09:53] amar-belkhede opened #1763 "firebase login : unexpected error had occured"
**C:\Users\Amar>firebase login**
i  Firebase optionally collects CLI usage and error reporting information to help improve our products. Data is collected in accordance with Google's privacy policy (https://policies.google.com/privacy) and is not used to identify you.

? Allow Firebase to collect CLI usage and error reporting information? Yes
i  To change your data collection preference at any tim

[2019-11-04 09:56] #1763 closed

[2019-11-04 10:04] amar-belkhede opened #1764 "firebase login : an unexpected error occured"
### [REQUIRED] Environment info

**firebase-tools:**
$ firebase --version
7.6.2

**Platform:**  windows

### [REQUIRED] Test case

there was similar issues #1442
### [REQUIRED] Steps to reproduce

after installing firebase-tools, when we try to login using
**firebase login**
unexpected error occurred

### [REQUIRED] Expected behavior

I should have been authenticated and my account should have lin

[2019-11-04 10:07] amar-belkhede commented on #1764
I have updated the issue, please have a look

[2019-11-04 10:21] amar-belkhede opened #1765 "firebase login : an unexpected error occured"
### [REQUIRED] Environment info

**firebase-tools:**
$ firebase --version
7.6.2

**Platform:** windows

### [REQUIRED] Test case

there was similar issues #1442

### [REQUIRED] Steps to reproduce

after installing firebase-tools, when we try to login using
**firebase login**
unexpected error occurred

### [REQUIRED] Expected behavior

I should have been authenticated and my account should have lin

[2019-11-04 10:22] #1764 closed

[2019-11-04 16:56] samtstern commented on #1764
@amar-belkhede this looks like it may be the same as this issue https://github.com/firebase/firebase-tools/issues/896

[2019-11-04 19:22] amar-belkhede commented on #1764
Thanks for your reply,
Error have been resolved.

I tried adding suggested sustem32 path before but it didn't work,
But after reinstating firebase and giving system a restart, IT WORKED!!!!

On Mon, 4 Nov 2019, 10:26 pm Sam Stern, <notifications@github.com> wrote:

[2019-11-04 19:22] #1765 closed

[2019-11-05 06:53] gouthamsrinivas commented on #1604
I am running into this issue now . Even though , I am never explicitly setting content encoding to GZIP, few response headers have the content-encoding  flag set.

For ex :

For the same endpoint :  https://project-name.cloudfunctions.net/app/api/v1/discover

different query parameters respond with different headers.

Case 1 : with query-parameter : US

![image](https://user-images.githubuserconte

[2019-11-05 13:15] bitfabrikken opened #1769 "Functions emulator can't bind correctly to non-localhost IP on Linux"
### [REQUIRED] Environment info

**firebase-tools:**
7.6.2

**Platform:**
Debian 10 (Buster)
nodejs v8.16.2

### [REQUIRED] Test case
Use an ip for host in firebase.json that's not localhost and 127.0.0.1, e.g.:
[code]

### [REQUIRED] Steps to reproduce
start emulator with "firebase emulators:start --only functions"
output:
[code]

### [REQUIRED] Expected behavior
Should start listening on the hos

[2019-11-05 13:20] bitfabrikken commented on #1769
Just to clarify - ip and port 10.0.10.2:5000 is working and available on my machine - have confirmed that with other servers, e.g. react-native's metro bundler on port 8081

[2019-11-05 14:15] pjbrown11 commented on #1604
Not sure the protocol on commenting on closed tickets, but since @Memeriaj asked to let him know if this cropped up again, that is what I'm doing.

Here are another few example URLs where no compression is happening.

The first is https://thegoat.tech/

I don't explicitly set any config for compression (I guess I assumed that was the default and I only recently just checked on it, finding out it i

[2019-11-05 14:58] jaumard opened #1770 "Firebase CLI app distribution failed for iOS"
Hello, I'm trying to migrate to Crashlytics beta to Firebase app Distribution but I'm blocked on iOS side (no problem on Android).

I'm getting this unclear error and don't know what to do with it :/
[code]

CLI version is 7.6.2
I'm on Mac OS 10.15.1

Any idea what's wrong or how to have more insight ?

[2019-11-05 18:16] samtstern commented on #1769
@bitfabrikken thanks for this!  This is a duplicate of https://github.com/firebase/firebase-tools/issues/1722.  I am going to close this, I added some of your details there.

[2019-11-05 18:16] #1769 closed

[2019-11-05 18:53] gobiernoio commented on #1708
I have the same problem. Here is my clue:
1.- Start a project and functions, all works fine.
2.- Send to GitHub and open in other computer, make NPM installs, and stills works fine.  I worked in this computer all night, I make a PUSH but still works fine.
3.- Return to first computer make pull, and then crash.
4.- Test in second computer, still works fine.

As you see I have same code in two compu

[2019-11-05 20:37] MNorgren commented on #566
@gamebenchjake - That does solve the issue of the function not getting hit for the root, however it imposes many other limitations.

I am trying to create a bot interceptor in my cloud functions and return the pre-rendered content to the bot so that it can get the meta tags and SEO information. I am using rendertron for this and it works for all except the root.

By removing the index.html, the cl

[2019-11-05 22:55] garyo commented on #758
In case others end up here, here's actually how to set it up in `functions/package.json` so `tsc -w` runs separately from `firebase serve`:
[code]
In other words, run `tsc -w` and pipe the output into `firebase serve`. I don't think the pipe actually sends anything; I think when the source changes, tsc re-runs, and `firebase serve` is watching `tsc`'s output dir (`lib`) so it reloads. So the pipe

[2019-11-06 00:44] smixqse opened #1771 "Internal error when using `firebase serve` command"
### [REQUIRED] Environment info

**firebase-tools:** 7.6.2

**Platform:** Windows

### [REQUIRED] Test case

Create a new Firebase folder, initialize it with Functions and Hosting, and run `firebase serve`, even with the default helloWorld function.

### [REQUIRED] Steps to reproduce

1: Create a new folder
2: Run `firebase init` and mark Functions and Hosting features without TypeScript for funct

[2019-11-06 10:02] Yonom opened #1772 "Firebase Tools broken on Intel Ice Lake (Assertion failed: new_time >= loop->time)"
### Environment info

7.6.2

**Platform:** Windows 10 Home 1903 Build 18362.356
**Processor:** i7-1065G7
**Node Version:** 10.16.3 LTS / 12.13.0 LTS

### Test case

**Problem only affects Intel Ice Lake processors on Windows.**
No setup needed.

### Steps to reproduce

Run any command. Example: `firebase login`

### Expected behavior

The command should work.

### Actual behavior

Before any user

[2019-11-06 11:42] jaumard commented on #1770
Content of my firebase-debug.log:
[code]

[2019-11-06 13:29] jaumard commented on #1770
Ok after cloning this repo and putting breakpoints all over the place I find the issue :)
My Xcode commands was creating my binary to  `Runner.ipa/Runner.ipa` and I was given the folder to the Firebase CLI and not the file. And as this error is not catch/manage by the cli it just crash with an obscur error message ^^

[2019-11-06 13:29] #1770 closed

[2019-11-06 15:30] gouthamsrinivas commented on #1604
Thank you for your response.
I am still trying to figure out this issue . I am not sure if I have made
any mistake on my end .
I have never explicitly set "accept-encoding" header on request side and
more importantly never set "content-encoding" header on the response side .
*What baffles me the most is , how within the same project  and same
endpoints, different query parameters give different re

[2019-11-06 17:16] samtstern commented on #1771
@smixqse could you show your `firebase.json` file?

What's happening is we are getting a request like this:
[code]

We are interpreting this as a request that should go to a Cloud Function called "swarm" but it appears that function does not exist.  So it seems like there is some error in how the request is being routed.  I t's either a bug in our code or something you have specified in your confi

[2019-11-06 17:17] samtstern commented on #1771
Also when I google `/api/v0/swarm/peers?stream-channels=true` I get a lot of results about IPFS ... which I don't understand at all but I suspect is involved here.

[2019-11-06 17:29] smixqse commented on #1771
I've tested it with different projects, without changing the default configuration created using `firebase init`, and i couldn't find in the default files anything including `swarm`.

Here's `firebase.json` from the original project i was trying to serve locally:

[code]

And another i got while testing different options in the initialization which still produces the same error:

[code]

[2019-11-06 17:31] smixqse commented on #1771
Well, i have `go-ipfs` installed but i've never used it with Firebase, and it was not running while doing the tests.

[2019-11-06 17:35] samtstern commented on #1771
Hmmm ok I wonder if there is something else on your machine that's hitting this port without your knowing?  Could you try `firebase serve --port=9000` and see if that works?

[2019-11-06 17:44] smixqse commented on #1771
Okay, I realized what was happening. I totally forgot i had `IPFS Companion` in my browser, which was pinging the same port as Firebase without me knowing. It is working now, thank you and sorry for this.

[2019-11-06 17:44] #1771 closed

[2019-11-06 17:50] samtstern commented on #1771
@smixqse glad it's working now!  There's still actually a bug here because we shouldn't be matching such a broad set of URLs.  I will file a new issue to track this.

[2019-11-06 17:54] samtstern opened #1773 "Functions emulator matches too many URLs"
### [REQUIRED] Environment info

**firebase-tools:** 7.6.1

**Platform:** all

### [REQUIRED] Test case

See https://github.com/firebase/firebase-tools/issues/1771 for original report

### [REQUIRED] Steps to reproduce

Ping `localhost:5001/foo/bar/baz`

### [REQUIRED] Expected behavior

Ignored because that's not a Firebase-relevant URL.

### [REQUIRED] Actual behavior

This line in `functionsEmu

[2019-11-06 18:09] samtstern commented on #1772
@Yonom thanks for all the details and related issues!  I won't pretend to understand the root cause here.  Is there something you think we could do in the Firebase CLI to prevent or mitigate this?

[2019-11-07 08:30] alizbazar commented on #877
Here's the "hack" that we are using to only upsert function (not delete others):

[code]

Would also appreciate having and explicit option such as `--no-delete` rather than relying on the question never changing 😏

[2019-11-07 10:34] Yonom commented on #1772
I am just a user of your product, I do not understand the core issue either, so sadly I cannot help much.
If firebase plans on supporting Intel Ice Lake processors, the team should do _something_ about it...

[2019-11-07 10:59] amalnaeem commented on #1541
@vongohren were you able to find any solution?

[2019-11-07 11:30] vongohren commented on #1541
@amalnaeem yeah im able to test this with firebase emulators. Could get compile on changes and active pubsub connections with database storage. So it was good enough for me. But I thought it should have been more flexible, that is why I chased down this question:
https://github.com/GoogleCloudPlatform/functions-framework-nodejs/issues/101

Which leads to this:
https://github.com/firebase/firebase-

[2019-11-07 16:28] DEV-MK-KIM opened #1774 ""]0;Firebase CLI" is automatically added to .runtimeconfig.json"
### [REQUIRED] Environment info

**firebase-tools: 7.6.2**

**Platform: MacOS Catalina**

### [REQUIRED] Steps to reproduce

After I set custom key:value in firebaseconfig.json using below command

[code]

and run the command to update runtimeconfig

[code]

and in my actual runtimeconfig.json file, I see this line `1]0;Firebase CLI` added on top of json.

[code]
### [REQUIRED] Expected behavior

[2019-11-07 16:31] samtstern commented on #1774
@DEV-MK-KIM huh that's really strange.  What terminal app are you using?

[2019-11-07 16:32] DEV-MK-KIM commented on #1774
i am using iTerm2

[2019-11-07 17:11] samtstern commented on #1541
@vongohren we hope to have PubSub emulation as part of the Firebase emulators very soon (see #1755 for work in progress).

We are still working on how to enable breakpoint debugging here.

[2019-11-07 19:45] ryanpbrewster commented on #1063
With the recent changes to the Firebase emulator suite, you can "wrap" commands with
[code]
which will boot up the emulators (blocking until they're ready) and then run your command.

How well does that address the use-cases here?

[2019-11-07 20:01] inlined commented on #1084
I think I hit the same bug with a new symptom. If I try `firebase deploy` without initializing Firestore, I get an error that the project doesn't exist rather than an error that Firestore hasn't been set up.

[2019-11-07 20:47] abeisgoat commented on #1772
Some quick snooping pulls up [this libuv issue](https://github.com/libuv/libuv/issues/1633) where the dev explains that this is a symptom of your system clock drifting in an unexpected way (I assume libuv relies on some form of constant tick which it's not getting). This library is used as part of the core Node.js runtime, so it's very unlikely there's anything we can possibly do to resolve this,

[2019-11-07 20:47] #1772 closed

[2019-11-08 09:43] dmartin35 opened #1777 "Auth export/import does not handle disabled property"
### [REQUIRED] Environment info

**firebase-tools:** 7.6.2

**Platform:** macOS Mojave, version 10.14.6

### [REQUIRED] Test case

*To give a bit of context of my use case. I'm trying to replicate a users list between two firebase projects, using the command line. I want to import all my users with their enabled/disabled state on the new project.*

### [REQUIRED] Steps to reproduce

Go to the Fire

[2019-11-08 14:40] morgs32 commented on #1001
@bgarrett-rt I'm interested - you run your tests on a docker image with the emulator running? Was that easy?

[2019-11-08 15:20] bgarrett-rt commented on #1001
@morgs32 My application code isn't in a docker, but I have the emulator running in a docker image. Then using the local emulator configuration bits, I can get my tests to talk to the emulator running in the docker. This part wasn't terrible to get working locally. That harder part was to figure out how to get this running in google cloud build as part of CI/CD. However, both locally and in cloud b

[2019-11-08 21:04] samtstern commented on #1001
@bgarrett-rt yes we share the same emulator with them, but we have different release cycles so I am not sure if it's already been released there as well.

Also we would *love* to hear more about your journey to get Firebase testing in CI and on Cloud Build.  If you're open to talking more email me at samstern [at] google [dot] com ... maybe we could even set up some time for you to video chat with

[2019-11-09 08:59] vongohren commented on #1541
@samtstern that is cool! Im sorry I ment onChange storage of firebase database, not pub sub :) But its great that it is coming. I got my onchange to work with this emulator. But since the flexibility was so nice with the google functions-framework, I wanted it to work there as well! :)

[2019-11-11 14:33] shelooks16 commented on #758
Installing concurrently worked for me:

[code]

[2019-11-11 16:57] samtstern commented on #1541
@vongohren thanks for following up.  Could you tell me a little more about the "flexibility" you like with the functions framework and how it affects your workflow?

We would like the Firebase Emulator Suite to work for every local workflow.

[2019-11-11 18:52] bkendall commented on #1738
PIng @samtstern as he has done a lot with the emulators.

Sorry to hear about the request page not working (and sorry for the super late response). It probably was a transient issue if you'd like to try again...

[2019-11-11 18:54] bkendall commented on #1719
Try running `firebase serve` using Node 8 rather than node 12. The higher versions of node sometimes don't play nicely, so odd issues can appear like this.

[2019-11-11 18:57] bkendall commented on #1736
I'm not sure I have enough information to reproduce this issue.

`firebase init` doesn't "lock" the directory, nor does it hold on to any references in the background that would cause this issue. I would look for other things that may have the folder open, but this doesn't seem to be related to the CLI - sorry.

[2019-11-11 18:57] #1736 closed

[2019-11-11 21:40] samtstern commented on #1738
Thanks for this!  We are also interested in a Storage emulator, but no timeline to share right now.

[2019-11-12 09:49] vongohren commented on #1541
What I like about the functions framework is that it is so simple explained: https://cloud.google.com/functions/docs/functions-framework

While the firebase emulator is a bit more heavy on the sides with creating a project and stuff. This might still work in the emulator I guess, but the docs are not as lightweight as the functions framework.

I like that it will support different things as cloud

[2019-11-12 09:51] cbdeveloper opened #1785 "While emulating Hosting and Functions, requests to the home location don't trigger the corresponding Cloud Function"
### [REQUIRED] Environment info

Packages:
[code]

Node version: v10.16.2
VSCode 1.32.3

**firebase-tools:** v7.7.0

**Platform:** Windows 10

### [REQUIRED] Test case

**firebase.json**
[code]

With the `firebase.json` config above, I'm trying to rewrite routes to my home location (with or without trailing slash) to be handled by a cloud functions.

### [REQUIRED] Steps to reproduce

Using the `f

[2019-11-12 10:00] cbdeveloper commented on #1785
I found this piece of info in a SO question: https://stackoverflow.com/questions/44925138/firebase-dynamic-hosting-rewrite-the-home-page

Is that information correct? Is it anywhere in the DOCs?

Thanks

https://firebase.google.com/docs/hosting/full-config

[2019-11-12 10:09] cbdeveloper commented on #1785
I've just renamed my `public/index.html` to `public/app.html`.

And I can confirm that **now my function is being triggered** for `http://localhost:5000`  and `http://localhost:5000/`

Is this normal behavior?

[2019-11-12 16:34] samtstern commented on #1785
@cbdeveloper yes this is the expected behavior based on Hosting's priority order:
https://firebase.google.com/docs/hosting/full-config#hosting_priority_order

You can see that static files are higher priority than rewrites.

[2019-11-12 16:34] #1785 closed

[2019-11-12 16:56] samtstern commented on #1541
@vongohren thanks for the feedback!  You're right, Functions Framework is definitely simpler and has many uses in production as well.

Our goals here (for now) are just to focus on the local development and testing experience for Firebase developers, but there's a lot of overlap.

[2019-11-12 17:41] cbdeveloper commented on #1785
Thanks!
https://stackoverflow.com/questions/44925138/firebase-dynamic-hosting-rewrite-the-home-page
https://stackoverflow.com/questions/53519531/how-to-change-firebase-homepage-destination/53520119#53520119

From these two SO questions and people's comments on them, I think this might be causing a little confusion.

**Priority order of Hosting responses**
[code]

From what you've said, I guess tha

[2019-11-12 19:56] samtstern commented on #1785
@cbdeveloper thanks that's good feedback!  I'll make sure your docs feedback bug gets to the right person and also link them to this explanation

[2019-11-12 23:31] #1722 closed

[2019-11-12 23:31] #1773 closed

[2019-11-13 05:33] alexlouden commented on #1695
Hi, sorry for the delay - missed this notification! We're using this because there's no command to delete a document and all it's subcollections. This is used in a relatively popular application that needs to be able to recursively delete hundreds of documents per second. Happy to elaborate more via email if you like :)

I ended up forking the repo and swapping the `requirePermissions` call with a

[2019-11-13 14:38] eghernqvist commented on #1735
@samtstern Re-read the docs and it does seem like getting `auth.createUser()` is the intended result. Might have something to do with my setup using babel for `import`?

Basically my setup is this:

`auth.js`
[code]

`index.js` the function deploy source
[code]
Tried with
[code]
Also tried changing it to:
[code]

[2019-11-13 17:38] samtstern commented on #1695
@alexlouden thanks for sharing!  Looks like @mbleigh is going to at least mitigate this with #1791

As an aside, I am curious why you also changed some of the constants:
[code]

Did this improve your performance

[2019-11-13 18:47] dominikfoldi commented on #1677
Thank you @vladimirdjurdjevic for bringing up this issue! We were looking for a solution for almost a year already.

We would like to see a real emulator for three things:
1. e2e tests for the whole app, so we do not have to create different environments as @vladimirdjurdjevic said.
2. Integration tests for the backend, where the APIs are called and the user should be validated at Firebase.
3. All

[2019-11-13 18:52] bkendall commented on #1774
I am unable to replicate this on `firebase-tools@7.6.2` or off of `master`. Can you update to latest (`npm i -g firebase-tools@latest`) and give it another try?

If that doesn't fix it, could you let me know how you're running these commands? Are you running them directly on the terminal, or through a script? (Sometimes there's a different version of `firebase-tools` that's installed and conflicti

[2019-11-13 19:18] johnmartel commented on #1443
@samtstern @abeisgoat I have updated `firebase-tools` to 7.2.2 without changing my other dependencies and am now serving my HTTPS functions successfully with `firebase emulators:start --only functions`. Therefore, I consider this as closed :)

[2019-11-13 19:18] #1443 closed

[2019-11-13 19:19] samtstern commented on #1443
@johnmartel thanks for following up!

[2019-11-14 01:59] acco commented on #1317
For posterity to future wanderers...

Per the comment that @ryanlangton made above, if you're receiving this error double check that your query syntax inside all of your `document()` calls are valid.

I was getting the same error. In order to add hooks like `onCreate()`, `onWrite()`, etc, you need to add these hooks on a specific document (as opposed to a broader collection). So adding the `/{docI

[2019-11-14 05:37] skjagini opened #1796 "Firepit Builds for Windows have been failing since 7.6.0"
### [REQUIRED] Environment info
**Platform**: Windows 10

**firebase-tools:**
firebase-tools: The one provided over here: https://firebase.google.com/docs/cli/#install-cli-windows

**Platform:**

### [REQUIRED] Test case
I am just trying to launch the emulator

### [REQUIRED] Steps to reproduce
After downloading the firebase-tools-instant-win.exe and tried various commands with no difference

fire

[2019-11-14 16:30] bkendall commented on #1777
I am able to reproduce this. I started looking into it more and (a) I think the import/export files are a little scary and (b) the `disabled` field isn't even _documented_ on the corresponding [api documentation](https://developers.google.com/identity/toolkit/web/reference/relyingparty/downloadAccount)

That said, I'm gonna take on the fix - in theory it's easy - and come back around with some peo

[2019-11-14 16:32] bkendall commented on #1796
Could you give it a try with `--debug`? Maybe that will print something useful?

Paging Dr @abeisgoat ...

[2019-11-14 16:39] samtstern commented on #1796
@abeisgoat also is the WIndows Defender prompt a bug?  I thought we got around that with code signing.

[2019-11-14 17:44] rajachennupati commented on #1627
Remove ng.ps1(respective ps1 file) from the directory C:\Users\< username >\AppData\Roaming\npm\ then try clearing the npm cache at C:\Users\< username >\AppData\Roaming\npm-cache\..

this worked for me

[2019-11-15 09:33] christophe-g opened #1800 "log level formatting in functions:shell"
This is a follow-up of https://groups.google.com/forum/#!topic/firebase-talk/EVsq7gLkTsE

It would be nice to have better formatting in the shell when using `console.log` , `console.error`, ... For instance, colors or prefix to differentiate log levels.

It is of course possible to wrap native console behavior (I am using [loglevel](https://github.com/pimterry/loglevel) and [loglevel-plugin-prefix

[2019-11-15 11:03] winor30 opened #1801 "FR: Show deployment update status in using firebase-tools programmatically"
I created the nodejs script deploying firebase by using firebase-tools module with reference to [firebase-tools#using-as-a-module](https://github.com/firebase/firebase-tools#using-as-a-module). It is possible to deploy the firebase applications such as cloud function, hosting and firestore.

However this script didn't output the update status log for firebase applications. In CLI case, we can see

[2019-11-15 16:42] samtstern commented on #1800
@christophe-g thanks for following up on your email!  This is a reasonable feature request.  I think my personal preference would be for a label over colors (since not everyone uses a colorful terminal) but it's not a strong preference.

[2019-11-15 17:28] #1748 closed

[2019-11-15 18:09] samtstern commented on #1734
@mad-it thanks for filing this.

@merlinnot (based on https://github.com/firebase/firebase-functions/pull/482#issuecomment-530874660) or @joehan if you can lay out what needs doing in this repo I could contribute the missing CLI pieces.

[2019-11-15 19:47] dinvlad opened #1803 "Hosting proxy for Functions deployed outside of Firebase"
### [REQUIRED] Environment info

**firebase-tools:** 1.17.3

**Platform:** macOS Mojave 10.14.6

### [REQUIRED] Test case

A minimal HTTP Cloud Function e.g.
[code]
`firebase.json`:
[code]
### [REQUIRED] Steps to reproduce

1. Deploy the above Cloud Function with `go 1.11` runtime in `us-central1` region.
2. Deploy Hosting for Firebase in the same project:
[code]
3. Observe that `https://us-centra

[2019-11-15 21:21] samtstern commented on #1803
@Memeriaj should this work?  If not, is this something we could add or is it not feasible?

[2019-11-15 22:40] Memeriaj commented on #1803
So I think that this boils down to ordering.  Rewrites are tried in the order that they appear in the `firebase.json` file.  In this case we'll only ever use the first rewrite in your example because it will always match everything.  Which means that any request that comes into your Hosting Site should have the contents of your `/index.html` page displayed.  Because you are getting a 404 back I wo

[2019-11-15 22:40] #1803 closed

[2019-11-15 23:07] dinvlad commented on #1803
Perfect, that worked! Thanks a lot!

[2019-11-16 08:34] christophe-g commented on #1800
@samtstern  - thanks a lot.

What about smth similar to the web.
![image](https://user-images.githubusercontent.com/1168053/68990393-d4473b80-0852-11ea-8059-227ce59c2cbd.png).

It seems it is kind of already in place. From `lib/util.js`:
[code]

[2019-11-16 12:39] wiedzmin26 commented on #1289
@samtstern any news?

[2019-11-16 20:22] davidik-gyarab commented on #113
I tried everything you wrote here, yet i am still getting the same result //bash: C:UsersMikeAppDataRoamingnpm/bin/firebase: No such file or directory

[2019-11-17 10:55] SwissCheese5 commented on #1412
what @samtstern is what realistically is my expected behavior. If you only run the functions emulator, It should connect to production. If you also enable firestore emulation with functions, then it uses the local firestore.

Since you need to explicitly specify that you ONLY want a SPECIFIC emulator to run, naturally that means you want to connect to production for everything else. This is the ex

[2019-11-17 20:19] abeisgoat commented on #1796
Once you've confirmed the defenders prompt what do you see?

[2019-11-18 03:14] alexlouden commented on #1695
Great, thank you!

Some of the documents in the query have a field that can be quite large (e.g. up to 1MB each), so I thought that reducing the read batch size would help prevent against the function running out of memory.

We were receiving a lot of 500 "An internal error occurred." errors from the API when trying to delete in batches, so dropping the delete batch size and max pending deletes pa

[2019-11-18 12:44] merlinnot commented on #1734
Sure thing.

There's an API design for this feature approved by the API Council: https://github.com/firebase/firebase-functions/issues/425#issue-422405128 with small changes: https://github.com/firebase/firebase-functions/issues/425#issuecomment-485892911.

In short, I implemented everything that is needed to deliver this feature in `firebase-functions`, it was approved by @laurenzlong, but put on

[2019-11-18 13:58] tomashejatko opened #1808 "Firebase init documentation"
### [REQUIRED] Environment info

**firebase-tools:**
7.7.0

**Platform:** All

### [REQUIRED] Test case

### [REQUIRED] Steps to reproduce

firebase init --help

### [REQUIRED] Expected behavior

Any kind of documentation

### [REQUIRED] Actual behavior

[code]

Guys, is there any documentation for this, please?
Official page https://github.com/firebase/firebase-tools#configuration-commands sugget

[2019-11-18 17:06] samtstern commented on #1808
@arteal I agree the documentation is not good enough here.  Can you tell me what you're trying to do?

Also it might be best if you just run `firebase init` with no arguments.  This will walk you through a "wizard" like flow where you can see a list of available features and initialize them.

[2019-11-18 17:11] samtstern commented on #1289
@wiedzmin26 no specific news, we are still pursuing a more general "UI" for the emulator suite where we can put this and other features.

[2019-11-18 17:21] samtstern commented on #1412
@SwissCheese5 it sounds like you like the current behavior but if there's something you think should be changed please open a new issue describing your request!

[2019-11-18 17:23] samtstern commented on #1695
@alexlouden wow thank you for all the data!  That's really interesting.  You're right it's very hard to get deletes working perfectly since the backend limit is defined in terms of how much data you're deleting (incl. indexes) but when you're just deleting by ID in batches its pretty much impossible to know how much that will be.

[2019-11-18 19:18] bkendall commented on #1801
To make sure I fully understand this request: the desired effect here is that this script outputs (before resolving to the `.then` function provided) the same (or similar) log as if you had run the command on the CLI directly?

[2019-11-18 19:36] dooleyb1 commented on #1708
After upgrading to Mac OS Catalina I encountered this issue. What resolved it for me was running the following commands:

* `firebase login`
* `export GOOGLE_APPLICATION_CREDENTIALS="<PATH_TO_YOUR_SERVICE_ACCOUNT_KEY_JSON>"`

[2019-11-19 00:14] websilone commented on #683
Hi,
just another note to say that I had the same issue because of the same "mistake" (importing types from my main app).
I spent a few hours finding out what was the issue...
The functions were still running and deploying but without the latest changes I made to some files...
I first thought it was a problem with the fact that I was using several .ts files (not just the `index.ts` which is provide

[2019-11-19 00:52] samtstern opened #1813 "emulators:exec should wait until there are no more pending function executions"
### [REQUIRED] Environment info

**firebase-tools:** 7.8.0

**Platform:** Linux

### [REQUIRED] Test case

Two functions:

  * FunctionA has an HTTP trigger
  * FunctionB has a PubSub trigger on topic 'foo'

Let's say FunctionA looks like this:
[code]

I would like to be able to wait until all 10 of the PubSub functions run but this is not captured by:

[code]

It would be nice if `emulators:exec`

[2019-11-19 01:49] winor30 commented on #1801
@bkendall Yes.
I think also the output is needed when firebase deployment is failed.
This output includes the information that we know what function's deployment failed.
It might be output of the `.catch` function provided in failed deployment case.

[2019-11-19 07:30] lc-chrisbarton opened #1814 "npm install -g firebase-tools fails but npm install -g firebase-tools@v7.7.0 works"
A few hours ago running ```npm install -g firebase-tools``` in our CI system started failing. We pinned to v7.7.0 to fix the issue.

Does not work
[code]

Works
[code]

### [REQUIRED] Environment info

[code]

### [REQUIRED] Test case

Run ```npm install -g firebase-tools``` in a google/cloud-sdk container

### [REQUIRED] Steps to reproduce

```npm install -g firebase-tools```

### [REQUIRED] Expe

[2019-11-19 10:21] parsher opened #1815 "firebase-tools serve makes an error"
### [REQUIRED] Environment info

**firebase-tools: 7.8.0 (the latest)

**Platform: macOS

### [REQUIRED] Test case

firebase functions

### [REQUIRED] Steps to reproduce

firebase functions + express get / post methods
request multiple get requests, it makes errors.
it is only made on firebase-tools 7.8.0.
if I run the same codes on firebase-tools 7.7.0., it works fine.

### [REQUIRED] Expected be

[2019-11-19 14:21] samtstern commented on #1815
Thanks for filing this!  Could you show the source code for the function
you're calling?

On Tue, Nov 19, 2019, 2:21 AM Google Open Source Bot <
notifications@github.com> wrote:

[2019-11-19 17:09] osadchiynikita commented on #1815
+1 Same issue with latest version (7.8.0). **Second** call to the function throws this error.

Just rolled back to 7.7.0 and it works fine.

[2019-11-19 17:13] samtstern commented on #1815
@osadchiynikita can you show me the simplest function you have that reproduces this error?

[2019-11-19 17:21] osadchiynikita commented on #1815
@samtstern I just started to set up new project, so I was testing with the simple hello function

[code]

With the next firebase.json config

[code]

When I'm calling function first time (open in browser), it executes correctly, but for the next call (page reload) server throws "Address in use" error

[2019-11-19 17:27] samtstern commented on #1815
@osadchiynikita I was able to reproduce this, thank you for your help!  Definitely downgrade to `7.7.0` for now.

[2019-11-19 17:30] bkendall commented on #1814
I have... news. First, I can replicate this. Yaaaayyyy.....

Second, I can put my finger on the fact that we now include `@google-cloud/pubsub` as a dependency for the emulators, which includes `protobufjs`. `protobufjs` was previously only a dev dependency, so it never would have run it's postinstall script in the container like this.

When running postinstall scripts, `npm` attempts to not run a

[2019-11-19 17:38] osadchiynikita commented on #1815
@samtstern Great! Thank you

[2019-11-19 17:40] HassanAb0123 commented on #46
This worked for me "npm install -g firebase-tools"

[2019-11-19 18:04] knitesh commented on #1589
Upgrading to latest firebase-tools resolves this error
npm i -g firebase-tools@latest

[2019-11-19 19:19] lc-chrisbarton commented on #1814
Thanks that worked  ```npm install --unsafe-perm -g firebase-tools```

[2019-11-19 19:19] #1814 closed

[2019-11-19 20:51] samtstern commented on #1815
Ok it happened during this PR:
https://github.com/firebase/firebase-tools/pull/1778

So it's my fault (obviously).  Now need to dig.

[2019-11-19 21:27] lborgman opened #1817 "Incorrect console.log output for multiple arguments"
### [REQUIRED] Environment info
**firebase-tools:**
7.8.0

**Platform:**
Windows 10

### [REQUIRED] Test case

Under "firebase serve". (I have not deployed and tested.)

If pathIn begins with "/" this no longer finds the file:
        fileInRef = defaultBucket.file(pathIn);

### [REQUIRED] Steps to reproduce
See above.

### [REQUIRED] Expected behavior
fileInRef.exists() should return true

### [R

[2019-11-19 22:53] lborgman commented on #1817
There seems to be something badly broken. Maybe it is the Node.js version? This is what I see at the moment:

        const exists = await fileInRef.exists();
        console.log(exists, !exists) // false false

        const f = false;
        console.log(f, !f) // false true

[2019-11-19 23:47] samtstern commented on #1817
@lborgman can you provide a little more code?  Ideally something I could run myself and reproduce the same error.  It sounds like something is going wrong but I need to determine if this is in `firebase-tools` or maybe in `firebase-admin-node` or somewhere else.

Also if  you could show your `package.json` or at least  the `dependencies` section that would be useful as well.

[2019-11-19 23:49] lborgman commented on #1817
Now I have tested with Node.js 10.17.0 and 10.15.3
Same problem.

[2019-11-19 23:53] lborgman commented on #1817
@samtstern

  "dependencies": {
    "@google-cloud/speech": "^3.4.0",
    "@google-cloud/storage": "^3.5.0",
    "ajv": "^6.10.2",
    "braintree": "^2.21.0",
    "busboy": "^0.3.1",
    "colors": "^1.4.0",
    "cross-spawn": "^6.0.5",
    "express": "^4.17.1",
    "fast-crc32c": "^1.0.7",
    "ffprobe-static": "^3.0.0",
    "file-system": "^2.2.2",
    "firebase": "^6.6.2",
    "firebase-admin":

[2019-11-20 00:00] lborgman commented on #1817
const functions = require('firebase-functions');
      const admin = require("firebase-admin");

      const defaultBucket = admin.storage().bucket();

      // This is were I now must remove the / => "mytmp/"
      const pathIn = "/mytmp/" + userEmail + "/" + uploadedfilename;

      const fileInRef = defaultBucket.file(pathIn);
      const exists = fileInRef.exists();

      // exists is now in

[2019-11-20 00:09] samtstern commented on #1817
Ok so the relevant dependencies are:
[code]

Let me see if I can reproduce.

[2019-11-20 00:10] lborgman commented on #1817
Something interesting, I believe. I used util.inspect:

            console.log("exists", util.inspect(exists, false, 1, true))
            //  exists [ false ]

So I tested this:

        const [exists] = await fileInRef.exists();

Now "exists" behaves as a normal boolean variable.

[2019-11-20 00:15] samtstern commented on #1817
@lborgman ah thanks!  Looks like that's the expected usage within `@google-cloud/storage`, here's an example where they do the same:
https://github.com/googleapis/nodejs-storage/blob/d77208bee82dc2d76c72fbe8d5db1bfeb8e392ff/samples/system-test/files.test.js#L61

Also you can see in their release notes that allowing leading slashes in the file name is a `4.0.0` feature:
https://github.com/googleapi

[2019-11-20 00:19] lborgman commented on #1817
But ...
The variable "exists" is really strange. Is this perhaps a feature of Node.js?

When use util.inspect it is "[false]", but when using just console.log(exists) it is "false", but behaves very strange, see above.

Can you confirm that Node.js + Firebase serve should behaves this way? Or please reopen this issue.

[2019-11-20 00:42] lborgman commented on #1817
Maybe the problem is just in console.log under "firebase serve"?

        const existsStrange = await fileInRef.exists();
        console.log("existsStrange", typeof existsStrange, existsStrange)
        // existsStrange object false

[2019-11-20 00:44] zenkog commented on #369
Help, I need to use VPN because I'm in China and there is no way to connect to google services without VPN.. any suggestions ?

[2019-11-20 00:50] zenkog commented on #369
Sorry for the false alarm.. I found my problem is because I was behind Proxy. All I needed to do was just to disable Proxy from my System Preferences. Simple but crazy.. took my entire morning..

[2019-11-20 01:35] parsher commented on #1815
@osadchiynikita @samtstern Thank you for all! I was worried about this, because I'm developing based on firebase.

[2019-11-20 03:05] samtstern commented on #1815
I figured this out and a fix will be merged soon.  In the meantime everyone
here should use 7.7.0.

On Tue, Nov 19, 2019, 5:35 PM Yiggdrasil <notifications@github.com> wrote:

[2019-11-20 05:40] ishandutta2007 opened #1820 "firebase-tools not installing, other npm packages are properly installing"
$ `node -v`
v8.11.1

$ `npm -v`
5.6.0

$ `npm i -g firbase-tools@4.0.0`

$ `tail -10  /Users/ishandutta2007/.npm/_logs/2019-11-20T05_37_29_883Z-debug.log`

[2019-11-20 08:34] Jony-Y opened #1821 "npm install error with node <8.13"
Issue with firebase install while working with node lower than 8.13

firebase-tools: 7.8.0
env: MacOs

Steps to reproduce:
1. install firebase-tools 7.8.0
2. set node version to 8.12
3. run npm install / yarn

expected: modules installed successfully
actual:
![fire-base-error](https://user-images.githubusercontent.com/10330531/69221980-2e147200-0b81-11ea-9c29-099b0700c353.png)

The root cause is `

[2019-11-20 10:47] richard-mckenna commented on #1815
omg @parsher this was driving me nuts all yesterday, I was convinced it was something I was doing while configuring my Vue project to use the emulators in dev and live in production. Downgraded to 7.7.0 and it works fine. I didn't twig that I had updated firebase-tools yesterday morning, just before I started having issues. :| @samtstern I'll only blame you for an hour or so ha ha.

[2019-11-20 12:36] ishandutta2007 commented on #1820
My bad it was a typo ; it should be `firebase-tools` not `firbase-tools`

[2019-11-20 12:36] #1820 closed

[2019-11-20 17:27] #1815 closed

[2019-11-20 17:47] samtstern commented on #1821
@Jony-Y thanks for telling us about this!  So as you said we now depend on `@google-cloud/pubsub` which has an `engines` requirement of `8.10.0` and that depends on `@grpc/grpc-js` which has an `engines` requirement of `8.13.0`.

When using `npm` this actually isn't an issue.  It will install the dependencies just fine and warn you about the difference.  When using `yarn` however it looks like the

[2019-11-20 18:25] #1821 closed

[2019-11-20 20:07] samtstern commented on #1817
@lborgman hey you're right there's an issue with our `console.log()`.

In a plain `node` REPL:

[code]

In `firebase serve`:

[code]

Thanks for pointing this out!  Let's repurpose this bug to track that fix.

[2019-11-20 20:36] oli-w opened #1823 "Firestore runTransaction runs multiple times on emulator"
**Steps to reproduce:**

1. Install firebase-tools 7.8.0 globally with yarn / npm
2. Run the emulators using `firebase emulators:start`
3. Connect to the emulators on the client, e.g. on web by setting `firebase.firestore().settings({ host: 'localhost:8081', ssl: false })`
4. Create a document in a transaction, e.g.
[code]

**Expected result:**
A single document is created.

**Actual result:**
Mul

[2019-11-20 21:03] samtstern commented on #1823
Huh this is strange behavior.  It's also worth noting that I don't actually think you're using the transaction at all ... you're not reading any data and you're not using the transaction object.

An add in a transaction normally looks like this:
[code]

Even the example above does not do anything transactional.  Firestore transactions are meant to help you do some reads, then do some writes that d

[2019-11-20 21:21] oli-w commented on #1823
Oh 🤦‍♂ I missed the point about using the parameter passed in to `runTransaction`.
Using the `transaction` parameter properly fixes the problem, thanks!
What I'm actually doing in my code is creating 2 different documents, which I want to be atomic (i.e. create both, or none). I simplified the reproduction case by only adding 1 write in the transaction.
I realise that batched writes would actually

[2019-11-20 21:35] ryanpbrewster commented on #1823
I think @yuchenshi has a fix for this, re-assigning to them to add some details.

[2019-11-20 21:45] samtstern commented on #1823
@oli-w oh glad it's working for you!  By the way a batched write and a transaction with no read operations are pretty much identical.  So yes if I were you I'd use a batched write, the code is definitely simpler.

[2019-11-20 21:55] yuchenshi commented on #1823
I'm going to add that please make sure to use the canonical port (which defaults to 8080) instead of the WebChannel port (default 8081). `emulators:start` will print out a message explaining this. Otherwise you may get 400s like those mentioned in the original post.

[2019-11-20 21:55] #1823 closed

[2019-11-20 21:58] goleary commented on #1360
as @jimmont mentioned on #517
you can use https://www.npmjs.com/package/ndb to place breakpoints in your firbase functions code.

I simply use `ndb yarn serve`.

Also, I've only tested in on HTTPS functions so far.

[2019-11-20 22:32] mrgenesis commented on #113
You are using OS Win. You should put the firebase folder path in envariment variavel.

`alias firebase="`npm config get prefix`/bin/firebase"`
The line above should put in ~/.bashrc

For Win, search on Google aboult "environment variable path".

[2019-11-20 22:38] samtstern commented on #1815
For everyone affected by this: version `7.8.1` was just released!

[2019-11-21 00:25] parsher commented on #1815
@samtstern Thank you for your fast release!
@richard-mckenna Me too, I eased every code I had written when I face it. ha ha. I am using Vue too :)

[2019-11-21 02:52] DEV-MK-KIM commented on #1774
After updating firebase-tools 7.8.1 I don't see this bug anymore. Thanks for your feedback.

[2019-11-21 02:52] #1774 closed

[2019-11-21 10:35] GavinBrelstaff opened #1826 "win10 Firebase CLI: worked but now fails on startup"
### [REQUIRED] Environment info

The version command crashes: but either
7.80 or 7.81

Windows 10 Pro
Version	10.0.18362 Build 18362

### [REQUIRED] Test case
As first reported here: https://groups.google.com/d/msg/firebase-talk/DxXrj3oHTmw/ejKBG0IEBwAJ
Everything worked fine for months
until a recent update of either Firebase or npm
done as instructed within the CLI's message of the day text.

I