[2022-01-26 15:53] drm-addoptio opened #4098 "Emulator Problem: Websocket client diconnected on Windows 11 WSL2"
### [REQUIRED] Environment info

**firebase-tools:** 10.1.2

**Platform:**Windows 11, WSL2
Edition	Windows 11 Home
Version	21H2
Installed on	‎11/‎20/‎2021
OS build	22000.469
Experience	Windows Feature Experience Pack 1000.22000.469.0

### [REQUIRED] Test case

1. Go to Emulator UI on http://127.0.0.1:4000
2. Go to Auth Tab and create a new user
As a result, the window freezes and is waiting for 12

[2022-01-26 19:22] inlined commented on #4014
Hey, thanks for sharing your debugging story. I think the fact that you needed help is probably a usability bug on our part, and I'm excited that we have a place where we can do better and protect people from the issues you faced here.

Fortunately we have some long-term investments we're making in Cloud Functions for Firebase that may fix this problem. The only downside is that these are long-ter

[2022-01-26 20:45] yaakov123 commented on #2078
None of the above solved it for me!
For the future reader, if you get stuck here, this is what you need to do (took me a good few hours to figure this one out)

If you are using Node version > 17.x you need to change the functions host in the firebase.json to use "127.0.0.1". So it would look something like this:

"emulators": {
    "functions": {
      "host": "127.0.0.1"
    },

There is some we

[2022-01-27 01:17] qualle-admin commented on #2365
I am using docker and have never gotten data to load, even with `admin.initilizeApp` using credentials for my existing project, `firebase use my-project` etc.

[2022-01-27 01:46] colerogers commented on #3982
@raul-madrigal Interesting, can you try using the glob pattern like in the [hosting example](https://firebase.google.com/docs/hosting/full-config#specify-files-to-deply)? Something like,

[code]

I used this as an example and I'm able to get these files ignored from the source deploy.

[2022-01-27 05:21] uttamkumarmahapatra opened #4103 "there are some issues please resolve them"
[firebase-debug.log](https://github.com/firebase/firebase-tools/files/7947794/firebase-debug.log)

[2022-01-27 11:56] hakimio opened #4104 "Update "marked-terminal" to get rid of "incorrect peer dependency" warning"
### [REQUIRED] Environment info

**firebase-tools:** 10.1.2

**Platform:** Windows

### [REQUIRED] Test case

Try to install firebase-tools with yarn package manager

### [REQUIRED] Steps to reproduce

Try to install firebase-tools with yarn package manager

### [REQUIRED] Expected behavior

No errors or warnings.

### [REQUIRED] Actual behavior

Yarn produces following warning:
[code]

[2022-01-27 12:03] hakimio commented on #4104
Other warnings coming from firebase-tools:
[code]

[2022-01-27 12:08] hakimio commented on #4092
@bkendall maybe instead of creating separate issues for every file, there should be single issue with checkboxes?

[2022-01-27 16:46] bkendall commented on #4104
Duplicate of #4099

[2022-01-27 16:46] #4104 closed

[2022-01-27 16:48] bkendall commented on #4103
Please follow the template.

[2022-01-27 16:48] #4103 closed

[2022-01-27 17:25] #4059 closed

[2022-01-27 18:51] peterfriese opened #4116 "Firebase CLI doesn't properly detect JDK not being installed on macOS"
## Problem

Newer versions of macOS don't have Java installed. Instead, Apple has a `java` stub binary at `/usr/bin/java`, which will issue the following message:

[code]

(Launching with `java --help` or `java --version` yields the same message).

When trying to run the Emulator, this doesn't seem to be properly detected, so you end up with something like:

[code]

Which is a bit misleading, sinc

[2022-01-27 21:26] tfang17 commented on #3992
Any updates on this @abeisgoat

[2022-01-29 00:43] #4092 closed

[2022-01-29 09:37] MatthewFallon commented on #3578
Wanted to ask about possibilities for this too. Forcing clean shutdown would be great, but what can be a back up if that fails or if a process sends a SIGTERM or SIGKILL, potentially with IDE tooling or with other runners?

 Is there a potential for each of the external processes to at the least run a health check of some sort against the central server program started by emulators:start? (i.e. if

[2022-01-29 14:34] s2young opened #4109 "Emulator Issue: Cannot query for references"
I'm running a query in a firebase function that looks for a reference:

This works fine on firebase itself, but getting the following on the emulator:

`

"firebase-admin": "^10.0.2",
"firebase-functions": "^3.16.0",
"firebase-tools": "^10.1.2",

firebase --version
10.1.2

[2022-01-30 13:39] HasarAli commented on #753
I was hoping to get a DocRef by adding a reference manually through the emulator UI, but that did not work for me either.

[2022-01-30 14:06] dahmc commented on #4024
Same on macOS 12.2

[2022-01-31 06:43] dahu33 commented on #2027
Any update on this? It's unbelievable that in 2022 we can still ship broken code to production because of such issue...

[2022-01-31 06:44] devsaturn opened #4111 "Error:There was an unknown problem while trying to parse function triggers, can't deploy Firebase Functions"
### [REQUIRED] Environment info

**firebase-tools:**
firebase-tools 10.1.2

**Platform:**
macOS M1
### [REQUIRED] Test case

Run firebase functions:config:set some variables
Run firebase deploy --only functions

### [REQUIRED] Steps to reproduce

Run firebase functions:config:set some variables
Run firebase deploy --only functions

✔  functions: Finished running predeploy script.
i  functions: ens

[2022-01-31 09:36] laurentpayot commented on #4024
Same on Ubuntu 21.10, with custom node version via npx:
```npx --package node@16.13.0 -- firebase emulators:start```
I get:
```⚠  Your requested "node" version "16" doesn't match your global version "16"```

[2022-01-31 10:04] dahu33 commented on #2452
Hey Google, how do you expect us to write proper tests without proper support of transactions...? Wait, did I just hear "test in prod!" ? 😱😱😱

[2022-01-31 11:31] SumitBando commented on #3699
⚠  Your requested "node" version "14" doesn't match your global version "14"

[2022-01-31 12:10] maganap opened #4112 "`firebase functions:config:clone --from <project>` stopped working @10"
### [REQUIRED] Environment info

**firebase-tools:** 10.1.2
**node:** v14.18.2
**Platform:** macOS 12.0.1

### [REQUIRED] Test case

Command `firebase functions:config:clone --from <another-project>` used to work fine in `firebase-tools@9.23.3`.  I just upgraded to `firebase-tools@10.1.2` and it's not working anymore. The command runs without errors, but no data is copied to the runtimeconfig in t

[2022-01-31 12:38] laurentpayot commented on #3699
related to https://github.com/firebase/firebase-tools/issues/4024

[2022-01-31 16:46] maganap commented on #2994
@taeold Fix to issue https://github.com/nodejs/node/pull/41198 seems to be part of node v17.4 already
(https://github.com/nodejs/node/blob/master/doc/changelogs/CHANGELOG_V17.md)
but latest release of node v16 (v16.13.2) is from before that fix.
(https://github.com/nodejs/node/blob/master/doc/changelogs/CHANGELOG_V16.md)

It means it will be available (soon? ever?) in node 16, correct?
Does it tak

[2022-01-31 17:07] joehan commented on #4024
Sorry all! This is just a logging bug - it seems like I forgot an else statement last time I changed this code. It should be fixed in our next release.

[2022-01-31 18:00] #4024 closed

[2022-01-31 18:32] Miodec opened #4115 "Hosting Deploy: File updated by a gulpfile task is not uploaded"
### [REQUIRED] Environment info

**firebase-tools:** 10.1.2

**Platform:** macOS 12.1

### [REQUIRED] Test case

Files required:
 - firebase.json
[code]
 - gulpfile.js
[code]
 - static/sw.js
[code]

### [REQUIRED] Steps to reproduce

- Run `npx gulp test`
- Run `firebase deploy --only hosting`

### [REQUIRED] Expected behavior

The file will be uploaded.

### [REQUIRED] Actual behavior

The file i

[2022-01-31 18:41] taeold commented on #2994
@maganap You are right - the fix needs to be backported to node v16, and the scheduling of that work is depended on the node core contributors. I believe Google Cloud Functions team (which Firebase Functions is built on) is intending to release a temporary fix for the issue - you can track that work https://github.com/GoogleCloudPlatform/functions-framework-nodejs/issues/407.

IIUC, once the patch

[2022-01-31 21:10] yuchenshi commented on #753
@HasarAli Would you mind opening a new issue to clarify what you've tried, what is the expected behavior and the actual behavior? That will help us look more into this

[2022-01-31 21:12] yuchenshi commented on #4109
Any chance you can upload a minimal repro of this issue on GitHub? Also, please do double check if you have two instances / versions of the Admin SDK (e.g. `firestore_instance` is from a different npm module version than `event.after.ref`)

[2022-01-31 21:17] yuchenshi commented on #3992
Thanks for filing the issue! FYI, this is the repo for Firebase CLI and your question seems more related to Firestore SDK / Backend.

For production issues like this, Firebase Support will be better equipped to help you since they'll have access to your project information. Please contact Support instead.

[2022-01-31 21:17] #3992 closed

[2022-01-31 21:21] yuchenshi commented on #4098
It looks like you're trying to work with the Auth emulator when you ran into this bug. Would you mind starting only the Auth emulator (and not the Firestore emulator) via `firebase emulators:start --only auth` to isolate the issue? Please let us know if that still doesn't work for you (and reupload the now hopefully cleaner log file).

Also, please double check that Windows Firewall is not blockin

[2022-01-31 21:25] yuchenshi commented on #4040
Would you mind describing the steps you took before you see the `'firebase/compat/database'` error? And where does that error appear? e.g. In Emulator UI? In your app? etc.

[2022-01-31 21:37] yuchenshi commented on #3578
@MatthewFallon these are great ideas and we're tracking them in an internal bug now. We are unable to promise any timeline for this, but if others also have this request, adding a +1 on this issue can help us prioritize adding this to the roadmap.

(Googler-only internal tracking bug: b/217243556)

[2022-01-31 21:41] HasarAli commented on #753
@yuchenshi I just opened an [issue](https://github.com/firebase/firebase-tools-ui/issues/690#issue-1119961558)

[2022-01-31 21:46] fredzqm commented on #2452
We have allocated resource to work on it.
If things go well, it should be resolved around April.

[2022-01-31 21:48] taeold commented on #4111
Hi @devsaturn. The error message you got is (usually) emitted whenever your function source fails to load.

Can you trying running your code (e.g. node index.js) to see if there are any unusual error messages? If you are comfortable sharing your source code (redacting any private info), that'd be useful in helping with your issue.

[2022-02-01 00:23] bkendall commented on #4115
Looks like the internal hashing cache isn't detecting the change. Wonder why that is... I'll take a look

[2022-02-01 00:34] bkendall commented on #4115
So ultimately, it's because the hash/cache mechanism uses mtime (modified time) as a parameter when checking if a file changed and it should be re-hashed (and that hash, cached). If the cached hash value we have for the modified time of the file matches what the filesystem reports, we'll use the cached value. (if that was clear... well, that confused me writing it)

For whatever reason, when your

[2022-02-01 00:41] bkendall commented on #4115
Yeah, looks like this is an expected behavior from Gulp: https://gulpjs.com/docs/en/api/dest#metadata-updates

I'm not sure after some quick searching what the answer should be, but removing the destination files/folders before running this particular task would fix the deploy path. But, the CLI is working as intended in this scenario.

[2022-02-01 00:41] #4115 closed

[2022-02-01 01:04] Miodec commented on #4115
Ah i see - interesting. Thanks for having a look.

Have you thought about my small suggestion? Adding a message along the lines of "no files uploaded" if no files actually got uploaded?

[2022-02-01 01:14] bkendall commented on #4098
for what it's worth: I've tried running the auth emulator with and without the other emulators listed here on Windows 11 in WSL (Ubuntu) and I don't see the same errors.

[2022-02-01 01:16] bkendall commented on #4115
It's something to consider - I'll run it by the team and see what they say. Thanks for the suggestion!

[2022-02-01 06:12] drm-addoptio commented on #4098
Thank you @yuchenshi for your answer. I tried both, to run only auth and to disable the windows firewalls. But nothing helped. The debug log shows nothing. It is as if the UI does not communicate with the backend. Look at the screenshot.
![image](https://user-images.githubusercontent.com/94794607/151920949-40534b8b-955b-4947-9144-edcd2aeab54b.png)

[2022-02-01 08:11] Nifu-Uchi opened #4117 "Error: unknown JSON.parse problem when firebase storage deploy"
### [REQUIRED] Environment info

**firebase-tools:v10.1.3

**Platform:Github Actions, macOS local

### [REQUIRED] Test case

- do `firebase deploy --force --only storage --project ${{ env.PROJECT_ID }}`

### [REQUIRED] Steps to reproduce

- do `firebase deploy --force --only storage --project ${{ env.PROJECT_ID }}`
- its occurred in local command and Github workflow.
-  And it was not happend befo

[2022-02-01 09:16] nvme0 commented on #4117
Can confirm I'm having this issue as well. Works fine on 10.1.2, but breaks on 10.1.3.

[code]

[2022-02-01 11:27] Antonio-Iliev commented on #4015
I got the same error. I manage to fix it by providing the full phat to the .symbols.zip file. First, my path is not from the root but correct from the command running point.

Can you double-check your paths? It seems different.
**Steps to reproduce** path "D:\Users\IGG\Desktop\SUS\SUS_0108-105934_v1.9.2_debug-1.9.2-v100.symbols.zip"
**Expected behavior** path _"G:\Test\TestFirebase\1234-1.9.2-v120

[2022-02-01 11:30] ricardodebeijer commented on #4117
Can also confirm this, both in our CI and locally, both use 10.1.3. Attached is the `firebase-debug.log` with the  `--debug` flag
[firebase-debug.log](https://github.com/firebase/firebase-tools/files/7978003/firebase-debug.log)

[2022-02-01 11:34] Nifu-Uchi commented on #4117
@ricardodebeijer Thank You!
It looks like this API  returned `none` caused the error.
[code]

[2022-02-01 12:20] astalea opened #4118 "ng add @angular/fire - init process / cursor input freezes on MacOS"
### [REQUIRED] Environment info

**firebase-tools: 10.1.3**

**Platform: macOS 12.1**

### [REQUIRED] Test case

ng add @angular/fire gets stuck on project selection

### [REQUIRED] Steps to reproduce

enter "ng add @angular/fire"
follow steps
Cursor keys freeze on
? Please select a project: (Use arrow keys or type to search)
❯ [CREATE NEW PROJECT]
test-project

### [REQUIRED] Expected behavior

c

[2022-02-01 12:35] Miodec commented on #4115
Alright, found a solution. For anyone finding this in the future: https://github.com/dlmanning/gulp-sass/issues/706#issuecomment-421130305

[2022-02-01 13:08] aezur commented on #4117
Same thing but with functions.

[2022-02-01 15:41] akarabach opened #4119 "Firebas hosting gzip or Brotli is not working"
### [REQUIRED] Environment info

**firebase-tools:** 10.0.1

**Platform:** Windows

I have default configuration of firebase-tools and using github actions to deploy my bundle to firebase hosting, But in browser, I ses that gzip is not working for js files (bundle is about ~540kb)

![image](https://user-images.githubusercontent.com/12261380/152000077-e1b87eb7-a832-4499-ab17-7f0fb6fe4134.png)

just

[2022-02-01 15:58] devsaturn commented on #4111
Hi @taeold thanks for the tips to find error messages (node index.js). I got this message
{"severity":"WARNING","message":"Warning, FIREBASE_CONFIG and GCLOUD_PROJECT environment variables are missing. Initializing firebase-admin will fail"}
node 16.13.2
firebase 10.1.3

[2022-02-01 17:09] bkendall commented on #4098
I'm grasping at straws, but is it possible that you have your browser automatically filling out those fields? Sometimes I've seen validations not work when browsers just insert data there - could you manually tweak each field a bit to make sure the validation has happened?

[2022-02-01 17:14] bkendall commented on #4119
For production issues, could you reach out to us via https://firebase.google.com/support? We can look into your project there and debug - issues in this repo are really for the CLI itself.

Without digging into your specifics: Firebase Hosting will return the smallest-sized file of "identity", "gzip", and "brotli" - of whatever your browser supports. If the raw file (identity) is the smallest, we'

[2022-02-01 17:14] #4119 closed

[2022-02-01 18:21] #4117 closed

[2022-02-01 19:02] bkendall commented on #4117
This should be fixed in `v10.1.4`. Thanks again for raising, and sorry for the trouble. Added a storage deploy test too so that at least _that_ path would catch issues in the future 🙂

[2022-02-01 21:16] yuchenshi commented on #4098
I think we'll need to look at Emulator UI browser logs for this. Try opening the Emulator UI page fresh and immediately open your browser's Developer Tool and maybe look at the Network and Console tabs. Then try to add a user until you've hit the Save button. Are there any (new) logs in the Console tab? What is the fate of the new network requests that happened after you click on the button? For t

[2022-02-02 06:10] drm-addoptio commented on #4098
@bkendall: checked it without automatic filling. But it doesn't work.
@yuchenshi : in the console there are no entries at all. The network log file is attached as zip-file.
[logfile.zip](https://github.com/firebase/firebase-tools/files/7984001/logfile.zip)

[2022-02-02 07:23] tama3bb commented on #4118
firebase-tools@10.1.0 freezes.
firebase-tools@10.0.1 works.

[2022-02-02 12:52] DKorosec commented on #3469
Having same problems on firebase-tools `10.1.0`

[2022-02-02 15:18] raul-madrigal commented on #3982
@colerogers thanks for the suggestion,
<img width="1391" alt="Screen Shot 2022-02-02 at 9 17 13 AM" src="https://user-images.githubusercontent.com/30184031/152182337-0b7bb237-6214-4542-8af9-9d159010efea.png">

Now I'm seeing fewer files, but `node_modules` is still in there.

[2022-02-02 18:39] taeold commented on #4111
@devsaturn Thanks for reporting back.

It looks like there isn't anything that unusual in the error message you shared. (If there are any others, please let me know!).

At this point, I think it'll be hard for me to make any suggestions w/o taking a look at your source or having a short, reproducible example I can run on my end. You are probably uncomfortable doing the former, so I suggest that yo

[2022-02-02 23:24] bkendall commented on #4118
I can replicate this (though it's a bit tricky since I have to do it through `ng`) but I don't see anything obvious as to why that's the case. @jamesdaniels may be able to help look as well

[2022-02-03 00:35] Muritavo commented on #3600
Almost lost a project today because of this.

Take a look at this PR, it proposes a basic fix for this cenario. https://github.com/firebase/firebase-tools/pull/4127

[2022-02-03 14:09] amitbd1508 commented on #3143
Thanks for sharing . It helps me a lot

[2022-02-03 20:44] yuchenshi commented on #4098
I'm really confused here -- the HAR file shows no update / fetch call to the Auth Emulator at all. Did you try adding users and clicking on the save button before you export the HAR file? Mind uploading a screencast video on what you've tried on the Auth page, starting from opening the add user dialog?

[2022-02-03 21:38] alexkirmse commented on #2791
Looks like this has been fixed by @joehan here:
https://github.com/firebase/firebase-tools/issues/4024

This ticket can be closed.

[2022-02-03 23:03] alexkirmse commented on #2791
@samtstern There seems to be different behavior depending on how firebase tools is installed. If you use the standalone binary it shows the log message but with the npm install method it doesn't.

I suspect that the standalone binary is bundled with node 12 (via firepit ?) so when [checking what version node firebase tools is running](https://github.com/firebase/firebase-tools/blob/master/src/emul

[2022-02-04 00:22] superphil0 commented on #3359
following, having the same issue, and it must have something to do with the project, because I can deploy with the same node version and same firebase version with another project of mine (and same node version for cloud functions)

[2022-02-04 02:14] leo-paz commented on #877
@Retsuki Do you have firebase tools as a dependency?

It would really be nice to just have an ignore flag for this 😐

[2022-02-04 10:04] ervaibhavsinghal commented on #4040
I've faced the same issue; when I've tried Cloud Shell on step 4.5 and tried to execute the command:

`npm --prefix=functions test`

then I've got the error is:

[code]

[2022-02-04 15:55] adinvadim commented on #406
I need this feature too. I'am using firebase set in my CD. Get secrets from Github Secrets and push their to the firebase config

[2022-02-04 21:23] Albertbol opened #4129 "Collection group index not working in firebase emulator"
### [REQUIRED] Environment info

**firebase-tools:** 10.1.2

**Platform:** macOS Monterey version 12.1

### [REQUIRED] Test case

### [REQUIRED] Steps to reproduce

1. Create a collection with many documents (35k documents in my case), containing a field that has an array of strings in it.
2. Run array-contains-any query against this collection group to get an error and create an index from the er

[2022-02-06 00:23] devsaturn commented on #4111
Hi @taeold  thanks for your response.
My solution is to downgrade to node 14 and using .env for variables management.
I close this issue

[2022-02-06 00:23] #4111 closed

[2022-02-06 00:53] RammAlvarez commented on #4118
Same problem

firebase-tools: 10.1.4
Platform: macOS 12.1

[2022-02-06 23:28] kxshnawti commented on #113
Termux too??

[2022-02-07 08:53] Abinayapssr opened #4133 "Couldnt find FirebaseUtil.java in android studio......where to be created?"
Please submit feature requests through our [support page](https://firebase.google.com/support/troubleshooter/report/features/).

[2022-02-07 15:11] sinoroc commented on #1546
I was running `firebase-tools 10.1.4` on WSL2, I did not have `/mnt/c/Windows/System32` in `PATH`, I ran `firebase login --no-localhost` and it still failed. I can not share the `firebase-debug.log`, but it clearly showed an error related to trying to spawn `cmd.exe`, same as in original message. Is that expected behavior?

[2022-02-07 16:48] tfang17 opened #4134 "Error: Unable to parse JSON: SyntaxError: Unexpected token < in JSON at position 0"
### [REQUIRED] Environment info

10.1.4

**firebase-tools:**

macOS

**Platform:**

n/a

### [REQUIRED] Test case

`firebase deploy --only functions:[FUNCTION_NAME]`

### [REQUIRED] Steps to reproduce

Deploy code to Firebase.

### [REQUIRED] Expected behavior

Successful deployment.

### [REQUIRED] Actual behavior

`Error: Unable to parse JSON: SyntaxError: Unexpected token < in JSON at position

[2022-02-07 17:00] bkendall commented on #4134
Can you provide a bit more detail? Specifically, looking in the `--debug` output (or firebase-debug.log) there is likely an HTTP call that has failed, or something else. A bit more of the logs will be necessary to debug this.

[2022-02-07 17:34] tfang17 commented on #4134
Seeing a task repeatedly fail and retry on debug mode:

[code]

[2022-02-07 17:38] tfang17 commented on #4134
[code]

[2022-02-07 18:28] tfang17 commented on #4134
Seems to fail on large files; is there a storage file limit size?

[2022-02-07 18:44] bkendall commented on #4134
I believe the CLI prints out the size of the archive it's trying to send - might want to check that out.

[code]

It's also possible that the bucket it's trying to upload to has some issue. I'm gonna have to defer to a functions person on that...

[2022-02-07 18:52] tfang17 commented on #4134
Size is pretty reasonable - around 100 MB.

[2022-02-07 20:32] taeold commented on #4134
Yes to better error messages.

@tfang17 I think you might be hitting resource limit of Google Cloud Functions - you cannot deploy your source that's greater than 100MB (compressed):

https://cloud.google.com/functions/quotas#resource_limits

[2022-02-07 20:37] lobertrand commented on #2995
I get the same error when using any flavor of the `firebase` command (`firebase`, `firebase -version`, `sudo firebase`, `sudo firebase -h`...). It only prints `Pkg: Error reading from file.`.

I tried installing firebase using Pamac (AUR package), using `npm install -g firebase` and using `curl -sL https://firebase.tools | bash`. I got the same error each time.

I'm using Linux Manjaro, which is b

[2022-02-07 20:50] tfang17 commented on #4134
Got it, that makes sense. No way I can raise that limit?

[2022-02-07 21:06] yuchenshi commented on #2995
@lobertrand would you mind uninstalling and trying the installation script again? If you still see such issues even after reinstalling, please post `md5sum $(which firebase)` so we can see if the file is corrupted somehow.

[2022-02-07 21:09] yuchenshi commented on #4133
Sounds like you have a question for Android Studio but you've found the CLI repo. Please try posting on StackOverflow instead of
contact [support](https://firebase.google.com/support/troubleshooter/report/features/).

[2022-02-07 21:09] #4133 closed

[2022-02-07 21:17] yuchenshi commented on #2791
@alexkirmse Yes, the standalone binary comes with a version of Node.js bundled. If that version doesn't work for you, please use the npm installation method instead

[2022-02-07 21:25] lobertrand commented on #2995
I finally tried downloading and using the standalone binary for linux and it worked fine ^^ (under the name `firebase-tools-linux`)
Now, il tried the installation script again and it worked too, I don't know why :
[code]

I also found the exact error message in a node package : https://unpkg.com/browse/pkg-fetch@2.3.7/patches/node.v4.8.3.patch
At line 308 : `console.error('Pkg: Error reading from

[2022-02-07 22:37] taeold commented on #4134
@tfang17 I'm not sure. I think the best path forward here to contact GCP support to see if they can connect you to Google Cloud Functions team to raise the limit for your GCP project (IF it's possible).

[2022-02-07 22:37] #4134 closed

[2022-02-07 22:44] tfang17 commented on #4134
Thanks!

[2022-02-08 14:35] josejmoran opened #4140 "firebase CLI not working"
### [REQUIRED] Environment info

I downloaded the firebase CLI from: https://firebase.flutter.dev/docs/overview/#initialization and followed all the steps listed there to add firebase to my project, but I get the following error:

flutterfire configure
'git' is not recognized as an internal or external command,
operable program or batch file.
Building flutter tool...
Running pub upgrade...
i Found

[2022-02-08 16:53] bkendall commented on #4140
I think you need to open up an issue on flutterfire's repository. If something's going wrong in one of their scripts, they should look into it. Take a look here: https://github.com/FirebaseExtended/flutterfire

[2022-02-08 16:53] #4140 closed

[2022-02-08 18:44] yuchenshi commented on #3600
My two cents: we should go with #4127 in the short term but find a way to do exports without wiping the target directory.

The wiping behavior was introduced in #3511 to solve an unrelated issue but maybe we can find a better solution. Ideas are welcomed!

[2022-02-08 18:45] jaredgibb commented on #2228
this still happens in 10

[2022-02-08 20:38] cedvdb commented on #1167
Is there a way to reset it to initial imported data while it is running ? How do people even run integration tests without this ?

[2022-02-08 22:35] JamesVanWaza commented on #2228
@jaredgibb which exact version is the problem happening?

[2022-02-08 22:39] jaredgibb commented on #2228
10.1.14 (I think) but after reading through some other threads, I ran the update code from the cli and it fixed the issue. Sorry for not coming back! Thanks for checking in!!

[2022-02-08 23:09] eugvb opened #4142 "Starting emulators forces downloading outdated cloud-firestore-emulator-v1.11.11.jar"
### [REQUIRED] Environment info

**firebase-tools:** 10.1.5

**Platform:** Windows 10, nodejs 16.4.0

### [REQUIRED] Test case
After run firebase emulators:start, begins downloading outdated emulators firestore, database and ui

### [REQUIRED] Steps to reproduce
1. Run firebase emulators:start
2. Download outdated emulators
3. Stop emulators
// to repeat
4. Run firebase init emulators
5. Download

[2022-02-08 23:43] alexkirmse commented on #2791
@yuchenshi Makes sense. I brought this up specifically with this specific error:
[code]

I think the reason there's a mismatch is that the global version comes from the bundled nodejs regardless of what's set in package.json as the engine. With bug reports, it might be interesting to ask how firebase-tools was installed npm or binary.

[2022-02-09 03:36] rockwotj opened #4144 "Firepit binaries are gigantic"
From version 10.1.0 to version 10.1.1 there is a ~700MB increase in the firepit version of the binary. Can we restore it back to the ~100MB range?

<img width="1241" alt="image" src="https://user-images.githubusercontent.com/8669100/153117055-94aa2c53-4c4f-437b-b20c-f0ff6e3a0b2a.png">

[2022-02-09 04:38] krishna-fenixwork commented on #4134
Well, I'm getting the same error while deploying through the firebase deploy command. I'm using the below command.

`firebase deploy --only functions:nextServer,hosting --debug`

and this is what the debug -

`[debug] [2022-02-08T12:35:42.604Z] Analyzing nodejs backend spec
[info] i  functions: preparing . directory for uploading...
[info] i  functions: packaged . (135.39 MB) for uploading

and

[

[2022-02-09 05:02] gugahoi commented on #1676
Just thought I'd ping here as well. There are definite ways to have everything working nicely but it seems the number of processes required on my end to get my environment going keeps increasing. If emulated cloud run could be incorporated in the firebase config that would be amazing! Might also simplify needing to manage firebase configuration in my cloud run service :D

[2022-02-09 06:31] mattematics9 commented on #2078
This works and you saved me so much time.  Thank you.

[2022-02-09 09:03] bpingris opened #4145 "Import users with cli auth:import"
### [REQUIRED] Environment info

**firebase-tools:**
10.1.2

**Platform:**
macOS
### [REQUIRED] Test case

I want to import some users from an external service to firebase.

### [REQUIRED] Steps to reproduce

I created a `users.json` file with the following content:
[code]
and ran this command:
[code]

### [REQUIRED] Expected behavior
The users defined in my `users.json` should be uploaded to fire

[2022-02-09 16:34] nappernick commented on #4145
Same issue.

[2022-02-09 17:39] MatthewPatience commented on #2677
This issue seems to be applicable to firebase hosting as well.

[2022-02-09 17:42] conrado commented on #2677
I'm okay knowing all the files I put in my builds

[2022-02-09 18:49] taeold commented on #4134
Yep - GCF limits the size of the source package to be <100MB when zipped (which it is if you are using Firebase CLI to deploy your functions).

As suggested in https://github.com/firebase/firebase-tools/issues/4134#issuecomment-1032006299, you might want to reach out to GCP support to see if you can get the limit to increase (I'm not sure if it's possible, and they may say no :( ).

[2022-02-09 18:50] taeold commented on #4134
Separately, I'll file an issue to improve the error message for this problem.

[2022-02-09 18:52] taeold opened #4146 "Improve error message when function deployment fails because the packaged function source is >100MB"
In https://github.com/firebase/firebase-tools/issues/4134, we had several users report function deployment failure with a cryptic error messages:

[code]

We think the root cause of this issue is because GCF limits the size of the packaged function source to be <100MB per https://cloud.google.com/functions/quotas#resource_limits.

It would be great if the deployment process can be improved to chec

[2022-02-09 19:02] bkendall commented on #4144
WHOA. That's a little scary. Wonder why that happened. I'll take a look.

[2022-02-10 00:41] #4144 closed

[2022-02-10 04:04] Vluf opened #4154 "Emulator on real iOS device: An internal error has occurred"
### [REQUIRED] Environment info

**firebase-tools:** 10.1.5

**Platform:** MacOS Monterey 12.1 M1, iPhone 8 iOS 15.1

### [REQUIRED] Test case

### [REQUIRED] Steps to reproduce

1. Run the emulators
2. Add your local computer's IP as host (also tried `0.0.0.0`)
3. For example
[code]
4. Run the emulators
5. Open a Flutter app
6. Connect to the emulators, e.g.
[code]
7. Observe that no data is retu

[2022-02-10 11:51] LauDijksterhuis commented on #3990
Hi @yuchenshi ,
I have a Flutter Firebase project and I used to verify my email with the link in de CLI console.
How ever, for some reason the link does not show up anymore (even tho I use the official FlutterFire package).

After singing up the console stays empty:
![image](https://user-images.githubusercontent.com/49369680/153403018-68c824e5-c7a6-4e54-9fe4-dcbd802c6b2c.png)

It would be great if

[2022-02-10 12:10] sushantdhiman commented on #1868
I was using `curl -sL firebase.tools | bash` which was giving me this weird error (also https://github.com/facebook/jest/issues/10012), using `npm i -g firebase-tools` resolved this issue.

[2022-02-10 12:31] antoine10245 commented on #4145
Im experiencing it too!  using `firebase 10.1.5`, on macOS Monterey(12.1)

[2022-02-10 13:20] bpingris commented on #4145
To resolve this in the meantime, I used the Go admin SDK to import my users (btw all SDK seem not to be developed with the same feature: the Node one does not have an option to specify the order of the salt).
I had to face some issues though, you can find more information on my [SO post](https://stackoverflow.com/questions/71034926/import-external-user-to-firebase)

[2022-02-10 17:05] isaactan001 commented on #4145
Use the CSV format instead of JSON works for me

[2022-02-10 18:51] HackPoint commented on #4118
Same issue
"@angular/fire": "^7.2.0",
 "firebase": "^9.4.0",
Catalina 10.15.7 Mac i9

[2022-02-10 19:30] soulcedric commented on #2078
Worked here as well! Was initially having trouble starting my emulator until I set host field under firestore emulator to "host": "127.0.0.1". Just changed this value under functions and I'm back in business.

[2022-02-10 20:14] #4118 closed

[2022-02-10 23:41] bkendall commented on #4144
Muuuch better: https://github.com/firebase/firebase-tools/releases/tag/v10.2.0

[2022-02-10 23:49] rockwotj commented on #4144
Thanks for the speedy fix @bkendall! 🙏

[2022-02-11 02:01] bkendall commented on #4098
Alright - Windows 11 and WSL 2 have given me headaches before with connections in the direction of Windows -> WSL.

Take a look at this screenshot. With WSL running:

1. Open "Windows Defender Firewall with Advanced Security"
2. Click on the "Windows Defender Firewall Properties" in the middle column.
3. On the 3 profiles (Domain, Private, Public), "Customize" the "Protected network connections" a

[2022-02-11 07:57] drm-addoptio commented on #4098
@bkendall I already tried it with completly turned off firewalls. That didn't help.

[2022-02-11 08:23] drm-addoptio commented on #4098
I have very good news on this issue. After pausing development on my windows device and bridging the time with my good old chromebox, I tried it again today. So , after installing the newest Microsoft updates for Windows 11 it actually works again like a charm. Please find the information about the updates in the following screenshot:
![image](https://user-images.githubusercontent.com/94794607/153

[2022-02-11 09:07] samatcolumn opened #4155 "'firebase init functions' uses outdated version of TypeScript"
If you use `firebase init functions` to start a fresh project with TypeScript you get version`^3.8.0`. There are a _lot_ of new features that have been released in `4.0+` which was announced 18 months ago.

According to the Microsoft announcement post 4.0 is not considered a breaking change:
https://devblogs.microsoft.com/typescript/announcing-typescript-4-0/

[2022-02-11 17:45] jimmywarting commented on #2215
given that fetch is now built right in to nodejs deno and workers
i think that you should aim at using fetch instead, wether it comes from node-fetch undici or node itself...
using something like axios isn't good as it dose not work in workers and dose not support streaming.

[2022-02-11 18:49] tfang17 commented on #4134
GCP Support said it's not possible to increase the limit.

[2022-02-11 22:52] hamishjohnson commented on #629
For me, I had to put .runtimeconfig.json in the root of the workspace

[2022-02-12 01:43] vthommeret opened #4157 "Auth user import doesn't seem to work"
### [REQUIRED] Environment info

**firebase-tools:** 10.1.4

**Platform:** macOS

### [REQUIRED] Steps to reproduce

`firebase auth:import users.json`

### [REQUIRED] Expected behavior

Successful import.

### [REQUIRED] Actual behavior

Two issues. One is that no error details are actually displayed:

[code]

Digging into the code, it seems like this line isn't logging the error: https://github.c

[2022-02-12 11:40] gpfister commented on #2570
Hi ! I have the same reqest, in particular to test (and include in CI workflow) cross web app integration. Many thanks in advance.

[2022-02-12 13:03] moses-20 opened #4163 "Firebase Emulator: Command failed with exit code 2"
Firebase emulators quit suddenly when uploading to Firestore emulator

### Firebase Debug Log

[code]

[2022-02-12 13:43] danbraik opened #4158 "functions emulator crashes when accessing config in global space"
### [REQUIRED] Environment info

**firebase-tools:**10.2.0

**Platform:**Debian

### [REQUIRED] Test case

initialise a project with functions emulator

functions/src/index.ts
`
import * as functions from "firebase-functions";
const a = functions.config().stripe.stripe_secret_key;
`

add .runtimeconfig.json
`
{
"stripe": { "stripe_secret_key": "hello" }
}
`

### [REQUIRED] Steps to reproduce

$ np

[2022-02-12 22:50] spicemix commented on #4158
I would like to mention that 10.2 emulator functions broke entirely for me, though they load fine, and I don't notice anything unusual in the logs, other than my functions no longer work. Some of the functions do launch and complete once, but not repeatedly, as I'm using a lot of pubsub cron tasks, also database triggers, etc.

10.1.5 works perfectly, as does the most recent 9.x, and I'm up to dat

[2022-02-13 11:59] Stas1967 opened #4165 "An illegal reflective access operation has occurred"
Recently when starting firebase emulators in my angular project, this message appears in the console,
`It looks like you're using the development build of the Firebase JS SDK.
When deploying Firebase apps to production, it is advisable to only import
the individual SDK components you intend to use.

For the module builds, these are available in the following manner
(replace <PACKAGE> with the name

[2022-02-13 12:42] hixfield commented on #3550
I can confirm.
I experienced the same crash when specifying:
`allow write: if request.auth != null && request.auth.uid == uid;`
when changing to:
`allow write: if true;`
the crash is gone.
I'm running on an Macbook Pro M1 (just in case its released to ARM architecture).

[2022-02-13 14:38] dotdoom commented on #2671
That didn't help me, I can still reproduce 4 high severity vulnerabilities as stated in the 1st comment in this issue.

[2022-02-13 15:34] alexkirmse commented on #2791
@coffeepostal Did you install firebase-tools via the binary or npm?
If you installed via binary try deleting it and installing via npm. Since the binary ships with it's own node and seems to be at 12.

[2022-02-14 06:22] eriklundstrom commented on #4158
@danbraik I've think I had the same problem. The solution for me was to move the .runtimeconfig.json from the functions folder to the root folder, where my npm script was being called.

[2022-02-14 06:44] spicemix commented on #4158
@eriklundstrom That may make sense since 10.2 uses the env.local approach to setting config information...but it didn't solve my problem.

Further investigations show that the emulator now "sleeps" perhaps like Cloud Functions do, and my workaround to the still-vexing #2034 with SetInterval calls isn't enough to "wake up" the functions I'm calling, and perhaps the same issue results in deadlocks a

[2022-02-14 08:03] gpfister opened #4159 "Unable to generate CI token with --no-localhost"
### [REQUIRED] Environment info

**firebase-tools:** 10.2.0

**Platform:** Ubuntu

### [REQUIRED] Test case

Run `firebase login:ci --no-localhost`, then try to deploy (`firebase deploy --token ...`)

### [REQUIRED] Steps to reproduce

1) firebase login:ci --no-localhost
2) firebase deploy --token ...

### [REQUIRED] Expected behavior

The token generated shoud work to deploy the project, just lik

[2022-02-14 10:00] benbenzy commented on #2385
my local hos is running well but the moment i try to deploy then it cant deploy

[2022-02-14 12:55] pridees opened #4160 "Upgrade from 10.1.2 to 10.2.0 breaks emulators launch"
### [REQUIRED] Environment info

**firebase-tools:** 10.2.0 (with version 10.1.2 works fine)

**Platform:** macOS Monterey 12.2.1

### [REQUIRED] Test case

* Upgrade firebase-tools 10.1.2 to 10.2.0
* Run emulators with filling **CLOUD_RUNTIME_CONFIG** from `.runtimeconfig.json`

### [REQUIRED] Steps to reproduce

#### Commands

* `firebase functions:config:get > $(CURRENT_DIR)/functions/.runtimec

[2022-02-14 13:19] LauDijksterhuis commented on #3990
Hi @josefnorlin ,
Today I found an option which might help you.

### Workaround:
When saving data on export `--export-on-exit`  you get a json file which contains all accounts.
There you can change the "emailverified" to true.

Next time you launch the emulators, add the --import flag and your account will be verified.

The command I always use is: `firebase emulators:start --import=./.firebase --

[2022-02-14 17:40] charlesfries commented on #4158
@eriklundstrom that doesn't fix it for me, the functions build with that change but if you then call them you'll see the same errors.

[2022-02-14 18:22] #4160 closed

[2022-02-14 18:28] taeold commented on #4158
Hey folks thanks for reporting the issue and chiming in.

Looks like one obvious bug is that functions config are no longer loaded when trying to parse function triggers defined in the source.

@spicemix Your reported issue is alarming. Could you help us out by filing another bug w/ a small reproducible issue if you have time?

[2022-02-14 20:42] inlined commented on #4155
The latest version of TypeScript _does_ make breaking changes if some linter settings are set (e.g. in the CLI we had to annotate all of our catch blocks to explicitly list `any` as the caught type even though that was disallowed in previous versions of TypeScript). That being said, I agree that we should update to the latest and greatest. Let's set the version to `^4.5.4`.

[2022-02-14 21:18] #4098 closed

[2022-02-14 21:19] yuchenshi commented on #4145
Duplicate of #4157

[2022-02-14 21:19] #4145 closed

[2022-02-14 21:22] yuchenshi commented on #1868
While actually solving the problem is hard, I think we can at least add a warning when trying to use standalone CLI build with scripts that requires `node` / `npm`. Keeping the issue open to track that

[2022-02-14 21:24] joehan commented on #2677
Hi @MatthewPatience - looking through the codebase, this chunk of code is only ever used for Functions and Extensions. If you are experiencing a similar issue for hosting, can you open a separate issue on this repo?

[2022-02-14 21:25] yuchenshi commented on #1676
@inlined Any thoughts?

[2022-02-14 21:28] yuchenshi commented on #4142
Each version of CLI comes with a version of the Firestore emulator and is designed to work with that version. I think you may have two different versions of Firebase CLI (`firebase-tools`) installed -- would you mind double checking `firebase --version` in each step?

Note that if you have `firebase-tools` installed as a **local** dependency (i.e. in `package.json`), a `npm run` script will use th

[2022-02-14 21:29] yuchenshi commented on #2995
Closing as transient

[2022-02-14 21:29] #2995 closed

[2022-02-14 21:47] TacB0sS opened #4164 "While running with Firestore Emulator cannot access remote Firestore db on other projects"
### [REQUIRED] Environment info

firebase tools: 10.2.0
node: 16
i  firestore: cloud-firestore-emulator-v1.13.1.jar...
i  database: firebase-database-emulator-v4.7.3.jar...
i  pubsub: pubsub-emulator-0.1.0.zip...
i  storage: cloud-storage-rules-runtime-v1.0.1.jar...
i  ui: ui-v1.6.4.zip...

macOS

### [REQUIRED] Test case
[code]

### [REQUIRED] Steps to reproduce
* initialize local emulator firest

[2022-02-14 21:52] TacB0sS commented on #4164
if I remove the Firestore emulator config from the firebase.json, everything works as expected..

[2022-02-15 01:21] yuchenshi commented on #4163
Did you mean *Storage* emulator instead of Firestore? How are you uploading the file? via Emulator UI or SDK (what platform and version)?

Also, would you mind sharing your OS and version? Are you using a M1 Macbook by any chance?

[2022-02-15 02:09] tehkokhow commented on #3716
How about the `firebase.json`? It has `runtime` parameter. Why not including the runtime specifications in the file?

[2022-02-15 02:39] dahu33 commented on #4112
Super annoying, not only there is no way to load config values from a json file (https://github.com/firebase/firebase-tools/issues/406 should be reopened), but also the clone function is broken...

[2022-02-15 06:59] antoniooi commented on #4158
Greatly appreciated if the fix can be expedited as our work has been stopped for more than 3 days. Our code depends too much on the cloud functions environment variables for our email notifications to be sent programmatically through the OAuth2 credentials stored in it. We're unable to do the testing and debugging for the new features of our app to be rolled out on time.

If this is gonna take tim

[2022-02-15 08:53] maganap commented on #4112
@dahu33 While waiting for the fix, you can always go back to v9, clone, then come back to newest, like:

[code]

On the other hand, I agree with [@mbleigh's comment](https://github.com/firebase/firebase-tools/issues/406#issuecomment-316774781), allowing to load from a file will only encourage bad practices.

The secret keys you're storing in your runtime config usually belong to another service (S

[2022-02-15 09:15] moses-20 commented on #4163
Oh sorry, I meant the Storage emulator

But I think I found the problem.
I had the emulator exports folder hidden with VS Code settings.

It works now.

[2022-02-15 09:15] #4163 closed

[2022-02-15 09:16] spicemix commented on #4158
@antoniooi

[code]

If that turns out somehow "unsafe" for you, this will get you back to where we are now:

[code]

[2022-02-15 09:19] spicemix commented on #4158
@taeold I think the repro for me would just be scheduled functions in the emulator as in #2034 The workaround I'm using is based upon `SetInterval()`. It may be that 10.2 emulator goes to sleep instead of respecting the `SetInterval` workaround? I noticed someone has used a workaround in the past using a `wget` loop in the shell rather than an internal SetInterval which might work in 10.2.

But ri

[2022-02-15 09:30] antoniooi commented on #4158
@spicemix

Thank you so much! Do I need to issue this first for a cleaner downgrade? Would that cause any side effect?
`npm remove -g firebase-tools`
then only:
`npm i -g firebase-tools@10.1.5`

[2022-02-15 10:47] alexboboc commented on #3550
Same here on an Intel. Allowing all requests also fixes the issue.

[2022-02-15 15:23] cybex-dev opened #4166 "Debuggers (Webstorm/VSCode) not attaching to emulators on versions >10.2.0"
I'm filling this bug report more as an issue rather than a bug. The reason for it being a bug report is I've attempted debugging on multiple OS's on my PC (Windows, Ubuntu) and a Mac, none of which allow the debugger to attach. I thus resolved to start from scratch and work my way up to finding the problem. This isn't working out as even the simplest firebase project can't be debugged. This is aft

[2022-02-15 15:45] cybex-dev commented on #4166
After some experimenting, the issue has been found that `firebase-tools`: "^10.2.0" have issues while debugging as described above. Last working is `^10.1.5`.

[2022-02-15 16:10] rcb4t2 commented on #2570
+1 from us! We need to be able to specify an emulator port for each of the hosting targets defined in our config

In our use case, we have rewrites to triggered functions on one of our hosting targets. In order to test in development, we have to duplicate those rewrites over to the main target. Since we assign the url's programmatically, it's not feasible to fetch the port from the firebase-tools

[2022-02-15 16:52] inlined commented on #4134
Psychic debugging: GCS supports AWS S3's APIs, which are XML based. It's possible that the error message we're getting here is in XML. The XML error is likely telling you that 100MB is larger than the limit allowed by the signed upload request.

[2022-02-15 17:01] taeold commented on #4158
@antoniooi Generally, you don't need to issue the `remove` command.

To double check, print the version after you run your command:

[code]

[2022-02-15 17:09] isegal commented on #4166
Having the same issue. Confirmed that the issue goes away after downgrading from 10.2 to 10.1.5

We also see a message when debugging is working:
[code]
But in the newer version we do not.

[2022-02-16 00:22] fredzqm commented on #4165
What's your local jdk version?
I am trying to reproduce this.

[2022-02-16 00:29] Stas1967 commented on #4165
Checking with cmd (java -version) i find this.
openjdk version "1.8.0_302"
OpenJDK Runtime Environment (Temurin)(build 1.8.0_302-b08)
OpenJDK 64-Bit Server VM (Temurin)(build 25.302-b08, mixed mode)

[2022-02-16 01:24] inlined commented on #1676
We're looking into deeper investments with Cloud Run, but we're spread very thin and I don't suspect a Cloud Run emulator is on the horizon any time soon. I have two consolations for you:

1. Cloud Run is on our _long_ term roadmap. We will eventually have better tooling and we hope it'll blow you away
2. Cloud Functions gen 2 is on our _short_ term roadmap. This will help people who are leaving G

[2022-02-16 05:55] antoniooi commented on #4158
Ok guys, rolling back to `10.1.5` allows our team to proceed their work, thanks a lot!
`npm i -g firebase-tools@10.1.5`
Looking forward for the new bug-fixed version to be released. Thanks again!

[2022-02-16 16:08] guyjoseph commented on #4166
I have also had the same thing after upgrading to 10.2.0.  Couldn't get VS Code Debugger to attach, the VS Code log stated

Did a global uninstall of firebase-tools, the reinstalled 10.1.5.

Thanks for the help with this, took me a while to find the solution, but hopefully a fix will be applied soon.

[2022-02-16 17:28] Junaid-Ahm opened #4170 "Request to add/link new provider to the account results in 501"
### [REQUIRED] Environment info

**firebase-tools:** 10.20.0

**Platform:** Ubuntu 20.04 x86_64

### [REQUIRED] Test case

This issue is only happening in emulator. Works fine with actual firebase project.

[code]

### [REQUIRED] Steps to reproduce

1. Create an account in emulator (eg via firebase admin SDK's create user)
2. Attempt to add/link new provider to the existing account via update user

[2022-02-16 17:52] Alex-Bubblemaster opened #4171 "HTTPS trigger securityLevel is overwritten on function re-deploy"
### [REQUIRED] Environment info

**firebase-tools:** 10.2.0

**Platform:** macOS

### [REQUIRED] Test case

Using the [getting started with Firebase functions](https://firebase.google.com/docs/functions/get-started) article deploy and redeploy a function. The Require HTTPs flag is removed when the function is updated.

### [REQUIRED] Steps to reproduce

1. Create a GCP project in the Cloud Console

[2022-02-16 21:24] #4112 closed

[2022-02-16 22:16] #4157 closed

[2022-02-16 23:17] quantuminformation opened #4176 "firebase projects:list fails with error"
Trying to start a new project and installed firebase tools

### [REQUIRED] Environment info

firebase-tools: 10.2.0

Platform: MacOS JavaScript sdk

### [REQUIRED] Test case

trying to generate project or list after I logged in from the cli

### [REQUIRED] Steps to reproduce
git:(master) ✗ firebase projects:list
✖ Preparing the list of your Firebase projects

Error: Failed to list Firebase project

[2022-02-17 01:55] AdamTeodoro opened #4185 "[Firestore] [Functions]"
On execute:
`firebase deploy --only functions `

i receive the error:
[code]

[2022-02-17 05:19] inlined commented on #4171
@colerogers Solving this directly in the `functionFromEndpoint` code is technically a breaking change because it would set the value on existing functions which might rely on HTTP traffic. I'd take a look at `proto.fieldMasks` to not include a property as a field mask if it's an empty object.

[2022-02-17 06:33] thechefchen commented on #2421
Hey, this is still happening. Scenario is that Windows developers save to this file and Mac developers couldn't import the data.

[2022-02-17 08:34] faizananwerali commented on #2856
This is the command I use after installing kill-port

`kill-port --port 8000,9099,5001,8080,9000,5000,8085,9199,4000,4400,4500 && firebase emulators:start --project default`

[2022-02-17 09:24] vishen commented on #3919
We are also experiencing something similar with about 80 functions where 5-6 regularly fail. We are currently on version `10.1.4`.

[code]

[2022-02-17 11:11] JFGHT commented on #4134
I am having:

`[info] i  functions: preparing functions directory for uploading...
[info] i  functions: packaged functions (975.62 KB) for uploading `

And then getting the same error.

[2022-02-17 12:59] taeold commented on #4134
@JFGHT How big is your package? Is it close to 100MB?

I'm wondering if there is a slight difference in your local copy vs in your CircleCI build that is triggering the 100MB upload limit.

[2022-02-17 13:11] JFGHT commented on #4134
As you can see there, in CircleCI it's `i functions: packaged functions (418.87 KB) for uploading`.

[2022-02-17 13:20] JFGHT commented on #4134
I connected via SSH to CircleCI's job and I found out that running firebase from the root instead of the functions folder is the problem.

Scaffolding is as this:

---functions
------node_modules
------src
---node_modules
---src

So I was using firebase-tools from the root `node_modules` instead of the one from `functions`, but versions are the same, there should not be any problem...

[2022-02-17 14:28] taeold commented on #4134
@JFGHT Whoops thanks for pointing out the obvious error message I missed.

I'm going to work on fixing https://github.com/firebase/firebase-tools/issues/4146 so we get a better error message for your issue. Right now, whatever error message returned from GCS is being gobbled up because it's in XML. Hopefully, we can get the fix out soon and we will be able to figure out exactly what's going on in

[2022-02-17 16:03] bkendall commented on #4176
Can you try re-logging in with `firebase login --reauth` and try this again? Seems like your auth/refresh token might be invalid.

[2022-02-17 16:59] #2558 closed

[2022-02-17 18:09] mcmillion opened #4181 "Fresh `firebase init functions` TypeScript build fails with type errors"
### [REQUIRED] Environment info

**firebase-tools:** 10.2.0

**Platform:** macOS

### [REQUIRED] Test case

Using current latest firebase-tools, a freshly-created TypeScript functions project fails to build with type errors in `google-gax`.

### [REQUIRED] Steps to reproduce

[code]

### [REQUIRED] Expected behavior

The project builds

### [REQUIRED] Actual behavior

`tsc` fails with:

[code]

Th

[2022-02-17 18:22] tanktejas commented on #1442
firebase kabada he

[2022-02-17 18:28] StephenHodgson opened #4183 "Unable to upload app to distribution when app has not been released on play store"
[Fastlane](https://docs.fastlane.tools/getting-started/android/beta-deployment/#uploading-your-app), [Firebase REST API](https://firebase.google.com/docs/reference/app-distribution/rest/v1/upload.v1.projects.apps.releases/upload), [gradle](https://firebase.google.com/docs/app-distribution/android/distribute-gradle), and [firebase console in web browser](https://firebase.google.com/docs/app-distrib

[2022-02-17 18:30] #4146 closed

[2022-02-17 19:54] quantuminformation commented on #4176
thanks, that fixed it

[2022-02-17 19:55] quantuminformation commented on #4176
did you get my BAT tip @bkendall ?

[2022-02-17 21:50] markdagraca opened #4189 "Local Function Emulator Triggering wrong function"
Trying to run my react typescript project using Local Emulator and it is triggering the wrong function when called from the front end. Code is working perfectly in the production and test environment but not in Local

[2022-02-17 23:10] markdagraca commented on #4189
Downgraded to 10.1.5 and it appears to be working properly but I'm now missing env variables features found in 10.2

[2022-02-18 02:36] xxdd13 opened #4192 "environment variable using .env doesn't seem to update"
### [REQUIRED] Environment info

**firebase-tools:** 10.2.1

**Platform:** macOS 12

### [REQUIRED] Test case

Using .env, set NAME="AAA" and deploy a v2 function. Then change NAME in the .env file to something else, such as "BBB" and redeploy the function. The environment variable should be updated but doesn't.

### [REQUIRED] Steps to reproduce

Initialize a new project with firebase-tools, I ch

[2022-02-18 02:50] dimavedenyapin commented on #4181
The same error started happening 9 hours ago in my project that doesn't use firebase at all.

we use these packages
[code]

Issue happens on build

[2022-02-18 12:44] JFGHT commented on #4134
@taeold Surprsingly, no error was shown after updating to the new version. I wonder what change could have affected beside your better error handling.

[2022-02-18 16:44] AdamTeodoro commented on #4185
i solved the problem, thanks for yours commentarys!

[2022-02-18 16:58] sajid626 opened #4193 "Mr"
Please submit feature requests through our [support page](https://firebase.google.com/support/troubleshooter/report/features/).
- [ ] Yas

[2022-02-18 17:13] #4185 closed

[2022-02-18 18:03] #4193 closed

[2022-02-18 19:38] treeder commented on #3922
Anyone figured out how to do this yet?

[2022-02-18 20:03] treeder commented on #3922
There needs to be a `--no-localhost` flag on `init` like there is with `firebaes login --no-localhost`

[2022-02-18 20:39] taeold commented on #3106
I just gave a try in my project, and commands like below worked as expected:

[code]

Maybe we silently made a bugfix in between the report of this bug and today. Can folks give the latest CLI version a try? @Hivemind9000 @nirinsanity

[2022-02-18 22:18] aramael opened #4199 "404 Artifact Registry GCP Dashboard Redirect"
### [REQUIRED] Environment info

**node:** v16.11.1

**firebase-functions:** 3.18.1

**firebase-tools:** 10.2.1

**firebase-admin:** 10.0.2

**Platform:** macOS 12.2.1

### [REQUIRED] Test case

When an unhandled error occurs and `firebase-tools` is unable to clean up build images, it notifies the user to navigate to an inaccessible page on the GCP dashboard.

### [REQUIRED] Steps to reproduce

1.

[2022-02-18 23:05] Hivemind9000 commented on #3106
Thanks @taeold. Tried it this morning and it's working fine now. I have been avoiding using the deploy command like this since I posted here, so am unsure when exactly it was fixed. Cheers.

[2022-02-19 00:42] #4058 closed

[2022-02-19 16:54] Albertbol commented on #4189
exactly the same issue for the node js environment, all latest libraries
[code]

[2022-02-19 16:57] Albertbol commented on #4166
Exactly the same issue + this ticket https://github.com/firebase/firebase-tools/issues/4189 is a related issue. I was trying to understand the problem for 3 days, glad I found that its not my setup :D

[2022-02-19 17:41] kinggolf opened #4200 "`runtime` field is required but was not found in firebase.json"
### [REQUIRED] Environment info
firebase --version
10.2.1

macOS Monterey 12.2.1

### [REQUIRED] Test case
'functions' section in firebase.json:
[code]

### [REQUIRED] Steps to reproduce
Run `firebase emulators:start`

### [REQUIRED] Expected behavior
Emulator to successfully start up.

### [REQUIRED] Actual behavior
Error: `runtime` field is required but was not found in firebase.json.
To fix thi

[2022-02-20 10:33] risalfajar commented on #3405
It has been several months, is there any update?

[2022-02-20 19:11] eugvb commented on #4142
I've solved this issue only after downgrading nodejs to v14.
This solutions helped me (Windows 10) and also it helped my colleague (macOS).

I have found local dependency firebase-tools:^8.0.0, right now, but in parent directory package.json, may be with nodejs v16 it couse problem

[2022-02-20 19:11] #4142 closed

[2022-02-20 20:28] colerogers commented on #3982
@raul-madrigal Instead of checking out the container image, can I ask you to look inside the uploaded zip of the functions directory? It will be easier to debug what is actually being sent to Google Cloud from the CLI. The zip is located in a Cloud Storage Bucket titled `gcf-sources-${project-number}-${region}`. Simply download the zip and inspect in locally. If that directory contains the `node_m

[2022-02-20 21:38] roobd commented on #4189
I have the same issue that my function triggers are not working anymore after the upgrade to 10.2.1.
There is only one onCreate function triggered all the time, even a creation on a completely different document path is triggering this one function.

A downgrade to 10.2.0. does not fix the issue.

I use firebase-functions at version 3.18.1

A downgrade to 10.1.5 is fixing the issue and all trigger

[2022-02-21 03:45] Thaina commented on #1908
At least I have seen `local-web-server` on npm doing well on `--https` under Windows. It's fine for us to have insecure page that need to press advance in browser. Or are there any more than that firebase need to do?

[2022-02-21 03:53] taeold commented on #3106
@Hivemind9000 Good to know. @nirinsanity Closing the issue for now. Let us know if you continue to have issues.

[2022-02-21 03:53] #3106 closed

[2022-02-21 04:01] nirinsanity commented on #3106
I will try using the command in the coming few days and I'll try to update here once it's successful.

[2022-02-21 08:29] dallarosa commented on #4116
Went through the same problem and found out that the problem was java missing after looking at firestore-debug.log

[2022-02-21 15:52] raul-madrigal commented on #3982
@colerogers thanks for helping out, by inspecting the zip file I can see only the files I'm not ignoring, `node_modules` is not part of it, meaning the CLI does work as expected.

[2022-02-21 15:52] #3982 closed

[2022-02-21 15:53] brianmhunt opened #4201 "Allow emulator writeable `publicUrl` to for `getSignedURL`"
We use signed URLs to create writeable destinations for things like caching and intermediary steps.  We would like to run this functionality in isolation so we can test it in CI and develop locally (and specifically without service account credentials). This does not seem to currently be possible with the Firebase Emulator.

We use the live production API to produce a `PUT` URL like this:

[code]

[2022-02-21 16:32] GrandSchtroumpf opened #4202 "[emulator] onMetadataUpdate triggers on img uploaded"
### [REQUIRED] Environment info

**firebase-tools:** 10.2.0
**Platform:** Windows

### [REQUIRED] Test case
In the emulator `onMetadataUpdate` triggers on upload in the storage while this is not the case with the online version.

### [REQUIRED] Steps to reproduce
Using the emulators suite, in a cloud function create two triggers :
[code]

Upload an image on the bucket: both methods are triggered.

[2022-02-22 12:59] iboxgithub commented on #3976
Don't know if it's related but I also can't make the Emulators work anymore if Firestore is included.
To reproduce, simply run `firebase init` in an empty folder and try to add at least Functions, Storage and Firestore.
The error I get is `Error: TIMEOUT: Port 8085 on localhost was not active within 60000ms`

[2022-02-22 13:01] rscotten opened #4203 "HTTP Error: 400, Unknown Error for exceeding the Cloud Function Max deployment size"
### [REQUIRED] Environment info

**firebase-tools: 9.16.5**

**Platform: macOS**

### [REQUIRED] Test case

Unnecessary for this bug; just improve the server-side error messaging.

### [REQUIRED] Steps to reproduce

The Cloud Function Max Deployment size is:

100MB (compressed) for sources.
500MB (uncompressed) for sources plus modules

[Source](https://firebase.google.com/docs/functions/quotas)

[2022-02-22 15:35] grantkemp commented on #3875
Potential Workaround -  for those who just want to run hosting locally - there is a port flag on the serve command you can use:
`firebase serve --port 5050 ` worked for me to force hosting to use port 5050.

[2022-02-22 16:20] bkendall commented on #4203
I believe #4180 helped to address this - if you update to the latest firebase-tools, you *should* see different error messaging. @taeold to confirm...

[2022-02-22 17:06] taeold commented on #4203
@bkendall @rscotten That's right. The latest release should give you slightly better error message, e.g.

[code]

Can you give the latest version a spin and let us know?

[2022-02-22 17:47] rscotten commented on #4203
@bkendall @taeold

I updated to version 10.2.1 and got the same "Unknown Error" error:

<img width="611" alt="Screen Shot 2022-02-22 at 12 45 27 PM" src="https://user-images.githubusercontent.com/8073294/155189556-c05e8b17-cda7-4e36-aec8-97523a2ae755.png">

[2022-02-22 18:15] taeold commented on #4203
@rscotten Thanks for taking the time! I'll try to see what I missed in my last round 🤔

If you have sometime, I'd really appreciate if you can share the output of runnign `firebase deploy --only:functions --debug` (with the `--debug` flag) 🙏🏼 .

[2022-02-22 19:04] TheRealMikeD commented on #2837
I am experiencing this same issue.  I launch the emulator with the command:
`firebase serve --only functions,hosting --port 5005`

My timeout is set to 540, as follows:
`const app = express();`
`...`
`exports.app = functions.runWith({timeoutSeconds: 540}).https.onRequest(app);`

I feel like it used to work as expected, but I haven't attempted to run anything that takes longer than 60 seconds for a

[2022-02-22 19:09] rscotten commented on #4203
@taeold
[code]

[2022-02-22 19:28] taeold commented on #4181
@dimavedenyapin Thanks for sharing!

It looks like the upstream issue has been fixed. I confirmed locally that a newly initialized TS functions project don't have tsc issue described in the OP.

[2022-02-22 19:28] #4181 closed

[2022-02-22 21:29] taeold commented on #4200
@kinggolf Thanks for reporting the issue. I've reproduced the issue and am working on a fix.

[2022-02-22 21:40] taeold commented on #4189
We are taking a look at the issue. Sorry for the incovenience!

[2022-02-22 21:43] ggirotto commented on #4189
We were facing the same issue but it stopped happening yesterday.

[2022-02-22 21:56] taeold commented on #4158
Note that 10.2.1 includes the fix for the reported bug.

I think @spicemix's issue is separate and being reported on different issues (https://github.com/firebase/firebase-tools/issues/4189 and https://github.com/firebase/firebase-tools/issues/4166).

[2022-02-22 21:56] #4158 closed

[2022-02-22 22:09] taeold commented on #4203
@rscotten Huh I'm baffled. On my machine, the XML error does log nicely 🤔

Going to go off to see if I'm just a little too tired and now seeing an obvious bug.

[2022-02-23 02:07] taeold commented on #4202
@colerogers

[2022-02-23 05:07] tamakunay opened #4212 "new firebase init functions TypeScript fails on serve or build with errors"
### [REQUIRED] Environment info

**firebase-tools: 10.2.1

**Platform: macOS

### [REQUIRED] Test case
Using current latest firebase-tools, a freshly-created TypeScript functions project fails to run or deploy

### [REQUIRED] Steps to reproduce
mkdir test-project

cd test-project

firebase init functions

<follow prompts and pick TypeScript and ESLint config>

cd functions

npm run serve / deploy

[2022-02-23 06:32] tamakunay commented on #4212
not sure why but if I add
"skipLibCheck": true, in tsconfig file its ok but if not then won't work
based on this
#749

[2022-02-23 11:26] digibake commented on #4212
Thanks @tamakunay,

Adding "skipLibCheck": true inside compilerOptions (tsconfig.json) has solved the issue for me too, as a temporary solution.

[2022-02-23 14:59] volkyeth commented on #2837
Also experiencing this from `v1.2.0` onwards
Reverting to `v10.1.5` solves it

[2022-02-23 15:04] volkyeth commented on #2837
Yeah, it's an undocumented breaking change on v10.2.0:
https://github.com/firebase/firebase-tools/compare/v10.1.5...v10.2.0#diff-0366293848c53849685ead9c0871e6ab4c0b2232ebdb379ba79a6def21f99fc3R972-R985

[2022-02-23 19:52] #4192 closed

[2022-02-23 23:17] taeold commented on #4212
hmm this looks similar to https://github.com/firebase/firebase-tools/issues/4181, but from a different package.

Root issuse: https://github.com/googleapis/nodejs-common/issues/734

[2022-02-23 23:22] taeold commented on #4212
It looks like @google-cloud/common v3.10.0 (released today) should fix this. A clean install would probably make the error go away.

Let us know if anyone is still having troubles.

[2022-02-24 00:38] #4202 closed

[2022-02-24 04:15] tamakunay commented on #4212
@taeold a clean install works fine now without the need to add "skipLibCheck": true
thanks for the update

[2022-02-24 08:27] gustavrannestig commented on #4189
I have the same issue. From what I can see the patterin is that it seems to be stuck on the first called function.

So when I restart the emulators, I can choose what function to use for that "session" by firing that first. But then I can't switch and call another function without restarting.

So I'm guessing some sort of cache bug? :)

[2022-02-24 10:54] haroldadmin commented on #4189
Can confirm, facing the same issue that @gustavrannestig described. It keeps triggering the first triggered function for any subsequent API calls.

[2022-02-24 13:21] taeold commented on #4189
Been investigating the issue, and @gustavrannestig's description helps a ton. Will post an update here once I get a sense of the bug - apologies to everyone for the inconvenience.

[2022-02-24 14:51] Zebreus commented on #4189
I also have the same issue. The first triggered function is called for any subsequent API calls.
The first bad firebase-tools version is 10.2.0.
The issue only happens, when the functions emulator is in debug mode.

[2022-02-24 16:55] julschwarz commented on #2606
Running in the same issue with about 130 GCFs. For function groups the[ official recommendation](https://firebase.google.com/docs/cli#deploy_specific_functions) sais to not deploy more than 10 at a time. Deploying in batches fixes CI deploy but the pipeline takes forever.

[2022-02-24 18:56] taeold commented on #4189
@Zebreus Thanks for a very helpful pointer.

Is everyone reporting the issue also starting the emulator with `--inspect-functions` flag?

[2022-02-24 19:15] taeold commented on #4201
@brianmhunt Thanks for a thorough writeup. We are currently very shortstaffed on the storage emulators, but I'll try to get the attention of folks who might be more informed than myself.

[2022-02-24 19:30] SamLoy commented on #2606
This is what I do. I love shipping my software 10% at a time

[2022-02-24 22:41] markdagraca commented on #4189
Yes im using the following command to launch the tool firebase
emulators:start --inspect-functions --export-on-exit=./saved-data
--import=./saved-data

On Thu, Feb 24, 2022 at 10:56 AM Daniel Lee ***@***.***>
wrote:

[2022-02-24 22:41] markdagraca commented on #4189
What @Zebreus said is exactly what I was experiencing

[2022-02-25 02:27] drmanojgrg commented on #2791
no solving yet

[2022-02-25 04:08] ebeloded opened #4221 "Unmet peer dependency warning (marked-terminal -> marked)"
### [REQUIRED] Environment info

**firebase-tools:** 10.2.1

**Platform:** macOS

### [REQUIRED] Test case

Installing firebase tools produces peer dependency warning

![CleanShot 2022-02-25 at 11 06 18](https://user-images.githubusercontent.com/5859177/155651821-75bae13f-6c19-402c-bda3-b6c9b916d825.png)

### [REQUIRED] Steps to reproduce

```pnpm install firebase-tools```

### [REQUIRED] Expected

[2022-02-25 07:17] melih-veloxia commented on #4183
We're facing the same issue with Firebase CLI uploads right now.

[2022-02-25 13:56] gustavrannestig commented on #4189
@taeold yes I'm also running the emulators with `--inspect-functions`

[2022-02-25 14:06] brianmhunt commented on #4201
Thanks @taeold, very much appreciated.

[2022-02-25 14:35] ranajahanzaib commented on #641
In my case, it was because the **Firebase CLI** didn't have the necessary permissions to access the repo in the GitHub org. This is required to enable CI/CD with GitHub Actions. In order for Firebase CLI to store secrets to repo/org, you must grant GitHub org access. You can do so by going to the **Authorized OAuth Apps** tab in [Settings/Applications](https://github.com/settings/connections/appli

[2022-02-25 14:50] tommyzat opened #4222 "Firebase cloud messaging topics not functional in emulator"
Hello! I'm trying to test FCM using firebase emulator, however it isn't functional. For instance:

[code]

This shows an error in the console:
[code]

Note, this only happens for FCM topics. I am using the emulators on a Windows 10 machine.

[2022-02-25 18:16] joehan commented on #4221
Thanks for reporting this! Upgrading to the latest version of marked-terminal would fix this - however, the latest version of marked-terminal requires node 14 & this repository is still on node 12 due to other dependencies. When we upgrade the node version for firebase-tools, we will definitely upgrade to the latest version of marked-terminal as well.

Fortunately, for now, this warning is nothing

[2022-02-25 18:44] #3760 closed

[2022-02-25 23:29] #4171 closed

[2022-02-25 23:44] nikgavalas commented on #4189
I removed the `--inspect-functions` flag and everything seems to work just fine. If I add it in I can confirm that the issue occurs again. Hopefully that helps in tracking down the fix!

[2022-02-26 01:43] DavidDTA commented on #3293
Have you found any workaround for this?  I'm running into the same issue.

[2022-02-26 21:23] jpangburn commented on #4154
This might be a regression.  I have a similar setup and this used to work- my physical device is showing old data from when it was able to connect to Firestore emulator.  But now I see this same error over and over in the logs that @Vluf reports.  I haven't used the physical device in a week or so.  I tried another physical device, same results.

I've also verified from Safari on my mobile device

[2022-02-27 10:18] emilioschepis commented on #3676
Hi @taeold, any news on this issue? Thanks.

[2022-02-27 12:28] IzumiSy commented on #3293
No, I haven't. I am still waiting for getting this issue fixed.

[2022-02-28 01:32] pklitscher opened #4227 "Firebase emulator does not work when exposing site via tunnel (i.e. localtunnel). Missing header Access-Control-Allow-Private-Network"
### [REQUIRED] Environment info

**firebase-tools:** 10.2.1

**Platform:** Windows 10

### [REQUIRED] Test case
Attempt to create a user and sign them in when file is exposed via a tunnel.

1. Setup a firebase project with hosting and emulators
2. Replace index.html in public folder with below
3. Emulate project

[code]

### [REQUIRED] Steps to reproduce

1. Navigate to localhost:5000 (or your pat

[2022-02-28 07:46] inouiw commented on #1541
For me the emulator freezes after I call a function that calls `await admin.auth() .createUser({...` and `await admin.auth().setCustomUserClaims(` while debugging. Currently I do not have time to evaluate exactly when the emulator is freezing but maybe others have similar issues.
So I can debug the initial call but need to restart the emulator after that.

[2022-02-28 09:33] doo-gl commented on #4189
Similar issue, starting the emulator, it will repeatedly run whatever was the initial function regardless of what path is used.

Downgrading to 10.1.5 resolves the issue for now.

For those looking for what to do, run:
[code]
check your running version is 10.1.5 using
[code]
If it is still 10.2.x, restart your terminal.

[2022-02-28 13:37] bytewiz opened #4228 "functions (emulator): Error: The downloaded data did not match the data from the server. To be sure the content is the same, you should download the file again."
### [REQUIRED] Environment info

**firebase-tools:** firebase-tools@9.12.1

**Platform:** Firebase Functions

### [REQUIRED] Test case

I followed and used the sample in functions-samples to generate a thumbnail of the image uploaded, which is a trigger on storage. It works fine in the regular environment. This error pops up when the file is uploaded and the function trigged by new file is fired.

[2022-02-28 16:56] StephenHodgson commented on #4183
Did a deep dive into the code today.

Here's the line in question:
https://github.com/firebase/firebase-tools/blob/4349494edcdba5fb6ae66df13591bf2e6ea2c360/src/commands/appdistribution-distribute.ts#L81

It seems to me that this likely shouldn't be an error but maybe a warning.

[2022-02-28 18:40] #4200 closed

[2022-02-28 21:05] yuchenshi commented on #4183
@tonybaroneee Would you mind looking into this or pass this on to the right person?

[2022-02-28 21:09] yuchenshi commented on #4228
@bytewiz Would you mind posting the full stack trace? That can help us triage if this is an issue in functions emulator, storage emulator, or the sample code.

[2022-02-28 21:13] yuchenshi commented on #4222
The Emulator Suite does not support FCM (yet). Is it possible you're getting the error because the code is talking to the production server? If a FCM emulator is what you want, please open a feature request instead.

[2022-02-28 21:13] #4222 closed

[2022-02-28 21:18] yuchenshi commented on #3976
@iboxgithub Would you mind opening  a different issue for that?

[2022-02-28 21:19] TheRealMikeD commented on #2988
Hey all.  I am getting a similar issue from within an app running in production on Cloud Functions.
In production, I am using the [bountyrush](https://github.com/bountyrush/nodejs-firestore) library for interacting with Firestore rather than the Firebase library.  When running simple queries, I sometimes get the following error:
`request to https://firestore.googleapis.com/v1/projects/[projectname

[2022-02-28 21:25] #2671 closed

[2022-02-28 21:26] yuchenshi commented on #3600
Workaround was released (#4127), repurpose this issue to track potentially revisiting the deletion behavior

[2022-02-28 21:46] lfkellogg commented on #4183
Hi @StephenHodgson - to clarify, are you uploading AABs or APKs?

(For AABs, the app does in fact have to be published in Google Play. The specific requirements are listed in the AAB setup documentation for each client, under [Before you begin](https://firebase.google.com/docs/app-distribution/android/distribute-fastlane?apptype=aab#before_you_begin).)

[2022-02-28 22:29] jpangburn commented on #4154
I had the following line to turn off persistence:

`firestore.settings = const Settings(persistenceEnabled: false);`

This was there because it says to turn off persistence with the emulator (although I admit I don't really understand why) [https://firebase.google.com/docs/emulator-suite/connect_firestore](https://firebase.google.com/docs/emulator-suite/connect_firestore).  When I removed this the

[2022-02-28 23:57] ittaboba commented on #3390
I am blocked too. Could you please fix?

[2022-03-01 00:15] StephenHodgson commented on #4183
@lfkellogg I was building an apk to upload

[2022-03-01 00:24] StephenHodgson commented on #4183
I tested with both abb and apk versions and the other distribution tools listed above still allows you to upload to firebase without it being published on google play.

[2022-03-01 01:32] lfkellogg commented on #4183
@StephenHodgson OK, thanks.

Can you please provide the full debug logs (using the `--debug` flag) from when you run the `appdistribution:distribute` command (removing any sensitive information first, such as email addresses or app IDs)?

[2022-03-01 03:12] angelzarazua commented on #4222
Thanks for the answer, i spent 3 days trying to figure this out.

[2022-03-01 19:25] codingraj3427 commented on #314
please login then run firebase init

[2022-03-01 22:03] yuchenshi commented on #4129
Hi @Albertbol and thanks for bringing this up.

The Firestore Emulator is built with accuracy instead of performance in mind, and thus it does not offer real support of indexing and won't accelerate the requests right now. In general, we don't recommend testing a huge workload on your local device -- depending on your device performance, even just loading these documents may cause severe lags and

[2022-03-01 22:06] Vixxd commented on #2193
As per a [StackOverflow post](https://stackoverflow.com/a/53225013/2129422) I found, changing `$RESOURCE_DIR` to `%RESOURCE_DIR%` in `firebase.json` worked for me. It had been deploying as expected up until I moved firebase.json from a parent folder into the root of the project.

[2022-03-01 22:24] yuchenshi commented on #4164
Mixing production and emulator usage is discouraged and as you may have seen, we're trying to make it hard to accidentally hit production. Would you mind sharing your use case (e.g. why would you want to talk to both at the same time)? We may be able to find a higher-level solution.

If mixing is still what you want to do, unfortunately, you may have to jump through hoops to find a workaround. If

[2022-03-01 22:28] yuchenshi commented on #4170
Hi, thanks for filing this issue! We are unable to promise any timeline for this, but if others also have this issue, adding a +1 on this issue can help us prioritize adding this to the roadmap.

(Googler-only internal tracking bug: b/222136653)

[2022-03-01 22:36] yuchenshi commented on #4227
It looks like you're trying to expose a site to the public Internet, while still accessing the local Firebase Auth emulator. If this is the case, even if Chrome does not block the request, your request to the Auth emulator will still fail since it is trying to access `localhost` from a different device / network.

A more reasonable setup will be to expose Auth Emulator **in addition** to the websi

[2022-03-02 00:42] yuchenshi commented on #4227
Thanks for sharing the context and let me reopen this issue to talk more about the options here.

First of all, have you tried modifying the Auth Emulator code to add the header and see if it works for you? It may sound scary, but it is not -- the whole emulator is open source, and the CONTRIBUTING guide is easy to follow and contains the typical npm package dev setup. I see you've done some resea

[2022-03-02 00:53] yuchenshi commented on #4201
Hi, thanks for filing this issue! We are unable to promise any timeline for this, but if others also have this issue, adding a +1 on this issue can help us prioritize adding this to the roadmap.

(Googler-only internal tracking bug: b/222165794)

[2022-03-02 00:54] yuchenshi commented on #3293
Hi, thanks for filing this issue! We are unable to promise any timeline for this, but if others also have this issue, adding a +1 on this issue can help us prioritize adding this to the roadmap.

(Googler-only internal tracking bug: b/222165794)

[2022-03-02 00:56] yuchenshi commented on #4201
Hi, thanks for filing this feature request! We are unable to promise any timeline for this, but if others also have this request, adding a +1 on this issue can help us prioritize adding this to the roadmap.

(Googler-only internal tracking bug: b/222161599)

[2022-03-02 06:11] Jehong-Ahn opened #4237 "Reserved urls import problem."
### [REQUIRED] Environment info

**firebase-tools:** 10.2.1
**Platform:** Windows

### [REQUIRED] Test case

hosting below.
[code]

### [REQUIRED] Steps to reproduce

None.

### [REQUIRED] Expected behavior

1. No error.
2. The browser requests for two remote scripts.

### [REQUIRED] Actual behavior

1. Error `Service firestore is not available`
For debug, the firestore provider has no *component*

[2022-03-02 10:03] fthdgn opened #4238 "Cannot start function emulator on v10.2.1"
### [REQUIRED] Environment info

**firebase-tools:** 10.2.1

**Platform:** Windows

### [REQUIRED] Test case

https://gist.github.com/fthdgn/dd6baa2d76fd7cd292d320d2106d7e61

### [REQUIRED] Steps to reproduce

* Create project structure with files provided on gist link. You can download and unzip it.
* Replace `<REDACTED>` on`.firebaserc` with a valid Firebase project
* Run `npm install`
* Run `np

[2022-03-02 11:15] larrifax opened #4239 "Project-specific .env files aren't loaded when running functions emulator"
### [REQUIRED] Environment info

**firebase-tools:** 10.2.1

**Platform:** Ubuntu

### [REQUIRED] Test case

The documentation around environment variables using .env-files while using the local functions emulator states the following:

However, when running locally the project-specific .env file isn't even loaded, only the `.env` and `.env.local` is.
And indeed, the source code doesn't even attem

[2022-03-02 12:12] dalley8626 commented on #2994
Any update on this case, as i am still experiencing the same issue.
<img width="1248" alt="image" src="https://user-images.githubusercontent.com/28380930/156359336-4a6320c7-2c21-4b37-80fe-209ce4361aa9.png">

[2022-03-02 18:53] jaytavares commented on #4239
I'm seeing this same behavior.

[2022-03-02 19:00] #4155 closed

[2022-03-02 19:12] #4189 closed

[2022-03-02 22:20] AperanoGavin commented on #1442
use "brew install firebase-cli "

[2022-03-02 23:18] taeold commented on #4238
This seems like a duplicate of https://github.com/firebase/firebase-tools/issues/4200.

The latest CLI release (v10.2.2) released today contains fix for this.

Alternatively, you can set `node.engine` config in your `package.json`:

[code]

[2022-03-02 23:18] #4238 closed

[2022-03-02 23:20] taeold commented on #4239
Thanks for a thorough writeup. I think the documentation is right and the implementation is wrong. We will work on a fix to be shipped in the next release.

[2022-03-03 02:54] taeold commented on #4189
Hi folks. The patch for this issue was released today in firebase-tools v10.2.2. Please give it a spin and let us know if things are working expected.

[2022-03-03 02:58] taeold commented on #4166
Hi folks. The patch for this issue was released today in firebase-tools v10.2.2. Please give it a spin and let us know if things are working expected.

[2022-03-03 02:58] #4166 closed

[2022-03-03 11:15] mvdpas opened #4246 "Error: functions predeploy error: Command terminated with non-zero exit code1"
### [REQUIRED] Environment info

**firebase-tools:**

**Platform:**

### [REQUIRED] Test case

### [REQUIRED] Steps to reproduce

### [REQUIRED] Expected behavior

### [REQUIRED] Actual behavior

Ik draai CLI op windows 10 en hij zoekt dat in mijn downloaden naar weet ik vel index bestanden en er was via cli ingeloged in Githup uiteindelijk dacht ik met Deploy een website of/ terminal of/ webapp t

[2022-03-03 11:23] mvdpas commented on #4246
[VERPLICHT] Testcase
[VEREIST] Stappen om te reproduceren
[VEREIST] Verwacht gedrag
[VERPLICHT] Werkelijk gedrag

case, stappen (ik?),  dat het gaat werken,  error niet null exit code 1

[2022-03-03 11:33] mvdpas commented on #4246
Ik draai CLI op windows 10 en hij zoekt dat in downloaden naar mijn weet ik veel of/ index bestanden en er was via CLI ingelogd in Githup uiteindelijk bedacht ik (ik geloof dat hierstaat het uiteindelijke doel was om: "een tja website op internet metfirebase te deployen")

met Implementeer een website van/ terminal van/ webapp te deployen ofzo

[2022-03-03 11:36] mvdpas commented on #4246
Ik draai CLI op windows 10 en hij zoekt dan naar (een) bestand(en) / index bestanden en er was via CLI een verbinding met Github  en   doel was implementeren")

[2022-03-03 13:34] jeroenkroese commented on #4228
This could be related to https://github.com/firebase/firebase-tools/issues/3469 and a few other issues, which are supposedly solved by PR https://github.com/firebase/firebase-tools/pull/3647. However, this PR has been waiting for a review for a few months now.. Must be a frustrating experience for the contributing author @rhodgkins

[2022-03-04 01:12] trex-quo commented on #3919
I am frequently experiencing this issue as well while deploying over 100 functions. We deploy in groups and have created some parsing logic for our CI system, however it would be very convenient to have these auto-retry if we pass the deployment quota, or at least spit out a command after failure to deploy the rest of the functions (currently it just lists them).

The current text says "waiting to

[2022-03-04 03:03] jhubbardsf commented on #4020
@yaquawa I think I know what you're issue might be. Make sure you set an environmental variable FIRESTORE_EMULATOR_HOST to localhost:8080. For example, in my js seed scripts that insert data for my user I have

[code]

Before initializing the admin sdk.

[2022-03-04 04:22] yaquawa commented on #4020
@jhubbardsf Thanks, I solved this by set `process.env.GCLOUD_PROJECT` to my project name, where the doc says it could be any value which is not correct…

[2022-03-04 08:20] Alien10123 opened #4252 ""Failed to make request to https://firebase-public.firebaseio.com/cli.json" error when running firebase emulators."
### [REQUIRED] Environment info

**firebase-tools: 10.2.1**

**Platform: Ubuntu**

### [REQUIRED] Test case

### [REQUIRED] Steps to reproduce

Just run the firebase emulators. I was using auth and firstore if that makes any difference. I worked before but I just randomly stopped working yesterday (I think after I updated the package).

### [REQUIRED] Expected behavior

It should have started up t

[2022-03-04 15:50] jerwinaton commented on #1764
I solved mine, by running the cmd/terminal with admin priveleges

[2022-03-04 19:01] yuchenshi commented on #4227
Firestore, RTDB and Storage emulators are not open source and I can file a feature request internally for those. Again, this will be a longer process and I'm glad to hear you're looking into workarounds in the meantime.

I think I've misremembered about `cors-anywhere` and I no longer recommend using it as part of the solution. Also, this is the first time I've ever seen the error message `ssl-is-

[2022-03-04 19:41] Hridoy3519 commented on #3942
how to solve this error?

[2022-03-04 21:47] pklitscher commented on #4227
Thank you. I appreciate the response.

I'll find some time to do a PR on the Auth emulator. I can confirm it has resolved the issue for us so would be grateful if you can do a feature request for the others.

That is ok I know work arounds are outside the scope of `firebase-tools` but I appreciate the help nonetheless. I'll see if we can hack something together until you can get the updates into t

[2022-03-05 00:38] abhis3 commented on #3398
Hi there @mikehardy and @Egehanozsoy, I started taking a look into this and had a couple of questions.

I used https://github.com/StewartLynch/Storage-Emulator-Issue as a starting point to make a quick and dirty test to root cause the issue, you can find my fork and code here https://github.com/abhis3/Storage-Emulator-Issue/blob/main/Storage%20Emulator%20Issue/StorageManager.swift#L40-L80.

When I

[2022-03-05 01:02] mikehardy commented on #3398
Huh. Nice results, I haven't checked this in quite a while but I'll throw it on the queue for retest and report here. If you're keen to look before I do, our readme in our tests directory in react-native-firebase should step through execution if the tests but if course a react-native development environment setup might be a step to far for most, understably

[2022-03-05 01:08] abhis3 commented on #3398
Thanks for the info! I'll keep a note of that and see if I get some time here soon to dig into it, in the meanwhile I'll start working on the fixes for the 2 issues I outlined above

[2022-03-05 03:00] JuanOrtizOvied opened #4254 "firebase init firestore not work with existing project"
### DESCRIPTION

work very well with version 10.0.1

[code]

**version 10.0.1 **

open https://accounts.google.com/o/oauth2....

** version 10.2.2 **

open  https://auth.firebase.tools/login?code=....

### [REQUIRED] Environment info

**firebase-tools:** 10.2.2

**Platform:** ubuntu 20

### [REQUIRED] Test case

![Screenshot at Mar 04 9-45-54 PM](https://user-images.githubusercontent.com/5817795/1

[2022-03-05 04:54] kinggolf commented on #4200
@taeold Thank you. 10.2.2 works!!

[2022-03-05 05:04] taeold commented on #4200
@kinggolf Thanks for reporting the issue!

[2022-03-05 19:15] TacB0sS commented on #4164
We have a setup where we have a dev project for dev env, same for staging, and same for prod.. each with its own firebase,  firestore, bucket... etc.

I agree that in practice while running locally I would not want to mix local and prod (or even dev) environment's data, however, there are cases that I would like to import / export data from dev, staging or even prod to my local env (and in rare ca

[2022-03-05 22:34] mikehardy commented on #3398
All of the FIXMEs in this file are still needed for the reasons described in a comment just above each FIXME, as far as I can tell each is still a problem, and there was actually a regression on android :shrug:

https://github.com/invertase/react-native-firebase/blob/main/packages/storage/e2e/StorageReference.e2e.js

Every FIXME in that file relates to a failure on one platform (or both) for data

[2022-03-05 23:04] Alien10123 commented on #4252
I think I might be that my internet connection is not working for some reason because I have switched internet connections so that might be the problem. I will tell you when I get back to the other wifi because I need this one because I moved rooms.

[2022-03-06 04:53] NunoFAntunes commented on #1442
For anyone running into the problem that when logging in, the localhost webpage yields "This site can't be reached", try to change in your browser "https://localhost:9005/?state=..." for "https://127.0.0.1:9005/?state=...".
I know how bizarre this solution sounds but this has fixed it for me. Probably some weird network configuration on my end.

[2022-03-06 17:00] mvdpas commented on #4246
Niet opgelost

[2022-03-06 17:00] #4246 closed

[2022-03-07 01:52] therefromhere opened #4256 "Unstable ordering of *.env generated by firebase ext:export"
### [REQUIRED] Environment info

**firebase-tools:** 10.2.2

**Platform:** Ubuntu

### [REQUIRED] Test case

In a project with a firebase extension installed (eg firebase/firestore-bigquery-export), firebase ext:export would ideally
product stable env files.

It doesn't, I've not debugged but my hunch this is due to JS dict ordering?

Could the tool be updated to sort the env vars by name before o

[2022-03-07 14:35] OutdatedGuy commented on #3799
Yo @abeisgoat. Is this still being worked on? Are there any updates?

[2022-03-07 17:33] MonteDan opened #4259 "Functions emulator verification missing"
Hello, I've been trying to call a function that reads and edits a document from my app on localhost and I'm getting an 'error':
[code]
I'm connected to Firebase emulators.
[code]

### [REQUIRED] Environment info
firebase-tools 10.2.2

firebase --version: 10.1.0
**firebase-tools:**

Windows

[2022-03-07 18:10] taeold commented on #4259
@MonteDan By design, emulator will bypass all token verification (since we know you are testing).

The log lines isn't relevant to the failure you described. I suspect your error is somewhere else?

[2022-03-07 19:48] #3716 closed

[2022-03-07 20:03] vpanyushenko opened #4261 "Access-Control-Allow-Credentials headers not being set on localhost on 10.2.2"
### [REQUIRED] Environment info

`firebase-tools@10.2.2`

**firebase-tools:10.2.2**

MacOS

### [REQUIRED] Test case

Running a local express server that hosts an API on port 5001. Frontend runs on port 3000. The express is correctly configured with the `cors` middleware which accepts localhost:5001 and localhost:3000. The request failed due to:

[code]

This could have something to do with #4227

[2022-03-07 20:37] alex-image commented on #3676
I have this issue consistently and can't deploy functions at all on my machine.

Strangely, I am the only person on my team with the issue. We are all using the same repo, same node version (v14.17.6, managed by nvm), using yarn and yarn.lock. I have tried uninstalling and reinstalling node modules by removing node_modules, running `yarn cache clean`, and also `yarn rebuild` and I have done this w

[2022-03-07 20:56] alex-image commented on #3676
fixed by upgrading node to `v16.8.0` and then reinstalling firebase-tools globally:
[code]
binaries installed by running `npm install -g` seemed to persist in spite of switching node versions with nvm, so maybe this issue is the result of globally-installed binaries that are still executable via command line even when the node version has been updated?

[2022-03-07 21:03] joehan commented on #4256
This is a very reasonable feature request - I'll take some time to work on it this week.

[2022-03-07 21:05] yuchenshi commented on #4261
Would you mind posting a minimal repro of your server and maybe also HAR files? This can help us look into the headers

[2022-03-07 21:13] yuchenshi commented on #4164
Thanks for sharing your use case. As mentioned before, would you mind providing a standalone repro for us to look into this?

[2022-03-07 21:15] yuchenshi commented on #4254
Have you enabled Cloud Firestore on your existing project before you tried this? If so, this is definitely a bug or a permission issue (and please let us know if you're using a non-Admin account or service account). If not, please follow the link which explains about setting up Firestore.

[2022-03-07 21:17] yuchenshi commented on #4020
I'll close this since you've found the solution. Thanks for the feedback about project IDs and env vars though, and we're looking into that.

[2022-03-07 21:17] #4020 closed

[2022-03-07 21:31] JuanOrtizOvied commented on #4254
Yes, I created my firestore database one month ago.

[2022-03-07 21:35] yuchenshi commented on #4227
@pklitscher One small clarification though -- although the Storage Emulator is not *fully* open source, the API server part is. Feel free to add similar logic here and include the diff in the PR you're working on:

https://github.com/firebase/firebase-tools/blob/a53828189dcdfe3dcdc2240b3a0b4c348b043a5b/src/emulator/storage/server.ts#L28-L29

[2022-03-07 21:48] bkendall commented on #4254
To confirm the type of issue, can you run the command with `--debug` and provide the last  bit of output? It's likely there's an HTTP request that's returning some type of error or a check that's being made that's incorrect. Thanks!

[2022-03-07 22:57] bkendall commented on #2675
Reviving a rather old issue, but wanted to check in on it...

It does look like this only is a real issue with alpine. If I use other base images (`node:14`, for example), I can get the CLI working just fine. Even adding `gcompat` to get the library things working, alpine gives me loads of trouble.

It sounds as though it might be easier to try and detect alpine specifically and then download a bu

[2022-03-07 23:05] bkendall commented on #3855
Since this seems to have been resolved (and a quick check showed me that the instant version was working on windows), I'm going to mark this to be closed? If it should be kept open, let us know. Thanks!

[2022-03-07 23:56] trex-quo opened #4266 ""Invalid source token" code 9 error during function deployment"
### [REQUIRED] Environment info

**firebase-tools:** 10.1.4

We are not able to upgrade to the most recent version, as it breaks the emulator suite. I saw that this issue was supposed to be fixed in the most recent release, however the emulators still fail to start up with the most recent version. Our functions config values are still not being loaded in properly when we start the emulators, so we

[2022-03-08 05:37] Alien10123 commented on #4252
Changing my dns and switching networks worked.

[2022-03-08 13:36] myflashlab commented on #2918
I'm also interested to know the answer for this question

[2022-03-08 14:05] juni0r commented on #2994
I've set up my functions project as suggested in this thread, but I'm getting an error when importing another file from the same project.

[code]
I've tried every suggestion here, including using node 14, adding `@google-cloud/functions-framework` to my deps, but nothing seems to work. I'm completely at loss here.

`package.json`
[code]

`tsconfig.json`
[code]

[2022-03-08 14:23] MartinReiche commented on #3906
Hi,

I am having a related isssue. I cannot open the Emulator Email sign In Link in the browser. Chrome asks me with which application I want to open the link. Firefox says: Firefox doesn’t know how to open this address, because one of the following protocols (http) isn’t associated with any program or is not allowed in this context.You might need to install other software to open this address.

I

[2022-03-08 14:43] taeold commented on #2994
@juni0r Can you try replacing

[code]

with

[code]

[2022-03-08 17:25] #4256 closed

[2022-03-08 19:15] JuanOrtizOvied commented on #4254
@bkendall

[code]

[2022-03-08 19:25] rcb4t2 commented on #4158
@taeold I'm having rules issues with the storage emulator on 10.2.2. Rolling back to 10.1.5 fixes it

In our use case, we have Auth using V9, and storage lib using compat V8. Does the fix on 10.2.1 include fixes for the compat v8 lib?

Upload fails with "not authorized" error as if the rules did not permit the operation

Thanks!

[2022-03-08 19:33] rcb4t2 opened #4268 "Storage emulator does not respect rules after firebase-tools@10.1.5"
### [REQUIRED] Environment info

**firebase-tools: 10.2.2**

**Platform: macOS 11.6.4 (M1 processor)**

### [REQUIRED] Test case

I don't have the time to do this right now, but will try to add one

### [REQUIRED] Steps to reproduce

Add JS SDK firebase auth V9
Add JS SDK storage compat V8

Run the local emulator

Upload a file to storage that would be allowed by rules

### [REQUIRED] Expected beh

[2022-03-08 22:27] bkendall commented on #2005
I've just double checked on this and it looks like it's not happening any more. If you see otherwise, let me know, otherwise I'll let this be closed.

[2022-03-09 01:11] yellcorp opened #4270 "Cloud Functions: Incorrect/incomplete transformation of escape sequences in .env files"
### [REQUIRED] Environment info

**firebase-tools:** 10.2.2

**Platform:** macOS (11.6.2 Big Sur)

### [REQUIRED] Test case

1. Create a new Node project

[code]

2. Add this package as a devDependency

[code]

3. Init a new Firebase project

[code]

4. Edit `functions/index.js` to have the following content:

[code]

5. Create `functions/.env` with the following content:

[code]

6. At this point

[2022-03-09 06:03] kenttregenza commented on #3953
Hi is there anything else you'd like done here for this? I noted your comment but I think it may fall within the scope of the emulator because the Firebase Admin SDK actually makes use of the default Google Cloud Storage client library to interact with the Firebase Storage emulator ... (at least in the Python stack).

[2022-03-09 07:24] juni0r commented on #2994
@taeold While that might work, it would introduce inconstencies in our codebase. You see, this package part of a monorepo in which we use Typescript throughout and every other package uses imports without the .js extension. We'd also need to change certain imports from say `'../api'` to `'../api/index.js'` which would certainly add to the confusion.

Since this convention isn't enforced by linting

[2022-03-09 14:48] ericvera opened #4275 "Functions emulator not working after upgrade to 10.2.2 when using Yarn PnP"
### [REQUIRED] Environment info

**firebase-tools:** 10.2.2

**Platform:** macOS

### [REQUIRED] Test case

 - The repro below works perfectly with 10.1.5.
 - In the case of 10.2.2 it only works if I run the command outside or the package.json script (directly on console).
 - Running a package.json script that does not include the functions emulator (only auth and Firestore) still works.
 - My gue

[2022-03-09 14:49] taeold commented on #2994
@juni0r i agree it's painful and confusing to work with ESmodule in typescript! Unfortunately, I don't think we can help with changes in this repo..

[2022-03-09 15:46] gomezjdaniel commented on #2452
So I am having the same problem. Hope this gets resolved soon.

[2022-03-09 19:00] patbranchaud opened #4279 "Firebase Hosting - Website deploy - failed: retries exhausted after 6 attempts"
Hello, we are experiencing a problem when deploying files on Firebase. Found multiple people with a similar problem but none of the solution is working for us.

We are building static websites with Gatsbyjs / React using Github actions and deploying to Firebase with this https://github.com/w9jds/firebase-action using this line :

`firebase deploy --only hosting:alias --debug`

We are building mult

[2022-03-10 01:20] dalley8626 commented on #2994
I think this link https://zenn.dev/fjsh/articles/82e1b938ef96f4 could help a ton if you're trying to write it in typescript. I somehow got it working following this link

[2022-03-10 07:58] larrifax commented on #4239
Thanks @taeold. This is maybe another bug/feature request, but I also noticed that .env variables aren't available when the "startup code" is ran, so it's currently not possible to e.g. store the region in an environment variable and use it like so:

`functions/index.js`:
[code]
The environment variables aren't available to use at the time when `.region()` or `.runWith()` are evaluated. They're on

[2022-03-10 09:14] thomashagstrom commented on #3270
For anyone else finding this old issue: avoid using yarn.lock and use old slow NPM with package-lock.json instead.
That resolved the issues for us

[2022-03-10 10:17] appfrilans commented on #4212
I still have a similar issue.

[code]

Using Firebase Functions with typeScript. Using the following imports:

[code]

Running ´npm ls google-auth-library´ gives me:
`└── (empty)`

Tried updating all npm's to latest version. My package.json looks like this:

[code]

Adding `   "skipLibCheck": true` to my tsconfig.json solves the issue but seems like a workaround.

[2022-03-10 12:12] R-Iqbal commented on #653
There's a lot of solutions here and the most logical seems to be having a monorepo with webpack to bundle up all the content into a deployment folder.

How do these solutions fair when developing with local emulators? If you make a change to a shared package will manual re-build work be required for the emulators to notice the change?

[2022-03-10 12:37] BuligaRobert commented on #2927
For me a logout from Firebase CLI and then a login solved the issue.

1. Logout
`firebase logout`

2. Login
`firebase login`

[2022-03-10 14:50] ericvera commented on #4252
When offline emulator does fail to run with the same error. I opened a similar issue not too long ago (see #3916)

[2022-03-10 15:14] DerrickAfrifa opened #4283 "Error: Did not find any running emulators for project"
I am trying to export emulator data however when I run the export command I get an error saying that there are no running instances of emulator for my project.

This is strange because when I run the start command with the `--export-on-exit` flag, this exports my data successfully.
I am running all commands in the same directory using different terminal windows.

Any ideas why the export command s

[2022-03-10 15:15] katopz commented on #653
I do have an example (for reproduce this mono-repo issue) that actually working 100% (including re-build) as expected in local but **NOT WORKING** when deploy here 👉 https://github.com/katopz/firebase-yarn-workspace

Not sure this could be mix with other solutions or not. I already gave up btw.

[2022-03-10 15:21] R-Iqbal commented on #653
Oh fun. I'll check out your solution, I wish we had a clear answer which supports sharing local packages with auto re-build during emulator time and support for function deployment.

[2022-03-10 16:29] bkendall commented on #4252
Since this particular issue was network related, I'm going to close the issue. Offline emulator can be tracked in 3916 :)

[2022-03-10 16:29] #4252 closed

[2022-03-10 16:39] creativecreatorormaybenot commented on #653
One solution that works for us pretty much without problems at this point:
1. Use npm `workspaces`
2. Add all local packages to workspaces (glob in `workspaces` entry in top-level `package.json`)
3. Write a custom script that `npm pack`s each local package
4. Add all packed tarballs to your functions directory that you are going to deploy
5. Add each tar archive as a `file:` dependency to the `pac

[2022-03-10 16:53] 0x80 commented on #653
@creativecreatorormaybenot Interesting approach. Are you packing/deploying typescript code?

[2022-03-10 16:59] creativecreatorormaybenot commented on #653
@0x80 yes, exclusively.

This means that you do not need to add any of the local packages as dependencies during development because that is handled by workspaces (you only need to run `tsc` as you would normally also need to do). When deploying, you go through steps 3 to 7 (because the `file:` dependencies are required to make `firebase deploy` work).

[2022-03-10 17:16] R-Iqbal commented on #653
Our solutions are really similar. I'm just trying to achieve sharing a local package using yarn workspaces.

I've added the local package `@claimsgate/core` to my package.json and ran `yarn install`, the IntelliSense appears to be working correctly so I'm happy that the import is correct.

When I `npx tsc` and `firebase emulators:start --only 'functions'` I'm getting `Error: Cannot find module '@c

[2022-03-10 17:44] terasaka2k commented on #4254
This seem to be a degration occurred from v10.2.0, from which some OAuth scopes are missing compared to login without `--no-localhost` option.

[2022-03-10 18:34] R-Iqbal commented on #653
Combine your solution with `firelink` listed above and you have yourself a solution which automatically re-builds when local changes are made and supports deployments to functions.

`firelink deploy --only functions:testFunction` performs the copy magic to meet the requirements of all code being inside of the functions folder.

While working locally, let yarn workspaces do the magic.

[2022-03-10 19:06] evengul opened #4284 "Firestore in Admin SDK /grpc throws IllegalArgumentException: Invalid pattern"

[2022-03-10 20:32] hamishjohnson opened #4285 "I didn't get warned that some config was missing"
### [REQUIRED] Environment info

**firebase-tools:** 10.2.2

**Platform:** macOS

### [REQUIRED] Steps to reproduce

in config.ts
[code]
Then use the value in any function and deploy
but DON'T add the config with `firebase functions:config:set`... just leave unset

### [REQUIRED] Expected behavior

Error message that the config is missing

### [REQUIRED] Actual behavior

Silently ignores the funct

[2022-03-10 23:45] abhis3 commented on #3398
Thanks for all of the info Mike, I've put out a PR that should hopefully go in soon and from then on out you'll be able to see it in the newer releases. I'll update this issue when that happens. TLDR there were in fact some issues with the way we set the metadata on file uploads.

Regarding your other points, I took a look through the FIXMEs and wasn't able to replicate them unfortunately in my lo

[2022-03-11 00:40] mikehardy commented on #3398
Huh - I'm no stranger to difficult to reproduce corner cases. How about we wait until the next firebase-tools release with the current set of fixes, then I'll re-test with my rig, then try to isolate one of them with one of the quickstarts? That way we're not chasing ghosts (the current fixes will be in), but we'll be focused enough on one of them that hopefully we can make some incremental progre

[2022-03-11 00:49] agtokty commented on #2763
Hi all,
Instead of granting organization access to [Firebase CLI](https://github.com/settings/connections/applications/89cf50f02ac6aaed3484) is it possible to create a service account to set the action secret manually?

[2022-03-11 03:44] katopz commented on #653
Nice to hear! And I confirm it work with `firelink` in this branch 👉 https://github.com/katopz/firebase-yarn-workspace/tree/firelink

I will keep `main` branch reference, really hope this can be support directly via `firebase-tools`.

[2022-03-11 11:43] TacB0sS commented on #4164
Will need to find the time and create the simple repo to reproduce it.. will work on it

[2022-03-11 12:59] lucasilverentand commented on #2027
Hi is this feature still being worked on? I very much would like to implement some CI/CD scripts that can validate that the indexes are created using the indexes JSON file.

[2022-03-11 13:12] schultek opened #4289 "Weird behavior with pubsub function when using --inspect-functions"
### [REQUIRED] Environment info

**firebase-tools:** 10.2.1

**Platform:** macOS

### [REQUIRED] Test case

I created a blank new project using `firebase init` and activated `functions`, `storage` and `emulators (functions, storage, pubsub)`.

I then created two functions:

1. Storage function, that is publishing a pubsub message when triggered
2. Pubsub function listening to the topic

[code]

##

[2022-03-11 13:16] adrianestran commented on #1963
I'm stuck on this same issue, and I'm sure I've clicked the "Get Started" button. I have an Android app that is configured and working, and I've added a new app with a different package ID.

I'm using the CLI:

`firebase appdistribution:distribute "exampleApp-debug.apk" --app "1:XXXXX:android:XXXXX" --groups "all-testers" --debug`

Result:

`App Distribution could not find your app 1:XXXXX:android

[2022-03-11 19:11] pradella commented on #4239
In my case, when I start the emulator the message below is not even showing:

`i functions: Loaded environment variables from .env, .env.local.`

[2022-03-12 01:27] cedvdb opened #4290 "Can't run phone authentication tests against emulator because the sms code changes all the time"
Currently the emulator returns a random String code when authenticating with phone against it. You can use this code to authenticate.

However for testing it would be much easier if the code was predictable, either via a configuration option or just a static code usage.

I've submitted a PR https://github.com/firebase/firebase-tools/pull/4255 that makes the code to always be '123456' but I do not

[2022-03-12 07:51] chenqiuxia commented on #155
still experiencing this issue, can't believe it is still around in 2022 ...

[2022-03-12 20:15] jowo-io opened #4294 "Emulator does not invoke function when making a HTTP pre-flight `OPTIONS` request (`firebase-tools` v10)"
Loving the features the firebase team is releasing - so cool being able to run my entire firebase stack locally through the emulator.

I was pulling my hair out today attempting to debug a CORS issues. When invoking a function I was getting CORS issues and eventually tracked the root of the issue down to the pre-flight request not returning the `access-control-allow-credentials` header.

I realise

[2022-03-13 21:00] dchen327 commented on #1442
Unfortunately this doesn't work for me in WSL 2 -- still getting the same localhost error

[2022-03-13 23:06] iftkhar00490 commented on #3306
what was the fix did you get it??

[2022-03-14 06:22] jorroll opened #4291 "Security rule emulator errors when evaluating `allow read: if ["a"].size > 0;`"
### [REQUIRED] Environment info

**firebase-tools:** 10.2.2

**Platform:** Debian Linux inside a devcontainer on a macOS arm64/aarch64 laptop

### [REQUIRED] Test case

See this minimal reproduction: https://github.com/jorroll/firestore-emulators-issue

### [REQUIRED] Steps to reproduce

1. [Clone repo](https://github.com/jorroll/firestore-emulators-issue)
2. Optionally use [devcontainer](https://

[2022-03-14 08:31] sasa1sasa commented on #3306
Thank`s a lot ,i waiting one year to answer my question ,i lose hope in
Andrei because my App is not in function i try all ,but Sir what is way to
solve my issue.
Thank you Sam.

pon, 26. tra 2021. u 12:21 Sam Stern ***@***.***> napisao je:

[2022-03-14 16:44] yacineblr commented on #1965
Any news about this feature ?

[2022-03-14 17:30] ashok-arora opened #4293 "Close port if an error occurs during function parsing"
### [REQUIRED] Environment info

**firebase-tools:** 10.2.2

**Platform:** macOS

### [REQUIRED] Test case

Create a fresh function using `firebase init functions`.

### [REQUIRED] Steps to reproduce

Run `firebase emulators:start` then make half changes to `functions/index.js` and save them.

### [REQUIRED] Expected behavior

The error handler would be triggered causing the emulator to stop and t

[2022-03-14 20:10] yuchenshi commented on #4291
Hi, List `size` is actually a function, not a property, and needs to be accessed with `["a"].size()` (note the parenthesis). Reference: https://firebase.google.com/docs/reference/rules/rules.List#size

[2022-03-14 20:10] #4291 closed

[2022-03-14 20:38] yuchenshi commented on #4284
Believe it or not, this actually has more to do with your Firestore triggers than the Admin SDK. Thanks for posting the complete logs, and I was able to find this in the logs:

`projects/flatz-60aa7/databases/(default)/documents/washingRoutine/{routineId`, which is indeed missing a closing `}`. Please double check the code in your functions source code and add that missing `}`.

However, we should

[2022-03-14 20:46] tonyjhuang commented on #4268
Hi @rcb4t2, sorry you're running into this issue. For now I'd recommend to revert back to the last working version of the emulator.

To help us debug further, can you see if the issue persists when running off of the latest version of master?

[2022-03-14 20:49] tonyjhuang commented on #3390
Hi all, thanks for your patience. @tohhsinpei is working on a fix to this issue, it should be included in either our upcoming release or the one following. Stay tuned for updates.

[2022-03-14 21:07] tonyjhuang commented on #3823
This should be fixed by 33647

[2022-03-14 21:08] jorroll commented on #4291
@yuchenshi oh duh! Thanks! Part of the problem was that the error message I received wasn’t helpful. Would it be appropriate for me to open a new feature request asking for these emulator error messages to be improved? For example, when I tried wrapping the code in `debug([“a”].size)` nothing was printed to the log. Now I imagine that was because the debug function doesn’t know how to print a func

[2022-03-14 21:23] tonyjhuang commented on #3953
Hi @kenttregenza, thanks for the PR and apologies for the lack of communication. I'll be taking over this issue as @abeisgoat  has left Firebase. Can you please rebase your PR off master as unfortunately a lot has changed since you originally authored it. Can you also split the change into two separate PRs for us to review: one for the multipart changes and one for the name compatibility.

[2022-03-14 21:27] tonyjhuang commented on #3979
This is likely a duplicate of https://github.com/firebase/firebase-tools/issues/3915

[2022-03-14 22:16] taeold commented on #4284
@yuchenshi Thanks for finding the root cause - and yes I think validating trigger path is a great feature request, just something we didn't have time to implement yet.

Overall, do you know how the trigger validation might work? Can it be just a fancy regex or is there a better way?

[2022-03-14 22:20] #4294 closed

[2022-03-14 22:26] taeold commented on #4266
@trex-quo Thanks for reporting the issue.

Out of curiosity - is it possible that you may be running multiple deploys in parallel? I think another user reported the same error message ("Invalid source token"), and the reason was because they had multiple deploys running in parallel, resulting in the post-deploy container image cleanup to delete images that are still needed in another, on-going dep

[2022-03-14 22:31] taeold commented on #4285
@hamishjohnson I think the Functions config has always behaved this way. Like environment variables, you are going to have to make sure that the value is set for your project. I think we _might_ consider adding a runtime check to make sure the value exists, but that FR should be filed in https://github.com/firebase/firebase-functions not here.

However, I do see that you are reporting that the fun

[2022-03-14 22:35] trex-quo commented on #4266
Thanks for the reply! We are running multiple deploys in parallel yes. If I remember correctly, an older version of firebase tools had a maximum directory size upload limit, which I found frequently errored if I deployed more than ~8 functions at a time. We have parallel builds deploying about 8 functions at once.

I have noticed that after updating firebase tools that we can deploy many more func

[2022-03-14 22:57] taeold commented on #4266
@trex-quo Thanks for a detailed reply.

The Firebase CLI is tuned to deploy in batches of 40 functions at any given time, so I suspect issuing a single `firebase deploy` command to deploy all your 80+ functions should be much better than your expectation. For users like you, we may consider opening up the knobs so you can tune the concurrency that fits your need, but we emply some tricks (e.g. re-

[2022-03-14 23:16] taeold commented on #4275
@ericvera Thank you for detailed report!

I also don't have immediate bunch on what might be going wrong. I'm going to try to push out a change to make error messages more useful to help us debug the issue. In the meantime, can you help us by sharing a small sample that can reproduce the issue? I've never used that setup, and while we don't officially support yarn pnp, it seems like it's always wo

[2022-03-14 23:29] trex-quo commented on #4266
@taeold

I did try a single `firebase deploy --only functions` command a couple weeks back, but ran into a separate error which prevented the full deployment from going through. It is the same issue as on this thread:

https://github.com/firebase/firebase-tools/issues/3919#issuecomment-979788970

One comment on the thread by @abeisgoat says:

which seems to suggest that it is known that deploying

[2022-03-14 23:39] jgeary commented on #4116
whats the solution to this? i want to run the firestore emulator on my (intel) mac. whats the cleanest way to do that?

[2022-03-15 00:52] dallarosa commented on #4116
Just go to java.com, download the JRE for the Intel Mac and install it.
I've done that it now everything is fine.

This is more a problem with the way firebase shows the error than a problem
with the tool itself, it should just say "you're missing Java and i need
you to install it" instead of giving this obscure error message and make
you go dive into log files (at least the log files are there)

[2022-03-15 08:27] erlichmen opened #4298 "Disable firestore.rules file monitor on CI"
On CI systems there is no need to watch the firestore.rules on CI systems and moreover the code watch can fails as docker that runs the flow might not have the watch api on the OS level.

In the specify case for rules file watching, you can tell the system to use pull instead of watch using the environment variable CHOKIDAR_USEPOLLING: "1" but In think that --no-watch flag should be added or bette

[2022-03-15 09:06] rhodgkins commented on #3823
I'm not sure that #3647 will fix this - the `metadata` and `blobs` directories will always be empty if there's nothing to export. Usually for stuff like this I'd add in an empty `.gitadd` file but not sure if that's really appropriate!

[2022-03-15 15:26] tonyjhuang commented on #3823
I see, my mistake. We can update the emulator to handle importing a directory structure with missing `metadata` and `blobs ` folders at some point in the future, thanks for raising the issue @charliejuc

[2022-03-15 16:31] rcb4t2 commented on #4268
Thanks @tonyjhuang ! What's the best way to install firebase-tools from the latest master?

I tried `yarn global add https://github.com/firebase/firebase-tools.git#master` but it failed at the tsc build step

[2022-03-15 17:21] #3751 closed

[2022-03-15 18:09] iamnotabout opened #4299 "https://firebase.tools/bin/macos/latest returns 404 Not Found"
### [REQUIRED] Environment info

**firebase-tools:** latest

**Platform:** macOS

### [REQUIRED] Test case

$ curl -sL -o test https://firebase.tools/bin/macos/latest
$ file test
test: ASCII text, with no line terminators
$ cat test
Not Found

### [REQUIRED] Steps to reproduce

$ curl -sL -o test https://firebase.tools/bin/macos/latest
$ file test
test: ASCII text, with no line terminators
$ cat t

[2022-03-15 18:11] iamnotabout commented on #4299
oh v10.3.0 of firebase-tools is recently release, so it didn't publish the binary yet

[2022-03-15 18:25] marcshilling commented on #4299
Seems like the same issue as https://github.com/firebase/firebase-tools/issues/2632 where all the assets weren't included with the release. @bkendall are you able to resolve this again?

[2022-03-15 18:49] tonyjhuang commented on #4268
We actually just released https://github.com/firebase/firebase-tools/releases/tag/v10.3.0 today. Can you see if that helps solve your issue?

[2022-03-15 18:53] Danoctum opened #4301 "MacOS auto install script M1 & zsh not working"
### [REQUIRED] Environment info

/usr/local/bin/firebase: line 1: Not: command not found
**firebase-tools:** 10.3.0

**Platform:** macOS

### [REQUIRED] Test case
No test case, unable to install.

### [REQUIRED] Steps to reproduce
Have a macOS machine with M1 and zsh in the terminal.

### [REQUIRED] Expected behavior
Installation to succeed.

### [REQUIRED] Actual behavior
![afbeelding](https://us

[2022-03-15 18:57] rcb4t2 commented on #4268
@tonyjhuang Thanks! I'm getting a different error now on 10.3.0
`Firebase Storage: An unknown error occurred, please check the error payload for server response. (storage/unknown)`

Emulator logs do not show anything from the error

Please note also that I am using the V9 auth library, and still using the V8 compat version of storage. Not sure if that's part of the problem. It's on our roadmap to

[2022-03-15 19:00] sporttiez opened #4302 "Error: [testing(us-central1)] Changing from a callable function to an HTTPS function is not allowed. Please delete your function and create a new one instead. (base)"
**firebase-tools: 10.3.0

**Platform: macOS M1 Pro

### [REQUIRED] Test case

### [REQUIRED] Steps to reproduce

[code]

### [REQUIRED] Expected behavior

[code]

### [REQUIRED] Actual behavior

[code]

[2022-03-15 19:00] #4302 closed

[2022-03-15 19:11] piyush-singh-ss commented on #4299
@bkendall, we are also facing the same issue, the latest release does not have the macOS binary.

[2022-03-15 19:11] Danoctum commented on #4301
For now installed it through NPM, so problem is solved for me. I can find more about debugging if necessary.

[2022-03-15 19:11] #4301 closed

[2022-03-15 19:24] rcb4t2 commented on #4268
@tonyjhuang FWIW I converted our storage usage to V9 (we only use it in a few places, was pretty easy) and everything seems to be working as expected

Can you clarify that the `ref` method from storage can accept the public download URL as the url argument? It seems V9 no longer has a getRefFromURL method. It appears to be working as expected when passing the value of getPublicDownloadURL but want

[2022-03-15 19:47] pbzdyl opened #4304 "Firebase CLI standalone installation URL doesn't work"
### [REQUIRED] Steps to reproduce

According to https://firebase.google.com/docs/cli#mac-linux-standalone-binary:

But the links provided don't work:

[code]

[2022-03-15 19:59] bkendall commented on #4299
oh weird, only one artifact is there. that's new. I'll take a look.

[2022-03-15 20:03] #4299 closed

[2022-03-15 20:04] bkendall commented on #4304
Duplicate of #4299

[2022-03-15 20:07] OutdatedGuy commented on #3799
Is anyone here to help me or to investigate further with this problem??

[2022-03-15 21:25] tohhsinpei commented on #3584
I believe this issue is a duplicate of #3550, which should be fixed by #4210.

[2022-03-15 21:25] #3584 closed

[2022-03-15 21:25] tohhsinpei commented on #3890
I believe this issue is a duplicate of https://github.com/firebase/firebase-tools/issues/3550, which should be fixed by https://github.com/firebase/firebase-tools/pull/4210.

[2022-03-15 21:25] #3890 closed

[2022-03-15 21:26] tohhsinpei commented on #3765
I believe this issue is a duplicate of https://github.com/firebase/firebase-tools/issues/3550, which should be fixed by https://github.com/firebase/firebase-tools/pull/4210.

[2022-03-15 21:26] #3765 closed

[2022-03-15 21:34] tonyjhuang commented on #3799
Hi @OutdatedGuy thanks for filing this bug. The team is in the process of going through the backlog of issues and fixing things now. We can't provide an estimate for now but we promise we will get to your issue soon.

[2022-03-15 21:40] tonyjhuang commented on #4268
I would defer to our public documentation: https://firebase.google.com/docs/reference/js/storage.md#ref

[2022-03-15 21:41] tonyjhuang commented on #4268
Glad you were able to find a fix, I'm going to close this issue now.

[2022-03-15 21:41] #4268 closed

[2022-03-15 22:00] trex-quo commented on #4266
Here is an instance where a "Quota exceeded" error failed the deployment. Since merging the change into our CI that deploys all functions in a single command, the success rate seems about 50%. Here is the full (redacted) output of the deployment.

[code]

[2022-03-16 02:53] pavelvlasov commented on #4302
Can confirm the same behavior with 10.30. Deployment succeeded after the function is deleted, but the next run is failing again.

[2022-03-16 06:11] MergeCommits commented on #4302
It seems like this isn't an issue with the CLI cause I can replicate this on older versions where it previously worked.

[2022-03-16 06:44] qqhann commented on #4302
Happened in 10.3.0. Downgraded to 10.2.2 as a temporal fix.

[2022-03-16 07:00] arnoutvandervorst commented on #4302
Downgraded to 10.2.2, can successfully deploy again.

[2022-03-16 07:02] qqhann commented on #4302
I thought downgrading helped, but I'm not sure now. In my case `npm install` again seems to have fixed the issue.

[2022-03-16 08:55] evengul commented on #4284
@yuchenshi Thank you! I wasn't able to find this myself, was looking in completely the wrong place. I do agree the error message could be a bit clearer if possible.

[2022-03-16 09:15] tommylenz commented on #2763
Experiencing the same issue as well. Workaround doesn't seem to work for me, though. I have granted Firebase CLI 3rd party access but it still doesn't work.
+1 for a better error message, which is always helpful.
+1 for an explanation on how to set this up manually, as @agtokty requested - I think it's described pretty rough [in the docs](https://firebase.google.com/docs/hosting/github-integration

[2022-03-16 09:34] tommylenz commented on #2763
Maybe reference [this tutorial](https://github.com/FirebaseExtended/action-hosting-deploy/blob/main/docs/service-account.md)?

[2022-03-16 11:38] andreibarabas commented on #4302
Happened to me as well. Had to downgrade back to `10.2.2` in order to be able to deploy

[2022-03-16 12:05] dsl101 opened #4307 "Cannot redeploy functions after CLI upgrade from 10.2.2→10.3.0"
### [REQUIRED] Environment info

**firebase-tools: 10.3.0**

**Platform: Windows**

### [REQUIRED] Test case

Function in module, named by path `httpsDeptest`:
[code]

### [REQUIRED] Steps to reproduce

Deploy twice. First deploy works fine, second fails:
[code]

### [REQUIRED] Expected behavior

That the function would redeploy.

### [REQUIRED] Actual behavior

Deployment ends with:
[code]

[2022-03-16 12:06] dsl101 commented on #4307
Reverting to 10.2.2 works around the problem for now. I didn't include the full `--debug` output, as it seemed to contain quite a bit of sensitive info. Please advise if it required.

[2022-03-16 14:27] thechefchen commented on #2421
Agreed. This is killing me and my team. Basically Mac developers cannot write to the emulator DB for windows developers to read. Not to mention Mac developers have to manually copy and paste the latest data.

@yuchenshi can you and your team help prioritize this bug fix?

[2022-03-16 15:30] Schmale97 opened #4308 "Callable Cloud Functions Deploy fails with 10.3.0"
### [REQUIRED] Environment info

**firebase-tools:** 10.3.0

**Platform:** Ubuntu

### [REQUIRED] Test case

Deploy a callable cloud function that has previously been deployed with an earlier version of firebase-tools (10.2.2)

### [REQUIRED] Steps to reproduce

Run `firebase deploy` for project containing callable cloud functions with version 10.2.2

Then run `firebase deploy` for same project wi

[2022-03-16 15:31] #4308 closed

[2022-03-16 15:31] Schmale97 commented on #4308
Duplicate of https://github.com/firebase/firebase-tools/issues/4307

[2022-03-16 15:32] Schmale97 commented on #4307
I am also seeing this issue on Ubuntu

[2022-03-16 15:47] motonauta commented on #4307
Also on Mac

[2022-03-16 16:20] bkendall commented on #4307
Sounds like an issue in the CLI - I'll quickly raise with the Functions team.

[2022-03-16 16:21] yuchenshi commented on #4284
@taeold The Firestore Emulator uses an internal (non-opensource) library function for validation, but I think the format is straightforward to validate with regex as well. Essentially, we just to make sure the curly brackets match and cannot nest.

[2022-03-16 16:46] LeadDreamer commented on #4307
I just dropped back to 10.2.2 - did NOT solve the problem.  Otherwise same symptoms

[2022-03-16 17:45] dcgudeman commented on #4307
Any update on this?

[2022-03-16 18:26] ivan416 commented on #4307
Downgraded to 10.2.2 for now, since it works ok there. Glad to hear I'm not the only one experiencing this issue.
https://stackoverflow.com/questions/71368085/gcp-cloud-function-environment-variable-becomes-unset

[2022-03-16 18:33] taeold commented on #4307
Hi folks  - apologies for trouble here.

We are working hard to get a fix out. We expect new version w/ the fix to be out by this afternoon US Pacific time.

In the meantime, here are some workarounds:

1) Pin Firebase CLI to v10.2.2.

2) If you must use the latest Firebase CLI: A temporary workaround is to remove "deployment-callable" or "deployment-callabled" label from your callable function. T

[2022-03-16 19:05] #4307 closed

[2022-03-16 19:13] dcgudeman commented on #4307
when will fix #4310 be released?

[2022-03-16 19:54] taeold commented on #4307
@dcgudeman We just shipped v10.3.1:

https://github.com/firebase/firebase-tools/releases/tag/v10.3.1

Please give the latest cli version a go:

[code]

[2022-03-16 20:04] gustavopch commented on #4307
That was fast!

[2022-03-16 20:40] taeold commented on #4307
@gustavopch It was a very bad bug :( Apologies everyone!

[2022-03-16 21:26] taeold commented on #3793
This was fixed in 3.16.0.

[2022-03-16 21:26] #3793 closed

[2022-03-16 21:28] jnizet opened #4313 "TypeError: Cannot read property 'data' of undefined since v10.3.1"
### [REQUIRED] Environment info

**firebase-tools:** 10.3.1

**Platform:** macOS, Ubuntu

### [REQUIRED] Test case

Hard to do. Here's however the URL of a PR on a public project that makes the tests fail because a firebase function running in the emulator is killed due to an internal error: https://github.com/jnizet/decouvertes-nature/pull/110.

The stack trace is:
[code]

The source code of the

[2022-03-16 21:47] taeold commented on #4266
@trex-quo Thanks for the feedback. 50% success rate is terrible, and we should strive to do better. We'll work on tuning our parameters to deal w/ quota issues better.

In the immediate terms, it sounds like breaking up deploys as you've done before but NOT running them in parallel might be most reliable thing to do.

[2022-03-16 22:50] #4065 closed

[2022-03-16 22:51] #4061 closed

[2022-03-16 22:51] #4060 closed

[2022-03-16 23:48] #4067 closed

[2022-03-16 23:48] #4068 closed

[2022-03-16 23:48] #4066 closed

[2022-03-16 23:59] #4062 closed

[2022-03-16 23:59] #4063 closed

[2022-03-16 23:59] #4064 closed

[2022-03-17 01:00] #4228 closed

[2022-03-17 01:19] #4313 closed

[2022-03-17 10:37] gpfister opened #4320 "Callable function don't work on emulator since 10.3.1"
### [REQUIRED] Environment info

**firebase-tools:** 10.3.1

**Platform:** Ubuntu 20.04

### [REQUIRED] Test case

Call a callable function (using the regular API, not the Admin API) using firebase-tools 10.3.1 (it works on 10.3.0).

### [REQUIRED] Steps to reproduce

Expose a callable function on the emulator, create a user and call the function after authenticating.

### [REQUIRED] Expected beha

[2022-03-17 11:35] jtfrom9 commented on #4239
https://github.com/firebase/firebase-tools/issues/4239#issuecomment-1063763689

Hi @taeold, could you comment on the above point?
I’m also hoping .env variables are available on `.region()` or  `.runWith()` are evaluated

[2022-03-17 13:20] sceee commented on #4320
This was actually already adressed (and probably fixed) in #4314 .

[2022-03-17 14:44] gpfister commented on #4320
@sceee, thanks, I this is also a duplicate of #4313.

[2022-03-17 14:44] #4320 closed

[2022-03-17 15:51] amkoehler opened #4321 "Jest is unable to resolve dependencies after upgrading to 10.1.0"
### [REQUIRED] Environment info

**firebase-tools: 10.1.0**

**Platform: Windows, Ubuntu**

### [REQUIRED] Test case

After upgrading our `firebase-tools` library from 9 to the latest (10.3.1), our unit tests started failing with the following error:

[code]

To narrow it down, I tested every version in between `9.23.3` and `10.3.1`. My tests worked for `10.0.0` and `10.0.1` but failed at `10.1.0`

[2022-03-17 17:08] bkendall commented on #4321
Thanks for the detail. Would it be possible to provide a minimal repro case for this? Since we don't use `jest`, I'm not sure what it looks like to implement a test with it w/ `firebase-tools`. An example repo (or gist) with a `package.json` and a `test.js` seems like it would be just enough to show the issue. Then we can take a look.

But in the same vein: since `jest` isn't something I'm super f

[2022-03-17 17:12] #4082 closed

[2022-03-17 17:35] taeold commented on #4313
Fix is released in 10.4.0! Thanks for reporting the issue.

[2022-03-17 17:35] taeold commented on #4320
Fix is shipped in 10.4.0!

[2022-03-17 17:50] #4042 closed

[2022-03-17 17:50] #4043 closed

[2022-03-17 21:30] rulaman123 opened #4322 "Storage emulator import/export data error"
Hi, after starting the storage emulator with import the ui only shows a white page and i get that error:

[code]

### [REQUIRED] Environment info

**firebase-tools:** v10.4.0

**Platform:** Windows

### [REQUIRED] Test case

### [REQUIRED] Steps to reproduce

Upload image to storage emulator.
Export image and close emulator.
Open storage emulator with import data.
Error.

### [REQUIRED] Expected b

[2022-03-17 21:33] sporttiez commented on #4302
Thank you. I am kinda new here and wanted to merged with that question. Couldn't find the way to do it. So, I closed it on my own!

[2022-03-18 02:23] 50an6xy06r6n commented on #730
I'm also running into this issue

[2022-03-18 05:50] m-elgamal commented on #4283
I'm facing the same issue on M1 Mac

[2022-03-18 08:01] sisou commented on #3116
I would have expected to be able to add an `enabled: false` flag in the emulator config for a specific emulator. But that doesn't work. Seems `enabled` is only supported for the emulator UI?

[2022-03-18 08:34] yukihiroK opened #4325 "Firestore emulator Requests Monitor shows many almost identical requests."
When you fetch data using the firebase/firestore library in a browser, the request will appear in the monitor.
However, when subscribing to changes via the onSnapshot method, somehow multiple identical requests appear in the monitor. Since these `request.times` are slightly different, it may be that the rule evaluation has been performed multiple times. This number of times increases by one each t

[2022-03-18 09:46] DevSchmidtchen opened #4326 "Firebase Storage Emulator crashes unexpectedly since v10.3.0"
### [REQUIRED] Environment info

**firebase-tools:** 10.4.0

**Platform:** macOS Monterey (12.3)

### [REQUIRED] Test case

- Set up an app with storage emulator and import the existing emulator data (`firebase emulators:start --import ./emulator_data`)

### [REQUIRED] Steps to reproduce

1. Start local emulators including storage emulator (`firebase emulators:start --import ./emulator_data`)2.
2.

[2022-03-18 09:57] AyazAI commented on #2329
Getting the same issue in Chrome
![image](https://user-images.githubusercontent.com/45338553/158981784-46433301-ecb0-41b8-bc92-22ed494667c8.png)

[2022-03-18 13:16] taeold opened #4327 "firebase CLI 10.3.1 does not issue calls to make callable functions public"
I'm also having this issue Using firebase CLI 10.3.1 and on deploying a _new_ function, it is always deployed in a way that causes it to return 403 when triggered using the firebase SDK `firebaseFunctions().httpsCallable()`. My fix so far has been to edit it in the console to 'Allow Unauthenticated', but it would like to avoid that if it's supposed to work differently.

I'm running firebase deploy

[2022-03-18 13:31] AlexVFornazieri commented on #4326
Hey guys,

I have a similar issue here, in my case happen when clone project in a fresh new folder, in PC or in a pipeline CI/CD process. But in my case, not uploaded any files in my emulated storage eat. So the "storage_export/blob" and "storage_export/metadata" folder are empty and git don't track then. It cause a erro that don't find that directories in storage emulator startup.

To solve it fo

[2022-03-18 16:15] SamyPesse opened #4329 "Firestore Storage Emulator always evaluate overwriting files as "RulesetOperationMethod.CREATE""
### [REQUIRED] Environment info

**firebase-tools:** 10.4.1

**Platform:** macOS

### [REQUIRED] Test case

### [REQUIRED] Steps to reproduce

While implementing tests to ensure a fie cannot be modified in a bucket, we are confronted to an issue with the Storage emulator: all file updates are being evaluated as "create" operations: https://github.com/firebase/firebase-tools/blob/089bea2ba739c0e03d

[2022-03-18 16:36] samborambo305 opened #4331 "Firestore emulator exec should wait for import to complete before executing script"
### [REQUIRED] Environment info

**firebase-tools:** 10.2.2

**Platform:** macOS

### [REQUIRED] Test case

It is too complicated to provide a test case because it requires uploading a lot of data. The issue is the following:
If you have a large import database (~0.5GB - this isn't even that big) then the emulator takes ~30s or so on my machine before I can 1) view the data in the emulator UI and

[2022-03-18 16:37] samborambo305 opened #4332 "Firebase export runs out of memory"
### [REQUIRED] Environment info

**firebase-tools:** 10.2.2

**Platform:** macOS

### [REQUIRED] Test case

It is too complicated to provide a test case because it requires uploading a lot of data. The issue is the following:
If you create a sufficiently large export data database (~1GB of data - this isn't even that big) then the emulator takes crashes upon export. However, if you break up the ex

[2022-03-18 16:47] brianmhunt commented on #4327
Just confirming we're experiencing this with `firebase: "^10"` (i.e. the latest). The breakage is spontaneous in our CI (i.e. not a code change on our end), just noticed today.

[2022-03-18 16:57] chrisbrown-io commented on #4327
I'm having the same problem. Seems like rolling back to `10.2.2` temporarily fixes the problem.

[2022-03-18 17:07] dsl101 commented on #4327
Seems 10.3 might not have quite been baked :) Fingers crossed the fix is as quick as for  https://github.com/firebase/firebase-tools/issues/4307

[2022-03-18 17:36] samborambo305 opened #4333 "Firebase crash on export with ~0.5 GB of data"
### [REQUIRED] Environment info

**firebase-tools:**

**Platform:**

### [REQUIRED] Test case

### [REQUIRED] Steps to reproduce

### [REQUIRED] Expected behavior

### [REQUIRED] Actual behavior

Export crashes with following error:
[code]

[2022-03-18 17:47] chrisbrown-io commented on #4327
After a bit of digging, I think I've come to the conclusion that this is due to the implementation of handling callable functions seperately to https functions, [as introduced](https://github.com/firebase/firebase-tools/blame/5d9e63e0e78ecb5d6994a3ba7849de306630cdc5/src/gcp/cloudfunctions.ts#L479) in #4310.

In `10.2.2` (which works as expected) callable functions would [have the `httpsTrigger` at

[2022-03-18 18:05] taeold commented on #4327
@chrisbrown-io Nice! I've been working on a fix, but if you are interested in contributing, I'd be happy to help.

Your suggested fix is exactly what I was doing. Only thing I'd add is to add test cases to `fabricator.spec.ts` to avoid this kind of regression in the future.

Let me know if this is something you can do soon. I don't want to have you "work" over the weekend, but I'd love to get a fi

[2022-03-18 18:14] chrisbrown-io commented on #4327
@taeold - sure, it would be good to contribute. I don't mind taking a look at all and I have time to look at this now. However, If you're close to having a fix implemented then feel free to finish it – I don't want to hinder things!

Quick questions I would have about a fix implementation (now I've given it a bit more thought):

1. It seems a though adding an additional `else if` is probably more

[2022-03-18 18:32] taeold commented on #4327
1. Yes, else if is should work
2. Yes, callables should always be made public w/o option to configure it otherwise.
3. No changes to on update - we don't try to change settings on update to respect changes you've made outside the Firebase CLI.
4. V2 methods are used in not-so-secret CF3v2 functions. I'd suggest adding the change anyway even if you can't trigger the code path :p

[2022-03-18 18:33] chrisbrown-io commented on #4327
Great - thanks for the feedback! On it now. Will have a PR up shortly and will add yourself to review 👍

[2022-03-18 18:33] taeold commented on #4327
BTW - I added the test cases for the change here:

https://github.com/firebase/firebase-tools/commit/68bb95266423306dc0ed3113c938cebf0911d821

There is one more bug that this test catches - I'll leave it as an exercise for you to find out haha!

[2022-03-18 19:32] samborambo305 opened #4336 "Firestore emulator crash on export with ~0.5 GB of data"
### [REQUIRED] Environment info

**firebase-tools:** 10.2.2

**Platform:** macOS

### [REQUIRED] Test case

See below

### [REQUIRED] Steps to reproduce

Export ~0.56GB of data for the firebase emulator. The emulator crashes and fails to export due to running out of buffer memory. My machine has 64GB ram so this should not be an issue

### [REQUIRED] Expected behavior

Export completes successfull

[2022-03-18 19:34] #4333 closed

[2022-03-18 22:33] yuchenshi commented on #4290
@cedvdb The verification code in the emulator can be retrieved via a simple REST call for non-interactive testing as documented here: https://firebase.google.com/docs/emulator-suite/connect_auth#non-interactive_testing_2

The reason behind random digits is mostly to be closer to production, especially when developers want to test 2+ concurrent sign-ins. If the two API calls return the same digits,

[2022-03-18 23:16] #4073 closed

[2022-03-19 00:42] yuchenshi commented on #4290
Would it unblock you if we support [something like this in production](https://firebase.google.com/docs/auth/web/phone-auth#test-with-fictional-phone-numbers), where you can predefine *some* phone numbers (of your choice) to have fixed verification codes? You can set them to 123456 if you like to, but you don't have to.

[2022-03-19 01:26] l-monninger opened #4340 "Parse Error at 1:1 in HTTP REQUEST PUT http://localhost:9000/.settings/rules.json with Emulator UI."
### [REQUIRED] Environment info

**firebase-tools:** firebase-tools@10.3.0

**Platform:** macOS Monterrey 12.2.1

### [REQUIRED] Test case

I'm not entirely sure that this is reproducible, but whenever I init my project and try to either `firebase --debug emulators:exec --ui "echo hi"` or `firebase emulators:start` I run into this problem.

I don't want to share too much about my rules, but this i

[2022-03-19 01:27] Expipiplusone opened #4341 "Duplicate access token on file.setMetadata"
### Environment info

Firebase CLI 10.1.2
Using emulators for functions, storage, firestore
Ubuntu 21.10

### Test case

Context: setting new file metadata via (node.js) function.
Example code:
[code]

### Steps to reproduce

Invoke function multiple times

### Expected behavior

New metadata should be set, access tokens should not be duplicated (see below)

### Actual behavior

New metadata are s

[2022-03-19 02:25] cedvdb commented on #4290
If the endpoint works I suppose this is resolved. I've implemented the retrieval but I have other tasks first before trying it out.

[2022-03-19 10:04] LanderBeeuwsaert opened #4342 "Upgrading from firebase tools 10.0.1 to 10.1.5 gives error: Cannot find module 'marked'"
If I look in firebase.js, both 10.0.1 and 10.1.5 have this code:
![image](https://user-images.githubusercontent.com/1098243/159116660-50fd1a31-5ab3-4b6e-990e-78a226449426.png)

if I install dependencies for 10.1.5 my node_modules folder looks like:
![image](https://user-images.githubusercontent.com/1098243/159116667-ff29cd07-4a80-465d-a024-b1525f2bd28e.png)

if I install dependencies for 10.0.1 my

[2022-03-19 12:08] #4289 closed

[2022-03-19 13:10] m-elgamal commented on #4283
fixed by upgrading to 10.4.0
Also make sure to run the export script in the functions folder

[2022-03-19 16:24] xero88 commented on #4322
same issue for me, I throught it was related to my M1, but it's seams not.

On my old mac (where it's ok) : firebase-cli version is 10.2.1
On my new mac (where it's bugged) : firebase-cli version is 10.4.0

[2022-03-19 21:57] ggirotto commented on #3390
Hey there, what's the difference between using `targets` and `bucket`? I was using the configuration file as

[code]

[2022-03-20 13:56] edenhermelin commented on #2837
any updates on this one? anyone knows if there is a plan to fix this soon?

[2022-03-20 16:38] lduivenbode commented on #3824
@modosc @deckchairlabs I've had the same issue and just solved it by moving away from the standalone version of `firebase-tools` to the npm installed version. Not sure if this helps your scenario, but it appears the standalone version is shipped with Node v12.x which was causing my code with optional chaining to fail.

[2022-03-20 17:32] zakton5 opened #4343 "Version >10.2.0 does not run my test data code when running firebase emulators:start"
### [REQUIRED] Environment info

**firebase-tools:** 10.2.0

**Platform:** macOS

### [REQUIRED] Test case

In my `index.ts` I have the following code. admin.initializeApp() gets called (I know this because the app starts and the logs say so). All of my functions are properly exported and active. But my code between initialize and the exports doesn't run at all. Even if I add console.logs all over

[2022-03-21 01:00] #4261 closed

[2022-03-21 01:00] #4259 closed

[2022-03-21 01:00] #3855 closed

[2022-03-21 01:00] #2005 closed

[2022-03-21 05:22] m-elgamal commented on #4283
Actually not fixed, same error with 10.4.0. the workaround i did is to use the --export-on-exit when running the project to auto backup on exit

[2022-03-21 18:01] tohhsinpei commented on #3390
@ggirotto A single target may identify multiple buckets. Please use the `target` key in your `firebase.json` file in accordance with the CLI [docs](https://firebase.google.com/docs/cli/targets#set-up-deploy-target-storage-database).

[2022-03-21 18:32] bkendall commented on #4342
How are you installing the CLI tool? What version of node are you on? Are there debug logs you can provide?

Ignoring the template only leads to more questions, sorry. Can you provide some additional information?

[2022-03-21 19:14] amkoehler commented on #4321
Hey @bkendall, sure thing. Here's a repo I set up that demonstrates the bug: https://github.com/amkoehler/firebase-tools-v10-dep-bug

My understanding of `node_modules` structure is beginner-level, at best, but I'll reiterate that I found it odd that v10 doesn't include its dependencies in my `node_modules` (such as `cli-color` and `commander`) but version 9 does. With version 10.1.0+ they are onl

[2022-03-21 20:09] yuchenshi commented on #4340
Hi, would you mind contacting Firebase Support where you can privately share your rules and log files? We may be able to look into this.

[2022-03-21 20:09] #4340 closed

[2022-03-21 20:10] yuchenshi commented on #4283
Any logs would be really helpful here, please.

[2022-03-21 20:11] yuchenshi commented on #4343
@taeold Looks like this may be related to env vars in functions. Any thoughts?

[2022-03-21 20:20] yuchenshi commented on #4326
@DevSchmidtchen Anything you can share about what kind of files / workloads you're doing with the exports? It's hard to reproduce this without the specific files

@AlexVFornazieri That sounds like a separate issue and please open a new issue here. Also, feel free to send us a PR to ignore nonexistent empty folders

[2022-03-21 20:27] yuchenshi commented on #4298
I think we can at least fail gracefully if watching files fail, printing a warning instead of terminating the process. Feel free to send us a PR too!

[2022-03-21 20:33] charlesfries commented on #4326
@yuchenshi I'm observing the same behavior. File type is `image/png` and it's imported into the emulator suite with the `import` flag:

`firebase emulators:exec --import=./emulator-data "..."`

Seeing the error on every release after `10.2.2`.

[2022-03-21 20:47] charlesfries commented on #4326
@yuchenshi Here is a reproduction: https://github.com/charlesfries/firebase-tools-repro

[2022-03-21 20:53] tonyjhuang commented on #4326
My guess is that this is because of https://github.com/firebase/firebase-tools/pull/3647 which flattened the emulator directory structure and is not backwards-compatible with previously-exported emulator states prior to v10.3.0.

TBH we should have bumped the major version here to note this incompatibility but to help address current users' needs, we can build in backwards compatibility into the i

[2022-03-21 20:54] taeold commented on #4327
Fix released in 10.4.1! Thank you @chrisbrown-io !

[2022-03-21 20:54] #4327 closed

[2022-03-21 20:56] tonyjhuang commented on #4341
@abhis3 can you take a look at this?

[2022-03-21 21:23] modosc commented on #3824
i worked around this by using cloud functions directly instead of via firebase. just disappointed that this was closed with very little comment after i spent the time to publish an example repo which demonstrates the problem.

[2022-03-21 21:40] jeroenkroese opened #4346 "Error uploading large files to emulator storage since 10.3.0"
### [REQUIRED] Environment info

**firebase-tools:** 10.4.0

**Platform:** macOS

### [REQUIRED] Test case

I have a simple file input dialog and I'm using [uploadBytesResumable](https://firebase.google.com/docs/reference/js/storage.md#uploadbytesresumable) from the Javascript SDK to upload to the storage emulator. This works fine for smaller files, but when I try to upload a larger file (~4MB), I

[2022-03-21 21:54] JoeAlx commented on #1627
That worked perfectly for me

[2022-03-21 23:29] evelant commented on #4336
I've found a similar thing with trying to import a 1.5gb production database for local debugging. The emulators just choke even though my machine has 64gb of ram. I opened an issue about it but unfortunately the resolution was "the emulators can't do that". https://github.com/firebase/firebase-tools/issues/3929

[2022-03-22 00:02] jakeleventhal commented on #4336
i have 64gb of ram and have the same issue. the emulator ought to support this or at least support a flag to give users the option to specify the size of the process to override the defaults

[2022-03-22 00:25] evelant commented on #4336
IIRC I tried changing java options to give the process much more ram but larger data sets seem to trigger a bug where it just eats up all available memory then crashes or hangs. I gave it something like 32gb for a 1.5gb data set and it still hung the same way as the default memory limit. For some reason the emulator is incapable of loading a larger data set no matter how many resources it is given

[2022-03-22 11:03] LanderBeeuwsaert commented on #4342
Apologies, the extra information didn't seem relevant but I should have included it anyway.
Node version is v16.13.0
firebase tools is installed both globally as well as in the project folder.
The global instance doesn't seem to interfere.
It's when I switch in the project folder from 10.0.1 to a newer version (10.1.5 or 10.4.1) I get the issue about the marked package.
Even when doing a "firebase

[2022-03-22 11:27] prakashkgsuk commented on #4159
I am trying to generate a firebase token on firebase CLI and authenticating via service account to run the **firebase login:ci** command. I have exported the GOOGLE_APPLICATION_CREDENTIALS env variable to the physical location of my service account json file (service account is having **Firebase App Distribution Admin** and
**Firebase Develop Admin** roles ) but it still asks me to login through b

[2022-03-22 15:43] ermartinez13 commented on #4322
I've been running into the same issue when I went from version 10.2.1 to 10.4.1. I downgraded to version 10.3.1 and found the bug still present. Only when I went back to v10.2.1 did the bug disappear.

[2022-03-22 17:32] yuchenshi commented on #4331
Thanks for reporting this. The other emulators do wait for the import to finish before starting the executing script, but the Firestore Emulator is designed to transparently create a database and import the documents when new project IDs are created and the request may hang if there are a lot of documents to import. As the Firestore Emulator supports multiple projects on demand, there's no easy wa

[2022-03-22 17:46] yuchenshi commented on #4336
FYI the JVM behavior for Firestore Emulator can be tweaked using an environment variable, such as `export JAVA_TOOL_OPTIONS="-Xmx4g"` before starting the emulators. Please try with larger heap sizes and all that -- and let us know if it still fails with more RAM. (We're still working to document this env var. See #2521 for previous discussion)

[2022-03-22 17:48] yuchenshi commented on #4332
Thanks for filing this. Let's merge the discussion into #4336.

[2022-03-22 17:48] #4332 closed

[2022-03-22 18:06] yuchenshi commented on #4170
FYI, we're also accepting Pull Requests for this feature. A good place to start is https://github.com/firebase/firebase-tools/blob/daa604a78cc648abae814350020aa4becb5ce207/src/emulator/auth/operations.ts#L977

[2022-03-22 18:10] yuchenshi commented on #4325
Hi, thanks for filing this issue! Technically speaking, the Firestore Emulator does evaluate rules per listener since they may lead to different results (depending on query / auth / etc.), but I can totally see how this can be noisy.

I'm filing an internal bug for some better way to group / clean this up. We are unable to promise any timeline for this, but if others also have this request, adding

[2022-03-22 18:22] evelant commented on #4336
@yuchenshi in https://github.com/firebase/firebase-tools/issues/3929 I tried it with -Xmx48g on my machine with 64gb of ram on a 1.5gb data set... It filled 48gb of ram then failed. There's seemingly a bug that once an import reaches a certain size the emulator gets "stuck" and just continues allocating memory until it runs out and crashes no matter how much you give it.

[2022-03-22 18:39] yuchenshi commented on #4336
@evelant Thanks for the reply. In order to pinpoint the issue, it'd be great if we can look into the particular dump you're trying to import. Would you mind contacting [Firebase Support](https://firebase.google.com/support) where you can privately share your exports file for reproducing the bug?

[2022-03-22 20:26] MorenoMdz commented on #3092
We have this issue as well when we leave the emulator running for long times, is there a way to recover from this? The file the emulator writes can be saved somehow to be reused later when this happen in case it gets removed?

[2022-03-22 21:39] abhis3 commented on #4341
Ack, I'll take a look into it

[2022-03-23 03:30] jakeleventhal commented on #4336
@evelant @yuchenshi let me know the result of this. I can't send over my data because it contains sensitive information

[2022-03-23 14:08] sebfindling commented on #2034
any updates on supporting actual scheduled functions?

[2022-03-23 15:58] tonyjhuang commented on #4329
Hi @SamyPesse, thanks for filing this. This behavior mimics the behavior of the storage server in production today. Please see https://github.com/firebase/firebase-js-sdk/issues/5079#issuecomment-871712273 for an explanation of what's going on.

Note that since the storage emulator does not support GCS object versioning, the workaround in the linked issue will not work in the emulator environment.

[2022-03-23 16:12] Tom3652 opened #4353 "npm ERR! ENOTEMPTY: directory not empty, rename '/usr/local/lib/node_modules/firebase-tools'"
### [REQUIRED] Environment info

**firebase-tools:** 10.2.2

**Platform:** macOS

### [REQUIRED] Test case

[code]

### [REQUIRED] Steps to reproduce
![Capture d’écran 2022-03-23 à 17 09 50](https://user-images.githubusercontent.com/32631467/159744742-379ad819-3e90-4c05-b122-cafd9c430247.png)

As asked by the message, run ```sudo npm install -g firebase-tools``` (if you run without `sudo` you wi

[2022-03-23 16:56] bkendall commented on #3734
No update as of today, sorry. The really short version of the situation is that GCF didn't design their product with "serve all HTTP requests" in mind - they tend towards specific event providers, even with Firebase's frequent use of HTTP. Their [framework explicitly stops `robots.txt` and `favicon.ico` from being served](https://github.com/GoogleCloudPlatform/functions-framework-nodejs/blob/maste

[2022-03-23 17:04] SamyPesse commented on #4329
@tonyjhuang While looking deeper into it. I still can't reproduce this behaviour (which is a good thing imo, but I feel like I'm missing something).

Here is a minimal reproducible example: https://github.com/SamyPesse/firebase-storage-repro
I've just tested with a new firebase project and I'm getting the following when running it:

[code]

It seems to demonstrate that `resource == null` does work

[2022-03-23 17:18] tonyjhuang commented on #4329
Sorry, I realize now I conflated the issue you raised with the other issue in the js sdk repo which is mainly that there's a lot of confusion around when `UPDATE` vs `CREATE` security rules are triggered.

Your initial bug report does seem like a bug just in our emulator that we need to fix. I apologize for the confusion.

[2022-03-23 17:40] SamyPesse commented on #4329
I can confirm it looks like a difference between `update` and `write`:

### 🔴  Using `allow update: if false` doesn't work to prevent overwriting files

The following rules cannot be used to prevent over-writing files, it has the same effect as `write: true`

[code]

### ✅  using `allow write: if resource == null`

In that case the second file operation fails; and files cannot be over-written.

[c

[2022-03-23 18:09] bkendall commented on #4353
We don't generally recommend installing `firebase-tools` using `sudo` because of these types of issues, including but not limited to permissions issues. I'd highly recommend taking a look at how you've installed node and npm and setting them up so they don't require root permissions to install and modify.

Unfortunately, this repo isn't the best place to debug node/npm setups - your question may h

[2022-03-23 18:09] #4353 closed

[2022-03-23 18:37] tonyjhuang commented on #4329
That's right, the `write` permission applies to both object upload and metadata update. `update` only apples to metadata updates, `create` only applies to object uploads (except in cases where you have object versioning enabled). https://github.com/firebase/firebase-tools/pull/4330 is likely not the right fix. Instead, we will need to set the `before resource` in the upload handler in `StorageLaye

[2022-03-23 19:38] bkendall commented on #4321
Thanks for the repro. This is really confusing. For whatever reason, the modules just aren't being found when it's being run with `jest`. I may not be able to address it this week (or in the short term), but I'll keep it in the back of my mind.

[2022-03-23 21:06] amkoehler commented on #4321
Ok, thanks for taking a look. Jest's module resolution is kind of a mess right now. As a workaround I can install each of the missing modules, which brings them into my `node_modules` where Jest can find them.

[2022-03-23 22:35] ittaboba commented on #3390
Hi, thanks for the fix.

Since the update, I get the following error given the same previous working code whether it is single or multiple rules configuration:

`FirebaseError: Firebase Storage: User does not have permission to access '...' (storage/unauthorized)
{"error":{"code":403,"message":"Permission denied. Storage Emulator has no loaded ruleset."}}`

[2022-03-23 23:45] #4116 closed

[2022-03-23 23:47] ittaboba commented on #3390
I also get this error if I go back to my default storage rules only (previously working):

`FirebaseError: Firebase Storage: An unknown error occurred, please check the error payload for server response. (storage/unknown)`

Tried to follow this thread with no success https://stackoverflow.com/questions/70052479/firebase-storage-an-unknown-error-occurred-please-check-the-error-payload-for

Please,

[2022-03-24 00:15] #2421 closed

[2022-03-24 04:17] dallarosa commented on #4116
Amazing! Thanks so much

[2022-03-24 11:00] littletime commented on #4343
Same issue here, MacOS also, using firebase-tools 10.4.2

[2022-03-24 13:01] SamyPesse commented on #4329
@tonyjhuang I've updated https://github.com/firebase/firebase-tools/pull/4330 to make it match the behaviour of the production storage: over-writing a file will always evaluate as `create` but with `resource` being defined.

I've tested this behaviour in the production storage using:

[code]

Let me know what you think :)

[2022-03-24 14:29] amkoehler commented on #4321
I found another workaround--and potentially a better solution--for recursive deletes. `firebase-admin` now provides a [way](https://googleapis.dev/nodejs/firestore/latest/Firestore.html#recursiveDelete) to recursively delete collections w/o needing to import `firebase-tools`. This makes our tests much easier to manage since `firebase-admin` is used everywhere.

[2022-03-24 16:37] tohhsinpei commented on #3390
@ittaboba Could you provide the full contents of your `firebase.json` file (the one with multiple targets)? When do you get the permissions error – on start?

[2022-03-24 17:46] taeold commented on #4343
@zakton5 One change we made in recent versions of the Functions Emulator was to "lazily" load cloud functions. Before, all functions were loaded at startup - now they are loaded only on first request.

Sorry for unknowingly pushing out a breaking change here.

Though I'm a bit concerned about this "init" pattern, e.g. IIUC your `createTestData` function will be called once per function. In fact, i

[2022-03-24 18:27] hwale opened #4360 "Firebase CLI hangs when setting up Github Action Script on firebase init for hosting"
### [REQUIRED] Environment info

10.4.2

**firebase-tools:**

Windows

**Platform:**

### [REQUIRED] Test case

### [REQUIRED] Steps to reproduce

1. firebase init
2. check both hosting options, hit enter
3. select existing project
4. enter "build" as public directory
5. enter "Y" to configure as a single-page app
6. enter "Y" to setup automatic builds and deploys with Github
7. enter "Y" to overw

[2022-03-24 18:30] zakton5 commented on #4343
@taeold Very good to know! Thanks for that info. I'm not a fan of this init pattern either, but I wasn't able to find any examples on how to do something like this properly. I handle the multiple runs by manually checking if test data already exists to prevent duplicate data creation. I'll attempt to move this code outside of the emulator process and run it separately.

[2022-03-24 19:37] bjornallvin commented on #2421
Can gladly confirm that taking an export from macos and importing it on windows now work!  Thank you @yuchenshi!! :heart: :+1: :champagne:

[2022-03-24 21:31] trex-quo commented on #4343
I have a similar issue here where I am using a third party secrets library Doppler, and attempt to load those in the top-level. The command is `doppler run -- firebase emulators:start`. It works fine on 10.1.4 but breaks if I upgrade any further, as it does not end up loading in the secrets by the time the functions try to read them in, and I get a "cannot read property 'example_secret' of undefin

[2022-03-24 22:26] bkendall commented on #4279
In the latest, I've made it possible to set `FIREBASE_HOSTING_UPLOAD_CONCURRENCY` to a lower number than 200 that works best for you!

[2022-03-24 22:26] #4279 closed

[2022-03-24 23:19] abhis3 commented on #3398
Merged https://github.com/firebase/firebase-tools/pull/4278

Should be in the next release

[2022-03-24 23:51] yuchenshi commented on #2421
Fixed in Firebase CLI v10.5.0.

[2022-03-25 04:22] DibyodyutiMondal commented on #2994
@taeold

I dove into the node_modules and changed the code at the locations in the images below. All it does is add the `NODE_OPTIONS` environment variable. The alternative is to append `.js` and `/index.js` to imports as necessary.

It seems that while parsing the triggers, the environment variables are not picked up, even if they are specified in a `.env` file.

If you think that this is a good

[2022-03-25 09:59] cedvdb commented on #4290
@yuchenshi I've tested the rest api to get the verification code. It works fine, although in practice I think it would be easier if it worked like the non emulator, where you can preset the sms code. Now I have two process depending if my tests run with emulator or the real firebase auth.

[2022-03-25 11:07] torstenek commented on #4322
Adding some more info:

### [REQUIRED] Environment info

I can reproduce this on
- MB Pro M1 Max
- MP Pro 2019

### [REQUIRED] Steps to reproduce

1. Start with an empty $FIREBASE_EMULATOR_DATA directory.

2. Start the emulator with

`firebase emulators:start --project myproject -only 'storage' --import $FIREBASE_EMULATOR_DATA --export-on-exit`

Now upload, for example, an image `myfile.jpg` to th

[2022-03-25 11:19] uvesten opened #4361 "New .env-based configuration is not available on functions start in emulator"
I've spent quite a bit of time to move from the old `functions.config()` system to the new `.env`-file based config for better developer ergonomics. I'm very, very disappointed that this "feature" was released at all in its current state, since it's a major regression compared to `functions.config()`.

That an environment variable needs to be set in the environment _before_ starting to execute an

[2022-03-25 12:18] DibyodyutiMondal commented on #2994
Just saw that someone has opened an issue in the  [#4361](https://github.com/firebase/firebase-tools/issues/4361) in connection with what I just sent. I shall post the above images there and continue there instead

[2022-03-25 12:22] DibyodyutiMondal commented on #4361
While they are working on a change, I discovered the two places where we can insert our required env variables, both for the emulator, and deployments.

I dove into the node_modules and changed the code at the locations in the images below. All it does is add the `NODE_OPTIONS` environment variable. The alternative is to append `.js` and `/index.js` to imports as necessary.
(this is specific in my

[2022-03-25 12:58] jakeleventhal commented on #4331
Plus one on this

[2022-03-25 18:11] cedvdb commented on #4290
This seems to work well for the first authentication, however when running automated tests, the second authentication does not regenerate a new code. I've searched a long time but cannot figure out why. I'll skip those tests for now.

[2022-03-25 18:41] yuchenshi commented on #4290
@cedvdb Is there any chance you can get a step-by-step repro? We'll gladly look into this.

[2022-03-25 18:42] #4270 closed

[2022-03-25 19:19] ggirotto commented on #4346
Not sure if my problem origin is the same, but I'm also receiving this error

[2022-03-25 19:33] taeold commented on #4361
Other issues that touches on this problem:

https://github.com/firebase/firebase-functions/issues/1058
https://github.com/firebase/firebase-functions/issues/1044

Pasting a response I posted in another issue:

Since this is a common point of confusion, I'm going to try to consolidate our response in a single issue. Arbitrary going to pick the earliest reported issue (https://github.com/firebase/fi

[2022-03-25 19:33] #4361 closed

[2022-03-25 20:56] zakton5 commented on #4343
@taeold A perfect solution would be to use something like `firebase:exec` but have it work with already running emulators instead of starting them up and immediately shutting them down.

[2022-03-26 08:17] sinano1107 commented on #2612
This problem also occurs during development, not during testing

[2022-03-26 13:02] LostInDarkMath opened #4363 "I cannot use "firebase init" for cloud messaging only"
### [REQUIRED] Environment info
**firebase-tools:** Firebase CLI version 10.5.0

**Platform:** Windows

### [REQUIRED]  Steps to reproduce

[code]

### [REQUIRED] Expected behavior
I want to add Firebase Cloud Messaging to Flutter project that hasn't used Firebase before. So I run `firebase init`. But FCM is not listed, so I just pressed enter in order to to just the basic configuration.

### [REQ

[2022-03-26 20:25] Vortec4800 opened #4364 "Storage Emulator Upload Error: Range invalid for upload data."
### [REQUIRED] Environment info

**firebase-tools:** 10.5.0

**Platform:** macOS 12.3 on M1 Max

### [REQUIRED] Test case

[code]

### [REQUIRED] Steps to reproduce

Upload an image using the provided function, after connecting to Firebase Storage Emulator.

Storage rules are to allow writes if authenticated.

[code]

### [REQUIRED] Expected behavior

Image to upload to Storage Emulator and print

[2022-03-27 16:32] torstenek commented on #4322
The sequence %252F in the filename could be the result of a double URI encoding.

[2022-03-28 01:00] #4285 closed

[2022-03-28 01:00] #4275 closed

[2022-03-28 07:30] DibyodyutiMondal commented on #4326
For me this happens even with a newer export...
This is what my `firebase-export-metadata.json` looks like
[code]

[2022-03-28 08:16] Alien10123 opened #4365 "Writing to emulator firestore doesn't work, but it does work on a production app"
### [REQUIRED] Environment info

**firebase-tools: 10.5.0**

**Platform: Windows**

### [REQUIRED] Test case

### [REQUIRED] Steps to reproduce

Create a new Next Js app and setup the emulator. Only the firestore one is need to reproduce this, but I also have firebase auth. Then in your Next JS app connect to firebase with this code:
[code]
And then to connect to the emulator do this:
[code]
Chang

[2022-03-28 12:11] DibyodyutiMondal commented on #4326
As a temporary workaround, I manually removed the `storage` part of the export metadata json. Then I created a node server on localhost that, when requested on a certain endpoint, would read the all the files and metadata from the storage directory and upload them to the emulator instance. Essentially, this is now part of my project environment startup ritual.

Interestingly, I was encountered wit

[2022-03-28 14:41] cedvdb commented on #4290
I made a repro

https://github.com/cedvdb/flutter_repros/tree/failing_auth

However it might require some setup:

  - it uses flutter
  - it will require that you remove the firebase folder and initialize with your own project so you can run the emulator with `firebase init`
  - You'll have to change the values in `firebase_options.dart  android` with the values for android.

Then you can run the

[2022-03-28 18:32] tohhsinpei commented on #3390
Ok, I'll take a look. Thanks for the report.

[2022-03-28 20:16] yuchenshi commented on #4360
Could you please try this again with `--debug`? It produces useful log output for the request which you can upload here.

[2022-03-28 22:43] yuchenshi commented on #4365
Thanks for the report. I think you've ran into a Project ID mismatch. While you can write data to any valid project ID using the SDKs, the Emulator UI only shows data in the default project ID. You can try starting the emulators with `firebase emulators:start --project foo-bar`, where `foo-bar` matches what your Next JS app is using, and you should be able to see the data now.

[2022-03-29 00:47] DibyodyutiMondal opened #4366 "Firebase storage rules don't reload on save"
### [REQUIRED] Environment info

**firebase-tools:** 10.5.0

**Platform:** Windows 11, node 16

### [REQUIRED] Test case

### [REQUIRED] Steps to reproduce

[code]
The above rule allows all operations

1. Given the above rules, simply run the storage emulator, upload a file (example: `file.txt`).
2. Then using a new browser tab, go to the emulator storage localhost url for that file (example: `htt

[2022-03-29 01:37] danieljy commented on #2837
Yes this just tripped me up as well.

[2022-03-29 09:23] dermasmid opened #4367 "[FR] Log requests in Storage Emulator"
### [REQUIRED] Environment info

**firebase-tools:** 10.2.2

**Platform:** Ubuntu 20.4

### [REQUIRED] Test case

When using the storage emulator i was not able to see any logs, even when running with --debug

### [REQUIRED] Steps to reproduce

start the storage emulator, upload a file or something, there will be no logs of that

### [REQUIRED] Expected behavior

storage should provide some logs a

[2022-03-29 14:20] russellwheatley opened #4368 "RTDB emulator "indexOn" rule always produces an exception."
### [REQUIRED] Environment info

**firebase-tools:** 10.5.0

**environment:** macOS 11.6 Big Sur

### [REQUIRED] Test case

RTDB rules required:
[code]
Reproducible sample code:
[code]

1. Run `firebase emulators:start --only database` with the rules noted above.
2. Insert your Firebase database options as noted above.
3. Create a Flutter project (`flutter create testProject`) and copy/paste the a

[2022-03-29 19:45] tommyzat opened #4370 "Admin SDK not integrating properly with Auth emulator"
### [REQUIRED] Environment info

**firebase-tools:** 10.5.0

**Platform:** Windows

### [REQUIRED] Steps to reproduce
Node.js server with firebase-admin, run getAuth().verifyIdToken(token).

Environment variables:
[code]

Emulator server is on the local computer, admin node.js server is in a raspberry pi running docker.

### [REQUIRED] Expected behavior
A decodedToken should be returned.

### [REQ

[2022-03-29 19:54] #4370 closed

[2022-03-29 20:26] tonyjhuang commented on #3390
Reopening for now until this is resolved

[2022-03-29 20:27] tonyjhuang commented on #4322
Potential duplicate of https://github.com/firebase/firebase-tools/issues/4326

[2022-03-30 01:42] junaga opened #4371 "Set Project Resource Location ID with `firebase projects:create`"
Please, without a prompt. So it can still be used in simple scripts.

Love you, love Firebase. You guys (an gurls) rock! cya <3

Please submit feature requests through our [support page](https://firebase.google.com/support/troubleshooter/report/features/).

[2022-03-30 07:25] AntoninBeaufort commented on #4366
I can confirm that I have the same problem on same versions (firebase-tools, Windows and Node but I'm using WSL 2 with Ubuntu 20.04), need to restart emulators to get rules updated.

[2022-03-30 08:06] dermasmid opened #4372 "Error: incorrect header check when downloading from storage emulator"
### [REQUIRED] Environment info

**firebase-tools:** 10.5.0

**Platform:** Ubuntu

### [REQUIRED] Test case

download any file from storage emulator using https://github.com/googleapis/nodejs-storage

[code]
### [REQUIRED] Steps to reproduce

1. upload a file to storage emulator
2. try to download using the nodejs stroage package

### [REQUIRED] Expected behavior

should be able to download files

[2022-03-30 09:26] russellwheatley commented on #4364
Hey, I'd just to chime in by saying the [FlutterFire CI for iOS](https://github.com/firebase/flutterfire/runs/5736311024?check_suite_focus=true#step:11:516) is now breaking with the above mentioned error. We're also using the latest `firebase-tools` (version 10.5.0).

To see this error in action, do the following:

1. Create throwaway flutter app (`flutter create throwawayProject`).
2. Copy paste

[2022-03-30 10:04] thenikso commented on #4201
+1

[2022-03-30 10:08] dermasmid opened #4374 "Storage emulator returning wrong host for upload URL's"
### [REQUIRED] Environment info

**firebase-tools:** 10.5.0

**Platform:** macOS

### [REQUIRED] Test case

### [REQUIRED] Steps to reproduce

1. create docker contianer with storage emulator in it and make it listen to "host": "0.0.0.0" (so it can be accessed from outside the container)
2. create a second container and try to upload a file to the emulator

what will happen is that it will try to

[2022-03-30 10:26] AchrafBn commented on #4201
+1

[2022-03-30 10:36] r3wald commented on #2675
Same problem here. To me it seems some libraries are missing per default:
[code]

In Ubuntu this work's totally fine:
[code]

[2022-03-30 11:09] r3wald commented on #2675
Got it working:
[code]

[2022-03-30 13:10] Vortec4800 commented on #4364
I edited my original post to add this info but wanted to comment as well in case it gets missed and may be important, I'm running the emulator suite on my M1 Max laptop.

[2022-03-30 16:02] Corchoneitor commented on #2837
Not sure if related, but I'm having another problem with timeoutSeconds.
If I set it to more than 125s, and my function process over 120s it doesn't return response and therefore timeouts.
![image](https://user-images.githubusercontent.com/2912593/160879137-938cc383-62bd-4899-be21-80f582bfb6e6.png)

I was expecting to get the response after process ended and the function to finishes.

[2022-03-30 16:51] tohhsinpei commented on #4326
@DibyodyutiMondal Re: bug happening with a newer export, I'll put in an additional fix for it, thanks for pointing this out!

[2022-03-30 17:28] tonyjhuang commented on #4201
Hi all thanks for the interest in this feature request. As this is part of the GCS API and not explicitly the Firebase Storage API, this likely won't be prioritized soon. However, we do welcome all PRs and the team would be happy to give reviews to anyone who would like to take a stab at this issue.

[2022-03-30 17:56] Corchoneitor opened #4378 "Function with long processing gets idle after 2 minutes and timeouts (Firebase Emulator only)"
### Environment info

**firebase-tools:** 10.1.5

**Platform:** Windows

**Node:** 12.21.0

### Test case

Problem occurs only in Firebase emulator with functions that take more than 120 seconds of processing.
I have an onCall function which I run with **timeoutSeconds 180 seconds**. In this function, I do processing for over 130 seconds.
After the process is done, the function doesn't return any

[2022-03-31 01:43] daenamkim opened #4382 "`CLOUD_RUNTIME_CONFIG` is not detected as expected on firebase (>= 10.2) emulator starts"
### [REQUIRED] Environment info

**firebase-tools:**

[code]

**Platform:**

- macOS (Monterey 12.3 (21E230))
- Apple M1 Pro

### [REQUIRED] Test case

_index.ts_

[code]

_package.json_
[code]

_.runtimeconfig.test.json_
[code]

_.runtimeconfig.json_
[code]

### [REQUIRED] Steps to reproduce

- Remove `.runtimeconfig.json` (or rename it to the different e.g .runtimeconfig.jsonxyz)
- Run `yarn tes

[2022-03-31 12:48] aprilmintacpineda commented on #4183
This is happening to me as well

![image](https://user-images.githubusercontent.com/21032419/161057926-10307dfd-1b9e-4920-8890-71486aa9223d.png)

[2022-03-31 13:55] lfkellogg commented on #4183
@aprilmintacpineda When uploading AABs, the app does in fact have to be published in Google Play. The specific requirements are listed in the AAB setup documentation for each client, under [Before you begin](https://firebase.google.com/docs/app-distribution/android/distribute-fastlane?apptype=aab#before_you_begin).

[2022-03-31 13:58] lfkellogg commented on #4183
@StephenHodgson I'm going to close this issue since we haven't heard from you in a while. If you are still seeing the issue when uploading APKs, please post your debug logs and we can continue the investigation.

Just to reiterate, this behavior is expected when uploading AABs. See [each client's AAB setup docs](https://firebase.google.com/docs/app-distribution/android/distribute-fastlane?apptype=

[2022-03-31 13:58] #4183 closed

[2022-03-31 14:12] jakeleventhal commented on #4336
I was able to recreate the issue with the following snippet in Node:
[code]

After all 7500 loop iterations complete I get the following firestore-debug.log
[code]

[2022-03-31 14:23] sceee commented on #4322
Jumping in here as I'm facing the same issue and have more information to add:
After starting the emulator with importing previously exported Storage data, accessing the storage bucket "directory" via the Emulator UI brings me to a white page with an exception in the browser:
[code]

I checked the `storage_export\blobs` directory in the file system and there, the file seems to be present but in my

[2022-03-31 18:24] fvulich commented on #4378
I experience the same issue with "firebase-tools": "9.3.0",

[2022-03-31 19:29] lm1 opened #4386 "Auth function not triggered in emulator whenever http_proxy is set"
On Windows whenever http_proxy env. variable is set, functions emulator displays the following message instead of user().onCreate() handler being triggered:
`!  functions: Firebase Authentication function was not triggered due to emulation error. Please file a bug.`

It does not matter if http_proxy is pointing to a correct proxy server or set to a dummy value. Having no_proxy=localhost does not m

[2022-03-31 20:02] #4326 closed

[2022-03-31 20:52] built-by-as commented on #4364
I'm also running into the same error
[code]

[2022-03-31 20:56] StephenHodgson commented on #4183
@lfkellogg no problem, we ended up using a different method to upload.

[2022-03-31 21:07] #4341 closed

[2022-03-31 22:30] aprilmintacpineda commented on #4183
Uploading APK worked.

[2022-04-01 05:22] coreform opened #4392 "Cannot import to emulators"
### [REQUIRED] Environment info

**firebase-tools:10.5.0**

**Platform:macOS**

### [REQUIRED] Test case

Can one import a production backup into the local emulators?

### [REQUIRED] Steps to reproduce

Install firebase-tools via curl.

Take an export from a cloud firebase project using gsutils. chmod 755 in case it isn't already.

then either:

firebase emulators:start --import= ../backupFolder/b

[2022-04-01 08:38] freakness opened #4393 "firebase functions runWith timeout not used when running from functions:shell"
The firebase functions shell does not seem to read the runWith parameters correctly on version **firebase-tools:10.5.0**. I confirmed this still worked in **firebase-tools:10.1.5**.

### [REQUIRED] Environment info

**firebase-tools:10.5.0**

**Platform:macOS**

### [REQUIRED] Test case

[code]

### [REQUIRED] Steps to reproduce

Run this function from the firebase shell:
After building the projec

[2022-04-01 11:07] yoavTaieb commented on #4366
Same problem on Mac Monterey

[2022-04-01 17:38] oobayly commented on #2421
Are you sure about that. I've just updated to 10.5.0, restarted the emulator and then exported on Windows and my `firestore_export.overall_export_metadata` still contains backslashes. Or is that the Linux firebase-tools are now capabale of transforming those backslashes?

[2022-04-01 18:17] yuchenshi commented on #2421
@oobayly First of all, we have not changed the export format, but just updated the Firestore emulator so it recognizes slashes from other OSes. This makes it backwards compatible with all the existing export dumps all of you have worked so hard to create in the past.

The Storage Emulator is a separate, unrelated issue. As such, just changing slashes will not help. Please kindly comment on relevan

[2022-04-01 19:24] oobayly commented on #2421
Thanks for that clarification.

[2022-04-01 20:47] PrashantJsReact commented on #1988
just create one collection in firestore and run firebase init , it will work.

[2022-04-01 22:44] codin-play commented on #3919
I can consistently get this error even when deploying a group of only 5 functions. The error message literally shows nothing useful and it has been a real pain. I can deploy each one individually which results in deployments for a full stack to take hours. Any ideas from folks on how to overcome this would be really appreciated.

[code]

[code]

[2022-04-02 08:34] edenhermelin commented on #4393
There is another issue very similar to this one from a year ago:
https://github.com/firebase/firebase-tools/issues/2837

Seems like this problem happens to a lot of people.

[2022-04-02 18:09] doppio commented on #4185
@AdamTeodoro Can you please share how you solved this, for other people like me with the same issue?

[2022-04-03 12:11] MansonLuo opened #4394 "Failed to list Firebase projects even using firebase login --reauth"
### [REQUIRED] Environment info

**firebase-tools:**
version 10.5.0

**Platform:**
windows 11.

### [REQUIRED] Test case

p> firebase init
cannot list projects

p> firebase login --reauth
p> firebase projects:list
cannot list projects.
### [REQUIRED] Steps to reproduce

i configured proxy using v2ray.
### # 1. turn on vpn pack mode.

### # 2. modify request.js in ...\node_global\node_modules\fireb

[2022-04-03 15:46] emileswain commented on #2518
Going to share my implementation as it adds in the specific detail for configuring ngrok with Firebase Emulator with Android project building to device.  I experienced all the above issues as well as some others. But the above post solved the main issue, which was I was setting ngrok to expect use of its http protocol from firebstore, but infact firestore was expecting tcp.

I launched the emulato

[2022-04-03 23:22] PorcoRosso85 commented on #4254
I also did login firebase with option ```--no-localhost``` via firebase-cli v10.5.0.
In my case, it did not work when I logged out and in again.

[2022-04-03 23:40] qhaas commented on #3953
Hopefully there is more movement on this, might resolve [googleapis/python-storage issue 752](https://github.com/googleapis/python-storage/issues/752), which I created before finding this issue / PR.

[2022-04-04 01:00] #4283 closed

[2022-04-04 04:02] hwale commented on #4360
`[info] +  Created service account github-action-477540878 with Firebase Hosting admin permissions.
[debug] [2022-04-04T03:56:25.216Z] >>> [apiv2][query] PUT https://api.github.com/repos/hwale/fortune-seekers-game/actions/secrets/FIREBASE_SERVICE_ACCOUNT_FORTUNE_SEEKERS_GAME [none]
[debug] [2022-04-04T03:56:25.216Z] >>> [apiv2][body] PUT https://api.github.com/repos/hwale/fortune-seekers-game/acti

[2022-04-04 04:04] hwale commented on #4360
[info] +  Created service account github-action-477540878 with Firebase Hosting admin permissions.
[debug] [2022-04-04T03:56:25.216Z] >>> [apiv2][query] PUT https://api.github.com/repos/hwale/fortune-seekers-game/actions/secrets/FIREBASE_SERVICE_ACCOUNT_FORTUNE_SEEKERS_GAME [none]
[debug] [2022-04-04T03:56:25.216Z] >>> [apiv2][body] PUT https://api.github.com/repos/hwale/fortune-seekers-game/actio

[2022-04-04 04:24] myaoo18 commented on #610
this worked on Mac OS!

[2022-04-04 05:05] williamjwu commented on #2452
Hope this issue will resolve soon! 😉

[2022-04-04 07:05] rishisv opened #4396 "File uploads in storage emulator on m1 mac failing"
### [REQUIRED] Environment info

**firebase-tools:** 10.5.0

**Platform:** macOS version 12.2.1, Apple M1 Pro chip

### [REQUIRED] Test case

* Launch the storage emulator, localhost:9595/storage and upload a large file.
* Error is seen in the console:
`Uncaught (in promise) FirebaseError: Firebase Storage: An unknown error occurred, please check the error payload for server response. (storage/unk

[2022-04-04 07:07] rishisv commented on #4396
There's a related issue #4346 that talks about 4mb file sizes and on older version of firebase tools but I can't even upload ~500kb files with the latest version. My teammates on x86/intel mac do not have this issue.

[2022-04-04 08:21] sebastien-f commented on #4254
@PorcoRosso85 until this gets fixed I guess that you will have to go down to 10.1.5.

[2022-04-04 09:47] darrelfrancis commented on #610
You are using the Windows way of accessing an environment variable, but you are on a Mac.
Assuming you are happy with the functions directory being hard coded as "functions", just change the mentions of `\"%RESOURCE_DIR%\"` to `functions`, or if you like to use more characters, `\"functions\"`.

[2022-04-04 18:33] alvinchevolleaux commented on #4322
I'm having the same issue of the blank page and error messages:
[code]
with a subsequent
[code]

I do have URL encoding of the filenames in the exported storage blobs. They're in the following format `bucketname%2Ffilename.jpeg`.

I'm on Mac OS with an Intel chip.

[2022-04-04 20:10] yuchenshi commented on #4367
The Storage Emulator does not have per-request logging. Would you like us to convert this to a feature request?

[2022-04-04 20:12] dermasmid commented on #4367
Yes, thanks

[2022-04-04 20:17] yuchenshi commented on #4336
@jakeleventhal  May I ask if you've tried with the memory flags? If so, how much heap space did you start it with?

[2022-04-04 20:23] yuchenshi commented on #4392
Would you mind trying again with `firebase emulators:exec --import=../backupFolder`? Note that there should be no space after the equal sign, and the argument should be a directory, not the metadata file.

[2022-04-04 22:30] LanderBeeuwsaert commented on #4342
After upgrading to npm 8 this was fixed

[2022-04-04 22:30] #4342 closed

[2022-04-04 22:38] IanWyszynski commented on #4368
Does the same exception get thrown when `once` is used instead of get here?
[code]

[2022-04-04 23:25] coreform commented on #4392
Sure,

firebase emulators:exec --import=../backupFolder
error: missing required argument 'script'

firebase emulators:start --import=../backupFolder
i  emulators: Starting emulators: functions, firestore, storage
i  emulators: Shutting down emulators.
i  hub: Stopping emulator hub

Error: An unexpected error has occurred.

[2022-04-05 02:37] yuchenshi commented on #4392
Ah, my bad for suggesting `exec` earlier -- that is for use with a script.

I think the `firebase emulators:start --import=../backupFolder` command is getting closer, would you mind adding `--debug` and upload the full log? We may be able to look into this.

[2022-04-05 05:03] coreform commented on #4392
Nono, my bad: it all came down to the whitespace and a typo in the real path. Sorry for taking up your time on that.

I was able to use the :start command to import. Though the import only sees Firestore populated, Storage is empty and part of our content is offloaded to Storage to mitigate hotspotting. I recall seeing an open issue about that matter so will head over there.

[2022-04-05 05:03] #4392 closed

[2022-04-05 05:37] coreform commented on #4322
I don't see any logs regarding imports to Storage when importing a production backup that uses Storage. The Emulator Suite Storage tab is also empty of files after such an import.

[2022-04-05 06:01] LefanTan commented on #2421
Is this still fixed? I have exported data from windows using `firebase emulators:export ./dir`, but running `firebase emulators:start --import=./dir` on a mac m1 gives me this error:

[code]
Works fine on window

[2022-04-05 06:48] lm1 commented on #4386
Yes I can work-around this issues in my specific case using emulators only locally, but I guess it may be somewhat more troublesome in configuration where emulated services reach production database(?)
Note it fails even if no_proxy is set to localhost, and documentation does not say a word about proxy configuration.
The error message is confusing, and actually contains a request to file a bug, so

[2022-04-05 10:49] delaneyb opened #4399 "Multi-region callable function triggers parsed incorrectly"
Related to #4307

Due to the following snippet:
https://github.com/firebase/firebase-tools/blob/2d21bb2fdbb5f3a32587e0881a98c8c33556a5f3/src/deploy/functions/runtimes/node/parseTriggers.ts#L197-L199

A function that is deployed with >= 2 destination regions has the trigger for the >=2nd trigger incorrectly computed as a `httpsTrigger` instead of a `callableTrigger` in the subsequent iterations of

[2022-04-05 14:34] cedvdb commented on #4290
@yuchenshi have you had the possibility of using the repro ?

[2022-04-05 17:24] tohhsinpei commented on #4366
Thanks for the report. This should be fixed in #4337 which was included in yesterday's release. Let me know if the problem persists; otherwise closing the issue.

[2022-04-05 17:24] #4366 closed

[2022-04-05 18:02] tonyjhuang commented on #4367
Does this env var not help? https://github.com/firebase/firebase-tools/blob/master/src/emulator/storage/apis/firebase.ts#L22

[2022-04-05 18:32] tohhsinpei commented on #4322
Thanks all for the reports. The main issue looks like a duplicate of #4326 and should be fixed in #4358, which was included in yesterday's release. Let me know if the problem persists.

@sceee You're right, there is still an issue with importing/ exporting across platforms. I'll put in a fix sometime this week; will close this once that is in.

[2022-04-05 18:44] sceee commented on #4322
@tohhsinpei thanks. I can confirm that the main issue (Emulator UI crashes on same OS export/import & file not available) is fixed with 10.5.0.

But importing a Windows export on a Mac still makes the emulator UI crash and the file not being available via the API as you wrote. I'm looking forward to the fix, thank you!

[2022-04-05 20:40] yuchenshi commented on #4290
@cedvdb Thanks for sharing your findings about the issue not being present in web. That hints at issue being in some specific interactions between Flutter and Auth emulator, and we're waiting for my colleagues with Flutter expertise to take a look.

On the other hand though, I think your feature request is a perfectly reasonable one. As we strive to make the Auth emulator align with production beh