[2019-06-30 19:38] mschristensen commented on #1451
Am also experiencing this issue since 7.0.2

[2019-06-30 21:55] Shikhha commented on #915
for anyone who is still looking for the answer :
You need to add firebase a global dependency and not locally
Use : npm install -g firebase-tools

[2019-07-01 02:26] jrthib commented on #1451
Just upgraded to 7.0.2, seeing this as well. Checked my account credentials and the `client_email` field is present.

[2019-07-01 08:35] divyesm commented on #688
I m getting the same issue , the debug keeps same error either while preparing functions folder to deploy or while deploy the only function I m trying to deploy . The debug log is not even telling me the file in which it is getting the mentioned error. Tried everything. Please help me resolve this issue , it is blocking my release for 2 days.

[2019-07-01 10:52] 0x80 commented on #653
@dinvlad it will bundle the root of what you point it to, but you can put everything that you don't want included in the firebase.json ignore list.

I've now used a similar workaround to @audkar.

[code]

Then the pre-deploy-cloud-functions script is:

[code]

[2019-07-01 16:12] samtstern commented on #1452
The error says `You probably need to run "npm install" in your functions directory.
i functions: Your functions could not be parsed due to an issue with your node_modules`

Can you run:
[code]

and then try again?  If you want to be extra careful you could `rm -rf functions/node_modules` first.

[2019-07-01 17:26] samtstern commented on #1451
Could someone share the code of a function they're trying to run in the emulator that fails with this error?  The simpler the better.

[2019-07-01 17:57] bkendall commented on #688
@divyesm please open a new issue with the appropriate information and we can try to help debug it. Include as much of the `--debug` output or `firebase-debug.log` file as possible. Thanks.

[2019-07-01 18:23] wceolin commented on #1451
@samtstern The following code fails for me:

[code]

It only works if I set a service account when calling `admin.initializeApp()`:

[code]

[2019-07-01 18:29] samtstern commented on #1451
@wceolin thanks for that!  Can you run the following inside your functions directory?

[code]

This is my result (and everything works for me):
[code]

[2019-07-01 18:45] wceolin commented on #1451
I got the same result: 🤔

![Screen Shot 2019-07-01 at 15 44 35](https://user-images.githubusercontent.com/4393133/60459326-3a6e5180-9c17-11e9-8dc0-0451a7fe54c7.png)

[2019-07-01 18:50] samtstern commented on #1451
So I am walking my way up the error stack trace and in this function:
https://github.com/googleapis/gax-nodejs/blob/e1be4ebcc2287c61d5f1884033449e3b4e143242/src/grpc.ts#L141

We have this branching:
[code]

In my code `opts.sslCreds` is defined so I hit this branch:
[code]

It's the other branch which tries to assemble credentials and causes problems.  Now I need to figure out why my code goes one

[2019-07-01 18:52] samtstern commented on #1451
@wceolin could you reach into your `node_modules` folder and edit this file `functions/node_modules/google-gax/build/src/grpc.js` to have a `console.log()` that prints the `options` object in the `createStub` function and let me know what you see?

Thank you for your help so far!

[2019-07-01 18:53] noelmansour commented on #1451
@samtstern Not sure if this helps, but I did a bunch of tweaking with my package.json and node_modules over the weekend. I no longer have the issue on 7.0.2.

The `npm list @google-cloud/firestore` output matches yours.

I nuked my node_modules directory over the weekend so I wonder if that's related.

[2019-07-01 18:55] samtstern commented on #1451
@noelmansour thanks for that note, explains why I can't reproduce in a clean setup.

[2019-07-01 19:05] wceolin commented on #1451
@noelmansour I also tried deleting my `node_modules`, `yarn.lock`, removing dependencies but it didn't work for me.

@noelmansour this is what I got from the `options` object:

[code]

[2019-07-01 19:08] samtstern commented on #1451
@wceolin thanks that's *extremely* helpful because this is what mine looks like (and what it should look like):

[code]

As you can see your client is still trying to access production, and then it fails because the functions emulator is not authorized to do so.

Are you also running the firestore emulator?  Is your goal to write to the firestore emulator or do you actually want to write to produc

[2019-07-01 19:09] samtstern commented on #1451
OH I WAS FINALLY ABLE TO REPRODUCE THIS!  If I run `firebase emulators:start --only functions` then I try to write to Firestore I get this error.

[2019-07-01 19:13] noelmansour commented on #1451
Here's some more info that may help. Over the weekend, I had also explicitly set the firebase emulator env variable in my .zshrc:

`export FIRESTORE_EMULATOR_HOST="localhost:8080"`

When I remove it, I get the error. And this is with the command `firebase emulators:start`

[2019-07-01 19:18] samtstern commented on #1451
@noelmansour can you run that command with `--debug` and attach the logs here as a `txt` file?

[2019-07-01 19:20] wceolin commented on #1451
@samtstern sometimes I was using the emulator to serve an HTTP function locally which sets some data in production (usually to do some data migration). I'm using:

[code]
I'm not sure if it was supposed to work like that (allowing us to write data to production) but it used to work. 😅

[2019-07-01 19:23] samtstern commented on #1451
@wceolin it wasn't supposed to work like that with bare `initializeApp()` in versions after `6.8.0`.  I also have that use case but we want a find a way to make that opt-in so that the default is to protect production.

But I am glad to know where this error comes from now!

[2019-07-01 19:28] noelmansour commented on #1451
@samtstern Just to confirm, run `firebase emulators:start --debug` with the `FIRESTORE_EMULATOR_HOST` not set, correct?

[2019-07-01 19:30] samtstern commented on #1451
Correct!

On Mon, Jul 1, 2019, 12:28 PM Noel Mansour <notifications@github.com> wrote:

[2019-07-01 19:36] noelmansour commented on #1451
Here it is.

FYI I removed the project-id from this line (don't think it matters):
[2019-07-01T19:32:42.859Z] >>> HTTP REQUEST GET https://mobilesdk-pa.googleapis.com/v1/projects/<project-id>:getServerAppConfig

[debug.txt](https://github.com/firebase/firebase-tools/files/3347073/debug.txt)

[2019-07-01 19:39] noelmansour commented on #1451
Also worth mentioning, without exporting the env variable, firebase-tools@7.0.1 gives me this error:

[code]

[2019-07-01 20:53] samtstern commented on #1451
Thanks @noelmansour for those logs.  Would you mind showing your functions code as well?

[2019-07-01 21:23] noelmansour commented on #1451
It's a little tricky because I'd rather not share all my functions, and I don't have time right now to verify that in isolation this will repro the error, but here's the hello function I've been running:

index.ts:
[code]

common.ts:
[code]

debug.ts:
[code]

package.json:
[code]

[2019-07-01 21:30] morgs32 opened #1453 "Cannot call admin.firestore().getCollections()"
### [REQUIRED] Environment info

**firebase-tools:** 7.0.2

**Platform:** macOS

### [REQUIRED] Test case

[code]

### [REQUIRED] Steps to reproduce

1. Install `@firebase/testing`
2. Run `node repro.js` (the file snippet above)

### [REQUIRED] Expected behavior

`admin.firestore().getCollections` should be a function

### [REQUIRED] Actual behavior

`admin.firestore().getCollections undefined`

[2019-07-01 21:34] samtstern commented on #1453
@morgs32 does this only happen to you in the emulator or does it also happen to you in production?

Also it looks like that method is deprecated:
https://cloud.google.com/nodejs/docs/reference/firestore/1.3.x/Firestore#getCollections

Does `listCollections()` work?

[2019-07-01 21:36] samtstern commented on #1451
@noelmansour thank you!  That just revealed a bug to me.  These two things should be identical but are not:

**Option 1**
[code]

**Option 2**
[code]

[2019-07-01 21:38] ryanpbrewster commented on #1453
This happens because the `initializeAdminApp` method in `@firebase/testing` returns a client app that has admin credentials, rather than returning an actual admin app.

You can work around this by using `firebase-admin` or `@google-cloud/firestore` directly. Both modules should respect the `FIRESTORE_EMULATOR_HOST` environment variable that the emulator prints out on startup.

[2019-07-01 21:45] samtstern opened #1454 "Emulated admin.initializeApp() does not return a fully mocked FirebaseApp"
### [REQUIRED] Environment info

**firebase-tools:** 7.0.2

**Platform:** gLinux

### [REQUIRED] Test case

Discovered while investigating #1451

### [REQUIRED] Steps to reproduce

This works:
[code]

This does not:
[code]

### [REQUIRED] Expected behavior

The two above are equivalent.

### [REQUIRED] Actual behavior

When using the `firestore` instance from the `app` the first request fails with

[2019-07-01 21:46] samtstern commented on #1454
cc @noelmansour

[2019-07-01 22:10] morgs32 commented on #1453
Ahh gotcha @ryanpbrewster . I'll use `firebase-admin` and will presumably use `listCollections` instead. Thanks @samtstern.

[2019-07-01 22:26] morgs32 commented on #1453
@ryanpbrewster actually how do I specify the `projectId` with `firebase-admin`?

[2019-07-01 22:44] ryanpbrewster commented on #1453
[code]
works for me

[2019-07-01 22:50] morgs32 commented on #1453
👍 Got it!

[2019-07-01 22:50] #1453 closed

[2019-07-01 23:17] samtstern commented on #1454
OK I figured out what we need to do.

`admin.firestore()` is just a shortcut for `admin.app.firestore()` so we need to be mocking the default app rather than the `admin` module:
https://github.com/firebase/firebase-admin-node/blob/1a7f722d2f4a9d918a29dbf6f088f0752cb74391/src/firebase-namespace.ts#L374

[2019-07-02 00:58] lborgman opened #1455 "Error: An unexpected error has occurred. - Error: read ECONNRESET"
### [REQUIRED] Environment info

**firebase-tools:**
7.0.2

**Platform:**
Windows

### [REQUIRED] Test case

Sorry. I have no minimal test case. This is an intermittent error. But frequent now.

### [REQUIRED] Steps to reproduce
1. firebase serve --debug
2. Open some pages in web browser.
(Sorry, I have no idea yet what triggers the problem.)

### [REQUIRED] Expected behavior
Just normal functioni

[2019-07-02 08:33] spitlo commented on #1160
I’m seeing this as well, but for `postdeploy` hooks. Given a `firebase.json` like this:
[code]

When i run `firebase deploy --only hosting:production`, I would expect to see only the message "Just deployed My Project to production environment.", but I’m actually getting both messages.

I’m using `firebase-tools@7.0.2`

[2019-07-02 09:20] prgwar opened #1456 "functions:shell not emulating functions"
node: 8.13.0
firebase-tools:7.0.2
firebase-admin: 8.2.0

when I enter firebase functions:shell following output is coming

functions: Emulator started at http://localhost:5001
after that its struck
I have set the GOOGLE_APPLICATION_CREDENTIALS

[2019-07-02 10:03] sferencik opened #1457 "firebase use --alias is in conflict with commander"
Running `firebase use --alias`, I get an error:
[code]

I believe the `--alias` option is in conflict with [commander](https://github.com/tj/commander.js), which firebase uses for parsing the command-line. Commander has a feature called command aliases (so you could alias e.g. `firebase set` to `firebase use`) and as it tries to evaluate the aliases, it gets confused by the `--alias` option. If my

[2019-07-02 12:41] FezVrasta opened #1458 "`firebase emulators:start` not working on WLS on Windows 10"
### [REQUIRED] Environment info

**firebase-tools:**
7.0.2

**Platform:**
WSL on Windows 10

### [REQUIRED] Test case

An empty project with the auto-generated Cloud Functions boilerplate is enough to reproduce it.

### [REQUIRED] Steps to reproduce

Run `firebase emulators:start`

### [REQUIRED] Expected behavior

I should be able to use the local environment.

### [REQUIRED] Actual behavior

It

[2019-07-02 15:49] noelmansour commented on #1451
Yup, that fixed it for me. Thanks!

[2019-07-02 18:40] SamikshyaAd commented on #743
No document to update: projects/socialapp-a3af2/databases/(default)/documents/users/HMfNS0J4EPejIDtzwJBTZXPDI1x1

I am having problem with updating docs. I created the documents using firebase admin sdk. The problem still persist. Any help will be appreciated

[2019-07-02 19:49] samtstern commented on #1458
Reading this page:
https://docs.microsoft.com/en-us/windows/wsl/wsl2-ux-changes

It says:
[code]

Then it goes on to say:
[code]

So this is something that is new in WSL2 but also going to change before WSL2 is finalized, meaning that I don't think we should do anything within `firebase-tools` to accommodate this for now.

Thanks for reporting this @FezVrasta !

[2019-07-02 19:50] samtstern commented on #1457
@sferencik thanks for the detailed report!

[2019-07-02 19:51] samtstern commented on #1456
@prgwar we need a lot more information to debug this.

- Can you run the command with `--debug` and see if there is any output?
- What is the simplest functions source code that reproduces this issue so we can try it>

[2019-07-02 20:33] FezVrasta commented on #1458
I'm not using WSL 2 tho, AFAIK I'm using version 1

[2019-07-02 20:35] samtstern commented on #1458
@FezVrasta oh that's interesting, thanks for sharing!  Assigning to @abeisgoat since he has a Windows setup and I don't.

[2019-07-02 21:53] samtstern commented on #136
Going through some very old issues, I think the issue in https://github.com/firebase/firebase-tools/issues/136#issuecomment-220188284 is a duplicate of #210 so I am going to close this one.

[2019-07-02 21:53] #136 closed

[2019-07-02 21:55] samtstern commented on #245
@mbleigh was this for functions?  If so we achieved this with the new emulator.

[2019-07-02 21:58] samtstern commented on #767
I wonder if we could fix this by calling `npx firebase-bolt` which would look either locally or globally?

[2019-07-02 21:59] samtstern commented on #319
Looking at old issues, this is a duplicate of https://github.com/firebase/firebase-tools/issues/233 which is being tracked internally.

[2019-07-02 21:59] #319 closed

[2019-07-02 22:00] samtstern commented on #403
Can anyone confirm if this issue is still present with the new emulators (version `6.9.0` or higher)?

[2019-07-02 23:28] ryanlangton commented on #1317
I have this error, followed the steps listed in the response above mine, and still get the same error :(

[2019-07-03 06:02] jaschaio commented on #1371
Hey @abeisgoat & @samtstern, thanks for your input.

Exporting `GOOGLE_APPLICATION_CREDENTIALS` worked for a while but now after updating to `firebase-tools@7.0.2` I am getting a different error:

[code]

Test Case is the same as above, but using `firebase-tools@7.0.2` instead of `7.0.0`. If I downgrade to 7.0.0 it works.

Should I open a new issue or keep this one?

[2019-07-03 08:51] alexpilugin commented on #403
Firebase CLI V: 6.4.0 - works fine for me

[code]
My folder structure:
public
src
server
  credentials
  functions
  node_modules

[2019-07-03 09:13] Ale-Digitale commented on #1431
as a temporary "workaround", for the desperation, I installed UBUNTU with VMWare under my Windows 10, and i execute Node.js from the Linux terminal. It worms like a charm !

Therefore, this bug has something to do with the Windows version...

[2019-07-03 12:40] ollietreend opened #1462 "Why can't we use the CLI as a module in Cloud Functions?"
The project README states:

My question is – why can't it be used as a standard Node module from within a Cloud Function?

An example where this would be useful:

To be able to execute the `auth:export` command from within a [scheduled Cloud Function](https://firebase.google.com/docs/functions/schedule-functions) to take a regular backup of the user authentication database.

[2019-07-03 14:10] JFGHT commented on #1451
I'm also having the `Error: The incoming JSON object does not contain a client_email field` error. Couldn't fix it.

Default code:
[code]

Another try:
[code]

Another try:
[code]

[2019-07-03 15:11] darrelfrancis commented on #908
Awesome, thank you!

[2019-07-03 16:11] samtstern commented on #1462
@ollietreend you definitely can use the CLI as a module inside a Cloud Function, that warning is a little harsh.  The reason for that warning is that sometimes the CLI requires access to a file system and that will not work reliably on a Cloud Function.

Here's a guide about deleting data from Firestore where we use the CLI as a module in a Cloud Function:
https://firebase.google.com/docs/firestor

[2019-07-03 16:21] samtstern commented on #1451
@JFGHT what command are you using to run the emulators?  Can you show the command and the logs from running it with the `--debug` flag?

[2019-07-03 18:32] mbleigh commented on #1444
@anantanandgupta I'm confused -- are you using `functions.config().firebase` inside your Cloud Run service code? That isn't supported at this time. I'm guessing this was your functions deploy erroring, not Hosting w/ Cloud Run?

I'm going to go ahead and close this out since the Cloud Run related issue seems to be solved, please feel free to open a new issue with details about what you're experien

[2019-07-03 18:32] #1444 closed

[2019-07-03 18:46] samtstern commented on #1371
@jaschaio so to be clear you're getting issues with `admin.auth` calls when running `GOOGLE_APPLICATION_CREDENTIALS=... firebase serve`?  And these issues only happen on `7.0.2` and above?  If that's the case let's keep it in this issue.

[2019-07-03 19:03] sperochon commented on #1456
I've got the same problem. The command 'firebase functions:shell' was working fine for months. Then I upgraded my node.js from 8.11 to 8.16, firebase tools and CLI (and lot of packages) and now it gets stucks = nothing happen after displaying
'✔  functions: Emulator started at http://localhost:5001'

Here is the log with --debug
`[2019-07-03T18:55:49.105Z] -----------------------------------------

[2019-07-03 19:05] samtstern commented on #1456
@sperochon thanks for that, that's interesting.

In particular these lines are concerning to me:
[code]

If `admin_stubs` is disabled then we should not see `firebase-admin has been stubbed`

[2019-07-03 19:09] samtstern commented on #1456
@abeisgoat why don't we early-return from the entire `InitializeFirebaseAdminStubs` function if the feature is disabled?  Seems like we only check inside the firestore settings block.

[2019-07-03 19:10] samtstern commented on #1456
@sperochon does this same issue happen for you if you use the Firebase CLI version `6.12.0`:

[code]

[2019-07-03 19:14] sperochon commented on #1456
Just to let you know, I tried to isolate the problem and remove some files and finally got it working when I have only a few files. The weird thing is that it is not concerning a specific file... and that changing the region from 'europe-west1' to 'us-east1' for 1 function makes it working ?!

[code]

Here is the log when it is working fine (it's exactly the same until 'DEBUG: firebase-admin has b

[2019-07-03 19:14] jaschaio commented on #1371
Yes. Try the test case above. It works with `7.0.0` and fails with this error on `7.0.2`

[code]

[2019-07-03 19:16] sperochon commented on #1456
Here are the results of your commands
[code]

[2019-07-03 20:08] samtstern commented on #1456
@sperochon the point about the region is really interesting.  So in your code, it breaks 100% if you put `europe-west1` but works if you put `us-east1`?

[2019-07-03 22:31] TOMZACH opened #1466 "firebase functions:shell stalls out"

[2019-07-03 22:38] TOMZACH opened #1467 "firebase functions:shell stalls out and doesn’t let me run function"
### [REQUIRED] Environment info

CLI Version: 7.0.2
Platform: darwin
Node Version: v10.14.1
operating system: macOS

### [REQUIRED] Test case

running `sudo firebase functions:shell` inside of the functions directory results in the following output and then the script just stalls out not advancing onto the next line where I used to be able to enter in my functions name along with test data and sim

[2019-07-03 22:49] mbleigh commented on #787
Anyone on this thread: if you're feeling adventurous I'd love to have you try out the branch on #1463 and see if it lets you do the things you're looking to do with service account auth. I think we may have shored up the majority of issues, but I'd love to have some external testing of such.

[2019-07-03 23:08] samtstern commented on #1466
Duplicate of #1467

[2019-07-03 23:08] #1466 closed

[2019-07-03 23:09] samtstern commented on #1467
@TOMZACH thanks for filing this!  This looks like a duplicate of #1456 so I am going to close this in favor of discussing more there.

[2019-07-03 23:09] #1467 closed

[2019-07-04 06:36] mad-it opened #1468 "Firestore emulator ClearData fails when deleting more than 500 documents"
### [REQUIRED] Environment info

**firebase-tools:**
Using NPM:

    "firebase-admin": "^8.2.0",
    "firebase-functions": "^3.0.2",
    "firebase-tools": "^7.0.2",

**Platform:**
Ubuntu 19.04

### [REQUIRED] Test case

Steps to reproduce described below. The behaviour of clear data of firestore emulator changed from version  `1.5.0` to `1.6.0`. We have written a nice wrapper around firebase emula

[2019-07-04 07:49] ryanpbrewster commented on #1468
Hrm. The Firestore emulator quickstart relies on the same `ClearData` RPC that your wrapper client is invoking, and it is still working with v1.6.0.

I don't think we have enough information here to reproduce the issue. Can you provide a short, self-contained snippet that doesn't do what you expect it to? Something like
  - create a document
  - call `clearData`
  - assert that the document is no

[2019-07-04 08:38] thdk commented on #1451
_Disclaimer: not sure how related my problem was to this one here, but at least I can drop my info here as it might help some of you out._

I had the same in a firebase function which tries to update some document in firestore database in batch. (Didn't test without batch).

This is the callstack:

[code]

I was running my function locally using the command line:
`firebase functions:shell`

I was

[2019-07-04 09:23] mad-it commented on #1468
I have created a self contained repo that should represent the issue at hand. Should work with emulator `1.5.0` but not with `1.6.0`

https://github.com/mad-it/firestore-1468

[2019-07-04 09:47] nafonso commented on #1296
So I guess this is the same issue with using auth binds? ATM I was trying to setup a trigger on user created but I get the same message but with "firebaseauth.googleapis.com". Is this also planned soon? Is there another way to test locally functions that require auth services?

Also, what's the difference between firebase serve and emulators? Because with serve the exact same error happens.

[2019-07-04 09:57] JFGHT commented on #1451
@samtstern

`concurrently --kill-others 'GOOGLE_APPLICATION_CREDENTIALS=service-account.json firebase serve --only functions' 'tsc --project ./ --watch'`

Regarding the logs, cannot be today, I'm sorry for that!

[2019-07-04 10:01] pschneider commented on #1323
@samtstern
One question regarding your comment to move away from firebase serve:

How is this supposed to work on CI systems as the `firebase emulators` requires authentication but `firebase serve --only firestore` does not. We tried using the generated `firebase login:ci` token but for some reason we get random quota limit responses (it also requires an authenticated `firebase use` run which I do

[2019-07-04 14:56] ralphsmith80 commented on #1451
This worked for me. I'm running functions locally via:
`firebase serve --only functions`

[2019-07-04 15:42] mazlano27 opened #1469 "Error: An unexpected error has occurred. • TypeError: Cannot read property 'wanted' of undefined"
**firebase-tools: 7.0.2**

**Platform: macOS**

Deploying a website to firebase hosting stopped working.

firebase deploy --only hosting

Hosting successful.

Hosting fails.

[2019-07-04T15:46:39.915Z] ----------------------------------------------------------------------
[2019-07-04T15:46:39.918Z] Command:       /Users/Azlan_Mac/.nvm/versions/node/v12.3.1/bin/node /Users/Azlan_Mac/.nvm/versions/n

[2019-07-04 15:57] ryanpbrewster commented on #1468
I cannot get the tests in that repo to pass with any version of the emulator.

[code]

[code]

I've also tried it with `v1.4.5` with no success.

[2019-07-04 16:16] ryanpbrewster commented on #1468
Could you try running this test:
[code]

This examples passes for me on both `v1.5.0` and `v1.6.0`

[2019-07-04 18:21] thdk commented on #1451
@ralphsmith80 aah you are probably right:

GCP client libraries use a strategy called Application Default Credentials (ADC) to find your application's credentials. When your code uses a client library, the strategy checks for your credentials in the following order:

Source: [https://cloud.google.com/docs/authentication/production](https://cloud.google.com/docs/authentication/production)

[2019-07-04 19:09] itPiligrim opened #1473 "Failed to exec server:local script"
### Related issues

May be https://github.com/firebase/firebase-functions/issues/399

### [REQUIRED] Version info

[code]

**node:**
8.9.0, 8.16.0 and 10.14.2

### [REQUIRED] Test case

[code]

### [REQUIRED] Steps to reproduce

This is reproduce from helloworld
example:

[code]

### [REQUIRED] Expected behavior

Not worked after global firebase-tools update

### Were you able to successfully depl

[2019-07-04 20:49] stevendyk opened #1471 "firebase deploy not working after npm update"
### [REQUIRED] Environment info

**firebase-tools:**

**Platform:**

### [REQUIRED] Test case

### [REQUIRED] Steps to reproduce

### [REQUIRED] Expected behavior

### [REQUIRED] Actual behavior

[2019-07-05 00:09] otanriverdi commented on #1447
I am having the same problem and downgrading the tools isn't an option. Any clarifications on what the issue actually is? Thanks.

[2019-07-05 07:13] EmilRais commented on #940
@Memeriaj It seems that when you deployed that change you broke the feature.
Each site's predeploy script are being run regardless of the deploy target being specified.
We have two deploy targets "cms" and "web".
Both deploy targets have predeployment needs so they each specify a predeploy script.

I want to deploy using the following command which is documented by firebase-tools:
`firebase deploy

[2019-07-05 07:54] prescottprue commented on #1469
Also seeing this issue when trying to deploy cloud functions

[2019-07-05 08:00] mazlano27 commented on #1469
@prescottpure After some guidance from firebase support - we identified that npm 6.10 was causing this issue for me. Downgrading to 6.9.2 fixed it for me. Maybe that’s the same for you?

[2019-07-05 09:52] mad-it commented on #1468
Updated the repo with actual clear reproducability. You will see it fail on 1.6.0 and succeed on 1.5.0.

https://github.com/mad-it/firestore-1468

[2019-07-05 14:10] otanriverdi commented on #1451
`admin.initializeApp();`
to
`admin.initializeApp({ credential: admin.credential.applicationDefault() });`

This method creates a whole new error for me.

[code]

[2019-07-05 14:20] realgamessoftware commented on #1469
Same happens to me when deploying functions: firebase deploy --only functions

**firebase-tools: 7.0.2**

[2019-07-05 14:44] ollietreend commented on #1462
Got it. Thanks for clarifying, @samtstern! 🙂

[2019-07-05 15:12] dfchaves17 commented on #1471
I have this problem, you have downgrade version of npm.
https://stackoverflow.com/a/56885970

[2019-07-05 17:27] prescottprue commented on #1469
@mazlano27 that did the trick, thanks for posting!

[2019-07-05 21:30] ryanpbrewster commented on #1468
Ah, good catch. This is probably a regression due to a related bugfix. Should be a simple fix on our end.

[2019-07-05 22:37] nilinyi opened #1474 "JSON string was partially returned when running function via Emulator"
### Environment info

**firebase-tools:**
7.0.2

**Platform:**
macOS

### Test case

Here is the code:
[code]

### Steps to reproduce

Run a firebase emulator using the code above and send a http GET request to path /test.

### Expected behavior

The returned json is partial. Here is the returned json based on the above code:
[code]

### Actual behavior

It should return the complete json.

[2019-07-06 06:36] mpvkarthick commented on #1452
I did do that. I even removed the node modules and then again executed npm install. Still no luck.

[2019-07-06 07:51] marslord commented on #486
Thank you @tennessine. Your way works for me.
Hi @cnscorpions, I am using:

find the `user_profile.sh` file in the path where you extracted your cmder, it may be like`C:\Users\Cmder\config`
then add below functions (Thank you @tennessine again)
[code]

Then use `pxyo` to open the set, and you can login firebase now.
If you login failed again, please check your connect use `curl www.google.com`.
It

[2019-07-06 09:42] sperochon commented on #1456
@samtstern I've investigated deeper and it seems that the region thing was a side effect...

So, I've finally succeed to reproduce the problem in a brand new project ([projectKO.zip](https://github.com/firebase/firebase-tools/files/3364584/projectKO.zip))
I did
`firebase init functions`
to create the project.

I've only replaced the index.js file with this one (contains 15 exactly same functions)

[2019-07-06 12:20] michalwa commented on #1431
Also works on Ubuntu 18.04 in WSL, so that's also a plausible workaround.

[2019-07-06 15:48] E01T commented on #1431
Same error as above. Any ideas?
CMD:
Error: An unexpected error has occurred.

C:\Users\E01T\socialapp-functions>npm ERR! code EPIPE
npm ERR! errno EPIPE
npm ERR! syscall write
npm ERR! EPIPE: broken pipe, write
------------------------------------------------------------------------------------------------------------
Error Log:
0 info it worked if it ends with ok
1 verbose cli [ 'C:\\Program Fil

[2019-07-06 16:27] adamelevate commented on #1452
Exact. same. issue. 😩

[2019-07-06 17:05] ryanmeisters opened #1475 "Callable function in emulator returns 'unauthenticated' when passing in mock auth via firebase/testing lib"
Not sure if this is the right place for this report, or if perhaps I am using the emulators/sdk incorrectly. I would like to write some integration tests and run against the Firebase emulator suite. I found the docs on [testing security rules](https://firebase.google.com/docs/rules/unit-tests) helpful, and it seems like the intention of the `@firebase/testing` library is to allow testing of functi

[2019-07-06 17:26] cabyambo commented on #1469
Life saver @mazlano27

[2019-07-06 22:24] pschneider commented on #1441
Hi, just found this via Google Search.

I'm not sure if this is related to even using the emulator in any way as this happens for us already on startup.

We've recently started setting up the CI environment to test our Rules in a docker environment and we've seen (more or less random) failures of the tests due to an issue which looks exactly like the same mentioned above.

The firebase-tools & emu

[2019-07-07 02:36] keeganbrown commented on #1474
Also having this issue. It seems that JSON payloads beyond a certain size are partially returned. The response also includes ERR_CONTENT_LENGTH_MISMATCH network error in chrome. Downgrading to firebase-tools@6 (and associated firebase-admin and firebase-functions) fixes the issue.

[2019-07-07 06:23] ajurcevic commented on #1471
another band-aid option was to edit the checkFirebaseSDKVersion.js file:
https://stackoverflow.com/a/56876897/1775964

[2019-07-07 20:30] DavidAPears commented on #1451
I am getting this same error on a basic tutorial (tutorial is from June 2019) so this error looks pretty new...

index.js:
[code]

[2019-07-08 01:00] #1421 closed

[2019-07-08 10:31] realgamessoftware commented on #1469
@prescottprue works for me as well. Thanks.

[2019-07-08 13:42] Karman40 opened #1476 "Your path does not contain an even number of components."
Full error message:
`Unhandled error Error: Value for argument "documentPath" must point to a document, but was "teams/". Your path does not contain an even number of components.`

Versions:
- firebase-admin: `7.0.0`
- firebase-functions: `2.2.0`
- firebase-tools: `6.5.0`

data structure:
- teams
   - teamID - results subcollections
   - teamID - results subcollections
   - teamID - results subcol

[2019-07-08 14:36] kevlened commented on #1371
To help narrow the search, `7.0.1` doesn't throw this error for me.

[2019-07-08 16:19] samtstern commented on #1476
@Karman40 if you want to delete everything in the root-level collection called "teams" try using `teams` as your argument rather than `teams/`.

The extra slash at the end is causing the issue.

[2019-07-08 16:21] samtstern commented on #1469
Thanks all for identifying the problematic line and finding a workaround!

[2019-07-08 16:25] samtstern commented on #1474
@nilinyi thanks for the detailed bug report!  Hopefully the fix will be simple (and @keeganbrown the point about `ERR_CONTENT_LENGTH_MISMATCH` is very useful)

[2019-07-08 16:53] samtstern commented on #1474
Ok I have a simple reproduction:

[code]

If I use small parameters for `num` it works but larger parameters (like http://localhost:5001/fir-dumpster/us-central1/helloWorld?num=100000) fail

[2019-07-08 17:11] Karman40 commented on #1476
Thank you, I'm not stupid, but it's the same error.

Unhandled error Error: Value for argument "documentPath" must point to a document, but was "teams". Your path does not contain an even number of components.

[2019-07-08 17:21] samtstern commented on #1476
@Karman40 thanks for clarifying. Also please be respectful when asking for help on GitHub.

[2019-07-08 17:37] bkendall commented on #1471
Downgrading `npm` to `6.9` from `6.10` seems to be the best option for now (as described in the first SO link here).

I'm going to close this for now as downgrading is the current fix, but we'll have to take a look into this a little more closely...

Also, please fill out the bug template completely, as it's impossible to know what exactly was happening on your machine (I don't even know what vers

[2019-07-08 17:37] #1471 closed

[2019-07-08 17:39] bkendall commented on #1475
@samtstern will best be able to look at this and help triage.

[2019-07-08 17:48] bkendall commented on #1452
I created a new project (using `firebase init` - without installing dependencies) and saw the initial behavior you described. However, after installing the dependencies in the functions directory, I was greeted with a different error:

[code]

Can you give us a little more detail about your setup, or a more specific reproduction case? Without more information, this is difficult to debug. Thanks.

[2019-07-08 17:56] bkendall commented on #1473
I see that your logs are failing to run `firebase serve --project [project]` in a folder named `hosting/local/`. Can you run that `firebase serve` command in that directory and let us know what the error is? Run it with `--debug` as well for more information.

The error messages here are coming from `npm`'s code, though it may still be an issue with `firebase`. But, we need more information.

[2019-07-08 18:06] adamelevate commented on #1452
Can't speak for @mpvkarthick, but my package.json is as below:
`
  	"engines": {
    	"node": "8"
  	},
	"dependencies": {
	    "firebase-admin": "^8.2.0",
	    "firebase-functions": "^3.0.2",
	    "firebase-functions-helper": "^0.7.1",
  	},
`

Current Node install locally is: 8.9.4
And can definitely verify that "firebase-admin" folder and files are located in "functions>node_modules>firebase-ad

[2019-07-08 18:07] samtstern commented on #1474
@abeisgoat the only clue I have here is that in `functionsEmulator` we normally only get an `end` event but when the problem above happens we get `end` and then `close` which implies that the temporary file we're using as a socket could be closing too early.

[2019-07-08 18:09] #1462 closed

[2019-07-08 18:19] hangindan commented on #1447
Same problem here, having to do all testing against firebase which is very time consuming. Any options to fix this?

[2019-07-08 18:30] samtstern commented on #1455
@lborgman thanks for filing this, just to set expectations since this is a bug that only reproduces occasionally we will probably not be able to find the root cause unless it happens to one of us by chance as well.

[2019-07-08 18:33] samtstern commented on #1452
What is the goal of running `firebase emulators:exec index.js`?  If you just want to start the emulators you should run `firebase emulators:start`.  If `index.js` is a node script you should probably run `firebase emulators:exec "node index.js"` to be more specific.

[2019-07-08 18:39] samtstern commented on #1456
@sperochon huh that's really interesting, so in your case it has something to do with the number of functions maybe?

I was not able to observe the same limit on my machine:
[code]

[2019-07-08 18:50] bkendall commented on #743
@SamikshyaAd please open a new issue (if you haven't already), rather than commenting on an old bug - makes it easier to track. Thanks!

[2019-07-08 18:51] samtstern commented on #1323
@pschneider we are making some progress on this (see #1437) so that you can at least start the Firestore and RTDB emulators without authentication.  The functions emulator will be a little trickier.

[2019-07-08 18:53] bkendall commented on #1457
Huh. I am making a note to myself to take a look. Thanks

b/137017467

[2019-07-08 18:58] bkendall commented on #1469
I'll take a look at this this week, I hope. Thanks

b/137017689

[2019-07-08 19:22] samtstern commented on #1296
In the future we would like to add more emulators, such as auth and PubSub, which would allow us to emulate those triggers.  But this is a lot of work, so I would not say it's coming soon.

`functions:shell` works for any trigger type but you have to manually invoke it with data.  You can also use the `firebase-functions-test` library to write unit tests.

The biggest difference is how the functio

[2019-07-08 22:27] lborgman commented on #1455
@samtstern
Thanks, yes, of course. But "intermittent" or "occasionally" are not really the right words here. It happens very often. I filed the bug just to see if you have heard of it.

I think I have to investigate my PC. I'll notify you if I understand what is going on.

[2019-07-08 22:45] ryanpbrewster commented on #1468
Fix merged, will go out with the next release of firebase-tools. Thanks for reporting :)

[2019-07-08 22:52] jhuleatt commented on #1469
It looks like the output of `npm outdated firebase-functions --json=true`, called [here](https://github.com/firebase/firebase-tools/blob/838f1a28db46e4d252a9c3b66522cebcaf547131/src/checkFirebaseSDKVersion.js#L19), hasn't changed between 6.9.2 and 6.10.0

![6.9.2 vs 6.10.0 npm comparison](https://i.imgur.com/wlC1Xzs.png)

[2019-07-09 00:04] RezaRahmati commented on #629
switching to command prompt doesn't solve my problem

[2019-07-09 01:26] joeponzio opened #1480 "TypeError: _onRequestWithOpts is not a function"
### [REQUIRED] Environment info

**firebase-tools:** 7.0.2

**Platform:** macOS

### [REQUIRED] Test case

`npm i -g firebase-tools@latest` or
`npm i -D firebase-tools@latest`

### [REQUIRED] Steps to reproduce

Error encountered: TypeError: _onRequestWithOpts is not a function at Object.httpsProvider._onRequestWithOpts (in lib/emulator/functionsEmulatorRuntime.js)

1) Init a new project with Fire

[2019-07-09 05:07] phtn commented on #1451
Firebase Console > Settings (Gear icon) > Users and permissions > Service accounts

Generate new key.

Add json to your project folder.

[code]

[2019-07-09 05:58] 3sanket3 opened #1481 "TypeError: _onRequestWithOpts is not a function"
### Related issues

No

### [REQUIRED] Version info

**node:**

v8.12.0

**firebase-functions:**
^3.0.0

**firebase-tools:**

7.0.2

**firebase-admin:**
^8.0.0

### [REQUIRED] Test case

1. > `firebase init`
2. FirebaseCLI Feature : Functions: Configure and deploy Cloud Functions
3. Language: TypeScript
4. > `cd functions`
5. Uncomment the `helloWorld` function from `index.ts`
6. > `npm run serve`

[2019-07-09 09:09] #1473 closed

[2019-07-09 09:59] 3sanket3 commented on #1481
Closing in favor of #1480

[2019-07-09 09:59] #1481 closed

[2019-07-09 09:59] DavidAPears commented on #1451
---
Thanks phtn, appreciated - I followed your instructions but I now get the error

```Error: Error occurred while parsing your function triggers.```

Weirdly when I run 'firebase deploy' everything is working on:  'https://europe-west1-myapp.cloudfunctions.net/api/...  -  just NOT on localhost?

[2019-07-09 11:47] simonbengtsson commented on #1407
Also seeing this on mac. And we don't have to wait for 180 seconds. Usually it happens after only 50-100 operations. Based on above comment I guess it is that if there is a unlisten event during the profiler run?

[2019-07-09 11:51] alixaxel commented on #1407
We recently migrated over to Firestore so all of our RTDB usage is residual. I guess that would explain why we need ~200 seconds while a heavier usage might yield the same error after only a few operations. This only became clear after monitoring this behavior for a while.

[2019-07-09 12:09] DavidAPears commented on #1451
A combo of these two responses worked! Thanks again for helping.

https://stackoverflow.com/questions/44626919/where-is-or-what-is-the-serviceaccountkey-json-is-the-node-js-sample-of-firebase?rq=1

https://stackoverflow.com/questions/42176453/google-app-engine-node-cannot-find-module-firebase-admin/42634321#42634321

[2019-07-09 12:24] lcarbonaro commented on #1480
Experiencing the exact same issue. All was well day before yesterday. Thanks for posting this - I've been wrecking my brains trying to figure out what I've done wrong that would have broken it. Tried reverting to version 7.0.0 of firebase-tools but still got the same error. firebase deploy seems to work fine, it's firebase serve that gives the error.

[2019-07-09 13:04] hkokocin commented on #1131
@judas-christ you actually just rescued me 👍

[2019-07-09 13:32] merlinnot commented on #1480
I've opened a PR to fix it, see #1482.

[2019-07-09 14:51] hendrikswan commented on #1480
I'm also running into this issue.

[2019-07-09 15:26] mmillerscsu commented on #1480
Literally having the same issue.  Tried just running the hello world program and gives the same error if using firebase serve.  Good to know I'm not the only one.

[2019-07-09 15:27] samtstern commented on #1480
Thanks all for reporting and @merlinnot for the fix!  That's what we get for relying on internal APIs

[2019-07-09 15:48] mmillerscsu commented on #1480
anyone else getting an unexpected error, when trying to run firebase serve with the hello world program?

[2019-07-09 15:50] lcarbonaro commented on #1480
Yes @mmillerscsu

[2019-07-09 15:53] samtstern commented on #1480
If you are experiencing this issue, the workaround is to run `npm install firebase-functions@3.0.2` in your `functions` directory.

[2019-07-09 15:57] lcarbonaro commented on #1480
Thanks @samtstern Any ETA on when this will be fixed though?

[2019-07-09 16:03] samtstern commented on #1480
#1482 is already underway, this should be fixed by the end of the day.

[2019-07-09 16:03] lcarbonaro commented on #1480
If anyoen needs a quick fix for this issue, I just tried workaround suggested by @samtstern and `firebase serve` now works fine. Thanks again @samtstern

[2019-07-09 16:06] mmillerscsu commented on #1480
@lcarbonaro did you run firebase init first, and then firebase-tools?

[2019-07-09 16:13] abeisgoat commented on #1436
Yes they do, we completely drop the region from our routing, so any region will work

[2019-07-09 16:16] mmillerscsu commented on #1480
@samtstern got it to work thanks!  I will be using this temporarily until they update the fix.

[2019-07-09 16:24] lcarbonaro commented on #1480
@mmillerscsu No I just ran `npm install firebase-functions@3.0.2` in the functions folder as @samtstern suggested.

[2019-07-09 16:27] mmillerscsu commented on #1480
@lcarbonaro got it to work now thanks.

[2019-07-09 16:52] lborgman commented on #1455
Some more info. Checked event log. Scanned my pc for virus etc. Went to intel.com and run a scan for drivers. Some part of the wifi stack could be updated so I did that.

Rebooted. Immediately, on first page reload, got exactly the same error (in net.js at 622:25, TLSWrap.onread).

There is definitively a bug that can be catched. Looks like a race condition, but since it is so frequent here is a g

[2019-07-09 16:55] #1480 closed

[2019-07-09 17:11] sperochon commented on #1456
@samtstern Thanks for your try. I have created a brand new user session on my computer. I've reinstalled nvm, node, firebase-tools, the project but still the same... So it doesn't seem to be a config problem... Did you test with exactly my files project?

[2019-07-09 17:32] sperochon commented on #1456
And do you know why the port used for me is 5001 and yours 5000?

[2019-07-09 20:00] luisatlive commented on #1456
I have the same issue; hangs when I have my full 25 functions, if I cut them down to 23 or below it works just fine... this was on firebase-tools 7.0.2. I downgraded to 6.12.0 and it works again now with all functions.

[2019-07-09 21:57] sperochon commented on #1456
Thanks @luisatlive ! I think you found the guilty!
Downgrading from 'firebase-tools@7.0.2' to 'firebase-tools@7.0.1' works for me on my sample project (projectKO.zip above)! (I'll test it tomorrow on my real project)
My config:
Node v8.16.0
firebase-admin 8.2.0 (latest)
firebase-functions 3.1.0 (latest)

[2019-07-09 22:00] luisatlive commented on #1456
np; just a heads up once I downgraded I ran into this bug (https://github.com/firebase/firebase-tools/issues/1288) with Firestore triggers, so also had to downgrade firebase-functions to 2.3.1 and now I'm back in a working state.

[2019-07-09 23:20] jheredia commented on #1480
Thanks @samtstern for the workaround, that helped me.

[2019-07-09 23:24] #1407 closed

[2019-07-09 23:48] lefnire commented on #1480
I tried installing `3.0.2` & `firebase/firebase-functions#master` (per the ref'd merged PR), and still getting that error in both cases. Maybe another dep in the mix causing issues? I'm:

[code]

[2019-07-09 23:52] jheredia commented on #1480
@lefnire Same error message? I have the same dependencies on my functions package.json but the only error that I got it was from grpc that made me update the node version to 10.

[2019-07-09 23:58] lefnire commented on #1480
@jheredia scratch that, I nuked node_modules & functions/node_modules tried again, all good

[2019-07-10 00:21] marcin-ptaszynski opened #1483 "firebase deploy firebase:indexes fails when any index was already created"
### [REQUIRED] Environment info

**firebase-tools:** 7.0.2

**Platform:** Ubuntu

### [REQUIRED] Test case

v1: indexes.json
[code]
v2: indexes.json: added new index
[code]

### [REQUIRED] Steps to reproduce

1. run `firebase deploy --only firestore:indexes` with first version of `indexes.json`
1. update file with additional index and re-run

### [REQUIRED] Expected behavior

Both commands are suc

[2019-07-10 01:00] #1449 closed

[2019-07-10 06:26] phtn commented on #1451
serviceAccountKey.json should be in `/functions` directory.

the `firebase deploy --only functions` will complain if it's outside.

[2019-07-10 08:34] DavidAPears commented on #1451
Thanks again (for being so patient!). My serviceAccountKey.json is in the /functions folder (See screen-grab on link below).

It appears there are three ways to initilizeApp...I have tried all three of these individually and none of them seem to work - I have a feeling this is going to be something crazy simple I am missing.

D

[http://i68.tinypic.com/2rwtjsl.png](url)

[2019-07-10 11:18] skalashnyk opened #1485 "Write to and read from firebase DB emulators (rtdb & firestore) for testing purposes"
Hi there!

Is there a way to write to and read from firebase DB emulators (rtdb & firestore) for local testing purposes. If so, where can I read an example?
I could read from & write to RTDB emulator, using postman (simple REST api), but not with nodejs admin sdk (`"firebase-admin"`).

Step to reproduce
1. `$ firebase emulators: start`
Output:
[code]
2.  Write data to RTDB using postman:
`POST htt

[2019-07-10 11:52] prgwar commented on #1456
[2019-07-10T11:48:29.111Z] DEBUG: Functions runtime initialized.
[2019-07-10T11:48:29.112Z] DEBUG: Disabled runtime features: {"functions_config_helper":true,"network_filtering":true,"timeout":true,"memory_limiting":true,"protect_env":true,"admin_stubs":true}
[2019-07-10T11:48:29.226Z] DEBUG: **firebase-admin has been stubbed.**

This is the log I am getting I tried with changing the zone of the f

[2019-07-10 15:32] ybourgery opened #1486 "Firestore emulator: startAfter doesn't works"
### Environment info

**firebase-tools:** 7.0.2

**Platform:** macOS

### Test case

[code]

### [REQUIRED] Steps to reproduce

1. Start the emulator.
2. Run the test case.

### Expected behavior

The query filter `startAfter` should not contain the document specified as a parameter of `startAfter`.

### Actual behavior

The query filter `startAfter` contains the document which is the expected beh

[2019-07-10 15:46] samtstern commented on #1483
@marcin-ptaszynski thanks!  This seems like an obvious bug with a simple fix.

[2019-07-10 15:55] samtstern commented on #1483
@marcin-ptaszynski I am not able to reproduce this.  I am able to repeatedly deploy your `v2` indexes file without issue.  When I run deploy with `--debug` I see that it is skipping existing indexes:

[code]

Can you try doing the same and pasting the output here?

[2019-07-10 16:01] samtstern commented on #1485
@skalashnyk thanks for asking!  This is a key question and we're working on documentation to clarify all of this.

**Realtime Database + Admin SDK**
Right now this is only possible through hacks, however there is a Pull Request in flight that will make this easy:
https://github.com/firebase/firebase-admin-node/pull/589

Once that PR is merged and released, you will just set the `FIREBASE_DATABASE_

[2019-07-10 16:01] #1485 closed

[2019-07-10 16:02] samtstern commented on #1486
@ybourgery thanks for the report!  Seems like a straightforward bug.

[2019-07-10 16:05] samtstern commented on #1172
Just going through some old issues and I don't think this one has anything to do with the Firebase CLI so I am going to close it.  I'm sorry we never responded to this issue earlier!  Hopefully you were able to resolve it elsewhere.  If not, please reach out to Firebase support.

[2019-07-10 16:05] #1172 closed

[2019-07-10 16:07] samtstern commented on #1456
@sperochon the reason I have a different port than you is because I am working off of the `master` branch which includes this fix: https://github.com/firebase/firebase-tools/commit/729083ffa6b5ce07c192a5f3171b56bab5f0d3f1

Thank you to everyone for posting your data here!  I'm still trying to reproduce this so I can hunt for the cause.

[2019-07-10 16:28] samtstern commented on #1456
Also a quick question for everyone who is having this issue: are you able to run `firebase emulators:start --only functions` and see all of your functions emulated or does that hang as well?  I am trying to figure out if this is a `shell`-only issue or a more general Functions emulation issuee.

[2019-07-10 16:45] sperochon commented on #1456
@samtstern it is the same
[code]

[2019-07-10 16:55] samtstern commented on #1456
@sperochon ok thank you!  That's probably the most useful clue yet.

[2019-07-10 17:00] samtstern commented on #1456
Wooooot I reproduced this.  Now I can try to fix it without stabbing blindly!

[2019-07-10 17:41] #1468 closed

[2019-07-10 17:58] marcin-ptaszynski commented on #1483
@samtstern , apologies. It was a mistake on my side - I've simplified example too much.

Duplicate is not skipped when `__name__` field is explicit in index, e.g.:

[code]

As per Firestore documentation, `__name__` is always added implicitly to index and inherits last field path order, so above would be equivalent if 3rd field was left-out.

Still, sth like:

Duplicate is not skipped when `__name

[2019-07-10 18:21] mpvkarthick commented on #1452
My issue is resolved.
I ignored my current code base. I created new  from scratch. I just pasted my package.json and pasted functions from the previous code base. Now the emulator works. Of course I faced the problem Issue#1481. I downgraded my firebase-functions verion to 3.0.0 and it worked. But still scratching my head to find out why the old code base isn't working.

[2019-07-10 19:06] ryanpbrewster commented on #1486
Sweet, nice find!

Fix submitted, will close this issue once it's released.

[2019-07-10 20:10] skalashnyk commented on #1485
@samtstern, thank you for reply and your efforts to clarify documentation.
Looking forward to hearing from you!

[2019-07-10 21:56] hpoit opened #1489 "Requested Node 8 does not match with my Node 12"
### [REQUIRED] Environment info

**firebase-tools:** 7.0.2

**Platform:** macOS

### [REQUIRED] Test case:
run `firebase serve` on terminal

### [REQUIRED] Steps to reproduce:
1. use the source code from https://angulardart.dev/guide/forms#give-visual-feedback-based-on-control-state

2. follow steps on https://console.firebase.google.com/u/0/project/icasaa-d46fe/overview up to `firebase init`, the

[2019-07-10 22:00] samtstern commented on #1456
The fix is in #1487

[2019-07-10 22:08] hpoit commented on #1469
Well I guess I'm the lucky one: `npm i -g npm@6.9.2` did not work for me.

[2019-07-10 22:37] abeisgoat commented on #1489
This is expected and just a warning to let you know that you've set `{engines: {node: 8}}` in `functions/package.json`. If you're concerned, you can use `nvm` to install an older version of Node, but realistically it probably wont matter.

[2019-07-10 22:37] #1489 closed

[2019-07-11 00:05] hpoit commented on #1489
Thanks for the tip, Abe! I made the change to `"node": "12"`, however, I still get:
[code]

[2019-07-11 00:31] hpoit commented on #485
Hi @laurenzlong, I'm not sure I should be opening a new issue, for this one:

[code]

[2019-07-11 00:36] hpoit commented on #485
Lauren, here's my `package.json`:
[code]

[2019-07-11 00:37] hpoit commented on #485
`firebase.json`:
[code]
`"public": "build/web"` is for AngularDart, which works.

[2019-07-11 00:58] hpoit opened #1490 "`Error: An unexpected error has occurred.` while doing `firebase serve`"
### [REQUIRED] Environment info

**firebase-tools:** 7.0.2

**Platform:** macOS

### [REQUIRED] Test case
I am trying to deploy AngularDart forms for the first time onto Firebase.

### [REQUIRED] Steps to reproduce
1. clone https://github.com/angular-examples/forms/tree/master
2. get stuck on `firebase deploy` at https://console.firebase.google.com/u/0/project/icasaa-d46fe/overview. So I first tri

[2019-07-11 01:00] hpoit commented on #1490
My `firebase.json`:
[code]

and `package.json`:
[code]

[2019-07-11 02:54] rajasekharSynclovis commented on #457
![problem](https://user-images.githubusercontent.com/52414947/61018599-ffa5af80-a3b4-11e9-836c-a24ae25dac63.PNG)
I am facing this problem past few days onwards, Help me firebase latest version i install 7.0.2

[2019-07-11 03:35] samtstern commented on #1490
One issue may be that you're using node 12.  We only support 8 or 10
explicitly.  Could you try installing one of those versions with NVM?

Also can you paste the output of "firebase serve --debug" instead of
"firebase serve --debug flag"

On Wed, Jul 10, 2019, 6:00 PM Henry Poit <notifications@github.com> wrote:

[2019-07-11 03:35] samtstern commented on #1489
Sorry I think Abe meant for you to downgrade to either Node 8 or 10 not
upgrade to 12.   Firebase does not yet support Node 12.

On Wed, Jul 10, 2019, 5:06 PM Henry Poit <notifications@github.com> wrote:

[2019-07-11 04:37] abhay994 commented on #1480
Delete node_modules then run **npm install**, **npm install firebase-admin** and **npm install firebase-functions@3.0.2**

[2019-07-11 05:08] nikhilbhalwankar commented on #1469
Thanks. This worked for me too. Looks like npm version 6.10 has some issues due to which cloud functions can not be deployed.

[2019-07-11 05:56] ybourgery commented on #1486
Thanks @ryanpbrewster for the quick fix.

[2019-07-11 14:04] ryanhornberger commented on #1451
We are having the same issue on our end. We're initializing firebase under this model:

const firebaseInstance = admin.initializeApp()
const firestoreInstance = firebaseInstance.firestore()

Let me know if we can provide anything to help track this down.

[2019-07-11 14:24] ryanhornberger commented on #1451
Everyone on this thread. We discovered a solution. We downgraded firebase-tools from 7.0.2 to 7.0.1 and received an entirely different error (something about not being able to load default credentials).

So we continued by running:

    gcloud auth application-default login

This fixed our issue

[2019-07-11 16:01] samtstern commented on #1451
@ryanhornberger you could work around your issue by doing:

[code]

I have a fix for that coming in #1459

[2019-07-11 16:33] bkendall commented on #485
@hpoit open a new issue with the required information (including relevant parts of the debug log). Thanks.

[2019-07-11 16:40] samtstern commented on #1454
Fixed by #1459

[2019-07-11 16:40] #1454 closed

[2019-07-11 17:05] lborgman commented on #1455
Even more info. I got hit by the problem with the Chrome extension "Apps Launcher". I think those problem might be resolved on my PC now. And Chrome behaves a bit different. (I noticed some strange delay or even dropped event from the UI the latest days.)

FYI: Windows defender did not catch this. I tried Kaspersky instead which found an issue, but did perhaps not resolve it completely. I am not s

[2019-07-11 17:06] samtstern commented on #1455
@lborgman thanks for going through all that debugging and following up as you did!  We really appreciate the effort.

So it sounds like this is fixed for you now?  Should I close the issue?

[2019-07-11 17:15] lborgman commented on #1455
@samtstern Yes, it looks like it was the malware. (You may want to forward that info, of course, to those trying to fix the problem with Google's Chrome extension "Apps Launcher". The extension has been taken down, but it was not removed from affected browsers.)

[2019-07-11 17:21] samtstern commented on #1367
@compojoom I haven't seen this in a long time (I used to see it occasionally).  Do you still see it?

[2019-07-11 17:21] samtstern commented on #1455
@lborgman thanks for the heads up!

[2019-07-11 17:21] #1455 closed

[2019-07-11 17:38] samtstern commented on #1483
@marcin-ptaszynski that makes sense, thanks for following up!  We have some logic to ignore `__name__` since the backend always reports it but we don't want users to have to specify that in their indexes.  And yes as you said, the index is the same without that.

[2019-07-11 17:38] #1483 closed

[2019-07-11 17:40] ryanhornberger commented on #1451
@samtstern thank you!

[2019-07-11 17:53] samtstern commented on #1452
@mpvkarthick thanks for following up on this!  #1481 will be fixed in the next release.  Since your issue was resolved I am going to close this issue.

[2019-07-11 17:53] #1452 closed

[2019-07-11 18:48] samtstern commented on #1475
I was able to reproduce this locally, thank you for the detailed bug.  Now I can investigate.

[2019-07-11 18:58] samtstern commented on #1475
Ok so the failure happens when the `firebase-functions` SDK tries to verify the token:
https://github.com/firebase/firebase-functions/blob/f3af1759f0bba3c13a0fed9e14682aad76580dc7/src/providers/https.ts#L437

My token looks something like this:
[code]

Because it's from the test SDK, it has an invalid signature:
![image](https://user-images.githubusercontent.com/8466666/61077357-13600e80-a3d3-11e9

[2019-07-11 19:56] samtstern commented on #1475
OK @ryanmeisters this would basically come down to stubbing out the call to `admin.auth().verifyIdToken()` that happens inside of `firebase-functions` which, while possible, would be very complex and somewhat scary.

So for now I have to put this on the backlog, but hopefully we can get it done after we fix some more pressing bugs.  I hope that makes sense!

[2019-07-11 20:06] ryanmeisters commented on #1475
Definitely makes sense, thanks a lot for looking into it! No worries. I think I can work around it for now by leaving `auth` unset and using an environment variable to mock auth in the actual function when my integration tests are running. Not the best but it will work!

[2019-07-11 20:25] Salman9000 commented on #1447
Did anyone find a fix yet?

[2019-07-11 20:28] samtstern commented on #1447
Yes #1448 will fix this

[2019-07-11 20:29] samtstern commented on #1475
@ryanmeisters by the way you can check `if (process.env.FUNCTIONS_EMULATOR)` to know when your code is running in the emulator and when it's not

[2019-07-11 20:32] Salman9000 commented on #1447
Doesnt seem to work still

[2019-07-11 20:38] #1474 closed

[2019-07-11 20:38] #1447 closed

[2019-07-11 20:49] #1486 closed

[2019-07-11 20:59] samtstern commented on #1447
@Salman9000 that fix will be released in version `7.1.0`

[2019-07-11 21:15] Salman9000 commented on #1447
Do you happen to know the release time?

[2019-07-11 21:19] #1456 closed

[2019-07-11 21:24] samtstern commented on #1447
@Salman9000 it will likely be today but we don't offer release timelines.  Please subscribe to releases on Github to get notifications.

[2019-07-11 21:38] #787 closed

[2019-07-11 21:56] EmNudge commented on #873
Had a similar problem, was on firebase-tools version 3.19.3 and couldn't get past. Tried uninstalling and the `firebase` command still worked, despite npm letting me know it was uninstalled. Even went as far as downloading the folders so that the command didn't work anymore. Installing firebase again didn't help, the command was still unavailable.

Seems all people have this problem are also using

[2019-07-11 22:04] garrett-gottlieb opened #1498 "Console logs don't show up when error is thrown"
### [REQUIRED] Environment info

**firebase-tools:** 7.0.2

**Platform:** macOS

### [REQUIRED] Test case

[code]

### [REQUIRED] Steps to reproduce

[code]

### [REQUIRED] Expected behavior

[code]

### [REQUIRED] Actual behavior
[code]

[2019-07-11 22:09] garrett-gottlieb commented on #1498
This appears to be fixed in 7.1.0 - just updated.

[2019-07-11 22:09] #1498 closed

[2019-07-11 22:17] Salman9000 commented on #1447
It's working now as of firebase-tools 7.10. Thank you so much.

[2019-07-11 23:27] vsimon opened #1499 "Unable to firebase deploy functions in 7.1.0 due to error in the 'ensuring APIs are enabled step'."
### [REQUIRED] Environment info

**firebase-tools:**

7.1.0

**Platform:**

Ubuntu 18.04

### [REQUIRED] Test case

Install 7.1.0 over 7.0.2

npm install -g firebase-tools@7.1.0

Then try to deploy

`firebase deploy`

### [REQUIRED] Steps to reproduce

`firebase deploy`

### [REQUIRED] Expected behavior

[code]

Succeeds if the Service Usage API is enabled.

### [REQUIRED] Actual behavior

Fails,

[2019-07-12 00:25] mbleigh commented on #1499
This is likely a bug, but did you follow the instructions in the error? If
so, did that solve the problem?

On Thu, Jul 11, 2019, 4:27 PM Vicken Simonian <notifications@github.com>
wrote:

[2019-07-12 00:29] vsimon commented on #1499
I mentioned in the report that when I went to the url in the instructions the service usage API was already enabled. No, the instructions did not solve the problem, maybe it is mis-detecting the enabled state.

[2019-07-12 00:31] vsimon commented on #1499
Thanks for replying @mbleigh. Maybe it's related to this https://github.com/firebase/firebase-tools/pull/1463 ?

[2019-07-12 00:42] rlightner commented on #1499
Getting the same error, and reporting the wrong project id. Firebase support responded that this is a bug and to rollback to 7.0.2

[2019-07-12 00:50] bkendall commented on #1499
@vsimon @rlightner we just made an adjustment on our end that should fix the problem. Can you try again and let us know if this is resolved? Sorry for the trouble...

[2019-07-12 00:55] vsimon commented on #1499
it's much better now @bkendall , looks to be resolved.

[2019-07-12 00:56] bkendall commented on #1499
Wonderful! Thank you for the report and glad we got it resolved. Let us know if there's any other troubles.

[2019-07-12 00:56] #1499 closed

[2019-07-12 02:49] sperochon commented on #1456
@samtstern Yes! It now works well with firebase-tools 7.1.0  Seems to be a big fix. Thanks and have a good day! :-)

[2019-07-12 13:09] KishanIos007 commented on #249
I am getting error while login I am behind proxy

[code]

[2019-07-12 14:08] converge commented on #1480
`npm install firebase-functions@3.0.1` (not 3.0.2) worked for me

[2019-07-12 14:13] samtstern commented on #1480
This has been fixed in firebase-tools 7.1.0

On Fri, Jul 12, 2019, 7:08 AM João Paulo Vanzuita <notifications@github.com>
wrote:

[2019-07-12 15:37] DYu24 opened #1500 "`getAppEngineLocation` always returns 'us-central1'"
### [REQUIRED] Environment info

**firebase-tools:** 7.1.0

**Platform:** macOS Mojave 10.14.5, Node v8.15.1

### [REQUIRED] Test case

Deploy a cloud functions project (with scheduled functions) with an app engine location set to another region (e.g. `europe-west1`)

### [REQUIRED] Steps to reproduce

firebase deploy --force --only functions --project some_project_id

### [REQUIRED] Expected beha

[2019-07-12 15:49] bkendall commented on #1469
This has been mitigated in [`7.1.0`](https://github.com/firebase/firebase-tools/releases/tag/v7.1.0).

[2019-07-12 15:49] #1469 closed

[2019-07-12 15:52] bkendall commented on #457
@rajasekharSynclovis please open a new issue with the relevant details - it's easier to track over adding something to a closed issue. Thanks.

[2019-07-12 16:00] BuddhaNag12 commented on #342
i'm having the same problem please suggest a help

[2019-07-12 16:05] bkendall commented on #342
@BuddhaNag12 please open a new issue so we can better track this. Thank you.

[2019-07-12 16:15] BuddhaNag12 opened #1501 "Firebase login error"
### [REQUIRED] Environment info
npm info using npm@6.9.0
npm info using node@v10.16.0

**firebase-tools:**
firebase-tools @7.1.0

**Platform:**
windows 10
### [REQUIRED] Test case

while using cli nmp to init the firebase on my project i've been asked to sign in from npm node.js but results failure in return

![Capture](https://user-images.githubusercontent.com/31861172/61142835-59f65b80-a4ee-11e9

[2019-07-12 16:22] M-Genio commented on #1500
I am having similar issues when deploying functions on v7.1.0

[2019-07-12 16:27] BuddhaNag12 commented on #1501
i updated the information in details

[2019-07-12 18:49] wodka commented on #181
Even though this might be a lot of work: https://docs.aws.amazon.com/cli/latest/userguide/cli-configure-profiles.html

for the amazon cli it is possible to pass a `--profile NAME` param for every cli call

[2019-07-13 00:20] peterennis commented on #1408
@bkendall

Latest version:

![Capture626](https://user-images.githubusercontent.com/140737/61164356-3bca3480-a4c9-11e9-956f-5e03dd009e94.png)

Looks like it was fixed but where?

[2019-07-13 01:23] hpoit commented on #1490
Hello Sam! I am sorry for the wait. `firebase serve --debug`
https://gist.github.com/hpoit/b891198e6b459ccb9b24481d873571a9

I am using node 10.

[2019-07-13 01:41] zeus3rd commented on #1500
I'm getting the same thing, although my functions want "australia-southeast1" which is not a valid function location.

[2019-07-13 07:57] DouglasGMoore commented on #1480
no it hasnt been fixed

[2019-07-13 13:38] kreendurron commented on #846
I have same issue, I can run firebase login just find from node.js command prompt but not from powershell inside of Visual Studio Code.

[2019-07-13 17:18] dcts commented on #1480
Fixed it for me when i run `npm install firebase-functions@3.0.2` inside `functions` as described in this [stackoverflow answer](https://stackoverflow.com/a/56956392/6272061)

[2019-07-14 01:47] kwangdev commented on #1451
This works for me. I initially upgraded firebase-tools to 7.1, I got the 'same error' when I run 'firebase serve' in my local. However it's working fine if I deployed to firebase. Downgraded to 7.0.1 works for me in my local.

[2019-07-14 10:28] just-be-weird commented on #1447
We just need to upgrade the firebase tools to fix this issue.

**Case 1:** If you've installed firebase tools as your package dependency, run below code

    npm i firebase-tools

**Case 2:** If you've installed firebase tools as global dependency,run below code

    npm i -g firebase-tools

[2019-07-14 15:24] #1501 closed

[2019-07-14 15:24] BuddhaNag12 commented on #1501
the issue had been solved!

[2019-07-14 17:51] westlakem commented on #1451
Same issue with 7.1

[2019-07-14 21:09] beepsoft opened #1503 "Unable to access URLs other than googleapis.com from Firebase emulator using fetch()"
### [REQUIRED] Environment info

**firebase-tools:** 7.1.0

**Platform:** macOS 10.13.6

### [REQUIRED] Test case

[code]
### [REQUIRED] Steps to reproduce

I tried to run the above code in the emulator like this:

`firebase emulators:start --only functions`

then called the fetchTest function from the browser via the URL provided by the emulator.

### [REQUIRED] Expected behavior

I expected to b

[2019-07-15 06:29] sgammon commented on #1441
@google-oss-bot, @pschneider added some stuff

[2019-07-15 08:47] floriangbh commented on #1500
Same issue here !

[2019-07-15 10:17] roshsoftco commented on #386
For me, this goes away by updating firebase tools and logging in again. Run
`npm install -g firebase-tools` then,
`firebase logout` then,
`firebase login`.

Now try deploying,
`firebase deploy`

[2019-07-15 13:09] lerayj commented on #1500
Same here; I don't even know what change inbetween two deploy but now I get `Error: HTTP Error: 400, Location must equal europe-west1 because the App Engine app that is associated with this project is located in europe-west1`.
Setting region `.region('europe-west1')`on functions don't change anywthing.

[2019-07-15 13:59] rohan-sethi opened #1504 "firebase emulators: "Failed to replace env in config: ${xxx}""
###   info
Firebase emulators does not run jest test cases , complains about replacing evn variable
###  Environment info

**firebase-tools:** 6.9.2

**Platform:** Ubuntu 18.04

### Console Logs
      `firebase emulators:exec "yarn test"
      i  Starting emulators: ["firestore"]
      i  firestore: Logging to firestore-debug.log
      ✔  firestore: Emulator started at http://localhost:8080

[2019-07-15 14:05] amar-sharma commented on #1500
@lerayj Same here, I just downgraded `firebase-tools to 7.0.0` and now it uploads functions to us-central1.

[2019-07-15 15:52] abeisgoat commented on #1504
Thanks for the report. We'll take a look.

[2019-07-15 16:34] samtstern commented on #1503
@beepsoft are your network requests actually failing or are you just seeing warnings in the console?  The warnings are currently the expected behavior since we want to make sure people understand when they are potentially accessing production resources.

[2019-07-15 18:19] ryanpbrewster commented on #1441
Can you provide a way to reproduce this issue?

The snippet I provided in https://github.com/firebase/firebase-tools/issues/1441#issuecomment-505789999 seems like it works correctly. It is difficult for me to identify what's going wrong based on your logs (they look valid, like the emulator is rejecting requests because the rules are invalid).

[2019-07-15 18:28] Myolisi commented on #1480
```npm install firebase-functions@3.0.2``` fixed it for me

[2019-07-15 19:22] samtstern commented on #1490
@hpoit it looks like this is an error that a few people have run into:
https://github.com/facebook/create-react-app/issues/6891

Can you try removing your `node_modules` folder and your `package-lock.json` file and running `npm` install again?  It might fix itself.

[2019-07-15 20:13] samtstern commented on #1451
We are working on a fix, but it's not ready yet:
https://github.com/firebase/firebase-tools/pull/1479

[2019-07-15 20:15] beepsoft commented on #1503
Now that you are asking: the request actually goes through - I can see it in the logs of the called service - but I cannot get back the result, it fails with the warning.

[2019-07-15 20:45] abeisgoat commented on #1503
The warnings do not block network I/O, they simply log it. The more likely issue is that you're not handling your promises correctly so the function container is closing before the network operations are done (we still see the logs though because those are created synchronously).

Let's take a look at your code....

[code]

Anywho, to make a short story long, this is not a bug on our side, just as

[2019-07-15 20:45] #1503 closed

[2019-07-15 20:50] beepsoft commented on #1503
@abeisgoat Thanks, you are right. If I put response.send("Done"); in the then() and catch() clauses then it prints the logs correctly and returns "Done" to the browser. My bad ...

[2019-07-15 22:00] abeisgoat commented on #1503
No worries, glad I was right! Happy coding :)

[2019-07-15 22:03] amkoehler commented on #1458
Hi, any update on this? Running into the same problem.

[2019-07-15 22:06] ryanpbrewster commented on #1440
Bumping this: it would be super helpful to have a repro of this issue.

[2019-07-15 22:06] prgwar opened #1507 "Unable to deploy firebase schedule functions"
### [REQUIRED] Environment info

**firebase-tools:** 7.1.0

**Platform:** macOS

### [REQUIRED] Test case

Create a Project with asia-south1 as a region and try to deploy a schedule function with asia-northeast1 as the function region.

### [REQUIRED] Steps to reproduce

firebase deploy --only functions:functionName

### [REQUIRED] Expected behavior

Cli should create the pubsub target and cloud s

[2019-07-15 22:50] thechenky commented on #1507
Hi @prgwar sorry to see you're having this issue. I'm a bit confused as to what you're trying to do - the cloud functions region that you set will be where the cloud function will be deployed, regardless of the app engine location. Also, what error are you seeing from the CLI? Can you paste the output of `firebase deploy --only functions:functionName --debug`?

[2019-07-15 23:15] hpoit commented on #1490
@samtstern https://gist.github.com/hpoit/17e8a65ba35b0a70856c288545e7f476 :-/

[2019-07-15 23:16] samtstern commented on #1490
@hpoit that looks like it's the output of your `npm audit` ... are you still having a problem with running `firebase serve`?

[2019-07-15 23:26] hpoit commented on #1490
Yup:
[code]

[2019-07-15 23:30] hpoit commented on #1490
@samtstern sorry, let me do `nvm use 10`

[2019-07-15 23:32] hpoit commented on #1490
@samtstern oh boy
[code]

[2019-07-15 23:34] hpoit commented on #1490
[code]

[2019-07-16 00:52] thechenky commented on #1500
Hi everyone, thanks for reporting and apologies for this issue. We have identified the bug on our end and are working on a fix. Meanwhile, please use firebase-tools <=v7.0.2.

Thanks for everyone's patience!

[2019-07-16 01:53] repentsinner commented on #536
@laurenzlong-

Any infrastructure-side updates since your last note a few quarters ago?

Firebase `functions` are still super slow after everything has been built/uploaded and the functions are being created/updated on the server side of things. As others have said, this is a major development velocity damper.

[code]

Many thanks for considering!

[2019-07-16 02:01] zer09 opened #1508 "mysql2 is not working on V7.0.2"
### Issue
Starting from V7.0.2 the [mysql2](https://www.npmjs.com/package/mysql2) is not working as expected. The functions will just exit silently.
But it is perfectly working on V7.0.1
### [REQUIRED] Environment info

**firebase-tools:** 7.0.2

**Platform:** 5.2.0-arch2-1-ARCH

### [REQUIRED] Test case

Tried using async or callback but render the same result.

[code]

or

[code]

### [REQUIRED]

[2019-07-16 07:30] manh-gntvn commented on #1480
Use node ver 8 fixed for me ;)

[2019-07-16 10:46] hmagdy commented on #1480
Still not fixed on my side
[code]

back to
[code]

[2019-07-16 12:28] merlinnot commented on #1507
This is most likely a duplicate of https://github.com/firebase/firebase-tools/issues/1500

[2019-07-16 13:35] ogierm opened #1509 "firebase serve serves an older version"
### [REQUIRED] Environment info

**firebase-tools:** 7.1.0

**Platform:** Windows

### [REQUIRED] Test case
???

### [REQUIRED] Steps to reproduce
???
It worked yesterday perfectly and now it doesn't. Even the [deployed website](https://post-a-thread.web.app) has the correct file.

### [REQUIRED] Expected behavior
Firebase serves the files that are actually in the directory that it is supposed to

[2019-07-16 16:00] mbleigh commented on #1500
This should be fixed in #1511

[2019-07-16 16:00] mbleigh commented on #1507
This should be fixed in #1511

[2019-07-16 16:06] ChromeQ commented on #1353
Have there been more discussions on this and are we leaning towards a solution?

I too would like to see an option provided to emulate the hot-reload or cold-start as I was sure this used to happen and now my caching is broken in dev.
I checked the docs and it still recommends to use global vars and with a cold start on each invocation makes it hard to make sure my "caching" is working in dev.
Per

[2019-07-16 16:07] samtstern commented on #1509
@ogierm sorry we need some more information to reproduce and debug this.

Can you show the contents of your `firebase.json` file?  Also from the logs you posted it looks like your site is served from the `public` folder.  Can you show the contents of `public/index.html` as you see it on disk?

[2019-07-16 16:09] samtstern commented on #536
@repentsinner the backend project to improve build/deploy times is still ongoing (and going well!) but it's still not released.

Have you tried using the emulator (through `firebase emulators:start`) to speed up your development process?  If so we'd love to get your feedback!

[2019-07-16 16:14] #1507 closed

[2019-07-16 16:16] samtstern commented on #1353
@ChromeQ we talk about this frequently but have still not arrived at a solution we're happy with.  There are two things at play here.  The first is what sort of options we want to expose to the developer, which is the relatively easy half of the question.  The second part is the technical implementation, which is much harder.  Currently the whole emulator is built around the process-per-invocation

[2019-07-16 16:21] ugritboon commented on #1500
me too

[2019-07-16 16:22] ChromeQ commented on #1353
Thanks for the quick reply. I appreciate it is probably much tougher than it sounds, especially given that behaviour is how it used to work back in v6.8.0 and there has been a lot of changes since then.
Happy to wait and see how this progresses.

[2019-07-16 16:41] ogierm commented on #1509
[firebase.json.txt](https://github.com/firebase/firebase-tools/files/3398128/firebase.json.txt)

[index.html.txt](https://github.com/firebase/firebase-tools/files/3398134/index.html.txt)

That being said: It started working again an hour ago. No clue why though, I hadn't even restarted the task.

[2019-07-16 16:45] samtstern commented on #1509
@ogierm glad it's working for you!  Since we can no longer reproduce this I am going to close the issue.  Hopefully it was just a hiccup in some tool.

[2019-07-16 16:45] #1509 closed

[2019-07-16 18:17] bkendall commented on #1508
Can you provide a bit more detail? Is this in a Firebase Function that you have written? Is it triggered by an HTTP call, or another trigger? Are you seeing this behavior in production or the emulator?

Does this behavior still exist with `firebase-tools@7.1.0`?

[2019-07-16 19:21] dgobaud commented on #1353
@samstern I see I guess there was a big change with how 6.8.0 worked? We're still using 6.8.0 but starting notice things that need the newer version like I think Firestore rule testing which is important.

[2019-07-16 19:28] Hipheckts commented on #1451
I'm stuck with this please, any way out?

[2019-07-16 19:39] zcaalock commented on #1451
downgrading to 7.0.1 did`t help for me

[2019-07-16 22:23] samtstern commented on #1490
@hpoit please remember that we can't help you with just `Error: An unexpected error has occurred.
`.  We need the full output from running `firebase serve` with the `--debug` flag.

[2019-07-17 00:06] zer09 commented on #1508
It was triggered on the constructor, but in further testing it look like the constructor is not initiated until the actual function is triggered via HTTP call.

The emulator

Yes

But unfortunately, I just did rollback the firebase-tools to V6.8.0 because starting from V7 every time  I call the functions, somehow it will create a new instances of it, causing to create a new database connection.

I

[2019-07-17 03:07] ZaneH commented on #1371
I don't know if anyone else is dumb enough to try what I did,

But I fixed this issue by going to the **Firebase** console and creating a Service account from there instead of creating a Service account from the GCP IAM & Admin area. Then I initialized the project with:

[code]

[2019-07-17 04:52] dmoffett opened #1514 "Running functions in emulator give 126 error same script work fine deployed?"
### [REQUIRED] Environment info

**firebase-tools:**
firebase --version
7.0.2

**Platform:**
macOS

### [REQUIRED] Test case

Running this simple script runs fine when deployed.

[code]

### [REQUIRED] Steps to reproduce

Using this command to run locally:

firebase emulators:exec "functions/index.js"

### [REQUIRED] Expected behavior

Expect the script to run locally and build test code before de

[2019-07-17 08:57] lerayj commented on #1500
Hello there,
@mbleigh I still have the issue with your last release 7.1.0

@amar-sharma downgrading changed nothing for me ...

I don't know what changed; it worked perfectly not so long ago.

[2019-07-17 13:21] hpoit commented on #1490
Hi @samtstern, `firebase serve --debug`: https://gist.github.com/hpoit/3dadd90e41f9edba0310479346cfd929

[2019-07-17 13:28] merlinnot commented on #1500
The patch was not released yet.

[2019-07-17 16:00] Karasuni opened #1517 "Functions deployment: TIMEOUT: Port 5000 was not active within 30000ms"
### [REQUIRED] Environment info

**firebase-tools:** 7.1.0

**Platform:** Ubuntu on WSL on Windows 10
`nvm` with either node 10 or node 12

### [REQUIRED] Test case

Any firebase functions code (using the pre-7.1.0 template).

### [REQUIRED] Steps to reproduce

Run either `npm run serve` in the functions directory or
```npm run build && firebase serve --only functions```

### [REQUIRED] Expected b

[2019-07-17 16:09] samtstern commented on #1517
@Karasuni thanks for filing this, this seems to be a duplicate of #1458 so let's discuss there.

[2019-07-17 16:09] #1517 closed

[2019-07-17 16:09] samtstern commented on #1458
cc @Karasuni

[2019-07-17 16:11] Karasuni commented on #1458
I'm seeing this issue on Windows 10 Build 18362 running WSL 1, not WSL 2.

[2019-07-17 16:16] samtstern commented on #1514
@dmoffett I think there has been a misunderstanding.  `firebase emulators:exec "script"` is meant to be used to run test scripts, not your functions.  For example you may run `firebase emulators:exec "npm run test"`.

If you want to run your functions locally, just use `firebase emulators:start` and everything in your `index.js` file should work.

[2019-07-17 16:16] #1514 closed

[2019-07-17 16:19] samtstern commented on #1508
@zer09 right now the code being reloaded in every request is the intended behavior:
https://github.com/firebase/firebase-tools/issues/1353

This is also the worst-case behavior in production, so even though we realize we need to provide more options to developers it is not technically "wrong" at the moment.

Versions `6.8.0` and before used an entirely different functions emulator than newer versi

[2019-07-17 16:19] #1508 closed

[2019-07-17 16:30] Karasuni commented on #1517
@samtstern Are you sure this is the same issue?

I'm seeing this issue on Windows 10 Build 18362 running WSL 1, not WSL 2.

Also the issue I reported is with firebase-tools 7.1.0 but does not occur with 7.0.2.

[2019-07-17 16:33] samtstern commented on #1517
@Karasuni yes it was reported in #1458 WSL1 (my initial assumption of WSL2 was wrong).  It's definitely interesting that this does not happen in 7.0.2 for you but I do think this will be the same root cause in the end, we just need to get some more testing done on WSL.

For now most signs point to this being the same issue, however once we start to fix the issue we will find out for sure.  I'll de

[2019-07-17 16:56] samtstern commented on #1490
@hpoit ok the error is still `[2019-07-17T13:15:58.328Z] TypeError: fsevents is not a constructor` ... I am not sure what the cause is or how to fix it right now.

[2019-07-17 17:54] samtstern commented on #1448
This will be fixed by #1479 since we are going to stop auto-initializing firebase app.

[2019-07-17 17:58] samtstern commented on #1305
I think this is no longer a goal.

[2019-07-17 17:58] #1305 closed

[2019-07-17 18:02] samtstern opened #1518 "RTDB Emulator should hot reload rules as well"
We should implement https://github.com/firebase/firebase-tools/pull/1358 but for the RTDB emulator, for parity.

[2019-07-17 20:15] #1439 closed

[2019-07-17 21:44] #1518 closed

[2019-07-17 22:21] zer09 commented on #1508
@samtstern oh I see, I am fine with the "hot-reloading on every invocation", but I think it should also release all the resource of the previous instance, because if I am not wrong that instances will not be used again. Like on my situation when I invoke the functions it will create a new MySql connection until I cant connect anymore because the MySql server is full of unused connection.

Thanks

[2019-07-17 22:24] samtstern commented on #1508
@zer09 in the emulator we don't use the instance again, ever.  Each invocation is a brand new process that communicates over a temporary one-time-use socket.  We kill the process, which should release the resources.

[2019-07-17 22:53] zer09 commented on #1508
@samtstern Thanks! That behavior is on V7.0.1, I just tested the latest version now and your right.

[2019-07-17 23:03] repentsinner commented on #536
Thanks for the update @samtstern.

I haven't tried the emulator yet - I'm using `functions.https.onCall` from a flutter app as well as data in a firestore, and it seems like (at the moment anyway) redirecting everything in the test builds of the app to my development workstation is more effort than waiting for deploys.

I guess I can use the time I'm waiting to look into this 🤨.

[2019-07-18 00:31] #1448 closed

[2019-07-18 00:31] #1451 closed

[2019-07-18 00:32] samtstern commented on #1451
A fix for this was merged into #1479 and will be included in the next release (so `7.2.0`)

[2019-07-18 04:55] gpfunk opened #1523 "Functions emulator only maintaining last realtime database trigger"
### [REQUIRED] Environment info

**firebase-tools:**
firebase: 7.1.1
node: v10.16.0
java: 11.0.2

**Platform:**
macOS

### [REQUIRED] Test case

It appears at this line, [firebase-tools/functionsEmulator.ts at dad143c42445056014f6f48cc9dfa13156e3c186 · firebase/firebase-tools · GitHub](https://github.com/firebase/firebase-tools/blob/dad143c42445056014f6f48cc9dfa13156e3c186/src/emulator/functionsEm

[2019-07-18 08:47] Beamanator commented on #1483
I had the same error occurring - `Error: HTTP Error: 409, index already exists` on `firebase-tools v7.0.0` without having `"fieldPath": "__name__",` explicitly set anywhere in my `firestore.indexes.json` file.

Once I updated from `v7.0.0` to `v7.1.0`, the issue was fixed. I'm only noting this here because I didn't see any recent release notes about fixing this issue, so hopefully this can help so

[2019-07-18 11:23] Dzhuneyt commented on #31
For anyone experiencing this (since I just encountered it today) - even though this ticket is back from 2014, it is still valid today - try deleting your package-lock.json and node_modules folder and doing a fresh `npm install`. That was the only thing that solved it for me.

[2019-07-18 14:53] danieldanielecki commented on #1113
Exactly the same problem, **predeploy** isn't executed automatically anymore. We have to execute it explicitly in the CI's, at least it was my case with GitLab CI.

[2019-07-18 14:54] danieldanielecki commented on #744
Firebase **deploy** works, but in case of CI (e.g. GitLab CI) you need to explicitly execute the **predeploy** script. Had exactly the same case.

[2019-07-18 15:42] samtstern commented on #1523
@gpfunk thanks for reporting this!  I will investigate this now and see if I can reproduce.

[2019-07-18 15:46] samtstern commented on #1523
Confirmed this is a bug, now to find where it lives.

[2019-07-18 15:56] gpfunk commented on #1523
god speed :)

[2019-07-18 16:31] samtstern commented on #1523
Ok this is one of those "working as intended but still a bug" things.  Basically the `firebase-tools` code (as you noticed) is sending a `PUT` to the entire `functionTriggers` resource for each function, which replaces it.

What we really need is an "upsert" operation implemented in the RTDB emulator that we can call using a trigger name as a unique ID. This is what Firestore has.  We'll talk abou

[2019-07-18 16:47] gpfunk commented on #1523
Thought that may be the case, thanks for the quick feedback!

[2019-07-18 17:07] samtstern commented on #1523
@IanWyszynski is going to try and add an "upsert" operation.

[2019-07-18 17:47] hpoit commented on #1490
Sam, this is my attempt for a first deploy on Firebase and I've been eight days at it. Are many first deploys encountering trouble due to issues?

[2019-07-18 17:53] samtstern commented on #1490
@hpoit no I have not heard of any other users facing the same issue you're having.  Can you try running `npm install --save fsevents` inside your `functions` folder?

[2019-07-19 00:10] hpoit commented on #1490
@samtstern https://gist.github.com/hpoit/61d3a75f63afe01122e1f72b92bf5d63

[2019-07-19 04:57] KaranHotwani opened #1524 "firebase serve - TypeError: _onRequestWithOpts is not a function"
### Version info

**node:**

8.16.0

**firebase-functions:**

affected : 3.0.0,3.1.0
not afftected : 3.0.2

**firebase-tools:**

7.0.1

Run firebase --version and print the output here

**firebase-admin:**

8.2.0

### Test case

in index.js:

    const functions = require('firebase-functions');
    const express = require('express');
    const admin = require('firebase-admin');
    admin.initializ

[2019-07-19 07:57] thechenky commented on #1524
Have you tried updating your firebase tools to the latest version? This bug may ready be fixed.

[2019-07-19 11:04] hiteshsahu commented on #155
**Mad it work on Mac using this trick**

<img width="651" alt="Screen Shot 2019-07-19 at 12 45 14" src="https://user-images.githubusercontent.com/4076925/61530677-0bcce500-aa25-11e9-91e4-bf50216497fe.png">

 1.  Go the the network proxy setting on Mac  and change Proxy Server and port from CNTL local host to actual enterprise server and port.

<img width="658" alt="Screen Shot 2019-07-19 at 12 47

[2019-07-19 14:35] christophe-g opened #1525 "firebase:shell dumps function definition object to console"
### [REQUIRED] Environment info
firebase-tools: 7.1.1
firebase-admin: 8.2.0
firebase-functions: 3.1.0
node: 8.15.0
Linux

### [REQUIRED] Test case

Testing a function in the shell console cause a pretty big Object looking like a definition of all functions to be dumped in the console. This seems to be only happening after a threshold (either number of functions or volume of code).

console.info me

[2019-07-19 14:43] samtstern commented on #1525
This feels like it could be related to my recent change here, but I don't see any logging that's out of place:
https://github.com/firebase/firebase-tools/pull/1487

[2019-07-19 14:52] christophe-g commented on #1525
@samtstern - thanks a lot for the rapid feedback.

"MAIN" and "MemberType member" in the original screenshot are console.info messages. Agree, it is not obvious !

[2019-07-19 15:07] samtstern commented on #1525
Could you give a full log output where this happens as a text file?  I have
a theory but I need to see the full log session to verify.

Sam

On Fri, Jul 19, 2019, 7:52 AM christophe geiser <notifications@github.com>
wrote:

[2019-07-19 15:20] christophe-g commented on #1525
Pretty sure this is not what you ask for  :
[dump.txt](https://github.com/firebase/firebase-tools/files/3411682/dump.txt)

How do a get a log session ?

[2019-07-19 17:49] samtstern commented on #1525
@christophe-g that's actually fine!  Thank you.

[2019-07-19 18:04] subrud commented on #938
I am also facing this issue. And it's been nearly 9 months since OP opened this issue. Now I can understand why one of my developer friends was suggesting me to switch to AWS.

[2019-07-19 18:28] samtstern commented on #1525
@christophe-g I have a speculative fix.

Can you try installing from my branch:
[code]

And then seeing if you can still reproduce this problem?

[2019-07-19 18:39] samtstern commented on #1524
This was fixed in `firebase-tools` version `7.1.0`

[2019-07-19 18:39] #1524 closed

[2019-07-19 19:18] christophe-g commented on #1525
Thanks!

Almost
[code]
[2019-07-19T18_53_26_739Z-debug.log](https://github.com/firebase/firebase-tools/files/3412415/2019-07-19T18_53_26_739Z-debug.log)

I can install other npm modules (like firebase-tools) without problem

[2019-07-19 19:28] noelmansour commented on #1451
Hey @samtstern, not sure if it's something I'm doing incorrectly, or perhaps a couple of new issues, but I've noticed a couple of things running the tools off the latest master (dad143c42445056014f6f48cc9dfa13156e3c186).

First, I get the following warning when running `firebase emulators:exec "npm run test"`:

`⚠  The Cloud Firestore emulator is not running, so calls to Firestore will affect prod

[2019-07-19 19:29] samtstern commented on #1525
@christophe-g could you try it without the `-g` and without the `sudo`.  So just:
[code]

And then instead of running `firebase functions:shell` run `./node_modules/.bin/firebase functions:shell`

[2019-07-19 19:32] christophe-g commented on #1525
@samtstern

Cloned and built locally. The console looks much better ; )
Fixed on my end !

[2019-07-19 19:38] samtstern commented on #1525
@christophe-g nice, thank you for testing!

[2019-07-19 19:45] samtstern commented on #1451
@noelmansour thanks for reporting this (and for trying `master`!)  Can you show the code of your main functions file?

[2019-07-19 19:47] noelmansour commented on #1451
It's pretty minimal as it's just exporting from other files:

[code]

[2019-07-19 19:51] noelmansour commented on #1451
Actually, it seems to be an issue with my test setup. When running `firebase emulators:start` I don't see the warning.

[2019-07-19 19:53] samtstern commented on #1451
@noelmansour what do your tests look like?  Also could you file a new issue to discuss this so we don't spam everyone on this thread>

[2019-07-19 20:10] pgardner-squadpod commented on #1371
Downgrading my `firebase-tools` package to `7.0.0` fixes the problem for me.

[2019-07-19 20:31] rmoskal opened #1528 "Emulator is calling https.callable functions remotely instead of from localhost"
### [REQUIRED] Environment info

**firebase-tools:**

6.10.0

**Platform:**

Fedora 30

### [REQUIRED] Test case

I have a very simple firebase https.callable function:

[code]

And in my calling code

[code]

### [REQUIRED] Steps to reproduce

You just need to initialize FB all call the above in some front end code

### [REQUIRED] Expected behavior
After running firebase serve, I expected my fron

[2019-07-19 20:39] samtstern commented on #1528
@rmoskal is this code in your web frontent?
[code]

It does not automatically know about the functions emulator.  Instead you have to tell it:
[code]

[2019-07-19 20:39] #1528 closed

[2019-07-19 21:27] #1525 closed

[2019-07-19 22:38] noelmansour opened #1530 "Firestore emulator: False negative warning about affecting production when running tests"
### [REQUIRED] Environment info

**firebase-tools:** master (dad143c42445056014f6f48cc9dfa13156e3c186)

**Platform:** macOS

### [REQUIRED] Test case

Discovered while testing out the fix for: #1451.

Please note I'm not familiar with javascript nor typescript so it's very likely there is something wrong with my setup. Happy to be told that's the case.

src/index.ts:
[code]

src/debug.ts:
[code]

[2019-07-19 22:43] noelmansour commented on #1451
Yes, of course. My apologies. #1530 opened

[2019-07-19 22:49] samtstern commented on #1530
@noelmansour what happens if you remove this line:
[code]

And then just use `Timestamp` fully-qualified below:
[code]

[2019-07-19 23:00] noelmansour commented on #1530
Hm, yeah that fixed it.

Looks like I need to read up a bit more on typescript and javascript imports. :sweat_smile:

[2019-07-19 23:01] samtstern commented on #1530
@noelmansour I still think this is a bug on our side but I'm glad the fix was simple.

[2019-07-20 05:35] dgobaud opened #1531 "invalid JSON crashes without response"
send HTTP request to emulator with invalid JSON it crashes without sending response even though it appears to form the response it doesn't get sent - curl left hanging

[code]

[2019-07-20 20:24] tolotrasamuel opened #1532 "The default Firebase app already exists. This means you called initializeApp() more than once"
### [REQUIRED] Environment info

**firebase-tools:** 7.1.0

**Platform:** Windows 10

### [REQUIRED] Test case

[code]

### [REQUIRED] Steps to reproduce

Run
`firebase emulators:start --only functions`
visit the url of the function on your browser
### [REQUIRED] Expected behavior

initializeApp should be called only once
### [REQUIRED] Actual behavior
initializeApp is called everytime the url is

[2019-07-21 04:12] evanb2 commented on #749
Just to clarify @gongevangen 's solution works but make sure to place the `"typeRoots"` key inside `"compilerOptions"`:
[code]

[2019-07-21 16:55] merlinnot commented on #1372
I'm still going to implement it, I started with migrating some of the files I'll need to touch from JavaScript to TypeScript.

Today I received some more information from Google Cloud Support which I might end up incorporating in the PR for this issue:

Request limit for one of my projects was actually reduced to 50 (the default is 80):

My initial intention was to fire 80 requests and then fire a

[2019-07-22 00:03] hpoit commented on #1490
https://github.com/fsevents/fsevents/issues/283#issuecomment-513597091

[2019-07-22 00:05] hpoit commented on #1490
@samtstern I'm confused: does Firebase depend on `fsevents` for a first deploy, but has no control over it? How does that work?

[2019-07-22 06:07] Immanuel-john commented on #1451
Could you pls tell how to downgrade firebase version? My current version is 7.0.2 then i tried installing npm i firebase-tools@7.0.0 -g this. but still my version is 7.0.2 . how to downgrade pls help?

[2019-07-22 16:35] samtstern commented on #1532
@tolotrasamuel I am not sure what causes this issue but I think it will be fixed as soon as this PR is released since we no longer call `admin.initializeApp()` for you:
https://github.com/firebase/firebase-tools/pull/1479

To be sure, could you run `firebase --debug emulators:start --only functions` and show me all of the logs?

[2019-07-22 17:04] Asalem1 commented on #1440
@sgammon I seem to have come across the same issue. Is there any chance you've come to a resolution on what the issue is?

[2019-07-22 18:11] bkendall commented on #1531
Please follow the issue template and provide a bit more context and a case to reproduce the issue. Thank you.

[2019-07-22 18:11] #1531 closed

[2019-07-22 19:39] sgammon commented on #1440
@ryanpbrewster I've tried to reproduce this, but I just haven't been able to catch it, and we're no longer seeing it in production. Would it be best to re-open once I can isolate it?

[2019-07-22 19:41] ryanpbrewster commented on #1440
Sounds like a plan. Feel free to re-open with more info even if you can't fully isolate or reproduce it.

[2019-07-22 19:41] #1440 closed

[2019-07-22 20:13] samtstern commented on #1490
We depend on the `chokidar` library which depends on `fsevents`.  This is one of our only dependencies which is "native" code so the dependency is built using `node-gyp`.  That's likely the source of your problem but I don't know the solution.

@abeisgoat has been looking into native modules lately and will have an idea,

[2019-07-22 20:28] hpoit commented on #1490
I can't thank you both enough. I need Firebase to deploy code for a customer asap. The app includes real-time chat!

[2019-07-22 21:57] samtstern commented on #1530
I just got this myself:
[code]

[2019-07-22 22:32] szeitlin commented on #1310
Here's another one, maybe a real error but needs better documentation on the expected configuration if that's the case:

I have keys.json stored in a place that works with GCP (e.g., real Firestore). However, when I try to use it with the emulator, I get an error.

so I'm running: `firebase emulators:exec --only firestore "nosetests tests/"`

and I get back:
`google.auth.exceptions.DefaultCredenti

[2019-07-22 22:48] ingridelin commented on #1169
@AndriyGo Did you manage to resolve this issue and get your custom aasa file working? I am also stuck on this – I have been generating email verification links using a custom domain, which was working perfectly. However, I am now trying to get iOS AutoFill working correctly, and believe I need to add a webcredentials key to the aasa file in order to support this. I hosted my custom aasa file in th

[2019-07-22 22:55] samtstern commented on #1310
@szeitlin I am not sure where this comes from:
[code]

The whole Firebase CLI is JavaScript (or native extensions) so anything coming from python code is not coming from `firebase-tools`.

[2019-07-22 23:08] szeitlin commented on #1310
I think it's coming from the python `google.cloud.firestore` library. Anyway I figured it out... Thanks for responding.

[2019-07-23 01:00] #1367 closed

[2019-07-23 01:29] RoryDungan commented on #1458
I've reproduced the same issue with Win 10 1903 (build 18362.239), WSL 1, firebase-tools 7.1.0 and 7.1.1. For now downgrading to 7.0.2 is fine as a workaround.

[2019-07-23 02:09] samtstern commented on #1458
I have a new theory.  In 7.1.0 we introduced a dependency on "chokidar" for
file watching which is a native module.  Native modules can cause
os-specific issues.  It's possible that is why 7.1.0+ stopped working on
WSL.

On Mon, Jul 22, 2019, 6:29 PM Rory Dungan <notifications@github.com> wrote:

[2019-07-23 02:51] madmacc commented on #1232
@isevcik I was getting this same error and thought I had the same issue but it turned out to be a typo in the projectid in .firebaserc.
I used this command to add these targets rather than doing it manually and it worked.
Note: You also have to add the target to the firebase.json.

firebase target:apply type target-name resource-name

https://firebase.google.com/docs/cli/targets

[2019-07-23 06:53] umarhussain15 opened #1536 "delete require.cache not working in firebase shell."
### [REQUIRED] Environment info

**firebase-tools:** 6.8.0

**Platform:** Windows

### [REQUIRED] Test case

- firebase functions:shell (wait for functions to load)
- let options = require('path to context options json')
- let data = require('path to data json')
- delete require.cache
- options = require('path to context options json')

### [REQUIRED] Steps to reproduce

Same as test case.
### [RE

[2019-07-23 07:10] umarhussain15 commented on #1536
updated

[2019-07-23 09:17] snaulX commented on #227
[code]

[2019-07-23 09:18] snaulX commented on #227
its with `--debug` flag

[2019-07-23 13:24] intersrc opened #1537 "Error: Unexpected server error. At /.inspect/coverage.json?ns=foo"
### [REQUIRED] Environment info

**firebase-tools:** 7.1.1

**Platform:** macOS

### [REQUIRED] Test case

The example project from:
https://github.com/firebase/quickstart-nodejs/tree/master/database-emulator/javascript-quickstart

### [REQUIRED] Steps to reproduce

1. Start up a Database Emulator
2. Visit http://localhost:9000/.inspect/coverage.json?ns=foo

### [REQUIRED] Expected behavior

No er

[2019-07-23 15:36] samtstern commented on #1458
I was able to reproduce this bug at home on my personal machine (we don't have Windows at work) so it's definitely real!  I didn't have time to start debugging but I will try that next.

[2019-07-23 15:38] samtstern commented on #1537
@IanWyszynski or @ryanpbrewster want to take a look at this one?

[2019-07-23 18:42] ryanpbrewster commented on #1537
I cannot reproduce this. Does this error occur reliably?

[2019-07-23 19:58] #1530 closed

[2019-07-23 22:52] royappa commented on #1412
Small note: the fix above should say GOOGLE_APPLICATION_CREDENTIALS with an 'S'.
@abeisgoat Thanks for the fix.

[2019-07-23 22:55] samtstern commented on #1412
This behavior will change in `7.2.0` so that if you don't start a certain emulator then your requests still go to production.  For example if you do `emulators:start --only functions,database` then your Realtime Database requests will hit the emulator and your Firestore requests will hit production,

[2019-07-24 01:43] kurtzmarc commented on #1480
This appears to be working for me in `firebase-tools@7.1.1`

[2019-07-24 03:27] intersrc commented on #1537
Yes.
Is something missing in my Java environment?
My Java version:
[code]

[2019-07-24 04:40] ryanpbrewster commented on #1537
Yep, that's it. Tracking down the issue now.

[2019-07-24 07:21] ryanpbrewster commented on #1537
Found a fix, I'll update this issue when it's released.

[2019-07-24 09:08] tolotrasamuel commented on #1532
[code]

[2019-07-24 09:10] tolotrasamuel commented on #1532
@samtstern It seems like the function is running twice that's why it throws the error

By the way I am using

[code]
And
[code]

[2019-07-24 11:45] sultanmyrza opened #1541 "[EASY!] firebase emulator:start (in debug mode)"
![image](https://user-images.githubusercontent.com/12681781/61790852-e8ea6880-ae4a-11e9-859d-cbb076444c15.png)

Before we could debug firebase functions in a local machine by running emulator and attaching a debugger using (@google-cloud/functions-emulator) more info at https://cloud.google.com/functions/docs/emulator

For example
Debugging with the Node.js Emulator. You can debug your functions r

[2019-07-24 13:48] linae42 commented on #1442
Hi, i have been trying to login with firebase for hours and it  won't work, whatever i try.
I'm behind a corporate proxy but my HTTP_PROXY and HTTPS_PROXY environment variables are set properly.
I always end up with this page :
![image](https://user-images.githubusercontent.com/34720043/61797885-9435f600-ae28-11e9-9ff6-bab5b4dde36e.png)

I also tried:
firebase login --no-localhost
But it won't wor

[2019-07-24 16:01] samtstern commented on #1541
@sultanmyrza thanks for the feedback.  This is a known issue (https://github.com/firebase/firebase-tools/issues/1360) so let's discuss there.  You can read the history of the issue as well.

[2019-07-24 16:01] #1541 closed

[2019-07-24 16:10] samtstern commented on #1532
@tolotrasamuel could you try replacing this:
[code]

With just this:
[code]

[2019-07-24 16:35] tolotrasamuel commented on #1532
I already tried. Exact same error @samtstern
[code]

[2019-07-24 16:46] samtstern commented on #1532
@tolotrasamuel we just released `firebase-tools` version `7.2.0` about 5 minutes ago.  That contains the fix for #1479 that I was mentioning.  Could you upgrade (`npm install -g firebase-tools@7.2.0`) and see if you still have this issue?  If so please provide debug logs again. Thanks for your help and patience!

[2019-07-24 17:27] samtstern commented on #1530
This should be fixed in `7.2.0`

[2019-07-24 17:28] samtstern commented on #1525
This fix has been released in `7.2.0`

[2019-07-24 17:28] samtstern commented on #1451
The full fix for this issue has been released in `7.2.0`:

[code]

If you are still experiencing a similar bug on that version, please open a new issue.

[2019-07-24 18:26] samtstern commented on #1536
@abeisgoat I am scared of the require cache.

[2019-07-24 18:37] samtstern commented on #1536
Thanks @umarhussain15 for filing this!

[2019-07-24 20:21] tolotrasamuel commented on #1532
Yes, 7.2.0 works. I was a bug with 7.1.0 then
Thanks

Tolotra Samuel Randriakotonjanahary

https://tolotra.com

On Wed, Jul 24, 2019 at 8:47 PM Sam Stern <notifications@github.com> wrote:

[2019-07-24 20:22] samtstern commented on #1532
@tolotrasamuel thanks!

[2019-07-24 20:22] #1532 closed

[2019-07-24 22:02] ryanpbrewster commented on #1537
Fixed by https://github.com/firebase/firebase-tools/pull/1543, which will go out with the next release. Thanks for reporting this :)

[2019-07-24 22:02] #1537 closed

[2019-07-25 01:26] iwata opened #1544 "Failed to deploy functions with ADC"
### [REQUIRED] Environment info

**firebase-tools:**
7.2.0

**Platform:**
macOS

### [REQUIRED] Test case
Look steps below.

### [REQUIRED] Steps to reproduce

1. install firebase-tools v7.2.0
1. set `GOOGLE_APPLICATION_CREDENTIALS` to use ADC
1. deploy functions
   1. `firebase deploy --only functions`

### [REQUIRED] Expected behavior

Deploy successfully.

### [REQUIRED] Actual behavior

It sho

[2019-07-25 02:04] lcarbonaro opened #1545 "firebase serve question"
This is more of a question than an issue. Is there a way to test functions locally, but still have them connect to the remote firestore database? Perhaps some option for `firebase serve` ?

[2019-07-25 02:07] samtstern commented on #1545
Do you want to receive events from production Firestore in your locally
served functions?  If so that's not possible.

If you want to write to production Firestore from locally triggered
functions (like an HTTP function) that's totally possible and is the
default if you run the functions emulator but not the firestore emulator.

On Wed, Jul 24, 2019, 7:04 PM Les Carbonaro <notifications@github.com

[2019-07-25 02:19] lcarbonaro commented on #1545
Wow @samtstern , that was fast :-) Thank you.
Yes. these are CRUD type functions that read/write records in my firestore database and which I would like to test before doing a `firebase deploy`.  So, if I may follow up, how does one run the functions emulator? Is it some option or parm I need to add to the `firebase serve` command? Thanks again.

[2019-07-25 03:50] samtstern commented on #1545
Just run "firebase emulators:start --only functions" and it should all work
as intended.

On Wed, Jul 24, 2019, 7:19 PM Les Carbonaro <notifications@github.com>
wrote:

[2019-07-25 03:57] shaneqld opened #1546 "firebase login fails running under WSL"
### [REQUIRED] Environment info

**firebase-tools:** 7.2.0

**Platform:** debian over WSL1

### [REQUIRED] Test case

`firebase login` fails when running under WSL.

### [REQUIRED] Steps to reproduce

- install WSL (Debian)
- install node 12.7.0
- install firebase-tools using npm
- run `firebase login`

### [REQUIRED] Expected behavior

Expected to listen on local port.

### [REQUIRED] Actual beha

[2019-07-25 04:33] mbleigh commented on #1544
Can you please run the command with `--debug` and include the full output here?

[2019-07-25 05:41] sultanmyrza commented on #1360
when install firebase-tools@6.3.0 it gives warning

sudo npm i -g firebase-tools@6.3.0
npm WARN deprecated @google-cloud/functions-emulator@1.0.0-beta.6: Deprecating in favor of the Functions Framework and firebase-tools. See https://github.com/googlearchive/cloud-functions-emulator/issues/327
/usr/local/bin/firebase -> /usr/local/lib/node_modules/firebase-tools/lib/bin/firebase.js

If you're usin

[2019-07-25 05:49] intersrc opened #1547 "The result of coverage is all red"
Me again.
I've tried the new database emulator from: https://storage.googleapis.com/firebase-preview-drop/emulator/firebase-database-emulator-v4.1.1.jar

With the project from https://github.com/firebase/quickstart-nodejs/tree/master/database-emulator/javascript-quickstart
After running `npm test`, there's no error with /.inspect/coverage.json anymore.
But in /.inspect/coverage, it's all red where

[2019-07-25 06:36] MrAlek opened #1548 "InternalError when deploying Firestore function: "Cannot allocate memory. rm_node_modules is likely not on the path""
### [REQUIRED] Environment info

**firebase-tools:** 7.2.0

**Platform:** macOS

### [REQUIRED] Test case

No test case.

Issue suddenly started appearing ~a week ago and has gone progressively worse.

### [REQUIRED] Steps to reproduce

Deploy a cloud function on a Firestore trigger using `firebase deploy --only functions:functionName`.

Function definition:
[code]

### [REQUIRED] Expected behavio

[2019-07-25 08:21] MrAlek commented on #1548
Seems like I finally was able to solve the issue by updating `yarn` and rebuilding `node_modules` again.

This took me quite some time to get around, especially since the console output said `InternalError` I assumed it was some kind of outage and retried during a period of hours.

Is there a way of detecting these `node_modules` related issues and provide a more helpful error message?

[2019-07-25 08:29] iwata commented on #1544
@mbleigh
here it is.

[code]

I masked some credential information.

[2019-07-25 11:48] lcarbonaro commented on #1545
I will certainly try that. Thank you again.

[2019-07-25 11:48] #1545 closed

[2019-07-25 13:38] Bnaya commented on #1500
I'm having same issue with 7.2

[2019-07-25 15:43] samtstern commented on #1548
As far as I know @MrAlek this is a somewhat uncommon backend issue that is normally fixed by running `firebase deploy` again.  When you deploy Cloud Functions we actually build the `node_modules` folder ourselves so your local modules are not part of the deployment.  It's likely a coincidence that it was fixed for you just after you did a local upgrade/rebuild.

We have some big backend improvemen

[2019-07-25 15:43] #1548 closed

[2019-07-25 15:44] samtstern commented on #1547
@IanWyszynski does this look right to you?

[2019-07-25 16:23] bkendall commented on #227
@snaulX please open a new issue rather than commenting on this old issue. Thanks.

[2019-07-25 16:26] bkendall commented on #1442
I'm going to assign this to @abeisgoat - he can take a look if he has a moment :)

[2019-07-25 16:30] abeisgoat commented on #1536
I believe you may be mistaken @umarhussain15, can you try...

[code]

I've never seen someone attempt to delete the entire cache and afaik it's not possible in any environment.

[2019-07-25 17:01] yegorius commented on #1458
Just a clue.
Environment:
firebase-tools 7.1.0 or 7.2.0
Arch Linux
`> node_modules/.bin/firebase serve --only functions` terminates after timeout
`> $HOME/.npm/bin/firebase serve --only functions` doesn't terminate

So it only terminates if firebase-tools are installed locally. My `npm config get prefix` is `$HOME/.npm` so if I do `npm i -g firebase-tools` everything works ok, but it doesn't work

[2019-07-25 17:07] joehan commented on #1546
Hi @shaneqld, sorry to hear that you're having trouble. Your guess seems accurate - it looks like the call to [http.server in auth.js](https://github.com/firebase/firebase-tools/blob/master/src/auth.js#L163) is failing because it thinks it is running on Windows.

For now, could you try to login by instead running ```firebase login --no-localhost``` ? This shouldn't be using http.server, so it shou

[2019-07-25 17:34] joehan commented on #1544
Thanks for reporting this @iwata! It looks like this may be due to a change from 7.1.0 to 7.2.0 in the API we use to check if APIs are enabled: [in 7.1.0, we used https://serviceusage.googleapis.com](https://github.com/firebase/firebase-tools/compare/v7.1.0...v7.2.0#diff-a32b054bd326034bfec6d964d43f5f28L17), and i[n 7.2.0 we are using https://servicemanagement.googleapis.com](https://github.com/fi

[2019-07-25 17:45] umarhussain15 commented on #1536
@abeisgoat thanks for the correct command.
I tried the above command earlier but I was not using `require.resolve` so there was no change in cache. I then tried to delete the whole cache.

Using the above command I'm able to delete items from require cache. Thanks again.

[2019-07-25 17:45] #1536 closed

[2019-07-26 00:08] iwata commented on #1544
@joehan
Could you fix this soon?

[2019-07-26 00:30] iwata commented on #1544
It worked well if I tried it in 7.2.1. Thank you for fixing it!

[2019-07-26 00:30] #1544 closed

[2019-07-26 00:57] bkendall commented on #1544
👍 glad we got you fixed. Thanks again for the report!

[2019-07-26 11:56] WispAmulet commented on #155
Works for me! Thx.

[2019-07-26 12:40] danieldanielecki commented on #968
1. Let say you made a change in a dependency called `protobufjs` in your `node_modules`.
 2. Copy this package `protobufjs` from your `node_modules` to `functions` folder.
 3. Add to your `dependencies` the following: `"protobufjs": "file:./protobufjs"` (assuming you placed the `protobufjs` folder in the root of functions folder).
 4. Run: `firebase deploy`.

[2019-07-26 16:28] joehan commented on #1546
Hi again @shaneqld, this should be fixed in v7.2.1, please upgrade and let us know if you are have any more issues. Thanks again for reporting this!

[2019-07-27 01:00] #1441 closed

[2019-07-27 16:33] fazpu commented on #1158
@Memeriaj - Please could you give us any estimates when Hosting origin will be located outside of US?

The whole Firebase environment is amazing, but this make us think twice before switching to it. Thank you

[2019-07-27 16:35] fazpu commented on #842
@mbleigh  - Please could you give us any estimates when Hosting origin will be located outside of US?

The whole Firebase environment is amazing, but this make us think twice before switching to it. Thank you

[2019-07-28 06:38] AKASHHJOSEPH opened #1558 "I am having trouble with installing firebase tools"
npm WARN checkPermissions Missing write access to /usr/local/lib/node_modules/firebase-tools/node_modules/grpc
npm WARN checkPermissions Missing write access to /usr/local/lib/node_modules/firebase-tools
npm WARN checkPermissions Missing write access to /usr/local/lib/node_modules/firebase-tools/node_modules
npm WARN checkPermissions Missing write access to /usr/local/lib/node_modules
npm WARN mar

[2019-07-28 06:57] quentinvernot commented on #1450
@samtstern So uh... it's been a month, I kinda forgot, sorry. Patching the json just before the deploy works like a charm, but it would be nice not to have to do it for future projects.

Should I do a PR? Would you prefer supporting both methods (maybe with a warning when using the `engines` field in `package.json`) or dropping the other one altogether?

[2019-07-28 08:55] gurubastade opened #1559 "firebase login cli error"
`C:\myAngular\gurus-application>firebase login
? Allow Firebase to collect anonymous CLI usage and error reporting information? Yes

Visit this URL on any device to log in:
https://accounts.google.com/o/oauth2/auth?client_id=563584335869-fgrhgmd47bqnekij5i8b5pr03ho849e6.apps.googleusercontent.com&scope=email%20openid%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fcloudplatformprojects.readonly%20http

[2019-07-28 09:50] AbhijeetDash commented on #1394
Hi @bkendall,
can you plz explain me what actually happens when we rewrite all the URLs to index.html

[2019-07-28 16:30] JottaPereira commented on #1558
Hi, I had the same issue.
Here what I did and work for me:
https://docs.npmjs.com/resolving-eacces-permissions-errors-when-installing-packages-globally

[2019-07-29 07:34] danieldanielecki commented on #842
Really don't know why this issue has been closed if it has been not resolved, bumping +1.

[2019-07-29 07:46] suzukieng commented on #842
Second this, Firebase is amazing, but for European users this is a major caveat.

[2019-07-29 10:35] hikaruna opened #1560 "package `marked` doesn't satisfy `marked-terminal` peer-dependency"
### [REQUIRED] Environment info

**firebase-tools:  "7.2.1",

**Platform:linux(debian stretch on {docker FROM node:8.16.0-stretch on mac} )

### [REQUIRED] Test case

see Steps to reproduce

### [REQUIRED] Steps to reproduce

1. step1
    1. boot mac
    1. install docker desctop for mac
    1. launch docker (in mac)
    1. docker run -it --rm node:8.16.0-stretch bash
    1. mkdir workspace ; cd w

[2019-07-29 14:39] cryptobrains opened #1561 "If a file is imported from another directory the uploader gets confused"
How to reproduce:

Say that you have the following directory structure:

common-project/firebase-server-side
common-project/shared-libraries
common-project/client-side

index.ts in /firebase-server-side/functions/src imports a shared model definition:

import {definition} from '../../../shared-libraries/models.ts';

You initiate firebase deploy from /firebase-server-side/functions

The build proce

[2019-07-29 15:15] bkendall commented on #1560
Yes, this warning is printed, and it's known at this time. There shouldn't be any issues using `firebase-tools`, but it will print this warning. `marked` had a [security advisory published](https://www.npmjs.com/advisories/1076) and published the `0.7` updated. `marked-terminal` (which we also use) has to explicitly whitelist every `0.x` minor version of `marked` in order to support it. I have a [

[2019-07-29 15:15] bkendall commented on #1560
(I'll leave this but open until this issue is fixed, at any rate)

[2019-07-29 15:25] bkendall commented on #1558
yup, @AKASHHJOSEPH, see the docs that @JottaPereira directed you towards - that looks like a permissions issue on your local machine.

[2019-07-29 15:25] #1558 closed

[2019-07-29 15:27] bkendall commented on #1394
@AbhijeetDash See https://stackoverflow.com/questions/37667626/firebase-cli-configure-as-a-single-page-app-rewrite-all-urls-to-index-html

[2019-07-29 15:38] mbleigh commented on #842
Sorry, we can't comment on timelines as they are a little too subject to change. I appreciate the ongoing voice for supporting this as a feature, that's definitely something we take into account as we plan and build the product.

[2019-07-29 15:38] bkendall commented on #1158
It's a general rule that we cannot comment on timelines, but we are still actively working on this. Thanks for your patience.

(Also, it doesn't seem all that polite to post your question in multiple issues; once is enough. Thanks.)

[2019-07-29 16:34] samtstern commented on #1450
@quentinvernot just to better understand, why do you want to declare a version >= 11 in your `engines` field but you are fine with deploying your Cloud Functions to a Node.js 8 environment?  Wouldn't that imply that you're being too strict in `engines`?

[2019-07-29 18:26] quentinvernot commented on #1450
That's what I tried at first, the tool doesn't let me. Like people said in #1038, if I put `{ "engines": ">=8" }`, firebase would need to guess what version I really want and could pick the wrong one + that would likely make the build non-reproducible. I'm totally ok with this choice, it's kinda like lockfiles, you want the exact version used to be written somewhere.

[2019-07-29 21:03] Sanunez opened #1563 "Firebase init Creates new Project in directory does not bring existing project back."
When running ``` firebase init ``` and following the prompts a new firebase project is created in the directory instead of fetching existing files.
![2019-07-29 at 3 54 PM](https://user-images.githubusercontent.com/11667825/62081907-384ce200-b219-11e9-8c3f-c7d2616870da.png)

The deployed content should look more like this.
![2019-07-29 at 3 59 PM](https://user-images.githubusercontent.com/11667825

[2019-07-29 21:22] bkendall commented on #1563
This is working as intended. `firebase init` will initialize a directory for new projects, but it does _not_ download/fetch anything from the current project (so, in your example, it does not download all the files in the Hosting site to the local directory).

If you're looking to maintain your source code, I'd recommend using some flavor of source control. If you've lost your files and are trying

[2019-07-29 21:22] #1563 closed

[2019-07-29 22:50] hyzhak commented on #1480
got the same issue. @samtstern Is there any chance to see it fixed soon?

[2019-07-29 22:59] IngMarFlo commented on #1394
@AlexVegner can u help me ?? i follow your instructions (using .bash files) with a new flutter web app and i obtain a blank page https://linajevanguardistas-2018.firebaseapp.com/#/

[2019-07-30 03:12] shaneqld commented on #1546
Hi @joehan, running with or without `--no-localhost` flag on 7.2.1 results in the same issue:

[code]

[2019-07-30 03:28] shaneqld commented on #1546
Taking a quick look into this, it seems to be an issue in the `open` node package.

[2019-07-30 03:37] shaneqld commented on #1546
Taking a further look into this, it seems `open` package invokes `cmd.exe` which it expects is on the PATH environment variable.  Adding `/mnt/c/Windows/system32` to PATH resolves the problem.

[2019-07-30 06:30] AbhijeetDash commented on #1394
@IngMarFlo you can read this article..
[](https://medium.com/@abhijeetdash1999/flutter-web-with-firebase-hosting-82c341989b37)

[2019-07-30 06:30] AbhijeetDash commented on #1394
https://medium.com/@abhijeetdash1999/flutter-web-with-firebase-hosting-82c341989b37

[2019-07-30 07:05] IngMarFlo commented on #1394
@AbhijeetDash Thanks a lot, its work !!

[2019-07-30 10:47] kichus14 commented on #342
Use `firebase login --no-localhost`. This will prompt to paste the authorization code displayed in the screen after successful login

[2019-07-30 15:54] samtstern commented on #1546
@shaneqld thanks for investigating!  Looks the same as this issue:
https://github.com/firebase/firebase-tools/issues/1442

Let's close this one and you can track the fix over there.

[2019-07-30 15:54] #1546 closed

[2019-07-30 16:46] govindrai commented on #1442
I am experiencing this same issue. `--no-localhost` and `--reauth` both lead to login failures

[2019-07-30 16:56] bkendall commented on #1480
@hyzhak this should be fixed in the latest release of `firebase-tools`. If you're having issues still, can you open a new issue with the appropriate information so we can better track it? thanks.

[2019-07-30 18:55] #1523 closed

[2019-07-30 21:28] cspecter opened #1569 "Can't make external http call when testing locally using request-promise or socket.io"
### [REQUIRED] Environment info

**firebase-tools:** 7.2.0

**Platform:** macOS

### [REQUIRED] Test case

I am trying to test a function that makes a call to an external URL using wither request-promise or socket.io-client. When running `firebase serve` or `firebase functions:shell` or `firebase emulators:start` it never makes the call to that url (or any external url). My account is on a paid pl

[2019-07-30 21:41] samtstern commented on #1569
@cspecter can you add a but more context here?

- Where in your `index.js` file is that code?
- What `firebase` command are you running?  What output do you get?  What do you expect?

[2019-07-30 21:44] kevinajian commented on #1559
Hi @gurubastade,

Sorry to hear you're having issues. This seems related to https://github.com/firebase/firebase-tools/issues/1442. Can you try the suggestion that Sam says here: https://github.com/firebase/firebase-tools/issues/1442#issuecomment-505970176? If it's the same issue, I'll close this duplicate and we can track it there.

[2019-07-30 21:58] cspecter commented on #1569
It is the main entry point file. Mine is in `/functions/src/index.js`. If I run `firebase serve` I expect to see some log in the terminal that says "body" with a bunch of markup or "error" with an error message. Currently I see nothing at all.

In my function I use request-promise to get some data from an external URL. It works when I deploy, but not if I use serve, shell or emulate.

[2019-07-30 22:08] samtstern commented on #1569
Can you show all of `functions/src/index.js`?  There should be some function definitions, like `exports.myFunction = functions....`

[2019-07-30 22:26] cspecter commented on #1569
Sure, I updated the original post. I am running my functions via KOA. I have another server with that is acting as a cache. I am trying to make a function that will grab some data from that server, then return it via the firebase cloud function. All I want to do is test this locally. If I deploy the function it works properly. But if I try to run it locally, either with `firebase serve` or `functi

[2019-07-30 23:22] kevinajian commented on #1561
@cryptobrains, can you share a quick repro of your setup? What do your `firebase.json` and `package.json` files look like?

[2019-07-31 01:43] cryptobrains commented on #1561
I will only be able to follow up in about 2 weeks, off on vacations.

The compiler will draw the .ts from from the shared libraries and build it in the final project. The actual files themselves are not needed for upload purposes.

[2019-07-31 06:08] petertriho opened #1573 "Unable to use cloud storage without specifying storageBucket when initialising app with firebase-admin"
Sorry if this does not belong here, I was not sure whether the issue is related to firebase-tools or firebase-admin-node

### [REQUIRED] Environment info

**firebase-tools:** 7.2.1 and 7.2.2

**Platform:** macOS

### [REQUIRED] Test case

I am trying to set up an api endpoint which creates an empty folder in the default firebase storage bucket

Using `firebase serve` to emulate the function (expre

[2019-07-31 08:29] Industrial opened #1574 "[Possible Bug] Can't run firebase serve/deploy from root dir."
### [REQUIRED] Environment info

**firebase-tools:** 7.2.2

**Platform:** Ubuntu

### [REQUIRED] Test case

I can't seem to run firebase serve/deploy from the git root directory. I would like to place all config files in here and not in the functions subdirectory. This will enable linting/fixing on my test code, among other things.

### [REQUIRED] Steps to reproduce

[code]

### [REQUIRED] Expecte

[2019-07-31 08:38] Industrial commented on #1574
I fixed it with

[code]

Is this behaviour documented somewhere?

leaving this ticket open for the question :-)

gr,

Tom

[2019-07-31 12:36] thisismydesign commented on #1040
@philipwalton Could you show an example with `superstatic`?

[2019-07-31 13:33] gurubastade commented on #1559
thanks...

[2019-07-31 13:33] #1559 closed

[2019-07-31 16:37] samtstern commented on #1574
@Industrial glad you fixed it!  Yes the `functions.source` configuration parameter is documented here (and I think in some other places):
https://firebase.google.com/docs/functions/manage-functions

The default value is "functions" so what you did is the correct change.

[2019-07-31 16:37] #1574 closed

[2019-07-31 19:04] ryanpbrewster commented on #1001
If you're interested in trying out the Firestore emulator's experimental browser support, check out https://github.com/firebase/quickstart-nodejs/tree/master/firestore-emulator/browser-quickstart

[2019-07-31 19:46] samtstern commented on #1573
@thechenky or @hiranya911 could you take a look at this one?

[2019-07-31 20:08] kevinajian commented on #1573
Hi @petertriho,

Sorry to hear you're running into this issue. I've tried to reproduce it on my end with a test project and deployed the following:
[code]
and both `FIREBASE_CONFIG` and `storage.appInternal.options` are printing out fine in the logs below:
![image](https://user-images.githubusercontent.com/1319317/62243128-7f5de300-b391-11e9-9dd6-0e4266d19472.png)

Can you share more of your setup

[2019-07-31 20:32] alexvarboffin commented on #1044
An error also occurs if you try to update a project that is deleted from the Google developer console, you can delete the configuration files from the folder and place it in a new project

[2019-07-31 23:33] petertriho commented on #1573
Hi @kevinajian,

Thank you for investigating my issue, I've been able to reproduce the issue in an isolated environment (should have done this earlier!). You should be able to deploy this to get the same errors: https://github.com/petertriho/firebase-storage-app

The issue seems to stem from how I'm importing/exporting my express function. As seen here:
https://github.com/petertriho/firebase-stora

[2019-08-01 02:11] yeahse commented on #1569
same issue damn.. what`s the wrong with all of the latest version of firebase things? so many errors out there I can`t do working at all since few days ago, I shouldn`t have updated these damn things. It`s so annoying

[2019-08-01 05:49] HanojHanu commented on #1103
for me working fine with this command : firebase deploy --only functions:onFileChange --debug

[2019-08-01 10:42] kaminskypavel commented on #653
here's what worked for me

[code]

and in the `root/firebase.json` :
[code]

[2019-08-01 11:31] 0x80 commented on #653
@kaminskypavel 	is your packages/functions depending on packages/package1 (or some other sibling package)?

[2019-08-01 12:52] kaminskypavel commented on #653
@0x80 positive.

[2019-08-01 13:13] lerayj commented on #1500
Still no news about this issue ?

[2019-08-01 16:36] samtstern commented on #1569
@cspecter ok I took your code and messed with it a little bit. See below for the code I was working with.  I ran `firebase emulators:start` and was able to observe the following.

Based on all of the below, everything is working as expected on our side and you just need to update how you handle async operations in your code.  I have never heard of Koa before so apologies if this is not how things

[2019-08-01 16:36] #1569 closed

[2019-08-01 17:43] samtstern commented on #1450
@quentinvernot thanks for the extra context.  I know the team is working on many things right now but hopefully @mbleigh or @bkendall or someone else will be able to get to this soon.  I am not enough of a node expert to get this behavior right.

[2019-08-01 17:55] philipwalton commented on #1040
Here's how I'm using this on my personal blog: https://github.com/philipwalton/blog/blob/21fde735815d7c3620ecfb0f5f1c81df9d94874f/tasks/utils/server.js#L16

[2019-08-01 18:06] samtstern commented on #1547
@scottcrossen did you implement this endpoint?  Are they all supposed to be red?

[2019-08-01 19:18] kevinajian commented on #1573
I noticed in the one that works the difference is the express require comes before the `admin.initializeApp()`, and the one that does not work is the reverse.
I changed the one that does not work to
[code]
and this worked for me.

I think the issue is `initializeApp()` was not being called before accessing the storage bucket. Let me know if it works for you.

[2019-08-01 22:54] petertriho commented on #1573
I just tried your example and that works for me as well (I think you meant initializeApp after?)

The order of initializing the app definitely appears to be causing the issues but I'm confused on why both scenarios work fine for `firebase serve` and the issue only pops up when deployed

[2019-08-01 23:58] kevinajian commented on #1573
I believe what's happening is the firebase-functions sdk populates the FIREBASE_CONFIG variable, so it needs to be imported before running `admin.initializeApp()`. In your example admin was initialized first, while the config variable was still empty to be empty.
The emulator also populates the value, so in that case it's not empty when you're initializing.

[2019-08-02 00:38] petertriho commented on #1573
That makes sense, thank you

[2019-08-02 00:38] #1573 closed

[2019-08-02 19:53] cspecter commented on #1569
Ok, I moved all my called inside functions and it works. Thanks! Also, I had to move to regular http requests as Socket.io was being inconsistent. Otherwise all good.

[2019-08-04 05:27] TheRoccoB commented on #566
Brilliant @gamebenchjake. Just saved my ass!

[2019-08-05 19:04] Dean-NC commented on #1480
For those running WSL 1 (linux on Windows 10), using firebase tools 7.10 or 7.2.2 to fix this issue might still be a problem due to something in 7.10 causing a problem for WSL users: #1458.

I run WSL 1 with firebase tools 7.0.2, node 10, and installing firebase-functions@3.0.2 fixed this problem for me.

[2019-08-05 21:25] Mcebrera opened #1581 "Firebase deploy and serve give undefined message and nothing more"
First and foremost thank you for your help in advance. I'm wetting my feet in the firebase world and read the docs on deploying. This is an existing project and the docs are pretty straight forward on serving and deploying your functions.

However, I am getting an `undefined` error with not much info... again, I'm new to the firebase world. I've tried using different node version, updating to late

[2019-08-05 21:40] samtstern commented on #1581
@Mcebrera can you show your main functions JavaScript file?

[2019-08-05 22:01] Mcebrera commented on #1581
@samtstern sure thing. I've been messing with it a bit but here is my `functions/index.js` containing my function definitions:

[code]

[2019-08-06 00:46] lborgman commented on #842
I have an issue that might be related to this, but I do not fully understand this so I do not know. If someone who knows better and have time wants to comment on that, please see this question:

https://stackoverflow.com/questions/57367131/403-from-deployed-firebase-function

[2019-08-06 12:02] T-light commented on #266
Error: No project active. Run with --project <projectId> or define an alias byrunning firebase use --add

[2019-08-06 12:02] T-light commented on #266
please help

[2019-08-06 15:33] bkendall commented on #266
@T-light please open a new issue with the appropriate information. Thank you.

[2019-08-06 16:23] samtstern commented on #1581
Thanks @Mcebrera ... so are you having the same error on `firebase deploy` as you are with `firebase serve`?

[2019-08-06 17:00] ranmocy opened #1583 "Firestore emulator does not support transactional queries"
### [REQUIRED] Environment info

7.2.2

**firebase-tools:** 7.2.2

**Platform:** macOS 10.14.5

### [REQUIRED] Test case

[code]

### [REQUIRED] Steps to reproduce

Run `firebase emulators:start` and call the function from Web App

### [REQUIRED] Expected behavior

Emulator should just work as production

### [REQUIRED] Actual behavior

[2019-08-06 17:08] samtstern commented on #1583
@ranmocy can you show the complete logs from `firebase --debug emulators:start` including the failed transaction?  Also is there anything in `firestore-debug.log`?

[2019-08-06 20:02] Mcebrera commented on #1581
@samtstern Yes I was. I was able to get past it yesterday and now encountering a different error on deploys.

For the record, serve works well now except for one of my functions isn't being initialized due to a database emulator not running.

On deploy, I get a

`Function failed on loading user code. Error message: Overwriting FirebaseError base field "name" can cause unexpected behavior.
Provided

[2019-08-06 21:41] samtstern commented on #1581
@Mcebrera I am not sure why it only says `undefined` but it is almost certain that one of your imports is not working and that's causing an issue when we evaluate your file while looking for exported function triggers.

In particular these lines concern me:
[code]

Especially the re-assigning of variables on `admin.auth()` ... what is the purpose of that?

What we need here is to find the **minima

[2019-08-06 22:44] Mcebrera commented on #1581
@samtstern I was able to get passed the `undefined` error and am no longer seeing it when running `serve` or `deploy`. Seems like it needed some file imports that were not there anymore.

However, now I am seeing a `database: Firebase: Firebase service named 'database' already registered (app/duplicate-service).` error.

I believe this new error is related to the compatibility of `firebase` and `f

[2019-08-06 22:46] samtstern commented on #1581
@Mcebrera oh I'm glad you solved it!  And I agree, it sounds like this is no longer related to the CLI so I will close it.  Both the JS SDK and the Node.js Admin SDK are open source on GitHub though so I would recommend filing an issue over there if you don't solve this soon.

[2019-08-06 22:46] #1581 closed

[2019-08-07 03:00] ranmocy commented on #1583
Thanks for the pointer. `firestore-debug.log` explains the issue:
[code]

Is there any plan to implement it? Any tracking bug?

[2019-08-07 13:14] sdubrez opened #1585 "Firestore Trigger - How to test properly on local ?"
### [REQUIRED] Environment info

**firebase-tools:** 7.1.1

**Platform:** macOS

### [REQUIRED] Test case

[code]

### [REQUIRED] Steps to reproduce

After launching `firebase functions:shell`, I can call the `onCreateDocument`.
Here is the result
[code]
### [REQUIRED] Expected behavior

I would like to test it the same way Firebase is going to execute it on production side.

### [REQUIRED] Actual

[2019-08-07 15:43] samtstern commented on #1585
@sdubrez great question!  You're actually just a little ahead of the game right now.  The `7.3.0` release of `firebase-tools` will include support for calling the Firestore Emulator from a web client (like your React app) which will allow you to test these trigger flows.

If you want to just test the cloud function part now (so that you can see real inputs), I would suggest making an HTTP function

[2019-08-07 15:43] #1585 closed

[2019-08-07 16:08] samtstern commented on #1583
@ranmocy ah yeah that makes sense.  We have an internal tracking bug for this issue (since the emulator itself is not open source) but we can leave this one open as well.

@ryanpbrewster we're aware of this limitation, right?

[2019-08-07 16:10] #1560 closed

[2019-08-07 17:54] ryanpbrewster commented on #1583
Correct, the internal bug id is 135537114.

For context, the main challenge for this feature is faithfully matching the production Firestore transaction behavior. While you are executing this transaction, are other clients allowed to modify the collection you're querying? The answer for Firestore is fairly complex, and challenging to match exactly. It is likely that when we do implement this in th

[2019-08-08 03:07] ranmocy commented on #1583
That is a reasonable concern.
If you ask me, I would say for an emulator, firstly it should allow any legitimate client code to run against it, and latter to behave as close to production version as possible. So I think it's totally reasonable to minimize the support on concurrency cases.

That being said, would it be possible to have some simple implementation without support of concurrency first

[2019-08-08 06:32] leblancmeneses commented on #1480
For me it was because firebase-tools was installed globally after upgrading to latest.

[code]

then update your scripts to to use npx equivalent commands.

[code]

[2019-08-08 12:18] jackhobbs commented on #1442
Solved !
I was getting the same problem and faced almost same issues.
After I started the CMD with administrative privilage, the login was done.

Hope your work also.

[2019-08-08 12:36] andrioid commented on #1160
@Memeriaj Can we please reopen this? I'm observing this behaviour with `firebase-tools@7.2.2`

No matter what I write as target-name, it runs pre-deploy for all of the targets. `firebase deploy --only hosting:allhailsantaclause` will run all targets, even if there is no target by that name.

[2019-08-08 15:54] davidaimes077 opened #1589 "TypeError: Cannot read property 'wanted' of undefined (I can't deploy Firebase, again)"
Error on terminal: https://gist.github.com/davidaimes077/306f978a1b7193a020d2ab075631ae47

File containing the error:
https://gist.github.com/davidaimes077/f0e3c973589428e85a129e6ffdf68b4c

[2019-08-08 16:11] bkendall commented on #1589
Please follow the template when filling out issues. It makes it much, much easier to debug your issue.

That said:
* I see you're using node 12 - there are some known quirks about 12 and we generally recommend using 8 or 10.
* You're using an old CLI version. Did you try upgrading it?
* Normally, I'd ask what your `npm` version is at this point, but it may not matter because...
* This is a duplica

[2019-08-08 16:11] #1589 closed

[2019-08-09 17:37] hpoit commented on #1232
Hello, same issue:
[code]
`index.js`:
[code]

[2019-08-09 20:20] ryanpbrewster commented on #1583
Totally reasonable. There is a bit of work needed in order to support this without breaking the normal concurrency handling, but it's very doable. I'll keep this issue open to track the progress.

[2019-08-09 23:12] lvhellgren commented on #1469
Getting this error for both functions and hosting deployments after upgrading to npm 6.10.1 and firebase-tools 7.2.2. So far no luck with rollbacks.

[2019-08-10 03:28] RahulGuptaIIITA commented on #515
Im getting the same error

⚠  functions[ssr(us-central1)]: Deployment error.
Function failed on loading user code. Error message: Code in file index.js can't be loaded.
Did you list all required modules in the package.json dependencies?
Detailed stack trace: Error: Cannot find module 'firebase/app'
    at Function.Module._resolveFilename (module.js:548:15)
    at Function.Module._load (module.js:4

[2019-08-10 06:11] jaschaio commented on #1371
This seems fixed for me within `firebase-tools@7.2.2`

[2019-08-10 13:41] brekov commented on #155
2019.8.10   I've tried almost all the solutions above, and it's not working. sadly...

[2019-08-10 14:46] brekov opened #1592 "Unable to login behind a proxy"
I am trying to login while being behind proxy, and I'm tried almost solutions in #155.
Is there a way to login and deploy behind a proxy ?

### [REQUIRED] Environment info

**firebase-tools: 7.2.2**

**Platform:macOS**

### [REQUIRED] Actual behavior

run:  ```firebase login --no-localhost --debug```
output:
[code]

[2019-08-11 01:00] jakebern commented on #1447
I'm still getting this issue when serving locally (though not when deploying to Firebase).

using firebase-tools 7.2.2

[2019-08-11 03:51] hangindan commented on #1447
I had the same problem and ultimately downgraded firebase-tools to 6.8.0 which is what I'm still on and posting multi-part images locally works fine.

[2019-08-12 01:10] duizabojul commented on #1160
@Memeriaj Same here on `firebase-tools@7.2.2`, `firebase deploy --only hosting<my-target>` will run all targets predeploy and postdeploy scripts.

[2019-08-12 08:47] lookfirst commented on #1099
@JoeOsterfeld what was your fix?

[2019-08-12 11:25] universse opened #1593 "Using firestore.indexes.json"
I can't seem to find the documentation for ```firestore.indexes.json```. I want to remove certain single-field index with it rather than using the console.

[2019-08-12 16:55] laurenzlong commented on #515
@RahulGuptaIIITA Please run `npm install --save firebase`  in your `functions` folder.

[2019-08-12 17:42] rodrigoxavier commented on #911
Thanks, this worked for me!

[2019-08-12 20:33] hpoit opened #1595 "firebase-admin has been stubbed (main.dart.js is not found)"
### [REQUIRED] Environment info

**firebase-tools:** 7.0.2

**Platform:** macOS

### [REQUIRED] Test case
Copy the contents of https://github.com/angular-examples/lottery/tree/master/4-final and paste them into `public/`

### [REQUIRED] Steps to reproduce
After pasting the contents into `public/` and changing firebase.json's line to `"public": "public/4-final/web",`, run `firebase serve` under the

[2019-08-12 20:51] hpoit commented on #1595
More details on the actual behavior:
![image](https://user-images.githubusercontent.com/3711100/62897487-c3ee6480-bd29-11e9-822f-28c58d2c1665.png)

[2019-08-12 20:52] hpoit commented on #1595
`firebase serve --debug`: https://gist.github.com/hpoit/76cf9851a4323da51fa7d44ccf3be667

[2019-08-13 00:41] hpoit commented on #1595
Might this be a build issue such that `main.dart.js` is not found?

[2019-08-13 01:35] hpoit commented on #1595
Inside `public/` I have:
![image](https://user-images.githubusercontent.com/3711100/62909052-6a9a2b80-bd51-11e9-9810-a5ff1824d402.png)

[2019-08-13 02:12] hpoit commented on #1595
How is `build/web/index.html` rewritten to link `main.dart.js` under the new Dart 2?

I understand `dart_to_js_script_rewriter` was dropped. Where could I learn more about its replacement?

[2019-08-13 02:31] RahulGuptaIIITA commented on #515
@laurenzlong   Im following this tutorial
https://hackernoon.com/deploying-angular-universal-v6-with-firebase-c86381ddd445

and now im seeing

<img width="594" alt="Screen Shot 2019-08-12 at 7 31 13 PM" src="https://user-images.githubusercontent.com/12608686/62911062-c5bf2480-bd37-11e9-8a5f-d626b081cd15.png">

Not sure why?  Do you know what I could have done wrong?

[2019-08-13 06:16] Hackergeek commented on #155
@starry
work for me , thanks

[2019-08-13 12:13] hpoit commented on #1595
Good morning. "For your new inquiry regarding "firebase-admin has been stubbed.", I suggest you file a new support ticket for this, as this seems to be an issue related to Cloud Functions. This way, we can track down requests and issues separately, and provide you a better support experience." (from Firebase Support this morning)

[2019-08-13 12:19] hpoit commented on #1595
Copy of email to Firebase Support this morning:

Good morning Yel. My `public/4-final/web/index.html` is exactly the same as https://github.com/angular-examples/lottery/blob/master/4-final/web/index.html. Also, I've pasted all the contents of https://github.com/angular-examples/lottery/tree/master/4-final under `public`.

Additionally, my local implementation is perfectly working:
![image](https:/

[2019-08-13 12:33] hpoit commented on #1595
My `firebase.json`: https://gist.github.com/hpoit/29731b5349d4fe9d349efccfa7e9f333

[2019-08-13 13:02] hpoit commented on #1595
Might `southamerica-east1` be the issue wrt Cloud Functions?:
![image](https://user-images.githubusercontent.com/3711100/62943629-4e2ddb80-bdb1-11e9-94d9-db55acc4856d.png)

[2019-08-13 14:11] iwikal opened #1596 "cannot login from different device"
### [REQUIRED] Environment info

**firebase-tools:** 7.2.2

**Platform:** macOS and Ubuntu

### [REQUIRED] Test case

I use Ubuntu for most things at work, however, I have to ssh to a mac from time to time. If I try to login on the mac, and visit the URL provided in the browser on Ubuntu, it tells me localhost refused the connection.

### [REQUIRED] Steps to reproduce

 - invoke `firebase login`

[2019-08-13 15:03] duizabojul opened #1597 "All predeploy and postdeploy hooks triggered for single target deployment"
### [REQUIRED] Environment info

**firebase-tools:** 7.2.2

**Platform:** macOS, Windows, Ubuntu

### [REQUIRED] Test case

.firebase.json example file
[code]

`firebase deploy --only hosting:staging` will produce following output :
[code]
### [REQUIRED] Steps to reproduce

- In firebase project, create multiple hosting sites and create targets accordingly with CLI.

- Add predeploy and/or postdep

[2019-08-13 17:37] bkendall commented on #1160
I'm reopening this and assigning to @Memeriaj to take a look.

[2019-08-13 17:38] bkendall commented on #1597
This is a duplicate of #1160 which I am reopening.

[2019-08-13 17:38] #1597 closed

[2019-08-13 19:24] lukepighetti opened #1598 "Add support for golang functions"
Allow us to select `golang` when initializing functions, as well as deploy them.

[2019-08-14 21:06] mcollinar opened #1599 "[error] Error: An unexpected error has occurred - firebase Login"
Hi,

I'm working with Ionic 4  and install the Firebase Tolls and every thing gone well, after that i've try to run the Firebase login.
 On the Firebase Login, give me this issue:

[error] Error: An unexpected error has occurred

When I get the firebase debug, I tried to access the Login URL in chrome, after give all the user permission, the page stop respond, and went to localhost:8100

Can any o

[2019-08-15 03:42] mcollinar commented on #1599
firebase debug file

[debug] [2019-08-15T03:31:07.827Z] ----------------------------------------------------------------------
[debug] [2019-08-15T03:31:07.836Z] Command:       C:\Program Files\nodejs\node.exe C:\Users\Marcelo\AppData\Roaming\npm\node_modules\firebase-tools\lib\bin\firebase.js login
[debug] [2019-08-15T03:31:07.837Z] CLI Version:   7.2.2
[debug] [2019-08-15T03:31:07.837Z] Platform

[2019-08-15 09:38] 0x80 commented on #653
I think there was something fundamental I misunderstood from monorepos. I was thinking you could share a package and deploy something using that shared package without actually publishing the shared package to NPM.

It seems that this is not possible, because deployments like Firebase or Now.sh will usually upload the code and then in the cloud do an install and build. Am I correct?

@kaminskypave

[2019-08-15 14:24] DollieExloo opened #1600 "error on deploy: 404 not found (NoSuchBucket) error"
### [REQUIRED] Environment info

**firebase-tools:** 7.2.2

**Platform:** macOS

### [REQUIRED] Test case

[code]

### [REQUIRED] Steps to reproduce
Running firebase deploy --only functions

### [REQUIRED] Expected behavior
That my functions would be uploaded to firebase

### [REQUIRED] Actual behavior

[code]

[2019-08-15 18:39] repentsinner opened #1602 "firebase.json 'functions.ignore' bloats package upload"
### Environment info

**firebase-tools:**
[code]

**Platform:**
Both MacOS (10.14.6 (18G87)) & Windows 10 development environments.

### Test case

MCVE: Firebase functions template + a 'functions.ignore' section in `firebase.json`

### Steps to reproduce

Create a firebase project.

Run firebase init functions with default options, and add it to your new project:
[code]

Uncomment the helloWorld

[2019-08-15 19:11] bkendall commented on #1602
The behavior that you described is the behavior that I would expect.

The [documentation](https://firebase.google.com/docs/cli/#the_firebasejson_file) does not describe `functions.ignore`, as you pointed out; however, it is [used by the CLI](https://github.com/firebase/firebase-tools/blob/15a582cd2d92ad7477e9364a61bb17a98478fe8e/src/prepareFunctionsUpload.js#L67).

Unofficially (in that it is _und

[2019-08-15 19:11] #1602 closed

[2019-08-15 19:25] repentsinner commented on #1602
Thanks for the info @bkendall.

Based on #291 I mistakenly thought that the CLI _always_ excluded node_modules, and that the stuff in `functions.ignore` was additive. Adding an explicit pattern for node_modules does do what you describe.

[2019-08-15 21:19] izakfilmalter commented on #986
I have found that [https://www.npmjs.com/package/module-alias](https://www.npmjs.com/package/module-alias) worked for me.

1. Make a new file `/src/fixTsPaths.ts`:

[code]

2. Import it in `/scr/index.ts`.

[code]

[2019-08-15 22:47] laurenzlong commented on #515
Hi, I don't think that's a bug with firebase-tools. Could you please file an issue in the Github repository for the tutorial? https://github.com/aaronte/angular-universal-firebase

[2019-08-16 15:50] janakaud commented on #853
If you are a newbie hitting this issue (like myself), double-check your function definitions.

In my case, there were some issues with function import paths in the root-level `index.js`, and I was getting this exact same error upon deployment.

This was on raw Cloud Functions, but it would probably be applicable for any other platforms built on the same - like Firebase Functions.

[2019-08-16 18:46] MaxInertia commented on #1232
@hpoit I'm also getting that error. Did you resolve it? If so what did you change?

[code]

[2019-08-16 20:22] hpoit commented on #1232
@MaxInertia yes I resolved it, I formatted and erased my entire machine :-)

[2019-08-16 20:26] madmacc commented on #1232
I think it just throws this error when it can't find the deploy target in your config.  I would check your config in the two config firebase files.  Post the contents up here if you want a second opinion.

[2019-08-17 07:13] RickFrom1987 commented on #510
This error also occurs when you set a.b="foo" then try to set a.b="bar"

[2019-08-17 15:08] olegpopovskiy opened #1604 "Gzip on firebase hosting on/off ?!"
Good afternoon, I'm facing a strange problem.
I’m making a personal website, and I’m using firebase tools and also deploying this site on the firebase hosting. For that I have 3 projects
`  "projects": {
    "default": "kate-photo-site",
    "staging": "katia-898f2",
    "production": "kates-eye"
  }`

One day after deploying a new version , I noticed that the page opens much more longer than usua

[2019-08-18 01:53] bcspragu commented on #1363
I'm running into the same issue with the [Go Firestore client](https://godoc.org/cloud.google.com/go/firestore), where write requests to the local emulator work setting the FIRESTORE_EMULATOR_HOST env variable, but List* calls result in `Metadata operations require admin authentication.`

I tried a few different schemes to set the `Authorization: Bearer owner` header, but ran into the same problem

[2019-08-18 02:35] clonezer opened #1605 ""Error: Port 5000 is not open, could not start functions emulator" when `npm run serve`"
### [REQUIRED] Environment info

**node:  12.8.0**
**npm:  6.10.3**

**firebase-tools: 7.2.2**

**Platform: macOS**

### [REQUIRED] Test case

look step below

### [REQUIRED] Steps to reproduce

run `npm run serve` command

### [REQUIRED] Expected behavior

Run simulator cloud functions successfully

### [REQUIRED] Actual behavior

[code]
Error: Port 5000 is not open, could not start functions emu

[2019-08-18 03:05] mhs2342 opened #1606 "firebase functions:shell - Port 5000 is not open, could not start functions emulator"
### [REQUIRED] Environment info

**firebase-tools: 7.2.2**

**Platform:**
macOS
### [REQUIRED] Test case
`firebase functions:shell`

### [REQUIRED] Steps to reproduce
1. `$ npm install -g firebase-tools`
2. `$ npm install firebase-functions@latest firebase-admin@latest --save`
3. `firebase functions:shell`
### [REQUIRED] Expected behavior
firebase shell runs as advertised

### [REQUIRED] Actual be

[2019-08-18 05:38] ryanpbrewster commented on #1363
Good point, I'll file an issue and follow up with the SDK team.

[2019-08-18 07:57] LFDM commented on #1593
Take a look here: https://github.com/firebase/firebase-tools/issues/1127

What you're asking currently doesn't work - `firestore.indexes.json` just appends, but never removes.

[2019-08-18 08:46] Chathula commented on #1606
i am also having this problem. did you find a solution?

OS: `Ubutnu 18.04`

[2019-08-18 09:17] Jank1310 commented on #1606
Seems to be related to the new portfinder release.
https://github.com/http-party/node-portfinder/issues/84#issue-481878443

The code used by the emulator fails with the latest version (1.0.22):
[code]

A quick workaround could be (besides using the old 1.0.21 version) :
[code]

[2019-08-18 10:44] alosarjos commented on #1606
I can confirm the QuickFix is working for me.

Firebase Tools: 7.2.2
Node: 12.8.1
OS: Fedora 30 Workstation

[2019-08-18 11:17] Chathula commented on #1606
This works fine! Thank you!

[2019-08-18 11:49] Jank1310 commented on #1605
for a quick fix see https://github.com/firebase/firebase-tools/issues/1606#issuecomment-522305234

[2019-08-18 17:40] olegpopovskiy commented on #1604
Update:
Today project https://kates-eye.firebaseapp.com/ is OK, files are gzipped.
But the third project : https://kate-photo-site.firebaseapp.com/ is always without compression.
I don’t care if this happens sometimes, but there is no guarantee that such a condition will not remain on the prod project .. Does anyone have any ideas?

[2019-08-18 17:52] olegpopovskiy commented on #1604
Update 2:
https://kates-eye.firebaseapp.com/ and https://kates-eye.com it's the same project, but while accessing **through kates-eye.com, compression is disabled**, but **through  kates-eye.firebaseapp.com/, it is turned on!**  what's happening ?

[2019-08-18 19:27] mbleigh commented on #1604
We are in the process of rolling out some new infrastructure, and this
might be a bug. The rollout is applied randomly to a subset of hostnames on
Firebase Hosting, so that likely explains the discrepancy. We will
investigate the underlying issue.

On Sun, Aug 18, 2019, 10:52 AM olegpopovskiy <notifications@github.com>
wrote:

[2019-08-18 20:19] meltedmoon commented on #1606
**where is?** node_modules/firebase-tools/lib/emulator/controller.js
I cannot find "firebase-tools" folder in node_modules. I able to find only firebase-funstions and firebase-admin.

[2019-08-18 20:20] shovelend commented on #842
Would be a great thing to have this, we could finally add a hosting rewrite to our functions already living in europe-west1.

[2019-08-18 20:25] alosarjos commented on #1606
It's in your global node_modules dir, not in the project one.

[2019-08-18 20:27] can450 commented on #1606
@meltedmoon the mentioned node_modules is not the node_modules in your project folder, but rather the node_modules for the packages you install globally. I can give you an example possible location in MacOS and you'll need to figure out the similar location in case you're in Windows.

/⁨usr⁩/⁨local⁩/⁨lib⁩/⁨node_modules⁩/⁨firebase-tools⁩/⁨lib⁩/⁨emulator⁩/controller.js

[2019-08-18 20:30] meltedmoon commented on #1606
Thanks for your kind help, I able to find it.
Windows location for firebase-tools is:
**C:\Users\[user]\AppData\Roaming\npm\node_modules\firebase-tools\**

[2019-08-19 03:37] micksatana commented on #1606
@meltedmoon you can run `npm root -g` to see where your global `node_modules` are.

[2019-08-19 08:36] mcoevert commented on #842
Would be great indeed. For now, also using redirects as @hgghyxo mentioned:

Function name `api`
Region `europe-west1`

firebase.json
[code]

[2019-08-19 10:01] lookfirst commented on #1606
One line fix on OSX:

`sed -i '' 's/stopPort: port/stopPort: port+1/' node_modules/firebase-tools/lib/emulator/controller.js`

[2019-08-19 10:17] lookfirst commented on #1605
One line fix on OSX:

`sed -i '' 's/stopPort: port/stopPort: port+1/' node_modules/firebase-tools/lib/emulator/controller.js`

[2019-08-19 13:21] Hacksore commented on #1606
Combining both @micksatana and @lookfirst ideas together into the true one liner.

`sed -i '' 's/stopPort: port/stopPort: port+1/' `npm root -g`/firebase-tools/lib/emulator/controller.js`

YMMV.

[2019-08-19 14:16] lookfirst commented on #1606
@Hacksore Only if you've installed firebase-tools globally, which is something I personally try to avoid with npm packages. I'd rather go with any alias in my .bashrc file:

`export PATH="${PATH}:./node_modules/.bin"`

Or just always use `npm run firebase` which adds `node_modules/.bin` to your path.

The reason I avoid this is because this allows me to have different versions of dependencies in e

[2019-08-19 15:53] #1583 closed

[2019-08-19 16:52] davidcallanan opened #1607 "Add warning to upgrade to `firebase-tools` in `firebase-cli`"
This is not really a feature request or a bug report.

I accidentally installed the old `firebase-cli` instead of `firebase-tools` from node package manager (npm).

When running `firebase` command I was asked to enter google login credentials into the terminal window (which seemed odd) and was then prompted that my version was outdated and that I need to upgrade to atleast v2 by running `npm i --u

[2019-08-19 17:49] bendoran commented on #1604
We're experiencing this issue also.

[2019-08-19 19:24] ryanpbrewster commented on #1547
The red color is intended behavior. We've seen feature requests for more sophisticated color schemes.

Every application will have different requirements for "healthy" expression coverage, but I feel like a reasonable default is: `green` if every subexpression has been evaluated, else `red`. Then a totally green coverage report at least means every rule has been touched (even if it's only in the m

[2019-08-19 19:25] ryanpbrewster commented on #1547
FWIW the `.inspect/coverage.json` endpoint has been fixed in the v4.2.0 release. Let us know if you encounter any more issues there. I'll keep this issue open to track the color change.

[2019-08-19 20:09] nafroman opened #1609 "Firebase deploy HTTP 500 error internal error encountered"
CLI Version: 7.2.3
Platform: win32
Node Version: v8.11.4

Error when updating website

[code]

[2019-08-19 20:11] tufac2 commented on #865
Same error! I have tried with several versions of firebase-tools and same problem.

I tried `firebase deploy --only functions` and it worked

[2019-08-19 20:17] bkendall commented on #1609
This falls solidly into "what's up, Hosting?" territory. There are two different errors here, for what it's worth - both deploy commands failing at different spots.

[2019-08-19 20:33] yuchenshi commented on #1606
Thanks everyone for the discussion. As we've noticed, this is caused by a breaking change in portfinder and now fixed by https://www.npmjs.com/package/portfinder/v/1.0.23 . If you're interested in how and why this broke us, see https://github.com/http-party/node-portfinder/issues/89

A clean install / update like `npm install -g firebase-tools` should fix the issue.

[2019-08-19 20:33] #1606 closed

[2019-08-19 20:34] benatkin commented on #865
It hasn't been working for me for the last 20 minutes or so.

[2019-08-19 20:35] Nemutagk commented on #1609
I have a similar problem, if not the same, we try to deploy the project from BitBucket to Firebase through the Pipeline and this is what the console throws:

`+ firebase deploy --token=$FIREBASE_TOKEN --non-interactive --debug
[2019-08-19T20:24:17.438Z] ----------------------------------------------------------------------
[2019-08-19T20:24:17.440Z] Command:       /usr/local/bin/node /usr/local/bi

[2019-08-19 20:39] rohitsuratekar commented on #865
I am facing same problem now, even when their website says service is normal.

[2019-08-19 20:42] bkendall commented on #1609
We're aware of these issues occurring and the team is actively working on it. Sorry for the inconvenience, but hang on with us while we work this out...

[2019-08-19 20:42] Nemutagk commented on #1609
I have a similar problem, if not the same, we try to deploy the project from BitBucket to Firebase through the Pipeline and this is what the console throws:

[code]

[2019-08-19 20:47] bkendall commented on #865
Thanks for the reports folks. There's a newer issue that's tied to the `500` errors today that I'd like to keep this activity on, so if you're having issues to day (August 19, 2019 - huh, almost exactly a year later for this bug), go to #1609.

We're aware and we're working on it. Sorry for the inconvenience 😕. Stay tuned to #1609 for more updates.

[2019-08-19 20:51] benatkin commented on #865
I'm annoyed that the status page doesn't acknowledge the issue. Don't care about the reply here. Update the status page first.

Compounding the issue for me, I deleted my staging site and it wouldn't let me create a new one with the same name, even in the same project, so now I have to tell everyone to use the new URL.

[2019-08-19 20:58] benatkin commented on #1609
The status page hasn't been updated. I hope this doesn't get counted as uptime, because everything that's already deployed is apparently still available. It's essential to be able to deploy in such a project as firebase hosting, which is supposed to have quick deploys. The deploys are pretty quick when it's working, but now it's not working for me. :(

[2019-08-19 21:32] benatkin commented on #1609
There appears to be some progress. I've now been able to deploy to each site! It works about a quarter of the time now, whereas before it was failing ever time I tried it for about 15 minutes, trying it about once a minute on average. So it seems like this will probably be fixed soon.

[2019-08-19 21:43] Memeriaj commented on #1609
[Status page has been updated](https://status.firebase.google.com/incident/Hosting/19012) (though obviously not nearly as helpful it it had already been there to begin with).

Did you sign-in to the CLI recently?  Or maybe need to re-authenticate?
Do you happen to be in Europe or on the US East coast?

Trying to narrow down some of our possibilities.

[2019-08-19 21:55] FelixDQ commented on #1609
I've also had the same issue. I'm in Europe deploying functions and hosting.  Re-authenticating didn't seem to have an effect.

There doesn't seem to be any consistency as to which step of the process fails. Sometimes it failed almost immediately, and sometimes it failed at the end of the deployment. If I keep trying it will eventually get deployed without failing.

[2019-08-19 22:06] gtgalone commented on #1609
I have same issue. Can I use firebase functions in production?
I am developing a new service with firebase functions and hosting for my company.
I am very curious.

[2019-08-19 22:26] Memeriaj commented on #1609
Are things working now?  East Coast and Europe might be marginally slower, but we think we have likely found the problem.

[2019-08-19 22:45] piscis commented on #1605
this is fixed in `firebase-tools@7.2.3`

[2019-08-19 22:58] bkendall commented on #1600
This is something that you'll need to reach out to [Firebase support](https://firebase.google.com/support) to have them help you out. Sorry I can't give you any better answer...

[2019-08-19 22:58] #1600 closed

[2019-08-20 00:24] Memeriaj commented on #1609
Things should be working again.  Essentially one of the Hosting dependencies was returning errors about half the time in a particular region, which is why this was really only effecting people on the East Coast and in Europe.

[2019-08-20 00:24] #1609 closed

[2019-08-20 00:26] benatkin commented on #1609
Yay! Thanks. I'm in Miami which is on the east coast. So that's probably why.

[2019-08-20 00:52] yuchenshi commented on #1606
We've also updated the dependency in v7.2.4 so if you install `npm install -g "firebase-tools>=7.2.4"` then it's guaranteed to be fixed, bypassing npm local cache, etc.

[2019-08-20 03:28] lookfirst commented on #1606
@yuchenshi

I wasted a couple hours trying to figure out what the problem was.

How about pinning ALL (instead of the current 'some') of the versions in [package.json](https://github.com/firebase/firebase-tools/blob/master/package.json#L95) so that future versions don't screw things up?

Additionally, you should consider handling the error more gracefully (ie: a better error message and stack trac

[2019-08-20 04:36] #1605 closed

[2019-08-20 05:26] Suraj-Ram commented on #1606
I found that updating the global ```firebase-tools``` package to the latest version (7.2.4) fixed the issue for me

[2019-08-20 12:04] gilcreque commented on #1605
@piscis I just installed firebase-tools@7.2.3 yesterday and this error still occurred. I ran the one line fix above and the emulator started up.

[2019-08-20 12:44] 25huizengek1 opened #1611 "Install new version of firebase-tools will corrupt firebase-admin"
I saw a message that firebase-tools could be upgraded, so I did the following: `npm i -g firebase-tools@7.2.4`. But when i initialized a new project, Firebase asked me to install all of the npm dependencies, but that didn't work.

Logs:
[code]
Sorry, but C:\Users\Gebruiker\AppData\Roaming\npm-cache\_logs\2019-08-20T12_21_57_235Z-debug.log is lost on my PC. (I actually don't know why, but it doesn'

[2019-08-20 14:26] piscis commented on #1605
@gilcreque maybe you could give `firebase-tools@7.2.4` also have a look at #1606 this is where the issue is tracked.

[2019-08-20 15:16] bkendall commented on #1611
Please follow the issue template. There's not enough information here to debug this, though it looks like `npm` failed in some way. If you can provide a case to reproduce this, please follow up, otherwise there's not much we can do.

[2019-08-20 15:40] 25huizengek1 commented on #1611
I fixed it by myself now. It was the npm cache. I'll follow up the template next time. I did `npm cache clean --force` and it was fixed.

[2019-08-20 15:40] #1611 closed

[2019-08-20 18:58] jameskeiger opened #1613 "Local cloudfunctions cannot read from Firestore"
### Related issues

Related to firebase/firebase-functions#536
Differences:
- This happens every time.
- It just started happening today. I upgraded firebase-tools to 7.2.4. I have since downgraded to 7.2.2 and then back again with no effect.
- I also loaded the latest emulator. I believe it was 1.8.0; however since then `firebase setup:emulators:firestore` downloads 1.6.2.
- I cannot downgrade fi

[2019-08-20 20:25] eriktrom commented on #1606
bug is fixed via a revert to portfinder (yesterday) - `yarn upgrade portfinder -L` or npm equiv, fyi

[2019-08-20 21:12] somervda commented on #683
Just a note that I ran into the same problem for the same reason (referencing models from my main app). It is really tough to diagnose because deploy still says it is working and it is not obvious this is caused by a code change in the functions. BTW: I decided to create a local copy of the main app models rather than use the new lib structure, I'll see if I regret it :) .

[2019-08-21 00:57] PatNeedham commented on #1500
Same exact issue on my end, but with `us-east4` instead of `europe-west1`. Posted on the firebase slack and reached out to the support team, still no resolution. @mbleigh is there any command line argument to include with `firebase deploy --only functions` to give verbose output that could include some sort of deployment attempt ID, which could then be passed on to the right folks to check interna

[2019-08-21 01:49] jkeys089 commented on #1001
Is it possible to use this experimental browser support with an authenticated user? For example, the firebase/testing module for node exposes an `initializeTestApp` function which accepts an `auth` argument for specifying a mocked user (see https://firebase.google.com/docs/firestore/security/test-rules-emulator#run_local_tests). It would be great if we could do something similar in the browser to

[2019-08-21 01:53] jameskeiger commented on #1613
Solution:
```unset FIRESTORE_EMULATOR_HOST```

Which is embarrassing because I set that variable. I figured this out by debugging deep into the code and noticing that the http2 session was attempting to connect to `localhost:8080`. This was  because I had set `FIRESTORE_EMULATOR_HOST` while trying to work on something else and neglected to unset it. Leaving this comment for posterity.

[2019-08-21 01:53] #1613 closed

[2019-08-21 05:36] albi1995 commented on #314
[debug] [2019-08-21T05:31:33.347Z] ----------------------------------------------------------------------
[debug] [2019-08-21T05:31:33.388Z] Command:       /usr/local/bin/node /usr/local/bin/firebase init
[debug] [2019-08-21T05:31:33.388Z] CLI Version:   7.2.4
[debug] [2019-08-21T05:31:33.388Z] Platform:      darwin
[debug] [2019-08-21T05:31:33.388Z] Node Version:  v10.16.2
[debug] [2019-08-21T05:

[2019-08-21 06:20] Thkasis commented on #1469
rolled back to npm 6.9.2 and it's working. Firebase -V is also 6.8.0

[2019-08-21 06:40] ryanpbrewster commented on #1001
Yes, it should be possible.

a) You can use any normal authentication systems you'd like. I've successfully used anonymous auth and Facebook auth.

b) It's not particularly pleasant, but you can directly mock out the auth in the same way that we use in `@firebase/testing`? We will work on improving this. As a proof of concept, you can try
[code]
where the helper method `createUnsecuredJwt` looks l

[2019-08-21 14:56] FCE-tc commented on #865
I am getting the same error when using 'firebase deploy'

`[info] +  database: rules syntax for database <my project name> is valid
[debug] [2019-08-21T14:52:22.716Z] >>> HTTP REQUEST POST https://firebasehosting.googleapis.com/v1beta1/sites/<my project name>/versions

[debug] [2019-08-21T14:52:23.713Z] <<< HTTP RESPONSE 500
[debug] [2019-08-21T14:52:23.714Z] <<< HTTP RESPONSE BODY
[error]
[error]

[2019-08-21 14:58] franxois commented on #1609
Hi,

status page is ok since 30 minutes but I still have 500 error when deploying from France

[2019-08-21 15:02] piavgh commented on #865
Same here

[2019-08-21 15:02] aduranil commented on #1609
I still have an issue with this as of 1 min ago

[code]

[2019-08-21 15:10] SABRYX commented on #1609
Error: HTTP Error: 500, Internal error encountered. FROM Egypt !!!!

[2019-08-21 15:11] tlkiong commented on #1609
Same but from Malaysia

[2019-08-21 15:13] DarzeHub commented on #865
Same here. HTTP Error: 500

[2019-08-21 15:16] Adam-Mould commented on #1609
Seems to be the same issue as 2 days ago. Functions can be deployed, but hosting cannot. UK based here.

[2019-08-21 15:18] marcelolima commented on #1609
Same in Berlin

[2019-08-21 15:20] tad-iizuka commented on #1609
Tokyo too...

[2019-08-21 15:24] esantiagovieira commented on #1609
Add Brazil to the loop as well, but it started today, as I am pretty sure I ran a deploy yesterday afternoon (GMT-3)

[2019-08-21 15:25] davej commented on #865
Looks like there's a bunch of us getting a 500 in the last 30 minutes. Looks like Firebase is having an issue.

[2019-08-21 15:28] murat0 opened #1616 "Firebase deploy fails with "Error: HTTP Error: 500, Internal error encountered.""
### [REQUIRED] Environment info

**firebase-tools:** 7.0.0

**Platform:** macOS

### [REQUIRED] Test case

Deploying using `firebase deploy` produces the following error.

### [REQUIRED] Steps to reproduce

Run `firebase deploy`

### [REQUIRED] Expected behavior
To deploy successfully

### [REQUIRED] Actual behavior

[2019-08-21T15:26:37.637Z] ------------------------------------------------------

[2019-08-21 15:30] bongartzc commented on #865
Yes I am also getting a 500 error.

[2019-08-21 15:32] davej commented on #865
Also see #1609

[2019-08-21 15:38] luanch commented on #1609
It started by 12:00 PM here in Brazil too.

[2019-08-21 15:41] carvalhoMoreira commented on #865
Brazil is off too. Getting error HTTP 500: Internal error on deploying to firebase hosting. It started by 12:00 PM

[2019-08-21 15:41] marknelissen commented on #1609
3 hours ago it was working, now it is down, for deployment to Europe-West1.

[2019-08-21 15:42] carvalhoMoreira commented on #1609
Brazil is off too. Getting error HTTP 500: Internal error on deploying to firebase hosting. It started by 12:00 PM

[2019-08-21 15:44] thandaanda commented on #1609
India too...

[2019-08-21 15:45] poleselfg commented on #865
Same here

[2019-08-21 15:47] junaidte14 commented on #865
I was getting the same error 5 minutes ago but it's working fine.

[2019-08-21 15:48] poleselfg commented on #865
let me try

[2019-08-21 15:49] maxnatchanon commented on #865
Still getting 500 error here (asia-east2).

[2019-08-21 15:50] junaidte14 commented on #865
I have tested again and now I'm getting the same error. What's going on.....

[2019-08-21 15:50] poleselfg commented on #865
nope same here in argentina

[2019-08-21 15:50] abraj commented on #1616
I am also facing this issue currently.
But, Firebase status page (https://status.firebase.google.com/)
says the status of all services as normal.

[2019-08-21 15:52] Ahmad-G-Mustafa commented on #1609
Same in Egypt

[2019-08-21 15:55] magnetronus commented on #865
Yes I am also getting a 500 error.

[2019-08-21 15:56] el-yomi commented on #865
same here in Japan

[2019-08-21 15:57] el-yomi commented on #865
I'm still getting 500 error from Japan

[2019-08-21 15:57] aduranil commented on #1609
issue appears to be fixed now

[2019-08-21 15:58] junaidte14 commented on #865
now it's working for me again. I guess the development team is testing the issue by enabling/disabling access to deploy.

[2019-08-21 15:58] el-yomi commented on #865
Oh, thank you now it's working fine for me as well.

[2019-08-21 16:00] poleselfg commented on #865
WORKING FINE NOW!

[2019-08-21 16:00] twistedpair commented on #1616
Experiencing the same problem with deployments on firebase-tools `v7.2.4`

[2019-08-21 16:56] twistedpair commented on #1616
FYI, I found the rolling back to `v7.2.2` was able to deploy for me. However, it is possible that Firebase has simply fixed whatever was throwing 500s internally.

[2019-08-21 17:19] nasro13 commented on #1599
Hello i have the same exact error as you and i didn't find solution please help us

[2019-08-21 20:20] nasro13 commented on #1430
i have the exact same error please help us :(

[2019-08-21 21:32] nasro13 commented on #1599
i fixed it here is whats i did : i added this to my variable path >>> C:\Program Files;C:\Winnt;C:\Winnt\System32;C:\Windows\System32

[2019-08-21 21:32] nasro13 commented on #1430
i fixed it here is whats i did : i added this to my variable path >>> C:\Program Files;C:\Winnt;C:\Winnt\System32;C:\Windows\System32

[2019-08-21 22:27] Memeriaj commented on #1616
Yes, it was just that there was [a problem on the server side](https://status.firebase.google.com/incident/Hosting/19013) that was causing the internal errors and that got resolved.  There are some details on the incident, but basically depending on where you were trying to deploy from you had a greater chance of it failing (but there was still a chance of failing worldwide).

That particular issu

[2019-08-21 22:27] #1616 closed

[2019-08-21 22:29] Memeriaj commented on #1609
Yeah, it was basically the same thing that had happened on Monday, [this issue](https://github.com/firebase/firebase-tools/issues/1616#issuecomment-523673735) has a little bit more detail and the [incident itself](https://status.firebase.google.com/incident/Hosting/19013) has slightly more.

[2019-08-21 23:56] Memeriaj commented on #1604
This should be fixed now.  But please let us know if you're still running into it (and ideally the URL that it is happening on).

[2019-08-21 23:56] #1604 closed

[2019-08-22 02:18] bkendall commented on #1607
Pretty much the first thing I see when I do `npm i firebase-cli` is a warning that it's deprecated. It's unlikely that we'd do much more than that in the near future.

[code]

[2019-08-22 02:18] #1607 closed

[2019-08-22 02:20] FCE-tc commented on #865
Can confirm working again. Thanks for the fix.

[2019-08-22 02:42] bkendall commented on #1595
I am able to get the same initial behavior that you do. What is the build process for getting `web/main.dart` to produce a `web/main.dart.js` file? It seems like there's a build step missing somewhere...

[2019-08-22 02:43] bkendall commented on #1598
Thank you for the wonderful feature request!

This request is better suited to go through our support channel, through the [feature request](https://firebase.google.com/support/troubleshooter/report/features/) form. Thanks!

[2019-08-22 02:43] #1598 closed

[2019-08-22 12:40] TherapyBox opened #1617 "firebase auth:import do not use the right password"
`firebase auth:import` appear to be broken?

With MD5:

[code]
[code]

This works fine.

But, with SHA1, SHA256, etc.:

[code]
[code]

this don't allow me to login with the password that I choosed. The account is created, but I cannot login. On login I get error is:

[code]

The plain password for those tests of mine is: `tester5`. I tried with both the latest version of firebase-tools ( 7.2.4 ),

[2019-08-22 16:13] davidcallanan commented on #1607
@bkendall Ah, I didn't realize that this warning appeared when installing. However running `npx firebase` a different warning is shown stating that I must upgrade to firebase-cli v2.0.0 or later. Maybe this warning can also be updated? Also, running `npx firebase` without installing firebase-tools will automatically install firebase-cli,,, maybe this can be changed too although I would guess this

[2019-08-22 16:23] hpoit commented on #1595
Hi Bryan, how do I provide you with that info? I've been asked that same question before, to which I didn't know how to answer. Also, I've re-formatted my macOS, so I'll reproduce it again based on the instructions above.

[2019-08-22 16:30] bkendall commented on #1595
Browsers are not able to interpret the dart file; it must be compiled to javascript so that the browser can understand it. According to the readme of the repo, using `webdev serve` probably does that build process under the hood. There's some "build" step missing for that `main.dart` file, but that is beyond the scope of my knowledge. I'd look for some assistance in the Angular community, or somet

[2019-08-22 16:30] #1595 closed

[2019-08-22 16:48] bkendall commented on #1607
Interesting - `npx firebase` does not work as expected, but `npx --package firebase-tools firebase` does. We recommend installing `firebase-tools` globally rather than using `npx`, which might explain why we really haven't seen this before. But, this sounds like some logic in `npx` would have to be dug into to figure out why it makes the choices it does, but that's not going to be straight forward

[2019-08-22 18:03] abeisgoat commented on #1596
This seems like expected behavior, in order for the CLI to recognize the auth it needs to redirect to `localhost` as long as you're able to use `--no-localhost` then this seems all correct to me!

[2019-08-22 18:05] lukepighetti commented on #1598
@bkendall I originally make this issue so I had something to close against if I was going to add golang support to firebase tooling. Is there appetite for a PR to resolve this issue?

[2019-08-22 18:10] mbleigh commented on #1598
To properly support Go (which I love working with, fwiw) for Cloud Functions for Firebase, it would require creating and maintaining an equivalent SDK to the `firebase-functions` Node.js SDK, including means of parsing triggers from code, defining exports, etc.

While generally "PRs welcome" is the case, the amount of design, code, and maintenance involved in providing first class Go support makes

[2019-08-22 18:43] dinvlad commented on #1141
Are there any updates on when this feature will be available in the Firebase SDK?

[2019-08-23 00:07] leron8 commented on #1059
Updating firebase tools did the trick for me:

`npm install -g firebase-tools`

[2019-08-23 07:37] arifpetok commented on #896
![image](https://user-images.githubusercontent.com/39609916/63575094-71c40380-c5b3-11e9-9b7f-344ce38777ed.png)

I have the same error but I cannot fix it.

[2019-08-23 07:38] arifpetok commented on #896
![image](https://user-images.githubusercontent.com/39609916/63575171-a0da7500-c5b3-11e9-8b83-9163ef0bbd74.png)

I have the same error but I cannot fix it.

[2019-08-23 07:56] arifpetok commented on #1442
![image](https://user-images.githubusercontent.com/39609916/63576316-16474500-c5b6-11e9-8fea-a401e4362df8.png)

I have the same error but I cannot paste authorixation code?

[2019-08-23 08:10] arifpetok commented on #1442
finally thanks you guys

[2019-08-23 08:22] iwikal commented on #1596
Sure, I definitely understand why it happens, but the message needs to be
fixed. It says "from any device".

On Thu, 22 Aug 2019, 20:04 Abe Haskins, <notifications@github.com> wrote:

[2019-08-23 14:54] sagarvd01 opened #1619 "Firebase login error. Cannot import 'bl'. (bl doesn't export anything)"
### [REQUIRED] Environment info

7.2.4
![2019-08-23](https://user-images.githubusercontent.com/15938422/63601112-781da400-c5e2-11e9-8eac-eea2ac2c4e72.png)

**firebase-tools:** Error

**Platform:** Windows

### [REQUIRED] Test case

I formatted and reinstalled windows 10 recently and today I installed firebase-tools by running `npm install -g firebase-tools` but none of the firebase commands workin

[2019-08-23 15:00] mcollinar commented on #1599
Yes...we need to change the Variable system.... thank you...

[2019-08-23 15:00] #1599 closed

[2019-08-23 15:02] sagarvd01 commented on #1619
This looks like an issue with `bl@3.0.0`. Downgrading `bl` fixed it

I installed `bl@2.2.0` and it looks like issue is resolved.

![2019-08-23 (4)](https://user-images.githubusercontent.com/15938422/63602350-dba8d100-c5e4-11e9-943e-e379700a45b4.png)

And now `bl` directory contains this
![2019-08-23 (5)](https://user-images.githubusercontent.com/15938422/63602371-e6636600-c5e4-11e9-8279-a9149c0aca

[2019-08-23 15:07] sagarvd01 commented on #1619
I opened an issue in [`bl's` repository](https://github.com/rvagg/bl/issues/69). Closing this as this is not an issue with `firebase-tools`

[2019-08-23 15:07] #1619 closed

[2019-08-23 15:16] bkendall commented on #1596
Fix in the above PR. Thanks for the feedback.

[2019-08-23 20:25] matthewmazzuca opened #1623 "Firebase deploy fails with "Error: HTTP Error: 500, Internal error encountered.""
### [REQUIRED] Environment info

**firebase-tools:** 7.2.4

**Platform:** macOS

### [REQUIRED] Test case

Deploying using firebase deploy produces the following error.

### [REQUIRED] Steps to reproduce

`firebase deploy `
or
`firebase deploy --only hosting`

### [REQUIRED] Expected behavior

To deploy successfully

### [REQUIRED] Actual behavior

...
[2019-08-23T19:16:03.224Z] <<< HTTP RESPONSE

[2019-08-26 08:36] lookfirst opened #1624 "[Firestore] emulator is falling over with transactions"
Apologies if this is the wrong issue tracker. I'm using the Admin Node SDK to run tests against the firestore emulator.

### [REQUIRED] Step 2: Describe your environment

  * Operating System version: OSX 10.14.6
  * Firebase SDK version:  7.2.4
  * Firebase Product: Firestore
  * Node.js version: 12.8.1
  * NPM version: 6.10.3
  * cloud-firestore-emulator-v1.8.0.jar
  * openjdk version "12.0.2" 2

[2019-08-26 09:31] lejard-h commented on #1623
Duplicate https://github.com/firebase/firebase-tools/issues/1609

[2019-08-26 09:32] lejard-h commented on #1609
Still having the issue in France :/

[2019-08-26 16:00] lejard-h commented on #1609
It started friday (Aug 23)
and yes it is every time I am trying to deploy `firebase deploy --only hosting`

with the following response
[code]

[2019-08-26 17:01] merlinnot commented on #1624
Here’s an issue with transactions which is 100% reproducible: https://github.com/firebase/quickstart-nodejs/issues/93

I’m not sure if anyone saw it in the other repo and it might be related, so linking here.

[2019-08-26 23:32] lookfirst commented on #1624
@ryanpbrewster Thanks for your fast work on this. Sadly, still seems to be an issue. It does feel like it is failing faster now and at the same spot.

I'm definitely doing a bunch of reads right before and within the transaction. Then a few writes and one more read at the end to return the mutated entity.

The code is working on one transaction object, but doing a bunch of operations within that o

[2019-08-26 23:52] lookfirst commented on #1624
Apologies, this is extremely spaghetti code (which is why I'm trying to rewrite it with tests, heh), but it shows the failures.

If you comment out this line:

`promises.push(this.oneToMany(transaction, logs, key, clonedData, uid));`

It seems to always pass. Note that this is an improvement of failure on the previous code.

QueryBuilderMinimal.ts:

[code]

Test.spec.ts:

[code]

[2019-08-27 00:55] lookfirst commented on #1624
Sorry, I know it is a bit of a mess. Maybe this explanation will help a little...

The idea is that I basically turn that `data` object in the test, into refs like in a relational db (yea, yea, I know what firestore is heh, but I need relational data here).

There is implied logic based on the structure of data. `psu` is a oneToOne since it is an object with an `id` field and `gpus` is a oneToMany

[2019-08-27 06:46] woutertinbergen commented on #1609
same issue here; been there for serveral days now...
**a POST to "Versions" gives the internal 500.**

[debug] [2019-08-27T06:39:40.156Z] >>> HTTP REQUEST POST https://firebasehosting.googleapis.com/v1beta1/sites/PROJECTKEY/versions

[debug] [2019-08-27T06:39:41.584Z] <<< HTTP RESPONSE 500
[debug] [2019-08-27T06:39:41.584Z] <<< HTTP RESPONSE BODY

[2019-08-27 06:50] woutertinbergen commented on #1616
it's still there...

[2019-08-27 08:59] Mada75 opened #1627 "npm i -g firebase-tools leads to ...firebase.ps1 cannot be loaded because running scripts is disabled on this system"
I've come across the following error today after updating firebase-tools.
I use Visual Studio Code and after the latest firebase update I'm not able to run any firebase scripts in the PowerShell terminal.
I can run them in cmd and I can run other scripts still in PowerShell, eg npm and Netlify hosting.
I was using firebase in one project after deploying earlier today, got the prompt to update fire

[2019-08-27 14:50] srilu8213 commented on #896
I am also facing the same issue like above
After Paster authorization code here:
Error: An unexpected error has occured.
There is no chance to paste the code ...Please do the neeful

[2019-08-27 16:36] merlinnot opened #1628 "Firestore emulator: non-transactional behavior of transactions"
@ryanpbrewster

When performing concurrent transactions it is possible to create a document multiple times. This should not be possible.

**Reproduction:**

_Relevant code:_

[code]

_Full reproduction:_

Download and unzip [reproduction.zip](https://github.com/firebase/firebase-tools/files/3547203/reproduction.zip).

Run:

[code]

It might be needed to run it multiple times, but I'd say the issue

[2019-08-27 16:44] merlinnot opened #1629 "Firestore emulator: very long execution of non-retried transactions"
@ryanpbrewster

Transactions take a very long time to commit, making tests very slow or to time out.

**Reproduction:**

_Relevant code:_

[code]

Note the `{ maxAttempts: 1 }` option.

_Full reproduction:_

Download and unzip [reproduction.zip](https://github.com/firebase/firebase-tools/files/3547236/reproduction.zip).

Run:

[code]

Sample result:

[code]

[2019-08-27 16:45] merlinnot commented on #1624
@lookfirst Might [this](https://github.com/firebase/firebase-tools/issues/1628) be the issue you are experiencing?

[2019-08-27 20:36] merlinnot commented on #1629
Currently I have a workaround in place that uses batch operations to mimic behavior of transactions by sequentializing these lines:

[code]

It works perfectly well for 2,5k tests in our codebase. Recently a support for queries in transactions was added to the emulator, naturally I wanted to get rid of this workaround and use built-in support. First attempt resulted in ~45-60 tests failing for a n

[2019-08-27 21:15] merlinnot commented on #1629
Oh, good to know. That explains a lot.

In this case, definitely low priority.

[2019-08-28 01:47] lookfirst commented on #1624
@merlinnot Wow, great repro, thanks for that!

It felt like it was better... seemed to run faster... but then I reran the same test about 5 times and then this came up... I can also say that it felt like it started to take longer and longer to finish running the test each time I ran it. Maybe there is some contention in the JVM?

@merlinnot Can you take my code above and repro?

[code]

[2019-08-28 01:49] lookfirst commented on #1624
Oh sorry, I just tried to test against master and I see that @ryanpbrewster's PR isn't in yet. Whoops.

[2019-08-28 01:57] lookfirst commented on #1624
Sadly, nope.

First time ran fine, second time got the log below.

@merlinnot Can you repro my code above?

[code]

[code]

[2019-08-28 02:28] arifpetok commented on #896
change your PATH variable
append C:\Windows\System32 to the end of your PATH variable
If you don't know how to do that, see this article:
https://www.computerhope.com/issues/ch000549.htm

[2019-08-28 04:01] aislingorg opened #1631 "npm install -g firebase-tools not working"
`

C:\Users\zubair\AppData\Roaming\npm\firebase -> C:\Users\zubair\AppData\Roaming\npm\node_modules\firebase-tools\lib\bin\firebase.js                                                              npm WARN optional SKIPPING OPTIONAL DEPENDENCY: fsevents@2.0.7 (node_modules\firebase-tools\node_modules\fsevents):                                                                              npm WARN no

[2019-08-28 07:13] woutertinbergen commented on #1609
+1, I did not disable it either..
Thanks for pointing it out @Memeriaj

[2019-08-28 12:24] merlinnot commented on #1624
@lookfirst I can reproduce it in my repository too on a number of test, but it's hard to extract it... Can't come up with an easy reproduction.

@ryanpbrewster Here's what I see in emulator logs:
[code]

I'm running transactions is series.

Is there any way to enable more verbose logging in the emulator (I know it's possible in the SDK)?

[2019-08-28 13:15] emmekappa commented on #1363
Having the same issue with the dotnet sdk: https://github.com/googleapis/google-cloud-dotnet/issues/3397

[2019-08-28 13:23] jkeys089 opened #1632 "Firestore emulator WebChannel auth not honored"
### Environment info

**firebase-tools:** 7.30

**Platform:** macOS 10.14.6

### Test case

My goal is to get authenticated firestore emulator requests working locally in a browser. The specific use case is for local testing. To test this case I've cloned the [firebase/quickstart-nodejs](https://github.com/firebase/quickstart-nodejs) repo and added a simple mock auth token to the `firestore-emulat

[2019-08-28 13:55] srilu8213 commented on #896
@arifpetok  thanks for your suggestion...its working now...

[2019-08-28 19:04] #1632 closed, assigned to nobody

[2019-08-28 19:26] mpalmerlee opened #1633 "firebase functions:shell hangs and does not load functions in large project since v7.1.1"
### [REQUIRED] Environment info

**firebase-tools:**
7.3.0

**Platform:**
macOS

### [REQUIRED] Test case

I tried to create a minimal verifiable example, using the single helloWorld function provided in the `firebase init` code, however this didn't exhibit the behavior I'm seeing with my production project.

### [REQUIRED] Steps to reproduce

`npm -g remove firebase-tools`
`npm install -g firebas

[2019-08-28 21:47] dgobaud commented on #1353
@samtstern any update on this please?

[2019-08-28 22:06] Hulkerman commented on #515
Had this issue with a @types/... module.
Workaround: add the non-typed module to package.json

my package.json
[code]

[2019-08-28 22:15] jwv commented on #1627
I have the same error.
Temp solution:
`Set-ExecutionPolicy -ExecutionPolicy Bypass -Scope CurrentUser`

[2019-08-28 22:50] lvhellgren commented on #1469
The fix for me was to install node/10.16.3. Also now using firebase 7.0.2.

[2019-08-28 23:08] mbleigh commented on #1592
The solutions described in #155 cover pretty much all of the known supported proxy workarounds. One option might be to download a service account key for your project and use `GOOGLE_APPLICATION_CREDENTIALS` as described [here](https://cloud.google.com/docs/authentication/getting-started#setting_the_environment_variable). The Firebase CLI will automatically pick up those credentials and use them.

[2019-08-28 23:08] #1592 closed

[2019-08-28 23:08] mbleigh commented on #1633
@abeisgoat can you take a look at this?

[2019-08-28 23:32] samtstern commented on #1353
@dgobaud nothing new to share.  Right now we are focused on getting some use-cases feature complete, namely getting full SDK and emulator support for all RTDB/Firestore + Functions use cases.  Then once we are feature complete and stable there we will work on re-architecting the functions runtime to have better support for hot reloads and debugging.

[2019-08-28 23:44] #1596 closed

[2019-08-28 23:58] ryanpbrewster commented on #1624
@lookfirst I was able to get your code running. When I run the test it occasionally (~30% of the time) hangs.

One issue uncovered by your code: the emulator does not correctly linearize concurrent actions from the same transaction (that is, a single transaction making multiple requests simultaneously). This is legal in production but we neglected to account for it. The intended behavior here is t