[2020-12-01 23:10] crwilcox commented on #2870
Could you mention WSL in the title of the issue? We have seen a number of issues specifically with WSL.

I think https://github.com/firebase/firebase-tools-ui/issues/332 captures most of it. Can you compare your configuration with the config at the end of the issue?

[2020-12-01 23:33] samtstern commented on #2847
@johanbuys does removing the `region` change anything?

[2020-12-02 02:37] NMVW commented on #2847
Confirming that in my environment I am also relying on FirebaseUI for auth flows

[2020-12-02 04:53] johanbuys commented on #2847
I have changed region and no effect. I too have been using firebaseUI.

However I am adding users from the emulator frontend now, would this not trigger the function? (The docs state that creating a user from the Firebase console will trigger the function, not sure if this behaviour is emulated.)

[2020-12-02 04:57] jonadeline commented on #2847
fyi I am **not** using firebaseUI

[2020-12-02 06:03] noahbjohnson commented on #688
Seems like this is catching all generic 4xx errors from googleapis.com. In my case I was hitting a captcha page somehow.

[2020-12-02 09:07] chrisjacobs91 commented on #2878
@samtstern I went away but left the emulator running and came back about 3 hours later and it was working fine.

This morning I've restarted the emulator and I'm getting the original issue again. So it seems like there is some sort of delay between me creating an auth user and the Admin SDK being able to detect it.

I presume this didn't happen to you?

[2020-12-02 09:25] chrisjacobs91 commented on #2878
@samtstern I quit the emulator and restarted and this time everything is working straight away...I didn't change anything - but happy with the result...!

Will close this and hope for the best!

[2020-12-02 09:25] #2878 closed

[2020-12-02 10:17] yuri-sergiichuk commented on #2870
@crwilcox thx for taking a look at the issue.

I'm not sure it's a WSL issue because I do not run the emulator in the WSL. I use a docker image with the emulator and just start the docker image from Windows PC.

I've just explicitly disabled WSL support on my laptop and reproduced the issue once again.

I'm using the following `firebase.json` configuration inside the container:
[code]

I believe t

[2020-12-02 17:51] chrismwendt opened #2887 "photoUrl vs photoURL"
### [REQUIRED] Step 2: Describe your environment

  * Operating System version: macOS
  * Firebase SDK version: CLI 8.16.2, firebase-admin 9.4.1
  * Firebase Product: auth
  * Node.js version: 12
  * NPM version: 6

### [REQUIRED] Step 3: Describe the problem

The type definition says `photoURL`:

https://github.com/firebase/firebase-admin-node/blob/a98a3cc275f9fee0474ff1905d2217a600d5f57e/src/aut

[2020-12-02 21:35] samtstern commented on #2847
@johanbuys @jonadeline yes if you add a user through the Emulator UI and don't see your functions triggered that's a bug, and that's probably the easiest place for us to focus going forward since it removes variables of how people use their web frontend (FirebaseUI, etc)

[2020-12-02 21:56] samtstern commented on #2878
Thanks for following up, let us know if this issue comes back.

[2020-12-03 00:45] dave-k opened #2889 "Cloud Functions emulator does not serve firebase-functions locally"
### [REQUIRED] Environment info

**firebase-tools:** 8.16.2

**Platform:** macOS

### [REQUIRED] Test case

Start emulator

### [REQUIRED] Steps to reproduce
firebase emulators:start

http://localhost:5001/d-forms-ce059/us-central1/helloWorld
Hello from Firebase!

$ firebase functions:shell
Error: Port 5000 is not open on localhost, could not start functions emulator.

$ firebase functions:shell -

[2020-12-03 05:50] johanbuys commented on #2847
@samtstern yes that's the behaviour I am experiencing, create user from ui, function not firing. I have a debugger attached does not hit the bp.

[2020-12-03 08:44] yuri-sergiichuk commented on #2870
I did a check on my Linux machine and what is interesting is that the emulator itself behaves differently while running on Windows and on Linux.

On Windows, it (probably) downgraded my connection from web sockets to HTTP, and then a see the reported error behavior. While on Linux I do not see any HTTP connections to the emulator at all. It just works over the WS and works fine!

@crwilcox is ther

[2020-12-03 10:37] xalikoutis commented on #2212
I ll make a PR tomorrow with the upload feature

[2020-12-03 12:22] AppDeliverIO commented on #2295
fyi: We tried to deploy a express firebase functions app now twice, after enabling the Cloud Build API in the GCloud project, but we still see the HTTP Error: 403

[code]

[2020-12-03 13:52] koooge commented on #2869
Firebase Support response:

[code]

[2020-12-03 17:40] samtstern commented on #2869
@koooge sounds like it's filed with the right people, thank you for the feedback!

[2020-12-03 17:51] halim-boussada commented on #631
firebase deploy --only functions --debug
[2020-12-03T17:41:40.273Z] > command requires scopes: ["email","openid","https://www.googleapis.com/auth/cloudplatformprojects.readonly","https://www.googleapis.com/auth/firebase","https://www.googleapis.com/auth/cloud-platform"]
[2020-12-03T17:41:40.276Z] > authorizing via signed-in user
[2020-12-03T17:41:40.277Z] [iam] checking project ssss-847a8 for perm

[2020-12-03 18:15] yuchenshi commented on #2870
FYI: the RTDB JS SDK has a feature where it remembers that connection fails over WebSocket and will fallback to long polling on subsequent tries. It does that by storing a flag in `localStorage` which persists. Please try again on Windows with a different browser or incognito window and see if it helps. (I think `localStoage.clear()` may also do the trick, but I'm not 100% sure about this.)

[2020-12-03 18:27] gunasekharravilla opened #2891 "note getting function api link when we run firebase emulators:start"
### [REQUIRED] Environment info

**firebase-tools:**

**Platform:**

### [REQUIRED] Test case

### [REQUIRED] Steps to reproduce

### [REQUIRED] Expected behavior

### [REQUIRED] Actual behavior

[2020-12-03 18:28] samtstern commented on #2891
@gunasekharravilla please don't file empty issues. We can't help you if you don't provide the information we need.

[2020-12-03 18:28] #2891 closed

[2020-12-03 18:33] yuchenshi commented on #2887
Great catch! I looked a bit into this, and the functions payload should indeed be `photoURL` (caps) as you said. Feel free to open a PR to correct it in `src/emulator/auth/cloudFunctions.ts` -- bonus points for tests and a proper TypeScript interface (instead of `object[]` right now) too!

For background, the reason we had this bug is that the REST API uses `photoUrl` (snake case) while the functi

[2020-12-03 18:59] yuchenshi commented on #2652
FYI: the Emulator UI changes shipped in the latest CLI release (v8.17.0) -- so that you can query data with the new operators in the Firestore Viewer.

[2020-12-03 20:34] hiranya911 opened #2892 "False positive error while deploying functions"
**firebase-tools:** 8.16.2

**Platform:** macOS

I encountered the following error multiple times while trying to deploy some functions:

[code]

In each case the functions were deployed successfully.

[2020-12-03 20:59] samtstern commented on #2892
@hiranya911 if you can still get this to happen can you run `firebase --debug deploy --only functions` so we can see the detailed logs?

[2020-12-03 21:26] samtstern commented on #2889
@dave-k I'm sorry I don't quite understand the issue. Where do you see this URL?
[code]

[2020-12-03 21:31] samtstern commented on #2874
@cbdeveloper thanks for the feedback.  So just to make sure I understand this correctly, the change you'd like to see is for the Firebase CLI to print a warning when there is access to Firestore using a different project ID than the default?

[2020-12-03 22:04] galanctos opened #2893 "How download Firebase Hosting?"
In my account not have button download Hosting. I need download for edit the archive uploaded. Help!!! grateful

[2020-12-03 22:23] samtstern commented on #2893
@galanctos Firebase Hosting is *not* a version control system so you should not rely on being able to download files. However you can use this script to do it in an exceptional situation:
https://gist.github.com/mbleigh/9c8680cf319ace2f506f57380da66e7d

[2020-12-03 22:23] #2893 closed

[2020-12-03 22:31] yulkin2002 commented on #2791
I am getting the same error

[2020-12-03 22:47] hwanyong opened #2895 "Not working req.body @8.17.0"
**for google search bot**
not working body-parser
req.body empty
req.body undefined
ajax data empty

### [REQUIRED] Environment info

**firebase-tools:8.17.0**

**Platform:macOS**

### [REQUIRED] Test case

**Not bug code**: firebase-tools@8.17.0
[code]

**Bug code**: firebase-tools@8.17.0
[code]

### [REQUIRED] Steps to reproduce

### [REQUIRED] Expected behavior

### [REQUIRED] Actual behavior

[2020-12-03 22:50] #2664 closed

[2020-12-03 23:32] muhammad-usman-anwar opened #2896 "deploy command with --only flag/option, unexpected behavior"
### [REQUIRED] Environment info

**firebase-tools: 8.17.0**

**NodeJS: 14.15.1**
**Platform: Windows**

### [REQUIRED] Test case
I was trying to `deploy` the `hosting` using `--only` option, was resulting in __path__ related issue. When the path for hosting `public` was already set in __json__ file. Upon investigation found out that it was trying to check sdk version for  __functions__, since ther

[2020-12-04 00:15] bkendall commented on #2822
This should be fixed in https://github.com/firebase/firebase-tools/releases/tag/v8.17.0

Thanks

[2020-12-04 00:15] #2822 closed

[2020-12-04 00:20] dave-k commented on #2889
The issue is that the localhost url, `http://localhost:5001/d-forms-ce059/us-central1/api`, needs to be hardcoded otherwise the emulator serves functions from the network, i.e. `https://us-central1-d-forms-ce059.cloudfunctions.net/api`.

The Request URL is in chrome developer tools Network tab

[2020-12-04 00:24] #2751 closed

[2020-12-04 00:29] bkendall commented on #2819
We've taken care of this in a couple ways, including enabling the API when `init database` is run. If anyone runs into an issue with this, let us know here or reach out to [Firebase Support](https://firebase.google.com/support)

[2020-12-04 00:29] #2819 closed

[2020-12-04 02:00] #2832 closed

[2020-12-04 02:04] CambridgeAlgoRD commented on #2337
I get same error on Windows-7. Any solution to this problem?

I have this version of OpenJDK:

openjdk version "11.0.9.1" 2020-11-04
OpenJDK Runtime Environment AdoptOpenJDK (build 11.0.9.1+1)
OpenJDK 64-Bit Server VM AdoptOpenJDK (build 11.0.9.1+1, mixed mode)

[2020-12-04 05:26] ytetsuro opened #2898 "Unable to launch emulator with GOOGLE_APPLICATION_CREDENTIALS."
### [REQUIRED] Environment info

**firebase-tools:**

[code]

**Platform:**

Ubuntu

### [REQUIRED] Test case

I want to implement automated testing using emulator in the ci environment.
At this time, I do not want to use the token issued by `firebase login:ci`.
However, I can't start the emulator except for issuing a token with `firebase login:ci`.

[code]

### [REQUIRED] Steps to reproduce

[cod

[2020-12-04 05:33] ytetsuro commented on #2898
Sorry.
The `--project` option solved the problem.

[2020-12-04 05:33] #2898 closed

[2020-12-04 07:01] yuri-sergiichuk commented on #2870
@yuchenshi you're a lifesaver!

The web page indeed had a value in the local storage and as soon as I removed the entry my simplified example started working. I hope I'll be able to have this same fix applied to our main application and if so, it looks like there's no actual issue with the emulator (except that it may need to improve the long polling support).

[2020-12-04 07:11] yuri-sergiichuk commented on #2870
Works like a charm. In case you see your RTDB connection started working over HTTP while web sockets are expected, prune the local storage and you must be good to go!

I'm closing the issue now. @crwilcox @yuchenshi thx for your help. I guess it might be a good idea to still investigate why the HTTP fallback is not working, but that's a different story.

[2020-12-04 09:14] tiagoit commented on #1109
On the bottom of "Firebase Console > Hosting Page" click on "Add another site" and create them with the same name you used for target.

[2020-12-04 10:42] BrandiATMuhkuh commented on #2822
Thanks you. I have tested it, and it works again as expected!

[2020-12-04 14:52] seanburlington commented on #1971
Is there any update on this issue ?

I have the same problem

firebase --version 8.17.0
 "firebase": "^8.1.1"

Steps to reproduce

1. Start emulator - no data
2. Add data via react code using document.set
3. Delete document via emulator UI
4. Add data again using the same document.set call

Expected result : document is recreated

Actual result

[2020-12-04T14:40:10.815Z]  @firebase/firestore: Fir

[2020-12-04 17:19] itsravenous commented on #2874
I have just lost an hour or so to this :sweat_smile:  Definitely user error, but a warning would be really, really useful! I think if I hadn't found this issue it would have taken me much longer to realise on my own what was happening. In my case it was quite easy to fall into because I have a few separate firebase projects for my app (dev/staging/prod) - I had my emulator using the dev project ID

[2020-12-05 01:08] CambridgeAlgoRD commented on #753
When I create a document in Emulator which has got fields of type "Reference", after the creation of the document, all its fields (documentReference ones) are converted to an empty string. This is very frustrating because literally I cannot test my functions before deploying them.
It's very strange because if I edit the field of that same document individually after creation, then I can change the

[2020-12-05 07:14] jonadeline commented on #2847
same for me

[2020-12-05 07:27] dstiers11 commented on #2847
K

[2020-12-05 09:45] cbdeveloper commented on #2874
Hey @samtstern , the emulator is run by `firebase-tools`, correct? From my experience with this issue, it seems that `firebase-tools` only responds to calls made from `firebase/app`s that have been initialized to the same project as the _currently active_ one on `firebase-tools`. I don't think it's necessarily the `default` project on `.firebaserc`, if that's what you meant. But we would have to t

[2020-12-05 21:54] TaylorFacen commented on #2880
Following this because I'm getting the same error

[2020-12-05 22:44] TaylorFacen opened #2906 "Emulator doesn't print URL for email verification for newly created auth accounts"
### [REQUIRED] Environment info

firebase version 8.17.0

MacOS Big Sur 11.0.1

### [REQUIRED] Test case

The documentation [here](https://firebase.google.com/docs/emulator-suite/connect_auth#node.js-admin-sdk) says

"For testing email verification/sign-in with email link flows, the emulator prints a URL to the terminal at which firebase emulators:start was executed."

However, when creating a use

[2020-12-06 11:54] martijnplaat commented on #2880
yes, I have the same problem as well.

[2020-12-06 14:50] Milancos commented on #2889
$ firebase functions:shell
Error: Port 5000 is not open on localhost, could not start functions emulator.

$ firebase functions:shell --port 5001
Error: Port 5001 is not open on localhost, could not start functions emulator.

Is your port even open?

[2020-12-06 14:55] Pushplaybang opened #2907 "publish-please@5.5.2 preinstall fails when updating to, or installing the latest version of firebase-tools (8.17.0) on OSX"
### [REQUIRED] Environment info

attempting to update to the lastest version via npm as per the instructions:

[code]
v8.16.2 was working correctly.

**firebase-tools:**

macOS Catalina - 10.15.7
Node v12.20.0
NPM 6.14.8

### [REQUIRED] Test case

a test case cannot be provided, as this is an installation/update bug report.

### [REQUIRED] Steps to reproduce

attempt to install firebase tools with

[2020-12-06 15:00] Pushplaybang commented on #2907
as a side note, I had originally tried under node v10.* and then switched to v12.

[2020-12-06 15:06] magiskboy commented on #2907
I'm using node v13 but it still fails

[2020-12-06 15:25] AmanAgarwalX commented on #2907
My CI CD pipeline is also failing because I can't install firebase-tools in my Docker image.

[2020-12-06 15:25] Nickman87 commented on #2907
Same here, CI completely broken...

[2020-12-06 15:28] kot10n5tn commented on #2907
firebase-tools@8.16.2 also does not work.

[2020-12-06 15:28] jrstnly commented on #2907
I've tried it under v12 and v14 and same issue. I'm wondering if this is a dependency issue because I'm not seeing publish-please listed as a direct dependency of firebase-tools.

[2020-12-06 15:31] jsockchain commented on #2907
My node version is v12.19.0 and failed installing firebase-tools@8.17.0.
It failed due to publish-please@5.5.2 and it removed the old version.
Now I can't install firebase-tools again.

[2020-12-06 15:36] jsockchain commented on #2907
![image](https://user-images.githubusercontent.com/54032883/101284605-e7ef7800-37ae-11eb-8dc3-ee3f87b17017.png)

[2020-12-06 15:38] Karman40 commented on #2907
same error here

[2020-12-06 15:39] DharmarajX24 commented on #2907
Looks like you've got fast internet @jsockchain
Here's link to the [official documentation](https://firebase.google.com/docs/cli#mac-linux-auto-script)

[2020-12-06 15:45] Karman40 commented on #2907
yes, if you have ubuntu or mac, but windows?

[2020-12-06 15:47] jsockchain commented on #2907
I am on Mac.
[code]

[2020-12-06 15:48] DharmarajX24 commented on #2907
You can download the [Firebase CLI binary for Windows](https://firebase.google.com/docs/cli#install-cli-windows)

[2020-12-06 15:51] jrstnly commented on #2907
Looks like one of firebase-tools dependencies has publish-please in it's dependencies instead of devDependencies causing this issue.

[adding publish-please to dependencies seems to be causing downstream problems](https://github.com/Automattic/cli-table/issues/129)

[2020-12-06 15:51] lukencrocker commented on #2907
Same issue for me. Stops my GitLab pipline and also does not work locally.

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!! Starting from v2.0.0 publish-please can't be installed globally.          !!
!! Use local installation instead : 'npm install --save-dev publish-please', !!
!! Or use npx if you do not want to install publish-please as a dependency.  !!
!! (

[2020-12-06 15:53] rafekun commented on #2907
same here

[2020-12-06 15:53] DharmarajX24 commented on #2907
Try installing using cURL or Standalone binary?

[2020-12-06 15:56] Karman40 commented on #2907
@DharmarajX24

In windows not possible to install binary
![image](https://user-images.githubusercontent.com/32225709/101285147-f1470780-37e3-11eb-9db7-22417e2f6c5d.png)

[2020-12-06 15:58] DharmarajX24 commented on #2907
@Karman40
![image](https://user-images.githubusercontent.com/63334359/101285195-eb641d00-3809-11eb-9676-5904a3380b34.png)
They do have that in their documentation. If that doesn't work, it'll be best to email Firebase support.

[2020-12-06 16:00] Karman40 commented on #2907
@DharmarajX24 According to the documentation, I tried but failed.

[2020-12-06 16:06] DharmarajX24 commented on #2907
@Karman40 would be best to contact Firebase Support

[2020-12-06 16:12] Karman40 commented on #2907
Ohh yes "We'll usually get back to you within 2 business days (Monday-Friday, 9am-5pm Pacific Time), ". Maybe in a few weeks an answer will come.

[2020-12-06 16:33] lukencrocker commented on #2907
I've already sent a message to Firebase support.

[2020-12-06 16:36] Imprasna commented on #968
Please tell me what do I have to do about this? Do I have to install pre-install.js what's that about?

[2020-12-06 16:57] rafekun commented on #2907
It seemed the problem was gone.

[2020-12-06 16:58] jrstnly commented on #2907
Looks like the offending package has pushed the fix. Update/installation via npm works now.

[2020-12-06 17:04] Pushplaybang commented on #2907
Will test immediately.

[2020-12-06 17:17] Nickman87 commented on #2907
Everything is working again over here 👍

[2020-12-06 17:20] DharmarajX24 commented on #2907
Received a reply from Firebase Support that they were working on it.
I tried it again and here's the output.
[code]

It does work but looks like there's still some error.
I used the command with sudo, but still EACCES error.

[2020-12-06 17:26] Pushplaybang commented on #2907
I can confirm the update has worked on my end, and I'm able to both install, and operate as normal.

[2020-12-06 17:29] Pushplaybang commented on #2907
@DharmarajX24 there seem to be unrelated errors explained in your output above, related to your local setup, specifically:

[code]

I'm closing this issue, as I believe it be resolved, and would suggest investigating, and then opening a separate related issue if you believe it is specific to firebase-tools.

[2020-12-06 17:29] #2907 closed

[2020-12-06 17:31] DharmarajX24 commented on #2907
Yes I figured that out. :)

[2020-12-06 18:13] FelipeLucke commented on #2731
The same problem here...

Now Node 12 have suport to firebase functions, but when I try to deploy my aplication this error hapen. My project in firebase have 2 sites in hosting and want to send my server to take 1 of then..

[2020-12-07 02:00] #2855 closed

[2020-12-07 09:49] paulyip opened #2908 "onUpdate not trigger with customer databaseURL"
### [REQUIRED] Environment info

**firebase-tools:**
8.17.0

**Platform:**
macOS

### [REQUIRED] Test case

Add the following two cloud functions

[code]

### [REQUIRED] Steps to reproduce

1 - call http://localhost:5001/xxx/us-central1/helloWorld to create user 'Peter' in database
2 - in the emulator change the user name from 'Peter' to 'Mary'
3 - a new field age '23' is created
4 - add the follo

[2020-12-07 17:35] yuchenshi commented on #2870
I've filed an internal bug tracking the redirect issue for the long polling request: b/175025844.

[2020-12-07 18:54] rosalyntan commented on #2880
Filed b/175034284 for internal tracking.

[2020-12-07 19:37] capripio commented on #2896
Yup, it seems like firebase-tools overwrite config file, instead of appending it.

[2020-12-07 19:39] yuchenshi commented on #1971
@seanburlington  We'd need some repro (including the code that perform the transaction) in order to further look into this. Would you mind sharing what you're doing in the React app in the form of a snippet (or better yet, GitHub repo)?

[2020-12-07 22:32] jakebiesinger-storyhealth opened #2910 "Firebase emulator stripping `Authentication` header when rewriting a function"
### [REQUIRED] Environment info

Affects:
8.17.0
8.18.0

NOT present in:
8.16.2

**firebase-tools:** 8.18.0

**Platform:** macOS

### [REQUIRED] Test case

[code]

### [REQUIRED] Steps to reproduce

1. Start the firebase emulator:

firebase -P testTarget emulators:start --inspect-functions

2. send a curl command to the rewritten function, placing a bearer token on the command-line:

curl -H "Auth

[2020-12-07 22:48] samtstern commented on #2910
@jakebiesinger-storyhealth thank you for the clear description.

@bkendall sounds like maybe a superstatic issue?

[2020-12-07 23:07] jkarst commented on #2895
Verified this fails on 8.18.0 too.  Works in 8.16.2,

[2020-12-07 23:39] samtstern commented on #2889
@dave-k I am sorry but I don't understand what "needs to be hardcoded" means in this scenario. Can you walk me through step by step where you're calling these functions and what needs to be hardcoded that shouldn't be?

[2020-12-07 23:44] bkendall commented on #2895
Hi - I'm not sure I have enough information to replicate this issue. I have the block of code setting up the POST handler and exporting it as `backend`, but when I post to it I'm getting data that I expect:

[code]

Could you provide a bit more information?
1. What request is being made where `req.body` is empty?
1. What version of Node is being used?

[2020-12-07 23:56] bkendall commented on #2910
It's not a superstatic issue because I can replicate this with just the functions emulator. Taking a further look now to see if I find anything useful...

[2020-12-08 00:00] bkendall commented on #2910
I take that back - I've not replicated this yet.

[2020-12-08 00:16] bkendall commented on #2910
Ah, I've figured it out. It has to do with the underlying request library changing from `request` to `node-fetch`. I believe the difference is that `request` allowed you to pipe entire requests including headers to and from it. I'm not actually forwarding on headers in https://github.com/firebase/firebase-tools/blob/master/src/hosting/proxy.ts#L71 like I should be in order for this to work. I'm wo

[2020-12-08 01:33] samtstern commented on #2908
@paulyip Cloud Functions are registered against the default database unless otherwise specified.  When you use `ns=127` you're implying that your default database is `127.firebaseio.com` and that (normally) your project ID is `127`.  Is that the case?

[2020-12-08 05:20] paulyip commented on #2908
No.  My project ID is another one said 'abc-123'.  For some  reason, Unity SDK cannot access the 'abc-123' database in emulator.  Instead, Unity SDK can only access the database with namespace '127'.  You may refer to the following link.

https://forum.unity.com/threads/firebase-realtime-database-emulator-and-unity.883486/#post-6596128

On the cloud function side, the cloud function write data to

[2020-12-08 10:26] paulharter commented on #2874
The documentation says that the emulator will respond to any given project id I have found this not to be the case and that by default it uses the default id of the current project in for local firebase tools.  But it seems to obeys the envar for project id like client SDKs:
` export GCLOUD_PROJECT="<project_id>"`
which is undocumented, but the only way I have been able to use it.

[2020-12-08 12:34] fotoflo commented on #1862
A year later... is there any fix for this?

[2020-12-08 12:58] jjalonso commented on #2847
I have found this issue today, im using emulator since few weeks back and ir works fine but today i had to implement my first auth event (onCreate) and it doesnt get triggered. no region.

[2020-12-08 15:30] fpeterdev commented on #2277
@samtstern
I was about to create a feature request for the option to disable RTDB triggers in the emulator during imports. While searching for possible duplicates I found your comment:
Introduce a way to

Sooo... Is there any update on that feature? :)

[2020-12-08 16:29] plvbroker commented on #2819
Hi ! Just to let you know I ranb into the same issue today.
But enabling the Realtime Database also did not the trick 😥

[2020-12-08 16:34] samtstern commented on #2277
@fpeterdev yes it's not documented yet (on my to-do list!) but there is a function in `@firebase/rules-unit-testing` called `withFunctionTriggersDisabled()` that lets you do this.

Example:

[code]

[2020-12-08 16:40] bkendall commented on #2819
@plvbroker could you open a new issue with all the appropriate information? That'll be the best way to figure it out.

[2020-12-08 17:14] samtstern commented on #2212
Closing this because `firebase deploy` supports Remote Config, see #2899

[2020-12-08 17:14] #2212 closed

[2020-12-08 17:24] samtstern commented on #2896
@muhammad-usman-anwar thanks for reporting this, I don't quite understand the situation though. Could you give me a specific `firebase.json` example and then tell me what command to run to reproduce the error you're seeing?

[2020-12-08 18:20] JakeLewisFSC commented on #1232
I had the issue today and was able to find a fix.

So full procress is,

`sudo ng build --prod`

Not doing the above step will leave your app at the welcome title.

`
sudo firebase init

single app yes

Overwrite index No
`

Now for some odd reason, after `firebase init` happens, it will DELETE `site` in your `firebase.json`. Just add it again after `firebase init`

`"site: "YOUR-SITE"`

then

`su

[2020-12-08 20:03] vmasek commented on #1862
It seems like the workaround is now the preferred way to do this, as behaviour has changed and the functions have adjusted accordingly.

In my Angular SSR function, I provide the `req.baseUrl` as `url` and as the value of the `APP_BASE_HREF`

[code]

[2020-12-08 23:30] MohamedRed commented on #2496
Hi,
My comment has nothing to do with the firebase Emulator.

I just wanted to mention when I create a new document programatically using the javascript SDK, I can then go to the firebase console and create manually a new document with the same ID by copy pasting the ID.

[2020-12-09 05:30] fpeterdev commented on #2277
Thank you! Will such an option be available from the UI during import? We are using the emulator for development as well, and it would be great if we could reload the initial data to the database without restarting the emulator.
By the way, this feature would make sense on the "real" firebase console as well. (e.g. for restoring a previous backup)

[2020-12-09 10:21] hithomasmorelli opened #2913 "Should functions contain a .eslintignore file?"
### [REQUIRED] Environment info

**firebase-tools:** 8.17.0

**Platform:** macOS Big Sur 11.0.1

### [REQUIRED] Test case

See repository at https://github.com/hithomasmorelli/vscode-eslint-parseroptions-project-repro

### [REQUIRED] Steps to reproduce

Follow the steps in the README.md file within the repository linked above

### [REQUIRED] Expected behavior

As `npm run lint` is set to only run

[2020-12-09 11:39] tomknappramos opened #2914 "request.body empty in emulator when using hosting rewrite to target a function"
### Environment info

**firebase-tools:** 8.18.0

**Platform:**
[code]

### Test case

request
[code]

firebase.json
[code]

code
[code]

### Steps to reproduce

Setup a hosting rewrite to a function, call the function via the hosting rewrite url with a request body.

### Expected behavior

To see request.body.

### Actual behavior

[code]

### NOTE:

The body exists when I don't use the rewrite a

[2020-12-09 11:47] tomknappramos commented on #2914
updated test case

[2020-12-09 12:12] samtstern commented on #2914
@tomknappramos thank you for the clear report
@bkendall this feels like a bug to me, and maybe something you could fix while you're already working on https://github.com/firebase/firebase-tools/pull/2912

[2020-12-09 12:13] samtstern commented on #2913
@hithomasmorelli thank you for explaining this so clearly!
@bkendall any thoughts about this?  You know more about ESLint than most of us

[2020-12-09 13:00] samtstern commented on #2908
@paulyip this is the expected behavior.  The `onUpdate` function is registered to detect changes to your default database but you are accessing a different namespace, so the function does not fire.

Sounds like you're having a Unity-specific issue. I would suggest asking about that here:
https://github.com/firebase/quickstart-unity

[2020-12-09 13:00] #2908 closed

[2020-12-09 14:27] itsravenous commented on #1738
I use separate Firebase projects for dev/staging/ci. You don't have to get that granular, but having a non-prod project would help you avoid that.

But of course, really, I just want a storage emulator just like everyone else.

[2020-12-09 15:47] DaveMitten commented on #1948
I have a similar issue to this:

I cannot run a local version of my backend with firebase. I run `npm run dev` as i always have. But i get these errors. I have done nothing to change how this runs and it simply stopped a few days ago.

If i need to update any details please inform me and I can.

[code]

Here are the logs:

[code]

[code]

**package.json**

[code]

[2020-12-09 19:19] sonicwim commented on #2731
I tried the Angular tutorial from [https://angular.io/start](https://angular.io/start) and then also tried to deploy it from my local copy to Firebase but I also needed to specify the target as @RoCampos said.

And I'm using version 8.18.0, any idea why this is still happening?

[2020-12-09 20:10] BrandiATMuhkuh commented on #2914
I have the same issue. I think it's from the last release. But the relase of the cloud function. Because I have the same issue when deploying to the google servers. Not only on the emulator :/

[2020-12-09 20:13] BrandiATMuhkuh commented on #2914
@samtstern I also think it's the header issue. I'm using `express.json()` and that relies on the `application/json` header to be sent. If it's not sent, it won't populate the `req.body`

[2020-12-09 20:48] #2910 closed

[2020-12-09 22:28] bkendall commented on #2913
First: when `.eslintignore` does not exist, eslint will fall back to using `.gitignore`. In our templates, all JS files are ignored by default _except_ `.eslintrc.js` (the condition was added in #2647 - by a familiar author 😉 ). My hunch initially is that is why that file is being checked.

But: I went and tried to figure out why this happens on a new Functions instantiation and _not_ this reposit

[2020-12-09 22:33] bkendall commented on #2731
@sonicwim if you could open a new issue with more details, that would be super helpful. Please include all the relevant parts of `firebase.json` and `--debug` output.

[2020-12-09 22:57] PawFV commented on #2880
Same problem with auth emulators.

[2020-12-09 23:09] tomknappramos commented on #2914
@BrandiATMuhkuh This is just a guess, but it seemed like the hosting emulator perhaps wasn't forwarding the headers to the function emulator properly??

I had the application/json header in Postman, so the header was there. Just seemed not to make it through.

[2020-12-09 23:23] sonicwim commented on #2731
I will do that.

[2020-12-10 00:09] bkendall commented on #2914
Could you give newly released `v8.18.1` a try? That fixed up the headers issue and if _that_ is the root cause of this missing body information, then you should be good to go. If not, I'll dig a bit more.

[2020-12-10 04:06] MasaGon opened #2916 "firebase init hosting ignores --project option"
### [REQUIRED] Environment info

**firebase-tools:8.18.1**

**Platform:Ubuntu on Window WSL**

### [REQUIRED] Test case

`firebase init hosting --project <project_alias>`

### [REQUIRED] Steps to reproduce

`firebase init hosting --project staging` on multiple project environment.

[.firebaserc]
[code]

### [REQUIRED] Expected behavior

`.github/workflows/firebase-hosting-merge.yml` tied to projec

[2020-12-10 07:05] BrandiATMuhkuh commented on #2914
@bkendall I can confirm it's fixed with `v8.18.1`. Thanks for the quick fix!

[2020-12-10 08:49] samtstern commented on #2914
@BrandiATMuhkuh thank you!

[2020-12-10 08:49] #2914 closed

[2020-12-10 10:14] hithomasmorelli commented on #2913
Arrgh, my own work is coming back to haunt me. Does this mean I've made it?! I hope I don't get a reputation for fixing one bug and creating another 😄

On a serious note, @bkendall what you're suggesting looks good to me. However, this comes with the caveat that I have little experience with `tsconfig.json` files in particular, so I wouldn't trust myself to comment authoritatively on them! If what

[2020-12-10 11:05] Develrockment commented on #1738
The storage emulator would be very helpful indeed

[2020-12-10 15:01] samtstern commented on #2916
@MasaGon thank you for the report!

@jamesdaniels or @jhuleatt can you take a look? This has to do with the Hosting GitHub Action

[2020-12-10 16:19] mohitsud opened #2917 "400, Precondition check failed. When running firebase database:instances:create instanceName"
I am running firebase-tools version 8.18.

When running ```firebase database:instances:create instanceName``` I get the error:

[code]

[2020-12-10 17:08] Shaita-KrZ opened #2918 "Is there a way to create default firebase realtime database?"
Hello there,

I am trying to create a Firebase project with a default real-time database using the firebase tools cli.

I did not need to create the default real-time database before but now when I tried to push data to my database after creating the project I am getting the following error message:

So I tried to create the real-time database instance using:
`firebase database:instances:create`

[2020-12-10 17:35] bkendall commented on #2917
Can you provide any additional details from your `firebase-debug.json` file? Or running the command with `--debug`?

[2020-12-10 17:49] dave-k commented on #2889
@samtstern

With config 1. the functions are not emulated - they are served from the cloud
[code]

With config 2. the functions are emulated  - they are served from localhost
[code]

[2020-12-10 21:07] AlexBrasileiro commented on #2228
I had this problem too, in having instances of the emulator working even after finishing/shut down (Ctrl + C).

So, I used a script on my package.json with all the ports I use in my firebase.json file, and after the shot down I run the script, I believe it can be a good workaround.

`package.json`

[code]

`firebase.json`

[code]
On the project root:
* `Ctrl + C`
* `npm run stopall`

[2020-12-10 21:39] SrBrahma commented on #2228
That's good! I've been using sudo pkill node and sometimes java, but this may kill other non related processes.

[2020-12-11 01:30] CGSoftIndia opened #2920 "CORS issue in emulator -- works with firebase tools 8.15.0"
### [REQUIRED] Environment info

**firebase-tools:**8.18.1

**Platform:**Windows

### [REQUIRED] Test case

I have a project in firebase with firebase phone auth and functions.
I am emulating it in the firestore emulator before deploying.
After updating to version firebase-tools 8.18.1 from firebase-tools 8.15.0 ,
 I see the CORS error in the browser developer tools:
"Access to XMLHttpRequest at '

[2020-12-11 02:00] #2856 closed

[2020-12-11 02:24] Joebayld opened #2921 "Update CLI Emulator status URL to include http://"
Hi,

I've noticed a small detail that affects users in VS Code. If you run the Firebase emulator via terminal in VS Code it makes it quite useful to open links directly from the terminal to Chrome. However, to view the emulator status UI for example, it shows the URL as 'localhost:4000'. Note that it doesn't include the 'http://' prefix thus confusing VS Code to think this is a file path and not a

[2020-12-11 03:58] Joebayld commented on #2749
Thanks @yuchenshi. This helps me out.

Something I've noticed with the setup script that the auth user triggers are called for the created users every time I start the emulator. This isn't ideal as I perform some tasks (such as create Stripe users in test mode) and this now gets called every time when in reality the stripe user already exists. My workaround is a bunch of `(process.env.FUNCTIONS_EM

[2020-12-11 10:30] samtstern commented on #2889
@dave-k this still really does not make any sense to me, that seems like expected behavior.  Are you expecting `https://us-central1-d-forms-ce059.cloudfunctions.net/api`to redirect to your local functions?  That is not how this works, local emulated functions are always served from your local machine they are not routed through your Cloud URL.

[2020-12-11 10:56] samtstern commented on #2749
@Joebayld we actually have an API (not documented yet, but stable) in the emulators that lets you temporarily disable background triggers.  This API exists in the **emulator hub** which is a small server that runs inside the Firebase CLI for emulate orchestration.  This normally starts up at port `4400`.

Here's some pseudocode:
[code]

So you can just make two `PUT` requests in your setup script,

[2020-12-11 11:28] samtstern commented on #2920
@CGSoftIndia thanks for reporting.
@bkendall this seems like it's probably related to your latest headers changes.

[2020-12-11 11:52] samtstern commented on #2918
@Shaita-KrZ thank you for the question! When you called `firebase database:instances:create` do you remember what the error message was?

@sarajmunjal do you know the answer?

[2020-12-11 12:22] samtstern commented on #2874
@cbdeveloper yes that's correct, the emulator suite emulates the _currently active_ project as determined by `firebase-tools`. That's the project which will be shown in the Emulator UI and that's also the project which will be used when configuring Cloud Functions triggers locally.

The emulators are actually run as a "swarm" of local processes and they accept requests directly, requests are not p

[2020-12-11 13:47] CodenameCookie commented on #2392
Shame somebody didnt try to help you more. This is the top result on Google for the issue.

[2020-12-11 14:13] samtstern commented on #2921
@Joebayld thanks for this suggestion, it's a good idea and something I can clean up today while I'm in there making a related change.

[2020-12-11 14:47] MousamBhalekar commented on #1627
this work for me!! thank you

[2020-12-11 15:08] mohitsud commented on #2917
Attached is the firebase-debug.json logs

[code]

[2020-12-11 16:26] dave-k commented on #2889
@samtstern I am trying to serve the functions in 2 situations, emulated and non-emulated.

How do I configure 'userApi' in the 2 situations to achieve this?

A. Emulated
  1. Compile client
[code]
  2. Compile functions
[code]
  3. Start emulator
[code]
  4. Hosting emulator
[code]
B. Non-emulated
1. Serve client
[code]
2. Web site
    http://localhost:4200/

[2020-12-11 17:25] Blackbaud-SteveBrush commented on #688
Deleting `node_modules` and `package-lock.json` and rerunning `npm install` fixed the problem for me.

[2020-12-11 18:27] zanona commented on #2197
I'm afraid this is still an issue when deleting the document from the emulator Firestore dashboard.
When the document gets deleted from there `Null value error` is thrown.

[2020-12-11 18:29] bkendall commented on #2920
I'm unable to replicate this issue and I'm going to need more information.

This is a very basic example that I tested with. Instructions are in the readme for how to run it: https://github.com/bkendall/fb-auth

Can you replicate the issue with that repository? If you can, can you provide more information about your setup? Specifically - since your on Windows - what browser are you using, and how

[2020-12-11 20:39] CGSoftIndia commented on #2920
Some code from my index.js (using JS not TS) -- visual-studio-code, Node 10
//index.js
const functions = require('firebase-functions');
const express=require('express');
const cors = require('cors')({origin: true});

const app = express();
app.use(cors);
app.use(cookieParser);

exports.myfunc = functions.https.onRequest(app);

// Express middleware that validates Firebase ID Tokens passed in the A

[2020-12-11 21:40] ehedaya commented on #2895
I was having this issue too. Rolled back to 8.16.2 and I'm golden.

In 8.18.1, `req.body` is an empty object
`  body: {},`

[2020-12-12 00:10] bkendall commented on #2920
I would take a look how the `cors` module is affecting your code's behavior. The behavior you're describing is what I would expect if CORS is being enforced on your project.

Unfortunately, without a working reproduction case, I'm going to close this out; we have fairly limited bandwidth and it's not immediately obvious to me how the headers would have been _added_ in the new version of the CLI to

[2020-12-12 00:10] #2920 closed

[2020-12-13 01:23] BuffMcBigHuge opened #2926 "FirebaseError: Missing or insufficient permissions with Firestore Emulator"
### Environment info

**Server**:
firebase-tools: 8.19.0

**Client**:
firebase: 8.2.0

**Platform:**
macOS Big Sur, node v12.20

### Test case

I'm able to access the emulator firestore when I'm not authenticated, but the second I'm authenticated, I am unable to access anything in the firestore, receiving `FirebaseError: Missing or insufficient permissions.`

### Steps to reproduce

1) Run `fireba

[2020-12-13 06:19] 0100101101001011 opened #2927 "Firebase CLI deploy doesn't work behind a proxy (regression)"
The firebase deploy hosting was working perfectly before. But now it produces the error:

My firebase --version is 8.19.0

[code]

[2020-12-13 16:51] BuffMcBigHuge commented on #2926
I discovered what the issue was.

I was calling `db.settings(settings)` after the emulator was set. It seemed to have been breaking the emulator configuration. Removing it solved my issue.

[2020-12-13 20:56] motiejunas commented on #2773
With v8.2.0 it is now possible to hide the banner and console.log is used instead of console.warn.

[2020-12-13 20:56] #2773 closed

[2020-12-13 21:08] smhmd commented on #2773
@motiejunas Could you explain how?

[2020-12-14 05:03] Andradeerik commented on #2782
I thought I had the same problem but in my (database.rules.json) rules it was false.
:)

[2020-12-14 11:00] samtstern commented on #2889
@dave-k ok clearly we are just not understanding each other.  I don't know what problem you're having or how I can fix it.

Please follow these guidelines and make a MVCE that shows me this issue:
https://stackoverflow.com/help/minimal-reproducible-example

[2020-12-14 11:03] samtstern commented on #2926
@BuffMcBigHuge thanks for following up. Since you were able to fix your issue I am going to close it here. It sounds like it may have been related to this discussion, so we're working on improving it:
https://github.com/firebase/firebase-js-sdk/issues/4110

[2020-12-14 11:03] #2926 closed

[2020-12-14 15:00] samtstern commented on #2773
@motiejunas @smhmd we've added a new option (documentation is a bit behind):

[code]

This is in the Firebase JS SDK 8.2.0 release:
https://firebase.google.com/support/release-notes/js#version_820_-_december_11_2020

[2020-12-14 16:27] russellwheatley opened #2928 "default PARAM isn't being injected during extension emulation"
### [REQUIRED] Environment info

**firebase-tools:**
8.17.0

**Platform:**
macOS Catalina 10.15.4

### [REQUIRED] Test case

See steps to reproduce.

### [REQUIRED] Steps to reproduce

1. git clone `git@github.com:firebase/extensions.git`
2. run `npm i` from root of extension's directory.
3. cd `delete-user-data` directory
4. create `test-params.env` file. Add environment variables & insert projec

[2020-12-14 17:30] russellwheatley opened #2929 "auth emulator for extensions doesn't runs"
### [REQUIRED] Environment info

**firebase-tools:**
8.17.0

**Platform:**
macOS Catalina 10.15.4

### [REQUIRED] Test case

See steps to reproduce.

### [REQUIRED] Steps to reproduce

1. git clone `git@github.com:firebase/extensions.git`
2. run `npm i` from root of extension's directory.
3. cd `delete-user-data` directory
4. create `test-params.env` file. Add environment variables & insert projec

[2020-12-14 17:57] russellwheatley opened #2930 "cloud function extension emulator throws error when adding data"
### [REQUIRED] Environment info

**firebase-tools:**
8.17.0

**Platform:**
macOS Catalina 10.15.4

### [REQUIRED] Test case

See steps to reproduce.

### [REQUIRED] Steps to reproduce

1. git clone `git@github.com:firebase/extensions.git`
2. run `npm i` from root of extension's directory.
3. cd `rtdb-limit-child-nodes` directory
4. create `test-params.env` file. Add environment variables & insert

[2020-12-14 18:28] malcolmdeck commented on #2906
@TaylorFacen Can you please include the app code that you would expect to trigger a link to be printed? I don't think user creation in and of itself will create a link

[2020-12-14 19:24] bkendall commented on #2895
I just did an install of `firebase-tools@8.18.1` in my environment, set up a function as described here, and I'm still unable to replicate this issue.

Can someone who is experiencing this issue run the emulator with `--debug` and share the logs? Without more detailed information and a strong, repeatable reproduction case, I can't dig into this any further.

[2020-12-14 20:44] #2921 closed

[2020-12-14 23:27] adam-remotesocial opened #2931 "Emulated Hosting redirects to Cloud Functions erroneously combines Set-Cookie headers"
### [REQUIRED] Environment info

**firebase-tools:** 8.18.1

**Platform:** OSX

### [REQUIRED] Test case

Write a function that sets multiple cookies:

[code]

Use Hosting as a proxy to the function. `firebase.json`:

[code]

### [REQUIRED] Steps to reproduce

Hit the proxied function URL: `http://myhostingsubdomain.blah.com/wherever`. Check the response headers in Chrome DevTools and check the Ap

[2020-12-14 23:29] adam-remotesocial commented on #2931
Apologies to the electronic overlord. :) I think it's fixed now.

[2020-12-15 01:50] nathikazad commented on #1109
So silly, install firebase tools again.

[2020-12-15 05:14] neural9 commented on #2764
Where are you getting the shared secret from in order to validate? Or by validate do you actually mean 'decode' to obtain UID etc?

[2020-12-15 06:48] dound opened #2936 "Sign-in with E-mail link from Admin SDK is rejected due to invalid action code"
### [REQUIRED] Environment info
**firebase-tools:** 8.14.1
**Platform:** Ubuntu

### [REQUIRED] Test case

See steps.

### [REQUIRED] Steps to reproduce
1. Start the emulators with `firebase emulators:start`
1. Use the Admin SDK to generate a dynamic Firebase link to sign-in with e-mail:
[code]
3. Try to open the link in the web application running on localhost that's opened via the URL output fro

[2020-12-15 13:38] khagesh commented on #2927
Although this is not an hosting issue, but when starting local emulators I am also seeing similar issue

[code]
I think this url is down `https://firebase-public.firebaseio.com/cli.json`

What should we do next? Is there a workaround we can try?

[2020-12-15 15:28] cbdeveloper commented on #2874
@samtstern thanks for your reply. If it's not feasible to implement it, I guess a warning about this issue should be added to the documentation. Maybe on this section:

https://firebase.google.com/docs/emulator-suite/install_and_configure

[2020-12-15 17:51] rachelsaunders opened #2937 "update all instances of "Google Cloud Platform" or "GCP" or "Cloud" to "Google Cloud""
"Google Cloud Platform" is now called just plain "Google Cloud" (not "GCP", not "Google Cloud Platform", and not "Cloud").  We need to update throughout the CLI for product name consistency across our interfaces.

[2020-12-15 18:27] #2880 closed

[2020-12-15 19:28] #2931 closed

[2020-12-15 20:28] yuchenshi commented on #2880
Fixed in v8.20.0.

[2020-12-15 22:12] mbleigh commented on #2927
Can you copy the complete response of `curl -I https://firebase-public.firebaseio.com/cli.json`? The URL in question is functioning for me, and I'm wondering if it's an ISP/firewall related issue.

[2020-12-15 23:31] gthmb commented on #653
@sowdri and @nrgnrg  I want to hug you both! using webpack to build the function source, and then deploying from the build dir is working for me with a yarn workspaces project.  I can finally share some interfaces in a local repository module between my web application package and my cloud function package.

What was not clear to me about @nrgnrg 's answer, is that I needed to tell firebase to dep

[2020-12-16 01:09] harrisonlo commented on #2773
Are the types updated? I see the [commit](https://github.com/firebase/firebase-js-sdk/commit/f2562c2924f26e9230f7d47e084291bc56aef297#diff-db993f2c787645d3c8542fe9daebc40bca281dc07199def70f8aad1f9329175e) has updated it, but the downloaded index.d.ts file still has `useEmulator(url: string): void` (my node_modules/firebase/package.json says 8.2.0 so I think it's at the right version)

[2020-12-16 07:33] brightsider opened #2944 "checkForNode8 is not a function"
### [REQUIRED] Environment info

**firebase-tools:** 9.0.0

**Platform:** macOS Big Sur

### [REQUIRED] Test case

Deploy firebase functions

### [REQUIRED] Steps to reproduce

firebase deploy --only functions

### [REQUIRED] Expected behavior

deploy completed without errors

### [REQUIRED] Actual behavior

✔  functions[testProcessManual(us-central1)]: Successful update operation.

Error: An unex

[2020-12-16 09:37] expelledboy commented on #653
Everything mentioned here is a work around. The problem is clear, `firebase-tools` assumes all packages are available in npm.

[2020-12-16 09:54] muhammad-usman-anwar commented on #2944
### having Same issue

### [REQUIRED] Environment info
firebase-tools: 9.0.0

Platform: Windows

[2020-12-16 10:14] DavuluriHemanthChowdary commented on #2944
Same issue I've been facing since yesterday and firebasetools:- 9.0.0 is the version

[2020-12-16 10:21] samtstern commented on #2944
@brightsider thank you for reporting this, I'll investigate it now.

[2020-12-16 10:25] DavuluriHemanthChowdary commented on #2944
[debug] [2020-12-16T10:21:21.415Z] ----------------------------------------------------------------------
[debug] [2020-12-16T10:21:21.417Z] Command:       C:\Program Files\nodejs\node.exe C:\Users\heman\AppData\Roaming\npm\node_modules\firebase-tools\lib\bin\firebase.js deploy --only functions
[debug] [2020-12-16T10:21:21.417Z] CLI Version:   9.0.0
[debug] [2020-12-16T10:21:21.417Z] Platform:

[2020-12-16 10:32] samtstern commented on #2944
The fix is here:
https://github.com/firebase/firebase-tools/pull/2945

We should hopefully be able to get `9.0.1` out today with a fix (once the San Francisco folks wake up!)

[2020-12-16 11:26] DavuluriHemanthChowdary commented on #2944
Nice work! Sir

[2020-12-16 12:15] Eson-Jia commented on #2927
firebase version is  9.0.0

✔  firestore: deployed indexes in firestore.indexes.json successfully
i  hosting[fir-d4713]: beginning deploy...
i  hosting[fir-d4713]: found 4 files in public
[2020-12-16T12:11:22.813Z] > refreshing access token with scopes: []
[2020-12-16T12:11:22.814Z] >>> HTTP REQUEST POST https://www.googleapis.com/oauth2/v3/token
 <request body omitted>
[2020-12-16T12:11:22.817Z]

[2020-12-16 12:16] Eson-Jia commented on #2927
curl -I https://firebase-public.firebaseio.com/cli.json
HTTP/1.1 200 Connection established

HTTP/1.1 405 Method Not Allowed
Server: nginx
Date: Wed, 16 Dec 2020 12:12:36 GMT
Content-Type: application/json; charset=utf-8
Content-Length: 43
Connection: keep-alive
Access-Control-Allow-Origin: *
Cache-Control: no-cache
Strict-Transport-Security: max-age=31556926; includeSubDomains; preload

[2020-12-16 13:07] worldofchris commented on #2944
Have same issue

[2020-12-16 13:53] jwoyo commented on #2944
Aaargh! Our CI crashed because it executed "npm install firebase-tools" and then "firebase deploy" – doing so we updated to firebase-tools 9.x automatically and it crashed.

Thank you for reporting & fixing this! ❤️
This issue helped me a lot locating the problem.

We will use a fixed version in our deployment script now. 😅

[2020-12-16 13:59] ideodora commented on #2764
I want use admin.createSessionCookie with auth emulator.
There is no workaround for this.

[2020-12-16 15:44] gthmb commented on #653
@expelledboy agreed, but I appreciate having a work-around in the meantime.

[2020-12-16 16:35] andrewpolemeni commented on #2944
I'm having the same issue:
[debug] [2020-12-16T16:33:42.384Z] TypeError: checkForNode8 is not a function
    at C:\Users\Andrew\AppData\Roaming\npm\node_modules\firebase-tools\lib\deploy\functions\release.js:413:13
    at processTicksAndRejections (internal/process/task_queues.js:89:5)
[error]
[error] Error: An unexpected error has occurred.

[2020-12-16 17:10] #2944 closed

[2020-12-16 17:11] samtstern commented on #2944
The fix has been merged and will be included in the *next*  release (which should be very soon).

[2020-12-16 17:20] sharkdevs commented on #2944
facing the same issue

[2020-12-16 17:22] bkendall commented on #2944
San Francisco here: release is on the way out the door. Thanks for your patience! (Downgrading to v8.20 would be a fine workaround)

[2020-12-16 17:38] rajprashanthr commented on #2944
Thanks a lot

[2020-12-16 17:40] bkendall commented on #2944
This has shipped in `v9.0.1`!

[2020-12-16 19:26] premsuman8 commented on #1738
We need the storage emulator!
Give the people what they want! :trollface:

[2020-12-17 05:38] apsoftwaredev commented on #2917
I'm getting this same error now when I deploy to hosting.  -- only functions works fine.  hosting gives this error:

[2020-12-17 05:56] zw3428 commented on #2927
@Eson-Jia I have the same error as yours, did you solve this problem? How did you solve it?

[2020-12-17 05:59] apsoftwaredev commented on #2917
It looks like I exceeded the daily bandwidth or compute quota is what is doing it for me. Check the usage and billing section in the console.  That might be it.  Thanks.

[2020-12-17 06:02] Eson-Jia commented on #2927
not yet

[2020-12-17 06:28] vajahath opened #2948 "UID not present in the auth emulator idToken"
### [REQUIRED] Environment info
**firebase-tools:**: 8.20.0
**Platform:**: Windows

The `idToken` returned by the `auth.getRedirectResult()` function does not have the `uid` property **when used with firebase auth emulator**.
The `idToken` can be decoded to [`DecodedIdToken`](https://firebase.google.com/docs/reference/admin/node/admin.auth.DecodedIdToken), where it has the `uid` prop.

Eg. idToken

[2020-12-17 06:38] yasutak-k opened #2949 "Error in deploying hosting"
### [REQUIRED] Environment info

**firebase-tools:**
9.0.1

**Platform:**
macOS

### [REQUIRED] Test case

Deploy firebase hosting

### [REQUIRED] Steps to reproduce

firebase deploy --only hosting

Adding settings for CloudRun to the rewrite configuration will result in an error.

firebase.json:
[code]

### [REQUIRED] Expected behavior

Deploy completed without errors.

### [REQUIRED] Actual beha

[2020-12-17 07:09] DavuluriHemanthChowdary commented on #2949
I had this connections time out issue around 4:30 AM IST to 6:00 AM IST and after that it worked fine! And the timeout issue i had was when deploying only functions.

[2020-12-17 09:27] yasutak-k commented on #2949
I just tried it now (18:20 JST) and the result is the same.
If I remove the rewrite setting, it succeeds, so that may be the problem.
But I don't know how to solve it.

As of 09 December 2020, 04:52:00 UTC it was successful. The version of firebase-tools at that time was 8.18.0.

If I downgrade to version 8.18.0 now, I get the same result.

[2020-12-17 09:57] nostrapollo commented on #2949
I'm having the same issue as described, no changes to firebase.json or hosting configurations.

This could be related to changes in Cloud Run API again, as described in [#1444](https://github.com/firebase/firebase-tools/issues/1444#issuecomment-506396524) by @Memeriaj

[2020-12-17 10:09] nikhilag commented on #2949
I am facing the same issue as well. If I remove the rewrites for cloud run, then it works fine.

[2020-12-17 11:10] KevsRepos opened #2950 "localhost:4000 is unable"
I initialized a firebase project. After that I started the emulators. The emulators started successfully:
` ✔  All emulators ready! View status and logs at localhost:4000`

Then I tried to go to the emulator ui, but literally nothing happens. The url just disappears when I hit enter and the tab remains the same. There are no error logs, nothing.

This is firebase.json:

[code]

[2020-12-17 11:11] nikhilag commented on #2949
@mbleigh Would really appreciate your help in this matter. I am unable to deploy some important changes to production because of this issue.

[2020-12-17 11:15] KevsRepos commented on #2950
What Information do you need?

[2020-12-17 12:13] mogaming217 commented on #2949
I'm having the same issue. firebase-tools is 9.0.1.

[code]

[2020-12-17 12:16] mpwei commented on #2917
I have same problem when deploying to hosting, and I have found the question:
firebase.json:
`{
  "hosting": [
    {
      "target": "<my-target>",
      "public": "<my-public-path>",
      "ignore": [
        "firebase.json",
        "**/.*",
        "**/node_modules/**"
      ],
      "rewrites": [
        {
          "source": "**",
          "destination": "/index.html"
        },
        {

[2020-12-17 12:23] samtstern commented on #2773
@harrisonlo I'm not sure ... if you're seeing an issue with the types please raise that on the [firebase-js-sdk](https://github.com/firebase/firebase-js-sdk) repo and I'm sure they will take care of it!

[2020-12-17 12:28] samtstern commented on #2950
@KevsRepos the issue template asks for a bunch of information which we need for debugging:
https://github.com/firebase/firebase-tools/blob/master/.github/ISSUE_TEMPLATE/bug_report.md

For example:

- What platform are you running on?
- What version of the CLI are you using?
- Is there anything in the debug logs?

[2020-12-17 12:33] gawen opened #2951 "`firebase deploy --only hosting` with rewrites to Cloud Run fails with "Error: HTTP Error: 400, Precondition check failed.""
### [REQUIRED] Environment info

**firebase-tools:** 9.0.1

**Platform:** macOS

### [REQUIRED] Test case

1. Deploy a Cloud Run service named `some-cloud-run-service`.
2. Have a `firebase.json` with `hosting.rewrites` items to a Cloud Run

[code]

3. Deploy

[code]

### [REQUIRED] Steps to reproduce

See section "Test case"

### [REQUIRED] Expected behavior

Deploy is successful.

### [REQUIRED]

[2020-12-17 12:33] gawen commented on #2951
May be a duplicate of https://github.com/firebase/firebase-tools/issues/2949.

[2020-12-17 12:34] gawen commented on #2949
I'm having the same issue. I filled an issue before seeing this one. https://github.com/firebase/firebase-tools/issues/2951

[2020-12-17 13:37] nelson-vendoo commented on #2949
Having the same issue `firebase-tools@9.0.1` from yesterday afternoon
[code]

[2020-12-17 13:43] jwoyo commented on #2949
This is not the first time hosting rewrites suddenly break. Last time (in august) we had this issue with Cloud Run services in some specific regions. Firebase Support resolved this by doing a rollback back then (case number: 00080862)

This happens on 9.0.1 and in older versions why I don't think this is an issue with firebase-tools. I will open a ticket at Firebase Support again.

[2020-12-17 14:01] Jblew commented on #2951
I can confirm, I have exactly the same issue. Multiple deployments with rewrites that were working today do not work now

[2020-12-17 14:02] samtstern commented on #2951
@gawen this looks like a duplicate of #2949, going to close this one to centralize the discussion.  When the San Francisco team wakes up they will look into it.

[2020-12-17 14:02] #2951 closed

[2020-12-17 14:11] jmaguirrei commented on #2949
Also having same issue here.
If I remove rewrites rule:

[code]
Deployment works, but clearly not an option.
Also opened a support case 00105255

[2020-12-17 14:21] jwoyo commented on #2949
@jmaguirrei – yep – deployments work with no rewrites.

For us this means that the next deployment to our prod. environment will break functionality. 🙄

For me that means: end of working day 🏝

[2020-12-17 14:29] kurtinge commented on #2949
We are experiencing the same issue when deploying and having rewrite towards region "europe-west1".

[2020-12-17 14:40] lucasbstn commented on #2949
Same issue here with rewrites to "europe-west1".

[2020-12-17 14:55] abernier commented on #2949
confirming, same issue also here, with `"rewrites"` and `"region": "europe-west1"`

[2020-12-17 15:21] PawFV opened #2953 "Emulators fail request to cloud-firestore-emulator-v1.11.11.jar"
### Environment info

**firebase-tools:** 9.0.1

**Platform:** Windows 10, node v12

### Description

Runing emulators ui fails attempting to make a request to: **https://storage.googleapis.com/firebase-preview-drop/emulator/cloud-firestore-emulator-v1.11.11.jar**

#### Logs:
[code]

### Expected behavior
Running firebase locally after updating to 9.0.1 from 8.2

### Actual behavior

Fails at down

[2020-12-17 16:13] mbleigh commented on #2949
Hey folks, we're seeing an issue specifically with deploying Cloud Run rewrites to Firebase Hosting at the moment. I'm working on getting something posted to the Firebase status dashboard (I'll link when it's there) but just acknowledging a problem that we're looking into.

[2020-12-17 17:27] mbleigh commented on #2949
This should be fully mitigated within the next 10 minutes or so. Sorry for the inconvenience, folks. If you're having issues after that, please comment!

[2020-12-17 17:27] #2949 closed

[2020-12-17 18:03] jmaguirrei commented on #2949
@mbleigh Thanks very very very much for addressing this, it works for me know!

[2020-12-17 18:04] jwanglof commented on #2949
Works for me as well 👍

[2020-12-17 19:19] abernier commented on #2949
woooorking 👏

[2020-12-17 23:22] gavingolden opened #2954 "Functions emulator still runs with "firebase emulators:start" after being uninstalled"
### [REQUIRED] Environment info

**firebase-tools:** v9.0.1

**Platform:** macOS

### [REQUIRED] Test case

https://github.com/gavingolden/firebase-emulator-uninstall-bug

### [REQUIRED] Steps to reproduce

[code]

### [REQUIRED] Expected behavior

I would expect "functions" to not start after removing the "functions" emulator configuration from `firebase.json`

### [REQUIRED] Actual behavior

[co

[2020-12-18 00:52] yasutak-k commented on #2949
@mbleigh It worked for me too. I appreciate your help!

[2020-12-18 01:17] raseminiano00 commented on #406
I'm getting an error on when running this firebase CI command
`firebase functions:config:set foo='{"bar":"something","faz":"other"}'`

The error was
`Error: Invalid argument, each config value must have a 2-part key (e.g. foo.bar).`

[2020-12-18 02:12] #2749 closed

[2020-12-18 07:28] denkan commented on #406
@sloosh

For example, in one simpler project I deploy changes to Firebase manually (to a project for dev environment) and I have following in package.json:
[code]

So whenever I want to deploy changes in my functions to my dev project in Firebase, I use:
[code]

The `deploy:dev:functions` command will first set the variables to the server, using `npm run config:set:dev` - and then run the deployme

[2020-12-18 07:30] denkan commented on #406
You need to rewrite the json into single props, as:
[code]

[2020-12-18 07:42] raseminiano00 commented on #406
The work around I found on this
`firebase functions:config:set foo='{"bar":"something","faz":"other"}'`

is
`firebase functions:config:set foo.bar='{"faz":"something","qux":"other"}'`

is there any way I can set it directly to 'foo'?

[2020-12-18 07:55] denkan commented on #406
@raseminiano00

No.
Not by using the CLI out of the box, afaik.
You need tricks - some specified in this thread.

[2020-12-18 14:07] seanburlington commented on #2027
I just caught this issue in staging

It's great that the issues list here is so open with clear responses from the dev team - that really saves me time because I now know exactly what this issue is

It would be great if it was documented here https://firebase.google.com/docs/emulator-suite/connect_firestore

[2020-12-18 14:21] alekseykarpenko commented on #2197
@zanona Thx for your update, it helped and saved time for me

[2020-12-18 16:23] rgant commented on #406
Did that change? Because I have been doing this for months:

[code]

[2020-12-18 19:09] polymer-coder opened #2956 ""ERROR: build step 5 "us.gcr.io/fn-img/buildpacks/nodejs10/builder:nodejs10_20201201_20_RC00" failed: step exited with non-zero status: 246""
It would seem that my functions are failing to build.

I checked the [status of Google Cloud Functions here](https://status.cloud.google.com/) to make sure there were no outages but for some reason my functions are no longer building. I'm on firebase-tools v9.0.1 but even up to this morning my functions were still building normally.

I've attached the logs from Google Cloud Console below.

[code]

[2020-12-18 21:50] Nomkid opened #2957 "web app not using emulators"
### [REQUIRED] Environment info

**firebase-tools:** 9.0.1

**Platform:** Windows

### [REQUIRED] Test case

### [REQUIRED] Steps to reproduce

1. Try to use firebase emulators with `?useEmulator=true` or `.useEmulator()`

### [REQUIRED] Expected behavior

1. It connects to auth and firestore emulators
2. It interfaces with those emulators

### [REQUIRED] Actual behavior

1. It connects to auth an

[2020-12-19 04:24] wuming2 commented on #155
In my case
I set http_proxy so I can login success but deploy fail.
error like `Firebase Error:Failed to make request https://firebase-public......`
So I use Proxifier work with my socks proxy as a Transparent proxy.
user Proxifier with shadowsocksx-ng-r8
Done!

[2020-12-19 14:42] xiaojianli opened #2958 "firebase deploy Error"
[code]

-------------------------------------------

This problem occurred after upgrading to 9.0.1

but < firebase projects:list > is ok

[2020-12-19 20:28] kaiserschmarrn0 commented on #2067
clever way to bring down the max allowed get calls if i do say so myself

[2020-12-19 22:13] sapardo10 commented on #2392
I just created the template project for firebase functions and ran into the same problem. The thing for me was that I didn't know you require to transpile TS to JS before running the emulator, so, before running:
`firebase emulators:start`
You should run:
`npm run build`

I hope this helped someone :P

[2020-12-20 10:37] hanguokai commented on #2927
I also encountered hosting deployment issue. In my test, I go back to the v8.16.2 version and there is no problem, but from v8.17.0 version, it has this issue. This issue may be related to network proxy.

Below is error details:
[code]

[2020-12-20 14:58] jamesncl opened #2959 "Emulator UI can't find firebase when served on 0.0.0.0"
I'm using:

- firebase-tools **v9.0.1**
- on **Windows 10**
- using **NVM for Windows v1.1.7**
- with **Node v14.15.2.**

I'm developing a Flutter app with firebase back-end, and want to test using firebase emulators running on my dev machine, and a real device running the flutter app. To achieve this I'm specifying 0.0.0.0 as the host for firebase and cloud functions in my firebase.json so that m

[2020-12-20 19:16] sks4903440 commented on #2927
Faced the same issue while deleting a lot of files. Downgrading firebase to version 8.15.0 worked.

[2020-12-20 19:37] wiegell opened #2960 "Firestore emulator not opdating debug statements in rules"
### [REQUIRED] Environment info

**firebase-tools:** firebase v8.9.2

**Platform:** macOS 10.15.4

### [REQUIRED] Test case

Tbh, it's too much of an effort for me to create a whole new project, new testing setup, etc. I suspect the devs here are way faster at recreating such example.

### [REQUIRED] Steps to reproduce

- Setup firestore emulator
- Ref to rules in firestore.json
- In the rules mak

[2020-12-21 03:35] gaishimo opened #2961 "429 error response (Recaptcha Html Page) on functions deploy"
When I run a lot of firebase deploys (functions) in a short period of time, I get the error message "Error: Could not read source directory. Remove links and shortcuts and try again". But it seems that this is not because source directory but because Google checks unusual traffic. I get an HTML page response, but I can't deal with it because I am accessing it through the CLI.

### Environment info

[2020-12-21 09:38] khagesh commented on #2927
@mbleigh Here is the output for curl command

[code]

This is the output when I try to connect from India. However, when I connect to a VPN and selected a US server, then this url seems to work fine. Here is `curl` output using US servers on a VPN

[code]

I have got the expected output. Now, I can reverse proxy this url to return expected output. However, I would suggest building a fallback in co

[2020-12-21 09:53] hanguokai commented on #2927
As @khagesh also confirmed this issue related to network and @sks4903440 also confirmed it is ok for an old version of firebase cli.

So I guess this is a regression issue. #155 is related to proxy problem in firebase cli, and it was fixed 2 years ago. Now, since 8.17.0, this problem reappeared again.

[2020-12-21 10:57] samtstern commented on #2956
@polymer-coder seems like this error is coming from the Cloud Functions backend, which means your best bet is to file this with Firebase Support so they can follow up with the right engineers:
https://firebase.google.com/support

[2020-12-21 10:57] #2956 closed

[2020-12-21 11:14] samtstern commented on #2749
For anyone waiting for this feature it will be included in the _next_ release of `firebase-tools`!

[2020-12-21 11:28] samtstern commented on #2960
@wiegell please follow the issue template when filing an issue, this is not enough information to debug. Can you explain more clearly what happened, what you expected to happen, and how we can reproduce it?

[2020-12-21 11:31] samtstern commented on #2958
@xiaojianli please follow the issue template when filing issues. Could you show more of the debug logs? Specifically the part you omitted with `...` should contain the HTTP response code for the failed request.

Also can you confirm the latest version of the CLI that does *not* have this problem?

[2020-12-21 11:33] samtstern commented on #2957
@Nomkid can you show some code and logs to help us reproduce this? Specifically I'd like to see:

- What version of the Firebase JS SDK are you using?
- Are there any interesting debug or error logs?
- How are you calling `initializeApp()`?
- Which call in your app still connects to production?

[2020-12-21 11:38] samtstern commented on #2954
@gavingolden the functions emulator runs when you call `emulators:start` if one of two things is true:

1. You have `emulators.functions` defined in your `firebase.json`
1. The CLI detects Functions source code. This can happen one of two ways:
  a. You have a `functions/package.json` file in your Firebase project directory
  b. You have `functions.source` defined in your `firebase.json` file

Ple

[2020-12-21 11:38] #2954 closed

[2020-12-21 11:39] samtstern commented on #2958
Actually this is almost certainly the same as https://github.com/firebase/firebase-tools/issues/2927 let's consolidate the discussion there.

[2020-12-21 11:39] #2958 closed

[2020-12-21 11:46] samtstern commented on #2953
@PawFV I'm not familiar with what `ELIFECYCLE` means but this StackOverflow post suggests you may want to try running the command as an Administrator. It may be a permissions error with downloading the Emulator JAR.
https://stackoverflow.com/questions/30744964/what-does-the-elifecycle-node-js-error-mean/40377737

Also can you confirm that you're able to access this link from your web browser?
http

[2020-12-21 11:48] samtstern commented on #1036
This is fixed by this PR:
https://github.com/firebase/firebase-tools/pull/2938

[2020-12-21 11:48] #1036 closed

[2020-12-21 11:49] samtstern commented on #1102
Cleaning up some old issues, we've recently cleaned up this part of the docs:
https://github.com/firebase/firebase-tools#using-as-a-module

[2020-12-21 11:49] #1102 closed

[2020-12-21 11:51] samtstern commented on #1992
This is no longer an issue, here's the output you get today:
[code]

[2020-12-21 11:51] #1992 closed

[2020-12-21 12:02] samtstern commented on #1084
FWIW recent changes to the `init firestore` error messages may make this issue less relevant:

- https://github.com/firebase/firebase-tools/pull/2271
- https://github.com/firebase/firebase-tools/pull/2300
- https://github.com/firebase/firebase-tools/pull/2432
- https://github.com/firebase/firebase-tools/pull/2564

[2020-12-21 17:17] yuchenshi commented on #2948
Which third-party identity provider are you signing in with? Would you mind trying the same thing in production and paste the idToken you get? Does the production token have `uid` in it?

For reference, `result.credential.idToken` is not the Firebase Auth idToken, but the idToken returned by the third-party identity provider (IDP), so the fields are defined by IDP and will NOT follow [`DecodedIdTo

[2020-12-21 17:32] mbleigh commented on #2927
### TL;DR: Downgrade to `8.15.0` as a workaround for the time being

Hi folks,

I think there is indeed a regression here. We have been migrating to a new HTTP library for core CLI functionality, and it looks like it might not support the `HTTP_PROXY` environment variable by default. Since it's around the holidays we are currently reducing our release schedule and might not be able to get this fix

[2020-12-21 18:24] yuchenshi commented on #2936
First, please note that your `projectId: 'my-app-name'` in Admin SDK must match the project you're using for the emulator suite for this to work. When in doubt, start the emulator suite with `firebase emulators:start --project my-app-name` (where `my-app-name` matches your admin SDK config).

Second, please make sure you've called `firebase.auth().useEmulator('http://localhost:9099')` BEFORE you d

[2020-12-21 19:06] yuchenshi commented on #2749
Shipped in v9.1.0!

[2020-12-21 20:54] PawFV commented on #2953
Hello, for some reason when I opened it before making this post I got an error, it said the connection was not secure, but I wasn't sure to post it here.

The next day I tried it again and everything worked just fine.

Thanks for the support, it is fixed now.

[2020-12-21 22:08] samtstern commented on #2953
Thanks for following up!

[2020-12-21 22:08] #2953 closed

[2020-12-22 02:00] #2896 closed

[2020-12-22 07:40] charles-allen commented on #2365
@samtstern - In my case, I'm pretty sure that this error is the result of attempting to use a fake id (intentionally or accidentally). When I initialize with the same id as `firebase use`, everything works; when using a fake ID:
- ✓ Read/write works
- ✘ No data in Emulator UI
- ✘ No CF trigger console.log in shell (I didn't verify if they fire)
- ✘ Cannot auth from client SDK

Based on the docs an

[2020-12-22 08:06] charles-allen commented on #2889
@dave-k - Are you trying to call **callable functions** from **client-side code**?
I think you haven't configured the emulator in the clientside Firebase SDK ([see docs](https://firebase.google.com/docs/emulator-suite/connect_functions))
[code]

In our projects this line is conditional based on ENV:
[code]

[2020-12-22 08:19] charles-allen commented on #2874
Given that:
- The emulator only supports a single project at a time
- I've already manually initialized all my Admin SDK & Firebase SDK to use the emulator (via `process.env.xxx` or `useEmulator`)

**Why can't we completely ignore the project ID in emulator mode?**

[2020-12-22 09:07] johanbuys commented on #2847
Hi,
An update from my side, after updating firebase-tools the ```onCreate``` function is firing again.

Also one thing to note is that firebase-ui is not compatible with the auth emulator the firebase-ui team is still working on getting it to work. When using Firebase-ui it will send all comms to the configured project directly.

**NB:** _So when you use firebase-ui all auth requests will bypass t

[2020-12-22 10:24] wiegell commented on #2960
@samtstern

Please see updated post, hope this is sufficient.

[2020-12-22 10:59] shivgodi7 commented on #764
This is what I get with I do console.log(handler);
"
function () { [native code] }
"
This does seem like a valid function, but I still still get the error as below:
TypeError: handler is not a function at cloudFunction (/srv/node_modules/firebase-functions/lib/providers/https.js

Will greatly appreciate if you a fix for this. Thanks !

[2020-12-22 11:40] samtstern commented on #2874
@charles-allen what do you mean by "completely ignore the project ID"?

[2020-12-22 11:41] samtstern commented on #2365
@charles-allen you've got it exactly right.  A fake project ID will allow database writes but not much else.  If you want to start the Emulator Suite with a fake project ID just do this:

[code]

[2020-12-22 13:58] samtstern commented on #2960
@wiegell thank you!  That is much clearer

[2020-12-22 15:57] 0100101101001011 commented on #2927
Downgrading firebase tools to 8.15.0 `npm i -g firebase-tools@8.15.0` does solve this problem for now. Thanks!

[2020-12-22 16:27] samtstern commented on #2960
@wiegell I am not able to reproduce this.  Here is my setup.

public/index.html
[code]

firestore.rules
[code]

Now here's what I did:

1. Start the Firestore and Hosting emulators
2. Load the index page, causing a write to Firestore
3. In my rules change `true` to `debug(true)`
4. Repeat Step 2

Here are the `firestore-debug.log` contents:
[code]

You can see for the request at `4:24:48` there is

[2020-12-22 16:39] wiegell commented on #2960
What firebase tools version is the emulator running? And one difference is, that i'm not serving to localhost but 0.0.0.0.

[2020-12-22 16:54] samtstern commented on #2960
Im running the latest 9.1.0 version and I don’t think the host matters but
you can try that!

On Tue, Dec 22, 2020 at 4:39 PM wiegell <notifications@github.com> wrote:

[2020-12-22 16:56] samtstern commented on #2960
Since I was not able to reproduce this if you want us to look into it further please provide a MVCE:
https://stackoverflow.com/help/minimal-reproducible-example

[2020-12-22 17:03] wiegell commented on #2960
Strange, i'll get back to you

[2020-12-22 17:05] samtstern commented on #2027
@seanburlington that's a good idea I'll get it documented

[2020-12-22 17:13] charles-allen commented on #2365
Thanks! That was the missing piece of the puzzle.

Can I suggest (or even PR) to add the above to the [docs here](https://firebase.google.com/docs/emulator-suite/connect_firestore#admin_sdks) (where it mentions setting the fake project ID; since the snipper only shows the Admin SDK side, which doesn't fully work without the above).

I actually [Googled quickly](https://www.google.com/search?q=fire

[2020-12-22 17:15] samtstern commented on #2365
@charles-allen I wish we could accept a docs PR but we're not open source yet, I will get to work on a clarification!

[2020-12-22 17:26] charles-allen commented on #2874
I mean that I'm already required to explicitly initialize the SDKs in emulator mode:
[code]

And by default the emulator automatically takes the active project from `firebase use`; so why can't my calls just be directed to that project, irrespective of my config (given that I've made it clear I want to use the emulator).

I suspect this logic fails because my first assumption is wrong, and that so

[2020-12-22 17:39] samtstern commented on #2874
@charles-allen I agree this is super confusing and there's a fundamental mismatch at the center which makes it tricky to solve.

(1) The individual service emulators (Firestore, RTDB, Functions, etc) which make up the Emulator Suite run as their own processes and emulate the production services.  In most cases the Project ID is part of the request and just like the production service these emulato

[2020-12-22 18:10] charles-allen commented on #2874
It definitely makes more sense once you know a bit about how the emulator works :) Thanks for your help!

Some feedback based on my experience:
- I think it's non-intuitive for the emulator to default to a production project ID
- As suggested in another thread, `--project` is not well-documented as yet
- It seems unnecessarily complex (though I'm sure there is a reason) to have 2 different ways to

[2020-12-23 07:51] gvelesandro commented on #2770
I'm experiencing the same issue as described above, _even_ with my express server running inside of the Firebase Functions emulator.

[2020-12-23 11:55] samtstern commented on #2874
@charles-allen thank you for the detailed feedback!  Those are all good points and I will share them with the team.  There's one I want to comment on:

There are two main reasons why we chose to go this route rather than using some fake project id "foo-bar-baz-123":

1. **Access to non-emulated services** - right now we only emulate 4 of the ~20 services Firebase offers. When your app tries to acc

[2020-12-23 18:58] mancku commented on #2953
Hi @samtstern,

I just had the same issue, and can confirm that after getting the error a couple of times,  I found that issue, followed your instructions, tried to open https://storage.googleapis.com/firebase-preview-drop/emulator/cloud-firestore-emulator-v1.11.11.jar from the browser, and I got an alert because apparently my connection was insecure. Closed the browser tab, opened it again and th

[2020-12-23 22:42] jhuleatt commented on #2763
Maybe we just add a special error message if the github oauth step doesn't work? Something like:

[code]

[2020-12-24 18:17] nicoburns commented on #2764
@samtstern Couldn't this be as simple as checking for the presence of the `FIREBASE_AUTH_EMULATOR_HOST` environment variable? If you are using the auth emulator then it is safe to assume that you're not running in production (or you already have some very serious security issues).

[2020-12-24 21:00] bkeil opened #2965 "Hosting emulator uses a different RTDB instance from Functions and Database emulators."
### [REQUIRED] Environment info

**firebase-tools:**
9.1.0

**Platform:** Raspbian
Linux raspberrypi 5.4.79-v7l+

### [REQUIRED] Test case

functions/index.js

[code]

public/index.html
[database-debug.log](https://github.com/firebase/firebase-tools/files/5740506/database-debug.log)
[firebase-debug.log](https://github.com/firebase/firebase-tools/files/5740507/firebase-debug.log)
[pubsub-debug.log]

[2020-12-24 21:05] bkeil commented on #2965
The debug logs ended up in the middle of the ticket somehow.... They're in the **Test case** section, repeated here:

<p><a href="https://github.com/firebase/firebase-tools/files/5740506/database-debug.log">database-debug.log</a><br>
<a href="https://github.com/firebase/firebase-tools/files/5740507/firebase-debug.log">firebase-debug.log</a><br>
<a href="https://github.com/firebase/firebase-tools/f

[2020-12-24 23:11] letsgamedotdev opened #2966 "Firebase Emulator initialization URL given for module grouped firebase functions hangs and requires modification to work."
### [REQUIRED] Environment info

**firebase-tools:** Firebase 9.1.0

**Platform:** Windows

### [REQUIRED] Test case

[code]

[code]

In firebase CLI
[code]

Going to `http://localhost:5001/letsplaydotdev/us-central1/auth.isAdmin` hangs and never responds. Going to `http://localhost:5001/letsplaydotdev/us-central1/auth-isAdmin` does establish connection.

### [REQUIRED] Steps to reproduce

Create

[2020-12-25 14:49] Bakavani opened #2967 "After updaiting my firebase tools (8.19.0), --import of database doesnt allow database modification"
### [REQUIRED] Environment info

**firebase-tools:** 8.19.0

**Platform:** Windows 10

### [REQUIRED] Test case
If I start firebase emulator with

firebase emulators:start --import <pathToMyDB>
After upgrade I'm not able to modify the db either with web interface or from the app (android app), it gets reset automatically to the stored exported files.

### [REQUIRED] Steps to reproduce
start fireba

[2020-12-25 18:40] manwithsteelnerves commented on #1148
This happens when large folders are getting upload.
Just add an ignore block in firebase.json under functions block.

ex:
[code]

[2020-12-26 02:22] vajahath commented on #2948
Sorry for the delay. My identity provider was Google.
I was using `result.credential.idToken` instead of `result.user.getIdToken()`. That caused the issue. This issue can be closed now. Thanks @yuchenshi.

Actually no. I was looking at `result.credential.idToken` instead of `result.user.getIdToken()`.

[2020-12-26 02:22] #2948 closed

[2020-12-26 09:34] eyalbenivri opened #2968 "emulators export-on-exit hangs with jvm stack-traces"
### [REQUIRED] Environment info

**firebase-tools:**
[code]

**Platform:**
``` macOS Version 11.1```
### [REQUIRED] Test case

firebase.json contents:
[code]

### [REQUIRED] Steps to reproduce

Inside a project under development (as per [documentation](https://firebase.google.com/docs/emulator-suite/install_and_configure?hl=en)):
[code]
(Note that I've verified that the target folder exists and em

[2020-12-26 18:35] ithustle commented on #1532
Hi. Using 9.1.0 version and still the same

[2020-12-27 05:49] Anant101 opened #2969 "firebase 9.1.0 local emulator not picking up js files changes"
i am not using typescript ,
 so i don't have to compile any anything but when i make changes in the functions and save the
firebase emulators:start not picking up the changes
but firebase --debug emulators-start picks up the changes when i save it

[2020-12-27 15:09] dora1998 opened #2970 "functions cannot get user's User-Agent when you call it from hosting emulator by using rewrites"
### [REQUIRED] Environment info

**firebase-tools: 9.1.0**

**Platform: macOS**

### [REQUIRED] Test case

1. Create a project that uses hosting and functions.
2. Call a function from hosting by rewrites.
3. When you test on local emulator, the function cannot get user's User-Agent.

The reproducible sample is below.
https://github.com/dora1998/firebase-tools-ua-example

### [REQUIRED] Steps to re

[2020-12-27 15:49] AminTi opened #2971 "can`t run the serve"
[code]

### [REQUIRED] Environment info

**firebase-tools:**

**Platform:**

### [REQUIRED] Test case

### [REQUIRED] Steps to reproduce

### [REQUIRED] Expected behavior

### [REQUIRED] Actual behavior

[2020-12-27 18:37] oktemerbay commented on #1627
If you are on Windows Powershell , switch to Windows Command Line by typing cmd , and then firebase command should work.

[2020-12-27 19:12] SrBrahma commented on #2880
I am getting it when calling `auth().getUser(uid)` sometimes.

[2020-12-27 19:40] NerdGr8 commented on #1109
The issue can also occur when you have an outdated version of Node.js

[2020-12-27 22:42] omlifeapp opened #2973 "Emulator createSessionCookie problem"
### [REQUIRED] Environment info

**firebase-tools:**

**Platform:**

### [REQUIRED] Test case

### [REQUIRED] Steps to reproduce

### [REQUIRED] Expected behavior

### [REQUIRED] Actual behavior

Auth emulator problem when signIn with web sdk and the pass the idtoken to the admin sdk.

FirebaseAuthError: An internal error has occurred. Raw server response: "{"error":{"code":400,"message":"Invalid

[2020-12-28 01:02] exKAZUu opened #2974 "exegesis and winston-transport are missing in dependencies (for yarn berry)"
`firebase-tools` requires `exegesis` and `winston-transport`, but they are not listed in `dependencies`.
This lack causes errors in the latest yarn (berry) though other package managers don't complain.

Here are locations where require statements exist.

- https://github.com/firebase/firebase-tools/blob/master/src/emulator/auth/errors.ts#L1
- https://github.com/firebase/firebase-tools/blob/master/

[2020-12-28 01:17] neekey commented on #2570
any update to solve this issue yet?

[2020-12-28 02:00] #2895 closed

[2020-12-28 02:22] JSmithOner opened #2976 "Port 8080 is not open on localhost, could not start Firestore Emulator."
### [REQUIRED] Environment info

**firebase-tools:**
v 9.1.0

**Platform:**
MacOS Catalina 10.15.5
### [REQUIRED] Test case

unable to reproduce case
### [REQUIRED] Steps to reproduce

 run -> firebase emulators:start
### [REQUIRED] Expected behavior
 emulators should start as I can't find any process running on port 8080

### [REQUIRED] Actual behavior
Just after running ESET antivirus scan probl

[2020-12-28 10:35] #2974 closed

[2020-12-28 10:37] samtstern commented on #2976
@JSmithOner what happens if you try to see what's running on port 8080 by running `curl http://localhost:8080` or something similar?  Do you get any response?

Also if you follow the advice of the error message and change the Firestore emulator port in your `firebase.json` to something else (try `8081`) are you able to start the emulators?

[2020-12-28 10:39] samtstern commented on #2973
@omlifeapp please fill out the issue template when filing an issue, we can't help you without more information.  Based on the limited error message you provided I think this is a duplicate of this issue:
https://github.com/firebase/firebase-admin-node/issues/1084

please follow along there.

[2020-12-28 10:39] #2973 closed

[2020-12-28 10:41] samtstern commented on #2971
@AminTi Please use the issue template when filing issues. There is no error present in the logs you shared everything looks to be working correctly.  Since you did not fill out any of the required information and there's no evidence of an error, I am going to close this issue.

[2020-12-28 10:41] #2971 closed

[2020-12-28 10:44] samtstern commented on #2969
@Anant101 please use the issue template when filing an issue, this is not enough information to help you debug:
https://github.com/firebase/firebase-tools/blob/master/.github/ISSUE_TEMPLATE/bug_report.md

[2020-12-28 11:35] samtstern commented on #2764
@nicoburns we use the presence of that environment variable to redirect any outbound HTTP requests the Admin SDK makes to the Auth API.  However verifying ID Tokens and creating session cookies are mostly local operations that do not touch the Auth API.  So changing how they work just based on the presence of an env var would create the possibility of someone remotely short-circuiting your Admin s

[2020-12-28 12:33] samtstern commented on #2967
@Bakavani I am not able to reproduce this, here's what I tried:

1. Start in an empty directory
2. Run `firebase init` and select "Database" and "Emulators"
3. Run `firebase emulators:start --export-on-exit=./data` and start the emulators
4. In the Emulator UI for Realtime Database create some simple data
5. Exit the emulators
6. Start the emulators again with `firebase emulators:start --import=./

[2020-12-28 15:06] samtstern commented on #2966
@letsgamedotdev thanks for reporting this!  That seems like a clear bug, I'll get a fix together.

[2020-12-28 16:48] samtstern commented on #2965
@bkeil thank you for reporting this and for the excellent reproduction steps.  I can confirm this issue and it's actually a problem in the Functions emulator, where we are making the assumption that your Database URL is "https://<PROJECT-ID>.firebaseio.com" which is no longer a safe assumption now that we no longer create a default namespace on project creation!

[2020-12-28 16:59] wooliet opened #2978 "Functions emulator triggers on delete of document that does not exist"
### [REQUIRED] Environment info

**firebase-tools:** 9.1.0

**Platform:** macOS

### [REQUIRED] Test case

A. Cloud function set to trigger on document "write" events:
[code]

B. Code that deletes a document to trigger `onDocWrite`
[code]

### [REQUIRED] Steps to reproduce

1. Create the `onDocWrite` firestore cloud function and deploy to production environment
2. Manually add a new document to _t

[2020-12-28 19:53] bkeil commented on #2965
@samtstern Wow!  That's amazing!  Thank you for this fix!

[2020-12-28 19:55] #2965 closed

[2020-12-29 01:55] jthegedus commented on #1409
@samtstern Yes, JSON Schema is the most standard way to support autocomplete in editors. IntelliJ uses this by default and VSCode can have support added by individual extensions as @george43g shows or by using popular plugins like the [RedHat YAML](https://marketplace.visualstudio.com/items?itemName=redhat.vscode-yaml) plugin which pulls from JSON Schema store and provides both YAML and JSON autoc

[2020-12-29 03:00] JSmithOner commented on #2976
I've finally was able to make it work back again I think ESET is creating some kind of "invisble" proxy that messed everything up

running `sudo lsof -i tcp:8080` was unable to show me any response at first then tried back after running eclipse on port 8080 then got

[code]

at this point a simple turning off web access protection in ESET, running `kill -9 22143` then `firebase emulators:start` re

[2020-12-29 09:27] samtstern commented on #2976
That's great thanks for following up!

[2020-12-29 09:27] #2976 closed

[2020-12-29 09:54] dunyakirkali commented on #2452
Any progress on this issue?

[2020-12-29 10:28] WdsFomenko commented on #1483
Same problem with firebase-tools@9.1.0

[2020-12-29 15:23] samtstern commented on #2970
@dora1998 thanks for reporting this! Seems like a clear bug in our new `apiv2` code.

[2020-12-29 15:26] samtstern commented on #2968
Ok this seems like a bug in the Realtime Database emulator, here is the important part of the debug logs:
[code]

[2020-12-29 15:27] samtstern commented on #2968
@eyalbenivri does this depend on what data you have in your Realtime Database when you export it?

[2020-12-29 16:27] samtstern opened #2981 "firebase init database does not work without a project ID"
### [REQUIRED] Environment info

**firebase-tools:** 9.1.0
**Platform:** macOS

### [REQUIRED] Test case

Run `firebase init` and defer project selection:
[code]

### [REQUIRED] Steps to reproduce

See above

### [REQUIRED] Expected behavior

The `firebase int` flow should skip API enablement when there is no project ID and just set up local default rules/config.

### [REQUIRED] Actual behavior

F

[2020-12-29 20:04] IanWyszynski commented on #2968
How is the database emulator being started in this example?

I don't see an entry for it in the provided `firebase.json`, nor do I see this log statement:

https://github.com/firebase/firebase-tools/blob/master/src/emulator/downloadableEmulators.ts#L418

in the debug logs. FWIW, I tried running:

[code]

where `./functions/.emulator-data/` is an empty directory, and the emulated database instance

[2020-12-30 01:27] jsmusgrave opened #2982 "emulator events missing properties"
### [REQUIRED] Environment info

**firebase-tools:**
9.1.0

**Platform:**

MacOS Catalina
10.15.7

### [REQUIRED] Test case

[code]

### [REQUIRED] Steps to reproduce
Create a user.
Observe the log to see the context which contains no timestamp.

### [REQUIRED] Expected behavior

Expected to see timestamp and eventId properties on the context provided when a user is created.
Base upon: https://fir

[2020-12-30 10:31] samtstern commented on #2982
@jsmusgrave thank you for reporting, this looks like it's a duplicate of https://github.com/firebase/firebase-tools/issues/2752 so  let's just track it there.

[2020-12-30 10:31] #2982 closed

[2020-12-30 11:17] bradleymackey opened #2983 "Firestore Emulator Security Rules 'get', 'exists' not finding existing documents"
### [REQUIRED] Environment info

**firebase-tools:** 9.1.0

**Platform:** macOS 11.1 x86_64

### [REQUIRED] Test case

[code]

Connect to Firestore emulator and add a document to `test/toms-profile`.
The read to `test/my-profile` will fail by a **non-admin** user, because the emulator does not detect the newly added document.

### [REQUIRED] Steps to reproduce

See example above.

### [REQUIRED] E

[2020-12-30 11:38] bradleymackey commented on #2983
I figured it out - I was using the a `initializeAdminApp` to add data to the database, which cannot be discovered by test instances created with `initializeTestApp`. This is a bit of a hairy corner and I will adjust this issue accordingly.

[2020-12-30 11:39] samtstern commented on #2983
@bradleymackey that's not quite true, `initializeAdminApp` and `initializeTestApp` can certainly talk to the same database and populate data that the others can see ... just make sure the `projectId` fields match otherwise you're talking to two separate databases!

[2020-12-30 11:45] bradleymackey commented on #2983
You're 100% correct - it was some stupid misconfiguration on my end. Thanks a lot for the help.

[2020-12-30 11:45] #2983 closed

[2020-12-30 11:54] samtstern commented on #2978
@wooliet good catch and thank you for the detailed issue!  I can confirm this:

Functions code:
[code]

Logs:
[code]

[2020-12-30 11:55] samtstern commented on #2978
Assigning to @yuchenshi who is on call for emulator issues this week.

[2020-12-30 12:20] samtstern commented on #753
@CambridgeAlgoRD that sounds like a new bug and not the central issue here (which is about `shell` support) so do you mind opening a new issue with all the steps to reproduce?

[2020-12-30 12:26] #2966 closed

[2020-12-30 12:41] samtstern commented on #1862
Ok I finally got around to taking another look at this one.  Here's the function I wrote to reproduce:

[code]

When called locally I get these responses:
[code]

[code]

When I call the function in production I get:

[code]
[code]

So it looks like `url` is correct but `baseUrl` and `originalUrl` both contain an unnecessary prefix of `/ota-fir-dumpster/us-central1/app` ... I'll look at how to rem

[2020-12-30 18:07] SamLoy commented on #2606
Has anyone explored the idea of querying the Functions API for a checksum for the function? Then using the function's hash, calculate if the local version has changed and only upload modified functions.

If a hash isn't available, then perhaps the functions API might have something similar perhaps?

I know this wouldn't fix the main issue raised in the ticket here, but for me I think a process whi

[2020-12-30 18:34] yuchenshi commented on #2978
This seems like a bug in Firestore emulator. I've filed b/176544363 internally to track this.

[2020-12-31 01:15] joelclimbsthings opened #2985 "Error thrown when due to failure to use import() for es6 modules with node v14 (beta)"
### [REQUIRED] Environment info

**firebase-tools: 9.10.0**

**Platform: Ubuntu**

### [REQUIRED] Test case

Provided a small PoC repo here: https://github.com/joelclimbsthings/firebase-tools-es6-modules-issue

Basically, it's just a basic project with the "engine" set to `14` and trying to deploy.

### [REQUIRED] Steps to reproduce
Check out this repo: https://github.com/joelclimbsthings/firebase

[2020-12-31 02:00] #2950 closed

[2020-12-31 04:47] TDAK1509 commented on #2749
Thanks, you saved my life!

[2020-12-31 06:10] qbolt commented on #1738
Just started using firebase and loving it so far. Only big pain-point for me so far is no storage emulator. :(

Hoping to see it soon!

[2020-12-31 06:19] deepalwin commented on #2957
I am facing the same issue, I am trying to use auth service in emulators with SDK - firebase.auth().useEmulator('http://localhost:9099/');

It does recognize the command and It does not work the way it should. Is there any more configuration that is required? Can you tell me the config variables (like API key etc) that should be used while using local emulators?  This is a serious issue with fireb

[2020-12-31 10:03] eyalbenivri commented on #2968
Hi - sorry for the late reply
@samtstern -
1. Good hunch - I stopped happening after ai removed the "database" entry since I don't actually use it.
2. no - this happens regardless of which data I save.

@IanWyszynski - The rules are the default dev rules

I should also point out that this originally started with firebase-tools version 9.0.1, but in an effort to see if the bug was already taken car

[2020-12-31 11:06] samtstern commented on #2957
@deepalwin when using the emulators (via `useEmulator`) the only important part of your `firebase.initializeApp(config)` is the Project ID.  Make sure this Project ID matches the one you're using with the Firebase CLI.

If you want to be sure, you can pass the `--project=` flag:
[code]

[2020-12-31 11:33] samtstern commented on #2985
@joelclimbsthings thanks for the clear reproduction! I was able to reproduce your issue and I noticed that it only hapens when `"type": "module"` is declared in `package.json`.

[2020-12-31 11:45] samtstern commented on #2985
@mbleigh @bkendall @abeisgoat any idea what we can do about this?  I tried to experiment with reading the `type` field of the `package.json` and then using `import()` instead of `require()` but because our `tsconfig.json` specifies `module: "commonjs"` the `import` call gets compiled down to a `require` call by TypeScript.

Is the answer just that we don't support ES6 modules?

[2020-12-31 13:54] Joebayld commented on #2749
Hey there @samtstern. Thanks for this info.

I know that the Auth state is now preserved in the emulator data, but now that I have this fancy setup script I'd like to still use it. Something I've noticed though is your method for disabling triggers doesn't seem to apply to Auth triggers such as `functions.auth.user().onCreate`. It works in disabling Firestore triggers when documents are created, d

[2020-12-31 13:59] samtstern commented on #2749
@Joebayld nope that sounds like a bug to me!  But I can already in my head see why that went wrong :-) I'll get a fix together.

[2020-12-31 13:59] deepalwin commented on #2957
@samtstern the project ID is the same that is available on firestore cloud? Coz there is no option to create a new project using CLI in emualtors.

[2020-12-31 14:16] Joebayld commented on #2749
@samtstern Couple things to note with that bug. It does indicate the functions are disabled in the CLI but they just aren't. The other fun part I found is that for each time you call `http://localhost:4400/functions/enableBackgroundTriggers`, it causes triggers to fire multiple times instead of once.

This was after creating a single user after calling the HTTP method a handful of times.
<img widt

[2020-12-31 14:17] samtstern commented on #2957
@deepalwin yes that's correct just use your real project ID

[2020-12-31 14:35] samtstern commented on #2749
@Joebayld oh nice catch on the second issue!  I think both are fixed here:
https://github.com/firebase/firebase-tools/pull/2986

[2020-12-31 20:29] joelclimbsthings commented on #2985
Thanks for the prompt response, @samtstern ! Correct, the main reason I was giving v14 a spin with my functions was the support of es6 modules, and those are only supported within Node.js when `type: module` is declared. My main reason for giving v14 a spin was these modules, so that's basically my question as well; are they meant to be supported?

Thanks

[2021-01-01 06:35] dound commented on #2936
Sorry, I'll reply shortly after trying Yu's suggestion.

[2021-01-01 22:52] danielpox commented on #322
I’m having errors with config:set. Can’t seem to figure out their expected syntax for environment variables.

I would expect `firebase functions:config:set my_var="foo bar"` to be written as something like `firebase.functions.config.set('my_var="foo bar"')`. But it fails to parse it, saying I didn’t provide a key=value pair, which I obviously did.

After debugging I found it loops though the argum

[2021-01-02 10:24] rohaanmd opened #2987 "Emulator for storage"
Emulator for storage

Please submit feature requests through our [support page](https://firebase.google.com/support/contact/bugs-features/).

[2021-01-02 16:23] LOG-TAG commented on #2051
@buzzware hopefully firebase hosting region available for all zones in 2020. they responded in FIrebase AMA.

[2021-01-02 19:52] xaphod opened #2988 "Errors deploying functions: Server Error. Client network socket disconnected before secure TLS connection was established"
### [REQUIRED] Environment info

**firebase-tools:** 9.1.0

**Platform:**  macOS 10.15.7 (catalina)

### [REQUIRED] Test case

Attempt to deploy a firebase project that has hosting, functions, firestore

### [REQUIRED] Steps to reproduce

firebase deploy

### [REQUIRED] Expected behavior

Deploys correctly

### [REQUIRED] Actual behavior

Fails with different error messages, mostly like
`⚠  functi

[2021-01-02 20:41] xaphod commented on #2988
Update: now i got an error with 8.16.2 too:
`Error: Could not read source directory. Remove links and shortcuts and try again.`

I just tried again and it worked the second time.
This unreliability is really unnerving when you're migrating between function versions and you have no idea what is actually in production when an error kills everything...

[2021-01-02 22:57] xaphod commented on #2988
Update #2: now I got `Server Error. Client network socket disconnected before secure TLS connection was established` again with 8.16.2, so this isn't a new issue I suppose.

But I still really need to get this working....

[2021-01-02 23:01] xaphod commented on #2988
Some debug logs...

[code]

[2021-01-03 04:28] xaphod commented on #2988
I am wondering if this is a problem with my internet service provider: when I use hotspot on my cell phone, this error doesn't seem to appear (but n=small, not sure if this is just luck).

Anyone else experiencing this issue?

[2021-01-04 06:58] aahventures commented on #2051
@LOG-TAG can you post a link to what you're referring to?

[2021-01-04 13:02] dstiers11 opened #2989 "Tool#"
Please submit feature requests through our [support page](https://firebase.google.com/support/contact/bugs-features/).

[2021-01-04 18:41] jirizavadil opened #2990 "Extremely long timeouting (pending) XHRs when more than one FES UI Firestore open"
### Environment info
**firebase-tools:** 9.1.0
**Platform:** MacOS 11.1
**Machine:** 3,3GHz Dual-Core Intel i7, 16GB, SSD
**Browser:** Google Chrome 87.0.4280.88 (Official Build) (x86_64)

### Test case
Not applicable

### Steps to reproduce
1. Run `firebase emulators:start --import=[DIR] --export-on-exit=[DIR]`
2. Open multiple tabs of Firestore in Firebase Emulator Suite UI
3. Call any firestore

[2021-01-05 02:00] #2889 closed

[2021-01-05 02:37] dstiers11 opened #2991 "License"
Please submit feature requests through our [support page](https://firebase.google.com/support/contact/bugs-features/).

[2021-01-05 03:56] davinci-rf commented on #2003
The main problem is having the `hosting` value as an array.
If you set the hosting as an object instead, I think it will use that configuration for all hosting sites/targets.

e.g.
[code]

[2021-01-05 10:21] samtstern commented on #2991
Looks like this was opened by mistake?  The license is here:
https://github.com/firebase/firebase-tools/blob/master/LICENSE

[2021-01-05 10:21] #2991 closed

[2021-01-05 10:25] #2989 closed

[2021-01-05 10:26] samtstern commented on #2987
@rohaanmd this is a duplicate of https://github.com/firebase/firebase-tools/issues/1738, see the discussion there.

[2021-01-05 10:26] #2987 closed

[2021-01-05 11:17] samtstern commented on #2988
@xaphod I do think this could be an issue with your ISP.  I have run into the same issue on a few of my personal projects and I have only been able to solve it by attempting the deploy by SSHing into a Cloud VM (so a different internet connection).

However I think what we need to do is change the error message:
[code]

That's clearly not accurate.

[2021-01-05 11:20] samtstern commented on #2988
Let's consolidate this issue under a slightly earlier duplicate:
https://github.com/firebase/firebase-tools/issues/2961

[2021-01-05 11:22] samtstern commented on #2990
@strom2357 assigning to you since you're on call this week.  Can you try and replicate this issue and then determine if it's an issue in the Emulators UI or the Firestore emulator itself?

[2021-01-05 12:18] akbarbutt786 commented on #2269
Thanks

[2021-01-05 12:23] samtstern commented on #322
@danielpox hmmm I have some scripts which use the syntax you mentioned with no problems, for example:
https://github.com/firebase/oss-bot/blob/master/functions/src/scripts/deploy-config.ts#L86

So I do:
[code]

And it all works.  If you're still having this issue could you please put together a simple reproduction and open a new issue on this repo?
[code]

[2021-01-05 12:58] dbajaj-qasource commented on #2957
@samtstern Thanks for the useful information, However, I am still facing the issue. The error is Uncaught (in promise) TypeError: Cannot read property 'createUserWithEmailAndPassword' of undefined at data.

A post request is generated to a URL that contains my API Key and below is the response :

{
  "error": {
    "code": 404,
    "message": "Not Found",
    "errors": [
      {
        "message":

[2021-01-05 13:00] deepalwin commented on #2957
@samtstern Thanks for the useful information, However, I am still facing the issue. The error is Uncaught (in promise) TypeError: Cannot read property 'createUserWithEmailAndPassword' of undefined at data.

A post request is generated to a URL that contains my API Key and below is the response :

{
"error": {
"code": 404,
"message": "Not Found",
"errors": [
{
"message": "Not Found",
"reason": "not

[2021-01-05 13:21] samtstern commented on #2957
@deepalwin please open a new issue showing us how to reproduce your problem and providing any logs you have, sounds like there's a lot going on there and it's not related to @Nomkid 's issue

[2021-01-05 13:56] danielpox commented on #322
@samtstern I see. I tried running the CLI instead, and it turns out
1) I had the wrong key syntax, since it’s necessary to include a dot like so: `my_namespace.my_var="foo bar"`, and
2) I didn’t include the project id as an option either.

I found an option to run the CLI directly instead of as a module, as part of an npm script, but good to understand how the module syntax works. Thank you!

[2021-01-05 16:12] DaveMitten opened #2992 "Cannot run database locally."
### [REQUIRED] Environment info

**firebase-tools:**
firebase version: 8.18.0

**Platform:**
macOS

### [REQUIRED] Test case
[code]
### [REQUIRED] Steps to reproduce

All I have done is `npm run dev`
I am a little unsure how or what I need to display here to reproduce this issue. I did not write this code base and I am being handed bad code. It has been functioning correctly until recently and I c

[2021-01-05 16:53] StuStirling opened #2993 "Invalid value for config firebase.databaseURL: ...."
### [REQUIRED] Environment info

**firebase-tools:** 9.1.0

**Platform:** macOS

### [REQUIRED] Test case

1. Create a firebase project
2. Create a realtime database in region `Belgium (europe-west1) [beta]`

### [REQUIRED] Steps to reproduce

1. Using Firebase CLI, set the created firebase project as active project.
2. Attempt to deploy a firebase function to the default database or even specify

[2021-01-05 17:22] mbleigh opened #2994 "Support ES Modules for Node 14 functions"
Currently, it is not possible to use native ES Modules with Cloud Functions for Firebase in Node 14 due to how triggers are parsed from the code. Unfortunately, adding support is not trivial (or I would have done it when I added Node 14 support generally), but we'd like to do it in the future.

Please upvote this issue if it's important to you!

[2021-01-05 17:23] #2985 closed

[2021-01-05 17:30] samtstern commented on #2992
@DaveMitten can you check what version of Java you have on your machine? To do this run `java -version`.  For example:

[code]

[2021-01-05 17:58] #767 closed

[2021-01-05 17:58] #2782 closed

[2021-01-05 19:49] tiziano88 opened #2995 "error when installing firebase over slow connection: `OpenSSL SSL_read: Connection reset by peer, errno 104`, `Pkg: Error reading from file`"
### [REQUIRED] Environment info

**firebase-tools:**

**Platform:** Linux

### [REQUIRED] Test case

n/a

### [REQUIRED] Steps to reproduce

Running the following command

[code]

on linux machine with a slow connection, causes the download to be interrupted before the binary is completely downloaded. Nevertheless, the installer just continues installing the corrupted binary and showing the `All d

[2021-01-06 05:32] deepalwin commented on #2957
@samtstern Sure, But initially I had the same issue. I implemented the steps provided by you for example use of - "firebase --project="<your project id here>" emulators:start" command.

Once this was done my emulators got started (Both auth and hosting). I can see my application at 5000 and auth at 9099 localhosts but the auth emulator is not receiving my data as firebase auth.

[2021-01-06 10:15] itsravenous commented on #1256
Just a note to say that I arrived here after getting the `UNKNOWN 2` error when connecting firebase-admin to my local emulator (well, actually the error only occurs when attempting to interact with the emulator, e.g. create a document in Firestore). I was using the project ID suggested in [the documentation](https://firebase.google.com/docs/emulator-suite/connect_firestore#admin_sdks) (`YOUR_PROJE

[2021-01-06 10:28] DaveMitten commented on #2992
@samtstern this is what i have:
[code]

[2021-01-06 10:48] samtstern commented on #2995
@abeisgoat this might be hard to reproduce but maybe see if you can get this to happen?

[2021-01-06 10:53] samtstern commented on #2957
@deepalwin yeah I agree the high-level symptoms are the same but your mention of `createUserWithEmailAndPassword` not existing and a 404 issue lead me to believe the underlying cause is not related to what @Nomkid reported.

[2021-01-06 12:22] samtstern commented on #2992
@DaveMitten thanks for checking that, sounds like it's not a Java issue.  I don't see anywhere in the logs when the emulators actually start or shut down.

Can you run this command within the project and show me all of the output you get? The `npx` part is optional, depends if you have `firebase` installed globally or not.
[code]

Also I am a little surprised to see `firepit` (the standalone CLI)

[2021-01-06 15:48] DaveMitten commented on #2992
[code]

[2021-01-06 16:09] samtstern commented on #2992
@DaveMitten thank you!  So I can see that we have a failure in database export:
[code]

What's happening here is that you supplied `.` as the directory for the import. Here's how we look for data to import:

[code]

We assume any `.json` file in your import directory is Realtime Database data, but you have other files there.  The best thing t do is to use a separate directory to store your import/

[2021-01-06 16:09] #2992 closed

[2021-01-06 16:09] samtstern commented on #2992
Closing this as it should be solved by the comment above but just let me know if you think we need to reopen it!

[2021-01-06 19:52] #2927 closed

[2021-01-06 20:45] ChrisEke opened #2997 "hosting:channel:delete returns HTTP Error: 404 on succesful delete"
### [REQUIRED] Environment info

**firebase-tools:** 9.1.0

**Platform:** Debian Buster AMD64

### [REQUIRED] Test case

[code]

### [REQUIRED] Steps to reproduce

Same as test case.
### [REQUIRED] Expected behavior

Executing `firebase hosting:channel:delete test_channel` should return successful status if channel was deleted without errors.

### [REQUIRED] Actual behavior

Even though the channe

[2021-01-06 21:05] bkendall commented on #2997
I attempted to delete a non-existing channel on my site just now and was presented with this (correct) error after confirming the deletion:

[code]

This is working as intended. I'm not sure where `CONFIGURATION_NOT_FOUND` is coming from. Could you provide more information from calling the same command with `--debug`?

[2021-01-06 21:18] ChrisEke commented on #2997
Perhaps I was a bit unclear.

`Error: HTTP Error: 404, CONFIGURATION_NOT_FOUND ` is returned when deleting an **existing** channel.

I can provide debug output in a while.

[2021-01-06 21:21] bkendall commented on #2997
Ah! I misread your description (and it doesn't help that `delete` and `deploy` look very similar in mono-space!)

I just deployed to and deleted a channel myself, and was unable to replicate this issue. Debug output will be necessary. Thanks!

[2021-01-06 21:23] sluramod opened #2998 "Feature Request: ability to specify location of .runtimeconfig.json when running emulator"
It would be nice to have a way to specify location of .runtimeconfig.json from the command line.

This will be extremely helpful when working with data from multiple environments.

[2021-01-06 21:41] ChrisEke commented on #2997
Weird, looks like there's a second request towards Identity Toolkit API which produces a 404 error.

[code]

[2021-01-06 23:01] #2913 closed

[2021-01-06 23:18] bkendall commented on #2051
Context: I'm an engineer on Firebase Hosting.

I definitely hear the feedback that having a solid list somewhere of what Cloud Run regions are available would be useful. Unfortunately, it requires a smidge of manual work to make new regions available so we can't _quite_ point to the Cloud Run docs and say "all these!", though we'd like to.

It's also correct (as someone pointed out) that Cloud Fun

[2021-01-07 06:22] AggelosM opened #3000 "Version 9.1.1 broke firebase init and deploy"
### [REQUIRED] Environment info

**firebase-tools:** 9.1.1

**Platform:** WSL2

### [REQUIRED] Test case

`firebase init` doesn't work without an argument, and `firebase serve` says "Error: An unexpected error has occurred."

When downgrading to 9.1.0 none of these problems occur.

### [REQUIRED] Steps to reproduce

Install the latest version and execute the above commands.

### [REQUIRED] Expecte

[2021-01-07 06:34] MartinSeeler commented on #3000
I can confirm, happened to me, too. After downgrade to 9.1.0 everything works.

[code]

[2021-01-07 09:05] ChristianTucker commented on #1738
Mindless +1.

[2021-01-07 09:22] ralcar commented on #3000
Same for me, how can such a huge bug slip through?

[2021-01-07 10:32] samtstern commented on #3000
Yikes ... I'll look into this now.  In the meantime please downgrade!

[2021-01-07 10:46] samtstern commented on #3000
I was able to confirm the `firebase init` error and find a quick fix.  I caused the error in #2946.

As for `firebase deploy` it seems to be working for me.  I just deployed Database, Firestore, Hosting, and Functions with the latest CLI.  Can someone here who is seeing a `firebase deploy` failure run `firebase --debug deploy` and show me the logs?

[2021-01-07 11:35] samtstern commented on #2993
@StuStirling I'm not able to reproduce this on `9.1.1` which includes some database URL related fixes, can you try that? (Although due to issue #3000 you may want to wait for `9.1.2`)

Here's what I did:

1. Create a brand new project in the console
2. In the console create a RTDB instance in the EU region
3. Deploy these cloud functions:

[code]

Here are the logs:
[code]

I also modified some da

[2021-01-07 11:37] samtstern commented on #2998
@sluramod can you explain a bit more how you'd use this?  Most people seem to solve this problem using simple scripts, for example:

package.json
[code]

Then I can do this:
[code]

[2021-01-07 13:52] ChristianTucker commented on #1475
@samtstern Any chance that this issue may have returned? Currently using the emulator installed with the latest firebase-tools, firebase `^8.2.1` and I'm having the same issue in a very simple setup. Below you can find the debug logs and code used to replicate this issue:

[code]

[code]

Below you can find the debug log from the emulator

[code]

[2021-01-07 14:25] AggelosM commented on #3000
@samtstern I'm sorry I meant `firebase serve` not deploy! I edited the issue.

[2021-01-07 14:35] SamyPesse opened #3002 "Firebase Hosting Channels with multiple targets are not all authorized in auth"
When deploying a project with multiple hosting target to Hosting Channels, only one of the target is added as a Firebase Authentication authorized domain.

### [REQUIRED] Environment info

**firebase-tools:** 9.1.1
**Platform:** MacOS

### [REQUIRED] Test case

### [REQUIRED] Steps to reproduce

1. Create a firebase project
2. Configure multiple hosting target for it
3. Deploy a channel

### [REQU

[2021-01-07 14:45] samtstern commented on #3000
@AggelosM thanks! I was able to find the error in `firebase serve`.  By the way `firebase serve` is mostly deprecated, try using `firebase emulators:start` instead!

[2021-01-07 15:44] DaveMitten commented on #2992
All fixed, thank you for your help!

[2021-01-07 16:15] #3000 closed

[2021-01-07 17:07] JSmithOner opened #3003 "Firebase serves hangs on 'Watching "/path/" for Cloud Functions...'"
### [REQUIRED] Environment info

**firebase-tools:** 9.1.1

**Platform:** MacOS Catalina 10.15.5

### [REQUIRED] Test case

worked on the server (changed files structure ), exit the server, then try to restart it.
Sorry if I can't send you all the file. I've been trying `firebase emulators:start --only functions` and it seemed to work fine
Inside my file I have firestore write triggers and and htt

[2021-01-07 18:28] FAIZFREADY opened #3004 "firebase"
### [REQUIRED] Environment info

**firebase-tools:**

**Platform:**

### [REQUIRED] Test case

### [REQUIRED] Steps to reproduce

### [REQUIRED] Expected behavior

### [REQUIRED] Actual behavior

[2021-01-07 18:29] FAIZFREADY commented on #3004
https://github.com/firebase/firebase-tools/issues/3004

[2021-01-07 18:29] samtstern commented on #3004
@FAIZFREADY please fill out the template when filing issues.

[2021-01-07 18:29] #3004 closed

[2021-01-07 18:34] sluramod commented on #2998
While this works, it means that you always need a script to start emulator. And you may run into unexpected issues (like connecting to the wrong environment) if you start emulator without the special script.

Your example will be much better if it looks like this:
`firebase emulators:start --emulator-config ./configs/$PROJECT-config.json`

[2021-01-07 19:13] bkendall commented on #3003
Does this work on `9.1.2` or `9.1.0`? We had an issue in `9.1.1` that we fixed this morning.

[2021-01-07 19:21] JSmithOner commented on #3003
@bkendall  the same I've tested all three of these. my callable functions are recognised when running `npm run build` but the process still hangs. It happened after restarting the server. Thanks in advance

[2021-01-07 19:26] bkendall commented on #3003
@JSmithOner is it possible to create a [reproducible example](https://stackoverflow.com/help/minimal-reproducible-example) for this issue? Stopping and starting the emulator isn't enough to trigger this in my testing. If you're also using a build step, please be sure to remove the old files and re-build - sometimes old files can cause havoc in situations where file structure changes.

[2021-01-07 19:51] gurulnd-git opened #3005 "Server Error. connect ETIMEDOUT 142.250.76.74:443"
Error while trying to deploy my node js app on Firebase functions, i've been trying for two days now... but its the same issue....

couldn't deploy my updated, is painful... i tried everything ... but no changes

[2021-01-07 19:56] JSmithOner commented on #3003
ok sorry I finally have a reproducible example.
`mkdir foldername`
`cd foldername`
`firebase init`
choose all options
paste this to `index.ts` in `foldername/functions/src`
`cd functions`
`npm run build`
`cd ..`
`firebase emulators:start`

and here is my function in `index.ts`

@bkendall  Please let me know if you need more infos

[code]

[2021-01-07 20:00] JSmithOner commented on #3003
@bkendall  just saw that one of my Promise wasn't using `catch` now it's working, I'll try this with the other ones and get back to you if the problem is still here. Thanks

[2021-01-07 20:39] bkendall commented on #3005
Please follow the template when reporting issues. There's not enough information here to begin to help you, unfortunately. If this is a connection issue, try deploying on another network.

[2021-01-07 20:39] #3005 closed

[2021-01-08 14:10] samtstern commented on #2198
After a bunch of discussion in #2356 we realized that there's no safe way for us to support Yarn2 with PnP in the local emulators that won't break in production.  But we're going to add a helpful warning to make this less confusing.

[2021-01-08 14:10] #2198 closed

[2021-01-08 16:39] #1862 closed

[2021-01-08 21:32] cyiboy commented on #596
any solution to this

[2021-01-08 23:21] strom2357 commented on #1256
Thanks for highlighting that, I've made a quick ticket to make sure the documentation there is up to date as you note.  Tracking here: b/177098348

[2021-01-09 07:27] clarmso opened #3012 "Firebase serve fails to rewrite URL to containerized app after 8.18.0"
### [REQUIRED] Environment info

**firebase-tools:**

$ npx firebase --version
9.1.2

**Platform:**

macOS

### [REQUIRED] Test case

I've create a repo to demonstrate the bug: https://github.com/clarmso/firebase-serve-bug. The repo contains some modified code from examples to demonstrate the bug.

### [REQUIRED] Steps to reproduce

1. Create a firebase project ("firebase-serve-bug") for hosting.

[2021-01-09 13:13] hamboomger opened #3013 "Clear user accounts endpoint not working as intended"
### [REQUIRED] Environment info

**firebase-tools:**
9.1.2

**Platform:**
MacOS 11.0.1

### [REQUIRED] Test case
Request to:
[code]

### [REQUIRED] Steps to reproduce

1. Run firebase auth emulator using FIREBASE_AUTH_EMULATOR_HOST=localhost:9099
2. Make a DELETE request to `http://localhost:9099/emulator/v1/projects/{projectId}/accounts` as described in the API
3. Get an authentication error

###

[2021-01-09 13:17] hamboomger commented on #3013
If it's not a bug and is an intended behaviour, could you please add more information about the authentication credential to the [authentication api reference page](https://firebase.google.com/docs/reference/rest/auth#section-auth-emulator-clearaccounts)?

[2021-01-09 17:20] yoshirozay commented on #596
$ cd functions
$ npm install
worked for me

[2021-01-09 19:21] Nomkid commented on #2957
@samtstern
- I always update whenever there is an update available.
- Nothing to be seen.
- It's in a web app, so I'm using the reserved URL `/__/init.js?useEmulators=true` (whatever it is) copied right from the docs.
- The warning at the bottom still shows, but nothing is actually connecting to the emulators. I'm using Firestore and With, neither are using the emulators.

[2021-01-09 22:38] PSHalanYeats opened #3014 "Initialize Function address is incorrect when exporting groups"
### [REQUIRED] Environment info

**firebase-tools:** 9.1.0

**Platform:** Windows

### [REQUIRED] Test case

Directly from Firebase Example

**metrics.js**

[code]

**index.js**

`exports.metrics = require('./metrics');
`

### [REQUIRED] Steps to reproduce

1. Create base method group and export it in index.js
2. Run Firebase emulator
3. Note the `http function initialized`  Text

### [REQUIRED] E

[2021-01-10 01:15] M3kH commented on #1166
I'm currently trying to use the `debug` function within the emulator but doesn't seem to output any result on `firestore-debug.log`. Any direction on how I can get that working?

[2021-01-11 02:00] #2969 closed

[2021-01-11 02:00] #2967 closed

[2021-01-11 10:49] samtstern commented on #3014
@PSHalanYeats this is a duplicate of #2966 which was fixed in v9.1.1:
https://github.com/firebase/firebase-tools/releases/tag/v9.1.1

If you update you should see the correct URLs

[2021-01-11 10:49] #3014 closed

[2021-01-11 10:53] samtstern commented on #3013
@hamboomger can you try adding the `Authorization` header to your request with the value `Bearer owner`?  I'll also make sure we get the docs up to date.

[2021-01-11 10:53] samtstern commented on #3013
@yuchenshi is this a bug or a docs issue?

[2021-01-11 11:24] samtstern commented on #2957
@Nomkid thanks for getting back to me ... we need your help to reproduce this bug on our machines as right now you're the only one reporting this behavior. Can you help outline the steps to a [minimal reproducible example](https://stackoverflow.com/help/minimal-reproducible-example)?  Ideally starting with `firebase init`.

[2021-01-11 11:28] samtstern commented on #3002
@bkendall can you take a look at this one?

[2021-01-11 17:27] bradleymackey opened #3015 "Functions emulator can enter an infinite loop after a Firestore trigger"
### [REQUIRED] Environment info

**firebase-tools:** 9.1.2

**Platform:** macOS 11.1 x86

### [REQUIRED] Test case

This is a rather unusual bug that appears to be the result of some kind of internal race condition in the functions emulator when it comes to deleting documents. This is triggered from using an admin client of the `@firebase/rules-unit-testing` library triggering an emulated function

[2021-01-11 17:30] hamboomger commented on #3013
@samtstern yep, works with the `Authorization` header, thanks 👍

[2021-01-11 19:04] yuchenshi commented on #3013
I'd say we should drop the requirement for the `Authentication` header since it is confusing. It's an emulator-specific API anyway, plus clearing data in Firestore emulator doesn't require `Authentication` header either.

[2021-01-11 20:49] kickbk opened #3016 "Firebase emulator port taken when saving"
I'm trying to run Firebase locally. I have `functions` and `firestore` running as emulators.
When I save an update to any of my files, it reloads firebase, as it should. However, it tries to run the emulator again on the same port it did before and since the port is still active, it throws an error `Could not start Firestore Emulator, port taken` that the port is taken. I tried adding specific por

[2021-01-11 20:54] maranmaran commented on #1738
+1

[2021-01-11 23:18] kickbk commented on #3016
For now, the only way I can keep working is by firing this script command `npm run build && npx kill-port 2525 && firebase emulators:start` so it kills the firestore emulator port whenever it reloads. Obviously that's stupid, so I'd really appreciate you guys letting me know how this should be done correctly.

[2021-01-12 08:12] grundid opened #3020 "Emulator Hub not running without default project"
### [REQUIRED] Environment info

**firebase-tools:** 9.1.2

**Platform:** macOS

### [REQUIRED] Test case

see steps to reproduce

### [REQUIRED] Steps to reproduce

firebase init
-> Select "Emulators: Set up local emulators for Firebase features"
-> Select "Don't set up a default project"
-> Select "Firestore Emulator"
 Would you like to enable the Emulator UI? (Y/n)
-> Select Y

now launch emula

[2021-01-12 11:16] samtstern commented on #3016
@kickbk can you avoid restarting the Firestore emulator on every file save? Unfortunately this is not something we can fix because many operating systems mark a port as "taken" for a few seconds (sometimes up to 30s) after it is released. So if you stop and start the emulators too often you may see errors like this.

[2021-01-12 11:19] samtstern commented on #3003
@JSmithOner thanks for following up on this one!  I think actually if you had waited longer this would have eventually errored out due to our timeout handling (default 60s).  I think that's the best we can do as far as logging for hanging promises, it's hard to tell if something is hanging or if it's just taking a while!

[2021-01-12 11:19] #3003 closed

[2021-01-12 16:10] samtstern commented on #3015
@bradleymackey thank you for the details!  I was able to reproduce this, it does seem like a bug to me.  Let me investigate some more.

[2021-01-12 16:12] samtstern commented on #3015
Ok one thing I noticed is that when it's in the infinite loop, `snapshot.data()` is `undefined` not `{ test: 123 }` which means the `onCreate` function should definitely not be firing!

[2021-01-12 16:22] samtstern commented on #3012
@clarmso thank you for the clear reproduction steps!  @bkendall can you take a look?

[2021-01-12 17:10] #3020 closed

[2021-01-12 17:28] wtpalexander opened #3022 "Emulators:exec Auth doesn't import data"
### [REQUIRED] Environment info

**firebase-tools:** 9.1.0

**Platform:** macOS

### [REQUIRED] Test case

[code]

### [REQUIRED] Steps to reproduce

Attempt to use the accounts listed in the `auth_export/accounts.json` when running in CI but notice that these accounts don't exist and there are no logs stated the auth emulator imported its data, unlike when the emulators are started locally with `

[2021-01-12 19:12] bkendall commented on #2997
Okay, I think I may understand what's going on.

When you delete a Channel, we also attempt to clean up the authorized domains listing, removing the domain of the channel. If you don't have the `firebaseauth.configs.update` permission in the project, it's likely that this check would fail. I'm not 100% sure that this is the case here (since it's returning a `404` rather than a `403`).

Could you c

[2021-01-12 19:48] nicosemp commented on #1105
@ryanpbrewster was it updated? I couldn't find any mention of it at your link:

[2021-01-12 20:04] clarmso commented on #3012
Just to supplement the description, the URL rewrite still works on the deployed Firebase app.

[2021-01-12 20:12] bkendall commented on #3012
Thanks - I'm taking a look into this right now. I just managed to reproduce this so I'm looking into what happened now.

[2021-01-12 20:13] brittianwarner commented on #3012
FWIW - I found this issue last week in my local environment. I only received this when developing locally and after deploying to firebase everything worked as intended.

[2021-01-12 21:12] bkendall commented on #3012
Ahh! I think I figured it out. The proxy is bringing along the `host` header when making the proxy request (along with `x-forwarded-host`) which causes an issue when it hits Cloud Run. The fix is trivial, but I'll see if it breaks anything else in my basic testing first.

[2021-01-12 21:42] bradleymackey commented on #3015
I'm also running into some infinite loops during `onUpdate` triggers as well. Just a heads up for the moment. I'll post if I get a reproducible example.

[2021-01-12 22:59] bkendall commented on #3002
Ah! I bet I know what's going on.

The hints here are that (a) only one is being added and (b) it's the second one. When I tried this, I only saw the "first".

What I expect is happening is that we are doing the deploy process for each of these channels in parallel. Particularly, we're creating the channel and updating the authorized domains list in the same parallel'd logic - creating channels in

[2021-01-12 23:27] dound commented on #2936
Thanks, in my first attempt I didn't realize this. But I did figure this out and correct my code before opening this PR.

This was the issue; I'd missed this call when trying to piece together the documentation.

Thanks for your help and patience.

[2021-01-12 23:27] #2936 closed

[2021-01-13 11:20] samtstern commented on #3020
Thanks for the feedback!  This logging was improved in #3021

[2021-01-13 11:21] samtstern commented on #1105
@ryanpbrewster you can leave Firebase but you can never leave the Emulator Suite on GitHub!!!!!

[2021-01-13 11:29] bradleymackey commented on #3015
Possibly related to https://github.com/firebase/firebase-tools/issues/2978? In both cases it appears triggers are called when a document does not exist.

[2021-01-13 14:00] samtstern commented on #3015
@bradleymackey you're right I think those are probably related.

[2021-01-13 14:19] samtstern commented on #3022
@wtpalexander thanks for the feedback!  Assigning to @rosalyntan who is on call for emulator issues this week.

[2021-01-13 14:20] wtpalexander commented on #3022
No worries, wish I could take a look and contribute myself but my TypeScript/JavaScript is quite limited still 🙃.

[2021-01-13 14:44] nolafs commented on #2379
firebase emulators:start --only firestore works for me fine but when try to import the database, I'm getting the Timeout error. The database is large, my guess is that import is taking to long.

[2021-01-13 18:20] rjpruitt16 opened #3027 "Error when trying to upgrade firetools"
When I run the command "npm install -g firebase-tools  ",  I receive
'''
EEXIST: file already exists, symlink '../lib/node_modules/firebase-tools/lib/bin/firebase.js' -> '/usr/local/bin/firebase'
npm ERR! File exists: /usr/local/bin/firebase
npm ERR! Remove the existing file and try again, or run npm
''''

There is no "../lib". I have tried reinstalling but it does not work. Any Ideas?

[2021-01-13 18:30] bkendall commented on #3027
1. Maybe you need to run `npm un -g firebase-tools` first?
2. Have you previously installed the CLI using the firebase.tools script? (`curl -sL firebase.tools | bash`)
3. What does `firebase --version` currently do?

[2021-01-13 18:37] rjpruitt16 commented on #3027
I am on a mac by the way. Thanks.
1.  just tried. but I am guessing it did not work properly because I can continue to run firebase commands.
2.  I dont think I did. It's been a long time but I would guess I did a npm install -g firebase-tools at some point.
3.  "7.11.0"

[2021-01-13 18:42] bkendall commented on #3027
My hunch is that you have another version of `firebase-tools` on your path somewhere that has unexpected permissions. Typically this is because it was installed with `sudo npm i -g firebase-tools`.

If you try the following, it will show you some of the permissions of the file:

[code]

Depending on your Node installation, you may have to use `sudo` to manage the installed version of `firebase-too

[2021-01-13 18:57] rjpruitt16 commented on #3027
I tried deleting /usr/local/bin/firebase, and it install correctly thank you.

[2021-01-13 18:57] #3027 closed

[2021-01-13 19:50] #3012 closed

[2021-01-13 20:54] bkendall commented on #2970
Sorry I'm so slow in coming to these. Let me take a look.

[2021-01-13 21:07] bkendall commented on #2970
Well, that was pretty straight forward to fix. Assuming all goes well, watch for it in a new release of `firebase-tools` once this is closed.

[2021-01-13 21:16] bkendall commented on #2917
@apsoftwaredev and @mpwei - I believe you were hitting a different issue than the original post. #2949 is what you were looking for (which is resolved).

@mohitsud - I'm sorry this took so long to get back to you. First, it looks like the version of the CLI that you're using is older than 8.18. It may help to upgrade the CLI. My second thought is that maybe you need permissions in the project for

[2021-01-13 23:15] dahliasalem commented on #3002
Thanks for issue will be fixed by #3030

[2021-01-14 00:04] bkendall commented on #3002
Let's leave it open until the PR is merged. Including `Fixes: #...` in the PR description creates a link that will cause that to happen automatically

[2021-01-14 00:32] bkendall commented on #1665
It looks like this still is true. This is powered by `superstatic`, and the underlying cause is an [issue in minimatch](https://github.com/isaacs/minimatch/issues/127). I can swap out the matcher in superstatic, but that's not an immediate fix (and a little risky if something else changes too).

Working on what the fix should look like...

[2021-01-14 03:26] mddarmawan commented on #2536
Same here
![image](https://user-images.githubusercontent.com/22543134/104540877-fbfe8300-5652-11eb-9b44-ba26f9d1a0ab.png)

[2021-01-14 08:06] CaturViriyananda commented on #2536
me too, i had these :

There was an issue deploying your functions. Verify that your project has a Google App Engine instance setup at https://console.cloud.google.com/appengine and try again. If this issue persists, please contact support.
⚠  functions: Upload Error: Server Error. connect ETIMEDOUT 74.125.24.95:443

Error: Server Error. connect ETIMEDOUT 74.125.24.95:443

[2021-01-14 11:49] JaapWeijland opened #3031 "Firebase functions emulator ignores region"
### [REQUIRED] Environment info

**firebase-tools:**
9.2.0

**Platform:**
macOS
### [REQUIRED] Test case

`export const api = region('europe-west3').https.onRequest(server);`

When starting the emulator, the emulator correctly outputs the following URL:

`✔  functions[api]: http function initialized (http://localhost:5000/**[some-project]**/europe-west3/api).`

However, when visiting that URL, a 4

[2021-01-14 12:51] ppicom commented on #3015
I've ran into this same issue with the emulator. This is the code to trigger it :)
[code]

[2021-01-14 12:56] ansaardollie opened #3032 "Clound Functions Emulator Not handling query parameters for functions deployed locally."
When deploying functions locally using the emulator, any time a request is to a function and the URL used to make that request has query parameters, the response is HTTP 400 error.

The following function was used:
[code]

When requesting this function using the url:
http://localhost:5001/{projectName}/{location}/helloWorld?id=test

I get a 400 error and in the emulator log the following happens:

[2021-01-14 14:01] samtstern commented on #3032
@ansaardollie thank you for reporting this, I can confirm this is a bug and I am investigating. I have no idea how this got past our tests ... I thought we have one for query params.

[2021-01-14 14:05] samtstern commented on #3032
Ok this is caused by my recent changes, I can see the mistake in the logs:
[code]

[2021-01-14 14:34] samtstern commented on #3031
@JaapWeijland I am not able to reproduce this behavior.  Here are my two functions:

[code]

When I run `firebase emulators:start` I see these logs (among others):
[code]

I am able to `curl` both functions:

[code]

[code]

Is there more to your situation? Do you possibly have two functions with the same name in different regions? If so that's a known limitation of the emulator right now.

[2021-01-14 15:13] JaapWeijland commented on #3031
Thanks for your answer! I oversimplified my example a bit.

What I actually have, is the following:

[code]

I deliberately left the comments there. As you see, I'm experimenting with NestJS on Firebase. If filtered the issue down to be associated with Express though, so I'm not sure if NestJS has to do with anything here.

As you see, I gave the Express server to the endpoint to handle the traffi

[2021-01-14 15:23] samtstern commented on #3031
@JaapWeijland ah that helps thanks!  I was able to roll a fix into this PR I was already working on:
https://github.com/firebase/firebase-tools/pull/3033

[2021-01-14 16:04] guillaumeprevost commented on #2507
This seems to have been fixed in August 2020 with :
https://github.com/firebase/firebase-tools/pull/2517
https://github.com/firebase/firebase-tools/pull/2415

I don't know if there was some kind of regression recently, but I have just encountered the issue described in this original issue report.

In my case, adding --debug did not help.
I am using the current latest version of firebase-tools v9.2

[2021-01-14 16:52] samtstern commented on #2507
@guillaumeprevost yes please open a new issue with steps to reproduce!  The simpler the better.

[2021-01-14 16:52] #2507 closed

[2021-01-14 17:37] guillaumeprevost opened #3034 "No graceful exit using NPM Scripts that trigger multiple SIGINT"
This issue appeared already last year (issue #2507) and was resolved in August 2020 by the following PRs :
https://github.com/firebase/firebase-tools/pull/2415
https://github.com/firebase/firebase-tools/pull/2517

However, I experience the issue now with firebase-tools latest version.

### [REQUIRED] Environment info

**firebase-tools:** 9.2.0 (latest at the time of posting)

**Platform:** Windows

[2021-01-14 17:41] #3032 closed

[2021-01-14 18:18] Mattinton opened #3036 "Cannot use firebase-admin firestore emulator in Jest with jsdom test environment"
### [REQUIRED] Environment info

**firebase-tools:** 9.2.0

**Platform:** macOS

### [REQUIRED] Test case

I have the following code snippet running in setupTests.ts in a create-react-app project

`
import firebaseAdmin from 'firebase-admin';

beforeEach(async () => {
  const app = firebaseAdmin.initializeApp({ projectId: "[TEST_ID]" });
  const test = await app.firestore().collection('test').get(

[2021-01-14 18:58] yuchenshi commented on #1256
Documentation is fixed now! Thanks again for highlighting it, @itsravenous!

[2021-01-14 20:08] yuchenshi commented on #3015
This is the same cause as b/176544363 and I think I have a fix for both coming soon.

[2021-01-14 21:34] davidbielik opened #3041 "Hosting Emulator does not return Content-Type header for firebase .js plugins"
### [REQUIRED] Environment info

**firebase-tools:**
9.2.0

**Platform:**
macOS
### [REQUIRED] Test case

1. Unzip, and run `firebase emulators:start --only hosting --project your-project-id` from within the directory
2. Load `http://localhost:5000/`
3. The page will either load the firebase libraries (expected) or fail to load the libraries (actual)

[firebase-issue-3041.zip](https://github.com/f

[2021-01-14 22:41] bkendall commented on #3041
Looks like we're not passing through those headers. `request` used to do this for us, but we've moved to a new library which does not. PR is out to fix.

[2021-01-14 23:40] mddarmawan commented on #2536
My workaround is letting the error message just like that because I see the functions is successfully deployed. And if you also have to use the Firebase Hosting, just deploy it separately:
[code]
and
[code]

Hope this "bug" fixed in the future.
Thanks.

[2021-01-15 01:43] royappa commented on #536
Deploying the initial helloWorld sample function takes 1 min 40 sec with the above ".ignore" rule (Jan. 2021) so I think it's safe to say this is not a priority for Google to improve.

Just in case this helps any other beginners: run the Firebase emulator, then change "tsc" to "tsc -w" (if using typescript) in package.json, and finally run "npm run build" in another window. With this, the emulator

[2021-01-15 02:33] SrBrahma commented on #536
I have made this start script in package.json some time ago, that is incredibly helpful and useful to quickly start the emulator and set tsc watch with a single command:

`"start": "tsc --incremental && concurrently 'tsc -w' 'firebase emulators:start --only functions,database,auth --export-on-exit=./localSave --import=./localSave'",`

Install concurrently with `npm i -D concurrently`, it runs mult

[2021-01-15 10:36] samtstern commented on #536
@royappa @SrBrahma thank you for sharing your emulators solutions, one major goal of the emulators is to reduce how often developers have to run `firebase deploy`!  For my personal projects the emulators have totally changed my development experience, I never deploy just to test something now.

[2021-01-15 10:50] bynicodevelop commented on #3032
Hello,

I have an equivalent error with firebase emulators.

My code is

[code]

My http request is :

http://localhost:5001/projectID/locationID/development-populate?n=10

And i have this error :

<img width="552" alt="Capture d’écran 2021-01-15 à 11 49 12" src="https://user-images.githubusercontent.com/32275195/104716083-b19b0600-5727-11eb-9e65-2990430d6229.png">

My version of firebase is 9.2

[2021-01-15 11:13] samtstern commented on #3032
@bynicodevelop this will be fixed in the next release, either `9.2.1` or `9.3.0` depending on what else ships.

[2021-01-15 11:15] samtstern commented on #3036
@Mattinton I'm not familiar with JSDOM but since you're using the Node.js Admin SDK (`firebase-admin`) then `--env=node` sounds like it's the correct option.

Can you explain a little bit more about what you're trying to achieve with `--env=jsdom` and why you think the Firebase Admin SDK should work in that environment?

[2021-01-15 11:16] bynicodevelop commented on #3032
Thanks for the quick answer, but how can I update firebase tools to avoid this problem now?

Because I'm stuck: D

maybe: npm i -g firebase-tools @ master?

[2021-01-15 11:26] bynicodevelop commented on #3032
Sorry,

supid question :D

npm i -g firebase-tools@9.1.2

[2021-01-15 12:10] Mattinton commented on #3036
Jest uses JSDOM ([https://github.com/jsdom/jsdom](url)) which I believe is built on top of node implementing web standards so that you can test browser applications, in my case a React application (using create-react-app). I want to use firebase-admin so I can run some setup and teardown code before running my tests. I can't use --env=node because that doesn't provide a dom to test my app.

Oddly

[2021-01-15 15:13] erikstorli commented on #1862
I've never had this problem with previous versions of firebase-cli, but after I updated firebase-cli to 9.2.0 I'm having this issue with the routes in my project. I copied your function above that you used to reproduce the issue.

**Emulator returns:**
[code]

**Production returns:**
[code]

What am I missing here? This wasn't an issue for me before. Reverting to 9.1.0 makes the emulator return th

[2021-01-15 15:15] samtstern commented on #1862
@erikstorli v9.2.0 introduced a new but with Functions in regions other than us-central1.  It's fixed here and will be included in the next release:
https://github.com/firebase/firebase-tools/pull/3033

[2021-01-15 17:31] #3041 closed

[2021-01-15 17:55] #2978 closed

[2021-01-15 17:55] #3015 closed

[2021-01-15 18:41] #3013 closed

[2021-01-15 19:26] yaoonline commented on #2735
Hi! How did you solve the problem? I have the same (((

[2021-01-16 08:13] Richmond-Eribo commented on #1532
same here, is there any solution yet?

[2021-01-16 15:20] JaapWeijland commented on #3031
Thanks for including this in your PR, alas it does not seem to work here. I am using `firebase-tools v9.2.1` now and my express routes are still not accessible through `europe-west3` but still are with `us-central1`.

[2021-01-16 15:31] jasdevsidhu12 opened #3055 "NextJS emulators:start --only functions,hosting bug"
Hi There,
The following is my branch and I'm trying to create a simple firebase cloud "hosting, functions" for my NextJS application.
_Repo_
**https://github.com/jasdevsidhu12/test-next**
_Branch_
**firebase-issue**

For the whole of last week I kept trying and trying but I couldn't figure it out why `firebase emulators:start --only functions,hosting` **wouldn't work** but  `firebase deploy --only

[2021-01-16 17:55] mothershipper commented on #2852
I struggled with this for so long, finally figured it out. Just provide any db url and it will get overridden to the emulator:

[code]

[2021-01-16 17:56] mothershipper commented on #2852
This issue was the "aha" moment for me.

https://github.com/firebase/firebase-admin-node/issues/1096

[2021-01-16 21:11] anubhavkamath opened #3048 "Not able to verify email using emulator"
9.2.1
**firebase-tools:**

MacOS BigSur
**Platform:**

### [REQUIRED] Test case
See above.

### [REQUIRED] Steps to reproduce
See above.

### [REQUIRED] Expected behavior

The URL link to verify the newly added user in the auth emulator should be printed on the terminal and/or the provided link in the documentation should work so that I can get past email verification for the emulated user.
[fireb

[2021-01-17 10:52] dobromyslov commented on #2866
@samtstern is there any feature request for this to be implemented in the emulators suite?

Don't you agree that simple setInterval() scheduler would be awesome to get out of the box with the emulators suite?

[2021-01-17 11:08] LanderBeeuwsaert commented on #2852
@mothershipper
works like a charm. Thanks!

[2021-01-17 11:08] #2852 closed

[2021-01-17 12:34] ekselys opened #3049 "Unknown request URI: /emulator/v1/projects/{project-id}/databases/(default)/documents"
### Environment info
* Firebase 9.2.1
* Windows 10
* Node v12.17.0
* NPM 6.14.9

###  Test case

Trying to erase firestore data through ad hoc REST API ( [docs](https://firebase.google.com/docs/emulator-suite/connect_firestore))

This is what firestore logs print out:
[code]

### Steps to reproduce

* Execute `curl -v -X DELETE "http://localhost:8080/emulator/v1/projects/firestore-emulator-example

[2021-01-17 14:31] batmanhit commented on #2295
I am getting the same error as @AppDeliverIO as well. Any solutions?

[2021-01-17 17:46] mothershipper opened #3050 "Do the emulators support multiple/namespaced databases?"
### [REQUIRED] Environment info

**firebase-tools:** 9.1.0

**Platform:** macOS

### [REQUIRED] Test case

[code]

[code]

### [REQUIRED] Steps to reproduce

[code]

### [REQUIRED] Expected behavior

I'd like to be able to host multiple databases in the firebase emulator, but struggling to make that work.  This is more of a question of whether or not this is supported.  The TL;DR; is that we have

[2021-01-17 20:45] anubhavkamath commented on #3048
Not sure what I did but all of a sudden the emulator console started printing out the verification URL when creating a new user in the emulator console.
So, now, I'm past that issue but am still not able to connect to the FIRESTORE emulator. I get this error:

"Firestore (8.2.2): Could not reach Cloud Firestore backend. Backend didn't respond within 10 seconds.
This typically indicates that your d

[2021-01-17 21:38] davidbielik opened #3052 "Firebase SDK proxy error: net::ERR_CONTENT_DECODING_FAILED 200 (OK)"
### [REQUIRED] Environment info

**firebase-tools:**
9.2.1

**Platform:**
macOS
### [REQUIRED] Test case

1. Unzip, and run `firebase emulators:start --only hosting --project your-project-id` from within the directory
2. Load `http://localhost:5000/`
3. `GET http://localhost:5000/__/firebase/8.2.3/firebase-app.js net::ERR_CONTENT_DECODING_FAILED 200 (OK)`

[firebase-issue-3041.zip](https://github.

[2021-01-18 02:54] michaeleekk commented on #2895
Attached the log from firebase-tools 8.17.0.

It's a `application/x-www-form-urlencoded` request. I tried 9.2.1, and the problem seems to be solved.

[code]

[2021-01-18 04:01] iBobik commented on #2997
We use service accounts with a minimal permission.

Why is firebaseauth.configs.update required? Does it needs to be required for a channel delete? (it works for us, it just throws this error)

[2021-01-18 09:05] ChrisEke commented on #2997
Yes, firebaseauth.configs.update permission is present on the role executing channel delete.

Yes, channel URLs are listed and successfully removed on firebase hosting:channel:delete

What's strange is that I cannot replicate the issue anymore using same version firebase-tools: 9.1.0 and requests towards Identity Toolkit succeeds:

[code]

I did not change any permissions (deliberately) on the pro

[2021-01-18 10:47] samtstern commented on #3048
@anubhavkamath please use the issue template when filing an issue, "See above" is not helpful if there is no detailed test case above.

As for your Firestore issue, you're doing conflicting things:

This sets the Firestore port to 8080:
[code]

This sets it to 5002 but uses the wrong syntax:
[code]

Delete both of those and do this:
[code]

I know this can be a bit confusing because the Firebase A

[2021-01-18 10:47] #3048 closed

[2021-01-18 10:49] samtstern commented on #3052
@bkendall this seems like it could be related to your recent changes in #3042

[2021-01-18 10:54] samtstern commented on #3050
@mothershipper the emulators do support this case but the `projectId` field is unrelated to the Realtime Database namespace.

If you want to use `app-two` as your namespace you should set `https://app-two.firebaseio.com` as your `databaseUrl`.  When the `FIREBASE_DATABASE_EMULATOR_HOST` env var is set this will be rewritten as something like `http://localhost:8000?ns=app-two`.

[2021-01-18 10:54] #3050 closed

[2021-01-18 11:00] samtstern commented on #3049
@ekselys I was not able to reproduce this.  Here's what I did:

**1. Initialize a new local project**
[code]

**2. In the emulator UI create a new Firestore document**
Just made a `/foo/bar` document

**3. Delete using `curl`**
[code]

As you can see I got `HTTP 200` and in the UI my data is gone. Are you sure you're using the right project ID in the URL when you run the `curl` request?

[2021-01-18 12:27] junhyeokkwak opened #3053 "Firebase emulator UI showing "Not Found" ("detected non-HTTP/2 connection")"
### [REQUIRED] Environment info

**firebase-tools:**
9.2.1

**Platform:**
Ubuntu

### [REQUIRED] Test case

`firebase emulators:start`

### [REQUIRED] Steps to reproduce
`firebase emulators:start`, then click on emulator UI port

### [REQUIRED] Expected behavior
Firebase emulator UI being displayed

### [REQUIRED] Actual behavior
"Not Found" message displayed

[firebase-debug.log](https://github.c

[2021-01-18 13:40] DavuluriHemanthChowdary commented on #3053
this might be helpful
[https://stackoverflow.com/questions/62097398/firebase-firestore-works-with-real-database-but-not-emulator](url)

[2021-01-18 13:47] samtstern commented on #3031
@JaapWeijland can you show me the smallest test case that reproduces the issue on the latest version?

[2021-01-18 13:48] DavuluriHemanthChowdary commented on #3016
When you run `firebase emulators:start` there will another two JDK terminals which pop up on the screen. One is for the Firestore emulator and another one is for the Database emulator. when you stop the emulators by `ctrl+c` in the main terminal where you ran the command initially it does not close the other two popped terminals by default. That means the firestore and database ports are still wor

[2021-01-18 13:48] JaapWeijland commented on #3031
Ha Sam, I already deleted my comment. I was still using the old version when I thought I installed the newer one. I can confirm that latest version fixes the issue.

[2021-01-18 13:49] #3031 closed

[2021-01-18 13:49] samtstern commented on #3053
@junhyeokkwak please provide more information when filing an issue, we need to be able to reproduce it before we can fix it.

Looking at your logs, is there a reason you have the host set to `127.0.0.1`? What happens if you use `localhost`?

[2021-01-18 13:50] samtstern commented on #3031
@JaapWeijland oh thank you!  I use GitHub through my email mostly so I didn't notice it was deleted.  Appreciate the super fast reply.

[2021-01-18 14:22] junhyeokkwak commented on #3053
@samtstern Would you mind letting me know which sort of info would be helpful in reproducing the issue?
The problem is that there is limited info I can get from the logs - when I run the emulator, everything seems fine on the terminal, but them when I click on the emulator UI link, it simply shows a "Not Found" message.
The functions can even be deployed and the deployed functions work fine, but I

[2021-01-18 16:59] samtstern commented on #3053
@junhyeokkwak thanks for trying `localhost`!  What we need is steps to be able to reproduce this on our own machine, since if I just run `firebase emulators:start` on my Ubuntu machine I do not get a 404 from the Emulator UI.

[2021-01-18 18:46] cavalos0086 opened #3054 "firebase emulators:start doesn't work"
### [REQUIRED] Environment info

**firebase-tools:*v9.2.1*

**Platform:** macOS 11.2 Beta (20D5042d)

### [REQUIRED] Test case

`firebase emulator:start --only functions` tough the error can be reproducible without any params

### [REQUIRED] Steps to reproduce

This is an odd error. I saw that there was a fix based on https://github.com/firebase/firebase-tools/issues/3000 but even updating to the

[2021-01-18 21:34] cavalos0086 commented on #3054
Closing this issue as I found the reason. To connect to my actual phone (react native firebase tools) I need to use my ipv4 which is why you see the `192.168.1.35:5001`. The IPv4 has changed to something else and entering the right host fixed the issue.

[2021-01-18 21:34] #3054 closed

[2021-01-19 00:29] KSingh1980 commented on #215
Any progress on DELETE Previous Deployed app functionality availability on CLI?

[2021-01-19 07:45] saikatdas0790 commented on #2051
@bkendall Can confirm that the above list is inaccurate.

Here are some screenshots from Cloud Build that prove otherwise

## asia-east2
![image](https://user-images.githubusercontent.com/7412443/105002939-03a99780-5a58-11eb-834f-6556f6d17376.png)

## asia-south1
![image](https://user-images.githubusercontent.com/7412443/105003007-2176fc80-5a58-11eb-93a7-e9f673843ffe.png)

My intended audience is

[2021-01-19 12:23] James-Kaguru commented on #1764
The Firebase CLI requires Node.js v10.13.0 or later. You can check it by running the code below
`npm -v`
The error might be because you do not have the latest version of node. If you are not able to update your node version you can download an earlier version of firebase that will still be compatible with your code using this command.
`npm install -g firebase-tools@7.0.0`
After installing the fire

[2021-01-19 16:44] junhyeokkwak commented on #3053
@samtstern So here's what I happened: (1) Firebase emulator was running fine and cloud functions had been properly deployed (2) One of the new functions I wrote had an error, but I thought Firebase emulator was causing the problem and I updated the firebase npm module, re-initialized the CLI, with linting option included (before I didn't have the linting enabled in the firebase CLI) (3) I realized

[2021-01-19 17:01] yuchenshi commented on #3055
Would you mind trying `firebase emulators:start --only functions,hosting --debug` and post the longer debug log? There may be some interesting things in the fuller log.

[2021-01-19 17:03] samtstern commented on #3055
@jasdevsidhu12 in addition to the logs @yuchenshi requested can you show your `firebase.json`?  Generally when using a framework like React or Vue you don't use `localhost:5000` as your dev server because that will serve the files listed in your hosting public folder which is normally something like `app/dist` or another folder of production built files.  Instead you should use the local web serve

[2021-01-19 17:38] bkendall commented on #2051
@saikatdas0790 thanks for raising. I'll take a look and see what's different about those regions. In the meantime, I hope other asia-* regions work for you?

[2021-01-19 18:09] bkendall commented on #2997
@iBobik

It's only really required if you plan to use Firebase Auth. The CLI handles updating the authorized domains list when a new channel is created (and removing the domains when channels are removed). The list must have each subdomain listed, so we need to add a domain for each channel. In a couple recent PRs we've cleaned up the logic and set it up so that failing to update the authorized do

[2021-01-19 18:22] bkendall commented on #3052
I'm able to replicate this, but it's `8.2.2/firebase-analytics` that's not loading for me. Interestingly, I updated it to `8.2.3` and the issue went away. I wonder if there's a problem with that particular version of the file? I can look a bit more, but could you try changing the version number and seeing if the issue persists? When I `curl` the `8.2.2` version of the file on the local emulator, t

[2021-01-19 18:39] davidbielik commented on #3052
hey @bkendall upgrading the version number still showed the error for a few refreshes, but then resolved itself somehow. I'm unable to make a consistent reproduction case unfortunately.

[2021-01-19 18:55] rosalyntan commented on #3022
Thanks for filing this! I've filed b/177915972 for internal tracking.

[2021-01-19 19:05] jasdevsidhu12 commented on #3055
Hi @yuchenshi thanks for replying quick :)
Here's the log https://github.com/jasdevsidhu12/test-next/blob/firebase-issue/firebase-debug.log . I couldn't find anything interesting :(

Hi @samtstern here's my firebase.json file https://github.com/jasdevsidhu12/test-next/blob/firebase-issue/firebase.json
about ```localhost:5000``` I think ```firebase emulators:start --only functions,hosting``` assign

[2021-01-19 19:15] yuchenshi commented on #3022
The Auth Emulator will skip importing if the files don't exist and I think we should totally add more logging when that happens.

But for now though, a good way to debug is to make sure `./emulator-data/` exists and has `auth_export` on the CI. Have you tried adding `ls ./emulator-data/auth_export` before the emulator exec command? This may sound trivial, but sometimes it's a matter of relative pa

[2021-01-19 20:36] amkoehler opened #3056 "Large number of redundant log messages when using `emulators:exec` to run Jest unit tests"
### [REQUIRED] Environment info

**firebase-tools:** 9.2.1

**Platform:** Ubuntu (WSL 2)

### [REQUIRED] Test case

1. Create 1 or more unit tests in the `functions` directory of a firebase project that tests firestore db operations
2. Use firebase `emulators:exec` to run the tests: `$ firebase emulators:exec --only firestore "jest --env node --runInBand"`

We have a set of unit tests for our clou

[2021-01-19 22:18] bkendall commented on #3052
Yeah, I am in the same boat. I actually think this and #3055 are pushing me towards there being some kind of issue in the proxying logic where the response is being truncated. Unfortunately it's tricky to debug this kind of issue, so I'll need some time. Thanks for raising and your patience.

[2021-01-19 22:36] bkendall commented on #2051
@saikatdas0790 I just gave both `asia-east2` and `-south1` a try and was able to successfully deploy to each. I believe you should be able to use both of those now.

[2021-01-19 23:13] rontav opened #3057 "\s regex breaks database emulator"
### [REQUIRED] Environment info

**firebase-tools:** 9.2.1

**Platform:** Manjaro 20.1 Linux

### [REQUIRED] Test case

rules.bolt:
[code]
firebase.json:
[code]
package.json:
[code]

### [REQUIRED] Steps to reproduce

`npm install`, `npm start`

### [REQUIRED] Expected behavior

Emulators should start

### [REQUIRED] Actual behavior

Database emulator crashes

<details>
  <summary>database-debug.l

[2021-01-19 23:18] rontav commented on #3057
Replacing `\s` with the space char or the complete character list allows the emulator to start.

[2021-01-20 02:00] #2993 closed

[2021-01-20 02:04] xaphod commented on #2988
Hey, I keep getting this error all over the place. The other issue you've duped this to is different: it's about the masking, not the fact that there are spurious network errors.

I've been getting these network errors **only with firebase** for the last month, consistently. I've tried everything I can think of to rule out errors from my home, my ISP etc -- AFAICS this is a software issue or this

[2021-01-20 02:14] lamiisy commented on #2385
This worked for me
 I ran:
`firebase login:ci`

then ran:
`firebase deploy`

[2021-01-20 11:18] RidhikGovind commented on #386
Thanks a lot. This really worked for me ! :+1:

[2021-01-20 11:24] samtstern commented on #3055
@jasdevsidhu12 if you look at your `firebase.json` you'll see this:

[code]

This means Firebase Hosting (in prod and when emulated) will serve the contents of `server/dist`. This is generally the output of `npm run build`. The hosting emulator does not proxy the contents of the Next.js dev server.

So while developing you should continue to use the NextJS dev server. If you want to test before de

[2021-01-20 11:51] samtstern commented on #3056
Assigning this to @abeisgoat to take a look since this concerns logging.

[2021-01-20 12:16] liubq7 commented on #1442
Still facing the same problem and tried all the methods above but didn't work...

[2021-01-20 13:38] AviadKlein10 commented on #631
Have the same problem:

"Error: There was an error reading functions\package.json:

functions\lib\index.js does not exist, can't deploy Cloud Functions"

Nothing is working please help!

[2021-01-20 14:20] jsduffy commented on #1738
+1

[2021-01-20 14:53] ChrisEke commented on #2997
I think you are on to something. If I remember correctly I did not follow **Step 2. Register your app with Firebase** and only registered a Firebase project with my existing GCP project. After that I went straight to `firebase init hosting` via CLI as that's the only component I am interested in at the moment.

On 2021-01-02: I first associated the Firebase project with existing GCP project below

[2021-01-20 15:04] samtstern commented on #2988
@xaphod I'm inclined to agree with you because I've had more network issues with firebase-tools than other things on my personal computer although I have absolutely *no* idea where to begin this investigation. As you could imagine this could be anything from a Node library issue to something deep in Google's network stack and most of us here on the CLI repo are wholly unqualified to investigate an

[2021-01-20 15:07] samtstern commented on #2988
@bkendall can you think of any useful investigation we could do here?  If not is there somewhere internally we could report this at least?

[2021-01-20 16:42] jmcdl opened #3062 "Data added to Firestore Emulator is not visible in the emulator suite"
### [REQUIRED] Environment info

**firebase-tools:** 9.2.1

**Platform:** macOS Big Sur 11.1

### [REQUIRED] Test case

I'm not sure how to offer a test case for this issue as it requires running the Firebase Emulator locally and connecting it to a React web app.

### [REQUIRED] Steps to reproduce

define emulator configuration in firebase.json

[code]

Configure app to use emulator:

[code]

1. R

[2021-01-20 16:47] jmcdl commented on #3062
I realised that I was using the wrong firebase project in the terminal where I was running the emulator. By switching to the correct project with `firebase use` the emulator begun to show the data as expected.

I'll close this and leave this here in case it helps anyone scratching their head about the same problem.

[2021-01-20 16:47] #3062 closed

[2021-01-20 17:11] JamieDixon commented on #2602
@ZYinMD Your comment here lead me to realise that the `project-id` relates to the project being used by `firebase use`. I was completely unaware that this was the case and was struggling to understand how the `project-id` had any relevance given that the docs say you can use anything you want. Thank you!

[2021-01-20 17:41] jasdevsidhu12 commented on #3055
Hi @samtstern,
I'm using an **express-server** to serve/render those NextJS files and its in my repository the [server file.](https://github.com/jasdevsidhu12/test-next/blob/firebase-issue/server/server.ts).

My **express-server** is using the firebase **cloud-function/hosting** name **helloWorld** [line 20] to **"run on"**. The cloud-function name is also stated in  my [firebase.json file](https:

[2021-01-20 17:51] samtstern commented on #3055
Can you show the full request and response (url, headers, data, etc) from the `test` request you circled in the Chrome console?

Also it looks like you're trying to send `/test` to the `helloWorld` function but your `firebase.json` does not have the configuration for that:
https://firebase.google.com/docs/hosting/functions

You need to add something like this:

[code]

[2021-01-20 18:29] samtstern commented on #3062
@jmcdl thank you for following up!

[2021-01-20 18:50] jasdevsidhu12 commented on #3055
so when I hit request ```/test``` the following are the headers. I'm not passing any query.
![image](https://user-images.githubusercontent.com/12964252/105220504-b9a3dd00-5b4f-11eb-8098-aa5a9d477dff.png)

and in cmd log
![image](https://user-images.githubusercontent.com/12964252/105220593-da6c3280-5b4f-11eb-819d-c31b68a37940.png)
Still cant find anything unusual

Also on the URL rewrites I want al

[2021-01-20 19:28] bkendall commented on #3055
Hi folks. I was able to replicate this issue and I think the root cause is similar to #3052.

When the hosting emulator is streaming a response, there's a case where the caller may be expecting compressed content and the proxy is _decompressing_ the content and streaming that back as a response. This causes issues where it can't decompress the content (because it's not compressed) and the content

[2021-01-20 19:30] samtstern commented on #3055
@bkendall thanks for watching this thread!

[2021-01-21 04:15] IsaiahByDayah commented on #2906
To build on what @malcolmdeck said, thats my experience. Once you log in though, calling `user.sendEmailVerification()` DOES print a URL you can visit to "verify" the emulated user's email

[2021-01-21 05:28] Huanzhang89 commented on #1442
Are you in China and using a vpn? I found that my issue was the vpn was being redirected via localhost so that it does not tunnel outside china for connecting to local ip addresses. Using Cisco Anyconnect solved the issue for me

[2021-01-21 05:43] liubq7 commented on #1442
YES! Thank you for your reply, I will try it later!

[2021-01-21 09:11] mfb-remotesocial opened #3068 "Firestore emulator ui bug"
### [REQUIRED] Environment info

**firebase-tools:** 9.2.1

**Platform:** MacOS Catalina 10.15.7

### [REQUIRED] Test case

There seems to be a disconnect between Emulator UI and the Firestore Emulator data. I have had no issues with using a node script to bulk write data to localhost:8080 emulator in the past. As of yesterday, changes to the bulk update data are no longer reflected in the emulato

[2021-01-21 09:12] mfb-remotesocial commented on #3068
Apologies if the format of this bug request is not correct... the issue only appeared today after updating to the most recent version of the emulator.

[2021-01-21 10:18] samtstern commented on #3068
@mfb-remotesocial a few questions:

1. Can you double check that you're using the Project ID `'rs-dev'` everywhere? This should be the project the Firebase CLI is using and also the project your client code is using in initializeApp()
1. You mention this stopped recently, are you able to make this work by downgrading your Firebase CLI to an older version? If so, which version?
1. Can you reproduce

[2021-01-21 14:31] ssbushi commented on #3022
Hi @wtpalexander,

Thanks for bringing up this issue. Could you please check the tips mentioned by @yuchenshi above? Nonetheless, I've added more logging in Fix #3066 for when the auth import directory is invalid.

[2021-01-21 14:57] wtpalexander commented on #3022
Running `ls ./emulator-data/auth_export` before `firebase emulators:exec "./XCodeTest.sh" --import=./emulator-data/` yields the following:
[code]
So looks like the files are there available to Firebase when running on CI.

[2021-01-21 15:09] johanchouquet commented on #590
As i understand this, it's a full replacement. One firebase.json for another alternate firebase.json.

Is there a plan to have the following feature: extend 2 firebase.json files (for example) from a base firebase.json, just like we have in tsconfig.json files ?

Would be perfect to set commun rules in the base.firebase.json, and then, write specific parts of a target let's say in dedicated fireba

[2021-01-21 15:09] ssbushi commented on #3022
Thanks for the prompt response @wtpalexander.

This is interesting. Is it possible for you to share a minimal-working-example version of your `XCodeTest.sh` for us to reproduce this issue?

I've tried the same exec command and listed the accounts created using HTTP GET on  `http://localhost:9099/identitytoolkit.googleapis.com/v1/projects/my-awesome-project/accounts:query`. I did not run into the i

[2021-01-21 15:23] samtstern commented on #590
@johanchouquet no sorry we don't have any plans for that, we don't see `--config` as a common use case but more of a backdoor and we don't plan to expand the complexity of it in the future.

[2021-01-21 15:59] wtpalexander commented on #3022
@ssbushi

My `XCodeTest.sh` is as follows:

[code]

Supplying a sample project is a little harder since it requires a fully built app that has a UI test that runs through the log in flow, using the account already created in the `emulator-data` export. Strangely enough the identical command does import the Auth Data when run locally. I've also noticed the Firestore Data is not imported either on C

[2021-01-21 16:49] #3052 closed

[2021-01-21 16:49] #3055 closed

[2021-01-21 18:07] ekselys commented on #3049
Seems working now, the project ID was wrong as prjectid.
By the way, i'm facing the same problem trying to reach the endpoint from an android emulator.
Is there any restriction on the endpoint itself?
This is the code used to make the call and I receive always 404

[code]

[2021-01-21 18:30] samtstern commented on #3049
@ekselys on an Android emulator `localhost` does not mean your computer it means "local to the Android emulator".  If you want to access `localhost` on the *computer* that contains the emulator you need to use the special IP address `10.2.2.2`

So
[code]

You can see this in the docs here:
https://firebase.google.com/docs/emulator-suite/connect_firestore#android_ios_and_web_sdks

Closing because y

[2021-01-21 19:26] bkendall commented on #2988
What version of Node are you using?

Could you run the command with `NODE_DEBUG=socket,net,http` before it? E.g. `NODE_DEBUG=socket,net,http firebase projects:list`. Something seems to be up with the node stack, so maybe that could have some useful output. If you don't want to clean the output up a ton (there's tokens and names all up in there I'm sure), you can send it to me directly at bkend [@]

[2021-01-21 19:29] bkendall commented on #2997
I bet that's the case. I'll have to take a look and see if I can replicate this exactly (or, if you have a moment, that would help). If someone's deploying to Hosting I would expect that configuration to exist in some way, but I'm going to have to do a bit of digging into some internals.

[2021-01-21 20:00] ssbushi commented on #3022
Thanks @wtpalexander.

I understand, no worries then. Nonetheless, authentication should not affect data import in the emulator.

Could you please try one of these suggestions:
- This may be a `firebase` version mismatch. Please try updating the `firebase` binary on your CI to the latest version and run `firebase -V` to ensure the versions match both locally and on CI.
- Could you create a new tes

[2021-01-21 21:03] Mattinton opened #3070 "oobCode not appearing after updateEmail is called while using emulators"
### [REQUIRED] Environment info

**firebase-tools: 9.2.1**

**Platform: macOS**

### [REQUIRED] Test case

[code]

### [REQUIRED] Steps to reproduce

Running the code above

### [REQUIRED] Expected behavior

oobCodes contains an oobCode for test@email.com to revert the email

### [REQUIRED] Actual behavior

The response does not contain an oobCode to revert the email. But does contain oobCodes for

[2021-01-21 21:21] ekselys commented on #3049
Sorry, it was just a copy&paste error in the comment, obviously i was using 10.0.2.2 as host

[2021-01-21 22:20] mfb-remotesocial commented on #3068
Hey Sam, thanks for the reply... I'll implement these changes and get back to you with a more detailed response shortly. This may well fix the problem.

[2021-01-21 22:41] mfb-remotesocial commented on #3068
This was the issue and apologies for raising a bug unnecessarily... the CLI had been changed to use a different project. I'll close this and again, thanks for taking the time to look at it. Thanks also for the call-out on the async code, totally makes sense and I'll be sure to switch to the for...of loop instead.

[2021-01-21 22:41] #3068 closed

[2021-01-22 02:41] mohitsud commented on #2917
I will close this issue for now. It still exists, but I find it fixes it self when I log into firebase and click on "Realtime Database" and select "Get Started". It seems that one button solves this bug for me. I cant explain it.

[2021-01-22 02:46] mine215 opened #3072 "External API calls fail in PubSub function"
### [REQUIRED] Environment info

**firebase-tools:**

**Platform:**

### [REQUIRED] Test case

### [REQUIRED] Steps to reproduce

### [REQUIRED] Expected behavior

### [REQUIRED] Actual behavior

[2021-01-22 04:27] bramosrys commented on #2421
Hi!

I can confirm that this is still happening, I cannot read any data exported from Windows into linux (Ubuntu). This is causing me to break my CI flow because some of my team members develops on Windows and the pipeline runs in Linux. I'm considering migrating my pipeline to windows containers.
Here's another stack trace running `firebase:exec` with` --debug` flag. Hope it helps with the backsl

[2021-01-22 10:46] samtstern commented on #3072
@mine215 please use the issue template when filing an issue.

[2021-01-22 10:46] #3072 closed

[2021-01-22 10:54] samtstern commented on #3068
@mfb-remotesocial no problem! Project ID confusion is one of our top issues and I'm adding this conversation to my "list of evidence" so I'm glad you filed it.

[2021-01-22 10:56] samtstern commented on #3070
@yuchenshi I'm not familiar with what the correct behavior here should be ... does updating the user's email generate an OOB code?

[2021-01-22 10:58] samtstern commented on #3049
@ekselys there is no restriction on the endpoint. Can you confirm using my example that you're able to hit the endpoint using `curl`?  If so then unfortunately this is not an issue in `firebase-tools`, that would mean it's an issue in how your Android emulator is connecting to your computer's network which isn't something we can fix.

[2021-01-22 11:16] johanchouquet commented on #590
Thanks for your feedback @samtstern.

Not sure this is the best place to discuss about that btw, but your answer makes me thinking about the following:

Without the `--config` feature, I'm very curious to get feedbacks on how to implement best practices on how to develop in a monorepo multiples projects (functionally speaking) with the Firebase stack (Hosting / Functions / Firestore / Rules etc...

[2021-01-22 14:09] janswist opened #3073 "Pub/Sub Emulator has exited with code: 1"
### [REQUIRED] Environment info

**firebase-tools:** 9.2.1

**Platform:** macOS

### [REQUIRED] Test case

None

### [REQUIRED] Steps to reproduce

`firebase emulators:start --only pubsub`

### [REQUIRED] Expected behavior

Normal work.

### [REQUIRED] Actual behavior

[code]

It requires me to download Java runtime, but to download it Oracle requires me to register with putting a lot of data on t

[2021-01-22 14:29] samtstern commented on #3073
@janswist unfortunately we can't bundle Java with our emulators, try installing via https://openjdk.java.net/ which shouldn't require any of the information that Oracle requires.

[2021-01-22 14:56] wtpalexander commented on #3022
@ssbushi, You've hit the nail on the head - I had 8.1 on CI and 9.2.2 locally. Silly me! Running on CI now successfully imports the Auth Data. Thanks so much for helping me find that issue, had me stumped for a while.

[2021-01-22 14:56] #3022 closed

[2021-01-22 16:48] mbleigh commented on #590
@johanchouquet supporting monorepos for functions (in particular e.g. yarn workspaces) has come up a number of times. It's something I'd like us to think about more, though I don't know that we'll have any solutions in the short term.

If you have a moment, can you describe the structure you're trying to achieve and how you'd like it to work in an ideal world? I'd be happy to react to that (e.g. "

[2021-01-22 16:54] bkendall commented on #2917
I think @sarajmunjal may be the best person to take more of a look. I'm not completely familiar with this flow, so hopefully he can help out.

[2021-01-22 19:11] sarajmunjal commented on #2917
Hi @mohitsud did the error persist after you upgraded the CLI version?

[2021-01-22 19:59] danaia commented on #2997
I think this is the right channel for this question but I am also successfully removing the asset/image in FB but getting a return:

`FirebaseStorageError {code_: "storage/object-not-found", message_: "Firebase Storage: Object 'campImages/469d0e60-5ceb-11eb-9a24-f122cb0332bb.png' does not exist.", serverResponse_: "{↵  "error": {↵    "code": 404,↵    "message": "No…lete object",↵    "status": "DEL

[2021-01-22 22:31] janswist commented on #3073
Got it! Thank you :)

One note for others: I found installation guide [right here](https://techoral.com/blog/java/install-openjdk-10-on-mac.html) because on openjdk site it wasn't properly showed.

[2021-01-22 22:31] #3073 closed

[2021-01-23 10:59] nirinsanity opened #3106 "Error with deploying multiple functions"
### Related issues

https://github.com/firebase/firebase-functions/issues/672

### [REQUIRED] Version info

**node:** 12.18.1

**firebase-functions:** 3.13.1

**firebase-tools:** 9.2.2

**firebase-admin:** 8.10.0

### [REQUIRED] Test case

firebase deploy --only functions:saveGarment,functions:initiatePayment

### [REQUIRED] Steps to reproduce

I defined two functions saveGarment and initiatePayme

[2021-01-23 17:51] holmberd opened #3074 "Auth emulator unauthorized-domain error with chrome extension"
### [REQUIRED] Environment info

firebase-tools: 9.2.1
Platform: macOS

### [REQUIRED] Test case
1. Setup a new Firebase project with Google Auth Sign-in.
2. Setup Firebase-tools for the newly created project.
3. Follow the steps under [Setup a dummy Chrome Extension](https://github.com/firebase/quickstart-js/tree/master/auth/chromextension) to obtain a **Chrome Extension ID** and **Public Key**.

[2021-01-24 01:23] #3074 closed

[2021-01-24 04:35] jayDesai89 commented on #631
I am working on one my personal project just for learning, and I am trying to Host my app
Project frame-work : Angular 8
Below is my package.json file,
<======================>
[code]

<======================>
Upon `firebase init`    I am selecting   =>  Hosting: Configure and deploy Firebase Hosting sites
Upon `firebase deploy` I am getting following error :

Error: There was an error reading fun

[2021-01-24 17:30] kevmo314 opened #3075 "Functions emulator path doesn't match real executor path"
### [REQUIRED] Environment info

**firebase-tools:** 9.2.2

**Platform:** WSL v2 Debian

### [REQUIRED] Test case

[code]

### [REQUIRED] Steps to reproduce

Run the above test case, visit `.../api/test`.

### [REQUIRED] Expected behavior

`.../api/test` should work.

### [REQUIRED] Actual behavior

If I visit this in prod functions it works, however on the emulator it requires that I visit `.../a

[2021-01-24 18:08] maxwell-oroark commented on #1109
I am still having this issue after trying everything above in the comments.

[2021-01-24 18:12] kevmo314 commented on #3075
Oh turns out this might not be because of the emulator but rather because I'm using cloud functions behind firebase hosting. In other words it seems like the emulator behavior is correct and there's a bug in firebase hosting somewhere.

[2021-01-24 20:01] chrisjacobs91 commented on #2027
Chipping in on this. Am I right in thinking there is a delay in the emulator building composite indexes? (perhaps as they have not been built in advance like in live environments)

When I change data and then perform a query that would usually require a composite index, I get out of date data back from Firestore.

[2021-01-24 21:33] holmberd commented on #2850
I have a similar issue with unauthorised-domain error when using `signInWithPopup` and `signInWithredirect` from the background page of a chrome extension.

Added ticket to Firebase-js-sdk: https://github.com/firebase/firebase-js-sdk/issues/4335

[2021-01-24 21:51] sanjay51 commented on #2003
# Solved!!
I just re-ran `firebase init`, chose my options, and it fixed everything by overwriting the "corrupted" configuration.

[2021-01-24 22:58] nidegen opened #3077 "Firestore Emulator REST API always returns "Not Found""
### [REQUIRED] Environment info

**firebase-tools:**  9.2.2
**Platform:** macOS Catalina

### [REQUIRED] Test case

empty firestore running in emulator

### [REQUIRED] Steps to reproduce

- `firebase emulators:start`
- `curl -X POST -H "Content-Type: application/json" -d'{"a": "b"}'\"http://localhost:8080/emulator/v1/projects/<project-name>/databases/(default)/documents/sd/aa"`

### [REQUIRED] Exp

[2021-01-25 02:00] #2957 closed

[2021-01-25 08:55] rajkumarboddu commented on #2469
I'm also facing the same issue. Please find the debug log below.

`=== Project Setup
[info]
[info] First, let's associate this project directory with a Firebase project.
[info] You can create multiple project aliases by running firebase use --add,
[info] but for now we'll just set up a default project.
[info]
[debug] [2021-01-25T08:48:03.977Z] >>> [apiv2][query] GET https://firebase.googleapis.com

[2021-01-25 08:58] rajkumarboddu opened #3078 "Error: Failed to list Firebase projects. See firebase-debug.log for more info."
I'm facing the below issue while running `firebase init`. Please find the debug log below.

=== Project Setup
[info]
[info] First, let's associate this project directory with a Firebase project.
[info] You can create multiple project aliases by running firebase use --add,
[info] but for now we'll just set up a default project.
[info]
[debug] [2021-01-25T08:48:03.977Z] >>> [apiv2][query] GET https:

[2021-01-25 09:03] deepalwin opened #3079 "Emulators Stop"
What is the specific command to stop the emulators? like we have a command to start the emulators - emulators:start

just like that what is the command to stop the emulators? Apart from manually killing the ports and using ctrl + C

[2021-01-25 10:11] samtstern commented on #3079
@deepalwin there is no command to stop the emulators, they are a long running process and you kill them by killing the process (Ctrl+C) as you said.

[2021-01-25 10:11] #3079 closed

[2021-01-25 10:12] samtstern commented on #3078
@rajkumarboddu please use the issue template when filing issues, this does not have all the information we need to debug.  This also does not look like a complete debug log, please post the full log contents.

[2021-01-25 10:16] samtstern commented on #3077
@nidegen this is working as intended because that is not a correct use of the Firestore REST API.  Unlike with Realtime Database, you can't just `POST` JSON data to the document path.

For information on writing data using REST see the `commit` API:
https://firebase.google.com/docs/firestore/reference/rest/v1/projects.databases.documents/commit

[2021-01-25 10:16] #3077 closed

[2021-01-25 10:17] samtstern commented on #2027
@chrisjacobs91 that should not be the case and if you can reproduce that please file a separate issue.  The emulator, just like real Firestore, should always be strongly consistent.

[2021-01-25 10:18] samtstern commented on #3075
@kevmo314 can you provide some more information? Specifically seeing your `firebase.json` and the HTTP request you're trying to make would help.

[2021-01-25 10:23] deepalwin commented on #3079
@samtstern Thanks for the quick answer however I am using it in a CI server. I cannot manually use the ctrl+c command. Any other options available?

[2021-01-25 10:25] samtstern commented on #3079
@deepalwin on a CI server it's better to use `emulators:exec` which will shut itself down when done.  So for example:

[code]

This will:

1. Start the emulators
2. Run your custom test script and wait for it to finish
3. Shut down the emulators

[2021-01-26 10:36] masikmos commented on #2633
i think we can use nginx or haproxy in docker container

[2021-01-26 17:53] ekselys commented on #3049
`curl` works fine, thanks for help

[2021-01-26 18:02] isamyh commented on #1738
@samtstern

Any news? <3

[2021-01-26 18:25] bkendall commented on #2997
I think this is working as intended at the moment. For auth to work with Hosting, you'll need a web app configured, so that permission and check will need to be done to update the authorized domains list. The newest versions of the CLI (>=9.2.1) don't fail on this any longer, so the original issue here should be closed.

@danaia, this isn't the right place for that question. I'm not sure it's rela

[2021-01-26 18:25] #2997 closed

[2021-01-26 18:30] samtstern commented on #3049
@ekselys thank you for confirming! Sometimes Android emulators have really wacky network issues, I really wish I could help you debug it but it's outside of my expertise.  Since we've determined the emulator endpoint itself is working correctly I am going to close this issue, I hope you find your solution!

[2021-01-26 18:30] #3049 closed

[2021-01-26 20:41] markgoho opened #3083 "Custom claims can't be set on a user made with makeUserRecord"
### Version info

**firebase-functions-test:** 0.2.3

**firebase-functions:** 3.13.1

**firebase-admin:** 9.4.2

### Test case

Create user with `makeUserRecord` and use that user in a test where custom claims are set.

### Steps to reproduce

#### custom claims function
[code]

#### unit test
[code]

### Expected behavior

Custom claims can be set on test user.

### Actual behavior
from the `catc

[2021-01-27 11:45] NeverwinterMoon opened #3084 "firestore#delete not working with the emulator after more or less recent change"
### [REQUIRED] Environment info

**firebase-tools:9.2.2**

**Platform:macOS**

### [REQUIRED] Test case

Check the steps to reproduce. It does not require anything else. Downgrading firebase-tools to, say, 8.16.2, works with that same code.

### [REQUIRED] Steps to reproduce
Have emulators running, then

[code]

### [REQUIRED] Expected behavior
Before this commit (https://github.com/firebase/fireb

[2021-01-27 12:32] lpellegr opened #3085 "Auth import using CSV format is broken"
Using version 9.2.2 (I haven't tested with older versions), when you export users from Firebase auth in CSV format and then reimport them using the CSV file generated by the Firebase CLI tool, many accounts are skipped and not recreated.

Here are the commands for reproduction:

[code]

[code]

As you can see, _1196_ accounts were expected but only _921_ are imported. The destination project did n

[2021-01-27 12:44] samtstern commented on #3084
@NeverwinterMoon thanks for the detailed bug!  What happens if you don't set `FIREBASE_TOKEN` at all?

Assigning to @bkendall since this looks like an apiv2 regression.

[2021-01-27 15:25] NeverwinterMoon commented on #3084
Without setting `FIREBASE_TOKEN` environment variable it will fail even earlier, at `requireAuth`, with `Failed to authenticate` as it requires either process.env.FIREBASE_TOKEN or firebase login on the machine where it's running.

I actually found out that setting `process.env.FIREBASE_TOKEN` to `owner` (similarly to what `api.js` does in the aforementioned change) works with the latest `firebase

[2021-01-27 16:04] xaphod commented on #2988
Hi @bkendall I emailed you some logs with the NODE_DEBUG you requested. It's node v12.20.0
thanks

[2021-01-27 17:57] muhammadsqln commented on #596
I am having the same issue. I have tried running `npm install` within the functions folder, and have tried `firebase deploy --only functions` inside the functions folder as well as outside.

[2021-01-27 20:52] skhaz opened #3086 "Warning, estimating Firebase Config based on GCLOUD_PROJECT. Initializing firebase-admin may fail"
When using the firebase emulator with jest, a warning is displayed on the terminal:

### [REQUIRED] Environment info

**firebase-tools:** 9.2.2

**Platform:** WSL2

### [REQUIRED] Steps to reproduce

Run any test with firebase emulators

### [REQUIRED] Expected behavior

No warnings shown

### [REQUIRED] Actual behavior

Warning, estimating Firebase Config based on GCLOUD_PROJECT. Initializing fir

[2021-01-27 21:00] skhaz commented on #3086
That's way everbody prefers AWS.

[2021-01-27 21:01] samtstern commented on #3086
@skhaz can you provide a more complete reproduction case?  This warning does not happen on every single test, I have run many tests without triggering this warning.

[2021-01-27 21:02] skhaz commented on #3086
@samtstern there's no test case, just `admin.initializeApp()`

[2021-01-27 21:11] supfam commented on #2203
can confirm, this is working ty

[2021-01-27 21:33] samtstern commented on #3086
@skhaz this is not the repo for the Firebase Admin SDK, this is the repo for the Firebase CLI.  Please provide a series of steps that demonstrates a bug in the Firebase CLI or there's not much we can do.

Also there's nothing wrong with that warning, it means what it says.  In your local environment without an explicit config provided the SDK will attempt to initialize by guessing the location of

[2021-01-27 21:52] uhhhclem commented on #3085
Could you please check the users.csv file to see if it contains 1196 lines?  That will help us narrow down where the problem's occurring.

[2021-01-27 22:12] lpellegr commented on #3085
[code]

[2021-01-27 22:13] MchlG commented on #2602
So is there no way to view data in the Firestore emulator UI while using a fake project id? Right now the data only displays in the UI when I use the project ID that matches the project which I set via `firebase use` which means I have to use my real project id...

[2021-01-27 22:24] samtstern commented on #2602
You can always start the Firebase CLI using a fake project ID to match. Use
`firebase —project=<whatever> emulators:start`

But yes you do need to use the same project ID everywhere

On Wed, Jan 27, 2021 at 10:13 PM MchlG <notifications@github.com> wrote:

[2021-01-27 22:48] pumuckelo commented on #2536
I did `npm uninstall firebase-tools` and then `npm i firebase-tools -g` and then the deploy only failed for one function but the function I needed to deploy succeeded.

What you could also try is to deploy single functions by doing
` firebase deploy --only "functions:functionName"`

[2021-01-27 23:20] uloga opened #3087 "Firebase-tools not in sync with console - not listing projects created through console"
### [REQUIRED] Environment info
macOS Catalina, Node v14.15.4 installed via nvm, firebase tools 9.2.2

**firebase-tools:** 9.2.2

**Platform:**
macOS

### [REQUIRED] Test case

Firebase projects not showing up when using firebase cli
### [REQUIRED] Steps to reproduce

1. created new project in firebase console
2. logged in with firebase cli
3. run firebase projects:list < newly created project is

[2021-01-28 00:20] #3087 closed

[2021-01-28 01:15] sgehrman commented on #2378
ditto.  Why isn't this high priority?