[2021-06-20 19:07] maganap commented on #3473
You can see more info in `firebase-debug.log` log file without running with the `--debug` flag.

[2021-06-20 19:11] maganap commented on #3517
Same error log as in #3512 , same firebase-tools version. Not sure it's related.

[2021-06-20 23:22] RicardoAratani commented on #2602
I faced a similar problem. I was using two different projects, one for development another for production.
There are many places where the project ID is used, and a mismatch can yield weird bugs that can be hard to troubleshoot:
- .firebaserc on your project directory
- the admin.initializeApp() call
- the url used to call the functions (HTTP 404 when wrong)
- the RTDB name, if kept the default
-

[2021-06-21 09:00] NikolajLeischner commented on #2521
A workaround is to put the JVM flags into the environment variable `JAVA_TOOL_OPTIONS`, which is intended for cases where it is not easily possible to pass arguments to the JVM directly. At least OpenJDK and OracleJDK support this.

[2021-06-21 09:26] samtstern commented on #3516
@arpit24sahu please use the issue template when filing an issue.

[2021-06-21 09:26] #3516 closed

[2021-06-21 09:39] #1833 closed

[2021-06-21 09:50] samtstern commented on #2602
@RicardoAratani we are working on a plan to make it much more obvious when you have a project ID mismatch and also make it easier to set things up!

[2021-06-21 10:13] samtstern commented on #2521
@NikolajLeischner thanks for pointing that out! `JAVA_TOOL_OPTIONS` sounds like exactly what we want in this case. I was going to propose something like `FIREBASE_EMULATORS_JAVA_OPTIONS` but I think that would be redundant. And I do think an env var is cleaner than `firebase.json` as this feels like leaking an implementation detail (only half the emulators are Java).

@olivierkrener what do you th

[2021-06-21 11:55] thibaut-adx commented on #3512
Exactly the same error for the same environment!

[2021-06-21 13:53] sceee commented on #3469
@adzharamrullah thanks. This could be a temporary workaround for `download()` but for `pipe()`, it unfortunately does not work as there is no such option available.

[2021-06-21 16:17] Bullfrog1234 opened #3518 "Auth Emulator don't raise 'auth/account-exists-with-different-credential' errors"
### [REQUIRED] Describe your environment

  * Operating System version: Windows 10 Home
  * Browser version: Chrome 91.0.4472.114
  * Firebase SDK version: 8.6.8
  * Firebase Product: auth with emulators

### [REQUIRED] Describe the problem

When using the emulators `signInWithPopup` with two different providers (e.g. google and facebook) with the same email addresses **does not** raise the `auth/

[2021-06-21 16:20] binajmen opened #3519 "Callable function not working in emulator (CORS issue + HttpsErrorImpl error)"
### Environment info

**firebase-tools:** 9.13.1

**Platform:** macOS

### Test case

I'm setting up my firebase client as below, specifying `useEmulator` when in development:
[code]
I have multiple cloud functions, including callables (which cause me problems):
[code]
I call this function in the client as below:
[code]

### Steps to reproduce

This is a Next.js project that is private (not mine,

[2021-06-21 16:23] samtstern commented on #3519
@binajmen since the launch of the Emulator Suite we had a bug where we ignored function regions in emulation. We fixed that in a recent release, but this means that some scripts (like yours) which depended on the bug broke.

Try this:

[code]

// Removed the `dev` ? check
const functions = firebase.app().functions('europe-west1');

[2021-06-21 16:30] binajmen commented on #3519
Hi @samtstern,

Thank you for this quick reply.

I'm having the following error:
`Argument of type '"europe-west1"' is not assignable to parameter of type 'App | undefined'. ts(2345)`

[code]

I did a `yarn upgrade firebase-functions` to make sure I have the latest version (firebase-functions@3.14.1).

[2021-06-21 16:32] binajmen commented on #3519
@samtstern Thank you !!!

To be honest I've seen so many solutions out there (here and on SO) that I was a bit lost. Hope this thread will help someone else.

Cheers !

[2021-06-21 16:32] #3519 closed

[2021-06-21 16:35] inlined commented on #3512
From a cursory scan of the codebase it looks like this would crash if you don’t actually have any functions exported in your codebase. Can you confirm that this is the case?

[2021-06-21 18:59] inlined commented on #3404
Fix is in the next version of `firebase-tools`, which should be coming today.

[2021-06-21 18:59] #3404 closed

[2021-06-21 19:04] #3493 closed

[2021-06-21 19:19] rosalyntan commented on #3518
Hi @Bullfrog1234, thanks for filing this! We are unable to promise any timeline for this, but if others also have this issue, adding a +1 on this issue can help us prioritize adding this to the roadmap.

(Googler-only internal tracking bug: b/191680800)

[2021-06-21 19:29] #3512 closed

[2021-06-21 20:29] dashby3000 opened #3523 "iOS & Firebase Storage Emulator Crash"
### [REQUIRED] Environment info

Operating System version: MacOS BigSur v11.3
Firebase: 9.13.1
Firebase SDK version: 8
Firebase Product: Storage with emulators
Apple iOS 14.5

### [REQUIRED] Describe the problem

I have some pretty basic iOS code using the FirebaseStorage SDK to upload a file to the the Storage Emulator.  When I run the code in the Gist (provided below) I get an error back from th

[2021-06-21 23:28] Bullfrog1234 commented on #3518
Hi @rosalyntan, understand this may not be fixed in the near term. Just wanted to get it on the roadmap for sometime.

[2021-06-22 00:08] taeold commented on #3517
Looks like there are 2 issues here:

1. Deploy fails when there aren't any functions defined in the user's project (Fixed in https://github.com/firebase/firebase-tools/pull/3520)

2. `process.env` is no longer piped when parsing `.js` files to discover firebase functions
(https://github.com/firebase/firebase-tools/pull/3422).

We expected the process for parsing user code to discover user-defined

[2021-06-22 00:48] dashby3000 commented on #3523
My issue... rookie error in setting rules and didn't realize it.

[2021-06-22 00:48] #3523 closed

[2021-06-22 01:00] #3448 closed

[2021-06-22 04:18] MrAndrew commented on #2671
Any updates on this? As of firebase-tools 9.14.0 npm audit still throws this warning. I see above that Firebase should have retired node 8 support as of this past February.

[2021-06-22 06:29] davidhartsough commented on #3514
I've tried to do all of this without the hex encoded values. So here's the code I used to get the base64 encoded password hash and the salt. (I put an example in Node.js and one in Python. Both get the same results.)

<details>

<summary>Node.js</summary>

[code]

</details>

<details>

<summary>Python</summary>

[code]

</details>

In the end, I get the following values:

[code]

Thus I created t

[2021-06-22 09:06] samtstern commented on #2671
@MrAndrew have you tried removing your `package-lock.json` and reinstalling?

[2021-06-22 10:49] MrAndrew commented on #2671
Oh yea, that did the trick. Thanks so much.

[2021-06-22 11:47] maganap commented on #3517
It's an undocumented feature so... I knew this day would come 😅

In older/smaller projects we used to work like this:

[code]

Then on larger projects where cold start time was an issue for very specific functions, we followed suggestions from [Firebase](https://firebase.google.com/docs/functions/tips#performance) and [Doug](https://medium.com/firebase-developers/organize-cloud-functions-for-max-c

[2021-06-22 13:53] olivierkrener commented on #2521
@samtstern As I wrote I am calling the emulator directly via the java command line passing a custom heap size, so this is not an issue for me anymore

[2021-06-22 17:06] yuchenshi commented on #2521
IMO we can start with documenting `JAVA_TOOL_OPTIONS` in the emulator docs and we can reopen if that proves to be inadequate.

[2021-06-22 21:12] AbdelHakimZouai commented on #3143
@lucasdemoraesc
it solved think you

[2021-06-23 07:20] nolafs commented on #596
Same issue here, tried nearly everything.

---
Error: Error parsing triggers: Cannot find module
firebase-tools/lib/deploy/functions/discovery/jsexports/triggerParser.js
---

[2021-06-23 07:32] taeold commented on #3517
@maganap Thanks for sharing your setup in great detail. I learned a lot.

As for immediate workaround to your problem, my suggestion is to replace the condition `process.env.IS_FIREBASE_CLI` with `!process.env.K_SERVICE`. In GCF runtime, `process.env.K_SERVICE` will always be set whereas it won't be in local environments.

Give it a try and let us know how it goes (and if it's good enough, feel fr

[2021-06-23 08:16] raider2107 opened #3526 "FirebaseError: Error: Authentication Error: Your credentials are no longer valid. Please run firebase login --reauth"
### [REQUIRED] Environment info

**firebase-tools:** version 9.14.0

**Platform:** Windows 10

### [REQUIRED] Test case
Trying to login for the first time.

### [REQUIRED] Steps to reproduce
`firebase login --reauth --no-localhost --debug`

### [REQUIRED] Expected behavior
Successful login

### [REQUIRED] Actual behavior
[code]

![image](https://user-images.githubusercontent.com/37748022/123060156

[2021-06-23 09:13] samtstern commented on #3517
@taeold actually `K_SERVICE` is defined within the Functions emulator:
https://github.com/firebase/firebase-tools/blob/5389f50f5f9ab0e7fe6debc5ab1e5ab2de47c24f/src/emulator/functionsEmulatorRuntime.ts#L793

@maganap I use the same workflow as you, where I have some callable functions I only want to test in the shell / emulator. For that I use the `FUNCTIONS_EMULATOR` environment variable:
https://

[2021-06-23 12:53] taeold commented on #3517
@samtstern Thanks for chiming in. I didn't realize `K_SERVICE` is available in the Functions Emulator (and hence also in `functions:shell` command).

To be precise, there are 2 different environments I have in mind:

1. *Trigger Parsing* - environment we used to load user code in order to parse function triggers.
2. *Function Runtime* - environment at which user functions are executed.

This issue

[2021-06-23 15:39] alexstanbury opened #3527 "Storage useEmulator setting is being ignored using client side JS SDK"
### [REQUIRED] Environment info

firebase --version 9.14.0

macOS

### [REQUIRED] Test case

Not feasible

### [REQUIRED] Steps to reproduce

Initialise app using existing staging app config
Set `firebase.storage().useEmulator('localhost', 9199)`
Attempt to upload a file to `gs://default-bucket`
Get 403 permission denied error

Next...

Initialise app using existing staging app config
Set `firebas

[2021-06-23 15:50] alexstanbury commented on #3527
Here's what is output in the console:

[code]

[2021-06-23 16:09] samtstern commented on #3527
@alexstanbury could you show a little more of your JS code? Mainly I'd like to see where you initialize Firebase, where you call `useEmulator` and then where you try to access to Storage.

[2021-06-23 16:28] alexstanbury commented on #3527
Sure, I've condensed and simplified the production code but logic remains the same. (I'm using redux-firebase which is where getFirebase() comes from)

[code]

[code]

[2021-06-23 16:31] samtstern commented on #3527
@alexstanbury thanks! Can you try replacing `firebase.storage().useEmulator('localhost', 9199)` with:

[code]

The `useEmulator()` setting is per instance of Storage and I _think_ you're using two separate instances.

[2021-06-23 16:38] alexstanbury commented on #3527
Thanks for the quick reply, that works! I see what's happening now, I guess I need to create a wrapper function that will take care of setting useEmulator on each different bucket before returning the storage instance I want to upload to, I have 7...

[2021-06-23 16:39] samtstern commented on #3527
@alexstanbury glad it works! I am going to take this bug and add it to a list of feedback for us to consider changing the behavior. We _thought_ that doing per-instance settings would be more friendly to power users but you're not the first one to fall into this trap.

Closing this bug for now, since everything is working as intended from a Firebase perspective.

[2021-06-23 16:39] #3527 closed

[2021-06-23 16:46] febg11 commented on #3404
Nice. However, I didnt see a drop in my storage after redeploying, still hovering around 2gb.

Am i safe to delete everything in eu-artifacts.<project>.appspot.com or is this actually still being used?

[2021-06-23 16:57] joehan commented on #3314
Forgot to close this before!

[2021-06-23 16:57] #3314 closed

[2021-06-23 17:16] #1409 closed

[2021-06-23 17:18] samtstern commented on #1409
If anyone is still waiting on this, you can check out a JSON Schema for `firebase.json` here:
https://github.com/firebase/firebase-tools/blob/master/schema/firebase-config.json

This is just our first attempt to define the schema officially so it's possible that there are some configurations allowed in the real world that disagree with that file, please let me know if you find anything like that!

[2021-06-23 17:19] samtstern opened #3528 "Make JSON schema more usable"
Follow up to https://github.com/firebase/firebase-tools/pull/3505

TODO:

- [ ] Publish the schema somewhere
- [ ] Include `$schema` in `firebase.json` templates
- [ ] Make schema errors more visible in the logs

[2021-06-23 17:22] joehan commented on #3270
Hey @crossan007, thanks for reporting this and finding those related issues. Unfortunately, the errors here are happening in the Cloud Build that runs during function deployment, and the maintainers of this repo aren't able to change that. We're looking at options to improve this experience going forward, but for now, the various workarounds the community has found are your best option.

#968 cont

[2021-06-23 17:22] #3270 closed

[2021-06-23 17:28] joehan commented on #2568
@taeold can you check for this case in the new `env` commands that you're working on?

[2021-06-23 17:34] joehan commented on #1372
@merlinnot Sorry for the slow reply on this, it slipped off my radar after the initial fix. I just asked someone from Google Cloud Functions, and unfortunately they're not open to increasing the default or the limitsfor this quota. However, you should definitely request a higher quota if you need it: https://cloud.google.com/compute/quotas#requesting_additional_quota

[2021-06-23 17:34] #1372 closed

[2021-06-23 17:35] #423 closed

[2021-06-23 17:36] joehan commented on #1978
Thanks for pointing this out! As mentioned, you can now configure this to any region you want::
`export FIREBASE_FUNCTIONS_UPLOAD_REGION="europe-west1"`

[2021-06-23 17:36] #1978 closed

[2021-06-23 17:42] joehan commented on #320
@taeold Passing a bunch of old functions:config issues over to you so we can make sure that they get fixed in the env:* commands

[2021-06-23 17:45] joehan commented on #320
Actually, since this duplicate #371, closing.

[2021-06-23 17:45] #320 closed

[2021-06-23 17:46] joehan commented on #371
@taeold, passing this along to you to make sure it gets fixed in the incoming `env:*` commands.

[2021-06-23 17:48] joehan commented on #378
@taeold One more to check for the 'env:*' commands

[2021-06-23 17:55] samtstern commented on #3526
@raider2107 unfortunately if you're seeing `ETIMEDOUT` there's nothing we can do here. The connection is failing or being blocked somewhere (as you said).

I hope someone on StackOverflow who is in a similar situation can maybe tell you their workaround! But we, the Firebase team, are not able to give tips on this sensitive topic.

[2021-06-23 17:55] #3526 closed

[2021-06-23 17:57] joehan commented on #1561
Hey all, this issue is quite old, so I'm going to close it.

To the actual issue: This is unfortunately something that we won't support due to the limitations of how functions are built. In short, when you deploy a function:
1 - firebase-tools zips up your functions directory and uploads it to Google Cloud Functions
2 - GCF uses Cloud Build to install your dependencies and build your functions cod

[2021-06-23 17:57] #1561 closed

[2021-06-23 18:00] merlinnot commented on #1372
I did request it, but after evaluation it was actually lowered from the default for my project (I was constantly utilizing the quota right up to that limit and it was causing instability for other users).

Do you think we could reopen this feature request, as it still seems valid?

[2021-06-23 18:02] joehan commented on #3405
Hey @Spitzbua, this is not something that is currently supported, but it is a phenomenal feature request. We've added this to our roadmap and I recently prototyped something similar for an internal hackathon; however, it will be some time before this is available. Stay tuned!

[2021-06-23 18:15] joehan commented on #2006
Closing since this was fixed by #2182

[2021-06-23 18:15] #2006 closed

[2021-06-23 18:18] inlined commented on #3404
I wonder if this is because a previously-deleted function is pinning an Ubuntu image in Cloud Storage. We only clean up images for functions that are part of the current deployment.

Can you go through the [Google Container Repository panel](https://console.cloud.google.com/gcr) (NOT the Cloud Storage panel) and delete everything?  After redeploy your storage should hopefully go back down.

[2021-06-24 07:05] Akshit1025 opened #3530 "An unexpected error has occured"
### [REQUIRED] Environment info

**firebase-tools:** 9.14.0

**Platform:** Windows

### [REQUIRED] Test case

[debug] [2021-06-24T06:39:05.782Z] Command:       C:\Program Files\nodejs\node.exe C:\Users\akshit gupta\AppData\Roaming\npm\node_modules\firebase-tools\lib\bin\firebase.js login:ci --no-localhost
[debug] [2021-06-24T06:39:05.784Z] CLI Version:   9.14.0
[debug] [2021-06-24T06:39:05.784Z] P

[2021-06-24 07:29] #3530 closed

[2021-06-24 07:29] Akshit1025 commented on #3530
Sorry for opening
I just tried it with admin rights
Thank You

[2021-06-24 09:45] IchordeDionysos commented on #445
@laurenzlong is this fixed already?

[2021-06-24 11:53] samtstern commented on #3514
@davidhartsough thank you for all the information! Let me see if I can find the right person from the Auth team to take a look.

[2021-06-24 11:55] samtstern commented on #3514
@rosalyntan assigning to you since you're on call this week.

[2021-06-24 12:42] samtstern commented on #3528
@abeisgoat think we could publish the schema on `firebase.tools`?

[2021-06-24 12:55] jthegedus commented on #1409
This is a great step @samtstern cheers!

A use case that I am not sure JSON Schemas can cover is when a rewrite rule is defined to rewrite to a function, but the `functions` field is missing. I guess the default values for the `functions` object would be used :thinking: So I guess the request would be to the ability to parse a config that:

1. validates a provided config against the JSON schema
2.

[2021-06-24 13:08] samtstern commented on #1409
@jthegedus yeah the implicit defaults for products like Functions are definitely a bit of a problem here.

Can you explain why you'd need to hardcode `config.functions.source = "functions"`? The config is valid without that.

[2021-06-24 13:28] jthegedus commented on #1409
Sorry, that example goes back to my prior comments above.

I've built [`svelte-adapter-firebase`](https://github.com/jthegedus/svelte-adapter-firebase) which parses a users `firebase.json` file. If they define a rewrite rule to a function, I need to then parse their `functions` entrypoint, which requires knowing `functions.source` or fallback to the default value defined in `firebase-tools`. So my

[2021-06-24 13:44] jthegedus commented on #1409
An alternative to my above suggestiong would be to have all the default config values defined in a single JS object. Last I checked the defaults are spread throughout the source code and difficult to find. As are the validation checks.

[2021-06-24 16:07] ScottPierce commented on #3508
I got a response back here - https://github.com/googleapis/java-storage/issues/875#issuecomment-867334675

It'd be nice if this is something that could be supported.

[2021-06-24 16:40] rosalyntan commented on #3514
Routing to the secondary oncall.

[2021-06-24 16:49] samtstern commented on #1409
@jthegedus wow good eye! If you want to update the schema, you could send a PR here. The TypeScript is the source of truth:
https://github.com/firebase/firebase-tools/blob/master/src/firebaseConfig.ts

I agree we need to centralize the defaults. One of the issues is that they're a bit context dependent! For instance it's not true to say that the default for `functions` is `{ source: "functions" }`

[2021-06-24 17:27] pm-mic opened #3531 "**emulator** admin.auth.DecodedIdToken email_verified is false even though emailVerified is true"
* Operating System version: Windows 10
  * Firebase SDK version: 9.14.0
  * Firebase Product: auth
  * Node.js version: v12.21.0
  * NPM version: 6.14.11

**This was not tested on actual Firebase but on the Emulator**

DecodedIdToken contains field email_verified, which does not return the actual value of the emailVerified field.

#### Steps to reproduce:

A valid verification email was sent, afte

[2021-06-24 19:20] yuchenshi commented on #3514
Thanks for the detailed report! As you've observed, the issue is likely on the API backend. I understand that you've filed a support case -- which is the recommended avenue for such issues. Please make sure to link the findings in this GitHub issues there, and we'll get it to the right team.

I'm going to close this issue for now to avoid duplication, but again, we'll catch you on the flip side on

[2021-06-24 19:20] #3514 closed

[2021-06-24 19:55] yuchenshi commented on #3508
I've turn this into a feature request. Note that we are unable to promise any timeline for this, but if others also have this request, adding a +1 on this issue can help us prioritize adding this to the roadmap.

(Googler-only internal tracking bug: b/191996012)

[2021-06-25 00:52] jthegedus commented on #1409
In the context of my usage I only look for `functions` if I first detect a Hosting Rewrite Rule that rewrites to a function, then I perform the lookup of `functions.source` or fallback.

The context-dependent implementation does make this difficult.

[2021-06-25 05:15] harihara6 commented on #3120
any luck?

[2021-06-25 07:53] taeold commented on #3120
@harihara6 The problem you described depends on the version of node and firebase-cli in your builder image. Please share your setup - I've been unable to reproduce the issue (using node 16 in my builder image).

[2021-06-25 08:01] taeold commented on #2568
What shell do I have to use in order to run the problematic command?

[code]

isn't accepted in `bash` or `zsh` since the `"` is dangling at the end.

I tried

[code]

And things seem to be fine.

[2021-06-25 09:38] taeold commented on #371
In fairness, this problem isn't specific to the Firebase CLI. Passing escape sequence to a program from shell is generally tricky. https://stackoverflow.com/questions/11433977/passing-new-lines-in-command-line-argument explains things better than I can.

To demo, here's a program that just spits out arguments it gets:

[code]

[code]

Firebase CLI is just working with the argument it gets.

Here's

[2021-06-25 09:44] taeold commented on #378
I'd surround things with [ANSI-C Quote](http://www.gnu.org/software/bash/manual/html_node/ANSI_002dC-Quoting.html):

[code]

This is a dup of https://github.com/firebase/firebase-tools/issues/371.

[2021-06-25 09:44] #378 closed

[2021-06-25 17:41] KabutoYamato commented on #653
maybe something like rollup could help to pack the shared dependencies inside the functions code, in rollup if you dont write a module dependency as external it will try to pack it with the code

[2021-06-26 00:10] torkralle opened #3533 "using Storage Emulator, I cannot use listAll function."
### [REQUIRED] Environment info

**firebase-tools:**     "firebase-tools": "^8.15.0",

**Platform:** macOS Catalina

### [REQUIRED] Test case

I can get info by using listAll function in production environment,  but if I use storage emulator, I cannot get info.

### [REQUIRED] Steps to reproduce
// in initFile
const storage = firebase.storage();
storage.useEmulator("localhost", 9199);
// in apiFil

[2021-06-26 06:23] nishant-dot725 opened #3534 "uuu"
### [REQUIRED] Environment info

**firebase-tools:**

**Platform:**

### [REQUIRED] Test case

### [REQUIRED] Steps to reproduce

### [REQUIRED] Expected behavior

### [REQUIRED] Actual behavior

[2021-06-27 06:00] marcioseno opened #3535 "firebase init error"
I created a simple expo bare app and I am trying to connect with firebase. I use firebase init and I have this:
TypeError: params.rootTag is null
runApplication
node_modules/react-native-web/dist/exports/AppRegistry/index.js:90

The problem appears when I create firebase init firestore.

Simplified test case:

Steps to reproduce:

create-react-native-app my-app
npm install --save firebase
npm inst

[2021-06-28 01:20] Youmoo commented on #2452
Please, is someone working on this ?

[2021-06-28 02:54] hassanzadeh commented on #730
Is this resolved by now? sounds like a bug of firebase! I'm experiencing the same issue.

[2021-06-28 07:23] jgavazzisp opened #3536 "Incomplete event context when creating a new user"
### [REQUIRED] Environment info

**firebase-tools:** 9.14.0

**Platform:** Mac

### [REQUIRED] Test case

Creating a new user (either using google, magic link, or anonymous) which in its turn trigger firebase functions are such:

![image](https://user-images.githubusercontent.com/309389/123595740-5e37f280-d845-11eb-9e01-31326e9bc449.png)

Receives an incomplete auth event context as such:

![image

[2021-06-28 07:42] #3534 closed

[2021-06-28 08:00] samtstern commented on #3535
@marcioseno the error you're getting is not from the Firebase CLI:
[code]

So I think this question would be better asked on StackOverflow or on a React Native repo.

[2021-06-28 08:00] #3535 closed

[2021-06-28 11:18] taeold commented on #2994
@Spencer-Easton Yes. As long the compiled JS code that's deployed to Firebase Functions doesn't contain top level await, things will worl.

[2021-06-28 13:44] samtstern commented on #3533
@torkralle can you please show me your Storage rules?

[2021-06-28 16:46] dk1242 commented on #1627
It worked for me.

[2021-06-28 17:07] saiichihashimoto commented on #2452
It's been a year since the last member comment, how do we prioritize this? @samtstern @avolkovi @rosalyntan @mbleigh @bkendall @joehan @yuchenshi

[2021-06-28 18:34] oceanful commented on #2452
If comments / feedback help with prioritization, I'll add that this is a pretty big thorn in our side.

We have multiple tests that verify that our transactional logic is resilient to concurrent updates. The emulator consistently pauses for 30 seconds (and sometimes 60 or 90 seconds) for each of these tests.

[2021-06-28 19:00] epodol opened #3537 "Functions useEmulator not persistent between regions"
### [REQUIRED] Environment info

**firebase-tools:** 9.14.0

**Platform:** Windows with WSL 2 Ubuntu

### [REQUIRED] Test case

React and Reactfire are being used in this project. The repo is available at https://github.com/epodol/bsclibrary.

[code]
[code]
### [REQUIRED] Steps to reproduce

1. Set up a firebase project (as normal)
2. Create a callable function in another region (us-west2 is used

[2021-06-28 19:18] i14h commented on #3537
thanks @epodol for reporting this. @kmcnellis can you please take a look at this?

[2021-06-29 01:00] #3359 closed

[2021-06-29 03:35] aravindvnair99 commented on #3359
@taeold Is there anything you need from me?

[2021-06-29 04:02] taeold commented on #3359
@aravindvnair99 Are you still having deployment issues? If not, maybe it's time we close this issue. I noticed that lately it's become a channel for other devs to ask you to debug their deployment issue, and while I deeply appreciate your time and effort, it's probably healthier if a new issue is opened in each case.

Now that the CLI will delete container images after a successful deploy (https:/

[2021-06-29 04:58] jasonford commented on #3104
Hello, I just want to follow up to see if there is an estimate/planned date for the Auth Emulator rewrite landing?

We still have a monkey patch in our startup script to hot fix the issue for v9.14.0 (posting in case it saves anyone some time):

[code]

replace the command "gp url 8080 | cut -c 9-" with whatever domain you want to enable.

[2021-06-29 05:48] nitaigao commented on #2859
Yup, any progress, ideally would prefer to see zero log output from the emulators when running unit tests

[2021-06-29 11:27] jthegedus commented on #2994
@taeold

Do the ESLint rules generated by `firebase init functions` capture top-level await? If not, can we configure this rule in the template?

[2021-06-29 11:31] jeroenVerdonschot commented on #846
Issue still exits.

[2021-06-29 12:14] taeold commented on #2994
@jthegedus Good idea. We will probably want to update the template for both JS and TS to reflect ES module support in GCF.

[2021-06-29 15:47] yuchenshi commented on #3104
The new SDK version is in Beta right now: https://firebase.google.com/docs/web/modular-upgrade

Either v9 compact or v9 modular should handle this correctly. If not, please kindly reopen the issue with a minimal repro and we'll look into this.

[2021-06-29 17:44] epodol commented on #3537
I have looked into this some more and created a basic html/js only example. Here are a few and some conclusions I came to.

## Examples
<details>
<summary>Example 1:</summary>
<br>

[code]
Example 1 calls: ` http://localhost:5001/$PROJECT/us-central1/test`
</details>
<details>
<summary>Example 2:</summary>
<br>

[code]
Example 2 calls `http://localhost:5001/$PROJECT/us-west2/test` (Ideal)
</detail

[2021-06-29 20:42] joehan commented on #3495
Hey @amiani -  this seems to be an issue with one specific Google account and not an issue with the firebase CLI. The maintainers of this repo aren't well equipped to debug this, so I am going to close it for now. If you are still facing this issue, please reach out to Firebase Support (https://firebase.google.com/support) and they may be better able to help you

[2021-06-29 20:42] #3495 closed

[2021-06-29 21:10] kmcnellis commented on #3537
I think @samtstern is the most familiar with this code.

[2021-06-29 21:22] digimbyte commented on #846
this is not an issue, this is a 'security feature' within the console itself, you need to authorize the console inside VS code to have full permission
I personally use: `Set-ExecutionPolicy -Scope CurrentUser Unrestricted`

[2021-06-29 21:41] kmcnellis commented on #3537
But I think basically the issue is in how the useEmulator function interacts with the firebase.app().functions().

The example#5 above, calling production:
[code]

The line `const functions = firebase.app().functions('us-west2');` creates an instance of the functions class, which is then modified by the call to `useEmulator` (defined [here](https://github.com/firebase/firebase-js-sdk/blob/5d31e219

[2021-06-29 21:43] kmcnellis commented on #3537
I think it's probably working as designed, but the design seems quite confusing/unintuitive to me.

[2021-06-29 22:21] epodol commented on #3537
Thank you @kmcnellis! That is the conclusion I came to as well. I appreciate the help!

[2021-06-30 05:02] dongbangFTL22 commented on #3143
how did this problem solved I am getting same error,

[2021-06-30 06:14] aravindvnair99 commented on #3359
@taeold I have not been having deployment issues after removing the lifecycle policy I had set. And I agree, I feel even the other issues can be closed. In case anything comes up in future, I will comment here or open another issue tracker accordingly in the respective repository.

[2021-06-30 07:21] taeold commented on #3359
@aravindvnair99 Thank you so much!

[2021-06-30 07:22] janpansa commented on #3477
@williamhaley I also experience this issue. We are doing batch writes to firestore, about +- 15 000 to 20 000, and it slows down immensely on the emulator, but without the emulator it runs fine. I will test your solution of closing the emulator UI and the give feedback here if that solved it. Thanks for the discovery. I have also noted that once you have a few thousand entries in the Firestore emu

[2021-06-30 10:30] samtstern commented on #3537
@kmcnellis has nailed it. This is working as designed, and the design is confusing 🤦

For all of our SDKs we decided that `useEmulator` would be a **per instance** setting, not a per-FirebaseApp or per-SDK setting. However each product does "instance caching" a bit differently. For Realtime Database it's per-URL caching. For Functions it's per-region.

Closing as this is not a bug, although I take

[2021-06-30 10:30] #3537 closed

[2021-06-30 12:17] vidrepar commented on #3404
@inlined I'm experiencing the same issue as @febg11 . I don't see the container images anymore but the drop didn't happen. What else can we do?

[2021-06-30 13:49] samtstern commented on #3536
@jgavazzisp thanks for reporting! I've got a fix ready in #3540

[2021-06-30 16:33] abeisgoat commented on #3533
There is a known edge case with rules and listing on `/` but as long as your `uid` is not empty, it should work. +1 to @samtstern let's take a look at the rules, it could be an issue there or on our side.

[2021-06-30 16:36] abeisgoat commented on #3508
Looking at your logs, the requests actually look like they should be valid, the only unusual bit is the `projection=full` flag which, frankly, I've never seen before. I agree with @yuchenshi it's a feature request since comprehensive Cloud SDK support is out of scope for the moment, however it may not be that hard of fix. I'll do some research and see, but no promises for the time being.

[2021-06-30 16:38] abeisgoat commented on #3481
Hey there, to add some context here, we are really aggressive about stripping unused code from our java jars, so we were just overly aggressive and stripped out something we needed. I'll take a look and see about white listing this. Thanks for the report.

[2021-06-30 16:57] abeisgoat commented on #3447
@yuchenshi we make any progress here?

[2021-06-30 16:58] abeisgoat commented on #3447
JK, I see it's fixed.

[2021-06-30 16:58] #3447 closed

[2021-06-30 17:15] katowulf commented on #1708
Please check potential solutions mentioned in the thread [1](https://github.com/firebase/firebase-tools/issues/1708#issuecomment-656876751) [2](https://github.com/firebase/firebase-tools/issues/1708#issuecomment-616353577) [3](https://github.com/firebase/firebase-tools/issues/1708#issuecomment-580963149). If you have ongoing issues after upgrading to 8.5.0 and can't solve them with the answers abo

[2021-06-30 19:08] jgavazzisp commented on #3536
thanks @samtstern

[2021-07-01 08:42] m-star5 opened #3542 "Dimash kudaibergen endless dimension"
Please submit feature requests through our [support page](https://firebase.google.com/support/contact/bugs-features/).
@ibroadfo [Dimash kudaibergen endless dimension ](https://youtu.be/GbaBA50tauY)

[2021-07-01 09:19] #3542 closed

[2021-07-01 11:52] John-Shortland-MaiMarae commented on #3502
Unfortunately, the suggested simplifications didn't make a difference.

Thanks again @samtstern, I sincerely appreciate your efforts.

[2021-07-01 12:46] samtstern commented on #2760
Seems like this was fixed at some point in the last year. I used the following sources:

**functions/src/index.ts**
[code]

**functions/src/auth/index.ts**
[code]

**functions/src/auth/onCreateUser.ts**
[code]

Then I ran the emulators and created a user in the UI, I got these logs:

[code]

Not sure when we fixed it, but looks right to me!

[2021-07-01 12:46] #2760 closed

[2021-07-01 12:50] samtstern commented on #1830
Turns out this is actually documented here:
https://cloud.google.com/functions/docs/writing/http#handling_content_types

I will update the Firebase docs to link to this.

[2021-07-01 12:50] #1830 closed

[2021-07-01 14:12] samtstern commented on #1830
@jhuleatt and I did some tests in both the emulators and production and it seems like `rawBody` is present as a `Buffer` with or without `Content-Type`. It's only the `req.body` value that changes based on which body parser is triggered.

So it seems like this bug was fixed along the way.

[2021-07-01 15:09] munjata commented on #2256
Restarting my computer (Ubuntu) solved the issue.

[2021-07-01 15:33] febg11 commented on #3404
Hi @vidrepar. Mine seems to have dropped but it took a few days... its around 600mb now :) Maybe check after a few days to see if the firebase storage ui has reflected the changes.

[2021-07-01 15:46] Narsinhs commented on #1772
didn't work for me :(

[2021-07-01 16:52] #3536 closed

[2021-07-01 17:42] DibyodyutiMondal commented on #2994
So if we manually add in the latest version of functions framework as well as `"type":"modules"` right now, will it work?

[2021-07-02 00:57] taeold commented on #2994
@DibyodyutiMondal Not quite. We'll need to make a new release to Firebase CLI that bring support for deploying Firebase Functions using ES modules.

I will mark this issue fixed once we make the release (should be done in next couple of days).

Here's a quick sample for those interested:

[code]
[code]

[2021-07-02 18:57] neuberoliveira opened #3546 "Emulator export only the first 20 entries from authentication"
In my last issue (#3421) i think was my fault, but i go deep and now i thought it was a bug.
Iam using emulator with this 2 flags `--import emulator-snapshot` and `--export-on-exit emulator-snapshot` and was working fine, then sundelly every time o login, sms, i got a new uid, of course i was using the same phone number, because of this i open #3421

Now i realize that emulator was not saving all

[2021-07-03 02:40] torkralle commented on #3533
@samtstern
Thank you, and I'm sorry for missing your reply...
My rule is here.
[code]

[2021-07-03 02:44] torkralle commented on #3533
and fetch image code is here.
[code]

[2021-07-03 10:55] TheSlateAndChalk opened #3566 "400 Error: BadRequest - HTTP request sent to Firebase Local Storage Emulator from Flutter Desktop"
I try to upload image to Firebase local storage emulator from flutter desktop software. I'm using file_selector_windows plugin for file selection.

[code]

Error: 400 BadRequest

[2021-07-03 11:58] trullock opened #3548 "<Functions dir> is outside project directory when customising config and functions locations"
This is somewhere between a bug and a feature change

The firebase cli lets you do `--config not/the/root/firebase.json`, which is great

Firebase lets you specify an alternative directory for functions, as per the example json below, which is great

But if you combine them as per the example below, you get `<functions path> is outside of the project directory`. Which isn't especially useful.

Not

[2021-07-03 22:15] DibyodyutiMondal commented on #2994
Does this aforementioned release include support in the emulator as well?

[2021-07-03 23:25] taeold commented on #2994
@DibyodyutiMondal Yes. It should work as long as the local version of node used to run the emulator supports ES modules (think that's v13 and up).

[2021-07-04 00:19] spicemix opened #3549 "'demo-' projects don't seem to work (yet?)"
### [REQUIRED] Environment info

**firebase-tools: 9.14.0**

**Platform: macOs**

### [REQUIRED] Test case

Create a new project called `demo-myproject`

### [REQUIRED] Steps to reproduce

`firebase init`
...
Create new project
Name project `demo-myproject`

### [REQUIRED] Expected behavior

I get a firebase "demo" project made locally that only hits the emulators and never hits the server, as the

[2021-07-04 08:53] AbhiShrek opened #3550 "Emulator Suite Crashes with Unknown Error on Uploading Photo to Storage Emulator"
### [REQUIRED] Environment info

**firebase-tools:**
9.14.0

**Platform:**
macOS 11.4

### [REQUIRED] Test case

Try to upload a picture to Storage Emulator with the Storage Rules via iOS Simulator
[code]

### [REQUIRED] Steps to reproduce

The Following function works fine with actual Firebase Storage. But it crashes the Emulator Suite entirely.

[code]

With the following `storage.rules`

[code]

[2021-07-04 19:48] amitlzkpa commented on #1885
Yes. I am still facing this while running the emulator locally.
My setup is identical to the one described by OP.

[2021-07-04 20:33] mansisinghal25 commented on #864
This command worked for me. Thank you so much!!

[2021-07-04 20:34] mansisinghal25 commented on #864
@kogden Thank you so much!! This command worked for me. I had installed firebase using sudo.

[2021-07-05 04:18] aravindvnair99 commented on #2699
@samtstern I guess this issue can be closed as there have been no further reports since. And as for me, things are working fine now.

[2021-07-05 05:36] aravindvnair99 opened #3552 "npm 7 / ability to specify npm version"
I use Node.js 14.16.0 with npm 7 locally, but when I check the version on the cloud, I get Node.js 14.16.0 with npm 6.14.11. Right now we do have a field in `package.json` to specify the Node.js version but no such field for npm. I was wondering if there could be a field for that as well or if npm could be updated.

References:
- https://github.blog/2020-10-13-presenting-v7-0-0-of-the-npm-cli/
- h

[2021-07-05 07:47] samtstern commented on #2699
@aravindvnair99 thanks for following up!

[2021-07-05 07:47] #2699 closed

[2021-07-05 08:04] samtstern commented on #3549
@spicemix sorry I think this is just a misunderstanding! You can't actually "create" a `demo-` project. Instead you can just use `demo-` project IDs locally within the emulator suite. This is a safety feature, by using a project ID that starts with `demo-*` you can be _sure_ that there is no real project with that name in the Cloud and so you won't possibly make any damaging requests.

I'll forwar

[2021-07-05 08:04] #3549 closed

[2021-07-05 08:14] laurentpayot commented on #3549
Oh, good to know. I would have done like @spicemix.

[2021-07-05 09:00] spicemix commented on #3549
So the workflow then is...create a project *not* with a `demo-` prefix, but use the `demo-` prefix...uh...somehow...the CLI won't do it for you...you have to know where to change the project ID...and make sure you do it in all the important places, by hand...?

If so, I would need documentation on exactly where and how. You might re-open this as a feature request on the CLI if it doesn't do this f

[2021-07-05 09:54] rtitlestad opened #3553 "Firestore emulator is rejecting timestamp field"
### [REQUIRED] Environment info

**firebase-tools:** 9.14.0

**Platform:** Windows

### [REQUIRED] Test case

index.html
[code]

### [REQUIRED] Steps to reproduce

- Start emulator `firebase emulators:start --project demo-timestamp`
- Open index.html
- Open Firestore emulator UI http://localhost:4000/firestore

### [REQUIRED] Expected behavior

The users collection should have a single document wi

[2021-07-05 10:39] samtstern commented on #3549
@spicemix we hear you! We're working on some larger changes to make the Emulators behavior much clearer when it comes to project IDs however they will be breaking changes for some workflows so they'll have to wait until the next major version of the Firebase CLI.

For now with `demo-*` projects you should put the project ID in the following places:

  * The `--project` flag when you start the emul

[2021-07-05 11:02] samtstern commented on #3552
@aravindvnair99 thanks for the request! We'd love to support `npm` v7 but this isn't something we can do unilaterally in the Firebase CLI. We would need a change in how Google Cloud Functions builds functions container images for deployment.

The best thing to do would be to file an issue on the GCF issue tracker requesting this:
https://cloud.google.com/support/docs/issue-trackers#trackers-list

[2021-07-05 11:02] #3552 closed

[2021-07-05 11:10] aravindvnair99 commented on #3552
Thank you for the clarification and response @samtstern! I understand and I have gone ahead and created an issue tracker here: https://issuetracker.google.com/issues/192771775

[2021-07-05 11:13] samtstern commented on #3553
@rtitlestad thanks for the clear report! I was able to reproduce this and confirm it's an Emulator issue (not an SDK issue).

### Emulator
![Screen Shot 2021-07-05 at 12 12 50 PM](https://user-images.githubusercontent.com/8466666/124463171-7dacaf00-dd60-11eb-95d6-ce30b3be93fd.png)

### Production
![Screen Shot 2021-07-05 at 12 12 57 PM](https://user-images.githubusercontent.com/8466666/124463173-7

[2021-07-05 14:27] samtstern commented on #3546
@neuberoliveira you mention you're using `firebase-tools: 9.1.0` which is fairly old, I believe this issue was fixed here:
https://github.com/firebase/firebase-tools/issues/3231

Could you try updating to the latest version of the CLI and then trying again?

[2021-07-05 16:28] Lewis-Seekio commented on #2960
I am also getting this issue. the emulator console is showing:
[code]

[2021-07-05 18:56] spicemix commented on #3549
Thanks @samtstern for your explanations. Of course this isn't an edge case thing, switching from emulators/staging/prod is central to your developer experience, and tricks like "let's have them just...swap out project IDs!" are obviously temporary while you develop a cleaner solution. So I look forward to that and I will claw through the temporaries in the meantime. Thanks!

[2021-07-05 22:16] taeold commented on #3552
My guess is that nodejs16 (when it becomes available) will by default use npm v7. +1 to everything @samtstern said.

[2021-07-06 03:16] dteirney commented on #2735
@samtstern is there any update on when the flakiness of the firestore rules deploy might be addressed? We've started running into what we assume is this issue. Finding this ticket was somewhat surprising after needing to turn on --debug to figure out why our CI deploys were frequently failing.

[2021-07-06 05:10] baermathias commented on #2568
I think I used Tilix:
https://github.com/gnunn1/tilix

[2021-07-06 09:55] samtstern commented on #2735
@dteirney let me try to escalate this again

[2021-07-06 09:59] samtstern commented on #2735
Ok I have raised the priority of this internally, the US offices are out for the day but I'll make sure someone takes a look at this again later this week. For reference the internal Bug ID is b/168860909, if anyone here files a support case about this issue make sure to mention that ID.

@dteirney I will follow up on this however I am going to close the issue here since there's no possible fix in

[2021-07-06 09:59] #2735 closed

[2021-07-06 11:02] samtstern commented on #2498
Via internal discussion (Googlers: b/162818859)

Me:

Eng:

So looks like we need an error handler here.

[2021-07-06 12:47] ggirotto commented on #3550
I'm having the sam issue

[2021-07-06 13:19] ggirotto opened #3554 "Firebase Storage emulator doesn't recognize multiple buckets rules"
I'm trying to use Firebase Storage with my environment where I have multiple security rules associated with different buckets. The problem is that Firebase Storage seems to not recognize this multiple storage rules environment, and outputs the error:

`Error: Cannot start the Storage emulator without rules file specified in firebase.json: run 'firebase init' and set up your Storage configuration`

[2021-07-06 13:20] samtstern commented on #3554
@ggirotto thanks for the feedback! This is the same as https://github.com/firebase/firebase-tools/issues/3390 so let's use that one.

[2021-07-06 13:20] #3554 closed

[2021-07-06 13:21] ggirotto commented on #3554
Sorry about the duplicate issue. Will subscribe there

[2021-07-06 13:22] ggirotto commented on #3390
Any news on this issue?

[2021-07-06 15:54] neuberoliveira commented on #3546
seems that all data are being exported in 9.14, thanks for the attention.

[2021-07-07 01:23] Spaceboy0621 commented on #2508
Hello, such a thing is happening to me now.
![image](https://user-images.githubusercontent.com/82777925/124685976-416a8180-df0d-11eb-8cd1-d2213b62ea87.png)
I wanna help someone with this.

[2021-07-07 05:13] aravindvnair99 commented on #3552
@taeold Node.js 15 and above come with npm 7 by default, but it would be great to have it earlier too! Especially since new versions take time to be supported.

[2021-07-07 05:14] aravindvnair99 commented on #3552
@taeold Node.js 15 and above come with npm 7 by default, but it would be great to have it earlier too! Especially since new versions take time to be supported.

Additionally, having the ability to pin npm versions would also be a nice thing to have.

[2021-07-07 07:20] AbhaySingh100 commented on #596
Error: Error parsing triggers: Cannot find module './PaytmChecksum'
Require stack:
- C:\Users\dell\myproject\functions\index.js
- C:\Users\dell\AppData\Roaming\npm\node_modules\firebase-tools\lib\deploy\functions\runtimes\node\triggerParser.js
- same error
-

[2021-07-07 07:21] alexander-manoharan opened #3555 "Uploading iOS app via Azure pipeline fails with INVALID_ZIP"
I generated an iOS app IPA file in Azure pipeline and able to successfully upload it to Firebase app distribution via Firebase CLI. However, the same file fails to upload via Azure pipeline. I get the below error message:

Error: failed to upload distribution. error processing your binary: There's been an error processing your distribution. Ensure you are uploading a valid IPA or APK and try again

[2021-07-07 09:57] taylorhoward92 commented on #701
I use `emulators:exec jest` to run integration tests for my Typescript Firebase Functions and the "pre" scripts would be useful for this case.

[2021-07-07 10:09] nikglavin commented on #2699
I ended up resolving this issue by deleting the entire bucket (not just its contents) and then redeploying the functions since then I have not seen the issue again

[2021-07-07 11:41] aravindvnair99 commented on #3359
Hey @taeold!

I am unable to deploy again. I even tried deleting the image from the container registry, delete the buckets and delete the function. It's failing after the clean stage.

[code]

Any thoughts? I checked the debug output and it seems to be stopping after the cleaning stage.

[2021-07-07 12:35] taeold commented on #3359
@aravindvnair99 It would help to share your full debug log output and inspect it together. If you don't want to share the debug log publicly, you can message me (on.. LinkedIn? I found your profile and sent you a connect request).

[2021-07-07 12:36] aravindvnair99 commented on #3359
@taeold Sure, I will send you the file via LinkedIn right away.

[2021-07-07 12:40] gebv opened #3556 "[storage emulator] Written 3 bytes but got 5 bytes"
### [REQUIRED] Environment info

**firebase-tools:** 9.14.0

**Platform:** macOS

For use storage emulator in local uses hack from https://github.com/googleapis/google-cloud-go/issues/2476#issuecomment-692044747

### [REQUIRED] Test case

[code]

[code]

### [REQUIRED] Steps to reproduce

[code]

### [REQUIRED] Expected behavior

I want got what was send

### [REQUIRED] Actual behavior

I get extr

[2021-07-07 12:41] aravindvnair99 commented on #3359
@taeold I've sent it. Thanks for the quick response!

[2021-07-07 13:44] dsl101 commented on #2612
I take it this is still ongoing? I'm seeing this issue even when `projectId` in the test script and `.firebaserc` `default` key are identical. I don't think the emulator is reading `.firebaserc` but using whatever that shell has set via `firebase use`. When I changed it to match the test script, it worked, regardless of the `default` key in `.firebaserc` (and, by contrast, setting the default proj

[2021-07-07 16:36] abeisgoat commented on #3556
Our emulator doesn't currently guarantee compatibility with any Google Cloud SDKs / Firebase Admin SDKs except Node.js, so you're correct that this is a bug, but it's also not something currently have in scope. I'll leave this open because it might be an easy fix, but we currently don't officially support use of the Go SDK with the Cloud Storage for Firebase emulator.

[2021-07-07 17:01] segevsh opened #3558 "Firestore emulator runs in isolation from firebase functions emulator"
### [REQUIRED] Environment info

9.14.0

**firebase-tools:**

macOS

**Platform:**

### [REQUIRED] Test case

I am running the emulators (firestore, firebase functions), when I use the functions to write into firestore (using admin SDK), it writes, and return the written value correctly. When I look for that value in firestore UI the value is not there.
Vice a versa - when I change the value in th

[2021-07-07 17:17] samtstern commented on #3558
@segevsh this sounds like you are maybe accidentally using your **production** Cloud Firestore. Can you double-check that the values you're reading and writing are not showing up in the Firebase console?

Note that this only works with the Admin SDK:
[code]

For the Firestore mobile SDKs you need to call `useEmulator('locahost', 8088)` to connect.

[2021-07-07 17:27] segevsh commented on #3558
that was the first thing I checked for, and I'm afraid that that wasn't it:
1. I checkt the production DB

2. that's the weird part: I changed the values in the DB and restarted the emulator. functions was showing the NEW value, but again was running in isolation. This means that upon firing it was loading firestore from the exported data (with the latest value from firestore), but somehow running

[2021-07-07 17:39] samtstern commented on #3558
Ok in that case it sounds like a Project ID mismatch. Can you make sure that you're using the same Project ID everywhere?  Check `initializeApp` statements and maybe also use the `--project` flag when starting the emulators.

[2021-07-07 18:12] #2928 closed

[2021-07-07 19:35] segevsh commented on #3558
Yes that worked! I had `process.env.GCLOUD_PROJECT` setup prior, but it didn't take, so I had to hard code it into the test runner.

Looks like `GCLOUD_PROJECT` ignores my setting, and changes its value into 'not-a-project'

So, I went ahead and changed the init app like so:

[code]

[2021-07-07 19:35] #3558 closed

[2021-07-07 23:08] taeold commented on #3552
@aravindvnair99 Yep. I think the decision is for Google Cloud Functions team to make. It would be helpful if you can include the use cases for using npm v7 in your issue tracker. That way, the team can prioritize the work if they find the usecase compelling.

[2021-07-08 02:18] alexander-manoharan commented on #3555
Looks like the error was due to invalid path name to the IPA. After fixing that in pipeline, able to successfully upload the build to Firebase console.

[2021-07-08 02:18] #3555 closed

[2021-07-08 04:45] MartinJLee opened #3559 "remoteconfig:get -o isn't working"
### [REQUIRED] Environment info

**firebase-tools:** 9.14.0 & 9.13.0
can confirm it is working till version 9.12.0

**Platform:** macOS m1

### [REQUIRED] Test case

Downloading remoteconfig

### [REQUIRED] Steps to reproduce

run
[code]

### [REQUIRED] Expected behavior

remote config template should be downloaded to the 'test.json' file

### [REQUIRED] Actual behavior

`Error: An unexpected erro

[2021-07-08 09:20] #2533 closed

[2021-07-08 09:29] #1808 closed

[2021-07-08 09:43] SincerityJayce opened #3565 "Emulators don't update (loads older versions of the files)"
As above, when I save the files and reload the localhost:5000 (hosting) it loads old versions of the files.

I have tried killing all ports and restarting the emulators, updating the git, deleting old folders.

'$ firebase deploy' will put the code live on the website faster than then emulators will load it on localhost.

the code on port 5000 will update eventually, but I don't know what causes i

[2021-07-08 17:34] neuberoliveira commented on #3553
@samtstern
Dont thought its an emulator issue, i update firebase-tools to 9.14.0 some days ago and everything are working like a charm, yesterday i update everthing to work with storage emulator too and now i realize iam getting this same error, but one thing thats weird it that in my application i got the same error, but in emulator ui `http://localhost:4000/firestore` that exposes a firestore in

[2021-07-08 19:31] Vluf opened #3561 "[v9.15.0] Latest release breaks FirebaseExtended/action-hosting-deploy GitHub action"
### [REQUIRED] Environment info

**firebase-tools:** 9.15.0

**Platform:** GH Actions (Ubuntu)

### [REQUIRED] Test case

Deploy any website with the FirebaseExtended/action-hosting-deploy GH action

### [REQUIRED] Steps to reproduce

Deploy any website with the FirebaseExtended/action-hosting-deploy GH action

### [REQUIRED] Expected behavior

The site to deploy

### [REQUIRED] Actual behavior

[

[2021-07-08 19:33] jhaynie commented on #3561
we are seeing the same thing after upgrade.

```firebase deploy --only firebase```

Output:

[code]

[2021-07-08 19:34] portokallidis commented on #3561
Same for us.
`  "error": "There was an error loading firebase.json:\n\nENOENT: no such file or directory, open '/home/nporto/.npm-global/lib/node_modules/firebase-tools/schema/firebase-config.json'"`

[2021-07-08 19:39] hdh3000 commented on #3561
same here

[2021-07-08 19:43] bkendall commented on #3561
Hmmm. Thanks for raising. Investigating real quick to see if it's a quick fix...

[2021-07-08 19:46] hosuaby commented on #3561
I have the same issue. Not only on GitHhub Actions but also locally when running `firebase emulators:exec`.

[2021-07-08 19:49] bkendall commented on #3561
I can replicate it (on deploy), I can fix it (PR coming), and I can publish it! Hang tight...

[2021-07-08 20:01] #3561 closed

[2021-07-08 20:04] bkendall commented on #3561
I'm pushing out `v9.15.1` right now. Should be available soon!

[2021-07-08 20:05] Vluf commented on #3561
Awesome response time @bkendall thanks!

[2021-07-08 20:07] bkendall commented on #3561
You're welcome. When I see the email "[release you did] [just broke everything]" I get that little feeling most people do as their stomach drops and go look as fast as I can 😝

[2021-07-08 20:13] shipley-dcc opened #3563 "There was an error loading firebase.json"
### [REQUIRED] Environment info

**firebase-tools: 9.15.0**

**Platform: Ubuntu**

### [REQUIRED] Test case

1. Install version 9.15.0 of firebase-tools
2. Run command `firebase deploy --only functions`

### [REQUIRED] Steps to reproduce

From the command line run `firebase deploy --only functions`.
Returns immediately with this error:
**Error: There was an error loading firebase.json:**
**ENOENT:

[2021-07-08 20:17] bkendall commented on #3561
It's published!

[2021-07-08 20:21] #3563 closed

[2021-07-08 20:21] shipley-dcc commented on #3563
Fixed in version 9.15.1

[2021-07-08 20:21] dgpc commented on #3563
Same issue occurs with `firebase emulators:exec` after upgrading to 9.15.0.

Breaking upstream tools like `action-hosting-deploy`:
https://github.com/FirebaseExtended/action-hosting-deploy/issues/137

[2021-07-08 20:21] Vluf commented on #3561
& I can confirm that it's solved :) Thanks again

[2021-07-08 20:47] bkendall commented on #3563
Duplicate of #3561

Thanks for the report though!

[2021-07-08 22:30] yuchenshi commented on #3565
I think you ran into browser caching. Please try the usual debug steps like clearing cache in your browser settings, force-reloading, opening in a different browser, and browser DevTools (which usually has a setting to bypass all caches).

If you're still seeing old files even after the steps above, please share with us a minimal repro (e.g. a project directory with `firebase.json` and a few hosti

[2021-07-09 11:42] etiennestuder opened #3567 "Inconsistent APIs to invoke auth emulator vs. firestore emulator in v9"
### [REQUIRED] Environment info

**firebase-tools:**

9.16.0

**Platform:**

macOS

### [REQUIRED] Test case

[code]

### [REQUIRED] Steps to reproduce

See `Test case` section for the currently inconsistent method parameters between the two APIs.

### [REQUIRED] Expected behavior

[code]

Other APIs to use the different emulators might be affected, too.

### [REQUIRED] Actual behavior

See `Test

[2021-07-09 11:47] samtstern commented on #3567
@etiennestuder two things:

1. Let me move this over to `firebase-js-sdk`
2. We agree, we want this API to be consistent however the different API for Auth was the result of an internal security review and this was the best we could do at the time.

Would you prefer:

1. They stay inconsistent
2. They all move to `useEmulator('http://host:port')` form?

You'll have to trust me that what you want,

[2021-07-09 12:20] ghivert commented on #3469
I had the exact same problem, and this code:

[code]

Is working both in production and development when manually setting `NODE_ENV` to `development`. I struggled for few hours and checked many times in production to ensure everything is correct.

[2021-07-09 15:06] brodao opened #3568 "Storage Emulator Rules runtime exited unexpectedly"
### [REQUIRED] Environment info

**firebase-tools:** 9.16.0

**Platform:** Windows

### [REQUIRED] Test case

### [REQUIRED] Steps to reproduce

1. Download `firebase-tools-win.exe`
2. Execute `firebase-tools-win init`
3. Select `Storage: Configure a security rules file for Cloud Storage` and `Emulators: Set up local emulators for Firebase products` and press `enter`
4. Select `Authentication Emul

[2021-07-09 16:14] mayankj opened #3569 "request entity too large"
### [REQUIRED] Environment info

**firebase-tools:**

**Platform:**

### [REQUIRED] Test case

### [REQUIRED] Steps to reproduce

### [REQUIRED] Expected behavior

### [REQUIRED] Actual behavior

[2021-07-09 16:21] mayankj opened #3570 ""request entity too large" when trying to import into auth emulator"
### [REQUIRED] Environment info

**firebase-tools:** 9.13.0

**Platform:** Windows (using WSL)

### [REQUIRED] Test case

- Auth having more than 200 users triggers this error.

### [REQUIRED] Steps to reproduce
- Create at least 200 users with the auth emulator running
- Export this using firebase emulators:export <dir-name>
- Try importing this using firebase emulators:start --import <dir-name>

[2021-07-09 16:25] zgsrc commented on #3453
Agreed.  Reading enabled is what you want.  Removing the storage section will affect the deployment of rules.

Emulator doesn't work so much.  Need to disable or roll back to 9.10.

[2021-07-09 17:27] #3569 closed

[2021-07-10 10:11] radvansky-tomas commented on #3550
Same issue

[2021-07-10 21:04] eattahm opened #3571 "`An unexpected error has occurred` on deleting Hosting preview channel with `--force` flag"
### [REQUIRED] Environment info

**firebase-tools:** 9.14.0

**Platform:** Ubuntu 20.04

### [REQUIRED] Test case

When deleting a Firebase Hosting preview channel using the `--force` flag, `An unexpected error has occurred.` is output

### [REQUIRED] Steps to reproduce

1. From a firebase hosting project run: `firebase hosting:channel:deploy foo`
2. Check that `foo` is added to the list of Channe

[2021-07-11 19:46] MyBlueford16 commented on #2295
I'm getting the same error as @nathan815, @AppDeliverIO , & @batmanhit.

Has anyone figured this out?

[2021-07-12 04:51] nathan815 commented on #2295
@MyBlueford16 I noticed this error doesn't happen when deploying functions from a project owner account. It might be a GCP bug.

[2021-07-12 09:38] artooras commented on #2764
Hi. A silly question perhaps, but where does on set the FIREBASE_AUTH_EMULATOR_HOST environment variable? The documentation doesn't explicitly state it. In which file should it be set? Where should it be located? @Joebayld , you seem to have figured it out, so any advice would be really appreciated... :) Thanks!

[2021-07-12 10:21] v-kiniv commented on #2764
It's environment variable, you can set it globally in ~/.bash_profile or in terminal before firebase command:
`FIREBASE_AUTH_EMULATOR_HOST=localhost:9099; firebase emulators:start`.

For convenience use something like https://www.npmjs.com/package/dotenv, to separate configurations.

[2021-07-12 12:33] samtstern commented on #3553
@neuberoliveira thanks for doing all of that digging! Sounds like it's maybe an SDK issue then? Or maybe some combination of an SDK issue and an Emulator issue.

[2021-07-12 12:57] artooras commented on #2764
Thanks @v-kiniv . Only I made it work by setting the variable on the dev script as opposed to the emulators script:

"dev": "FIREBASE_AUTH_EMULATOR_HOST=localhost:9099 next dev"

[2021-07-12 15:49] samtstern commented on #3568
Could you run `firebase --debug emulators:start` and show the logs?

[2021-07-12 15:50] samtstern commented on #3559
@MartinJLee can you run the same command with the `--debug` flag and show the logs?

[2021-07-12 15:53] samtstern commented on #2847
Hey everyone it's been a while since we last got a report of this issue. Reading through the thread again it sounds like some combination of the following will fix it:

- Updating `firebase-tools`
- Updating FirebaseUI
- Making sure to match Project IDs

I'm going to close this one, but if anyone sees this issue again just let me know and we can reopen it.

[2021-07-12 15:53] #2847 closed

[2021-07-12 16:11] neuberoliveira commented on #3553
@samtstern i guess theres a lot of tests in sdk to work in a production environment as its the main target, as far its working, my bet is some combination of sdk and emulator, maybe more on emulator side.

would like to help, but has no idea where i start, maybe find which emulator version work with `8.6.3` client sdk could help somehow?

[2021-07-12 16:41] rtitlestad commented on #3553
One thing I noticed was that it only seems to happen with `update()` so I switched to `set()` with `{merge: true}` as a workaround in my code

[2021-07-12 19:28] Dara-To commented on #2228
Had the same issue and then read carefully all the messages on the terminal and here. I have a habit of pressing `Ctrl + C` a few times to completely kill the local development process. With the emulator suite, you only need to press `Ctrl + C` once then wait for all hubs to shut down. When I do `Ctrl + C` twice too quickly, some of the processes didn't finish exiting so the emulator is left hangi

[2021-07-12 19:31] grapeworksdev opened #3572 "Firebase deploy Cloud Functions failure on M1 Mac: "functions is declared but its value is never read.""
M1 Mac Mini : OS Big Sur 11.4

### [REQUIRED] Test case

My index.ts just uses the default starting point:

`// // Start writing Firebase Functions
// // https://firebase.google.com/docs/functions/typescript
//
export const helloWorld = functions.https.onRequest((request, response) => {
  functions.logger.info("Hello logs!", {structuredData: true});
  response.send("Hello from Firebase!");
});
`

[2021-07-12 19:59] joehan commented on #3548
Hey @trullock, thanks for this suggestion. I really like how organized your proposed directory structure looks! Unfortunately, I chatted with the team about this, and I don't think we want to lift this restriction ATM. We have 2 main reasons we'd like to keep it:
- We semi-regularly see users experience issues caused by putting local dependencies outside of the functions directory. We definitely a

[2021-07-12 19:59] #3548 closed

[2021-07-12 20:03] trullock commented on #3548
I appreciate those reasonse, they seem logical.

However, is there a workaround, or would you be willing to have some `--force` switch to support this?

[2021-07-12 21:17] paulvanj commented on #2994
Hi guys, any progress with this?

[2021-07-12 23:17] taeold commented on #2568
@baermathias I don't have a good way of checking that terminal. Can you help us verify that the issue persists on that terminal emulator? I find it a bit odd that term is at fault here - if you have time to check that and maybe another terminal, it would help us a ton to track this issue.

[2021-07-12 23:26] taeold commented on #2994
ES module is now supported with the latest firebase-cli version:

[code]

Note that:

1. You must select `nodejs14` runtime.
2. You must manually include latest version of `@google-cloud/functions-framework` dependency.

e.g.

[code]

If you have any problems with deploying your function packaged as an ES module, please consider reporting a new github issue or filing a [support ticket](https://fir

[2021-07-12 23:26] #2994 closed

[2021-07-12 23:30] taeold commented on #3572
You are seeing an eslint error. You'll have fix your code as suggested from the error message.

It looks like you accidentally commented out the `export` keyword:

[code]

[2021-07-13 10:04] DibyodyutiMondal commented on #2994
I am getting the following error:
[code]

Is there anything I can do from my side to solve this problem, or am I forced to use commonjs as long as I am developing on windows? (I do not like the idea of adding `simport` throughout the entire dependency chain of my cloud-functions code.)

[2021-07-13 10:49] samtstern commented on #3548
@trullock the only workaround is to make sure that your `firebase.json` file is always in a parent directory of your `functions` code. You could do this with a script like:

[code]

[2021-07-13 10:55] paulvanj commented on #2994
getting the same issue.

[2021-07-13 11:08] paulvanj opened #3573 "Cannot start firebase emulator functions with node 14. ES Module import failure on windows."
I am getting the following error:
[code]

Is there anything I can do from my side to solve this problem, or am I forced to use commonjs as long as I am developing on windows? (I do not like the idea of adding `simport` throughout the entire dependency chain of my cloud-functions code.)

_Originally posted by @DibyodyutiMondal in https://github.com/firebase/firebase-tools/issues/2994#issuecomment-8

[2021-07-13 12:15] grapeworksdev commented on #3572
@taeold Sorry, I pasted it incorrectly. Here are the functions I'm currently using in my index.ts file:
`
import * as functions from "firebase-functions";

import * as admin from "firebase-admin";
admin.initializeApp();

// // Start writing Firebase Functions
// // https://firebase.google.com/docs/functions/typescript

// Create user in Cloud Firestore when a new user is authorized

export const n

[2021-07-13 12:49] taeold commented on #2994
Thanks for filing the issue @paulvanj . Let's carry the discussion on that issue.

[2021-07-13 12:49] trullock commented on #3548
@samtstern haha i mean, yeah theres that, but then the paths inside firebase.json will be "wrong", as in you'd need to write them relative to the root because you are moving it at runtime like so....

I still think this issue deserves to be open, even if "remove the function dir protection" isnt the solution - its still a real problem

[2021-07-13 13:00] taeold commented on #3573
I have a proposed fix on branch [`dl-cf3-esm-windows`](https://github.com/firebase/firebase-tools/tree/dl-cf3-esm-windows). Can someone help me confirm the fix on windows?

[code]

[2021-07-13 13:11] taeold commented on #3572
I don't see anything wrong with your code and setup, and I'm as puzzled as you are.

On a second look, the error seems to be coming from `tsc`. Is there a way for you to double check the contents of the `index.ts` on your M1 Mac Mini? My suspicion is that the code on your Mac Mini is not what you are sharing with us.

If that's not the case, then I'm stumped too. Have you seen any M1 related bugs

[2021-07-13 13:40] paulvanj commented on #3573
![image_2021_07_13T13_36_33_732Z](https://user-images.githubusercontent.com/13675068/125461908-07cc68f1-269f-4892-ad99-1e716ee72ba2.png)
![image_2021_07_13T13_35_22_632Z](https://user-images.githubusercontent.com/13675068/125461938-a443da85-a6d6-4919-acd0-a0f945f631ac.png)

Thanks, gave it a try and it produced the following error(see attached)... although the file does exist.
I am using Nodejs 14

[2021-07-13 13:42] grapeworksdev commented on #3572
By index.ts on my M1 Mac Mini, you mean the index.ts file that is part of my project, right? That is what I shared with you:

`
import * as functions from "firebase-functions";

import * as admin from "firebase-admin";
admin.initializeApp();

// // Start writing Firebase Functions
// // https://firebase.google.com/docs/functions/typescript

// Create user in Cloud Firestore when a new user is auth

[2021-07-13 13:44] samtstern commented on #3572
@grapeworksdev would you mind uploading your project to a GitHub repo so we can take a look? I agree with @taeold I think there's a mismatch between the code you _think_ you're using and the code you're actually using.

[2021-07-13 13:51] DibyodyutiMondal commented on #3573
This looks like the same result I got when I tried to use pathToUrl by editing the firebase-tools files  inside of node_modules..

Is this the same?

[2021-07-13 13:55] grapeworksdev commented on #3572
@samtstern I have it as a private repository; I invited you as a collaborator to take a look

[2021-07-13 14:24] samtstern commented on #3572
@grapeworksdev thanks! That repo does not include a `firebase.json`, are you sure you have uploaded the right stuff? I would expect a `firebase.json` file in the root.

[2021-07-13 14:57] grapeworksdev commented on #3572
@samtstern I ran firebase init again and setup cloud functions. For some reason, the files go to my desktop instead of the /functions directory of my project. Initially it only created the 'functions' folder but now I see a few other files, including the firebase.json file, which I added to the repository.
![Screen Shot 2021-07-13 at 10 54 28](https://user-images.githubusercontent.com/80786010/125

[2021-07-13 15:01] samtstern commented on #3572
@grapeworksdev try deleting that `firebase.json` file in your `Ashton` folder, I think that's messing everything up.

[2021-07-13 15:12] DibyodyutiMondal commented on #3573
I think it is not working because the import statements do not have the `.js` extension, as they are coming from typescript.
Added problems when we use json files with typscript via the `resolveJsonModule` typescript option

[2021-07-13 15:34] grapeworksdev commented on #3572
@samtstern I tried that, still getting the same error.

[2021-07-13 16:14] neuberoliveira commented on #3546
hi, iam reopening this cause i dont know if its better to open a new issue or not. It work as expected now and dump all users to the `emulator-snapshot/auth_export/accounts.json` but.......

if the filesize of `emulator-snapshot/auth_export/accounts.json` is more then 100kb the emulator wont start and gives the error 413 entity too large

![Screen Shot 2021-07-13 at 12 57 31](https://user-images.g

[2021-07-13 16:35] yuchenshi commented on #3546
Duplicate of #3570.

[2021-07-13 16:35] #3546 closed

[2021-07-13 17:01] samtstern commented on #3572
Ok as a final nuclear option you can try also deleting:
[code]

[2021-07-13 19:31] schmidt-sebastian commented on #3553
This looks like https://github.com/firebase/firebase-js-sdk/issues/5047

[2021-07-14 01:59] taeold commented on #3573
@paulvanj You may already know now, but you need to include `.js` extension when importing from local modules:

[code]

@DibyodyutiMondal Curious, are you required to use ES module in your setup? In most cases, you would use `module: commonjs` and move along, but it sounds like you want to package your function definitions as a ES module. Can you share what you are trying to achieve?

(I'm closing

[2021-07-14 02:01] taeold commented on #3573
Oops. I forgot that the original issue is still unfixed. I'll get a PR setup and actually release a fix before fixing the issue.

[2021-07-14 06:27] DibyodyutiMondal commented on #3573
Well, you are right - since I am using Typescript anyway, from a development perspective, I don't need to worry if the cloud-functions code is commonjs or esm. However, the cloud-functions code references libraries containing data models and the like, that are also used by my front-end angular app.

Since functions-framework can only load commonjs, these libraries must also be in commonjs, which t

[2021-07-14 09:34] samtstern commented on #3553
Thanks @schmidt-sebastian! Yes it looks like this is an SDK issue. @rtitlestad let's close this one and track it over there, since that's where the fix will happen.

[2021-07-14 09:34] #3553 closed

[2021-07-14 09:55] maganap commented on #3517
To be able to move on from @9.12, as ugly as it looks, I ended up with something like this to minimize cold start time... at least until I find a more elegant solution.

Note:
- `process.env.NODE_ENV = 'production'` once deployed, but it's not defined while running locally and while deploying.
- `process.env.K_SERVICE` does exist locally, but only while executing, not while parsing.

This covers t

[2021-07-14 09:57] samtstern commented on #3517
@maganap thanks for explaining! Your cold start trick looks a lot like the one that this library uses:
https://github.com/gramstr/better-firebase-functions

[2021-07-14 10:02] fsfarah commented on #248
Tried this based on the example from the docs, it's not working when I try to sign in a user

[code]

example password
`$2a$10$1pkiT/LB2vD90J4Wr58xbuoFD4uWTQKel5.wW9YNyUuQXt1oV1AAC`

[2021-07-14 10:03] maganap commented on #3517
@samtstern Nice reference! I'll take a deeper look at it. Thanks!

[2021-07-14 20:17] agbizzzle commented on #3390
@samtstern @abeisgoat Can you please provide an ETA on this? It's a blocker for deployments. Thanks.

[2021-07-14 22:52] #3573 closed

[2021-07-15 21:23] NickCaplinger commented on #3198
@ppicom Were you ever able to resolve this?

I've been running into the same issue, personally:

[code]

After doing some digging and experimentation, I've determined that mocha, the popular testing framework, is the dependency that is pulling in chokidar and causing issues during deployment.

Interestingly, in our package.json, mocha is listed under devDependencies and not dependencies. Regardles

[2021-07-15 22:43] wceolin commented on #3092
I'm still not able to consistently reproduce the "export failed" error but this issue is happening to 3 co-workers at the moment. In all cases, there's no `firebase-debug.log` file. Enabling the `--debug` flag, we got the following information:

[code]

Sometimes, we also get this:

[code]

That seems to come [from this line](https://github.com/firebase/firebase-tools/blob/master/src/command.ts#L2

[2021-07-15 22:45] wceolin commented on #3092
I'm still not able to consistently reproduce the "export failed" error but this issue is happening to 3 co-workers at the moment. In all cases, there's no `firebase-debug.log` file. Enabling the `--debug` flag, we got the following information:

[code]

Sometimes, we also get this:

[code]

That seems to come [from this line](https://github.com/firebase/firebase-tools/blob/master/src/command.ts#L2

[2021-07-15 23:39] #3570 closed

[2021-07-15 23:40] yuchenshi commented on #3570
The fix is now merged and will be included in the next release.

[2021-07-16 01:22] taeold commented on #3573
@DibyodyutiMondal Thanks for sharing your setup. It sounds advanced, and I'm glad to have a chance to learn how functions is being used by our advanced users.

It sounds like using Typescript (along with Webpaxk) with ES module is a tricky business, and I'm not too familiar with these techs to offer useful advice 😢. I am personally curious and going to try different setups to see if we can come up

[2021-07-16 01:25] michaelyfan commented on #3092
Can confirm that I'm also consistently getting this error. Start the emulators in one console window with `firebase emulators:start`, make some data in the emulated Firestore UI, run `firebase emulators:export sample_data_directory_here` in another console window, and then I get the `Error: Did not find any running emulators for project [project-name].` message. What's going on? Am using the most

[2021-07-16 06:44] akauppi commented on #3198
@NickCaplinger Are you on Firebase Discord server? I’d like to see the minimal test case - think this is easy so solve.

[2021-07-16 10:11] DibyodyutiMondal commented on #3573
Sure, I would love to do that. Is there a designated place for that already, or I can just do that here?

[2021-07-16 11:54] AbhiShrek commented on #2747
Same here

[2021-07-16 13:44] samtstern opened #3578 "Revisit shutdown behavior of the emulators"
Currently we do this:

  * One `Ctrl+C (SIGINT)` --> clean shutdown
  * Two or more `Ctrl+C (SIGINT)` separated by a human interval --> immediate shutdown

We should probably _never_ shut down dirty on Ctrl+`SIGINT`, it seems that many tools and terminal emulators pass `SIGINT` many times which causes a dirty shutdowns. Dirty shutdowns can lead to corrupted exports, blocked ports, etc and other th

[2021-07-16 18:14] davidbielik opened #3579 "Emulator crashes in unexpected state when queried with startAfter(undefined). forced to restart."
I'm running into a bug that puts the emulator into a bad state, causing all subsequent queries to fail, and forces me to restart the emulator.

### [REQUIRED] Environment info

**firebase-tools: 9.16.0**

**Platform: macOS**

### [REQUIRED] Test case

### [REQUIRED] Steps to reproduce

1. Add documents to a collection:

[code]

2. Confirm you can query successfully with no errors:

[code]

3. Add

[2021-07-16 20:24] michaelyfan opened #3581 "Emulator export does not find running emulator if emulators were started with NPM script"
### [REQUIRED] Environment info

**firebase-tools:** 9.12.1

**Platform:** Windows 10

### [REQUIRED] Test case

Create a new empty directory, run `npm init` and `firebase init` and take defaults (it can be connected to any odd Firebase project you have, I don't think this really matters), then go to `package.json` and add an NPM script that starts the emulators:

[code]
This is all I needed to re

[2021-07-16 21:52] matejcsok-istvan opened #3582 "using auth emulator new user is created in emulator but wants to read from live db when loging in"
### [REQUIRED] Environment info

**firebase-tools:**
`"firebase-tools": "^9.16.0",`

**Platform:**
macOS Big Sur 11.4
### [REQUIRED] Test case
I don't provide any examples now, as it is time consuming and if I have to I can live without this feature,
but if you can't figure it out then I might will create a basic example.

### [REQUIRED] Steps to reproduce
in my `firebaseInit` I have the following

[2021-07-17 12:11] brodao commented on #3568
@samtstern

Thanks in advance

[firebase-debug.log](https://github.com/firebase/firebase-tools/files/6834667/firebase-debug.log)

[2021-07-17 15:16] matejcsok-istvan commented on #3582
It was totally my fault, I messed up some configurations, now it works like a charm, very good feature!

[2021-07-17 15:16] #3582 closed

[2021-07-17 17:19] llskin commented on #155
Thanks for this, I use "set" instead of "export" in windows, and it works

set http_proxy=http://127.0.0.1:port
set https_proxy=http://127.0.0.1:port

![20210718011812](https://user-images.githubusercontent.com/87190611/126044879-d9e5eff6-01c7-4ef7-a608-8a05632435e9.png)

[2021-07-17 23:07] clive-h-townsend opened #3583 "Missing Index No Longer Gives Direct Link To Create"
### [REQUIRED] Environment info

**firebase-tools:9.16.0**

**Platform:Ubuntu**

### [REQUIRED] Test case

Create a query with no index

### [REQUIRED] Steps to reproduce

1. Create a query with no current index
2. Look at error
3. No link provided per https://firebase.google.com/docs/firestore/query-data/indexing#create_a_missing_index_through_an_error_message

### [REQUIRED] Expected behavior

M

[2021-07-17 23:08] clive-h-townsend commented on #3583
https://stackoverflow.com/questions/68374000/uncaught-error-in-snapshot-listener-firebaseerror-no-matching-index-found

[2021-07-18 05:49] PaulRudin commented on #2597
This is still an issue, and now there's an auth emulator, so presumably it should be possible to coax the emulator to do the right thing when running locally.

[2021-07-18 10:05] spike123456 commented on #3583
I have the same issue. It always show FirebaseError: no matching index found. Although i just created the index

[2021-07-18 18:24] jmeinlschmidt commented on #3583
Same here

[2021-07-18 19:32] akauppi commented on #2675
Why would you like to use `curl -sL firebase.tools| bash`?

I tried it on Alpine, but as you have seen, it fails. There's the other way to install Firebase CLI (npm), and I prefer it because it allows the Dockerfile to be in charge of the version to be used.

If you need an Alpine base Firebase CLI Docker image, here is [firebase-ci-builder](https://github.com/akauppi/firebase-ci-builder) that I'v

[2021-07-18 19:35] akauppi commented on #2675
@zanona hmm.. maybe consider mentioning "Alpine" in the title?  This would help people get the right context, right from the start.

[2021-07-18 19:53] akauppi commented on #1644
@surajbarkale @samtstern @phinatic

I needed this for Cloud Build, and wanted as slim an image as possible. Would like to invite you to have a look at [firebase-ci-builder](https://github.com/akauppi/firebase-ci-builder). It's 461MB.

[2021-07-18 19:54] Carkzis opened #3587 "Firestore Emulator has a fatal error when trying to start it up (code: 3221226505)"
[REQUIRED] Environment info
firebase-tools: 9.16.0
Platform:      Windows 10
Node Version:  v14.17.3

[REQUIRED] Test case
I can sign in fine from the terminal, but after entering:

    firebase emulators: start

I get an error and the emulator fails to load.

[REQUIRED] Steps to reproduce

Same as above, have also tried with multiple projects and get the same result.

[REQUIRED] Expected behavior

[2021-07-19 00:29] MattHeslington commented on #3583
I'm experiencing it too. To check whether it was related to a particular project I span up a new project but had exactly the same issue. I have manually created Indexes but this doesn't resolve.

[2021-07-19 08:37] akauppi commented on #3578
I'm eager to see if this would help with a problem I have with npm, `concurrently`, Docker and Firebase.

In short, `concurrently` is known to be sending signals multiple times, on an Alpine image, to kill processes. The thinking goes, with the heuristic behaviour Sam explains above, that this could cause non-clean exits from Firebase Emulators.

This, in turn, leaves ports dangling when the whole

[2021-07-19 11:57] SincerityJayce commented on #3565
as above

[2021-07-19 12:02] TRIMER opened #3584 "Storage Emulator missing auth from IOS SDK"
It's possible bug in emulators. I can't write secure rules for Storage using 'request.auth'.

### [REQUIRED] Environment info

firebase-tools: 9.16.0
platform: macOS
iOS SDKs:
- FirebaseFirestore 8.1.0
- FirebaseStorage 8.1.0
- FirebaseAuth 8.1.0

### [REQUIRED] Steps to reproduce

1. Add secure rules to 'storage.rules'.
[code]
2. Run emulators.
3. Run iOS app with code:

Preparing:
[code]
Upload:

[2021-07-19 12:08] sherylcaber opened #3585 "I can't see my live link"
Please submit feature requests through our [support page](https://firebase.google.com/support/contact/bugs-features/).

[2021-07-19 16:22] NickCaplinger commented on #3198
@akauppi Hey there! I wasn't on that Discord server but I am now, as SleekoNiko#0001.
Unfortunately, I haven't had the time to create a standalone test case. For a time, I was modifying my package.json and removing mocha before each deploy.
Fortunately however, after doing some more reading into npm's history and lockfileVersion, I tried downgrading my npm version from 7 to 6 and that has resolved

[2021-07-19 17:18] yuchenshi commented on #3587
Would you mind uploading firestore-debug.log as well? That log file may contain reasons behind the fatal error.

[2021-07-19 17:38] lpellegr opened #3588 "Firebase functions emulator does not look at transitive dependencies for requirements"
Firebase CLI version 9.6.1 on Fedora 34.

When you have a firebase function configured and you try serving it locally with `firebase serve`, the command crashes if you don't have `firebase-admin` and `firebase-functions` as a **direct dependency** in your _package.json_.

In my case, `firebase-admin` and `firebase-functions` are imported as a dependency of another library I include in my _package.

[2021-07-19 18:30] Carkzis commented on #3587
Unfortunately the firestore-debug.log is always blank.

[2021-07-19 19:25] inlined commented on #3581
@samtstern Do you have any idea here?

[2021-07-19 19:26] inlined commented on #3588
Node requires all dependencies you want to use to be part of your package.json. If you don't, the transitive dependency might actually be installed in another module's node_modules instead of at the root node_modules. Closing this bug as Working as Intended.

[2021-07-19 19:26] #3588 closed

[2021-07-19 19:32] #3585 closed

[2021-07-19 19:43] akauppi commented on #3198
@NickCaplinger The reason why this would happen on npm 7 may have to do with the different way they deal with peerDependencies. But this is not really my field, not hurt by it, and the issue is closed. :).   Ping me on Discord if you feel like it!

[2021-07-19 21:03] samhammer325 opened #3589 "Can't get files on storage emulator with getFiles()"
### [REQUIRED] Environment info

firebase-tools@9.16.0

9.16.0

macOS

### [REQUIRED] Test case

const {Storage} = require('@google-cloud/storage');

//use project name
var storage = new Storage({
projectId: projectname,
});

var anyfile = await storage.bucket("default-bucket").getFiles();

### [REQUIRED] Steps to reproduce
run firebase functions and firebase storage emulator

add a file to cloud

[2021-07-19 21:36] yuchenshi commented on #2597
@PaulRudin You can now opt-in to an emulated `init.js` by adding `?useEmulator=true` flag, like so:

[code]

For *new* projects initialized from the Firebase CLI, this flag will be automatically set for you in the generated `public/index.html`.

This flag has no effect in production Firebase Hosting and it only configures enabled and running emulators. If you want the Auth Emulator, please run `fi

[2021-07-19 21:40] yuchenshi commented on #3587
I'm afraid this hints at problems with the `java` command itself. Please try reinstalling JVM or another JVM implementation.

Note that you can also run `java C:\\Users\\YOUR_USERNAME\\.cache\\firebase\\emulators\\cloud-firestore-emulator-v1.13.1.jar` manually in a command-line and see what happens. Feel free to reopen if it works on the command-line but not through the CLI, and we can take a clos

[2021-07-19 21:40] #3587 closed

[2021-07-20 14:16] Franco-Alejandro commented on #3583
Same issue here.

[2021-07-20 21:13] saydur961 commented on #1532
@markgoho Thank you so much

[2021-07-20 23:17] adrianleewt commented on #3589
I'm not an expert in working with the emulators, but in the docs for the storage emulator [here](https://firebase.google.com/docs/emulator-suite/connect_storage) it says:

I haven't been able to get `getFiles()` working either, so in my tests I just keep track of what I'm uploading to the emulator, and then check for the existence of each item using the `bucket.file(filename).exists()` method. Per

[2021-07-20 23:32] #3589 closed

[2021-07-21 00:06] taeold commented on #3573
@DibyodyutiMondal This is probably a good place to start. Once we have some concrete patterns and recommendations we can suggest, I will work with our DevRel team to find a good place to share the content so other users can learn from it.

Again, thanks for being on the bleeding edge and being proactive about your issues.

[2021-07-21 00:45] jessp01 opened #3591 "firebase deploy --only functions fails"
### [REQUIRED] Environment info

$ firebase --version
9.16.0

**firebase-tools:**

**Platform:**
[code]
**NodeJS version:**

### [REQUIRED] Test case

`firebase deploy --only functions` fails with:
[code]
### [REQUIRED] Steps to reproduce

Run `$ firebase deploy --only functions`

### [REQUIRED] Expected behavior

For it to deploy

### [REQUIRED] Actual behavior
RC:2; Output: `Error: An unexpected

[2021-07-21 01:12] MartinJLee commented on #3559
[code]
[code]

[2021-07-21 01:16] jessp01 commented on #3591
I found the problem. In the functions directory, I had a file, literally named '\' (it was unintentional, obviously but generally speaking, it is a valid filename). This caused the creation of the above faulty data object and made the operation fail completely. Once removed, everything worked as expected.

May I suggest that you perhaps make error handling slightly more robust and verbose?

Cheers

[2021-07-21 01:16] #3591 closed

[2021-07-21 01:46] dhirb commented on #3583
Is this related to https://github.com/firebase/firebase-js-sdk/issues/5152?

[2021-07-21 08:03] silicakes commented on #3583
This should be fixed with a backend deployment from yesterday.

[2021-07-21 08:55] akauppi commented on #3488
I implemented the "wake up" for Cloud Functions, yesterday.

As stated, the problem had become worse with Docker and I came to the following approach:

- when Cloud Functions are launched under emulation
   - not in CI (meaning: under Docker)
      - in addition to defining themselves, they also exercise the Cloud Functions immediately, thus waking them up.

I used the possibility to also log the

[2021-07-21 15:09] AbhisekJS commented on #386
Thanks This Works

[2021-07-21 18:53] jailsondamasceno commented on #3583
here too

[2021-07-21 18:54] abeisgoat commented on #3584
This could be an issue with parsing the credentials from the iOS SDK. I'll look into it.

[2021-07-21 18:55] abeisgoat commented on #3583
This is related to backend issues, no the emulator or SDKs, see https://github.com/firebase/firebase-js-sdk/issues/5152

[2021-07-21 18:55] #3583 closed

[2021-07-21 18:59] abeisgoat commented on #3568
Can you provide the contents of your `firebase.json`?

[2021-07-21 19:00] abeisgoat commented on #3565
+1 to what @yuchenshi said and without further details we can't help. Feel free to reopen if you have more info.

[2021-07-21 19:00] #3565 closed

[2021-07-21 19:03] abeisgoat commented on #3566
1) Please use the Github issue template when reporting issues, it helps us a lot.
2) Is there a reason you're not using the [firebase_storage](https://pub.dev/packages/firebase_storage) package?
3) We only test the emulator against a set of known SDKs so this use case is kind of on the fringe, but since it works in prod, I'll look into it.

[2021-07-21 19:05] abeisgoat commented on #3473
We don't really have much control here, all the errors are surfaced from the backend, which is out of our control and often lacking verbosity for technical reasons.

[2021-07-21 19:12] taeold commented on #3473
I think we do have access to more useful error messages - more useful error messages are returned by the supporting backend services and can be seen as long as you use the `--debug` flag and are comfortable enough to parse through the dense log messages.

The ask here is to surface those error messages instead of displaying a generic "Error: Functions did not deploy properly." error message. This

[2021-07-21 19:22] bkendall commented on #3397
Sorry to only get around to this now, but you're right - I can still reproduce this. I have a PR out now to fix it! :)

[2021-07-21 20:02] ggirotto commented on #3559
If the version is specified, it works as expected: `firebase remoteconfig:get -o 'test.json' -v <VERSION>`, although it would be nice to the CLI use the latest available version when it's not specified.

The CLI is probably trying to get a version but is receiving undefined

[2021-07-21 20:14] jpreynat opened #3594 "Very slow initial query to Firestore emulator"
### [REQUIRED] Environment info

**firebase-tools:** 9.13.0

**Platform:** macOS, Ubuntu

### [REQUIRED] Test case

[code]

### [REQUIRED] Steps to reproduce

Run the test case provided above with the Firestore emulator and actual data.

### [REQUIRED] Expected behavior

As you can see from the logs in the tests above, the very first query `.get()` to the Firestore emulator takes a **huge** amount

[2021-07-21 20:19] Hibrix-net commented on #3568
Similar issue here. The Firebase emulator is also not exporting any data after shutdown.

[2021-07-21 23:12] MyBlueford16 commented on #2295
@nathan815 The confusing part is I AM deploying from a project owner account and still getting this issue.

[2021-07-22 14:28] annzimmer commented on #3578
I've filed this bug internally (b/194384884) for more investigation/tracking.

[2021-07-22 17:05] lovelle-cardoso opened #3608 "auth_time doesn't match user's lastSignInTime (always matches iat instead)"
### [REQUIRED] Describe your environment

- Operating System version: Windows 10 Home Version 20H2, Build 19042.1052
- Browser version: Chrome Version 91.0.4472.164 (64-bit)
- Firebase SDK version: firebase 9.0.0-beta.6
- Firebase Product: Firestore Emulator, Database Emulator, Storage Emulator

### [REQUIRED] Describe the problem

According to the documentation, auth_time should match the user's

[2021-07-23 06:33] jgavazzisp commented on #3149
Hi, @samtstern do you have an ETA for an MVP of this feature?

Thanks

[2021-07-23 08:20] akauppi commented on #3149
If there’s anything you can reveal about the approach, that would be helpful.

Just to make sure: the *programmatic confirmation* is the key, imho. Just writing the counts on the console (for humans) is not enough, since it doesn’t allow for breaking a CI build in case assumptions on the read/write counts are wrong.

[2021-07-23 08:21] samtstern commented on #3149
No ETA on this exact feature but the latest release includes a brand new Firestore Request Monitor which will show you each request in detail!

[2021-07-23 12:14] samtstern commented on #3581
The key line is `[2021-07-16T20:22:44.728Z] Found locator with mismatched version, ignoring: {"version":"8.20.0","host":"localhost","port":4400}`

What's happening here is that you're running two different versions of `firebase-tools`. These can't talk to each other. When you run `firebase` outside an NPM script it resolves to your global install. When you run `firebase` inside an NPM script it lo

[2021-07-23 12:14] #3581 closed

[2021-07-23 12:52] vishus516 opened #3597 "geeting an error while log in"
### [REQUIRED] Environment info

**firebase-tools:**

**Platform:**

### [REQUIRED] Test case

### [REQUIRED] Steps to reproduce

### [REQUIRED] Expected behavior

### [REQUIRED] Actual behavior

[debug] [2021-07-23T12:51:18.878Z] ----------------------------------------------------------------------
[debug] [2021-07-23T12:51:18.880Z] Command:       C:\Program Files\nodejs\node.exe C:\Users\admin\

[2021-07-23 12:55] #3597 closed

[2021-07-23 13:00] vishus516 opened #3598 "gettin an unexpected error while log in"
### [REQUIRED] Environment info

**firebase-tools:**

**Platform:**

### [REQUIRED] Test case

### [REQUIRED] Steps to reproduce

### [REQUIRED] Expected behavior

### [REQUIRED] Actual behavior

[code]

[2021-07-23 13:53] microcou opened #3599 "Storage emulator starts even if excluded in firebase.json"
### [REQUIRED] Environment info

**firebase-tools:** 9.16.0

**Platform:** Ubuntu

### [REQUIRED] Test case

- Use the CLI to initialize a firebase project
- initialize the emulators, emulate only hosting, and functions, not storage
- add Storage rules in firebase.json but NOT within emulators settings (note that there is a known issue related: [#3390](https://github.com/firebase/firebase-tools/is

[2021-07-23 16:35] misha-reyzlin-hier opened #3600 "Revisit whether CLI should wipe the emulator export directory"
### [REQUIRED] Environment info

**firebase-tools:**

[code]

**Platform:**
macOS

### [REQUIRED] Test case

- Not sure what I should put here.

### [REQUIRED] Steps to reproduce
- Start the emulators with auth and database imports
- Shut down emulators with one ctrl+c

### [REQUIRED] Expected behavior
Emulators shut down and data is exported.

### [REQUIRED] Actual behavior
Emulators print an err

[2021-07-23 16:56] #3397 closed

[2021-07-23 19:57] qnxdev commented on #3349
How did you do that?

I'm getting a redirect to google login when I try to access <custom-domain>/<function-name>

[2021-07-23 20:10] brodao commented on #3568
@abeisgoat

Thanks in advance. The ``storage.rules`` content is default

[code]

[code]

[2021-07-23 20:14] jgavazzisp commented on #3149
The Request Monitor is really good thanks for that.

Are you guys planning to add the Admin SDK count too?  It would be nice to be able to have the count after for instance run an integration test suit for background schedulers and at glance and getting a good idea if an improvement could be made or not based on the final counts.

[2021-07-23 20:41] epodol opened #3601 "Error when running remoteconfig:get if no Remote Config is set"
### [REQUIRED] Environment info

**firebase-tools:** 9.16.0

**Platform:** Windows with WSL 2

### [REQUIRED] Test case

Create a new project (following the normal steps).

### [REQUIRED] Steps to reproduce

Do not add any remote config data to your project.
Run `firebase remoteconfig:get`
See Error:

### [REQUIRED] Expected behavior

If there is no config set, then this should just return an empt

[2021-07-23 21:01] akauppi commented on #3149
@jgavazzisp Where can I see this Request Monitor?

Have `firebase-tools` 9.16.0 and looked into the Firestore tab of localhost:4000.  Not there.

[2021-07-23 21:36] akauppi commented on #3594
@jpreynat Could you try otherwise the same but with project id's starting `demo-`?

This is exactly why. `test-{123}` are treated as normal project id's by Firebase, but `demo-...` are special, and guaranteed to be "offline".

Let's see where the 8400 and 3000 ms may fall.

Other things? Have the emulators fully started, when the tests are run?

My own experience is that Firestore emulation seems

[2021-07-23 22:22] bkendall commented on #3599
I initialized Emulators, Hosting, and Functions, taking all the default options, including the Functions and Hosting emulators. Then after doing emulator:start, only Hosting and Functions came up.

I'm unable to replicate this. Could you provide the output of `firebase emulators:start --debug` or a clearer replication procedure?

[2021-07-23 22:25] bkendall commented on #3598
Hi - I'm a little confused as to what's happening here. Are you getting to the prompt that asks to paste the key?

Also, how did you install the CLI?

[2021-07-24 06:31] jgavazzisp opened #3603 "Timestamp not updating on Emulator UI"
### [REQUIRED] Environment info

**firebase-tools:** 9.16.0

**Platform:** macOS

### [REQUIRED] Test case

Trying to modify the timestamp field on the Firestore Emulator UI causes only the UI to update and does not persist the new timestamp to the database.

### [REQUIRED] Steps to reproduce

1) Start the Firestore emulator
2) Create programmatically an timestamp field (using an unit test for ins

[2021-07-24 09:19] jpreynat commented on #3594
Thanks for the tip @akauppi, but that didn’t change a thing in the timings.

[2021-07-24 10:56] hadxits commented on #626
I solved this issue.  i think firebase-tools module depend on specific npm version
  1. npm uninstall -g firebase-tools
  2. npm install -g npm
  3. npm install -g firebase-tools

   │      New major version of npm available! 6.14.8 → 7.20.1       │
   │   Changelog: https://github.com/npm/cli/releases/tag/v7.20.1   │
   │               Run npm install -g npm to update!                │

[2021-07-25 00:44] epodol commented on #3601
After looking into this, I would be happy to open a PR to fix this. Feel free to assign this issue to me.

[2021-07-25 08:53] dgkimpton commented on #3404
Do the firebase tools automatically clean up artifacts when the deployment fails? I had a battle last week trying to get my functions to deploy, now I'm left with > 600MB of artifacts hanging around and a peak bandwidth consumption of 877MB, which seems excessive for 4 5-line cloud functions :/

[2021-07-25 12:38] microcou commented on #3599
Thank you for your interest.
I re-ran the procedure and actually it is the presence of Storage rules specified in the firebase.json that trigger the unrequested launching of Storage emulators.
I have edited the Test case accordingly.

[2021-07-26 01:00] #2568 closed

[2021-07-26 02:46] jko12130 opened #3605 "Firebase functions are not being deployed while they used to be deployed without any problem"
### [REQUIRED] Environment info

**firebase-tools:8.9.0**

**Platform:macOS Big Sur v11.4**

### [REQUIRED] Test case

package.json:
[code]

### [REQUIRED] Steps to reproduce

Deploy a test function using package.json above

### [REQUIRED] Expected behavior

The functions used to be deployed without any problem the last time I tried, which is 2-3 days ago, and should continue to do so.

### [REQUI

[2021-07-26 07:57] EricBatlle commented on #3605
So I'm not the only one? :'(

[2021-07-26 12:35] samtstern commented on #3488
@akauppi I am actually no longer on the Firebase team so I think if you want someone to look into this issue it might be @yuchenshi or @abeisgoat

Just out of curiosity I decided to try my own measurements with one simple emulatoed function:

[code]

The first time I saw cold start of `253ms` and warm start of `37ms`:
[code]

The second time was similar. Cold start of `191ms` and warm start of `43

[2021-07-26 12:43] akauppi commented on #3488
@samtstern I'm sorry to hear you're no longer on the Firebase team. You were one of the best!!  (meaningful insights in issues and friendly attitude - well done)

I agree. I am relieved to know this is not everyone's problem. Anyways, I've made "defensive manoeuvres" on my side ;) so the pain this causes is currently under control. If I can narrow down to what's causing the sluggishness, I will -

[2021-07-26 13:01] AhmedAlNeaimy commented on #500
This worked for me .. Thanks!

[2021-07-26 13:53] mgreenw opened #3607 "Auth Emulator: Fails to import users when data size is > 100KB"
### [REQUIRED] Environment info

**firebase-tools:** 9.16.0

**Platform:** macOS 11.2.3

### [REQUIRED] Test case

Add at least 500 auth users to a fresh hosted firebase project

### [REQUIRED] Steps to reproduce

1. Generate test case data
2. Export those users with `firebase auth:export accounts.json`
3. Start a new firebase emulator with `firebase emulators:start --import ./emulators/local --ex

[2021-07-26 17:32] genautkin commented on #1885
I did
npm install --save firebase-functions@latest
firebase deploy
and it fixes my problem

[2021-07-26 18:22] taeold commented on #3404
@dgkimpton You are right - we don't try to clean up images if the deploy fails :(.

We are brainstorming ways to make it easy to clean up artifacts left-behind by Firebase/Google Cloud Functions - stay tuned!

[2021-07-26 18:27] dgkimpton commented on #3404
Ah, that explains things. Rather than providing a way to clean up gracefully, what about a way to simply blat all the existing cloud function images and easily reinitialise? Sometimes the brute force approach is the easiest ;)

[2021-07-26 18:37] taeold commented on #3605
I'm unable to reproduce the issue on my project after copying over the dependencies you've set 😢 .

The error message `Detailed stack trace: Error: Cannot find module 'typescript'` is a bit cryptic to me - I'm not sure why user code would depend on it. Is there something in your function code that might explain what's going on?

Also, it looks like you are using an older version of the CLI. Can yo

[2021-07-26 18:45] abeisgoat commented on #3599
Can you try this with `database` or `firestore` emulators, [this line](https://github.com/firebase/firebase-tools/blob/d460ad295626ffb0c2c8b6697c2c616e358c6a7d/src/emulator/controller.ts#L183) appears to say that we enable an emulator when either the top level `[emulateName]` key exists in `firebase.json` or `emulators.[emulatorName]` which would make me think this isn't storage specific

[2021-07-26 20:44] microcou commented on #3599
I tried with the Firestore emulator and it behaves as you describe, which matches the line that you mention. So no, it is not specific to storage and it works as intended. For me this issue can be closed, I'll keep on using the --only CLI option. Thank you for your attention and for showing the line of code, that was interesting!

[2021-07-26 21:55] pmabres commented on #3605
I can confirm that this breaks while using firebase as a local package doing:
npm install --save-dev firebase-tools
the installed version is at 8.20.0 while the install w/ the global package is at 9.16.0

For me, using the global package with the firebase command worked well. not happy with being installed as a local package.

[2021-07-26 22:37] jthegedus commented on #3605
This suggests that the versions `8.20.0` and `9.16.0` perform differently, not that local vs global has different behaviour. Can you compare `9.16.0` when installed locally vs globally?

[2021-07-26 23:26] pmabres commented on #3605
9.16.0 installed global and locally both work

[2021-07-26 23:43] yuchenshi commented on #3608
The Auth Emulator doesn't accurately emulate `auth_time` behavior right now -- we just picked something that works for most use cases. Thanks for bring this up to our attention.

As @looptheloop88 noted, we now track this internally for a fix. We are unable to promise any timeline for this, but if others also have this issue, adding a +1 on this issue can help us prioritize adding this to the road

[2021-07-26 23:46] yuchenshi commented on #3608
Looks like the problematic line is https://github.com/firebase/firebase-tools/blob/e4ab4cce3292eb6dee63a3ebabf40b4a131e588a/src/emulator/auth/operations.ts#L1729 -- we're also happy to review a PR with the fix and tests.

[2021-07-27 00:08] jko12130 commented on #3605
Hi, this works now. It was a really silly mistake. While writing a new function, VS Code was smart enough to somehow automatically import the following module at the top:

const { isExpressionWithTypeArguments } = require('typescript');

Which led to all the errors. Silly mistake. Killed it dead, installed the new version globally, everything's fine. Thanks for helping out though!

[2021-07-27 00:08] #3605 closed

[2021-07-27 00:09] yuchenshi commented on #3607
Duplicate of #3577.

[2021-07-27 00:09] #3607 closed

[2021-07-27 00:17] pmabres commented on #3605
Even though the creator of the issue might have had a different issue, the versioning problem might still be there.
The only feedback I can provide while I was trying to deploy on GCP are the deployment logs from cloud build.

2021-07-26T05:06:43.259311458Z bad CRC f7974029 (should be 00000000)
2021-07-26T05:06:43.402991199Z ERROR: error fetching storage source: generic::unknown: retry budget exha

[2021-07-27 00:42] taeold commented on #3605
@pmabres The `bad CRC` error message reminds me of github.com/firebase/firebase-tools/issues/3120.

It does sound like a new issue unrelated to this issue. Let us know by opening up a new issue (hopefully w/ steps to reproduce your error).

[2021-07-27 17:01] arturjnt commented on #1532
Doesn't work for me unfortunately @markgoho
admin.apps.length is an [object Object]
So now it never gets in the if, and never initializes.

Thoughts anyone?

[2021-07-27 17:01] Jannie98 opened #3609 "Firebase 'serve --only' not working as it should"
### [REQUIRED] Environment info

**firebase-tools:**

[code]

**Platform:**

Windows

### [REQUIRED] Test case

`firebase serve --only "functions, hosting"`

### [REQUIRED] Steps to reproduce

`run firebase serve --only "functions, hosting"`

firebase.json

[code]

functions/package.json

[code]

functions/index.js

[code]

### [REQUIRED] Expected behavior

It should invoke `functions` and `hostin

[2021-07-27 17:24] yuchenshi commented on #2859
Hi, thanks for filing this feature request! We are unable to promise any timeline for this, but if others also have this request, adding a +1 on this issue can help us prioritize adding this to the roadmap.

(Googler-only internal tracking bug: b/194801987)

[2021-07-27 19:08] lovelle-cardoso commented on #3608
@looptheloop88 @yuchenshi All right I've submitted a PR with a fix and added a unit test for it: https://github.com/firebase/firebase-tools/pull/3610

[2021-07-27 19:22] lovelle-cardoso commented on #3608
My commit author wasn't correct in that PR so I deleted that PR and made a new one here: https://github.com/firebase/firebase-tools/pull/3611

[2021-07-27 21:05] spicemix commented on #2859
If you're paying $200 for focus group participation on this feature please let me know

[2021-07-28 00:37] kevmoo opened #3612 "Emulation: hosting - Support using a local server for "run" sections"
The hosting emulator sends requests to my cloud run instance – awesome!

Now I wish there was a way to have the emulator hit a local server I'm running.

[2021-07-28 01:00] #3572 closed

[2021-07-28 06:30] amebrahimi commented on #1280
I have this issue too I'm on windows 10
Node v16.5.0
firebase 9.16.0

[2021-07-28 10:06] misha-reyzlin-hier commented on #3600
The way the emulators were started is probably to blame:

In the working path, we used:
[code]

This produced the relevant export files:
[code]

And has worked OK for us until now, however at least only the exported files would be deleted by this bug and not the whole working folder alongside other important files.

Still, loosing data on export is really bad. Also, perhaps the tool could verify t

[2021-07-28 11:18] wmadden commented on #371
@taeold this problem _is_ specific to the Firebase CLI.

Even if you correctly escape the arguments so that Node receives the string as intended, something in the Firebase CLI stack escapes the new line characters.

# Repro instructions

1. As you said above we know that escaping a string with `$''` doesn't cause newlines to be represented by `\\n` once the argument is interpreted by Node, and we

[2021-07-28 15:48] taeold commented on #371
@wmadden Thanks for giving your feedback. I'll go ahead and re-open the issue.

I'm having trouble reproducing the issue you are reporting. Here's what I got:

[code]

(I tried running `firebase deploy` in between the config commands, but that didn't seem to change anything).

On my Mac, using zsh, things appear to work as expected. I tried running the command on a different platform (Ubuntu) and

[2021-07-28 15:51] wmadden commented on #371
No problem! I'm also on a Mac using zsh, here are my Node and Firebase versions:

[code]

[2021-07-28 16:02] wmadden commented on #371
@taeold `npx` might be adding another layer of escaping. If I use your commands exactly as in your comment then it records `a\nb` correctly, but if I use `npx firebase functions config:set` it stores the result with double backslashes.

I'm not sure if that would have caused the original issue, which might have predated `npx`, but it's worth noting now

[code]

[code]

[2021-07-28 17:35] taeold commented on #371
😢  That's very strange. Wonder what's going on in`npx` that swallows the string quoting.

Here's yet another "it works on my machine" 🤦

[code]

Newline escaping is looking to be a big PITA, and Firebase CLI could be something more to make this process better. There are some updates to how environment configurations are managed rolling out soon, and I'll make sure this problem is considered in tha

[2021-07-28 17:39] #3608 closed

[2021-07-28 17:49] wmadden commented on #371
@taeold I don't have adequate Github permissions to close the issue and, no offence, I'm not convinced it's adequately addressed. It took me a solid day and a half of experimentation and Googling to a) find this thread and b) give up and add `.replace(/\\n/g, '\n')` to my code.

People have been having issues with this since 2017 and, like the original author way back then, I'm trying to store a s

[2021-07-28 18:40] ad-si commented on #1528
I'm having the same problem as @ottob. What's the solution here @samtstern?

[2021-07-28 18:54] taeold opened #3613 "Improve support for storing multiline strings in functions config"
Spun out of #371.

Trying to add firebase config value with newline leads to surprising result:

[code]

Note that extra back slash.

Unfortunately, this issue isn't specific to Firebase CLI. It's tricky to pass escape characters like newline (e.g. [stackoverflow question](https://stackoverflow.com/questions/58896676/how-to-pass-multiline-text-to-a-command-in-a-parameter)).

For illustration, cons

[2021-07-28 19:09] taeold commented on #371
@wmadden Great suggestions there. I went ahead and filed a FR on better support for multiline strings for firebase config. I can't promise that I will work on it right away, but as I mentioned before, I'll try to include this fragile UX in our discussions.

Since this issue seems to get good SEO, here is a summary of suggested workaround to avoid having extra slashes add to your config values:

##

[2021-07-29 01:38] vladnds opened #3614 "TypeError [ERR_INVALID_REPL_INPUT]: Listeners for `uncaughtException` cannot be used in the REPL"
### [REQUIRED] Environment info

**firebase-tools:**

9.16.0

**Platform:**

Mac

### [REQUIRED] Test case

https://github.com/vladnds/firebase-error-no-listeners-node-14

### [REQUIRED] Steps to reproduce

- run shell:
[code]
- try adding error handler:
[code]
- see error:
[code]

### [REQUIRED] Expected behavior

Error handler should be registered, just like in raw nodejs REPL.

### [REQUIRED] A

[2021-07-29 08:40] Tarun-i-mac commented on #386
thanks a lot

[2021-07-29 10:33] katopz opened #3615 "Emulators start and suddenly shutting down"
### [REQUIRED] Environment info

**firebase-tools:** 9.16.0

**Platform:** macOS 11.4

### [REQUIRED] Test case
I've 2 mac which `10.15.7` working fine but `11.4` refuse to start emulator.

### [REQUIRED] Steps to reproduce
[code]

### [REQUIRED] Expected behavior
emulator start

### [REQUIRED] Actual behavior

[code]

[2021-07-29 10:58] JasonHoku commented on #3615
Do you have a 3rd party firewall or antivirus software that could be blocking applications or ports?

There is also the native firewall settings to check:
https://support.apple.com/guide/mac-help/change-firewall-preferences-on-mac-mh11783/mac

[2021-07-29 11:18] katopz commented on #3615
@JasonHoku not any, native firewall is turn off by default. And I don't thing it will cause `emulators: Shutting down emulators.` at step 2 anyhow.

[2021-07-29 11:23] JasonHoku commented on #3615
Yes but the error warnings:
:warning:  functions: Port 5001 is not open on localhost, could not start Functions Emulator.
and
Error: Could not start Functions Emulator, port taken.

Are saying the issue is because it cannot open 5001

Are you possibly running two functions emulators apps simultaneously?  If so the emulator does not automatically assign a new port if taken and you'll have to design

[2021-07-29 11:55] katopz commented on #3615
I think so at first, so I try `lsof -ti:5001` with no result.
To make sure, I `kill` all related port I can think of.
And even reboot and try again with no luck.
Retry `firebase init` didn't work either.

Anyway when I try change function port to `9991`.
I got
[code]

Which is fine because I've`firestore-debug.log` to investigate now and it said.
[code]

Cool, This is new mac which I didn't instal

[2021-07-29 13:01] polymer-coder opened #3616 "It seems that you are running multiple instances of the emulator suite for project <project-name>. This may result in unexpected behavior"
### [REQUIRED] Environment info

**firebase-tools: 9.16.0**

**Platform: Windows 10 21H1*

### [REQUIRED] Steps to reproduce

Start the emulators, press CTRL + C and wait for it to say shut down. Start it back up and look for the below message:

### [REQUIRED] Expected behavior

The emulators shut down cleanly everytime

### [REQUIRED] Actual behavior

It seems that the emulators don't cleanup pro

[2021-07-29 13:07] polymer-coder commented on #3616
@google-oss-bot can you tell me what I'm missing?

[2021-07-29 13:10] JasonHoku commented on #3616
That is a bot.

I used to have a issue similar to this when I was booting in CMD instead of PowerShell in windows, now-a-days I use the VSCode terminal and my experience with the emulator is different.

It makes me believe perhaps this issue is with the libraries you have installed on your PC, maybe permissions issue with CMD, maybe an out of date Java library?

Do you get the same issue occurring

[2021-07-29 13:18] polymer-coder commented on #3616
@JasonHoku I also use the VSCode terminal but that's still Powershell. I've tried upgrading to the latest CLI today and using an elevated powershell but that hasn't helped.

Interestingly, if I restart it works as intended the first time around.

[2021-07-29 13:27] JasonHoku commented on #3616
Very strange! More interestingly now I 've spotted within your error:
i  emulators: Please wait for a clean shutdown or send the SIGINT (Ctrl-C) signal again to stop right now.
i  Automatically exporting data using --export-on-exit "./mock" please wait for the export to finish...

Error: Storage Emulator Rules runtime exited
unexpectedly.

That the shutdown is definitely not happening properly, an

[2021-07-29 13:37] polymer-coder commented on #3616
@JasonHoku thanks for looking through the logs!

The `mock `folder definitely exists. I use it to do the inital data import to populate firestore. Since that import works I can't figure out why it wouldn't export correctly.

I just deleted the contents of mock so it's clear, started and shut down the emulators:
[code]

[2021-07-29 14:59] harmandeep-singh commented on #2764
This still existing in my case  ,
[code]
 i am using firebase latest :
`"firebase-admin": "^9.11.0",`
also set env. variable  :
`FIREBASE_AUTH_EMULATOR_HOST=localhost:9099`

[code]

[2021-07-29 15:06] madeInLagny opened #3617 "Firebase target fails to deploy"
**The issue:**
I have a web project hosted on Firebase that deploys fine. I want to add a new site to the same project. Firebase fails to deploy went target is set.

**Steps to reproduce**

- Update Firebase CLI to 9.16.0
- Create new site on Firebase hosting console. Name: autoscrib-testv2
- Run firebase target:apply hosting test autoscrib-testv2
- .firebaserc gets updated to:

[code]

- Update f

[2021-07-29 15:13] v-kiniv commented on #2764
Make sure you've updated `firebase-tools` to the latest version:
`npm i -g firebase-tools`

[2021-07-29 15:19] harmandeep-singh commented on #2764
**sorry ! it was my Bad , after set env. reload the console  can help if some one else stuck in same situation.**  😀😀

[2021-07-29 15:21] harmandeep-singh commented on #2764
sorry ! it was my Bad , after set env. reload the console can help if some one else stuck in same situation. 😀😀

[2021-07-29 16:06] romaincoeur opened #3618 "Command firebase hosting:disable ignores -y option"
### [REQUIRED] Environment info

**firebase-tools: 9.16.0**

**Platform: macOS**

### [REQUIRED] Test case

run `firebase hosting:disable -y` in a terminal

### [REQUIRED] Expected behavior

The command should disable hosting without prompting

### [REQUIRED] Actual behavior

[code]

[2021-07-29 19:11] abeisgoat commented on #3599
No worries, it's still a bug / unexpected behavior so we'll leave this open and get it sorted.

[2021-07-29 20:16] jakekrog commented on #2378
I'm also skeptical of the utility provided by automatically generated types for this package, but one particular use case that I think would be valuable is exposing `FirebaseConfig`, either directly from `firebase-tools` or from a separate package.

I needed access to that type in order to build a tool for managing Firebase config files. I considered using `json-schema-to-typescript` to consume th

[2021-07-29 20:19] samtstern commented on #2378
@jakekrog we have recently started building a JSON Schema for that file:
https://github.com/firebase/firebase-tools/blob/master/schema/firebase-config.json

You can probably make some use of that! We have not yet hosted the schema anywhere, but you can grab it from GitHub at that predictable location for now.

[2021-07-29 20:55] jakekrog commented on #2378
@samtstern thanks for the quick response! I did try using that schema with `json-schema-to-typescript` to essentially recreate `firebaseConfig.ts`, but the generated TypeScript is more convoluted and missing granular type definitions.

You can see the difference by comparing the original [firebaseConfig.ts](https://github.com/firebase/firebase-tools/blob/master/src/firebaseConfig.ts) to [what is g

[2021-07-30 01:00] #3120 closed

[2021-07-30 01:00] #2474 closed

[2021-07-31 20:27] Brian-McBride commented on #2960
Same, on WSL2
[code]

Another process:
[code]

Right now, just the Firestore emulator UI is causing this.

[2021-08-01 07:19] vladfaust commented on #3366
Just letting you know that my team needs that as well for local development of a multi-tenant application. For now, we're launching a separate set of emulators for a tenant; which is far from ideal

[2021-08-01 15:31] madeInLagny commented on #3617
Problem was solved by running firebase init. Issue was generated by cli update.

[2021-08-01 15:31] #3617 closed

[2021-08-02 13:22] ferolpt commented on #1978
Hi,
I am facing the same issue on my nodejs project:

I have set a .env file with FIREBASE_FUNCTIONS_UPLOAD_REGION="europe-west1"

and when I try to upload gives the same error:
"error": {
    "code": 400,
    "message": "The request has violated one or more Org Policies. Please refer to the respective violations for more information.",
    "status": "FAILED_PRECONDITION",
    "details": [
      {

[2021-08-02 13:46] ferolpt commented on #1978
seems that it looks to the env correctly but then tries to upload to europe-west1 throw the us-central1/functions...
on the logs:

Env Overrides: FIREBASE_FUNCTIONS_UPLOAD_REGION
so seems ok

[debug] >>> HTTP REQUEST POST https://cloudfunctions.googleapis.com/v1/projects/XXXXfirebase/locations/us-central1/functions
 {"name":"projects/XXXXfirebase/locations/us-central1/functions/EventToNosAnalytics

[2021-08-02 16:57] ferolpt commented on #1978
got it on the code also have to
export FIREBASE_FUNCTIONS_DEFAULT_REGION="europe-west1"

[2021-08-02 19:22] bkendall commented on #3609
If I have to guess, the logic isn't trimming the values after splitting on the comma.

@Jannie98 - if you run the command without the space in `--only`, does it work? `--only functions,hosting`

[2021-08-02 21:09] csntr commented on #1868
In my case I have been using different node versions with nvm and firebase tools was installed under another node version. I did an `nvm install 14` then did a `npm i -g firebase-tools` under version node 14 and i worked fine without npx (btw before npx did not solve it, it just made the command run but the tests were not running)

[2021-08-03 06:40] AgungLaksana opened #3627 "Unhandled error cleaning up build images after functions deployment"
I often get error (or warning?) after deploying firebase cloud functions. the functions is deployed successfully but I very often (around 85%) I get this error

is this error is caused by my code?

### [REQUIRED] Environment info

I use the latest version of firebase tools: 9.16.0
Node JS 14
and in MacOS
firebase-functions: "^3.14.1"

### [REQUIRED] Steps to reproduce

I deploy the functions using

[2021-08-03 09:20] Baneeishaque commented on #2536
not working...

[2021-08-03 09:30] Baneeishaque commented on #2536
Solved, https://github.com/firebase/firebase-tools/issues/386#issuecomment-511347129

[2021-08-04 00:57] Frank-D opened #3632 "Firebase Auth emulator fails when trying to login from Facebook access token"
### [REQUIRED] Environment info

**firebase-tools: 9.16.0**
**firebase sdk 8.3.0**
**Flutter (Channel stable, 2.2.3, on macOS 11.4**
**Dev Platform: macOS / VS Code**
**Target Platforms: iOS & Android**

### [REQUIRED] Steps to reproduce

1. From either iOS or Android local running flutter app (simulator/emulator), sign in against 'Facebook Login' Provider, and obtain in response the "facebook acc

[2021-08-04 05:42] leblancmeneses opened #3633 "npx firebase init "Detected a .git folder" behavior"
### [REQUIRED] Environment info

**firebase-tools:** 9.16.0
**Platform:** Ubuntu

### [REQUIRED] Test case
git clone from-bitbucket
npm install --save firebase-tools
npx firebase init

### [REQUIRED] Expected behavior

Have the ability to disable the "Hosting:github Setup" prompt and continue with firebase init process without having to delete my .git folder.

### [REQUIRED] Actual behavior

becau

[2021-08-04 10:56] FlashFard commented on #1469
I have an Issue too but this time it's Getting project...
Unexpected error:
undefined
Scratch engine ready.

I wanted to HTMLify this: https://scratch.mit.edu/projects/554343455/editor

[2021-08-05 01:00] #3598 closed

[2021-08-05 05:23] manwithsteelnerves opened #3639 "Frequent failures when deploying functions (Unhandled error cleaning up build images)"
###  Environment info
**firebase-tools:** 9.16.0

**Platform:**macOS

### [REQUIRED] Test case

Try deploying functions
[code]
functions fail with "Unhandled error cleaning up build images."
[code]

### [REQUIRED] Expected behavior

Should not fail deploying this frequently.

### [REQUIRED] Actual behavior

For deploying all my functions(around 50) per environment, I need to redeploy nearly 6 time

[2021-08-05 09:22] manwithsteelnerves commented on #3627
@AgungLaksana Do you still see this issue? I'm facing every-time I deploy. No code errors but just deployment alone.

[2021-08-05 14:17] rhodgkins opened #3640 "MaxListenersExceededWarning when using emulator"
I'm getting the following spat out a lot (in the hundreds of times but we do have a lot of test cases) from running the firebase emulators (`firebase-tools` version `9.16.0`):

`(node:57642) MaxListenersExceededWarning: Possible EventEmitter memory leak detected. 11 log listeners added to [EventEmitter]. Use emitter.setMaxListeners() to increase limit`

From looking at the stack trace of the warni

[2021-08-05 20:51] gvasilakiss commented on #2960
Same here.

[2021-08-05 21:54] inlined commented on #3639
Can you try deploying with `firebase deploy --only functions --debug` and including the error message?

FWIW, that error happens after your code has finished deploying. All your functions are deployed regardless of that error message.

[2021-08-06 03:22] manwithsteelnerves commented on #3639
Unfortunately, debug flag didn't help either. There is no relevant information.
So, I deleted manually gcf folders under container registry.

The above error log went off but still deploys kept failing.

Later... After 2 days of frustration...
I found that there are yellow ! marks in the cloud console for some of the functions. So, deleted all 50 functions and then it started deploying properly!

[2021-08-06 06:46] AgungLaksana commented on #3627
@manwithsteelnerves yes, every time I run `firebase deploy` then the error will appear, but whenever I deploy only one function, i.e `firebase deploy --only functions:func1` I seldom to see the error

[2021-08-06 09:48] manwithsteelnerves commented on #3627
I noticed that there are yellow ! marks in the cloud functions console and after deleting that it worked fine.

[2021-08-06 10:19] AgungLaksana commented on #3627
@manwithsteelnerves yellow ! marks? I can't find it in the console. could you please show me the location? :)

[2021-08-06 16:09] Poliziano commented on #2452
My team would also like this issue to be resolved.

[2021-08-06 16:57] inlined commented on #3639
We certainly don't want to end up in a situation where you need to delete and redeploy. Do you have any logs of any kind to suggest what sort of error state you ended up in?

[2021-08-06 18:06] dnishiyama commented on #2731
I ended up here because I hadn't followed the full procedure for setting up multi-site hosting. This url had all the info I needed: https://firebase.google.com/docs/hosting/multisites

I needed to run `firebase hosting:sites:create SITE_ID`
Then `firebase target:apply hosting TARGET_NAME SITE_ID`
Then I had to modify firebase.json for multi-site hosting as suggested in Step 4: ```
"hosting": [ {

[2021-08-06 21:19] bkendall commented on #2452
I've spoken with another engineer familiar with the problem. It's not an _easy_ fix to solve this an apparently will take a modest amount of engineering effort to fix completely. The correct team is aware of the bug and has a plan, but prioritization and resourcing hasn't enabled them to address it yet.

I can't comment on any expected timeline, but I'll follow up when there's news. Sorry I don't

[2021-08-07 06:31] wizlif opened #3649 "Timestamps not persisting Firestore"
### [REQUIRED] Environment info

**firebase-tools: 9.16.0**

**Platform: macOs**

### [REQUIRED] Steps to reproduce

- Add a timestamp value to any document then refresh the browser.

![screencast-localhost_4000-2021 08 07-09_13_04](https://user-images.githubusercontent.com/15793624/128644365-328e9924-f724-4fd9-a522-513b456e4c53.gif)

### [REQUIRED] Expected behaviour

- The value disappears like

[2021-08-07 08:58] code-by commented on #3404
Previously (some month ago) I have doing deploy of functions w/o any warnings use free Spark plan, now I got "Unhandled error cleaning up build images. This could result in a small monthly bill if not corrected. You can attempt to delete these images by redeploying or you can delete them manually at console.cloud.google.com/gcr/images/project-functions/us/gcf Function URL (app(us-central1)): us-ce

[2021-08-07 09:46] syonip commented on #2852
Indeed as @mothershipper said, databaseURL field has to be sent.
This means that the documentation here is erroneous, it states that only projectId has to be sent:
https://firebase.google.com/docs/emulator-suite/connect_rtdb#admin_sdks

[2021-08-07 15:25] mattgabor commented on #683
The issue with this approach is that the typescript imports from "main": "lib/functions/src/index.js" fail for me because they are trying to reference types using the original path (../types) instead of (../../types)

How were you able to resolve this?

[2021-08-08 05:37] samlof commented on #2764
Any news on this for other SDKs? I'm developing with Go and came across this.

Not hard to bypass when you find this but takes an hour to figure out why and implement it

[2021-08-08 16:06] manwithsteelnerves commented on #3639
Hi,
There is not much useful info even if i tried with debug flag. Thats the unfortunate thing.

I accidentally tried deleting the yellow exclamation marked functions and found out thats the issue.

[2021-08-08 16:07] manwithsteelnerves commented on #3627
Open console.cloud.google.com and search for functions once you select your project.

[2021-08-08 17:06] honeyneeck opened #3650 "9.16.0 Timestamp disappears and destroys data that was created after it"
### Environment info:

**firebase-tools:** 9.16.0

**Platform:** Windows10

### Test case for disappearing timestamps:

![2021-08-08 20-26-04_Trim](https://user-images.githubusercontent.com/22796372/128638981-6c4518b8-273a-4d5c-8a3d-afdc1bddb2c5.gif)

### Steps to reproduce disappearing timestamp:

1. Create a timestamp in any document
2. Refresh the page.

### Steps to reproduce disappearing valu

[2021-08-08 17:08] honeyneeck commented on #3650
@google-oss-bot  Could you instead save me free work and tell exactly what I am missing? Bot.

[2021-08-08 17:18] emilioschepis commented on #3244
Hi, I am experiencing sort of a similar problem.

I use TypeScript in my cloud functions, and I am targeting ES2020 in my `tsconfig.json`.
I set `"engine": "14"` in my `package.json` and I am able to deploy the functions without problems with the CLI from my local machine.

However, if I use the CLI (same version, 9.16.0) on a GitHub runner, it fails on the `?.` for "unexpected syntax".
[Here's a

[2021-08-08 19:18] AdiZone2021 opened #3651 "Adizone"
### [REQUIRED] Environment info

**firebase-tools:**

**Platform:**

### [REQUIRED] Test case

### [REQUIRED] Steps to reproduce

### [REQUIRED] Expected behavior

### [REQUIRED] Actual behavior

[2021-08-08 19:19] AdiZone2021 opened #3652 "Title"
Please submit feature requests through our [support page](https://firebase.google.com/support/troubleshooter/report/features/).

[2021-08-08 19:20] AdiZone2021 commented on #3652
comment

[2021-08-08 19:20] AdiZone2021 commented on #3652
comment

[2021-08-08 19:20] AdiZone2021 commented on #3652
comment

[2021-08-09 00:18] elron commented on #113
This worked but I need to run it everything I open up the bash. Is there a way to make this change permanent?

[2021-08-09 02:18] elron commented on #2421
This problem still happens, I started with windows and ran the repository on my mac, and go this error message.
 Is there any news on this?

[2021-08-09 02:47] michaelyfan commented on #2421
Can anyone speak to if this workaround still works? I'm assuming that you perform these steps on a Mac and `./mydir` is data that was created on a Windows machine. Which means that step 1 fails because importing WIndows data on a Mac machine leads to the discussed error.

[2021-08-09 05:29] sceee commented on #2421
@michaelyfan the workaround we are still using is to export once on Mac/Linux and always keep the `all_namespaces_all_kinds.export_metadata` file from that original export despite any changes written to this file when exported on Windows.

So we always revert the `all_namespaces_all_kinds.export_metadata` after an `emulators:export` on Windows and just commit the remaining changed files.

This is

[2021-08-09 15:30] #3652 closed

[2021-08-09 16:58] taeold commented on #3404
@code-by Yes with deprecation of Node8 runtime (announced a year ago), Firebase Functions does not without a Blaze plan.

Most users will not need to modify their code to migrate to supported Node.js runtime, but do check out https://cloud.google.com/functions/docs/migrating/nodejs-runtimes for guidance.

[2021-08-09 18:38] s-tushar commented on #2496
looks like they still did not fix this issue

[2021-08-09 20:46] yuchenshi commented on #3650
Duplicate of https://github.com/firebase/firebase-tools-ui/issues/617

[2021-08-09 20:46] #3650 closed

[2021-08-09 23:04] ozgurg opened #3654 "[Firestore Emulator] Unable to add a "timestamp" field"
### [REQUIRED] Environment info

**firebase-tools:** v9.16.0

**Platform:** macOS v11.5.1

### [REQUIRED] Test case

When I want to add a "timestamp" field, it seem to be added but when I refresh the emulator page, the added field is gone. Only occurs when add a field to existing document, not while creating a document.

### [REQUIRED] Steps to reproduce

https://user-images.githubusercontent.com/

[2021-08-10 01:00] #371 closed

[2021-08-10 02:43] #3639 closed

[2021-08-10 08:55] riker09 commented on #3649
Duplicate of #3645

But I'm affected by this as well

[2021-08-10 10:43] fabiank0 opened #3656 "firebase deploy --only function:somefunction does not give an error if this function does not exist"
### [REQUIRED] Environment info

**firebase-tools:** 9.16

**Platform:** macOS

### [REQUIRED] Test case

The test case is to just try deploying a single function that is not in the project directory.
### [REQUIRED] Steps to reproduce

```firebase deploy --only functions:someFunctionThatDoesNotExist```

### [REQUIRED] Expected behavior

firebase tools should return an error or a message that deplo

[2021-08-10 13:09] sceee commented on #3654
I think this duplicates #3649

[2021-08-11 04:56] riker09 commented on #2421
I can confir that I'm still using the workaround on Elementary OS 6 and Pop!_OS 21.04 when my collegues commit that file from their Windows 10 machines.

[2021-08-11 05:25] rockerhieu commented on #3559
According to the manual all options should be optional. This is definitely a bug:

[code]

[2021-08-11 13:47] rhodgkins opened #3661 "[RTDB Emulator] Disabling strictTriggerValidation doesn't work like actual RTDB"
### [REQUIRED] Environment info

**firebase-tools:** v9.16.0
**Platform:** macOS
**`firebase setup:emulators:database`:** firebase-database-emulator-v4.7.2.jar

### [REQUIRED] Test case

Disable [`strictTriggerValidation`](https://firebase.google.com/docs/database/usage/limits#global).

Create a function listening at a RTDB path (e.g. `/users/{userId}`) and then using the Admin SDK write 1001 reco

[2021-08-11 14:02] rhodgkins commented on #3661
Just to add that this isn't the same as #3274 as I get back `{"status":"ok"}` when disabling/enabling.

[2021-08-11 20:15] mikehardy opened #3663 "Database emulator + App Check on Android (firebase-android-sdk + react-native-firebase) hangs"
### [REQUIRED] Environment info

**firebase-tools:** [9.23.1](https://github.com/invertase/react-native-firebase/blob/9908b5ca389a16d9f34ef5c2bb8f8cbfae45decd/tests/package.json#L39)

**Platform:** macOS 11.6.1

### [REQUIRED] Test case

With apologies, it is not that easy to provide a minimal complete example of App Check on Android causing the database emulator to hang. At least the minimal part

[2021-08-11 21:11] yuchenshi commented on #3650
Fix released in Firebase CLI v9.16.1.

[2021-08-11 21:59] ljle opened #3664 "Build 9.16.1 broke firebase deploy command"
### [REQUIRED] Environment info

**firebase-tools:** 9.16.1

**Platform:** Windows through WSL with Arch Linux

### [REQUIRED] Test case

There's no minimal test case as the bug is related to the deploy function.

### [REQUIRED] Steps to reproduce

- Deploy any cloud function.

### [REQUIRED] Expected behavior

- The function(s) are deployed and a successfull deployment message appears.

### [REQU

[2021-08-11 22:05] JarrydMartin commented on #3664
I am having the same issue.

When running firebase deploy with the debug flag I get the following error...

[code]

[2021-08-11 22:15] bkendall commented on #3664
Looks like it. Taking a look...

[2021-08-11 22:25] nternouski commented on #3664
Same here

[2021-08-11 22:50] taeold commented on #3664
We are making a hotfix to address this.

In the meantime, please revert your Firebase CLI to the previously working version:

[code]

[2021-08-12 01:13] bkendall commented on #3664
Should be fixed in `9.16.2` now!

[2021-08-12 01:14] #3664 closed

[2021-08-12 05:26] dinukasaminda opened #3667 "firebase deploy --only functions command not working"
firebase deploy --only functions command not working on firebase-tools@9.16.2 but its working on firebase-tools@9.16.0,

on firebase-tools@9.16.2 getting error :

Error: Missing expected firebase config value databaseURL, config is actually{"firebase":{"projectId":"xxx","databaseURL":"xxx","storageBucket":"xxx","locationId":"xxx"}}
 If you are unit testing, please set process.env.FIREBASE_CONFIG

[2021-08-12 07:03] b-smets commented on #3667
We are experiencing the same issue using the latest version of `firebase-tools`.

[2021-08-12 11:31] sagarsoni7 commented on #3667
+1
This broke our Github action

[2021-08-12 11:35] nilsreichardt commented on #3667
Going back to `9.16.0` is a working workaround for me:
[code]

[2021-08-12 12:04] iiAtlas commented on #3667
+1 ! Reverted to `9.16.0` and deployed without issue.

[2021-08-12 12:20] scotteau commented on #3092
Can confirm the problem occurs when running firebase emulator within webstorm run window, but works fine in terminal.

[2021-08-12 12:45] wceolin commented on #3092
I bought a new MacBook Air this week and the export failed error is happening every time on my new machine (I'm using the terminal, btw), which is weird because it's basically the same setup I have in another machine (a Mac Mini M1) where it doesn't happen.

Initially, I thought this could be because I was using Node 14 on my new machine and Node 12 in my old one (that's the only difference I coul

[2021-08-12 13:44] schlomo commented on #3667
Same problem also with regular deployments. `9.16.0` creates a `FIREBASE_CONFIG` with content like this:

[code]

which does not work because the firebase SDK expects a different format as explained in https://firebase.google.com/docs/functions/config-env#automatically_populated_environment_variables

version `9.16.0` creates a correct `FIREBASE_CONFIG`:

[code]

[2021-08-12 16:57] mbleigh commented on #3667
Hi folks, sorry to see the trouble the new releases of `firebase-functions` and `firebase-tools` are causing.

We are working to quickly bring out a new release that fixes the issues you're experiencing, but until then we recommend reverting to `firebase-functions@3.14.1` and `firebase-tools@9.16.0`. Stay tuned!

[2021-08-12 17:28] taeold commented on #3129
TL;DR - Please check your node version and upgrade to >15.3.0 ([relevant stackoverflow](https://stackoverflow.com/questions/65856300/wasm-code-commit-allocation-failed-process-out-of-memory)).

[2021-08-12 19:55] inlined commented on #3667
We've released a new version of `firebase-tools` which fixes this issue. There was also a version of the `firebase-functions` SDK that could cause troubles with the emulator, but 3.15.2 should fix this too.

[2021-08-12 19:55] #3667 closed

[2021-08-12 21:14] mikehardy opened #3671 "auth token fetch hang on latest auth emulator + latest @firebase/rules-unit-testing"
### [REQUIRED] Environment info

**firebase-tools:** 9.16.1 or 9.16.2 - 9.16.0 works - this is combined with `@firebase/rules-unit-testing` from firebase-js-sdk repo, version 1.3.14 has issues, 1.3.12 works

**Platform:** macOS

### [REQUIRED] Test case

I'm not sure how best to present the issue but I do have a reproducible test case, similar to #3663 - so if someone does the work to get setup th

[2021-08-13 02:24] lovelle-cardoso opened #3673 "Auth Emulator does not work in v9.16.1, v9.16.2 or v9.16.3 because auth_time is null when token is generated"
The auth emulator seems to always generate a token where auth_time is null. This causes the auth emulator to throw "auth/internal-error" when calling getIdTokenResult.

This is most likely the bug causing https://github.com/firebase/firebase-tools/issues/3671 and https://github.com/firebase/firebase-tools/issues/3663

### [REQUIRED] Environment info

firebase-tools: 9.16.1, 9.16.2, 9.16.3

Platfor

[2021-08-13 03:30] yuchenshi commented on #3673
Thanks for pinning down #3611 as the cause. The fix though was a bit more involved. See #3674.

[2021-08-13 04:21] lovelle-cardoso commented on #3673
@yuchenshi Apologies for making more work for you! Great job on the fast fix!

[2021-08-13 07:04] tamer-mohamed commented on #3129
Works with node 15. Thank you @taeold

[2021-08-13 07:40] ShaMan123 opened #3675 "[FUNCTIONS] global variables behaving as locals"
### Related issues

### [REQUIRED] Version info

**node:** v12.14.0

**firebase-functions:** 3.14.1 (had to downgrade https://github.com/firebase/firebase-functions/issues/942)

**firebase-tools:** 9.16.3

**firebase-admin:** 9.11.0

### [REQUIRED] Test case

https://github.com/ShaMan123/firebase-error

### [REQUIRED] Steps to reproduce

1. clone https://github.com/ShaMan123/firebase-error
2. cd t

[2021-08-13 09:53] emilioschepis opened #3676 "Cloud Functions deployment with Node.js 14 runtime fails during CI, works locally"
### [REQUIRED] Environment info

**firebase-tools:** 9.16.0

**Platform:** GitHub action runner (both ubuntu-latest and macos-latest)

### [REQUIRED] Test case

Deploying a set of Cloud Functions with the Node.js 14 runtime fails with a runtime error on optional chaining `?.`.
This only happens when running on a GitHub action runner, but it works fine on my local machine (macOS).

I have verified

[2021-08-13 11:44] vishna opened #3677 "Regression, Revoked Local Token"
### [REQUIRED] Environment info

**firebase-tools:** 9.16.3 (Works OK in 9.16.0)

**Platform:** Ubuntu

### [REQUIRED] Test case

1. Generate user with a token
2. Verify token in functions

### [REQUIRED] Steps to reproduce

1. Run local emulator
2. Create a user/token (e.g. integration test)
[code]
3. Use this token to make a call (e.g. integration test) to a local function that verifies the toke

[2021-08-13 11:47] vishna commented on #3677
A quick workaround for failing CI was:
[code]

[2021-08-13 14:26] larssn opened #3678 "logger.error doesn't show in the "Health" tab anymore"
### [REQUIRED] Environment info

Not sure if this is the right place to post this in the myriad of issue trackers. Sorry in advance.

**firebase-tools:**
9.16.3

**Platform:**
Node 14

### [REQUIRED] Test case

Doing a `logger.error('Something')` no longer shows up in the health tab in the firebase console under Functions->Health.

### [REQUIRED] Steps to reproduce

`logger.error('Something')`
Not

[2021-08-13 15:09] ezmegy commented on #2521
I'm not sure why but for me running the raw command

`java -Xmx4g -Duser.language=en -jar /Users/peterm/.cache/firebase/emulators/cloud-firestore-emulator-v1.13.1.jar --host localhost --port 5050 --seed_from_export /Users/peterm/pathToMyBackupData/myBackupData.overall_export_metadata --rules /Users/peterm/pathToMyFirestoreRules/firestore.rules --functions_emulator localhost:5001 node /Users/peterm

[2021-08-13 16:25] yuchenshi commented on #2521
@ezmegy tl;dr the jar contains only the Firestore Emulator while the Emulator UI is part of Firebase CLI. I'll see if we can get the env var documented soon.

[2021-08-13 17:27] inlined commented on #3675
Every function runs in isolation from other functions, so you will never be able to share state between `subscribe` and `subscribe2`. What's more, production will spin up more than one container to handle your requests, so different containers for `subscribe` will have different values for your globals. If you need to coordinate state between different functions, you should be using some kind of d

[2021-08-13 17:27] #3675 closed

[2021-08-13 17:29] #3671 closed

[2021-08-13 17:29] #3673 closed

[2021-08-13 17:32] yuchenshi commented on #3677
Fixed by #3674, release coming soon

[2021-08-13 17:32] #3677 closed

[2021-08-13 17:54] mikehardy commented on #3663
Integrated + tested 9.16.4, this one is unfortunately not fixed, the database emulator still hangs after integration with appcheck,

Looks like the same `--debug` log from the emulator, so I will presume my prepared branch for testing + repro still works to spotlight it

[code]

[2021-08-13 18:01] gustavopch opened #3686 "Improve `withFunctionTriggersDisabled` error message when Cloud Functions emulator is not running"
### Related issues

None.

### [REQUIRED] Version info

**node:** 12.22.3

**firebase-functions:** 3.14.1

**firebase-tools:** 9.16.0

**firebase-admin:** 9.10.0

### [REQUIRED] Test case

Not sure what to write here.

### [REQUIRED] Steps to reproduce

Use `withFunctionTriggersDisabled` to run something while the Cloud Functions emulator is not running (for example, because you mistakenly started

[2021-08-13 20:17] delucis opened #3681 "`firebase emulators:exec` failing in 9.16.1, 9.16.2, 9.16.3 and 9.16.4"
### Environment info

**firebase-tools:** 9.16.4

**Platform:** Ubuntu

### Test case

I have a test suite running in CI using `firebase-tools`. Here’s the command:
`firebase emulators:exec --only firestore 'npm run jest'`.

These tests ran and passed with firebase-tools 9.16.0 (and earlier) ([most recent successful run](https://github.com/delucis/bgio-firebase/actions/runs/1122835651)).

When upg

[2021-08-13 21:45] mikehardy commented on #3663
I just re-read my report and for the avoidance of doubt: there is no problem whatsoever running against our "live" database. It is specifically a testing database for the react-native wrapper of firebase. It's meant for this purpose. Test away...

[2021-08-13 21:55] #3129 closed

[2021-08-13 23:23] #3681 closed

[2021-08-14 07:06] Ritulsstuff commented on #1442
Wow, it's working!!! Thank u.

[2021-08-14 07:44] AgungLaksana commented on #3627
I think I no longer see this error after updating to latest firebase tools. just update it using `npm install -g firebase-tools `

[2021-08-14 07:44] #3627 closed

[2021-08-14 15:18] sebringj commented on #596
What worked for me when using the local emulator and experiencing "module not found" within functions...
  - backup your code
  - remove node_modules
  - reinstall emulator

This may be overkill... I would also try removing any cache. I tried removing cache and this did not work but I suspect I did not remove the local emulator cache as well.

[2021-08-14 22:12] SrBrahma commented on #2773
I don't understand this. I am the only dev of my app, do I have to care about it?

[2021-08-15 01:01] mesqueeb commented on #2773
@SrBrahma if you are using public wifi there is a potential that an http request is intercepted. So if you use real life passwords, they could be compromised.

[2021-08-15 13:04] #3609 closed

[2021-08-15 19:50] DibyodyutiMondal commented on #3400
I was thinking... When using the emulator, we don't really need an actually signed url, just a url that works with the given request. For example, emulator auth jwt tokens don't have the signature after the payload, but it works.

So, in the storage emulator, perhaps the 'signed url' could simply be the object's url, plus a uuid token (similar to `getDownloadUrl`), with the difference that, this u

[2021-08-16 16:35] yuchenshi commented on #3649
Fixed in v9.16.5

[2021-08-16 16:35] #3649 closed

[2021-08-16 16:35] yuchenshi commented on #3654
Fixed in v9.16.5

[2021-08-16 16:35] #3654 closed

[2021-08-16 17:31] #3651 closed

[2021-08-16 19:14] i14h commented on #3686
@abeisgoat can you take a look into this?

[2021-08-17 13:34] aameen951 opened #3688 "Realtime DB Web Client is using the hostname specified by the emulator and ignoring the one specified by `useEmulator`"
### [REQUIRED] Environment info

**firebase-tools:** 9.16.5

**Platform:** Windows 10

### [REQUIRED] Test case

I'm trying to run a web application built on top of firebase from my mobile phone on a local network.
I'm specifying the host `0.0.0.0` in `firebase.json` for the realtime database emulator to allow connections from other devices.
The problem is that the emulator is sending the hostname

[2021-08-17 14:11] aameen951 commented on #3688
I think I should've posted this issue to [firebase/firebase-js-sdk](https://github.com/firebase/firebase-js-sdk). Sorry about that!

[2021-08-17 14:11] #3688 closed

[2021-08-17 14:58] vishna commented on #3677
Fixed indeed 🎉

[2021-08-17 15:28] BunFluffpaws commented on #3390
@samtstern @abeisgoat Is there a ETA on this yet? Currently a blocker for fully using the emulator for us too. Thanks

[2021-08-18 02:42] BCusack commented on #3235
AngularFire issue pre-release stuff https://github.com/angular/angularfire/issues/2785

[2021-08-18 04:57] riordanpawley commented on #3390
@BunFluffpaws
Can't remember where i found this fix but you can alter the storage config in firebase.json after the emulator is running to get around this issue.

E.g. https://gist.github.com/riordanpawley/cd9595cce7a3ee59e35a3b0a5ca62f0b

[2021-08-18 10:38] fouchekeagan opened #3689 "firebase deploy --only functions = [ERR_UNSUPPORTED_ESM_URL_SCHEME]"
### [REQUIRED] Environment info

**firebase-tools:** 9.16.5

**Platform:** Windows 10

**Node:** 14.17.3

**NPM:** 6.14.13

Package.json Dep:

**Firebase:** 8.9.1
**@google-cloud/functions-framework:** 1.9.0
**firebase-functions:** 3.15.4
**Typescript:** 4.3.5

### [REQUIRED] Steps to reproduce

1. Upgrade from node 10 to node 14 (update from commonJS to ESM).
2. Attempt to deploy.

### [REQUIRED]

[2021-08-18 14:06] voxelbusters commented on #1483
**Wait for some time and try re-deploying!**

[2021-08-19 00:40] radvansky-tomas commented on #3550
Just updated all libs and firebase tools, issue is still persistent

However I narrowed it down to firebase rules:

If they are opened it works fine:
[code]

But when I add req auth check, it fails:
[code]

[2021-08-19 08:51] BunFluffpaws commented on #3390
@riordanpawley Thanks, I ended up working around this by having both buckets security rules in a single file over using the wildcards, only problem though is this gets deployed to 3 env's so 6 rules for 2 buckets :D but hey.

Ive only had a quick read over the code you supplied, does it trick the emulator into only running 1 bucket or do they all still get their security rules applied?

[2021-08-19 16:00] AngelMunoz opened #3691 "Github Actions Deploy Succeds but process fails"
### [REQUIRED] Environment info

**firebase-tools:**

**Platform:**

Github Actions: windows-latest

### [REQUIRED] Test case

using github actions with a file like this:

https://github.com/AngelMunoz/SiteFi/blob/tunaxors-blog/.github/workflows/firebase-hosting-merge.yml

### [REQUIRED] Steps to reproduce
any commit/pull request will trigger the github action

### [REQUIRED] Expected behavior

Th

[2021-08-19 17:29] taeold commented on #3689
@fouchekeagan Thanks for reporting the issue!

It looks like I forgot to apply the fix to module path issue on Windows (https://github.com/firebase/firebase-tools/pull/3574) to the code path relevant to function deploys (https://github.com/firebase/firebase-tools/blob/7f99ac5868cf2c2265ff0923c8889d90c16c51c5/src/deploy/functions/runtimes/node/triggerParser.js#L24) 🤦‍♂️

[2021-08-19 17:33] taeold commented on #3689
I will try to get the fix merged soon so that the bug is fixed by next CLI release.

In the meantime, if anyone is willing to test out the fix (I don't have a Windows machine), I'd appreciate it:

[code]

[2021-08-20 03:56] arvindpdmn commented on #2856
Why is this issue closed? It's a bug in Firebase database emulator. When closing, the emulator doesn't release the port. See log (it may not help):

[code]

[2021-08-20 03:58] arvindpdmn commented on #2856
What's the correct way to stop the emulator? I've been doing Ctrl-C.

[2021-08-21 14:01] krishnadev7 commented on #1764
I got the same issue. after installing old version of firebase-tool .it worked

[2021-08-22 15:02] logukaruna commented on #1442
Bro have you solved this i have same issues can you help me

[2021-08-23 06:43] weixifan commented on #3400
I filed an internal issue b/197475725 to track this feature request. Please remember to add an emoji reaction to the post by @abeisgoat above if you are interested in this feature and we will prioritize accordingly.

[2021-08-23 06:48] weixifan commented on #3550
I've filed an internal issue b/197475727 to track this. Thank you for reporting this.

[2021-08-23 11:40] Wian-TMC opened #3694 "Firebase deploy stuck at "cleaning up build files...""
### [REQUIRED] Environment info

**firebase-tools:** 9.16.0

**Platform:**macOS

### [REQUIRED] Test case

Deploy functions using firebase deploy --only functions

### [REQUIRED] Steps to reproduce

Deploy functions using firebase deploy --only functions

### [REQUIRED] Expected behavior

The deploy should complete after the logs ``` functions: cleaning up build files...```

### [REQUIRED] Actual

[2021-08-23 12:07] Llacuska opened #3695 "Firebase storage emulator : All data are not downloaded"
### [REQUIRED] Environment info

9.16.0

Ubuntu

### [REQUIRED] Test case

https://github.com/workandplay/firebase-storage-emulator-repro

To run the project, go to the project root folder and run the firebase command :
firebase emulators:start --project demo-repro
Open your favorite browser and go to http://localhost:5000/index.html

When downloading data from Firebase emulator storage, some requ

[2021-08-23 13:45] louis030195 commented on #3258
Same here

firebase-tools: 9.16.5

Platform: MacOS Big Sur 11.5.2

https://stackoverflow.com/questions/68892861/firebaseerror-permission-denied-when-all-permissions-allowed-emulator?noredirect=1#comment121754479_68892861

[2021-08-23 17:21] ZiyadF296 opened #3697 "Close the Java programs opened when I end the emulator session."
Hello,

I have been using the emulator for quite a while now. However, every time I run the emulator, there are Java programs that open depending on which Firebase services I am using (e.g. Firebase, Storage).

It would be nice to close those Java programs as I end the session instead of me having to close them one by one or perhaps just open them somehow in the background rather than me having th

[2021-08-23 17:22] jtgasper3 opened #3698 "Authentication: SAML Custom Attributes are not supported"
It would be nice if the auth emulator supported a toggle of where its custom claims are applied. In the case of the Identity Platform's SAML provider, it needs to populate in `firebase.sign_in_attributes`, such as:

[code]

I suspect this might be helpful in working with the other Identity Platform auth providers too.

[2021-08-23 18:18] akauppi opened #3699 "Unnecessary "Your requested "node" version ... doesn't match" warning if multiple sets of versions"
### Environment info

**firebase-tools:** 9.16.5

**Platform:** macOS; (happens on any platform)

### Test case

Any Firebase Emulator project that uses Cloud Functions (has `functions/package.json`).

### Steps to reproduce

Edit `functions/package.json` so that it has `||` in it. For example:

[code]

Launch the emulators (`firebase emulators:start`), and this is seen:

[code]

Is there a purpos

[2021-08-23 18:24] fouchekeagan commented on #3689
Thanks for the speedy response.
I tested the fix and was able to successfully deploy my functions!
Much appreciation for your help resovling this issue!

I'll leave this issue for you to close when it's merged?

[2021-08-23 18:25] mbleigh commented on #3699
You can solve this by adding `runtime` to your `firebase.json`:

[code]

[2021-08-23 18:43] mbleigh commented on #3699
I'm not sure that this is really working other than as intended - Cloud Functions for Firebase only support specific Node.js versions and running the emulators with a different version than your deployed function may lead to behavioral inconsistencies that you don't catch until deploy time.

The warning here feels appropriate - we aren't preventing you from running the emulator but if you develop

[2021-08-23 18:43] #3699 closed

[2021-08-23 19:10] akauppi commented on #3594
Such nice quietness.

I plan to study this in more detail, one day, making a breakout of where the time with the initial tests goes.

In my projects, most initial runs are < 2000ms which I deem tolerable, but in some setups (Docker Desktop for Mac, in particular), times are way worse.

This is ... *interesting*. If someone wants to help in tracking the startup times down, happy to join efforts!

[2021-08-23 19:22] akauppi commented on #3697
@ZiyadF296 This is not the normal developer experience.

The first thing would be to see what your system is. Which OS? Which Java version?

The Issue template has asked you to provide these.

[2021-08-23 20:02] akauppi commented on #3699
@mbleigh I appreciate your fast feedback and will try the workaround (now deleted).

As to the warnings, yes, things may break.

I would leave that to the developers. You cannot warn everyone about everything. To me, the warning looks like noise, but maybe the large companies have programmers who need this kind of reminders. I do it by running CI (which is node 14).

[2021-08-23 20:08] inlined commented on #3694
It shouldn't be getting stuck, though it's not fatal if you ctrl + c to kill that part of the process; it happens after your functions are already done deploying. Out of curiosity, let's try absolutely cleaning your artifacts and seeing if you continue to get stuck afterwards. Try running the following commands:

[code]

This process will check your per-metro Google Container Repository buckets fo

[2021-08-24 00:43] weixifan commented on #3698
Thank you for your report! I've filed an internal issue b/197569248 to track this. We are unable to promise any timeline for this, but if others also have this request, adding a +1 on this issue can help us prioritize adding this to the roadmap.

[2021-08-24 00:46] weixifan commented on #3697
Thank you for your report! I've filed an internal issue b/197574424 to track this.

[2021-08-24 06:37] Wian-TMC commented on #3694
@inlined Will do! Thank you

[2021-08-24 08:30] ZiyadF296 commented on #3697
@akauppi Hey
The OS I am currently running is Windows 11 (OS Build 22000.160), but the problem was still there when I was on Windows 10.
My current Java version is 16.

[2021-08-24 11:36] Wian-TMC commented on #3694
Still gets stuck. But only when we deploy all our functions at once. Deploying them individually (typically when only one function has changed), it works fine.

Releasing them all at once generates a warning of ```functions: got "Quota Exceeded" error while trying to update [FUNCTION_NAME]. Waiting to retry...``` It retries and successfully deploys these functions as well though, but then it get s

[2021-08-24 14:11] ibobo opened #3716 "Setting memory to more than 1 GiB still only allow 1 GiB to be used"
### Related issues

None.

### [REQUIRED] Version info

**node:** v12.22.1

**firebase-functions:** 3.15.4

**firebase-tools:** 9.16.5

**firebase-admin:** 9.11.1

### [REQUIRED] Test case

[code]

### [REQUIRED] Steps to reproduce

Just try to deploy the above mentioned function

### [REQUIRED] Expected behavior

The function gets deployed with the indicated memory and it can fully use the 8 GiB

[2021-08-24 16:37] samtstern commented on #3697
This seems related:
https://github.com/firebase/firebase-tools/issues/3506

[2021-08-24 18:35] krishnashrivastav commented on #486
it worked really... thank you

[2021-08-24 19:08] inlined commented on #3694
Can you run your deploy with the --debug flag and send the last few dozen log lines? Ideally that'll show us what sort of requests the SDK is locking up on.

[2021-08-24 22:09] taeold commented on #3689
@fouchekeagan Thanks a bunch for giving it a go. Yep that's the plan - I will close the ticket after our next CLI release.

[2021-08-25 02:16] simeon9696 commented on #3695
I have a similar issue but with uploading. In the emulator terminal, I just get this error:

[code]

And the request just hangs

[2021-08-25 15:03] Wian-TMC commented on #3694
Sure. Here are the last few lines...

[code]
Got stuck after the last line above...

[2021-08-26 12:44] LukasCornille opened #3709 "Can't deploy to european region with organisation policy"
### [REQUIRED] Environment info

**firebase-tools:** 9.16.6

**Platform:** macOS

### [REQUIRED] Test case

Any test project works for this case I believe, as long as the organisation policies are set to only deploy to any EU location.

I have this function:
[code]

which then gets import in the index.ts file as so:

[code]

### [REQUIRED] Steps to reproduce

I've ran this with:

[code]

### [REQU

[2021-08-27 06:13] RaheutRahwana opened #3711 "Web V9"
### [REQUIRED] Environment info

**firebase-tools:**
v9.16.6

**Platform:**
Fedora 34
### [REQUIRED] Test case

Open http://localhost:5000/ on browser.

### [REQUIRED] Steps to reproduce

[code]
and open http://localhost:5000/ on browser.

### [REQUIRED] Expected behavior

Everything works as it did on version 8

### [REQUIRED] Actual behavior

There are some errors like:
[code]

[2021-08-28 14:37] t4tapas commented on #2067
Is there any update on this issue? Using the workaround in frequent actions will cose double the amount of reads.

[2021-08-28 21:04] Fauzdar1 opened #3714 "Failed to deploy functions - Error: 403, Failed to read tags for host 'us.gcr.io'"
### [REQUIRED] Environment info

**firebase-tools:** first occurred on 9.16.5, updated to 9.16.6, still the error

**Platform:** Windows 10 x64 Pro

### [REQUIRED] Test case

My project consists of two NodeJS based firebase functions which have been there for months now, I wanted to change some smtp info in one, so modified it but can't deploy anymore.

Things I want to clear before heading furthe

[2021-08-30 11:35] binajmen opened #3715 "refFromURL() is not working in local?"
### Environment info

**firebase-tools:** 9.16.5

**Platform:** macOS

### Test case

[code]

[code]

### Steps to reproduce

See test case above.

### Expected behavior

Deleting the image based on the URL provided without error (same code snippet work in non-dev environment).

### Actual behavior

I get the following error:

`Uncaught FirebaseError: Firebase Storage: refFromUrl() expected a vali

[2021-08-30 19:31] joehan commented on #3709
Hi @LukasCornille - you can control which region your function code is uploaded to by setting the `FIREBASE_FUNCTIONS_UPLOAD_REGION` environment variable. From your terminal/.bash_profile, run:
[code]

@inlined has also been talking about changing this to always use one of the regions you're deploying your functions to, so adding him for visibility.

[2021-08-30 19:31] #3709 closed

[2021-08-30 20:09] MorenoMdz commented on #406
Offtopic but related question, can we list/print our ENV variables from the GCP cloud shell?

[2021-08-30 22:05] colerogers commented on #3714
From the debug log output, it looks like your 2 functions failed deployment (on line 4) before that API call threw a 403. Can you re-run the command and paste the error from the deployment step?

[2021-08-31 01:09] inlined commented on #3709
This might be a good action item for CLI version 10. Will add it to our internal tracker for breaking changes.

[2021-08-31 16:16] kaibolay opened #3717 "Project numbers don't work for --project/-P"
### Environment info

**firebase-tools:** 9.16.6

**Platform:** Debian GNU/Linux

### Test case

[code]

But

[code]

The debug log shows:
[code]

Apparently no auth token is sent for the request to https://firebase.googleapis.com/v1beta1/projects/590202072317

[2021-09-01 05:43] #3717 closed

[2021-09-01 11:47] SimpleIndian opened #3722 "Functions Emulator Windows Socket EACCESS"
This is the same issue i am facing

https://github.com/firebase/firebase-tools/issues/1280#issuecomment-888048865

### [REQUIRED] Environment info

**firebase-tools:** 9.16.6

**Platform:** Windows

### [REQUIRED] Test case
Start the emulator

### [REQUIRED] Steps to reproduce

NULL

### [REQUIRED] Expected behavior

The emulator should start

### [REQUIRED] Actual behavior
[code]

[2021-09-01 13:14] davideast commented on #3711
If you want to continue using Firebase off the window you'll need to either continue to use version 8 (not recommended) or upgrade to [version 9 compat](https://firebase.google.com/docs/web/modular-upgrade#window-compat).

## Using compat
[code]

## Our recommendation
We are recommending using the module based v9 API with a module bundler like webpack or rollup going forward. The v9 SDK is optimiz

[2021-09-01 17:23] blachawk opened #3723 "Why do we need to install firebase tools a global npm install process???"
Why does all firebase documentation require that firebase tools and CLI installs at a global level???
[code]

what is wrong with taking a non-global approach, such as...
[code]

[2021-09-01 19:55] #3711 closed

[2021-09-02 00:32] ZiyadF296 opened #3728 "Display proper URLs when initializing."
Hello,

Whenever I run my cloud functions code on my machine, all functions that I have created get logged in the terminal. However, HTTPS request functions will show the URL to that function. That URL that gets shown is not correct. I would need to always switch the "0.0.0.0" with "localhost" for the URL to work.

It would be great for convenience that the URL directly shows localhost so that I c

[2021-09-02 00:37] yuchenshi commented on #3728
This sounds like a great feature request and we welcome PRs for this. FYI you may find the logic in Emulator UI useful here: https://github.com/firebase/firebase-tools-ui/blob/af0857b81b48ec6d545ee8c40270db34e4b52a97/server.js#L115-L134

[2021-09-02 07:23] KKimj commented on #3143
Thanks, I could resolve the same error.

[2021-09-02 08:12] Jaimeloeuf opened #3729 "Multisite default deploy target"
### Environment info
Version: `9.17.0`
firebase-tools: Firebase CLI
Platform: Windows 10

### Expected behavior
For firebase hosting, expected `TARGET_NAME` to default to `SITE_ID` if none is specified/configured as deploy target.

Meaning, let say there are 2 sites in a multisite config, with SITE_ID `myapp-app` and `myapp-blog`.
Deployment to firebase hosting should allow `firebase deploy --only

[2021-09-02 14:59] LanderBeeuwsaert commented on #3697
I actually have the same (windows 10) since we first started using the emulator.
We use kill-port to kill the processes.

[2021-09-02 17:57] phenry20 commented on #3034
Any updates on this issue?

[2021-09-02 18:47] phenry20 commented on #3034
Seems as though it's being looked into here:

https://github.com/firebase/firebase-tools/issues/3578

[2021-09-03 04:36] KenCorbettJr commented on #3405
This would be really useful for the Distributed Counter extension.  We are using that more and more and it would be so nice to have the distributed counter working locally in the emulator.

[2021-09-03 08:23] mhaitana commented on #3143
Thanks - was wondering why Firebase CLI wouldn't accept my organisations repo. For anyone else needing to do this the direct link to the Firebase CLI OAuth setting is https://github.com/settings/connections/applications/89cf50f02ac6aaed3484

[2021-09-03 18:51] yeldarby opened #3734 "Dynamic robots.txt file 404's on Firebase Hosting"
### [REQUIRED] Environment info

**firebase-tools:** 9.17.0

**Platform:** macOS 11.5 (20G71)

### [REQUIRED] Test case

It's not possible to use a Firebase Function to dynamically generate your `robots.txt` file; it always 404's. We're trying to dynamically insert the proper `Sitemap:` directive into our `robots.txt` file based on some environment variables but the function will not run for this

[2021-09-04 02:13] buu700 commented on #3260
Is https://arstechnica.com/information-technology/2021/09/npm-package-with-3-million-weekly-downloads-had-a-severe-vulnerability related to this / is that currently a non-issue, or will `proxy-agent` now need to be updated?

[2021-09-04 14:05] akauppi commented on #3594
Heads up:

I got my timings under control, by adding a special "warm up" step in Docker Compose.

`emul` step just starts the emulators. `warm-up` depends on it, waits until the Firestore port is opened, then runs the Cloud Functions tests (were timeouts have been a problem, due to cold started functions), once the tests pass, it opens a signalling port to downstream.

My actual tests wait for the

[2021-09-04 14:14] akauppi commented on #3594
@jpreynat What would work in your case (Firestore), is placing this in a `beforeAll` block:

[code]

In my exploration, Firestore warm-up needs to be in both server and client side. As you report, the initial fetch is slow (though 8s is stretching even that!). By having it in the `beforeAll`, you can at least have the hand-shakes done before the tests start.

[2021-09-05 17:36] oveddan commented on #3599
This issue happens for me - It only started happening recently since upgrading firebase tools to the latest verison.  It even starts up if I set the emulator to disabled in my firebase.json:

[code]

[2021-09-05 19:34] akauppi commented on #3723
Likely the authors' idea has been to reduce duplication of bytes, but if you only work on 1 or 2 projects, nothing prevents you from installing `firebase-tools` locally, as you suggest.

If you do, `npx firebase` or `npx firebase-tools` are good ways to use the commands, from the terminal.

I have some understanding to documentation writers. You have to balance between clarity and options; listing

[2021-09-06 07:39] laurentpayot commented on #1289
@yuchenshi you gave a [generated coverage html file given as an example of Rules Unit Tests V2](https://github.com/firebase/quickstart-testing/pull/209/files#diff-6f539bff6bb3d5eeb2d2074b7d97c417466274d42384b3b8c504f94633ea3393R42).
I had to add a few lines to your example to concatenate @alixaxel’s `<style>` section to the generated coverage file to make it useful.
As you were once assigned to th

[2021-09-06 10:49] ahsanxhussain commented on #1627
well it works for me, cheers

[2021-09-06 15:02] huyhn310 commented on #3390
@BunFluffpaws Can you tell more about your workaround?

[2021-09-07 01:23] ryuseikurata commented on #3676
these days, firebase-tools updated and it can use node.js16.

how about trying to version up node.js?

[2021-09-07 03:26] Hye-Dev opened #3737 "Cannot Login: Authorization Error 403: access_denied"
**firebase-tools:** 9.17.0

**Platform:** macOS

### [REQUIRED] Test case
Run the firebase login command trying to login
I tried running it on a Linux instance, I also tried --no-localhost, and --debug produced no additional log information.

### [REQUIRED] Steps to reproduce

Execute the firebase login command
Login with your account in the popup (also already tried the localhost flag)
### [REQUI

[2021-09-07 10:42] radvansky-tomas opened #3738 "Pub/Sub Emulator Retry Policy"
I tried to implement failurePolicy / retries using firebase emulator, but it does not seem to work.
Which is probably, because its not being implemented, yet.

So I would like to ask for such feature.

Also I think we should have page in documentation here:
https://firebase.google.com/docs/emulator-suite/connect_and_prototype

Which should clearly list what features are / not supported (which coul

[2021-09-07 15:26] abeisgoat commented on #3723
Yeah basically what @akauppi said, personally I recommend installing locally into a project dir if you need to pin CLI versions, but other than that globally is generally fine.

[2021-09-07 15:26] #3723 closed

[2021-09-07 15:37] abeisgoat commented on #3715
I believe this is an SDK bug related to the [`makeFromUrl`](https://github.com/firebase/firebase-js-sdk/blob/890f4f8205130b2e2c9615214bd0bcc826987b3e/packages/storage/src/implementation/location.ts#L72) function which seems to explicitly match regex against `https` which would fail against our `http` endpoints. I've alerted the SDK team and will report back.

[2021-09-07 15:41] abeisgoat commented on #3738
This is unlikely to be implemented in the near future, but the request for better documentation around supported / unsupported features is heard and we're working on it.

[2021-09-07 15:53] RoryKelly commented on #1154
I had this issue because I have $FIREBASE_TOKEN set on my environment. It always overrode the login calls.

[2021-09-07 22:30] edcmex commented on #3694
got the same issue.

[2021-09-07 23:04] edcmex commented on #3694
firebase logout and then login fixed it for me.

[2021-09-07 23:11] johncarter-phntm opened #3740 "hosting:channel:deploy seems to ignore "--no-authorized-domains""
My firebase project has Firebase hosting enabled, but isn't using Firebase auth.

When I do a hosting:channel:deploy I get a warning about Firebase auth channel domain sync, even if I use the `--no-authorized-domains` option that's listed in --help: "do not sync channel domains with Firebase Auth".

I would have expected that option to suppress this warning?

[code]

### [REQUIRED] Environment inf

[2021-09-08 02:48] gregfenton commented on #3738
Lack of this support in the emulator is really problematic for developing & testing highly concurrent workflows.  Being forced to do it in a cloud instance rather than locally in the emulator is a burden to developer productivity.

+1 for adding Retry support.

[2021-09-08 17:41] #3740 closed

[2021-09-08 17:41] bkendall commented on #3740
Thanks for escalating. I fixed this and it'll be out in the next release!

[2021-09-08 20:36] johncarter-phntm commented on #3740
Awesome, thanks for the quick turnaround!

[2021-09-08 23:45] #3715 closed

[2021-09-09 02:43] mothman11 commented on #3127
With the latest release, it looks like extensions can now be installed non interactively using the flags --force --non-interactive

[2021-09-09 06:55] os1ma opened #3742 "`firebase init` exit in 404 Error when both Hosting and GitHub Actions are selected"
### [REQUIRED] Environment info

**firebase-tools:**

9.18.0

**Platform:**

Ubuntu 20.04.3 LTS

### [REQUIRED] Test case

See the reproduction procedure below.

### [REQUIRED] Steps to reproduce

1. Run `firebase init`.
2. Select following two features.
    - "Hosting: Configure files for Firebase Hosting and (optionally) set up GitHub Action deploys"
    - "Hosting: Set up GitHub Action deploys"

[2021-09-09 07:25] ryuseikurata opened #3743 "firebase deployment error with npm script 'prepare'"
### [REQUIRED] Environment info

**firebase-tools: 9.16.5

**Platform: macOS

### [REQUIRED] Test case

https://github.com/ryuseikurata/firebase-functions-deploy-err

### [REQUIRED] Steps to reproduce

1. firebase deploy --only functions --project=anywhare

### [REQUIRED] Expected behavior

- deployment success

### [REQUIRED] Actual behavior

- deployment failure
- functions.config() output => `{

[2021-09-09 08:11] Fauzdar1 commented on #3714
### The causes (probably):
[code]

I've checked the billing account, it seems working and isn't pointing to any issues. There's no pending bill as well, the plan is Blaze.

I'll repeat what happened, I modified one function, I deployed it, it worked, I changed a string variable, deployed it again and it failed.

### Log after 200 responses:
[code]

[2021-09-09 09:14] os1ma commented on #3742
I have investigated the cause of this issue.

### Debug log

I ran the same procedure with the `firebase init --debug` command and got the following output.

[code]

As you can see `https://api.github.com/repos/undefined`, this is due to a request for an undefined repository name.

### The relevant part of the source code

This occurs in the following places in the source code.

https://github.com

[2021-09-10 13:29] mortenbekditlevsen commented on #2993
I hope it's ok to open this issue again.
I have a project with two instances in us-central1 and for those I can create rtdb triggers just fine.

I added a third instance in eu-west1 and tried to add a trigger to it - both using:

[code]
and without setting the region:
[code]

Where 'ka-ching-base-dev-3' is the database instance residing in 'eu-west1'.

In both cases, when deploying I get something

[2021-09-10 14:34] zhigang1992 commented on #3405
Deploying to cloud function is extremely slow, and the Firebase Extensions are the only part that's holding us back on trying to all in with Emulators.

Right now it's too much work to manually integration these just for the emulators.

[2021-09-11 01:46] fabyeah opened #3750 "Is it not possible to import production auth users with email+pw credentials into the emulator?"
### [REQUIRED] Environment info

**firebase-tools: 9.10.2**
**Platform: macOS**

### [REQUIRED] Test case

See the reproduction procedure below.

### [REQUIRED] Steps to reproduce

1. export data from emulator
2. export production users: `firebase auth:export accounts.json`
3. replace emulator export `accounts.json` with production exported `accounts.json`
4. start emulator and import data
5. try

[2021-09-11 17:34] arnav-kr commented on #3742
Facing the same issue 😐

[2021-09-12 09:32] MarcusCemes opened #3751 "Storage emulator: file#copy failed with an error - Not Implemented"
### [REQUIRED] Environment info

**firebase-tools:** 9.18.0

**Platform:** Windows

### [REQUIRED] Test case

[code]

### [REQUIRED] Steps to reproduce

1. Create a cloud storage trigger that copies or moves the object to another location
2. Setup the cloud storage and functions emulator environment
3. Upload a file to the storage emulator and review the logs

### [REQUIRED] Expected behavior

The

[2021-09-13 13:49] co-admin commented on #3695
We also have the same problem during downloading in case if we observing progress.

[2021-09-13 20:00] joehan commented on #3743
Hey @ryuseikurata, sorry to hear that you are having trouble. Some background here:

Under the hood, when you deploy a Cloud Function, we run a Cloud Build job to create the image that your function will use. This job runs through the [npm lifecycle](https://docs.npmjs.com/cli/v7/using-npm/scripts#life-cycle-operation-order), which will run `prepare`. You set a `prepare` script that depends on `fi

[2021-09-13 20:00] #3743 closed

[2021-09-13 22:12] mohammad-zakaria commented on #77
It works, thanks :)

[2021-09-14 06:51] falk-stefan commented on #2773
I also hid the emulatore warning via CSS. Not that you can also make it click through using `pointer-events`:

[code]

[2021-09-14 07:27] dnmeyer06 commented on #2574
Hello, any update on this issue? I'm experiencing the same problem.

[2021-09-14 08:03] louis030195 commented on #877
Still no way to confirm in any case in non-interactive mode?

A `-y`just like in `apt install -y foo`would be nice

`firebase deploy -y`

[2021-09-14 08:10] mukarram-rt commented on #3694
It is occurring in my build pipeline on Google Cloud Build. It stucks at `functions: cleaning up build files...` and finally timeout error is thrown.

[2021-09-14 09:10] george43g opened #3755 "Auth emulator cannot handle (backup or emulate) large numbers of users > ~500"
### [REQUIRED] Environment info

**firebase-tools:** 9.12.0

**Platform:** macOS

### [REQUIRED] Test case

Write a simple loop that uses `faker` to generate 2k fake email accounts in Auth emulator using the admin SDK lib.

### [REQUIRED] Steps to reproduce

1. Start all emulators with backup export enabled
2. create 2k unique users by creating them manually with a local node script
3. shut down a

[2021-09-14 13:04] rendomnet commented on #986
why this is closed?

[2021-09-14 15:30] aruntj commented on #2764
Oh my! You're a life saver! Following the docs does lead go users right into this issue. Thanks for this. And thanks firebase team!

[2021-09-14 19:58] mteece commented on #2859
+1

[2021-09-14 20:36] rorito commented on #2859
+1

[2021-09-15 06:33] ytetsuro commented on #3738
duplicated  https://github.com/firebase/firebase-tools/issues/3468

I, too, find this to be a fatal problem.

[2021-09-15 17:25] taeold commented on #3676
Based on the error message received, it looks like the version of `node` binary that is used as part of `firebase deploy` isn't using version of `node` that understands optional chaining.

Can you double check the version of `node` binary? e.g. does something like this work?

[code]

[2021-09-15 21:58] emilioschepis commented on #3676
Hi @taeold , thanks for your answer.

I initially thought that could be a problem, but running `node -v` gave me a version of v14.17.4.
From what I can see, Node.js supports optional chaining by default since v14.0.0 ([source](https://nodejs.org/en/blog/release/v14.0.0/#update-to-v8-8-1))

However, just to make sure I tried your experiment, and it worked correctly.
You can see the test run where o

[2021-09-16 11:44] BunFluffpaws commented on #3390
@huyhn310 in your storage.rules have multiple buckets matching in the single rules file, the emulator will use it for all of them in a single file, then you can read/write to those extra buckets you create on the fly though using them in the emulator.
it doesnt work for deploying them via firebase cli, but we dont manage the buckets via that just though the web console directly.

Its not nice but

[2021-09-16 17:10] hernantz commented on #2859
We are facing this problem when running integration tests with the emulator, the output is kinda verbose, something like `--quiet` or `-vvvv` for output tuning would be helpful, right now the alternative is to filter using a grep pipe (`| grep`).

[2021-09-17 10:50] ibobo opened #3759 "`login:use` not working after 9.17.0 update"
### [REQUIRED] Environment info

**firebase-tools:** 9.18.0 (or 9.17.0)

**Platform:** macOS

### [REQUIRED] Test case

Not applicable.

### [REQUIRED] Steps to reproduce

1. `cd` to a firebase project folder
2. login to an account with `firebase login` (if you have no account logged in)
3. add another login with `firebase login:add`
4. select the newly added account with `firebase login:use <emai

[2021-09-17 11:39] bosycom opened #3760 "resource is null in storage rules for "delete" rule"
**firebase-tools:** version 9.18.0

**Platform:** Windows

### Test case
Trying to delete a file in local storage emulator by reading metadata off of ```resource``` value in ```allow delete``` rule, but get null value error instead

### Steps to reproduce

#### Step 1: Add rule to storage.rules
[code]

#### Step 2: Upload file (e.g. '1.webp') to storage under path 'users/1.webp' via Emulator UI

#

[2021-09-17 14:57] mukarram-rt commented on #3694
It is constantly occurring on the Cloud Build pipeline. There are some steps after functions deployment and because of this issue, those steps are not getting executed. And cloud build throws timeout error.

[2021-09-17 16:22] jherman commented on #2333
@GabeWeiss

Were you ever able to figure out how to specify query scope of "collection group" vs "collection" via CLI? Running into that issue right now.

[2021-09-17 16:31] GabeWeiss commented on #2333
I wasn't, no. To be fair I haven't been trying since these comments though as I've shifted onto other projects. To my knowledge this hasn't changed though (caveat, I'm not on or work directly with this team so it MIGHT have, I just don't know because I haven't heard it come up).

[2021-09-17 17:01] jherman commented on #2333
@GabeWeiss Thanks for the reply. I think you are right that it's still not supported still. the --query-scope is undocumented from what I can tell and still only accepts only "collection" as an argument. I've tried several different values to see if there was any hidden acceptable values for collection groups, but none work. Seems real odd this hasn't been addressed.

[2021-09-17 19:38] dreadjr opened #3762 "firebase deploy clears function subscription settings for pubsub.onPublish"
### [REQUIRED] Environment info

**firebase-tools:** 9.17.0

**Platform:** cloud build (linux) or osx

### [REQUIRED] Test case
[code]
### [REQUIRED] Steps to reproduce

# deploy functions
`firebase deploy --only functions`

# configure dead letter or backoff, via gcloud or ui
[code]

# deploy functions again
`firebase deploy --only functions --force`

### [REQUIRED] Expected behavior

Settings on

[2021-09-17 21:31] saeedata opened #3763 "Error: failed to update release notes with HTTP Error: 403, Unknown Error"
how can I update the release note via firebase-cli:

[code]

[2021-09-18 09:10] carboni-rob commented on #1166
I can confirm I am not getting anything logged in my `firestore-debug.log` from the following ruleset:
[code]

[2021-09-18 15:16] QQbit commented on #1796
2021 it still not work on windows 10
![image](https://user-images.githubusercontent.com/63203418/133893624-9b289414-3151-466f-87cc-0a67e67a8617.png)

[2021-09-18 15:17] Fauzdar1 commented on #3714
I've found a workaround by using a new Firebase account with billing with same method as before as I've got no support and no solution whatsoever. Closing this issue for now.

[2021-09-18 15:17] #3714 closed

[2021-09-19 14:00] joshpetit commented on #1367
I'm having the same problem @benwinding! I tried appending the flags you mentioned helping you but emulators exec still seems to be stuck within the github ci. I'm not sure if this is because of emulators:exec or jest. I've also appended the `--watchAll=false` flag just in case that was causing problems 😓.

[2021-09-19 16:19] ApoorvaJ commented on #3760
I can attest that this also happens for write rules. I'm trying to disable overwrites using `allow create: if resource == null;`, and I can overwrite anyway on the emulator. This doesn't happen in the Rules playground in the firebase console, so it looks like an emulator bug.

[2021-09-19 21:19] yairopro opened #3764 "Storage emulator - exec: admin.storage().bucket() is inconsistent"
### [REQUIRED] Environment info

**firebase-tools:** 9.18.0

**Platform:** macOS

### [REQUIRED] Test case

The storage emulator within an executed script (with `exec` commande) is inconsistant because the emulator will always return that any file is existant, whatever file name you give him.

### [REQUIRED] Steps to reproduce

Try to execute the following snippet within the emulator (storage emul

[2021-09-20 10:40] ademanuele opened #3765 "Storage Emulator Crash on Flutter iOS"
### [REQUIRED] Environment info

**firebase-tools:**
9.16.6

**Platform:**
macOS

### [REQUIRED] Test case

All emulators crash and exit when attempting to save a file on the storage emulator.
In my case, I am attempting to upload a file to the emulator from an iOS simulator running a Flutter app.
Uploading a file manually through the storage emulator UI works fine.

### [REQUIRED] Steps to reprod

[2021-09-20 15:05] Enqvida commented on #3143
My hero, thanks 🥇

[2021-09-20 15:56] mhesham32 commented on #1275
the same thing happened to me in the emulators but I found out that I had typed the wrong function name in the client but I think the error that I got isn't the right one though

[2021-09-20 16:26] abeisgoat commented on #3765
Hmm, interesting, might be an issue with the Flutter wrapper.

[2021-09-20 16:28] abeisgoat commented on #3764
This is actually outside the current scope of the emulator as the `exists()` method is not one we guarantee to be correct atm. We're working on extending Google Cloud API support, so hopefully this will function correctly in the near future.

[2021-09-20 16:29] abeisgoat commented on #3760
Thanks for the info, this is probably an issue in our security rules payloads. We've been working internally to document what happens in prod and replicate it, so I'll put this as an area of note.

[2021-09-20 16:31] abeisgoat commented on #3751
It is not currently support, as a rule of thumb, if you can do it in the Firebase client SDK then the same admin methods will also work, but things like moving files (which are admin / Google Cloud API endpoints) are not, but I'll make a note that this is something that is being attempted for when we work to expand the Cloud API surface compatibility.

[2021-09-20 16:32] abeisgoat commented on #3763
Is this still happening? That endpoint exists, so may have been a fluke.

[2021-09-20 16:36] abeisgoat commented on #3661
I don't have enough context here to be helpful, so I'll pass this to @yuchenshi

[2021-09-20 16:37] #2486 closed

[2021-09-20 16:38] abeisgoat commented on #2427
This should have been resolved awhile ago with a bunch of other installer fixes, please reopen if it still exists.

[2021-09-20 16:38] #2427 closed

[2021-09-20 16:38] #2585 closed

[2021-09-20 17:27] yuchenshi commented on #3750
The Auth Emulator is not secure and doesn't support real hashing and won't be able to access your production hash parameters, even if you try to manually add them to `config.json`.

Would you mind sharing a bit more about your use case here? Why would you like to use real production passwords in Auth Emulator? Would it be useful if the Auth Emulator were to assign a fake password (e.g. `foobar`) t

[2021-09-21 05:21] leils opened #3768 "hosting:channel:deploy with new channel returns 400 "Request contains an invalid argument.""
I was able to deploy new preview channels as recently as last week (7 days ago).
Today I found all my PR checks failing due to `FirebaseExtended/action-hosting-deploy@v0`
Logs show a potential issue with creating a new preview channel?

So far I've hit this error in:
- Github Actions (build_and_preview)
- Locally in multiple accounts, with pre-existing and new projects

### [REQUIRED] Environment

[2021-09-21 05:24] paulmand3l commented on #3768
I am the colleague. Can confirm running `firebase hosting:channel:deploy pr1-test-branch --expires 7d --project paulmandel-testcase --json` works fine locally but fails in Github Actions (as you can see in the at the bottom of the OP)

[2021-09-21 05:51] danieljimeneznz commented on #3768
Seeing a similar thing, able to deploy to PRs yesterday but have stopped working today.

[2021-09-21 06:54] ZYinMD opened #3769 "Custom headers in firebase hosting doesn't work as doc says"
**firebase-tools:**
9.18.0

**Platform:**
Windows 10

I'm following [the doc](https://firebase.google.com/docs/hosting/full-config#headers) to set custom headers when serving static assets with firebase hosting.

[Here](https://github.com/ZYinMD/hosting-header) is a minimal repo. [Here](https://hosting-header.web.app/) is the deployed site of the minimal repo.

I tried to set some headers for inde

[2021-09-21 07:05] ademanuele commented on #3765
For info:
The flutter package I am using is `firebase_storage: ^10.0.3`.
I have tried this same code against a real Firebase project and it worked fine.

[2021-09-21 07:06] amitav13 commented on #3768
+1, the following command worked yesterday:
`npx firebase-tools hosting:channel:deploy pr78-feature_Store-listin --expires 7d --project swapaholic-marketplace --json`

but the command
`npx firebase-tools hosting:channel:deploy pr79-feature_guest-shoppi --expires 7d --project swapaholic-marketplace --json`
is failing today. Both were for creating preview channels. This was triggered for us through

[2021-09-21 08:51] bombnp commented on #3768
Confirm. I'm also seeing similar problem today. Works fine on my laptop but breaks mostly, but not always, on GitHub Actions (around 90%)

[2021-09-21 13:16] gabriellimoni commented on #3768
Same issue here. Yesterday we were able to deploy channels, today we're not

[2021-09-21 13:46] jens-duttke commented on #3768
This is a critical issue, it blocks us from deploying an updated version of our website.

When can we expect this problem to be fixed? Is anyone working on that issue?

[2021-09-21 15:42] RossKinsella commented on #3768
@bkendall Could this be related to https://github.com/firebase/firebase-tools/issues/1015?

[2021-09-21 15:57] RossKinsella commented on #3768
I started experiencing this issue somewhere between 4 and 5 hours ago. Apologies, I do not have timestamps in my CI logs

[2021-09-21 16:00] bkendall commented on #3768
This is curious. I'll take a look. Initial kicking of tires I was unable to replicate, but I'll dig a bit.

https://status.firebase.google.com/incidents/xukDZcayBqgTGBy9Le3S is _not_ related to this, fwiw.

[2021-09-21 16:03] RossKinsella commented on #3768
This issue has actually just resolved itself for me. I ran the job successfully just 5 minutes ago. Previous attempt before that was 37 mins ago, which was a failure

[2021-09-21 16:58] bkendall commented on #3768
Okay, update: I've found the cause of these invalid_argument errors - they come from the backend and I've identified the path they're coming from. It does seem as though they're intermittent now and I'm working on trying to clear out the issue.

[2021-09-21 19:18] jsakas opened #3770 "Firestore emulator does not properly set nested properties using dot notation"
### [REQUIRED] Environment info

**firebase-tools:** 9.18.0

**Platform:** macOS

### [REQUIRED] Test case

Please see `nested-properties` branch of my testing repo here: https://github.com/jsakas/firebase-repro/tree/nested-properties

Note: after creating the repro I realized you can also just start the firestore emulator and use the JavaScript console in the emulator UI. But below is my test cas

[2021-09-21 20:46] yairopro commented on #3764
Thanks for this information.
How can I know which storage methods / features are supported by the emulator (guaranteed to be correct )? please

[2021-09-21 21:15] dansjack commented on #3694
This worked for me too, thanks!

[2021-09-22 08:46] RossKinsella commented on #3768
Many thanks @bkendall

My pipelines are running correctly now

[2021-09-22 08:59] j0hnsmith commented on #3348
Getting a single doc in transaction was added, see #1583, can this be leveraged in any way to provide all docs?

[2021-09-22 15:53] bkendall commented on #3768
The best answer I have on this right now is that the issue seems to have resolved itself. We're putting more monitoring in place for this, but it should be good to go now. Thanks