[2020-04-21 13:26] samtstern commented on #2132
@docotwuzif this looks very similar to https://github.com/firebase/firebase-tools/issues/1980

It seems we have some file-reading issues on Windows but to be honest none of us here has any idea when/why they happen...

[2020-04-21 13:30] samtstern commented on #2141
@arm-r from some brief research it seems like there may be something wrong with your machine or internet connection.  Are you able to run just this command (without `|bash`):

[code]

[2020-04-21 13:33] samtstern commented on #2139
Looks like your project failed to lint, you can see the error by running `npm run lint` in your functions directory.

This doesn't look like an issue with firebase-tools.

[2020-04-21 13:33] #2139 closed

[2020-04-21 13:34] samtstern commented on #2146
@elucidsoft thanks for following up with your solution!

[2020-04-21 13:39] samtstern commented on #2151
@nowsathns this is not a valid path for a Firestore trigger because it points at a collection, not a document:
[code]

That would be:

- Collection x
- Document y
- Collection z
- Document aa
- Collection ordertails

If you want to match any document in the orderdetails collection at that depth, try adding one more wildcard:

[code]

[2020-04-21 13:39] #2151 closed

[2020-04-21 14:46] TacB0sS commented on #2131
This is our firebase.json file:

[code]

as we are developing both frontend and backend in the same workspace we have them in separate folders app-backend and app-frontend respectively.

from what I understand the assumption is that node_module would always be in the root folder of the project, and we have it in the "source" as defined in the firebase.json.

as we have different firebase.json per

[2020-04-21 15:03] emadalam commented on #853
Same here, we have the latest version of firebase tools running on a GitLab runner and this keeps happening. It's such a big annoyance to keep retrying. Our whole CI/CD pipeline is broken due to this, causing such a waste of developer time, tracking the jobs and clicking retry to eternity.

Worst of it, the Firebase Support team hasn't been helpful at all and have pointed to some bunch of random d

[2020-04-21 16:43] bkendall commented on #2154
That check in particular is very old - I can't say for sure that `isTTY` would be false on CI environments, I've ever done an experiment to check 🙂

From what I can tell, outside of setting the flag manually, that's the only spot where it's set automatically. That is run before every command, so it would apply to every one.

Maybe an action that can be taken here is to improve that documentation?

[2020-04-21 17:13] bkendall commented on #2150
It looks like your `index.ts` isn't compiling with `tsc`. You should be able to run `tsc` in the functions directory and fix the error.

That said, if you're not actually wanting to deploy functions, you should remove that directory or deploy using `firebase deploy --only hosting`.

[2020-04-21 17:13] #2150 closed

[2020-04-21 17:17] bkendall commented on #2148
It means you are running `firebase init` in a directory (or subdirectory) that has a `firebase.json` file in it (or in a parent directory). It's a situation that is hard for the CLI to make a concrete decision about, so it's printed as a warning.

Be cautious about overwriting any `firebase.json` file in that directory. To fix, you would have to look in the directory path to see if there are any `

[2020-04-21 17:17] #2148 closed

[2020-04-21 17:53] salvadoraciengomez commented on #2150
Thank you very much!

[2020-04-21 19:28] merlinnot commented on #2140
My issues are also not about quotas. I have a custom script that deploys functions in batches. A percentage of functions always fails to deploy, not due to quota issues, but due to multiple "random" failures: "cannot load source code xxx" etc. Retrying always helps. I reported these issues 1.5-2 years ago, still not fixed. At this point I'd be really happy with an auto-retry mechanism, as I don't

[2020-04-21 19:46] johnnyasantoss commented on #1409
Any updates?

The provided link has a section called "The firebase.json file" that is not helpful. I still think that a json schema (like [these ones](http://schemastore.org/json/)) would be a better way to add documentation to this mysterious file.

[2020-04-21 20:34] patelnav opened #2155 "Firestore Emulator doesn't authenticate Web SDK"
### [REQUIRED] Environment info

**firebase-tools:** 8.1.1

**Platform:** macOS

### [REQUIRED] Test case

- **Launch emulator:** firebase emulators:start --only functions,firestore
- Open Webapp that uses Web Javascript SDK

### [REQUIRED] Steps to reproduce

[code]

### [REQUIRED] Expected behavior

Document is written to firestore emulator

### [REQUIRED] Actual behavior

[code]

According to @

[2020-04-21 22:40] KcPele commented on #1266
!  functions: The Cloud Firestore emulator is not running, so calls to Firestore will affect production.
!  External network resource requested!
   - URL: "http://169.254.169.254/computeMetadata/v1/instance"
 - Be careful, this may be a production service.
!  External network resource requested!
   - URL: "http://metadata.google.internal./computeMetadata/v1/instance"
 - Be careful, this may be a p

[2020-04-21 22:40] KcPele commented on #1266
please i need help. how do i fix these
!  functions: The Cloud Firestore emulator is not running, so calls to Firestore will affect production.
!  External network resource requested!
   - URL: "http://169.254.169.254/computeMetadata/v1/instance"
 - Be careful, this may be a production service.
!  External network resource requested!
   - URL: "http://metadata.google.internal./computeMetadata/v1/i

[2020-04-22 03:17] KrisBraun commented on #474
I am also regularly hitting this regularly in the last couple days.

[2020-04-22 04:30] nowsathns commented on #2151
Thanks, @samtstern.  Thank you for pointing my mistake. Now the function is successfully deployed.

[2020-04-22 09:23] docotwuzif commented on #2132
OK, thanks for info. Anyhow, just fyi: for me it still works perfectly fine now with the small change of code above...
The interesting thing is, if you log newContent right after the readFileSync line, the variable appears to be empty, more often than not (sometimes it went through, especially on the first file update)

[2020-04-22 09:58] YkmLo opened #2157 "Error: failed to upload distribution. it took longer than expected to process your binary, please try again"
### [REQUIRED] Environment info

**firebase-tools:** 8.1.1

**Platform:** macOS

### [REQUIRED] Test case

Uploading via fastlane x firebase CLI

### [REQUIRED] Steps to reproduce

[code]

filesize: 253M

### [REQUIRED] Expected behavior

Success upload

### [REQUIRED] Actual behavior

last output:

[2020-04-22 10:31] oviliz commented on #853
Happens to us too, when locally on Ubuntu 16.04 with firebase-tools 7.12.1 or via Azure DevOps Task with the latest 8.1.1.
Ridiculous that this issue is closed and nobody (Google side) seems to do care less.

[2020-04-22 11:14] anantakrishna commented on #2154
Seems so, adding some docs would be beneficial.

Currently I'm not using `--non-interactive` in my CI script, and it still works well. But I guess I should add this flag anyhow.

[2020-04-22 12:18] AshRetro commented on #896
C:\Windows\System32

Really helped. After pasting it in the path, as soon as I typed "firebase login", a window popped and said you are logged in.
Helpful.

[2020-04-22 13:24] Mistic92 opened #2158 "Firebase CI token expires when gsuite session length enabled"
### [REQUIRED] Environment info

**firebase-tools:** latest ```npm install -g firebase-tools```

**Platform:** Docker node:10-alpine

### [REQUIRED] Test case
When session length is enabled on gsuite, token generated with ```firebase login:ci``` expire and is useless for CI.

### [REQUIRED] Steps to reproduce
1. Have gsuite account with enabled [session length](https://support.google.com/a/answer/

[2020-04-22 13:32] samtstern commented on #2158
@Mistic92 since that is an OAuth user credential I believe this is the expected behavior based on your organization's policy.

Have you tried deploying with service account credentials and `GOOGLE_APPLICATION_CREDENTIALS` instead?

[2020-04-22 13:35] Mistic92 commented on #2158
I'm using Gitlab CI/CD and have tried to pass credentials.json as file variable but it was not working. Is there any tutorial for this?
I wanted to use service account from the beginning but couldn't find any example.

[2020-04-22 14:08] nurilyas7 commented on #2132
Hi. I don't know why but when you run a statement that takes about 1ms before reading the file, the contents are read with no issue. So moving the print statement up worked for me.
[code]
Saving the file continously by pressing down on the shortcut keys will cause intermittent failure. But likelihood of someone doing that is very low,

![print_console](https://user-images.githubusercontent.com/142

[2020-04-22 17:38] eng-dibo commented on #2135
thank you @mbleigh for you help,
The issue has been solved.

[2020-04-22 17:58] mbleigh commented on #2135
Glad to hear it!

[2020-04-22 18:56] KrisBraun commented on #474
I've discovered in my case this was likely caused by deploying too many functions together. Since re-architecting to deploy in groups with <10 functions each, I haven't hit this yet.

[2020-04-22 19:35] shaimo commented on #474
@KrisBraun is there a recommended way to break a project in a way that would allow deploying in “groups”? Can you tag a function as belonging in some group, or do it by separate files or anything like that?

[2020-04-22 19:46] JerryGoyal commented on #2152
I'm dumb. My build tool (jekyll) was ignoring folders which start with dot.

Had to add this on my _config.yml to make it work:
# Folders with dotfiles are ignored by default.
include: [.well-known]

[2020-04-22 19:46] #2152 closed

[2020-04-22 20:36] bkendall commented on #2152
Thanks for following up! Glad you figured it ou!

[2020-04-22 21:15] KrisBraun commented on #474
@shaimo This: https://firebase.google.com/docs/functions/organize-functions

You deploy per group, and can also run commands against a group (e.g. `firebase functions:delete admin`).

As an update, I just hit this error again on one of my larger groups with 7 functions.

[2020-04-22 22:35] mbleigh commented on #2158
You need to have the JSON credentials in a file on the machine, and set the `GOOGLE_APPLICATION_CREDENTIALS` environment variable to be a path to that file. After that, you should be able to run `firebase` commands without passing `--token` or logging in.

[2020-04-22 22:36] mbleigh commented on #2158
Closing this issue since service accounts are supported and org policies around refresh tokens are out of scope for this repo.

[2020-04-22 22:36] #2158 closed

[2020-04-23 00:17] Neilpoulin commented on #853
this is happening to us, too. We've been battling it for nearly a year. We only have about 30 functions (of all types, https, firestore triggers, pub sub subscribers, auth triggers). It mostly happens when we deploy via CI/CD (circleci), but it happens sometimes when we deploy from our local machines, too (although we do it so infrequently it's hard to say).

I'm running node 8, because of a bug a

[2020-04-23 01:03] #2121 closed

[2020-04-23 05:25] amandakoster commented on #1988
[REQUIRED] Environment info
firebase-tools: 8.1.1

Platform: macOS Catelina v10.15.4

[REQUIRED] Test case
firebase init
[REQUIRED] Steps to reproduce
firebase init
[REQUIRED] Expected behavior
I just want to init the Firebase project
[REQUIRED] Actual behavior
There was error while firebase init at this point:
[code]

[code]

Hello. Newbie to Firebase here and getting the same error. What is the

[2020-04-23 06:59] anantakrishna commented on #2140
Until the core “Build failed” issue is fixed and #1977 is approved, someone suggests a temporary workaround in the form of a self-made script: https://issuetracker.google.com/issues/154260223#comment26

[2020-04-23 13:02] albertvp commented on #1915
Same issue of `validateString` with the same TypeError but doing any deploy `firebase deploy --only hosting`. Even logging out and in, creating a new project and reinitializing the whole firebase config files. Using Firestore & Hosting only.

[2020-04-23 17:42] galki commented on #445
@GioLogist to emulate the config locally do:
[code]

[2020-04-23 19:21] samtstern commented on #2132
@nurilyas7 @docotwuzif this is evidence to my "race condition" hypothesis between Chokidar and fs.readFileSync.

Let me send a PR to add a 5ms pause.  Won't hurt anyone!

[2020-04-23 19:36] samtstern commented on #2155
@patelnav yes this should just work.  Can you show me a few more things:

- Before you make the Firestore `set` call can you print out the current user?
- Can you show me your rules so we can see what the `create` rule is that's being denied?

[2020-04-23 19:42] olivierkrener opened #2163 "CLI throwing error needs restart"
### [REQUIRED] Environment info

**firebase-tools:** 8.1.1

**Platform:** Windows 10

### [REQUIRED] Test case

Have tried to recreate the issue, but have not yet found out, hopefully the logs will help

### [REQUIRED] Steps to reproduce

No way to reproduce it yet as mentioned above

### [REQUIRED] Expected behavior

The CLI should continue working

### [REQUIRED] Actual behavior

When it happend

[2020-04-23 21:55] mbleigh commented on #2163
The issue seems to be that the CLI is trying to read a file to which the current user does not have permission. You'd need to make sure that the current user has full permissions on the working directory as well as on the `$HOME/.config/configstore` directory (sorry I don't know for sure what the Windows equivalent of that is).

[2020-04-23 23:58] laurenzlong commented on #474
@ricardo-journey Can you please file a new issue if you are still experiencing this? And include your exact error messages.

@shaimo we recommend deploying functions in groups of 10 or less, and @KrisBraun's link is the right one to follow.

[2020-04-24 00:05] laurenzlong commented on #2144
Hi @Elyx0 this is a great request! We don't have the bandwidth to fix at the moment, but you're very welcome to make a PR and I'd be happy to review.

[2020-04-24 04:39] Albertbol opened #2172 "Cloud functions time out for project owner user using firebase emulator"
* Operating System version: tested on windows and mac
  * Browser version: tested on chrome/safari/edge/firefox
  * Firebase SDK version backend:
    "@google-cloud/firestore": "^3.7.4",
    "@google-cloud/storage": "^4.7.0",
    "@google-cloud/translate": "^5.3.0",
    "@google-cloud/vision": "^1.11.0",
    "firebase-admin": "^8.11.0",
    "firebase-functions": "^3.6.0",
    "firebase-tools": "^8

[2020-04-24 13:01] olivierkrener commented on #2163
The current user has full permission on everything, both locally (my window user is an admin for my laptop) and on Firestore (the user I use to login into the CLI is an owner of the project).

As I wrote the problem appears after using the CLI for some time and until I restart it and everything works again. My internet is not the best and it could be that the problem is related to my connection go

[2020-04-24 14:23] desduvauchelle opened #2166 "Improve error messaging around function dot-notation deploys"
### Environment info

**firebase-tools:**  8.1.1
**Platform:** MacOs

### Test case
[code]
### Steps to reproduce

1) Have a project setup
2) Create a cloud function
3) Try to deploy just that function, ex:
[code]

### Expected behavior
[code]
Function deployed.

### Actual behavior
[code]
Function wasn't deployed

[2020-04-24 14:32] mbleigh commented on #2166
What does your index.js look like?

You might want:

--only trig.users.onUserUpdate

On Fri, Apr 24, 2020, 7:23 AM Denis Duvauchelle <notifications@github.com>
wrote:

[2020-04-24 14:34] desduvauchelle commented on #2166
[code]

[2020-04-24 15:21] MichaelGradek opened #2167 "On failed deploy, the command suggested to retry is wrong"
### [REQUIRED] Environment info

**firebase-tools:** 8.1.1

**Platform:** macOS

### [REQUIRED] Test case

Have functions organized hierarchically in directories, i.e.

[code]
**functions/index.js**
`exports.Endpoints = require("./endpoints")`

**functions/endpoints/index.js**
`exports.OAuthCallbacks = require("./OAuthCallbacks.js")`

**functions/endpoints/OAuthCallbacks.js**
`exports.Google = fun

[2020-04-24 15:36] hatemdeeb commented on #155
Is there a solution for this issue in latest versions?

[2020-04-24 15:38] patelnav commented on #2155
Your questions helped me figure it out:

I was launching the emulator from another dir and subsequently didn't pick up rules allowing anon-writes.

sorry for the trouble!

[2020-04-24 15:38] #2155 closed

[2020-04-24 15:42] samtstern commented on #2155
@patelnav thanks for following up!

[2020-04-24 15:51] MichaelGradek commented on #2166
The issue is that, for some reason, the deploy --only filter expects you to use dot notation to separate the modules / directories.

If you try this, it will work:

`$ firebase deploy --only functions:trig.users.onUserUpdate`

i.e. change the - for .

I believe this is very counter intuitive, but it is what it is for now.

 ¯\_(ツ)_/¯

[2020-04-24 16:22] desduvauchelle commented on #2166
In agreement about the confusion. But works! Thanks.

I don't know if the firebase team want to pursue this further or not, I'll leave it open for them to decide.

[2020-04-24 16:25] mbleigh commented on #2166
We use dot notation because we allow for exporting groups of functions and deploying them together, for instance:

[code]

Where I can now deploy both functions with:

    firebase deploy --only functions:myGroup
    # or
    firebase deploy --only functions:myGroup.fn1

Function names cannot have periods in them, but the hierarchy makes dot-notation make more sense than dash notation.

I think th

[2020-04-24 16:32] desduvauchelle commented on #2166
It's a good reason to use dot, didn't know it was possible.
In my case, I don't have any dashes in my names. They were added by the cli.

Example of what I had
[code]

So the solution for my issue is not be displaying errors for using `-` (but that might be useful if someone did), but instead list the function names with `.` in the console...example:
[code]

[2020-04-24 16:38] jgreen210 commented on #1963
I also had this:

{"error":{"code":404,"message":"Requested entity was not found.","status":"NOT_FOUND"}}

...error from the firebase CLI when it was GETing the details of the appID.

The:

Make sure to onboard your app by pressing the "Get started" button on the App Distribution page in the Firebase console: https://console.firebase.google.com/project/_/appdistribution

...message was confusing s

[2020-04-24 17:00] ricardo-journey opened #2168 "Randomly occurring `Build failed` errors when deploying functions"
### [REQUIRED] Environment info

+ firebase --version
8.1.1

+ uname -a
Linux prd-lts-use1c-200424163427-wpricxfecnkpxxxpngkc7q 4.4.0-57-generic #78-Ubuntu SMP Fri Dec 9 23:50:32 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux

### [REQUIRED] Steps to reproduce

run `firebase deploy`

### [REQUIRED] Expected behavior

All functions should be deployed successfully.

### [REQUIRED] Actual behavior

Differen

[2020-04-24 17:00] samtstern commented on #2165
@Crymzix this is strange!  A few questions:

- Have you tried using `firebase emulators:start` instead of `firebase serve`?
- Can you try `emulators:start` with the `--debug` flag and show me the logs of an execution where this call hangs?

[2020-04-24 17:01] CodingWookie opened #2169 "" firebase init hostin"... An unexpected error has occured"
[debug] [2020-04-24T16:46:23.081Z] ----------------------------------------------------------------------
[debug] [2020-04-24T16:46:23.082Z] Command:       C:\Program Files\nodejs\node.exe C:\Users\BEAST\AppData\Roaming\npm\node_modules\firebase-tools\lib\bin\firebase.js init hostin
[debug] [2020-04-24T16:46:23.082Z] CLI Version:   8.1.1
[debug] [2020-04-24T16:46:23.082Z] Platform:      win32
[deb

[2020-04-24 17:03] ricardo-journey commented on #474
@laurenzlong Actually, its a different error message. Here is the link to the new issue: https://github.com/firebase/firebase-tools/issues/2168 Thanks.

[2020-04-24 17:13] samtstern commented on #2169
@CodingWookie thanks! This looks the same as #2144 let's handle it over there

[2020-04-24 17:13] #2169 closed

[2020-04-24 17:14] samtstern commented on #2114
We just got another report of this.  We should never have unexpected errors, I'll take a look.

[2020-04-24 18:16] samtstern commented on #2172
@Albertbol we really need to see some code and logs from an execution that times out, otherwise we can't debug this effectively.

[2020-04-24 22:06] prescottprue opened #2175 "Import Prod Firestore Data Into Emulator"
Requesting support for importing hosted/prod Firestore Data into the emulator with the `--import` command

Following the steps in [described in this comment](https://github.com/firebase/firebase-tools/issues/1167#issuecomment-599410243) work for importing data after exporting from the emulator,  but when trying to do the following to import data from a hosted instance (using name firestore_export

[2020-04-24 22:24] prescottprue commented on #2079
+1.

@jQrgen you should be able to copy data into the RTDB emulator by using emulator environment variables along with firebase-tools database commands [as described in this comment](https://github.com/firebase/firebase-tools/issues/1957#issuecomment-611538120).

My team currently uses a script which leverages [firebase-tools-extra](https://github.com/prescottprue/firebase-tools-extra) to do this

[2020-04-25 11:48] chenlevy commented on #853
Same here
Deployment error.
Anywhere between 1-5 different functions fail to deploy:
Build failed: {"cacheStats": [{"status": "MISS", ...

[2020-04-25 13:24] boten opened #2185 "Cannot emulate httpsCallable function due to invalid character in header content ["x-callable-context-auth"]"
### Related issues

### [REQUIRED] Version info

**node:** 8

**firebase-functions:** 3.6.0

**firebase-tools:** 8.1.1

**firebase-admin:** 8.10.0

### [REQUIRED] Test case

### [REQUIRED] Steps to reproduce

when i try to use httpsCallable **locally** i keep on getting the msg:
"TypeError [ERR_INVALID_CHAR]: Invalid character in header content ["x-callable-context-auth"] " :

[2020-04-25T13:11:36

[2020-04-25 14:26] mbleigh commented on #853
Anyone experiencing this error please +1 and weigh in on this from the
public Cloud issue tracker: https://issuetracker.google.com/issues/154260223

On Sat, Apr 25, 2020, 4:49 AM chenlevy <notifications@github.com> wrote:

[2020-04-25 18:22] ashwingattani commented on #1419
@xxyyzz2050 can you elaborate on how you fixed the issue?

[2020-04-25 19:17] erykos111 commented on #853
![image](https://user-images.githubusercontent.com/47335304/80288700-94ee1680-8731-11ea-8f57-66598893458e.png)

I have found that, when creating new project, for my previous one I didn't have the "google analytics" enabled, and every single of my deployments was failing. I just tested it with brand new project and everything works, when I do enable google-analytics

[2020-04-25 21:13] mbleigh commented on #853
Whether Analytics is enabled or not will not affect this error, that's
likely just been a coincidence.

On Sat, Apr 25, 2020, 12:17 PM erykos111 <notifications@github.com> wrote:

[2020-04-25 23:37] P4z commented on #1796
Same on Windows 10 with `firebase-tools-instant-win.exe` v8.1.1. 😢

[code]

First I run `firebase-tools-instant-win.exe` in `cmd.exe` as an admin and it output several lines about preparation. Every next invocation results with error quoted above.

[2020-04-26 05:05] taronaeo commented on #853
As stated in the above comment, enabling Google Analytics does not change the failed deployment of functions. What you have probably done is created a new project in a server that does not have their Cloud Functions server failing to operate.

[2020-04-26 10:14] khaledosman opened #2179 "can't build project due to is-promise dependency"
### [REQUIRED] Environment info

firebase-tools v8.1.1

**firebase-tools:**
Invalid "exports" main target "index.js" defined in the package config /Users/khaledosman/Documents/github/craftnote/node_modules/is-promise/package.json

**Platform:** macOS

### [REQUIRED] Test case
https://github.com/khaledosman/craftnote

### [REQUIRED] Steps to reproduce
`npm install && yarn start`

### [REQUIRED] Exp

[2020-04-26 10:25] feharaujo commented on #1963
For those that are facing this problem, a reminder: **You need to press the "Get started" button twice** (once for android and another time for iOS). I've spent a lot of time investigating this problem (because I did once for one platform) and figure out that I needed to do again for the other one ... terrible "UX" and for sure it needs improvements to avoid such silly error

[2020-04-27 10:13] viveksinghmehta commented on #2069
@xalikoutis have you prepared your PR for the update, if not can you please do as soon as possible I'm department on this new feature.

[2020-04-27 12:36] samtstern commented on #2179
@khaledosman thanks for reporting this, there was a big issue with `is-promise` over the weekend:
https://github.com/then/is-promise/issues/20

This should be resolved now.

[2020-04-27 12:36] #2179 closed

[2020-04-27 13:02] samtstern commented on #2175
@prescottprue thanks for reporting this, this is definitely confusing.  We designed the import feature of the emulators to rely on some extra metadata generated by `emulators:export`.  The reason for this is that we intend `emulators:start --import` to work for multi-emulator imports once we add support for RTDB exports and (one day) an Auth emulator.

The best way to workaround this right now is:

[2020-04-27 13:09] samtstern commented on #2164
@jjonasen can you check two things:

1. Are you ever calling `admin.initializeApp()` in your Cloud Functions?  I don't see it in your sample code.
2. Are you using the same project ID when starting the emulators as you're using in your tests?

[2020-04-27 13:14] samtstern commented on #2079
@prescottprue thanks for sharing!  The main reason we need to add something more complex is that we want to enable loading data into the RTDB emulator without triggering any Cloud Functions.

[2020-04-27 16:10] #2132 closed

[2020-04-27 16:21] #2114 closed

[2020-04-27 16:33] oluckyman commented on #758
another version
[code]
this runs `tsc` in background and quiet, so you do not need another terminal.
But I'm not sure what happens with `tsc` watcher when I exit the shell

[2020-04-27 18:54] laurenzlong commented on #2168
Hi @ricardo-journey thanks for filing! This is an issue that we are aware of and are working on. This is typically a user error that's obfuscated. If you go to Cloud Console and [view the functions logs ](https://cloud.google.com/console/logs/viewer?resource=cloud_function
), you may be able to see more helpful error messages.

[2020-04-27 21:18] ricardo-journey commented on #2168
@laurenzlong I will double check next time we deploy. I would be surprised if its user error (since sometimes it does success without changing the code) but I will double check.

[2020-04-28 03:05] dudemeister commented on #853
Just ran into the same issue - deployments were working fine until we got these, reliably on two functions - started sometime today:

⚠  functions[legacyFeedRedirect(us-central1)]: Deployment error.
Build failed: {"cacheStats": [{"status": "MISS", "hash": "526b4459b8b6ae9cc7de4bbed53b2d24a8c5fcf1737f07f27a44e4029d472306", "type": "docker_layer_cache", "level": "global"}, {"status": "HIT", "hash":

[2020-04-28 13:07] 786lokesh opened #2183 "Firebase emulator return empty data whereas working fine after deploying"
**firebase-tools:** 8.1.1

**Platform:** Ubuntu

### [REQUIRED] Test case

### [REQUIRED] Steps to reproduce
I am not sure how I ran into this problem. I just followed the doc to run and debug the functions on emulator. After "firebase init", I selected the firestore, functions and datastore emulators and all the dependencies were successfully installed.
Later I started the emulator and it's start

[2020-04-28 13:09] samtstern commented on #2183
@786lokesh can you provide:

- The code you're running
- What you expected it to do
- What it actually did

The above is not enough information to help you.

[2020-04-28 13:23] 786lokesh commented on #2183
@samtstern I have updated my query.

[2020-04-28 13:25] samtstern commented on #2183
Have you written any data into the Firestore emulator?  If not, I would not expect `admin.firestore().collection(newServices).get()` to return anything.  The Firestore emulator starts up a completely empty database.

Closing because I think this is working as intended right now.  Use the Admin SDK to add data to the Firestore emulator for testing.

[2020-04-28 13:25] #2183 closed

[2020-04-28 13:33] 786lokesh commented on #2183
@samtstern I didn't know this, how can I add the data in firebase emulator ?

[2020-04-28 13:34] samtstern commented on #2183
You can write to it using the Admin SDK.

[2020-04-28 13:44] 786lokesh commented on #2183
I couldn't find any relevant link to do this. Can you walk me through this with an example ?

[2020-04-28 14:07] samtstern commented on #2183
Sure you can write a simple script like this:

**index.js**
[code]

And then you can execute it like this while the emulator is running:
[code]

[2020-04-28 15:41] filipesilva opened #2184 "Database rules are not loaded when it uses `target`"
### [REQUIRED] Environment info

**firebase-tools:** 8.2.0

**Platform:** Windows

### [REQUIRED] Test case

`firebase.json`:
[code]
`database.rules.json`:
[code]

### [REQUIRED] Steps to reproduce

When using multiple shards, the documentation in https://firebase.google.com/docs/database/usage/sharding suggests adding an alternate form of database configuration that specifies targets. The emulato

[2020-04-28 17:23] jjonasen commented on #2164
`admin.initializeApp()` is called in the index.ts.
However now you mentioned project ID, I changed the projectId constant in the test code to match my production project ID, which made it work as expected 🙂The simple test now runs without error.

Isn't it possible to start the emulators with a "fake" ID? For instance start them up with "firestore-test-emulator" as in the example?

[2020-04-28 17:26] samtstern commented on #2164
@jjonasen yeah if you do `firebase --project=firestore-test-emulator emulators:start` that should work!

Sounds like this is resolved, gonna close the issue.

[2020-04-28 17:26] #2164 closed

[2020-04-28 23:27] jasenmoloy opened #2187 "Command to install Firebase CLI fails on Windows WSL"
### [REQUIRED] Environment info

**firebase-tools:** N/A

**Platform:** Ubuntu 18.04.4 LTS on Windows 10 x86_64 (using WSL)

### [REQUIRED] Test case

Run `curl -sL https://firebase.tools | bash`, see failure.

### [REQUIRED] Steps to reproduce

1. Open command prompt on Windows
2. Run `wsl` command
3. Run `curl -sL https://firebase.tools | bash` command
4. Enter password for sudo access
5. Observ

[2020-04-29 08:19] jpreynat commented on #853
To anyone that still encounter deployment errors:

After first fixing our deployments by switching on Node 10 and running with the latest version of `firebase-tools`, we recently (about 2 weeks ago) encountered errors again with an opaque `Build error: details not available`. We were completely stuck because this happened constantly for all of our functions on all our environments.

After investig

[2020-04-29 08:25] nes123 commented on #853
+1

[2020-04-29 08:57] HugoGresse opened #2188 "Failed to deploy functions: server timeout or links issue"
### [REQUIRED] Environment info

**firebase-tools:** 8.2.0

**Platform:** macOS, 10.15.3, DNS:1.1.1.1, zsh, node 10.19.0

### [REQUIRED] Test case
I'm trying to deploy the Firebase Functions in Typescript from [here](https://github.com/HugoGresse/kaamelott-bot/tree/master/functions)

### [REQUIRED] Steps to reproduce
1. Clone and install the dependencies for the functions/ dir.
2. Run `firebase de

[2020-04-29 09:48] dasari1729 commented on #1988
hii to all now i got fixed this error just goto this link
https://console.cloud.google.com/firestore/data
and change database to native and set path to collection\doc\collection\doc in the up of start collections....

[2020-04-29 12:26] samtstern commented on #2187
@jasenmoloy what directory are you running the `curl ... | bash` command in and do you have permissions to create files there?

Seems like this is the heart of the issue:
[code]

[2020-04-29 13:09] TranDieuLinh commented on #853
+1
Same error.
Build failed: {"cacheStats": [{"status": "MISS", "hash": "8c20b0a9a3a6bd52591da4f39acf1b59e56da60640e148a5d96a494617066c6d", "type": "docker_layer_cache", "level": "global"}, {"status": "HIT", "hash": "8c20b0a9a3a6bd52591da4f39acf1b59e56da60640e148a5d96a494617066c6d", "type": "docker_layer_cache", "level": "project"}]}

[2020-04-29 13:18] fatihacet commented on #853
We have been seriously impacted by this issue and were unable to deploy since last week. _Details can be found in my [comment](https://issuetracker.google.com/issues/154260223#comment36) on Google Issue Tracker._

We come up with [a custom deployment script](https://gist.github.com/fatihacet/97fbd7c514f617dd1da303895edd8093) which retries deployment of failed Cloud Functions. Leaving it here, so i

[2020-04-29 13:33] jpreynat commented on #853
@fatihacet As [I mentioned earlier](https://github.com/firebase/firebase-tools/issues/853#issuecomment-621058549), the build errors mostly happen because of a timeout during the deploy process, which has been reduced from 10 to 5 minutes by GCP about 2 weeks ago.

We also had a retry system in place, implemented in a fork of `firebase-tools` (and usable) [here](https://github.com/jpreynat/firebase

[2020-04-29 13:37] Trinhlvtq commented on #853
I just updated firebase-cli version 8.2.0
However, I continue to encounter this error
`Build failed: {"cacheStats": [{"status": "MISS", "hash": "8c20b0a9a3a6bd52591da4f39acf1b59e56da60640e148a5d96a494617066c6d", "type": "docker_layer_cache", "level": "global"}, {"status": "HIT", "hash": "8c20b0a9a3a6bd52591da4f39acf1b59e56da60640e148a5d96a494617066c6d", "type": "docker_layer_cache", "level": "proj

[2020-04-29 14:40] SudoPlz commented on #1874
Any workarounds until then?

[2020-04-29 14:55] alex-benoit commented on #1874
you can download using npm
`run: sudo npm install -g firebase-tools`

[2020-04-29 15:44] deadsoul44 commented on #1748
@matejcsok-istvan I keep  getting the error below. Any idea how to solve it? Thank you.

```Error: Server Error. connect ECONNREFUSED 127.0.0.1:4400```

[2020-04-29 16:00] bkendall commented on #2185
Can you provide the relevant snippets of code? Ideally, the callable function as well as the code that is calling it? Thanks!

[2020-04-29 16:08] bkendall commented on #2184
Thank you for providing some good repro steps!

[2020-04-29 16:19] tonybaroneee commented on #2157
Hey @YkmLo, thanks for the report. We’re currently in the process of improving the binary upload speed to resolve this issue that some customers in various parts of the world are seeing. We’ll let you know when that’s live!

[2020-04-29 16:48] matejcsok-istvan commented on #1748
@

Did you follow the official docs?

[2020-04-29 16:52] deadsoul44 commented on #1748
Yes, I am on windows. I followed the instructions for windows. Maybe, I am missing something very basic?

[2020-04-29 17:14] tinaliang commented on #2188
Hi! Thanks for sharing your project and logs! I noticed that your firebase-functions SDK is still on v3.3.0. Could you try updating it to ^v3.6.0?

`npm install --save firebase-functions@latest`

[2020-04-29 17:23] jplyue commented on #155
Hope this will help you:

steps are the same as before. The new file location: /usr/local/share/.config/yarn/global/node_modules/firebase-tools/lib/api.js

find the code below, around line 297

`reqOptions.headers = options.headers;
    reqOptions.timeout = options.timeout;`

append `reqOptions.proxy = "http://127.0.0.1:10818";`

[2020-04-29 18:24] amandakoster commented on #1988
Looks like once you choose Firestore, you cannot switch database to Native:

`Warning: Once you select Firestore in Datastore mode and execute the first write on the database, you cannot switch to Firestore in Native mode.`

[2020-04-29 18:27] mbleigh commented on #2188
@HugoGresse if updating the SDK doesn't help, please file a [support request](https://firebase.google.com/support/troubleshooter/contact) so that it can be sent to the appropriate team to investigate.

[2020-04-29 19:14] jasenmoloy commented on #2187
I was attempting to run this in the home directory (`~/`) and my project directory in Windows (`mnt/c/Users/<user>/development/...`) and get the same issue in both.

[2020-04-29 20:20] jpreynat commented on #853
@Trinhlvtq, upgrading `firebase-tools` won’t solve this issue.

Out of curiosity, how many node dependencies do you use in your project?
Do you use native ones in your project?

[2020-04-30 00:33] manishPh commented on #968
@dominicbartl Were you able to find solution to your problem? @mbleigh, The issue we are facing is similar and we want to create a fat .zip that includes everything and no `npm install` during function deployment, for some security reasons. Does that mean I have to create myPackage.tgz for every dependency in my package.json and then replace the dependency as "myPackage": "file:./myPackage-1.0.0.t

[2020-04-30 07:09] takyam-git commented on #2185
I got same problem.

I patched local `functionsEmulator.js`

maybe code is here
https://github.com/firebase/firebase-tools/blob/master/src/emulator/functionsEmulator.ts#L771-L777

[code]

my token like this

[code]

I hope fix this 🙏

[2020-04-30 10:24] dominicbartl commented on #968
Hi @manishPh, I'm no longer packaging my `node_modules` but I think the way I solved it was I copied the `package.json`, code and dependencies into a deployment directory. Then i overrode the dependencies in the `package.json` file with the paths to the local directories. I believe you can just reference the directory, you don't have to package each dependency on its own

[2020-04-30 11:58] Md-Abdul-Halim-Rafi commented on #406
It didn't work

[2020-04-30 14:32] HugoGresse commented on #2188
I've updated to functions ^3.6.1 but still got the same issue. Filling the support request now thanks.

[2020-04-30 18:41] iotashan commented on #1988
I also had the same problem, but turning on debugging revealed the answer:

`FirebaseError: HTTP Error: 403, The Cloud Firestore API has not been used in project join-our-line before or it is disabled. Enable it by visiting https://console.developers.google.com/apis/api/firestore.googleapis.com/overview?project=join-our-line and then retry. If you enabled this API recently, wait a few minutes for

[2020-04-30 19:28] fidangithub commented on #1208
thank you.

[2020-05-01 05:27] 786lokesh commented on #2183
@samtstern So every time, I need to set the data first and then call API ? I have lot of collections with documents in database. Is there a short way to, I can directly use the database ?

[2020-05-01 10:35] yeffrydiaz opened #2192 "functions: The Cloud Firestore emulator is not running, so calls to Firestore will affect production."
### [REQUIRED] Environment info

**firebase-tools:**

**Platform:**

### [REQUIRED] Test case

### [REQUIRED] Steps to reproduce

### [REQUIRED] Expected behavior

### [REQUIRED] Actual behavior

[2020-05-01 12:13] samtstern commented on #2192
@yeffrydiaz please use the issue template when filing issues.  That warning is not a bug.

[2020-05-01 12:13] #2192 closed

[2020-05-01 12:14] samtstern commented on #2183
@786lokesh once you have filled the emulator with data once you can save it using `firebase emulators:export ./your-data` in another terminal and later import the same data by using `firebase emulators:start --import ./your-data`

[2020-05-01 15:14] digimbyte opened #2193 "Failed to Deploy - events.js:180 ENOENT"
### [REQUIRED] Environment info
firebase-tools@8.2.0

Windows 10 64bit

Trying to use a callback on a function in a promise chain, may have broke tslint/cross-env

### [REQUIRED] Expected behavior

I expect firebase functions to deploy

### [REQUIRED] Actual behavior

instead, I get the following error
[code]
I have tried, clearing node_modules, npm install, npm update, re-affirming firebase.json

[2020-05-01 15:36] mpj commented on #2140
Yeah, I chime in with @merlinnot here, I have the same experience. I'm not sure how to solve, it's not too bad for local deploys, but for CI, I'd like it to wait with a much longer timeout or something.

[2020-05-01 16:46] supermanvimal opened #2194 "I have found this"
### functions: The Cloud Firestore emulator is not running, so calls to Firestore will affect production.
### command:  firebase serve -o [ipAddress]

` functions: Beginning execution of "getTemplates_v1"
⚠  Google API requested!
   - URL: "https://www.googleapis.com/oauth2/v4/token"
   - Be careful, this may be a production service.
i  functions: Finished "getTemplates_v1" in ~2s`

I am using fir

[2020-05-01 16:47] samtstern commented on #2194
@vimalchandhru please fill out the whole issue template when filing an issue.  Can you give an example of the code you're running that causes this?

[2020-05-01 17:01] ricardo-journey commented on #2168
@laurenzlong Where is what I see on function's log on Firebase's interface. I will run the deploy on verbose next time. Like I said, if I re-rerun the deploy back-to-back, previously failing functions DO deploy.

In the meantime we have decided to slowly migrate into Google App Engine. Thanks.

<img width="1114" alt="Screen Shot 2020-05-01 at 12 54 30 PM" src="https://user-images.githubusercontent

[2020-05-01 22:27] digimbyte commented on #2193
Found a solution: put my computer to sleep.
I stayed up until 2am debugging it, and put my computer to sleep to resume in the morning.
turn it back on, get some standard warnings and it deploys
/tableflip

[2020-05-02 03:39] vimalchandhru commented on #2194
@samtstern  Edited the question. Can you check now

[2020-05-02 03:49] supermanvimal commented on #2194
Edited the question. Can you check now? @samtstern
is this info enough?

[2020-05-02 04:55] 786lokesh commented on #2183
@samtstern Can't I make a testing database on firebase ? Actually I also want to access the authentication API. And by exporting and importing the data seems like, I will be limited to firestore database.

[2020-05-02 05:03] 786lokesh commented on #2183
As far ad I have seen, If I launch only functions
`firebase emulators:Start --only functions`
This will try to communicate with production, I also tried, but says this:
[code]

[2020-05-02 06:02] igtm commented on #1963
@feharaujo
You're a lifesaver! I fell into the same pitfall.

[2020-05-02 09:36] oluckyman commented on #181
My case is much simple: I ocassionaly run distribution script for another account. Managed to do it without logging out from my main account:
[code]
Then I use that token to run a command from another account, like so:
[code]
When the command is finished I remain under my main account

[2020-05-02 12:06] jamesgeorge007 opened #2196 "Migrate to leven for finding the closest match"
As of now [didyoumean.js](https://github.com/dcporter/didyoumean.js/) matching engine is used to suggest matching commands if the user mistypes. But it is not longer actively maintained. Instead I would suggest switching over to [leven](https://github.com/sindresorhus/leven) which is the fastest JS implementation of the Levenshtein distance algorithm.

[2020-05-02 12:07] jamesgeorge007 commented on #2196
I can work on a PR 👍

[2020-05-02 12:49] dirkpostma commented on #1677
@dominikfoldi

I agree with your points. One tip that might help you meanwhile:

You can seed and manage users using firebase admin SDK, e.g. `auth().createUser`, see also https://firebase.google.com/docs/auth/admin/manage-users

[2020-05-02 23:25] digimbyte commented on #2193
Problem got worse, I now have EPERM errors on everything
node cannot create child processes or contact the npm repo

I have rolled back node/npm - updated to latest, fresh install, cleared by force everything.
I'm about ready to reinstall windows if some random folder has lost permissions

[2020-05-03 03:40] Joebayld opened #2197 "Deleting document breaks onSnapshot observer in emulator"
### [REQUIRED] Environment info

**firebase-tools:**
8.2.0

**Platform:**
macOS

### [REQUIRED] Test case

When deleting a document that has a query on a user auth property, the following error is throw on the snapshot listener. The goal is to observe all invites that has the users email. It works properly when in production, just not in the emulator.

![image](https://user-images.githubuserconten

[2020-05-03 03:57] dreadrocksean commented on #1280
I'm having this issue and I'm on 8.2.0

[2020-05-03 04:54] 786lokesh commented on #2183
@samtstern Please reopen this ticket. I have updated the same query.

[2020-05-03 14:47] cjmyles opened #2198 "Firebase functions emulator does not work with Yarn 2"
### [REQUIRED] Environment info

**firebase-tools:**
8.2.0

**Platform:**
macOS

**Node:**
10.16.0

**Yarn:**
2.0.0-rc.33

### [REQUIRED] Test case

When generating, installing and running a fresh Typescript version of a functions project using the firebase-tools CLI tool and Yarn 2, 20 errors are produced when executing `yarn serve` - 3 unique:
[code]

I can resolve these in the following way, bu

[2020-05-04 01:13] #2141 closed

[2020-05-04 07:32] mlejva commented on #1677
After reading this thread I think people here might find [Foundry](https://foundryapp.co) useful.

I'm one of the co-founders of Foundry. Foundry is a CLI tool takes your Firebase Cloud Functions and creates a copy of your production Firebase app on our servers that act as your development environment in which you directly run your code.

Foundry watches your code files and every time you save you

[2020-05-04 09:07] IlCallo commented on #1677
Yet, from how you described it and what I read on the homepage, that service is cloud-based.
Firebase emulator instead works even offline, hence its usefullness for automatic testing.

[2020-05-04 09:25] xalikoutis commented on #2069
hope tomorrow i ll be ready for the pr

[2020-05-04 12:25] xalikoutis commented on #2069
Hi @samtstern calling the following endpoint `/v1beta1/projects/{project_number}/androidApps/-/sha` in order to get all hashes in a project returns 400

[code]

[2020-05-04 13:05] samtstern commented on #2196
@jamesgeorge007 thanks for the suggestion!  If you send a PR I am happy to review it, as long as @bkendall thinks this is OK?

[2020-05-04 13:07] samtstern commented on #2194
@supermanvimal this is working as expected.  You are using a specific production service account inside the Cloud Functions emulator which means that the Firebase Node.js Admin SDK will exchange the service account key for a token using the googleapis endpoint you showed.  The log message we print is to warn you about this, since many people don't want their tests to access any production APIs.

[2020-05-04 13:07] #2194 closed

[2020-05-04 13:24] samtstern commented on #2069
@xalikoutis you're right I got the same result in the API explorer here:
https://firebase.google.com/docs/projects/api/reference/rest/v1beta1/projects.androidApps.sha/list

Let's proceed without the "list all" feature and I will ask someone internally about why this happens.

[2020-05-04 13:51] 786lokesh commented on #2183
unfortunately I will have to open another issue as this has become unresponsive.

[2020-05-04 14:04] 786lokesh opened #2199 "Firebase emulator return empty data whereas working fine after deploying"
### [REQUIRED] Environment info

**firebase-tools:**8.1.1

**Platform:** Ubuntu

### [REQUIRED] Test case

### [REQUIRED] Steps to reproduce
I am not sure how I ran into this problem. I just followed the doc to run and debug the functions on emulator. After "firebase init", I selected the firestore, functions and datastore emulators and all the dependencies were successfully installed.
Later I sta

[2020-05-04 14:05] samtstern commented on #2183
@786lokesh please don't do that, issues on GitHub are not a paid support channel and we respond when we can.   My last response was on Friday afternoon and now it is Monday morning, I don't work over the weekend.

A few things:

1. Yes when you don't run the Cloud Firestore emulator we try to connect to production, this is working as intended.
2. It sounds like what you want is to create a separat

[2020-05-04 14:06] #2199 closed

[2020-05-04 14:06] samtstern commented on #2199
Closing, this issue is the same as #2183

[2020-05-04 14:33] samtstern commented on #2193
@digimbyte I know this is incredibly frustrating but from what I can see here there's an issue with your system and this is not a bug in `firebase-tools` (or if it is, it will not be possible for us to reproduce and debug it).

The error is happening when we try to spawn a subprocess to do `npm run build` in your Cloud Functions directory as a `predeploy` step.

You can probably create a super-sim

[2020-05-04 14:33] #2193 closed

[2020-05-04 14:36] samtstern commented on #2172
@Albertbol it's been 10 days since the last response so I am going to close this issue.  If you're still having problems and have more information you can provide just let me know and re can re-open and discuss.

[2020-05-04 14:36] #2172 closed

[2020-05-04 14:37] samtstern commented on #2197
@yuchenshi this seems to be an emulator-only issue with clear reproduction steps, could you take a look?

[2020-05-04 17:37] rodritazzi opened #2201 "when trying to deploy firebase to get an url of my data base I run into this error: Error: functions predeploy error: Command terminated with non-zero exit code1"
### [REQUIRED] Environment info

**firebase-tools:**

**Platform:**

### [REQUIRED] Test case

### [REQUIRED] Steps to reproduce

### [REQUIRED] Expected behavior

### [REQUIRED] Actual behavior

[2020-05-04 17:52] LinzNT commented on #1627
It also works if you are in your git bash, haven't tried just Powershell, think it is a VS Code issue.

[2020-05-04 19:03] bkendall commented on #2196
Sure - I think `didyoumean` has a bit of logic that actually returns the suggested word, so I would just be sure you encapsulate that as well.

[2020-05-04 19:43] samtstern commented on #2201
@rodritazzi please use the issue template when filing issues otherwise it's hard to help you.

[2020-05-04 19:43] #2201 closed

[2020-05-04 19:47] samtstern commented on #2198
Thank you @cjmyles for the really detailed feedback.  This is all way over my level of JS knowledge, I'm hoping @abeisgoat can chime in.

[2020-05-04 19:51] yuchenshi commented on #2197
This seems a lot like https://github.com/firebase/firebase-js-sdk/issues/2967 where @pfiadDi  reported a similar symptom. This may be a bug in the Firestore Emulator.

Another repro and instructions (credits to @pfiadDi): https://github.com/pfiadDi/firestore-snapshot-bug

[2020-05-04 20:00] shah-shaili commented on #1059
I faced a similar error and realised my 'lodash.clonedeep' dependency was somehow under devDependencies instead of dependencies, causing firebase to complain it couldn't find the dependency. Moving it to dependencies worked out for me.

[2020-05-04 23:25] hlynbech opened #2203 "can't get rid of "invalid project id" even with "firebase use --clear""
### [REQUIRED] Environment info

**firebase-tools:**
8.2.0

**Platform:**
MacOS 10.15.4
zsh 5.7.1 (x86_64-apple-darwin19.0)

### [REQUIRED] Test case

(fails on any project)

### [REQUIRED] Steps to reproduce

If accidentally running the `use` command with an invalid project id, like fx`firebase use .` then the CLI gets stuck with the error "Error: Invalid project id: .." even if I try to run the

[2020-05-05 01:07] bkendall commented on #2203
I've made a PR to prevent this in the future (I'm not 100% happy with the fix, but it'll fix it).

To fix your system, open the file `~/.config/configstore/firebase-tools.json` with your favorite editor. Look for the `activeProjects` key, then find the file path that has the invalid project identifier as the value in that collection. Remove it (making sure it remains valid JSON - check the ending

[2020-05-05 04:08] Albertbol commented on #2172
I have this issues still, its very weird and im not sure what information to provide, i am using nuxt project with firebase, as a back end i use cloud functions, performing same actions on my admin personal account (project owner) i am having time out on every cloud function, but using any other account everything is working good.
Can you help me out how i can securely help you and provide not sen

[2020-05-05 09:15] olivierkrener commented on #2163
I have identified that the issue happens only when I have had the emulator running for some time. Then, as soon as I stop the emulator everything is working again as it should. So it seems the emulator is locking some file making them inaccessible to the rest of the CLI
Will get back if I find something to make this reproducible

[2020-05-05 10:44] cjmyles commented on #2198
Thanks @samtstern. Interestingly, as soon as I add `express` to the mix (as per this [basic example](https://firebase.google.com/docs/functions/http-events#using_existing_express_apps)), I get another error:
[code]
So a few Yarn 2 related issues here. I'd like to use Yarn 2 as it resolves transitive dependencies correctly (so my workspaces can correctly reference other workspaces on my machine, en

[2020-05-05 11:23] digimbyte commented on #2193
it started with an error when doing firebase deploy.
I tried wrapping the realtime db inside a callback/promise which tslint did not like.
maybe it was a fault in cache when trying to redeploy
eventually it broke.

I dont think it's directly a firebase-tools issue, but it did start from there as that was the only thing I was working on at the time.

[2020-05-05 12:14] #2196 closed

[2020-05-05 12:20] samtstern commented on #2163
@olivierkrener thanks for following up.  Your original logs end on this line:
[code]

Do you have the message that comes after that?  That would tell us which file it is having trouble with.

[2020-05-05 12:53] #2184 closed

[2020-05-05 13:05] filipesilva commented on #2184
Thanks @samtstern and @bkendall!

[2020-05-05 13:26] AAverin commented on #1489
I am using `n` and have node set to 8. Still, I get this warning message

[2020-05-05 13:49] Pitouli opened #2207 "Firebase Emulator Error: Channel credentials must be a ChannelCredentials object"
### [REQUIRED] Environment info

**firebase-tools:** 8.2.0
**Platform:** macOS

### [REQUIRED] Test case

`index.js`
[code]

### [REQUIRED] Steps to reproduce

Run the emulator (functions & firestore) with this code.
Modify a contact in firestore.

### [REQUIRED] Expected behavior

The `users/${userId}` doc should be updated and you should see a `User successfully marked Updated` in the console.

[2020-05-05 14:00] AAverin opened #2208 "Debug breakpoints are not accessible with functions emulator"
### [REQUIRED] Environment info

**firebase-tools:** 8.2.0

**Platform:** macOS

### [REQUIRED] Test case

Having a project, add to VSCode `launch.json` following configuration:
[code]

Start functions emulator with
`firebase emulators:start --only functions --inspect-functions`

### [REQUIRED] Steps to reproduce

Put a breakpoint in your function code and attempt to debug.
Observe that breakpoint

[2020-05-05 14:01] samtstern commented on #2207
@Pitouli could you show me the dependencies in your `package.json` inside your functions directory?

[2020-05-05 14:06] samtstern commented on #2208
@AAverin I am not able to reproduce this issue myself:
<img width="1440" alt="Screen Shot 2020-05-05 at 10 05 02 AM" src="https://user-images.githubusercontent.com/8466666/81075103-edeb4680-8eb7-11ea-8e36-7ec9e2a361b4.png">

Are you able to reproduce this bug if you create an empty directory, run `firebase init functions` and then try debugging the bare-bones code that we provide for you?

[2020-05-05 14:11] AAverin commented on #2208
I would have to try this again, but the project I am working on is pretty fresh, I just started it a few weeks ago. The only probable difference is that I first started the project and then updated firebase-tools to latest version just now.

[2020-05-05 14:51] olivierkrener commented on #2163
I removed it because it showed a local path but forgot to put back the file name, it is the CLI log file

[2020-05-05 14:57] Pitouli commented on #2207
Sure!

Interesting point: I clone my last commit (which I'm 100% sure it worked well) and started to reintegrate one by one my modifications.

Currently, I'm at a point where all the src files in the functions directory of my copy project are identical to those of the cloned project, and I have the bug in the cloned but not in the copy :/

I continue to explore what could be the source of the issu

[2020-05-05 15:07] cpfeiffer94 commented on #155
Thanks for pointing this out @jplyue was almost getting crazy about the new Firebase Tools Version not working with our corporate Proxy anymore.

[2020-05-05 15:15] Pitouli commented on #2207
Ok, since it was working on my duplicated project, I decided to remove all the nodes_modules from my main one and reinstall them fresh.

Now, it works.

I do not understand why this error happened, but since it's a dev tool, I would say that it is not so important if the error is rare and the solution easy. So I close this issue.

[2020-05-05 15:15] #2207 closed

[2020-05-05 15:26] samtstern commented on #2069
Fixed in #2202 and will be included in the next release!

[2020-05-05 15:26] #2069 closed

[2020-05-05 15:31] samtstern commented on #2207
@Pitouli glad you fixed it!  This error can happen when you have multiple versions of gRPC libraries in your node_modules.  gRPC has a C++ implementation and sometimes passing objects (like Credentials) between versions does not work.

The good news is that almost all of Google's Node.js libraries have moved to `grpc-js` which is a pure JS implementation so eventually this kind of error should dis

[2020-05-05 15:44] IchordeDionysos opened #2209 "Testing collection group queries always succeeds"
The @firebase/testing library won't handle collection group queries properly.

### [REQUIRED] Environment info

**firebase-tools:** 8.2.0

**Platform:** macOS

### [REQUIRED] Test case

See the attached ZIP
[firestore-collectionGroup-emulators-test.zip](https://github.com/firebase/firebase-tools/files/4581849/firestore-collectionGroup-emulators-test.zip)

### [REQUIRED] Steps to reproduce

**fires

[2020-05-05 16:00] AAverin opened #2210 "firebase serve should assert node version"
### [REQUIRED] Environment info

**firebase-tools:** 8.2.0

**Platform:** MacOS

`firebase serve --only functions` should assert node version for local environment.
I have written a lot of code by mistake running node12. Now that I need to run it in node8, I have to fix a lot of issues.

[2020-05-05 16:01] IchordeDionysos commented on #2209
@samtstern I've filed the issue about testing collection group queries as you suggested in the email.

[2020-05-05 16:05] samtstern commented on #2209
@IchordeDionysos thanks!

@yuchenshi can you take a look?  Also if you want me to move this to the Firebase JS SDK repo I can.

[2020-05-05 16:06] samtstern commented on #2210
@AAverin `firebase emulators:start` will warn you about this difference and in general if you're doing Functions development it's better to use `emulators:start` than `serve`.

Does that work for you?  I think a hard assert is too harsh, in most cases the code will run fine on a different version.

[2020-05-05 16:11] AAverin commented on #2210
@samtstern I think it should be at least a warning then

[2020-05-05 19:55] mieliespoor commented on #2187
This seems to be the same issue as in #2019

[2020-05-05 20:17] samtstern commented on #2187
@mieliespoor you're right they are the same issue, thank you for noticing!  Let's use #2019 since it was first.  Closing as a duplicate.

[2020-05-05 20:17] #2187 closed

[2020-05-05 20:18] samtstern commented on #2019
@abeisgoat we now have two reports of this from different Windows users.

[2020-05-05 20:46] samtstern commented on #2163
@olivierkrener thanks for the info.  So it seems like after ${some long amount of time} we somehow lose access to the debug logs and operations start to randomly fail.

I want to set the right expectations here: this sounds incredibly difficult to reproduce and I don't think it's common enough to warrant a speculatve/defensive fix.  If you see this again it would be interesting if you could check

[2020-05-05 21:06] #2112 closed

[2020-05-05 22:19] yuchenshi commented on #2209
@samtstern Please move this to the JS SDK repo and tag with `api: testing`. Thanks!

[2020-05-06 02:51] justingolden21 commented on #1988
Also having the same problem in May 2020. Removed firestore from init and it worked, but obviously that's not a solution for many people.

[2020-05-06 05:52] c13n-io commented on #803
Is this documented?

[2020-05-06 07:01] nascode commented on #1940
Got same problem, solved by installing gcloud sdk then running

`gcloud auth application-default login`

I think firebase cli login should be enough to allow local testing using serve & shell.

[2020-05-06 09:27] azoom-n-d-hoang commented on #2183
@samtstern i did extactly what you said above. But when start emulator again (only firestore) with data export from previous step, then firestore is empty. [here](https://github.com/azoom-n-d-hoang/emulator-demo) is my code and detail description

[2020-05-06 09:58] olivierkrener commented on #2163
Not exactly. The behavior is that after the emulator has been running for some time, any other CLI command will fail due to the error above, meaning the CLI cannot write to the log anymore. As soon as the emulator is stopped, it works again. So it seems that after running for some time the emulator somehow takes an exclusive lock on the log file.

There is a straight forward workaround: stop the e

[2020-05-06 11:21] RomanGalochkin commented on #478
Are here some updates?

[2020-05-06 12:18] samtstern commented on #2183
@azoom-n-d-hoang if import/export is not working for you please file a new issue.

[2020-05-06 12:54] samtstern commented on #2210
@AAverin here's what we show today when I am using Node v10 locally but my `package.json` requests Node 8 (the default):

[code]

Do you have any suggestions for how to improve the warning or should we close this issue?

[2020-05-06 13:02] AAverin commented on #2210
No, I was talking more about `firebase serve --only functions` that I was using before.
Probably I better switch to emulators

[2020-05-06 13:02] #2210 closed

[2020-05-06 13:04] samtstern commented on #1940
@nascode @filipesilva thanks for your inputs.  This is one of the things I really want to fix in the emulators but as you can see here it's very hard to get right and I don't want to make any breaking changes.  But I want to let you know I am thinking about it.

[2020-05-06 15:11] xalikoutis opened #2212 "Integrate remote config actions upload/download/clone to cli"
As  a mobile engineer, in many cases, i have to make lots of edits in remote config through firebase web app and in similar apps i have to renter the same remote configs.

So i order to automate the above i have created my own curl based bash scripts that download/ upload remote config and also clone them between projects.

I could make an API command proposal and implementation if you are interes

[2020-05-06 18:21] sadhon opened #2215 "[v13.0.0 Blocker] Refactor `functions:shell` to not use request"
I am trying to run "npm install -g firebase-tools" command on linux OS but it gives me the above error every time.On the other hand when I try to run "npx create-react-app app-name" command, it works fine. I searched the solution on the internet but did not find any acceptable solution. Is there any way to fix this problem.

[2020-05-06 18:28] samtstern commented on #2215
@sadhon thanks for reporting this!  The `request` module is [one of the most popular libraries](https://www.npmjs.com/package/request) in the whole ecosystem so the deprecation has hit almost everyone, including us.

@bkendall is already working on removing `request` from `firebase-tools`.

Right now you do not need to worry about this, it's not a security vulnerability and we expect it to be fixe

[2020-05-06 19:14] viveksinghmehta commented on #2069
The new sha certificate adding command is not working showing error of firebase command not exist

[2020-05-06 19:22] samtstern commented on #2069
@viveksinghmehta we have not published a new release of the CLI so this command is not released yet.  Please be patient, this is the 4th time you have posted the same question on this issue and it is spamming other people who are interested in this feature.

[2020-05-06 22:19] lkj19zpdiDDe commented on #653
I ended up building a small script to build packages for me. While this reflects some particulars of my environment like using modules and my package names matching my directory names, I hope it's useful for others.

[code]

[2020-05-07 01:03] #2165 closed

[2020-05-07 01:06] Pitouli opened #2217 "firestore:delete error in Emulator : does not ignore firestore.rules"
### [REQUIRED] Environment info

**firebase-tools:** 8.2.0

**Platform:** Mac

### [REQUIRED] Test case

Create a callable function executing the following function.

[code]

Run functions and firestore using the emulator.

### [REQUIRED] Expected behavior

The collection of contacts should be deleted.

### [REQUIRED] Actual behavior

Normal log:

[code]

Log with --debug flag:

[code]

IMPORTANT

[2020-05-07 01:49] hoangofHUST opened #2218 "Firebase emulator export doesnt work"
**firebase-tools:** 8.2.0
**Platform:** macOS, Ubuntu 19.10

### Step to reproduce
Following [that comment](https://github.com/firebase/firebase-tools/issues/1167#issuecomment-599410243). In `termial 1`, start firebase emulator with
[code]
Then use API connect to that firestore, add some docs. At first, firestore is empty, now it has some. In `terminal 2` call firebase emulator export with command

[2020-05-07 13:14] samtstern commented on #2217
@Pitouli thanks for filing this!  This has actually already been fixed by this PR:
https://github.com/firebase/firebase-tools/pull/2211

The fix will be included in the next release of the CLI (hopefully soon)

[2020-05-07 13:14] #2217 closed

[2020-05-07 13:46] voxelbusters commented on #2027
Any thing planned related to this feature?

[2020-05-07 13:47] manwithsteelnerves commented on #2027
@yuchenshi Can you please let us know if anything planned related to this feature?

[2020-05-07 14:02] samtstern commented on #2218
@hoangofHUST thanks for the excellent steps to reproduce!  I cloned your repo and then ran this command:

[code]

I was able to see some data in the `users` collection such as `/users/l.x.duy@azoom.jp` so it seems to be working for me.

Does that fail for you?  Is there something I am missing?

[2020-05-07 14:06] samtstern commented on #2218
Ah I see here you are using the firebase testing SDK inside your express app:
https://github.com/hoangofHUST/firebase-emulator-export/blob/master/firestore.js#L1

This SDK is only recommended for unit tests.  Instead you want to connect your app to the emulator in one of two ways.

**1) Admin Node.js SDK**
If you're connecting from your server just use `firebase-admin` and make sure you set the `F

[2020-05-07 14:16] hoangofHUST commented on #2218
@samtstern i wanna use emulator for unit test. I wanna start emulator with some data from the beginning like seed data not call api to create. Any idea?

[2020-05-07 14:18] samtstern commented on #2218
@hoangofHUST I see in your test code you're doing this:`{ projectId: "staging-bengal" }`

Are you starting the Firestore emulator with the same project?  See if adding `--project=staging-bengal` to your `emulators:start` command helps.

Each `projectId` is a separate database but import only supports a single projectId.

[2020-05-07 14:19] samtstern commented on #2218
Ah actually I can see here that `default` is a different project:
https://github.com/hoangofHUST/firebase-emulator-export/blob/master/.firebaserc

So that would explain it!

[2020-05-07 14:56] azoom-n-d-hoang commented on #2218
thank so much. that is it @samtstern

[2020-05-07 14:57] hoangofHUST commented on #2218
@samtstern thank you so much. That it is

[2020-05-07 14:57] #2218 closed

[2020-05-07 14:58] samtstern commented on #2218
Glad we could solve it!  Thanks again for providing so much detailed information.

[2020-05-07 16:26] adik69 opened #2220 "Firebase CLI Anonymous Login"
Hey Firebase Team,

I searched all over the internet from past two Days . I still can't find Anonymous Login through Firebase CLI.
This feature is used in other platforms
Authenticating with Anonymous login with javascript
Authenticating with Anonymous login with android
Authenticating with Anonymous login with ios

But I couldn't found anything about "Authenticating with Anonymous login with fire

[2020-05-07 16:44] samtstern commented on #2220
@adik69 anonymous login is part of Firebase Auth.  Firebase Auth is for **users** of Firebase applications.

The Firebase CLI is for **developers** of Firebase applications.  There is no concept of anonymous auth here.  You can only authenticate as the project developer (`firebase login`) or as a Google Cloud service account (with `GOOGLE_APPLICATION_CREDENTIALS`).

[2020-05-07 16:44] #2220 closed

[2020-05-07 17:51] sk- commented on #2027
@yuchenshi we just got bitten by this.

We deployed a quick fix, which actually broke later in production due to the missing index. Note that that part of the code was tested, so it'd be great if the emulator had the same behavior as production.

[2020-05-07 18:23] yuchenshi commented on #2027
@manwithsteelnerves While we don't share timelines and cannot commit to any plans, but I do want to let you know that we hear you and real pain points (including the latest one shared by @sk- ) helps a lot driving our internal discussion. It's a technically challenging and involved feature for sure to get the index semantics match production, but that doesn't mean we're not considering / doing it.

[2020-05-07 20:34] samtstern opened #2221 "requireAuth does not properly handle invalidated token"
### [REQUIRED] Environment info

**firebase-tools:** all

**Platform:** all

### [REQUIRED] Test case

Googler's need to run `firebase login --reauth` every day.  However `requireAuth` only checks if `configstore` has a `user` entry, not if the tokens are still valid.

The result is when you run `firebase init emulators` or any other auth command you get:
[code]

It would be good if `getAccessToke

[2020-05-07 20:36] samtstern commented on #2221
@bkendall @mbleigh does either of you know more about how Googler auth works and how we can detect this state?  I also don't want to add a check in the happy path of every single authed command just to make Googlers happy.

[2020-05-08 10:08] aaron-ikb commented on #2051
Is there a list that shows what Firebase Hosting supports? It's confusing because it is inconsistent with the official Google Cloud Run location list: https://cloud.google.com/run/docs/locations

[2020-05-08 10:18] merlinnot commented on #2051
From https://firebase.google.com/docs/hosting/full-config#direct_requests_to_a_function:

[2020-05-08 10:23] aaron-ikb commented on #2051
So the Functions restrictions also apply to _Cloud Run_? I don't see documentation for that.

[2020-05-08 12:26] merlinnot commented on #2051
To the best of my knowledge - yes. Firebase Hosting originates in `us-central1`, that's why back end services must be deployed there too.

[2020-05-08 15:04] harrismendell commented on #1988
I got this problem and I *did not* ever put datastore into "datastore" mode.

[2020-05-08 15:08] samtstern commented on #1988
Hey everyone we have been digging into this over the past day or two and there's clearly an issue within the Firebase console.  It seems that some old projects in which Firestore was never used are being marked as having Firestore in Datastore Mode (rather than having nothing).

It's not something you need to worry about (you can just switch it over) but it is something we want to fix quickly beca

[2020-05-08 15:29] samtstern commented on #2212
@xalikoutis want to briefly sketch out the API here and we can discuss?

cc @kroikie

[2020-05-08 15:31] samtstern opened #2224 "Allow emulators to export on exit"
Originally requested through FIrebase support, there is some demand for a flag like this:
[code]

This would import from a location but save any mutations made on exit.

[2020-05-08 16:49] xalikoutis commented on #2212
[code]

[2020-05-08 21:57] bean5 commented on #181
@oluckyman I suppose that would work, but I think that functionality was mainly for use by servers/bots. Also, do you have to log in to the other account each time? I think the main reason this was opened was because some people get tired of logging in over and over again.

For example, I use a different browser for each client. Each password is unique and strong (very long). I definitely do not m

[2020-05-09 00:27] #2203 closed

[2020-05-09 00:28] bkendall commented on #2221
I _probably_ know enough? There's a work-around, but it's not perfect. We might be able to capture something in the response that lets us know we need to reauth, but that will still require a new auth flow, I think.

[2020-05-09 10:39] aaron-ikb commented on #2051
@merlinnot I don't think that's correct. Firebase Hosting hosts static files using a global CDN, although how it does routing to Cloud Run is not completely clear to me.

So to answer my own question, I literally just changed my `firebase.json` file to see what regions are available based on the error messages. Hopefully someone finds this useful.

# Firebase Hosting to Cloud Run rewrite availabil

[2020-05-09 11:30] merlinnot commented on #2051
Hm, that's right. You can actually specify a region in Firebase Hosting for Cloud Run, didn't know that.

[2020-05-09 14:42] olivierkrener opened #2227 "Firestore emulator - WriteBatch.Set ignoring {merge: true} when using FieldValue.increment"
### [REQUIRED] Environment info

**firebase-tools:** 8.2.0

This is working if I am using @firebase/testing@0.16.14
But not with the latest @firebase/testing@0.19.3

**Platform:** Windows 10

### [REQUIRED] Test case

Updating a document with FieldValue.increment using a batch via the set function and the {merge: true} option fails. Looking at the logs it seems it is ignoring the option and trying

[2020-05-09 19:44] QuantumInformation opened #2228 "Error: It seems that you are running multiple instances of the emulator suite"
### [REQUIRED] Environment info

8.2.0
**firebase-tools:**

**Platform:**
Macos
### [REQUIRED] Test case

https://github.com/QuantumInformation/svelte-fullstack-starter

### [REQUIRED] Steps to reproduce

Run `firebase emulators:start` at the root of the above url
### [REQUIRED] Expected behavior
emulator to start

### [REQUIRED] Actual behavior
the following output

![image](https://user-images.g

[2020-05-10 09:12] olivierkrener commented on #2227
Now I am wondering where does this issue belong? Here or https://github.com/firebase/firebase-js-sdk/issues?

[2020-05-10 12:37] cjmyles commented on #2198
@samtstern @abeisgoat Any ideas?

[2020-05-10 13:46] olivierkrener commented on #2227
Closing for now at it definitely belongs to the Firebase JS SDK

[2020-05-10 13:46] #2227 closed

[2020-05-11 03:43] abeisgoat commented on #2198
Will take a look this week and report back. I'm not familiar with the differences between `yarn` and `yarn@2` so it'll take a moment I'm sure

[2020-05-11 11:10] audkar commented on #2228
Same on Linux with `firebase-tools:8.2.0`

#### Start/Stop all emulators command shows warning after repeated use.
If I run `firebase emulators:start` for the first time I see normal expected output:
[code]
But then I press `CTRL+C` seems that some resources are not cleaned-up (no msg about stopping emulators)

If I try to run `firebase emulators:start` for the 2nd time I see output with warrning:

[2020-05-11 11:13] QuantumInformation commented on #2228
I restarted my system and this error went away, close ticket?

[2020-05-11 11:14] audkar commented on #2228
No. Run `firebase emulators:start` two time and you will get this warrning again

[2020-05-11 11:20] QuantumInformation commented on #2228
worked ok this time

![image](https://user-images.githubusercontent.com/216566/81556196-360fda80-938a-11ea-9d05-9cbd296ca59c.png)

[2020-05-11 12:46] oluckyman commented on #181
@bean5 You have to login to get the token once. Then you provide token to any command and it runs as if you logged in to another account. No need to relogin.

[2020-05-11 12:50] samtstern commented on #2228
@audkar it seems that the real bug in your situation is Ctrl+C is not always causing a clean shutdown.

@QuantumInformation what happens is each time you start up the emulator hub it writes a "locator" file to `/${os.tmpdir()}/hub-${projectId}.json`.  So on a linux machine that might be `/tmp/hub-project123.json`.  It uses this file so that cross-process commands like `emulators:export` can find e

[2020-05-11 13:04] audkar commented on #2228
@samtstern Jup. To summarize my previous comment:
1. Pressing `CTRL+C` on `firebase emulators:start` command exits instantaneously (without printing `emulators: Shutting down emulators. <...>`)
2. Pressing `CTRL+C` on `firebase emulators:start --only functions,firestore,database` prints `emulators: Shutting down emulators.` message and takes a second to exit to shell.

Is this not reproducible on

[2020-05-11 13:13] audkar commented on #2228
Oh. I see. On my project `hosting` emulator doesn't start. I issue `CTRL-C` command before
[code]
And then state is not cleared properly. Next time I try to start emulators I get that warning `It seems that you are running multiple instances`

[2020-05-11 15:42] samtstern commented on #2172
@Albertbol that is just not enough information to go on, you'll need to provide logs at least and the code to match it.  If you consider logs/code too sensitive then unfortunately we can't help you in this public forum.

[2020-05-11 15:50] samtstern commented on #2228
@audkar oh wow you're totally right, thank you for figuring this out!  I will send a PR to fix this.

[2020-05-11 15:53] samtstern commented on #2228
Oh wait I spoke too soon.  I cannot reproduce this on my computer (I thought I could, but it was an error on my side).  I am able to shut down cleanly with or without `--only`

[2020-05-11 16:19] audkar commented on #2228
@samtstern Yes `--only` option is not relevant in this case. If emulators start-up sequence is interrupted with `CTRL-C` before all emulators are started successfully:
[code]
then state is not cleared properly.

[2020-05-11 17:32] samtstern commented on #2228
Have a fix going here:
https://github.com/firebase/firebase-tools/pull/2230

[2020-05-11 21:09] QuantumInformation commented on #1541
I've used the functions framework quite a bit and talked to Grant:

https://learn.nikoskatsikanis.com/episodes/grant-timmerman
https://learn.nikoskatsikanis.com/episodes/grant-timmerman-2

and youtube: https://youtu.be/isN_-Ug6RLI?t=42

I guess its two different teams and way of thinking with some overlap so I guess it's hard to make a local debugging solution for everything. I'll read all the thr

[2020-05-11 21:17] QuantumInformation commented on #1541
Ok, found out I just need --inspect-functions

Nice one guys!

Just in my testing I was hitting a snag:

1  started:

![image](https://user-images.githubusercontent.com/216566/81612571-5917aa00-93dd-11ea-867f-cbc12707ae8a.png)

2  set a breakpoint in chrome:
![image](https://user-images.githubusercontent.com/216566/81612650-72b8f180-93dd-11ea-8305-c063228483dc.png)

3: hit the api, but it failed:

[2020-05-11 21:48] QuantumInformation commented on #1360
At the risk of sounding stupid if functions are running on

✔  functions: functions emulator started at http://localhost:5002

Then my local endpoint is just this change?
![image](https://user-images.githubusercontent.com/216566/81615484-f70d7380-93e1-11ea-9e0f-0abbd22e03d1.png)

[2020-05-11 22:18] samtstern commented on #1360
@QuantumInformation a local function would be at a URL like this:
http://localhost:5002/project-id/PROJECTID/FUNCTIONNAME

But a deployed function would be here:
https://us-central1-PROJECTID.cloudfunctions.net/FUNCTIONNAME

In the future please file new issues if you have new questions.

[2020-05-11 23:36] long1eu opened #2233 "The "path" argument must be of type string. Received undefined"
### [REQUIRED] Environment info

**firebase-tools:** 8.2.0

**Platform:** macOS

### [REQUIRED] Steps to reproduce
When I run `firebase deploy --only firestore:rules` I get this error:

[code]

[2020-05-11 23:44] long1eu opened #2234 "Provide a way to uninstall when using automatic install script"
There should be a way to uninstall when installing using automatic install script.

[2020-05-11 23:47] long1eu commented on #2233
I switched back to 7.16.0 and now it works.

[2020-05-11 23:58] dylangolow commented on #688
I was able to use this thread to solve my issues with Cloud Build when deploying, if anyone is looking for this later.

The Cloud Build Service Account was the account I added permissions to, which altogether included these to end up with a successful build and deploy:
* Cloud Build Service Account
*** Cloud Functions Admin**
* Service Account User
*** Cloud RuntimeConfig Admin (pre-release state)

[2020-05-12 07:45] QuantumInformation commented on #1360
Sure, thanks for clearing this up

[2020-05-12 09:53] islam-Ellithy commented on #77
In windows
You can use terminal of vscode ,it works like a sharm

[2020-05-12 12:24] samtstern commented on #2233
@long1eu can you show me your `firebase.json` file?

[2020-05-12 12:26] long1eu commented on #2233
@samedson So glad you got the Google job.

here it is:
[code]

[2020-05-12 12:34] samtstern commented on #2233
@long1eu this looks a bit similar to #2112 even though I hope it's not related.  A few more questions:

- Do both `firestore.rules` and `firestore.indexes.json` exist in the same directory as your `firebase.json` file?
- Do you have a `functions` directory?  If not can you run `firebase init functions`?

[2020-05-12 12:37] long1eu commented on #2233
1. they are in the same directory
2. I don't have a functions directory

[2020-05-12 12:53] samtstern commented on #2233
@long1eu ok did you try running `firebase init functions`?  or you could remove the `functions` part of your `firebase.json`.

[2020-05-12 12:58] long1eu commented on #2233
I remove the `functions` from `firebase.json` and it works. Thank you so much

[2020-05-12 13:01] samtstern commented on #2233
@long1eu ok gonna mark this as a duplicate of #2112 then!  Glad it's working for you.

[2020-05-12 13:01] #2233 closed

[2020-05-12 19:17] QuantumInformation opened #2235 "URL for local debugging vs production"
I am running the emulator successfully with `firebase emulators:start --only functions --inspect-functions` and have changed my base path

`https://us-central1-svelte-fullstack-starter.cloudfunctions.net`
into
`https://localhost:5002/svelte-fullstack-starter/us-central1`

but it fails with net::ERR_SSL_PROTOCOL_ERROR

![image](https://user-images.githubusercontent.com/216566/81662353-be02ec80-943d

[2020-05-12 19:19] samtstern commented on #2235
Emulator URLs are not `https` they're just `http`, so try changing that.

[2020-05-12 19:19] #2235 closed

[2020-05-12 19:32] QuantumInformation commented on #2235
Thanks that worked, I have a new error which I will add to new question if I can't figure it out.

[2020-05-12 19:41] QuantumInformation commented on #1342
Not sure if this is the same issue but if I try Access this with the emulator
[code]

I end up with

Access to fetch at 'http://localhost:5002/svelte-fullstack-starter/us-central1/listUsers' from origin 'http://localhost:5001' has been blocked by CORS policy: No 'Access-Control-Allow-Origin' header is present on the requested resource. If an opaque response serves your needs, set the request's mod

[2020-05-12 20:17] samtstern commented on #1342
@QuantumInformation this issue was filed about version `6.10.0` but the latest is two major versions after that (`8.1x.x`).  If you can reproduce this on the latest release please file a new issue,

[2020-05-12 20:27] QuantumInformation commented on #1342
ok, sorry if I dug up a can of worms

[2020-05-12 20:33] QuantumInformation opened #2236 "v8.2 cors error when accessing emulated function"
### [REQUIRED] Environment info

8.2

**firebase-tools:**

**Platform:**
MacOS
### [REQUIRED] Test case

Run `firebase emulators:start --only functions --inspect-functions` on this project

https://github.com/QuantumInformation/svelte-firebase-starter/blob/master/functions/src/index.ts#L30

### [REQUIRED] Steps to reproduce

If I try to access this from my local app with function served by the emu

[2020-05-13 01:33] tanjc-ollie commented on #1905
"functions/lib/index.js does not exist", you need to change the "main" option in package.json in functions folder, to match the real index.js location.

[2020-05-13 07:20] manwithsteelnerves commented on #2027
As I see it may take more time, I ended up creating 139 manual indexes for my project for all possible test cases. Hopefully, there will be a better solution through emulator workflow!

[2020-05-13 07:34] ishara28 commented on #1679
How you fixed that?

[2020-05-13 09:56] adiazarya100 opened #2237 "Write back from local web application to the local emulator firestore database is not working"
### [REQUIRED] Environment info
firebase-tools: 8.2.0

**Platform:** macOS

### [REQUIRED] Test case
Having a project with imported data from my production bucket.
I start the emulator with:
firebase emulators:start --only functions,firestore --inspect-functions --import=MY_DIR
I can see the data in my web application.
When I try to write back to the emulator the request is **pending forever**

Mo

[2020-05-13 13:48] samtstern commented on #2237
@adiazarya100 thanks for filing this issue (I saw your StackOverflow post as well).  Can you show the content of the `firestore-debug.log` file?

[2020-05-13 14:08] #2185 closed

[2020-05-13 19:12] #2228 closed

[2020-05-13 19:21] samtstern commented on #2236
@QuantumInformation I can't reproduce this.  I created a brand new project with the Firebase Hosting and Functions emulators and wrote these functions:

[code]

Then I wrote this code on the page:
[code]

When I run it I only get errors from `withoutCors` not `withCors` so this is not a bug in the emulators:
<img width="574" alt="Screen Shot 2020-05-13 at 3 20 35 PM" src="https://user-images.githu

[2020-05-13 19:21] #2236 closed

[2020-05-13 19:22] samtstern commented on #2236
@QuantumInformation if you're able to reproduce this with an empty project let me know.

[2020-05-13 19:48] QuantumInformation commented on #2236
I was testing a different function on my project and I was getting no cors errors:

https://github.com/QuantumInformation/svelte-firebase-starter/blob/master/functions/src/index.ts#L16

I will keep testing my app.

[2020-05-13 20:26] yuchenshi commented on #2197
I can now reproduce this against the Firestore emulator and I have a smaller repro that does not use Firebase Auth. Let me dig more into the the Firestore emulator to see why rules are evaluated that way.

[2020-05-13 21:14] QuantumInformation commented on #1940
So this morning i managed to add this to my shell

`export GOOGLE_APPLICATION_CREDENTIALS="~/svelte-fullstack-starter-9a3b3faddda9.json"`
and my functions ran relatively well.

However now when I run the emulation I am getting
[code]
I haven't changed anything in my home dir

![image](https://user-images.githubusercontent.com/216566/81866398-6c5a7f00-956f-11ea-9fb6-aac933035a47.png)

[2020-05-14 04:26] praveensharma8989 commented on #2069
When it will release please provide ETA.

[2020-05-14 12:41] adiazarya100 commented on #2237
Hi @samtstern
Sorry, I forgot to add my debug log.
here it is:

[code]

[2020-05-14 17:18] MathBunny opened #2238 "Creating function requires two consecutive firebase deploy's, inaccurate error reported"
I am suspecting this is the cause:

### [REQUIRED] Environment info

**firebase-tools:8.2.0**

**Platform: Linux (gLinux)**

### [REQUIRED] Test case

Default setup, with the following function:
[code]

### [REQUIRED] Steps to reproduce

[code]

### [REQUIRED] Expected behavior

Function is created successfully in one go, or the appropriate function is outlined with the error (not having to supply

[2020-05-15 14:28] dnhyde commented on #406
@Md-Abdul-Halim-Rafi

Worked for me, I can see the config var with `firebase functions:config:get`. It did not work the first time because I was not in the project folder and did not select the firebase project on which to set the config variable, to select the firebase project use `firebase use --add`, the CLI will prompt you with the list of projects on your firebase console (assuming you are lo

[2020-05-15 15:25] GoMino commented on #1450
we are using firebase functions in a monorepo, we cannot change the node js version used because of other packages in the monorepo.
The current behavior is a real limitation.

My current workaround the issue for now  (thanks to [npe](https://github.com/zeke/npe)), is using the following `deploy` script:
[code]

[2020-05-15 16:24] mbleigh commented on #1450
Thanks for the detailed report of why this is a problem. I'm proposing the following be allowed in `firebase.json`:

[code]

This would supercede whatever is declared in the "engines" field in `package.json` and so would (I think) fix the issue. How does that sound to folks?

I need to get this approved through the internal API review process, and I'm not sure when exactly we'll be able to free so

[2020-05-15 16:42] GoMino commented on #1450
Not sure I understand correctly, with your proposal would the engines field in the package.json file still be required ?

[2020-05-15 16:49] mbleigh commented on #1450
With my proposal if you specify `runtime` in `firebase.json`, the CLI wouldn't check or care about your `engines` field in `package.json` so you could leave it blank, set it to a range, whatever you want to do.

[2020-05-15 16:55] GoMino commented on #1450
Sounds good to me!

[2020-05-15 16:56] quentinvernot commented on #1450
Sounds perfect!

[2020-05-15 20:09] quentinvernot commented on #1450
PR sent: https://github.com/firebase/firebase-tools/pull/2241

[2020-05-15 23:37] gdieguez opened #2242 "Make --except flag work for individual functions and groups"
Currently the `--except` flag only works for targets, unlike the `--only` flag which works for groups and individual functions as well. I know that a somewhat equivalent behavior can be achieved by grouping functions, but in our case there's a bunch of functions for which changing names is unfeasible, since they're used by multiple clients, so we don't want to put them in a group. Thus, currently

[2020-05-16 01:34] yuchenshi commented on #2197
Fix coming in the next release.

[2020-05-16 06:13] krishnakanthpps commented on #1796
@P4z  How did you get it work?

[2020-05-16 16:35] QuantumInformation commented on #1940
want me to open a new issue for this ^?

[2020-05-16 17:14] JerryGoyal opened #2243 "firebase deploy painfully slow due to API cloudscheduler.googleapis.com which is not even required"
There's no job scheduler in cloud scheduler then why firebase cli is showing `required API cloudscheduler.googleapis.com is enabled` whenever I deploy any function? And it's taking upto a minute to finish this required API..is enabled task.

![image](https://user-images.githubusercontent.com/7106086/82125775-de2c0600-97c5-11ea-9faf-0e11ed412dc0.png)

Command: `firebase deploy --only functions`

Ou

[2020-05-16 22:02] atlanteh commented on #181
Hi all, I created a small cli helper that leverages login:ci to allow using multiple accounts on one machine. If you want, you're welcome to use it, and I'd love for some feedback and ideas :)
It's called [firebase-multi](https://github.com/atlanteh/firebase-multi) and it's pretty easy to use:

1. Install this module globally by running `yarn add -g firebase-multi` or `npm i -g firebase-multi`
2.

[2020-05-17 05:20] cvharris commented on #387
@imMarkdeVries I believe it's due to gRPC not handling Mac self-signed certs well. This is especially a problem with companies that require all employee devices to have their own security certs for decrypting traffic. It's not clear how to have gRPC trust certs on a per-device basis.

[2020-05-17 18:29] tharinduvindula commented on #2126
same hear

i  deploying hosting
i  hosting[eclassstudent]: beginning deploy...
i  hosting[eclassstudent]: found 15 files in dist
⠋  hosting: uploading new files [0/2] (0%)
Error: Task 3e7c89812bf4fd87f9db14f54068690ed64b8be5e64316c9703f9616bef0b00e failed: retries exhausted after 6 attempts

my site is 3.64 Mb

[2020-05-17 18:47] khaled6mmd commented on #2126
Firebase init

Firebase init
Then change the path to public
Try to deploy again it will deploy but this isn't what you want
Firebase init again and change the path back to your website
Then try to deploy, works for me every time

[2020-05-17 20:43] PeterBocan commented on #1988
What's the difference between Native mode and Datastore mode?

[2020-05-17 21:41] tharinduvindula commented on #2126
my case solve when i Firebase init again and again

[2020-05-17 23:48] Meglali20 opened #2244 "CLI authentication needs to be updated Error when deploying"
Hi,
So I have a probleme using travis when I want to deploy my repo from github, I get this error in travis "⚠  Your CLI authentication needs to be updated to take advantage of new features.
⚠  Please run firebase login --reauth"
This is my .travis.yml
--------------------
language: node_js
node_js:
  - "14.2.0"
script:
  - echo "Deploying..."
install:
  - npm install -g firebase-tools
after_succe

[2020-05-18 07:00] sinapis commented on #1880
Having the same problem. I called adminSdkConfig, and it seems the problem is that the locationId is missing. this is the response i get:

`{
  "projectId": "solid-scheme-272409",
  "databaseURL": "https://solid-scheme-272409.firebaseio.com",
  "storageBucket": "solid-scheme-272409.appspot.com"
}`

Is there a workaround for this issue?

[2020-05-18 11:10] PaperMonster commented on #1232
I solved mine by making sure:
1. **.firebaserc** must have `targets.<PROJECT_ID>.hosting.<TARGET_NAME> = [ "<HOST_ID" ]`
[code]
The `targets` part can be generated using command `firebase target:apply hosting my-blog my-blog-host-id`

2. **firebase.json** must have `hosting` as an array, and its item must have `target: <TARGET_NAME>`

[code]
The important part is making `hosting` an array, and add

[2020-05-18 11:15] jojonarte commented on #1352
@rodelrebucas nice

[2020-05-18 12:48] red42 commented on #1647
Seems to be fixed. Thank you!

[2020-05-18 12:48] #1647 closed

[2020-05-18 15:22] bkendall commented on #2243
Thanks for the report.

I'm fairly certain that the CLI isn't waiting on the API to be enabled - that is a very fast endpoint and operation. The function being updated is the longer operation that is happening, it just happens to be that the cloud scheduler API line is the last one that's printed before the update of the actual function completes.

I'll triage this over to the Functions folks to t

[2020-05-18 16:30] katowulf commented on #2244
On your computer, ensure you have the latest version of `firebase-tools`: `npm i -g firebase-tools`

run `firebase login --reauth` and then `firebase login:ci` to generate a new token. Replace `$FIREBASE_TOKEN` with the updated token.

[2020-05-18 16:35] davigp commented on #1738
I'd like to debug and test a storage function `onFinalize`, but seems it still not possible:

How can I debug a `onFinalize` function locally without the storage emulator?
Is there any way to create unit tests for storage functions?

[2020-05-18 16:43] Meglali20 commented on #2244
Hi @katowulf thank you for your reply, I already tried that and did try it again now I still get the same error!

[2020-05-18 16:46] samtstern commented on #1738
@davigp you can use `functions:shell` to test those functions interactively or you can use the `functions-testing` library to write unit tests.

[2020-05-18 17:05] JerryGoyal commented on #2243
that could be the case but why cloud scheduler API is being enabled at the first place? I dont need it.

[2020-05-18 17:28] samtstern commented on #1988
@PeterBocan completely different API surface and features:
https://cloud.google.com/datastore/docs/firestore-or-datastore

[2020-05-18 17:34] joehan commented on #2238
Hey @MathBunny, I chatted with Bryan about this last Friday, not sure if it reached you. You're absolutely right about the cause of this issue - on function creation, the CLI makes a call to IAM to try to make your new function public. That call is failing due to your org policy, so the function ends up being created but staying private. The next deploy succeeds, because it is updating the functio

[2020-05-18 17:35] bkendall commented on #2243
Firebase Functions have a "scheduled function" feature which can be used to automatically run functions at intervals. Likely, the code is being broad about when it makes sure that API is enabled than it may need to be - unsure off the top of my head why that would be the case. Joe will be able to dig into it a bit and figure out if action needs to be taken.

Do you recall when the switch happened?

[2020-05-18 19:03] nicoqh commented on #1109
Ideally, the site names shouldn't be added to `firebase.json`. If you use different Firebase projects for staging and production (as recommended by Firebase), having the site names hardcoded in `firebase.json` poses a problem when you switch between projects with `firebase use <projectName>`. Site names are unique across projects; no matter which project you `use`, deploys are made to the same sit

[2020-05-18 19:34] JerryGoyal commented on #2243
I was in middle of enabling and implementing google scheduled functions for my project but couldn't figure out how to implement properly so I stopped. Later, when I started seeing the `Required API..` in logs I cross-verified that there's no left over scheduled function running in my project and there isn't (I attached the screenshot also in my post).

[2020-05-18 19:48] samtstern commented on #1940
@quantuminformation try using `$HOME` instead of `~`.  If that doesn't work then open a new issue, yeah,

[2020-05-18 19:57] MathBunny commented on #2238
Thanks for following up!

[2020-05-18 20:00] samtstern commented on #2069
This feature has been released in `8.3.0` thanks to @xalikoutis for the contribution and to everyone for the discussion!

[2020-05-18 20:03] samtstern commented on #2237
@adiazarya100 thanks for the extra logs!  This looks like it's a bug in the Firestore emulator, it's saying the proto is invalid but that shouldn't be possible for a request coming from the SDK.

@yuchenshi hopefully can look into it or re-assign.

[2020-05-19 02:14] abeisgoat commented on #2234
Agreed. It's on the list.

[2020-05-19 07:16] actuallymentor commented on #1483
I'm running into the same error. Is there debug info I can provide that is useful?

[2020-05-19 08:23] cjmyles commented on #2198
@abeisgoat did you get a chance to take a look? Yarn 2 is a life saver for me in terms of the transitive dependency resolution feature - I have a core React library that can be imported into multiple other React projects no problem, all running within Workspaces. The missing piece of the jigsaw is getting Firebase to run properly in the same setup, so any help would be greatly appreciated.

[2020-05-19 12:00] lborgman commented on #1360
When trying to use "firebase emulators:start" it did not work. I notice two things:

1) The docs at https://firebase.google.com/docs/rules/emulator-setup says I should use the latest Node.js. Is that correct?

2) The docs point me to https://www.oracle.com/java/technologies/javase-downloads.html while the CLI said I should go to https://openjdk.java.net/install/. Which one is correct?

[2020-05-19 12:06] lborgman opened #2248 "Version 8.3.0 raises new error "TypeError: Cannot convert object to primitive value""
I just updated to 8.3.0 (from 8.2.0). I now see this error:

    at Proxy.<anonymous> (C:\MY_HOME\AppData\Roaming\nvm\v10.18.1\node_modules\firebase-tools\lib\emulator\functionsEmulatorRuntime.js:311:83)
    at Object.<anonymous> (C:\PATH_TO_MY_PROJ\functions\index.js:16:9)
    at Module._compile (internal/modules/cjs/loader.js:778:30)
    at Object.Module._extensions..js (internal/modules/cjs/loa

[2020-05-19 12:36] samtstern commented on #2248
This was a regression in `8.3.0` and will be fixed in the next release by: https://github.com/firebase/firebase-tools/pull/2247

For now the best workaround is to downgrade to `8.2.0`

[2020-05-19 12:36] #2248 closed

[2020-05-19 14:38] samtstern commented on #1360
@lborgman

1. You should use Node.js 10, I will update the docs.
2. Any version of Java will work, but thank you for showing that discrepancy,

[2020-05-19 14:39] samtstern commented on #1360
I am locking this issue as it references a fixed bug and future developers should file new issues

[2020-05-19 18:40] RandomDude123 commented on #1870
I have the same issue as @jeremy-fox. It might be caused by the app "EndpointSecurityForMac" from bitdefender  - but there is no way i can disable it on my machine to test my theory. Only way i found to run pubsub emulator is disconnect from internet before running `firebase emulators:start` and go online as soon as all emulators run.

[2020-05-19 19:42] yuchenshi commented on #2237
Would you mind updating the version of your Firestore client SDK and try again? Let me know if the new SDK version if that still fails.

Also, I'm having trouble to reproduce this and I'd really appreciate it if you can simplify your repro to something like this:

[code]

Where fields are the actual field values that you used to trigger this bug. I see you must have some Timestamps (or Dates) in t

[2020-05-19 19:58] lborgman commented on #2248
Thanks @samtstern , very nice.

[2020-05-19 20:56] bkendall commented on #2244
I'm fairly confident that that warning is not in the latest versions of firebase-tools.

Can you confirm what version of `firebase-tools` you are using in your CI system? "Probably the latest" is not sufficient in this case 🙂

[2020-05-19 22:17] decurtic opened #2252 "Version 8.3.0: Unable to load functions code. TypeError: Cannot convert object to primitive value"
### [REQUIRED] Environment info

8.3.0
**firebase-tools:**
8.3.0

Windows

### [REQUIRED] Test case

See log in Steps to Reproduce

### [REQUIRED] Steps to reproduce

On firebase version 8.3.0.
Run npm i -g firebase-tools
Installs successfully
Run firebase serve
Get following log portion:

=== Serving from 'C:\[obscured]'...

i  hosting: Serving hosting files from: public
+  hosting: Local server:

[2020-05-19 22:22] emanuelevivoli opened #2253 "Allow emulators to select TimeZone"
When I emulate my cloud functions it uses my local time zone. It would be great to run emulators by setting the TimeZone I'd like to, in order to test the system as it can be in production (I'm most interested in testing cloud functions with UTC locale set, as I think that actually firebase uses UTC in the containers and not the region locale, right ? ).

Something like:
`firebase emulators:start

[2020-05-19 22:25] bkendall commented on #2252
Duplicate of #2248

[2020-05-19 22:25] #2252 closed

[2020-05-19 22:26] Meglali20 commented on #2244
You are right! I thought by using "npm install -g firebase-tools" you get the latests version so thats why I said probably the latest...on my pc I get version 8.3.0 and on travis its 4.2.1.
Is there a command that I should specify in travis ci to make it install the latest version ?

[2020-05-19 22:55] bkendall commented on #2244
`npm install -g firebase-tools@latest` should get you the latest version. If you're getting something else on Travis, you'll need to take some time to debug that environment. If I had to guess, it's possible there's some cache that's providing an old version (but that's completely unfounded).

Since this isn't something that can be solved in this repository, I am going to close this issue. If you

[2020-05-19 22:55] #2244 closed

[2020-05-20 00:10] Meglali20 commented on #2244
I don't know why or for what reason it's still 4.2.1 !
Thanks for your help!
Isn't there a way to upload multiple files to firebase hosting when not having the files locally ?
If I do it without having the already uploaded files they get delted and only the new ones will be hosted.

![Annotation 2020-05-20 010600](https://user-images.githubusercontent.com/56823121/82390258-27828c80-9a36-11ea-9731-

[2020-05-20 00:14] Meglali20 commented on #2244
I don't know why at the end of installation it says it installed 8.3.0 but after when I check for version
I get 4.2.1 ! Thanks for your help!
Isn't there a way to upload multiple files to firebase hosting when not having the files locally ?
If I do it without having the already uploaded files they get delted and only the new ones will be hosted.
![Annotation 2020-05-20 011125](https://user-images.

[2020-05-20 00:35] bkendall commented on #2244
There may be some `firebase` command already installed on the system and that's causing a collision. The command would be resolved via the $PATH variable. You can use `which firebase` to print out what `firebase` executable is being used.

Not really - not with the CLI.

This is accurate. The intention is that the user would always have a full copy of the files to be deployed. The CLI then only up

[2020-05-20 09:09] pfiadDi opened #2255 "On firebase init - you only can choose projects where you are owner"
If I am Editor in a project I can't select the project when I init a new firebase project on my computer. I need to be an owner to select it from the list of existing projects.

Since the editor role has full access it doesn't make sense that an editor can't work on the project on his computer.

Maybe it's on purpose but I thought it's not logical and considered it a bug.

### [REQUIRED] Environme

[2020-05-20 09:57] AdamTrybus commented on #515
Are you deploying fuction in proper folder?

[2020-05-20 10:21] jotae85 opened #2256 "Firebase CLI installation fails if directory /usr/local/bin doesn't exist."
### [REQUIRED] Environment info

**firebase-tools:** doesn't apply

**Platform:** macOS

### [REQUIRED] Test case

Installation of Firebase CLI fails on macOS if the directory `/usr/local/bin` doesn't exist.

Workaround: create missing directory manually.
[code]

### [REQUIRED] Steps to reproduce

Make sure the the directory `/usr/local/bin` doesn't exist.
Run `curl -sL https://firebase.tools | ba

[2020-05-20 11:11] msyagami commented on #1796
Same issue with @P4z , but it works when you install it via npm.

[2020-05-20 12:22] samtstern commented on #2255
@pfiadDi that should not be the case, you should be able to init projects where you are Editor (as far as I know).

Can you try the API explorer for the REST API here and see if you are able to find the missing project in the REST API response (right side of the page):
https://firebase.google.com/docs/projects/api/reference/rest/v1beta1/projects/list?apix=true

That will help me determine if this

[2020-05-20 12:58] pfiadDi commented on #2255
Hi @samtstern thank's for your quick response.
I just created a new project to reproduce it and I see it in the API AND the console.
Everything works as it should - sorry perhaps I made a mistake last week when I noticed it!
I'll close this ticket.

[2020-05-20 12:58] #2255 closed

[2020-05-20 12:59] quantuminformation commented on #1940
Hmm that seems to work thanks

[2020-05-20 14:25] samtstern commented on #2253
@emanuelevivoli thanks for reporting this.  In my opinion it would be better to infer this from the function region rather than allowing the user to set it, since we want to help people get production-like behavior.

Do you agree with that?

[2020-05-20 14:58] emanuelevivoli commented on #2253
Hi @samtstern 👋, actually I think the best would be to set just UTC because, if I'm not mistaken, the cloud functions have timeZone set to UTC.
(Actually, that is what I think... but I'm not really sure about it, it's just that my functions seems to work like that.)

On the other hand, if cloud functions run in their region timezone, your option would be better (each one runs in it's own timezone)

[2020-05-20 15:15] samtstern commented on #2253
@emanuelevivoli ok I think we're on the same page.  Once I find out what production behavior is I will make sure the emulators automatically match that.

[2020-05-20 15:44] samtstern commented on #2253
I did a simple check:

[code]

[code]

So it looks like they're all in the same time zone.

[2020-05-20 15:46] samtstern commented on #2253
When I run the function locally from New Jersey I get this:
[code]

[2020-05-20 15:47] samtstern commented on #2253
But if I set `TZ=UTC` it works better locally:
[code]

[2020-05-20 16:13] emanuelevivoli commented on #2253
Super! I just tried
`$ TZ=UTC firebase emulators:start`
and it does what I was looking for.

Thanks  ✌️

[2020-05-20 20:17] samtstern commented on #2197
Fixed by @yuchenshi in #2259 and will be included in the next release

[2020-05-20 20:17] #2197 closed

[2020-05-20 20:17] netbrain opened #2261 "Running multiple emulators with import/export"
I would like to run multiple firestore emulators, but as it is now it's not possible afaik. I'm capable of running the multiple instances of the emulator by executing the underlying jar file directly. However not in a way where i can use emulators:export functionality as well.

Is there any way i can run multiple emulators and still get the benefit of importing and exporting data from the emulator

[2020-05-20 20:46] #2253 closed

[2020-05-20 21:57] samtstern commented on #2261
Can you explain this more?  Maybe there's some way we could support this better with a single Firestore emulator instance.

[2020-05-21 06:45] nheldman opened #2262 "firebase serve error: Cannot set headers after they are sent to the client"
### [REQUIRED] Environment info

**firebase-tools: 8.3.0**

**Platform: macOS**

### [REQUIRED] Test case

Please see the steps to reproduce below for a complete test case.

### [REQUIRED] Steps to reproduce

1. Previously was running `firebase-tools` version `8.2.0`
2. Ran `sudo npm i -g firebase-tools` to upgrade to `8.3.0`
3. Ran `firebase --version` to confirm upgrade to `8.3.0` was successful

[2020-05-21 07:21] aravindvnair99 opened #2263 "404 for Firebase SDKs from reserved URLs"
### Environment info

**firebase-tools:** 8.3.0

**Platform:** Windows 10 1909

### Test case

 Load Firebase SDKs from reserved URLs using `/__/firebase/js-sdk-version/firebase-sdk-name.js`

### Steps to reproduce

Add the necessary SDKs on the front-end and load the page with firebase-tools@8.3.0

### Expected behaviour

Scripts should be loaded successfully with HTTP status 200

### Actual beha

[2020-05-21 07:39] aravindvnair99 commented on #2263
I'm not sure if this is what is causing the error: https://github.com/firebase/firebase-tools/commit/06580cedc6997913a06181ae7813d9c24ea3807e#diff-7761002eb017281bcdf91e9d8fbebdbbR53

I see a further commit to it after 8.3.0 was released: https://github.com/firebase/firebase-tools/commit/0bec742a91d490b9688e1bb36fb7894f078747f5

[2020-05-21 09:20] AndroidNils opened #2264 "Firestore emulator is not working (Expression never evaluated)"
### Environment info
* `firebase --version: 8.4.0` (same issue with 8.3.0 and 8.2.0)
* Platform: macOS Catalina 10.15.4

### Test case
Firestore rules:
[code]

### Steps to reproduce
1. Run `firebase emulators:start --only firestore`
2. Go to `http://localhost:8080/emulator/v1/projects/projektName:ruleCoverage.html`

### Expected behavior
Firestore emulator should working.

### Actual behavior
Nor

[2020-05-21 11:08] netbrain commented on #2261
I could use a single firestore instance yes. But then i would have to have
a multitenant structure in firestore. E.g a path prefix for each app.

However this would mean a change in the codebase. Which im not keen on
doing.

Why should I not be able to run multiple instances? And why is not import
and export a core functionality of the emulator itself? To me that seems
rather silly.

I would rathe

[2020-05-21 11:27] jamescrowley commented on #2263
I have the same issue having upgraded to 8.3.0 on macOS. Downgrading to 8.2.0 fixes the issue.

[2020-05-21 11:33] mieliespoor commented on #2256
Relates to: https://github.com/firebase/firebase-tools/issues/2019

[2020-05-21 14:10] samtstern commented on #2263
This is a duplicate of #2248 which was a regression in `8.3.0`.  The current best workaround is to downgrade to `8.2.0` until the next release.

[2020-05-21 14:10] #2263 closed

[2020-05-21 14:12] samtstern commented on #2261
@netbrain I am only trying to understand your use case so we can try and improve the emulators to make it work, I am not asking you to change your code.  I just don't yet understand from your original post what you are trying to achieve and how two emulators helps you do it.

Import/export *is* a core functionality of the emulator itself.  If you want you're welcome to read the source code for exp

[2020-05-21 14:15] samtstern commented on #2262
@nheldman thanks for filing this issue.  The code you references is not included in `8.3.0`, it is in `master` but will be included in the next release (either `8.3.1` or `8.4.0`).

@abeisgoat can you triple-check that this issue is not present in `master`?

[2020-05-21 17:15] netbrain commented on #2261
I didn't mean to come across as annoyed if that was your impression. Sorry,
if it was.

Im only starting a few facts I find peculiar as a design choice. Anyhoo the
Rest endpoint may prove to be my salvation. Good stuff.

Cheers.

On Thu, 21 May 2020, 16:12 Sam Stern, <notifications@github.com> wrote:

[2020-05-21 17:23] samtstern commented on #2261
@netbrain if you do get a solution with the emulator REST API I'd like to see it.  Closing this for now.

[2020-05-21 17:23] #2261 closed

[2020-05-21 18:04] nheldman commented on #2262
I confirmed with my teammates that this issue occurs for another user when running on MacOS, but it does NOT happen for one of my Windows users. Hope this helps.

[2020-05-21 18:34] nheldman commented on #2262
While testing this issue, I saw that `8.4.0` was released. The issue is resolved for me in `8.4.0`, thanks!

[2020-05-21 18:42] ev45ive opened #2266 "Firebase init issues for new project without location"
### [REQUIRED] Environment info

firebase --version
8.3.0

**firebase-tools:**

Windows 10

**Platform:**

### [REQUIRED] Test case

firebase init fails with GCP location setting.

### [REQUIRED] Steps to reproduce

firebase login
firebase init

### [REQUIRED] Expected behavior

firebase CLI tool should not fail
firebase CLI tool should not require user to stop mid process, google, figure out some

[2020-05-21 18:47] #2262 closed

[2020-05-21 18:52] ev45ive commented on #2266
After manually fixing "location issue" it breaks again on indexes

[2020-05-21 20:18] samtstern commented on #2266
@ev45ive sorry you had such a bad experience.  So just so I can try to recreate and fix this: were you trying to initialize Firestore on a brand new project?  Anything else?

[2020-05-21 20:29] ev45ive commented on #2266
Yes. I managed through it finally, but I sometime do programming classes for folks to and those kind of pitfalls really demotivates people. If I can be in any assistance to make it better I gladly help @samtstern :-)

So to clarify:
- brand new project :
1. firebase login - went well
2. firebase init - selected all options, accepted all defaults

Failures:
- if I opt for new project and type name

[2020-05-21 20:32] samtstern commented on #2266
@ev45ive yeah that's really bad, I will try to fix this!  Thank you for all the steps.

[2020-05-21 20:35] ev45ive commented on #2266
I worked a lot with CLI tools like angular-cli, vue-cli create-react-app and those make it perfect for entry level people to get in, get some working results fast and keep going, not getting stuck frustrated. Developer experience is very important. :-)

For more advanced dev / productivity would be great to provide answers as commandline arguments or save your choices to json and  use them as defa

[2020-05-21 21:00] tenjojeremy opened #2268 "Error when running firebase emulators:start"
running firebase emulators:start returns error promt
<img width="492" alt="Screen Shot 2020-05-21 at 4 57 26 PM" src="https://user-images.githubusercontent.com/25231946/82606045-71798880-9b84-11ea-984d-9a1fc4e36b36.png">

irebase-tools@8.4.0

[2020-05-21 21:06] arikanorh opened #2269 "Option to persist firestore emulator data"
We have already option to wipe data. I think persisting local data will be really cool for local test purposes

[2020-05-21 21:11] arikanorh opened #2270 "Emulator doesnt update functions"
### [REQUIRED] Environment info

**firebase-tools:** 8.4.0

**Platform:** Windows

### [REQUIRED] Test case

### [REQUIRED] Steps to reproduce
1. Start emulator.
2. Make sure your functions are working
3. Make a change on a function

### [REQUIRED] Expected behavior
Function should be hot reloaded

### [REQUIRED] Actual behavior
It doesnt

I've started local emulator. I succesfuly launched hosting

[2020-05-21 21:18] samtstern commented on #2266
@ev45ive take a look at #2271 I am trying to make the error messages much clearer.  The only one I am not addressing is "failed to fetch Firestore indexes" since that's a different issue that I am already working on elsewhere.

[2020-05-21 21:29] samtstern commented on #2268
@tenjojeremy the Firestore, Realtime Database, and PubSub emulators are `jar` files which we execute using `java`.  On some versions of macOS when you run `java` but don't have it installed it does that popup instead of just failing.

You will need java if you want to run those emulators.  You can run the other emulators with `emulators:start --only functions,hosting` if you don't want to run thos

[2020-05-21 21:29] #2268 closed

[2020-05-21 21:30] samtstern commented on #2269
@arikanorh the Firestore emulator can persist data using the `emulators:export` command!  And you can import it the next time using `emulators:start --import`.

We are working on bringing this functionality to the emulator UI in the future.

[2020-05-21 21:30] #2269 closed

[2020-05-21 21:31] samtstern commented on #2270
@arikanorh if your functions are written in JavaScript then hot reload should just work.  If you're using TypeScript you'll need to compile them yourself, and then we will hot-reload the compiled results.

You can use `tsc -c` to run the TypeScript compiler automatically.

[2020-05-21 21:34] tenjojeremy commented on #2268
Got it, thanks!

[2020-05-21 21:59] arikanorh commented on #2270
When i compiled it, it is hot reloading. Thanks. Would love to auto compile as well :)

[2020-05-21 21:59] #2270 closed

[2020-05-21 22:50] zachary-russell opened #2272 "New Firebase UI not working within WSL(2)"
High level the web UI is not working in WSL.

### [REQUIRED] Environment info

**firebase-tools:**
8.4.0

**Platform:**
Windows 10 with WSL (Ubuntu 20.04)

### [REQUIRED] Test case

Create a new Firebase project.

### [REQUIRED] Steps to reproduce

1. Firebase Init selecting an existing project (or a new one) w/ only enabling firestore and emulator use default settings.
2. Run `firebase emulators:

[2020-05-22 00:42] siumennel opened #2273 "TypeError: Cannot convert object to primitive value"
### [REQUIRED] Environment info

**firebase-tools:**
8.3.0 and later

**Platform:**
Windows

### [REQUIRED] Test case

firebase emulators:start

### [REQUIRED] Steps to reproduce
npm i firebase-tools@8.3.0 -g
firebase emulators:start

### [REQUIRED] Expected behavior

[code]

### [REQUIRED] Actual behavior
[code]

I tired "npm run build" in my functions, it does not work.
[code]

[2020-05-22 06:40] tomrozb commented on #2273
Also present in 8.4.0. Is was a regression in 8.3.0, and it's not fixed already :( The solution is to downgrade to 8.2.0

[2020-05-22 07:36] ripperdoc opened #2274 "Wrong sample code for use as a module"
### [REQUIRED] Environment info

**firebase-tools:** 8.4.0

**Platform:** macOS Mojave

### [REQUIRED] Test case

I'm trying to use firebase-tools as a module, with the goal of getting current project. I use your sample code from the README.

[code]

### [REQUIRED] Steps to reproduce

Run above code from CLI.

### [REQUIRED] Expected behavior

That I would get some data structure representing all

[2020-05-22 07:48] ripperdoc opened #2275 "Unable to call use() without arguments"
### [REQUIRED] Environment info

**firebase-tools:** 8.4.0

**Platform:** macOS Mojave

### [REQUIRED] Test case

[code]

### [REQUIRED] Steps to reproduce

Call above code from CLI.

### [REQUIRED] Expected behavior

I expect that when calling use() without args, it would do similar behavior as the `firebase use` command, which would print the current active project.

### [REQUIRED] Actual behavi

[2020-05-22 11:41] ajaysharma91 commented on #938
hi, i'm also having same issue.  any updates ?

[2020-05-22 11:57] dutzi opened #2276 "Emulator UI not serving UI when open in port 6000"
### [REQUIRED] Environment info

**firebase-tools:** 8.4.0

**Platform:** macOS 10.15.4 (19E287)

### [REQUIRED] Test case

I just initialized a new project, chose port 6000 for the UI and started the emulators, I got the following in the console:

[code]

But when accessing http://localhost:6000/ I got a message from Chrome saying the site is offline:

[code]

I tried running `lsof -i :6000` and

[2020-05-22 12:12] ChuckBagby commented on #1677
@samtstern Any progress or another solution to this issue/feature? I need (1) setEmulatedUser  to work with the the cloud Firestore emulator so that I can do manual testing locally.

Per your comment: on Oct 17, 2019
_I think clearly (2) is the right story but I was trying to get a sense of how many people would be happy with (1) since it's substantially simpler to implement and maintain.

(1) Sig

[2020-05-22 13:16] samtstern commented on #1677
We're hard at work on a full auth emulator which will hopefully be what
everyone wants.  No timeline I can offer right now but it's a high priority
for us.

On Fri, May 22, 2020 at 8:12 AM ChuckB <notifications@github.com> wrote:

[2020-05-22 14:24] mbleigh commented on #2275
What happens if you call `use({})` instead?

On Fri, May 22, 2020, 12:48 AM Martin Frojd <notifications@github.com>
wrote:

[2020-05-22 14:28] ripperdoc commented on #2275
Same error unfortunately:
[code]

[2020-05-22 14:33] mbleigh commented on #2275
One more guess, `use('', {})` maybe?

On Fri, May 22, 2020, 7:29 AM Martin Frojd <notifications@github.com> wrote:

[2020-05-22 14:37] netbrain commented on #2261
@samtstern this seems to work.

[code]

[2020-05-22 14:44] ripperdoc commented on #2275
That did the trick, it returns just the project ID. I think I can work with that, but perhaps it can be clarified how the commands are expected to be called when used as module.

[2020-05-22 15:07] nikmartin opened #2277 "Importing data via emulator UI causes massive memory usage"
### [REQUIRED] Environment info

**firebase-tools:** 8.4.0

**Platform:** Arch Linux

### [REQUIRED] Test case

Export a modest dataset from an existing project. Im my case RTDB json export is 7.5 MB, and my functions count is about 95, with approximately 75% of those are triggers of some sort.
### [REQUIRED] Steps to reproduce

Initialize the emulator for RTDB and functions, then start emulator.

[2020-05-22 16:56] nikmartin commented on #2277
Also, I do have debug logs, but would rather not post them here, but I'd be glad to share them in some slightly more secure method.

[2020-05-23 02:15] rosariopfernandes commented on #2273
### For the firebase-tools team:

The line shown in the log (`\lib\emulator\functionsEmulatorRuntime.js:311:83`) points to:

[code]

which is the compiled version of:
https://github.com/firebase/firebase-tools/blob/710d0f214ae55cdae33f6c2fd69e936668fa3aaa/src/emulator/functionsEmulatorRuntime.ts#L498

I assume the error is being caused by this line:

https://github.com/firebase/firebase-tools/blob

[2020-05-23 02:29] rosariopfernandes commented on #2274
@ripperdoc You are correct. `client.list()` was removed in #1787 and the README was not updated. Thanks for finding that!

Should be fixed by #2278

[2020-05-23 07:04] avijitnagare commented on #113
Below command works for me on terminal

curl -sL firebase.tools | upgrade=true bash

[2020-05-23 07:13] RandomDude123 commented on #1870
Issue disappeared in my case after updating to v8.4.0

[2020-05-23 13:02] aravindvnair99 opened #2279 "request is deprecated"
Issue: https://github.com/request/request/issues/3142
Solution: https://github.com/request/request/issues/3143

[2020-05-23 13:21] anandvip commented on #1027
No Java runtime present, requesting install.
after `Which Firebase emulators do you want to set up? Press Space to select emulators, then Enter to confirm your choices.`
`Functions, Firestore, Database, Hosting, Pubsub`
`?Which port do you want to use for the functions emulator? 5001`
`? Which port do you want to use for the firestore emulator? 8080`
`? Which port do you want to use for the databa

[2020-05-23 21:30] lborgman commented on #2273
@rosariopfernandes According to this comment the supported Node.js version is 10:

https://github.com/firebase/firebase-tools/issues/1360#issuecomment-630863472

[2020-05-23 22:24] mcrapts commented on #590
How is it possible to use multiple projects? My use case is that I want to deploy to either a dev or production project. It is currently impossible to deploy to a specific site in dev or a specific site in production with a single firebase.json. So while I agree the bug is about using different `firebase.json` configs, using multiple `firebase.json` configs is not my own choice.

[2020-05-24 09:01] IchordeDionysos opened #2280 "Add predeploy option for Firestore deployments"
Similar to the `predeploy` configuration for function deployments it could be helpful to have such a config also for Firestore deployments.

**Use Case:**
Once you use the [protobuf-rules-gen plugin](https://github.com/FirebaseExtended/protobuf-rules-gen) or you have a lot of rules, it makes sense to split the rules into separate files and generate one `firestore.rules` file out of it.

This is si

[2020-05-24 16:46] shedali opened #2281 "error running firebase emulators:export [path]"
### Environment info

**firebase-tools:**
firebase 8.4.0

**Platform:**
mac Catalina 10.15.4

### Test case
contents of firebase.json
[code]

### Steps to reproduce
run emulator with `firebase emulators:start`

starts successfully
```Database │ localhost:9000 │ http://localhost:4000/database ```

then run `firebase emulator:export data`  (where data is an empty directory).

`firebase emulators:exp

[2020-05-25 00:05] Pitouli opened #2282 "Cloud functions Emulator is not working: CORS + no Firestore Trigger"
**firebase-tools:** 8.4.0
**Platform:** Mac OS

With the new version of the emulator, it seems the cloud functions are completely ignoring Firestore: when I modify something, they do not trigger at all.

Additionally, when I'm trying to use a callable, I receive a CORS error in the console:

[code]

And finally, my Cloud Functions are configured to run on europe-west1, but as you can see on the er

[2020-05-25 03:24] Joebayld opened #2283 "Firestore sub-collections not showing in emulator"
### [REQUIRED] Environment info

**firebase-tools:**
8.4.0

**Platform:**
macOS 10.15.4

### [REQUIRED] Test case

I've found that when having nested collections in Firestore, they don't display on the web interface of the emulator unless parent documents contain data.

### [REQUIRED] Steps to reproduce

[code]

### [REQUIRED] Expected behavior

On the production version of the data viewer, it dis

[2020-05-25 06:32] IchordeDionysos commented on #2280
For anyone wondering about this:

This is already supported out of the box for any target!

Just configure Firestore like this and it just works: :)

[code]

Should also work for Hosting, Storage and the Realtime database 😍💪

[2020-05-25 06:32] #2280 closed

[2020-05-25 07:25] alexlouden opened #2284 "google-auth-library-nodejs@6 dependency breaks node 8 deploys"
### [REQUIRED] Environment info

**firebase-tools:** 8.0.3

**Platform:** ubuntu

### [REQUIRED] Test case

Deploys have started failing with node 8 with the latest version of firebase-tools.

### [REQUIRED] Steps to reproduce

[code]

### [REQUIRED] Expected behavior

The ability to deploy node 8 functions

### [REQUIRED] Actual behavior

This seems to be coming from the latest version of `@grpc/

[2020-05-25 09:30] mcappitelli opened #2285 "Firebase cloud function deploy privately"
The current code only allows to deploy a cloud function with `members: ["allUsers"]` , which makes the function "public" by default.

This leads to a situation, if I deploy a "private" function, i need to run a script afterwards to remove the access right `allUsers` afterwards.

It would be nice to have this as variable available, to enable user group definition during deploy.

https://github.com/

[2020-05-25 14:04] maxwell8888 opened #2286 "Firebase serve does not redirect callable function calls to local functions emulator"
### [REQUIRED] Environment info

**firebase-tools: 8.4.0**

**Platform: macOS**

### [REQUIRED] Test case

Start a new project in firebase web ui
Locally run `firebase init` and select hosting, firestore, functions, storage, *not* emulators.
Let `firebase init` install the functions dependencies and create all the rules files
Add/modyify the following files:
`public/index.html`
[code]
`public/inde

[2020-05-25 14:27] mbleigh commented on #2285
The Firebase CLI is intended to deploy publicly accessible Cloud Functions.
At present, the best way to deploy private functions with the gcloud CLI
instead.

Can you describe your use case a bit so we can understand why you are using
private http functions with Firebase?

On Mon, May 25, 2020, 2:30 AM mcappitelli <notifications@github.com> wrote:

[2020-05-25 14:33] hatboysam opened #2287 "firebase init emulators uses string for non-default ports"
### [REQUIRED] Environment info

**firebase-tools:** 8.4.0

**Platform:** Windows - WSL2 Debian

### [REQUIRED] Test case

[code]

### [REQUIRED] Steps to reproduce

When initializing emulators, select port 8040 for Firestore instead of 8080

### [REQUIRED] Expected behavior

[code]

### [REQUIRED] Actual behavior

[code]

[2020-05-25 14:37] hatboysam opened #2288 "Functions emulator should run functions.predeploy"
### [REQUIRED] Environment info

**firebase-tools:** 8.4.0

**Platform:** Windows - WSL2 Debian

### [REQUIRED] Test case

[code]

[code]

### [REQUIRED] Steps to reproduce

See above

### [REQUIRED] Expected behavior

A default `firebase init` project should be ready to run in the emulators.

### [REQUIRED] Actual behavior

**Problem 1**
[code]

**Problem 2**
[code]

[2020-05-25 14:39] hatboysam commented on #2287
The good news is that this does not actually mess anything up, the Firestore emulator still starts on `8040` as desired.  But it's still incorrect.

[2020-05-25 15:38] natethegreat44 commented on #2273
For what it's worth, I get the same error with both Node 10 and with Node 12, on both Windows and Mac.

Digging into what @rosariopfernandes described, I tracked my issue down to this line in my code:

`admin.initializeApp(functions.config().firebase);`

In my case, there was nothing in my firebase function config (I'm thinking I copied that line from an earlier firebase admin tutorial), so I chan

[2020-05-25 16:39] mcappitelli commented on #2285
My intention is to create an additional endpoint for some backend servers to interact with the database. For this servers I would like to control access via service accounts. At the moment I change the access rights during deployment with some postdeploy scripts. But it would be more convenient to control access rights right away.
Of course, google cloud function would also work, but this would ne

[2020-05-25 20:10] dearborndenim commented on #2288
cli isn't creating the lib folder. Looking for a solution in the docs but can't find one.

[2020-05-26 02:19] alekseykarpenko commented on #406
@dnhyde

Seems this will not work while using in your json file any other value types except strings (e.g. boolean or number):
[code]
fails with:
[code]

[2020-05-26 02:28] kidsonfilms-python-rules opened #2289 "Original 404 Page Showing Instead of Custom 404 Page"
### [REQUIRED] Environment info

**firebase-tools: 8.4.0**

**Platform: Windows**

### [REQUIRED] Test case

Index.html
[code]
404.html
[code]
### [REQUIRED] Steps to reproduce

   run `firebase init --hosting`
   replace the `index.html` with the first code and and `404.html` with the second code.
run `firebase serve`
### [REQUIRED] Expected behavior
   the 404 page we made shows up.

### [REQUIR

[2020-05-26 04:31] aravindvnair99 commented on #2289
@kidsonfilms-python-rules  Unable to reproduce your bug. I'm getting the correct pages just as configured. Also, `firebase init --hosting` is not a valid command. Make sure you have installed `firebase-tools` correctly.

[2020-05-26 04:36] aravindvnair99 commented on #2284
@alexlouden [Node.js 8 is deprecated. Move along to Node.js 10](https://firebase.google.com/docs/functions/manage-functions#set_runtime_options).

[2020-05-26 05:30] alexlouden commented on #2284
I'm aware, however the end date for node 8 support is February next year.

[2020-05-26 05:49] aravindvnair99 commented on #2284
@alexlouden Yes, but you installed v6.0.0 which is not supported on Node.js 8. You need to install v5.10.1 otherwise.

[2020-05-26 06:14] alexlouden commented on #2284
No, I installed `firebase-tools`, and one of the dependencies installed it v6, which breaks node 8 support - that's the problem.

[2020-05-26 12:42] samtstern commented on #2280
@IchordeDionysos really glad this works!  I didn't know that either, but this is great for compiling rules.

[2020-05-26 12:45] samtstern commented on #2286
@maxwell8888 I can see how this is confusing but this is actually working as intended.  You need to call `useFunctionsEmulator` to point your callable functions at the Functions emulator:
https://firebase.google.com/docs/reference/js/firebase.functions.Functions#usefunctionsemulator

[code]

[2020-05-26 12:45] #2286 closed

[2020-05-26 12:48] samtstern commented on #2281
@shedali it looks like you're only using the Realtime Database emulator.  Right now import/export only supports Cloud Firestore although we are working hard to add RTDB support! So currently this error is correct: `No running emulators support import/export.`

[2020-05-26 12:48] #2281 closed

[2020-05-26 12:50] samtstern commented on #2279
@aravindvnair99 thanks for filing this!  We are already working hard to remove all usage of `request` within `firebase-tools`.  @bkendall specifically has already made some good progress and has more to come.

Going to close this issue since Bryan is already tracking this work elsewhere.

[2020-05-26 12:50] #2279 closed

[2020-05-26 12:51] #2274 closed

[2020-05-26 12:53] samtstern commented on #2273
@natethegreat44 thanks!  That really helps point me to the solution. This is related to a recent change I made: https://github.com/firebase/firebase-tools/pull/2213

[2020-05-26 12:55] samtstern commented on #2284
@alexlouden thank you for filing this!  You're right, many Google Node libraries recently dropped support for Node 8.  However we (the Firebase CLI) intend to keep Node 8 support for a little longer so we need to figure out how to get this dependency fixed.

[2020-05-26 12:56] samtstern commented on #2284
@alexlouden does this also happen to you on the latest version of `firebase-tools` (`8.4.0`)?

[2020-05-26 12:59] samtstern commented on #2284
I actually can't see anything in our dep chain that leads to `google-auth-library` 6+:

[code]

[2020-05-26 13:02] samtstern commented on #2277
@nikmartin thanks for filing this!  I believe you also posted this on Twitter, so I recognize the issue.

There are two things we can do here:

1. Introduce a way to import data in the RTDB emulator without triggering Cloud Functions.  That work is already underway.
2. Make sure the Functions emulator rate-limits itself better.  I'm fine with some kind of failure in this case like a functions time

[2020-05-26 13:27] samtstern commented on #2270
@arikanorh check out the npm package `concurrently`:
https://www.npmjs.com/package/concurrently

This will let you run `tsc -w` and `firebase emulators:start` at the same time.

[2020-05-26 13:28] filipesilva commented on #1940
Heya @samtstern did you come up with an interesting approach to not needing `gcloud auth application-default login`?

Today I was trying to updated to `firebase-tools@8.4.0` to get your https://github.com/firebase/firebase-tools/pull/2213 fix (thanks by the way!) but kept running into credentials error as described in the original issue description.

I my case I had to stay at `firebase-tools@7.12

[2020-05-26 13:32] samtstern commented on #1940
@filipesilva I finally found the solution I wanted, working on it in #2214

If you're seeing new issues on `8.4.0` with credentials maybe file a separate issue?  This one is getting pretty crowded.

[2020-05-26 13:44] samtstern commented on #2288
@hatboysam thanks you're the best!

[2020-05-26 13:52] samtstern opened #2290 "Hosting emulator config incorrectly detected"
### [REQUIRED] Environment info

**firebase-tools:** 8.4.0

**Platform:** macOS

### [REQUIRED] Test case

See below

### [REQUIRED] Steps to reproduce

1. `firebase init`
1. Choose "Functions" and "Emulators"
1. Get a `firebase.json` like this:
[code]
1.  Now run `firebase emulators:start`

### [REQUIRED] Expected behavior

No warnings

### [REQUIRED] Actual behavior

Warning about Hosting that i

[2020-05-26 14:05] filipesilva commented on #1940
@samtstern I think it's the same as this issue really, not a new one.

Going over #2214 it looks like the approach is to ensure credentials are loaded correctly rather than to allow the emulator to run without them. In that case the CI journey will always need to include service account credentials somewhere, is that right?

That seems a bit problematic for open source projects... If I add a servi

[2020-05-26 14:10] nikmartin commented on #2277
Yes, I d having terrible finding where to report it, as firebase has quite a few channels at the moment! I'll delete the Twitter comments as I understand Twitter is really for marketing, not support

[2020-05-26 14:16] alexlouden commented on #2284
Thanks for that @samtstern!

This started happening on our CI environment 4 days ago. This is the current version:

[code]

And the latest version (installed with yarn):

[code]

If I install it clean using `yarn add` it installs v6:
[code]

The CI env:
[code]

However it installs the older version with `npm`, with a notsup warning :

[code]

I can add a yarn resolution in the meantime, but though

[2020-05-26 14:22] samtstern commented on #2273
Fixing in #2291

In general nobody should be using `initializeApp(functions.config().firebase)` anymore.  The plain `initializeApp()` is preferred.

[2020-05-26 14:30] samtstern commented on #1940
@filipesilva no we will not be requiring or encouraging the use of service account auth (also btw most CI platforms don't allow PRs from forks to access secrets for that reason):

A few things to understand:

- The Functions emulator actually doesn't care about credentials at all.  We don't need them for anything.  The checks we have in place are just warnings.
- The reason credentials are importa

[2020-05-26 14:45] samtstern commented on #2277
@nikmartin no need to delete the Twitter comments!  We're always happy to get good feedback on any channel.  Although you're right that we don't actively monitor every reply to `@Firebase`.

[2020-05-26 15:15] shedali commented on #2281
thank you @samtstern

[2020-05-26 15:22] samtstern commented on #1633
Are folks still seeing this issue with more recent versions of the Firebase CLI (8+)?

[2020-05-26 15:29] filipesilva opened #2294 "Cannot run `firebase-admin` in emulator without credentials"
### [REQUIRED] Environment info

**firebase-tools:** 8.4.0

**Platform:** Windows

### [REQUIRED] Test case

I have a test case with minimal cloud function code and emulator at https://github.com/filipesilva/firebase-emulator-credentials.
[code]

### [REQUIRED] Steps to reproduce

[code]

You should see the following error log in the console:
[code]

### [REQUIRED] Expected behavior

The emulated

[2020-05-26 15:30] filipesilva commented on #1940
@samtstern I'm sorry to keep on drilling the CI case, but are you saying that instead of a service account, the idea is to run `firebase login` or `gcloud auth application-default login` on a CI server instead? That seems a variant of the same problem, where some kind of login is still necessary on CI.

I do think now this is probably a separate issue though, so I opened https://github.com/firebas

[2020-05-26 15:31] samtstern commented on #1940
@filipesilva if you need to access non-local Google resources you will need to have some sort of credential on your CI, yes.  Specifically after #2214 you could run `firebase login:ci` and keep a token instead of a service account.

I'll look at the other issue.

[2020-05-26 15:33] samtstern commented on #2294
@filipesilva thanks for filing this!  I can see the issue clearly now.

The problem is that `admin.initializeApp()` from `firebase-admin` doesn't know how to continue without a credential.  So it's going in circles.

We need some way to prevent that from happening when inside the emulator.

[2020-05-26 15:35] #2287 closed

[2020-05-26 15:54] filipesilva commented on #2294
Oh that's interesting, I thought that the emulator somehow added credentials there. Or at any rate something similar happened in `firebase-tools@7.12.1`, because if you go back to that version this exemple throws no errors.

(it actually throws an error because I still had some leftover code from your firestore example but I've pushed a fix for that now :D)

[2020-05-26 16:17] samtstern commented on #2294
@filipesilva looks like this is actually Realtime Database specific, I wrote these two functions:

[code]

I ran all three emulators.  `helloFirestore` worked perfectly, `helloDatabase` gave the error you described.

[2020-05-26 16:18] filipesilva commented on #2294
Very interesting, so that's why it wasn't very obvious!

[2020-05-26 16:22] samtstern commented on #2294
Re-assigning to @avolkovi who is on call this week, this may be something we want to transfer over to `firebase-js-sdk`.

[2020-05-26 16:24] samtstern commented on #2289
@kidsonfilms-python-rules can you show your `firebase.json` file?

[2020-05-26 16:25] samtstern commented on #2283
@Joebayld thanks for filing this.  Since it's about the Emulator UI I'm gonna move it over to that repo.

[2020-05-26 16:29] bitttttten commented on #2243
I had to upgrade to Blaze, and move off the free plan of Spark to enable Cloud Scheduling. It's mentioned [in the docs here](https://firebase.google.com/docs/functions/schedule-functions#before_you_begin).

I was planning on upgrading to Blaze anyway, but after I did this error went away.

[2020-05-26 16:45] ferristocrat opened #2295 "HTTP Error: 403, The caller does not have permission (when updating Node.js runtime)"
### [REQUIRED] Environment info

**firebase-tools:** 8.4.0

**Platform:** Windows

### [REQUIRED] Test case

When attempting to deploy functions using `firebase deploy --only functions` I get the following error: **Error: HTTP Error: 403, The caller does not have permission**

The only change that has been made was changing the node engine in package.json from 8 to 10. Changing back to 8, and the

[2020-05-26 16:54] samtstern commented on #2295
@ferristocrat Node 10 functions require the Cloud Build API whereas Node 8 functions do not (long story).  It looks like the call that failed was trying to enable that API, which makes sense.

Firebase Admin is not a broad enough role to allow enabling APIs on the project.  I actually don't know which IAM role you need for that (although I'm sure Project Owner can do it).

Your options are:
a) Giv

[2020-05-26 16:55] mbleigh commented on #2295
This might be a bug...sorta. The Firebase CLI has begun attempting to enable the Cloud Build API when it deploys Node 10 functions as part of a coming change where Cloud Build must be enabled for Node 10 deploys to work. While this will be mandatory after June 22, 2020, it is currently intended to be informational and print a warning if it doesn't work.

For now you can ask a project owner to [ena

[2020-05-26 17:05] samtstern commented on #2284
Looks like `grpc-js` added a dependency on `google-auth-library` 6+ in version `1.0.4`:
https://github.com/grpc/grpc-node/commit/010ef569f7f83007642f3f69e0ce13dee615d680

[2020-05-26 18:29] samtstern commented on #2284
@alexlouden reported this here:
https://github.com/grpc/grpc-node/issues/1442

And it is already being fixed here:
https://github.com/grpc/grpc-node/issues/1443

This is an issue with `grpc-js` and although it affects Firebase there's nothing we can do to fix it, we'll have to wait for their next patch release which should fix things up.

Thank you for reporting!

[2020-05-26 18:29] #2284 closed

[2020-05-27 03:24] ferristocrat commented on #2295
Thanks guys, having the project owner enable Cloud Build for the project did the trick.

It would be nice to not have to rely on the cloud console for permissions that are REQUIRED to perform core firebase actions. One of the big benefits of firebase is that in abstracts a lot of complexities that come with the big cloud providers. It loses a lot of the appeal when admins need to rely on the way m

[2020-05-27 03:24] #2295 closed

[2020-05-27 09:52] sonuKumar03 commented on #1317
I solved this by
1. rm -rf node_modules/
2. npm install
3. firebase init
4. firebase deploy

[2020-05-27 09:53] Katherine2013 commented on #369
Hi, could you provide a specific instruction about how to disable Proxy in the System Preferences? Many thanks!

[2020-05-27 10:01] lemndev commented on #369
hey @Katherine2013 , which OS are you working with, by default, you may want to ensure you are not using a VPN at this stage.

[2020-05-27 10:07] Katherine2013 commented on #369
Hi @lemndev , I'm with macOS and unfortunately I'm using VPN in China. I'm stuck with `Firebase login` right now. I believe the problem is from proxy settings. Is there anyway to solve it? Have tried many solutions but failed. Many thanks!

[2020-05-27 10:10] lemndev commented on #369
hey @Katherine2013 , personally i haven't used MacOS as a daily driver for even past 2 hours so i wouldn't lie that i know how to deal with that. I however landed on https://support.wickr.com/hc/en-us/articles/360008497154-Disabling-proxy-settings-on-macOS which i hope you find useful

[2020-05-27 10:12] Katherine2013 commented on #369
@lemndev Will try. Thanks anyway. Hope you safe in this special period.

[2020-05-27 12:21] BinsonZoom commented on #155
WORKS FOR ME!!!!!!!!!

[2020-05-27 12:39] samtstern commented on #2295
@ferristocrat totally agree this should be simpler, the need for Cloud Build with Functions is a new development so we had to try and work around it.

@mbleigh you said this might be a bug, do you want to keep it open?

[2020-05-27 13:04] #2290 closed

[2020-05-27 13:28] canatella opened #2297 "When using rest DELETE to reset firestore, the --import data is not restored"
### [REQUIRED] Environment info

8.4.0

**firebase-tools:**

macos

**Platform:**

### [REQUIRED] Test case

n/a

### [REQUIRED] Steps to reproduce

- start the emulator with --import to preload an already exported data set.
- check on the new ui that the data is imported
- clear the database using REST api described at https://firebase.google.com/docs/emulator-suite/connect_and_prototype#clear_yo

[2020-05-27 13:36] samtstern commented on #2297
@canatella that is currently working as intended although I can see how that can be confusing or frustrating as well.

It won't be technically feasible for us to import after every delete, but we can/should make it easier to import at runtime so that you can do multiple imports over the course of your testing.  Would that help?

[2020-05-27 13:38] canatella commented on #2297
Sure! As long as there is a quick way to ensure that the database is in a known state between each tests. Thank you for being so reactive ;)

[2020-05-27 13:57] samtstern commented on #2297
@canatella great, I have changed the title of the issue to reflect that.  We're working on adding runtime import/export support to the Emulator UI and once we're done that we can probably figure out how to expose the same hooks to unit testing.

[2020-05-27 16:01] #2266 closed

[2020-05-27 16:21] samtstern commented on #2282
@Pitouli ok sounds like you're having a few separate issues here.  Would you mind trying/answering a few things:

- How are you attempting to trigger your Firestore functions?  Could you try using the emulator UI to trigger them so we can see if it's an error in the emulators or in your code?
- Do your functions trigger if you change them to `us-central1`?  I want to know if that's the cause of th

[2020-05-27 16:44] mbleigh commented on #2285
Understood. I'd encourage you to submit a [feature request](https://firebase.google.com/support/troubleshooter/report/features) in addition to this issue. There's a good bit of nuance in how this would need to be implemented, and it's not a request we've heard often so for the time being it's not super-likely to be prioritized. Nevertheless, thanks for the feedback!

[2020-05-27 16:45] #2273 closed

[2020-05-28 00:39] Pitouli commented on #2282
Here are my observations:

- If I modify elements directly in the console, it triggers the cloud functions
- If I modify an element directly in the console, it does not update the element on the website, and vice-versa (like if the emulated firestore and the website were not communicating at all)
- But If I kill the emulator, then the default data are not loaded anymore _(so they seem to communica

[2020-05-28 01:25] Pitouli commented on #2282
I made another test: I used the "clear all" button from the emulator UI.

The result is the following:
- everything has been deleted in firestore in the UI
- the cloud functions have all been triggered as expected (with my console.log having the expected values)
- but on the website, I observed:
   - that none of my docs have been deleted (I have a list of contact and a list of events)
   - but al

[2020-05-28 01:43] Pitouli commented on #2282
I also tried to start the emulator without importing a data file.

Same observations, with one interesting thing: I cannot create a first contact, because of what seems to be a bug in the rules interpretation (I opened a topic on stack overflow: https://stackoverflow.com/questions/61961375/firestore-rules-ok-with-test-emulator-but-insufficient-permission-in-prod).

But If I broad the rules so they

[2020-05-28 02:04] Pitouli commented on #2282
I tried to use my callable that makes a backup of the store: it executes well, but the returned backup contains the data of my account on the server, not on the emulator.
So it seems that the callable executed is not the emulated one but the real one, which is confirmed when I look on my Cloud Function Console in my real project.

I do not understand why 🤔
In my terminal and in the Emulator UI, it

[2020-05-28 11:09] Mustafax06 opened #2299 "App Distribution - Something went wrong. "my.apk" failed to upload."
### Environment info

**Platform**
Mac OS Catalina V10.15.4
Chrome V83.0.4103.61 (Official Build) (64-bit)

### Test case
N/A

### Steps to reproduce
Just tried to upload my APK. (Production APK and it's on the market now)

### Expected behaviour
APK should be uploaded to the App Distribution tool

### Actual behaviour
something went wrong. "my.apk" failed to upload.

[2020-05-28 12:34] samtstern commented on #2282
@Pitouli thanks for doing all this testing!  Overall it does not sound like there is a bug on our side, it just sounds like there is some confusion about how things are supposed ot work.  I think there are some things I need to clarify:

That's good, it means everything is set up correctly and the two emulators are talking.

That's correct.  There is absolutely no connection between the Cloud Fire

[2020-05-28 13:33] inksharedsolutions commented on #113
@avijitnagare many thanks !

[2020-05-28 13:41] Pitouli commented on #2282
My bad, I haven't been clear enough: "If I modify an element directly in the console, it does not update the element on **my locally running** website, and vice-versa (like if the emulated firestore and the website were not communicating at all)"

I do not expect my "real/production" website to be modified, otherwise I would not use the emulator :)

Concerning my backup callable, here we go:

inde

[2020-05-28 14:13] samtstern commented on #2282
@Pitouli ok two things:

### 1. Your Callable Function
Looks like you're calling `admin.initializeApp()` with a whole bunch of custom options.  This will override the normal emulator behavior and that explains why your emulator is getting data from production.

Inside the emulators it's best to just use `admin.initializeApp()` with no arguments.  You can check for `process.env.FUNCTIONS_EMULATOR =

[2020-05-28 14:22] samtstern commented on #1988
I believe this should be fixed by #2271 which will be included in the next release of the CLI.  The error should now appear like this:

[code]

The reason for this error is that using Firestore requires making some permanent choices that the CLI can't make for you:

  * Firestore mode (Datastore or Native)
  * Firestore location (also sets default project location)

So you need to make these choic

[2020-05-28 14:22] #1988 closed

[2020-05-28 16:06] mbleigh commented on #2299
We don't have enough information to help here, can you please run the command again with `--debug` and share detailed logs?

[2020-05-28 18:22] fahadtahir226 commented on #1489
i explicitly changed node version from 8 to 12 in package.json and it worked for me

[2020-05-28 19:00] boddy33 opened #2301 "Cannot set property config of #<Object> which has only a getter"
### [REQUIRED] Environment info

**firebase-tools:** 8.4.0

**Platform:** Windows

### [REQUIRED] Test case

index.js

[code]

### [REQUIRED] Steps to reproduce

the initial emulate worked fine
the initial and subsequent deploys work fine
the function works fine in production
not able to emulate locally anymore.

Console output:
[code]

In addition to this issue, it is not clear from output what h

[2020-05-28 19:16] samtstern commented on #2301
@boddy33 huh ok that's extremely strange.  Is there absolutely nothing else `firebase-debug.log`?  Or if you run the command with `--debug`?

[2020-05-28 20:07] uditha-atukorala commented on #2301
Looks like this is an issue with v8.x.x. Downgrading to v7.16.2 works.

[2020-05-28 20:13] samtstern commented on #2301
I have a feeling this may be related to today's firebase-functions release:
https://github.com/firebase/firebase-functions/releases/tag/v3.6.2

[2020-05-28 20:16] uditha-atukorala commented on #2301
I should be something very recent. Looking at other issues, v8.x.x emulator was working at some point (and v8.4.0 was released a week ago).

[2020-05-28 20:36] maxmayerhofer93 commented on #2301
hi,
have the same issue :)

[2020-05-28 20:44] samtstern commented on #2301
Fix is coming in #2302 ... if it's approved and merged we'll try to release ASAP

[2020-05-28 20:55] arjunsss commented on #2301
Running into the exact same issue. macOS

[2020-05-28 20:57] AprilPolubiec commented on #2301
this has had me stumped for the last few hours. I have the same `index.js` as @boddy33 and it even happens when index.js is empty. Here is my firebase-debug.log:
[code]

[2020-05-28 21:03] de1m commented on #2301
we are waiting curious for approval

[2020-05-28 21:06] cfofiu commented on #1617
Anyone else having this issue? I can't get the export/import to work properly. Going from one database to another.

[2020-05-28 21:09] kidsonfilms-python-rules commented on #2289
@aravindvnair99 use `firebase init` instead and choose hosting.

[2020-05-28 21:11] kidsonfilms-python-rules commented on #2289
@samtstern here is the firebase.json
[firebase.zip](https://github.com/firebase/firebase-tools/files/4698285/firebase.zip)

[2020-05-28 21:14] #2301 closed

[2020-05-28 21:43] samtstern commented on #2301
The fix was just released in version `8.4.1` of `firebase-tools`

[2020-05-29 00:45] Pitouli commented on #2282
@samtstern Thanks for your answer, but I still haven't succeeded in solving the issue :/

I updated my `admin.js` like this:
[code]

In my app, I already had the line to connect to the emulator:

[code]

And it still behave like I described in my previous post.
I added a `console.log("EMULATOR")` to ensure that the `admin.js` is using `admin.initializeApp();`, and when I modify something using the

[2020-05-29 01:25] Pitouli commented on #2282
SOLVED!!!!!!!

Since you asked me to remove the config inside the `initializeApp()`, I was thinking "but how the emulator can know which storage bucket use since there is no more configuration?".

And I had the illumination: if the config is not taken from a config parameter, it must be taken from the firebase-tools global config.

So I simply had to switch my firebase project (with `firebase use

[2020-05-29 01:25] #2282 closed

[2020-05-29 01:34] samtstern commented on #2282
So glad you solved it! Thanks for sharing all the steps along the way.
Pointing at the wrong project is something that happens too often, maybe we
should add a warning.

On Thu, May 28, 2020 at 9:25 PM Pitouli <notifications@github.com> wrote:

[2020-05-29 02:56] danielhanford commented on #2301
thank you for that...just in time

[2020-05-29 04:16] danhadzami commented on #1154
I'm currently having this issue. Yesterday was totally fine. Now, my project is gone.

[2020-05-29 05:12] aravindvnair99 commented on #2289
@kidsonfilms-python-rules Yes, I did that. I initialised only hosting and added the files you gave.

I added this as well and things seem to be working for me. I'm unable to reproduce your issue. Here is what I did: [sample.zip](https://github.com/firebase/firebase-tools/files/4699781/sample.zip) Is it the same as how you have configured?

[2020-05-29 08:10] antoniooi commented on #1363
For my case, I have the following code:

[code]
**Error: 7 PERMISSION_DENIED** when the local Firestore rules:

[code]
and

[code]
It only works when I changed the local Firestore rules to:

[code]

I thought the Admin SDK shouldn't bound to Firestore security rules? However, if I remove the local settings and go directly to the production server with `allow read, write: if false;` , it works too.

[2020-05-29 08:15] boddy33 commented on #2301
validated. Thank you.

[2020-05-29 10:02] jakubjodelka commented on #2301
Hello
About 2 days ago I was deploying functions and everything went without any problems, unfortunately since yesterday I am not able to do deploy. I had quite old packages:

[code]
and I was getting the following:
![image](https://user-images.githubusercontent.com/5147492/83247049-47871e00-a1a3-11ea-8132-78d5ade39961.png)
but was able to run functions locally (--serve).

Today I've updated all o

[2020-05-29 10:07] jakubjodelka commented on #2301
@samtstern ^
Not sure if this issue should be closed.

[2020-05-29 11:36] Mustafax06 commented on #2299
I'm uploading my APK from the Firebase's interface and my app's signature was broken. So I fixed the signature problem and it worked.

[2020-05-29 11:36] #2299 closed

[2020-05-29 12:21] samtstern commented on #1988
#2300 will also improve the error message here for those who are not using Native Mode

[2020-05-29 12:24] Elijer commented on #2228
Hey I'm trying to follow this thread but I'm a little lost here. I'm trying to use the emulator and I'm getting the same issue. Has it been fixed in #2230 and I should just wait until it gets added to the firebase tools?

[2020-05-29 12:29] samtstern commented on #2228
@Elijer if you're using the latest version of the CLI  (`8.4.1`) you should not be seeing this often (unless you actually are running multiple copies of the emulator).

The emulator hub creates a sentinel file when it starts up.  If it fails to shut down properly, that file can be left behind.  When you start the emulators again if the file is already present you will see this warning.

We improve

[2020-05-29 12:32] samtstern commented on #1363
@antoniooi looks like there are a few things that may be going wrong:

1. `databaseURL` is a setting for Realtime Database, not Cloud Firestore.  Pointing that at your Firestore emulator could cause unknown issues.

2. You are using this method to connect to the emulator:
[code]

That's actually how you connect the **web** JavaScript SDK to the emulator.  The best way to connect the Admin SDK to t

[2020-05-29 12:37] samtstern commented on #2301
@jakubjodelka can you try clearing your `node_modules` folder and running `npm install` again?  If this keeps happening for you after that and with `firebase --version` showing `8.4.1` let me know.

[2020-05-29 12:46] Elijer commented on #2228
@samstern thanks for the quick reply. So I think I'm missing something about npm: when I do `npm install -g firebase-tools` I get `+firebase-tools@8.4.1` but when I print `npm firebase-tools -v` I get `6.14.4`. Sorry I know this isn't how the issues should be used.

I don't think I'm running multiple copies of the emulator, but I might also be missing something there. I don't have any other termin

[2020-05-29 12:49] samtstern commented on #2228
@Elijer hmmm sounds like something is going wrong with your `npm` setup.  Unfortunately it's pretty hard to guess what that issue is from here.

If you run `emulators:start` with the `--debug` flag you can look for a log message like this:
[code]

That will tell you where the sentinel file is.

[2020-05-29 12:52] joek-coatsink commented on #2301
Thanks. Working for me now.

[2020-05-29 12:59] antoniooi commented on #1363
@samtstern : Thanks for enlightening me. I didn't know that `databaseURL` is only meant for Real-time Database. No wonder no matter what URL I put in, it still works, LOL. As for the `db.settings`, I tried before, without it, I can't insert test data in my Firestore Emulator and make it appears in emulator UI.

Honestly speaking, I'm just a beginner. Hope you don't mind if I seek help from you fur

[2020-05-29 13:35] Elijer commented on #2228
@samstern Hey thanks a lot for your help.

I followed the filepath after using the `--debug` flag and deleted the file completely. I still get this:

`Elijahs-Air:cafe-infinite jah$ firebase emulators:start
i  emulators: Starting emulators: functions, firestore, hosting
⚠  emulators: It seems that you are running multiple instances of the emulator suite for project cafe-infinite. This may result i

[2020-05-29 13:40] samtstern commented on #2228
@Elijer in those logs I don't see any message like this one:
[code]

Which implies that you're not using the latest version of the Firebase CLI.  What does `firebase --version` show you?  It should be `8.4.1` if you're on the latest.

[2020-05-29 13:44] samtstern commented on #1363
@antoniooi that `export` command is to set an environment variable.  So you'd do it in your terminal or `.bashrc` before running the command.

Although if you see `process.env.FIRESTORE_EMULATOR_HOST` already set then you shouldn't have to worry about it!

Let's step back for a second:

- Can you show me the full code you're trying to run and where it fails?  Ideally the smallest full example that

[2020-05-29 13:59] ReactorboY commented on #1499
again the same bug happened with my project while deploying, api is enabled

[2020-05-29 14:05] Elijer commented on #2228
@samtstern When I run `firebase --version` I get `8.4.1` :/

I made a new project in the console, initiated it into an empty folder on a different user on my computer, and tried using the emulators again. I don't have the console message, but I'm _pretty sure_ there was no `⚠  emulators: It seems that you are running multiple instances of the emulator suite for project agggghh-38157. This may resu

[2020-05-29 14:20] antoniooi commented on #1363
@samtstern :

You mean if I go without the `db.settings` that points to the `localhost:8080`? No, it won't fail, the data just go straight to the Firestore production server. If you're referring to the **PERMISSION DENIED** error, then the line that causes the error is the code that writes to the Firestore database: `docRef.set(fields);`.

1. Open my project root folder with my VS Code.
2. Open th

[2020-05-29 14:30] samtstern commented on #2228
Ok it seems like we solved the multiple instances issue.  Could you file a
new issue for the problem you're seeing with the Firestore emulator.
Include the output of emulators:start --debug

On Fri, May 29, 2020 at 10:05 AM Elijah Kennedy <notifications@github.com>
wrote:

[2020-05-29 14:37] antoniooi commented on #1363
@samtstern : Hey, I just remove my `db.settings` with the following code and it works now! Thanks! :D

[code]

As for the **PERMISSION DENIED** error, the Firestore security rules still need to **allow all**, else the error will appear again. Thanks!

[2020-05-29 14:42] COFFEEEADDICT commented on #2301
![image](https://user-images.githubusercontent.com/53411098/83272345-eec77d80-a1c2-11ea-962c-a7e14e253017.png)

[2020-05-29 15:16] Elijer commented on #2228
Yeah, I'll start a new issue. To be clear, the

`⚠  emulators: It seems that you are running multiple instances of the emulator suite for project firestripe-boilerplate. This may result in unexpected behavior.`

still comes up every time afterwards, just not the first time `firestore emulators:start` is run after changing the port in the firebase.json, or after initiating a new project.

[2020-05-29 15:26] nikmartin commented on #2277
In using the functions emulator a bit more, although it was cumbersome since i have ~100 firebase functions, I discovered `process.env.FUNCTIONS_EMULATOR` that I added a check for at the top of any functions that shouldn't run in the emulator. It's not the same as a bootstrap feature, but at least I'm not spamming all the devs with emails and push notifications in our app. In doing that, I also no

[2020-05-29 15:27] samtstern commented on #2277
@nikmartin glad that you have a temporary workaround!

[2020-05-29 15:29] samtstern commented on #1363
@antoniooi glad it's working although I am very concerned about the permission denied error.  The Admin SDK has no interaction with rules, period.  The face that you're seeing that error suggests you somehow have the non-Admin SDK mixed up in there.

[2020-05-29 15:30] samtstern commented on #2301
@COFFEEEADDICT check that `firebase --version` shows `8.4.1`

[2020-05-29 15:37] antoniooi commented on #1363
@samtstern : I think it is not the Admin SDK problem. It could be the Firestore emulator that is still bothering too much about the security rules and forgotten about Admin SDK privilege. If I go directly to the production server without running the emulators, the Admin SDK works as it should be -- even with the rule `allow read, write: if false;`. I believe it is the emulator that is blocking it

[2020-05-29 16:19] Elijer opened #2307 ""firebase emulator:start" will not run"
### Environment info

**firebase-tools:** 8.4.1
**Platform:** Mac OS Sierra

### Test case

When I run `firebase emulators:start`, an error is thrown and the emulators are not run.

If I run `firebase emulators:start` additional times after this, the same errors are thrown in addition to this warning:

`It seems that you are running multiple instances of the emulator suite for project fir-emulator

[2020-05-29 16:21] Elijer commented on #2228
@samtstern Okay I logged the issue. I still need to republish the repo, which is committed _right after_ I run `firebase emulators:start`, which gets in the way of the reproduction. I'll do it very soon.

[2020-05-29 17:04] Elijer commented on #2228
Okay here's the new issue: https://github.com/firebase/firebase-tools/issues/2307

[2020-05-29 19:17] yannicklaclau opened #2308 "firebase functions timing out: Server Error. connect ETIMEDOUT"
### [REQUIRED] Environment info

**firebase-tools:**
8.4.1

**Platform:**
macOS
### [REQUIRED] Test case

running `firebase deploy --only functions:my-function-name` results in timeout server errors at least 9 out of 10 attempts
### [REQUIRED] Steps to reproduce

`firebase deploy --only functions`
on all functions or just one, same result - server errors, timeouts

### [REQUIRED] Expected behavior

[2020-05-29 19:32] samtstern commented on #2307
@Elijer thanks for filing this.  Looks like the Firestore emulator is crashing on startup.

[2020-05-29 19:46] samtstern commented on #2308
@yannicklaclau sounds like there's something going on with the Cloud Functions backend and not the Firebase CLI.

Could you file an issue here:
https://issuetracker.google.com/issues?q=status:open%20componentid:187195

Make sure you include your project ID!

[2020-05-29 19:46] #2308 closed

[2020-05-29 20:21] ricardomouraspl commented on #2301
Hi guys,

I've received this error after an update in the `firebase-functions` package (3.6.2).

In my case, the solution was to delete `/node_modules` and downgrade the `firebase-functions` to the previous version (`npm install --save firebase-functions@3.6.1`).

[2020-05-29 20:27] iamsrujal commented on #2301
Hello guys,

The first check which version you've installed mine was 8.1.1
Please update firebase-tools by calling

`
sudo npm i  -g firebase-tools
`

This will install latest version 8.4.1
And It fixed my issue.
In fact, I have installed the latest firebase function and admin
 "firebase-admin": "8.12.1",
"firebase-functions": "3.6.1",

I hope you've fixed the issue.

[2020-05-29 20:47] danielgomezrico commented on #1963
@feharaujo I lived the same issue.

I have 2 apps with different packages inside of the same firebase project (two different flavours of the same app) and I lost a lot of time finding that theres a switch lust after `App Distribution` title where you change the registered apps and I needed to "accept" for each one.

[2020-05-30 00:36] danwilsonlg commented on #2157
Hi Firebase team! Can you confirm that you're still working on this? Members of our engineering team have had to drive to places with really fast wifi to upload builds without timing out. (Actual chat snippet: "Android ready to test! Driving to Walmart to get iOS ready.")

[2020-05-30 13:49] bernardo-martinez commented on #515
I have the same issue but the problem is with a module I defined myself in my code:

[code]

[2020-05-30 14:08] bernardo-martinez commented on #515
ok find the problem. In my specific case it was that I renamed my module from `adapter.ts` to `Adapter.ts` and `lib/Adapter.js` was not being generated on `npm run build` so I needed to delete `lib/*` re-build and then I was able to successfully deploy!

[2020-05-30 18:58] GradySimon commented on #653
I used the [solution](https://github.com/firebase/firebase-tools/issues/653#issuecomment-577455065) provided by @sowdri (thanks for that!), with a small tweak so that I can freely delete and regenerate the entire `dist/` directory, including the secondary `package.json`:

[code]

And then I keep the following `package.dist.json` in the package root:

[code]

It might be possible to remove the depe

[2020-05-30 19:13] udsgit commented on #2301
working thanks @iamsrujal

[2020-05-30 21:11] anuj081098 commented on #1627
yes it's working thanks

[2020-05-30 22:31] sgr-ksmt opened #2310 "PERMISSION_DENIED when using Firebase Admin SDK and Firestore Emulator"
### Summary

### [REQUIRED] Environment info
- firebase-tools: 8.4.1
- firebase-admin: 8.12.1
- firebase-functions: 3.6.1
- (@firebase/testing: ^0.19.6)
- node: v10.17.0

**Platform:**
macOS

### [REQUIRED] Test case
I have a minimal Cloud Functions code and `firestore.rules`:

[code]

[code]

In the function, I call `admin.firestore().collection(...).doc(...).get()` to get/update a user document

[2020-05-30 22:42] dutzi opened #2311 "Some collections do not appear in UI"
### [REQUIRED] Environment info

**firebase-tools:**  8.4.1

**Platform:** macOS 10.15.4 (19E287)

### [REQUIRED] Test case

Not sure why this happens, but one of my collections does not appear in the UI.

As you can see, I have the following collection:

`/accounts/00000000000000000000/chats/0j2GMebFkRUY7n5rwfGqgnIRbcJ2-QYRt2t7qB3WyE9v7lj0WA6JOvxb2/messages`

![image](https://user-images.githubus

[2020-05-30 23:06] dutzi opened #2312 "Collections within collections do not appear in UI"
### [REQUIRED] Environment info

**firebase-tools:** 8.4.1

**Platform:** macOS 10.15.4 (19E287)

### [REQUIRED] Test case

Create a new Firebase project using the CLI tools (`firebase init`) and follow the STR below.

### [REQUIRED] Steps to reproduce

### [REQUIRED] Expected behavior

### [REQUIRED] Actual behavior

[2020-05-30 23:06] #2312 closed

[2020-05-30 23:08] dutzi opened #2313 "In some cases, reading a sub-collection will fail in Emulators, but work in production"
### [REQUIRED] Environment info

**firebase-tools:** 8.4.1

**Platform:** macOS 10.15.4 (19E287)

### [REQUIRED] Test case

Create a new Firebase project using the CLI tools (`firebase init`) and follow the STR below.

### [REQUIRED] Steps to reproduce

1. Using the web SDK run the following:

[code]

2. Open the Emulators UI.
3. Navigate to the Firestore Emulator

### [REQUIRED] Expected behavior

[2020-05-30 23:10] #2311 closed

[2020-05-30 23:16] pal03377 opened #2314 "Firebase Functions + Firestore: Permission errors"
### [REQUIRED] Environment info

Node Version v10.15.3
NPM Version 6.4.1

**firebase-tools: 8.4.1**

**Platform: Windows 10 Pro**

### [REQUIRED] Test case

https://github.com/pal03377/firebase-tools-issue-example

### [REQUIRED] Steps to reproduce
Clone the repo and run `firebase emulators:start`

Alternative (how I set up the repository): Create a new basic Firebase project with just Cloud Funct

[2020-05-30 23:24] HeyAshh commented on #1627
hi

On Sun, May 31, 2020 at 12:11 AM anuj agarwal <notifications@github.com>
wrote:

[2020-05-30 23:26] pal03377 commented on #2314
Downgrading does not help as I then get #2301 all the time.

[2020-05-30 23:37] dutzi commented on #2313
**Update:** If I run the following I see `foo` in the UI:

[code]

[2020-05-30 23:52] pal03377 commented on #2314
It seems downgrading to `7.14.0` (apparently the version I was using before I upgraded and the issue occurred) helps.

[2020-05-31 00:16] manwithsteelnerves commented on #1109
If you add a new target to firebaserc file, make sure you add the same site in the firebase hosting in firebase console too.

[2020-05-31 02:44] Kesin11 commented on #1363
I've probably faced the same problem, as the Admin SDK seems to be affected by the rules.

I tried emulators-codelab (https://github.com/firebase/emulators-codelab/tree/master/codelab-final-state) but functions emulator could not work properly.

```Cart could not be recalculated.  Error: 7 PERMISSION_DENIED:``` error log appeared from this code.

https://github.com/firebase/emulators-codelab/blob/

[2020-05-31 03:27] kaibolay commented on #2157
This should be fixed with with #2251 which was just released as part of https://github.com/firebase/firebase-tools/releases/tag/v8.4.1

Please let us know if it fixes your problem.

[2020-05-31 03:27] #2157 closed

[2020-05-31 07:16] kavitatripathi commented on #113
If you are using linux :
use: alias firebase="`npm config get prefix`/bin/firebase";
to solve it , It helped me.

[2020-05-31 12:27] gugahoi commented on #2272
I've just updated to `8.4.1` of `firebase-tools` and the UI showed up without a problem. Have WSL2 and Ubuntu 20.04 as well with `firebase-tools` installed inside Ubuntu. I am able to hit the UI fine on port 4000.

[2020-05-31 13:37] Ridermansb commented on #1167
I'm trying to do the exact same thing as @landonj ..

and I tried what @samtstern told ... but I'm receiving an error...

What I'm doing wrong ?

[code]

        at com.google.cloud.datastore.emulator.impl.ExportImportUtil.parseOverallMetadataFile(ExportImportUtil.java:225)
        at com.google.cloud.datastore.emulator.impl.ExportImportUtil.fetchEntities(ExportImportUtil.java:54)
        at com.g

[2020-05-31 13:47] samtstern commented on #1363
We found a bug in the Admin SDK where using the db.settings({host, ssl})
can cause the Admin SDK to lose auth and therefore give you permission
denied.

The temporary solution is not to use that setting and instead rely on
FIRESTORE_EMULATOR_HOST to connect to the emulator.

On Sat, May 30, 2020 at 10:44 PM Kenta Kase <notifications@github.com>
wrote:

[2020-05-31 14:46] Elijer commented on #2307
I tried rolling back the node version on my computer to node 8 according to one console warning but it didn't help.

[2020-05-31 14:59] 4mitabh commented on #2313
The issue is a bit more serious than just collections not appearing in the UI.
Reads for '/foo/bar' will also fail. The same read succeeds on the real firestore.

[2020-05-31 15:14] Elijer commented on #2307
Okay! Got it. definitely a slight facepalm. My Java SDK was woefully out of date.

Figure it out at [this stackexchange issue.](https://stackoverflow.com/questions/56819840/firebase-cloud-functions-emulator-throws-exited-with-code-1-error)

### Updated Java Developer Kit
`Elijahs-Air:wtfwtf jah$ firebase emulators:start
i  emulators: Starting emulators: firestore
⚠  emulators: It seems that you ar

[2020-05-31 15:57] meetbryce commented on #536
I ended up discovering that my deployments froze because I was trying to use dotenv

[2020-05-31 16:09] antoniooi commented on #1363
@samtstern : With `set FIRESTORE_EMULATOR_HOST=localhost:8080`, running `node import-test-data.js` will still have the data go straight to the production server **UNLESS** the same program is running **within the Firebase Function**. Below is the example of my `index.js` Firebase Function:

**index.js**
[code]

**import-test-data.js**
[code]

If you run the JS file with just the Admin SDK alone us

[2020-05-31 17:27] sultanmyrza commented on #1541
**Solved: on how to debug firebase functions in emulator (without any dependencies like `@google-cloud/functions-emulator`)**

✅   no need for external libs (`@google-cloud/functions-emulator`) pure firebase functions
✅. hot reload no code change

1. init firebase project `firebase init`
2. add npm script in package.json `"debug": "tsc -w | firebase emulators:start --inspect-functions",`
3. run `n

[2020-05-31 23:57] TheBestMoshe commented on #701
Are there any updates on this topic?

I'm looking for a way to automatically invoke `tsc  --watch` when I serve functions locally.

I'm also looking for a way to build and watch Vue source which is being deployed for hosting. I want to run `vue-cli-service serve` to auto rebuild any changes.

Any solutions to this other than having 3 terminal processes?

[2020-06-01 00:27] jthegedus commented on #701
@bkendall Is that internal tracking number something we can see in Google Groups? and if so, can you link it here?

[2020-06-01 02:38] nspeedzy opened #2315 ""firebase serve --only hosting,functions" command gives an errror: Cannot find what targets to deploy"
So i just created a project in firebase. I wanted to see how the project looked like in the browser. So i ran `firebase serve --only hosting,functions`, in order to see what is the result in the browser. But then i get an error.

### [REQUIRED] Environment info

**firebase-tools:** 8.4.1

**Platform:** Windows 10

### [REQUIRED] Test case

This issue occured when I used the Firebase CLI.

### [REQ

[2020-06-01 08:57] mono0926 commented on #2310
I confirmed that **`firebase-admin`** was broken **after [`8.11.0`](https://github.com/firebase/firebase-admin-node/releases/tag/v8.11.0)**.

`firebase-admin 8.10.0`  works fine.

package-lock.json diff between firebase-admin 8.10.0 and 8.11.0: [0001-a.patch.zip](https://github.com/firebase/firebase-tools/files/4710351/0001-a.patch.zip)

[2020-06-01 09:45] p4309027 commented on #77
this one worked for me to generate the token for `ci/cd`:

`$ firebase login:ci --interactive --no-localhost`

[2020-06-01 10:10] sanjanaitang opened #2316 "Init Error Haven't Used Cloud Storage"
### [REQUIRED] Environment info

**firebase-tools:** 8.4.1

**Platform:** Ubuntu

### [REQUIRED] Steps to reproduce

[code]
...and follow the next steps as needed.
My existing project uses Cloud Storage and has a Storage bucket that works as it should.

### [REQUIRED] Expected behavior

Ended without complaint related to the use of Cloud Storage.

### [REQUIRED] Actual behavior

`Error: It looks l

[2020-06-01 11:41] gugahoi commented on #1167
Can you expand on this? Can I point directly to the gcloud bucket? Or must I first download the contents of the export locally? Which files do I need to modify?

The following is what I have attempted:

[code]

As the above did not seem to work, I updated the `firebase-exports-metadata.json` file with the following contents:

[code]

Below is the directory structure:

[code]

However I still have

[2020-06-01 12:09] samtstern commented on #2316
@sanjanaitang that error appears when the Cloud Storage API is not enabled.  Have you followed the link in the error message?  If so, do you see a Cloud Storage bucket?  Also is there any information in `firebase-debug.log`?

[2020-06-01 12:12] samtstern commented on #2313
@dutzi @4mitabh this sounds like it's this issue:
https://github.com/firebase/firebase-tools-ui/issues/273

I would suggest continuing the discussion over there.

[2020-06-01 12:12] #2313 closed

[2020-06-01 12:34] samtstern commented on #2310
@sgr-ksmt @mono0926 thanks for the information.  This seems like it may be related to this change:
https://github.com/googleapis/nodejs-firestore/releases/tag/v3.8.2

[2020-06-01 12:44] samtstern commented on #2310
Ok I was able to confirm that this is a bug in `@google-cloud/firestore` since I was able to reproduce the bug as described above but fixed it by pinning that dependency:

[code]

[2020-06-01 12:46] mono0926 commented on #2310
@samtstern

I also confirmed that, you're right! Thanks 👍

[2020-06-01 12:51] samtstern commented on #2310
I was also able to confirm this is a pure Firestore SDK bug and has no relation to the Functions emulator by writing this script:

[code]

And running it like this:
[code]

[2020-06-01 12:52] samtstern commented on #2314
This is a duplicate of #2310 see that issue for some investigations and workarounds.  Thank you for reporting!

[2020-06-01 12:52] #2314 closed

[2020-06-01 12:55] sanjanaitang commented on #2316
[code]

[code]

[code]
![Screenshot from 2020-06-01 19-49-44](https://user-images.githubusercontent.com/66248819/83411133-d749f800-a441-11ea-8c69-67c6e975498e.png)

[2020-06-01 12:58] samtstern commented on #2310
Filed this issue to track the underlying bug:
https://github.com/googleapis/nodejs-firestore/issues/1104

However I will leave this open here as well since it's likely to affect emulator users and I want this to be visible.

[2020-06-01 13:01] samtstern commented on #2316
@sanjanaitang thank you.  I was able to confirm that this is a bug and reproduce it myself.  Fix on the way.

In the meantime you will want to use `firebase-tools` version `8.4.0`

[2020-06-01 13:02] sanjanaitang commented on #2316
@samtstern thank you.

[2020-06-01 14:08] samtstern commented on #2315
@nspeedzy are you using Powershell? I think this may be this problem:
https://stackoverflow.com/questions/11990688/powershell-is-removing-comma-from-program-argument

The solution is to add quotes:
[code]

[2020-06-01 14:32] samtstern commented on #701
@jthegedus thanks for surfacing this old issues, this looks similar to a recent thought I had here:
https://github.com/firebase/firebase-tools/issues/2288

Although the difference here is that you want a specific `preserve` command which may be long-running.

I would say the best way to solve this issue is actually to use the concurrently package:
https://www.npmjs.com/package/concurrently

So you

[2020-06-01 14:37] samtstern commented on #2307
@Elijer thanks!  Looks like we check for the existence of `java` but don't check for the version.  It would be good if we could surface a clearer error here.

[2020-06-01 14:46] sgr-ksmt commented on #2310
@mono0926 @samedson
I really appreciate your investigation 😄
I confirmed https://github.com/firebase/firebase-tools/issues/2310#issuecomment-636839936 too.

[2020-06-01 15:07] nspeedzy commented on #2315
Hey @samtstern thanks for giving me a solution! If you didn't know, I trust firebase and firebase only to host most of my nodejs apps.

[2020-06-01 15:19] samtstern commented on #2315
@nspeedzy so did the solution work for you?  If so we should close this issue.

[2020-06-01 16:51] Elijer commented on #2307
Definitely! Would love to save that time for other users. Thanks again for the help.

[2020-06-01 16:51] #2307 closed

[2020-06-01 17:32] tha022 commented on #2273
@natethegreat44 thanks! This solved it for me too

[2020-06-01 18:09] #2316 closed

[2020-06-01 18:30] samtstern commented on #2310
This has been fixed by `@google-cloud/firestore` version `3.8.4`:
https://github.com/googleapis/nodejs-firestore/releases/tag/v3.8.4

You should be able to get this version by deleting your `package-lock.json` and running `npm install again`

[2020-06-01 18:30] #2310 closed

[2020-06-01 21:28] samtstern commented on #1363
@antoniooi there have been a few bugs in the Admin SDK which are now all fixed (remove your node_modules and package-lock.json and run npm install again).

If you still have this error, please file a new issue with the simplest possible steps to reproduce and I'll dig into it.

[2020-06-01 23:24] jthegedus commented on #701
@samtstern The issue you linked is the one I am interested now what with the unified local emulator experience. As `serve` is different than the Emulator, and a number of people are now following this issue, I am hesitant to close this.

Does anyone else see themselves wanting to even use `serve` now `firebase emulators:start` is available?

[2020-06-02 02:57] antoniooi commented on #1363
@samtstern : Wow, you guys are so efficient! Thanks a lot!

[2020-06-02 05:27] nhaancs commented on #2003
Thanks @DragonOsman, `firebase deploy` command not working, I have to use `ng deploy` command.

[2020-06-02 05:35] chrismclarke commented on #683
I had similar issues, importing types from outside functions folder worked fine both as relative imports and using typescripts paths to prefix (e.g. `"paths": {"@sharedModels/*": ["../src/models/*"]}`, if I also had ` "skipLibCheck": true` in `tsconfig.json`, however (unsurprisingly) this breaks when trying to share actual variable data (in my case a common prefix used in various places).

Current

[2020-06-02 07:06] mwarthen opened #2320 "Standalone firebase causing issues with emulator--inspect-functions option"
firebase-tools:8.4.1 (actually using standalone)

Platform:macOS

### [REQUIRED] Test case
with standalone firebase installed:
running emulator for functions with --inspect-functions options yields node module loading error: Cannot find module '/Users/mwarthen/dev/projects/{repo}/functions/--inspect=localhost:9229

### [REQUIRED] Steps to reproduce
run emulators:start --only functions --inspect-fu

[2020-06-02 08:31] antoniooi commented on #1363
@samtstern : Work like a charm with the following steps:

1. Delete `functions/node_modules` and `functions/package-lock.json`.
2. Run `npm install` at the `functions` directory.
3. Run `firebase emulators:start`.
4. Run `set FIRESTORE_EMULATOR_HOST=localhost:8080`.
5. Run `node import-test-data.js` --> Test data go into the Firestore Emulator! 👍
6. Change the `firestore.rules` to `allow read, wri

[2020-06-02 08:43] antoniooi commented on #1363
To prevent from forgotten to `set FIRESTORE_EMULATOR_HOST=localhost:8080` at the terminal, add the following in the `import-test-data.js`, it works:

[code]

[2020-06-02 11:25] aminelaadhari commented on #1633
@samtstern yes
Starting from yesterday, it is more restrcitive, we used to comment some functions in the root index.js to be able to use the serve command, and now it doesn't seem to launch at all.

[2020-06-02 12:14] pradeepkr1303 commented on #758
Is it?

[2020-06-02 12:23] Barthold-Albrecht commented on #2316
I get the same error (with version 8.4.1). Is this supposed to be fixed already?

[2020-06-02 12:42] nspeedzy commented on #2315
@samtstern Yes! You can close this issue now

[2020-06-02 12:46] samtstern commented on #2316
@Barthold-Albrecht the fix has been merged and not released, it will be included in the next version (which will be either 8.4.2 or 8.5.0)

[2020-06-02 12:54] #2315 closed

[2020-06-02 13:13] Barthold-Albrecht commented on #2316
Thank you for the info @samtstern ! When will the new version be released? And if this still takes a while: should I downgrade to 8.4.0 as well?

[2020-06-02 13:21] samtstern commented on #2316
I can't really say when, normally we release every week or two.  And yes you should downgrade for now, sorry about the inconvenience.

[2020-06-02 14:05] samtstern commented on #701
@jthegedus we could close my issue instead, you were first after all!

There are two things at play here:
1. I think `functions.predeploy` should be run exactly once before running the emulators, as mentioned in my issue.  This would not require us to modify the firebase.json structure in any way or change any command-line arguments.
1. There is room for a `functions.preemulate` hook or similar wh

[2020-06-02 14:05] samtstern commented on #2288
Closing in favor of #701

[2020-06-02 14:05] #2288 closed

[2020-06-02 14:09] samtstern commented on #2276
@dutzi you're right, I am able to reproduce this easily.  I have to look into why this port would be special.

[2020-06-02 14:12] samtstern commented on #2276
I see some references online for these ports being used for X Window:
http://www.networksorcery.com/enp/protocol/ip/ports06000.htm

However I am able to get ports like `6001` and `6060` to work ... only exactly `6000` is a problem!

[2020-06-02 14:15] dutzi commented on #2276
This does not seem like an issue with the UI, running `serve -p 6000` or `python -m SimpleHTTPServer 6000` doesn't work as well...

[2020-06-02 14:16] samtstern commented on #2264
@AndroidNils sorry for the delayed response.  Can you show the test you're running that fails and how you're running it exactly?

[2020-06-02 14:16] dutzi commented on #2276
This helps: https://stackoverflow.com/questions/4313403/why-do-browsers-block-some-ports/22622633#22622633

[2020-06-02 14:17] samtstern commented on #2208
Going to close this since I was never able to reproduce.  If you're able to find a simple reproduction on a fresh project please tell me and I will re-open.

[2020-06-02 14:17] #2208 closed

[2020-06-02 14:21] samtstern commented on #2147
@Humadroid sorry we never responded to you on this, did you ever get to a solution?

[2020-06-02 14:22] samtstern commented on #2067
@scottcrossen can you close this issue when the fix is rolled out?  Also is there an internal bug I could follow?

[2020-06-02 14:24] nikmartin commented on #2277
I think you probably have a handle on this, but just to add more info, if I run the emulator with `--inspect-functions`, forcing functions to run serially, memory usage remains nominal while all the function database triggers fire

[2020-06-02 14:25] samtstern commented on #2276
@dutzi good find!  Maybe we can use that list to add a warning to the UI.

[2020-06-02 15:34] samtstern commented on #2277
@nikmartin I am working on a solution over here:
https://github.com/firebase/firebase-tools/pull/2321

Let me know what you think.

[2020-06-02 15:45] nikmartin commented on #2277
That looks great, I think that will work perfectly.

[2020-06-02 16:17] samtstern commented on #2272
@zachary-russell I just tried this on my personal laptop (Windows 10 + WSL2 Debian) and was not able to reproduce this.  I'm going to close this for now, if you can find any more information to help us reproduce let me know.

[2020-06-02 16:17] #2272 closed

[2020-06-02 16:35] Keisan commented on #2147
I solved it by degrading to an older version of firebase-tools. I have not
dared to upgrade again.
/Truls

tis 2 juni 2020 kl. 16:21 skrev Sam Stern <notifications@github.com>:

[2020-06-02 17:17] abeisgoat commented on #2320
huh, interesting, thanks for the report, will take a look

[2020-06-02 17:19] abeisgoat commented on #2019
Closing this to track in #2256 since it's the same issue.

[2020-06-02 17:19] #2019 closed

[2020-06-02 17:25] bijaykanshinew opened #2322 "Firebase real time database at local emulator is not showing updated data"
I have simple code to update data of real time database at  local emaulator

[code]

Neither Code is  throwing any error nor Local emulator (http://localhost:4000/database) is  showing any  data .
It's become bit difficult to test cloud function at my local enviroment.
firebase-tools version => 8.4.1

[2020-06-02 17:55] chirmac commented on #2316
Also got the same error, have a bucket configured but the CLI doesn't recognize it. Exact same logs and results. Will downgrade.

[2020-06-02 17:57] Barthold-Albrecht commented on #2316
It worked for me!

[2020-06-02 17:58] chirmac commented on #2316
Just downgraded, works as intended now.

[2020-06-02 18:04] abeisgoat commented on #1874
Hey folks, sorry for the delay, frankly I was just hoping this would fix itself as Github Actions evolved. There's some issue with the fact that `firebase.tools` downloads the binaries from GIthub and Github Actions blocks that in some way. For us to fix this we'd basically need to host the binaries somewhere else, which is pretty outside our current flow. This is pretty stupid and terrible though

[2020-06-02 18:37] abeisgoat commented on #1839
So this is largely fixed by the new [UI for the Emulator Suite](https://firebase.googleblog.com/2020/05/local-firebase-emulator-ui.html) when you open the UI in your browser, you can go to the logs tab and simply click on "functions" and it will filter to only logs from your function emulator, no hosting or otherwise. We're still fleshing out the query language, but the core complaint here "I can'

[2020-06-02 18:39] #2256 closed

[2020-06-02 18:40] abeisgoat commented on #2322
Please follow the template when reporting bugs.

Are you seeing the data written to your production database?

[2020-06-02 18:43] abeisgoat commented on #1490
This was fixed upstream in fsevents

[2020-06-02 18:44] #1656 closed

[2020-06-02 18:45] abeisgoat commented on #1310
I don't think so, I believe this was wrapped up in 8.0.0

[2020-06-02 18:45] #1310 closed

[2020-06-02 18:46] #1839 closed

[2020-06-02 19:14] abeisgoat commented on #2320
This an issue with this line https://github.com/firebase/firebase-tools/blob/1668f28c3973d58eb957ce51f2b05f7d7834674a/standalone/runtime.js#L27

When Firepit pretends to be Node it assumes that the first argument is always the name of the script to run. In this case we're passing extra arguments to the node runtime before the script, so we just need to sniff out the script name more intelligently

[2020-06-02 19:50] #2320 closed

[2020-06-02 19:54] abeisgoat commented on #2234
We now support `curl -sL firebase.tools | uninstall=true bash`

[2020-06-02 19:54] #2234 closed

[2020-06-02 19:55] abeisgoat commented on #1504
Dupe of #1868 let's handle it over there

[2020-06-02 19:55] #1504 closed

[2020-06-02 20:24] joehan commented on #2243
Hey @JerryGoyal, thanks for pointing this out, there is definitely an easy UI improvement to be made here. To your original question, the message you are seeing isn't actually from trying to enable the Cloud Scheduler API, but rather from checking if it is already enabled - here's where it happens in the code: https://github.com/firebase/firebase-tools/blob/master/src/deploy/functions/createOrUpda

[2020-06-03 02:58] bijaykanshinew commented on #2322
No, it's not updating production database

[2020-06-03 03:23] Humadroid commented on #2147
I didn't work on it after several failed attempts ... Had to move on to other deployment options ... Anyway I will try it later with a fresh npm install on a fresh project. As of now closing this.

[2020-06-03 03:23] #2147 closed

[2020-06-03 06:22] jthegedus commented on #701
While functionally similar, I don't think `predeploy` should be used for `serve` because only some of `serve` is locally executed.

Surely adding specific `pre` scripts to the `firebaase.json` file isn't too much effort given the core of the code is already written in `predeploy`?

The commands:

- `firebase deploy`
- `firebase emulators:exec`
- `firebase emulators:start`
- `firebase functions:she

[2020-06-03 06:28] bijaykanshinew commented on #2322
i have deployed cloud function in production to test code. Code was giving success msg but real time database didn't show any data updated by cloud function.
Whereas react-native code were able to update the real time database

[2020-06-03 07:18] monticp commented on #2028
Same error, but I've tried several id's and doesn't work. Maybe a connection problem?

[2020-06-03 12:06] samtstern commented on #2028
@monticp could be!  I would suggest creating your project in the Firebase console in that case.

[2020-06-03 13:44] samtstern commented on #701
@jthegedus agree it's not "hard" but it's one more thing to support/document so i just want to make sure it's actually beneficial.  As you said the "pre" scripts are kind of spotty and generally not as useful as just making your own npm scripts which are much more explicit.

We probably won't deprecate `serve` since it's been so popular for so long and there are so many blogs/guides/videos out the

[2020-06-03 13:46] samtstern commented on #1633
@aminelaadhari some questions:

1) How many functions do you have, are you able to run any functions at all?
2) What OS are you using?
3) Does `emulators:start` behave the same as `serve`?